[2021-01-28 14:17] #7643 closed

[2021-01-28 14:30] mikehardy commented on #5805
Huzzah, there's a PR for this based on a Rust backend for AnkiDroid, which I'm noting because that's pretty incredible I think. :trophy: @david-allison-1

[2021-01-28 22:57] nylonee opened #8062 "[Bug] UnknownHostException when syncing media"
###### Reproduction Steps

1. Have Anki decks in the cloud which include images and other media content
2. Attempt to sync decks to Anki-Android
3. Push Notification appears with error

###### Expected Result
Anki-Android should correctly sync all media

###### Actual Result
Notification error occurs, see image:
![photo6095798322905329200](https://user-images.githubusercontent.com/4732553/10620880

[2021-01-28 23:53] #7227 closed

[2021-01-28 23:53] #7089 closed

[2021-01-29 00:18] david-allison-1 commented on #8062
Temporary issue with your internet connection.

If you look at the `AnkiDroid/collection.media` folder, after each media sync, there should be more files.

Continue syncing until it completes.

----

We could potentially improve this error message for users. It's one of the more common issues.

I've added a fix for the login screen, but we could do better with the media sync (as it's likely to be

[2021-01-29 02:03] david-allison-1 opened #8064 "[Bug] Flaky unit tests (including test SchedV2Test:regression_test_preview)"
[code]

[2021-01-29 09:16] david-allison-1 opened #8065 "AbstractFlashcardViewer: Restricted API usage"
`AssetHelper.guessMimeType can only be called from within the same library (androidx.webkit:webkit)`

https://github.com/ankidroid/Anki-Android/blob/7459828a32d0713bea0fd427b78856ba701bf9db/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L931

This is showing up as an error in the file on my PC.

Related: #7764

[2021-01-29 09:24] nylonee commented on #8062
Oh interesting, that makes a bit more sense now.
It doesn't look like retries are implemented, this seems like a good place to implement some retries (and make the error message a bit more user friendly)

[2021-01-29 10:44] david-allison-1 commented on #8062
Definitely!

A reimplementation of the sync mechanism is on the cards for 2021 (personal estimate: mid/late Q2)

[2021-01-29 12:57] david-allison-1 commented on #7934
@Cashburner Released in 2.15alpha25

[2021-01-29 14:06] david-allison-1 opened #8067 "Test failure: collectionIsVersion11AfterOpen"
[code]

That's new, might be a new flake, related to rsdroid

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/8066#issuecomment-769812601_

[2021-01-29 14:24] #8067 closed

[2021-01-29 17:11] #5805 closed

[2021-01-29 18:04] fabricem1 commented on #2221
I just wanted to say thanks guys for implementing this.  It's made my mobile use of Anki so much better. How do I make a small gesture to express my gratitude?

[2021-01-29 18:29] mikehardy commented on #2221
Hi there @fabricem1 ! I think the most direct way, if you like - and perfectly fine if you don't like :-) - is via our opencollective - https://opencollective.com/ankidroid - we are paying that out in a stable / monthly installment way to anyone that posts PRs here, so it goes directly to contributors and is (in my way of phrasing it) like the internet buying you a coffee, as a way of saying thank

[2021-01-29 22:21] balta2ar commented on #7165
Still searching for solutions

On Fri, Jan 29, 2021, 21:50 github-actions[bot] <notifications@github.com>
wrote:

[2021-01-30 06:21] david-allison-1 commented on #4552
Can't reproduce this.

@ochsner, Is this still a problem?

[2021-01-30 06:25] david-allison-1 commented on #6556
@mikehardy Is this closeable?

[2021-01-30 06:27] david-allison-1 commented on #7857
Fixed in #7940

[2021-01-30 06:27] #7857 closed

[2021-01-30 06:31] david-allison-1 commented on #8035
Hi @EJBlake409

The latest alpha (https://github.com/ankidroid/Anki-Android/releases/download/v2.15alpha26/AnkiDroid-2.15alpha26-universal.apk) allows you to enable "New Timezone Code" in Anki Desktop and sync. Does this fix the issue?

[2021-01-30 14:01] mikehardy commented on #6556
I'm going to defer to @Anthropos888 on that - do you still reproduce this or is 2.14 workings for you?

[2021-01-30 16:36] voidplayer commented on #7275
Could you reopen this too @david-allison-1 ?

I also updated the bug to make it easier to reproduce whats different behaviour from desktop and ankidroid

Thanks!

[2021-01-30 16:42] voidplayer commented on #8005
just an idea, maybe show the time by default? This will make people aware of this setting and when it stops counting

I personally reduced it. 30-40 seconds is enough for me. If it takes longer, i just fail it

[2021-01-30 17:25] david-allison-1 commented on #7275
My bad. Thanks!!

[2021-01-30 21:14] EJBlake409 commented on #8035
@david-allison-1
I thought I was a part of the alpha program, but I am trying the link that you included in your message, and it won't seem to work on my phone. I am able to download the link when tapping on it and open up the package installer. However, when I tap "install", I get a message saying "App not installed."
I do think that the "New Timezone Code" would fix the issue, (if I can get it t

[2021-01-31 02:13] david-allison-1 commented on #8035
Is your device low on space? That's the normal issue

(Android's error messages aren't helpful at all)

[2021-01-31 02:15] david-allison-1 commented on #8005
@ElnuDev did you have the timer display for cards enabled or disabled?

[2021-01-31 02:16] david-allison-1 commented on #8005
I'd been thinking about this - I don't recall what the Anki defaults are, but I'll check.

Thanks!

[2021-01-31 05:17] HuixingWong opened #8070 "Enhance the drawer experience"
The conflict between the drawer and system gestures makes it not very convenient to use

[2021-01-31 06:05] jyant99 opened #8072 "[Bug] Crop image failure on Android 9"
[]()
![Screenshot_2021-01-31_113253](https://user-images.githubusercontent.com/75927921/106376139-418faf80-63b8-11eb-8013-8de6fdebffcf.jpg)
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
[AnkiDroid Version = 2.14.3  Android Version = 9  ACRA UUID = b3973648-5cc1-4924-8034-51341545f4dd  Scheduler = std  Crash Reports Enabled = true ]

###### Res

[2021-01-31 09:31] ericsliu opened #8073 "[Bug] AnkiDroid tries to open zip files"
###### Reproduction Steps

1. Sent myself a Nova Launcher backup file, which is just a `.zip` renamed to `.novabackup`, over Slack
2. Disabled AnkiDroid's default file associations in Android settings
3. Tried to open the file attachment I sent to myself

###### Expected Result
To be able to download the file normally.

###### Actual Result
AnkiDroid interrupts the download, giving the "this isn't

[2021-01-31 09:33] barthisius commented on #8027
Okay I had tried putting together PR #8046 but it's failing the unit tests. Should be fixable but I might not have the chance to dig into it for a little while, so if someone else wants to take a shot at it in the meantime, feel free.

[2021-01-31 10:29] david-allison-1 commented on #8072
Hi, thanks for the report.

Could you please fill out the Debug Info section?

Thanks

[2021-01-31 10:37] jyant99 commented on #8072
AnkiDroid Version = 2.14.3

Android Version = 9

ACRA UUID = b3973648-5cc1-4924-8034-51341545f4dd

Scheduler = std

Crash Reports Enabled = true

[2021-01-31 11:24] david-allison-1 commented on #8072
Lots of crash reports there. Nothing recent. Has this been going on for a long while?

Potentially: https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/912244e4-14a1-41ed-a359-217a02366cd6

[code]

[2021-01-31 11:31] jyant99 commented on #8072
Yes for a long time

[2021-01-31 16:48] mikehardy commented on #8073
Hi there! I think just replied to you on play store review comments, ironically (assuming it's the same person) I don't just use a OnePlus, I *also* use Nova Launcher. As mentioned in the review reply this is not something we do. Or at least not something that we drive as a default that is not changeable in any way

https://github.com/ankidroid/Anki-Android/blob/0edd4c82d6c92fe91ffbb3a8297b808548b

[2021-01-31 16:50] mikehardy commented on #8070
Hi there! Please be very very specific about exactly you mean. Which gesture? At which point on the screen? Which version of Android?

Further please take pity on us, note that Android just added system gestures at the operating system level. How exactly to interoperate / cooperate with them? It's a tough problem.

So very specific suggestions for working together with system gestures would also b

[2021-02-01 00:59] EJBlake409 commented on #8035
I have over 17 GB of available space. Even after deleting some apps, I tried the link again and am still getting the "App not installed" message :(

[2021-02-01 01:17] ElnuDev commented on #8005
I believe it was disabled.

[2021-02-01 03:51] david-allison-1 opened #8075 "[Bug] Rust: error while compiling: "openAnkiDroidCollection": Anki already open, or media currently syncing."
[code]

[2021-02-01 03:58] dae commented on #8075
The underlying code is probably SQLITE_BUSY - it seems as if something else had the DB open already. Was this in a unit test, or on a user device?

[2021-02-01 04:39] david-allison-1 commented on #8075
1 user devices on an alpha. Originally with `AnkiDroid.B`, then with `AnkiDroid`

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/reports-browser/user/6add35e9-27cd-45a9-8126-cc21c16ffd73

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/reports-browser/user/35a2c3e0-66c5-4162-88bf-ca3a7f68e5ee

<details><summary>Java Exception</summary>

[code]

</detail

[2021-02-01 06:06] HuixingWong commented on #8070
Most newer Android devices have full-screen gestures that cause the drawer to fail to slide out from the side

[2021-02-01 12:36] mikehardy commented on #5223
Use the BOM style

[code]

This block may or may not be necessary, it is in the okhttp docs but should confirm https://square.github.io/okhttp/upgrading_to_okhttp_4/#gradle

[code]

(in a separate place they mention that not all of that is necessary: https://cashapp.github.io/2019-02-05/okhttp-3-13-requires-android-5 only mentions the android { compileOptions } block which we already have... )

[2021-02-01 12:44] mikehardy commented on #8035
There are a few other reasons this can happen unfortunately I know of no other way to diagnose them then to turn on developer mode on the device (google it - it's a bunch of taps on the build number in the device info screen), allow adb usb debug connections in the new developer mode menu, then plug it in to a computer and using `adb logcat` (from the Android Studio command line tools) to watch th

[2021-02-01 12:48] mikehardy commented on #8075
If the user was parallel I'd also go with the parallel build hunch and test that first, then agree with direction of disallowing. Java should have taken an exclusive lock I suppose. Exposing the underlying sqlite error/message would be helpful in future as well I think?

[2021-02-01 14:57] fabricem1 commented on #2221
Hi Mike,

Thanks.  That's exactly what I was looking for.

Kind regards,

Fabrice

On Fri, 29 Jan 2021 at 18:29, Mike Hardy <notifications@github.com> wrote:

[2021-02-01 15:46] EJBlake409 commented on #8035
I will have to give this a try, thanks. In the meantime, is there any estimate as to when the "New Timezone Code" will be compatible with Ankidroid in beta or public versions?

[2021-02-01 17:39] mikehardy commented on #8035
I try to do a "feature release" on the main release trains (beta -> public) about every 2 months, and it has been about a month already, so, hopefully soon. The underlying thing releasing this time (incorporating the upstream Rust library) is a really deep change though so - even though it appears to be working great right now - it might be delayed. Sorry, that's the best ETA I can give

[2021-02-01 20:50] david-allison-1 opened #8077 "[Bug] Crash on deck selection"
I'll look into this when I next get to a PC. Reproducible

###### Reproduction Steps

1. Open card browser
2. Select "GG" deck

###### Expected Result

Deck shows cards

###### Actual Result

Crash

###### Debug info
AnkiDroid Version = 2.15alpha23

Android Version = 9

ACRA UUID = 7e03f9c9-c191-4da0-a1f9-d76e8429bc60

Scheduler = std2

Crash Reports Enabled = false

DatabaseV2 Enabled = true

###

[2021-02-01 20:51] mikehardy commented on #7348
Way too important to close :-)

[2021-02-02 10:34] kunichik commented on #7810
I've answered to all the questions and wait for next steps not using Anki all this time.
Please let me know if it is still possible to restore my local data if there are no archives in the backup folder as mentioned above ?

[2021-02-02 12:54] mikehardy commented on #7810
No, there is no magic. They are files on computers. If there are no files on the computer, and you have not done some backup somewhere (perhaps using syncopoli, or AnkiWeb) then I don't understand what we can do?

[2021-02-02 19:13] adamwolf commented on #7825
it's still there.  i haven't yet been able to dig into it.

On Tue, Feb 2, 2021 at 1:07 PM github-actions[bot] <notifications@github.com>
wrote:

[2021-02-03 01:47] Devamitta opened #8079 "[Maybe fixed?] Problem with sync in ankidroid / "No value in models""
When I try to sync on ankidroid, it is failed and write a error "syncing error, type: -1, message: org.json.JSONExeption: No value in models.

[2021-02-03 01:50] acheng-ubc commented on #8079
I just got this exacr same issue as well right now. I'm not sure how to provide more debug or error information, but I have tried using Check database and Check media but nothing has worked. I have no custom study decks.

AnkiDroid Version = 2.14.3

Android Version = 10

[2021-02-03 01:55] roysnyderts opened #8080 "[Error Decoding Response Body]"
![image](https://user-images.githubusercontent.com/78456682/106686661-af92cd00-6598-11eb-9ff9-bbff29032d1b.png)

Unable to sync on my computer. Tried 'check database' to no avail.

My phone won't sync either and receives a "json.decoder.JSONDecodeError: Expecting value: line 1 column 1" error.

Any help be appreciated!

[2021-02-03 02:07] mumeme commented on #8079
I just got the same issue too

[2021-02-03 02:08] diertian commented on #8079
me too.

AnkiDroid Version = 2.14.2

Android Version = 9

[2021-02-03 02:10] Devamitta commented on #8079
Now everything again working well.
Thanks!

[2021-02-03 02:11] diertian commented on #8079
I tried 4 or 5 times. And it's OK now.

[2021-02-03 02:44] mikehardy commented on #8079
Sounds like something must have happened on the ankiweb server? Strange.

[2021-02-03 02:46] mikehardy commented on #8080
Others reported the same thing (#8079) but are also reporting that it is working now? Note that AnkiWeb is not in our control, we are compatible with it, but it is a different group - https://forums.ankiweb.net/ is their support site

[2021-02-03 02:46] #8080 closed

[2021-02-03 11:18] fletchermoore opened #8081 "Make timebox limit warning into a confirm popup"
The current timebox implementation is as a notice that appears in the same was a card being automatically suspended, and is fairly subtle. On desktop the timebox stops you and makes you confirm to continue. I would like this feature on droid as well, since I sometimes miss the timebox event on droid.

[2021-02-03 15:19] mikey-boy commented on #7369
Logs from a working version seem to be similar to the logs posted above, I can post those if someone wants to confirm.

It may be worth investigating why deleting data fixes the issue. Does anyone know what that actually removes? From what I can tell it doesn't touch anything in the AnkiDroid directory on my phone.

[2021-02-03 15:36] mikehardy commented on #7369
deleting data deletes temporary files used by the Android operating system to run the app, I believe it is in /data/data/android/com.ichi2.anki.ankidroid or similar (but I'm just guessing as I always use Android Studio's file system explorer to click-find my way in there)

[2021-02-03 16:31] mikey-boy commented on #7369
Yeah that seems to be correct. I will wait for the issue to reappear on my app to look at those files.

[2021-02-03 18:01] #7690 closed

[2021-02-04 07:24] Arthur-Milchior opened #8082 "[Bug] Some sounds are not played from html/javascript"
###### Reproduction Steps

1. Import http://milchior.fr/anki/metronome.apkg
2. Open the only card

###### Expected Result
A metronome, playing 80 beats by minutes, with a strong beat every three beats. As in Anki.

###### Actual Result
Almost expected result, but some beats missings. Which render the metronome useless.

###### Debug info
Current master. No personal branches in it. Samsung Tab SM T

[2021-02-04 11:22] CloThpb opened #8083 "Pas d'accès à l'application"
Bonjour,
Quand j'ouvre l'application, je suis directement dans les paramètres et il y a un message d'erreur qui s'affiche en indicant que le chemin vers le stockage des donnés n'existe pas. J'ai tenté de desinstaller et réinstaller l'appli sans succès, j'ai aussi redémarrer mon téléphone.
J'ai + de 1000 cartes sur mon compte et j'aimerai vraiment pouvoir y accéder. Quelqu'un aurait il une solution

[2021-02-04 11:24] CloThpb commented on #8083
Voilà un screenshot de la page où je suis bloquée: https://zupimages.net/viewer.php?id=21/05/pe7e.jpg

[2021-02-04 11:47] jparta opened #8084 "[Bug] Changing theme (night mode) breaks TTS"
###### Reproduction Steps

1. Enable TTS
2. Go to Study
3. Change theme from hamburger menu (switch on/off night mode)
4. Choose 'Replay audio' from dots menu
5. Complete review

###### Expected Result
On 'Replay audio', TTS works as it did when presenting the card initially.
After completing the review of the card, TTS reads the next card.

###### Actual Result
On 'Replay audio', a 'Select langua

[2021-02-04 12:17] jparta opened #8085 "[Bug] Previewing a note breaks TTS"
###### Reproduction Steps

1. Enable TTS
2. Go to Study
2. Preview a note, either from Card browser or from dots menu > Edit menu in Study
3. Return to review view in Study without re-initialization (use back button to come back from Card browser)

###### Expected Result
'Replay audio' causes TTS to read card.
Presentation of next card causes TTS to read card.

###### Actual Result
No audio or vis

[2021-02-04 14:42] mikehardy commented on #8082
Are you able to run this code on mobile devices just as a simple HTML/JS page opened directly in Chrome? This may have nothing to do with AnkiDroid

[2021-02-04 14:59] mikehardy commented on #8083
Hello - I believe I responded on Google Play reviews, but try '/sdcard/AnkiDroid' in the database path

[2021-02-04 15:07] mikey-boy commented on #7369
The issue reappeared. I compared the data directory before the issue and after and these are the differences:
<pre>~/Desktop/anki-backup : diff broken-config config -r

Only in broken-config/app_webview/Default/blob_storage: 88b52e7b-a486-4692-a41f-0864a37b9ea3
Only in config/app_webview/Default/blob_storage: b32f4d6f-93ee-4496-a06a-11a111846111
Only in broken-config/app_webview/Default: Session S

[2021-02-04 15:22] mikey-boy commented on #7369
Well it's weird but those blob storage files are actually just empty directories. Here are the two configs if you want to look around:
[broken-config.zip](https://github.com/ankidroid/Anki-Android/files/5926670/broken-config.zip)
[config.zip](https://github.com/ankidroid/Anki-Android/files/5926671/config.zip)

The db files differ (config/databases/ankidroid.db) because I changed my language settin

[2021-02-04 15:24] mikehardy commented on #8084
Hi there - for this and #8085 are there any workaround steps available? Are there any pre-steps required (i.e., viewing a TTS card prior to the steps you mention)? I ask because I believe the TTS engine is initialized once, perhaps something about the initialization is lost, specifically when you switch to dark mode I believe the Activity is restarted but not the Application, which may affect how

[2021-02-04 22:20] infinyte7 commented on #8082
I found some useful info here.
https://stackoverflow.com/questions/42100658/accuracy-of-settimeout-in-react-native

Comments https://stackoverflow.com/a/42100696/13986833
[code]

[2021-02-04 23:11] mikehardy commented on #8082
I just read some info about this (it's an interesting problem, intellectually: precise multi-work-unit scheduling in Android in general - even at the java layer) and precise multi-unit work dispatch from the WebView

I don't think it's feasible in Java or Javascript because of the way the javascript event queue runs in the WebView as @infinyte7 mentioned - even if you posted the next work unit bef

[2021-02-05 08:51] #7101 closed

[2021-02-05 09:36] jparta commented on #8084
I rewrote the first repro step to make it clearer. Going to Study (question shown) initializes TTS.

[2021-02-05 13:43] mikehardy commented on #8079
This was resolved upstream, no longer happening

[2021-02-05 13:43] #8079 closed

[2021-02-05 15:28] mikey-boy commented on #7369
The problem seems to occur when updating the card (AbstractFlashCardView.java:2210). It seems that though the ease buttons are set to visible, the webview overlays these buttons and hides them. This is why we see a flicker after clicking show answer.

Can anyone explain to me how the webview is created alongside the other UI elements. It's also interesting to note that the "Show Answer" button is

[2021-02-05 16:46] mikehardy commented on #7369
@mikey-boy you may have just found the root cause! The show answer and ease buttons are native elements that are supposed to be below the WebView in standard layouts (that is: the default layout where user has not configured to hide any or all of those elements). I do not believe the WebView is supposed to overlap them

If this is the root cause (and it really seems like it) then there is probably

[2021-02-05 18:54] Arthur-Milchior commented on #8082
Good question. I'll try.

Thanks. However, the problem is not delayed ticks (it would be a problem). the problem is missing ticks
Normally, there is TttTttTtt, one out of three ticks are louder
however, at least on my tablet, sometime there is TttT.tTttTt.Ttt.Tt.T  where each "." gets replaced by a warning in logcat

I'm really not convinced I'll even be desesperate enough to try to add sound gene

[2021-02-05 22:47] #7165 closed

[2021-02-05 23:04] boydkelly opened #8087 "CSS grid on ankidroid vs desktop"
Hi,

I am trying to style my .card with display: grid.   My cards are perfect on desktop even with small window size.   But on Ankidroid it seems the grid is not respected.   I am not asking for specific help here.   Just wondering is there any way to 'inspect' the html in ankidroid to see what is happening?  It  there a known issue where this will not work or is totally not supported?   Thanks fo

[2021-02-06 00:56] mikehardy commented on #8087
Hi there!
Indeed there is, you can use the full chrome devtools: https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection

Also maybe of interest https://github.com/ankidroid/Anki-Android/wiki/Advanced-formatting

[2021-02-06 00:56] #8087 closed

[2021-02-06 00:56] mikehardy commented on #7165
I think this may be a duplicate actually #7369

[2021-02-06 15:49] lucainnocenti opened #8089 "[Bug] New "Default" deck appears on AnkiDroid (but not on desktop), and crashes the app when opened"
###### Reproduction Steps

Everything was working fine until this morning. When I opened the desktop version I was prompted to update an add-on (I _think_ it was either "More Overview Stats 21" or "Review Heatmap", I didn't pay much attention because I didn't anticipate it being an issue). I do not know if this is what caused the issue but it's the only unusual thing that happened before I experie

[2021-02-06 16:18] mikehardy commented on #8089
How does it work when you use a collection that hasn't potentially been corrupted by add-ons?

Note that the default deck is actually *always* there. If I recall correctly it is either deck 0 or 1, but it's hard-coded, it's the deck that always exists in a collection and is used for various internal purposes *or* you can just use it as a normal deck.

The only thing special about it (other than it

[2021-02-06 16:31] lucainnocenti commented on #8089
Thank you for the prompt reply. I did try disabling all add-ons and synchronizing/checking dataset etc, but that didn't help. I guess because the corruption introduced by the add-on (assuming that's the problem) is not detected as such by the desktop program?

By trying to use a collection that was not corrupted you mean a completely different one? I actually don't have one at hand. Should I just

[2021-02-06 17:10] iCarlosCode commented on #8085
Hi! This bug was anoying me so much hahahaha. I was about to open an issue about it. Thanks for opening it.

[2021-02-06 17:12] david-allison-1 commented on #8089
@lucainnocenti Thanks!

The ACRA UUID (e0119105-c9f1-4481-97ab-058990da8b19) provides crash report info.

The crash report isn't useful on its own, but we should be able to easily import the collection you provided and reproduce the crash.

Since you're around, could you also include the file located at: `AnkiDroid/collection.anki2`. There's rarely issues that occur which aren't reproducible for a

[2021-02-06 17:49] lucainnocenti commented on #8089
@david-allison-1 I see, thank you for the information. I uploaded the `AnkiDroid/collection.anki2` file [here](https://www.dropbox.com/s/nm6lxonwqh2pvdj/collection.anki2?dl=0). Let me know if there's anything else you might need.

[2021-02-06 20:42] awesome-rdash commented on #7625
Hi, it appears that the behavior differ from Anki.

I have here 225 reviews to do while on mobile it's 2000+ (I have restrictions on subdecks).
![image](https://user-images.githubusercontent.com/2684614/107129219-234c1700-68c4-11eb-9e3f-afe88df63924.png)
I use Anki Version 2.1.35 (84dcaa86)

I prefer this behavior. Would it be possible to have an option, maybe for each deck?

Thanks

[2021-02-06 21:38] awesome-rdash opened #8091 "Have the option to use subdeck card limit when reviewing from a parent deck"
**Is your feature request related to a problem? Please describe.**

On AnkiDroid, when I review a parent deck containing multiple sub-decks, the limits of each sub-deck are not used and are replaced by the parent deck limit.
It's very frustrating as on desktop it's working the opposite, and also I have precise limits for my sub-decks according to the course importance, exam date, exam passed..., a

[2021-02-06 22:49] awesome-rdash commented on #8091
Actually on Anki desktop, it looks like there is an issue where the number or review is calculated according to the old scheduler (0 review left), but when I start review, the 2.1 behavior is correctly used. The issue is only on the display side.
![image](https://user-images.githubusercontent.com/2684614/107131365-d8d39600-68d5-11eb-8e26-99edeaaed568.png)

[2021-02-07 10:43] #7808 closed

[2021-02-07 17:46] #7724 closed

[2021-02-08 11:38] Arthur-Milchior commented on #8089
I beg your pardon, but there are other special features.
For example: if a card lost its deck, then it's moved to Default. That's I believe the main reason for the deck to reappair, cards where added in it.
1. Create deck A and sync it between two devices
2. On a device, create a card C in deck A
3. On another device, delete A.
4. Sync both devices.
5. C won't have any existing deck anymore, and s

[2021-02-08 11:40] Arthur-Milchior opened #8092 "[Bug] curDeck is saved as a string and not a long"
According to https://forums.ankiweb.net/t/current-deck-not-always-set/7284

And @dae  state:

No time now to investigate

[2021-02-08 11:43] #7139 closed

[2021-02-08 11:45] lucainnocenti commented on #8089
I'm not sure why, but this problem actually disappeared yesterday. The "Default" deck stopped showing up in AnkiDroid and everything went back to working as intended. I don't think I did anything in the meantime except reviewing a bunch of cards from the desktop. Did something change on AnkiDroid's part yesterday?

For what is worth, the "Default" deck that was created contained almost all of the

[2021-02-08 14:20] Kayminet opened #8093 "The informations of the app are disapearing during the play"
AnkiDroid Version = 2.14.3

Android Version = 8.0.0

ACRA UUID = 9690f7f0-abde-4de9-8b24-6e1957131ce8

Scheduler = std

Crash Reports Enabled = true

[2021-02-08 14:22] mikehardy commented on #8093
Hello!
Unfortunately this includes no specific information about the actual problem you encountered vs the expected behavior, or precise steps to reproduce

You may like https://github.com/ankidroid/Anki-Android/wiki/FAQ#lost-my-cards

[2021-02-08 14:22] #8093 closed

[2021-02-08 17:18] #7819 closed

[2021-02-08 17:27] mikey-boy commented on #7369
Yup the problem seems to originate in `src/main/res/layout/reviewer.xml`. I'm not sure exactly why but if you change the layout_width of @layout/reviewer_flashcard to anything less than the width of the screen the problem fixes itself. Weird.

Unfortunately I'm not very familiar with android layouts. From what I can tell that file seems sane.

[2021-02-08 18:03] mikehardy commented on #7369
Fascinating again! Okay, well at least you/we are able to affect things by touching that file - always a strong indicator we sort of know what we're doing *and* we've found the place to do things. I'm not great at layouts either but I'm sure we/someone can bull through this now for a final fix. Thanks for investigating this it is a huge help!

[2021-02-08 20:45] xangelix opened #8094 "[Bug] Syncing error, Attempt to invoke virtual method 'com.ichi2.utils.JSONObject com.ichi2.utils.JSONObject.put(java.lang.String, int)' on a null object reference"
###### Reproduction Steps

Importing the following deck works on desktop but not ankidroid:
https://drive.google.com/uc?id=13gUFSAwcU77ZsUP2Zl0GO9dk__0_0G_g (35.9 MB SHA256 f14da61f9b223707fc531aa09690b9579d1fe52c8bad4a72353ed2d217ec2597)

###### Expected Result

Successfully imports on Anki for desktop Linux.

###### Actual Result

On mobile the following 'sync error' is received:
`Syncing error,

[2021-02-09 09:53] #5316 closed

[2021-02-09 10:47] #7821 closed

[2021-02-09 11:29] dae opened #8095 "Does AnkiDroid prevent normal decks from being nested under a filtered one?"
Re: https://forums.ankiweb.net/t/error-on-clicking-options-button-of-my-deck/7335/4

Filtered decks are intended to be leaf nodes, so if a normal deck is nested under them, it will cause problems.

[2021-02-09 13:42] #7810 closed

[2021-02-09 17:51] #6810 closed

[2021-02-09 18:37] kunichik commented on #7810
Sadly!
All the data have been lost after an update.
It would be nice if you ask the user before the update
and make some backups, logs etc.
Let me know if I can help you with it.

[2021-02-09 18:45] mikehardy commented on #7810
We take automatic backups **ever day**
We offer a free cloud sync service in AnkiWeb.
I really don't know what more we can do

[2021-02-09 19:03] kunichik commented on #7810
What do you think,
why there was no backup
after updating in the backup folder ?

In your opinion, this is normal
for the update process
erase all data?

[2021-02-09 19:07] mikehardy commented on #7810
I won't discuss this further, I'm sorry you lost your data but we have nearly 2MM devices now and the update process *in no way deletes data*

It is not normal. I do not know why you had no backups. Perhaps you had no space. Perhaps your device hardware failed.

Use syncopoli for local backups. Use AnkiWeb for cloud backup.

[2021-02-09 19:38] kunichik commented on #7810
me too.

thanks, have a nice eve.

[2021-02-09 19:45] adamwolf commented on #7825
Hmm, I would have thought my comment would have made it not get closed?

[2021-02-09 19:51] mikehardy commented on #7825
That is strange, perhaps there was a race condition, and of course robots win those ;-)
More seriously - reopening

[2021-02-09 23:09] Cho-jin opened #8096 "Answer button size (I want to get smaller)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

1. Answer button size (I want to get smaller)
   Answer button size is 100% at least..... How can I get small answer button.

[2021-02-10 01:46] smb1987 opened #8097 "[Bug] text-to-speech tag"
There is a problem in android version. As you know, recently PC version of Anki added a text-to-speech feature that isn't possible in android version as easy as it is in Windows, Mac etc.
If someone uses _{{tts en_US Front}}_, he should type again _{{Front}}_ to see the text of this field. Since the android version can not run _{{tts en_US Front}}_, it shows the text of this field and therefore th

[2021-02-10 02:00] #6843 closed

[2021-02-10 02:43] #6298 closed

[2021-02-10 04:13] mikehardy commented on #8096
I recommend turning on gestures, and hiding buttons entirely. Making the button size customizable is not something we're currently contemplating but lots of people are fans of the gesture system. Have you tried it?

[2021-02-12 01:25] iCarlosCode commented on #8096
Yeah, @mikehardy's  suggestion will make the button size equal 0%. You will never have to worry about it again. Give gestures a try. :)

[2021-02-12 03:09] sheharyaar commented on #8096
@Cho-jin If it is resolved, please close the issue.

[2021-02-12 11:27] jparta commented on #6203
Having the same problem. Likely compounding with the DST issue for me. Start of day is set to 6 am, but I got new cards at 3 am.

[2021-02-12 13:01] mikehardy commented on #6203
@jparta have you tried the current alpha builds? I believe they might fix it https://docs.ankidroid.org/manual.html#betaTesting / or a parallel build here from releases page

[2021-02-12 21:43] #7830 closed

[2021-02-13 01:19] #7841 closed

[2021-02-13 01:19] #7839 closed

[2021-02-13 10:51] Kayminet opened #8098 "[Bug]"
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement

[2021-02-13 13:08] #8098 closed

[2021-02-13 14:50] Arthur-Milchior commented on #8095
We do. We even have have a unit test ensuring that renaming under a filtered deck is forbidden https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/test/java/com/ichi2/libanki/DecksTest.java#L174
I ported last year most unit test from libanki to ankidroid, so if you test it, we probably do. But I can't find a test ensuring no deck is created under a filtered deck.

I'm pretty sure I

[2021-02-13 14:58] Arthur-Milchior commented on #8095
Never mind, I should have done things the other way around, looking on my phone first and on code later.

Indeed, we are not preventing creating subdeck of filtered deck. I've no idea what's going on, because I was pretty sure I had to deal with this at some time. I'll correct it.
check database does not deal with it and that's strange.

[2021-02-13 15:10] #8092 closed

[2021-02-14 01:15] jparta commented on #6203
@mikehardy I am not sure how to check that my app is the alpha version. Play store says it is beta. I reinstalled the app to be safe. What I can say for sure is that I still have the new cards for the new day.

[2021-02-14 01:20] mikehardy commented on #6203
@jparta  If you follow the instructions in https://docs.ankidroid.org/help.html I believe it tells you how to get the version, also it will be in the info screen for the app in system preferences I think?

[2021-02-14 01:45] #8095 closed

[2021-02-14 02:13] jparta commented on #6203
@mikehardy From 'About Ankidroid', debug info and OS app info I get the version number 2.14.3, but I don't see build numbers or beta/alpha status anywhere.

When it hit 4am, the statistics caught up and started a new day. The statistics' new day is also unaffected by the 'start of new day' preference.

[2021-02-14 02:21] mikehardy commented on #6203
2.14.3 means you are not on the alpha. You may wish to manually install it as a parallel version to make absolutely sure: https://github.com/ankidroid/Anki-Android/releases/tag/v2.15alpha26

[2021-02-14 03:30] jparta commented on #6203
I get alpha in the parallel. It doesn't seem to fix the problem, though. No difference in number of cards to review or statistics with 0 vs 23 hours after midnight.

Btw, do the parallel apps share the DB?

[2021-02-14 03:38] dae commented on #6203
There is a timezone setting in the computer version's preferences that says AnkiDroid doesn't support it. With the alpha, you should be able to use it, and it may resolve your issue.

[2021-02-14 08:08] srghma opened #8109 "js api -> ability to open card browser (the card search) from js api with `ankiSearch("deck:foo myField:bar")`"
**Describe alternatives you've considered**

related to:
- https://faqs.ankiweb.net/linking-cards-together.html
- https://ankiweb.net/shared/info/1423933177

the current solution to make links from card to card is to:
- render all cards as html files
- place them in collection.media folder on mobile or pc
- add Iframes `<iframe src="_card${cid}.html" width="${0.9*window.innerWidth}" height="${0.9*

[2021-02-14 11:44] jparta commented on #6203
@dae I turned on 'New timezone handling' in the parallel app, but it didn't seem to make the system respond to the start-of-day preference.

It also caused a sync error in the main app, 'Your Anki client does not support the new timezone code yet'. Would restoring from backup help? Switching off the handling doesn't help with the error.

[2021-02-14 14:09] mikehardy commented on #6203
I believe you have to turn on new timezone handling on computer, turn it on in AnkiDroid, then sync from computer to AnkiDroid? Apologies this is all a bit fussy, it's literally brand new, you are perhaps our first non-developer tester (which is really appreciated, by the way, thank you).

The parallel version does use the same database in it's default configuration, but apart from allowing testin

[2021-02-14 15:25] twisp007 opened #8110 "[Bug] Matrices are not rendering when using Mathjax"
###### Reproduction Steps

Using Mathjax write a matrix.

[code]

###### Expected Result
![In Desktop Anki it works fine.](https://user-images.githubusercontent.com/28303082/107880710-a85baf80-6f06-11eb-9492-bd5caa18bf88.png)

###### Actual Result
![In AnkiDriod it doesn't.](https://user-images.githubusercontent.com/28303082/107880741-cfb27c80-6f06-11eb-8f9f-3f06677ed7d8.png)

###### Research

- [

[2021-02-14 16:31] jparta commented on #6203
@mikehardy
I am able to sync on the parallel version, but the main version is still complaining about the incompatibility of the timezone setting when I try to sync.

I'm studying CS, but I haven't done Android development before. I might be able to do some digging and get more comfortable with the codebase, but not right now.

The parallel version seems useful, indeed. But now it modified the DB

[2021-02-14 17:55] mikehardy commented on #6203
A shame that the alpha doesn't seem to have worked 🤔 and yes while they can be configured to share a database (they default to that) this version jump is probably backward incompatible. If you switch the database path to a .A suffix and resync then the parallel will be separate and if you full sync down your main install (which will clobber it! Careful) then they will be fully separate and both wo

[2021-02-14 19:56] nwwt commented on #7375
Got the January Android patch now, the issue is **not** fixed by it.

[2021-02-14 19:56] jparta commented on #6203
I implore anyone who is having this problem to try the alpha and confirm this. I followed the instructions and separated the installations. But it seems that the collection carries with it the preferences, so I can't use my collection and the timezone fix together if I want to keep syncing and using my main installation. I guess I can stop syncing the parallel app, though.

[2021-02-14 21:23] mikehardy commented on #8110
Hi there! Does this still happen with the alphas? Some heavy work has been done on mathjax between 2.14 and the 2.15alpha series - https://github.com/ankidroid/Anki-Android/releases

[2021-02-14 21:23] Cho-jin commented on #8096
Thanks. I try gestures.

[2021-02-14 21:24] #8096 closed

[2021-02-15 02:50] Arthur-Milchior commented on #8095
@dae Normally, renaming/creating deck fails when an ancestor is a filtered deck. Of course, we can't do anything for versions that are already online, as you surely know it.
Concerning failed deck, I corrected it in a simple way. If a deck A::B::C::D exists and A::B is filtered, then it becomes A::B'::C::D and so on, ensuring that the name change as little as possible without being a descendant of

[2021-02-15 03:03] dae commented on #8095
If the UI is preventing users from easily getting into that state, that is probably going to get us most of the way there. The restriction on nesting under a filtered deck may go away in the future, it's just not something the Python code accounted for.

[2021-02-15 10:57] infinyte7 commented on #8109
@srghma I don't think it will be supported because the linking part is done by addons in Anki. Also it needs to checked the behavior of card created using that addons in AnkiDroid. The searching and opening deck browser using JS API may be implemented in AnkiDroid.

[2021-02-15 11:32] srghma commented on #8109
yes, I don't this, it's just related

good, that's all I need

[2021-02-15 11:38] dae commented on #6203
I suggest you make sure you're on the latest computer version, and confirm if the issue exists in it when the new timezone code is enabled. If it does, then the computer version needs fixing; if you've confirmed it works there and the issue is only in AnkiDroid, then it likely means the new code hasn't been hooked up somewhere in the alpha.

[2021-02-15 14:53] srghma commented on #7943
@infinyte7 is there any way to download json

[code]

on AnkiDroid and overcome this issue

[2021-02-15 15:24] infinyte7 commented on #7943
The only possible solution is using some kind of web server app on Android and loading that content inside AnkiDroid. On StackOverflow there are many questions related to loading json in android webview if you are interested in reading more about this issues.
I developed web server app using existing code for practicing Chinese characters. I pasted all the required .json inside the app directory a

[2021-02-15 15:34] bjornmartensson opened #8111 "[Bug] Negative time reported in review time statistics"
###### Reproduction Steps

1. Go to Statistics for my deck.
2. Set the time interval to "deck life"

Note: Advanced Statistics is disabled.

###### Expected Result
Review time shows meaningful numbers.

###### Actual Result
Review time shows negative number of minutes that are completely out of whack, e.g. average for days studied: -6032.3 minutes/day. Even if this number was positive, it would be

[2021-02-15 19:03] Rafania opened #8112 "[Bug] Corrupt collection"
About a month ago when I opened AnkiDriod it generated a report which I sent. I kept using the app normally until
2 weeks ago when I tried to sync it gave me the error "your collection has been corrupted" . Checking the database also gives me the same error. It suggests that I use an old back up but my latest one is too old and I will lose alot of work. Can you please help me fix it without restor

[2021-02-15 19:17] srghma commented on #7943
@infinyte7 awesome, didnt think about it

finally it works, can view info of hanzi when I click on characters in sentence

the only problem is that I have do copy dir with js files to my mobile phone myself

https://github.com/srghma/anki-addon-glossary/blob/59e6bf0c76e4a912fe6cadb0d9a5852f05d83b5a/anki-addon-glossary/__init__.py#L80

https://github.com/srghma/anki-cards-from-pdf/blob/f30cd76d5f7a

[2021-02-15 21:09] Arthur-Milchior commented on #8112
Hi,

Normally, when you created the bug report, you saw a text https://docs.ankidroid.org/help.html indicating you how to get debugging information. Can you please share them with us, so that we can maybe find your report.

Ankidroid does backup itself automatically, so normally, you have regular backup. I assume you get the message when you open the app, and that it suggest to use a backup. Norma

[2021-02-15 22:25] boydkelly opened #8114 "[Bug] Notifications. (android issue???)"
When I have notifications enabled, i get notified over and over and over and over and over and over and over and over...

If not 5 seconds then 5 min after I dismiss.

Is this an android problem?   I wouldn't mind getting a notification once (or heck twice) a day.   But 5 seconds after I dismiss the anki notification it comes back.   Why is this happeing?

[2021-02-16 13:32] Rafania commented on #8112
AnkiDroid Version = 2.14.3

Android Version = 10

ACRA UUID = 71b38b82-73fe-4f47-9502-58ae4b9c1f4e

Scheduler = std

Crash Reports Enabled = true

[2021-02-16 13:34] Rafania commented on #8112
![Screenshot_20210216_005527_com ichi2 anki](https://user-images.githubusercontent.com/79109907/108069831-7e240200-706c-11eb-836b-70961564d5f1.jpg)
![Uploading Screenshot_20210216_005531_com.ichi2.anki.jpg…]()

[2021-02-16 13:37] Rafania commented on #8112
Hi! Thanks for replying so quickly.
I pasted the debugging information and the error I receive when I use the app.

Yes my current collection is outdated and sadly all of the back ups on my phone are already versions of the corrupted collection since it synced automatically. I have month old back ups on my pc however those are really outdated but they are still safe.

[2021-02-16 16:15] msinty opened #8115 "GoldenDict support in the edit-card window"
Hi,
Thank you for the great application.

I am always frustated when i try to translate the text in the card-edit mode due to the lack of the GoldenDict support.
I have tested the ColorDict integration, and it works just great. I would like GoldenDict to be supported in the same way.

Thank you so much!

https://user-images.githubusercontent.com/79157290/108090258-162ce600-7083-11eb-8e7d-a4ae1ce96

[2021-02-16 19:14] idkw opened #8116 "Search card ignore case"
**Is your feature request related to a problem? Please describe.**
Not a bug but a feature currently not very practical

**Describe the solution you'd like**
When searching for cards, I'd like to be able to ignore the case (all the time via a toggle in the advanced settings). Currently the search performs an exact contains match so if I have a uppercase letter in my word and searching with a lower

[2021-02-17 08:52] #7856 closed

[2021-02-17 10:52] #7556 closed

[2021-02-17 18:38] mikehardy commented on #8114
Mostly because our notifications sub-system needs a *lot* of work, and it hasn't been a priority. I feel your pain but also just swipe away the notifications as I haven't had time personally to implement a fix :shrug:

[2021-02-18 02:46] #6331 closed

[2021-02-18 13:45] ghost opened #8117 "[Bug] Can't sync"
###### Reproduction Steps

1. Press the synch button

###### Expected Result
To synch

###### Actual Result
Error message: "
Collection synchronized
Error syncing media data
disk I/O error (code 1034)"

###### Debug info
AnkiDroid Version = 2.14.3

Android Version = 10

ACRA UUID = d44dfaee-da8e-41af-8e45-12779e0f1655

Scheduler = std2

Crash Reports Enabled = true

###### Research
*Enter an [x] c

[2021-02-18 15:22] david-allison-1 commented on #8114
It's to do with the widget, Best to disable the notifications in the settings. Mirroring mike, we need someone who cares about the notifications to spend a few days fixing them, but it hasn't hit my priority yet as I don't use them.

[2021-02-18 15:47] david-allison-1 commented on #8117
Hi @ChrisPalko, please fill in the debug information so we can help you.

Best,

David

[2021-02-18 23:46] conman1395 commented on #8089
I'm having the same issue, and have for a while. Unfortunately I can't get it togo away. I do Anki on my laptop, desktop, iPad and Android phone and my phone is the only one with the same exact issue you're describing. I'd be happy to provide any more info.

[2021-02-19 03:10] hoangvuminhthu opened #8118 "Images can't display[Bug]"
**Is your feature request related to a problem? Please describe.**
I ooen my ankidroid and lots of images can't display. That's really bad
**Describe the solution you'd like**
pls help me

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
![Screenshot_20210218_232619](https://user-images.g

[2021-02-19 03:31] mikehardy commented on #8118
Hi there! Probably this: https://github.com/ankidroid/Anki-Android/wiki/FAQ#why-doesnt-my-sound-or-image-work-on-ankidroid

We can reopen if that doesn't clear it up - but card content will be specific to your cards, they are your content, so something about the card content will need to change it is not going to be an AnkiDroid problem normally

[2021-02-19 03:31] #8118 closed

[2021-02-19 05:30] ChrisPalko commented on #8117
I included the debug info

[2021-02-19 08:11] jdpreston30 commented on #4829
Hi All, i am brand new to this and have been struggling for several hours to try to figure this out. I am trying to customize the gamepad answers for my own preferences with my 8bitDo similar to how @AustinHasten did. I have no problem going in and editing the Java in particular to do this. Now, my only question is how to I actually download an apk with these specified changes? Thanks for your hel

[2021-02-19 15:18] mikehardy commented on #4829
Hi there! There is no location that will provide an APK like this. To have an APK with your custom code you must compile it locally, connect your device to your computer locally, and install your APK via the `adb` command (or via Android Studio UI commands which use `adb` under the covers).

You should check our "Development Guide" in the wiki for more information on each but it says similar just

[2021-02-19 16:21] Blargian commented on #8024
Hi, I'm a frequent user of Ankidroid and would like to get involved in contributing to open-source. Could I take a stab at this for my first issue?

[2021-02-19 16:29] mikehardy commented on #8024
Hi @Blargian - sure! The rough sketch above seems like it would acceptable for merge to me, and David said the same. I believe the general idea is that you tap on the setting you want to change, then if it's an integer-type preference (like this new cards per day setting) you will add the ability to "listen" for volume up / volume down events and use those to alter the setting? Could work and coul

[2021-02-19 16:36] tilmanrpk opened #8119 "[Bug] MIUI: Latex fraction bar is not shown in Android 10 dark mode"
###### Reproduction Steps

1. Turn dark mode on
2. Enter \(\frac{1}{2} \)
3. Tap the preview button

###### Expected Result
Fraction (with bar) is shown

###### Actual Result
Fraction without bar (like \substack) is shown

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhan

[2021-02-19 18:26] jdpreston30 commented on #4829
Hi Mike,
Thanks a ton for the help. This helps make sense of things. I have basically done the fork/clone and made the changes I want to make, and I have downloaded android studio. So , from there you are saying it is just a matter of following the instructions of loading the forked version of AnkiDroid into studio, running the correct command to convert it to an apk, then installing, right? Seems

[2021-02-19 18:53] mikehardy commented on #4829
...should be that easy, and in fact once you have Android Studio loaded with your desired code, there is just a "play" button on the button bar of Android Studio and it will attempt to compile + install + run the code on whatever device is connected and running that you ask it to. At that point it's on the device and you're done I think

[2021-02-19 23:51] Arthur-Milchior commented on #8089
I don't know rememorize. You may want to also report the bug here. @lucainnocenti do you use rememorize?

[2021-02-19 23:55] conman1395 commented on #8089
It's my understanding that ReMemorize just modifies the interval. I go in and out of using different filtered decks that I make depending on what I'm trying to do during the day. I wonder if that's the problem since it's pulling stuff in and out of the deck? I can't imagine why else it would say [no deck] "..." with the actual deck it's supposed to go in in replacing the quotation marks. At least

[2021-02-19 23:59] lucainnocenti commented on #8089
@Arthur-Milchior I do not. The only add-ons I had/have active are "Frozen Fields", "Image Occlusion Enhanced", "More Overview Stats 21" and "Review Heatmap"

[2021-02-20 01:20] #7393 closed

[2021-02-20 11:41] Kayminet opened #8120 "[Bug]"
###### Reproduction Steps

1. Click on the "paquets" (french version)
2.
3.

###### Expected Result
Everything is working like usual

###### Actual Result
Everything is disapearing on the screen and I can'r write

###### Debug info
AnkiDroid Version = 2.14.3

Android Version = 8.0.0

ACRA UUID = 9690f7f0-abde-4de9-8b24-6e1957131ce8

Scheduler = std

Crash Reports Enabled = true

###### Research
*E

[2021-02-20 12:35] Blargian commented on #8024
Hi @mikehardy  thanks for the pointers. I'll give this a shot and reach out for help if I get stuck

[2021-02-20 15:30] lifanchu commented on #3164
I am suddenly having this problem as well. No problems for years then, suddenly, all my basic cards are shown reversed.

[2021-02-20 15:33] mikehardy commented on #3164
This is closed because it is not a bug. The manual section on card templates will show you how to fix your templates to show what you want -> google ankidroid faq reverse cards

[2021-02-20 15:49] lifanchu commented on #3164
Changing the templates fixed the problem, thanks.  However, I do not see how this is not a bug. The contents of the 'Front Template' and 'Back Template' for a particular note type switched without notice. Maybe this is due to user error, but I cannot think of what series of mistakes I could have made to achieve this unconsciously.

[2021-02-20 15:55] mikehardy commented on #3164
It must be user error somehow, there is no way that these would change randomly that I can think of. I recognize that it is highly unlikely, yet some set of user error is the most likely explanation, however unlikely

[2021-02-20 22:39] mikehardy commented on #7232
On the off chance this is related, react-native-share also fiddles with intents and setting flags and such and needed repair for android 11 https://github.com/react-native-share/react-native-share/pull/968

[2021-02-20 23:27] Rafania commented on #8112
Hi
I have tried exporting my collection and importing it on the PC in order to fix the problem but it didnt work. It gave me the following errors
Anki was unable to open your collection file. If problems persist after restarting your computer, please use the Open Backup button in the profile manager.

Debug info:
Traceback (most recent call last):
  File "aqt\main.py", line 477, in loadCollection

[2021-02-21 10:06] dae commented on #5805
Hi guys,

Just a heads up that the next desktop release will display a prominent message recommending people update to the new scheduler. When upgrading, it asks users if they're using AnkiDroid 2.14, and will keep the old timezone handling if they answer yes. Presumably there'll still be some users who choose the wrong option or decide to use AnkiDroid later, so I've also updated the message Anki

[2021-02-21 11:27] Arthur-Milchior opened #8121 "[Bug] Bug opening filtered deck as subdeck in sched v2."
###### Reproduction Steps

1. Import linked deck.
2. Review card of card type "Definition 3"

###### Expected Result

Reviewing

###### Actual Result

[code]

###### Debug info

Sched V2,
Running on master: c2f6c10
###### Research

Because we uses `regex.Matcher.appendReplacement`, and it considers $ to represents some string captured in the matching.
[latex_error.apkg.zip](https://github.com/anki

[2021-02-21 14:39] mikehardy commented on #8112
If your database file is truly corrupt, our best info is here: https://github.com/ankidroid/Anki-Android/wiki/Unopenable-collections

[2021-02-21 14:47] mikehardy commented on #5805
Thanks for the heads up @dae ! I think we still have 2 issues (perhaps 3) to isolate/fix for the 2.15 release, and for the release process to go through alpha/beta/stable in 2 weeks would require them to be fixed like yesterday or today which is improbable. Only saying this because I'm really looking forward to 2.15 myself but I think we're 3-4 weeks from it if I'm being reasonable / low-pressure

[2021-02-21 15:00] Rafania commented on #8112
I followed the steps and it still didn't work.
https://drive.google.com/file/d/1bNoXrNjGNV7j54iORJP1QQAMlRFNXlEI/view?usp=drivesdk

This is the link to my collection as the steps said to post it here.

[2021-02-21 15:16] mikehardy commented on #8112
Unfortunately that relies on volunteer time (us downloading / opening / repairing) and at least personally I'm sorry I don't have a lot of free time right now. Perhaps someone else will have time. I can outline really quickly what I would do though: on desktop I would find a sqlite database program and attempt to open it, most of them are able to "repair" (possibly with data loss!! warning!!) sqli

[2021-02-21 21:47] mikehardy commented on #7375
Should have stayed open, hopefully someone takes interest in fixing it :pray:

[2021-02-21 21:56] #8121 closed

[2021-02-21 23:52] dae commented on #5805
I'm not trying to rush you, just wanted to get things moving a bit, as issues caused by the old scheduler crop up on pretty much a daily basis. 2.1.41 will be a soft release with no update notification to existing users, and the user will be able to confirm if they use/plan to use AnkiDroid when updating, so it should hopefully not generate much in the way of support questions. If it proves to be

[2021-02-22 04:43] ionx711 opened #8123 ""cloze-only:Text" not working"
The "cloze-only:Text" filter on a cloze note type is not working

[2021-02-22 12:39] mikehardy commented on #8123
Hi there!
You skipped all the information we ask for, that makes it difficult to help.
We need your version information (https://docs.ankidroid.org/help.html)

Could you provide the exact steps from app start that show the problem?

[2021-02-23 10:13] moqi-Git commented on #8116
SQLite only understands upper/lower case for ASCII characters by default. (only support English)

The ICU extension to SQLite includes an enhanced version of the LIKE operator that does case folding across all unicode characters. But Android system only support origin SQLite.

[2021-02-23 10:37] moqi-Git commented on #8114
I want to try fixing this but I can't reproduce on my device. Which kind of notification bothered you?

[2021-02-23 10:51] boydkelly commented on #8114
Hi,
I was probably in a grumpy mood the morning I posted that, as this is nothing seriously affecting Anki.   But I have under settings general notifications.  Notify when more than 75 cards due.   Probably because I have 4 decks and several filtered decks, I get 3 or 4 notifications when I look at my phone in the morning.   But the issue is if I dismiss the notifications, because I just can't stu

[2021-02-23 12:29] Arthur-Milchior commented on #8120
thanks for the bug report.

Can you take a screenshot of the "disappearing" screen, so that I see what actually is shown. I don't know why you'd expect to write in a deck (la traduction de paquet en VO)
Did you try to close it and open it again ? Does the bug stay here ? Can you reproduce each time ? With each decks ?

[2021-02-23 12:39] idkw commented on #8116
Ok couldn't we have a secondary column to store the same date in lowercase just for indexing and search ?

[2021-02-23 13:06] mikehardy commented on #8114
I reproduce the same behavior, and think I even wrote the code that did it! Because, awesome :sweat_smile: - hey, more notifications is better than 0? But in this case only slightly

[2021-02-23 13:08] mikehardy commented on #8116
We will not modify the database in any way that is not already in upstream Anki Desktop, so in general no unless they support it.

It is possible for us to support sqlite extensions - or it was - but with the conversion to a different back-end with pre-packaged Rust I'm not sure that is even an option

Additionally this is something that others with inflected or accented languages want as well - t

[2021-02-23 13:27] ElModdy opened #8125 "Adding cards using activity manager"
**Is your feature request related to a problem? Please describe.**
I would like to add cards to a specific deck from termux, for example, using `am` like for synching.

[2021-02-23 13:44] mikehardy commented on #8125
If you send the right intent it should work already

https://github.com/ankidroid/Anki-Android/blob/4e84ce3c6d4e3428124fb5853796a673569776f6/AnkiDroid/src/main/AndroidManifest.xml#L276-L302

[2021-02-23 13:44] #8125 closed

[2021-02-23 14:35] Kayminet commented on #8120
Yes, I tried everything. I even checked all the "affichage" options

Le mar. 23 févr. 2021 à 13:30, Arthur Milchior <notifications@github.com> a
écrit :

[2021-02-23 14:36] Kayminet commented on #8120
Sometimes its like this. I can write with my screen phone usualy

Le mar. 23 févr. 2021 à 13:30, Arthur Milchior <notifications@github.com> a
écrit :

[2021-02-23 15:15] twisp007 opened #8126 "[Bug] Cannot sync: "The downloaded file cannot be saved to the SD card""
###### Reproduction Steps

1. Give the app all permissions.
2. Ensure 10+ GB of space is available on "the SD Card".
3. Hit the sync button.
4. Wait for the files to be downloaded
5. Error: "The downloaded file cannot be saved to the SD card. Either is the card is mounted read-only or there isn't enough space."

###### Expected Result

1. Actually sync without any errors.

###### Actual Result

1.

[2021-02-23 16:11] mikehardy commented on #8126
That's unexpected! Would it be possible for you to access the device log while this was happening?
I recognize that's potentially a large ask - the easiest way to do it is to [install Android Studio](https://developer.android.com/studio/), then plug your device into your computer, then use Android Studio to watch the device log while AnkiDroid is running. It would give us a great deal more insight

[2021-02-23 17:12] #7701 closed

[2021-02-23 18:17] idkw commented on #8116
@mikehardy Ok thank you
Is there some ongoing work to at least make the search consistent between anki desktop and android, because currently it is not.

Exemple :

Searching for "Certificat" (with first letter uppercase) on anki desktop returns lowercase results.

![image](https://user-images.githubusercontent.com/7012331/108888208-74217680-760b-11eb-9af3-c4c6ed2fd15e.png)

But on anki android it

[2021-02-23 18:48] mikehardy commented on #8116
Very interested in that result, I'll reopen this. My previous statement of course implies that if anki desktop does it we do want to conform

[2021-02-23 19:03] idkw commented on #8116
@mikehardy Sorry I think I was fooling myself

With my example the search is consistent when searching for the french term "Certificat" or "certificat", it returns the cards on anki android and anki desktop in both cases.

However when searching for the russian term "Расписка" or "расписка" it only returns the cards for an exact match (in lowercase here) on both desktop and android.

So the issue

[2021-02-23 21:05] ElModdy commented on #8125
I've searched a lot in internet and tried to figure it out but with no result.
I'm looking for something like this:
`am start -a "<something>CREATE_FLASHCARD" -deck "test" -front "front page" -back "back page"`
to run on Termux

[2021-02-24 00:18] abdnh commented on #8116
@idkw

This is actually the intended behavior. It's documented in the desktop manual:

See https://docs.ankiweb.net/#/searching?id=simple-searches

[2021-02-24 01:10] ionx711 commented on #8123
AnkiDroid Version = 2.14.3

Android Version = 10

ACRA UUID = 794f3d42-3015-47d8-87bd-624d3dbb7b98

Scheduler = std2

Crash Reports Enabled = true

[2021-02-24 01:17] ionx711 commented on #8123
I don't know how to properly say it. But it's an app function I usually use with TTS in cloze notes, when I click show answer it will read only the cloze word/s. It works on the anki pc version, but on ankidroid it reads the whole note.

[2021-02-24 01:23] ionx711 commented on #8123
I quoted from https://docs.ankiweb.net/#/templates/fields

"On a cloze note type, you can make Anki read only the elided sections using the cloze-only filter, like so:
{{tts en_US:cloze-only:Text}}
The cloze-only filter is supported in Anki 2.1.29+ and AnkiMobile 2.0.65+."

[2021-02-24 03:43] mikehardy commented on #8125
I dunno - I think what you might be looking for is the API? Is it possible code up a quick API client based on the sample? https://github.com/ankidroid/apisample

It's just not as easy as it sounds because what if the deck selected doesn't have fields named front or back? what if the deck name has special characters? etc etc.

If you really want to create a card programmatically, you use the API,

[2021-02-24 09:33] HannekeM commented on #7956
Still waiting for a solution.

[2021-02-24 09:34] HannekeM commented on #7957
Still waiting for a solution.

[2021-02-24 13:40] mikehardy commented on #7956
I don't believe this is present in Anki Desktop. Please note that unless it is something specific to the mobile form factor we only implement things that are in Anki Desktop

I'm going to provisionally close this but if you can point to the manual on desktop or post a screenshot of the feature you want here, implemented there, we can reopen

[2021-02-24 13:40] #7956 closed

[2021-02-24 13:40] mikehardy commented on #7957
I don't believe this is present in Anki Desktop. Please note that unless it is something specific to the mobile form factor we only implement things that are in Anki Desktop

I'm going to provisionally close this but if you can point to the manual on desktop or post a screenshot of the feature you want here, implemented there, we can reopen

[2021-02-24 13:40] #7957 closed

[2021-02-24 14:59] ElModdy commented on #8125
The problem is the following.
I wrote a program in nodejs that generates two images for each page of a pdf file. From Termux I save those images directly in collection.media. I would like to add the cards using the am command.
My cards are simple:

**Front**: `'<img src="123top.png">'`
**Back**: `'<img src="123down.png">'`
**Deck**: `'<deckname>'`

[2021-02-24 15:24] Rafania commented on #8112
I have been trying to use it but I amnot sure how it works. I followed a video and opened the collection.anki2
as database and run integrity check to find 4 errors (posted a pic below)
![Uploading IMG_20210224_172340.jpg…]()
. I then exported the database as sql file and tried to import it but it gave me the following error:
Error importing data: error in statement 7#: object name reserved for int

[2021-02-24 15:25] mikehardy commented on #8125
I believe I understood that. Your use case is not general, it makes assumptions about shape of card template in a given deck

I still believe what you want is small helper program using the AnkiDroid API, and the apisample provides this basically out of the box, you just need to add an Intent handler

[2021-02-24 15:27] mikehardy commented on #8112
Your image is not actually uploaded, but text of error messages is strongly preferred.
I cannot tell you how to proceed unfortunately, ever corrupt database is corrupt it in it's own unique way unfortunately.
I can say that if you are having trouble running a sql statement (which is what an import of a sql file is doing) then the easiest way to hack your way forward is to remove the offending stat

[2021-02-24 15:36] jbuschtoens commented on #7369
I've had the same problem. Every time I showed a cards answer, the top bar and the answer buttons would flicker. Sometimes they were visible afterwards. Usually they were not. Once I had that same flicker in the top-bar while in the main menu (copying the debug info). Unistalling and deleting the AnkiDroid folder fixed the problem for me.

The one thing that seems to be different in my case is tha

[2021-02-24 15:43] Rafania commented on #8112
The 4 errors are:
*** in database main ***
Page 10446: btreeInitPage() returns error code 11
Page 10648: btreeInitPage() returns error code 11
Page 10399: btreeInitPage() returns error code 11
Page 10317: btreeInitPage() returns error code 11

How do I remove the offending statement? By deleting the whole sqlite_stat4 table?

If yes i tried that and I successfully imported the rest. I then saved t

[2021-02-24 16:01] #7912 closed

[2021-02-24 16:04] iCarlosCode commented on #8097
Hi, @smb1987. I have already opened an issue about it, please check #8010.
Thanks for opening it too.

[2021-02-24 16:09] mikehardy commented on #8112
That sounds serious but is so low level I have no idea sorry

Yes, and that sounds like progress

That is about what I would try, and ideally it would have resulted in things working.
Corrupt databases are just that though: corrupt. I have no idea the extent of data corruption, data loss etc. While you have the database open in a sqlite editor you should be able to see what appears to be reasonabl

[2021-02-24 16:11] mikehardy commented on #7369
Not surprised it is still happening - sorry there is still not a fix though with prior investigations it does appear we are very very close - it *appears* to be a layout error in the file (that I would presume then - via incorrect layout element overlapping - triggering a race condition that *sometimes* is lost, resulting in flicker / elements not showing etc)

[2021-02-24 17:04] tobia commented on #7912
I mean, I thought it was a useful feature, but whatever.

[2021-02-24 17:14] mikehardy commented on #7912
Could be, but as an open source project, useful features mostly depend on the people that think they are useful (you) to implement them. "Free" doesn't include the cost of people's time to implement

[2021-02-24 17:15] tobia commented on #7912
@mikehardy Of course. I didn't mean to imply otherwise.

[2021-02-24 21:39] kanjieater commented on #7700
Still hoping for a solution

[2021-02-25 13:15] mikehardy commented on #7959
Not stale! Just because I have not had a lot of time in the last couple weeks does not mean anything, this is a huge part of the future of AnkiDroid in my personal opinion :-).

[2021-02-25 14:48] #7921 closed

[2021-02-25 14:52] zimttat opened #8127 "[Bug]Silent uninstall ist not silent, it ask a Data-Backup Question"
###### Reproduction Steps

1. try to uninstall anki
2. question about databackup block uninstall process
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](htt

[2021-02-25 15:13] mikehardy commented on #8127
This is not a feature of the app, this would be a feature of the mobile operating system.

Apps do not get any notification whatsoever from the operating system during uninstall, and no app code has the ability to run even if it wanted to

[2021-02-25 15:13] #8127 closed

[2021-02-25 22:59] nwwt commented on #7375
I think I at least found a condition now:

It only occurs if both _"Navigation Gestures"_ (replacing the virtual fixed navigation bar) and _"Hide the Bottom Bar"_ (that white line then shown) are enabled.

(Both in system _"Settings"_ → _"Buttons & Gestures"_ → _"Navigation Bar & Gestures"_.)

The bottom bar is also hidden by AnkiDroid's _"Hide the system bars"_ (if selected) and only comes into v

[2021-02-26 08:57] edvein-rin opened #8128 "Permanent notifications until a daily review is done"
**Is your feature request related to a problem? Please describe.**
It's happens that people close their notifications by a mistake (or is it only me?). So it's easy to forget about Anki's daily review if there is no reminder left.

**Describe the solution you'd like**
It would be nice to have an option (a checkbox in settings) to make a reminder permanent as a notification until a daily review is

[2021-02-26 16:28] davidedelvento commented on #7973
Let me know if you need me to do anything for this.

[2021-02-26 16:32] mikehardy commented on #7973
The best path forward is:

...check the development guide and see if / what import is doing with image files that differ only in case to see why this is happening, and propose a change that resolves whatever the root cause is

[2021-02-26 17:47] twisp007 commented on #8110
Both Google Play Version and the latest alpha version have this problem.

The issue seems to be that some HTML creeps into the Mathjax code. But only AndiDroid has an issue with this. The desktop version of Anki displays the matrices with no problem.

**One way to avoid HTML creeping into Mathjax code is to drop into the "HTML Editor View (ctrl+shift+x)" and type in the Mathjax code.**

Since devi

[2021-02-26 17:49] twisp007 commented on #8126
Are you asking me to include a logcat?

Anyway AnkiDroid is syncing without issue now. I don't even know why...

[2021-02-26 17:50] mikehardy commented on #8110
Very interesting - yes this should be addressed, and that's good info re: html creeping in / workaround - thank you

[2021-02-26 20:47] NicoWeio opened #8129 "Whiteboard: erasing / better stylus support"
I find it a little annoying that I can't use the button on my S Pen (Tab S3) to erase (stroke-wise) on Anki's whiteboard. I'm not sure how well this could be implemented using MotionEvents (which the whiteboard currently relies on), but if it's possible with a reasonable amount of code and work, I would consider it a great addition.

Regarding MotionEvents, see e.g. [MotionEvent#TOOL_TYPE_ERASER](

[2021-02-26 21:19] mikehardy commented on #8129
Very interesting - there usually is not a lot of appetite for vendor-specific additions but if there is an event type we can handle in a switch statement that's in the standard android library, this seems quite possible. The key / gesture handling system is pretty generic this days so may not be hard to extend and cover this case

[2021-02-26 23:30] sudomain commented on #2545
I found #3114 while looking for something else. The two features seem very related. `/sdcard/AnkiDroid` is basically a profile without the surrounding Anki root directory a.k.a. `$ANKI_BASE` on desktop. Neither are features I personally have the time to work on, but whoever does will be able to close 2 issues imo.

[2021-02-27 19:39] #7919 closed

[2021-02-27 20:43] #7942 closed

[2021-02-27 20:43] #7947 closed

[2021-02-28 01:26] jparta commented on #6203
I tried this on the desktop version. The scheduling obeys the start-of-day whether the new timezone handling is used or not. It does not make a difference whether it's before or after the start-of-day. Current playstore version or alpha26 indeed don't work. There seems to be some difference in how these preferences are handled in droid vs desktop.

[2021-02-28 08:40] Arthur-Milchior opened #8131 "Prioritizing translations"
I believe we should improve the way to deal with strings, so that translators know which of the 1242 they should proritize. Probably create a user story, check which are the strings shown to the user in this story, and allow the translators to check all strings belonging to this story that remains to translate.

### Example of a story
In my opinion, such a story would contain:
* Creating an accoun

[2021-02-28 09:38] chowhan11 opened #8132 "What is meaning of 19290.1yr(AGAIN) while reviewing cards?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-28 13:21] mikehardy commented on #8131
The rule used to be that files 01 and 02 were the highest priority
Translate those and you cover like 95% of use cases and have a fairly valid translation, it used to be the standard for including a language

It is supposed to be really easy like that? I am not in favor of highly organized structures as maintaining high states of organization requires effort (definition of organization style, like

[2021-02-28 13:22] mikehardy commented on #8132
Hi there, sorry not nearly enough context to go on as all the prompts for information were ignored.

[2021-02-28 13:22] #8132 closed

[2021-02-28 20:53] julienbaley commented on #7983
This issue still exists :)

[2021-03-01 04:47] rye761 commented on #8123
This is not implemented in AnkiDroid yet. See #7063

[2021-03-01 15:46] MelnikovAleksey opened #8133 "Sound doesn't work after synchronization"
AnkiDroid Version = 2.14.3

Android Version = 9

ACRA UUID = 6b4571cd-5809-456f-9f76-50dec95f57ce

Scheduler = std

Crash Reports Enabled = true

[2021-03-01 15:56] Arthur-Milchior commented on #8131
Great, I believe we mostly agree about the big picture.

Concerning your question, we'll know as soon as you merge https://github.com/ankidroid/Anki-Android/pull/8130
I should note that this only touch the "don't translate" file whose only purpose is to allow us to do such test.

I can't do the test myself for two reasons. First:
* I don't have the API key
* I would not want to send API request wi

[2021-03-01 16:00] mikehardy commented on #8133
Hi there!
Our issue template includes this:

The FAQ includes this https://github.com/ankidroid/Anki-Android/wiki/FAQ#why-doesnt-my-sound-or-image-work-on-ankidroid

It should help?

[2021-03-02 17:02] NicoWeio commented on #8129
After a few hours of experimenting, this is what I came up with: https://github.com/ankidroid/Anki-Android/compare/master...NicoWeio:whiteboard-erase

I'm not 100% happy with my code, e.g. `interface WhiteboardAction` looks rather hacky, but it works fine, and I don't know how to improve it.
Anyone who doesn't use a stylus with a button shouldn't notice any difference.
For some reason, `event.getA

[2021-03-02 17:19] mikehardy commented on #8129
I think you should definitely open a PR!

I just read the diff and it looks reasonable as a set of changes - I agree that at minimum it should do no harm as it won't affect anyone not triggering those magic numbers representing the S-pen events, and also as a code maintenance issue the changes seem sane

We do have a fairly strong preference in PRs that affect functionality to not touch anything u

[2021-03-02 17:21] #8065 closed

[2021-03-02 17:58] mikehardy commented on #8064
I just tried to fix this one but it still popped up after adding advanceRobolectricLooper
may need to advance with sleep

Here's another one

[code]

[2021-03-02 18:29] mikehardy commented on #8064
[code]

[2021-03-02 22:44] NicoWeio commented on #8129
Alright then, thanks for your feedback! Opening a PR now…

[2021-03-03 00:05] murphm8 commented on #7989
This issue is with the "Pleco" item in Android's text selection context menu. I've updated the info above. I found that the bottom bar works correctly the first time I navigate to Pleco from Anki, but subsequent navigations the bar is hidden.

So:

1. Navigate to Pleco using the text selection context menu
2. Hit the back button
3. Navigate to Pleco using the text selection context menu
4. Now you

[2021-03-03 12:47] mikehardy commented on #6052
I think this may have some progress here actually #8078

[2021-03-03 13:40] yeeping1 opened #8139 "[Bug] footer and header missing"
I already reinstalled the app but the problem still exists.
footer and header button disappear but those button still work.

![problem](https://user-images.githubusercontent.com/50470520/109813962-f7c11000-7c68-11eb-8721-35b515f1c5dd.jpg)

Other details
AnkiDroid Version = 2.14.3

Android Version = 8.1.0

ACRA UUID = b14fcaf6-c5cc-4b21-bacd-a09b349a28ca

Scheduler = std

Crash Reports Enabled = tr

[2021-03-03 14:15] mikehardy commented on #8139
I believe this may duplicate #7369  ? Have you tried clearing the cache to see if it resolves (temporarily - it is still a bug, that is a workaround)

[2021-03-03 14:28] yeeping1 commented on #8139
clear cache already but problem still exist.  thanks to tell me #7369

[2021-03-03 18:36] Schqwamboni opened #8140 "[Request] Apply chosen language in TTS to all decks"
Problem:
When using TTS (Text-to-Speech) it asks you to choose a language when starting a "new" deck (new to TTS) which is good and makes sense. Although, I have many sub-decks under the deck I usually study (like close to 100 I believe) so I am constantly getting bogged down by having to select the language repeatedly as it shows me cards from different sub-decks.

Solution:
It would be very nice

[2021-03-03 20:44] #7809 closed

[2021-03-03 20:52] #8129 closed

[2021-03-03 21:45] #7700 closed

[2021-03-05 01:26] #7946 closed

[2021-03-05 01:26] #7969 closed

[2021-03-05 06:57] AR-999 commented on #7369
After quite several updates the bug still remains and has made the app almost useless... V2.14.3

[2021-03-05 13:23] mikehardy commented on #7369
@AR-999 indeed! Do you have a PR for the layout issue above? I haven't had time personally to look at it yet though it's on my high priority list. Until you or someone proposes a PR, the issue will remain yes

[2021-03-05 14:10] mikey-boy commented on #7369
@AR-999 You can always do the fix above by clearing the application data in your android settings.

It seems that when the app is in a working condition and the bug first appears, a System message pops up and complains about Webview. If someone encounters that message and posts it here it may be helpful in debugging (my phone is in Spanish so I missed most of what it said..)

[2021-03-05 15:04] jbuschtoens commented on #7369
There is no popup in my case. The bug appears after the first restart of the application - clear app data- open anki- I see a welcome screen and can review as normal- I close anki and open it again- the top bar during reviews is missing etc

[2021-03-05 16:09] mikehardy commented on #7369
@jbuschtoens thank you for your reproduction steps! If anyone else has reproduction steps that will help me (or anyone else that might have time to work on it) *see* this myself (I have not yet personally reproduced it...) that will help. As an aside in our crash report we should probably report the webview in use and it's version, I think recent webview updates for the Chrome subsystem are why th

[2021-03-05 16:10] mikehardy opened #8142 "Add Webview information to crash report"
As an aside in our crash report we should probably report the webview in use and it's version, I think recent webview updates for the Chrome subsystem are why this is showing up now but I'm not 100%, and regardless we don't have the version info that would tell us.

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/7369#issuecomment-791517910_

[2021-03-05 16:37] sathishkannan162 commented on #8089
I faced this problem too. But I was able to resolve this by force syncing from laptop to web in one direction. Then I opened ankidroid and clicked overwrite.

[2021-03-05 16:55] jbuschtoens commented on #7369
I made a recording: https://drive.google.com/file/d/1q5vNy3SLYh4xXIDvWjwB6yoqL7oDO8PD/view?usp=drivesdk

[2021-03-05 17:15] #7973 closed

[2021-03-05 17:20] mikehardy commented on #7951
This is a serious usability issue and does not track with desktop (where they have a separate sub-screen for each). Pinning

[2021-03-05 17:24] davidedelvento commented on #7973
Why has this been closed?

I understand people having other priorities, and this bug happens only in an edge case, but it still is a serious data-corruption issue!

Closing it without a fix seem a bit extreme to me.

[2021-03-05 17:35] mikehardy commented on #7973
Because there are 292 open issues still. And there were thousands before. Please propose a fix, we'll happily merge it, but we can't just have an endless issues list. This is a community of people working together and the issues list should reflect actual ongoing work.

It's not like it is deleted or anything, this will always be here for reference if someone wants to take it up. In the meantime,

[2021-03-05 18:50] davidedelvento commented on #7973
Mike,

If you are dealing with thousands of open and stale issues, probably you don't have the time to dig deeper into all of them, so perhaps you have superficially reviewed this one too. Let me summarize it for you.

In some circumstances, images are **SILENTLY overwritten**. This will cause cards to display **WRONG** images and the user unknowingly will **learn the WRONG thing**. For an applica

[2021-03-05 19:16] jdpreston30 commented on #4829
Mike- is this out of date with the newest reviewer.java file? I've reviewed it and find no such options for gamepad support in the master reviewer.java . If so, do you think it is safe to just edit this code  for myself and use this script for reviewer.java instead of what is currently in it?

[2021-03-05 19:22] davidedelvento commented on #7973
Closing it you certainly will not get any PR. You should have added a "help wanted" label instead.

I am really baffled at your attitude: closing serious bugs, hoping to get PR on closed issues... what's next?

[2021-03-05 20:53] mikehardy commented on #4829
it might be out of date? unless you make a PR and submit your code (and then I have to review it and merge it - I am bottle-necking just a bit on that process :sweat_smile: ) then it won't be in the main version and you'll have to keep your fork in sync periodically

[2021-03-05 20:54] mikehardy commented on #7973
@davidedelvento I in turn am baffled at anyone who thinks lengthy issues with no proposals of code change help move anything forward in any serious way on a volunteer project? I'm happy to add tags though, FWIW

[2021-03-05 23:28] tbm commented on #7952
I think we established in the end that because of the inconsistency between the two cases that this is a bug, so this should stay open.

[2021-03-06 02:09] mikehardy commented on #7232
I have not found any satisfactory solution that relies on other applications via intent for Android 11, and I poked around at it a lot, with the advance knowledge of being the person that got the current implementation working through Android 10.

I'm going to go with either
1- a very simple library that was medium popular then abandoned and now has an active fork: https://github.com/yaroslav-v/an

[2021-03-06 03:49] #7570 closed

[2021-03-06 08:36] AR-999 commented on #7369
You mean problem report sir?

AnkiDroid Version = 2.14.3

Android Version = 8.0.0

ACRA UUID = 33fb8934-1ddf-495f-8ee0-1a8a75127bb8

Scheduler = std

Crash Reports Enabled = true

[2021-03-06 13:40] mikehardy commented on #7369
I just scanned all related reports in the play store. From what I can tell they are *all* Android 8 or 8.1. @AR-999 does that match your experience?

There was a report above (with an unfinished binary search on versions between 2.13alph13 and 2.13.3) from @hiacre)

You can try parallel releases to test other versions side by side:

We know this version works: https://github.com/ankidroid/Anki-And

[2021-03-06 20:22] mikehardy commented on #7369
CALL FOR TESTERS

I have a possible fix up now as PR #8144

If anyone affected could install and test a parallel release built from 2.14.3 with nothing but that PR added in, I would love to know if it fixes the issue:

https://github.com/mikehardy/Anki-Android/releases/tag/v2.14.3-issue7369

If I get successful feedback I can merge it and release a 2.14.4 that fixes this for everyone!
If I get fai

[2021-03-06 20:23] #7232 closed

[2021-03-06 20:32] jbuschtoens commented on #7369
Unfortunately this version is no different for me. I still have the exact same issues.

[2021-03-06 20:37] binarin commented on #7369
It fixed it for my phone. The version from play store is reproducibly broken, but `AnkiDroid-issue7369.parallel.A.apk` works for the same card (but I didn't test for a long time).

[2021-03-06 20:40] mikehardy commented on #7369
@jbuschtoens thanks for trying, I am sorry it did not work for you. May I ask if you cleared data/cache prior? And you are *certain* that after installing the parallel build you actually used the parallel build (the version should show up at bottom of settings / advanced. Just to make 100% sure this is a real failure case with the code we think we are running, I do not have high hopes though.

@bi

[2021-03-06 20:47] mikehardy commented on #7232
CALL FOR TESTERS (@arvifox ?)

I believe I have this fixed. Please install a parallel build from this test release and report back:

https://github.com/ankidroid/Anki-Android/releases/tag/v2.14.3-issue7232

It works for me in all cases I could find and actually fixes crop of existing images to boot

That release is build from release-2.14 branch as of now (with android 11 crop fix already cherry-p

[2021-03-06 20:52] jbuschtoens commented on #7369
It says "Ankidroid.A" at the top, so I'm sure I'm using the correct version. I did try deleting the app data for both Ankidroid and Ankidroid.A, but the problem remains. No problems on first start, display problems after first restart of the app.

[2021-03-06 21:00] mikehardy commented on #7369
Okay, thank you @jbuschtoens - I just watched your video very closely, and I notice that the top bar flickers but I do not see the bottom answer buttons go away. The change I made was very very specific - I changed *only* the answer buttons layout. I wonder if you will have answer buttons work now, but still see problems with any/all other elements? Or do you already reproduce problems with the an

[2021-03-06 21:13] jbuschtoens commented on #7369
I also sometimes have the answer buttons disappear (with both versions). I can't find any clear pattern on when the answer buttons disappear or not.On 3/6/21, 22:00 Mike Hardy <notifications@github.com> wrote:

  Okay, thank you @jbuschtoens - I just watched your video very closely, and I notice that the top bar flickers but I do not see the bottom answer buttons go away. The change I made was ver

[2021-03-07 00:55] cpettitt opened #8146 "AnkiDroid 2.14.3 handles MathJax differently than Anki 2.1.41 [Bug]"
###### Reproduction Steps

1. Create a card with ket notation (comes with MathJax 3 baket extension) in Anki 2.1.41:

```\(\ket{0}\)```

2. Sync with Anki web
3. Observe incorrect ket notation rendering (MathJax 3 braket extension seems to not be loaded)

###### Expected Result

Card should look like this (works on desktop):

|0>

###### Actual Result

\ket0

###### Debug info
Refer to the [suppor

[2021-03-07 01:00] cpettitt commented on #8146
I joined the beta program but do not seem to have gotten a new version. It still says version 2.14.3.

[2021-03-07 02:29] hssnnkim commented on #7982
Still searching for solutions :$

[2021-03-07 03:59] mikehardy commented on #8146
There are currently not new betas, but there are quite a few alphas - if you also sign up for the google group for alpha delivery, the play store will start delivering alphas https://docs.ankidroid.org/manual.html#betaTesting

[2021-03-07 13:13] jbuschtoens commented on #7369
I haven't really studied with Anki in months, so I tried downgrading the Anki version. Unfortunately I can reproduce the bug with 2.12.1, 2.12.0, 2.11.3 and 2.10.4.Given that the problems started for me in January this year, I would think the problem is either some data that Ankidroid left that I didn't sufficiently clean up, or an OS update.

[2021-03-07 13:59] mikehardy commented on #7369
It is definitely something about the Chrome WebView, but I would like to handle it. Ironic you say "OS" update because Android official release is on 11 now, but this only seems to affect users with Android 8 and Android 8.1, so if it was an OS update, it's still quite behind the times ;-). Upgrading the phone operating system above 8 should also fix it as I have no reports on play store reviews o

[2021-03-07 14:02] #7915 closed

[2021-03-07 14:08] mikehardy commented on #7369
This actually makes me think: I wonder if it still happens if you do either of:

- uninstall all Chrome / Chrome WebView / Android System WebView updates (via system app info panels)
- install Firefox and set Firefox as the default browser / WebView for the system

I don't know if it will affect things or not, I just know that I still can't reproduce it locally, so I'm brainstorming anything / eve

[2021-03-07 14:48] jbuschtoens commented on #7369
Maybe this would be a good moment to mention that I have Firefox for Android installed and set as my default browser.I don't know how to uninstall those Chrome/Webview updates.

[2021-03-07 14:52] sudomain opened #8148 "[Bug] "Error when syncing media data java.io.IOException" when syncing media files with "🔊" emojis in the file name?"
EDIT: I emailed the deck author, "The AnKing", and they've agreed to remove the Unicode character from the names of the affected media files for this deck. It's no longer an issue for this specific deck, though the problem may arise for other decks.

###### Reproduction Steps

1. On desktop Anki, download and import `AnKing Step 1 V9 Step 2 V4 with Media.apkg` from [Google drive](http://bit.ly/2Z1

[2021-03-07 15:35] mikehardy commented on #8064
[code]

[2021-03-07 15:36] mikehardy commented on #7369
That is very interesting - I think my next step here is add some more diagnostics to the installation information area so I can capture what the WebView vendor/version in use is

[2021-03-07 16:37] mikehardy commented on #7369
Collaborated with someone via google play store review comments this morning and same report as @jbuschtoens - does not appear to fix the issue for them (or to be precise: works after first start of parallel version, fails after reopening - works again if clear data, fails after reopening). So, I'm marking this mentally as "failed fix" and will keep after it with time available.

[2021-03-07 18:59] mikehardy commented on #7369
If you open the android settings about this device and tap the build number 8 times (or so) you get a new developer settings menu inside android settings

If you do this, you can see what webview is currently running. I tried (and failed, again) to reproduce this on Android 8.0 with Chrome WebView 88.0.4324.181 which I think is up to date. I'm going to try to find an easier way to get this data fr

[2021-03-07 19:02] mikehardy commented on #8139
This is definitely a duplicate of #7369 - still exists, clearing cache/data is a valid *workaround* but is of course terrible in the long run. We're working on it...

[2021-03-07 19:02] #8139 closed

[2021-03-07 19:07] jbuschtoens commented on #7369
I have Chrome 88.0.4324.181

[2021-03-07 19:46] ElnuDev opened #8149 "[Bug] Colors not displaying properly"
###### Reproduction Steps

1. Create a deck with the following on the front of the card:

[code]

And the following on the back of the card:

[code]
2. Open the deck in Anki. The colors should all display properly. (see Expected Result section)
3. Sync.
4. Open the deck in AnkiDroid. The colors should not display properly. (see Actual Result section)

###### Expected Result

![Screenshot from 2021

[2021-03-07 19:58] mikehardy commented on #8149
Hi there! This is in the FAQ, at the end, as a link to advanced formatting

We auto-invert colors in night mode. It's a feature for most, that is a bug for some. If it is a bug for you, it is under your control to alter: https://github.com/ankidroid/Anki-Android/wiki/Advanced-formatting#customize-night-mode-colors

[2021-03-07 19:58] #8149 closed

[2021-03-07 20:16] ElnuDev commented on #8149
Thank you! Sorry I missed that. Adding
[code]
to the card fixed the issue. Though, I think it would be nice to have an option in the settings to disable the inverter instead of having to go into the CSS.

[2021-03-07 20:20] mikehardy commented on #8149
That could be a nice feature, if you'd like to propose a PR for it as a preference in advanced settings we could merge it

[2021-03-07 22:19] NicoWeio opened #8150 "[Bug] MIUI-specific - system dark mode / AnkiDroid dark mode interaction is wrong"
I'll go ahead and ignore the bug report template, because I think a bunch of screenshots will explain the issue best.
I use AnkiDroid _2.15alpha27_. No manual restarts were performed between the screenshots.

|  | Anki off                                                                                                                     | Anki on

[2021-03-07 22:27] NicoWeio commented on #8148
I'd suggest leaving the issue open, then. Even if it's not supposed to work, we should at least add an understandable error message.

[2021-03-07 22:55] JG916 commented on #8084
The issue is caused by a race condition from the recreation of the AbstractFlashcardViewer activity:

1. Start activity A
2. `ReadText.initializeTts()` is called
3. Toggle theme
4. activity B is started
5. `ReadText.initializeTts()` is called once more
6. Activity A's `onDestroy()` runs, which calls `ReadText.releaseTts()`

Activity B creates a new instance of TextToSpeech through `initializeTts()

[2021-03-07 23:07] mikehardy commented on #8084
That does seem horrible! Great investigation though.

I just had a quick look and that is some seriously distorted code, the relationships between all the objects that touch ReadText would be very difficult to pick apart. For an edge case like this which won't have a great deal of value to solve vs other issues, I'd be willing to take a PR that just gated on Context being the one you expect, as yo

[2021-03-08 00:46] JG916 commented on #8084
Sure thing. I'll see if I can put up a PR up sometime before Wednesday.

It's good to hear your thoughts about 'time vs value', as well. This is quite a rabbit hole, so fortunately I didn't get sucked in too soon.

[2021-03-08 02:50] mikehardy commented on #8084
Yeah - it's a tough balance, and at the end of the day, you choose to do what you like, which implies what you enjoy. Some people (myself included sometimes!) just love to leave an area all polished up, so I'll let myself go down a rabbit hole. Other times / other people are just looking for biggest impact possible in shortest time, and that argues for careful selection of area to work on and very

[2021-03-08 04:31] mikehardy opened #8151 "Amazon AppStore publish rejected for camera permission request"
###### Reproduction Steps

1. Attempt to submit a build of AnkiDroid from release-2.14 branch to amazon app store
2.
3.

###### Expected Result

Submission successful!

###### Actual Result

[code]

https://developer.amazon.com/docs/app-submission/faq-submission.html#device-targeting

:shrug:

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure whe

[2021-03-08 23:49] #7991 closed

[2021-03-09 05:30] peterj71 opened #8152 "[Bug] Empty white space above HTML Tables in Ankidroid"
###### Reproduction Steps

1. Create HTML table in a field (use my table.html sample if you like)
2. View it perfectly in Anki desktop
2a. Double check that table displays perfectly in Chrome as well
2b. Triple check HTML in the w3 validator (note there are some warnings for using old HTML in my example but nothing significant and it displays perfectly in Anki desktop and Chrome)
3. View it and cr

[2021-03-09 06:49] terrywallwork opened #8153 "Text not appearing"
Debug info:

AnkiDroid Version = 2.14.5

Android Version = 8.0.0

ACRA UUID = 8c4ae41a-d8ac-41bd-ba77-8ac55aec197c

Scheduler = std

Crash Reports Enabled = true

I open ankidroid, and go to a deck to review.  When it's displayed there is no text, just the show answer button and on the answer side just the buttons.

Note: Deck worked perfectly before most recent upgrade. Activating Safe Display mo

[2021-03-09 10:30] terrywallwork commented on #8153
Here is my collection for you to test, the Kanji Deck or JLPT decks all have the issue, See JLPT 5 deck.

[collection-20210309070102.zip](https://github.com/ankidroid/Anki-Android/files/6107806/collection-20210309070102.zip)

[2021-03-09 12:54] sirhand commented on #7369
I'm having the same disappearing button problem. Thanks for your efforts to fix. I checked my WebView it's Android System WebView 89.0.4389.86

[2021-03-09 13:40] sirhand commented on #7369
I switched to Chrome 88.0.4324.181, same problem. Android 8.0.  Samsung S7 edge. I use Firefox and had Chrome disabled up until a moment ago. First launch always works fine. Once it's closed and opened again it breaks.

[2021-03-09 13:44] sirhand commented on #7369
The behavior is different for my different decks! For some it works perfectly fine. "Japanese V2K - Visual Novel, Anime, Manga" doesn't work. "Kana (Hirigana)" works fine.

[2021-03-09 14:50] mikehardy commented on #8153
Hi there!
Most recent upgrade from what to what?
I wonder if your font is referenced somehow over a non-HTTPS network connection vs being embedded correctly per https://docs.ankidroid.org/#customFonts ?

[2021-03-09 14:50] mikehardy commented on #8153
also, note you may always revert while waiting for attention - all the primary contributors are pretty busy right now so there is no guarantee of response, apologies: https://github.com/ankidroid/Anki-Android/wiki/FAQ#i-dont-like-the-last-update-of-ankidroid-how-can-i-return-to-a-previous-version

[2021-03-09 14:58] mikehardy commented on #7369
@sirhand do you also see strange flickering if you open the changelog ? Unfortunately I think that only triggers on version upgrades of stable versions so it's not really easy to trigger it - you'd have to e.g. install 2.14.3-parallel.A maybe then 2.14.3-parallel.B  from our releases settings to see it unless you had a debug version installed (then it shows up in settings as a thing you can trigge

[2021-03-09 15:00] mikehardy commented on #8152
Interesting, I wonder if some CSS rule is being applied? https://github.com/ankidroid/Anki-Android/wiki/Advanced-formatting

You can inspect the HTML WebView if you plug your device into your computer, enable debugging for the device and use Chrome webtools I think: https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection

[2021-03-09 15:12] sirhand commented on #7369
How do I open the changelog? Right now I have it installed from the play store. I have uninstalled and reinstalled a few versions trying to fix. Should I install the parallels? I'm happy to help any way I can.

[2021-03-09 15:16] mikehardy commented on #7369
the parallels allow you to be in control of versions outside of the play store release cycle, so when testing things they are the best way to go I think. I do recommend (for testing!) using a different collection and/or making sure your real collection is backed up well - if you touch your collection with 2.15-alpha builds you likely will not be able to use 2.14 again. Now, 2.15 is working pretty

[2021-03-09 19:47] terrywallwork commented on #8153
The previous version that worked was 2,14.3 from.2.14.5 Anki droid.

I did revert to 2.14.3 in the meantime until this gets fixed got the apk from apk pure.

[2021-03-09 19:49] terrywallwork commented on #8153
Font im using is local android system font.  Adding a custom font to the anki font directory made no difference.

[2021-03-09 20:11] mikehardy commented on #8153
Okay - you are on Android 8, and this is a reviewer rendering problem - I think it is triggered by my attempts to fix #7369 in #8144 (which did not work)

I'm going to resolve this as a duplicate of that one but please subscribe to that issue as I'm about to post another "test fix" parallel/side-by-side build that might fix this issue.

My hunch at this point is that something changed with the har

[2021-03-09 20:11] #8153 closed

[2021-03-09 20:19] david-allison-1 commented on #7369
Following on from #8153: Reports of this happening in 2.14.5 on Android 10: https://www.reddit.com/r/Anki/comments/m1ciep/ankidroid_2145_does_not_show_cards/

Needs confirmation that this is the same issue.

[2021-03-09 20:26] mikehardy commented on #7369
CALL FOR TESTERS - Please install one of the parallel builds from this new test build and report back: https://github.com/mikehardy/Anki-Android/releases/tag/v2.14.5-issue7369-2

@david-allison-1 I think my first attempt led to that regression ("cards rendering totally white"). It has been reverted

New hunch (as explained in that release) is that this is a hardware render incompatibility that jus

[2021-03-09 20:37] jbuschtoens commented on #7369
https://github.com/mikehardy/Anki-Android/releases/tag/v2.14.5-issue7369-2This fixes the issue in my case. Yay.

[2021-03-09 21:02] dotancohen commented on #8153
I can confirm this issue on Android 10 on a Xiaomi Redmi Note 9. We have tried both night and day mode, and we've tried burying cards but the next card displays the same issue. Video displaying the issue: https://imgur.com/GcYcOX5

Tomorrow I'll have her try the workaround suggested in #7369.

[2021-03-09 21:27] Paddel06 commented on #8153
Just tested parallel B and the issue seems to be gone now.
I am on Oneplus 5T with Android 10.

[2021-03-09 21:28] mikehardy commented on #8064
[code]

[2021-03-09 21:34] mikehardy commented on #7369
@jbuschtoens your testing help here has been absolutely critical here, I really appreciate it. I'm relieved to hear I may have found a viable workaround. I have one more test build up that now takes my "stab in the dark" test2 and focuses it to *only* Android 8/8.1.

https://github.com/mikehardy/Anki-Android/releases/tag/v2.14.5-issue7369-3

*if* this build works for you I will be releasing it as

[2021-03-09 21:38] mikehardy commented on #8153
@Paddel06 fantastic - really sorry for the bother. I'll be releasing a 2.14.6 that fixes this regression for everyone and I think (finally!?) has a fix for the poor Android 8 souls who have had a broken reviewer for a couple months now.

[2021-03-09 21:39] jbuschtoens commented on #7369
https://github.com/mikehardy/Anki-Android/releases/tag/v2.14.5-issue7369-3This version also works.

[2021-03-09 21:45] mikehardy commented on #7369
Wonderful! It's not perfect and it is a little bold to move this quickly but I'm releasing 2.14.6 with this now to fix broken reviewers in general on 2.14.5 and hopefully fix all the Android 8 people assuming it works for them as well. If not, I'll keep trying. Thanks again for the testing

Anyone else that has time to test: I still want to hear more confirmations if possible to know it is working

[2021-03-10 00:48] TarekkMA commented on #8045
I'm going to try to implement this feature

[2021-03-10 01:35] TarekkMA commented on #8045
I have ported the feature from the pylib library, and added a menu item to export selected cards from the ``CardBrowser`` activity.
<img src="https://user-images.githubusercontent.com/6633545/110561577-9a3d2f80-8150-11eb-9415-160136c31cbe.png" width="25%"><img src="https://user-images.githubusercontent.com/6633545/110561582-9c06f300-8150-11eb-825c-1c79d09947f0.png" width="25%">

But the issue is t

[2021-03-10 02:24] peterj71 commented on #8152
Hi Mike, thanks for the suggestions. I setup debugging and at the same time upgraded to last night's 2.14.6 release from the Play store, and hey presto the whitespace above my tables is already gone?!?! 8-)

There's a little redundant whitespace under the tables but that doesn't affect me, so for the moment I'll close this ticket if I can - if I can't then please close/hold it on my behalf, thanks

[2021-03-10 02:24] #8152 closed

[2021-03-10 02:39] kartikeysaran commented on #8142
Can i work on this issue !

[2021-03-10 03:18] asbaran opened #8156 "AnkiDroid Directory is inaccessible"
Anki doesn't work on my newer Samsung Note 10 plus all of a sudden and displays an error Ankidroid Directory is inaccessible when I didn't even make any changes. Meanwhile my older Asus Zenfone Max has no issues accessing anki.

[2021-03-10 03:42] josemlucero opened #8157 "Cards not displaying"
When I enter a deck I see no card text only showd answer button,  if I press the button the screen only shows the three button, but not the card answer.
If I choose edit card I see the field are apparently still store correctly.

AnkiDroid Version = 2.14.5

Android Version = 11

ACRA UUID = 33c655ad-66eb-4e58-b677-2fd7ed929f80

Scheduler = std

Crash Reports Enabled = true

[2021-03-10 03:59] david-allison-1 commented on #8157
Hi, @mikehardy should have fixed this in 2.14.6. Could you try upgrading on the Play Store?

Marking as duplicate of https://github.com/ankidroid/Anki-Android/issues/7369#issuecomment-794497874. Could you direct any issues to the linked issue.

Thanks!

David

[2021-03-10 03:59] #8157 closed

[2021-03-10 05:26] josemlucero commented on #7369
New versión working ok for me

[2021-03-10 06:20] terryneal2 commented on #7369
Hi all - I installed 2.14.6 and it is working for now.

On Tue, Mar 9, 2021, 9:27 PM josemlucero, <notifications@github.com> wrote:

[2021-03-10 07:22] voidplayer opened #8158 "Make card browser easier to access and independant of the rest of anki"
Sometimes i wish i could have a separate anki just to use the card browser

**Specific frustration points**

* You are always at least 2 actions away from browser card Depending on what you are doing (editing) sometimes even more
* You interrupt what you are doing. reviewing is okay because they are kinda stateless transactions. Cards only have 2 states, question and answer, but editing cards is n

[2021-03-10 08:21] mrudultora commented on #8150
Turn off dark mode for AnkiDroid  by going to Display -> DarkMode -> Individual Apps. This issue had been seen in many apps on MIUI.

[2021-03-10 09:19] kartikeysaran commented on #8151
Can I work on this issue !?

[2021-03-10 09:39] NicoWeio commented on #8150
Great, that worked. Though the questions remains, whether we can/should do something about it.

[2021-03-10 12:23] mrudultora commented on #8150
@NicoWeio If you don't mind this issue can be closed. Because, this issue is from MIUI side and not a bug inside this app (I guess this occurs mostly in MIUI 12).

[2021-03-10 12:33] NicoWeio commented on #8150
Okay. I'm just not sure whether this should have a place in FAQ, for example.

[2021-03-10 12:45] mrudultora commented on #8094
@xangelix Do you face such issues frequently? Or, this happened first time with you.

[2021-03-10 13:21] mrudultora commented on #8024
@Blargian Are you still on it ?

[2021-03-10 13:22] mikehardy commented on #8150
We actually work around a couple of MIUI specific issues. Even though they are vendor-specific MIUI has a very large market share, and this app has a large enough user base that MIUI-specific issues start to cover more people than most apps even have as users.

An example #7756

I would like to keep this open for investigation.

[2021-03-10 13:28] mrudultora commented on #8150
@mikehardy Okay! Sorry for asking to close the issue without your consent.

[2021-03-10 13:30] Blargian commented on #8024
@mrudultora I didn't have any luck with this - I need to learn quite a bit more about android first. Please feel free to take over if you would like.

[2021-03-10 13:31] mikehardy commented on #6971
I'd like this to stay open a little bit

[2021-03-10 13:43] mikehardy opened #8160 "Blocker: Disable hardware rendering in WebView Activities for Android 8/8.1"
###### Reproduction Steps

Refer to: #7369 - Reviewer and Changelog (both WebViews) have flicker / render issues *only* on Android 8/8.1 real devices (not emulators)

Refer to: #8154 - where *all* Reviewer-related Views are switched to software render using layout overrides

###### Expected Result

That layout files are not duplicated, but Android 8/8.1 have software render for WebView Views such

[2021-03-10 13:44] mikehardy commented on #8160
Noting this is a blocker for v2.15 release. If we release v2.15 without doing either this, or cherry-picking #8154 to main dev branch, Android 8/8.1 will have render issues during review again, breaking review for many users.

[2021-03-10 13:44] Heineken opened #8161 "Going back to deleted card [Bug]"
###### Reproduction Steps

1. practice until a reverse card is displayed
2. edit note
3. change note type from 2-way to 1-way type, thus deleting the reverse card
4. save -> deleted card is still displayed (1. minor bug)
5. answer and flip to next card
6. Go back -> Error is displayed
7. Trying to restart the affected pile triggers the error again and offers DB check, which resolves the problem ev

[2021-03-10 14:51] mikehardy opened #8162 "Remove "experimental" from v2 scheduler setting, default to v2 for new / empty installs"
###### Reproduction Steps

1. Use AnkiDesktop 2.1.42 or higher
2. Attempt to sync with AnkiDroid from a default install

###### Expected Result

Sync works as expected

###### Actual Result

Error message about new scheduler?

(this came from a play store review comment)

Apparently 2.1.42 (at least, maybe earlier?) of Anki Desktop turns on V2 scheduler by default, whereas AnkiDroid is still using

[2021-03-10 15:05] SubhamJena opened #8163 "[Bug] Type answer into card"
Hacker's keyboard app defaults to all UPPERCASE (with autocapitalisation on) while typing even after repeatedly turning off the uppercase toggle in 'Type answer into card field'.
Wasn't an issue with previous Ankidroid releases.
No issue with Samsung keyboard.

Hacker's keyboard v1.40.7
AnkiDroid 2.14.6

[2021-03-10 15:25] TarekkMA commented on #7741
Hi, I would love to take a go at this issue. How should we warn the user about the use of a http resource in the card?

Will a simple toast do the trick or we need to maybe inject some html elements in place of the image.

right now I have made it so a toast will pop up when an http uri is intercepted
<img src="https://user-images.githubusercontent.com/6633545/110652629-386add00-81c5-11eb-96ca-a98

[2021-03-10 15:29] mikehardy commented on #8163
That is strange, I don't recall anything in the area changing recently.
Can you double-check a previous release you knew it worked on? You can install parallel builds from the releases page side-by-side with your current install for quick testing, for example parallel A from here: https://github.com/ankidroid/Anki-Android/releases/tag/v2.14.3

[2021-03-10 15:33] mrudultora opened #8164 "Adding dark mode in custom tabs"
**Is your feature request related to a problem? Please describe.**
This is not a problem as such. But, the custom tab appears bright even in dark mode. I am using the app in dark mode and suddenly much increase in brightness doesn't seems good.

**Describe the solution you'd like**
As, custom tabs support dark mode in toolbar, navigation bar and also some reduced brightness (complete dark mode is

[2021-03-10 15:44] mrudultora commented on #8164
If it's a valid change, I would like to work on this.

[2021-03-10 17:11] Arx724 opened #8165 "[Bug] 2.14.6 performance"
Hey, I've been using ankidroid for a good year now and just ran into an issue. Today's update update seems to have killed in-card performance for me. Everything is smooth in menus etc, but while reviewing it's much less responsive (particularly noticeable when scrolling).
I'm using ankidroid v2.14.6 on a Moto G5 running Android 8.1.0, which I realize is pretty old but it ran fine until today. I'm

[2021-03-10 17:25] mikehardy commented on #8165
You must upgrade your Android operating system, or use 2.15-alphas unfortunately.

You would not believe the trouble we had isolating a render issue on Android 8 / 8.1 only, where if you use the default render pathway (hardware render) the reviewer is completely broken for a large percentage of Android 8/8.1 users. #7369

So we had to disable hardware render for Android 8. #8154

If that *did not*

[2021-03-10 17:25] #8165 closed

[2021-03-10 17:26] mikehardy commented on #8165
(how to get on beta - and then enable alpha build delivery - track from play store: https://docs.ankidroid.org/manual.html#betaTesting)

[2021-03-10 17:44] xangelix commented on #8094
This is the first and only time it has happened for me.

[2021-03-10 20:26] haran2248 opened #8166 "Change in the icon colors in Help dialog box"
**Is your feature request related to a problem? Please describe.**

The Help dialog box icons has a monotonous color of white and grey.Which makes the app dull and lifeless

**Describe the solution you'd like**

The colour of the icon adjacent to the item header can be made blue.So as it adds a little bit of joy and color to the UI

**Describe alternatives you've considered**

All the adjacent ico

[2021-03-10 20:29] haran2248 commented on #8166
@Arthur-Milchior @mikehardy Can I work on this issue?

[2021-03-10 21:58] david-allison-1 commented on #7741
A Snackbar would be best, as it allows a "help" link.

See:

https://github.com/ankidroid/Anki-Android/blob/83afaf6176d3e97068630733131e5e0b213bf13c/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L3572-L3575

[2021-03-10 22:14] TarekkMA commented on #7741
Okay will do a PR tomorrow with that implemented

[2021-03-10 22:50] #7995 closed

[2021-03-10 23:30] dae commented on #8162
Assuming the new timezone code will be available as well, defaulting to v2 with the new timezone code enabled would be good. For existing users, you may want to defer to the upgrade prompt in the computer version for now, as 2.1.41 introduced new code for switching from v1→v2. The current code inside AnkiDroid is based on older logic that resets all learning cards and empties all filtered decks, s

[2021-03-11 01:18] Arthur-Milchior commented on #8166
I've mostly no opinion about it. As a suer I want those menus not to get in the way, I do what I've to do and am fine with them being lifeless... but on the other hand I use text interface everyday and love when I can avoid UI altogether, so probably not a good idea to think about what I want.

I've mostly no opinion about it, would be interested to see what it would be like to have the icons in b

[2021-03-11 03:29] Arthur-Milchior commented on #8158
Hi,

There is a lot of thing, that may be should be considered as separate issues each.

What do you mean by independant? I assume you don't want to app a separate app on the play store "ankidroid card browser". or is it what you want?

You can set on an option which would allow you to select text and search it in card browser. It's off by default, but it's available in preferences.

Adding a widg

[2021-03-11 04:28] danishjamal104 commented on #8160
Hey @mikehardy , so what is actual cause of this flicker /  render issue ?

[2021-03-11 04:29] danishjamal104 commented on #8024
Whats the status of this issue?Anyone still working on this?

[2021-03-11 04:40] danishjamal104 commented on #8126
@twisp007 try using debugger in Android Studio to see what caused that error.

[2021-03-11 04:46] danishjamal104 commented on #8128
Don't you think persistence notification won't have much effect as it is not a reminder but it stays their for the whole, where as reminder are meant for creating alert, rather what we can do is increase the frequency of reminders.

[2021-03-11 04:52] mrudultora commented on #8024
@danishjamal104 I would take this up. But still waiting as some points are not clear.

[2021-03-11 05:32] mrudultora commented on #8164
@Arthur-Milchior @mikehardy Can I work on this.... ?

[2021-03-11 05:44] mrudultora commented on #8150
@mikehardy Sir this can be resolved if we don't allow **forcedDarkMode**. Probable solution would be to set it to false on some particular view or in `styles.xml`. Would you please have a look at this [documentation link](https://developer.android.com/guide/topics/ui/look-and-feel/darktheme#force-dark).

[2021-03-11 06:04] danishjamal104 commented on #8166
Hey @haran2248 , do checkout the margin/padding of the items too, as it is not following the material guidelines, to be specific the options are too much left oriented and their is a false margin in bottom, what do you suggest @Arthur-Milchior ?

[2021-03-11 07:37] Arthur-Milchior commented on #8164
Hi,

I beg your pardon, but I've no idea what is "custom tab", so I don't even understand the request. Can you maybe share a screenshot of current version and what you'd like to obtain.

I don't expect anybody else to be considering this, at least I've not heard about it, so if this change make sens and do not break other people use of the app, it would be great to have you work on a topic you car

[2021-03-11 07:39] Arthur-Milchior commented on #8166
I'll be honest, I've no notion of UX so I'll defer my trust to:
* guidelines
* automated best practice tools, in particular for accessibilities.

I clearly would be interested in a link to the specific rules we do not follow, so that I can also educate myself here.
I'd note that this should probably be in a separate request, as I assume that color and position can be changed independtly

[2021-03-11 08:06] Arthur-Milchior commented on #8024
It seems Blargian answered that they are not working on it anymore. So @mrudultora feel free to work on it

[2021-03-11 08:13] edvein-rin commented on #8128
I agree with you, @danishjamal104. It would be much more noticeable.
Then to summarize issues' point:
1. Add an option to choose a frequency of reminders.
2. New notifications from reminders should contain an updated information about a number of cards to review (probably already existing issue).

[2021-03-11 08:32] mrudultora commented on #8164
Attaching a screenshot of chrome custom tabs..
![Screenshot_2021-03-11-13-50-58-121_com.android.chrome.jpg](https://user-images.githubusercontent.com/65870389/110757973-fd72b300-8271-11eb-988b-7f65c700e7bb.jpg)

Here, the app is in dark mode but you can see that toolbar, navigation bar and the content is bright. So, as a user and developer I was asking that can I add dark mode here. Chrome custom

[2021-03-11 09:06] voidplayer commented on #8158
It was a loose word meaning "make browser not lose state and make it faster to use". Or something like that :)

It was intentionally vague because there are many ways to achieve this. My proposed solutions are there because there was a field in the issue template, but i actually dont know what would be the better way to improve on this

Yes and i use it. But the word have to exists somewhere. You

[2021-03-11 09:20] mrudultora commented on #8164
@Arthur-Milchior I would also suggest one more change. If you open changelog in dark mode the webview renders it in bright mode, but at the same time if you open About Ankidroid it follows both dark mode and bright mode. So, I think we should do this change for changelogs also. Should this be opened as a separate issue ?

[2021-03-11 09:30] haran2248 commented on #8166
Ohh makes sense I will cover that in another isssue

[2021-03-11 09:32] haran2248 commented on #8166
How about I make a PR for this issue and you let me know if it makes sense?With respect to The User Interface and color coding,Since the theme has a mix of blue,white and black I thought it would be smart to bring that color coding uniformly

[2021-03-11 09:43] kartikeysaran commented on #8161
Can i work on this issue ?

[2021-03-11 10:28] kartikeysaran commented on #7939
Can i work on this issue if this is open !

[2021-03-11 12:08] Ekagra commented on #8120
I'm unable to reproduce this error

[2021-03-11 12:13] Ekagra commented on #8010
I want to work on this issue, can someone kindly assign me ?

[2021-03-11 13:44] Abanoub-Asaad commented on #7354
Could you please provide a detailed description of the issue?

[2021-03-11 14:30] Abanoub-Asaad commented on #7931
I'm working on it.

[2021-03-11 14:43] Ekagra commented on #7931
I'm working on it

[2021-03-11 16:00] mikehardy commented on #8120
This was a bug in Android 8 hardware render that we finally fixed #8154 in 2.14.6

[2021-03-11 16:00] #8120 closed

[2021-03-11 18:50] ritvij14 opened #8169 "[Bug] Card Browser becomes empty on toggling night mode."
###### Reproduction Steps

1. Open the Card browser.
2. Toggle Night mode (on/off).
3. Cards in the Card browser disappear.

###### Expected Result
Cards stay as they are in the card browser.

###### Actual Result
The Card browser is shown empty.

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*E

[2021-03-11 18:51] Akshay0701 opened #8170 "[Bug]Activity losses its state whenever we change theme(Night Mode to Light Mode)"
###### Reproduction Steps

1. Go to Study
2. Clicked on show answer
3. Change theme from hamburger menu (switch on/off night mode)

###### Expected Result
Activity Should Keep Showing Answer .

###### Actual Result
Activity losses its state and answer layout gets invisible again.

###### Debug info
AnkiDroid Version = 2.14.3

Android Version = 10

Scheduler = std2

Crash Reports Enabled = true

[2021-03-11 18:51] ritvij14 commented on #8169
@Arthur-Milchior I am working on this. I think when we toggle the Night mode, it rebuilds the complete UI tree, but doesn't load the data again. We need to reload data as well.

Did I get that right?

[2021-03-11 20:28] david-allison-1 commented on #8164
Sounds good to me, as long as it'll be compatible with API levels that don't support system-level night mode.

[2021-03-12 00:46] jdpopkin opened #8172 "Make randomizing new card order faster"
**Is your feature request related to a problem? Please describe.**
Switching my main deck from "show cards in random order" to "show cards in order added" and back again takes a long time on my phone. I've never rigorously timed it, but it seems like each of those operations takes about ten seconds. I do this every once in a while, so it's pretty annoying; if it were faster I'd probably do it ever

[2021-03-12 00:52] Arthur-Milchior commented on #7939
@kartikeysaran : I'd love too :D

[2021-03-12 01:23] dae commented on #8172
I can't think of any reason off the top of my head why this would cause problems - the fact that non-new cards were being fetched before was likely just an oversight.

[2021-03-12 03:40] Arthur-Milchior commented on #8172
Thanks a lot @dae for confirming. Seems a really nice analysis, thank you for explaining so much.
Don't hesitate to come discuss on discord with us, so you can bounce ideas with us and check whether we see any reason why it would not work, it may have saved you time as it seems you had to really look carefully at everything. Or maybe on anki official forum.

If there is the similar problem in Rust

[2021-03-12 04:18] Arthur-Milchior commented on #8169
Seems to make sens. I've not had time to investigate precisely, but if it works and make a sensical change, that's great!

[2021-03-12 05:00] Bbiswabasu commented on #8170
I would like to work on this

[2021-03-12 07:14] Ekagra commented on #3593
I am working on it

[2021-03-12 07:18] Ekagra commented on #6669
I am working on it

[2021-03-12 07:28] Ekagra commented on #6669
It's not showing any square on that screen, can anyone help me with that?

[2021-03-12 08:25] infinyte7 commented on #6669
This contain sample deck. Import it in AnkiDroid and click on far right (new, learn, review number) on deck name.
To view the source.
1. Long press sample deck name
2. Click option
3. View deck description
In Anki Desktop the description window use qt webview to display html. So, in case of AnkiDroid also android webview will be used.

Extract sample.apkg, import and view
[sample.zip](https://gith

[2021-03-12 08:39] ashwanikr7499 commented on #5022
@mikehardy  can you elaborate on this issue a little bit?

[2021-03-12 08:47] ashwanikr7499 commented on #5022
Hi @mikehardy, can you elaborate on the (existing) issue a little bit?

[2021-03-12 09:22] ashwanikr7499 commented on #8140
Hi, can I work on this issue, I think I may be able to fix it?

[2021-03-12 09:30] mrudultora commented on #6535
@david-allison-1

Can I implement in the below way rather than the method suggested by you?

Firstly, I will read the **changelog.html** from assets folder, and if the theme of the app is dark/black, I will replace body tag in a different way. For more clear info,
I will search `<body` (it's intentional to include only and only first angular bracket of body tag) and replace it with something like

[2021-03-12 10:16] sakshi-1604 commented on #7911
working on it

[2021-03-12 11:21] ayush1729cpp commented on #8024
is anyone working on this issue , or shall i work

[2021-03-12 11:21] ritvij14 commented on #7937
@Arthur-Milchior is there some way to reproduce this? Because on my device it doesn't slow down at all. :thinking:

[2021-03-12 11:43] #7621 closed

[2021-03-12 11:49] mrudultora commented on #6535
Please clarify few things...

• Whether its debug or release mode... in both cases the changelogs will be fetched from assets folder ?
• Color changes required in theme (link colors, title color, etc.) .

I tried the way you suggested but was unable to change the theme using ` webView.evaluateJavascript`. Also, after downloading the app from Google Play Store there is no option to view changelogs

[2021-03-12 12:20] Ekagra commented on #6669
@infinyte7 thanks for the input

[2021-03-12 13:16] Abanoub-Asaad commented on #7679
`I'm working on it`

Could you please provide a detailed description?
Should I make this item appear? What's the funtionality of it and ... ?

[2021-03-12 13:45] #7997 closed

[2021-03-12 13:47] mikehardy commented on #8075
tangent thought: I know some alpha testers use termux and access the collection from ankidesktop-running-on-android somehow, plus via ankidroid, could be that use case? Not sure how the use case goes where AnkiDroid API is used (say: adding a note from a dictionary app that has us integrated, or using the Ankidroid API Sample for same) while AnkiDroid is open

Mostly I'm here to tag this for miles

[2021-03-12 14:02] mrudultora commented on #7526
@david-allison-1 Please reopen this issue.

[2021-03-12 15:06] VamsiKrishnaCommits opened #8176 "Adding an option to select all cards in the "study a random selection of cards" in custom study"
**Is your feature request related to a problem? Please describe.**
I often use the feature study a random selection of cards  in custom study and I have to go to the card browser to find the total number of cards(Some times)  . I was thinking why don't we add a feature to just select all the cards.
**Describe the solution you'd like**
So , in the dialogue box ,  we can just add a check box below t

[2021-03-12 16:51] Arthur-Milchior commented on #2609
I removed priority low. It has been regularly asked for five years, again today on discord, I assume it's a feature people care about.
I added good first issue as I assume it's mostly a question of adding a setting. And we have a lot of people looking at good first issue now.

[2021-03-12 16:53] Arthur-Milchior commented on #4699
Someone contacted me to work on it. I assume @jportoles that you're not working on it anymore.

[2021-03-12 17:25] SubhamJena commented on #8163
I am afraid:
• Tried installing the previous versions of Ankidroid. But the problem persisted.
• Can't blame Hacker's keyboard because neither did I mess with it nor updated it.
• What I did was updated few days back to Anki 2.1.40 and updated AnkiDroid twice upon its two recent releases.

*****
The problems looks specific to some devices:
Freshly installed the apps (both Hacker's keyboard & AnkiD

[2021-03-12 17:45] bhatushar commented on #8024
@mrudultora @ayush1729cpp Are you working on this issue? If not, please let me know as I'd like to work on it.

[2021-03-12 19:13] mrudultora commented on #8024
@bhatushar @ayush1729cpp I am currently working on another issue. I guess, you can mutually decide and anyone can take this up. I am not on it as of now.

[2021-03-12 19:13] mrudultora commented on #8024
@bhatushar @ayush1729cpp This had to be implemented.

[2021-03-12 22:13] david-allison-1 commented on #7679
AnkiDroid has a lookup dictionary which is rarely used. It involves looking up selected text in one of a few externally defined dictionaries.

It can be enabled in the settings.

The current flow is:

* Highlight a word,
* Copy it
* A clickable "lookup" icon should appear,

It would be helpful to also allow a menu item to replicate the functionality without copy/pasting the word:

* Highlight the

[2021-03-12 23:06] david-allison-1 commented on #6535
Yes: The same file -

https://github.com/ankidroid/Anki-Android/blob/cde9ec5200bb9917147797a420ce80d3fab8c67f/AnkiDroid/src/main/java/com/ichi2/anki/Info.java#L137

Use your best judgment

No, but I've been considering it. Feel free to add a PR/an issue to do so (ideally in the advanced settings).

[2021-03-12 23:08] ChaxuGarg commented on #8024
Can I give this issue a try? @mrudultora

[2021-03-13 00:15] Arthur-Milchior commented on #7952
I do not know whether it should be kept open. It may be a case where we won't fix, due to the difficulty relative to how much it would improve UX. But at the very least, it should be kept open until a human decide to close it

[2021-03-13 00:17] Arthur-Milchior commented on #7937
@ritvij14 If you download my collection http://milchior.fr/anki/ then it should be slow. It really requires a huge collection with plenty of note type and plenty of cards

Warning: depending on culture, it may contains cards that may be considered as NSFW

[2021-03-13 00:30] Arthur-Milchior commented on #7911
@sakshi-1604 were you able to reproduce this bug?

I believe I already solved it and probably forgot to close the pull request. Really sorry about that.
If you can reproduce it, don't hesitate to ask for information, the process is not strainghtforward

[2021-03-13 01:28] fletchermoore opened #8177 "answer button position top hides card content in reviewer"
With a recent update cards were showing blank on review. I toggled the setting answer button on top back to the default bottom in order to get it to show cards again, but I don't prefer this position because I fat finger bottom buttons. I'm mainly using gestures.

[2021-03-13 02:07] ayush1729cpp commented on #8024
@mrudultora thanks for telling ,  i am working on another issue so @ChaxuGarg you can ask @bhatushar if he is working on it or not

[2021-03-13 02:52] david-allison-1 commented on #8177
@fletchermoore Thanks for the report!

Which version was this problem exhibited on? We fixed a bug where the card content wasn't appearing in V2.14.6

Can you confirm that you still can't see card content if the position is "Top".

If this is the case, could you go to `Settings - Advanced - About AnkiDroid - Copy Debug Information` and paste the data here so we can look into it further.

Thanks

[2021-03-13 03:03] fletchermoore commented on #8177
Ah looks like I didn't yet have 16. It works now. Thank you

[2021-03-13 03:03] #8177 closed

[2021-03-13 03:11] Akshay0701 commented on #7832
I will to work on this issue .

[2021-03-13 03:20] sakshi-1604 commented on #7173
working on it

[2021-03-13 03:29] ritvij14 commented on #6565
I would like to work on this. I see a PR already merged for this though, so we need to make more additions?

[2021-03-13 03:36] david-allison-1 commented on #6565
@ritvij14 I'd added the help screen, but not the button/functionality in this PR

Relevant code to add this to the UI would be:

https://github.com/ankidroid/Anki-Android/blob/1ef55b00b426e263637baafbb6ec9f3743391e00/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/HelpDialog.java#L52-L77

This can be seen by pressing "Help" in the app.

Please also consider the following comment: https://github.com

[2021-03-13 03:38] ritvij14 commented on #6565
@david-allison-1 alright got it. Also, thanks for sending the code. I will get started on this and any doubts I will ask them directly on discord.

[2021-03-13 03:47] david-allison-1 opened #8178 "[Bug] Rust - Check Database OOM"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/2811a70b-bccf-4ad4-9b94-3386ac6d4196

[code]

Initial Thoughts

* Better handling of Rust DB Streaming
  * Maybe: instead of 1000 rows, determine how to count the size of a protobuf as we stream it into a byte array, and stop at a certain point
   * Or vary the number of rows: since we're getting FieldData, rows c

[2021-03-13 03:48] david-allison-1 commented on #8178
Also to note: I was expecting that this was likely to be a blocker, it's only happened once this month,

[2021-03-13 03:57] david-allison-1 commented on #8161
@kartikeysaran Sure!

[2021-03-13 03:59] david-allison-1 commented on #8156
Hi, this is likely an issue with the `Advanced - AnkiDroid Directory` setting being restored from a device backup from another device.

Could you set this to: `/storage/emulated/0/AnkiDroid` and see if this fixes the issue?

[2021-03-13 04:20] sakshi-1604 commented on #7173
Which one of the following is "Traditional Chinese".
I tried to goggle it ,but was not able to find it.
I went to  System Language and got following option in emulator
![Screenshot_1615608391](https://user-images.githubusercontent.com/65847879/111018848-76444d00-83e1-11eb-8c66-cb8a82e50f78.png)

Will mean a lot if u would help.

[2021-03-13 04:34] david-allison-1 commented on #7173
`中文 (台灣)` - Traditional Chinese (Literally Chinese (Taiwan))
`中文 (中国)` - Simplified Chinese (Literally Chinese (China))

[2021-03-13 05:15] JG916 opened #8179 "Restructure ReadText and TextToSpeech usage"
## Problem
ReadText and its usage of TextToSpeech is prone to bugs.
The internal structure of ReadText is a mix of static and non-static fields and functionality, which leads to a large amount of trouble with state.
The connections between ReadText, TTS and AbstractFlashcardView are also complicated.

## Solution
Without getting too deep into possible solutions (way too much to take in before I fe

[2021-03-13 05:25] Akshay0701 commented on #8170
what if we navigate activity to deck page after changing theme, will that resolve null data issue?

[2021-03-13 05:38] infinyte7 commented on #8160
@mikehardy The buttons and card count not appearing due to webview. So, I have created JS Addon for adding button and card count using JS API.
It is not good solution but if user use hardware rendering with the JS Addon will be helpful or not?

https://github.com/infinyte7/Anki-Custom-Card-Layout/tree/master/JS%20addon#2-button-and-card-count-addon

[2021-03-13 05:42] david-allison-1 commented on #7832
Just to note: `lily_123#0506` on Discord requested this issue, and Akshay was Ok with this. Assume it's assigned for a reasonable period of time

[2021-03-13 06:02] mrudultora commented on #6535
@david-allison-1 I have tried it in another way using javascript only. Here, I will inject javascript function after `webView.loadUrl` so that I change properties. If I will face any problem, I will let you know.

Use your best judgment

Okay. I will change with appropriate colors.

[2021-03-13 09:03] kartikeysaran commented on #8161
Hey @Heineken can you please attach a video file for a clear understanding of the issue :)

[2021-03-13 09:03] kartikeysaran commented on #8161
Performing the Bug reproduction steps

[2021-03-13 09:49] arpitnema07 commented on #7526
hey, I would like to work on this issue, can someone help me on how to get started.

[2021-03-13 09:58] bhatushar opened #8180 "[Bug] Deck Options are not saved until you go back to Deck screen"
###### Reproduction Steps

1. Go to deck options
2. Modify any setting
3. Close app

###### Expected Result

The changes should persist.

###### Actual Result

The changes are not stored until you go back to the Deck screen.

[2021-03-13 10:01] mrudultora commented on #7526
Hi, @arpitnema07 sorry but I have started working on it. Would you mind to take another issue?

[2021-03-13 10:17] david-allison-1 commented on #8180
For design discussion

It's currently not possible for a user to undo changes that are made on this screen. Closing the app allows a user to back-out of changes that they've made.

It might be prudent to add in a "save" button to make this change explicit, but in this case it would still be correct to not save if the screen is closed.

[2021-03-13 10:28] arpitnema07 commented on #7526
Ok, @mrudultora but if you're not done than I have resolved the issue, btw Thanks.

[2021-03-13 11:11] david-allison-1 commented on #6565
Just to note: ACRA is set up in `AnkiDroidApp` (the entry point to the app):

https://github.com/ankidroid/Anki-Android/blob/24443a327ed060dc31f4c16c88a3553d50d7ad05/AnkiDroid/src/main/java/com/ichi2/anki/AnkiDroidApp.java#L127

[2021-03-13 12:17] 2tanayk opened #8183 "Digits not very visible in the night mode[Bug]"
###### Reproduction Steps

1. Go to the navigation drawer
2. switch to night mode
3. Check the last 2 digits (when 0) on the right side of a deck
![ankil](https://user-images.githubusercontent.com/60653277/111029351-4f5a3b00-8422-11eb-955a-f6f51827bc56.jpeg)
![ankid](https://user-images.githubusercontent.com/60653277/111029373-69941900-8422-11eb-8960-2eb9fdc68a2b.jpeg)

(This is more of an enhance

[2021-03-13 12:29] 2tanayk commented on #8183
I would also like to work on this issue if accepted :)

[2021-03-13 15:10] Heineken commented on #8161
Hey kartikeysaran,
Great that you are motivated to tackle this issues.
Sorry, I'd rather not bother recording and uploading a MB sized video of a problem that can be described in a few bytes. Which I did.
Is there anything unclear?
Have you tried to reproduce the problem?

[2021-03-13 16:13] Ekagra commented on #6669
can somebody kindly review this PR @infinyte7 @david-allison-1 ?

[2021-03-13 16:24] imaryandokania opened #8185 "Data leak possible due to public function [Bug]"
###### Reproduction Steps
These steps are for android (java)
1.open the cradle file
2. follow the path src/main/java/com/ichi2/anki/MyAccount.java

###### Expected Result

Data leak when attempt login() called ,as the function is public

###### Actual Result

The function must be made private, to ensure data leak is prohibited

###### Debug info
<img width="657" alt="Screenshot 2021-03-13 at 10 06

[2021-03-13 16:30] Akshay0701 commented on #8185
Can I work on this issue ?

[2021-03-13 19:47] Arthur-Milchior commented on #8183
This is indeed a real isuse. Clearly, either it should be displayed and can be read, or not displayed at all. In any case, I know the accessibility test app stated it was not accessible. I'm happy you'd work on it, I think I had no time.

I want that the result pass accessibility test, please. You can take a look at the app on https://developer.android.com/guide/topics/ui/accessibility
I'd also li

[2021-03-13 19:48] Arthur-Milchior commented on #8183
And in case it's not clear, once the feature request is accepted as relevant, you don't need our permission to work on it. So you can work on it already

[2021-03-13 19:49] zoulja opened #8186 "[Bug] Answer column displays something unclear"
###### Reproduction Steps
I'm preparing multiplication table cards for my kid
1. Create basic card with Answer input
![image](https://user-images.githubusercontent.com/10187203/111042309-dd97e680-844d-11eb-8d35-1997690a114a.png)
2. Check it in cards table

###### Expected Result
Answer column shows actual answer - 9
###### Actual Result
I'm not sure where data for this column comes from and why it

[2021-03-13 19:53] zoulja opened #8187 "Add 'View cards' to deck's context menu"
**Is your feature request related to a problem? Please describe.**
Current implemenation, when you need to click dedicated menu item in left pane(to see the cards you have) is not user friendly
Looks like some legacy implemenation that could be improved

**Describe the solution you'd like**
Need to add 'View cards' menu in deck's context menu
Actual layout:
![Screenshot_20210314_213512](https://us

[2021-03-13 19:59] Arthur-Milchior commented on #8185
I agree it's uselessly public and would accept a change making functions private, it do not seems it can hurt.
But I'd like to ask whether you see any way it could leak value currently? Even if someone could force attemptLogin to be called from another class, I can't see how this particularly can leak value.

On such a small issue, changing public to private, where the change is no longer/more com

[2021-03-13 20:01] zoulja opened #8188 "[Bug] Actual card type must be respected during copy"
###### Reproduction Steps

1. Edit a 'Basic with answer input' type card
2. Copy this card to a new one
3. Now edit a Close type card
4. Copy this card to a new one

###### Expected Result
Card type is respected, so new card also has Close type

###### Actual Result
Card type is stuck and the latest copy type from step 2 is used (Basic in this case)
So after copying and editing several cards you c

[2021-03-13 20:31] 2tanayk commented on #8183
Yes I do know about the accessibility test thing and I think it fails even without having to test it

[2021-03-13 20:33] 2tanayk commented on #8183
I'll start working on it as soon as it is possible!

[2021-03-13 21:36] rajat7k commented on #8150
@mrudultora I recently start using this app and  notice...that something is wrong with dark mode of this with system dark mode
but when I cross check this same issue with telegram which has same feature of in app dark mode than their is no such issue like that dark mode of app and system, work fine... so I think this is not Miui issue...because if this issue is miui issue than telegram has also un

[2021-03-13 23:18] imaryandokania commented on #8185
Yes i agree this is a minor issue, but what if i create a custom patch using lucky patcher or other apps, and allowing to target a particular attemptlogin function , and causing it to invoke a new database connectivity by adding a simple(json) file and pushing data after every attempt login function is called.
More over, for this issue I would like to work,i see some more security issues like even

[2021-03-13 23:48] david-allison-1 commented on #8185
I'm going to put myself out here. I don't understand how this could cause a data leak.

Could you explain this to me like I'm a (competent) beginner

My thoughts:

If you can rewrite the code of the application (lucky patcher), and pass signing verification then by definition you can control the data that the app. If you can rewrite the code, then you can easily change a few bytes to make a method

[2021-03-13 23:51] Arthur-Milchior commented on #8185
I do not know lucky patcher. A quick search seems to indicate a user has to install it by themselves. If someone has enough control over the phone to get this app installed, then I don't believe that we can make anything to keep this app secure in any way. Clearly, securing an attack against the app by someone having control over the phone is NOT a priority, and I clearly won't spend time trying t

[2021-03-14 00:40] avirajrsingh commented on #8176
@VamsiKrishnaCommits I too like your suggestion. Also we can display the total number of cards on the dialog itself so if a user needs to enter a number less than total number of cards he gets to know the number. Also instead of prefiling the EditText with 100 we can prefill it with the total number of cards present in the deck.

[2021-03-14 00:59] avirajrsingh commented on #8180
@david-allison-1 What if we show a alert dialog to the users if they try to exit the application without saving changes? We can give options to discard or save directly in the dialog itself, if it makes sense.

[2021-03-14 01:13] Arthur-Milchior commented on #8183
You don't have to test, I can confirm it is failing too. It's obviously failing here.
This was not a test required until recently to be honest, and we have a lot of correction to do

[2021-03-14 01:42] SubhamJena commented on #8163
I even see the WebView renderer crashes while reviewing these cards. I have reviewed these cards earlier but it was fine then. May be in some way My UPPERCASE issue be related to the issue raised by you <a href=https://github.com/ankidroid/Anki-Android/issues/8160#issue-827760815>here</a>

[2021-03-14 03:30] imaryandokania opened #8192 "ProgressDialog extra space due to empty title [Bug]"
###### Reproduction Steps

1. The path to error is com/ichi2/anki/MyAccount.java
2. Progress dialog initialisation inside  onPreExecute()

###### Expected Result(after correction)
<img width="292" alt="Screenshot 2021-03-14 at 9 08 33 AM" src="https://user-images.githubusercontent.com/61244704/111056182-38106180-84a5-11eb-94f8-202611f6d20d.png">

###### Actual Result
<img width="292" alt="Screensh

[2021-03-14 03:43] bhatushar commented on #8024
I've submitted a PR for this issue. If it gets accepted, close this thread.

[2021-03-14 03:45] imaryandokania commented on #8185
Yes , I agree with you since the app is not oriented towards any sensitive credentials , so this issue is not appropriate.

[2021-03-14 03:45] #8185 closed

[2021-03-14 04:00] david-allison-1 commented on #8192
Looks good to me! Let's get this fixed.

[2021-03-14 05:12] aflah02 opened #8194 "Restructure the README file and add a Code of Conduct File"
Since Anki-Android is now going to reach larger audiences who will be willing to contribute it seems to be essential that the README file has additional information about the tech stack used. Link to other related repositories such as the Anki Documentation one. Also similar to other projects we need a basic code of conduct file to refer to users in case there is some scuffle. This could be a good

[2021-03-14 05:12] aflah02 commented on #8194
I can work on this and finish these tasks

[2021-03-14 05:14] imaryandokania commented on #8192
I have committed and also create PR . Hope it gets merged

[2021-03-14 05:20] aflah02 commented on #8194
To adopt the following code of conduct which is used by almost all other open source projects we'll need to give an email id for people to anonymously voice their concerns.
https://www.contributor-covenant.org/version/1/4/code-of-conduct/

[2021-03-14 06:13] sakshi-1604 opened #8198 "adding colour change option in toolbar"
The android version lacks the colour changing option for font in the toolbar. It will be great if this feature is added

[2021-03-14 06:18] david-allison-1 commented on #8198
Thanks! Duplicate of https://github.com/ankidroid/Anki-Android/issues/7766.

Pull requests very welcome. We had a really nice UI design proposed for this

[2021-03-14 06:18] #8198 closed

[2021-03-14 06:21] Arthur-Milchior commented on #8194
There is plenty of questions such as:
* do we want one
* do we need one
* which one to choose
* is it the right time to consider it

Since we suddenly have a big explosion in contributors, it may be the right time, as the risk of needing one increase. However, this one is clearly not appropriate right now. For example "A working group of community members is committed to promptly addressing any re

[2021-03-14 06:23] sakshi-1604 commented on #7766
I would like to work on this

[2021-03-14 06:23] aflah02 commented on #8194
@Arthur-Milchior Hmm I got your point. Thanks for the feedback.
I'll now start with smaller issues first such as adding the techstack and stuff

[2021-03-14 06:23] #8194 closed

[2021-03-14 06:26] david-allison-1 commented on #7766
Thanks! Do check out the design. It's lovely: https://x3auwf.axshare.com/#id=aiez77&p=page_1&sc=2

[2021-03-14 07:47] mrudultora commented on #7526
@david-allison-1 Android Studio does not have all the required icons. Could you suggest me a preferred website for searching? ( I have already looked on icons8, freepik, etc.)

[2021-03-14 07:52] david-allison-1 commented on #7526
Right now, I don't know, sorry.

From memory, there should be appropriate icons in the pack provided by Android Studio

[2021-03-14 07:56] #8192 closed

[2021-03-14 08:06] david-allison-1 commented on #8186
Hi,

This can be fixed via the card template "Browser Appearance" functionality:

https://www.youtube.com/watch?v=JbxNP4pSIBA

Enter `{{оборот}}` in the "Answer Appearance".

Best,

David

[2021-03-14 08:52] IAmJaishree commented on #7354
@david-allison-1 @Arthur-Milchior  I am interested in working on it, can I start on it?

[2021-03-14 08:53] aflah02 opened #8200 "Improve README"
I would recommend adding the tech stack being used and list of contributors like this - https://github.com/facebook/jest#credits
This would be a good morale booster for contributors and make the Readme look more attractive

I can work on this

[2021-03-14 08:54] aflah02 opened #8201 "Improve README"
I would recommend adding the tech stack being used and list of contributors like this - https://github.com/facebook/jest#credits
This would be a good morale booster for contributors and make the Readme look more attractive

I can work on this

[2021-03-14 08:59] zoulja commented on #8186
Thank you good sir, you are my saviour 🙏
Is there some article/documentation to understand the logic behind current implementation (which doesn't look reasonable to me, but maybe I'm just missing something)?

[2021-03-14 09:13] aflah02 commented on #8201
You can look at how the updated README with contributors would look like here - https://github.com/aflah02/Anki-Android/blob/master/README.md

[2021-03-14 09:29] infinyte7 commented on #7526
@mrudultora
View
https://romannurik.github.io/AndroidAssetStudio/icons-launcher.html
https://material.io/resources/icons/
And use vector icon instead of png

[2021-03-14 09:36] mrudultora commented on #7526
@infinyte7 Thanks for the info. I had found vectors for all except last one. For, **clear field** can I use the png icon of erase already present in app ( or this vector [icon ](https://material.io/resources/icons/?icon=clear&style=baseline))

[2021-03-14 09:41] mrudultora commented on #8200
@aflah02 Have you opened two issues for the same reason?  It seems to be duplicate of #8201. If that's the case please close any one of them.

[2021-03-14 09:43] aflah02 commented on #8200
@mrudultora It seems due to my net connection issue I submitted again I'll close this thanks

[2021-03-14 09:43] #8200 closed

[2021-03-14 09:43] infinyte7 commented on #7526
[clear](https://material.io/resources/icons/?icon=clear&style=baseline) icon look good to me.

[2021-03-14 10:47] IAmJaishree commented on #4925
Hi @david-allison-1, I would like to work on it, can I take this issue?

[2021-03-14 11:23] IAmJaishree commented on #7939
@kartikeysaran are you working on this?

[2021-03-14 11:44] kartikeysaran commented on #7939
Yes I am

[2021-03-14 12:28] IAmJaishree commented on #2609
Hi @Arthur-Milchior @david-allison-1, can I work on this issue?

[2021-03-14 12:30] IAmJaishree commented on #3593
Hi @mikehardy, can I work on this one? :)

[2021-03-14 12:42] imaryandokania opened #8202 "Whiteboard data loss when theme switch[Bug]"
###### Reproduction Steps

1. The whiteboard draw option
2. when pen is used
3. And then night mode is switched, the whiteboard gets cleared

###### Actual Result
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/61244704/111068790-505a9d80-84f2-11eb-8aad-5ba9d29406d1.gif)

###### Expected Result
Caching of the whiteboard data

###### Debug info
I am ready to work on this , proba

[2021-03-14 13:11] Akshay0701 opened #8203 "Marathi language xml files is not well translated."
## Problem
Ankidroid do support for marathi language but when we select locale language as marathi it keep shows all english words

## Solution
I viewed full codebase there is problem with marathi translated string files in values folder (it is in english translation not marathi) ,
So to solve this issue i have to translate english word to marathi word.

## Additional context
The reason i am takin

[2021-03-14 13:12] Akshay0701 commented on #8203
i am working on this issue.

[2021-03-14 13:26] infinyte7 commented on #8203
@Akshay0701 View this to get started
https://github.com/ankidroid/Anki-Android/wiki/Translating-AnkiDroid

[2021-03-14 13:31] imaryandokania commented on #8202
I am working on this and I think I will be able to resolve this

[2021-03-14 13:37] Akshay0701 commented on #8203
Thanks alot ,it will make this transition part more easier

[2021-03-14 13:41] Akshay0701 commented on #8203
Hey @infinyte7 now i understood , why marathi translation was so bad ,crowdin have very few word in marathi language, thats why its result bad translated file. again thanks :)

[2021-03-14 15:14] bhatushar commented on #7937
@Arthur-Milchior I imported your collection but "Manage note types" is still loading at normal speed. I tested it on an emulated device (Android 10, API 29). Is this issue fixed?

[2021-03-14 17:47] mikehardy commented on #8097
Yes - resolving this as a duplicate in favor of #8010 as that one has more information

[2021-03-14 17:47] #8097 closed

[2021-03-14 17:49] david-allison-1 commented on #3593
Thanks!! Lots of really useful (and not too difficult) work can be done with the notifications. We get a fair amount of feedback and it needs some care, but nobody's had the time to get around to it

[2021-03-14 17:50] mikehardy commented on #8186
Interesting - I would have similar expectations to @zoulja - if I set card browser to the name of a field and that field has something in it, why wouldn't that show up :thinking:

[2021-03-14 17:51] david-allison-1 commented on #8203
Thanks! Very happy to see work on this, but let's move any related discussion to CrowdIn, as that's the platform we use for language related issues: https://crowdin.com/project/ankidroid/mr#

[2021-03-14 17:51] #8203 closed

[2021-03-14 17:53] mikehardy commented on #8180
There is no way to know conclusively when a user exits an app (or an app is killed etc) on Android, the shutdown / exit hooks etc are unreliable.

I'd be +1 for an explicit save button - making an action explicit is usually the right choice in my opinion

[2021-03-14 18:01] Akshay0701 commented on #8203
Yes but crowdin platform don't have enough words to translate  English to Marathi language ,that's why I raised issue .

[2021-03-14 18:02] mikehardy commented on #8150
I don't believe any work has been done to integrate the "new" system dark mode that Android has implemented, AnkiDroid itself has had a dark mode forever, long before Android did, so they likely just do not coexist well.

I would assume that the reference documentation (https://developer.android.com/guide/topics/ui/look-and-feel/darktheme) needs to be read, and the entire app scanned for (mis-)use

[2021-03-14 18:04] mikehardy commented on #5685
Only slightly different from what David proposes, but with no long-pressing needed, and kicks it from the navigation drawer for Android 10+ where it is supported - from https://github.com/ankidroid/Anki-Android/issues/8150

[2021-03-14 18:06] mrudultora commented on #8150
@mikehardy I am taking this up ;-)

[2021-03-14 18:06] Akshay0701 commented on #8203
I am already completed half translation , only few files is remaining to translate to Marathi language

This is translation of crowdin for marathi language(it keeps showing English words)

![Screenshot_20210314-155809.jpg](https://user-images.githubusercontent.com/52353967/111078863-8e20eb80-851d-11eb-87d1-5855c2f6c1bb.jpg)

I converted to Marathi ,here is the screen shot
![Screenshot_20210314-155

[2021-03-14 18:10] mikehardy commented on #8178
for any user-provided data I think we must be able to provably constrain the size of data in flight, even if it is inside a given arbitrary-sized user-provided data element

I don't like the idea of fallbacks: multiple implementations to manage, and difficult to probe correctness as you can't even see the second implementation exercised in the wild until the first implementation fails

Handling an

[2021-03-14 18:12] mikehardy commented on #8150
Great!

please report status of the preliminary test prior to doing any settings work. We should know conclusively that if we at least just use the default DayNight theme that things work on MIUI before continuing down this path as we will still have this issue if that does not work, and solving it well may alter everything solution-wise

Also, for work that affects appearance in the app, the gold

[2021-03-14 18:13] mikehardy commented on #8163
I can't see how this is an AnkiDroid problem, but I could be wrong. I would investigate Hacker's keyboard perhaps, their release notes etc

[2021-03-14 18:17] mikehardy commented on #8170
Duplicate #4035
Please search issues list (open and closed) prior to logging issues

[2021-03-14 18:17] #8170 closed

[2021-03-14 18:19] mikehardy commented on #4035
This is a special case of #3654 - please refer to that issue for easier reproduction than night mode toggles (specifically: "don't keep activities" developer setting in phone preferences

[2021-03-14 18:21] mikehardy commented on #8140
Hi there! Google Summer of Code has not begun, so any work you do won't be related to that, in case that is an issue. That said, until Google Summer of Code begins, the general work flow here is simply to check if there is any activity on an issue or if there is a PR open for it. If there is no recent activity and no PR: just do the work and post a PR. It's open source, no need to wait for permiss

[2021-03-14 18:22] mikehardy commented on #8187
PRs happily accepted :-) - for any user interface work, please post screenshots before and after with the proposed change so we may see how it looks without pulling + building a developer branch

[2021-03-14 18:23] mikehardy commented on #6565
How to test ACRA-related things: https://github.com/ankidroid/Anki-Android/wiki/Crash-Reports#developing--testing-acra-functionality

[2021-03-14 18:27] mikehardy commented on #8142
Hi there! Google Summer of Code has not begun, so any work you do won't be related to that, in case that is an issue. That said, until Google Summer of Code begins, the general work flow here is simply to check if there is any activity on an issue or if there is a PR open for it. If there is no recent activity and no PR: just do the work and post a PR. It's open source, no need to wait for permiss

[2021-03-14 18:40] mrudultora commented on #8150
@mikehardy I will report the progress on discord channel of AnkiDroid. I am having MIUI. I will thoroughly test it.

[2021-03-14 18:42] mikehardy commented on #8150
Please do not do that, Discord is not really searchable or persistent.
Keep all communications related to an issue on the issue, or in a related PR please

[2021-03-14 18:45] zoulja commented on #8187
Thank you @mikehardy, I've updated description.
Can't promise anything abt PR, last time when I tried to contribute I wasn't even able to setup development environment ¯\_(ツ)_/¯

[2021-03-14 18:45] mrudultora opened #8205 "Adding more translations to app"
**Is your feature request related to a problem? Please describe.**
Currently, the app supports translations. But according to one of the members, currently only 9% text is translated. That's very low.

**Describe the solution you'd like**
Crowdin supports automated translations with the help of variety of engines (it have it's own TM and MT service). For ex, Microsoft Translator, Google Translate,

[2021-03-14 18:46] mrudultora commented on #8150
@mikehardy Okay, I will remember this in future. I think then going with draft PR will be a nice option. Is that ok?

[2021-03-14 18:47] david-allison-1 commented on #8203
I'm sorry, I don't quite understand this. Could you explain?

----

If it's the fact that the app hasn't been translated, then there's little point in keeping an open issue for it. CrowdIn will handle organisation around the issue much better than GitHub. There's little point in drawing people's attention to it as 99% of contributors won't be able to help, and those that can will be using CrowdIn

[2021-03-14 18:48] Akshay0701 commented on #8205
Thanks for raising this issue , I also talking about same thing,it is need to address.

[2021-03-14 18:49] #8024 closed

[2021-03-14 18:50] mikehardy commented on #8024
@srghma next alpha will have this courtesy of @bhatushar :smile:

[2021-03-14 18:51] mikehardy commented on #8187
:-), we are participating in the google summer of code this year and have a HUGE pile of motivated participants at the moment so there is some hope for it, cheers

[2021-03-14 18:57] david-allison-1 commented on #8205
Mirroring what I said on Discord: (Opinions open for discussion)

I'd only be happy if machine translation is used by fluent speakers to supplement their translation efforts. Adding partially or badly translated text means that our translators would lost their measure of progress, and a bad result would likely frustrate users more than using English if we're using inconsistent terms throughout the

[2021-03-14 18:57] Akshay0701 commented on #8203
No actually Arthur and mrudultora discussing ,about this issue with other possible approach , mrudultora also created issue to track all discussions related to this topic ,we will see how we can improve this language part of app.

[2021-03-14 19:03] mikehardy commented on #8150
Yes - and I will keep my fingers crossed that a simple extension of DayNight theme as proof of concept works for you (I assume you have a MIUI device to verify?)

[2021-03-14 19:08] mrudultora commented on #8150
@mikehardy Yes, I have MIUI to verify.

[2021-03-14 19:44] david-allison-1 commented on #8178
Card templates are a single string (until we move to Schema V16 - they get their own table). The string itself is split via `.substring()` which implicitly limits the length of the result.

Right now, I'll say that I don't know how I'd handle setting a "take a collection of DBRows (variable sized), and send 1MB of data, where 1MB is the size after protobuf compression"

I wouldn't feel confident a

[2021-03-14 19:51] david-allison-1 commented on #2609
Sure.

I think the first step would be to ask "what happens if the selected button doesn't exist". `Again/Good` are always going to exist. Hard/Easy may or may not exist depending on the card type.

https://github.com/ankidroid/Anki-Android/blob/7fd1304d37073e2a19b714803e26671c062ea5f7/AnkiDroid/src/main/java/com/ichi2/libanki/sched/SchedV2.java#L405-L413

https://github.com/ankidroid/Anki-Android

[2021-03-14 19:55] david-allison-1 commented on #8186
My understanding is that this depends on the card template: If the answer template contains, but doesn't start with `{{FrontSide}}`, then it won't be stripped.

https://github.com/ankidroid/Anki-Android/blob/ba6051f93e29a4ed3ebb58fe591ddcaef532d2db/AnkiDroid/src/main/java/com/ichi2/anki/CardBrowser.java#L2633-L2653

We should check with Anki Desktop to see what its behaviour is here. Possibly ther

[2021-03-14 19:59] aflah02 commented on #8201
I've also added backers now you can view it here https://github.com/aflah02/Anki-Android/blob/master/README.md

[2021-03-14 20:02] aflah02 commented on #8201
I plan to add sponsors next but right now I think there are none. Also Jest tells sponsors that they'll add their logo and link their website. Do we do the same?

[2021-03-14 20:08] mikehardy commented on #8201
Could you move the credits to be the last thing? I'd like for "Join Us" to be above it, as these graphics will grow endlessly - so they should be at the bottom I think

Please add sponsors and the way to do it is *I think* to just put a series of images / links in, up to say 20 (starting from 0):

[code]
Any number that is not a valid sponsor (yet) redirects to here: https://images.opencollective.

[2021-03-14 20:15] aflah02 commented on #8201
@mikehardy Alrighty I'll work on this. I should keep the License details at the bottom right? Also seems you've mentioned sponsors twice

[2021-03-14 20:16] mikehardy commented on #2609
If there is any way of checking which buttons exist (I think there is?) then I would say the button choice should be "the one the user selected, or the next best one that exists" - how do we express that to the user when they are selecting them? I'm not sure but it seems pretty intuitive so should make sense to most. Could be option strings like

"Easy (or Good if Easy is not an option)"
"Good"
"H

[2021-03-14 20:26] ChaxuGarg commented on #8187
Can I work on this issue, @mikehardy @david-allison-1 ? (Also I am a complete beginner to open source and big codebases, so any leads are highly appreciated)

[2021-03-14 20:30] david-allison-1 commented on #5685
Does "follow system" on a stock Android actually change the UI automatically, or is this a MIUI specific feature?

On reflection (and now I have understanding with a recent phone with night mode toggles), I'd be happy with removing the toggle if the user has set "follow system". Possibly with a preference to re-enable it (manual mode).

Assuming that the auto UI change is MIUI specific (I think it

[2021-03-14 20:33] david-allison-1 commented on #8187
Sounds good to me, as long as @zoulja hasn't already started work. Thanks!!

[2021-03-14 20:33] mikehardy commented on #7173
Haha, and that's the whole problem. Do *NOT* confuse people from China with people from Taiwan or vice-versa :scream:

[2021-03-14 20:35] mikehardy commented on #3593
Indeed, would be great to see notifications improved a lot. In general google summer of code has not started in case that is a concern for you, but otherwise any issue is open game and no need to ask really - just post a PR, although it is a good practice to say "I am looking into this now" so people see that there is activity and we don't have multiple people working on the same thing without kno

[2021-03-14 20:43] mikehardy commented on #8202
This is a special case of #3654 - that issue has info on how to easily reproduce

[2021-03-14 20:43] TarekkMA commented on #1913
I will be working on this after #8196 and #8159 get merged

[2021-03-14 20:59] mikehardy commented on #8178
agreed no need to get fiddly with pre-compressed / post-compressed sizes even if the data is perfectly *uncompressable* resulting in a slight expansion as a pathological case it would not be much so just basing on pre-compressed size seems perfectly fine by me

even when templates get their own table there will be parts of the template that are unbounded so this will never go away I think (the gen

[2021-03-14 21:09] #8164 closed

[2021-03-14 21:10] mikehardy commented on #8164
Next alpha will have it fixed! Thanks @mrudultora !

[2021-03-14 21:15] mikehardy commented on #5685
Good point re: selecting a "sub-theme" within dark mode (or light mode). So, theme selection (which is our list of subthemes, really) should be available at all times

It is almost as if with "follow system" you want to be able to specify the sub-themes independently, "dark theme to use if system is in dark mode:" etc

It's complicated to offer all the flexibility !

[2021-03-14 21:19] ritvij14 opened #8207 "[Bug] Error reporting mode changes back to Never report on restarting the app."
###### Reproduction Steps
`In Debug mode:`
1. Open the app and go to Settings > General Settings > Error Reporting Mode
2. By default it will be set on `Never Report`. Change it to Always Report / Ask me, and close the app.
3. On reopening the app and going back to settings, the setting is back to Never Report.

###### Expected Result
On reopening the new setting should be retained.

###### Actual

[2021-03-14 21:27] mikehardy commented on #8176
An interesting idea...how does Anki Desktop implement this? They may have already handled it, or they may like the feature as well (can propose things here https://forums.ankiweb.net/) - I think easiest is just to have a line below the edit text that just says the current deck count, and it's done

[2021-03-14 21:28] mikehardy commented on #8205
Agreed that machine translations are not the proper solution for this. Up to now, if users are interested they translate, and if they are not, there is no translation, and that's life (and open source): you get out of it what you put into it :shrug:

[2021-03-14 21:30] aflah02 opened #8208 "Create a Contributions file and move content from the wiki"
**Is your feature request related to a problem? Please describe.**
Currently for aspiring contributors there is no obvious way to see how to get going. Also traditionally the wiki tag has more of an association with a description rather than the process to set up (in reference to other repos which I've seen).
I would suggest creating a Contributions File which lists the process of setting up the r

[2021-03-14 21:30] mikehardy commented on #8151
You can but fair warning: even with a fair bit of experience in this area I am not sure on the best way to resolve it. I do the build/release script maintenance and automation here and my best guess is that we need to have another build flavor for amazon builds, with a different manifest that removes the camera permission and we need to alter the amazon APK upload script to use that flavor etc.

I

[2021-03-14 21:33] mikehardy commented on #8160
@infinyte7 that could help, but we need to solve the underlying problem first I think

@danishjamal104 no idea, I don't have an Android 8/8.1 hardware device to test with, and could never reproduce it myself - when it shows up, it does not matter what version of AnkiDroid is in use back to really old ones (2.10.x at least) so it is some sort of operating system or WebView change :shrug:

[2021-03-14 21:39] david-allison-1 commented on #8207
Sorry for the bad info. Debug-only feature

https://github.com/ankidroid/Anki-Android/pull/8193#discussion_r593960483

[2021-03-14 21:39] #8207 closed

[2021-03-14 21:39] mikehardy commented on #8208
I see no value in a contributing file vs the wiki, that is a sideways motion, no actual benefit, in fact it makes it more difficult for people to edit I think, so I do not like it

If you have content you would like to add to the wiki, you may just edit it

putting a contributing file in that points to the wiki is fine by me though - just propose a PR for that if you like

[2021-03-14 21:39] #8208 closed

[2021-03-14 21:42] aflah02 commented on #8208
Hmm alright will do thanks @mikehardy

[2021-03-14 21:42] mrudultora commented on #8205
@mikehardy I agree. But, is there a way to motivate users to translate. I guess, most of them never looks from that perspective.

[2021-03-14 21:49] david-allison-1 commented on #8176
I might not be understanding this issue, please let me know if I'm mistaken.

It doesn't seem appropriate to use the "randomly select cards" as a means to study all the cards, and I don't think we want to encourage this.

Filtered decks are primarily based on a search.

Create a filtered deck for the search `deck:<name>` instead and that'll handle a filtered deck displaying all the cards.

[2021-03-14 21:52] ChaxuGarg commented on #8187
Created a PR for this issue. Please check and give feedback. Thanks a lot!!

[2021-03-14 21:52] david-allison-1 commented on #8205
We've recently added a "Contribute/Translate" in our new "Help" menu - I haven't added metrics to this (I'll raise an issue), but I don't feel it will be well-used.

It's worth discussing whether we want to (or how to) make this more prominent, especially if we know a user is using a language which we don't support well yet

[2021-03-14 21:56] david-allison-1 opened #8210 "Add metrics to "Help" section items"
A new Help menu was added in https://github.com/ankidroid/Anki-Android/pull/7358

We currently don't send any analytics for clicks on this screen. It would be useful to confirm that this dialog is being used, and how changes to this screen affect user interactions.

It would also be useful to measure the bounce rate from this screen if it is closed without the user selecting an item.

_Originally

[2021-03-14 22:09] #7526 closed

[2021-03-14 22:13] #8201 closed

[2021-03-14 22:16] #8070 closed

[2021-03-14 22:20] #7741 closed

[2021-03-14 22:22] david-allison-1 opened #8211 "Add Lint check to ensure all .java files have Copyright Headers"
With more new contributors, we should automate ensuring that each new file has a copyright header, rather than leaving this to code review.

We can do this via a lint check. For example: https://github.com/ankidroid/Anki-Android/blob/db82ab008a90ff89e77c5c5637b2e33be17ab04a/lint-rules/src/main/java/com/ichi2/anki/lint/rules/InconsistentAnnotationUsage.java

It would be ideal if the lint check guid

[2021-03-14 22:23] david-allison-1 commented on #8211
Please note that this functionality may already exist in Android Studio's suite of lint tools, and we should confirm that this isn't the case before writing our own code.

[2021-03-14 22:36] mikehardy commented on #8176
That's a good point. I imagine if we compare with Anki Desktop they do not allow this, and if so I think your intuition here David is right and we should follow Anki Desktop, which specifically means just closing this

[2021-03-14 22:48] mikehardy commented on #5022
Hi @ashwanikr7499 !
I have not thought too deeply about it. I noted it twice in code when sweeping for deprecation a while back

https://github.com/ankidroid/Anki-Android/blob/d1f7d09792e06c4b0548f600b14cc24dc7a953ba/AnkiDroid/src/main/java/com/ichi2/libanki/Sound.java#L290

and

https://github.com/ankidroid/Anki-Android/blob/d1f7d09792e06c4b0548f600b14cc24dc7a953ba/AnkiDroid/src/main/java/com/ich

[2021-03-14 22:59] Arthur-Milchior commented on #8186
I'd like to add that you can but the `<h1>` tag in the template, so that you don't have to repeat it everywhere.

I don't know what the second column titile OTBET mean (I know I'm not actually using the correct letter, sorry for that), so it's hard to know exactly what's going on in details.  Sharing the card would also help as it would show what is your two templates

[2021-03-14 23:50] ChaxuGarg commented on #8211
Can I work on this?

[2021-03-14 23:50] imaryandokania commented on #8211
I want to work on this

[2021-03-15 00:01] imaryandokania commented on #8202
I am thinking for an alternative way, this will allow the restart of the app but with all datas intact , the coordinates of the drawing areeas can be added to sql lite

[2021-03-15 00:05] david-allison-1 commented on #8211
Sorry @imaryandokania, I'll go with @ChaxuGarg as he commented first.

Normally we don't have the two people going for the same issue - it's a nice problem to have

[2021-03-15 00:07] imaryandokania commented on #8202
@david-allison-1 what are your views on this?

[2021-03-15 00:09] imaryandokania commented on #8211
No problem 😀

[2021-03-15 00:13] imaryandokania commented on #8188
Can i work on this?

[2021-03-15 00:14] david-allison-1 opened #8215 "[Bug] Build Broken - Translation Error"
https://github.com/ankidroid/Anki-Android/pull/8213

[code]

[2021-03-15 00:16] imaryandokania commented on #8151
I can work on this, as i already have published my app on amazon app store, so i am familiar with all the process.

[2021-03-15 00:27] ChaxuGarg commented on #8187
I guess should be fine now, review once and close the issue if PR looks okay!!

[2021-03-15 00:27] david-allison-1 commented on #8215
Only one error. Tested locally with `gradlew AnkiDroid:lintRelease`

[2021-03-15 00:27] Arthur-Milchior commented on #8188
If @zoulja is not working on it and you're not working on something else, go for it @imaryandokania. Please check that you can reproduce the big first

[2021-03-15 00:28] david-allison-1 commented on #8215
Fixed string on CrowdIn

[2021-03-15 00:28] david-allison-1 commented on #8215
Sync Started: https://github.com/ankidroid/Anki-Android/actions/runs/652518308

[2021-03-15 00:37] imaryandokania commented on #8188
@zoulja pls let me knw , if you aren't working ok this

[2021-03-15 00:56] #8215 closed

[2021-03-15 00:59] VamsiKrishnaCommits commented on #8176
I mean it's not like the most sought out feature , at times I felt like just having this feature would save me the hassle of knowing the deck size to go through the entire deck in custom study . It would just improve the UX.

[2021-03-15 01:51] Arthur-Milchior commented on #8176
Wouldn't just entering 9999 work ? If you select a number too big, it do not break, and you don't have to look at actual number

[2021-03-15 01:54] VamsiKrishnaCommits commented on #8176
There are decks having sizes more than 100000 , do we have a threshold on deck size? If there is ,it's news to me.

[2021-03-15 02:05] VamsiKrishnaCommits commented on #8176
Which happens rarely though, I think you are right@Arthur-Milchior

[2021-03-15 04:10] Arthur-Milchior commented on #7937
I can't reproduce either and honestly I don't know why. I assume something else was changed but I don't know what. I guess it's worth closing it now.
Still be curious to reproduce with december version to check if I can reproduce.

[2021-03-15 04:12] zoulja commented on #8188
It's all yours 🙂

[2021-03-15 04:14] zoulja commented on #8186
Hello, @Arthur-Milchior, thanks for looking into this!
Ответ literally means Answer

[2021-03-15 04:17] david-allison-1 commented on #8202
My understanding is that we don't lose memory when the theme is switched. The whiteboard is a small quantity of data which shouldn't be enough to require persistent storage via SQLite and associated complexity.

I expect that we can serialise the path or keep it in memory and redraw it given this data once the theme has been changed. There should be code in the codebase which does similar for vari

[2021-03-15 04:27] mikehardy opened #8219 "[Bug] Publish / release script can partially publish"
###### Reproduction Steps

1. Attempt to publish (using the release script called by the publish.yml workflow) while there is a translation error that will fail on lintRelease - https://github.com/ankidroid/Anki-Android/runs/2108464284?check_suite_focus=true
2.Try to publish again after fixing the build error (it will fail because the first publish did not fail completely, it only failed partially

[2021-03-15 04:28] mikehardy commented on #8219
@david-allison-1 me rushing the alpha while it had an unexpected lint error turned up a good-to-know-about release script issue! Failure with a silver lining

[2021-03-15 04:30] pree-T commented on #7354
I am interested to work on it.May I start?

[2021-03-15 04:33] pree-T commented on #6829
I am interested to work on this. May i start?

[2021-03-15 04:36] pree-T commented on #6537
May i work on this?

[2021-03-15 04:37] pree-T commented on #6196
May I work on this?

[2021-03-15 04:37] mikehardy commented on #8202
Making sure it works across Activity restarts is good enough, and making sure all Activities work across Activity restarts (can be tested by turning off keep activities in developer settings) is much much more important than trying to save whiteboard data across Application restarts. I'm not sure that's even a feature people would want?

Let's leave that for now and focus on Activity restart corre

[2021-03-15 04:47] mikehardy commented on #6537
No - our minSdkVersion is still 21 - you can see in `AnkiDroid/build.gradle` - this is just a placeholder for the time when we move up to 24 and can use a better dependency. It will have to wait until then, might be a year or two...

[2021-03-15 04:50] mikehardy commented on #8151
I'm not sure exactly what you mean

Do you mean: we can remove the "uses-hardware" entry for camera in AndroidManifest.xml and that is sufficient?

Honestly it might be, I have no idea as I haven't tried. The problem is that you don't have permissions to submit our app to the Amazon store and I don't have the ability to delegate it, it's a privileged access and my abilities are limited.

So I'm no

[2021-03-15 04:55] david-allison-1 commented on #6829
Sure!

[2021-03-15 04:56] david-allison-1 commented on #6196
Sure!

[2021-03-15 05:07] Andrej-Adamenko opened #8221 "[Bug] Random crashes in "Add note" screen"
###### Reproduction Steps

1. Click "+" and then "Add +" in Decks screen to open "Add note" screen.
2. Select my custom note type "ParentingCloze" with many fields and custom card templates with custom Javascript in it.
3. Enter the content of the fields and make some clozes.
4. One time it crashed in this screen, when I was doing some editing or previewing, I do not remember what exactly i did be

[2021-03-15 05:16] dae commented on #6537
Perhaps relevant: https://github.com/ankitects/anki/issues/1068

[2021-03-15 05:24] bhatushar commented on #8221
Can you share the template for **ParentingCloze**?

[2021-03-15 05:37] bhatushar commented on #8180
If no one else is working on it, I'd like to give it a go. I like @david-allison-1's approach of adding a "Save" button in the DeckOption activity.

[2021-03-15 05:39] iamvs-2002 opened #8223 "Improve the UI for the Add Decks button"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
![Screenshot (128)](https://user-images.githubusercontent.com/54304786/111108284-880f2700-857e-11eb-9d33-a683778c9d10.png)
![Screenshot (129)](https://user-images.githubusercontent.com/54304786/111108288-89d8ea80-857e-11eb-8cb4-98164eb49ebf

[2021-03-15 06:24] david-allison-1 commented on #8221
Stack trace:

[code]

[2021-03-15 06:28] david-allison-1 commented on #8221
@Andrej-Adamenko Could you please share your `collection.anki2` file. This is the Anki database which contains all Anki information except media. It is located in `AnkiDroid/collection.anki2` on your phone.

You should be able to rename it to .zip and upload it here, or upload it to cloud storage so you can control who accesses this file.

If this contains sensitive information, please let us know

[2021-03-15 06:29] david-allison-1 commented on #8223
Do you have any proposed solutions to this problem?

[2021-03-15 06:31] david-allison-1 commented on #8180
Sounds good to me, thanks!

[2021-03-15 06:32] mrudultora commented on #8210
@david-allison-1 Would you please give some more info. Like, how to track and send analytics?

[2021-03-15 06:36] david-allison-1 commented on #8210
@mrudultora Mike Hardy would be the one to ask if you'll need further ideas/thoughts on adding additional analytics methods. We're not logging much right now. This may need expanding for the given task.

For now, we have `UsageAnalytics.java`

Sample method:

https://github.com/ankidroid/Anki-Android/blob/24443a327ed060dc31f4c16c88a3553d50d7ad05/AnkiDroid/src/main/java/com/ichi2/anki/analytics/Usa

[2021-03-15 06:39] mrudultora commented on #8210
@david-allison-1 Okay, I will wait.

[2021-03-15 06:40] Arthur-Milchior opened #8224 "Allow to update translation with minor version"
Currently, translations can be updated only with major version or alphas/betas. This bug will be resolved when translations can be updated more often without breaking anything. It means a new translation may wait for months for being release, which lead to a bad experience for new translators

Currently, our process to get translations is done with https://github.com/ankidroid/Anki-Android/blob/ma

[2021-03-15 06:40] david-allison-1 commented on #8210
@mikehardy Opinions on this one?

[2021-03-15 06:43] ritvij14 commented on #8224
I would like to work on this.

[2021-03-15 06:55] Arthur-Milchior commented on #8224
If you're not already working on something else, fine by me. I won't have time to do it myself

[2021-03-15 06:59] riturajjain2000 opened #8226 "Add check on back button pressed from Launcher Activity"
**Is your feature request related to a problem? Please describe.**
If the back button is pressed while being on the Deckpicker Activity, the App just exits, which gets frustrating sometimes

**Describe the solution you'd like**
Add a second check like an AlertDialog with a message like - "Do you really want to exit Ankidroid ?"

**Describe alternatives you've considered**
A Snackbar or Toast with

[2021-03-15 07:01] david-allison-1 commented on #8224
I'd be interested in hearing @mikehardy 's opinion on this

I don't know if translations qualify for a patch release unless they're directly fixing a bug

https://semver.org/#spec-item-6

[2021-03-15 07:03] infinyte7 opened #8227 "[Bug] Fresh install app persist AnkiDroid logo in background till refresh or restart of app"
###### Reproduction Steps
I have used latest alpha build also previous one 2.14.3
1. Install AnkiDroid
2. Give storage permission
3. There are logo in background

###### Expected Result
<img src="https://user-images.githubusercontent.com/12841290/111115095-1a272780-859f-11eb-9dd4-773a784e1444.PNG"  height=400></img>

###### Actual Result
<img src="https://user-images.githubusercontent.com/12841290

[2021-03-15 07:09] Arthur-Milchior commented on #8224
Can you please let me know why we must care about that? I don't expect it's required by Play store. It's rational consider dependencies. So the question is, what is depending on ankidroid ? Card who use the JS Api and apps that use the CardTemplateProvider api. Both of them seems to be quite independent of the translations. I could not swear that there is no way to get a resource string from any o

[2021-03-15 07:14] kartikeysaran commented on #8223
@david-allison-1 We can either hide the text and the image whenever the menu is open ("+" button is clicked ) Or If the decks are empty we can rather hide the floating button and place a button at the center stating  "Create your first deck , Get Shared Decks"

[2021-03-15 07:23] iamvs-2002 commented on #8223
Yes, I think it can be solved by using the Extended Floating Action Button rather than using the Floating Action menu.
What I mean by that is that:
By using the Extended Floating Action Button, one can add a separate text view to every floating action button inside the extended floating action button. In that way, there can be a different layout for those text views, as per the overall UI.
Kindly

[2021-03-15 07:29] kartikeysaran commented on #8226
if a user presses back button from the home activity the app still runs in background while if we manually make the user exit the app is killed @riturajjain2000 what do you think ?

[2021-03-15 07:41] david-allison-1 commented on #8223
Honesty: I'm not too familiar with this part of the code

Could you provide a link if it's a new dependency ? It's best to confirm that we'll be OK with adding it before delving into the implementation.

I wouldn't immediately see an issue with this - I think we've been wanting to modify the current FAB for some time.

But it will be best to hold off on this one until we're sure this is the soluti

[2021-03-15 07:59] bhatushar commented on #8180
@david-allison-1 @mikehardy I'd like some clarification.

I'm adding two buttons - Save and Cancel. Now if the user exists Deck Options by pressing the Back key, should I store the result (default behavior) or discard it?

I feel discarding it would be more intuitive but it'll also require making a lot of changes to DeckOptions class which might break something. What do you think?

[2021-03-15 08:12] IAmJaishree commented on #3593
Hi @mikehardy, thanks for the info will keep this in mind now, I am very new to open source and still exploring the decorum of it :)

[2021-03-15 08:18] kartikeysaran commented on #8223
This would not require any new dependency to be implemented this might work what say :)

[2021-03-15 08:20] IAmJaishree commented on #8226
We can manually make it go to background, and this issue seems good, it will surely enhance the user experience.
If user presses the back button we can show the message "Press back again to exit the app" something like this, and when user presses the back button again we can make the app go in background(which is the original behavior of the back button).

[2021-03-15 08:24] iamvs-2002 commented on #8223
Actually, this won't require any other dependency, just the one for material design.
It's basically like this: https://origin.geeksforgeeks.org/extended-floating-action-button-in-android-with-example/
(PS: though a little more complex in our case)

[2021-03-15 08:25] iamvs-2002 commented on #8223
Also, an alternative solution could be to try adding a layout for the text views, else just giving them a background with higher padding. I shall try that, possibly that might improve it.

[2021-03-15 08:27] imaryandokania commented on #8151
I mean to say that we can go on for release of app on all non-fire devices in amazon App Store.
Here is a pic from amazon developer portal and it says that :

<img width="701" alt="Screenshot 2021-03-15 at 2 08 19 PM" src="https://user-images.githubusercontent.com/61244704/111123956-0a581500-8598-11eb-89a3-c3eaa0a94d16.png">

I am still looking into this, maybe we can disable all camera related fe

[2021-03-15 08:30] kartikeysaran commented on #8151
Will try my best to resolve this !)

[2021-03-15 08:31] kartikeysaran commented on #8151
If @imaryandokania wants to do it he can and still if the issue is unresolved i would love to work on this ;)

[2021-03-15 08:44] kartikeysaran commented on #8151
I think the issue is because the declared permission in Manifest requires camera permission , this can be resolved by requesting a run-time permission for camera wherever it is needed inside the application what say :)

[2021-03-15 08:54] imaryandokania commented on #8151
Yes, working on the same. Thanks !

[2021-03-15 08:55] riturajjain2000 commented on #8226
I checked , the Activty is not going to background when back button is pressed

[2021-03-15 08:59] kartikeysaran commented on #8226
No , the app goes to background please can anyone else too check this :)

[2021-03-15 09:05] riturajjain2000 commented on #8226
How you reached to that conclusion , plz share

[2021-03-15 09:09] kartikeysaran commented on #8226
Press the back button and the app closes -> check your background activity in your phone and Ankidroid is running in background and when we will close the app with "code" the app is killed from background too :)

[2021-03-15 09:11] imaryandokania commented on #8151
Shall I create a link for debug app, and then can you verify if it is getting accepted or not.
Or
Should I commit it?

[2021-03-15 09:15] Akshay0701 commented on #8169
this issue only occur when we change app theme after selecting all decks option ,
if we select other option and then change app theme , it work fine (it shows all data),
can anybody have idea , why this happening only for all deck option ?

[2021-03-15 09:21] mrudultora commented on #5024
Is it still a valid issue?

[2021-03-15 09:43] SujyotRaut commented on #8226
@kartikeysaran Yes your right when back button is pressed app is running in background but DeckPicker Activity is destroyed
@riturajjain2000 I like to work on this issue

[2021-03-15 09:45] mrudultora commented on #8161
@Heineken Unable to reproduce (card is getting deleted).

[2021-03-15 09:48] kartikeysaran commented on #8161
Same in my case the card were deleted successfully

[2021-03-15 09:56] iamvs-2002 commented on #8223
@david-allison-1
I was going through the code. I found that adding the Extended Floating Action Button might cause an issue with casting it to the view because it's not entirely in one file.
I have a better solution, keeping earlier code as same.
Here it is:

The issue is basically with the UI and not with the Widget actually.
I went through the documentation of the Widget used for the Floating ac

[2021-03-15 10:04] mrudultora commented on #8010
@iCarlosCode Yes, the link you mentioned states that clearly,

[2021-03-15 10:14] david-allison-1 commented on #8010
I believe this is a duplicate of #5793. Likely to be fixed in AnkiDroid 2.16.

[2021-03-15 10:14] #8010 closed

[2021-03-15 10:26] david-allison-1 commented on #8180
Also check with Mike. Personally, let's do this right

* Back & no changes - back
* Back & changes - `ConfirmationDialog`: Are you sure

Class: `DiscardChangesDialog` may be useful as it's a common pattern

[code]

[2021-03-15 10:31] david-allison-1 commented on #5024
Yes, the problematic line is:

`shiftPressEvent::dispatch`

https://github.com/ankidroid/Anki-Android/blob/5bab33292046d8f455bf09d300e28722092ab18d/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L2561-L2575

[2021-03-15 10:37] david-allison-1 commented on #8161
Also can't repro. @Heineken , could you fill out the `Debug info` section of the issue to ensure we're testing against the correct version. Thanks

[2021-03-15 10:55] gargVader commented on #8227
I am unable to reproduce it

[2021-03-15 11:16] mrudultora commented on #8205
@david-allison-1 Can we put **Support AnkiDroid** directly in nav drawer ? (we can just experiment with different things and then only we can know the most productive way in this matter).

[2021-03-15 11:27] Koorosh-J opened #8229 "[Bug] {{cloze:Text}} ignores repeated words and just check first of them"
AnkiDroid ver 2.14.6
1. in card filed I use "This is {{c1::test}} which is containing {{c1::test}} word twice"
2. in Front and Back template I have "{{cloze:Field_name}}"
3. now when I Type answer like "test, test" in front and tap the answer:

I expect this:
test, test (Check mark)

but I wee this:
test, test (first highlighted in green and second in red followed by downside arrow on next line an

[2021-03-15 11:28] SujyotRaut commented on #8226
I submitted PR as per you feature request waiting for review if everything goes well then it will be merged

[2021-03-15 11:32] asbaran commented on #8156
Hi David,

It worked for me. Thanks so much for your help.

Kind regards,
Vlad

On Sat, Mar 13, 2021, 11:59 David Allison, ***@***.***> wrote:

[2021-03-15 11:35] Heineken commented on #8161
Hey guys, thanks for your effort and sorry for not having posted the debug info right away. I did it just now.

To be clear, the problem is not that the card wasn't deleted, it was. Otherwise there wouldn't be that error, which, to my understanding, occurs when the app tries to access the deleted card.

[2021-03-15 11:49] mrudultora commented on #8161
@Heineken In the issue you mentioned that deleted card is still displayed. So, I meant that when I deleted the card, it wasn't displaying. Just followed the steps you told, but still unable to reproduce.

[2021-03-15 11:54] musiqualGeek commented on #8187
I think just adding the text "View Card List" is not enough. It should be in alignment with the rest of the text. Make it more readable.
- Add top and bottom margin for View Card List
- Change the color of the text View Card list to blue or any other color that can be easily differentiated with the card name text color.
- the Start margin also needs to be fixed as it is not alligned with rest of t

[2021-03-15 12:30] Akshay0701 commented on #8183
@2tanayk  are you still working on this ?

[2021-03-15 12:30] IAmJaishree commented on #3593
@david-allison-1 @mikehardy I am able to see in many places we are using hard coded values for invoking sharedPreference code.

**I would like to create a SessionManager class which will internally use SharedPreference and will expose functions to store different kind of key values.**

For example

instead of calling:
`preferences.getBoolean("widgetVibrate");`
we can call:
`sessionManager.getWidge