[2021-05-21 01:02] mikehardy commented on #8892
Well, it would just be via convention - you would create a folder called "Suspended" yourself, then in the decks you wanted to put in there you'd move them by either changing their name from "Whatever" to "Suspended::Whatever" (or perhaps it's possible to do it all graphically at this point - I don't use subfolders much sorry :sweat_smile: ) and that's that. Re-name / move back out when you want t

[2021-05-21 01:03] mikehardy commented on #8892
Other thought, you can actually load up one deck in card browser, long-press to enter multi-select, menu option select all, then menu option schedule -> suspend. Then you will have *actually* suspended them all vs just sort of visually hiding them

[2021-05-21 01:09] DrewPlots commented on #4401
I've written up the fix on ankiforums, see here:
[](https://forums.ankiweb.net/t/created-colpkg-invalid-file-format-for-import/10148/3)

As @mikehardy mentioned (three years ago), a repaired ZIP file will allow opening "corrupt" **.colpkg**.

[2021-05-21 01:13] DrewPlots commented on #3800
I've managed a potential fix for what *I believe* OP *was* experiencing.
This fix _may or may not help, but at least sheds light on the ominous import error in Anki_, see here:
[https://forums.ankiweb.net/t/created-colpkg-invalid-file-format-for-import/10148/3](https://forums.ankiweb.net/t/created-colpkg-invalid-file-format-for-import/10148/3)

[2021-05-21 01:19] #8885 closed

[2021-05-21 02:27] mikehardy commented on #8881
Thank you for taking these on @prateek-singh-3212 - much appreciated!

[2021-05-21 02:47] mikehardy commented on #8890
I have these scripts to quickly get my main lines (for repositories that use the old "master" or the new "main" for default branch) or for branches. They are really useful, I keep them in `~/bin` and that's first in my path

[code]

1) no merge, ever :-) - rebase!
2) "uom" is "Update from Origin Main/Master", "uum" is "Update from Upstream Main/Master"
3) "uob" is "Update from Origin Branch (same

[2021-05-21 02:50] mikehardy commented on #8876
![image](https://user-images.githubusercontent.com/782704/119074873-6f275580-b9b5-11eb-8cbe-fa61f7a830ac.png)

[2021-05-21 02:52] mikehardy commented on #8495
Happening on premade decks is sufficient if you attest they'll reproduce, and I'm more comfortable with that. Privacy is a real thing :-), and simply not handling data is best way to avoid mishandling it. Thanks for the link!

[2021-05-21 02:55] mikehardy commented on #3800
I'll reopen this, we have lots of new folks around and maybe someone wants to take a look?

[2021-05-21 03:30] #8820 closed

[2021-05-21 05:10] iamvs-2002 commented on #8850
Maybe a horizontal swipe layout(using ViewPager) would look good.

[2021-05-21 05:44] #8186 closed

[2021-05-21 06:44] #8299 closed

[2021-05-21 07:33] TarekkMA commented on #8890
very nice, I will use these scripts

[2021-05-21 09:48] Arthur-Milchior commented on #8243
Any news @IAmJaishree ?

[2021-05-21 15:13] mikehardy commented on #8850
I think just starting with a scrollbox in there with an alphabetical list would be nice, and prove the concept / get the data going back and forth. Almost no one uses this function, so it's not worth spending a lot of time on IMHO - there are much higher impact areas of the app - I try to focus on what users really use on a daily basis, or crashes

[2021-05-21 15:33] sudomain opened #8897 "[Bug] Restoring from an automatic backup shouldn't immediately create a new backup because it causes the oldest to be deleted."
###### Reproduction Steps

1. Find something "not right" in your collection and decide to go through AD's automatic backups
2. Restore from backup
3. AnkiDroid will create a new "backup" as soon as it finishes restoring, and deletes the oldest one
4. Repeat 1-3 atleast 8 more times (unless you've changed the default preference "Max Number of Backups" (under Advanced)
5. Notice that all 8 of your a

[2021-05-21 15:42] mikehardy commented on #8897
Oh! I agree with you. Conforming with upstream and no taking a backup on restore seems sensible

[2021-05-21 15:53] sudomain commented on #8897
An amusing temporary workaround is for users to only restore from the oldest backup. The names will get muddled up, but it'll prevent deletion of the oldest backup since it will become the newest.

[2021-05-21 16:28] Arthur-Milchior commented on #8821
Was there any crash/bug from the user perspective?
Did you get this single report, or is it something that occurred often?

Given the logs, it seems the cardbrowesr was closed and replaced by the note editor.

It seems that sometime, when the card browser gets closed, the viewer asks to see 0 elements instead of just not asking anything. I guess it's technically true, if the view list is deleted,

[2021-05-21 16:44] mikehardy commented on #8821
I'm not sure what the user saw, I doubt it crashed now as the code was executing in the block where we handle these things and make it not crash - this was just evidence from your new log message and I wanted to close the loop with you by giving the info from your new error message

I don't think the analysis is right though, my read of the logcat is that there is nothing showing here but the Card

[2021-05-21 16:51] #8183 closed

[2021-05-21 17:15] mikehardy opened #8901 "Investigate "process crashed" errors in emulator CI tests"
We're not sure where that crash is but I looked at it just last night. It appears to be in Rust code somewhere but with no stacks or reproduction currently.

The first level of logging is in the action itself, of course. And it says "look at the emulator logs"

So we're capturing those:

https://github.com/ankidroid/Anki-Android/blob/3b163ac44bbb9e66fb4b001d75e59dd5deb9435a/.github/workflows/tests

[2021-05-21 18:00] #8881 closed

[2021-05-21 20:22] szpak commented on #8846
I was able to reproduce that a few days later (checking at 4am first and later opening - probably only minimized app in the morning. However, the integration with the app refresh the status, so it's not a big issue.

[2021-05-22 06:12] Georgezxh commented on #8871
Hi! I guess it is because in the cardbrowser, the audible card was replaced by "". So it looks like empty in card browse. I am working on this!

[2021-05-22 06:46] #6897 closed

[2021-05-22 09:41] Abanoub-Asaad commented on #8871
Thank you so much for your initiative
I fear because the issue doesn't get approved yet, it would be better to wait until being approved.

[2021-05-22 10:43] #8205 closed

[2021-05-22 14:20] #8886 closed

[2021-05-22 14:54] PANG-hans opened #8905 "Split Information about deu card and time in banner"
**Is your feature request related to a problem? Please describe.**
As shown, the info of due cards is displayed but needed time can not display completely.
I have tested it on different language.
<img height="400" src="https://user-images.githubusercontent.com/49405752/118913574-4de64b00-b95c-11eb-9b09-d33c0f87f244.jpg">

**Describe the solution you'd like**
Enlarge the height of Split it into two

[2021-05-22 14:57] mikehardy commented on #8905
I wonder if making it prefer the ellipses (`...`) over the text slightly. There will always be space pressure here, but the deck information in the list is the thing to prefer I think, I don't like the idea of growing the height of the top bar

[2021-05-22 15:10] PANG-hans commented on #8905
I can understand that change the height of top bar may create more conflicts, but i tested it on different lanuage, device and front. it can not performance well in portait.
one more line make the info more clear and useful.

[2021-05-22 15:50] voidplayer commented on #8324
still searching for solutions

[2021-05-22 15:54] SilentCruzer commented on #8637
So does anyone have any other alternatives to fix this issue?. So far I have tried adding a delay to the buttons, and it didn't work.

[2021-05-22 16:27] mikehardy commented on #8879
This is actually the same as #8882 and will be fixed by #8907

[2021-05-22 16:27] #8879 closed

[2021-05-22 16:29] mikehardy commented on #8821
I am moving this to the 2.16 as it won't block 2.15 release anymore. This is now more of a background analysis "what exactly is happening here" task.

[2021-05-22 16:29] mikehardy commented on #8883
I am fixing this now.

[2021-05-22 16:32] javiercl2020 opened #8908 "Remove or hide easy and hard buttons"
I use anki mainly for language learning.
I read an article saying that the hard button and easy button changes the algorithm.
Is it possible to hide it or remove it?
There is an add on for desktop.
https://web.archive.org/web/20210203165239if_/https://massimmersionapproach.com/table-of-contents/anki/low-key-anki/intro

[2021-05-22 17:17] mikehardy commented on #8637
So far no - but I'm going to review #8781 shortly and there may be some wisdom from that one if you want to have a look - it's adding play/pause to reviewer and it may have similar issues that it had to work around (or! it may not be handling the same kind of crash here and not be aware of it...)

[2021-05-22 17:21] mikehardy commented on #8908
Hi there!
No, we only follow core Anki Desktop functionality, sorry.

[2021-05-22 17:21] #8908 closed

[2021-05-22 18:25] mikehardy commented on #8884
I'm going to move this from 2.15 - this appears to be a collision between sync and other activity based on logcat
we have a few of those issues, none are regressions they are just difficult.

[2021-05-22 18:38] mikehardy commented on #8857
I do not believe this is a regression in 2.15
You must had settings -> advanced -> advanced statistics turned on to even see the new card forecast correctly
Then it is true - the new card forecast is still using what appears to be the defaults even if you restart the app

[2021-05-22 18:40] mikehardy commented on #8856
Interesting - going to move this to 2.16 I'm not sure it's a regression really, and requires some user interface thought

[2021-05-22 18:46] mikehardy commented on #8855
I think this might be related to the deck spinner actually. I can reproduce it. The spinner is set to the current selected deck now vs the sub-deck.
If I set the card browser to all decks and tap a sub-deck card it does set to the parent deck of the card so it's close but not quite right.

I'm investigating this now

[2021-05-22 20:02] mikehardy commented on #8855
Got it.

[2021-05-22 20:04] mikehardy commented on #8819
I'm not going to block 2.15 on this, we don't see it very often as far as I can tell.

[2021-05-22 20:22] henon opened #8912 "Please add Icons in options menu on reviewer"
**Problem**
The card menu consists of 11 entries, all without icons. This makes it arduous to use the menu, i.e. to replay audio. You have to read the menu. With icons you could much faster select the needed entry.

**Describe the solution you'd like**
Please add icons to the menu entries, like a play button for "Replay audio" or a pencil icon for "Edit note", etc.

[2021-05-22 22:09] mikehardy commented on #8912
Did you know, you can change the AppBar buttons in the reviewer, so that the ones you actually use frequently (like, I use replay audio a lot so I wanted that up there as a button) are up there as buttons?

Give that a shot if you can

We can potentially add icons to the menu now - in the past it wasn't so easy because of backwards compatibility with very old Android versions but we have mostly dr

[2021-05-22 22:10] #8855 closed

[2021-05-22 22:13] #8882 closed

[2021-05-22 22:14] #8883 closed

[2021-05-22 22:53] mikehardy opened #8913 "2.15.0beta crash - StudyOptionsFragment return from Activity launch"
[code]

[code]

It's the configureToolbar call in the activity launcher with the "RESULT_DEFAULT" return code. Why are view elements null when we come back from launching? Do we need to reinitialize views?

I'm going to instrument the code a bit and hope for analysis on the results

[2021-05-23 00:05] mikehardy commented on #8913
This appears to only happen in fragmented mode, I think you need a tablet and probably in developer options in the android system preferences, to turn off "keep activities" - having a hard time reproducing but those are the code paths touched

[2021-05-23 00:36] #8913 closed

[2021-05-23 05:55] kartikeysaran opened #8915 "Auto Correct Code Style"
Auto correcting the Code Style in every pull request

[2021-05-23 06:49] Arthur-Milchior opened #8917 "Lint: no Locale.ROOT in text user see"
It would be nice to add a lint rules that ensure that all text that user see is formatted with the local specified by Ressources. A recent PR added `Locale.ROOT` in a text that user could actually see, which should not occur.

It seems impossible to really define correctly in which case a text is user facing and in which case a text is internal. So maybe it should be a warning everything and suppr

[2021-05-23 08:47] henon commented on #8912
Thanks, that solves my problem. In case anybody else (like me) overlooked this setting and wonders how to configure it:

App drawer > Settings > Reviewing > App bar buttons

Icons in the menu would still be nice though.

[2021-05-23 12:48] #7077 closed

[2021-05-23 14:00] ShridharGoel commented on #8917
I would like to work on this.

[2021-05-23 14:24] mikehardy commented on #8917
No. There are cases the rule makes no sense, like the one Arthur is actually talking about. I don't like this rule.

[2021-05-23 14:26] mikehardy commented on #8915
Add git commit hook that runs formatter configured for our linter I think.
https://stackoverflow.com/a/14672883/9910298

[2021-05-23 15:12] mikehardy commented on #8917
Ah wait - having had a cup of coffee (I just woke up) - even formatting nothing but a single number is important because periods and commas are used differently etc. I forget that sometimes with my US-centric brain.

[2021-05-23 15:43] #8133 closed

[2021-05-23 15:50] ShridharGoel commented on #8917
I think this comment is meant for #8915.

[2021-05-23 16:05] mikehardy commented on #8917
That comment was locale-specific, as a code rule, it's in the right spot. #8915 is to me more about formatting (spacing) and how to implement that locally so that you don't have to wait so much for CI to tell you that you missed something.

[2021-05-23 16:12] mikehardy commented on #8915
here's a pre-packaged thing for it even https://github.com/justinludwig/gjfpc-hook

Note that the google java code style may differ from our style somewhat. We have struggled to integrate an automated formatter (or even checker) for our style in the past and to me the tooling is much more important than the actual style, because with proper tooling you can at least easily use and enforce *a* style

[2021-05-23 18:35] myt20002018 opened #8919 "[Bug] I can't see any of my decks on the Ankidroid app. But its fine on the laptop so I'm not sure why its not showing up on the app."
###### Reproduction Steps

1. Add card/deck on app or laptop
2. synch
3. shows up on the deck section on app

###### Expected Result
new deck/card shows up on deck section of app

###### Actual Result
No new deck/card - present as 0 cards

###### Debug info
AnkiDroid Version = 2.14.6  Android Version = 10  ACRA UUID = b5d3822b-ab68-4a7b-9741-eff95e88830b  Scheduler = std  Crash Reports Enabled = t

[2021-05-23 18:46] #8919 closed

[2021-05-23 19:17] Crewe commented on #5029
@mikehardy Any thoughts on this?

[2021-05-23 19:23] mikehardy commented on #5029
If it cannot be reproduced it is maybe fixed? I'll close it. We can open new issues needed

[2021-05-23 19:23] #5029 closed

[2021-05-23 20:53] #8871 closed

[2021-05-23 21:42] david-allison-1 commented on #8871
WONTFIX: already exists https://github.com/ankidroid/Anki-Android/pull/8903#issuecomment-846589501

[2021-05-23 22:21] shocklateboy92 commented on #8893
Okay, dug a little deeper and realized that getting into android development would take wayyy more time than I have to spend on this project right now. So I'll go with the workaround of using AnkiConnect to create the note remotely (and maybe sending the sync activity to AnkiDroid). AnkiConnect has a media API to download images as well.

However, I'll be watching this issue in case some other gen

[2021-05-23 22:26] david-allison-1 commented on #8856
@mikunimaru When you have time, could you try this on 2.14.6 and report what happens?

[2021-05-24 00:57] mikehardy commented on #8893
I actually had a slightly different thought that was a bit crazy, but if we want the general idea of a "javascript binding for the AnkiDroid API" we are working on that but it's always going to have a native component because it needs to be running in the AnkiDroid process, or a process with a Java library in it. So either a react-native type module that wraps the AnkiDroid API, or, you can packag

[2021-05-24 00:58] mikehardy commented on #8893
I'm actually going to close this though, as we don't just leave items hanging around unless their actionable or serious issues we just don't have time for yet - and this doesn't quite qualify on either front

[2021-05-24 03:33] elias6 opened #8920 "[Bug] Hourly breakdown chart is messed up"
###### Reproduction Steps

1. Go to the hourly breakdown page.

###### Expected Result

I should be able to make sense of the chart.

###### Actual Result

The chart looks messed up. I think the labels on the x-axis are missing.
![messed up hourly breakdown chart](https://i.imgur.com/fahABmD.jpg)

###### Debug info
AnkiDroid Version = 2.14.6

Android Version = 11

ACRA UUID = e6f00704-5419-4b8b-bb

[2021-05-24 04:49] mikehardy commented on #8920
That doesn't look right, no - can you try the latest beta to see if that still reproduces there? I've never seen anything like this https://docs.ankidroid.org/#betaTesting

[2021-05-24 07:09] Arthur-Milchior commented on #8917
@mikehardy I am really sorry, but I have no idea what you are suggesting. What is the path you want AnkiDroid to take?

1. We don't automate anything and just try to catch errors in each PR
2. we automate something, but something different than what I was asking for?
3. we follow my suggestion?

This made me realize that my suggestion is actually not appropriate. I do not know what is appropriate

[2021-05-24 13:54] mikehardy commented on #8917
3 - we follow your suggestion

[2021-05-24 13:58] mikehardy commented on #8917
Oh, and 3a. There was a lint rule that I followed while de-linting that was the proximate cause to this error, so it would catch it if we turned on both. I forget what the lint error was exactly but if you look at the code in the first de-lint transform it was this:

[code]

So whatever lint rule is triggered by doing setText on a text view in that style - turn that lint on and it will force you t

[2021-05-25 01:27] Joseph9Morgan commented on #8547
Hi ! Could you further elaborate on the crash information? I'm trying to reproduce the crash but I can't find another issue with detailed debug  information.

[2021-05-25 01:36] david-allison-1 commented on #8547
Hi, I believe this was fixed in https://github.com/ankidroid/Anki-Android/pull/8642. Is there a reason you feel this is still occurring?

[2021-05-25 02:01] Joseph9Morgan commented on #8547
Sorry to have bothered. It’s not occurring in the newest release, but I’m trying to manually reproduce the crash process that aforementioned in the video.

[2021-05-25 07:27] prateek-singh-3212 commented on #8912
@mikehardy I am intrested in implemeting icons. But can you Please elobrate this? like what do you expect from me to do? Because all the icons and implentaion which we are using now looks good to me.

[2021-05-25 11:03] david-allison opened #8925 "[Bug] 2.15 - Reported Synchronisation Taking Much Longer (cards and media)"
/u/szalejot (reddit)

[2021-05-25 11:17] david-allison-1 opened #8926 "[Bug] SchedV1 upgraded to SchedV2"
Cause: "schedVer" config option was never explicitly set for `schedV1`. Therefore changing the default value changes behaviour.

#8774

[2021-05-25 11:46] Zwergkrug opened #8927 "[Bug] Reviewer much slower in AnkiDroid 2.15"
###### Reproduction Steps
1. Open any deck in AnkiDroid for review
2. click show answer
3. choose AGAIN/HARD/GOOD or EASY

###### Expected Result

answer card is shown almost instantly,
next card is shown almost instantly

###### Actual Result

300ms - 1s delay before card is shown
Sometimes card has system font for a second, then changes to correct font.

###### Debug info

AnkiDroid Version = 2.

[2021-05-25 12:02] Patback opened #8928 "Issue with Pleco Chinese Dictionary"
The newest version of Anki is not accurately syncing with Pleco Chinese Dictionary. Whenever I add a new card from Pleco to Anki, it adds the card but not reports that the card is added. This causes Pleco to not mark the card as currently in the deck and leads to confusion in the user continuously adding the same card over and over again

[2021-05-25 12:07] david-allison-1 commented on #8928
Thanks for the report.

Is this an issue with AnkiDroid 2.15, or with Pleco?

Sadly, the AnkiDroid API which Pleco uses only works on the stable version of AnkiDroid, so you'll need to uninstall 2.15 to test.

This wipes AnkiDroid specific settings such as gestures, but not data.

You can install 2.14.6 from: https://github.com/ankidroid/Anki-Android/releases/download/v2.14.6/AnkiDroid-2.14.6-univ

[2021-05-25 13:01] david-allison-1 commented on #8927
Thanks for the report! @Zwergkrug

I've tried this, and the card appears instantly for me on both AnkiDroid 2.15 and AnkiDroid 2.14.6

Can you confirm that this card exhibits the problem and I'll investigate further

All the best,

David

[2021-05-25 13:14] Zwergkrug commented on #8927
Hi David,

the card exhibits the problem.
I will investigate if the problem might be my phone in a few hours after work and revisit this thread.

[2021-05-25 13:22] david-allison-1 commented on #8927
Given:

There's likely something that we can do.

I don't see anything immediately. The most helpful thing that you could do would be to see which alpha of 2.15 caused the slowdown. You can do this by installing `Parallel.A/B` from our `releases` page and seeing if something is fast or slow.

My main worry is that it would be:

* https://github.com/ankidroid/Anki-Android/releases/tag/v2.15alpha24

[2021-05-25 13:24] #8926 closed

[2021-05-25 13:31] mikehardy opened #8930 "If current deck is pointing to an invalid deck set it to default"
It could be null/missing, or it could point to an id that doesn't exist - both cases need to be handled

_Originally posted by @dae in https://github.com/ankidroid/Anki-Android/issues/8894#issuecomment-847547351_

Note that a partial fix was already made - for the null case:

https://github.com/ankidroid/Anki-Android/commit/ef5f7badc5c8b7381f66a1ff4dd5e41f6fa539d6#diff-e576625ef3cb53556ff135a9fc29

[2021-05-25 13:33] i-sy opened #8931 "V2.15.0. Causes Akebi to crash when trying to add word to Ankidroid."
Reproduction Steps

1. Find word in Akebi that is already in Anki database
2. Use Akebi function to send to Ankidroid
3.

I have not tested if the same problem occurs with a word that is not yet in the Anki database

###### Expected Result
Akebi reports duplicate found or that word has been added.

###### Actual Result
No message. Akebi reloads at home page.

###### Debug info
Refer to the [suppor

[2021-05-25 13:35] mikehardy commented on #8928
Is there a contact with the Pleco developers or an issue report filed with them? If you could connect them here perhaps we could collaborate and fix it more quickly?

[2021-05-25 13:42] mikehardy commented on #8912
@prateek-singh-3212 - open AnkiDroid, select a deck and start reviewing, in the Reviewer open the options menu at top right.

Right now that is nothing but text lines in the dropdown

I believe we already have icons assigned for each of those items we just don't show them in the drop-down menu. I believe this request is to add the icons to the drop-down menu (as opposed to just when they are used

[2021-05-25 13:43] david-allison-1 commented on #8931
Logs aren't helpful

[code]

[2021-05-25 13:50] david-allison-1 commented on #8927
@Zwergkrug I don't think this will be the issue, but could you also check `Settings - Advanced - Disable card hardware renderer` and ensure that the checkbox is **not** checked.

[2021-05-25 13:54] mikehardy commented on #8931
There was some work with the API to better handle (we thought) internalization of resources etc - it seemed like a good way to get the API set up for scoped storage - and I believe that may have shipped first time with 2.15 - I think it will pay to get the API sample working against a 2.15 instance to see how it's going now as it appears we have multiple API consumers with issues, I'll look into t

[2021-05-25 13:57] david-allison-1 commented on #8931
This is on me:

[code]

[2021-05-25 13:59] mikehardy commented on #8931
Ah ok - I'm opportunistically doing an I18N sync right now as I prep for 2.15.1. Need to do the changelog too. No pressure ever but you're clearly looking at this stuff now. Your opinion then: I can issue a 2.15.1 as soon as I have I18N+changelog, or I can async/await on you for this (with either try or catch blocks being fine based on what you find ;-) )

[2021-05-25 14:01] david-allison-1 commented on #8931
Pleco works fine for me, but this is the underlying `ContentProvider`, so I presume they're related.

I can get a fix out in a couple of hours. I'm on the fence: whether we should wait, or go with the scheduler fix and follow up with this in 2.15.2

[2021-05-25 14:06] mikehardy commented on #8931
Okay - I'll troll for other crashes and see if I can get anything else in opportunistically. It's 9am my time, 12noon I'll check in and we can decide :muscle: :crossed_fingers:

[2021-05-25 14:11] david-allison-1 commented on #8931
@mikehardy This might take a while, I don't want to hold up 2.15.1

Version numbers are free, so go for it, possibly with a "we're aware of a problem, and 2.15.2 will be out soon"

[2021-05-25 14:22] mikehardy commented on #8931
Roger!

[2021-05-25 14:36] prateek-singh-3212 commented on #8912
Okay, now it's clear to me. Good idea, I will work on it but after some time because my laptop hard disk gets corrupted.

[2021-05-25 14:49] dorrin-sot commented on #8850
oh ok. If there's no rush and no one else accepts I can work on it after my finals 🥲

[2021-05-25 15:14] mikehardy commented on #7748
This was still happening and PR #7754 was keeping it from crashing but was not allowing the paste as implemented

[2021-05-25 15:38] ThoreBor opened #8934 "[Bug] Sync and more options buttons disappear after syncing"
After syncing, the sync and more options buttons on the top right disappear.

###### Reproduction Steps

1. Do some reviews (so that there are changes to sync, syncing when there are no changes works)
2. Sync
3. Doing anything afterwards makes the buttons reappear (e.g. opening hamburger menu, closing the app and reopening it etc.)

###### Expected Result
Buttons are still there

###### Actual Res

[2021-05-25 15:40] mikehardy opened #8935 "Crash - user deletes deck and attempts to undo"
1. Open deck list
2. Open a card for review, review it in any way, return to deck list
3. delete a deck, wait for it to finish
4. from deck list use options menu undo
5. crash

Logcat

[code]

Crash trace

[code]

Two things:
1) delete deck should not put anything on the undo stack
2) attempting to undo when there is nothing to undo should not crash

[2021-05-25 15:40] don-reba opened #8936 "[Bug] Full screen navigation draw gesture interferes w/scrolling, non-whiteboard drawing, gestures. Make it optional + default off"
Since 2.15, I can't (pretend) draw on the screen anymore when reviewing kanji cards because any left-to-right swipe pulls out the side menu.

Update: Oh, turns out there is a "whiteboard" feature for this.

[2021-05-25 15:47] mikehardy opened #8937 "[Bug] Investigate ContentResolver DISPLAY_NAME failures when pasting images"
###### Reproduction Steps

1. Start AnkiDroid on Android 11 (a version we have crash reports for on this issue)
2. Attempt to paste an image into a field (note: image source that will trigger this is unknown!)
3. Watch `adb logcat`

###### Expected Result

Successful paste with pasted image name *based on the originating filename* and no log noise.

###### Actual Result

Under some circumstances y

[2021-05-25 16:03] mikehardy opened #8938 "[Bug] Custom Tabs back button does not work correctly"
###### Reproduction Steps

1. Open Changelog (from settings -> advanced -> at the bottom)
2. Tap on a link in the changelog (for instance our OpenCollective link)
3. Tap back (either the back arrow at top left on my device, or hardware back button

###### Expected Result

You go back to the Changelog (or if you navigated in the 3rd party site, you go back page by page popping the navigation stack)

[2021-05-25 16:30] Zwergkrug commented on #8927
The checkbox is not checked.

I tested v2.15alpha24 and v2.15alpha23. Both lagexactly the same as 2.15.
2.14.6 works smoothly.
The lag changes from 300ms to sometimes 1s. I can not find a cause for those changes in lag. I'm starting to think that it is a performance problem of my phone. If that is the case I'm deeply sorry to cause you trouble. Maybe suspend my issue until someone else reports the

[2021-05-25 16:32] david-allison-1 commented on #8927
I believe that this is something that we can fix.

If you find the alpha version that causes the lag, we can work out the change that causes it, and look into it further.

[2021-05-25 17:28] mikehardy opened #8940 "[Bug] Crash 2.15.0 - "flds" is possibly null on Model?"
###### Reproduction Steps

1. Load some sort of corrupted collection (I imagine), where there is a note that has a card template / model with no fields
2. Attempt to get a card in the Reviewer that is associated with that note type / broken model

###### Expected Result

A dialog saying your collection is corrupt, and in the database corruption fixes we should repair note types with no fields so t

[2021-05-25 17:29] bmaupin opened #8941 "Feature request: style line between question/answer"
I'm a bit embarrassed to request this since it's so nitpicky, but if I'm opening an issue for something this small I see it as a sign that this application is so good that I can only think of nitpicky issues :grin:

The horizontal line between the question and answer on a card looks like it has a 3D effect reminiscent of websites from the 90s. I'm not familiar with the code but maybe it's an `<hr>

[2021-05-25 17:31] Zwergkrug commented on #8927
I installed AnkiDroid-2.15alpha8.parallel.A.apk (and other previous versions) and those work as smooth as 2.14.6
The lag starts with AnkiDroid-2.15alpha9.parallel.A.apk

I hope that makes sense.

[2021-05-25 17:36] david-allison-1 commented on #8941
Thanks!You can do this already since the cards are HTML:

* Edit a card
* Tap "cards"
* You can edit the CSS of the card template
* You can attach the Chrome Dev Tools via: https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection

Up to other maintainers if we'd want to accept this into `master`, I'd want a second opinion, but I'd be fine with it as long as it do

[2021-05-25 17:44] david-allison-1 commented on #8927
You're a fantastic person. Thank you!

[2021-05-25 17:45] david-allison-1 commented on #8927
https://github.com/ankidroid/Anki-Android/compare/v2.15alpha8...v2.15alpha9 - I'll call the MathJax 3 code as the culprit

[2021-05-25 17:47] david-allison-1 commented on #8927
@hgiesel Do you feel it's possible to detect MathJax usage, and only load the MathJax JS code if MathJax exists?

[2021-05-25 17:54] #8273 closed

[2021-05-25 17:54] LordZounds opened #8942 "[Bug] Review limits on nested child decks no longer behaving the same as AnkiDesktop"
###### Reproduction Steps

1. Create Deck 1 with unlimited reviews.
2. Create Deck 2, limit its reviews to zero, and make it a child of Deck 1.
3. Create Deck 3 with unlimited reviews, and make it a child of Deck 2. This deck should have cards that limits aside, would otherwise be due.

###### Expected Result

On AnkiDesktop, and on AnkiDroid prior to the 2.15 update as far as I can tell, the resu

[2021-05-25 17:55] hgiesel commented on #8927
@david-allison-1

I thought that was already happening on Ankidroid?

I actually suspect it's jQuery. MathJax 3 is usually faster than MathJax 2, so if anything that should make it faster.

[2021-05-25 18:03] david-allison-1 commented on #8927
Nope - JS is loaded, even if there's no MathJax content.

https://github.com/ankidroid/Anki-Android/blob/df129fa012d3223529b9724ed49e19b3c4043b7f/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L2318

https://github.com/ankidroid/Anki-Android/blob/1337f3ea21cef25f549a89a81dcbaf151dde184d/AnkiDroid/src/main/assets/card_template.html#L12-L15

Was JQuery also changed in that commi

[2021-05-25 18:05] bmaupin commented on #8941
Oh wow, that's amazing!

I already got a much cleaner result with

[code]

![ankidroid-hr-styled](https://user-images.githubusercontent.com/346123/119546488-f849de00-bd61-11eb-8e82-38d10dc45021.jpg)

I guess I'll leave this open in case anyone is interested in a change to the default styling (in which case I still don't mind submitting a PR), but I'm quite happy. Thanks!

[2021-05-25 18:11] #8935 closed

[2021-05-25 18:19] hgiesel commented on #8927
Yes, jQuery does not seem to be included in the diff, but it was also added around that time frame. jQuery was freshly added, while MathJax was updated to a newer version, that's why I'm a bit puzzled how MathJax could make it slower.

To dynamically exclude Mathjax from loading, `card_template.html` would have to be generated dynamically as well.

[2021-05-25 18:21] javiercl2020 opened #8943 "(Feature) Add auto complete"
Would be nice the autocomplete function in the editor so would be easy to make cards for those that dont know about css and html.
Like excel that has autocomplete for formulas.
Example =br, background etc.

[2021-05-25 18:34] tscheney opened #8944 "[Bug] In 2.15.0 {{# Field}} X {{/ Field}} Appears to Be Broken (Need to handle '# Field' with space)"
###### Reproduction Steps

1. Use version 2.15.0
2. Wrap a card or field with {{# Field}} X {{/ Field}}
3. Attempt to view card
4. Verify that wrapped content does not display

After the 2.15.0 update, my cards that are wrapped this way are showing as empty cards, and the fields I have wrapped are just not showing up. It seems like it is no longer checking to see if the field is populated and inst

[2021-05-25 19:07] mikehardy commented on #8912
Oh I'm sorry to hear that - that is the worst. For any PR related to hear, no pressure - 2.16 will be some time away yet

[2021-05-25 19:08] david-allison-1 commented on #8927
Thanks, on it.

[2021-05-25 19:18] mikehardy commented on #8941
Changing default styling or UI anywhere in the app immediately (somehow, actually immediately) results in an issue logged by someone wanting a toggle to turn it of and go back to the way it was because everyone fears change

So given this is alterable and no one appears to feel strongly about it, I'm going to quietly close it.

But! Now you have seen the true power of Anki - the possibilities via

[2021-05-25 19:18] #8941 closed

[2021-05-25 19:20] mikehardy commented on #8936
Yes! And you can save whiteboards and do all sorts of other things. We are still tracking a possible interaction between the new full-screen navigation drawer swipe and other features - for instance it may interfere with gestures in some areas, but during card review the whiteboard should work. If you see any other odd interactions let us know!

[2021-05-25 19:35] david-allison-1 opened #8945 "[Bug] Collection created in 2.15 can't be opened in 2.14.6"
###### Reproduction Steps

1. Create collection in 2.15
2. Create Note
3. Open in 2.14.6
4. Review

###### Expected Result

Works

###### Actual Result

[code]

[2021-05-25 19:36] david-allison-1 commented on #8945
@Arthur-Milchior What does Anki Desktop do here?

[2021-05-25 20:02] mikehardy commented on #8944
@Arthur-Milchior you may want to watch this one since you were the last one in template conditionals handling I think?

[2021-05-25 20:03] mikehardy commented on #8943
Hi there! We're actually working on a WYSIWYG editor that will be the true answer to this one - #1377 - it's an old issue but there is current work on it

[2021-05-25 20:03] #8943 closed

[2021-05-25 20:04] #8927 closed

[2021-05-25 20:07] david-allison-1 commented on #8942
Hi, we're about to release 2.15.1 which should hopefully fix this. Please let us know if this still occurs after 2.15.1 is out.

Ref: #8926

[2021-05-25 20:09] tscheney commented on #8944
It has been working in the desktop version up to this point, but tonight I can make sure I'm on the latest desktop version and verify that it is working.

[2021-05-25 20:27] mikehardy commented on #8945
I've read through database structure to learn what this chunk means.

Instrumented 2.14.6 and this is what is created on clean install for `req` for the default set of models in the default collection

[code]

checking 2.15 now to see what it generates

[2021-05-25 20:32] david-allison-1 commented on #8945
Likely related: https://github.com/ankidroid/Anki-Android/pull/7980/files#diff-c2ee46815a9845cdfdca8896c0676ea0f7e503cfe7203418b4b3b482fa49b94dL960

[2021-05-25 20:41] mikehardy commented on #8945
2.15 does not seem to generate a `req` JSON entry ever.

[2021-05-25 20:45] dae commented on #8945
https://forums.ankiweb.net/t/is-req-still-used-or-present/9977

On Wed, 26 May 2021 at 6:42 am, Mike Hardy ***@***.***> wrote:

[2021-05-25 20:51] mikehardy commented on #8945
@dae exactly the conclusion I just came to as the solution here, @david-allison-1 I'm restoring `_updateRequired` (which calls `_reqForTemplate` which still existed) and hooking it in where it used to be in `Models.save`

I've leave a note there with the link from Damien indicating we should be able to remove it in 2048 or so ;-) (I kid, maybe a year)

[2021-05-25 21:04] AlexeyMalafeev opened #8948 "[Issue] 2.15 reviewing is significantly slower"
Reviewing cards in 2.15 is significantly slower than in the previous release. When I tap show answer (I use a gesture for that - tap on screen center), there is an approximately half a second delay before the answer is actually shown. There was no such delay in the previous version. Moreover, when I want to see the answer, the answer buttons are shown first, then (after the delay) the answer. Ther

[2021-05-25 21:07] tscheney commented on #8944
Yes, I took the spaces out, and it seems to be working now.

[2021-05-25 21:11] mikehardy commented on #8944
whew - going to resolve this for now but listening in case this is actually a regression vs "following existing rules, but less permissively" (which was the point of quite a few of the template generate change as we converge on Rust doing it)

[2021-05-25 21:13] mikehardy commented on #8948
*Probably* a duplicate of #8927, *maybe* fixed by #8946 - @AlexeyMalafeev I'm going to close this based on that idea but please understand we can re-open with the click of a button for more triage - I'm wrapping up a 2.15.1 release to fix all the things people noticed with the big 2.15.0. Can you wait for that and re-test when it comes out please? Should be just a couple more hours

[2021-05-25 21:13] #8948 closed

[2021-05-25 21:16] david-allison-1 opened #8950 "[Test] Understand ContentProvider regression"
Add a follow-on issue for this: We want:

* a regression test
* An explanation on why and now these methods are called, what happened previously, and the impact from ignoring them

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/8949#issuecomment-848269776_

[2021-05-25 21:27] #8945 closed

[2021-05-25 21:31] dae commented on #8944
To clarify, the desktop code handles the space, so this issue is AnkiDroid specific. Spaces are not so common on templates, but they do crop up occasionally.

[2021-05-25 21:32] mikehardy commented on #8944
Okay - that means reopen for compatibility, and I will gingerly tag @Arthur-Milchior since he has been our template conditionals master :-)

[2021-05-25 21:34] #8928 closed

[2021-05-25 21:34] #8931 closed

[2021-05-25 22:02] tomkahn opened #8951 "[Bug] {{FrontSide}} is treated as a field if used on the question side of a card template"
###### Reproduction Steps

Add {{FrontSide}} to the questions side of any card template like so: https://www.dropbox.com/s/pz74fr93anelrk9/2021-05-25_Ankidroid_Bug.png?dl=0

###### Expected Result

{{FrontSide}} is treated as an empty string on the question side of a card. This is how Desktop-Anki does it (see screenshot above on the right).

###### Actual Result

AnkiDroid complains that there is

[2021-05-25 22:04] david-allison-1 commented on #8951
Hi, we've just put out 2.15.1, could you confirm it's still an issue there, and we'll get on it. Thanks!

[2021-05-25 22:09] AlexeyMalafeev opened #8952 "[Feature] Please add more rescheduling flexibility"
Tldr:

I'd like AnkiDroid to have a simple and user-friendly way of cutting a card's interval (e.g. by half) without penalizing the card's ease.

Problem:

AFAIK, right now ease always gets reduced by 20 every time you choose Hard, to the limit of 130. This leads to the so-called 'low ease hell'. To avoid this, one could manually reschedule (in particular, reduce the interval of) cards, which rese

[2021-05-25 22:13] tomkahn commented on #8951
Yep, just tried it. Same thing on 2.15.1.

[2021-05-25 22:45] david-allison-1 commented on #8938
Note: This isn't Custom Tabs, this is because we use a WebView instead of custom tabs for that screen

Would you accept opening any links in a new Custom Tabs client?

[2021-05-25 22:50] mikehardy commented on #8952
Hi there - I think all of this discussion belongs upstream - it all seems reasonable but we follow upstream features and scheduling as exactly as possible - forums.ankiweb.net/

If they can be convinced, we will implement it following them as quickly as possible

Were we to deviate, the cross-platform nature of the Anki system would be eroded and that's a strong anti-goal

[2021-05-25 22:50] #8952 closed

[2021-05-25 22:51] dae commented on #8951
I wonder if this actually needs fixing? FrontSide is nonsensical on the front side of the card. Is this your own template, or did you get it from a popular shared deck?

[2021-05-25 22:52] mikehardy commented on #8938
Oh! Hmm - that could work, or we could just Intent out to a real browser? I'd actually prefer that - I typically don't like external sites in app-internal browse experiences and I think it's a positive to have the links we specify (typically github milestones and opencollective) in their main browser sessions / history etc

[2021-05-25 23:01] tomkahn commented on #8951
Yeah, I thought about that as well. I think there is one valid usage: By checking if "{{FrontSide}}" is equal to an empty string you can determine in JavaScript if you are currently displaying the front side or the back of the card. I used this to make sure I don't run certain formatting scripts twice. That would otherwise happen if you use {{FrontSide}} on the back of the card.

The card is from

[2021-05-25 23:05] mikehardy commented on #8951
I was under the impression card body in the WebView would have front and back specific CSS selectors allowing fool-proof detection that way? Even in the Javascript API (https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API) there is no function to detect them - but it seems useful - which makes me think there must be an easier way (CSS selectors, my hunch)

[2021-05-25 23:11] david-allison-1 commented on #8938
Would you mind if I used an `openUrlExternal` method which calls through to `openUrl` for now, and we can discuss this in another issue?

For clarity/honesty:

I don't mind, but I want to be consistent, and I'm not sure about the reasons that we used Custom Tabs, or whether they're still relevant.

I also don't want to add supporting the implementation of a new "open URL" method currently as I've

[2021-05-25 23:18] david-allison-1 commented on #8950
See: https://github.com/ankidroid/Anki-Android/issues/8931#issuecomment-847882290 for one of the exceptions

[2021-05-25 23:18] mikehardy commented on #8938
Sure! I don't feel super strongly about it, I just wanted it to be a stack more than anything, so users felt safe tapping a link in there that they could still come back and see the rest of the list

[2021-05-25 23:41] amandatxt opened #8954 "More than 6 profiles?"
Until now, I'm using two devices so I can get the desired number of profile. Is there a way to quickly add more than the extra 5 profiles?

I remember there was a way to unpack and pack the apk back again with some subtle changes and I once did this but can't remember how.

[2021-05-25 23:44] david-allison-1 commented on #8954
Hi, our parallel publishing scripts are commented:

* https://github.com/ankidroid/Anki-Android/blob/master/tools/parallel-package-name.sh
* https://github.com/ankidroid/Anki-Android/blob/master/tools/parallel-package-release.sh

How many profiles do you need? We can trivially increase the number for 2.15.2, which should be out soon, at least until we sort out native profile support

[2021-05-25 23:49] amandatxt commented on #8954
Thanks for replying so fast!! I need 12 profiles and I'm not sure I'm good enough to make use of these files you linked, unfortunately

[2021-05-25 23:57] david-allison-1 commented on #8954
No worries! I've added a fix in: https://github.com/ankidroid/Anki-Android/pull/8955

There's the potential that this change won't be accepted (makes releasing the app a fair bit slower)

If it's not, let me know and I'll see what I can do with regards to documentation

[2021-05-26 02:13] ChrisMonta commented on #8942
I can confirm that my update to 2.15.0 introduced this bug, review limits no longer propagates to parent decks. Looking forward to the fix in 2.15.1

[2021-05-26 02:18] codywahl opened #8956 "After recent update, NullReference occurs when using "send to AnkiDroid" feature from other app"
After the recent AnkiDroid update, when sending a word into Anki via another app (in my case, Takoboto) a null reference error occurs.

![Screenshot_20210526-110402_Japanese Dictionary Takoboto](https://user-images.githubusercontent.com/6902227/119592647-d741c580-be13-11eb-9d5b-98d0ac47a7df.jpg)

[2021-05-26 02:41] codywahl commented on #8956
Resolved in 2.15.1. Closing issue.

[2021-05-26 02:41] #8956 closed

[2021-05-26 02:42] ChrisMonta commented on #8942
I just forced update to 2.15.1 and every looks back in order

[2021-05-26 03:19] mikehardy commented on #8942
Really happy to hear this and kudos to David for nailing this one so incredibly quickly! Sorry about the hassle and thanks for bearing with us

[2021-05-26 03:21] mikehardy commented on #8956
What a relief! And another round of applause to David for nailing this one incredibly quickly along with a separate scheduler issue. The way we work with the underlying collection is completely different in 2.15 and hopefully these are the last little rough edges to smooth out as we make this transition

[2021-05-26 04:47] LordZounds commented on #8942
Yes, I have updated 2.15.1 and the issue is fixed for me as well. Thank you!

[2021-05-26 04:47] #8942 closed

[2021-05-26 04:58] hanpingchinese opened #8957 "[Bug] 2.15: Broken cursor returned from AnkiDroid Instant Add API"
###### Reproduction Steps

[code]
###### Expected Result

cursor.moveToNext() returns true

###### Actual Result

cursor.moveToNext() returns false

This problem started appearing (for all my users) yesterday when they updated AnkiDroid to 2.15. I've looked into the issue, and I'm baffled. The cursor returned from the above content provider query, returns a cursor with the expected count (e.g. a v

[2021-05-26 06:48] hanpingchinese commented on #8957
Is it something to do with this class?

https://github.com/david-allison-1/Anki-Android-Backend/blob/main/rsdroid/src/main/java/net/ankiweb/rsdroid/database/StreamingProtobufSQLiteCursor.java

[2021-05-26 07:55] hanpingchinese commented on #8931
Perhaps related: https://github.com/ankidroid/Anki-Android/issues/8957

My issue is also related to duplicates (i.e. my app queries anki to find out if a note has already been added, but the query returns a false negative and so we end up with a duplicate note). However, I'm not seeing any of those exceptions (presumably because I've already updated to 2.15.1).

[2021-05-26 08:03] Zwergkrug commented on #8927
Hello,
I installed AnkiDroid-2.15.1.parallel.A.apk and it works well.

Thank you very much for the quick response!

[2021-05-26 08:33] voidplayer commented on #8307
still searching for solutions

[2021-05-26 10:28] topherbuckley opened #8960 "Deck Group due count does not match deck's"
After recently updating to 2.15.0 I noticed the green review count on my deck groups no longer matches the sum of the cards due from the decks within the group. See screenshot below. I typically study by clicking the group "Japanese" as opposed to studying from each deck individually. I noticed this error after starting to study today and noticing cards from Heisigs deck popping up when studying f

[2021-05-26 10:42] codywahl opened #8961 "After recent update, duplicates are not prevented when using "send to AnkiDroid" feature from other app"
Using 2.15.1, when sending a word from another app (Takobot) to Anki, duplicates are no longer detected. The same word can be sent multiple times.

Previous behavior: duplicates were detected.

Whereas in issue #8956 this feature (send to Anki) caused a NullException in .removeDuplicates, after updating from 2.15 to 2.15.1 it seems like they aren't being matched not at all.

[2021-05-26 10:49] hanpingchinese commented on #8957
On inspection of the cursor from within the CardContentProvider (at the point where it is returned from the query method), the moveToNext() works as expected. Also, if I read (from within the CardContentProvider) the StreamingProtobufSQLiteCursor into a MatrixCursor and return that instead, then Hanping works as expected (i.e. the cursor provided by the content resolver does not have the moveToNex

[2021-05-26 10:52] hanpingchinese commented on #8961
Sounds like the same problem as: https://github.com/ankidroid/Anki-Android/issues/8957

[2021-05-26 11:44] AlexeyMalafeev commented on #8952
@mikehardy I got your point about upstream features, but what about my suggestion A? (Please consider adding 'reschedule for review in X days' to actions assignable to gestures. This will save taps.)

I think this is purely AnkiDroid front-end and does not depend on Anki features. I mean, 'reschedule for review in X days' is already available on AnkiDroid, I am just asking for it to be accessible

[2021-05-26 12:56] david-allison-1 commented on #8957
Hi @hanpingchinese

Profuse apologies for this.

The reproduction case passes in our current `androidTest` framework

`Cursor` is a `android.content.ContentResolver$CursorWrapperInner`, I can't find a source ref for `BulkCursorToCursorAdapter`

I ca reproduce this on my device, and I'll aim to get it sorted today

[2021-05-26 13:27] mikehardy commented on #8931
@hanpingchinese - are you still seeing false negatives even after updating to 2.15.1? If so can you share any details of the code you use to query for duplicates? If it's failing for some reason we can add it to the automated test harness so that a) we can fix it and b) it never happens again :-)

It appears not a single one of our alpha our beta testers actually use the API from external dictiona

[2021-05-26 13:30] mikehardy commented on #8952
We attempt to match front-end features as well

[2021-05-26 13:32] mikehardy commented on #8960
Hi there! We think this is fixed in 2.15.1 so I'm going to close this but of course please update and *if* it is not fixed let us know

[2021-05-26 13:32] #8960 closed

[2021-05-26 13:54] AlexeyMalafeev commented on #8952
Ok, got it.

[2021-05-26 13:57] dorrin-sot commented on #8930
@mikehardy I tried a couple of ways of selecting a deck and deleting it and going to a page that uses the current deck, but everytime it gets properly set to Default deck. Is there a specific way to reproduce this?

[2021-05-26 14:00] mikehardy commented on #8930
You won't be able to test this with the interface - it resets current deck if you delete current deck.
I think you need to close the app, then directly edit (read as: mess up) the database by setting the current deck pointer to something that does not exist. Then open the app and try a feature that uses current deck to make sure it handles the bad current deck pointer

[2021-05-26 14:08] ionx711 opened #8963 "[Bug] can`t receive words/entries from takoboto(japanese dictionary)"
###### Expected Result
used to receive new entries from takoboto. but since it updated to v2.15.00 it can`t.

###### Actual Result
Error

System.NullReferenceException: Object reference not set to an instance of an object
at com.ichi2.anki.AnkiDroidHelper.removeDuplicates(System.Collections.Generic.List`1[T] fields, System.Collections.Generic.List`1[T] tags, System.Int64 modelid, System.Nullable`1

[2021-05-26 14:25] mikehardy commented on #8963
Hi there! Duplicate of #8928 - fixed in 2.15.1 - please update! sorry for the hassle!

[2021-05-26 14:25] #8963 closed

[2021-05-26 15:02] mikehardy commented on #8150
This is a live issue

[2021-05-26 15:12] #8930 closed

[2021-05-26 16:44] mikehardy commented on #8944
I'm looking in to this now.
My guess is that altering the substring call in the tokenizer here to strip spacing chars between token type and token will do it.

https://github.com/ankidroid/Anki-Android/blob/f4dd4958d905591746f7aadd2e4511433c77ab7e/AnkiDroid/src/main/java/com/ichi2/libanki/template/Tokenizer.java#L201-L210

[2021-05-26 17:43] david-allison-1 commented on #8925
Note: This is not media-related, just card data

[2021-05-26 17:52] tomkahn commented on #8951
Hi Mike, I don't know. Do these CSS selectors work on all Anki platforms and can they be accessed via JavaScript? The scripts I run heavily change the HTML-content of the card. For example they link any laws mentioned to their specific texts (i.e. § 433 I BGB => https://dejure.org/gesetze/BGB/433#Abs1 ), so it's not just a matter of styling.

I'd also be happy to look through the code myself to ge

[2021-05-26 18:02] bmaupin opened #8966 "Feature request: Hide Hard/Easy buttons"
This might seem like an odd request but I was wondering if there was a way to hide the Hard/Easy buttons so I would only see the Again/Good buttons, and if's not currently possible if you'd accept a PR for such an option.

I love the flexibility of this app and the ability to hide a lot of the extra information on the screen (button times, ETA, etc) but I still find when I'm studying that the answ

[2021-05-26 18:07] mikehardy commented on #8966
We will not deviate from upstream functionality in our main reviewer code, so if you want this change you must get it accepted upstream forums.ankiweb.net/

If you would like to bend the Reviewer here to your will and map whatever visible buttons you show to whatever you want, then you'll want to use the Javascript API we provide for niche requests like this, in combination with full screen mode,

[2021-05-26 18:07] #8966 closed

[2021-05-26 18:24] KarishmaDixit opened #8967 "[Bug] cards are blank when I review them on my android phone"
###### Reproduction Steps

1. review cards on my android phone (pixel 5)
2.
3.

###### Expected Result

Cards display like normal

###### Actual Result

Cards are showing as blank:
![image](https://user-images.githubusercontent.com/17726476/119711032-f44bb800-be56-11eb-9d85-849d67514e6a.png)

But cards display like normal when I review them on my PC.

Extra info which may be helpful:
1. some of my

[2021-05-26 18:31] mikehardy commented on #8967
Hello! I believe this will be a duplicate of #8944 and will be fixed by #8965  as soon as I get it working well
Can you confirm whether or not your templates have conditionals with spaces in between the conditional start and the conditional name? That would help me have confidence this really was duplicate

[2021-05-26 18:38] mikehardy commented on #8951
I looked for you - we rely on these - I believe they are cross platform?

https://github.com/ankidroid/Anki-Android/blob/f4dd4958d905591746f7aadd2e4511433c77ab7e/AnkiDroid/src/main/java/com/ichi2/anki/cardviewer/CardAppearance.java#L37-L41

[2021-05-26 19:06] KarishmaDixit commented on #8967
Hello! Thanks very much for the help. All my cards have the following template, which I think I edited a while ago to hack in MathJax support:

![image](https://user-images.githubusercontent.com/17726476/119716829-7808a300-be5d-11eb-8f34-9c2be59f3cf0.png)

[2021-05-26 19:23] mikehardy commented on #8967
Well....that's not a duplicate :-), that's different. Thanks for the details on the template. I don't see why this would not be working except I also don't think you'll need to hack in Mathjax support - we not only support Mathjax we have a current version (I think) in form of Mathjax 3 - embedded in the app so it will work offline even

I wonder if you removed all the mathjax stuff if it would wo

[2021-05-26 19:32] mikehardy commented on #8967
I will be that 2.15.0 works for you, you may install a parallel build to check really quickly:
https://github.com/ankidroid/Anki-Android/releases/tag/v2.15.0

And I think #8946 (which just went in for 2.15.1) is causing things to be blank - with mathjax just not loading at all somehow. I could be wrong, but the parallel build test is pretty easy

I continue to think you can remove all the mathjax

[2021-05-26 19:47] dorrin-sot commented on #8940
Is there any way to reproduce this other than by messing with the database files directly? The problem seems to occur by deleting a model, deleting all its fields or setting the modelId of a note to an id that doesn't exist though none of these can happen through the ui

[2021-05-26 19:53] bmaupin commented on #8966
Ah thanks, that makes sense that you would want to have a consistent UX between the different applications. I had thought of this more like the option in the settings that allows hiding the times on the buttons (the Anki web app shows the times but has no option to hide them, whereas the desktop app doesn't seem to show them at all), but I suppose the buttons themselves are consistent and this wou

[2021-05-26 20:08] mikehardy commented on #8940
Probably not - we are down to the types of crashes that are so rare they are basically edge cases of bad add-ons from desktop doing weird things to the database or similar. There may not be much more to do in some of these cases then check for expected data, and if you see unexpected data pop up the "your database is corrupt, you need to run check database" dialog. But not crashing and at least of

[2021-05-26 20:11] mikehardy commented on #8966
It would need to be in the card template yes - however, we *are* working towards a way where you may have javascript addons that affect all decks, and the javascript addons themselves are manageable with checks to npmjs.com and semantic versioning etc

It's the only way to do add-ons on mobile really (Javascript, that is, in the WebView) so I'm hoping it is the future, but it has been slow going s

[2021-05-26 20:32] #8944 closed

[2021-05-26 20:35] dorrin-sot commented on #8940
Oh, that's a relief. I was afraid I had to add fixing corruption myself😅. I'll try to add it tonight, if not tomorrow

[2021-05-26 21:04] mwohlbach opened #8969 "[Bug] Navigation Drawer's gesture is not strict enough"
###### Reproduction Steps

1. Press finger anywhere on screen (including the far right edge of my screen) and swipe right
(This only started happening after I updated to the new version 2.15.0)

###### Expected Result
The navigation drawer should only open if the finger is initially touched on the far left of the screen.
(From the docs: "The navigation drawer can be opened from most places in the

[2021-05-26 21:34] joshakaw opened #8970 "[Bug] Review top-bar button spacing"
###### Reproduction Steps

1. Settings
2. Reviewing
3. App bar buttons
4. 2+ actions set to "Always show"
5. Review any deck

###### Expected Result

Evenly spaced icons no matter the amount of action buttons.

Not part of the issue but if space was a concern of viewing the deck name, maybe have a tooltip.

###### Actual Result

Varied spacing:
- 2 pairs of different spacing "groups" with 4 button

[2021-05-26 21:51] mikehardy commented on #8969
Hi there! The docs should be updated, this change was on purpose, phones today are quite a bit bigger than the past but hands are the same size, and for people with smaller hands they could not access it, this allows them to access it.

However, we do not intend for it to interfere with use cases.
We have heard from some users that they were drawing on the screen in reviewer and that triggered it,

[2021-05-26 21:53] mikehardy commented on #8970
Hi there! Thanks for pointing this out. If you're a designer that's probably maddening, just like when kerning is off ;-)

This may be related to some of the accessibility work that went on for 2.15. Accessibility guidelines prescribe a certain amount of space around tappable elements and we made some changes to adhere to them, but the application may be uneven

Marking for triage

[2021-05-26 23:10] david-allison-1 commented on #8954
Taking a different approach: https://github.com/ankidroid/Anki-Android/pull/8955#issuecomment-848362188

[2021-05-26 23:10] mikehardy commented on #7748
Even with 2.15.1 which tries extra hard to paste, users complain. Maybe there is something more we can do here on presentation. Typically it's a file that has no extension (an example "something_or_other_mp3" - note no period!) and I assume the mime type is not set from the sending content provider. What can we do at that point? It might be device specific as the pixel emulator detects mime type c

[2021-05-26 23:15] mikehardy opened #8972 "[Bug] Crash 2.15 DeckSelectionDialog crash, not attached to Activity"
###### Reproduction Steps

1. Open deck picker
2. Open Note editor
3. select create new deck

###### Expected Result

Work

###### Actual Result

Somehow, this happened on 2.15.1 on an Android 11 device:

[code]

[code]

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to co

[2021-05-26 23:16] mikehardy opened #8973 "[Bug] 2.15 Crash TagsDialog not attached to a Context"
###### Reproduction Steps

* Add Note
* Tap Tags
* Tap Add
* Type in text box
* Leave AnkiDroid
* Restore AnkiDroid
* TextBox is still there, Tags Dialog has been removed
* Press "OK"
* Crash

###### Expected Result

###### Actual Result

On Android 11 AnkiDroid 2.15.1:

[code]

[code]

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to g

[2021-05-26 23:36] KarishmaDixit commented on #8967
Hi, thanks for the advice, I tried removing the mathjax stuff, and it now works!

[2021-05-27 00:24] #8957 closed

[2021-05-27 02:20] mwohlbach commented on #8969
Hey! Thanks for the clarification.
That is the same use case that I was doing. I would practice writing the word by scribbling on the screen with my finger when going through cards. And by scribbling on the screen I was now constantly opening the navigation drawer.

I just tried using the whiteboard feature (never knew this existed) and it works fine for my use case.

[2021-05-27 03:46] david-allison-1 commented on #8969
Perfect! Are you ok if we close the issue if this is solved for you?

[2021-05-27 03:54] gebezis opened #8975 "[Bug] Card Browser "Search All Decks" not returning correct results"
###### Reproduction Steps

Thr bug appeared after yesterday's update.

1. I am in the card browser menu of a deck on Anki Droid.
2. I search for a word.
3. There are no matches.
4. A button appears at the bottom to search all decks.
5. I click it and it returns no results (unlike before the update) even though it should return a result.
6. If I click the menu on top which now says "All Decks" I ca

[2021-05-27 04:53] #8284 closed

[2021-05-27 05:32] amandatxt commented on #8954
Unfortunately, I'm not really sure on how to proceed from here.
I guess I will keep using two devices until Ankidroid comes with a profile thing built-in.
Unless you can further help me, I would like to thank you for at least hearing my "problem".
Thank you very much

[2021-05-27 05:46] caycaycarly opened #8976 "Optional 2x2 grid for answer buttons"
![Screenshot_20210526-214857~2](https://user-images.githubusercontent.com/57024945/119772282-8b0e8800-bedc-11eb-80a1-6c2bd534a771.jpg)

Above is the default answer button size on ankidroid. The size of it can be increased, but that only increases the "height" of the button. Not the width.

It would be neat if there could be an option to rearrange the answer buttons in a 2x2 grid as the mock-up tha

[2021-05-27 06:52] #7668 closed

[2021-05-27 07:25] vinishhub commented on #8970
I would like to work on it

[2021-05-27 08:15] Zed0004 opened #8977 "Option to change the order of options and hide unnecessary ones in the Toolbar"
### Kindly make the toolbar customizable
I always have to scroll the toolbar to use the Cloze button in the toolbar in Card Editor.
my suggestion is that the options in toolbar should be customizable and have the following properties:

- Ability to Change the order of buttons in toolbar
- Ability to hide buttons in toolbar which aren't needed often
It would be nice if these options are added in th

[2021-05-27 08:28] natfarleydev opened #8978 "[Bug] Custom delimiters break in v2.15.x of AnkiDroid"
Apologies if this is raised elsewhere, since it's all punctuation it's very difficult to search for.

Essentially my problem is about custom delimiters, I have a lot of jinja templates in my questions and answers (mostly for Ansible) so I use custom delimiters with `{{=<% %>=}}` which AnkiDroid previously handled fine but the latest update (2.15.0) breaks this behaviour. This behaviour in Anki is

[2021-05-27 08:28] vinishhub opened #8979 "Kannada Language support to Ankidroid"
**Describe the solution you'd like**
AnkiDroid does not support Kannada , Kannada is the regional Language of Karnataka, India.
Creating crowdin for kannada Language will update the language.

[2021-05-27 08:51] dae commented on #8978
While AnkiDroid should be handling these, chances are you no longer need them.

https://docs.ankiweb.net/math.html#cloze-conflicts

[2021-05-27 08:57] natfarleydev commented on #8978
Thanks @dae, unfortunately my problem doesn't involve LaTeX/math mode, my problems are with cards describing Jinja templates so putting a space between `}}` doesn't work

(incidentally, putting a unicode U+200B in between them does, but changing the delimiter is much easier since it means I can copy/paste easily from the web)

[2021-05-27 09:40] hanpingchinese commented on #8957
Thanks very much for your super-fast work!  I tried out the latest code and can confirm all is working again. Any idea when the app will be updated on the Play Store?

[2021-05-27 09:42] dae commented on #8978
It's not specific to math tags - field content is no longer considered when the templates are rendered.

[2021-05-27 10:00] sam-jaques opened #8980 "[Bug] Hierarchy of review limits is now different from desktop version"
###### Reproduction Steps
1. Collection A with subcollections A1 and A2, where A1 belongs to group G1, A2 to group G2, and A to group G.
2. Group G1 has a review limit of 0 cards, group G2 has a review limit of 20 cards, G has a review limit of 40 cards.
3. A1 and A2 each have 10 cards to review.
4. Review collections A1 and A2 by selecting collection A for review.

###### Expected Result
No cards

[2021-05-27 10:02] dae commented on #8980
Are you using the latest computer version?

[2021-05-27 10:20] david-allison-1 commented on #8980
Hi, please upgrade to AnkiDroid 2.15.1 and this should resolve it

[2021-05-27 10:23] david-allison-1 commented on #8979
Hi, please get `core`, and ideally `strings` up to 100% translated and let us know

[2021-05-27 10:24] david-allison-1 commented on #8975
Hi, thanks for the report. Could you please fill out the 'Debug Info' and ensure you're on AnkiDroid 2.15.1

[2021-05-27 10:25] david-allison-1 commented on #8970
sounds good to me

[2021-05-27 10:27] vinishhub commented on #8741
@mikehardy  what if we convert these images to webp

[2021-05-27 10:29] david-allison-1 commented on #8957
Google's approved the release, available now.

Typically 4 days for a full auto-rollout, but users can update manually

[2021-05-27 10:50] natfarleydev commented on #8978
Interesting, I'll change my templates back to use `{{` and `}}` and see if it's a problem. Thanks @dae!

[2021-05-27 12:12] mikehardy commented on #8741
I don't know if that is a big enough difference in compression to matter. I also don't know if webp is supported down to api21 on all devices in all the places?

[2021-05-27 12:32] vinishhub commented on #8741
https://developer.android.com/guide/topics/media/media-formats#image-formats
When I tried converting widget_bg_small.png this was the result👇🏼👇🏼
![image](https://user-images.githubusercontent.com/76252038/119826472-acd83100-bf15-11eb-8c19-1e852a6c5c23.png)

[2021-05-27 12:46] linsui opened #8982 "F-Droid can't build"
[code]

Can those repos be removed? Thanks!

[2021-05-27 13:10] Nanonej commented on #8936
Hey there ! That's an issue for me for the same reason, but as the whiteboard may prevent it, I don't like to draw those pretended lines because I don't try to trace precisely the kanji but to get the line orders right.
So if an option to activate or disable it may be added in the settings I would be glad.

[2021-05-27 13:31] mwohlbach commented on #8969
Yes that is fine. Thank you!

[2021-05-27 13:48] david-allison-1 commented on #8982
@mikehardy

Ref: https://github.com/ankidroid/Anki-Android/issues/7558

https://github.com/ankidroid/Anki-Android/blob/9c90cc52e53223d588f27ff0d88352bb1f5ad424/build.gradle#L11-L18

[2021-05-27 13:49] david-allison-1 commented on #8931
Perfect, thanks for the reply!

[2021-05-27 14:11] mikehardy commented on #8975
Actually - current version is 2.15.2 now :-)

[2021-05-27 14:14] mikehardy commented on #8936
I had someone else mention in play store reviews today that it interferes with scrolling as well. It is a much bigger pain point than I thought.

I believe we need a new setting with it default to off, this is open for anyone to implement :pray:

[2021-05-27 14:16] mikehardy commented on #8967
Excellent! Thanks for reporting back, and I'm really glad it's all working for you now. Should actually be faster *and* work offline as well (previously the workaround only worked by pulling Mathjax in over the network...)

[2021-05-27 14:16] #8967 closed

[2021-05-27 14:18] mikehardy commented on #8978
Very curious to hear back - we are working on harmonizing the core code of AnkiDesktop + AnkiDroid and template parsing changes in 2.15 were a large part of that. It wasn't perfect though so we have more to fix up depending on your report. Cheers

[2021-05-27 14:19] #8980 closed

[2021-05-27 14:30] mikehardy commented on #8982
I'll check this, I love F-Droid and want it to be a channel for AnkiDroid. Those were necessary as part of a gradle build toolchain failure but I believe I udpated to the new (fixed!) upstream toolchain just prior to release so it should be possible now easily.

[2021-05-27 14:33] mikehardy commented on #8741
Hmm - that has potential and there are definitely some cases that just can't go svg. If webp works for them, it's worth a try. These are *very* small savings though, so I would not spend more than a few minutes on it :-)

[2021-05-27 14:36] natfarleydev commented on #8978
@mikehardy Happy to report that using `{{` and `}}` in an answer no longer causes any problems with the default template variable delimiters (`{{` `}}`)  (they are in a `<pre>` tag as part of the field, but sounds like that doesn't matter for this case)

I guess the original issue still stands (problems setting custom delimiters), but this fix works for me

[2021-05-27 14:36] mikehardy commented on #8954
Nothing to do as of yet @amandatxt but what we're hoping for is that in the future if you really need a *lot* of extra profiles, you can fork ankidroid on github (free, and just a clck near the top of the main page) then in your fork you can go to the "Actions" tab, select the "Publish" action, give it the number of profiles you want, and then when it's done they will all be there for you to downl

[2021-05-27 14:37] mikehardy commented on #8977
Hi there, this is just a stopgap until we get #1377 - spending extra developer time in here is not likely to happen, or at least is something I would prefer did not happen as it is a mal-investment of time vs getting a real WYSIWYG editor.

[2021-05-27 14:37] #8977 closed

[2021-05-27 14:40] mikehardy commented on #8976
Worth mentioning voice control was also mentioned as a possible solution and may work for some but is only an option and is not sufficient for the use case.

If someone would like to take this on, the general idea would be that in the Settings --> Review area there should be a toggle for "Large Answer Buttons" and it would enable the 2x2 button layout as mocked up here

[2021-05-27 14:40] vinishhub commented on #8741
one more thing that we can't convert 9-patch files to Webp

[2021-05-27 14:42] mikehardy commented on #8978
Great! Glad to hear we don't have a more "emergency / my review capability completely broke" type situation.

I'll add this to the queue for remediation in 2.15.3 - maybe @Arthur-Milchior has a moment to check through how the new template code is handling these...

[2021-05-27 14:44] mikehardy commented on #8179
This is still a thing and at some point we'll want to support the new TTS features from upstream

[2021-05-27 14:52] david-allison-1 commented on #8936
Refs (I believe):
https://github.com/ankidroid/Anki-Android/issues/8070
https://github.com/ankidroid/Anki-Android/issues/8071
https://github.com/ankidroid/Anki-Android/issues/8235
https://github.com/ankidroid/Anki-Android/pull/8245

[2021-05-27 15:04] dorrin-sot commented on #8940
@mikehardy How do I get the last activity object opened from inside the `Models` class?

[2021-05-27 15:34] sm18lr88 opened #8983 "Android: sync always downloads everything"
I have the current version of Anki in my Android 6T.
Anytime I sync it uploads a little data (correct upload sync) but downloads the entire database all over again.
It doesn't happen in the desktop version.

[2021-05-27 16:28] mikehardy commented on #8940
I'm not sure it matters from the context of handling corrupt data? I'm not sure what you're trying to do so can't say really. If you need to post or pop a dialog there are UI utils methods that can do that statically - those probably use some other statics based off AnkiAndroidApp that do it

[2021-05-27 16:38] mikehardy commented on #8983
Hi there!

"Current version", which exact version is that? We do releases nearly daily, people are frequently behind. You deleted our issue template, it contained advice on how to get this information and requested it from you. You requested help from us but ignored the template, that is not in general a good idea

"Android 6T", this is not a version of Android nor a device version. I believe you

[2021-05-27 16:54] gebezis commented on #8975
Done.

[2021-05-27 17:06] tomkahn commented on #8951
Thank you for your efforts, Mike! But I meant looking for a fix such that AnkiDroid treats {{FrontSide}} as an empty string again (when used on the front side of a card). I did so just now and I think it could be fixed by adding one additional line:

`fields.put("FrontSide", "");`

after [line 1120](https://github.com/ankidroid/Anki-Android/blob/dff77283952367d927d61f6f61363aedca28bcc0/AnkiDroid/s

[2021-05-27 17:10] david-allison-1 commented on #8951
Just bisecting to understand the cause of the issue - my fix is the same, I'll get it into the codebase later on today once I understand:

* What Anki Desktop does
* Which change caused this

[2021-05-27 17:50] dorrin-sot commented on #8940
I was trying to open the dialog from `Models::fieldMaps` so I needed to use the last activity for opening the dialog and also to go back to DeckPicker and do a check database. Though I'm leaning toward launching it from each activity individually

[2021-05-27 17:52] david-allison-1 commented on #8951
[code]

https://github.com/ankidroid/Anki-Android/commit/08217dac2e11df83321ae00271d3fb03bbb3e089 https://github.com/ankidroid/Anki-Android/pull/7980

[2021-05-27 18:14] dotancohen commented on #8259
I've noticed that the Statistics screen in RTL starts with the tabs scrolled all the way to the left.

What should happen:
1. The Overview tab, which is now the rightmost tab, should be displayed.
2. The tab selector should be scrolled to the right, so that the Overview tab's tab indicator is shown.

What currently happens:
1. The Overview tab, which is now the rightmost tab, should be displayed.

[2021-05-27 18:30] Akshay0701 commented on #8976
I will take this issue.

[2021-05-27 18:38] Akshay0701 commented on #8972
I think you need to re construct steps to reproduce bug
1 open deckpicker
2 open note editor
3 select deckSpinner
4 select create new deck option // deck create dialog will open
5 minimize the app
6 reopen app
7 create deck

[2021-05-27 18:38] Akshay0701 commented on #8972
I will solve this once I return home 👍

[2021-05-27 19:26] mikehardy opened #8984 "Statistics screen in RTL starts with the tabs scrolled all the way to the left."
I've noticed that the Statistics screen in RTL starts with the tabs scrolled all the way to the left.

What should happen:
1. The Overview tab, which is now the rightmost tab, should be displayed.
2. The tab selector should be scrolled to the right, so that the Overview tab's tab indicator is shown.

What currently happens:
1. The Overview tab, which is now the rightmost tab, should be displayed.

[2021-05-27 19:26] mikehardy commented on #8259
Peeled off as a work item in #8984 @dotancohen - thanks for the report!

[2021-05-27 19:50] #6774 closed

[2021-05-27 20:22] david-allison-1 commented on #8984
Had a play:

[code]

[2021-05-27 20:58] Arthur-Milchior commented on #8978
Resolved: https://github.com/ankidroid/Anki-Android/pull/8987

[2021-05-27 23:11] david-allison-1 commented on #8119
@tilmanrpk  is this still an issue?

[2021-05-27 23:19] tilmanrpk commented on #8119
Oh completely forgot about it. If it's not easily to replicate I think its an issue with miui then. The fraction bar is also not invisible it is just a very dark grey so almost invisible. Some other apps like snapchat have similar problems with the miui dark mode. If I had to guess it may have something to do with the specific color or theme used so that miui treats it like background? I don't kno

[2021-05-27 23:41] david-allison-1 opened #8988 "[RustV2] Handle upgrade to Database Schema v16"
Most of `rsdroid` requires that the database schema is upgraded to schema v16 from v11 before use.

Schema v16 splits a lot of the JSON columns in `col` into separate tables, and requires work to handle this

This is performed by the `openCollection` method.

Before this works, the "big 5" collection fields must handle an upgrade to v16, this means moving the classes to match the `.py` files in th

[2021-05-27 23:42] david-allison-1 commented on #8119
Does this fix your issue: https://github.com/ankidroid/Anki-Android/issues/8150#issuecomment-795071385

[2021-05-28 02:14] joshakaw opened #8989 "Support, settings placement in navigation drawer"
Not sure how much ground this has, but the organization of the navigation drawer is not consistent.

![Screenshot_20210527-212652.png](https://user-images.githubusercontent.com/84877484/119916876-5c6fcc00-bf33-11eb-94b1-ab4423606163.png)

**Support placement:**
In the sidebar, the buttons that lead the user to perform an action (A) are at the top, and the information buttons (I) are at the bottom.

[2021-05-28 02:22] #8984 closed

[2021-05-28 02:59] #8951 closed

[2021-05-28 03:41] mikehardy commented on #8982
Attempted to resolve with #8990 but I don't know how to "re-run the test" by kicking off a build until we cut a new release

@linsui as mentioned on the PR if the api build.gradle bit still fails, I'd like to push for that to be resolved on the f-droid build side, vs here. That's part of our publishing infrastructure and I don't know how to resolve it here.

[2021-05-28 05:37] AkinchanKushwaha commented on #8976
Hi, can I work on this issue?

[2021-05-28 05:50] Akshay0701 commented on #8976
Sure go ahead @AkinchanKushwaha

[2021-05-28 06:34] AkinchanKushwaha commented on #8976
@Akshay0701 can you assign me this issue?

[2021-05-28 07:58] msw1age opened #8991 "[Bug] Custom MathJax macros do not display correctly"
This started happening in version 2.15.0.
Steps to reproduce:
1. Create MathJax macro in a card template
2. Use that MathJax macro in a card

Here is an example template for the front of a Cloze card:
[code]
Here is an example card using the above macro:
``The elements of \(\Z/n\Z\) are {{c1::representative}}s of the group, but can be treated like elements.``

Here is how this appears on my deskto

[2021-05-28 08:08] sam-jaques commented on #8980
2.15.1 fixes it, thanks and sorry for raising a solved issue. And thanks for fixing the issue so fast the fix was released before my phone had even downloaded the version that introduced the bug!

[2021-05-28 08:41] U1F357 opened #8992 "Does Ankidroid work on WearOS smartwatches (without a system's built-in webview)?"
Hi, when I tried to install Ankidroid on my WearOS smartwatch, I found that Ankidroid does not work because WearOS does not have a built-in webview, I tried to install an additional webview (_com.google.android.webview_), but unfortunately ankidroid doesn't recognize it. Is there a workable solution to make Ankidroid work in this particular condition?

WearOS seems to be no different from Android,

[2021-05-28 09:18] tomkahn commented on #8951
On behalf of all law students studying for their finals: Thank you very much for your fast response! I just donated $100 to your open collective page to show my appreciation.

[2021-05-28 09:27] david-allison-1 commented on #8992
Hi, does https://play.google.com/store/apps/details?id=com.yannik.wear.anki work for you?

It's unmaintained on GitHub, you might want to contact the author if you have changes that you want/need to be made. It'd be great to see it back to a good state.

PS; is there a good way of detecting wearOS on startup so we could guide future users to this answer?

Best

David

[2021-05-28 09:28] david-allison-1 commented on #8980
Very welcome!

[2021-05-28 09:52] david-allison-1 commented on #8951
Thanks!!!!!!!!!! 💝💝

Just to note; you can download 2.14.6 Parallel.A from here while the fix is pending release
 https://github.com/ankidroid/Anki-Android/releases/tag/v2.14.6

Thank you again,

David

[2021-05-28 10:06] mikeingerman opened #8993 "Samsung: Cannot add new cards (plus button doesn't work)"
Edit by David: I haven't been able to reproduce this and I'm seeking a device on the [Samsung test lab](https://developer.samsung.com/remotetestlab/rtlDeviceList.action), and/or a device where we can install alphas with additional diagnostic logging via logcat or a source which details a workaround for this issue

Bug reported on:

* Samsung Galaxy A51 - Android 11 - English - ❌
* Samsung Galaxy A

[2021-05-28 10:09] prateek-singh-3212 commented on #8973
@mikehardy I have started working on this. Without logcat, I figured out that this issue is caused due to unhandled `requireActivity()` in the code. If possible, can you please share the logcat? should I make a PR after handling this exception?

https://github.com/ankidroid/Anki-Android/blob/cf53ad406da0afdd0c257a0623e2586e9271276a/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/tags/TagsDialog.jav

[2021-05-28 10:14] prateek-singh-3212 commented on #8993
@mikeingerman Thanks, for reporting this issue. can you please share the screenshot?
For debug info please read this guide: https://docs.ankidroid.org/help.html

[2021-05-28 10:30] U1F357 commented on #8992
Thanks for your reply!

Ankiwear is great, and I've used it before, but unfortunately it has to rely on an Android phone to provide card information to the watch over Bluetooth, but the whole point of a smartwatch is to be portable and work independently of a bulky phone.

My idea is to have Ankidroid detect that there is no webview built into the system and direct the user to install an additiona

[2021-05-28 10:33] mikeingerman commented on #8993
OK will do - have never taken a screen shot from a tablet before and am
trying to work out how to send it to you.

A steep learning curve, worse than mastering German!

Mike

On Fri, 28 May 2021 at 11:14, Prateek Singh ***@***.***>
wrote:

[2021-05-28 10:35] david-allison-1 commented on #8993
The debug report is good!

First off: please download 2.14.6 parallel.A so you can add cards: https://github.com/ankidroid/Anki-Android/releases/tag/v2.14.6 ensure that you close ankidroid before opening it

Now, could you close AnkiDroid.A, open ankidroid and send a video of what's happening. I'm very confused, and a video should help show what's going on

[2021-05-28 10:39] david-allison-1 commented on #8993
@Akshay0701 what's the Android video recorder that you use? I'll need to add a section to the dev guide for it

[2021-05-28 10:43] mikeingerman commented on #8993
All this is making me think you are IT gurus - and I am not!

Am away from desk for rest of the day - may have time and determination? to
deal tomorrow.

Regards

Mike

On Fri, 28 May 2021 at 11:39, David Allison ***@***.***>
wrote:

[2021-05-28 10:43] mikunimaru opened #8995 "[Bug] Interval after the decimal point is not reflected accurately in the deck option"
###### Reproduction Steps

1. Enter 0.1 for the deck option interval
![Screenshot_20210528-190651991_1](https://user-images.githubusercontent.com/43168745/119971905-8638f980-bfec-11eb-9053-6521aa29d196.jpg)

###### Expected Result

It is displayed as 0.1.

###### Actual Result

![Screenshot_20210528-190655061_1](https://user-images.githubusercontent.com/43168745/119971891-80431880-bfec-11eb-9d7e-2

[2021-05-28 10:46] Akshay0701 commented on #8993
@david-allison-1 I used [AZ Recorder App](https://play.google.com/store/apps/details?id=com.hecorat.screenrecorder.free&hl=en_IN&gl=US)

[2021-05-28 10:48] david-allison-1 commented on #8993
Understood Mike.

For now: click here and install the app to get the previous version of AnkiDroid: https://github.com/ankidroid/Anki-Android/releases/download/v2.14.6/AnkiDroid-2.14.6.parallel.A.apk

[2021-05-28 11:50] viivgit opened #8997 "[Bug] Smaller AnkiDroid icon, and magnifying glass icon after 2.15.0"
Maybe it's two different bugs, but since it concerns icons that became smaller after the 2.15.0 update I put them together, as I suspect they might come from the same root cause.

Bug 1: **The AnkiDroid icon** (the tilted white star with round edges) **is smaller in the notification bar than before**, even though it takes the same amount of space width-wise, thus it would be better if it went back

[2021-05-28 13:30] mikehardy commented on #8992
We rely completely on the WebView

[2021-05-28 13:33] mikehardy commented on #8995
Looks like a classic "integer treated as floating point" issue. I believe we just added the ability to have small steps like this, and it appears the addition wasn't complete...

Appears to need something like this https://github.com/ankidroid/Anki-Android/pull/7640/files

[2021-05-28 13:38] mikehardy commented on #8997
The question is: does it matter?

We did a massive conversion from PNG to SVG and this is part of the aftereffect of that I'm sure.

But, if the icons were the current size originally, they would not be different, would it be okay then? In other words, this may not be something worth taking any action on.

I'm personally not bothered and would move on, but maybe I'm missing some reason the size on

[2021-05-28 14:02] viivgit commented on #8997
As mentioned:
- For the Notification bar icon, it makes it harder at a quick glance for me to see what is this tiny icon among 5-10 that are there already. I'm sure it's worse for people with bad eyesight.
- For the magnifying glass, it makes it harder to click it.

So I would say yes, it matters.

Since you mention SVG, is there a parameter that can be tuned to scale these icons? A *2 scale compa

[2021-05-28 14:49] U1F357 commented on #8992
My idea is to have Ankidroid detect that there is no webview built into the system and direct the user to install an additional webview and be able to use it, rather than having a popup that says Ankidroid doesn't work because there is no webview built into the system.
hmmm, is that possible? (I don't know Android development)

[2021-05-28 15:46] tilmanrpk commented on #8119
Of course but then thr app is not in dark mode

[2021-05-28 15:53] david-allison-1 commented on #8119
OK, I'm going to close this as a duplicate of #8150, glad we (eventually) figured out the problem

Please don't treat this as 'closed forever', if there's more, please let us know

[2021-05-28 15:53] #8119 closed

[2021-05-28 16:15] mikeingerman commented on #8993
Will do, thanks!

On Fri, 28 May 2021, 11:48 David Allison, ***@***.***> wrote:

[2021-05-28 16:18] bmaupin commented on #8966
Got it. Is there a particular issue for the JavaScript API that I can follow to get an update on its status?

Thanks!

[2021-05-28 16:38] david-allison-1 commented on #8993
@mikeingerman Could you try `Settings - Advanced - Safe Display Mode` and see if this fixes the issue

[2021-05-28 16:39] david-allison-1 commented on #8993
This seems to be confined to Samsung devices (also had a report on the forums, pointed them here).

I've tried on:

* Galaxy Tab S7 (Android 10) - ✔️
* Galaxy A51 Phone (Android 10) ⛔ Couldn't access devices in Moscow
*Galaxy Note10 (Android 10) - ✔️

[2021-05-28 16:48] mikeingerman commented on #8993
David

Have installed and the problem has gone - thanks.

Any idea why?!!

Mike

On Fri, 28 May 2021 at 11:48, David Allison ***@***.***>
wrote:

[2021-05-28 16:52] david-allison-1 commented on #8993
The app that you installed is an old version of AnkiDroid. It won't be updated, but it lets you use the app without this problem while we diagnose the issue

It'd be great to get your help in trying a few things to get this fixed.

The bug likely impacts users that we haven't heard from, and we can't yet reproduce the issue ourselves, which makes it hard to deal with

[2021-05-28 17:01] vinishhub commented on #8979
core and strings are 100 % completed

[2021-05-28 17:09] david-allison-1 commented on #8979
Kicked off a translation sync: https://github.com/ankidroid/Anki-Android/actions/runs/886333372

Once this is in, I'll put in a PR, and pull in the new translations

[2021-05-28 17:14] #8982 closed

[2021-05-28 17:45] Arthur-Milchior commented on #8326
@Ekagra any news on it?

[2021-05-28 23:26] AlexApps99 opened #9002 "MathJax displays differently in newest version"
<details><summary>Screenshots</summary><br>

###### AnkiDroid:
![AnkiDroid](https://user-images.githubusercontent.com/30854646/120050212-b5914a00-c070-11eb-801b-0b6fb89577d2.jpg)
###### Anki Desktop (2.1.44):
![Anki Desktop](https://user-images.githubusercontent.com/30854646/120091254-886e9580-c15d-11eb-87bc-37d688ff8664.png)

</details>

###### Reproduction Steps

1. Create a card with LaTeX in t

[2021-05-29 02:41] mikehardy commented on #9002
Hi there! If you have some example card contents that would help. Mathjax is the preferred solution at this point, and we did move from mathjax2 to 3 with the new release, in case that's important

[2021-05-29 02:46] mikehardy commented on #8973
There was no logcat in the crash report, sorry. I posted everything I had. It could be similar to the one near it #8972 ?

[2021-05-29 02:47] AlexApps99 commented on #9002
Example card content is the latex formula I included in the issue
description, on its own it should reproduce the issue

On Sat, 29 May 2021, 14:41 Mike Hardy, ***@***.***> wrote:

[2021-05-29 03:08] david-allison-1 commented on #8973
Repro steps

* Add Note
* Tap Tags
* Tap Add
* Type in text box
* Leave AnkiDroid
* Open AnkiDroid
* TextBox is still there, Tags Dialog has been removed
* Press "OK"

[code]

[2021-05-29 03:15] david-allison-1 commented on #9002
I did notice that moving from MathJax 2 to 3 has changed the spacing of some cards (when I was looking into the MathJax 3 slowdown issue), I didn't realise that this didn't match Anki Desktop.

I'm not at all familiar with MathJax, but I'll look into it if nobody else does in a reasonable time period. @AlexApps99 ping me here if nothing moves within 5 days and I'll have a deep dive.

----
**Diagno

[2021-05-29 03:45] SpikyClip commented on #9002
Can confirm that this alignment issue is a problem with ankidroid 2.15.6 compared to anki desktop 2.1.22 (yea I know its outdated). In addition, the \color command bleeds through one character to the right (i.e. if you color a word in brackets, the right bracket will also be coloured. This is not an issue on desktop anki 2.1.22 and ankidroid 2.14.6.parallel. Attached are the screenshots, and the `

[2021-05-29 05:01] U1F357 commented on #8992
I tried, but unfortunately, ankidroid doesn't work with the additional webview I installed, I found some information on the web, hope it helps you guys

Not only that, according to the [wear OS webview installation tutorial](https://www.bilibili.com/read/cv4672026) available on the web, you need to first change the app name of the webview you want to install additionally (_com.google.android.webvi

[2021-05-29 05:02] ShridharGoel opened #9004 "Keyboard opens and closes when clicked on a search result"
* Search All Decks
* Select a card
* The keyboard opens and closes almost immediately

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/8998#issuecomment-850763658_

[2021-05-29 05:08] linsui commented on #8982
FYI, https://gitlab.com/fdroid/fdroiddata/-/commit/f60940a82f547e37f8c18821d890d7edd7369248. Thanks!

[2021-05-29 08:16] prateek-singh-3212 commented on #8973
Sorry! My bad. I didn't read the reproduction steps correctly.

[2021-05-29 08:50] AkinchanKushwaha commented on #8976
Do I need to create a different setting option in `Settings -> Reviewing` section for this feature?

[2021-05-29 08:52] david-allison-1 commented on #8973
I added it in when I made the comment. Not your fault! Thanks for the help

[2021-05-29 09:04] Peyman-hme commented on #8995
Hi, Can i work on this as my first issue? I want to fix it like that PR.

[2021-05-29 09:50] prateek-singh-3212 commented on #8912
How is it looking? . Here is the screenshot of light, dark, plain, light mode.
![WhatsApp Image 2021-05-29 at 15 09 23(3)](https://user-images.githubusercontent.com/76490368/120065694-488dac80-c090-11eb-873d-8534873bd525.jpeg)![WhatsApp Image 2021-05-29 at 15 09 23(2)](https://user-images.githubusercontent.com/76490368/120065696-49bed980-c090-11eb-8410-a7092f58dc45.jpeg)
![WhatsApp Image 2021-05-2

[2021-05-29 09:52] prateek-singh-3212 commented on #8912
Shall i change the icon of disable white board as they are having same icon?

![WhatsApp Image 2021-05-29 at 15 21 50](https://user-images.githubusercontent.com/76490368/120065954-a4a50080-c091-11eb-82a5-b12ea21f164e.jpeg)

[2021-05-29 09:56] ShridharGoel commented on #9002
@SpikyClip The MathJax documentation mentions the change regarding `\color`. Here is the link: https://docs.mathjax.org/en/latest/input/tex/extensions/color.html

![image](https://user-images.githubusercontent.com/35566748/120065992-e6ce4200-c091-11eb-856d-294f42f03864.png)

[2021-05-29 09:59] david-allison-1 commented on #8912
Looks great!

Yeah, make them different - and Deck Options should have a "settings" icon of some description

[2021-05-29 10:08] david-allison-1 commented on #8992
Your English translation is fine.

Does your installed WebView appear in your Android Settings: `Settings - Developer Options - WebView Implementation`?

We're using the default Android implementation of a WebView: if it works for other apps, it should work for AnkiDroid.

I'm afraid that you're well into the region of "this isn't supported by us, but we'll make a best effort attempt to get it wor

[2021-05-29 10:20] hjenjeldy opened #9005 "[Bug] Cannot view cloze note with many cards in the editing screen"
###### Reproduction Steps

1. Click on a card
2. Click the view button
![Screenshot_2021-05-29-17-09-09-26_a9eef3a2a561b80d5c76daebd0f9a14c](https://user-images.githubusercontent.com/85016202/120066455-b5a93e00-c0a0-11eb-836c-df57654c3778.jpg)

###### Expected Result
The card is shown

###### Actual Result
Cannot view the card and the screen reads "A card could not be generated"
![Screenshot_2021-

[2021-05-29 10:25] #8979 closed

[2021-05-29 10:25] david-allison-1 commented on #8979
@vinishhub Could you confirm things are working as expected on the latest `master`

[2021-05-29 10:28] david-allison-1 commented on #9005
@hjenjeldy Thanks for the report!

Could you provide the text of the field which is causing a problem

Is this new to AnkiDroid 2.15.X?

[2021-05-29 10:36] hjenjeldy commented on #9005
![Screenshot_2021-05-29-17-33-28-45_a9eef3a2a561b80d5c76daebd0f9a14c](https://user-images.githubusercontent.com/85016202/120067131-34ec4100-c0a4-11eb-99e6-9f5b4095480c.jpg)
Yes this only happen after the latest update Ankidroid 2.15.2

[2021-05-29 10:45] hjenjeldy commented on #9005
![Screenshot_2021-05-29-17-42-21-54_a9eef3a2a561b80d5c76daebd0f9a14c](https://user-images.githubusercontent.com/85016202/120067369-6a455e80-c0a5-11eb-91a0-26e20a40cdeb.jpg)
![Screenshot_2021-05-29-17-42-31-46_a9eef3a2a561b80d5c76daebd0f9a14c](https://user-images.githubusercontent.com/85016202/120067371-6b768b80-c0a5-11eb-9811-1a0701c69f29.jpg)
Yes this only happens after the latest update Ankidroi

[2021-05-29 11:42] vinishhub commented on #8979
Most of the strings are translated to kannada language .

[2021-05-29 11:46] david-allison-1 commented on #8979
Sorry for the lack of clarity: is Kannada now selectable as a language, and working as expected after an app restart?

[2021-05-29 11:48] vinishhub commented on #8979
yup its working

[2021-05-29 14:31] mikehardy commented on #8991
Hi there! Sorry for the delay - I just marked this up for triage. Please note we issued a couple updates aimed at regressions from the switch to 2.15 - can you verify this is still happening with 2.15.2 ?

My guess is this will still be happening but I want to make sure

Thanks!

[2021-05-29 14:37] mikehardy commented on #8995
Sure @Peyman-hme ! This looks like a great first issue, please communicate here (or just post a PR with what you have) if you have any questions. Welcome :-)

[2021-05-29 15:04] U1F357 commented on #8992
I have searched some information and found that it seems to be quite difficult to implement my idea, and this idea should only be beneficial to very, very few people, so I think there should be no need to try it.

Maybe I will try to implement this idea by myself after I learn Android app development later.

Thanks for your answers, you're a great team!

[2021-05-29 15:05] #8992 closed

[2021-05-29 15:34] ShridharGoel commented on #9002
The MathJax documentation mentions the change regarding `\color`. Here is the link: https://docs.mathjax.org/en/latest/input/tex/extensions/color.html

![image](https://user-images.githubusercontent.com/35566748/120076054-6e7f7500-c0c1-11eb-9085-fbb38ac0a232.png)

[2021-05-29 16:48] Arthur-Milchior commented on #7939
If you run anki from source, you'll have this option available. It's not yet available from mainstream, I suppose it's not 100 stable yet.

[2021-05-29 17:05] Arthur-Milchior commented on #9002
With
[code]
current anki desktop shows:

![2021-05-29-185423_385x87_scrot](https://user-images.githubusercontent.com/357361/120078341-5bfc4000-c0af-11eb-93b5-03e16e5021d7.png)

I don't even understand what you means about alignment so I don't know whether there is an alignment problem.

It would help a lot if you could make screenshot that are actually identical as far as possible. That is, showin

[2021-05-29 17:28] ShridharGoel commented on #9005
@hjenjeldy There might be some specific text which is creating this issue. Can you provide the complete text which is creating this issue?

[2021-05-29 17:34] hjenjeldy commented on #9005
Here is the complete text.
![Screenshot_2021-05-30-00-32-34-34](https://user-images.githubusercontent.com/85016202/120079560-98936000-c0de-11eb-998e-15f558ad13a2.jpg)

[2021-05-29 17:53] absoluteinc opened #9007 "[Bug] Overlay of Decks While Studying"
###### Reproduction Steps

1. Click on a deck to start reviewing cards
2. Click anywhere in the open space in the middle of the screen.
3. Distracting overlay showing all the different decks shows on the screen.

###### Expected Result

Clicking in the open space should be controlled by its own setting. My setting is if I tap anywhere, it shows the answer for the card.

###### Actual Result

Click

[2021-05-29 17:59] hjenjeldy commented on #9005
Here is the issue.

https://user-images.githubusercontent.com/85016202/120080223-1016be80-c0e2-11eb-91cb-d9bf5f96908a.mp4

[2021-05-29 18:02] gijshvg opened #9008 "[Bug]mp3 converts to mpeg"
In ankidroid, when I attach an audioclip, mp3 files get converted to mpeg. No real problem but a) the image to which the sound is connected disappears b) playing the sound is much slower. Not what I am used to. In anki, all is well, and older mp3s just play fine. Al this after update to 2.15. I could not find another post or issue about this.

[2021-05-29 18:11] ShridharGoel commented on #8991
This might be a change in the updated MathJax version. It is giving the same result on trying here: https://www.mathjax.org/#demo.

You may notice the same behaviour on the latest version of Anki Desktop.

[2021-05-29 19:57] msw1age commented on #8991
I can confirm this is still happening in 2.15.2.

[2021-05-29 20:10] david-allison-1 commented on #9005
@hjenjeldy Thanks! Could you provide the text in the image as text please?

[2021-05-29 21:08] mikehardy commented on #9002
not sure if @hgiesel is looking or has time but he was the mathjax master for our move to mathjax3

[2021-05-29 21:19] mikehardy commented on #9008
Hi there! I have not seen this behavior - is there any way you could do a screen recording (in any way, posted anywhere) that demonstrates the full path to reproduce the error?

[2021-05-29 21:30] david-allison-1 commented on #8991
From the WebView Debugger:

[code]

[2021-05-29 22:01] david-allison-1 commented on #9002
I don't think there's a problem in our implementation here. We match Anki Desktop, and MathJax has changed from v2 to v3.

We should have informed users, and given them an upgrade path (as should have Anki), but I don't think this is a "bug/ecosystem compatibility issue".

[2021-05-29 22:02] david-allison-1 commented on #8991
Emphasis mine

http://docs.mathjax.org/en/latest/upgrading/v2.html#configuration-changes

[2021-05-29 22:17] mikehardy commented on #9002
Agreed on all fronts, not great notice so the progress is messy but staying on old mathjax versions is also not an option. So it goes

[2021-05-29 23:14] msw1age commented on #8991
Thanks for your help. It seems that the issue came from MathJax 3 breaking the old configuration, and not from any problem with Ankidroid, so I will close this issue.

[2021-05-29 23:14] #8991 closed

[2021-05-30 00:22] hjenjeldy commented on #9005
Here is the text.
1.<img src="img5908446481369716702.jpg">
{{c1::<img src="img3757569282625065625.jpg">}}
2.<img src="img4200410510692470506.jpg">
{{c2::<img src="img3304177105168458565.jpg">}}
3.<img src="img7546688077963552349.jpg">
{{c3::<img src="img478568764204099534.jpg">}}
4.Năm 1945, lấy đâu làm ranh giới phân chia Bắc Nam?
{{c4::vĩ tuyến 16}}
5.Năm 1954, lấy đâu làm ranh giới phân chia Bắ

[2021-05-30 01:02] hjenjeldy commented on #9005
Here is the text.
1.<img src="img5908446481369716702.jpg">
{{c1::<img src="img3757569282625065625.jpg">}}
2.<img src="img4200410510692470506.jpg">
{{c2::<img src="img3304177105168458565.jpg">}}
3.<img src="img7546688077963552349.jpg">
{{c3::<img src="img478568764204099534.jpg">}}
4.Năm 1945, lấy đâu làm ranh giới phân chia Bắc Nam?
{{c4::vĩ tuyến 16}}
5.Năm 1954, lấy đâu làm ranh giới phân chia Bắ

[2021-05-30 01:25] david-allison-1 commented on #9005
Repro steps:

* create note: `{{c1::a}} {{c2::b}}`
* card browser
* select the second card
* Edit
* Preview
* "A card could not be generated"

[2021-05-30 01:29] SpikyClip commented on #9002
No problem, after looking at the two images it seems like the alignment is the same, its just a weird optical illusion to me that the coloured brackets appear closer to the words they are next to. As for the mathjax, I'll update the lines to the new mathjax 3 implementation. I don't have much reason to remain on the old anki versions anymore. Thanks for everyone's help!

[2021-05-30 02:00] david-allison-1 commented on #9005
Cause:

We are using the Card Template Editor Previewer. This works on a per-model basis.

⚠️ `getDummyCard()` uses `getCol` before onCollectionLoaded

https://github.com/ankidroid/Anki-Android/blob/6a7b73c25a4689ae96227bae919fdae123057824/AnkiDroid/src/main/java/com/ichi2/anki/CardTemplatePreviewer.java#L85-L92

`getDummyCard`
* uses `"tmpls"` which does not work for clozes (use `col.findTemplate

[2021-05-30 02:45] Andrej-Adamenko opened #9010 "in-progress edits to search string in card browser are lost if navigation drawer opens"
I cannot finish editing a search string, because every time I try a window or menu would open, reverting my editions.

[This screenshot video demonstrates the problem](https://youtu.be/j2KWTnxDC2w)

The problem started recently, I noticed it only today.

AnkiDroid Version = 2.15.2

Android Version = 10

Manufacturer = samsung

Model = SM-A920F

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Li

[2021-05-30 03:09] AlexApps99 commented on #9002
Why was the issue closed?

[2021-05-30 03:13] AlexApps99 commented on #9002
I have already provided screenshots and example LaTeX (using default stylesheet and latex setup)
It is certainly not what the previous version of AnkiDroid or what Anki Desktop look like

[2021-05-30 03:14] AlexApps99 commented on #9002
I tried to install AnkiDroid.A from the link you gave me but it crashes every time I open it

[2021-05-30 03:17] hjenjeldy commented on #9005
Thanks for your explanation.

On Sun, May 30, 2021, 09:01 David Allison ***@***.***> wrote:

[2021-05-30 03:31] mikehardy commented on #9010
Hi @Andrej-Adamenko thank you for the video that was a clear demonstration of the issue, it really helped.

I see two problems really:

1) the search string should not revert just because the navigation drawer opened, that's odd? I want to keep this specific issue focused "why do the edits on a search string revert when the navigation drawer opens?"

Because no matter when the navigation drawer op

[2021-05-30 03:33] mikehardy commented on #9002
It was closed because of this assertion:

That implies there is no action item. I close issues when there is nothing actionable

[2021-05-30 03:35] AlexApps99 commented on #9002
It doesn't look the same on the latest Anki Desktop though?

[2021-05-30 03:41] AlexApps99 commented on #9002
Ok, I got the latest version of Anki, and the results still don't match with mobile
![image](https://user-images.githubusercontent.com/30854646/120091254-886e9580-c15d-11eb-87bc-37d688ff8664.png)

[2021-05-30 03:59] Andrej-Adamenko commented on #9010
@mikehardy may be it reverted, because I used the "back" button, to hide the navigation drawer? If yes, how could I hide it without reverting?

[2021-05-30 04:11] Andrej-Adamenko commented on #9010
There was another problem that repeated a few times. The note editor unexpectedly opened, while i was typing a search string in Card Browser

[2021-05-30 04:18] Andrej-Adamenko commented on #8813
The problem was easily reproducible, but I cannot reproduce it anymore

[2021-05-30 05:44] Andrej-Adamenko opened #9012 "[Bug] cannot find my card and wrong number of cards is shown in the card browser"
###### Reproduction Steps
1. Switch from `Decks` to `Card browser`
2. Type a specific query
3. The card is not found in `Default` deck, which is correct
4. Try "search all decks" at the bottom
5. The card is still not found, though it should be. The total number of the cards at the top bar is incorrect.
6. Repeat the search. Still not found.
7. As a workaround, switch to `All decks` at the top of

[2021-05-30 05:58] mikunimaru commented on #9008
I have exactly the same problem.
A quick survey only differs in the file extension.
![Screenshot_20210530-143908489_1](https://user-images.githubusercontent.com/43168745/120093621-7b9a7380-c156-11eb-9211-7fa16a1bd661.jpg)
![Screenshot_20210530-143935340_1](https://user-images.githubusercontent.com/43168745/120093625-81905480-c156-11eb-8934-27f986a0a571.jpg)
![Screenshot_20210530-144514895_1](https

[2021-05-30 06:00] Andrej-Adamenko opened #9013 "[Bug] The deck is shown as empty in the browser after opening and closing the settings"
###### Reproduction Steps
1. Open a deck in `Card browser`
![Screenshot_20210530-062514_AnkiDroid](https://user-images.githubusercontent.com/70955223/120093575-ec746800-c123-11eb-9908-e4177bda6e8d.jpg)

2. Go to `Settings`
![Screenshot_20210530-062646_AnkiDroid](https://user-images.githubusercontent.com/70955223/120093610-1b8ad980-c124-11eb-9642-4865c001ad2d.jpg)

3. Change nothing in `Settings` a

[2021-05-30 06:00] prateek-singh-3212 commented on #9012
Thanks @Andrej-Adamenko for reporting this issue. I think this is duplicate #8975 and we have fixed this issue with #8998. Fix will be public in 2.15.3 release.

[2021-05-30 06:02] Andrej-Adamenko commented on #9012
#9013 might be related

[2021-05-30 06:08] mikunimaru commented on #9008
It seems that the cause is that the contents are mp1 and mp2.
Some smartphone audio editing software outputs this type of file.
![Screenshot_20210530-150121392 (1)](https://user-images.githubusercontent.com/43168745/120094020-dd5bdd00-c158-11eb-9aaa-5e29cc6ffd49.jpg)

[2021-05-30 07:39] ShridharGoel commented on #9013
Duplicate of https://github.com/ankidroid/Anki-Android/issues/8533 which seemed to have got fixed.

[2021-05-30 07:43] ShridharGoel commented on #8936
I'll work on this. We can add an option under the `Actions` section of `Gestures` in Settings.

[2021-05-30 08:12] opiechow opened #9014 "The undo button requires many taps to work"
Hello,

After one of the recent updates I need to press the undo button a random number of times after going through some of the cards. Once it starts working, I can go back through multiple cards without interruption, but then I when I go through some other cards the problem occurs again. This is really annoying especially that I tend to use this feature a lot.

[2021-05-30 08:47] mikunimaru commented on #8976
@caycaycarly .
@AkinchanKushwaha
Is it possible to reverse the position of hardware again and hard?
If it has the same design as the image, I feel like pressing the hard button by mistake when trying to press the again button.

Considering the frequency of pressing the button, I think it is better for the size to be larger for again and good.

[2021-05-30 09:25] caycaycarly commented on #8976
Yes, that would be my preference as well.

But, I think that there also needs to be an option to rearrange the layout. There arises no need for it when using the default 1 x 4 layout because the buttons are placed on a "spectrum" of sorts,

[2021-05-30 09:52] Arthur-Milchior commented on #9002
Thank you for letting us know there is a difference between current version of anki desktop and ankidroid. That is indeed something that we can consider. If I understand correctly, the trouble is the differenc between the A and the g, right?

I insist, please, share your cards. Screenshots are nice. The field content is nice. But I REALLY want to have you card to be able to import them and see the

[2021-05-30 10:01] AlexApps99 commented on #9002
Apologies, here it is:
https://filebin.net/w6b3ynktejznkfsg/CHE_Ions-20210530220027.apkg

[2021-05-30 10:32] prateek-singh-3212 commented on #9012
We already solved this issue. I think it will be out  in 2.16 release. I appreciate your effort to find the bug in Ankidroid.

[2021-05-30 10:44] prateek-singh-3212 commented on #9014
Thanks @opiechow  for reporting this issue. If you provide the debug info and a vedio that describes your issue then it will be easier for us to reproduce this issue.

For debug info please go to settings > advanced > about ankidroid > copy debug info after copying edit the issue template and paste it their.

[2021-05-30 12:08] david-allison-1 commented on #9005
Now we've explained it, let's get it fixed

[2021-05-30 12:14] david-allison-1 commented on #9010
Opening the drawer calls `onCreateOptionsMenu()`, which resets the value:

Caused by a fix to #6500:

https://github.com/ankidroid/Anki-Android/blob/6d96bbebd62346f049666e2d4c12af3fdf58def3/AnkiDroid/src/main/java/com/ichi2/anki/CardBrowser.java#L991-L995

[2021-05-30 12:49] david-allison-1 commented on #9010
Thanks so much for the reports by the way.

Additional related code:

https://github.com/ankidroid/Anki-Android/blob/d14eea94579aef17ba77b5046f0400f3dad61386/AnkiDroid/src/main/java/com/ichi2/anki/NavigationDrawerActivity.java#L130-L134

[2021-05-30 12:52] prateek-singh-3212 commented on #9005
I would like to take this issue.

[2021-05-30 13:13] david-allison-1 commented on #9005
Sounds good to me! Can you get the fix from my diagnostics?

I'd expect modifying `getDummyCard` to use ordinal 0 if the model is a cloze model would work

[2021-05-30 14:03] gijshvg commented on #9008
@mikunimaru Possible, but before the update to 2.15 all was well. Now the .mp3 returns as part of the .mpeg filename. Looks to me like a programming regression.

[2021-05-30 14:05] david-allison-1 commented on #9010
Just to note for future:

* supportInvalidateOptionsMenu => MenuBuilder.clear()
* MenuBuilder.clear() => collapseItemActionView(mExpandedItem);
* => onActionViewCollapsed
* =>  setQuery("", false);

[2021-05-30 14:39] #8995 closed

[2021-05-30 14:40] gijshvg commented on #9008
And here is a screenshot of  using pronunciation_ru_вишня.mp3:
![Screenshot_20210530_163248](https://user-images.githubusercontent.com/8613802/120108480-945e5580-c165-11eb-9d55-7719b2e5cfd2.jpg)

[Russian Word.zip](https://github.com/ankidroid/Anki-Android/files/6566368/Russian.Word.zip)

[2021-05-30 14:52] mikehardy commented on #8976
If possible for the first iteration of this feature I would like to keep it to a single preference, no preference to re-order. Let's go with @mikunimaru suggestion(s) and ship it then get feedback

[2021-05-30 15:11] david-allison-1 commented on #9012
Not related. This is new, and exists in both `master` and `2.15.2`

[2021-05-30 15:26] mikehardy commented on #9010
@Andrej-Adamenko we will be defaulting the navigation drawer full screen swipe to off with a new setting in 2.15.3 and @david-allison-1 just posted a pull request to save/restore the search string (that may have in progress edits) if the navigation drawer opens) so both those issues should be fixed in 2.15.3

I'm unaware of the note editor opening as an issue, this issue will be closed by those tw

[2021-05-30 15:27] david-allison-1 commented on #9010
This was a bug in 2.14.6 as well

[2021-05-30 15:43] david-allison-1 opened #9019 "Kotlin: improve dev experience for KtLint failures"
* The error in CI doesn't specify how to fix this
* Could we use a pre-commit hook?

[code]

[2021-05-30 16:26] ShridharGoel commented on #9013
@david-allison-1 Are you that this should be closed? Since the previous one was closed because it did not seem to happen anymore but seems like the issue might be intermittently happening on some devices as we can see in the screenshots in the issue description.

[2021-05-30 16:41] david-allison-1 commented on #9013
I saw that and couldn't repro. If it's still an issue, then it's still an issue and needs triage

[2021-05-30 16:59] Andrej-Adamenko commented on #9013
I tried many times and the issue always reproduced. However, when I tried to make a screenshot video, the issue did not reproduce. I tried 3 times to reproduce the issue while a screenshot video was recording and it worked fine. When I switched from the settings back to the card browser, first it showed 0 cards in the deck, but after half a second the number changed to the correct one.
I think thi

[2021-05-30 20:31] mikunimaru opened #9022 "Increase or eliminate the upper limit of backup generation"
**Is your feature request related to a problem? Please describe.**
With backup limits of up to 10 generations, I'm worried about preparing for upcoming delicate changes such as schema changes.

**Describe the solution you'd like**
Increase or eliminate the upper limit of backup generation

**Describe alternatives you've considered**
The classic method of manually re-backing up backup files.

**Add

[2021-05-30 22:16] moonlight83340 commented on #9014
Hey, same problem here.
For reproduction :
- do a card
- tap to cancel the last review (nothing)
- tap again (it's work)
So basicaly we need to double tap every time to cancel a review. (It's not that annoying)
Debug info :
AnkiDroid Version = 2.15.2

Android Version = 8.0.0

Manufacturer = motorola

Model = Moto Z2 Play

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 8.0.0; Mot

[2021-05-30 22:55] nwelb opened #9023 "Audio file was played as video - unintuitive and unable to answer card"
By DavidA: See the `.zip` file. This was likely a pure audio file, but interpreted as video due to an issue in the file uploader (using the mpeg extension - it seems some are treated as video).

The problem is that no video player seems to appear, and there's little indication to the user about what is happening: no controls, etc...

----

###### Reproduction Steps

1.
2.
3.

###### Expected Resul

[2021-05-30 22:57] david-allison-1 commented on #9023
@nwelb Thanks for the report!

There's not enough here to reproduce the issue. Could you post steps, or a video showcasing the problem

[2021-05-30 23:06] nwelb commented on #9023
Apologies. I have attached a video. Thanks :)

[2021-05-30 23:18] david-allison-1 commented on #9023
I've never seen that before... impressive

First off: Download [AnkiDroid 2.14.6.A](https://github.com/ankidroid/Anki-Android/releases/download/v2.14.6/AnkiDroid-2.14.6.parallel.A.apk) to get you back to speed. You'll get crashes if you have 2.14.6 and 2.15 open at the same time.

After that, could you get a bad card, copy it to a new deck, export the deck, and upload it here

`.zip` it if it won'

[2021-05-30 23:34] david-allison-1 commented on #8997
Notification icon:

https://github.com/ankidroid/Anki-Android/blob/910ed30408fcfd28b38e7ef5b9bd826db58b263a/AnkiDroid/src/main/res/drawable/ic_stat_notify.xml

----

Lookup icons

https://github.com/ankidroid/Anki-Android/blob/1fbf16e693e6c8787cb00f6a8b00e88f1f76be46/AnkiDroid/src/main/res/drawable/ic_lookup.xml (unchanged for 7 years)

https://github.com/ankidroid/Anki-Android/blob/2cdbfa8caa5b24

[2021-05-30 23:43] nwelb commented on #9023
Sure. Thanks very much :).

[2021-05-31 00:07] oakkitten commented on #8936
while unconventional, i find that adding a small gesture exclusion zone (iirc you can do 200dp?) on the bottom of the screen works really well for doing both gesture navigation & opening the drawer. this is a simple fix that doesn't conflict with any other gestures

[2021-05-31 00:13] david-allison-1 commented on #8997
The notification icon is badly formed (too much whitespace)

The lookup icon uses

https://github.com/ankidroid/Anki-Android/blob/17214602862f4edf42e6173f0715b3d5e71f61f2/AnkiDroid/src/main/res/layout/reviewer_flashcard_fullscreen.xml#L42-L43

which has changed due to the svg

[2021-05-31 00:16] david-allison-1 commented on #9023
Awesome! Just to note: Awaiting the `.zip` before I, or someone else can look into this further

[2021-05-31 00:23] nwelb commented on #9023
Thank you. I have uploaded the zip in the main text box :)

[2021-05-31 00:27] david-allison-1 commented on #9023
Next steps:

* See if problem is reproducible on local device

If not:

https://developer.samsung.com/remotetestlab/rtlDeviceList.action - select S10+

Upload, unzip & import the provided apkg

See if problem is reproducible on test device

[2021-05-31 00:28] david-allison-1 commented on #9023
@nwelb Please follow up with me after 5 days if nobody picks this up

[2021-05-31 00:32] nwelb commented on #9023
Sorry I pressed export collection by mistake. I have uploaded the deck above.

[2021-05-31 00:39] david-allison-1 commented on #9023
Reproducible on my Android 11

This is using our video player, rather than our Audio player

logcat

[code]

[2021-05-31 00:41] david-allison-1 commented on #9023
Main questions to follow up:

* Is this a video file
* Is this the same bug as https://github.com/ankidroid/Anki-Android/issues/9008

[2021-05-31 00:44] nwelb commented on #9023
That's interesting. You're right. I have just noticed that it had converted the mp3 file to a mpeg file.

[2021-05-31 00:50] david-allison-1 commented on #9008
Reproduced on my Android 11. This is not a problem on 2.14.6

[2021-05-31 00:53] david-allison-1 commented on #9008
`file_example_MP3_700KB.mp3` is converted to `file_example_MP3_700KB_mp3`

Cause: 2d0056c3f0a75b99fedd81affc600570c8cd96e5

https://github.com/ankidroid/Anki-Android/blob/2d0056c3f0a75b99fedd81affc600570c8cd96e5/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/BasicAudioClipFieldController.java#L165-L173

[2021-05-31 01:09] david-allison-1 commented on #9023
I've put in a fix for the main issue. AnkiDroid 2.15.3 will import your mp3s as mp3s.

You can remove the file and import it again when 2.15.3 is released to fix this, or change the filename and reference in your card to call it an mp3

As for the black screen with a video:

This is still an issue, but I'll consider it to be of lower priority: very few people use videos, and it's likely been like

[2021-05-31 01:15] nwelb commented on #9023
Thank you. Yes I will change the reference for now until 2.15.3 is released. Thanks very much for fixing this issue. It's a brilliant app.

[2021-05-31 02:01] david-allison-1 commented on #9022
I'll say that I'm going to be very cautious with the schema upgrades. But I understand your concern.

I do feel that it's excessive, but I've proposed the change

[2021-05-31 02:40] mikehardy commented on #9019
pre-commit hooks are fantastic IMHO. At least for the linting I'm a huge fan, I understand some may not want to run unit tests or emulator tests each time, but linting at least should not be too painful

[2021-05-31 02:50] #9008 closed

[2021-05-31 02:58] lamvankhoat1 commented on #6772
Waited a long time for this function, but it hasn't been released yet 🤣

[2021-05-31 02:59] mikehardy commented on #9013
@Andrej-Adamenko thanks for this and your previous report, we're getting close to having all the 2.15 issues figured out, and it's reports like these that get us there!

[2021-05-31 03:04] mikehardy commented on #9022
I agree with @mikunimaru - if the default is the same, the upper limit is really arbitrary in my mind. I've got 60GB of space free on my phone and AnkiDroid's database is about the most important thing I have. What do I care if there are 80 copies of it? Wouldn't bother me and if it takes up too much space it's something I did to myself

[2021-05-31 03:11] david-allison-1 commented on #6772
Just needs a GUI!

it's not on my radar right now as I'll spend most of 2.16 catching up with Anki Desktop functionality, but it's open to contributions

[2021-05-31 05:09] david-allison-1 commented on #9002
What's the process for upgrading to a later version of MathJax?

I've had a look: our font-size is slightly different, but fixing that doesn't fix the issues.

It appears that `em` causes different relative spacing between the two clients.

We're on 3.1.2 on AnkiDroid/AnkiDesktop. Latest is 3.1.4, with 3.1.3 having 70 bugfixes, one of which may be relevant.

https://github.com/mathjax/MathJax-src/

[2021-05-31 05:12] AlexApps99 commented on #9002
Correct me if I'm wrong, but doesn't Anki use LaTeX, and not MathJax?

By that, I mean it converts to DVI, then to PNG, then displays it as a PNG (rather than displaying it directly as SVG or HTML)

[2021-05-31 05:21] david-allison-1 commented on #9002
`\( \)` is MathJax syntax.

AnkiDroid doesn't natively support LaTeX, but if images are rendered on Anki Desktop, then they're synced and displayed.

[2021-05-31 05:24] zestily commented on #8022
still searching for solutions

[2021-05-31 06:38] mikunimaru commented on #9022
Ideally, it is better to set by numerical input instead of bar.  People who set a large number on the desktop side will be able to apply the same value.

Initially I proposed to increase or remove the upper limit, but I think it would be better to remove the upper limit as the desktop does.

I felt that it was not necessary for the app to set the upper limit of the most important settings such as

[2021-05-31 07:28] mikunimaru commented on #9022
However, when I checked it now, the upper limit on the desktop side was 99 generations, so I think the change of @david-allison-1 is accurate.

Regarding the default value of the setting item, I think that it is one way to match it with the desktop.

[2021-05-31 09:18] ShridharGoel commented on #9019
Should we use a pre-commit hook for checking or for formatting?

[2021-05-31 10:53] #8329 closed

[2021-05-31 12:23] david-allison-1 commented on #8993
@mikeingerman A video of this issue would be fantastic if you have the time

[2021-05-31 12:25] david-allison-1 commented on #9019
Sounds good to me

[2021-05-31 12:30] #8997 closed

[2021-05-31 13:32] david-allison-1 commented on #7263
Pretty sure this one's been fixed by Tarekk

[2021-05-31 13:32] #7263 closed

[2021-05-31 13:58] #9022 closed

[2021-05-31 13:59] mikehardy commented on #9022
The preference type David just implemented is a plus/minus bar that you may also just type into directly

[2021-05-31 14:00] mikehardy commented on #8022
Yes I believe this was just noticed by a reviewer on play store as well. I still have not seen it but I'm sure it's happening

[2021-05-31 14:04] mikehardy commented on #7748
I believe @david-allison-1 finally fixed the last puzzling (to me) part of this with #9025

[2021-05-31 14:04] #7748 closed

[2021-05-31 14:32] david-allison-1 commented on #9002
Narrowed it down to the `chtml` renderer:

Change:

https://github.com/ankidroid/Anki-Android/blob/8eb2127a6f75fa738a85ccf356f5adae1ad8594f/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L2312

to:

`<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>  `  - fails

`<script type="text/javascript" id="M

[2021-05-31 14:58] hgiesel commented on #9002
@david-allison-1
However with `tex-svg.js` we had a whole other slew of issues, which is why it was [reverted](https://github.com/ankidroid/Anki-Android/pull/8147). Anki Desktop also uses `tex-chtml.js`.

[2021-05-31 15:04] david-allison-1 commented on #9002
@hgiesel

Using `<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>` seems to work for the example listed in https://github.com/ankidroid/Anki-Android/issues/7915

I'm not at all familiar with MathJax (although I'm getting better now). Is getting SVG rendering something that you'd have time to look at.

[2021-05-31 15:18] david-allison-1 commented on #9002
Likely related: https://github.com/mathjax/MathJax/issues/2583

[2021-05-31 15:49] lucwastiaux commented on #8931
I'm seeing some occasional errors on AnkiReview with Ankidroid 2.15.2 (Attempt to invoke interface method 'boolean android.database.Cursor.moveToFirst()' on a null object reference), is this a known issue with the API ? I can try to put together a repro but doesn't seem to happen systematically.

[2021-05-31 15:52] david-allison-1 commented on #8931
Not known, moving to a new issue. Sorry for the inconvenience.

[2021-05-31 15:52] david-allison-1 opened #9029 "[AnkiDroid 2.15.2] API Issues: AnkiReview"
I'm seeing some occasional errors on AnkiReview with Ankidroid 2.15.2 (Attempt to invoke interface method 'boolean android.database.Cursor.moveToFirst()' on a null object reference), is this a known issue with the API ? I can try to put together a repro but doesn't seem to happen systematically.

_Originally posted by @lucwastiaux in https://github.com/ankidroid/Anki-Android/issues/8931#issuecomme

[2021-05-31 15:55] lucwastiaux commented on #9029
I'll try to put together a repro in the next couple of days, I downgraded to AnkiDroid 2.14 for now.

[2021-05-31 16:37] prateek-singh-3212 commented on #9005
Is this issue is of high priority?

[2021-05-31 16:42] david-allison-1 commented on #9005
Yes

[2021-05-31 17:22] vinishhub commented on #8970
how can i solve this issue?

[2021-05-31 17:30] david-allison-1 commented on #8970
I don't know - needs investigating, likely with the layout inspector

[2021-05-31 18:52] ShridharGoel commented on #9012
@david-allison-1 This is a duplicate of #8975 and already fixed in #8998 as mentioned by @prateek-singh-3212.

[2021-05-31 18:54] ShridharGoel commented on #9012
@david-allison-1 As already mentioned by @prateek-singh-3212, this is a duplicate of #8975 and has been already fixed in #8998.

[2021-05-31 18:58] #9012 closed

[2021-05-31 19:54] david-allison-1 commented on #8993
Can't repro on a Samsung A51 on Android 10 (Vietnam)

[2021-05-31 23:27] #8978 closed

[2021-05-31 23:35] david-allison-1 commented on #6264
This is a "nice to have". Now we can manually send an exception report, it's much less useful

[2021-05-31 23:35] #6264 closed

[2021-06-01 00:02] david-allison-1 opened #9030 "Investigate: Rust conversion caused Stats error"
going to go ahead and merge, investigation of why rust conversion required a stats sql change is a separate item

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/8859#issuecomment-844497711_

[2021-06-01 00:06] david-allison-1 commented on #9030
for regression testing

https://github.com/dorrin-sot/Anki-Android/blame/8503b76e407b392abd930aa070f2cb4837dd2514/AnkiDroid/src/main/java/com/ichi2/libanki/stats/Stats.java#L996

[code]

[2021-06-01 00:15] david-allison-1 commented on #6420
I've added comments, and will remove the tests if they continue to cause more noise than signal

[2021-06-01 00:15] #6420 closed

[2021-06-01 00:17] david-allison-1 commented on #5428
I feel we could do this with a "save" button in the "Check Pronunciation" box, but this isn't a priority for me

[2021-06-01 00:36] mikunimaru commented on #8473
I think language-related optimization is the most effective.
I tried to compare the size of apk by changing the value of build.gradle android defaultConfig resConfig.

original
22,020,096

resConfigs "en"
16,252,928

resConfigs "en", "de"
16,646,144

resConfigs "af", "am", "ar", "az", "be", "bg", "bn", "ca", "ckb", "cs", "da",
            "de", "el", "en", "eo", "es", "et", "eu", "fa", "fi", "fil"

[2021-06-01 00:43] david-allison-1 commented on #8473
I'd like to prompt for adding UPX to Anki-Android-Backend's CI: https://github.com/johnthagen/min-sized-rust#compress-the-binary - it seems like the largest gain for the smallest effort

[2021-06-01 00:44] david-allison-1 commented on #6284
First step would be a regression test to ensure that this is sorted

[2021-06-01 00:46] #8111 closed

[2021-06-01 01:10] dae commented on #8473
To save a few megabytes of storage, you'd be introducing a separate decompression step on startup that requires loading the entire binary into memory, and it may cause false positives from antivirus programs - doesn't seem worth it IMHO.

[2021-06-01 01:25] david-allison-1 commented on #9030
Duplicate of #8877

[2021-06-01 01:25] #9030 closed

[2021-06-01 01:30] david-allison-1 commented on #8845
We now have Kotlin available, which may provide more options

[2021-06-01 02:18] absoluteinc opened #9031 "[Bug] Overlay While Studying Cards"
###### Reproduction Steps

1. Click on a deck to start reviewing cards
2. Click anywhere in the open space in the middle of the screen.
3. Distracting overlay showing all the different decks shows on the screen.

###### Expected Result

Clicking in the open space should be controlled by its own setting. My setting is if I tap anywhere in the open space, it shows the answer for the card.

###### Ac

[2021-06-01 02:19] #9007 closed

[2021-06-01 05:09] david-allison-1 commented on #9031
Hi, could you post your card template (edit note, tap cards), that looks like a templating issue rather than our functionality.

[2021-06-01 05:23] elias6 commented on #8920
I signed up for the testing program, and it said it would automatically install a beta version of AnkiDroid on my phone. I looked up the version and it says 2.15.2 now, which I'm guessing is the beta version, but I'm not sure. The chart is still messed up.

[2021-06-01 06:16] absoluteinc commented on #9031
![Screenshot_20210531-231505_AnkiDroid](https://user-images.githubusercontent.com/85033548/120275431-277eb480-c266-11eb-9cb6-f37674c45dec.jpg)
Is this what you are referring to?

[2021-06-01 06:20] absoluteinc commented on #9031
Oh I think I got it. Here is front:
<div class="tags"></div>
<script>
    const tagsContainer = document.querySelector('.tags');
    const separator = '::';

    const createTagsTree = (partialTag, parent) => {
        if (partialTag.includes(separator)) {
            const ul = parent.appendChild(document.createElement('ul'));
            const li = ul.appendChild(document.createElement('li'));

[2021-06-01 06:22] david-allison-1 commented on #9031
Wow that's a lot. Thanks

What does the latest version of Anki desktop show?

[2021-06-01 06:25] absoluteinc commented on #9031
This issue is only occuring on AnkiDroid, by the way.
Here is front for Anki desktop:
<div class="tags"></div>
<script>
    const tagsContainer = document.querySelector('.tags');
    const separator = '::';

    const createTagsTree = (partialTag, parent) => {
        if (partialTag.includes(separator)) {
            const ul = parent.appendChild(document.createElement('ul'));
            const li

[2021-06-01 06:34] david-allison-1 commented on #9031
They should be equivalent.

Which add-ons do you have for desktop? How does it appear if you disable them all?

[2021-06-01 06:42] absoluteinc commented on #9031
I have Anki Zoom, Enhance main window, Hierarchical Tags 2, Review Heatmap, Customize Keyboard Shortcuts, Deadline 2.
I disabled all of them and it just appears like normal factory Anki desktop. No issue at all.

Not all of my cards are the same type, I think. I'm using a deck that has been shared around. Maybe a certain template has an issue?

5 days ago is when I updated from 2.14.4. That is whe

[2021-06-01 06:43] david-allison-1 commented on #9031
That'd be useful.

You can also use 2.14.6 alongside 2.15.2 until we get this sorted: download parallel.A below

https://github.com/ankidroid/Anki-Android/releases/tag/v2.14.6

[2021-06-01 06:44] david-allison-1 commented on #9031
And yes, can you post the template that has the issue. No point in us knowing the templates that are fine

[2021-06-01 06:46] absoluteinc commented on #9031
I see. I'll do that. I'll comment here again tomorrow if I have some results. Thanks so much for your help!

[2021-06-01 07:24] ShridharGoel opened #9032 "[Bug] Link to cloze deletion is wrong"
Select card type as `Cloze` and click on preview. The link over there does not lead to the correct section.

[2021-06-01 07:29] ShridharGoel opened #9034 "Show multiple previews for more than one card"
If a user selects the `Cloze` option and creates a note like this: `{{c1::Test1}} {{c2::Test2}}`, we can show previews for both the cards. Currently, only the preview for the first card is shown.

[2021-06-01 07:35] ShridharGoel opened #9035 "[Bug] Reposition field doesn't update the screen until it is opened again"
###### Reproduction Steps

1. Go to `Manage note types`.
2. Select a note type.
3. Long click on a field.
3. Select `Reposition field` and enter a value.

###### Expected Result
Field should get repositioned.

###### Actual Result
No change happens until back is pressed and the screen is opened again.

###### Research

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and

[2021-06-01 07:51] ShridharGoel commented on #9014
Can a video be attached? Not happening on my device.

[2021-06-01 08:03] david-allison-1 commented on #9034
There's already a PR and issue in for this one, I'm on my phone so can't easily find it

[2021-06-01 08:09] ShridharGoel commented on #9034
Got it: https://github.com/ankidroid/Anki-Android/issues/7941.
Thanks @david-allison-1 for letting me know.

[2021-06-01 08:09] #9034 closed

[2021-06-01 09:16] prateek-singh-3212 commented on #9005
I'd expect modifying getDummyCard to use ordinal 0 if the model is a cloze model would work

Yaa, I analyzed the problem and I will implement this according to your idea.

[2021-06-01 10:16] kodovanie opened #9037 "Ankidroid update to the latest version via Google Play on older smartphones and Android versions"
Dear all,

is it possible to update to the latest version of Ankidroid on Samsung Galaxy S3 mini, Android version 4.1.2? I am also signed as beta-tester on google play.

The latest version version I have is 2.14.6 (according to info directly from Ankidroid). I have always been updating the app via Google play.

Google play does not show me any updates - I know there is version 2.15.2 (27th May 202

[2021-06-01 14:13] mikehardy commented on #9014
We *think* this may have been a padding issue with regard to the undo button, that is was attempting to detect taps too precisely, and @ShridharGoel just posted a fix that I'm merging for release 2.15.3 which should go out shortly. When I merge that fix it will mark this closed but if the issue is still happening after you update to 2.15.3 please post a video of it here and we can reopen and re-in

[2021-06-01 14:13] #9014 closed

[2021-06-01 14:22] ShridharGoel opened #9039 "Inform users about availability of new update"
Whenever a new update is released, we can display a dialog in the app to inform users about the update.

This library can be used here: https://github.com/javiersantos/AppUpdater

[2021-06-01 14:23] ShridharGoel commented on #9039
I'll add this if it is accepted.

[2021-06-01 15:33] caycaycarly opened #9041 "Range selection mode in the card browser"
It would be helpful to have a toggle for a "range selection" mode in the card browser where you can set the start and stop positions to select all the cards in the range.

![Screenshot_20210601-205144~3](https://user-images.githubusercontent.com/57024945/120350513-aa624680-c31c-11eb-9203-137142d2b6e9.jpg)

![Screenshot_20210601-205136~2](https://user-images.githubusercontent.com/57024945/120350528

[2021-06-01 15:46] caycaycarly commented on #9041
Oops. Feature already exists. Long press the ending row and the range is selected.

[2021-06-01 15:46] #9041 closed

[2021-06-01 15:50] david-allison-1 commented on #9041
Todo: add this to the manual

[2021-06-01 16:01] absoluteinc commented on #9031
This is a card that had the issue.
Here is the front:
<div class="tags"></div>
<script>
    const tagsContainer = document.querySelector('.tags');
    const separator = '::';

    const createTagsTree = (partialTag, parent) => {
        if (partialTag.includes(separator)) {
            const ul = parent.appendChild(document.createElement('ul'));
            const li = ul.appendChild(document.creat

[2021-06-01 16:11] david-allison-1 commented on #9039
Personally: I'd rather not, especially if it's hard to detect when we deprecate a version, and I'd definitely not want internet access without consent from a user.

It feels this should be a function of the app store that a user uses

[2021-06-01 16:21] mikehardy commented on #9037
No it is not, sorry. Our minimum supported android for AnkiDroid 2.15 and the future is now Android 5.x
You'll need to find a new device or find a way to get a new Android version on your existing device.
I've good luck with LineageOS in the past.

[2021-06-01 16:21] #9037 closed

[2021-06-01 16:24] kodovanie commented on #9037
Hi. Ok thanks for letting me know.

[2021-06-01 16:24] david-allison-1 commented on #9037
Just to note: don't worry about corruption from the timezone code, it's been in production for years, and was the original default in both ankidroid and Anki desktop.

[2021-06-01 16:27] mikehardy commented on #8920
Okay - thanks for reporting back @elias6 - the beta program membership most precisely means "get me the most recent version that is stable *or* beta" and since there currently is not a beta issued, just 2.15.2 as the most recent version, you've got that one. I will probably just issue 2.15.3 directly as well so you may not get an actual beta again until 2.16 is nearly ready and start issuing 2.16.

[2021-06-01 17:58] mikehardy commented on #7263
No, it was @prateek-singh-3212 :-), and I inadvertently duplicated that issue :facepalm: #8973 - should close with #9011 in review now

[2021-06-01 18:03] #9032 closed

[2021-06-01 18:09] david-allison-1 commented on #7263
Oh, no, team effort! With the fragment work from Tarekk allowing it to run after pause without closing the dialog, and prateek with stopping them being dismissed.

[2021-06-01 18:10] mikehardy commented on #9010
minor update: making navigation drawer full-screen-gesture-to-open optional will go in 2.15.3, but maintaining search string edits while the drawer opens won't go in until 2.16.0

[2021-06-01 18:13] #8972 closed

[2021-06-01 18:13] #8973 closed

[2021-06-01 18:17] mikehardy commented on #7263
quite true!

[2021-06-01 19:23] mikunimaru opened #9042 "No response when tapping the answer button quickly"
###### Reproduction Steps

1. Press the answer button immediately after displaying the answer

###### Expected Result

Proceed to the next card

###### Actual Result

Button does not respond

https://user-images.githubusercontent.com/43168745/120378776-d18b3900-c359-11eb-9dd2-48b1bff4ab6c.mp4

###### Debug info
AnkiDroid Version = 2.16alpha00

Android Version = 10

Manufacturer = asus

Model = ASU

[2021-06-01 20:08] prateek-singh-3212 commented on #9042
Thanks @mikunimaru  for reporting the issue. I am not able to reproduce this See vedio :- It is smooth for me.

https://youtube.com/shorts/z3PlfPd8f3w?feature=share

It depends on mostly on cpu usage and the how big is card to render. Mentor's Please correct me if I am wrong.

[2021-06-01 20:22] mikunimaru commented on #9042
@prateek-singh-3212
When I played your video at 0.25x speed, I could see that the first Easy tap on the second card wasn't responding.

In other words, my issue is reproduced in your environment.

[2021-06-01 20:38] prateek-singh-3212 commented on #9042
Surely, Their is but not that much because all the process in the background takes some time to complete as I said earlier their are lots of factor on which it depends. I would like to know other members thoughts on this issue.
Thanks @mikunimaru for finding this issue.

[2021-06-01 21:12] mikehardy commented on #9039
I agree with this one also - historically I haven't seen any issue with users updating with reasonable speed - it's an interesting idea but as a user I don't like my apps to bug me about this sort of thing unless an update to them has security implications (like my banking app, or web browser) - for flashcards, I'll get to it don't bug me ;-)

[2021-06-01 21:12] #9039 closed

[2021-06-01 21:31] mikehardy commented on #8925
Strangely - this is media related for me. I'm experiencing this right now, it is *horrific* on media sync. The collection was pretty slow as well. When I first saw this reported I blithely said "I don't know, it seems to saturate my 25Mbit pipe?" but at least for a real device (Pixel 4a) at the moment - hooboy this thing is crawling through sand mixed with cold molasses slow

[2021-06-01 21:57] david-allison-1 commented on #8925
The media sucks, and has done for a long time. One of the best parts of the Rust conversion will be moving it to the background like in Anki Desktop.

From memory, you don't sync media much. Is this a regression, or is it also slow for 2.1X as well?

[2021-06-01 22:16] david-allison-1 commented on #9042
We should be able to fix this. the first step is knowing why this occurs.

My theory is that it could be a problem with double-tap protection on the buttons

[2021-06-01 22:52] mikehardy commented on #8473
I am okay with our current size and size-related trade-offs personally vs anything truly fancy. We can't delete languages because we let users switch at will, it is not dependent on the system. Doing semi-fancy compression...mmm I don't know ;-).

We are still just a little smaller than the average learning app, and nearly every other app I use daily. No, we are no longer a lean-mean 8MB app, but

[2021-06-01 22:56] mikehardy commented on #8925
regression for me, it used to be a bit stop/starty because of the 25-files-at-once thing but it still saturated my downlink. Now it's crawlin'. I haven't attempted to go back to 2.14, I was just setting up a new phone as one of the things that happens when your mom visits you in your country where there is no postal system or economical package delivery from the US is that she brings all the goodi

[2021-06-02 00:05] joshakaw opened #9043 "Deck Menu (after long-pressing a deck title)"
**Is your feature request related to a problem? Please describe.**

Yes, the whole Deck Menu experience could be much better. One of my main issues is that all of the buttons look homogenous and there is a mental lag of adjusting to the layout. Nothing is in a memorable placement either - if I asked you to tell me the order without looking, you probably couldn't.
This combined with a long press ad

[2021-06-02 02:24] #8347 closed

[2021-06-02 03:54] #9010 closed

[2021-06-02 04:00] #8936 closed

[2021-06-02 04:02] #8975 closed

[2021-06-02 08:20] kodovanie commented on #9037
Hi, thanks for the heads-up.

[2021-06-02 09:00] prateek-singh-3212 opened #9045 "Unit Test for Cloze Card Preview"
Unit test for cloze card preview should be added. In cloze card ordinal is set to 0.

Reference PR : #9040 (Posted by @david-allison-1)
https://github.com/ankidroid/Anki-Android/pull/9040#pullrequestreview-673781254

[2021-06-02 09:03] prateek-singh-3212 opened #9046 "Unit Test for Cloze Card Preview"
A unit test should be added for the cloze card preview. For cloze card preview ordinal is set to 0 .

Reference PR: #9040 _(Orignally posted by @david-allison-1)_
https://github.com/ankidroid/Anki-Android/pull/9040#pullrequestreview-673781254

[2021-06-02 09:05] prateek-singh-3212 commented on #9046
I will add the unit test after on week as my college exams starting from 3 june and will finish on 8 june. So, I will be less active during this period.

[2021-06-02 09:06] #9045 closed, assigned to nobody

[2021-06-02 09:54] david-allison-1 commented on #9046
Good luck!!!!! Life comes first. Wishing you all the best

[2021-06-02 10:08] david-allison-1 commented on #8342
@haran2248 do you plan to work on this, or have a partial PR to save effort for the next person?

[2021-06-02 10:26] prateek-singh-3212 commented on #9046
Thanks 😊

[2021-06-02 10:57] ShridharGoel commented on #9042
To prevent accidental double taps, we have a 200 ms time interval before the second click would be registered. So isn't this expected?

[2021-06-02 11:25] vinishhub commented on #8970
https://user-images.githubusercontent.com/76252038/120472040-126b6800-c3c3-11eb-8f13-981768b6cded.mp4

this was my investigation🕵🏼‍♂️.

[2021-06-02 12:39] ShridharGoel commented on #8187
Opened a pull request for this since there was no update from the assigned person whose pull request was inactive (already commented there to check the status).

[2021-06-02 12:53] david-allison-1 commented on #8970
Awesome! What does it look like in 2.14.6

[2021-06-02 13:08] david-allison-1 commented on #8993
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/reports-browser/user/ab45dc86-566f-47a1-ba6e-5dd1fa78db0a - from https://www.reddit.com/r/Anki/comments/nqhbme/anki_doesnt_allow_new_deck_and_note/h0artmb/?context=3

[2021-06-02 13:16] #9005 closed

[2021-06-02 13:16] Selduro opened #9049 "Found '⁨{{FrontSide}}⁩', but there is no field called 'FrontSide'"
The following issue only occured after updating to 2.15. Via Fdroid I reverted back to 2.14.6 and the problem does not occur there.

A shared deck I am using is utilizing custom templates with (of course) custom fields.
There is no problem when reviewing them on ankiweb itself via browser or in the desktop app (kubuntu version 2.1.44).

When trying to review the same card in ankidroid I get the er

[2021-06-02 13:19] david-allison-1 commented on #9049
Thanks for the report. Duplicate of #8951. Fixed in 2.15.3, will be on the Play Store soon (hopefully today).

Best,

David

[2021-06-02 13:19] #9049 closed

[2021-06-02 13:20] david-allison-1 commented on #9049
Just to note; you can download 2.14.6 Parallel.A from here while the fix is pending release
https://github.com/ankidroid/Anki-Android/releases/tag/v2.14.6

[2021-06-02 13:25] iamvs-2002 commented on #8342
Please assign me this issue if no one else is working on it. I want to try this one.

[2021-06-02 13:32] david-allison-1 commented on #8342
Sounds good to me, thanks!

[2021-06-02 14:00] iamvs-2002 commented on #8342
Thanks a lot for assigning it to me. I'll report to you soon about my progress.

[2021-06-02 14:33] vinishhub commented on #8970
https://user-images.githubusercontent.com/76252038/120498933-418ed300-c3dd-11eb-84b2-aba13fb6b055.mp4

here's the look of 2.14 @david-allison-1

[2021-06-02 14:58] david-allison-1 commented on #8970
Ok, now we need to know the parameters to change to fix this

[2021-06-02 15:17] vinishhub commented on #8970
can we change left and right padding ??
in [reviewer_toolbar.xml](https://github.com/ankidroid/Anki-Android/blob/658653ad28d45c0ee25ecd7f61699621f1373b36/AnkiDroid/src/main/res/layout/reviewer_topbar.xml#L7)

[2021-06-02 15:32] david-allison-1 commented on #8970
I'd expect that it's due to the image sizes since different images now have different widths

[2021-06-02 16:23] mikunimaru commented on #9042
@ShridharGoel
It may be convenient to prevent erroneous taps immediately after displaying the question, but I think it is not necessary to prevent erroneous taps immediately after displaying the answer.

The user may intentionally double-tap quickly, such as when the answer is clear.
In fact, I raised this issue, recognizing that it was a bug because the intentional double tap did not respond many

[2021-06-02 16:23] mikehardy opened #9050 "Increase privacy policy compliance (for Huawei and everyone really)"
I took the opportunity with 2.15.3 release to also (finally) publish 2.15.x on to the Huawei AppConnect app channel

I noticed (and they notified us) that we are not fully compliant with their privacy policy (section 7):

https://developer.huawei.com/consumer/en/doc/30202#h1-1613641610376-6

Specifically I think in the first Help page we probably need a new sub-menu for "Privacy" and in there we n

[2021-06-02 16:27] david-allison-1 commented on #9019
Fixed in  #9028

[2021-06-02 16:27] #9019 closed

[2021-06-02 16:36] ShridharGoel commented on #9042
@mikunimaru That makes sense.
@david-allison-1 Should we consider decreasing the time interval here?

[2021-06-02 17:04] david-allison-1 commented on #9042
I think we need to confirm that we're hitting the limit.

Personally: After that. Let's try 150ms.

@mikehardy - think this one is your call

[2021-06-02 17:29] payam088 opened #9051 "[Bug]"
Hello anki support.
1. Add new notes and creating new deck in ankidroid is disabled. It doesn't work !

Please fix it.

[2021-06-02 17:33] david-allison-1 commented on #9051
Hi, thanks for the report. This is a likely a duplicate of: https://github.com/ankidroid/Anki-Android/issues/8993

Could you

* close AnkiDroid
* Open AnkiDroid
* Click the menu
* Help - Get Help - Send Troubleshooting Report
* Settings - Advanced - About AnkiDroid - Copy Debug Info and paste it in the thread above
* Provide a video of the issue

If you have development experience, it'd be great t

[2021-06-02 17:34] #9051 closed

[2021-06-02 17:37] prateek-singh-3212 commented on #9051
Thanks, @payam088 for reporting this issue. Can you provide us the screenshot of the issue and debug info.

For debug info :- Go to Settings > Advanced > About Ankidroid > copy debug info.

[2021-06-02 17:43] vinishhub commented on #8970
what should be the width of image ?
currebtly the size is 24 dp

[2021-06-02 17:56] david-allison-1 commented on #8970
What gives you the correct result?

[2021-06-02 18:14] mikehardy commented on #9042
agreed on both. There was a strong defense of the double-tap protection on discord so I don't want to scrap it. It has saved me during review as well and even on my *fastest* cards 200ms is no bother personally. In questions of taste like that I default to no change

[2021-06-02 18:15] mikehardy commented on #9041
@caycaycarly if you want to have a go at adding it to manual you can hit the edit button on this page and put it somewhere that seems appropriate? https://github.com/ankidroid/ankidroiddocs/blob/master/manual.asc :-)

[2021-06-02 18:17] payam088 commented on #9051
AnkiDroid Version = 2.15.3

Android Version = 10

Manufacturer = HUAWEI

Model = YAL-L21

Hardware = kirin980

Webview User Agent = Mozilla/5.0 (Linux; Android 10; YAL-L21 Build/HUAWEIYAL-L61; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/90.0.4430.210 Mobile Safari/537.36

ACRA UUID = c2f3b04b-567b-4bbf-9e3d-f89773f38e88

Scheduler = std

Crash Reports Enabled = true

DatabaseV2 E

[2021-06-02 18:20] #8744 closed

[2021-06-02 18:25] #9035 closed

[2021-06-02 18:28] payam088 commented on #9051
https://user-images.githubusercontent.com/85249888/120533076-9a6a6580-c3f5-11eb-9210-1fcf56026260.mp4

[2021-06-02 18:34] #8755 closed

[2021-06-02 18:38] mikunimaru commented on #9042
If there is a demand for double tap protection, it seems better not to touch this specification.  If the delay does not change with the CPU specifications of the smartphone, it is a specification rather than a bug.

This isuue seems to be the kind of issue where the number of people who encounter the issue in the first place is small, although those who do encounter it will encounter the same prob

[2021-06-02 18:51] #8779 closed

[2021-06-02 18:52] david-allison-1 commented on #9051
Click the buttons, not the text. I'll get this sorted

[2021-06-02 18:59] ShridharGoel commented on #9042
A setting can be added for disabling double tap protection in the preferences.

[2021-06-02 19:12] #8976 closed

[2021-06-02 19:14] burbilog opened #9052 "[Bug] 2.15.3 crashes when i try to open any deck"
###### Reproduction Steps

1. update to 2.15.3 from googe play
2. try to open any deck

###### Expected Result

daily routine with that deck

###### Actual Result

crash

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

AnkiDroid Version = 2.15.3

Android Version = 8.1.0

Manufacturer = asus

Model = ZB602KL

Hard

[2021-06-02 19:18] mikehardy commented on #9042
That's a good point @ShridharGoel and exactly what I thought when @mikunimaru correctly put it in the context of a specification, I hadn't been thinking clearly about it. If it is a spec, and a matter of taste, then yes could be a preference and even a configurable delay. User wants 10ms? Okay. 0? okay. 200 (current) as default. I consider this a minor feature but only because I don't hit it often

[2021-06-02 19:19] burbilog commented on #9052
Logcat:

[code]

[2021-06-02 19:19] burbilog commented on #9052
This problem began with 2.15.3, previous version from play market worked ok.

[2021-06-02 19:22] mikunimaru commented on #9042
It would be great if the protection time could be set.  Then there are benefits not only to those who want to reduce protection like me, but also to those who want to increase protection.

[2021-06-02 19:25] mikehardy commented on #9052
Thanks a bunch for the report! Looking into this now, it just launched minutes / 1 hour ago or so, this is most unexpected...

[2021-06-02 19:49] mikehardy commented on #9052
[code]

[2021-06-02 19:52] mikehardy commented on #9052
Affected devices so far

Huawei P30 Pro
Huawei HUAWEI Y9 2019
Realme realme 8
Huawei HUAWEI P30

[2021-06-02 19:55] vinishhub commented on #8970
`<dimen name="side_margin">30dp</dimen>` this works

[2021-06-02 20:09] burbilog commented on #9052
Ugh, it happens on my phone, not tablet.

[2021-06-02 20:13] mikehardy opened #9054 "Fragmented layout (tablet mode) first start after install crashes"
This is broken on tablets, it fails on release-2.15 branch immediately on startup when user has not granted permission.

I'm reverting the cherrypick to release-2.15 and 2.16alpha1 will not be released until fixed

Reproduction - use Pixel C emulator in landscape mode or portrait mode as first time user and open app. At least with commit hash 6a0b1d38e536c986c7531da4c45c467c49c59d66 it crashes imm

[2021-06-02 20:14] mikehardy commented on #9054
@ShridharGoel new issue from my comment on related PR. I'm not investigating the cause personally I'm just reverting on stable branch

[2021-06-02 20:22] mikehardy commented on #9052
@burbilog fragmented layout though? As in large phone and normally (when not crashing) the deck list layout has a panel next to it with details of the currently highlighted deck? That's the path I'm pursuing at the moment. All of the devices I listed above are "phones" as well, but not in the sense "phones" were phones in 2015, they're all large devices / phablets / near tablets from a layout pers

[2021-06-02 20:22] mikehardy commented on #9052
(all to say: technically I don't actually care what you call it: the fragmented layout part is the technical key to it)

[2021-06-02 20:35] mikehardy commented on #9052
Reproduced.
Fragmented layout is not the actual reproduction. It's the StudyOptions dialog in non-fragment mode. Quite odd - surprising so many people use that! There must be a more common pathway to that fragment then I'm used to.

@burbilog - just don't touch the three numbers on the right side of the deck list to start your review. Touch the name of the deck instead, and you'll be happily revie

[2021-06-02 20:36] david-allison-1 commented on #9052
Tap the numbers on the deck to get there

[2021-06-02 20:42] mikehardy commented on #9052
@david-allison-1 exactly the opposite: tap the numbers on the deck to crash if that's what you want. Tap the deck name to study

[2021-06-02 20:47] mikehardy commented on #9052
Proximate cause #9015 - reverting that and releasing, it will need more work before adding the feature in again.

[2021-06-02 20:58] mikehardy commented on #9052
2.15.4 is rolling out now and is already available here @burbilog please confirm it works for you? It should - if not there is something else going on: https://github.com/ankidroid/Anki-Android/releases/tag/v2.15.4

Action plan for 2.15.5 on this one:

- There must be a test that fails on 2.15.3 (and it should fail on master as well?) via starting the study options fragment from deck picker via th

[2021-06-02 20:59] david-allison-1 commented on #9052
Sounds good to me - had a few planned tests in this area around the time of GSoC, but they didn't pan out with the candidates

[2021-06-02 21:13] burbilog commented on #9052
yes, 2.15.4 works ok

[2021-06-02 21:17] mikehardy commented on #9052
Fantastic thanks for the success report, sorry for the hassle, and huge thanks for the original error report. You were the first one in the tracker and that brought it to my attention so quickly most people will probably never know it happened! whew.

[2021-06-02 22:22] #9052 closed

[2021-06-02 22:22] david-allison-1 opened #9056 "Regression tests: 2.15.3 crash on startup"
2.15.4 is rolling out now and is already available here @burbilog please confirm it works for you? It should - if not there is something else going on: https://github.com/ankidroid/Anki-Android/releases/tag/v2.15.4

Action plan for 2.15.5 on this one:

- There must be a test that fails on 2.15.3 (and it should fail on master as well?) via starting the study options fragment from deck picker via th

[2021-06-03 03:55] absoluteinc commented on #9031
This is a screen recording. For the first card, I am holding my finger in the center of the screen in the empty space. When I let go, the overlay stays there. If I tap to the far right outside of the overlay, it goes away. While the overlay is present, if I just tap in the center it shows the answer and removes the overlay. For the other cards, I just quickly tapped in the center of the screen, wh

[2021-06-03 04:09] absoluteinc commented on #9031
Here is another screen recording but this time with visual feedback for my taps. This video really shows how inconsistent this bug is. Sometimes it happens every time, and sometimes I can go 20 cards without seeing it.

[2021-06-03 04:11] absoluteinc commented on #9031
Here is another screen recording but this time with visual feedback for my taps. This video really shows how inconsistent this bug is. Sometimes it happens every time, and sometimes I can go 20 cards without seeing it. Here I am just going back and forth between 2 cards. I have swipe right as "undo". All other swipes have no function designated. Taps regardless of location are designated to "show

[2021-06-03 05:32] SpikyClip commented on #9002
Just leaving this here in case others have similar issues. I got around to switching to the latex implementation of \color and realised there in fact is an alignment issue when you use two \color arguments next to each other, causing them to appear close when they should be spaced. The solution is to use \textcolor instead, which uses the \textcolor{color}{text} syntax, which makes it easy to conv

[2021-06-03 09:01] SilentCruzer commented on #8989
I would like to work on this issue.

[2021-06-03 11:33] sumadithya commented on #7992
Sorry for the delay.
This is fixed by https://github.com/ankidroid/Anki-Android/pull/8642
I have tested it.

[2021-06-03 11:43] david-allison-1 commented on #7992
@sumadithya Thanks!

[2021-06-03 11:43] #7992 closed

[2021-06-03 14:47] AbdelrahmanHamdy1998 commented on #8993
No problem here, S10e android 11. ankidroid version playstore 2.15.4

[2021-06-03 14:52] tanmayChakrawarty commented on #9050
@mikehardy I would like to work on this.

[2021-06-03 15:01] shwnchpl commented on #8936
I'm very happy to have a setting for this.  I had been having the exact issue described by the original reporter, but I figured my use case (pretending to draw Kanji on my phone screen) was too niche to justify a bug report.  I see that #9015 seems to have caused other issues so it has been reverted for the time being, but I just wanted to say that I appreciate the AnkiDroid maintainers/contributo

[2021-06-03 15:08] mikehardy commented on #9050
That would be great! Thanks @tanmayChakrawarty

[2021-06-03 15:13] david-allison-1 commented on #8993
I'm not hopeful, but this is possibly caused by the text labels not being clickable, which is fixed in https://github.com/ankidroid/Anki-Android/pull/9055 and will be in 2.15.5

[2021-06-03 15:14] ShridharGoel commented on #8936
@shwnchpl Thanks, it will be back in the next release.

[2021-06-03 16:19] vinishhub commented on #8970
![WhatsApp Image 2021-06-03 at 21 48 13](https://user-images.githubusercontent.com/76252038/120678204-7cfcd080-c4b5-11eb-81c7-e297190daaba.jpeg)

[2021-06-03 16:25] absoluteinc commented on #9031
Please let me know if there is any information I can provide to help. Thank you all for your time!!

[2021-06-03 17:14] david-allison-1 commented on #8970
That doesn't look like it matches 2.14.6, can you compare the two. Our main goal is to ensure that there isn't a regression

[2021-06-03 18:23] vinishhub opened #9063 "App crashes when clicked on CountButton"
###### Reproduction Steps

https://user-images.githubusercontent.com/76252038/120691892-ab35dc80-c4c4-11eb-81d8-7594cf616e97.mp4

###### Debug info
[code]

###### crash report########

[code]
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [x] I ha

[2021-06-03 19:00] vinishhub commented on #8970
I have changed the width of image here so this was the result. Here changing width doesn't work.
@david-allison-1 what if change space of tappable  area.

[2021-06-03 19:01] david-allison-1 commented on #8970
I don't have experience with this, try it and see!

[2021-06-03 19:24] sheodox commented on #9063
I'm also experiencing this. And I experienced it sometimes when clicking on the other part of the row with the deck name but that only seemed to only happen on decks that I still had upcoming reviews for today but it wasn't quite time to review yet.

[2021-06-03 19:24] david-allison opened #9064 "[Bug] RustBackendFailedException: .dynamic section header was not found"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/6db5613a-2e8e-4bdc-9a62-7ee379eef696

AnkiDroid 2.15.2

[code]

[2021-06-03 19:28] david-allison opened #9065 "[Bug] RustBackendFailedException: dlopen failed: cannot find "" from verneed[0] in DT_NEEDED list"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/15366710-1c54-466d-9e92-38b72461a1bf
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/38769600-79b4-4631-a2a6-d86475cdebab

[code]

[2021-06-03 19:34] david-allison opened #9067 "[Bug] RustBackendFailedException: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList] couldn't find "librsdroid.so""
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/79dd3de0-7379-4b3b-9cb7-5878e5e0169f
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/f52f635d-c3a4-4717-a00d-eb926fc1385a

[code]

[2021-06-03 19:41] david-allison-1 commented on #9063
See: https://github.com/ankidroid/Anki-Android/issues/9052 - fixed in 2.15.4 for stable.

I think it's still unstable on the alpha channel, awaiting the next alpha is release,

[2021-06-03 20:03] alsanchez commented on #8565
Likely related to  #5024

[2021-06-03 22:47] Autonom opened #9068 "Gentle restart for stalled users"
Anki is great, but sometimes I stop using it because real life happens and I lose the habit.  When I receive reminders, I have too many cards to catch up on and this is off-putting, acting as a psychological barrier to restarting.   I've been ignoring the daily reminders for over a month now.

Anki could do more to encourage the user back into the habit.  Does anyone else drop the habit and need a

[2021-06-03 22:56] david-allison-1 commented on #9068
Just confirming: you are aware that you can do this already with the settings? Long press a deck and change the number of new/review cards

AnkiDroid's a port of Anki Desktop, we try to remain in-sync feature wise, and try not to introduce new features to ensure that all clients in the ecosystem function in the same manner.

If you want to request a feature, it's best to go through Anki Desktop fi

[2021-06-03 23:31] Autonom commented on #9068
Yes, I know about the number of reviews in the settings.

Anki is smart in the way it determines the interval for the next review to optimise transfer to long term memory.  Similarly, it could be smart in optimising the workload to encourage the stalled/demotivated user.

The number of new/review cards might have an upper bound which is a function of the number of missed reviews over the last few

[2021-06-04 07:50] wujek-srujek opened #9069 "[Bug] Regression: AnkiDroid crashes (100% reproducible) when clicking an empty custom deck in deck list"
###### Reproduction Steps

1. Create a custom deck , e.g. for a tag, and give it a name.
2. Make sure this deck is empty (e.g. do all the cards or empty it).
3. In the deck list, press the custom deck.

###### Expected Result

As it used to be, I expect to go to the deck 'summary' screen, which allows me to rebuild it and start learning.

###### Actual Result

The application crashes.

###### Debu

[2021-06-04 07:58] david-allison-1 commented on #9069
Hi, thanks for the report.

Fixed in 2.15.4, please upgrade. Sorry for the inconvenience.

[2021-06-04 07:58] #9069 closed

[2021-06-04 11:29] ShridharGoel commented on #9056
I'm working on this.

[2021-06-04 11:54] badchute commented on #8153
I'm on android 10 and i have this issue. it started this morning, i tried installing this https://github.com/mikehardy/Anki-Android/releases/tag/v2.14.5-issue7369-2 but it doesn't work.

[2021-06-04 12:13] badchute opened #9072 "[Bug] Text not showing"
here's a video of an example.
https://user-images.githubusercontent.com/78628674/120799274-1a690a80-c571-11eb-8c25-0b015eb20234.mp4

I found the same bug that is reported a few months ago but the solution given for them wasn't working for me.

###### Debug AnkiDroid Version = 2.15.4

Android Version = 10

Manufacturer = realme

Model = RMX2030

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Li

[2021-06-04 13:17] mikehardy commented on #8153
@badchute seems like you may have something unrelated and/or new. In the 2.15.x series there is a way to toggle hardware render off or on in the settings --> advanced area. You may attempt to toggle it off then report back?

[2021-06-04 13:21] badchute commented on #8153
i tried toggling it on and off and it still doesn't work

[2021-06-04 14:29] mikehardy commented on #8153
Interesting @badchute - sorry to hear that. If you also try 2.14.5 and neither it nor the hardware/software render toggle work my next hypothesis is that you probably have a content problem in your cards. I would try to download some super simple shared deck from ankiweb to see if it works, as it should have known-good card templates / card content. Or you could also try opening your collection /

[2021-06-04 14:35] mikehardy commented on #9068
With apologies, this is an area of features where we must stay in tune with desktop, as it is not specific to the mobile form factor or android limitations. As mentioned above the forums.ankiweb.net link is where to ask.

I imagine you may like desktop, in combination with the load balancer add-on perhaps https://ankiweb.net/shared/info/208879074

This will not result in a change here unless/until

[2021-06-04 14:35] #9068 closed

[2021-06-04 14:36] badchute commented on #8153
i also notice that the statistics overview is blank

[2021-06-04 15:00] mikehardy commented on #9067
Hmm - of interest - the two you mention are Android 7/7.1... an Android 7 thing? One LG one Huawei though.

[code]

[code]

Vanishingly rare in practice it seems, 2 devices out of the while 2.15.x release series? Could do with more analytics perhaps but this is more rare than "IO failure" / disk is full (and in practice might actually be that - failed unpack or something - we don't track disk free

[2021-06-04 15:10] mikehardy commented on #9065
This appears to be an invalid DT_NEEDED entry based on my limited knowledge. There is a `readelf` tool with examples here https://android-developers.googleblog.com/2016/06/android-changes-for-ndk-developers.html - perhaps some investigation of the NDK build product (devices here are 64-bit, so ...the armv8-64 product?)  to verify that DT_NEEDED entries do have versions would indicate that this is

[2021-06-04 15:18] mikehardy commented on #9064
Similar to the grouped error with unable to resolve version `""` from DT_NEEDED block, I think `readelf` might be used to conclusively show that the `.dynamic` header section was present in the build output, and then this exception should fall in the category of "delivery or unpack" error.

I *did* see one tiny mention somewhere of race conditions in the native library loader, with a suggested fix

[2021-06-04 15:48] mikehardy commented on #9072
Thank you for opening a separate issue and filling in the debug info @badchute - I believe it will help fix this

Referenced issue is #8153

From there https://github.com/ankidroid/Anki-Android/issues/8153#issuecomment-854777013

Statistics overview is also a WebView which is a great avenue of investigation: this will probably be a WebView issue.

I notice from User Agent diagnostics the version i

[2021-06-04 15:50] mikehardy commented on #9063
I did not actually release an alpha so the alpha and beta channels should both be getting "the highest version code" which is currently 2.15.4 as released to public channel

[2021-06-04 15:56] badchute commented on #9072
IT WORKS!! thank you so much for your hard work.

[2021-06-04 16:10] vinishhub commented on #9063
so should i close this issue

[2021-06-04 18:13] bmaupin opened #9074 "[Bug] The default deck can't be deleted"
###### Reproduction Steps

I generated a test deck using the anki python API, imported it into the desktop app, and synced. When I try to delete it from AnkiDroid, I get this message:

I do seem to be able to delete it from the Anki Desktop app, however.

I don't see anything in the AnkiDroid documentation referring to a "default" deck or why it might be handled differently from other decks; I fou

[2021-06-04 21:33] mikehardy commented on #9072
Oh that's great news - I was afraid we had another bizarre WebView bug (the last one is still too fresh in my mind). Make sure you keep auto-update on if you can and specifically keep the WebView and Chrome up to date on your system - those are a big part of whether your phone is secure against hacking from malicious websites or not, and of course it helps keep flashcard apps working :-). Cheers

[2021-06-04 21:33] #9072 closed

[2021-06-04 21:39] mikehardy commented on #9063
Yes as it's duplicate - we're tracking it in other areas.
Main branch still has no PR merged to fix it but there is one waiting (on me, really) to get it in.
Stable branch works because I reverted the root cause

[2021-06-04 21:39] #9063 closed

[2021-06-04 22:17] david-allison-1 commented on #9065
Extracted the universal apk for 2.15.2 and looked in `lib/arm64-v8a`

[code]

I'm out of my depth here, but from the article above, looks good to me

[2021-06-04 22:38] david-allison-1 commented on #9064
I'm not a fan of static initializers for things like that - it adds a lot of nondeterminism into the mix, and allows an exception from a few more places in the codebase.

I'd like to hold off until we've investigated other possibilities (but do say the word and I'll change it).

[2021-06-05 02:20] #8598 closed

[2021-06-05 03:18] Arthur-Milchior commented on #9074
I've just tried on desktop, and when I try to delete the unique deck of the collection you shared, it delete the content of the deck, however, there remains a deck called "default" in the list of decks.

So it seems that even if you got no error message, the deck is still here.

It seems that anki evolved in the way it behaves with default deck. Maybe we should eventually copy it.
Does it creates

[2021-06-05 03:31] Arthur-Milchior opened #9075 "Improve bug reporting in special cases"
Sometime, we don't just prefer the user to report a bug, we really strongly need that the user report a bug. Because we can't reproduce it, because we have no idea what occurred, because we need a lot more of information and actual discussion with the user to understand what was special on their phone. #9067  #9065 and  #9064 may be such examples.

What need to be done:
[ ] Create a way to identif

[2021-06-05 05:38] levirs565 opened #9076 "[Bug] Sync is not work"
###### Reproduction Steps

1.  Create deck and note
2.  Login to AnkiWeb in AnkiDroid
3.  Sync notes

###### Expected Result

When I open https://ankiweb.net/decks/ , this must show all my decks and notes.

###### Actual Result

When I open https://ankiweb.net/decks/ , this only show Defaults deck and this deck does not have any card (0 card and 0 note)

###### Debug info
AnkiDroid Version = 2.15.

[2021-06-05 08:08] prateek-singh-3212 commented on #5192
@mikehardy @david-allison-1 is this issue is valid now?

[2021-06-05 10:15] Juddd opened #9077 "Feature request: Note Editor Toolbar custom button rename / reposition"
**Is your feature request related to a problem? Please describe.**
![snipaste_20210605_180520](https://user-images.githubusercontent.com/10048069/120888044-d5a0aa80-c628-11eb-92c4-08c490cb84a1.jpg)

As the image, I'm in version 2.15.4. There is a long bar in that toolbar now, and my custom button will be at the end of the toolbar, which caused me to have to scroll it every time I use it.

**Descri

[2021-06-05 12:08] yasin459 commented on #9004
hi, is it still open? can I work on this?

[2021-06-05 13:00] david-allison-1 commented on #9004
Sure!

[2021-06-05 13:42] opiechow commented on #9014
FYI after the update it the issue is resolved, thank you very much :)🍺

[2021-06-05 13:48] mikehardy commented on #5192
Maybe, I just reread it and I'm not sure what the exact spec for the feature should be as it is entangled here between collision and rename on import. Without a clean / complete specification it's not a good issue to implement. If you want to check out how desktop does optional rename on import and try to specify the feature first that is the first step, then we can think about it again

[2021-06-05 13:54] #8062 closed

[2021-06-05 14:22] Akshay0701 opened #9078 "[Bug] crash after return from custom study"
###### Reproduction Steps

1. open custom study activity
2. back to deck Picker (using phone back button)

###### Expected Result
no Crash

###### Actual Result
Crash on Navigation isDrawerOpen method
[code]

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the po

[2021-06-05 14:36] Akshay0701 commented on #9077
don't you think reducing other's width of buttons will reduce their accessibility, and I personally think in this case custom button's (1,2) width is less as compare to others, so a nice solution would be to increase their width to make it easier to use.

do you want to change button's position?

it would be great if you create new feature request issue for this

[2021-06-05 14:45] mikehardy commented on #9064
I thought - if done well - it made things exactly deterministic? Like, we make a ContentProvider that is set up for nothing but init with the highest priority load order (a common strategy, in practice) and in that ContentProvider we carefully load libraries while holding a static class lock or similar?

I'm not saying "the word" - I'm not sure that's exactly what we need to do - just saying if I

[2021-06-05 14:48] mikehardy commented on #9065
How to inspect the "verneed" array so that we have the other side of the pointer? I'm 99.999% sure the compilation product produced by build chain here is valid FWIW, this is really just educational in my mind. Always "fun" to learn about .so structure etc and (re-)learn how the machine is actually working under all the abstraction

[2021-06-05 14:49] MedicalArk opened #9079 "[Bug]"
###### Reproduction Steps

1.  I added ~9,000 audio files on Anki Desktop and attempted to sync on AnkiDroid. They are about 4GB total size.
2.  The sync starts, but then reaches "Synchronization" and becomes slow. It downloads approximately 500Kb every minute

###### Expected Result
The synchronization downloads at normal internet speeds and occurs over several minutes or an hour

###### Actual R

[2021-06-05 14:51] mikehardy commented on #9076
Hi there! You say "sync notes" - the first time you log in to AnkiWeb typically you need to do a "full sync".
My hypothesis is that you either did not or did not sync in the correct direction.
It sounds like something did not go correctly at this point in the process.

You may go to "settings" --> "advanced" in the AnkiDroid settings and choose "force full sync" to force the issue. After tapping t

[2021-06-05 14:55] mikehardy commented on #9078
likely duplicate o the whole mess off #9052 - @Akshay0701 please stop logging crashes related to drawer layout until this is fully resolved, just a couple more days

[2021-06-05 14:55] #9078 closed

[2021-06-05 14:58] mikehardy commented on #9079
Hi there! Not saying this is not an issue, but this is a duplicate - #8925

[2021-06-05 14:58] #9079 closed

[2021-06-05 15:30] Juddd commented on #9077
Yes. For me this is the most desired need, because I hardly use the current default buttons. I have to swipe that bar to the far right every time to use the custom button

I'll tell you clearly, I never pressed the wrong button in the previous version (the width of the previous button is narrower than now). Of course, exactly how wide to set this is really a technical issue. But I think it should

[2021-06-05 15:33] mikehardy commented on #9077
In order to reduce padding we would need to know for certain that it does not violate accessibility - that's something we are paying attention to now and anecdotal statements like "I don't mind if it's narrower" are not valid in this context. We have users with essential tremor for instance and your statement will not provide them comfort

[2021-06-05 15:38] Juddd commented on #9077
You're right. When you decide exactly how wide to use, could you please let me first be able to change the ordering of the presses? This is really very important to me. Also, the renaming feature can be done together? Please. :)

[2021-06-05 16:39] yasin459 commented on #9004
what is the prefered action when you want to edit a card? should the keyboard open automatically? or it must open when the user clicks on a text filed(like "Front" or "Back")?

[2021-06-05 16:59] david-allison-1 commented on #9004
Open automatically, focus on "Front". Same as 2.14.6

[2021-06-05 22:34] AbdelrahmanHamdy1998 commented on #9013
Uploading Screen_Recording_20210606-003140_AnkiDroid_1.mp4…

[2021-06-05 22:35] AbdelrahmanHamdy1998 commented on #9013
https://user-images.githubusercontent.com/79529298/120907079-04397800-c65f-11eb-8b75-1be1fa8106f8.mp4

[2021-06-05 23:01] levirs565 commented on #9076
Thank you for your support. AnkiDroid sync work after Check Database.

[2021-06-06 15:45] mikehardy commented on #9076
Great to hear! Thanks for reporting back

[2021-06-06 15:45] #9076 closed

[2021-06-06 15:46] mikehardy commented on #9013
@AbdelrahmanHamdy1998 unfortunately that video did not seem to upload correctly. Perhaps you could put it on youtube or similar and share the link?

[2021-06-06 15:52] mikehardy commented on #9077
The problem I have with further development of this specific feature is that the "note editor toolbar" in general is a temporary solution on the way to #1377 ("what you see is what you get" editor). I'm not interested in seeing further feature development here as the Note Editor Toolbar as an entire feature should go away.

However, taking this as a sort of sub-feature request for the WYSIWYG edit

[2021-06-06 16:30] iCarlosCode commented on #8022
The problem is just to know why and how this is happening...

[2021-06-06 16:51] aTr00per opened #9081 "[Bug] Disappearing buttons on main screen (sometimes)"
###### Reproduction Steps

1. Open AnkiDroid
2. Sync by pushing the button in the top right corner or swiping down
3. Open the menu on the left side by clicking the hamburger button or swiping right

###### Expected Result
Everything should be normal/as usual.
In the top right corner of the main screen should a search button, sync button and the kebab menu button.

###### Actual Result
The search

[2021-06-06 16:57] aTr00per commented on #9081
I had some problems uploading a screenshot on my Smartphone.
![Screenshot](https://user-images.githubusercontent.com/24195028/120933137-fb958000-c6f8-11eb-8db6-7ae1d71dc2e0.png)

[2021-06-06 17:04] david-allison-1 commented on #9065
`verneed` is C++ code:

https://android.googlesource.com/platform/bionic/+/o-preview/linker/linker.cpp#2232

[code]

From the error message, target_soname` is blank (or null?).

Verneed appears to be:

[code]

https://android.googlesource.com/platform/bionic/+/master/libc/include/elf.h#163

[2021-06-06 17:27] prateek-singh-3212 commented on #9081
Thanks @aTr00per for reporting this issue. In your debug info I saw that you are using older version on AnkiDroid i.e 2.15.2 the current AnkiDroid version is 2.15.4 so please update to the newer version. If this issue is still reproducable then please let us know.

[2021-06-06 17:42] aTr00per commented on #9081
Oh, sorry. My bad. It is the up-to-date version of the F-Droid store.

I tried it on my other phone with the 2.15.4 version from the play store. Same problem.

The debug info:
AnkiDroid Version = 2.15.4

Android Version = 9

Manufacturer = OnePlus

Model = ONEPLUS A3003

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 9; ONEPLUS A3003 Build/PKQ1.181203.001; wv) AppleWebKit/537.36

[2021-06-06 17:51] prateek-singh-3212 commented on #9081
Thanks for update. I got that it is reproducable in my device too. We fix that soon.

[2021-06-06 18:11] Juddd commented on #9077
@mikehardy Showing a button that can't be displayed on one line as two lines is really better than letting the user customize the position, IMHO. Also, it's really important to allow renaming.

[2021-06-06 18:36] mikehardy commented on #9077
These things are all exactly as important as your motivation to implement them, don't forget...

[2021-06-06 18:49] infinyte7 commented on #9077
I have used single ascii character for showing addons button icon in note editor js addons.
So, may be single character will be better.
I used following in the addons.
For cloze js addons, [
For pinyin js addons, 文

[2021-06-06 19:40] Skyron27 opened #9082 "Card Counts not Synced & Can't find "New Timezeone Code""
My ankidroid account is synced to the same one I use in my PV. However, there is an issue with the review system where the app says 0 reviews left whilst the PC says 46. Also sometimes it says certain subdecks have reviews left but when I try to do the review from the parent deck, it doesn't show anything. I have to select the exact subdeck to do the review. I got feedback from the team saying tha

[2021-06-06 20:59] david-allison-1 commented on #9013
Video works for me. @AbdelrahmanHamdy1998  What version of AnkiDroid is this?

[2021-06-06 21:05] AbdelrahmanHamdy1998 commented on #9013
playstore 2.15.4 @david-allison-1

[2021-06-07 00:44] makkaroni470 opened #9083 "Feature request: Add custom review queues/ "HoochieMama" Addon"
Pls implement this functionality to ankidroid: https://github.com/lovac42/HoochieMama

This addon in AnkiDroid would be very useful, it doesnt mess with existing scedules, but helps when a large amount of due cards pile up. Currently, I have 3000 due cards in one deck and they are queued in the order of the sub decks. I would like to be able to change that to learn the cards that are the longest o

[2021-06-07 10:26] prateek-singh-3212 commented on #9082
Hi @Skyron27 Thanks for reporting this issue. Please provide us the debug info
For debug info GoTo: Settings > Advanced >About AnkiDroid > Copy debug info.

PS. Please Rename the title and make it 1 line and describe the issue in template.
For editing the template go to 3 dots and select edit.

[2021-06-07 13:12] david-allison-1 commented on #9082
Hi @Skyron27, could you fill out the template in the main post please.

Thanks

David

[2021-06-07 17:38] bmaupin commented on #9074
I was confused as to why I wasn't seeing the same behaviour, so I deleted all of my decks from Anki Desktop, and lo and behold the Default deck was still there, albeit empty. The behaviour seems to be:

- If Default is not the only deck and *Delete* is chosen, the cards in the deck are deleted and the deck is hidden
- If Default is the only deck and *Delete* is chosen, the cards in the deck are de

[2021-06-07 20:25] aTr00per commented on #9081
Same problem appears when
1. Open Anki
2. Sync
3. Turn Screen off
4. Turn Screen on

Tested on 2.15.4

[2021-06-07 22:11] mikehardy commented on #9065
So the error seems to be in advance of the first C++ chunk there,

[code]

is somehow returning a verneed struct with a bogus vn_file.

It does not appear to make sense in the context of nearly every device working unless it is some kind of rare loader race, but then it should show up at other apps that have more scale than us? And even playing around with search terms I get effectively a zero whe

[2021-06-07 22:17] mikehardy commented on #5423
Mmm - I had not considered the local network case much. That's an interesting point.
There is an RFC for internal only IP space that defines all the ranges

https://datatracker.ietf.org/doc/html/rfc1918#section-3

[code]

I suppose we could add an exception for non-SSL connections to those somehow? I have not investigated this, it may not be feasible but regardless of further investigation the fir

[2021-06-07 22:28] mikehardy commented on #9075
Yes and I like it - only saying that crash reports are not part of a statistical sampling strategy ("reporting only one out of ten cases" above) - analytics hits are part of a sampling strategy but bug reporting has it's volume clamped a different way. Bug reporting is reported once per stack trace (deduplicated via `AcraLimiter` configuration) per ankidroid version (limiter data is cleared during

[2021-06-08 00:53] #8300 closed

[2021-06-08 06:48] Ekagra commented on #8326
I'm currently not working on it, anyone interested please take up this PR

[2021-06-08 07:51] prateek-singh-3212 commented on #9081
@mikehardy @david-allison-1 This issue is duplicate of #8934 so can we close this? and shift to that issue. I will take this issue.

[2021-06-08 08:57] skull591 opened #9085 "[Bug]Incomplete translations for Azerbaijani"
###### Reproduction Steps

1. Go to the settings page and change the language to Azerbaijani
2. View the General settings page

###### Expected Result
All texts are translated to Azerbaijani

###### Actual Result
While some texts are properly translated, some of the texts remain in English

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where

[2021-06-08 09:37] makkaroni470 commented on #9083
It seems that this feature is going to come with V3 scheduler: https://forums.ankiweb.net/t/feature-request-add-custom-review-queues-hoochiemama-addon/10656/2

[2021-06-08 09:37] #9083 closed

[2021-06-08 09:45] prateek-singh-3212 commented on #9085
Thanks @skull591 for reporting this issue. AnkiDroid is having just 26% of text converted to Azerbaijani from english.
Link of Crowdin Page : https://crowdin.com/project/ankidroid/az#

If you want to contribute in langauge translation then feel free to do this. I will helps the people who uses AnkiDroid in Azerbaijani.
For Contribution look: https://github.com/ankidroid/Anki-Android/wiki/Translati

[2021-06-08 10:42] anadi commented on #5423
Thanks for your reply Mike!

I think just allowing non-SSL connection to custom sync servers would be very helpful to people learning / studying with anki. The benefits far outweigh the lack of privacy.

I do understand the concern about passwords & request data being visible, to that I say:
1. To a hacker, but these are closed networks. No NAT path to server from public network interface of route

[2021-06-08 11:51] tanmayChakrawarty commented on #9050
@mikehardy So far I have done this please give your feedback on this and let me know what else do we need to implement.

https://user-images.githubusercontent.com/75254780/121179377-51933080-c87d-11eb-977a-5b142b7a7183.mp4

[2021-06-08 12:06] david-allison-1 commented on #9050
We need to have an AnkiDroid and AnkiWeb policy linked

The AnkiDroid policy is currently listed on the wiki

[2021-06-08 13:03] mikehardy commented on #9085
As @prateek-singh-3212 showed - this is not really an issue, we don't track them here in that way as most languages never make it to 100% and it would just clutter our issue tracker. But we would love it if you or anyone you know helps translate on crowdin.com! Thanks

[2021-06-08 13:03] #9085 closed

[2021-06-08 13:04] mikehardy commented on #5423
Can you please answer my question directly?

[2021-06-08 13:43] mikehardy commented on #8934
@prateek-singh-3212 sure - going to resolve this as a duplicate of #9081 even though this was first, simply because I believe that one has more reproduction information. But I've seen this curious behavior myself and if you'd like to fix it that would be great!

[2021-06-08 13:43] #8934 closed

[2021-06-08 13:43] mikehardy commented on #9081
@prateek-singh-3212 sure! as mentioned on #8934 this issue is duplicate and came in second but it has slightly more information so I resolved the other as a dupe of this one and we can keep this open to focus discussion. Good luck :-)

[2021-06-08 14:37] grubin30 commented on #8443
Just an update on this, sorry for the delay. Some new screenshots from May and now: [https://photos.app.goo.gl/EFNEztF3fDHrdwzEA](https://photos.app.goo.gl/EFNEztF3fDHrdwzEA)

I went in after these posts and turned on the advanced statistics. That certainly fixed the issue for the forecast graph, which now goes up instead of down. It doesn't seem to burden my phone to compute all 30 days, but I ch

[2021-06-08 18:05] tapish2000 commented on #8443
Hey, sorry, I am kinda busy. I am going to unassign myself from this issue, so that someone else can go through the conversations we had and get to a solution.
Thanks

[2021-06-08 22:07] Arthur-Milchior commented on #9075
My bad, then I misunderstood what you meant about sampling. I thought it applied to bug too.

I would ask to change `stacktraceLimit = 1` to a at least 2, maybe leave the default of 3, at least for the bug we deem important if there is a way to do it. This would ensure that we know whether it's a one time bug that goes away at restart or whether it's something systematic for some users. I think it

[2021-06-08 22:40] david-allison-1 commented on #9075
I'd like to get this done before the end of the week, ignoring this has the potential to slow down the Rust conversion, or force a subset of users to manually downgrade if we don't resolve the associated issues. The sooner we can start debugging, the better.

Proposal:

* `AnkiDroidApp.sendCriticalExceptionReport(Exception, enum exceptionType, Activity?)`
  * Add an analytics hit method which igno

[2021-06-08 23:48] mikehardy commented on #9075
I like the idea of upping the exception stack trace limit to 3 - it used to be so noisy but now it really isn't since there are fewer bugs total and obviously we care about these a lot. That's a good idea (increase, in general) and 3 seems like a useful arbitrary number to peg it to for now

Agreed the analytics hit (assuming it's a "critical" hit that ignores our current sample) should simplify t

[2021-06-08 23:59] #8459 closed

[2021-06-09 00:56] moonlight83340 commented on #9014
Issue is resolved, thanks guys !

[2021-06-09 01:11] david-allison-1 commented on #8970
Just to note: I expect the fix will mean that we can revert https://github.com/ankidroid/Anki-Android/pull/9038

[2021-06-09 02:18] david-allison-1 commented on #8970
I've had a longer look into this, it appears that the underlying issue is related to #9038 : `RtlCompliantActionProvider` wasn't mirroring the Android System. It wasn't an SVG-related issue

Needs confirmation, but I believe this can be fixed by replacing: https://github.com/ankidroid/Anki-Android/blob/7351e8481615bb2edd181153a6d9db8c429cf776/AnkiDroid/src/main/res/layout/rtl_menu_item.xml

with

[2021-06-09 04:16] eiluudio opened #9087 "Feature request: grouping decks in folders"
Ankidroid should implement a "folders" feature to group types of decks together.

For those of us who dabble in far too many languages/topics, the main screen can be unwieldy to use, especially when trying to mentally "contain" languages within specific days of the week. Being able to throw all decks of a particular type in a collapsable folder would be amazing. If the feature then also included w

[2021-06-09 05:39] vinishhub commented on #8970
After applying these changes this was the result

https://user-images.githubusercontent.com/76252038/121299448-117e8d00-c913-11eb-8ec4-80945c576303.mp4

[2021-06-09 09:28] moonlight83340 opened #9088 "Add anki stats provider (API)"
**Feature Description**
Is-it possible to add an anki stats provider ? It would be great to be able to access to the anki stats (anki streaks (days learned))

**Describe the solution you'd like**
An access to the anki stats from the API.

- Day learned (total)
- Current streak
- Day learned since the begin of the year

**Additional context**
Someone try to begin something like that once : https://

[2021-06-09 10:41] david-allison-1 commented on #8970
I'm stumped then. Appeared to work for me

[2021-06-09 10:44] david-allison-1 commented on #9087
Hi,

Does this work: https://youtu.be/LtNbQ8185e4

Make a top level deck per-language and move the subdecks underneath it

[2021-06-09 11:23] vinishhub commented on #8970
![image](https://user-images.githubusercontent.com/76252038/121345860-004d7480-c943-11eb-9fe8-93e4e83d2303.png)
@david-allison-1  i think now its better, what say??

[2021-06-09 11:37] david-allison-1 commented on #8970
The goal is to match how it looked in 2.14.6. If we do this in a sustainable manner, I'm happy

[2021-06-09 11:39] vintotal opened #9090 "Traduction chinoise 翻譯錯誤 [Bug]"
###### Reproduction Steps

1. Synchroniser en utilisant la version en chinois de Taïwan
2. Utiliser Ankiweb comme source
3. Constater que le texte dit « Ankiweb » deux fois et que le « Ankidroid » est absent.

![Screenshot_20210609-073331](https://user-images.githubusercontent.com/1743914/121348233-1719aa00-c8f6-11eb-8982-65a9d0612777.png)

###### Expected Result

Indiquer correctement le sens de