[2022-04-06 12:18] BrayanDSO commented on #10728
I support this. Way more intuitive.

I know Anki uses `Review` because, after all, the main purpose of the app is to *review* flashcards. But, I don't have to spend any time to think what `Back to study` means, while `Reviews` needs some thought. So, I personally like this change

[2022-04-06 14:28] snowtimeglass opened #10731 "[Suggestion] Add an icon to the item of "Deck options" on Actionbar of Study screen"
Thanks to developers.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- #9110 is unquestionably a wonderful work, but it seems to have not solved all of the tasks mentioned on  #8912 yet. One of the unsolved tasks is [to add an icon to "Deck options"](https://github.com/ankidroid/Anki-

[2022-04-06 14:29] mikehardy commented on #5412
https://github.com/ankidroid/Anki-Android/wiki/FAQ#how-can-i-use-custom-fonts

[2022-04-06 14:30] mikehardy commented on #10725
Perhaps you have correctly set up pinyin.tts and kt.ttf but not yiqipinyin.ttf?
https://github.com/ankidroid/Anki-Android/wiki/FAQ#how-can-i-use-custom-fonts

[2022-04-06 14:39] mikehardy commented on #10728
Is "Study" used anywhere? Would "Review cards" or "Open Reviewer" be less ambiguous? I'm not as familiar with the terminology Anki uses in the ecosystem but it would be good to use only words Anki uses normally on desktop

Note that if we change a string and we want fresh translations, there is no clean way to do it without removing the string and re-adding it and all languages lose their current

[2022-04-06 15:13] mikehardy commented on #10731
I like Tune as well

[2022-04-06 16:34] Prince-kushwaha opened #10732 "[Bug] Review activity Menu item icon get hidden after one or two time screen rotation"
###### Reproduction Steps

1. Open Review activity and open menu item
2. Rotation the screen one or two time

###### Expected Result
Menu item icons not get hidden

###### Actual Result

https://user-images.githubusercontent.com/65972015/162023469-65c8eb2b-8473-41eb-b914-f54cba41a328.mp4

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](ht

[2022-04-06 16:36] Prince-kushwaha commented on #10732
can i work on this issue

[2022-04-06 16:52] david-allison commented on #6772
https://github.com/ankidroid/Anki-Android/pull/9437 is the latest code

[2022-04-06 17:10] Umesh-01 commented on #10697
@BrayanDSO I want to work on this issue, can you tell me in which branch should I make these changes??

[2022-04-06 17:18] Umesh-01 commented on #10697
Okk, thank you !

[2022-04-06 17:59] krmanik commented on #10703
Whiteboard icon also have this issue.

1. Enable whiteboard
2. Then click curve icon to disable white board. The whiteboard editor icon becomes white.
3. Sometimes it show sometimes not.

[2022-04-06 18:25] snowtimeglass commented on #10728
The word, "Study", is used on the buttons on [Deck overview screen in Anki Desktop](https://docs.ankiweb.net/studying.html#study-overview), and [AnkiDroid](https://docs.ankidroid.org/#deckOverview) respectively. These buttons are used to start showing cards, as the item named "Reviews" on App shortcuts menu is done so.
 ![image](https://user-images.githubusercontent.com/10436072/162004065-538c8f8b

[2022-04-06 18:30] snowtimeglass commented on #10731
Me too :-)

[2022-04-06 18:37] UvrajSB opened #10734 "[Bug]App crashing while clicking on any deck on deck picker screen"
###### Reproduction Steps

1.  Open the deck picker screen.
2.  Click on any deck from the list.

###### Expected Result

Deck should open up

###### Actual Result

App crashes

###### Debug info
AnkiDroid Version = 2.16alpha55

Android Version = 11

Manufacturer = realme

Model = RMX3151

Hardware = mt6781

Webview User Agent = Mozilla/5.0 (Linux; Android 11; RMX3151 Build/RP1A.200720.011; wv) Ap

[2022-04-06 18:51] s-deepak-kumar commented on #10731
Can You Please Assign It To Me?

[2022-04-06 19:18] mikehardy commented on #10728
nice screenshot, makes me think 'study now' is right on

[2022-04-06 19:20] mikehardy commented on #10731
sure!

[2022-04-06 19:21] BrayanDSO commented on #10728
Thanks for the research. Since Anki Desktop uses `Study now` and I agree it's more natural than `Review`, I think it's worth the change.

In brazillian portuguese, it's used a straight translations of `Reviews`, so it's still unnatural for this sample

[2022-04-06 19:44] Umesh-01 commented on #10489
@david-allison Is there anything left in this issue?? I would like to work on it.

[2022-04-06 19:53] raymondwzeng commented on #10489
Started tackling `MyAccount.kt`'s various cleanup tasks. Might have a PR in later once I verify that the tests pass.

[2022-04-06 20:56] s-deepak-kumar commented on #10731
I completed the task, please check it once & let me know. Actually i'm new to open source community, but well aware of android development. Thanks!

[2022-04-06 21:10] Jatin887 commented on #10489
I am facing this issue while setting up the project can you plese help me out and i wanna convert Taskmangaer.java async task to kotlin coroutines as i am intrested in the project async task to coroutines
![image](https://user-images.githubusercontent.com/71597104/162071534-38607f96-fb55-4811-b2ed-865531a48f5a.png)

[2022-04-06 21:41] david-allison commented on #10489
What version of Android Studio are you using?

[2022-04-06 21:42] david-allison commented on #10489
Lots to do - just state the class you're working on so you don't get conflicts

[2022-04-06 23:02] Ghanem21 commented on #8741
Have I continue in that or try to find another way?

[2022-04-06 23:48] BrayanDSO opened #10737 "[Bug] CardTemplateBrowserAppearanceEditor follows system language instead of app"
Just noticed this is another activity with title not being translated

![2022_04_06-20_45_28](https://user-images.githubusercontent.com/69634269/162092365-6787db9f-0596-42aa-9ea4-3511a0fe315f.png)

I'll make the issue

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/issues/10736#issuecomment-1090932897_

[2022-04-07 00:08] UvrajSB opened #10738 "[Bug] If we are on Decks/ Card Browser / Statistics screens, selecting the same from Navigation drawer should close the Navigation drawer."
###### Reproduction Steps

1. Open any of Decks/ Card Browser / Statistics screens
2. Open the Navigation drawer
3. Select the option of the screen you are currently on. (Decks/ Card Browser / Statistics)

###### Expected Result
Navigation Drawer should get closed

###### Actual Result
It stays open

###### Debug info
AnkiDroid Version = 2.16alpha55

Android Version = 11

Manufacturer = realme

Mo

[2022-04-07 00:09] UvrajSB commented on #10738
I want to work on this issue

[2022-04-07 00:23] Ghanem21 commented on #6669
is this issue is free now?
what I had understad that I have to replace the square(which is a placeholder) with the image selected with the user

[2022-04-07 02:20] Prince-kushwaha commented on #10703
@krmanik i create separate issue for WhiteBoard icon issue or fix it in this current pull request ?

[2022-04-07 04:39] arpitmx commented on #10489
Heya👋!
I am currently working on Kotlin Cleanup for `Counts.kt`.

File link :  [https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/java/com/ichi2/libanki/sched/Counts.kt](url)

[2022-04-07 05:58] Arthur-Milchior commented on #10636
Thanks a lot @snowtimeglass for this very detailed report. Screen capture, reproduction, and even highlighting on the screenshot, I'm really amazed by the effort you took.

Can I please ask one last thing, that may potentially help. If you review a deck and come back to deck-picker, does it go away? If you wait for a minute, does it go away (the deck picker usually refresh every 30 seconds I belie

[2022-04-07 06:08] Arthur-Milchior commented on #10636
Oh, actually, the first two screenshot show that all decks moves, EXCEPT deck three. If any deck has a subdeck, there is a left column for > and V. If no deck has subdeck, then this column is not present. This means that all deck names are slightly more on the right when there is at least one subdeck somewhere than when there is no subdeck.
In the case you display, it seems that for some reason, D

[2022-04-07 06:59] Jatin887 commented on #10489
![image](https://user-images.githubusercontent.com/71597104/162139043-4cfcd63b-6254-4a88-a9d2-ff09dc2f8ae2.png)

[2022-04-07 07:28] s-deepak-kumar commented on #10732
I Solved This Issue, But Wanna Discuss One Thing. So, Please Let Me Know Once You Free @ShridharGoel.

[2022-04-07 07:38] Prince-kushwaha commented on #10732
@s-deepak-kumar i already working on this issue before work on issue please ask to mentor

[2022-04-07 07:40] Prince-kushwaha commented on #10732
@s-deepak-kumar above i already mention that i like to work on this issues

[2022-04-07 07:40] s-deepak-kumar commented on #10732
Sorry Bro, Actually I Was Working On Other Bugs & I Got Solution For This Bugs Too. Thats Why I Solved. But Now I Saw You Already Comented. Sorry!

[2022-04-07 07:46] s-deepak-kumar commented on #10703
Can I Work On This Issue?

[2022-04-07 07:59] Jatin887 commented on #10489
it is showing this error but i already set the sdk path in local.properties
![image](https://user-images.githubusercontent.com/71597104/162150049-7c567bfc-3af3-42a5-963e-f42f7db3984e.png)

[2022-04-07 09:04] s-deepak-kumar commented on #10737
Please Assign It To Me.

[2022-04-07 13:09] snowtimeglass commented on #10728
Thanks for the feedbacks. If you two say so, it'll be good to adopt `Study now`. I'll vote for it, too :-)

[2022-04-07 13:35] mikehardy commented on #10728
Okay - action here is:
- check for usages of existing string resource key to see if it is used in multiple locations
- if used in only one location - this location - remove it, otherwise leave it
- make a new string with a more specific name, and english value "study now", make sure to add a context string to help translators, attach a screenshot showing it if possible

That will force new transla

[2022-04-07 13:59] mikehardy commented on #8741
I feel like you are trying technical things without stepping back and thinking about *value* of the things being done.
It's not just a "do this" task, it's a "we need information so we can make decisions task"

This has not been addressed from above:

That has nothing to do with trying other things, it's a gather information and give opinions problem.

[2022-04-07 14:50] mikehardy commented on #10734
I don't reproduce this I checked with regular decks and subdecks on API24 and API31 emulator, using `./gradlew installPlayDebug` from current tip of main branch as of right now as I type this

No one else has reported it either which is quite strange

You might run check database from the deck picker menu, we can reopen if it still happens and you post the Java stack trace from adb logcat while ap

[2022-04-07 15:09] #10638 closed

[2022-04-07 15:30] Umesh-01 commented on #10697
@BrayanDSO I think @shubham419 is not working on this, should I go ahead with this issue??

[2022-04-07 15:38] snowtimeglass commented on #10636
@Arthur-Milchior thanks always, and thanks so much for the comment. I'm so glad to hear that :-)

With pleasure.

As @A-Deekshith says, misalignment isn't refreshed after waiting for a minute in Study screen on my device either, but, after hiding AnkiDroid app to the background and reopening it, the deck gets in the line as in the following video. It was strange for me because I had thought that j

[2022-04-07 15:40] mikehardy commented on #10697
This is open source which means people have no obligation to submit to time pressure and sometimes real work happens, but not fast. Give @shubham419 24 hours to reply, then if by tomorrow there is no reply we can consider it open again

[2022-04-07 15:49] Umesh-01 commented on #10697
Sure @mikehardy

[2022-04-07 16:22] mikehardy commented on #10703
This one has  PR pending merge now, it's not open for contribution. Thanks @Prince-kushwaha for the fix!

[2022-04-07 16:38] Umesh-01 commented on #10489
Currently, I am working on Kotlin Cleanup for `HelpDialog.kt`

[2022-04-07 16:44] mikehardy commented on #10410
Leaving open until testing confirms milestone additions

[2022-04-07 16:53] #10731 closed

[2022-04-07 16:54] mikehardy commented on #10410
Milestone not quite working as noted in testing https://github.com/ankidroid/Anki-Android/pull/10733#issuecomment-1091980524

[2022-04-07 16:55] Umesh-01 commented on #10489
@david-allison it is showing one error in `Preferences.kt` file when I opened this project, do I have to import something??

![image](https://user-images.githubusercontent.com/83420185/162256568-9f8b39d7-9529-40ad-89e0-dff1413111fc.png)

[2022-04-07 16:55] #10703 closed

[2022-04-07 17:08] Prince-kushwaha opened #10744 "[Suggestion] Add an Icon for Save whiteBoard Menu option"
###### Reproduction Steps

Add an Icon for Save whiteBoard Menu option like others menu option icons
![Screenshot_2022-04-07-22-31-58-534_com ichi2 anki 1](https://user-images.githubusercontent.com/65972015/162258800-8773d7fd-f76f-480a-9284-014c9ac43589.jpg)

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.

[2022-04-07 17:10] Prince-kushwaha commented on #10744
@david-allison @mikehardy can i this suggestion

[2022-04-07 17:14] krmanik commented on #10410
I will try again later. I will create new PR.

[2022-04-07 17:20] krmanik commented on #10703
You can create a PR for this if you verified the issue.

[2022-04-07 17:24] krmanik commented on #6669
@Ghanem21
You can create PR for this. You have to check AnkiDesktop also, how it behaves? There are limited HTML tags that work on AnkiDesktop. Earlier webview considered but now it can be implemented without webview.

[2022-04-07 18:25] david-allison commented on #10489
You need to build the project

[2022-04-07 19:00] Jatin887 commented on #10489
@david-allison i converted CompatV21.java to CompatV21.kt
The project is working as it should be
can i go ahead and create a pr for the same?

[2022-04-07 20:17] winstoncooke commented on #10728
Is this available to work on?

[2022-04-07 20:23] s-deepak-kumar commented on #10517
@Prince-kushwaha, Are You Still Working On This Issue?

[2022-04-07 20:26] s-deepak-kumar commented on #10377
@Tanish-5007, Are You Still Work On It?

[2022-04-07 20:32] s-deepak-kumar commented on #10307
I tried, but i didn't get errors. Can you please tell me how to reproduce this error?

[2022-04-07 20:33] s-deepak-kumar commented on #10262
Hello @ayushsoni916, are you still working on it?

[2022-04-07 20:35] s-deepak-kumar commented on #10185
Hello @oyeraghib, are you still working on it?

[2022-04-07 20:37] s-deepak-kumar commented on #10046
Can You Please Assign It To Me?

[2022-04-07 20:39] s-deepak-kumar commented on #9935
Hello @sudheerreddy1430, are you still working on it?

[2022-04-07 20:40] s-deepak-kumar commented on #9855
Anyone Work On It Or Not?

[2022-04-07 20:41] s-deepak-kumar commented on #9853
Can I Work On It?

[2022-04-07 20:42] s-deepak-kumar commented on #9688
Can I Work On It?

[2022-04-07 22:31] david-allison commented on #9853
Definitely!

[2022-04-08 01:05] david-allison commented on #9688
sure!

[2022-04-08 01:19] oyeraghib commented on #10185
@s-deepak-kumar yes I was on a break, but now I am on it!

[2022-04-08 02:11] Arthur-Milchior commented on #10307
Could you please, @s-deepak-kumar, let me know if you read my last answer? I explicitly stated that we have no idea how to reproduce it. Nobody knows what to do with it right now, appart to be prepared to answer people to which this can occur.

[2022-04-08 02:18] Arthur-Milchior commented on #10573
@justdvnsh are you still working on it?

[2022-04-08 03:04] mikehardy commented on #10744
Sure, do you have a choice for the whiteboard icon? Do we already have one we use somewhere?
Here's a good search location https://fonts.google.com/icons

[2022-04-08 03:10] #10410 closed

[2022-04-08 03:11] Prince-kushwaha commented on #10744
@mikehardy below icons  is best for ` Save whiteboard`  menuOption
![save_black_24dp](https://user-images.githubusercontent.com/65972015/162355521-4c810858-b8e3-4d96-bd0f-d1a66d18f54a.svg)

[2022-04-08 03:18] justdvnsh commented on #10573
@Arthur-Milchior yes. Yes. I am. Actually, couldn't give this issue time due to the proposals.

I'll complete it once i am done with my proposals are ready

[2022-04-08 03:20] mikehardy commented on #10744
That looks good to me

[2022-04-08 03:23] Arthur-Milchior opened #10751 "JS: Port Anki note editor to smartphone"
Anki uses a webview to edit not content. The webview itself is in svelte. As some of you may now, it means that it generates html+javascript content, that is then displayed in a webview.

The goal of this issue is to consider whether porting this webview to AnkiDroid may make sens. If so, it would ensure a consistent experience on computer and android, and also would allow us to directly benefits

[2022-04-08 03:28] s-deepak-kumar commented on #10751
Please Assign It To Me.

[2022-04-08 03:34] Arthur-Milchior commented on #10751
@s-deepak-kumar Done.
Do you have experience with svelte? JS?

[2022-04-08 03:36] s-deepak-kumar commented on #10751
Yeah, i'm well aware of JS, but have little knowledge about svelte. I can fix it, let me try. Thanks!

[2022-04-08 03:43] Arthur-Milchior commented on #10751
I let you try of course. I just admit that I was slightly worried because of https://github.com/ankidroid/Anki-Android/issues/10307#issuecomment-1092372998 where you asked a question to which I answered just above. So double checking how understandable my request was

[2022-04-08 03:47] s-deepak-kumar commented on #10751
Sorry, actually i read your answer few days back. Thats why i did silly mistake.

[2022-04-08 03:56] Arthur-Milchior opened #10752 "Improve JSON speed (probably with jackson)"
This work is relatively low priority, because the day we use Anki's rust back-end, it's quite possible that most of JSON will be removed from our codebase. In the meantime, this work hope to speed-up slightly a lot of slow operations.

If you run AnkiDroid with a profiler, you'll see that a lot of time is spent reading and writting JSON data. Especially if you have an important collection. Decks a

[2022-04-08 05:20] david-allison commented on #10751
Does this want to live in the backend code? I'd be tempted to say yes, as it already has access to the Anki submodule, and probably means we can move svelte out of the toolchain that a new user needs before they can contribute.

Can we set the IMEHintLocale (keyboard language) inside a WebView?

[2022-04-08 05:24] Niraj81 commented on #10728
Can I work on this?

[2022-04-08 05:38] Arthur-Milchior commented on #10751
What is "anki submodule"?

If you add this to "backend code", then I really really wish you to update the name of the repo, because that's the most front-end code you can ever have.

I perfectly agree that it would be great if we are not requesting all users to install a svelte compiler. I have no idea how your backend repo gets used with ankidroid today. But I realize that it has never required m

[2022-04-08 05:54] Umesh-01 commented on #10489
Yes I did, and it is working fine when I used this import `import com.arcao.slf4j.timber.BuildConfig`

[2022-04-08 07:24] UvrajSB commented on #10489
I am working on Preferences.kt  { @KotlinCleanup("iteration with i") }

[2022-04-08 07:33] dae commented on #10751
You've kind of jumping in the deep end here. There are other Svelte pages like the card info screen, deck options and graphs that have a smaller API surface and would be easier to experiment with first.

While communication currently goes through the webserver running in Python, for a bunch of requests made in JS, the incoming bytes are simply passed directly on to the backend routines, and the tw

[2022-04-08 07:45] dae commented on #10751
Also I'm afraid this is probably not something you can tackle in GSoC or a good first issue. It requires AnkiDroid to be up to date with the latest desktop code for one, and that requires a bunch of changes on AnkiDroid's end first.

[2022-04-08 07:51] david-allison commented on #10489
That import is incorrect. You want the one from the `build` folder which is used once the project has been built.

[2022-04-08 09:14] UvrajSB commented on #10738
Lets just take the example of gmail app
I was on "primary screen", I opened navigation drawer and clicked on "primary" where I was already.
So navigation drawer got simply closed.
Thats what I want to do for our app in case of Decks/ Card Browser / Statistics screens

https://user-images.githubusercontent.com/73571511/162405229-ff1ab9f5-e5ca-48b9-a153-f48824dbb10d.mp4

[2022-04-08 09:31] Arthur-Milchior commented on #10738
Thanks a lot for the example. Fine by me then

[2022-04-08 09:51] Arthur-Milchior commented on #10728
While @winstoncooke asked first, I'd prefer to leave the issue to someone who has not already contributed. Since PR are mandatory to apply to GSoC, I prefer to leave the way to everybody to create one PR, which is hard given our small number of issue.

By the way, @snowtimeglass, I don't know if it's a coincidence that you send us so many issues during the start of GSoC application. But thank you

[2022-04-08 10:03] Calle92 opened #10755 "[Bug] Requiering "Check database" on every sync"
###### Reproduction Steps

When I try to sync on Ankidroid it requires me to first “Check database”. After it has checked database, it requires me to do a full sync. It does this everytime I try to sync. I have done several full syncs in both directions, I have tried to re-install the app, but nothing helps.

The issue suddenly appeared yesterday, on two different Android devices (Samsung 10 + Boo

[2022-04-08 10:44] Arthur-Milchior commented on #10751
I was interested by Note editor because this one is more of a pain point for users, while I have less heard that card info was something that users wanted to see improved.

However, thanks for the warning about protobuf. I guess I missed the latest evolution, last time I dealt with the note editor, every request were encoded as json. I admit that if this idea now requires to also add tools to deco

[2022-04-08 11:19] s-deepak-kumar commented on #10751
Thanks @Arthur-Milchior, i'm trying.

[2022-04-08 12:56] mikehardy commented on #10728
I thought the same thing about the issues @snowtimeglass logged - I thought "wow that's great timing!" - if you have any more send them in!

[2022-04-08 13:39] mikehardy commented on #10755
Hi there! Full syncs can be quite a pain, especially with slow media syncing on the AnkiDroid side at the moment.
That is a fantastically specific deep link to one specific line of the code here :laughing: - may I ask who directed you to include it?
Also, I fully recognize that collections can contain sensitive information so you may be unable or unwilling to share it, but the fastest way to fix t

[2022-04-08 14:31] Calle92 commented on #10755
It was "dae" from the Anki forum (https://forums.ankiweb.net/u/dae/summary).

Sure, I don't mind sharing it, no secrets there! https://drive.google.com/file/d/1xnYC8Ql_8hI4c93cN8Y5UJohki0UiR51/view?usp=sharing

Also, seems like I'm not the only one having this issue: https://forums.ankiweb.net/t/cannot-sync-ankidroid/18881
It also appears that the issue began at the same time for both of us.

Than

[2022-04-08 14:52] winstoncooke commented on #10728
My only PR so far is removing an erroneous </p> tag in the READEME, so it's not much! I just submitted a PR but saw @Abhiram-DLVSS has already linked one.

[2022-04-08 21:46] Tritonfc commented on #10752
Please can you assign this to me

[2022-04-09 03:58] suman-somu commented on #10517
I have a question related to this issue,
I was working on this issue before it was assigned, and was checking for the possible errors in the main code.
So I searched for possible errors in the "HARD" button part, as well as for the display part in the "card info". And I didn't find any errors in both of the part.
And they were connected through the database(as per my knowledge, its referenced as t

[2022-04-09 10:09] MagTun commented on #10312
In brief: I have a similar problem but for me "automatic answer" only works if the "Set TTS language" is not set to "Don't speak" (I have tried with latest alpha version cf. the debug below)

In details: I am using a JS script to set the field for the front/back. Sometimes the front field is in English and sometimes it is in Dutch. As the language changes, I can't use the "set TTS language" featur

[2022-04-09 10:12] david-allison commented on #10312
Could you re-report this as a separate issue? I did some work on automatic display answer, and this should be fixable and testable now

[2022-04-09 10:18] MagTun opened #10766 "[Bug] Automatic answer doesn't work when using AnkiDroidJS.ankiTtsSpeak() for TTS (Set TTS language = Don't speak)"
In brief: "automatic answer" only works if the "Set TTS language" is not set to "Don't speak" (I have tried with latest alpha version cf. the debug below)

In details: I am using a JS script to set the field for the front/back. Sometimes the front field is in English and sometimes it is in Dutch. As the language changes, I can't use the "set TTS language" features and I have set it to "don't speak

[2022-04-09 10:18] MagTun commented on #10312
@david-allison Thank you, it's done.

[2022-04-09 10:32] WiliTest commented on #5091
Apologies for the delay, no the problem isn't fixed on the last version (AnkiDroid-2.16alpha55-armeabi-v7a.apk). I'm thus opening a new issue.

[2022-04-09 11:00] WiliTest opened #10767 "[Bug] Opening the filtered deck options rebuild it"
I signaled the bug in [this issue] (https://github.com/ankidroid/Anki-Android/issues/5091), [mikehardy](https://github.com/mikehardy) told me to open a new issue.

###### Reproduction Steps

1. on AnkiDroid-2.16alpha55 create a filter deck with these settings: _search_= `DECK:"NewCard" is:new` //  _limit to_=`15` // _Reschedule card based on my answer in this deck_=`✔`
2. then review the first car

[2022-04-09 11:33] Calle92 commented on #10755
Problem seems to have been solved after instructions from @dae ! To see the instructions, go to this thread at the Anki forum: https://forums.ankiweb.net/t/syncing-issue-with-ankidroid/18853

Again, thank you so much @dae and @mikehardy for helping me solve this issue!

[2022-04-09 12:07] A-Deekshith commented on #10636
<b>While I am working on this issue I noticed these things:</b>
1) Even after using Pull To Refresh misalignment is not getting fixed.
2) The misalignment is happening to the next Deck which is next to the deleted subdeck.

https://user-images.githubusercontent.com/77965954/162573472-2fe7b8ad-90d2-4ca9-acea-c7462fafb434.mp4

Any Suggestions to work on?

[2022-04-09 13:02] mikehardy commented on #10755
Ah great! For devs here: check database does fix it but then forcing a full sync up from fixed location was important, and this step may not be clear in the documentation

[2022-04-09 13:02] #10755 closed

[2022-04-09 13:15] snowtimeglass commented on #10728
@Arthur-Milchior, @mikehardy,  thank you so much! I'm very pleased to hear that.

Ah, it's pure coincidence. At first, I was surprised at the recent situation and thought "what's on earth going on!?" And now, I think "what good timing!"

Hahaha, wow!

Sure, with pleasure. I do have them!

[2022-04-09 16:51] Arthur-Milchior commented on #10636
I already gave one. Where you able to look at the function I mentioned, understand what it does, check whether anything was wrong here? It's hard to give you suggestion if you don't provide feedback on the first suggestion I gave. I don't see how to suggest more unless I go and try to do the work myself (and checking which method may be related is already an important part of the process)

All of

[2022-04-09 18:08] Umesh-01 commented on #10697
@mikehardy may I work on this now??

[2022-04-09 19:46] #10738 closed

[2022-04-09 21:21] mikehardy commented on #10767
Thanks @WiliTest

[2022-04-09 21:39] mikehardy commented on #10697
Yes! Good luck :-)

[2022-04-09 22:57] #10728 closed

[2022-04-10 01:13] snowtimeglass commented on #10638
@UvrajSB, thank you for the fix!

[2022-04-10 01:19] snowtimeglass commented on #10688
@lukstbit, thank you for the fix. Looks nice!

[2022-04-10 01:36] snowtimeglass commented on #10703
@Prince-kushwaha, thank you for the fix!

[2022-04-10 01:50] snowtimeglass commented on #10728
@winstoncooke, thank you for the fix!

[2022-04-10 02:14] Ghanem21 commented on #8741
tch is a modified PNG image that allows Android to determine how the image can be stretched to meet the specific layout during runtime

Three are some Common Usege -
1. Button backgrounds
2. Page backgrounds.
3. Splash screens.

we will think about them while we try to make our decicons

`ankidroid_txt`: => easily to convert to svg,webp and patch-9
it is used in `launch_screen` and `tv_banner` .xm

[2022-04-10 05:41] UvrajSB commented on #10489
I am taking up the SeekBarPrefence.kt

[2022-04-10 06:04] winstoncooke commented on #10728
@snowtimeglass thank you for all your help pointing out issues!

[2022-04-10 06:37] Abhiram-DLVSS commented on #10728
I'm closing my pull request (https://github.com/ankidroid/Anki-Android/pull/10759 ) as the alternate pull request is merged.

[2022-04-10 06:48] SySagar commented on #10489
Can I take it please?

[2022-04-10 07:45] mpPie commented on #9368
I had this issue. I'll try to be as detailed as possible to reproduce this.

I started with a new account and fresh installation.

I created my custom note-type, deck and cards on Anki desktop.
I created an Anki account and syncronized the collection.
I opened Ankidroid and syncronized.
I changed the deck options from mobile and syncronized. I did my daily cards.
The next day I opened the app and

[2022-04-10 08:30] UvrajSB commented on #10489
Sorry, I have started working on this, can you kindly look for some other part.

[2022-04-10 08:50] UvrajSB commented on #10489
@david-allison what do "autoLint" mean, I understand meaning of Lint but in this file there is cleanup by the name autoLint. What am I really asked to do by that?

[2022-04-10 08:55] UvrajSB commented on #10489
Also, Do you want me to create one PR for one file or can I make one PR for multiple files as somefiles even have a single kotlinCleanup?

[2022-04-10 09:45] Kshitij09 commented on #10663
@krmanik While working on this task, I noticed one behavior that seemed could be handled in a better way.

Let's say you opened SharedDeck WebView and Downloaded a deck from it. You will be prompted with an import dialog where you choose 'cancel', so the deck (*.apkg file) is there in the Download directory but was not imported. Now you try to download the same deck and despite having it downloade

[2022-04-10 10:07] snowtimeglass commented on #10728
@winstoncooke it's my pleasure!

@Abhiram-DLVSS thank you for the PR. I'm sorry about it. I will see you on other issues soon!

[2022-04-10 10:57] david-allison commented on #10489
I understand meaning of Lint but in this file there is cleanup by the name autoLint. What am I really asked to do by that?

There's a lot of automatic lint fixes that Android Studio suggests

[2022-04-10 10:57] david-allison commented on #10489
Ideally one PR per file, definitely one commit per file

[2022-04-10 13:45] snowtimeglass commented on #10738
@UvrajSB it's comfortable. Thanks!

[2022-04-10 13:58] snowtimeglass opened #10772 "[Bug] The time unit string on App bar doesn't get changed after changing language on AnkiDroid"
###### Reproduction Steps

1. `Settings` -> `AnkiDroid - General settings` -> `Language`
2. Select a language whose time unit string on App bar of `Decks` screen is different from the current one.

   For example, if the current language is `English`, select `日本語`(Japanese) or `Indonesia` etc.
![image](https://user-images.githubusercontent.com/10436072/162619543-eb32231a-d8de-427d-a6ef-e764e6e81d1

[2022-04-10 14:14] UvrajSB commented on #10489
@david-allison
![image](https://user-images.githubusercontent.com/73571511/162623517-6945c835-5676-4d1e-8a2f-ce26e9768976.png)
why these variables are initialized in init block? android studio is giving the suggestion to initialize them with the declaration.

[2022-04-10 14:48] snowtimeglass opened #10773 "[Suggestion] Replace the string, "Add note", of Decks-screen's-add-button-menu item with "Add""
**Is your suggestion related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- The shape of the current `Add note` icon doesn't look like a note, but a card.
 ![image](https://user-images.githubusercontent.com/10436072/162625001-4c78c54d-ead1-4b46-a291-099d5832cd13.png)

**Describe the solution you'd like**
A clear and

[2022-04-10 14:52] david-allison commented on #10489
That's what the automatic Kotlin migration did

[2022-04-10 17:25] Abhiram-DLVSS commented on #10773
Can I work on this, if this issue is approved by the moderators?

[2022-04-10 20:05] BrayanDSO commented on #10773
I think the current one is better than the proposed one.

 It looks more like a card to me, and is similar to the `Create deck` and `Card browser` dialog.

To me, the `Note add` icon looks more like a `Add file`

[2022-04-10 20:07] BrayanDSO commented on #10773
I know `Note` and `Card` distinction can be somewhat confusing on Anki, but I don't think it matters much in this case

[2022-04-10 21:21] Jatin887 commented on #10489
![image](https://user-images.githubusercontent.com/71597104/162640390-4d608d34-23dc-4467-992b-d039e0433eb3.png)
What does this actually mean . i just have to convert all the Supress into SupressLint right?

[2022-04-10 21:27] UvrajSB commented on #10489
Just right-click anywhere inside the file and then select analyze > Inspect code
and then Android studio will give suggestions, try to implement those.
(By unused classes perhaps mean that you need not to do any changes in classes which are not used)

[2022-04-11 00:01] UvrajSB opened #10776 "[Suggestion] Replace all the checkboxes with the toggle switches in the Preferences section"
**Is your feature request related to a problem? Please describe.**
Material uses toggles instead of checkboxes for Preferences/Settings screens
https://material.io/archive/guidelines/patterns/settings.html#settings-labels-secondary-text

**Describe the solution you'd like**
I would like to replace all checkboxes with toggle switches

Toggle Switch

![image](https://user-images.githubusercontent.co

[2022-04-11 00:15] david-allison commented on #10776
I suggested this.

Before we start: Let's list the UX guidelines for a toggle, and when we make each change, we should ensure that we meet these criteria

[2022-04-11 02:23] Abhiram-DLVSS commented on #10776
These might help us to set the UX guidelines for a toggle switch

1. Best practices by UX Planet - https://uxplanet.org/toggle-switch-5-simple-design-tips-for-better-design-b4046eff4a2f
2. Switches by Material Design - https://material.io/components/selection-controls#switches

[2022-04-11 03:32] theWalkingMedico commented on #4323
I'm having a similar problem
It gets stuck in Finding Changed Media
And the sync button still shows a red dot after multiple syncs

[2022-04-11 05:59] Arthur-Milchior commented on #10573
I added a bash version on https://github.com/ankidroid/Anki-Android/pull/10779

So much time is spent manually repeating this word, while bash don't even take an hour to write, so I preferred to do it now. The intelliJ add-on would still be nice however

[2022-04-11 10:16] UvrajSB commented on #10776
I am planning to start the changes with the "General Settings" screen of preferences.
Let's take it as the experimental screen for now and let's see if there are any issues in code implementation or UX and if we all agree on it then we will make the same changes in all the screens of preferences.

[2022-04-11 12:40] snowtimeglass commented on #10773
@BrayanDSO thank you for the feedback.

On second thought, I admit that your opinion is probably reasonable.

After all, AnkiDroid is a flashcard app. It is natural and intuitive that an card-shaped icon exists on the position. Maybe neither a  file-like icon nor a note-like icon should do on it.

It is also good to use a card-shaped icon for "Create deck", since [a "deck" is a group of cards](htt

[2022-04-11 12:42] n1snt commented on #10641
I'm now working on modifying this dialog box to show multiple filenames.
Can I please get some ideas on how I can make this look prettier?
<img src="https://user-images.githubusercontent.com/46300244/162740802-07b654c1-572b-4837-b308-5e991f3cad75.png" width="50%" height="50%" />

[2022-04-11 13:12] n1snt commented on #10641
How does this look?
<img src="https://user-images.githubusercontent.com/46300244/162746778-fcab036a-d68f-4923-9617-4935dd988d3c.png" width="50%" height="50%" />

[2022-04-11 14:16] snowtimeglass opened #10785 "[Bug] After tapping some items of the menu of Study screen, unnecessary changes get shown for a moment"
Thank you always, developers.

###### Reproduction Steps
1. `Settings` -> `Reviewing` -> `App bar buttons` -> `Enable whiteboard` -> `Menu only`
2. Open Study screen
3. Tap `More options` (`︙`)
4. Tap `Enable whiteboard`

###### Expected Result
Before the menu gets hidden, ripple effect gets shown. Nothing else happens about the menu, as on the case of `Replay audio`.

https://user-images.githubus

[2022-04-11 14:59] snowtimeglass opened #10786 "[Bug] The name of "≡" button isn't correct"
Thanks to developers.

###### Reproduction Steps
1. Open any of `Decks` / `Card browser` / `Statistics` / `Study` screens
2. Long press `≡` button

###### Expected Result
A string which expresses the button's feature, for example, "Open drawer", gets shown.

###### Actual Result
The string, "Navigate up", gets shown. It doesn't express the button's feature.
![image](https://user-images.githubuserc

[2022-04-11 16:03] krmanik commented on #10663
The download is already intercepted in webview. I think re-download of same name file is overwritten.
View this PR.
https://github.com/ankidroid/Anki-Android/pull/9229

The filename can be checked here.
https://github.com/ankidroid/Anki-Android/blob/b72d9cca2c6c6390e21c3bc1cd8d45f5095aed22/AnkiDroid/src/main/java/com/ichi2/anki/SharedDecksDownloadFragment.kt#L141-L144

The md5 will be good if we w

[2022-04-11 20:57] gpauer commented on #10658
Can assign to me will do it.

[2022-04-11 21:30] mikehardy commented on #10658
Sure, go for it! Only the unit tests can do an OS matrix like this, not the emulator test. But should be a nice addition

[2022-04-11 22:34] BrayanDSO commented on #10773
TBH, I think changing `Note` for `Card` won't make a big change. Both are fine to me. If someone would change it, I wouldn't care.

Anki Desktop uses only `Add` in the option and window, so it isn't useful to follow it.

Right now, I'd leave it as is to avoid discarding the current translations

I'd only change it if there were some people really complaining about confusing cards with notes, or if

[2022-04-12 05:37] Arthur-Milchior opened #10789 "[Bug] Splash Screen takes seconds to appear"
###### Reproduction Steps

1. take a slow phone or an emulator, and a collection with lot of cards (not necessary, but it may help)
2. ensure that ankidroid is closed
3. click on ankidroid icon on android

###### Expected Result
you'll see our logo immediately, a splash screen. Then when the app is done loading, you'll see the app

###### Actual Result
You wait during a few second with nothing ocu

[2022-04-12 07:14] s-deepak-kumar commented on #10789
Assign It To Me, Please!

[2022-04-12 09:45] Arthur-Milchior commented on #10789
You already have three issues assigned according to https://github.com/ankidroid/Anki-Android/issues/assigned/s-deepak-kumar and I don't see progress on any of them. So if you please I'd first like that you update them or relinquish them.

[2022-04-12 11:05] BrayanDSO opened #10791 "Update to Android 12 splash screen API"
Android 12 changed its splash screen API (https://developer.android.com/guide/topics/ui/splash-screen)

Migrating guide: https://developer.android.com/guide/topics/ui/splash-screen/migrate

With it, AnkiDroid's previous splash screen doesn't appear anymore (at least on my phone, Samsung Galaxy Note 10 Lite SM-N770F/DS, API 31, One UI 4.0)

Debug info:
[code]

![2022_04_12-08_00_45](https://user-im

[2022-04-12 12:25] snowtimeglass commented on #10773
I see. I'll consider about this issue for a while. Let me keep this pending. For now, I have changed the title of this issue. Thanks always for your candid feedback :-)

[2022-04-12 12:31] snowtimeglass opened #10792 "[Bug] Immediately after tapping AnkiDroid-App-shortcut-menu items, unnecessary and insipid screens get shown"
Thank you always, developers.

###### Reproduction Steps

1. Long tap AnkiDroid App icon
2. Tap any AnkiDroid shortcut items
![image](https://user-images.githubusercontent.com/10436072/162961314-088a896f-f0f4-41d8-9573-255b7a83ace1.png)

###### Expected Result
Before the intended screens get shown, nothing happens or AnkiDroid splash screen gets shown.
![image](https://user-images.githubuserconten

[2022-04-12 12:53] krmanik opened #10793 "Add milestone to linked issues for merged PR"
In the previous implementation milestone added to merged PR. Now in this PR, milestone added to linked issues to merged PR.

This is feature request issue as well as test for proposed PR.

[2022-04-12 13:04] krmanik opened #10795 "Get associated issues that are closed by the PR and add the milestone to them"
Or get associated issues that are closed by the PR and add the milestone to them...

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/10787#issuecomment-1095584379_

[2022-04-12 13:05] krmanik commented on #10793
I have created this duplicate issues for testing.

[2022-04-12 13:48] snowtimeglass opened #10796 "[Suggestion] Add an icon to "Set TTS language" item of the action menu of Study screen"
**Is your feature request related to a problem? Please describe.**

On action menu of Study screen, "Save note" is going to have an icon by #10769. The other items except "Set TTS language" have already had respective icons, but "Set TTS language" item doesn't have its icon yet.

![image](https://user-images.githubusercontent.com/10436072/162973561-f066dcf7-1ee5-4ee3-b054-b4fd0d1c69f2.png)

**Desc

[2022-04-12 14:13] snowtimeglass commented on #10796
@Prince-kushwaha thanks for your prompt candidacy. That's very fine with me, of course :-)

[2022-04-12 14:41] #10793 closed

[2022-04-12 14:44] mikehardy commented on #10795
Was not fully associated, but the related PR was working - closing

[2022-04-12 14:44] #10795 closed

[2022-04-12 14:45] mikehardy commented on #10789
@s-deepak-kumar no, Arthur's comment was complete and prescriptive. Finish or relinquish existing tasks.

[2022-04-12 15:24] winstoncooke commented on #10445
I'm having the opposite problem where all items in the top right of the action bar (i.e. Search, Sync, and the 3 dot menu) disappear after a sync. Should that be a new issue?

[2022-04-12 15:52] winstoncooke opened #10797 "[Bug] The FAB does not disappear when searching decks"
###### Reproduction Steps

1. Tap search button (appears when you have at least 10 decks)
2. Close keyboard that pops up

###### Expected Result
The floating action button (FAB) should disappear when a search is initiated.

###### Actual Result
The FAB moves up as a small dot that is still actionable and results in a weird issue when tapped upon. It's too cramped to still appear, and when tapping

[2022-04-12 20:34] oyeraghib commented on #10185
@s-deepak-kumar I am still working on it. Actually it's not a easy transition from localbroadcastmanager to LiveData and ViewModel. A proper way has to be constructed to make it work. If you have gone through the codebase for that and have information around LiveData and ViewModel I would love to hear your views about the same.

[2022-04-12 23:37] #10715 closed

[2022-04-12 23:50] #10744 closed

[2022-04-13 00:03] david-allison opened #10800 "[Bug] Card Browser - "All Decks" Appears twice"
###### Reproduction Steps

1. Open Card Browser
2. Open Deck Selection

###### Expected Result

3. "All Decks" should appear once

###### Actual Result

3. "All Decks" appears twice

###### Debug info
[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [x] I have checked the [manual

[2022-04-13 00:04] david-allison commented on #10800
I'd expect that this is caused by 750abd2c49a44f23295e3f50a50d631de822bb2d (my fault). Needs a unit test if so.

[2022-04-13 00:15] david-allison commented on #10800
Ignore me... had a deck at the top of the list named 'All Decks' :/

[2022-04-13 00:44] #10772 closed

[2022-04-13 00:46] mikehardy commented on #10800
Was indeed your fault haha
Who makes a deck called All Decks !?

[2022-04-13 01:37] Prince-kushwaha commented on #10796
@mikehardy can i work on this suggestion

[2022-04-13 03:37] mikehardy opened #10805 "Publish workflow failure for 2.16alpha57"
###### Reproduction Steps

1. Hit the publish workflow action manual run button
2. Bask in fully automated release script glory
3. There is no 3

###### Expected Result

A successful publish

###### Actual Result

Looks like a gradle plugin issue of some sort. I've seen errors like this before and typically resolve by scanning related repositories for version range compatibility issues amongst dep

[2022-04-13 03:39] mikehardy commented on #10805
Believe it or not, this is not the highest priority problem for the project - I'll work on it as my highest priority during my AnkiDroid time but last alpha was just 3 days ago, so the diff is not very large to sift through, and there's not a great deal of release pressure. Important, but not urgent.

[2022-04-13 03:44] mikehardy commented on #10805
Since we have so many new folks around, if anyone wants to try out some DevOps work, this is a good first issue, but it's not a great first issue for everyone so I won't put the official label on it.

It is possible to run the `./tools/release.sh` locally in a read-only mode by commenting out the lines that do the git tag / git push, and you make a "mock" java keystore with the right name and pass

[2022-04-13 11:53] RogerDTZ commented on #10095
Anki Desktop scans the hierarchy through separating a tag by double colons `::`. The tag is displayed as pure string with colons in AnkiDroid.

Two parts need to be adapted, the finder part and the tag picker part.
The finder in card browser can be implemented by adding another DB query. The tag picker however needs UI update (i.e. adding tree hierarchy to tag list).

I think it's good to add an o

[2022-04-13 13:56] snowtimeglass opened #10815 "[Suggestion] Add two more choices to the item of "Deck options" on the setting of "App bar buttons""
**Is your suggestion related to a problem? Please describe.**

Now, AnkiDroid has already had the icon for "Deck options" by #10735 (thanks @s-deepak-kumar); nevertheless, it is impossible to show it on App bar yet since the item of "Deck options" has been given only two choices as follows.
![image](https://user-images.githubusercontent.com/10436072/163191651-005f2fd6-ca99-40bf-840a-d9afd8a71725.p

[2022-04-13 14:26] mikehardy commented on #10796
Sure, the proposed icon seems fine to me as well

[2022-04-13 14:27] mikehardy commented on #10805
Looks like it was a transient build failure of some kind. Re-runs of the same code worked, and I could not reproduce locally
Going to hit publish again and see what happens.

[2022-04-13 14:39] gpauer commented on #10805
If it is not sorted will grab this one.

[2022-04-13 15:26] gpauer commented on #10805
Ohh okay, awesome thanks, that makes a lot of sense. I have to say Anki Devops looking pretty solid to me so far, looking forward to learning a lot more from this repo and community  :D

[2022-04-13 16:18] gpauer commented on #9432
I like regex please assign to me :)

[2022-04-13 17:27] BrayanDSO commented on #9670
My phone has an SPen so I could do this if it's accepted.

Reviewing cards with Air gestures like Harry Potter must be so fun

As commented above, here's the open SDK https://developer.samsung.com/galaxy-spen-remote/overview.html, though I don't know where to put these `.jar` files on AnkiDroid

[2022-04-13 17:39] Umesh-01 commented on #10697
@mikehardy can you please guide me in which package or file should I look for this bug, I tried but didn't find this issue yet.

[2022-04-13 17:44] mikehardy commented on #9432
Yessss - code coverage can be useless or useful, historically here I think we have used in a way that is useful, it has been for me anyway. Would love to see it back up for Kotlin code

[2022-04-13 18:44] mikehardy opened #10829 "'DeckPickerTest > version16CollectionOpens' is flaky on windows"
'DeckPickerTest > version16CollectionOpens' is flaky on windows

Seen in another instance or two as well? Will re-run failed unit test once it's possible (other parts of OS matrix have to finish first)

[code]

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/10811#issuecomment-1098285999_

[2022-04-13 18:45] mikehardy commented on #10829
@gpauer I think you mentioned you saw this as well? It's not high priority but this is how I track flaky issues usually, as much detail as possible for immediate reference, try to get comment from others that may or may not have seen it, then frequently it will sit in a sort of "self-triage" where I will make comments as I see it happen again (...and again and again) and if it happens enough to ju

[2022-04-13 19:05] david-allison commented on #10697
I'd start with undo():

https://github.com/ankidroid/Anki-Android/blob/1a453679e62cabed8afe17ae4817d2ceeeae0d5e/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.kt#L806-L821

[2022-04-13 19:12] mikehardy commented on #10829
May re-title this to a more generic "some tests are flaky on windows" thing, it appears there is another one:

[code]

[2022-04-13 20:50] mikehardy commented on #10829
Original one just showed up again:

[2022-04-13 21:21] mikehardy commented on #9670
@BrayanDSO their license seems wholly incompatible (hostile even?) to open source apps.
If they want this to be adopted at all the need to specify that the JAR file is MIT or APL or something.
If you can prove me wrong please do, I'd love to see people go Harry Potter on their cards :-)
Could maybe tag along here https://forum.developer.samsung.com/t/disabling-spen-air-command-for-the-app/18585

[2022-04-13 21:57] aliffhasf opened #10837 "[Bug]"
When choosing a form to fill in the blank when I want to select the text which want to hide, it closes suddenly

[2022-04-13 22:03] david-allison commented on #10837
You should fill out the 'bug' template. Especially 'Settings - Advanced - About AnkiDroid' - Copy Debug Info

If you're on a Xiaomi phone, the Android 12 update is broken. Either use [our alphas](https://github.com/ankidroid/Anki-Android/releases), roll forward, or roll back your OS update.

[2022-04-13 22:15] aliffhasf commented on #10837
Yes, my device is Xiaomi and now it is updated to version 13 ،Was it because of the new update?

[2022-04-13 22:17] BrayanDSO commented on #9670
Oh, that's true. I didn't see the license 😅

Thanks for the notice 👍🏻

I'll send a message to their support asking for the license, though I don't expect a positive answer, or even an answer.

If maybe, by chance, perhaps, who knows, in a beautiful sunny day, or Christmas, they add a good license, this may be feasible

[2022-04-13 22:26] david-allison commented on #10837
Yes. Use our alphas (linked above) if you can't remove or go forward to a non-buggy version.

[2022-04-13 22:29] gpauer commented on #10829
Yes in this PR #10801

The weird thing where it passed on powershell and failed on bash

[2022-04-13 22:36] mikehardy commented on #10829
I think that's correlation not causation, in other words you were just lucky on your powershell runs and unlucky on bash. The shell involved shouldn't matter once it's running in the JDK. Of course, software never fails to surprise, but I would be surprised if the shell was the root cause

[2022-04-13 22:42] mikehardy opened #10838 "CI cancel workflow action not working"
###### Reproduction Steps

1. Run two runs of the same workflow (like, emulator test) on main branch really quickly one after another, or 7 if necessary so you start to hit queueing - the key is that the earlier runs *must not actually hit the cancel workflow action until a more recent run is enqueued
2. Examine output
3.

###### Expected Result

As long as there is a more recent run of the same w

[2022-04-13 22:43] gpauer commented on #10829
Ahh okay makes sense. The reason I was so set on a possible shell issue was shell flaked on me the first 2 times I used it and powershell not once. Might let my fork run it tomorrow just to be safe and convince myself it's not the shell

[2022-04-13 22:43] mikehardy commented on #10838
This is a great first issue for a DevOps interested person. Reasonably certain it's not a great GSoC issue since most of the ideas there for proposals are just not DevOps-y (sorry?) but a good first issue nonetheless

[2022-04-13 22:45] mikehardy commented on #10829
Nothing beats experimental results / actual data!

[2022-04-13 22:48] winstoncooke commented on #10797
I'm looking into this issue

[2022-04-13 23:48] aliffhasf commented on #10837
Thank you very much, the problem was solved after installing the alpha version.

[2022-04-13 23:49] aliffhasf commented on #10837
Do I download new updates from this alpha or will I be satisfied with what I have now?

[2022-04-13 23:50] david-allison commented on #10837
Once a month, check back to see if we move on to AnkiDroid 2.17 alphas.

When this happens, 2.16 will have been released, and you can go back to the Play Store.

OR: You can download the Parallel.A alpha, and your regular non-alpha AnkiDroid will update once we release on the Play Store

[2022-04-14 01:30] RogerDTZ commented on #10095
I have a question about sorting. In the tag picker of note editor, `TagList` always puts the checked tags at the front. In hierarchy context this means a checked tag's relavant tags (children, ancestors, and brothers) should be moved ahead as well.

Should I reserve the checked-first sorting after implementing the folding feature? That is to say, sorting children (or roots) so that a child (or a r

[2022-04-14 01:59] oyeraghib commented on #10838
@mikehardy is this issue somewhat related to testing ? I am looking to get my hands on around testing on the app so If it is related to that please let me know.

[2022-04-14 02:47] mikehardy commented on #10838
@oyeraghib it is not, no. When we say "testing" it's java or kotlin code living in AnkiDroid/src/main/java/test (or androidTest) and it probes functionality

This is about github Actions and workflows and such, using the GitHub Actions YAML syntax etc. It's a bunch of useful skills, but totally separate :-)

[2022-04-14 03:09] oyeraghib commented on #10838
@mikehardy oh okay, Thanks for letting me know. It sounds something new I haven't worked with before. Would love to pick this issue after submitting my GSOC proposal, if someone did not picked this issue by then.

[2022-04-14 06:11] adinayyu commented on #10796
I am adithya from India and as part of gsoc 2022 i want to work on visual editor project. To contribute to ankidroid i want to work on this issue. How to work on this issue and this is my first issue

[2022-04-14 10:55] snowtimeglass opened #10840 "[Bug] Crash: Tapping "Study" shortcut ends up closing AnkiDroid immediately without any explanation if the last-selected deck doesn't have any "due" cards"
Thank you always, developers.

###### Reproduction Steps

1. On `Decks` screen, tap a deck which doesn't have any "due" cards* at the moment
*it includes the case that the deck is empty![image](https://user-images.githubusercontent.com/10436072/163318232-74b2f7cb-06bb-4cbe-9aaf-7bcc75d9724f.png)
![image](https://user-images.githubusercontent.com/10436072/163321666-ccfd4ec9-c0b0-4705-8bca-11df1ea8e

[2022-04-14 11:00] snowtimeglass opened #10841 "[Bug] Crash: Studying all "due" cards started from "Study" shortcut ends up closing AnkiDroid without returning to Decks screen with "Congraturations!" snackbar"
###### Reproduction Steps

1. On Decks screen, tap a deck which has one or more "due" cards
![image](https://user-images.githubusercontent.com/10436072/163351938-86812ee0-859a-4b64-80de-68df6c191bf0.png)
 (Then, Study screen gets shown)
![image](https://user-images.githubusercontent.com/10436072/163351672-fa9dbe7a-e4a4-4a15-8e0d-f660c60056fe.png)
2. Go back to Android Home screen
 (ex. press Back

[2022-04-14 11:29] BrayanDSO commented on #10840
Nice!

Open Reviewer directly -> No cards to review -> Closes the reviewer -> No activity to get back to -> App closes

Add the main activity to the backstack before the reviewer and it should be fine

[2022-04-14 12:49] krmanik opened #10843 "Search option in card template editor"
**Is your feature request related to a problem? Please describe.**
The search option will be helpful in card template editor to quickly find the known strings.

**Describe the solution you'd like**
Search option in options menu

**Describe alternatives you've considered**
The alternative will be copy the card templates content to different editor and edit there.

**Additional context**
AnkiDesktop

[2022-04-14 13:53] UvrajSB commented on #10489
I am trying to resolve PreferencesTest.kt migration

[2022-04-14 14:39] mikehardy commented on #10789
Possibly fixed by moving to Android 12 splashscreen style - see #10791 - I would investigate that one first and only do this if it was still slow.

[2022-04-14 14:44] mikehardy commented on #10773
If Anki Desktop just uses "Add" that might actually be most useful, 1) ecosystem compatibility, and 2) no confusion about note or card! It's just "Add".

This is one of the areas of serious user confusion - I answer a *lot* of reviews where people complain "they don't know how to add a card to an existing deck". Our new user introduction system (when it eventually launches) will help a lot I think

[2022-04-14 14:45] mikehardy commented on #10773
If you proposed a PR that switched it to "Add" - assuming that is what Anki Desktop does, by removing-string/adding-new-string we could debate on the PR, sort of a call for votes. I think that's an easy enough PR it won't represent a huge loss of time if the vote is "no"

[2022-04-14 14:47] mikehardy commented on #10766
@krmanik this one might be interesting for you? It's right in the intersection of the JS API and the Java, with an interesting TTS / automatic answer interaction...

[2022-04-14 14:54] mikehardy commented on #10697
Probably related - there appears to be some deeply-rooted problem with order of operations on the app bar / menu build:
#10792
#10785
#10732
#10691
#10683
#10445

[2022-04-14 14:57] krmanik commented on #10766
I will look into this.

[2022-04-14 14:59] mikehardy commented on #10694
This needs someone more familiar with the scheduler then me, suggest either @david-allison or @Arthur-Milchior otherwise I (or someone else) is going to need to do some scheduler research since I don't use filtered decks myself and am not sure what the behavior should be.

[2022-04-14 15:02] mikehardy commented on #10695
I'm not closing this because I don't like the idea, I'm closing this because it's not actionable here. It appears based on commentary in related PR (thanks for proposing it! sincerely) that this needs to be discussed at https://forums.ankiweb.net and would be a lower-level change. Also per-commentary if it is accepted like that upstream in Anki Desktop's rust library, then we would get the change

[2022-04-14 15:02] #10695 closed

[2022-04-14 15:03] oscarmohr opened #10846 "[Feature Request] Custom Math Delimiters for Mathjax"
**The Problem**
The Mathematical community mostly uses `$ MATH HERE $` - math delimiters, both in TeX and in Markdown. The standard delimiters for Maths in Anki however use `\( MATH HERE \)`.

I have 1000s of pages of mathematical content in `$`-delimiters.

It is not feasable to process these to use `\( ... \)` delimiters.

**Workarounds don't work anymore**
A common workaround used to be to run

[2022-04-14 16:46] #10691 closed

[2022-04-14 17:12] UvrajSB commented on #10489
I am working on KeyboardShortcutIntegrationTest

[2022-04-14 17:26] mikehardy commented on #10796
Hi @adinayyu! You can look at previous PRs doing similar things - there have been icon additions quite recently. Here is a search of PRs for "add icon" and in that list are some examples

https://github.com/ankidroid/Anki-Android/pulls?q=is%3Apr+add+icon

[2022-04-14 17:46] Propo41 commented on #10786
@mikehardy I'd like to work on this issue.

[2022-04-14 17:52] mikehardy commented on #10843
Do you have a sketch (even a drawing scribbled on a napkin could work :- ) of how this would look / work, and a screenshot of Anki Desktop for same?

[2022-04-14 18:02] david-allison commented on #10786
Sounds good to me

[2022-04-14 18:03] mikehardy commented on #10846
Hey @oscarmohr ! Can I ask why Anki Desktop does not just support this by default? Has it been requested + discussed as a feature / change at https://forums.ankiweb.net ? We'd like to stay as close as possible to desktop - maintaining differences is very difficult for us, and in fact our Mathjax implementation is ideally just a copy of the exact Desktop code/bundle

Incidentally, it seems like it

[2022-04-14 18:11] krmanik commented on #10843
May be a button at right side of `Front Template`, `Back Template` and `Styling` added. When button clicked then search option displayed otherwise hidden.
<img src="https://user-images.githubusercontent.com/12841290/163450870-09466a4d-f97a-4219-b352-fed6c1522e48.png" height="500px"></img>

Search UI in Anki Desktop.
<img src="https://user-images.githubusercontent.com/12841290/163450909-9fb33132-13

[2022-04-14 18:34] david-allison commented on #10843
Can we move it to the action bar?

We're already very limited with screen space, and I'd rather not cut off vertical space

[2022-04-14 18:35] mikehardy commented on #10843
That sounds good! Then I guess you will seek to first search result and have next/prev icons to move to other search results (prev disabled if on the first result, next disabled if on last result, "No results" shown if there are no results?)

Here's the way Visual Studio Code handles it, I like it a lot, though it's quite complex with case-sensitive/case-insensitive etc

![image](https://user-imag

[2022-04-14 18:38] Shane-Patrick-Roach commented on #10773
Could I be assigned to issue?

[2022-04-14 18:42] mikehardy commented on #10773
Sure @Shane-Patrick-Roach - it's a really easy change but please note my warning that could be frustrating in a way. The PR itself will be a sort of "vote" to see what other maintainers think and it may very well result in my suggestion (switch to "Add") being rejected and the PR going nowhere. But it's quick at least! :-)

[2022-04-14 18:45] mikehardy commented on #10815
Good point / Good idea. As long as it defaults to it's current setting ("Menu only"?) it shouldn't be a change for existing users but will allow it as a new feature in the app bar

[2022-04-14 18:49] mikehardy commented on #10840
@snowtimeglass and @BrayanDSO thanks so much for the testing and triage on issues, it is such a huge help. This alpha cycle has gone on so long that we have not encountered many real users with so much new code that this QA/triage effort is pretty sizable to get rid of the immediate crashes before we go beta. Also makes me think, it's going to be a tough beta cycle :sweat_smile:

[2022-04-14 18:51] mikehardy commented on #10841
Just as a guess - the fix for #10840 may fix this one at the same time, they *seem* like they have the same root cause

[2022-04-14 18:51] krmanik commented on #10843
Considering above suggestion will improve the card template editing. It also needs to implement features in multiple PR.

[2022-04-14 18:51] mikehardy commented on #10840
A fix here may fix #10841 at the same time, both scenarios should be tested for any fix on either one

[2022-04-14 18:56] mikehardy commented on #10843
With JS add-ons starting to merge in, having a card template editor that's a little more powerful will be nice, yes. It's all "enhancement" though, in my mind - so no pressure of course, but I do think the JS Add-ons stuff finally getting in is higher priority, if there is any way we can speed that up (including me/us reviewing it more quickly of course!). Such a long-term dream to have that stuff

[2022-04-14 19:20] #10632 closed

[2022-04-14 19:47] Shane-Patrick-Roach commented on #10773
This was the first time exploring such a complex codebase. Thank you for the opportunity to contribute.

[2022-04-14 20:00] mikehardy commented on #10773
@Shane-Patrick-Roach sure - and don't forget that it also uses this as it's foundation https://github.com/ankidroid/Anki-Android-Backend/ which uses this as a library https://github.com/ankitects/anki/tree/main/rslib

The complexity is ridiculous :sweat_smile:

[2022-04-14 20:03] oscarmohr commented on #10846
Thanks @mikehardy for your swift reply.

It is indeed better to stick with the official Anki provided MathJax assets.
Anki advises to avoid changing these delimiters because of Anki note text processing internals.

I have actually found that the API change of MathJax does in fact not prevent the MathJax configuration to be reconfigured in the card template after Anki has been loaded, as I initiall

[2022-04-14 20:03] #10846 closed

[2022-04-14 20:24] n1snt commented on #10792
Hey, can I try to solve this issue?

[2022-04-14 21:15] mikehardy commented on #10846
Oh that's excellent, I'm glad you found a solution! We definitely want to stick with compatibility *by default* but as you can see the system is kind of wide open internally, and I'm happy it was open enough for you to use all your existing mathjax material. Cheers!

[2022-04-14 21:17] UvrajSB commented on #10791
I have actually implemented Android 12 splash in a few apps, I am confident that I can do it but I am unable to understand the current implementation of splash screen in the app. Can anyone please help me with that, just some brief explanation of the current implementation for the splash screen required

[2022-04-14 21:22] winstoncooke commented on #10697
I've been looking into this when I have time away from my gsoc application. The satisfaction from closing 7 PRs would be immeasurable! I'll continue updating if I make further progress.

[2022-04-14 21:31] snowtimeglass commented on #10632
@Prince-kushwaha thank you for the fix!

[2022-04-14 21:44] mikehardy commented on #10791
Hey @UvrajSB, I'll give it an attempt

Control for the app starts with a launch intent here:

https://github.com/ankidroid/Anki-Android/blob/5289e3b8afe43df00e05a1c8c0573c13727854d5/AnkiDroid/src/main/AndroidManifest.xml#L83-L94

So IntentHandler is our entry point

It seems to set it's content view to a progress bar immediately

https://github.com/ankidroid/Anki-Android/blob/5289e3b8afe43df00e05a

[2022-04-15 03:38] mikehardy commented on #10838
Appears to be a GitHub API issue, their indexes are slow so workflow run results are incorrect when filtered https://github.com/styfle/cancel-workflow-action/issues/150#issuecomment-1099800720

[2022-04-15 04:07] javiercl2020 opened #10860 "Change font size in editor"
In ankidroid there is almost no space at all and with a smaller font would be easier to find code.
Better if you can change it to whatever size you want 20px, 10 px...

[2022-04-15 06:58] raymondwzeng commented on #10841
Currently looking into this + the linked issue.

[2022-04-15 07:30] krmanik commented on #10766
Even if JS API not added to front/back of card templates, the Automatic Answer doesn't work if `Set TTS language` option set to `Don't speak`.

I have tried to find the cause but didn't find it.
1. First checked NO_TTS, then it calls `onDone` function
https://github.com/ankidroid/Anki-Android/blob/5289e3b8afe43df00e05a1c8c0573c13727854d5/AnkiDroid/src/main/java/com/ichi2/anki/ReadText.kt#L124-L128

[2022-04-15 12:34] snowtimeglass commented on #10731
@s-deepak-kumar thank you for the fix. It's looks nice!

[2022-04-15 13:05] snowtimeglass opened #10868 "[Suggestion] Show "Deck options" icon on Actionbar of Deck overview screen instead of its three dot menu icon"
**Is your suggestion related to a problem? Please describe.**

AnkiDroid has already had the icon for "Deck options" by #10735, and there is enough space on Actionbar of Deck overview screen to add some more icons; nevertheless, the item of "Deck options" has still been imprisoned solely in the three dot menu of the screen.
![image](https://user-images.githubusercontent.com/10436072/163572902-1ded

[2022-04-15 13:35] mikehardy commented on #10838
This should be resolved soon then we can ignore the switch to built in concurrency for a while longer ;-)
https://github.community/t/bug-github-api-list-workflow-runs-returns-0-runs-even-though-there-are-runs/165080/19

[2022-04-15 13:37] mikehardy commented on #10860
Which editor (there are a few)
You have skipped our template entirely and it's important in order to provide support.
Please try again with a new issue.

[2022-04-15 13:37] #10860 closed

[2022-04-15 14:10] #10796 closed

[2022-04-15 15:15] #10837 closed

[2022-04-15 20:51] BrayanDSO opened #10882 "[Feature Request] Don't hide minibar flags/marked icon on fullscreen mode"
**Is your feature request related to a problem? Please describe.**
I always use "Fullscreen mode" ON + "Flag" as "Always show". My problem is that AnkiDroid hides the minibar flag icon if there is a Flag button on the app bar. I didn't even know flags were showed in the minibar before I started doing some tests in the app. The same problem applies to the marked icon (although it isn't on my app ba

[2022-04-15 23:02] UvrajSB commented on #10489
I am unsure about the use of scope function here, can anyone please explain
![image](https://user-images.githubusercontent.com/73571511/163651151-97803ae4-3af6-4828-a6d1-c918225ae198.png)

[2022-04-16 00:00] UvrajSB commented on #10791
Not going to lie, it was really fun to read this investigation. You described it extremely well.
Coming to the actual discussion, for pre-Android 12 style I used to use the handler for splash screen but I saw a similar implementation of the splash screen in blogs bragging make a splash screen without using extra activity but haven't used it personally.

[2022-04-16 00:18] UvrajSB commented on #10791
Working on android 12 splash screen implementation

[2022-04-16 06:45] Jatin887 commented on #10489
I am working on RecylerSingleTouchAdapter.kt

[2022-04-16 09:25] smish-hash commented on #10377
Hi @Arthur-Milchior, I would like to work on this.

[2022-04-16 11:03] Arthur-Milchior commented on #10377
@smish-hash go for it

[2022-04-16 12:44] THElegend5 opened #10892 "[Bug] Crash : Ankidroid crashes on checking media."
###### Reproduction Steps
- Updated from 2.15.6 (Play store ver.) to 2.16alpha58
 and when i opened a card i started getting "failed to load : failed to load ...."
![Screenshot_2022-04-16-17-34-50-744_com.ichi2.anki.png](https://user-images.githubusercontent.com/63903377/163674249-884f95df-96c1-44f1-8a0e-8a5fdc0edefd.png)
- So i decided to use check media which instantly crashed the app.
- After t

[2022-04-16 12:47] david-allison commented on #10892
Crash during check media:

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/d41c144d-1c3f-476d-8193-761f1e1375c4

[code]

[2022-04-16 12:48] david-allison commented on #10892
Hi @THElegend5, thanks for the report!

Could you copy this into a new issue for the 'full sync' crash, so we can split out the two separate issues?

[2022-04-16 12:49] THElegend5 commented on #10892
Should i change anything or does copying everything works.

[2022-04-16 12:49] david-allison commented on #10892
copy everything please :)

[2022-04-16 12:50] david-allison commented on #10892
@Arthur-Milchior, this seems very likely related to https://github.com/ankidroid/Anki-Android/issues/10307

https://github.com/ankidroid/Anki-Android/blob/1a453679e62cabed8afe17ae4817d2ceeeae0d5e/AnkiDroid/src/main/java/com/ichi2/libanki/Media.java#L714

[2022-04-16 12:51] THElegend5 commented on #10892
Also the same title works or just limit that one to force sync.

[2022-04-16 12:53] david-allison commented on #10892
Up to you: I /think/ these have the same root cause, but it's worth splitting them up just in case as it's two different crashes

[2022-04-16 12:55] THElegend5 opened #10893 "[Bug] Crash : Ankidroid crashes on performing a force sync from anki web to ankidroid."
###### Reproduction Steps
- Updated from 2.15.6 (Play store ver.) to 2.16alpha58
 and when i opened a card i started getting "failed to load : failed to load ...."
![Screenshot_2022-04-16-17-34-50-744_com.ichi2.anki.png](https://user-images.githubusercontent.com/63903377/163674249-884f95df-96c1-44f1-8a0e-8a5fdc0edefd.png)
- So i decided to use check media which instantly crashed the app.
- After t

[2022-04-16 12:57] THElegend5 commented on #10892
Yeah was also thinking these might have the same cause the reason i reported them together , will just name them seperately to make it easier to tell which one is which.

[2022-04-16 13:51] #10776 closed

[2022-04-16 13:54] snowtimeglass opened #10895 "[Bug] On Deck overview screen, the name of the left arrow button on the left end of Actionbar can't be shown"
###### Reproduction Steps

1. On Decks screen, tap a counts area of a deck which has "due" cards at the moment
   (Then, Deck overview screen gets shown)　
2. Long-tap the left arrow button on the left end of Actionbar
![image](https://user-images.githubusercontent.com/10436072/163677518-07dcd222-2996-491e-bbc2-dbe6b882484b.png)

###### Expected Result

The name of the button (action), that is, "Na

[2022-04-16 14:01] mikehardy commented on #10892
I haven't logged it but had the same experience just yesterday: crash on full media check.
Additionally, if I logged out of ankiweb then logged in, I did not crash on the next sync but it did pop up an error during media sync saying trying to get length of null array or similar. Vague but main point is: I reproduce this as well

[2022-04-16 14:59] SySagar commented on #10815
I want to work on it

[2022-04-16 16:17] dorrin-sot commented on #10892
Hi can I take this? I think it's an issue of not having read access to external storage

[2022-04-16 17:13] mikehardy commented on #10892
But it's not. I definitely have "All files" permission allowed for the app. Feel free to look at it certainly! But it's not a permission issue

[2022-04-16 17:17] THElegend5 commented on #10892
Yeah am sure too that it wasn't something to do with storage permission as all the cards were still there and opening as normal.
The cards which had media were just giving errors , media was still being displayed.

[2022-04-16 17:30] dorrin-sot commented on #10892
@mikehardy @THElegend5 But currently we don't have the "read access to external storage" permission. just "write access"

[2022-04-16 17:35] mikehardy commented on #10892
Read up on that permission in Android docs. Report findings

[2022-04-16 17:59] david-allison commented on #10815
There's already a PR in for the issue. Could you pick an issue which people aren't working on?

[2022-04-16 18:19] BrayanDSO commented on #9941
Upgraded to Android 12 recently, got the same problem

Done this (though it didn't require a PC) and it's fixed now

[2022-04-16 18:20] siddharthsingh025 commented on #10868
pls can you suggest me" Deck overview " activity file name .......i m new to this codebase , so it seems complex to me to find something

[2022-04-16 18:29] SySagar commented on #10815
There aren't many ui related issues so I thought since this is open so I  thought to give it try

[2022-04-16 19:02] david-allison commented on #10868
`StudyOptionsFragment`

[2022-04-16 20:21] THElegend5 commented on #10892
Just an update to the backups issue , it is detecting backups again and the backups are being created properly.

[2022-04-16 20:39] dorrin-sot commented on #10892
@mikehardy Looks like we wouldn't need to add it explicitly in manifest (it's implied with `WRITE_STORAGE_ACCESS`). and if the `READ_STORAGE_ACCESS` permission hasn't been grant, `listFiles()` can't find the folder and so returns null.

[2022-04-16 21:57] mikehardy commented on #10892
Correct, write contains read, so the declaration is fine. I definitely have granted the permission. So why is it a null media array and a crash 🤔

[2022-04-16 22:44] Jatin887 commented on #10489
I am worling on LoadPronunciationActivity.kt

[2022-04-16 22:52] dorrin-sot commented on #10892
No clue 😕 (I'll look into why this would occur only after updating from v2.15.6 in the morning😅) but I tried logging `checkSelfPermission(this, READ_STORAGE_ACCEPTED) == PERMISSION_GRANTED` right before this line https://github.com/ankidroid/Anki-Android/blob/1a453679e62cabed8afe17ae4817d2ceeeae0d5e/AnkiDroid/src/main/java/com/ichi2/anki/DeckPicker.java#L1511 and it was false. I also saw that we a

[2022-04-16 23:00] mikehardy commented on #10892
Hmm. Perhaps it is Android itself being buggy about the permissions now that legacy storage is going away / gone for most everyone - we're pretty late on it. David just did #10894  - I'll do an alpha and perhaps that does it, or perhaps you're belt+suspenders approach of re-checking permissions / logging issues / re-requesting permissions will work around it

[2022-04-17 00:45] mikehardy commented on #10188
Hmm 🤔
![Screenshot_20220416-194313.jpg](https://user-images.githubusercontent.com/782704/163695624-840e7a6b-b7a9-4c13-b757-f0b457fbba1d.jpg)

[2022-04-17 00:47] mikehardy commented on #10892
2.16alpha59 did not fix for me hmm
Needs further testing, i did not try full repro

![Screenshot_20220416-194420.jpg](https://user-images.githubusercontent.com/782704/163695657-2f8afa6d-0b6f-4051-bac8-053a510a99b8.jpg)

[2022-04-17 01:05] david-allison commented on #10892
Could you grab logs of folder/file ownership?

[2022-04-17 01:08] david-allison commented on #10188
I think this is a different issue, the build is now identified for me, just not on that screen.

If you tap 'about', it returns the correct "AnkiDroid.A"

[2022-04-17 01:55] eu2021 commented on #8368
Please, go on with this. My hands get exhausted after reviewing hundreds of cards, even if using a joystick. I think my only option is to use automatic display answer. And pausing is important to make it efficient.
Thanks,

[2022-04-17 06:52] THElegend5 commented on #10892
Some more stuff, I was wrong on one point above installing the Alpha directly doesn't seem to cause any problem which i found out when i was testing on Alpha59 , this seems to only be caused by updating from 2.15.6 to 2.16 Alpha 56/58/69.
Also i can reproduce everything if i update from 2.15.6 to Alpha 59. Also this probably isn't caused by the library itself because I was getting the same errors

[2022-04-17 07:20] MrPenguins commented on #10895
Hey, may I work on this issue?

[2022-04-17 08:54] AbdelrahmanHamdy1998 commented on #8368
I'm sure it will be added eventually ! :)

[2022-04-17 09:03] dorrin-sot commented on #10892
@mikehardy I logged
[code]
in 58c5bd15e897bfb32a2badc80018729b0a7238d6 (v2.15.6) and master and the results were
- v2.15.6 : both were granted
- master : read was denied and write was granted
so maybe android changed how they ask storage permissions (if user accepted "write" permission android accepted "read" too)? or maybe when you're running `checkSelfPermission` on "read", android used to just

[2022-04-17 12:15] siddharthsingh025 commented on #10868
# Error : #10868  *SOLVED ✅ * : Show "Deck options" icon on Actionbar of Deck overview screen instead of its three dot menu icon

## Output i get :

<img width="430" alt="Screenshot 2022-04-17 at 4 54 57 PM" src="https://user-images.githubusercontent.com/87073574/163713426-77fcea1b-7960-4773-8c61-32caa9ed6937.png">

<img width="450" alt="Screenshot 2022-04-17 at 4 55 06 PM" src="https://user-image

[2022-04-17 12:31] david-allison commented on #10895
Sure!

[2022-04-17 12:51] UvrajSB opened #10909 "Changing the color of toggle switches to blue, from dark green which is the default color now in preferences library"
I was trying to change the color of the toggle switches but wasn't able to find a way through the preferences library yet and then I observed that even the checkboxes we were using didn't have the Ankidroid blue color

_Originally posted by @UvrajSB in https://github.com/ankidroid/Anki-Android/pull/10857#discussion_r851192164_

[2022-04-17 14:02] mikehardy commented on #10188
🤦 indeed, confusing version with name, I see what you see and I also see the .A in a couple other places. Definitely identifiable now!

[2022-04-17 14:02] #10188 closed

[2022-04-17 15:31] snowtimeglass opened #10917 "[Suggestion] Add two more choices to the item of "Set TTS language" on the setting of "App bar buttons""
**Is your suggestion related to a problem? Please describe.**

Now, AnkiDroid has already had the icon for "Set TTS language" by #10796 (thanks @Prince-kushwaha); nevertheless, it is impossible to show it on App bar yet since the item of "Set TTS language" has been given only two choices as follows.
![image](https://user-images.githubusercontent.com/10436072/163721016-5d5c46f6-1366-4f9b-a326-42d29

[2022-04-17 15:31] krmanik commented on #7959
I came up with the idea of adding content to reviwer using index.js.
But as it grows, there will be need of adding content like
[code]
Addon developer may need to add styling using style.css file and AnkiDroid should inject it to reviewer. The same task can be done using JS.

Currently I use `index.js` to do the content addition to front, back and styling, e.g. if `style` field will be added to pa

[2022-04-17 15:33] snowtimeglass commented on #10796
@Prince-kushwaha thank you for the fix. It looks nice!

[2022-04-17 15:58] Prince-kushwaha commented on #10917
@snowtimeglass if mentor accept this suggestion then i like to work on this issue

[2022-04-17 16:09] snowtimeglass commented on #10917
@Prince-kushwaha thank you always. That sounds good to me :-)

[2022-04-17 17:59] mikehardy commented on #8482
Still looking at solving this for real, but here's how I just did it
---

Everyone should use a package manager, and on windows I use chocolatey, install it like so https://chocolatey.org/install#install-step2

Then:

choco install mingw

And now the DLLs should be on PATH after a shell restart, you can investigate in a new powershell with this:

($env:Path).split(';')

...and you should see this:

[2022-04-17 18:21] #10815 closed

[2022-04-17 18:24] #10786 closed

[2022-04-17 18:41] adinayyu commented on #10917
I am adithya from india and how can i work on this issue. Where is the source code available for this

[2022-04-17 18:55] TacoTheDank commented on #10909
I'm pretty sure that the preference stuff is themed according to the colorAccent.

[2022-04-17 19:29] #10882 closed

[2022-04-17 20:50] #10797 closed

[2022-04-17 21:15] BrayanDSO commented on #10909
Yep. I think changing the whole `colorAccent` to blue would make things more beautiful.
<details><summary>Current colorAccent</summary>

![Screenshot_20220417-180751_AnkiDroidH](https://user-images.githubusercontent.com/69634269/163732222-a6788498-7e9a-4226-a8af-e44075a3b4ca.png)

</details>

<details><summary>@color/material_light_blue_700</summary>

![Screenshot_20220417-180705_AnkiDroidH](https

[2022-04-17 21:37] mikehardy opened #10923 "[Bug] jacocoTestReport orphans files on windows"
###### Reproduction Steps

1. run `.\gradlew.bat jacocoTestReport` on windows with an emulator up (may only require unit tests, but this runs all tests)
2. observe `%APPDATA%\local\temp`
3.

###### Expected Result

No files left over after test runs, successful tests or not

###### Actual Result

Lots of rsdroidNNNNNNN.dll files, other random test files scattered about
They consume a few GB per te

[2022-04-17 22:14] david-allison commented on #10923
Haven't seen this on my machine. Apologies!

This can be fixed in https://github.com/ankidroid/Anki-Android-Backend/blob/main/rsdroid-testing/src/main/java/net/ankiweb/rsdroid/testing/RustBackendLoader.java#L134 - deleting the temp file on exit.

[2022-04-17 22:15] david-allison commented on #10923
Propose transferring this to the 'Backend' repo

[2022-04-17 23:02] david-allison commented on #10489
I'm working on some of `DeckPicker.kt`

[2022-04-18 00:31] dorrin-sot commented on #10843
can I work on this?

[2022-04-18 03:16] mikehardy commented on #10892
I dunno - when I installed 2.16alpha60 it did not fix the problem, and it did not seem to *detect* the problem, but when I revoked storage permission, then re-added storage permission, it worked.

Really weird. As far as I can tell, the failure mode is that you can't read files *and* you can't tell you don't have storage permission somehow (that is: re-asking for it does not seem to matter). So th

[2022-04-18 07:41] dorrin-sot commented on #10892
oh i added it to startup permissions so it needs a reinstall but didn't realize this was the issue before too🤦🏻 so sorry i'll add a permission check to "media check" too

[2022-04-18 08:10] dorrin-sot commented on #10892
@mikehardy is `DeclPicker::handleStartup` run at every startup or just at the first one?

[2022-04-18 08:16] snowtimeglass commented on #10815
@sauravrao637 thank you for the fix!

[2022-04-18 08:19] snowtimeglass commented on #10786
@Propo41 thank you for the fix!

[2022-04-18 08:22] snowtimeglass commented on #10772
@raymondwzeng thank you for the fix!

[2022-04-18 11:21] mikehardy commented on #10892
But after an app update it definitely starts up clean and goes through the upgrade-the-app flow and everything ? I think it runs every time but I'm not 100%, I'd have to trace it out

[2022-04-18 14:37] vinaydeepkaur opened #10932 "App does not prevent creating same question multiple times"
###### Reproduction Steps

1.  Launch AnkiDroid.
2.  Click on the "+" button on the bottom right corner.
3.  Select " Create Deck"
4. Enter the name of the Deck.
5. Long press the created Deck and select "Browse deck"
6. Click on "+" on the top bar to add questions and answers.
7. for "front" enter "sameText" and enter some answer for it.
8. click on "+" again and add another question and answer w

[2022-04-18 14:42] Elizalll commented on #10917
Hello @snowtimeglass , could I work on this issue? 🌹Thank you, I will try my best.

[2022-04-18 14:59] mikehardy commented on #10932
Hi there!
We warn the user, but we do not stop them - it is the difference between being helpful and being paternalistic.
The user may have valid reasons for entering the text multiple times, for instance if they are studying multiple languages and need to enter the same English word for two notes, but one note has French back, and one note has German back.

[2022-04-18 14:59] #10932 closed

[2022-04-18 16:51] Prince-kushwaha commented on #10917
@mikehardy can i work on this suggestion

[2022-04-18 17:49] david-allison opened #10939 "[Bug] Crash: Note Editor - Don't Keep Activities"
###### Reproduction Steps

1. Enable 'Don't Keep Activites'
2. Type into a field
3. Close AnkiDroid
4. Open AnkiDroid

###### Expected Result

* State is restored

###### Actual Result

* Crash

###### Debug info
`2.16.alpha60`: 8feb4560e4a82a011ccb4eba3133e1932a95da86

[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enha

[2022-04-18 18:55] n1snt commented on #10641
Now I'm implementing the Dialog which gets displayed once the files are imported.
I have currently made it work to look something like this:
![image](https://user-images.githubusercontent.com/46300244/163860117-570f187c-c63a-49c0-9fdc-e7b7161cdb8b.png)

[2022-04-18 19:02] n1snt commented on #10641
I am also working on file import progress to add some indicator which file is being imported, this is a mockup of how I wish the file progress to be:
![newImportFile](https://user-images.githubusercontent.com/46300244/163860722-38b4375a-0cf0-4c5f-b454-f52215cc59c6.png)

[2022-04-18 19:09] mikehardy commented on #9432
This is no intention to pressure or anything: I was just in codecov fixing up it's stale default branch reference so it points to main, and re-checked this. We are definitely not getting coverage for kotlin still - it did not magically fix itself ;-). Not the *highest* priority issue here but this is a nice development aide if it can get fixed up.

[2022-04-18 19:19] mikehardy commented on #10641
Oh I hadn't contemplated progress reporting. This is a pretty complicated feature! I like the idea of an 'N of Y' (or N/Y) display, and keeping it separate from the % lines that are per-file since it won't be easy to aggregate across all files for full percentages

In other words, either something like you just mocked up here, or if it's hard to change the dialog title but easy to change contents,

[2022-04-18 19:23] BrayanDSO opened #10942 "[Bug] Crash: Help dialog - Don't keep activities"
###### Reproduction Steps

1. Have Don't keep activities enabled
2. Open help dialog (on the navigation drawer)
3. Minimize the app
4. Open it again

###### Expected Result

No crashes

###### Actual Result

Crash

###### Debug info
[code]

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am report

[2022-04-18 19:24] BrayanDSO commented on #10942
https://user-images.githubusercontent.com/69634269/163864071-96e23d16-c96a-496d-80be-2819fd9c8ca3.mp4

[2022-04-18 19:26] BrayanDSO opened #10944 "[Bug] Crash: Support AnkiDroid dialog - Don't keep activities"
###### Reproduction Steps

1. Have Don't keep activities enabled
2. Open Support AnkiDroid dialog (on the navigation drawer)
3. Minimize the app
4. Open it again

###### Expected Result

No crashes

###### Actual Result

Crash

###### Debug info
[code]

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html)

[2022-04-18 19:33] eu2021 commented on #8368
Btw, this seems to be a workaround that achieves the "pause" behavior: if you activate another app in the middle of the counting, the automatic display answer will be paused when you go back to anki. So, you can use an app like Macrodroid to create a floating button that performs a quick dummy switch back and forth to another app.

[2022-04-18 21:35] david-allison commented on #10944
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/reports-browser/user/037bbc86-38a4-4ad7-9c42-05870e9b6086

[code]

[2022-04-19 04:13] david-allison commented on #10489
`AnalyticsTest.kt`

[2022-04-19 05:53] nzarbayezid opened #10961 "Remove the "Easy" and "Hard" buttons"
as you may already know there are a lot of people using Anki for learning languages using the sentences mining with Anki.
most of us the method we are using a method that we don't use HARD and EASY at all, in fact using it will break the method we are using, on desktop we have an [addon ](https://ankiweb.net/shared/info/876946123 )that let us hide the HARD and EASY button,
you may look into it on

[2022-04-19 10:04] krmanik commented on #10961
Hi, using JS API. It is possible to remove `Easy` and `Hard` buttons.
https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API

Also JS Addons are in development so the addons to hide buttons will be available also.

[2022-04-19 11:58] mikehardy commented on #10961
You can use the JS addons if you like, but with apologies @nzarbayezid we support stock Anki features and will not deviate from that. This would specifically break anki functionality and thus will not be implemented

[2022-04-19 11:58] #10961 closed

[2022-04-19 12:39] nzarbayezid commented on #10961
thanks, I found a way to implement that in the current version, I just turn off the screen button and use the gesture to choose only the buttons no1 and no3

[2022-04-19 13:28] UvrajSB commented on #10489
I will work on JSONObjectTest once this PR is merged
https://github.com/ankidroid/Anki-Android/pull/10933#issue-1207130014

[2022-04-19 14:33] Prince-kushwaha commented on #10942
@david-allison can i work on this issue

[2022-04-19 21:24] #10944 closed

[2022-04-19 21:26] david-allison commented on #10942
Sure

[2022-04-19 21:54] BrayanDSO opened #10970 "[Feature request] Don't clear previous activities when a shortcut is launched"
**Is your feature request related to a problem? Please describe.**
I do many flashcards daily and sometimes a lightbulb lights over my head and I have an idea for creating a new note or I want to check a note on the browser. So I tap one of the app shortcuts, which is really easy on Samsung Edge Panel, and I open the `Add note` or `Card browser` activity. My issue is, all shortcuts of the app have

[2022-04-19 21:54] BrayanDSO commented on #10970
I want to implement it if it is accepted.

[2022-04-19 23:48] BrayanDSO opened #10976 "[Feature request] `Add note` gesture"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to add notes while I'm on the reviewer. There is a `Add note` app bar button, but there isn't an equivalent gesture

**Describe the solution you'd like**
Add a `Add note` gesture

**Describe alternatives you've considered**
None

[2022-04-19 23:48] BrayanDSO commented on #10976
And I'd like to do it if it is accepted

[2022-04-20 00:03] BrayanDSO commented on #10970
Here's a demo. After tapping the `Card browser` shortcut, if I backpress, it closes the app instead of going to the previous screen/activity

https://user-images.githubusercontent.com/69634269/164120528-17597f7b-34a2-49f0-9a00-09214afbd855.mp4

[2022-04-20 01:04] #10976 closed

[2022-04-20 01:08] david-allison commented on #10976
🚀 🚀

[2022-04-20 13:08] mikehardy commented on #10838
This is working again now - apparently it took them a week to catch up on their elastic search index for actions! They just finished re-indexing and cancel workflow is working again as the GitHub REST API is once again returning correct results for filtered searches on workflow runs

[2022-04-20 15:44] BrayanDSO commented on #8368
I'm working on it

[2022-04-21 02:56] krmanik commented on #10549
I think I have found the solution. The `--yes` in command causing the problem. But the `--yes` is documented on https://docs.npmjs.com/cli/v8/commands/npx#description

**PowerShell.**
Command with `--yes`
![image](https://user-images.githubusercontent.com/12841290/164362207-25f9821e-bd0a-4bdf-8f39-387fd778702e.png)

Command without `--yes`
![image](https://user-images.githubusercontent.com/1284129

[2022-04-21 03:35] raymondwzeng commented on #10970
In the current implementation of the shortcuts, only 1 activity is launched, right? Unless that flag also prohibits navigation back to its parent activity (defined in XML).

[2022-04-21 05:46] #10324 closed

[2022-04-21 10:38] snowtimeglass opened #11004 "[Suggestion] Change the color of the anchor texts on "About AnkiDroid" screen from red to blue"
The color of the following icon looks nice.
![image](https://user-images.githubusercontent.com/10436072/164433106-69febdd9-3873-473c-9b43-f50f290e39c9.png)

The challenge to change the color of toggle switches to blue (#10909) seems to be wonderful, too (@UvrajSB thanks!).
![image](https://user-images.githubusercontent.com/10436072/164438412-85df8cad-17d2-40b0-9248-2d34835143cf.png)

I think that

[2022-04-21 12:40] david-allison commented on #10557
Fixed in  #10566

[2022-04-21 12:40] #10557 closed

[2022-04-21 12:41] mikehardy opened #11006 "Refactor LeakCanary configuration to Kotlin class outside AnkiDroidApp"
Is it worth splitting this out into a class, partially for abstraction, partially for Kotlin usage

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/10988#issuecomment-1104440076_

---

this will allow the 'copy' stuff to go away so that we may add only our reference matchers with no problem

[2022-04-21 14:43] BrayanDSO commented on #10970
It clears all the tasks, this includes parent activities, so the launched activity is the only activity that remains (docs: [FLAG_ACTIVITY_CLEAR_TASK](https://developer.android.com/reference/android/content/Intent#FLAG_ACTIVITY_CLEAR_TASK))

[2022-04-21 21:17] BrayanDSO opened #11017 "[Bug] Menu icons turn White after showing a new question with `Automatic display answer`"
###### Reproduction Steps

1. Have `Automatic display answer` enabled
2. Start reviewing cards
3. Tap the menu items button

https://user-images.githubusercontent.com/69634269/164553626-e4d5f97c-5fea-489d-a588-45757127f930.mp4

###### Expected Result

The icons should keep their color

###### Actual Result

The icons turns white after a **new question** is shown (better seen on night themes)

####

[2022-04-21 21:18] BrayanDSO commented on #11017
One more to the app bar bugs thread (https://github.com/ankidroid/Anki-Android/issues/10697#issuecomment-1099270450)

[2022-04-22 04:52] #10238 closed

[2022-04-22 06:58] TimucinPusat commented on #3628
I have the same problem in my back template but I don't know where to put this code which hssm mentioned  <div dir=rtl>{{Front}}</div>

Is there anyone who can help me please? I can share needed info.

[2022-04-22 08:20] BrayanDSO commented on #11004
Same applies to changelog

[2022-04-22 08:39] lukstbit commented on #7595
Note that the Glosbe API is no longer available, as stated [in their documentation](https://v2.glosbe.com/help/api).

At the moment we have one other translation service `ColorDict`(this isn't available on Chromebooks so there we have no translation service working). We should decide what to do with this feature:

1. Find another service to replace Glosbe. I don't think there's a good(free, availa

[2022-04-22 09:10] BrayanDSO opened #11019 "[Bug] Floating action button goes up after tapping "Create deck""
###### Reproduction Steps

1. Tap the floating action button
2. Tap create deck

<details><summary>Demo video</summary>

https://user-images.githubusercontent.com/69634269/164675025-0362e7cb-e18a-4261-a0e9-9f4de2e2f63a.mp4

</details>

###### Expected Result

The FAB stays on its place

###### Actual Result

The FAB goes up

###### Debug info
[code]

###### Research
*Enter an [x] character to conf

[2022-04-22 12:35] mikehardy commented on #7595
This feature is one of our most lightly used features, and is an interesting workflow (that is: I can see how it is useful) but is not really supportable. I think we should drop the feature and encourage people to alter their workflow to have a translation app (or website) of their choosing installed if they need it.

This is actually the value of analytics - I'm really glad I integrated it so lon

[2022-04-22 12:36] mikehardy commented on #11019
What, you don't like our custom FAB bounce animation?

[2022-04-22 12:41] acmd7 opened #11024 "[Bug] New cards don't go to its set location"
Whenever I add a new card to a selected deck, it saves to a different deck. I already updated my ankidoid version. I still can't figure out what's wrong with my Anki. It used to work smoothly. Please help me..

https://user-images.githubusercontent.com/104205377/164715478-6b61b2f0-fd45-4bf8-95d5-d391ee696780.mp4

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) i

[2022-04-22 12:51] mikehardy commented on #11024
Thanks for posting this! Sorry it is still happening. The screen recording definitely shows it!

I see this:

Can I ask you to try with a parallel install of our newest alpha? Choose the `.A` version and it will install side-by-side with your current stable version, we can see if this is already fixed in current code

https://github.com/ankidroid/Anki-Android/releases

[2022-04-22 13:07] acmd7 commented on #11024
I can't find the alpha version

On Fri, Apr 22, 2022, 20:52 Mike Hardy, ***@***.***> wrote:

[2022-04-22 13:12] mikehardy commented on #11024
Strange, it's at the top of that page? Anyway, here's the direct link https://github.com/ankidroid/Anki-Android/releases/download/v2.16alpha61/AnkiDroid-2.16alpha61.parallel.A.apk

[2022-04-22 13:29] BrayanDSO commented on #11019
See the position of the FAB on the screenshot attached, it shouldn't go that high

[2022-04-22 14:38] mikehardy commented on #11019
Hahaha I was totally joking - it does look ridiculous, good find

[2022-04-22 14:38] mikehardy commented on #11024
Dang!! Well, I was hoping it was fixed, I can imagine this is really frustrating. I'll flag it up for triage

[2022-04-22 15:02] acmd7 commented on #11024
It also happens with my Anki on windows. There must be something wrong with my settings? Idk. I can't remember changing anything there. Is there a reset for the settings?

[2022-04-22 15:07] mikehardy commented on #11024
Hmm - I don't think so, but that's a great clue - that it is happening in windows too. You might check with them at https://forums.ankiweb.net - it may be that someone else has experienced this and has a solution.

It may be that running database check from deck list could help, but that's kind of a "reboot" sort of vague solution.

I've never personally encountered this so I'm not sure exactly wh

[2022-04-22 15:08] krmanik commented on #11024
Can you check the Deck Id for both and paste it here?
It may be related to id but not sure.

[2022-04-22 15:31] #11006 closed

[2022-04-22 15:55] krmanik commented on #11024
It is not related. I have tested it. You can wait for other developer comments.

[2022-04-22 15:57] BrayanDSO commented on #11019
lol, I just thought:

![my reaction](https://media.giphy.com/media/S4AVBFpmuV16pbpwb9/giphy.gif)

"Maybe he haven't seen the screenshot?". That's part of the whole async, online, text communication. You got me this time

[2022-04-22 17:04] krmanik opened #11026 "[Bug] Multiple blank deck created on tapping `::Test` deck name"
###### Reproduction Steps

1. Create deck with `::Test` deck name
2. Click on blank space row

https://user-images.githubusercontent.com/12841290/164760901-60f14e17-020a-4a15-964b-6b95e6757382.mp4

###### Expected Result
It should prompt for empty parent deck name error or should follow AnkiDesktop. It should add `blank` deck name then `Test` subdeck name.

###### Actual Result
1. Creates empty na

[2022-04-22 17:20] krmanik commented on #11026
May be this is the issues.
https://github.com/ankidroid/Anki-Android/blob/06e5b4210f6e3f53dd4252ab3faa6733f69ec968/AnkiDroid/src/main/java/com/ichi2/libanki/Decks.java#L1223-L1225

[2022-04-22 23:02] david-allison commented on #10549
@Prince-kushwaha @oyeraghib Does the above solve the issue for you?

[2022-04-22 23:04] david-allison commented on #11024
@acmd7 What's the value of:

`Settings - General - Deck for new cards`

Do you have a deck override set for the card:

* `Add Note - Tap "cards" - click the "..." menu - Deck override`

[2022-04-22 23:19] oyeraghib commented on #10549
Yes it worked 👍, thanks to @krmanik

[2022-04-22 23:21] #10549 closed, assigned to nobody

[2022-04-22 23:48] mikehardy commented on #10549
That should do it and explains why some reproduced some did not. The npm install check command line argument is semi-recent, just a few months

[2022-04-23 00:43] acmd7 commented on #11024
Q1- The Deck for new cards were set to "Decide by note type" because I can't change it to "Use currenr deck" for some reason it just goes back to the same setting.

Q2 - My Deck Override was ON! I turned it OFF and my problem was solved. 😭

FINALLY GOT THE SOLUTION!!
Thank you, @mikehardy and @david-allison for helping. 🙏🏻

[2022-04-23 03:35] Sustech-yx commented on #11026
Yes... It seems that such bug appear when a parent with `""` as its name, and when click the deck bar, the deck named `"blank"` will be created. Could you assign this issue to me? @mikehardy

[2022-04-23 05:22] L-keeey commented on #10431
In current version, when creating first card in a deck, the checking mechanism mentioned by @WPum would fail the generation if templates are wrong （like "frot" but not "front"). But when the card has been created, We could do the steps like @sjl872964789  did and the card type description could be saved with wrong template like "frot". And enter the deck would reproduce the bug. It seems like for

[2022-04-23 05:30] Sustech-yx commented on #11026
![report](https://user-images.githubusercontent.com/59305237/164879111-d6876084-dbee-4f30-8c78-1af90d3bfbb8.gif)
@mikehardy I fix this through adding a check when enseure the parents of deck. However, it seems that when try to adding another deck named `"::anotherTest"`, the new deck will be added into the folder named `"blank"` insteadof `"blank+"`. Is such approach ok? Thank you.

[2022-04-23 06:06] yoshi314 opened #11042 "[Feature] Lazy media sync"
The initial media sync or sync when introducing a deck with a huge amount of media files is very annoying on mobile - especially if you  have a device with a bit slower storage/network connection.

A feature that would be nice to have would be "lazy media sync". That means, syncing media only for immediately due cards, up to user-defined limit. Or for cards that are due within the next N days. E.g

[2022-04-23 06:08] yoshi314 commented on #3114
Even having a completion helper would be welcome change.

Entering a path to a fat filesystem card is easy - imagine having an ext4 formatted card and typing it its UUID .

[2022-04-23 06:34] UvrajSB commented on #10909
I feel for other themes the colorAccent is well and good,

[2022-04-23 09:05] Sustech-yx commented on #11026
The pull request is added #11045

[2022-04-23 09:37] Sustech-yx commented on #10489
I'm working on CardBrowser.kt

[2022-04-23 10:29] BrayanDSO opened #11046 "[Bug] Reviewer isn't updated on changed settings while it is open"
###### Reproduction Steps

1. Open the reviewer
2. From the navigation drawer, open ***the card browser or statistics*** (important)
3. From the navigation drawer, open settings
4. Change a setting which modifies the reviewer (e.g. fullscreen)
5. Go back to the reviewer

https://user-images.githubusercontent.com/69634269/164890747-7ccf9b39-2a73-4352-8bcd-f0ea17cd9fc1.mp4

###### Expected Result

T

[2022-04-23 10:33] BrayanDSO commented on #11046
As I put on the PR text, it must open any activity on the navigation drawer before the settings. If the user opens directly the settings page, it reloads correctly.

This is due to the flow of activities results to the Navigation Drawer. If any other activity launches `Settings`, the reviewer won't get the request to restart

https://github.com/ankidroid/Anki-Android/blob/503b8dc007b1326cff95823ee

[2022-04-23 12:22] L-keeey commented on #10431
Hi @david-allison , I have worked out by adding a regex check on modified fields and it seems work fine. But when running bundled test cases, they all failed due to "Can't find dependent libraries", which i literally don't know how to solve. Can i just commit my version? Or maybe you know how to fix this "library" problems? I'd appreciate your reply, thanks.

[2022-04-23 12:55] WiliTest commented on #9727
Is it still in progress? This function is really essential, please don't close it.

[2022-04-23 16:35] HuWeiyy commented on #10416
We allow compathhelper to use `Build.VERSION.SDK_INT`, while using `Build.VERSION.SDK_INT` in other places will throw lint error. Now we have two problems:
1.We can't pass the test: `Code Quality Checks / Lint Debug (pull_request) `.But we only add a new lint and a lint Test. May be it is because the change of `lint.rules` affect the normal code, but we have checked the new link rule that we uploa

[2022-04-23 17:38] #10346 closed

[2022-04-23 18:36] #11024 closed

[2022-04-23 18:44] mikehardy commented on #11042
I believe when we ratched forward to a new underlying rust lib, we will move synchronization from Java to Rust, and that will allow us to do background media sync - if I understand correctly this is already in the long-term roadmap, but we need to get through scoped storage migration (#5304) first as it's a hard blocker, while contending with Google Summer of Code new contributor influx.

That wil

[2022-04-23 18:44] #11042 closed

[2022-04-23 19:07] david-allison commented on #11042
Also to note: #5304 will significantly speed up sync times

[2022-04-23 19:37] david-allison commented on #9985
We now match the phone theme, I believe this is completed.

[2022-04-23 19:37] #9985 closed

[2022-04-23 23:11] oyeraghib opened #11053 "Automatic open keyboard for DeckOptions items"
**Is your feature request related to a problem? Please describe.**
Keyboard doesn't automatically opens up when you open any listed options in DeckOptions. You have to tap on the empty edit text to bring the keyboard up.

https://user-images.githubusercontent.com/40427461/164933747-493ad4ac-c3ee-4f2b-bd06-42a9da8b9316.mp4

**Describe the solution you'd like**
Not sure but extending DeckOptions to

[2022-04-24 06:20] dorrin-sot commented on #11053
can i work on this?

[2022-04-24 06:26] oyeraghib opened #11060 "[Bug] Option icons color changes on screen rotation"
###### Reproduction Steps

1. Choose any deck
2. Click on the options menu on top right
3. rotate your phone to landscape/portrait mode

https://user-images.githubusercontent.com/40427461/164959703-76e8e2e3-0bc0-4a90-8791-4ba246c4fd75.mp4

###### Expected Result
Color of the icons should not change

###### Actual Result
icons color changes

###### Debug info
AnkiDroid Version = 2.16alpha52

Androi

[2022-04-24 07:36] dorrin-sot commented on #11060
Hi I would like to work on this though I can't find how to activate icons in action menus :(

[2022-04-24 13:52] L-keeey commented on #10431
@david-allison Hi! Since I have already submitted a pull request for this issue, would you please assign this issue to me? Auto tests have passed but not merged yet.

[2022-04-24 14:27] #11026 closed

[2022-04-24 15:11] krmanik commented on #9727
It is in development.

[2022-04-24 16:19] HuWeiyy commented on #11019
I think this bug is interesting.May I assign this?

[2022-04-24 16:21] david-allison opened #11072 "Lint: Positional String Arguments for Plurals"
Our `NonPositionalFormatSubstitutions` lint handles strings, but not plurals

See: #10347

https://github.com/ankidroid/Anki-Android/blob/main/lint-rules/src/main/java/com/ichi2/anki/lint/rules/NonPositionalFormatSubstitutions.kt

Caused by:
----

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/10851#discussion_r857149010_

[2022-04-24 16:42] SimonHeimberg opened #11073 "[Bug] <style> tags in fields are ignored, which anki desktop and web do not"
###### Reproduction Steps

1. create a new card
2. add this to a field shown on the front side (back side would also be fine):

[code]
3. preview the card

###### Expected Result

the text "red" has red background, as it has on anki desktop and anki web.

###### Actual Result

the text "red" has no special background

(Use case: Trying to set the background color independent of the night mode. The

[2022-04-24 17:06] david-allison commented on #11053
Sure!

[2022-04-24 17:08] david-allison commented on #11073
Edit the card template and add `.night_mode {}`.

The HTML should work. Have you checked the [HTML inspector](https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection)?

[2022-04-24 17:57] HuWeiyy commented on #11019
![4TOVDIT1B4H3G2O_PGGMMP1](https://user-images.githubusercontent.com/92869272/164989875-4a951995-b524-4092-8b83-1fac50fe21d9.png)
![2U~((RMGWW )0FEM7MOMFZY](https://user-images.githubusercontent.com/92869272/164989877-49f0b9c6-6b21-446f-99f0-1c5ffcb3d75d.png)

[2022-04-24 18:15] #10601 closed

[2022-04-24 18:15] #10672 closed

[2022-04-24 18:21] david-allison commented on #10672
If I were to come back to this, the easiest way is to add it to the action name

[2022-04-24 18:32] RaidenCHEN commented on #9978
@david-allison @mikehardy  Hi! Right now, i have added the trans of syncstatus when choosing to modify "today's new card limit" or "today's review card limit". But the problem is, other options in Custom Study would trigger a page transform, which will cause a redraw of main menu calling the `onCreateOptionsMenu(menu: Menu)` function. The redrawing process performs like refresh, and thus the chang

[2022-04-24 18:37] david-allison commented on #9978
`supportInvalidateOptionsMenu`?

It's recently got a deprecation, feel free to `@Suppress("deprecation")` to get it to compile

[2022-04-24 19:12] SimonHeimberg commented on #11073
By looking at "card.html" I have seen that all the newlines inside the style attribute are replaced by a `<br>` tag. A style tag with `<br>` inside is invalid of course. It works when I delete all newlines in `<style>`.
Is this an effect of the setting to replace newlines? I understood it only the other way around. :-/

Thank you for the hint with `.night_mode`. I will try it.

So thank you very m

[2022-04-24 19:44] david-allison commented on #11073
@SimonHeimberg

To confirm: is there anything actionable here that I can help with?

We have plans to both swap out the editors for a visual editor, and before then, move the 'newline' setting inside the Note Editor.

[2022-04-24 19:46] MagTun commented on #9727
Amazing! Thanks a lot for your work!

[2022-04-24 19:55] david-allison opened #11078 "[Enhancement] Detect '0 tests' when running emulator tests"
We were testing the API21 emulator, and it didn't run any tests, but the action passed.

We should modify the github action to check the number of tests run for emulator tests and ensure that it's greater than zero.

If it's not, fail the action

[2022-04-24 20:06] mikehardy commented on #11078
Suggested implementation is after the emulator test run, inspect the actual test results report to make sure tests executed were > 0

probably determine filename --> `cat` file --> `grep` for the results line pattern --> `cut` out the number of tests executed, test for > 0 or similar

[2022-04-24 20:30] mikehardy opened #11079 "refactor CI emulator test to do high/low API + regen AVD snapshot on schedule+dispatch"
Unfortunately I'm not really satisfied with what I think as "reasonable" for frequent execution from a performance perspective.

dynamically build the matrix strategy, and set it to run on a daily+workflow_dispatch to do a matrix that's actually a low/high bracket, but is not as sensitive to emulator performance - should probably clear the snapshots on the scheduled run as well otherwise the qcow2

[2022-04-24 20:31] mikehardy opened #11080 "Switch CI unit tests to use new style gradle caching similar to emulator test"
Also I'll peel an issue to switch our unit test gradle cache strategy to the one used here (read--only on branch, read/write on main) as I think that will reduce cache eviction and speed aggregate time for all builds

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/11032#issuecomment-1107875522_

[2022-04-24 20:46] BrayanDSO commented on #7595
I only knew this feature existed because I found it on the source code while trying to remove the `Lookup dictionary`.

I don't know exactly how it worked, but I think people can just use some app like Google translate which allows to select the word and translate on the context menu without leaving the app

[2022-04-24 22:24] mikehardy commented on #7595
Yep - it's been around forever, it's not really used, and translation in general in apps is so much better now then it was

[2022-04-24 22:37] #10022 closed

[2022-04-24 23:32] Arthur-Milchior commented on #10416
Thank you very much for attacking this issue @HuWeiyy . I beg your pardon, I now realize how unclear I was.

As the issue name indicate, the link should only apply to usage of SDK_INT in tests. It should NOT apply to any file in the main folder. The issue is that SDK_INT value is 0 when we run test, which mean that we are not actually testing what we were hoping to test if we use this constant.
Ho

[2022-04-25 00:10] david-allison opened #11083 "lint-rules: Enable warnings as errors"
We didn't pick up on a70c0f6a381b31ad205388d4b5e3d6e1f3198f15

Which is a compile error in the `AnkiDroid` module

[2022-04-25 00:42] david-allison opened #11084 "Double tap FAB to add note"
From a suggestion on Discord

[2022-04-25 11:23] dorrin-sot commented on #11053
@david-allison Thanks. BTW if a preference is non-empty beforehand, after it has been focused, which of these behaviors is preferred?

- put cursor at the end of text
- select the whole text

[2022-04-25 11:45] david-allison commented on #11053
Do a little research online, but I'd prefer end of text - it's hard to undo on an Android and it's a destructive action. I do think it's context dependent (might actually warrant analytics in the future), but let's be safe for now

[2022-04-25 12:46] mikehardy commented on #11083
I'm working on this, I've got some gradle multi-module config tricks from some other repos I can drop in quickly

[2022-04-25 13:22] david-allison opened #11089 "[Bug] Add Tag Dialog - tapping a 'suggestion' on the keyboard removes the EditText value"
###### Reproduction Steps

1. Type 'helo'
2. Tap Gboard's 'hello' suggestion

###### Expected Result

'hello' is in the EditText

###### Actual Result

'' is in the EditText

###### Debug info
AnkiDroid 2.14.0 and latest alpha

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or

[2022-04-25 14:17] david-allison commented on #11089
https://user-images.githubusercontent.com/62114487/165107767-a3c0f517-354e-45c4-9371-9fde6c7ca00f.mp4

[2022-04-25 14:23] david-allison commented on #11089
Issue is in:

https://github.com/ankidroid/Anki-Android/blob/9b3d462246b699bf91f4fdf5b5baf0786106c28b/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/tags/TagsDialog.kt#L179-L188

Debugging: the string is `help `, as it contains a ` `, it gets ignored.

Now I know the cause, I think we should leave this and some unit tests. A comment I added on https://github.com/ankidroid/Anki-Android/pull/10966 s

[2022-04-25 15:21] dorrin-sot commented on #11089
Oh Do I just add the tests or do I fix it too?😅

[2022-04-25 16:04] mikehardy opened #11091 "CI test flakiness collection"
###### Reproduction Steps

1. make any PR request or manually trigger testing run
2. watch logs
3.

###### Expected Result

Tests should succeed every single time unless there is a legitimate test failure

###### Actual Result

They flake sometimes.

The situation has been improved recently with #11032 but this issue will collect experiences after that merge to tack it down completely

[2022-04-25 16:04] mikehardy commented on #11091
Here is one I just saw:

https://github.com/ankidroid/Anki-Android/runs/6157540326?check_suite_focus=true#step:9:275

[code]

Completed successfully after re-run

[2022-04-25 18:48] BrayanDSO opened #11094 "Make animation transitions use the same direction of used swipe gesture"
**Is your feature request related to a problem? Please describe.**
Myself on a [discord comment](https://discord.com/channels/368267295601983490/882228005504696350/968108930460962917):
On the gestures system, a idea I had is to align the activity animations with the swipes direction.
e.g. if the user swipes right, the gesture activity (currently, one of Add note, Edit note, Card info) comes from t

[2022-04-25 20:29] mikehardy commented on #10228
I'm gonna nail this bug.

[2022-04-25 22:59] codingtosh opened #11100 "[nits] ./tools/migrate.sh"
## Context: #10779

## About:
migrate.sh automates the repetitive steps of our custom [Kotlin migration process](https://github.com/ankidroid/Anki-Android/blob/main/docs/kotlin-migration.md), making 2 commits, one for the actual conversion and the other one for the rename(required to maintain the VCS history of the file).

## Nit 1:
The commit message of the conversion commit is as follows:
[code]

[2022-04-25 23:14] david-allison commented on #11100
I'd prefer

`refactor: Rename CardInfoModelTest to Kotlin`

as it's no longer a java file.

Only bikeshedding I'll do on this, happy to see a change.

[2022-04-25 23:15] david-allison opened #11101 "Switch dependency management to single file of versions and Renovate"
I've been thinking of switching to renovate at same time, how about this as a separate issue - peel if you agree, I made the first sentence a good title

Renovate because it handles more ecosystems (Backend uses so many...) and it's open source and we're not super wedded to dependabot so it won't be hard to untangle. I've seen renovate in action on ACRA and it works well, plus you can disable it o

[2022-04-25 23:32] mikehardy commented on #11101
https://www.whitesourcesoftware.com/free-developer-tools/renovate/

Example (and where I've watched it work):

- All PRs in ACRA https://github.com/ACRA/acra/pulls?q=is%3Apr+renovate+
- Moment it was integrated https://github.com/ACRA/acra/pull/973
- config https://github.com/ACRA/acra/pull/974 / https://github.com/ACRA/acra/blob/master/renovate.json

[2022-04-25 23:43] david-allison commented on #11101
From trust: I'm sold.

For documentation: what are the pain points that this should fix compared with dependabot?

[2022-04-25 23:47] david-allison commented on #11100
@Arthur-Milchior

[2022-04-25 23:50] mikehardy commented on #11101
With dependabot, if you fork a repo, the fork runs dependabot with no way to turn it off, so your fork repo gets dependency update PRs, which is very irritating. Renovate may be disabled for forks and comes up frequently on the related "dependabot should allow disable for forks" feature request in dependabot fora

This is actually a big deal for me, I hate having skew between my fork and upstream

[2022-04-25 23:58] codingtosh opened #11102 "[Bug] tools/migrate.sh"
## Context: #10779

## About:
migrate.sh automates the repetitive steps of our custom [Kotlin migration process](https://github.com/ankidroid/Anki-Android/blob/main/docs/kotlin-migration.md).
This works great and eases the process a lot for the most part, but:

### Steps:
1. Convert the file to Kotlin
2. Fix Nullity and warnings
3. Build successfully
4. Run the script `./tools/migrate.sh`

### Exp

[2022-04-26 00:02] david-allison commented on #11102
@Arthur-Milchior

[2022-04-26 01:53] david-allison commented on #11100
@codingtosh thoughts on https://github.com/ankidroid/Anki-Android/issues/11100#issuecomment-1109128596

[2022-04-26 03:25] #11078 closed

[2022-04-26 03:25] #11080 closed

[2022-04-26 03:25] #11083 closed

[2022-04-26 09:16] BrayanDSO opened #11107 "Use inverse transition on finishing of screens opened by gestures"
After reviewing the video, I noticed the opened activities could use the inverse animation when finishing, which may better fit on a following PR or in this one, reviewers' choice

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/issues/11095#issuecomment-1108936578_

I'll do it later this week

[2022-04-26 12:18] codingtosh commented on #11100
@david-allison Sorry for the late reply, got a little confused. I think it may just be semantics, but imo the file is the original java file before the rename happens. Rename is the first commit, so the original message is appropriate for it and should not  be changed , i.e.,
`refactor: Rename CardInfoModelTest.java to .kt
`
I believe you probably meant it for the second commit?
`refactor: Convert

[2022-04-26 12:43] david-allison commented on #11100
🤦  you're absolutely correct. `refactor: Convert CardInfoModelTest to Kotlin`

[2022-04-26 13:02] mikehardy commented on #11101
The new way to do dependency management, with a single version catalog outside (then referenced by) your build files is "Version Catalogs" in Gradle (a https://docs.gradle.org/current/userguide/platforms.html#sub:conventional-dependencies-toml - `libs.versions.toml` file)

Dependabot does not support and does not have it on their roadmap even https://github.com/dependabot/dependabot-core/issues/31

[2022-04-26 13:42] #11094 closed

[2022-04-26 14:41] #11053 closed

[2022-04-26 19:29] winstoncooke commented on #11019
This looks similar to #10854. I think a similar solution would be in order.

[2022-04-26 20:43] codingtosh commented on #11100
@mikehardy Could you please reopen this? This one has multiple nits I edited in  later on, only one has been discussed and fixed by #11111

@david-allison @Arthur-Milchior Could you please look at the remaining nits as well?

[2022-04-26 20:56] #10892 closed

[2022-04-26 21:00] mikehardy commented on #11100
Sure!

[2022-04-26 21:11] david-allison commented on #11100
if you want to take on 2,3 and 4, I won't oppose.

2 may slightly change workflows, but it's probably not worth working around

[2022-04-26 22:21] dorrin-sot opened #11112 "[Bug] Search Deck Icon only appears after app restart"
###### Reproduction Steps

1. Make Decks until their total count is 10.

###### Expected Result
Search Deck Icon Should appear immediately

###### Actual Result
It needs an app restart to appear

###### Debug info
[code]

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [x] I have checked the [manual](h

[2022-04-26 22:24] dorrin-sot commented on #11112
Also Doesn't disapear if user deletes decks until they have less than 10

[2022-04-26 22:36] dorrin-sot commented on #11112
@david-allison can I take it?

[2022-04-27 00:03] SimonSalo opened #11115 "[Bug]"
After Android sync completed.

#
![Screenshot_20220426-185152_AnkiDroid](https://user-images.githubusercontent.com/104471520/165411934-9f7906b5-a6ba-41e3-9734-24f4120bee19.jpg)

[2022-04-27 00:25] david-allison commented on #11115
Your media sync didn't complete, try to sync again.

We've already improved this for 2.16

[2022-04-27 00:25] #11115 closed

[2022-04-27 05:18] Jatin887 opened #11116 "Add View Binding"
**2026 update: Task List**

* [x] Audit adapter/ViewHolder usage: https://github.com/ankidroid/Anki-Android/pull/19565#discussion_r2553888502
  * [x] #20390
* [x] Remove the merge tag in toolbar.xml
    * it's not needed(we already have a single view as root and we don't append this included layout to a Toolbar view) and it also breaks ViewBinding(Missing required view with ID: `com.ichi2.anki.deb

[2022-04-27 06:11] UvrajSB commented on #10489
I am taking CheckBoxTriStates.kt

[2022-04-27 07:02] UvrajSB commented on #10489
@david-allison Do we really need to use ` ?.let ` here ??

<img src = "https://user-images.githubusercontent.com/73571511/165459497-0ba7c390-04f2-43eb-87fe-fae9091e2e6e.jpeg" width = "350" height = "250"/>

because it can be easily done like this and the let would have been redundant in this case

![WhatsApp Image 2022-04-27 at 12 25 35 PM](https://user-images.githubusercontent.com/73571511/165459

[2022-04-27 07:05] Jatin887 commented on #10489
I am working on TranslationActivity.kt

[2022-04-27 08:00] UvrajSB commented on #11116
Why not go for data binding in case we are migrating to binding from findViewById, we can achieve several other objectives as well (if not currently then in near future for sure)

https://medium.com/geekculture/android-view-binding-v-s-data-binding-5862a27524e9

[2022-04-27 08:21] UvrajSB opened #11119 "[Bug]Category name not displayed on app bar"
###### Reproduction Steps

1.  Go to Preferences
2.  Click on any category
3.  When any category is opened, ideally on the next screen the app bar title should be "the name of category" not the "Preferences" again.

###### Expected Result

<img src = "https://user-images.githubusercontent.com/73571511/165473707-1d65cf41-1843-4d0f-9f84-54414a840cac.jpeg" width = "200" height = "450"/>

###### Actua

[2022-04-27 08:25] UvrajSB commented on #11119
I want to work on this issue, I observed this issue a long time ago and I finally want to address it now.

[2022-04-27 08:29] Jatin887 commented on #11116
Yes, you are right. We can implement both depending on the project's needs. Because databinding isn't necessary in many activities, we can achieve better speed and fatter compilation by utilising viewbinding. However, databinding may undoubtedly be employed in more complex scenarios.

[2022-04-27 11:12] dorrin-sot opened #11120 "[Bug] Last Deck name is "" if `A::` is created"
###### Reproduction Steps

1. Create a deck with name `A::`

###### Expected Result
the name of the last child deck should be `blank`

###### Actual Result
its name is "" (empty string)

###### Debug info
[code]
###### Research

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [x] I have checked the [ma

[2022-04-27 11:16] david-allison commented on #11120
Fixed in #10966 I believe

[2022-04-27 12:15] mikehardy commented on #11119
Sure @UvrajSB - thanks!

[2022-04-27 12:23] puranjayK commented on #11116
We can start with shifting to view binding activity by activity/ fragment by fragment. This would allow multiple contributors to work on it and will split the work.

[2022-04-27 12:31] RogerDTZ commented on #11120
Hey @david-allison , I believe that #10966 does not fix the bug.

The hierarchy resolver for **deck** is different from the one for **tag**.

https://github.com/ankidroid/Anki-Android/blob/b1a0974c91edb64db71dfc49b3dff5be03e4a512/AnkiDroid/src/main/java/com/ichi2/libanki/Decks.java#L684-L721

We should have somebody fix this method.

[2022-04-27 12:34] dorrin-sot commented on #11120
If it is accepted and @RogerDTZ isn't accepting it can I take it? 👀

[2022-04-27 12:39] krmanik commented on #11120
The earlier bug related to `::DeckName` fixed in #11045 but now this bug is in `DeckName::`.
@dorrin-sot Sure!

[2022-04-27 12:43] mikehardy commented on #11116
I agree with all of this - really want to see things *completed* not *started*, if that makes sense. Partially completed transitions are terrible as it means you've now got *2* things to maintain not one, it's worse then doing nothing.

Please if you start this, alter the description above to have a list (with checkboxes) for each of the files that need converting so that there is a real idea of h

[2022-04-27 12:47] Jatin887 commented on #11116
Please assign this issue to me because I initiated it. I am happy to give as much of my time as possible.

[2022-04-27 17:26] #11100 closed

[2022-04-27 18:51] Jatin887 commented on #11116
should i start working on this?

[2022-04-27 19:35] winstonrc opened #11121 "Update FAB UI for more intuitive double tapping"
**Is your feature request related to a problem? Please describe.**
A natural extension of #11085.

**Describe the solution you'd like**
I think the FAB should be updated in the app to act similarly to Google Calendar. With Google Calendar, after tapping the FAB, the FAB itself turns into the primary action to create, which not only allows for a double tap but also informs the user why double tappi

[2022-04-27 22:59] BrayanDSO commented on #11121
Loved this. Simple, intuitive and still fast to trigger.

[2022-04-28 00:42] david-allison commented on #11116
I think we'd like to understand the amount of effort that this will take before we take this on.

Is this something that you can get a reasonable estimate for?

[2022-04-28 07:41] Jatin887 commented on #11116
1st approach
I think we can make this issue same as kotlin-cleanup where anyone can choose onefile and implement viewBinding for that.
2nd approach
I alone can work on this issue and i assure you that i will complete this approximately in a month
We can make a readme for the same which will help new contributers to understand viewBinding in the project.
We can make a lint check also.

[2022-04-28 07:41] Jatin887 commented on #11116
1st approach
I think we can make this issue same as kotlin-cleanup where anyone can choose onefile and implement viewBinding for that.
2nd approach
I alone can work on this issue and i assure you that i will complete this approximately in a month
We can make a readme for the same which will help new contributers to understand viewBinding in the project.
We can make a lint check also.

[2022-04-28 13:38] Jatin887 commented on #10489
I am working on OverviewStatusBuilder.kt

[2022-04-28 14:48] MagTun commented on #9727
Thanks for adding this new feature!

I have just tested the function `AnkiDroidJS.ankiSetCardDue()` and it works great for rescheduling the cards but there is a problem: it changes the interval of the card to the one set in the function.

But when I opened this issue, I was looking for a way to reschedule my cards without changing anything in their settings.

The [anki doc](https://docs.ankiweb.ne

[2022-04-28 15:29] david-allison commented on #10489
`?.` is fine here

[2022-04-28 15:52] krmanik commented on #9727
I think in AnkiDroid the `!` by another option reset. So, it may be needs to included in the editbox. But for settings I don't think there are any changes after card get rescheduled except for last row.

|.|Ank| AnkiDroid|
|:--:|:--:|:--:|
|Rescheduling option|![image](https://user-images.githubusercontent.com/12841290/165789039-a95328e5-8cb8-4cd2-b48e-babb7182a515.png)|![image](https://user-image

[2022-04-28 16:22] RogerDTZ opened #11137 "Add asset for expander of leaf tag in the hierarchical tag picker"
**Is your feature request related to a problem? Please describe.**

#10966 has added support for hierarchical tag (which should be merged soon). In the tag picker dialog, however, the padding for leaf is sometimes confusing in complicated hierarchy --- it may be hard too discern which level a leaf tag belongs to.

It will be better if we let the expander of leaves display something (for example, a

[2022-04-28 16:29] RogerDTZ opened #11138 "Long-click a tag to add a subtag"
**Is your feature request related to a problem? Please describe.**

#10966 has added support for hierarchical tag (which should be merged soon). In the tag picker dialog, user may want to long-click a tag to add a subtag for it.

**Describe the solution you'd like**

Open the add tag dialog with `$current_tag + ::` as the initial input.

[2022-04-28 16:39] MagTun commented on #9727
Thanks for that.
Does this mean that there is no other way to simply delay a card that is currently reviewed, to a couple of days, without changing anything including its interval? I know there is the "bury" option but it only delays by a day. So that would be a "bury but for 5 days". Is there something like that?

[2022-04-28 16:40] RogerDTZ opened #11139 "Enlarge the size of the checkbox in the tag picker dialog"
**Is your feature request related to a problem? Please describe.**

#10966 has added support for hierarchical tag (which should be merged soon). The clickable region that toggles the checkbox is now shrinked to the checkbox itself only (not true for leaf tags), which engenders misclick.

It will be better to make the checkbox bigger to improve the accessbility.

**Describe the solution you'd like*

[2022-04-28 18:07] krmanik commented on #9727
I can confirm that AnkiDroid set the `Ease` to 250% and reset interval on changing due but Anki does not.
This is Anki Ecosystem related issues.

[2022-04-28 18:43] dorrin-sot opened #11140 "[Feature Request] The ability to select and delete multiple decks simultaneously"
**Is your feature request related to a problem? Please describe.**
If a user has alot of decks that they wish to delete, it's pretty tedious to do so one by one.

**Describe the solution you'd like**
Similar to Card Browser with the addition that selecting a deck would select its subdecks too

[2022-04-28 18:43] #11140 closed

[2022-04-28 19:03] mikehardy commented on #9727
Can we be very very specific about which version of desktop and which version of AnkiDroid are in use in the comparison tests?
Then based on those versions we need to see where the inconsistency comes in, if it is something we are actively doing (in our java/kotlin libanki code here), or if it is just that we need to adopt a newer version of the underlying scheduler (rust lib in Anki-Android-Backe

[2022-04-28 19:34] krmanik commented on #9727
In AnkiDroid in this function at line 166
https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/java/com/ichi2/anki/servicelayer/SchedulerService.kt#L162-L171

|.|Anki|AnkiDroid|
|:--:|:--:|:--:|
|Version|⁨2.1.50 (26d40c3a)|2.16alpha62|
|Before reschedule|![image](https://user-images.githubusercontent.com/12841290/165830685-d9461108-acdc-4829-910b-e71d61448cb4.png)|![image](https:

[2022-04-28 21:40] Watakun7 opened #11143 "Cannot synchronize cards anymore"
Hello,
every time I try to synchronize I receive this error: "AnkiWeb encountered an error. Please try again in a few minutes, and if the problem persists, please file a bug report".
I love this application, can you please help me to fix this issue?
This is the log, tia.

AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = OnePlus

Model = ONEPLUS A6013

Hardware = qcom

Webview User

[2022-04-28 21:47] david-allison commented on #11143
Data center issue, please see this link for updates:

https://forums.ankiweb.net/t/error-ankiweb-encountered-a-problem/19528

[2022-04-28 21:47] #11143 closed

[2022-04-29 08:37] Jatin887 commented on #11116
I will be start working on this issue and it will take approx 80-90 hours to complete it.

[2022-04-29 08:38] david-allison commented on #11116
What is involved in the 80-90 hours of work? Where will most of the effort go? What are the risky parts? Have you had experience with this before?

[2022-04-29 09:05] Jatin887 commented on #11116
I'll start by going through each activity and fragment to see where the layout files are utilised, and then I'll move on to the activities that just have one layout file because they're easier to implement and test. Then I'll go on to more difficult activities that require many layout files to complete. Because I have to go through each and every layout file to find the specific use of the id, I b

[2022-04-29 12:31] MagTun commented on #9727
Same here on Anki Desktop 2.1.49 (dc80804a). When using "Set Due Date", the `interval` and ⁩` ease` doesn't change. The only setting that is change is the date for "Latest review":

Before
![image](https://user-images.githubusercontent.com/15843700/165944437-5a5c0c87-38e6-47e2-a975-e248553cd773.png)

After
![image](https://user-images.githubusercontent.com/15843700/165944442-0bd0fda2-680a-4c35-917

[2022-04-29 18:56] #10095 closed

[2022-04-29 19:24] david-allison commented on #9727
See also: https://github.com/ankidroid/Anki-Android/issues/9740

https://github.com/ankitects/anki/releases/tag/2.1.41

[2022-04-29 20:36] mikehardy commented on #11121
I like this as a refinement of #11085  as well, for what it's worth

[2022-04-29 20:36] #11072 closed

[2022-04-29 20:37] david-allison commented on #11121
Likewise

[2022-04-29 21:50] #11084 closed

[2022-04-30 04:43] #9993 closed

[2022-04-30 14:38] thevar2002 commented on #11139
I will work on it

[2022-04-30 17:19] #10939 closed

[2022-05-01 02:14] #11137 closed

[2022-05-01 03:03] RogerDTZ commented on #11138
I would like to work on that.

[2022-05-01 09:53] seekingmeanings opened #11195 "add card filter in custom study sessions"
I'm learning languages most of the time and using different cards in decks for different aspects.
It would be genius to create study sessions with only selected cards appearing in it.

[2022-05-01 12:30] krishamafia opened #11198 "paste and create card with Html formating and advanced editor.. with any html coded like in pc version.. simple formating"
simply paste as html and creating card not working on mobile.
paste the text with same format when copying.. in pc version its working in mobile it doesnt.. when pasting it is pasted as it is in same format bold for bold color etc,, but when card is created or on entered the formating is gone in mobile.

[2022-05-01 14:34] BrayanDSO commented on #11019
I noticed I can't reproduce this anymore in 2.16alpha63. Maybe one of the recent changes on the FAB solved it somehow

[2022-05-01 14:43] mikehardy commented on #11195
Hi there! I'm not sure how we can support this more generally then we already do - using search based filtering on flags or tags you can tag or flag your cards based on their "different aspects", then you can use a search query for that tag or flag to create the custom study session

So I think this is already handled here pretty well - however - and almost more importantly - any change to the way

[2022-05-01 14:43] #11195 closed

[2022-05-01 14:50] mikehardy commented on #11019
Strange - if you are the initial reporter and cannot reproduce please close though, keep things tidy :-)

[2022-05-01 15:03] #11019 closed

[2022-05-01 15:22] suman-somu commented on #10517
@Arthur-Milchior , would you lilke to answer the previous question
i.e. **...is there a chance that the bug is in the database ?**

[2022-05-01 15:56] suman-somu commented on #10517
I'm working in this issue.
Please assign it to me.

[2022-05-01 16:35] BrayanDSO opened #11201 "Update to JUnit 5"
The problem is that `org.junit.jupiter.params.ParameterizedTest` needs JUnit5 and the repo uses JUnit4, so after adding the following AnkiDroid/build.gradle under `android {}` and fixing the old imports to use JUnit5, the test worked (maybe the implementation can be changed, but I don't know gradle enough to confirm it)
[code]
References: https://docs.gradle.org/current/userguide/java_testing.html

[2022-05-02 00:13] #11201 closed

[2022-05-02 00:59] #10413 closed

[2022-05-02 12:04] rushikeshsuryawanshi commented on #11116
Can I work on this ?

[2022-05-02 12:06] rushikeshsuryawanshi commented on #11004
Can I work on this ?

[2022-05-02 13:46] #10024 closed

[2022-05-02 14:34] #10292 closed

[2022-05-02 14:38] krmanik commented on #9727
It is duplicate. It should be closed because solving the #9740 issue will solve also this.

[2022-05-02 14:38] #9727 closed

[2022-05-02 14:52] krmanik commented on #10751
I have tried this for generating `graphs.html`, `graphs.js` and `graphs.css`. I have clone the anki repository and run the bazel build in web directory in [qt/aqt/data/web](https://github.com/ankitects/anki/tree/main/qt/aqt/data/web) and [ts](https://github.com/ankitects/anki/tree/main/ts). I get the generated `.js` and `.html` file in .bazel/bin file.

But how the data related to stats will be se

[2022-05-02 15:22] krmanik opened #11211 "Automate process of updating of jquery and mathjax library in assets folder"
**Is your feature request related to a problem? Please describe.**
The jquery and mathjax library should be updated and similar to Anki.
|.|Anki|AnkiDroid|
|:-:|:-:|:-|
|jquery|3.6.0|3.5.1|
|mathjax|3.2.0|3.1.2|

**Describe the solution you'd like**
The library should match with Anki jquery and mathjax version. Automation should be used to update the files.

**Describe alternatives you've consider

[2022-05-02 16:19] mikehardy commented on #11211
Hmm - good idea. For something like this I like the idea of a shell script if possible, so that it may be run locally as a "local first" development experience"
Then we can wrap the shell script in a github action just to execute it, like I did with release.sh and the translations sync

[2022-05-02 17:25] euu2021 opened #11213 ""History" in the Add Note window"
**Is your feature request related to a problem? Please describe.**
I'm used to creating notes in Anki desktop, and there the Add Note window has a list of recently added notes. It's useful because it's not rare for me to notice that, as I follow in the content being studied, one card that I just added needs to be corrected or complemented.

As I started using Ankidroid to create some notes, I'm mi

[2022-05-02 17:38] BrayanDSO commented on #11213
Can you please add a screenshot here of this feature on Anki Desktop?

[2022-05-02 18:26] eu2021 commented on #11213
It's a button besides the Add button:
![a](https://user-images.githubusercontent.com/77707706/166303775-66ee2063-519f-4629-9202-144d3ed41ec8.png)

When you click it, a list of recent notes added opens up:

![b](https://user-images.githubusercontent.com/77707706/166303850-a9f2bfb8-83db-4446-8cc4-709a8836377a.png)

[2022-05-03 01:30] AbdelrahmanHamdy1998 commented on #8368
It's okay! thanks for your great contribution ^^ alot of people waiting for this ^_^

[2022-05-03 03:52] UvrajSB commented on #11004
No issues from my end, you can go forward

[2022-05-03 04:45] jimmy-j-r opened #11217 "Ankidroid has encountered a problem..."
Ankidroid won't let me add new note(card). Whenever I click 'New Note', it crashes with the message 'Ankidroid has encountered a problem...error report is being generated.'
I've uninstalled and joined the beta version but to no avail.

[2022-05-03 05:28] sheldonc613 opened #11218 "[Bug] Card Brower can't show filter deck 2.16alpha63"
###### Reproduction Steps
First of all, I think this bug may stem from that Card Brower can't show filter deck.
Opening a filter deck and starting to learn, but I wanted to search a word similar in another dech, so opened Card Browser and changed to another deck to search. But when I back to review page, and hit a button to rate current card, it suddenly skiped to an another card deck. I think my

[2022-05-03 05:34] david-allison commented on #11217
Hi, could you send over your "debug information" from "settings - advanced - about ankidroid"

[2022-05-03 05:48] jimmy-j-r commented on #11217
AnkiDroid Version = 2.15.6

Android Version = 8.1.0

Manufacturer = motorola

Model = Moto G (5S) Plus

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 8.1.0; Moto G (5S) Plus Build/OPS28.65-36-14; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/99.0.4844.73 Mobile Safari/537.36

ACRA UUID = e88a960e-09ee-4490-8594-cb6907455f2b

Scheduler = std2

Crash Reports Enabl

[2022-05-03 05:52] david-allison commented on #11217
Thanks! Have you tried one of our alphas on the release page of our GitHub?

[code]

[2022-05-03 05:55] jimmy-j-r commented on #11217
Nope I haven't. Although I did signup for Alpha via google groups.

[2022-05-03 06:05] #11217 closed

[2022-05-03 06:19] jimmy-j-r opened #11219 "Subdeck cards not randomized"
Lets say on my Ankidroid I have the decks in following order -

-Parent Deck
  - Subdeck 1
  - Subdeck 2
  - Subdeck 3

[Process 1] Until now, whenever I used to review cards from Parent Deck all the cards from subdecks would be randomized - like 1 Card from Subdeck 2 then 1 Card from Subdeck 1 and so on.

[Process 2] But now all the cards from Subdeck 1 are reviewed first, then Subdeck 2 and then

[2022-05-03 07:30] sjl872964789 opened #11220 "After learning the filtered deck, the "empty" button is replaced by the "undo" button, and this button does not respond when clicked"
###### Description

"Filtered Deck" originally contains a "rebuild" function and "empty" function, but when you finish a filtered deck the "empty" button disappears and is replaced by an invalid button "undo".

###### Reproduction Steps

1. click "more option"
2. click "create filtered deck"
3. enter a name "test"
4. click "ok"
5. back
6. click "Clear" to clear the words you need to learn
7. Click

[2022-05-03 07:33] krmanik commented on #9762
To reduce cost on AnkiWeb, may be we should consider this
https://developer.android.com/guide/topics/data/backup

#### Backup options

[2022-05-03 12:48] mikehardy commented on #9762
I dislike this because it won't be truly multi-platform, and also it ties us to a second "vendor" (the first and unavoidable one being AnkiWeb, this would be a second: google). One of the things that is neat about AnkiDroid is that right now it's google-agnostic, we don't rely on anything from google with the sole exception of analytics which is completely opt-in, only used for light "feature stee

[2022-05-03 13:39] krmanik commented on #9762
Then we should use Ankiweb to store `prefs.json`. The file size for storing all the prefs in settings will be/may be less than 10kb.
Also this is discussed in this issues #9905 . So, my implementation idea will be like this (also already discussed in https://github.com/ankidroid/Anki-Android/issues/9905#issuecomment-1016474096)
1. An option in Advanced settings to export all the settings prefs to

[2022-05-03 13:46] mikehardy commented on #9762
🤔  that means we will now have a lot of "accounting" to do to make sure that the prefs are in sync etc
Why not just store the prefs directly in collection config and use that as the SharedPreferences implementation (that is, write a sort of 'AnkiCollectionSharedPreferences' sub-class of SharedPreferences that:

1- determines if prefs exist in collection config location to begin with,
a) if they do

[2022-05-03 13:48] krmanik commented on #9762
`AnkiCollectionSharedPreferences` will be much better to reduce the complexity. I will implement considering this.
Thanks

[2022-05-03 20:33] vinaydeepkaur commented on #10489
Currently working on VideoPlayer.kt

[2022-05-04 01:58] #11119 closed

[2022-05-04 16:49] n1snt opened #11235 "[Bug] App crashes on launch on Android 5.0 & 5.1 without SD card."
### Note: Needs to be tested on a physical device

###### Reproduction Steps

1. Create AVD in Android Studio (API Level 21 & 22).
2. In Show Advanced Setting > SD Card > Select No SD card.
3. Run App on AVD.

###### Expected Result

The app launches successfully.

###### Actual Result

App crashes as soon as it launches.
![image](https://user-images.githubusercontent.com/46300244/166729800-eedaf6

[2022-05-04 17:27] mikehardy commented on #11235
If this does not occur on real devices, I'm not sure what we can do here unfortunately. I recommend you add an sdcard to the AVDs until/unless proven that this is a real-world issue

[2022-05-06 03:31] Tinkidinki commented on #11120
Out of curiosity, (1) what does "blank" mean? (2) Why is it a problem if the deck name is "" (empty string) rather than blank?

[2022-05-06 11:39] oyeraghib opened #11248 "Numbering decks and sorting them"
**Is your feature request related to a problem? Please describe.**
1.It's not related to a problem but I have few suggestions. On the home screen where we are shown the list of decks. If a person is having let's say a 100+ decks then it might get difficult to have a count of total decks. So the idea is to give numbering to the decks.

2.As by default we have decks arranged in alphabetical order bu

[2022-05-06 13:44] mikehardy commented on #11248
Anything done with the deck list should be done in coordination with Anki Desktop for ecosystem compatibility - so they should be the reference value here and I don't see mention about what the desktop deck list does in this case?

[2022-05-06 16:58] BrayanDSO commented on #10034
Maybe next time, dear bot

Em sex., 6 de mai. de 2022 13:46, github-actions[bot] <
***@***.***> escreveu:

[2022-05-06 19:03] eu2021 commented on #11248
You can use this addon to count decks: https://ankiweb.net/shared/info/1358364553

[2022-05-06 21:02] #10868 closed

[2022-05-06 21:03] #10917 closed

[2022-05-06 21:18] #10737 closed

[2022-05-06 21:51] #11138 closed

[2022-05-07 03:49] suman-somu commented on #10489
I am working on IField.kt

[2022-05-07 13:04] Tinkidinki commented on #9432
I have a couple of questions on this PR. Context: I'm trying to understand how we have decided what Java files to include for jacoco, in order to do the same for Kotlin

In the jacoco.gradle file, lines 100-102, we have:
    def fileFilter = ['**/R.class', '**/R$*.class', '**/BuildConfig.*', '**/Manifest*.*', '**/*Test*.*', 'android/**/*.*']
    def debugTree = fileTree(dir: "$project.buildDir/int

[2022-05-07 13:22] Tinkidinki opened #11267 "When "Settings" is opened in the menu on the left, the page is titled "Preferences""
It would be nice if both were consistent. Could be a good first issue!

[2022-05-07 15:12] MagTun commented on #9727
The problem is not so much that the ease is reset to 250% (which is the problem mentioned in #9740) but that the interval is set to the one used for the rescheduling (if my cards' interval are 3 months, and I set a reschedule for these cards in 4 days, expecting the intervals to still be 3 months, I will find myself reviewing a lot of cards just to get back to the interval where they are currently

[2022-05-07 17:09] boydkelly opened #11268 "[Bug] not able to persist javascript variables to card back"
Sorry if this is not really a bug but maybe work around is possible.

I need to persist several variables for random fields to the card back.  For example:

[code]
set on the card front are available on the card back with anki desktop (linux).

`window.sourcex = "source1" ` is also available on the card back.

But these do not seem to be accessible in Ankidroid.  Is there some other way?

I have t

[2022-05-07 19:31] david-allison commented on #9432
Drop back to the history and this was added in 7acc79e14e601481b2082599d118a6888e3085f1 : https://github.com/ankidroid/Anki-Android/pull/4919

@mikehardy may have more context

**1)**
`R.class` was the class providing resource values. I don't believe that this exists any more as Android no longer provides 'constant' IDs here.

Are you sure this is a Regex, and not a file system globbing. I'd expec

[2022-05-07 19:40] mikehardy commented on #9432
I did set it up and I remember setting it up but I don't remember spending a lot of time on those file excludes, I was following a recipe and it was just part of the recipe. I would do whatever seems reasonable, where reasonable is "we want coverage of all the code we write, and we want to ignore code we did not write including auto-generated classes", that's the general rule

[2022-05-07 19:41] mikehardy commented on #9727
New issue I think - can't hurt

[2022-05-07 19:44] mikehardy commented on #11268
@boydkelly "You might like..." --> https://github.com/pigoz/anki-canvas/blob/master/src/storage.ts

[2022-05-08 00:21] boydkelly commented on #11268
@mikehardy Yes I will probably like this...  I should be able to set and get a item ;)  But I'm not sure what to do with the ts script.   I did try to put it as a script element at the top of the card with an immediate 'Storage interface' error.  But there must be something else....   Does that ank-canvas package go into the collection,media directory?   Or addins21?  It doesn't really say how or

[2022-05-08 01:09] mikehardy commented on #11268
Sorry I won't have time for specific pointers, but that project has a package.json that shows how it is built to a bundle if I recall correctly, then that bundle needs to be in your media collection and you may reference it from the card template

That said, it was mostly just the idea of it - to use browser local storage APIs, because going from front to back in AnkiDroid shares a WebView but it

[2022-05-08 01:27] boydkelly commented on #11268
Awesome.   Thats the direction I was missing!   Cheers!

On Sat, May 7, 2022 at 6:09 PM Mike Hardy ***@***.***> wrote:

--
Boyd Kelly ***@***.***>
www: http://www.coastsystems.net
Tel: +1 604 837-0765

[2022-05-08 03:55] Tinkidinki commented on #9432
Also, @gpauer, may I work on this? We could discuss together and work, if you're interested!

[2022-05-08 05:31] Tinkidinki commented on #11267
I was going to write instructions on how to work on this so that it may be a good first issue, but now I'm wondering, is this useful at all? There seems to be a lot of metadata (like file names:preferences.xml, a string name "preferences_title", string name "settings", etc) that contain the same name as Settings or Preferences - making everything the same will make the metadata not match.

Will cl

[2022-05-08 09:28] mikunimaru opened #11272 "[Bug] CSS written for Linux desktop also applies to Ankidroid (android)."
![test1](https://user-images.githubusercontent.com/43168745/167289682-673b4177-587c-46a2-a46b-b0dceec6b960.jpg)
![test2](https://user-images.githubusercontent.com/43168745/167289700-5a8d2bd2-cb0d-40d7-ab36-55565b573fc0.jpg)

###### Reproduction Steps

1. [Write CSS for Linux desktop](https://docs.ankiweb.net/templates/styling.html#platform-specific-css)

###### Expected Result
Ankidroid ignores CS

[2022-05-08 09:33] mikunimaru opened #11273 "Ankidroid.org is down [server compromised; reinstall in progress]"
![image](https://user-images.githubusercontent.com/43168745/167290210-1b24561f-99b7-4858-b926-fd096174d1f4.png)

It may just be maintenance, but it could be a problem, so I am reporting it just in case.

[2022-05-08 12:27] homocomputeris commented on #9482
Still an issue

[2022-05-08 12:53] mikehardy commented on #11273
Yes, the server was compromised Friday morning, we were working with the hosting provider Friday and Saturday to re-image it and have them put it back on the network, and today I'm going to finish reinstalling services. On the other hand it's Mother's Day here and I'm a real person with a family (implying: a wife who is a mother, so we have activities planned for the day) so it will happen with ti

[2022-05-08 12:54] mikehardy commented on #11235
I haven't seen follow up on this and I think it's a developer only thing with a workaround as mentioned. Closing

[2022-05-08 12:54] #11235 closed

[2022-05-08 13:23] MagTun opened #11275 "Like AnkiDesktop, do not reset the interval when rescheduling a card."
As suggested by @mikehardy's [comment](https://github.com/ankidroid/Anki-Android/issues/9727#issuecomment-1120274472), I am opening a new issue for this.

The problem is that when rescheduling a card, this card interval is set to the delay set in the rescheduling. If my cards' intervals are 3 months, and I set a reschedule for these cards in 4 days, these cards' intervals are now 4 days. Anki desk

[2022-05-08 14:11] mikehardy commented on #11273
had just enough time before heading out to get the automated publish working again with ssh keypairs and set up nginx + letsencrypt etc so the manual is back up again, correctly secured, from the app and on the web

[2022-05-08 15:35] mikunimaru commented on #11273
Thanks for the quick fix.

https://ankidroid.org/docs/help.html
https://ankidroid.org/docs/manual.html

The above two links in the issue template are still 404.

[2022-05-08 16:27] Tinkidinki commented on #11220
Hey, I faced the same issue in Android 12, although in my case rather than the rebuild option, I see the "Deck options" option as shown in the image. However, upon refreshing/synchronizing the issue doesn't persist.

<img src="https://user-images.githubusercontent.com/26631482/167305286-00b721b0-164a-4a46-a68b-fc7d8dc97f08.png" width=30% height=30%>

One way I was able to remove the issue was by r

[2022-05-08 18:11] gsingh93 commented on #10352
Seems like we don't have any workable solution right now, but I still want to keep this open. I've been meaning to dig into this myself eventually to see if I can come up with some other workaround, but I haven't had that time yet.

[2022-05-08 20:43] david-allison commented on #11272
Will `:not(.mobile)` work?

This class was introduced in 2013, and will be a breaking change to fix (e13a901c5840720a9d56967e21eee6b6cb5be7a5), I'd prefer documenting a workaround if at all possible for the meantime.

[2022-05-08 20:54] david-allison opened #11278 "Android Tests: NewCollectionPathTestRunner not working"
Was `NewCollectionPathTestRunner` not feasible/running here?

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/11113#discussion_r867401345_

[2022-05-08 21:08] BrayanDSO commented on #11220
On my daily usage, I never go to those screens, so I don't know what is the supposed use of the `Undo` button there.

It can undo a filtered or custom study deck creation? It seems like the `Undo` toast isn't shown there (it's part of AbstractFlashcardViewer), so I can't know what is undone (is there a log for this?). If not, I don't know why it should be there.

[2022-05-08 21:12] david-allison commented on #11220
Just to note: the screen is always in view if you use a tablet.

[2022-05-08 22:47] mikehardy commented on #11273
Thanks for noticing that - I am not aware of all the URLs out there but it seems through various 404s (including your report) that the full set was that the docs site was available at:

ankidroid.org
docs.ankdroid.org
www.ankidroid.org

as well as all three of those names but under the /docs sub-directory as well as the root site.

I've reimplemented this last one with some nginc magic

[code]

[2022-05-08 22:47] #11273 closed

[2022-05-08 22:54] mikehardy commented on #11272
Also, as you mention, android *is* linux

[2022-05-09 05:28] mikunimaru commented on #11272
I agree that Android is Linux, but in the [Anki manual](https://docs.ankiweb.net/?search=Linux), the term "Linux" seems to refer only to "Linux desktop".

[code]

This forced override is a workaround, but it would be difficult for a template author who created CSS for Linux desktop to guess the above behavior.

[2022-05-09 11:40] jyjsunny opened #11280 "[Bug]crash and exit when save empty video or audio"
###### Reproduction Steps

1. click "card browser"
2. click and choose one card
3. click "add video clip"
4. click and choose to save
5. crash and exit

###### Expected Result

Save an empty video clip, or prompt for a video clip that does not need to be saved

###### Actual Result

https://user-images.githubusercontent.com/92309998/167401873-72abc378-b0b1-4e9a-8fc1-342890984be2.mov

[2022-05-09 13:35] jyjsunny opened #11283 "[Bug]briefly prompted the pop-up "Setting has stopped"."
###### Reproduction Steps
I don't know what triggered this bug, which briefly prompted the pop-up "Setting has stopped".

###### Actual Result

https://user-images.githubusercontent.com/92309998/167421647-7eca02a3-f5b4-4655-baa2-83e258fcdc8e.mov

[2022-05-09 15:01] mikehardy commented on #11272
The anki manual should be updated I think, I'd consider that an oversight. Android is linux as an objective fact so that selector is not specific enough

[2022-05-09 15:35] BrayanDSO commented on #11280
https://github.com/ankidroid/Anki-Android/blob/d26ac786508ac324424830b75715fbeb3245fa68/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/AudioField.kt#L81

audioPath is null here, hence the crash. IIRC videos uses the same. I'd do the fix after NoteEditor conversion to Kotlin is merged though, so it can be fixed there too.

[2022-05-09 15:54] david-allison commented on #11280
NoteEditor is now merged

[2022-05-09 15:58] dorrin-sot commented on #11120
It's just a placeholder for empty string ("") since it doesn't look good UI-wise for there to be a deck with no name

[2022-05-09 16:27] Jatin887 commented on #11116
@david-allison can i start working on this.
These are the files which i have to convert to achive the goal.
I will add view binding in all the files and will have one pull request which will contain all the files of one package(need suggestion)?
![image](https://user-images.githubusercontent.com/71597104/167454580-5d80718f-8899-4d63-84f6-4bba4f5faa44.png)
![image](https://user-images.githubusercon

[2022-05-09 16:46] david-allison commented on #11116
If it's one PR, with the commits appropriately split out, then I don't see an issue.

Ensure you're familiar with rebasing before you begin.

[2022-05-09 17:01] Jatin887 commented on #11116
Yes i am familiar with it.

[2022-05-09 17:57] Jatin887 commented on #10489
I am working on AsyncDialogFragment.kt

[2022-05-09 18:11] david-allison opened #11288 "AGP 7.2.0 upgrade recommendations"
The below steps are all **recommended** for the AGP 7.1.3 to 7.2.0 transition by the Android Studio 'upgrade wizard' when at commit d8708b68ebcbeec5e15a18ff6c5c3c93b1c3dd71

NOTE: A patch is supplied below, but this is incorrect in many ways

## Migrate from jacoco to testCoverage

Configuration related to test coverage is now performed using the
`testCoverage` block.

## Migrate packagingOptions

[2022-05-09 18:23] Jatin887 commented on #10489
I am working on ActivityExportingDelegate.kt

[2022-05-09 20:00] david-allison opened #11291 "[Bug] Android Studio Chipmunk: Duplicate content roots detected"
EDIT: https://issuetracker.google.com/issues/220326930

2022-05-10 Marked as priority 1: https://issuetracker.google.com/issues/232007221

Upgrading to Chipmunk removes multiple methods of running unit tests with the information:

![Screenshot 2022-05-10 at 14 29 11](https://user-images.githubusercontent.com/62114487/167640267-0afbefe3-53d5-447c-8df8-461fc85c4ef4.png)
![Screenshot 2022-05-10 at 14

[2022-05-09 20:05] mikehardy commented on #11288
interesting, I've always got my eyes on the test coverage / jacoco stuff since it's so fragile (in my opinion). If no one else checks this out in a week or two I'll work through it. I either break in new gradle stuff here on react-native-firebase but RNFB has enough destabilizing stuff going on at the moment this is a better spot for gradle work

[2022-05-09 20:09] mikehardy commented on #11291
Did that actually break them for you ? I updated as a test and I've been running my CI-merge-train all day *after* the original message :thinking:

[2022-05-10 01:44] jyjsunny commented on #11283
I probably understand what you mean, but I'm not sure what caused the "settings" crash, and I'm still trying to find a way to reproduce the crash. Thank you for your reply.

[2022-05-10 04:10] mikunimaru commented on #11272
I will try to submit the issue that there is no CSS specifically for Linux desktop in anki desktop's issue.
It is necessary to confirm that this behavior is as intended for anki desktop.

[2022-05-10 04:28] dae commented on #11272
If AnkiDroid is already applying .linux, then we can't change it without breaking compatibility, and can only update the manual to document the behaviour.

[2022-05-10 04:35] mikunimaru commented on #11272
I will submit an issue to the anki desktop side with the understanding that the android side intends to continue this specification to maintain compatibility.
(Since the essence of the problem is that there is no CSS specifically for Linux desktop, the submission itself should be valid.)

[2022-05-10 04:38] dae commented on #11272
The desktop behaviour can't change either, as we need to maintain compatibility. The only thing we can do is change the documentation.

[2022-05-10 04:46] mikunimaru commented on #11272
I think the lack of CSS dedicated only to Linux desktop is enough to deserve the submission of an anki desktop issue.
There is an option to keep the .linux class specification and create a new class only for Linux desktop.

I'll submit the issue as a lack of CSS for Linux desktop rather than a .linux behavior issue.
The reason is that even with the web rewrite, the problem of lack of CSS for Linux

[2022-05-10 08:14] Mereo4 commented on #11291
I have the same issue, and on my side it's actually the update of the Android Gradle plugin to version 7.2.0 that causes it.

[2022-05-10 09:37] alxs commented on #8073
@krmanik @david-allison this is still an issue.

[2022-05-10 12:43] david-allison commented on #11291
I can't run tests from the context menu, or IDE sidebar any more.

Java files are showing a message at the top of the file: `This .java file is outside of Java Source roots and won't be added to the classpath`

But running all tests from 'configuration' runs 1529 tests (correct)

[2022-05-10 12:48] #11280 closed

[2022-05-10 13:13] david-allison commented on #11291
Bumblebee is available from: https://developer.android.com/studio/archive with no issue, but this blocks the gradle update.

Will post on the issue tracker once I re-download Chipmunk: https://issuetracker.google.com/issues/220326930

Potentially related:
* https://issuetracker.google.com/issues/219984431 (likely related, upgarding Above Bumblebee)
* https://issuetracker.google.com/issues/23200722

[2022-05-10 13:15] #10792 closed, assigned to n1snt

[2022-05-10 13:31] #11107 closed

[2022-05-10 14:28] david-allison opened #11301 "[CI] Hang: Restore Gradle state from cache"
https://github.com/ankidroid/Anki-Android/runs/6365082400?check_suite_focus=true

We can probably do with a timeout on this step which is less than 30 minutes
OR: A retry

[2022-05-10 14:50] #10385 closed

[2022-05-10 15:54] #11017 closed

[2022-05-10 15:54] #11060 closed

[2022-05-10 16:36] n1snt commented on #10641
@mikehardy this issue should be closed as #10851 was merged.

[2022-05-10 16:43] david-allison commented on #10641
@n1snt Before we do this, what about the follow-up issues as mentioned in https://github.com/ankidroid/Anki-Android/pull/10851#pullrequestreview-967928674

[2022-05-10 16:55] n1snt commented on #10641
I have already made a PR for that #11303

[2022-05-10 18:03] Gabi457 opened #11305 "[Bug] eu estou querendo a pagar algumas notas do anki mais ele sempre volta na hora do backup, é ainda eu perco as minhas notas atualizada, que merda,por favor resolva isso senão eu nunca mais vou usar,eu quero revisar não passa raiva"
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement

[2022-05-10 18:06] mikehardy commented on #11301
I saw a couple sub-minute ones and on main it took 2'41", timeout for 5' should be adequate.
I don't believe it's possible to do a retry on this one, the retry action I'm familiar with doesn't wrap actions only commands, and to do a retry on an action requires multiple attempts with status setting/checking (a real workflow monster with regard to code).

So just setting a timeout and failing faster

[2022-05-10 18:42] mikehardy commented on #11305
I warned you on our forum list to be nice or you would receive no help.
You have persisted in being rude, and will receive no help.
I will report you to github for abuse and delete this issue.

Be nice, or use different software, rudeness will not be tolerated here.

[2022-05-10 19:26] #11301 closed

[2022-05-10 20:00] mikehardy commented on #11091
This just popped up on unit tests, first time I've seen it. Logging for frequency analysis over time

https://github.com/ankidroid/Anki-Android/runs/6372125564?check_suite_focus=true#step:7:143

[code]

From #11173

[2022-05-10 21:20] mikehardy commented on #11291
wait for AGP 7.2.1, this bug is marked as blocker for that release upstream

[2022-05-10 21:36] mikehardy commented on #11091
Oh my, JVM OOM on windows unit test with current attempt to update dependencies. That's unexpected.

From #11310

https://github.com/ankidroid/Anki-Android/runs/6377466202?check_suite_focus=true#step:7:149

[code]

[2022-05-11 04:02] david-allison commented on #10488
@Bhawna1203 Do you think you'll have time to respond to the PR feedback?

[2022-05-11 04:08] david-allison opened #11321 "[Automation] Remove assignees on merged Pull Request"
Noticed this on https://github.com/ankidroid/Anki-Android/pull/11319

Related: https://github.com/ankidroid/Anki-Android/issues/10410

[2022-05-11 04:56] krmanik commented on #11321
This can be good first issues because it easier to implement using github script (label and milestone)
https://octokit.github.io/rest.js/v18#issues-remove-assignees

[code]

[2022-05-11 11:29] david-allison commented on #5225
Just to note: my branch - `david-allison/material-dialog-update` contains a very rough start to this, as I wanted to see how much work it would take

I estimate it'll take ~8 hours to do this properly (adding extension methods and adapters for a smooth transition), this isn't going to be a quick job

[2022-05-11 11:41] mikunimaru commented on #11272
I submitted an issue to anki desktop and it was resolved by updating the anki manual.
Thanks for suggesting a solution.

[2022-05-11 12:05] david-allison commented on #11272
Thanks! Closing as completed

[2022-05-11 12:05] #11272 closed

[2022-05-11 13:33] #7595 closed

[2022-05-11 17:25] n1snt opened #11326 "Release new version of API"
So I think that implies putting a v2.0.0 here and peeling this comment off to a new issue "release a new version of API"

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/pull/11286#discussion_r870303888_

[2022-05-11 23:01] david-allison commented on #10502
@shankarpriyank Do you think you'll have time to fix the PR feedback?

[2022-05-12 03:25] PetbkA opened #11329 "[Note Editor][Toolbar]: allow custom labels to user-defined buttons"
**Is your feature request related to a problem? Please describe.**
I've added `<code>`, `<ol>` and `<li>` tags to Note Editor toolbar, but they all are displayed as "1", "2" and "3". So I have to remember what every number means.

It would be nice if I could change user-defined buttons labels.

**Describe the solution you'd like**
When adding user-defined button, third field (e.g. "label") will be

[2022-05-12 03:42] PetbkA opened #11330 "[Add Note Screen]: Set Deck to the one that was used on the last added note"
**Is your feature request related to a problem? Please describe.**
I have two decks:
1. _English_ to learn new words in english;
2. _English Pronunciation_ to learn pronunciation of words that I already know.

Usually I'm adding words when reading articles in english and mostly adding it to the first deck.

The problem is that the deck which I studied the last is usually the second, and it's being

[2022-05-12 05:29] AayushSolanki commented on #10401
i will be submitting a PR after my academic exams

[2022-05-12 09:09] david-allison commented on #11329
Thanks for the report!

Already exists in our alpha: https://github.com/ankidroid/Anki-Android/releases (pick Parallel.A)

Duplicates https://github.com/ankidroid/Anki-Android/issues/9077

![image](https://user-images.githubusercontent.com/62114487/168035238-035f5732-47a4-431b-a19a-694b83bee532.png)

[2022-05-12 09:09] #11329 closed

[2022-05-12 09:12] david-allison commented on #7766
I liked this in 2020, and I still like this

[2022-05-12 10:45] ThoreBor opened #11332 "[Bug] v2.16alpha65 Can't use back or return button to save changes in deck options"
###### Reproduction Steps

1.  Open the deck options
2.  Go to new cards
3.  Go to New cards/day
4. Save changes with the return button on the keyboard or back button

This also doesn't work for the other options in new cards, as well as reviews and lapses

###### Expected Result

The settings are saved and the dialog closes

###### Actual Result

Dialog stays open

###### Debug info

AnkiDroid Ve

[2022-05-12 14:02] david-allison opened #11334 "[Bug] "Could Not Open AnkiDroid Collection" after upgrade"
###### Reproduction Steps

Not reproducible

1. Install AnkiDroid (with existing test collection on disk)
2. Accept 'Welcome'
3. Accept 'Permissions'

###### Expected Result

4. Could not open AnkiDroid Collection

###### Actual Result

4. Ankidroid opens normally

###### Debug info
6f40e0211cccff6494e33c117543c2dab7728fdb

AnkiDroid Version = 2.16alpha65

Android Version = 11

Manufacturer = Goog

[2022-05-12 14:02] mikehardy commented on #11291
I posted our repo there as a comment (comment 10) during collaboration, it appears they have cloned it, reproduced and are actively triage-ing, in other words "Yes! should see a fix for this"

[2022-05-12 14:08] david-allison commented on #11332
Double tap to close for now. Problem with displaying the keyboard

[2022-05-12 14:18] mikehardy commented on #11291
Triage completed there, we have work to do here. We *are* messing with 'sourceSets' in a newly-unsupported here (but long-unsupported in IntelliJ) way and need to adapt:

https://issuetracker.google.com/issues/232007221#comment13

[2022-05-12 14:24] david-allison commented on #11291
https://github.com/ankidroid/Anki-Android/blob/b1a42c781f5bd3420d6d561b63d8bc3a9b92d812/AnkiDroid/build.gradle#L199-L203

Added in ee463c2a3e20c0a8eea3c467a37b5f1b08f73f15 (https://github.com/ankidroid/Anki-Android/pull/5249)

[2022-05-12 16:36] #11291 closed

[2022-05-12 16:46] viciousAegis commented on #10321
Very very busy with school work right now, would happily let someone else try their hand at this!

[2022-05-12 17:38] dorrin-sot commented on #11332
ok 😁

[2022-05-13 15:17] #11332 closed

[2022-05-14 21:25] BrayanDSO commented on #10697
Solved with #11061

[2022-05-14 21:25] #10697 closed

[2022-05-15 13:25] snowtimeglass commented on #10792
@n1snt thanks a lot! It's so cool!

[2022-05-15 14:14] snowtimeglass commented on #10917
@Elizalll thank you for fixing this issue so patiently. You've been very helpful!

[2022-05-15 17:48] dictdl30 opened #11353 "[Bug] Reschedule for review in x days?"
Hi,
Mike Hardy told me to put my questions here as a bugreport: https://groups.google.com/g/anki-android/c/uvjkCYVUGQA

How does this Reschedule-Option (Reschedule for review in x days) work?
(1) If I reschedule one card to “10 days”... What schedule will Anki use after these “10 days”? Will it impact on the spaced repetition algorithm for this card in general or not?
(2) If I reschedule a card to

[2022-05-15 23:11] #10555 closed

[2022-05-16 10:33] pat-richter opened #11360 "Can one change the Anki Design (not card design) with CSS?"
Question is self explaining, I think.

I know there are some options in Settings > Appearance, but these are minimal.

Forking and rebuilding with changed options is possible, of course. But I hope there is a solution with less afford.

Kind regards
Patrick

[2022-05-16 11:37] #10467 closed

[2022-05-16 13:02] mikehardy commented on #11360
Question is not self-explanatory actually - you need to specify what elements you want to change.
If you mean "the reviewer experience", you might like the combination of JS/CSS capabilities along with our JS API, when used in "immersive / full-screen" mode. That lets you program a completely different reviewer if you like.

Here's a handle on that https://github.com/ankidroid/Anki-Android/wiki/FA

[2022-05-16 13:02] #11360 closed

[2022-05-16 18:47] n1snt commented on #9688
@s-deepak-kumar are you still working on it?

[2022-05-16 19:14] nels commented on #9592
Incredible app, thank you for the hard work :raised_hands:

Unfortunately suffering from the same issue on Chromebook that prevents me from accessing settings or logging into AnkiWeb to sync.
Running Chrome OS 100.0.4896.133
Installed AnkiDroid shown as v2.15.6

Eager to get AnkiDroid working on the Chromebook again as the form factor is incredibly popular in schools where I'm from.
I'm not specif

[2022-05-16 19:24] mikehardy commented on #9592
@nels oh that's great! I haven't had time yet to order a chromebook yet myself

I think the first step is just making sure you can reproduce the crash and see the crash trace

That is accomplished by using `adb` (the Android Debugging Bridge) to watch the `logcat` (Android device log) while running it

Looks like this is how you get ADB going on chromebook ? https://developer.android.com/topic/arc

[2022-05-16 20:13] nels commented on #9592
hi @mikehardy, thanks for the reply & instructions.
I have some good news.

`adb logcat` on freshly booted device throws up a ton of output, many pages.
The output below is from when I start AnkiDroid:

05-16 20:56:09.536   649   649 D BoundBrokerSvc: onUnbind: Intent { act=com.google.android.gms.phenotype.service.START dat=chimera-action:com.google.android.gms.phenotype.service.START cmp=com.goog

[2022-05-16 20:50] mikehardy commented on #9592
Oh my! Honestly, I was not expecting the parallel release to work - I was hoping for a reproduction and the crash output on old and new releases, this is more than I hoped. Thanks so much for confirming the new builds work.

Unfortunately we don't have a timeline on 2.16, we're tangled up with a forced migration to scoped storage from Google, #5304 - and it's really delicate work since it could de

[2022-05-16 23:38] #10474 closed

[2022-05-17 07:48] sjl872964789 opened #11363 "[Bug] There seems to be some issues with the recording function, which sometimes caused my phone to stuck"
###### Reproduction Steps

1. Record audio
2. Click Record
3. Click to pause recording
4. Click Play
5. Click Stop
6. Click Play again
7. Click pause
8. All three buttons will no longer respond
9. Even after quitting this recording, both ankidroid and my phone became strange and I had to restart my phone

###### Expected Result

Won't get stuck and keep reporting errors

###### Actual Result

Stuc

[2022-05-17 12:01] oyeraghib opened #11365 "[Bug] Unable to Load Pronunciation of words which have space"
###### Reproduction Steps

1.  Tap on "Add Note" from FAB
2.  Tap the attachment icon at the end of field
3.  Choose "Advanced editor"
4.  Write down a word ( for example "hello" ) and add one space after that ( "hello ")
5.  Choose PRONUNCIATION and then LOAD

###### Expected Result
It should show the user the loaded pronunciation of the word entered.

###### Actual Result
It says "Word not found

[2022-05-17 12:02] oyeraghib commented on #11365
I think solution 1 might be more of a better long term solution for that. Please share your views about it or what do you think of any other alternative solutions for it.

[2022-05-17 14:45] mikehardy commented on #11365
what's the actual search performed out to the pronunciation service? I wonder if it would be better to urlencode, if not done already. If it is done, then perhaps trim yes

[2022-05-17 21:33] mikehardy commented on #11091
This is a new one I believe, ubuntu unit test

[code]

[2022-05-18 05:14] HuWeiyy commented on #11004
Is my solution correct?
In my pull request[#11369](https://github.com/ankidroid/Anki-Android/pull/11369), I change the color of the anchor text to blue```#0277BD```, and when I click and hold the anchor text, the color of the anchor text will change to green```#00CC99```.
![无标题2](https://user-images.githubusercontent.com/92869272/168962001-c31da28b-21cd-4413-8db8-e3c59db43761.png)

[2022-05-18 14:23] #10895 closed

[2022-05-18 14:28] dorrin-sot commented on #11330
Hi if this is accepted, can I work on it?

[2022-05-18 15:21] jyjsunny commented on #11283
Hello, here is the stack trace I got, I can confirm that it crashes on the setting side, but I want to know what causes it to crash?

: java.lang.RuntimeException: Unable to resume activity {com.android.settings/com.android.settings.applications.InstalledAppDetails}: java.lang.IllegalArgumentException
: 	at android.app.ActivityThread.performResumeActivity(ActivityThread.java:3645)
: 	at android.ap

[2022-05-18 16:22] mikehardy commented on #11091
Related to the one from yesterday - also in gesture preferences test, also on ubuntu, close but slightly different failure:

[code]

[2022-05-18 16:32] mikehardy commented on #11091
These are failing for me semi-frequently locally as part of unit test on ubunty

[code]

[2022-05-18 19:59] mikehardy commented on #11091
The cache restore step has failed on macOS once recently and windows twice recently. I'm not sure 5mins is enough for that step.

[2022-05-18 20:29] nels commented on #9592
Thanks @mikehardy :+1:

I have a Lenovo IdeaPad Duet Chromebook running Chrome OS 100.0.4896.133
and a laptop running Linux Mint (Ubuntu derivative).
Suspect `adb` works similarly on Windows & Mac OS.

Steps to get a working installation of AnkiDroid on a Chromebook:
1. [Activate Linux on the Chromebook](https://support.google.com/chromebook/answer/9145439)
2. [Enable ADB debugging on the Chromebo

[2022-05-18 22:48] david-allison commented on #9592
Just to note: 2.15.6 crash was:

[code]

[2022-05-20 13:16] dorrin-sot opened #11396 "[Bug] Flag color or Mark in Reviewer isn't updated if changed in CardBrowser"
###### Reproduction Steps

1. Start reviewing a card
2. Open Drawer
3. Select Card Browser
4. Change the flag of the card that you were reviewing in step 1 (Issue also exists for Marking/Unmarking the card)
5. Go back to reviewer (By pressing back)

###### Expected Result
The card in the reviewer is not updated

###### Actual Result
The card in the reviewer is updated

###### Debug info
[code]

[2022-05-20 13:18] dorrin-sot commented on #11396
I would like to work on this if it is accepted

[2022-05-20 21:16] Arthur-Milchior commented on #1717
A majority of current maintainer has reached a decision regarding voice-control. It's detailed on https://github.com/ankidroid/Anki-Android/wiki/Absence-of-voice-control-feature
TL/DR, the risk of accident is too high with it. For ethical reason, we decided not to accept such a feature

[2022-05-20 21:17] #1717 closed

[2022-05-20 22:28] BrayanDSO commented on #11396
This may be related with #11046. I guess reviewer isn't updated if there are changes on CardBrowser.

Using `startActivityForResult` (or preferentially the non deprecated method) should work, but would probably result with the same problem as #11046

[2022-05-21 04:27] dorrin-sot commented on #11396
Actually this is way easier to fix. I fixed it by setting `reloadRequired` to true inside the handlers for `flag` and `mark` in card browser. `suspend` and `bury` may be fixed similarly too🤔

[2022-05-21 08:52] MrPenguins commented on #10684
Hi, I would like to work on this issue!

[2022-05-21 08:56] BrayanDSO commented on #11396
I believe it is easy to fix, but can you please check if the following works to see if the same bug won't happen here:

1. Open the reviewer
2. Open **Statistics** from the navigation drawer
3. Open card browser and mark a card
4. Go back to the reviewer
5. Check if the card is marked

[2022-05-21 11:06] dorrin-sot commented on #11396
It didn't. But after I also added the "reloadRequired" and "currentCard" in the intents of NavigationDrawer it worked (If you're not already working on that issue I can do some cleanup and commit it)

[2022-05-21 11:41] BrayanDSO commented on #11396
Go for it 👍🏻

Em sáb., 21 de mai. de 2022 08:07, dorrin-sot ***@***.***>
escreveu:

[2022-05-21 20:13] divyansh-dxn commented on #10510
Any update on this issue?

[2022-05-22 01:08] Arthur-Milchior commented on #10510
@Jatin887 are you still interested? If so, and if @rskbansal has not answered tuesday, you can.
If you are not interested, or don't answer by thursday, @divyansh-dxn can.

[2022-05-22 01:09] Jatin887 commented on #10510
I am interested

[2022-05-22 03:41] Elizalll commented on #11321
👋 hello! May I work on this issue? Thanks!🌹

[2022-05-22 11:28] antgel commented on #1717
So very bizarre. Users can also use the touch-screen interface when driving. Let's disable that as well. Forget the idea that voice control enables users to concentrate more on the road than having to look at a screen. :man_shrugging:

[2022-05-22 11:47] jbuschtoens opened #11404 "After first synchronizing, all cards are in "standard""
- I stopped using Anki and Ankidroid for a while, using a different SRS
- On my new phone, I (or the migration prices) installed Ankidroid and it seems the app was connected to my ankiweb account. But I did not synhronize with ankiweb or use the app.
- Playing around with a different app, I used the "create Anki card" feature to create a few cards in a deck called "default" or standard.
- then I s

[2022-05-22 14:18] mikehardy commented on #1717
@antgel you can deliberately misinterpret the reasoning all you like, the reasoning is still sound.

As a vulnerable road user, that is, a cyclist, I can tell you that there is a shocking amount of stupidity amongst drivers who seem to think that staring at their phone and doing things like Candy Crush or Whatsapp or even AnkiDroid is acceptable but at least the laws are clear on the subject and i

[2022-05-22 15:05] snowtimeglass commented on #11004
@HuWeiyy sorry for my late reply. The blue looks nice to me, thanks.

Though the green is also good, the choice of the color may be arguable as @BrayanDSO says:

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/issues/11369#issuecomment-1131827963_

I agree with his opinion. To keep the color familiar/simple is more desirable, I think.

[2022-05-22 17:06] Jdodo45 commented on #1717
Too bad for people who don't drive (I don't), and wanted to use it in other conditions.
And even worse (following your rather weird argumentations): too bad for those who will die because they will be crushed by a driver who was staring at her Anki screen to press the right button. (Have you even considered that the current feature could cause more death than the one requested here?)

[2022-05-22 18:40] #9963 closed

[2022-05-22 18:40] #7762 closed

[2022-05-22 23:56] zaz commented on #1717
**Summary:** It is **not okay** to block accessibility features (it's discrimination) and there is no evidence that adding voice control would decrease safety (in fact, I believe @antgel is right that safety is added by providing a safer substitute to using Anki by touching it).

Sorry for not weighing in earlier, as I realize that a decision has already been made on this and there is a large inhi

[2022-05-23 00:20] zaz commented on #1717
@mikehardy, I don't think anyone is trying to antagonize you or your team.  In fact, I think the point @antgel is trying to make is related to the one you yourself make:

@antgel's interpretation (and mine also), is that by adding voice control, we are not condoning this dangerous behavior, but providing an alternative for it.  This is because cognitive+audio distractions are not at all like manua

[2022-05-23 00:45] timrae commented on #1717
FWIW, I'm tending to side with @zaz on this one. I don't feel the argument for blocking the feature is compelling enough when weighed against the principles of inclusivity and freedom, though I'm open to a strong counter argument. I wonder if showing a pop up dialogue everytime the feature is engaged could be an acceptable middle ground?

[2022-05-23 01:14] mikehardy commented on #1717
Agree to disagree. Coding hard beats commenting hard, and the folks coding have decided. We provide several apis that may be used as extension points for anyone so motivated to make an app that dies it, using the API.

[2022-05-23 02:07] timrae commented on #1717
Well I can't argue with that... I do feel that the conversation could potentially be reopened if all of the following conditions were met:

1. A sizeable number of users were commenting who were personally experiencing hardship due to legitimate accessibility issues
2. There were solid reasons why using the API would lead to an inferior solution
3. Someone was willing to submit and champion a high

[2022-05-23 02:24] wantsomegetsome commented on #1717
Lol. No. 7 years.

Reality matters. It's not a safety issue you are worried about. You very well know how to solve the driving problem with voice control functionality.

Sigh. Let me help the people who don't know the truth... Keep it in mind that it's been 7 years. If you are worried about driving, you clould simply disable voice control if moving faster than a jogger - say 6 mph. Surely you thou

[2022-05-23 02:37] zaz commented on #1717
@eu2021: I would never use it that way in a vehicle, but if that is a concern, you could blank the screen during voice-control mode and that would eliminate the problem of people looking at their screen.  This would make Anki safer and more inclusive.

@mikehardy I'm not disrespecting your authority as the contributors to AnkiDroid, nor am I demanding you write a patch. But I've shown evidence tha

[2022-05-23 04:16] timrae commented on #1717
All I'm saying is that I'd potentially be open to facilitating a reopening of that conversation (as former head maintainer of AnkiDroid) if all the conditions were met. That's not a promise that the reopening of the conversation would lead to a change in the outcome, just that the conversation could potentially be reopened. Basically you need some research on accessibility, a design proposal, and

[2022-05-23 07:40] eginhard commented on #1717
The scope and discussion of this issue were not really about accessibility in the first place, the aim was to have a hands-free, voice-controlled reviewer as a convenience feature. As @mikehardy mentioned, you should be able to create an external app for this using the available API if you really want it. The accessibility issues are mostly unrelated and much harder to solve both for technical rea

[2022-05-23 11:36] dorrin-sot opened #11411 "[Bug] Pressing back in Statistics > Preferences skips past Statistics"
###### Reproduction Steps

0. Start from activity "A"
1. Open Statistics
2. Open Preferences
3. Press Back

###### Expected Result
Should end up in statistics

###### Actual Result
Statistics is skipped and we end up back at "A"

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".
[code]

###### Research
- [x] I have

[2022-05-23 12:01] snowtimeglass commented on #10895
@MrPenguins thank you for the fix and checking it thoroughly!

[2022-05-23 12:05] #11411 closed

[2022-05-23 12:54] mikehardy commented on #1717
I'm not aware of any successful gps based apps using it for app locking. Fir instance there is the I'm a passenger problem and now we've locked out everyone on the bus. I actually code other apps that do use gps, you can make anything sound trivial, but in reality it's not.

The decision was discussed on discord. Remember i mentioned coding hard beats commenting hard? All the people coding, doing

[2022-05-24 01:00] timrae commented on #1717
@eginhard

Feedback seems to be pretty poor on the Google Voice Access app, I feel it's worth considering what we can do better. It's also worth mentioning that regular Anki users suffering from Carpal Tunnel Syndrome could also potentially get a substantial quality of life improvement, not just users with full motor impairment.

[2022-05-24 05:05] xllhxd opened #11412 "[Bug] The basic template does not display MathJax math formulas properly."
The basic (input answer) template does not display MathJax math formulas properly.

[2022-05-24 07:24] n1snt commented on #11412
Can you show some screenshots?

[2022-05-24 10:43] xllhxd commented on #11412
![892A44380444E9F52A8E7DD367FEBAF0](https://user-images.githubusercontent.com/93316999/170012280-26ab0191-5809-4142-ade0-b2fa3d40593c.jpg)
![F24DC972A2E1A0AE7B2535F9830C78EC](https://user-images.githubusercontent.com/93316999/170012344-f851acdd-9e20-453f-8377-228078caf384.jpg)
![0FF18A5EA09BEA2F8D5787C1E3738968](https://user-images.githubusercontent.com/93316999/170012380-6af9c538-5036-43cf-914d-5

[2022-05-24 10:46] xllhxd commented on #11412
This caused me a lot of confusion, and it took me almost four or five hours to discover the problem, but it may have been intentional on your part. Thank you for always maintaining AnkiDroid.

[2022-05-24 11:19] xllhxd commented on #11412
I'm sorry to bother you. I just found out that the Window version does not do the same.

[2022-05-24 14:28] mikehardy commented on #11091
This instrumented test just flaked on my locally, API31 emulator:

[code]

[2022-05-25 03:53] oyeraghib opened #11414 "Giving more readable names to the functions - specially in Testing"
**Is your feature request related to a problem? Please describe.**
The name of the functions specially in testing are very long, though one can read them and understand what they do but sometimes it still look a little messy to read.

**Describe the solution you'd like**
In Kotlin we can use the backticks to write the names of function in a more readable way.
For example a function in the class **

[2022-05-25 14:59] Arthur-Milchior opened #11417 "Avoid `CollectionHelper.getInstance().getCol()`, save the collection instead"
In object oriented programming, statics are genally a bad idea.
We use `CollectionHelper.getInstance().getCol()` 46 times. As far as I can tell, we really rarely need it.
It is useful if we potentially need to reload the collection if it was closed, or when the app starts.
So, a few improvements could be:
* AnkiActivity saves the collection when `onCollectionLoaded` returns the collection. (With s

[2022-05-25 16:16] oyeraghib commented on #10476
@mikehardy , @tcaERROR-issues we can close this issue as it have been resolved now.

[2022-05-25 16:26] oyeraghib commented on #11417
I would like to work with this issue.

[2022-05-25 16:42] Arthur-Milchior commented on #11417
I'd prefer @oyeraghib, if you could take a look and state one or a few part of it you intend to consider. This task seems big, and I believe you can have nice PR already by just looking at one or a few task

[2022-05-25 17:48] mikehardy commented on #10476
Indeed, the issue was not cross-linked correctly per-template in related PR. Fixed PR description to cross-link, closing this. Thanks!

[2022-05-25 17:48] #10476 closed

[2022-05-25 21:22] BrayanDSO commented on #10622
Oh, dear bot. I like how efficient you are on your job of notifying us. It's unfortunate that we have so many changes on Android and Anki to keep up. But we will do this when the time comes, thanks for the job.

[2022-05-26 14:20] nzarbayezid commented on #5304
I think this issue is never gonna be solve

[2022-05-26 15:21] prateek-singh-3212 opened #11430 "Migrate Sync from Async task to Foreground Service."
I would like to propose the idea of doing all the work required to sync deck in foreground service instead of using async task.

**Foreground Service:** It is type of service which is used to run a particular task in background. For more:- https://developer.android.com/guide/components/foreground-services
**Current code:**  https://github.com/ankidroid/Anki-Android/blob/2cd449e284f4271b6e1541577fb

[2022-05-26 15:39] mikehardy commented on #5304
@nzarbayezid why would you say such a thing? Are you personally working hard on it and it seems intractable? Or have you just lost patience? It's a tough task. But it blocks us *completely* from releasing new versions. Do you think we would participate in google summer of code, and average 3 PRs merged per day on an app that would essentially die because we could never officially release it again?

[2022-05-26 19:26] nzarbayezid commented on #5304
@mikehardy  I'm just out of patient, it's been 2 month I come to this Issue everyday in hope of seeing it closed, but I think I have to stick to the PC version because the Android version is not usable for me

[2022-05-26 19:41] mikehardy commented on #5304
I'm unaware of any reason it's not usable. In fact, you don't even need to wait if you want to use the current version, just hit the releases page https://github.com/ankidroid/Anki-Android/releases - calling it "unusable" is an exaggeration. There is no reason at all you can't just grant storage permission now and get on with the important thing: memorizing stuff. Coming here every day is also qui