[2021-03-15 12:32] mikehardy commented on #3593
I don't think that really has value here, for this issue. Solve things with focused solutions I think

[2021-03-15 12:39] IAmJaishree commented on #3593
I do agree it is not related to this issue, but I still feel we should add this later(if not now).

[2021-03-15 13:07] mikehardy commented on #8224
I actually like this idea - I consider translation fixes to be bug fixes and I would love to be able to cherry-pick new translation downloads onto the release branch with confidence

Right now it takes a bit of thought on my part to decide when we finally have a backwards-*in*compatible translation change and then stop cherry-picking them.

I can't see how a merged file would be technically incorr

[2021-03-15 13:12] mrudultora opened #8230 "Add Changelogs in release builds"
**Is your feature request related to a problem? Please describe.**
There is no option to view the changelogs in release builds (available only in debug mode).

**Describe the solution you'd like**
Adding the changelogs option in (Settings->Advanced Settings) similar to debug mode.

**Describe alternatives you've considered**
None

[2021-03-15 13:15] 2tanayk commented on #8183
Yes I am

[2021-03-15 13:17] Akshay0701 commented on #4021
I would like to work on this issue ,
I will refer this site to implement receiving data from different app
https://developer.android.com/training/sharing/receive

[2021-03-15 13:53] imaryandokania commented on #8151
can you please try this out! Since I was not able to test as I don't have permissions to test on amazon App Store @mikehardy

[2021-03-15 14:14] imaryandokania commented on #8188
@zoulja  I am having some issues reproducing it, can you share some more details.

[2021-03-15 14:37] NicoWeio commented on #8146
In case you didn't see it: You can also download the latest alpha APK from the [releases page](https://github.com/ankidroid/Anki-Android/releases) on GitHub.

[2021-03-15 15:13] riturajjain2000 commented on #8226
Mention first here that you are working on smthng , as I was working on it , now it will be just waste of my time 😅

[2021-03-15 15:17] zoulja commented on #8188
@imaryandokania, I've added a picture in initial issue description, please take a look

[2021-03-15 15:28] 2tanayk commented on #8183
Please let me know if the above is enough

[2021-03-15 16:15] musiqualGeek commented on #3482
Is this issue still open? I would like to work on it.

[2021-03-15 16:20] tanmayChakrawarty commented on #3482
Hello Sir @david-allison-1 can I work on this issue?

[2021-03-15 16:25] Andrej-Adamenko commented on #8221
I uploaded my `collection.anki2` file from Anki Desktop for Windows which is synchronized with AnkiDroid. Would it be Ok, or you need the one from my phone?
[collection.zip](https://github.com/ankidroid/Anki-Android/files/6142892/collection.zip)

[2021-03-15 16:28] tanmayChakrawarty commented on #4292
Hello Sir @david-allison-1 can I work on this issue?

[2021-03-15 16:34] leoshrey commented on #8223
@iamvs-2002 yes, as you mentioned we can reduce background visibility on floating button click. This will improve the visibility and hence the more clear UI.
Just for an example I am attaching the screenshot for the same thing implemented in skype application - which is making the background blue in color:
![skype111](https://user-images.githubusercontent.com/53581274/111186109-b02b7400-85d8-11eb-

[2021-03-15 16:40] iamvs-2002 commented on #8223
Well, I'd say that let's wait for the project admin. But yes, I wanted to work on the same. If possible, you may search for some other issue?

[2021-03-15 16:53] leoshrey commented on #8227
Same, unable to reproduce it in build 2.14.6

[2021-03-15 17:35] infinyte7 commented on #8227
I think it is device specific. Also, I am not using dark theme but at first time app open welcome message in dark theme.

This is on Samsung.
v2.14.6
<img src="https://user-images.githubusercontent.com/12841290/111195644-6ef68c80-85f7-11eb-869c-10832f7bd608.gif" height=450></img>

v2.15alpha30
<img src="https://user-images.githubusercontent.com/12841290/111195643-6ef68c80-85f7-11eb-8737-1635e7d449

[2021-03-15 18:01] LittleFish33 commented on #8229
I think you want to create a card with two or more blanks and type answers. This can be achieved by using {type:Field_name}}.

For example, I create a cloze with two fields: `Text` and `Extra`:

1. In the `Text` field, I have "This is {{c1::test}} which is containing {{c1::test}} word twice". And in the `Extra` field, I have "test, test".
2. In the Front and Back template I have `{{cloze:Text}} {{

[2021-03-15 18:06] mikehardy commented on #8169
This is probably a special case of #3654 - the Activity not handling restarts correctly. So some state the Activity relies on is not saved correctly in the Bundle or restored correctly from the Bundle as the Activity goes through the Android Activity lifecycle

[2021-03-15 18:07] mikehardy commented on #8180
I agree with @david-allison-1 there, if there is a save, there should be a cancel, and if they go back with out a cancel ask for confirm

[2021-03-15 18:08] mikehardy commented on #8227
Please never omit the "Debug info" from the bug report, it would help reproduce this.
It occurs to me that we should probably add Vendor and Model (the device info) to the Debug Info in the app that people copy/paste here, it would be useful

[2021-03-15 18:10] mikehardy opened #8234 "Add device information (hardware manufacturer and device model number) to Debug Info copied to clipboard in app"
It occurs to me that we should probably add Vendor and Model (the device info) to the Debug Info in the app that people copy/paste here, it would be useful

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/8227#issuecomment-799634011_

Further details:
- "Debug Info" is what we instruct users to copy from the app here https://docs.ankidroid.org/help.html
- simil

[2021-03-15 18:13] mikehardy commented on #8187
@musiqualGeek if that is a review of the PR, please make review comments *on* the PR #8216

[2021-03-15 18:15] mikehardy commented on #8064
[code]

[2021-03-15 18:19] mikehardy commented on #8230
yes - as we discussed on Discord - thanks for logging this

[2021-03-15 18:29] mikehardy commented on #8226
Hello, the problem with the feature request is that none of the core contributors have even had a chance to look at it

Do we want this feature? I'm not sure, we want to think about it. I'm definitely sure we do not want to kill the app, that is not a recommended pattern in Android programming - you should let the system kill / quit apps when it wants to, but otherwise leave them running.

One thi

[2021-03-15 18:30] mikehardy commented on #8226
Actually - I see David did look at it and marked it as accepted, so there is that at least :-), I'll look at the PR

[2021-03-15 18:36] Andrej-Adamenko commented on #8221
I am afraid, I have changed the templates since the bug occurred last time.
This is my current Front Template:

[code]

This is my back template:
[code]
This is my external scripts from collection.media folder, that the templates refer to.
[external scripts.zip](https://github.com/ankidroid/Anki-Android/files/6143674/external.scripts.zip)

[2021-03-15 18:39] mikehardy commented on #8210
#7300 is a good example
I think sendAnalyticsEvent is sufficient but the Categories need to be constrained as there are only so many you may have and typos would be a terrible way to burn a category slot.

I propose `UsageAnalytics.Category.LINK_CLICKED` with a simple / unique string value for each help link the user may click, used like so https://github.com/ankidroid/Anki-Android/pull/7300/files

[2021-03-15 18:42] 2tanayk commented on #8234
can I work on this issue?

[2021-03-15 18:48] mikehardy commented on #8234
Sure @2tanayk - but please wait for a moment before proposing a pull request - subscribe to the PR #8225 as it is work in the same area and will result in conflicts if you begin work before that is completed.

While waiting, it may help to at least exercise the crash reporting system's development features to make sure you can successfully cause a test crash and view the crash test results.

https

[2021-03-15 19:01] mikehardy commented on #8151
Please create a real PR, but based on the release-2.14 branch, that way we can see the source changes, and I can run the official release script on it locally, where I have the official release signing keys for the APK and upload keys for Amazon

[2021-03-15 19:04] mikehardy opened #8235 "Handle gesture collision between full-screen drawer drag and cards"
Very interesting! Thanks for testing and reporting @TowelSniffer - I am not surprised there is an interaction issue and I appreciate the link to a use case that shows the issue.

We can
- revert (always a possibility)
- see if we can make it an advanced feature toggle (I would say default to off since interaction problems like this are difficult to describe)
- see if there is a way to make it coex

[2021-03-15 19:18] #8230 closed

[2021-03-15 19:41] mikehardy commented on #3482
It appears to have no activity since November so I believe it is fine to work on. @musiqualGeek asked first, so if they are still interested, they should have priority, else @tanmayChakrawarty sure

[2021-03-15 19:52] mikehardy commented on #8223
Getting rid of our current floating action menu and moving to supported APIs is much more important than the visual work

Here is the related issue: #4936

Unless we are doing something very difficult that cannot be implemented in the platform APIs I think this section from that related issue is the important part:

For me, step 1 is: validate that we can use the built-in androi dframework SDK API

[2021-03-15 19:53] #8166 closed

[2021-03-15 20:07] david-allison-1 commented on #8205
Could you raise another issue as an enhancement to consolidate discussion? Personally I've been considering it and would like to see it, but it'd be interesting to get other maintainer's opinions on it.

[2021-03-15 20:33] #8156 closed

[2021-03-15 20:33] 2tanayk commented on #8234
sure!

[2021-03-15 20:35] david-allison-1 commented on #8161
@Heineken You're on a version of AnkiDroid from well over a year ago. I've spent most of 2020 fixing bugs.

Would you consider upgrading to 2.14.6?

[2021-03-15 20:51] david-allison-1 commented on #8234
@mikehardy

I'm not sure I see the conflict: this relates to "Copy to Clipboard" rather than ACRA. We already get the device name/model in ACRA.

This change will become less useful if "send error report" is used for bug reports, but it'll still provide value as we won't get this from all users

[2021-03-15 20:52] david-allison-1 commented on #4292
Sure! And no need to call me sir :)

[2021-03-15 21:03] david-allison-1 commented on #8224
Okay, sounds good.

I think we'll need additional testing around String Arrays (maybe to the extent of blocking until #7794 is completed), I can see changes in the length causing problem there (especially adding in a new language where it'd be an "add" with a different length).

[2021-03-15 21:09] david-allison-1 commented on #8221
Very likely need the one from your phone. Thanks

[2021-03-15 21:10] david-allison-1 commented on #8227
I'm fairly sure I've seen this on the Samsung test lab: https://developer.samsung.com/remotetestlab/rtlDeviceList.action

I presumed it was due to bad emulation software.

[2021-03-15 21:12] 2tanayk commented on #8234
sir do I need to setup an acralyzer instance or do I use the one already setup that is:
https://918f7f55-f238-436c-b34f-c8b5f1331fe5-bluemix.cloudant.com/acralyzer/_design/acralyzer/index.html#/dashboard/

[2021-03-15 21:23] mikehardy commented on #8234
Oh no! David you are right. I am sorry, this is a different area of the codebase, there is no relation to the ACRA and the exception reporting with the WebView information (though adding *that* to the copy debug info would also be nice here :-) - I apologize. You do not need to worry about acralyzer @2tanayk for this issue, sorry for the confusion that's my fault

[2021-03-15 21:25] mikehardy commented on #8224
Mmm - good point, it may be that some cases are not solvable (string arrays as David mentions) but solving *most* cases at least in a first pass would allow merging translations back in almost all cases. String arrays do not change often, and the tool could just have an error that says "sorry, this type of merge is not possible / must be done by hand", while handling 98% (or similar) of the use ca

[2021-03-15 21:35] 2tanayk commented on #8234
ok sir so,should I do this?

[2021-03-15 21:36] 2tanayk commented on #8234
This is what the copy debug info looks like right now:

AnkiDroid Version = 2.15alpha30

Android Version = 10

ACRA UUID = 83b2e646-bd14-47eb-be63-749b0b30210f

Scheduler = std2

Crash Reports Enabled = false

DatabaseV2 Enabled = true

[2021-03-15 21:53] mikehardy commented on #8234
Yes, you may proceed and there should be no conflict with anyone else's work. Changing it to include hardware information (manufacturer, model) and (if it is possible? Also the [WebView user-agent information](https://github.com/ankidroid/Anki-Android/pull/8225/files#diff-16e6875e2e5f1fc02ccdb62ea3d1cb8c5b401a669f4931f8ebb9c403f5d1e683R143) as in the other linked issue) would be good

[2021-03-15 22:09] haran2248 commented on #8235
Can I work on this?
Also can you upload a screenshot of the issue?

[2021-03-15 22:15] haran2248 opened #8236 "Congested Card browser"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The card browser is extremely congested,The user will find it hard to read the Question and Answer while travelling etc

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
The textView in the ca

[2021-03-15 22:15] haran2248 commented on #8236
Im working on this

[2021-03-15 22:58] david-allison-1 commented on #8229
@Koorosh-J What does the latest version of Anki Desktop do? And how do we differ from this?

[2021-03-15 23:14] TowelSniffer commented on #8235
@haran2248, To describe the issue, with [this change](https://github.com/ankidroid/Anki-Android/pull/8071#issuecomment-799676820), when a user swipes right, the drawer opens as you see in the video. The issue I had is that some of my templates require [Dragging](https://ankiweb.net/shared/info/1082754005)/[Drawing](https://ankiweb.net/shared/info/379802892), and you can no longer swipe right on th

[2021-03-16 01:47] imaryandokania commented on #8151
Yes would have created pr instantly but , my old pr is yet pending for second approval,there may be conflict if i create a pr of this commit.

[2021-03-16 02:33] david-allison-1 commented on #3593
It's already been completed: https://github.com/ankidroid/Anki-Android/pull/8066 and is waiting for review, no need to duplicate the effort.

----

Agreed, focus on one issue at the time - for the most part bug fixes + automated tests will take priority over large scale refactorings because they're easier to complete, provide much more value to our millions of users, rather than a few developers,

[2021-03-16 02:35] david-allison-1 commented on #7077
Would be great to see https://github.com/ankidroid/Anki-Android/pull/7078 get over the finish line

[2021-03-16 03:14] imaryandokania commented on #8202
Yes I agree, we can work as an add-on if user requests it.For now its better to focus more on restart of all activity when theme changes.

[2021-03-16 03:50] Andrej-Adamenko commented on #8221
@david-allison-1
Here it is:
https://drive.google.com/file/d/1WQoFZhW-ivjjopB0D_Hj7oVb-ja22BtV/view?usp=drivesdk
Thanks you.

[2021-03-16 04:15] Arthur-Milchior commented on #8123
Closing this one as duplicate of the other

[2021-03-16 04:15] #8123 closed

[2021-03-16 04:38] SujyotRaut commented on #8226
It doesn't kill the app process it just closes the `DeckPickerActivity`

[2021-03-16 05:17] Arthur-Milchior opened #8239 "Saving coverage"
Automated test create a coverage report. That is, a folder with html document indicating exactly what is being tested currently and what is not. The report is saved in %AnkiDroidRoot%/AnkiDroid/build/reports/jacoco/jacocoUnitTestReport/html/index.html

The feature request consist in ensuring that the report of the current version of master is accessible online at a fixed URL. This would ensure tha

[2021-03-16 05:22] Arthur-Milchior opened #8240 "Jacoco test show coverage automatically"
Currently `./gradlew  jacocoTestReport` generates coverage in
`%AnkiDroidRoot%/AnkiDroid/build/reports/jacoco/jacocoUnitTestReport/html/index.html`. However, this coverage is hard to find.

The feature request consists in:
* If the run is successful, adding a link to this report, with the entire path, so that the user can open it in a single click and know it exists
* Having an option to open the

[2021-03-16 06:08] Arthur-Milchior commented on #8224
Thank you very much for this feedback. I clearly had no idea where it could fail.
I agree that this "first pass" idea seems nice, and seeing what are the actual failing case we encounter are will help figure out what need to be done.

[2021-03-16 06:18] 2tanayk commented on #8234
sure👍

[2021-03-16 07:12] iamvs-2002 commented on #8223
I got it. You are right, the current FloatingActionMenu library is abandoned.
The Github link for the library you have provided, it could be used. Else, an extended floating action button could be implemented from scratch I guess?

[2021-03-16 07:42] #7937 closed

[2021-03-16 08:02] Heineken commented on #8161
Hey David,
Thanks for the info. I avoid Google Stuff and rely on FDroid to keep my apps up to date. I know it lags behind, I didn't think a whole year.

I don't verify the version numbers manually. I should have before filing her, though. Sorry guys!

Anyway, I'm impressed by the response!

[2021-03-16 08:02] #8161 closed

[2021-03-16 08:04] Arthur-Milchior commented on #8236
Hi,

First, thanks a lot for the suggestion. I'm used to the app and so I don't notice problem anymore with UX. This kind of feedback is really cool.
When you do a feature request, can I please ask you to remove the description of the section. Reading "A clear and concise description of what you want to happen." do not actually help. Which is paradoxal given the change you wanted to make :p

[2021-03-16 08:23] david-allison-1 commented on #8161
Very welcome!

@Heineken

Do check out our changelog, just to ensure you don't miss anything: https://docs.ankidroid.org/changelog.html

F-Droid should have an auto-update function somewhere, other users definitely do use it. releases lag behind Google Play by a few weeks worst case (down to their infra), but it's definitely not years

[2021-03-16 08:51] asabir123 opened #8241 "[Bug] Text"
###### Reproduction Steps
Hi,
I have put in a type in answer box where i can type in the answer, I have inlcuded images below. Whenever, I click the show answer button, the answer comes twice (1st with the question and 2nd below the questions in its normal space). Can you please help.

![Screenshot 2021-03-14 at 9 23 53 PM](https://user-images.githubusercontent.com/80747952/111281382-c9faa480-8634

[2021-03-16 09:07] HuixingWong commented on #8235
I think I know what's going on because the card is a WebView, and it is easy to fix this

[2021-03-16 09:19] david-allison-1 commented on #8241
Hi,

You want

[code]

on the back.

Best,

David

[2021-03-16 09:31] Arthur-Milchior opened #8242 "Requesting user to translate"
The people who may be most interested and able to translate AnkiDroid are our users.

I suggest to add a message to users, after their thousands review, asking them to contribute to the translation if the translation is not complete.
Waiting a thousand review ensure that people have actually used the app, and that we are not asking to people who just opened it for the first time.

In practice, I s

[2021-03-16 10:00] Arthur-Milchior opened #8243 "Decoupling CardViewer and card content"
Currently, the `AbstractFlashCardViewer` is very coupled with actual card content. For example `mCardContent` contains the question/answer text to be displayed as html, `mSoundPlayer` contains all sounds which are going to be played...

This mean in particular that it is currently impossible to do any work in advance, in background, since computing the list of sound is equivalent to playing it, an

[2021-03-16 10:05] Arthur-Milchior opened #8244 "Multiple webview: Preparing a card in advance"
In https://github.com/ankidroid/Anki-Android/issues/7902 Mike suspect that it is not possible to have multiple webview. I never had the time to test myself.

It would be great if someone could check whether it's possible to:
* create two webview
* displaying one
* switching between both

The long term goal, if possible, is to prepare webview in advance, so that we could pre-load the next question

[2021-03-16 10:09] Arthur-Milchior commented on #8205
Added https://github.com/ankidroid/Anki-Android/issues/8242 which seems a related improvement

[2021-03-16 10:22] IAmJaishree commented on #2609
Should we include this option to choose the default option which will be selected in case of "automatic display answer" in the settings?

![image](https://user-images.githubusercontent.com/58835654/111293466-4f02af80-866f-11eb-8c54-42e637279679.png)

Here we can show these options:
"Easy (or Good if Easy is not an option)"
"Good"
"Hard (or Good if Hard is not an option)"
"Again"

[2021-03-16 11:00] Koorosh-J commented on #8229
Thank you for your suggestion, but this template work good on my desktop version my template is simple and looks like this:

Front Template:
----------------------------------------------
<div>{{cloze:Blanked_Text}}</div>
<br>
<div>{{Words_Suggest}}</div>
<br>
<div>{{type:cloze:Blanked_Text}}</div>

Back Template:
----------------------------------------------
<div>{{cloze:Blanked_Text}}</div>
 <b

[2021-03-16 11:02] IAmJaishree commented on #8244
Going through this stack overflow answer, I think it will be possible to do this. I am interested in working on this.
https://stackoverflow.com/questions/15014816/preload-url-in-webview-in-the-next-activity

[2021-03-16 11:02] Koorosh-J commented on #8229
Both android and desktop versions are the latest.

Desktop: 2.1.35
Android: 2.14.6

[2021-03-16 11:50] AbdelrahmanHamdy1998 commented on #2609
Sorry for intefering with your work, but I think adding an option would be great, as it will stop (future posts) about (I want to change the answer from good to again) so I think it will be better to make it up to personal preference and thanks for your great work

[2021-03-16 12:14] Arthur-Milchior commented on #8244
Thanks a lot. I'd really appreciate it

[2021-03-16 12:27] bhatushar commented on #8180
@david-allison-1 @mikehardy I'm stuck on a problem and could use some help.

So, I found out that `DeckOptions` was saving the changes no matter what the `setResult()` parameter is. This is because `DeckOptions` was not started with `startActivityForResult()` inside `DeckPicker` class.

I know the final modifications need to be made inside `onActivityResult()` of `DeckPicker` such that changes are

[2021-03-16 12:56] TarekkMA commented on #8243
Seems like a good task, I would like to try tackling this issue.

[2021-03-16 12:59] haran2248 commented on #8236
Haha,I made this PR at 3 am in the morning didnt pay close attention to it,will make sure it doesnt happen again!The heading is required though right?

[2021-03-16 13:14] haran2248 commented on #8235
Ohh i got it now!So basically in such fragments/activities we can try to disable the navigationDrawer with swiping left?Is that a correct approach?Do you have any other ways to solve this problem?

[2021-03-16 13:19] HuixingWong commented on #8235
I have a better solution I'll push later

[2021-03-16 13:31] haran2248 commented on #8235
Can you discuss your solution?

[2021-03-16 13:37] HuixingWong commented on #8235
WebView's scroll event is different with other view,  can solve this problem on webView's onOverScrolled method

[2021-03-16 14:02] mikehardy commented on #8239
This exists. We get it for free with our codecov integration
https://codecov.io/gh/ankidroid/Anki-Android/tree/master/AnkiDroid/src/main/java
bookmark that link, view whatever files you like...

[2021-03-16 14:02] #8239 closed

[2021-03-16 14:04] mikehardy commented on #8242
I like this idea, but why not keep it simple?
English translations are not needed so, this simple rule?

- If we are starting up
- If the user interface language is not English
- If we have not shown the "help us translate" dialog yet
- If the user has more than 1000 reviews
- Note in preferences that we have shown the "help us translate" dialog and show the dialog

[2021-03-16 14:10] Arthur-Milchior commented on #8242
[code]
Is it what you meant? I had trouble understanding without the then. Especially since you first note you showed the dialog and then showed it.

That's fine by me. Slighty useless to show it when translation exists. But maybe cool if people understand what free software really mean.

[2021-03-16 14:11] Arthur-Milchior commented on #8239
Thanks so much. I thought David stated that it only existed with comand line

[2021-03-16 14:16] mikehardy commented on #8236
This was not accepted as something to work on, and should not have been started without consultation

[2021-03-16 14:18] mikehardy commented on #8151
Handling conflicts between multiple PRs in flight, and being able to rebase one PR (solving conflicts) after another has merged is a core developer skill. You should not fear multiple PRs in flight at once, please propose a real PR so we can see it, I will make no attempt to publish an APK that was not built from source I can see

[2021-03-16 14:22] infinyte7 commented on #7077
I have tested on 5000 notes Anki deck (HSK word list) with audio.
1. Importing of the deck **without media files** complete in around **14 seconds**, then I copied media file manually
2. Importing of the deck **with media files** complete in around **8 minutes**
These times may be change depending on decks and note type.

So, here may be if large deck there then exporting deck without media and im

[2021-03-16 14:22] mikehardy commented on #8239
I think it's just much faster to view it in the command line when you are actually developing locally.
But when you are reviewing things or inspecting things, I integrated codecov.io specifically for this reason: they've got the reports online (with tracking of change over time even...) so you can look at other branches, PR results etc

[2021-03-16 14:25] mikehardy commented on #8242
In every translation except maybe 2 there are missing strings, and we add strings all the time, so I think it's a lot of complexity with little benefit

And yes! That's the pseudo-code I meant. I want to save in preferences first - and know it's saved - just for the 0.00001% case where for some reason the app crashes and we get it into some terrible loop of showing the dialog every time. Saving th

[2021-03-16 14:31] Arthur-Milchior commented on #8239
Feel free to disagree with https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#code-coverage if you disagree.
I really hope we can get more coverage. So that we can get more people starting on it. And probably that having an already made list will help start. That's all

[2021-03-16 14:37] Arthur-Milchior commented on #8242
I'm fine with it. If user starts complaining, we can always change in update later. But seems to make perfect sens. Just have to wait until someone work on it. (That's so strange to think it's a realistic idea)

[2021-03-16 14:43] mikehardy commented on #8239
That chunk of documentation looks great, thank you!

[2021-03-16 14:49] haran2248 commented on #8236
Oh im sorry!I should have consulted with you before.Can you explain what is wrong in this issue? I thought it made sense.

[2021-03-16 15:13] LittleFish33 commented on #8229
@david-allison-1  In the original file, the project uses `set<String>` to save the correct answer to use for {{type::cloze::NN}} fields (refer to the `private String contentForCloze(String txt, int idx) ` function in AbstractFlashcardViewer.java). In this case, {{cloze:Text}} ignores repeated words because there cannot be duplicate elements in a set. Therefore, I change the type from `set<String>`

[2021-03-16 16:03] eginhard commented on #8203
@Akshay0701 Just for completeness because you mentioned you have already translated half of the files to Marathi and I don't see that on the CrowdIn platform. You should enter all your translations directly here: https://crowdin.com/project/ankidroid/mr

You should not edit the values-mr/*.xml files yourself, these are updated automatically. The updated strings will then appear in the app in a fut

[2021-03-16 16:07] bhatushar commented on #8180
@david-allison-1 @mikehardy Can you tell me in which code section the deck options are being committed to the database? As it is now, having `setResult(RESULT_CANCELED)` inside `DeckOptions.closeWithResult()` still saves the results.

I tried going through the parent activity `Reviewer` but couldn't find any control branch that might be responsible for storing data.

[2021-03-16 16:16] Akshay0701 commented on #8203
@eginhard thanks a lot , i will add my translation to above link you given,i have more than half translated files in my locale machine , i will add them as soon as possible  :)

[2021-03-16 16:46] mrudultora commented on #8210
@david-allison-1 This `execute` method is called on clicking the item in **Help** and it has only one parameter. I thought of adding a second parameter but it was not making sense. I need the title of the item selected from **Help** dialog box. This is the only place where I can add analytics, but I am unable to get title of that item. Please throw some light in this context.
https://github.com/an

[2021-03-16 17:59] infinyte7 opened #8247 "[Bug] Changing note type in note editor make fields non clickable"
###### Reproduction Steps

1. Open deck
2. Edit note
3. Change note type
4. Click on fields, it is not clickable
5. Change type to original note type now fields are clickable.

###### Expected Result
It should make other fields clickable in note editor when note type change.

###### Actual Result
It is not making fields clickable.
<img src="https://user-images.githubusercontent.com/12841290/111357

[2021-03-16 20:31] david-allison-1 commented on #8244
Is this only about generating a WebView instance (unsure if we can we have two - needs investigation), or does this also include loading card content?

As soon as we load card content and execute JS, anything such as user-based timers will be off.

[2021-03-16 20:36] #8235 closed

[2021-03-16 20:48] david-allison-1 commented on #8210
The problem with using the name is that it'll be variable depending on the language. I'd use a different ID: a hardcoded string

----

Note sure if you appreciate me throwing out a design here, if you'd rather work through it yourself, please let me know. Autonomy when making fixes is fantastic :)

* Edit `Item.java`
* Add an abstract method: String getAnalyticsId()
  * Implement it for the derive

[2021-03-16 21:03] david-allison-1 commented on #8247
This is semi-intentional - changing note type is intended to allow a user to select "Field A goes to Field B in he new note type" - try it out with a note type with multiple fields, this doesn't work as well if the user can also edit the fields.

That being said, the UX is bad, and could do with fixing. We could patch this up by greying out the fields.

[2021-03-16 21:09] david-allison-1 commented on #7077
What about the time to check media?

[2021-03-16 21:12] david-allison-1 commented on #8229
Thanks! Would also be great to get an automated test to ensure we don't get a regression here.

[2021-03-16 21:31] david-allison-1 opened #8249 "Document searching legacy Google Code Issues"
This should take < 1 hour to do.

----

Before GitHub, we used [Google Code](https://en.wikipedia.org/wiki/Google_Developers#Google_Code) to track issues

It is sometimes useful to look up past issues in the old issue tracking system, the issues have been migrated to GitHub, but a specific search query in GitHub will find this issue.

I would like instructions in the developer guide (near the bott

[2021-03-16 22:50] david-allison-1 commented on #8180
Not too familiar with this screen

Should be:

https://github.com/ankidroid/Anki-Android/blob/7404c67eb80298b686d52de79b807c34363878df/AnkiDroid/src/main/java/com/ichi2/anki/DeckOptions.java#L193

Run the code under a debugger, set a breakpoint there and see what the call stack is.

[2021-03-17 01:43] Arthur-Milchior commented on #8244
This feature request is only about investigating that it is possible, asking for a proof of concept, someone showing it works. I mentioned loading because that's the reason I'm asking for it, that's my goal. We already discussed the trade of in #7902.

[2021-03-17 02:05] imaryandokania opened #8252 "[BUG] Progress Dialog of NoteEditor extra space"
###### Reproduction Steps

1. Go to "add notes"
2. after adding all details try to save them
3. The progress Dialog will appear with some issues.

###### Expected Result

![Screenshot_1615946584](https://user-images.githubusercontent.com/61244704/111403480-27eec100-86f5-11eb-8768-223f18101ec3.png)

###### Actual Result
![Screenshot_1615822428](https://user-images.githubusercontent.com/61244704/111

[2021-03-17 02:44] Arthur-Milchior commented on #8252
I'm sorry, but I fail to follow what's going on here. You write "add deck option", but you show "add note" screen shot.
I tried "+" then "create deck" and that still works on my phone
I also tried to change deck option and it seems to still work. I'd really like more specific description.

[2021-03-17 02:47] imaryandokania commented on #8252
Yes it was a typo error sorry again, this problem is similar to what was in login page , the title is filled with spaces , the new version require it to be null

[2021-03-17 04:07] bhatushar commented on #8180
@david-allison-1 That doesn't seem to be it.

`commit()` is called when a preference is changed but the data is saved when we exit the deck options activity. This is the tread dump when `commit()` is called:

[code]

Do you know anyone who might be familiar with working on `DeckOptions`?

[2021-03-17 05:29] Ekagra commented on #8247
I want to work on greying out the fields if nobody's working on it, if that make sense.

[2021-03-17 06:06] david-allison-1 commented on #8247
Personally, I'd be happy with it, but I think we should see what other maintainers think.

Maybe we'll want a larger redesign of the screen rather than patching the issue.

[2021-03-17 06:09] Ekagra commented on #8247
ok sounds good

[2021-03-17 06:25] #8172 closed

[2021-03-17 06:37] jindalshiva commented on #7913
Can I work on this issue?

[2021-03-17 08:25] david-allison-1 commented on #7913
Thanks!!!!

[2021-03-17 09:19] david-allison-1 commented on #8224
Agreed - failing on string array changes seems like a sensible workaround.

I expect our only future changes will be to get rid of them from our translatable input, and salt the earth

[2021-03-17 09:31] jindalshiva commented on #7913
Hi @david-allison-1, Can you tell me more about the issue? Like, when the user enables TalkBack, then we need to track his/her movements with ankidroid.

[2021-03-17 09:51] VamsiKrishnaCommits commented on #6772
Can I work on this? this seems to be a useful feature @david-allison-1

[2021-03-17 10:31] IAmJaishree commented on #8244
Is there any specific requirement that I should investigate as part of the prototype?
Or I can just go with using two webviews where the next webview will be hidden(but will still load) and after pressing some button this second webview will be visible and the first one will be hidden?

I can check and confirm that the hidden webview starts loading before making it visible.

[2021-03-17 10:40] TarekkMA commented on #8249
Implementing it as a custom search in Google Chrome directly, wouldn't be feasible. The old issue ID not found in the URL. so we can't know that 2208 points to 3105 right away.

- We could scrap all the migrated issues and extract the old gc id and the new gh id.
- Build a GitHub static site with the mapping of these issues, using JavaScript.
- So for example the url of the static site would be: h

[2021-03-17 10:40] TarekkMA commented on #8249
This task seems interesting, if my proposal is okay, I would love to give it a try

[2021-03-17 10:53] david-allison-1 commented on #8249
A search engine will work:

`https://github.com/ankidroid/Anki-Android/search?q=%22Originally+reported+on+Google+Code+with+ID+%s%22&type=issues`

https://github.com/ankidroid/Anki-Android/search?q=%22Originally+reported+on+Google+Code+with+ID+2208%22&type=issues

[2021-03-17 10:56] infinyte7 commented on #7077
xiehanz_hsk5 anki decks 1300 notes
Unzip time for 1300 + additional 10 files: around 16 seconds
Copy files to AnkiDroid: around 18 seconds

Extract directly to AnkiDroid collection.media folder: 16 seconds

[2021-03-17 10:58] TarekkMA commented on #8249
Oh, I wasn't using quoted search terms, that's why my results looked unreliable.

[2021-03-17 10:59] david-allison-1 commented on #7913
It'd be useful to pick one of the 4 issues defined in the original post, break it off into a separate GitHub 'issue' and solve it.

If you haven't used TalkBack before, the first step would be to download both the app (and use the tutorial) and download the TalkBack code samples from Google.

It integrates with AnkiDroid already, we don't need to handle detecting swipes, but we do need to define t

[2021-03-17 11:02] david-allison-1 commented on #8249
No worries! It wouldn't be worth doing for anything more complex - it's something that occurs rarely, and has value, but not enough to expend hours of dev effort on.

[2021-03-17 11:26] infinyte7 commented on #7077
Check media time after manually copying files: 6 seconds

Creating zip file extracting it not ideal because file name get replaced with garbage character when extracting in phone. So, I copied from pc to phone.

[2021-03-17 11:36] infinyte7 commented on #7077
Above test are not standard. Each test may need to used fresh install of app. I have created a list for testing. Testing manually will take time.

Time comparison for:-

**Import deck**
1. With media and scheduling info
2. Without media and with scheduling info
3. With media and without scheduling info
4. Without media and without scheduling info

**Export deck**
1. With media and scheduling info

[2021-03-17 12:03] david-allison-1 commented on #6772
This was part of a GSOC project - https://github.com/ankidroid/Anki-Android/wiki/GSOC-proposal-2021#csv-import

Let me check with the other maintainers - ideally it's an enthusiastic yes, but I'd want to make sure it's okay, as it may get in the way of other proposals.

[2021-03-17 12:10] Akshay0701 commented on #4936
do you want to change floating action button completely from deckpecker activity ? , i would love to do that with `FloatingActionButtonSpeedDial` Android library,can i take this issue to work on ?

[2021-03-17 12:52] Akshay0701 commented on #4936
i liked `FloatingActionButtonSpeedDial` because it gives option to add floating button items from java code as well , so we don't required xml file with name `floating_add_button.xml`, let me know what your thoughts in this library : )

[2021-03-17 12:58] tanmayChakrawarty commented on #4292
Hello, @david-allison-1 I want to know whether it will be good to add zoom-in, zoom-out buttons at the bottom right corner in the reviewer.

[2021-03-17 13:21] david-allison-1 commented on #4292
I don't feel that would go down well with our userbase. I personally feel they'd get in the way of content.

[2021-03-17 13:27] david-allison-1 commented on #4936
Could you link to the library so we can evaluate it?

If you're referring to https://github.com/leinardi/FloatingActionButtonSpeedDial, then it doesn't seem maintained (no commits since 2019, with 31 open issues)

[2021-03-17 13:29] tanmayChakrawarty commented on #4292
Can you tell me where can I find the pinch to zoom-in and zoom-out feature code in the codebase?

[2021-03-17 13:37] david-allison-1 commented on #4292
It should be part of the WebView by default. Our code will be in `AbstractFlashcardViewer`/`Reviewer`.

The first stage would be to confirm if the issue is still relevant. It appears from a first glance that zooming works as expected.

[2021-03-17 13:40] 2tanayk commented on #8207
I too was about open an issue for this,glad I looked it up :)

[2021-03-17 13:51] 2tanayk commented on #8133
@MelnikovAleksey is this still an issue,it would be if you provide more details so that me or any other developers here can help 😄

[2021-03-17 13:55] Akshay0701 commented on #4936
Thanks for addressing that , could you please suggest some stable library for `floatingActionMenu `

[2021-03-17 14:00] 2tanayk commented on #8114
will do the work on the notifications thing, let me reproduce the issue and I will get started then 👍

[2021-03-17 14:01] mikehardy commented on #4936
Let's not use a library, I think they are all abandoned because people are just using the apis in the standard libraries

[2021-03-17 14:03] Akshay0701 commented on #4936
then what would be solution for this according to you @mikehardy ?

[2021-03-17 14:12] mikehardy commented on #4936
I linked an issue here a couple days ago: please see the discussion there, and yes the idea is to not use a library. #8223 - it may be that someone is already contemplating working on that, per discussion on that issue

I definitely do not want to adopt an abandoned library, and I do not think our use case is so fancy that we can't just use the android APIs directly based on what I have seen

[2021-03-17 14:33] Akshay0701 commented on #4936
okay i understood we shouldn't use abandoned library ,i think inbuilt google.Material FABs will be good option
(https://material.io/components/buttons-floating-action-button) ,this don't require any external library, it is supported by android sdk.

[2021-03-17 15:03] 2tanayk commented on #8114
Thanks for assigning me this issue @david-allison-1 sir!
It would really be great if you provide me with a bit of guidance for this issue as I do not know much about the `notifications sub-system` (although I will search and start studying the code as soon as possible).
Just brief me about any key aspects of how it works right now, Thanks in advance!

[2021-03-17 15:08] mrudultora commented on #8150
@mikehardy I tried extending DayNight theme, but app crashed in almost every activity I opened. In almost all the cases there was an error inflating **xmls** (It happened due to attributes in one case). What are your suggestions on this ?

[2021-03-17 15:13] TarekkMA commented on #4911
I would like to work on this one, if it's still a wanted feature.

I will make a change to the tags dialog, will add another state that will be visible, if multiple notes are selected.
* Checked: if all notes have that tag
* Unchecked: if all notes don't have that tag
* Intermediate: if some notes, have this tag and other don't
    *    clicking on it will change it to checked/unchecked, setting t

[2021-03-17 15:53] Arthur-Milchior commented on #8244
I'd appreciate if the second webview can contain high quality image and complex math jax. This would ensure that pre-loading is actually useful, and that we load a card which is actually already fully displayed.

Appart from that, I've no requirement.

[2021-03-17 16:00] Arthur-Milchior commented on #2609
"Easy (or Good if Easy is not an option)"
"Good"
"Hard (or Good if Hard is not an option)"
"Again"

Fine for me

[2021-03-17 16:24] Arthur-Milchior commented on #8176
Put whatever number you want. I don't know how you can review more than 9999 cards in a day, so having a random selection of 9999 cards do not intuitively seems to be a problem, but that's you call.

Does it solve your problem? can we close?

[2021-03-17 16:28] VamsiKrishnaCommits commented on #8176
Yeah you can close it , it makes more sense now

[2021-03-17 16:29] #8176 closed

[2021-03-17 16:42] tanmayChakrawarty commented on #4292
Double-tap to zoom is not working but the pinch to zoom is working perfectly.

[2021-03-17 17:49] IAmJaishree commented on #8244
@Arthur-Milchior  @david-allison-1  I have tried this  it's working fine, two WebView are loading parallelly, the second WebView is hidden initially. Please see the following video.

I have added the toast messages "first page loaded" and "second page loaded" which appears when the page gets loaded completely.

Please ignore the time it takes to start the app(the emulator was running slow).

https

[2021-03-17 17:50] eginhard opened #8259 "UI support for right-to-left (RTL) languages"
This is an umbrella issue to track right-to-left (RTL) language support improvements in the AnkiDroid UI (as opposed to showing cards with RTL content).

**We would love any help taking specific items from this and implementing them!** Especially from people who can at least read a RTL language like Arabic, Farsi, Hebrew or Urdu and have experience with using apps in these languages. However, it i

[2021-03-17 17:52] eginhard commented on #4419
This specific issue of RTL text in the deck description seems to be solved. I opened #8259 instead as a general tracker for RTL support. As far as I can tell, the following text is shown as expected without adding any further markup:

![ankidroid](https://user-images.githubusercontent.com/5216613/111510263-e807f800-874d-11eb-9379-b1fb3ae1a10a.png)

For Anki Desktop it needs to be wrapped like this

[2021-03-17 17:52] #4419 closed

[2021-03-17 17:53] IAmJaishree commented on #8244
I am sharing the snapshot of code for more information.

Activity Code:
**idwebOne and idwebTwo are the two webViews**

![image](https://user-images.githubusercontent.com/58835654/111514086-69c04b80-8777-11eb-9e74-9bc6e03d6558.png)

layout file:
![image](https://user-images.githubusercontent.com/58835654/111514370-ad1aba00-8777-11eb-9206-93b0c4b72055.png)

[2021-03-17 18:03] IAmJaishree commented on #8243
@Arthur-Milchior  do you have any suggestions or ideas for its implementation in mind already or it's a free path to explore?
I would like to work on this issue.

[2021-03-17 18:26] quentinjs commented on #8019
I can't fix but I provide business experience on good UX design If you
don't want it then I can waste my time more enjoyable ways.

On Tue, Mar 16, 2021, 15:44 github-actions[bot], ***@***.***>
wrote:

[2021-03-17 19:08] irshadmd commented on #8259
I would like to work on this, I know Urdu and Arabic too

[2021-03-17 19:20] mrudultora opened #8260 "Moving Support AnkiDroid to Navigation Drawer"
**Is your feature request related to a problem? Please describe.**
As we are not having translations (may be users are not interested or they don't know about this option that they can contribute), some changes should be done.

**Describe the solution you'd like**
 I think we should move **Support AnkiDroid** to Navigation Drawer (we can just experiment with different things and then only we could

[2021-03-17 19:37] oddlyspaced commented on #8260
I would love to work on this

[2021-03-17 19:41] mrudultora commented on #8260
@oddlyspaced Hi, as of now this issue is opened to get views of all the members. So, please don't work on this now. Let's wait for there views.

[2021-03-17 19:42] oddlyspaced commented on #8260
Sure! @mrudultora

[2021-03-17 19:43] jportoles commented on #4699
@Arthur-Milchior no, did not have time unfortunately, feel free to go ahead.

[2021-03-17 19:44] mrudultora commented on #5024
@david-allison-1 I was not knowing much about **emulate shift**. I searched and found out that this used in webview for copying text to clipboard. but, this feature is already present (I tried in API24 and above). Is it missing in previous APIs?

[2021-03-17 19:50] mrudultora commented on #7910
@david-allison-1 I want to work on it. What is the preferred choice here ? The one asked in beta feedback or the one suggested by oakkitten.

[2021-03-17 20:09] TarekkMA commented on #8259
Sorry, @irshadmd. I talked with @eginhard about me taking this issue on discord.

[2021-03-17 20:14] TarekkMA commented on #8259
@eginhard I have figured out why the UI wasn't reacting to being changed to an RTL locale. We needed to explicitly state that we want to support RLT.

Both issues you linked will be solved with the PR I posted. There will still be some work to do to support RTL completely as some of the xml designs is hard coding the directionally.

[2021-03-17 20:21] Arnold2381 commented on #4925
Hey @david-allison-1, can I work on this?

[2021-03-17 20:25] Arnold2381 commented on #3896
@mikehardy can u elaborate more on what needs to be done?
I want to work on this.

[2021-03-17 20:36] haran2248 opened #8262 "Replacement of SeekBarPreference with IncrementerNumberRangePreference"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Dragging the SeekbarPreference can be replaced by just typing in an editText or incrementing the values in the field

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
The Seekbar Preference can be replaced wi

[2021-03-17 21:10] eginhard commented on #8259
@irshadmd @TarekkMA Thanks both of you for volunteering, previously there weren't any contributors at all with the relevant language knowledge! It's nice to see that updating the manifest is already a big improvement, but I expect there will still be other more subtle issues and I'd suggest to work together on those.

You could go through the app together with the change in #8261 and decide how to

[2021-03-17 21:21] TarekkMA commented on #8259
Okay no problems, we can merge #8261 then move on to fixing other issues. I will fix the issue with DeckPicker and the wrong back arrow direction in study options. and @irshadmd make sure to tag me in your PR

[2021-03-17 21:41] Heineken commented on #8161
My FDroid does check for updates automatically and I install all of them every one in a while. It claims to have updated AnkiDroid 3 days ago. I don't remember, anyway, the only version that is offered is 2.9.4.

I'll update manually via browser download.

[2021-03-17 22:12] irshadmd commented on #8259
okay sounds great🚀

[2021-03-17 23:00] Heineken commented on #8161
I couldn't update without uninstalling first, because of a conflict with an packet installed under the same name. So, for FDroid it's a different app.

Once had the same issue when QuickDic was forked. Looks like I missed something big here.

[2021-03-17 23:24] david-allison-1 commented on #8161
If you have the time, could you raise an issue/support query on F-Droid's side and keep us in the loop in case there's anything that we need to do - we're definitely on 2.14.6 (latest) on the main F-Droid page: https://f-droid.org/en/packages/com.ichi2.anki/

https://gitlab.com/fdroid - unsure about where to submit an issue. I don't believe we were forked/changed signing keys (@mikehardy should be

[2021-03-17 23:36] Heineken commented on #8161
Hey David,

I do have the time, but I hesitate, because I got the update error when trying to install the apk independently from the FDroid app. I downloaded it from fdroid.com, though.

I don't really know how this signing works. Is the apk on FDroid the same as on Google Play or is is signed for/by FDroid?
AFAIK, an app installed via Google Play is recognized and can be updated by FDroid. Not vi

[2021-03-17 23:49] david-allison-1 commented on #8260
I've been considering this for a few versions. I like it, but wait for a little more discussion

[2021-03-17 23:59] david-allison-1 commented on #5024
I don't use this feature, I doubt many people do, so there'll be some investigation

I'm going to add an issue to add analytics to see if anyone uses this feature - there may be arguments for completely removing it. I wouldn't prioritise this for 2.15 unless there's a specific desire to work on it, as it might be worth scrapping the feature.

----

This seems to be the source article from the code

[2021-03-18 00:07] david-allison-1 opened #8263 "Add Analytic event for "Lookup Dictionary" (see if we can remove it)"
I don't think the feature is used. It's 10 years old, esoteric, hard to access, and probably deprecated by the share/system context menu.

It adds complexity to `AbstractFlashcardViewer`, and may be better as a separate app to allow system-wide usage, instead of an AnkiDroid specific feature.

I would like an analytic event to see if users still use it, to argue for its removal in 2.16

Likely ent

[2021-03-18 00:08] david-allison-1 commented on #5024
I'll soft block this on releasing #8263. If there's a specific desire to work on it, then it's still open, but I intuit we can delete this code.

[2021-03-18 00:11] david-allison-1 commented on #3896
It'd likely be best to find another issue to work on until 2.15 is out. I think we'll be able to remove this feature: #8263

This would involve extracting strings to resource files, see: https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#adding-translations

[2021-03-18 00:14] david-allison-1 commented on #8262
Copied from my comment on Discord

[2021-03-18 00:44] Arthur-Milchior commented on #8224
Answering a discord question by @ritvij14 :

You can start working on it already.
It is possible, but far from sure, that you may have a problem with arrays, as array will be harder to merge correctly than strings. In the worst case, you'll be blocked, and this is a warning that if you're block, then we can't yet tell you when it get merged.

But if you are able to do a good PR even with the array

[2021-03-18 00:49] david-allison-1 commented on #4925
@IAmJaishree, sorry, I missed the message, are you still interested?

Otherwise, sure!

[2021-03-18 02:26] mikehardy commented on #8161
Fdroid builds from source and signs it themselves. I don't think there is any cross compatability between installs as the certificates used to sign the apk must match. I also maintain an apk updating library for react-native (https://github.com/mikehardy/react-native-update-apk/) so I'm pretty sure on these points as I've tested all scenarios (and failed plenty, while learning)

However if you uni

[2021-03-18 02:29] david-allison-1 commented on #7910
Interestingly, GMail doesn't have this feature, which makes me pause and ask 'why', but both solutions seem good to me on the surface.

To be honest, whatever you feel would be more effective. I don't have a strong opinion.

If oakkitten says that both work well in their apps, then I'd be happy with both. If you just want to pick one for now, and leave another for another issue, that'll also work.

[2021-03-18 02:32] ritvij14 commented on #8263
I went through the code for `Lookup.java`. And looking into `AbstractFlashcardViewer` I understood that this class is being initialized during loading of the collection (when the user starts using the flashcard deck). And Lookup was being used as a dictionary for translation. (please correct me if I am wrong in understanding this part).
I also had 2 doubts, one, that this is the same analytic even

[2021-03-18 02:38] david-allison-1 commented on #8263
We'd remove it - I don't think the feature's used at all.

----

[code]

Pending further explanation by @mikehardy (I'll add this to the Development Guide, or code, as I wasn't aware and learned in passing a few days ago)

The first argument is the category, and we may have a finite number of these(?), so we may want to standardise the input of this value

[2021-03-18 02:47] ritvij14 commented on #8263
Ok got it.

Oh, you mean in the development guide to AnkiDroid right?

Also, when adding a new analytics event, how do we know that it has been added correctly?

[2021-03-18 02:54] #7994 closed

[2021-03-18 04:13] Arthur-Milchior opened #8264 "[Bug] Notification service crash the app if it runs during sync"
###### Reproduction Steps

0. Turn on notification
1. Reinstall AnkiDroid
2. Start ankidroid
3. Sync

###### Expected Result

Syncing.
A notification.

Not crashing

###### Actual Result

Crash with the stacktrace:

    Process: com.ichi2.anki, PID: 22370
    java.lang.RuntimeException: Unable to start receiver com.ichi2.anki.services.ReminderService: java.lang.NullPointerException: Attempt to inv

[2021-03-18 04:35] imaryandokania commented on #8264
I have gone through some blogs , the receiver class need to be static https://stackoverflow.com/questions/4391974/is-it-possible-to-define-a-broadcast-receiver-as-an-inner-class-in-manifest-file/4392499#4392499

[2021-03-18 04:37] VamsiKrishnaCommits commented on #8264
Don't you think it is a different use case in the blog ?

[2021-03-18 04:40] imaryandokania commented on #8264
If it is not static then it would surely give null exception when the initial sync starts. Rest I am trying some alt options.

[2021-03-18 04:42] jindalshiva commented on #7913
If I pick up the first issue, then if a user is pressing any button and data elements, then TalkBack should speak its contents.

[2021-03-18 04:44] IAmJaishree commented on #8264
Based on the logs this getDb() function is returning null object

![image](https://user-images.githubusercontent.com/58835654/111574576-bedd7b00-87d2-11eb-83af-dc0e6343ca61.png)

[2021-03-18 04:47] imaryandokania commented on #8264
But its already in try/catch🤔

[2021-03-18 04:49] IAmJaishree commented on #8264
@imaryandokania it is in try catch but it is only catching SQLException and not NullPointerException which is the actual cause of this issue

[2021-03-18 04:50] imaryandokania commented on #8264
Could you keep Exception e instead of SqlException and try

[2021-03-18 04:51] VamsiKrishnaCommits commented on #8264
We should ask the maintainers the reason behind using sqlite exception before proceeding. I am sure there is some reason.

[2021-03-18 04:52] IAmJaishree commented on #8264
that will certainly fix the error but we do need to find why this is happening and is adding the try catch is the only option or we can come up with the better approach.

[2021-03-18 04:52] IAmJaishree commented on #8264
that will certainly fix the error but we do need to find why this is happening and is adding the try catch is the only option or we can come up with the better approach.

[2021-03-18 04:54] imaryandokania commented on #8264
I think the reason is that when sync starts the notification service is getting called even before server is providing data .  Could be possible one!

[2021-03-18 04:54] haran2248 commented on #8262
ohh ok ill try to work on that.Is there any other issue of that sort?

[2021-03-18 04:55] VamsiKrishnaCommits commented on #8264
Also it will only make the error disappear but what we need to is to make sure the function is running so that the sync can be performed.

[2021-03-18 04:56] imaryandokania commented on #8264
We can analyze by using printStackTrace()

[2021-03-18 05:34] Arthur-Milchior opened #8265 "[Bug] Sync failing"
Full sync fails. Currently, I try to force upload. My main deck Everywhere has got 1550 review and 55 cards (so 1605 cards) in learning on ankidroid and 1770 green cards on ankiweb (review+learning).

This occurs just after https://github.com/ankidroid/Anki-Android/issues/8264 and after https://forums.ankiweb.net/t/full-sync-failed/8449/2 but since it's a full sync, I don't see how it could really

[2021-03-18 05:34] oddlyspaced commented on #8260
Instead of just moving the option, we can possibly add an alert dialog when the user launches the app presenting them the option to ask for translation and everything related to it. The alert dialog can be shown after a while when the user has used the app. Like about 10-20 launches or whatever threshold we set.

[2021-03-18 06:03] Arthur-Milchior opened #8266 ""NOT_FOUND_DECK_ID" should be deleted."
"NOT_FOUND_DECK_ID" is used in DeckPicker. It is potentially set as preference for browserDeckIdFromDeckPicker . However this value is never read. Which lead me to suspect that REQUEST_BROWSE_CARDS request is entirely useless. Should be investigated.

This should wait for #8196 to be merged first so that the constant is not used

[2021-03-18 06:03] Ekagra commented on #8265
Is database the problem for this issue ?

[2021-03-18 06:06] Arthur-Milchior commented on #8243
If you're not already working on something else, I'll happy give you this task.

I do not have anything specific in mind.
I assume that ideally, we should have a data structure which contains all the informations needed to display card content. That is:
* the text (css + html)
* the media player with media filled, not yet playing
* if it's an answer, the number of buttons to show
* Anything else I

[2021-03-18 06:08] Arthur-Milchior commented on #8265
I've no idea what the exact problem is. And since the server is closed source, I sadly can't try to check entirely.

A potential issue is that the green number in anki is not the sum of the last two columns. But I doubt that it is the entire problem because ankidroid and anki do not show me the same card to review

[2021-03-18 06:15] kartikeysaran commented on #8264
Would love to work on this issue if no one is working on this !

[2021-03-18 06:18] VamsiKrishnaCommits commented on #8264
Already working : )

[2021-03-18 06:23] kartikeysaran commented on #8264
It will be a waste of time only one person should work on one issue if you dont want to work on this then ill start working on this

[2021-03-18 06:24] VamsiKrishnaCommits commented on #8264
I am working on it

[2021-03-18 06:25] kartikeysaran commented on #8162
Can i work on this ?

[2021-03-18 06:41] Arthur-Milchior commented on #8264
Honestly, no idea. Using git blame will probably give all information you can get. Mike arrived in 2019 and David and I in 2020, we inherited most of the code and certainly don't know all logic behind it.

In any case, ti's catching, but it's also sending a RuntimeException, so that's probably not ideal either.

Notification call is independent of most ankidroid. It's like an alarm clock. We regis

[2021-03-18 07:33] david-allison-1 commented on #8265
Don't discount this potentially being caused by the transition to Rust-based database access if it's not reproducible in 2.14,X.

How would we go about diagnosing this?

[2021-03-18 09:19] sakshi-1604 commented on #7173
Will it be okay if I submit pr after 2,3 weeks my college exams are going on

[2021-03-18 09:31] david-allison-1 commented on #7173
Sure! Real life takes priority.

Are you working on this currently, or could I unassign this to see if anyone would want to take it up in the meantime?

[2021-03-18 09:33] david-allison-1 commented on #8263
We have a dev version of Google Analytics which dev builds send data to - we'll work something out.

Yeah - Analytics are an area of the code that I don't have much experience with. Mike's very knowledgeable, and it's best to share this knowledge for myself, and future developers in the guide.

[2021-03-18 09:36] david-allison-1 opened #8267 "Improve "Start of Next Day" UX"
_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/8262#issuecomment-801522836_

[2021-03-18 09:36] david-allison-1 commented on #8262
There is now: https://github.com/ankidroid/Anki-Android/issues/8267. Closing this as WONTFIX

[2021-03-18 09:36] #8262 closed

[2021-03-18 09:37] david-allison-1 commented on #8267
@haran2248 - this one's yours if you'd like

[2021-03-18 10:00] Arthur-Milchior commented on #8265
I did look at ankiweb, so that I can avoid an extra sync.

[2021-03-18 10:04] Arthur-Milchior commented on #8244
do you have the code somewhere, so I can take a look at it please?
Thanks very much for doing it.
I don't really understand what is going on in the video. Problem is probably that I don't see when you click the button. I'd suggest if you take more screenshot to add an animation showing when and were you click

@mikehardy can be of interest for you too.

[2021-03-18 10:24] Arthur-Milchior commented on #8265
By the way, this is after a full sync from phone to ankiweb. During those sync, the database is closed and sent verbatim, so it seems hard for the rust library to break it

[2021-03-18 10:28] haran2248 commented on #8267
Yes i would like to work on this

[2021-03-18 10:31] bhatushar commented on #8180
UPDATE: I figured out how to save/discard changes, but it doesn't take effect until app restart. For example, if you make any changes and then discard them, the app will still show the changes you've made even though they're not committed to the database.

[2021-03-18 10:33] dae commented on #8265
Arthur, are you reporting a separate issue to the one you posted about on the Anki forums? If so, what is the error you are getting?

You can test the syncing protocol locally with https://github.com/ankitects/anki/blob/main/docs/syncserver.md

[2021-03-18 11:46] Akshay0701 commented on #8260
Instead of showing alert dialog to each new user , we can check whether user spend enough time on app to request support from user ,this will not annoy user.

[2021-03-18 11:55] mrudultora commented on #8264
Generally, Exception class must not be used directly. Using separate catch blocks is preferred over the first one.

[2021-03-18 12:02] david-allison-1 commented on #8264
2.15 regression.

Introduced in 5128cc2c756ce1434367eb58807650581f26c661 . Ref: #7612

https://github.com/ankidroid/Anki-Android/commit/5128cc2c756ce1434367eb58807650581f26c661#diff-eab9b1b76312c13e47b4f32c7297da450ce522c4f6d15c79e55a8a8a5c51364fR172

Pending work:

- [ ] `col.getSched().deckDueTree()` was moved outside the `try...catch`
- [ ] We should audit this change to see if any other simila

[2021-03-18 12:21] mikehardy commented on #8244
If we do this, I'm not sure how it will work with add-ons and session state from within Javascript etc. I'd consider this very experimental prototype work, likely to be not useful for various reasons though just as a science experiment it might be useful just to know the answer. Especially with associated details about memory impact (including with custom fonts) , latency on webview switch, Javasc

[2021-03-18 12:33] IAmJaishree commented on #8244
@Arthur-Milchior @david-allison-1 @mikehardy I find this also informative https://stackoverflow.com/questions/14924302/preloading-web-page-in-android-using-webview

[2021-03-18 12:52] 2tanayk commented on #8264
No thats not the way, instead one must go from the specific to general,hence I think we should add catch blocks for whatever the code is susceptible to and then finally Exception e

[2021-03-18 13:14] mikehardy commented on #8244
That's interesting but for all performance related changes measurement is king. You measure, determine the cost of the various actions taken, optimize what you can, measure again and repeat.

Nothing is done that does not show meaningful improvement in the measurements

I hypothesize that for Arthur's purposes network prefetch is not an improvement. I believe page render time is the issue.

Where'

[2021-03-18 13:20] Arthur-Milchior commented on #8244
I've got zero network prefetch. The costly part is transforming mathjax into actual symbols

[2021-03-18 14:26] sakshi-1604 commented on #7173
I was working on it , but considering current scenario I guess it will take time.
If you want the issue to be solved immediately you are free to assign it to other . Otherwise I would like to work on this.

[2021-03-18 14:38] quentinjs commented on #8021
Move the story to where ever it needs to be.

On Thu, Mar 18, 2021, 08:48 github-actions[bot], ***@***.***>
wrote:

[2021-03-18 14:44] mikehardy commented on #8264
I think David nailed it with the regression, this did not used to be a problem.

Unrelated: for a real "make the feature work" fix, which I would define as "notification service does not crash and if sync starts before or during notification activity, they interact correctly", it would look something like:

- there is the ability (via an API like SomeSyncObject.isSyncInProgress()) to know if a syn

[2021-03-18 14:45] mikehardy commented on #4944
From #8264 - related to how notifications and sync interact, since sync is an external way for data to change completely, which can/should impact notification state

----

Unrelated: for a real "make the feature work" fix, which I would define as "notification service does not crash and if sync starts before or during notification activity, they interact correctly", it would look something like:

[2021-03-18 14:46] mikehardy commented on #8114
#4944

[2021-03-18 14:48] #8241 closed

[2021-03-18 15:12] mikehardy commented on #8263
I just checked to see if categories were limited as it was vague in my mind as well. I do not believe there are finite categories https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#eventCategory

So then it is just a question on how to log the data so that reports are meaningful.

The only report I can easily create that shows "how much activity total there is

[2021-03-18 15:13] mikehardy commented on #8263
If you turn on debugging for analytics, I think it logs out every event it sends? So you will see them going out in the logs - or you should - https://github.com/ankidroid/Anki-Android/blob/87d7f7338ddfc5f0fd4cde90101afe28a985683f/AnkiDroid/src/main/java/com/ichi2/anki/analytics/UsageAnalytics.java#L240

Trust the logs

[2021-03-18 15:49] ritvij14 commented on #8263
@mikehardy about this, how about we add analytics event to a user choosing a specific type of dictionary?
https://github.com/ankidroid/Anki-Android/blob/87d7f7338ddfc5f0fd4cde90101afe28a985683f/AnkiDroid/src/main/java/com/ichi2/anki/Lookup.java#L44-L48

For example, we add separate analytics event triggers in each of the cases of the switch construct and we make events this way (for example) ->
1.

[2021-03-18 16:10] TarekkMA commented on #7794
So what is required to solve this issues is to extract all items from the 11 remaining arrays as strings in the same file `11-array.xml` and copy the array decleration to `constants.xml` making them refrence the string found in `11-array.xml` file.

Is that right ?

[2021-03-18 16:15] haran2248 commented on #8266
Can i work on this?

[2021-03-18 16:17] Akshay0701 commented on #8223
@mikehardy said `Getting rid of our current floating action menu and moving to supported APIs is much more important than the visual work` , i think inbuilt google.Material FABs will be good option
(https://material.io/components/buttons-floating-action-button) ,this don't require any external library and it is supported by android sdk.
let me know what mentors think on this ? and i want take this

[2021-03-18 16:20] mikehardy commented on #8244
exactly, and that's your case.
lots of others have no render delay, but lots of network pre-fetch

will the webview actually execute the mathjax javascript and render it before the webview is visible? it may, it may not. It may do so but then stop in a future version!

will it render it if we use the same webview and dynamically update it like single-page web apps do?

will all of it crash with ou

[2021-03-18 16:23] mikehardy commented on #8162
@kartikeysaran no, this is not available for work by anyone but core contributors / maintainers at the moment. It requires careful thought, investigation, and planning across the ecosystem to make sure we get it right.

[2021-03-18 16:25] mikehardy commented on #8019
@quentinjs no need to get testy ;-).
You should understand of course that we are all volunteers, so you're just talking to a group of people that do this *when they have time*
You should also know that we are participating in the Google Summer of Code this year, which provides a mentoring opportunity to (at current count) more than 150? Maybe 200 by now young programmers who are looking at the app

[2021-03-18 16:31] TarekkMA commented on #8224
I will take a shot at this issue and #7794

[2021-03-18 16:38] mikehardy commented on #2609
Okay - so it looks like we have agreement on the location (yes, that screen you included) and the options
Thinking about the UI I think the text should change a little to make it more clear, right now it is not even really clear that it is automatically logging answers for you!

As a rough design then:

- I think it should have two elements in preferences
- first element: the checkbox as it is now

[2021-03-18 16:48] mikehardy commented on #8203
Excellent @Akshay0701 ! And nice to see you in the comments @eginhard :-) - we certainly appreciate the help right now, the more people that know AnkiDroid helping out the better for sure!

[2021-03-18 17:06] Heineken commented on #8161
Soooo, I filed the bug [here](https://gitlab.com/fdroid/fdroidclient/-/issues/2175).

I realized the issue may have been caused by TitaniumBackup, which I use to migrate between phones (, which I have to do way too often, clumsy me).

[2021-03-18 17:16] imaryandokania commented on #8188
I have been trying , I am not able to reproduce this because of language issues. if @zoulja wants to work , he can proceed!

[2021-03-18 18:17] mikehardy opened #8270 "Handle new Github Action Runner - defaults to JDK11"
###### Reproduction Steps

1. Attempt to run the "publish" workflow
2.
3.

###### Expected Result

Publishes successfully

###### Actual Result

Fails while verifying the JDK in the environment is JDK8:
https://github.com/ankidroid/Anki-Android/runs/2142332643?check_suite_focus=true#step:4:4

https://github.com/actions/virtual-environments/blob/ubuntu20/20210315.1/images/linux/Ubuntu2004-README.md

[2021-03-18 18:18] mikehardy commented on #8270
Releases are blocked until I resolve this but it is not open for outside contribution. Should get it today.

[2021-03-18 18:21] mikehardy commented on #8223
I believe this conversation is happening in two places at once, which is dangerous as it implies duplicate work and lost thoughts. Let's keep the discussion on the FAB to #4936

[2021-03-18 18:21] mikehardy commented on #4936
I agree - unless someone tries it and it is not possible to implement using the built in FAB APIs, we should use them

[2021-03-18 18:31] mikehardy commented on #8263
@ritvij14 I think you would do it in this switch: https://github.com/ankidroid/Anki-Android/blob/87d7f7338ddfc5f0fd4cde90101afe28a985683f/AnkiDroid/src/main/java/com/ichi2/anki/Lookup.java#L78

But otherwise, yes so I should expect to see Analytics hits of category "Lookup" with value "aedict" etc

[2021-03-18 18:39] ritvij14 commented on #8263
Alright got it. I will get started on this then and send a PR. One more thing, how should I test out the additions of analytics changes locally?

[2021-03-18 19:52] 2tanayk commented on #8114
@mikehardy sir first of all thanks for linking that discussion to me,but that discussion is 2 years old and as someone who is new to this organisation (I might be asking too much) I would really like to get a gist of what exactly needs to be done, like in points, would really help. That being said I've already started studying the code and using the existing resources to understand the current sys

[2021-03-18 20:38] haran2248 commented on #8267
There is a seekbar which ranges from 0 to 23,Do you want me to change that?Do you want users to type the start of the next day in an editText?Can you guide with what exactly is to be done?

[2021-03-18 21:04] haran2248 commented on #8266
There seems to be no function which moves to onActivityResult with REQUEST_BROWSE_CARDS as a requestCode,So i dont think it wil be useful,Shall make a PR deleting that PR?

[2021-03-18 21:06] haran2248 commented on #8266
There seems to be no function which moves to onActivityResult with REQUEST_BROWSE_CARDS as a requestCode,So i dont think it wil be useful,Shall make a PR deleting that PR?

[2021-03-18 22:36] quentinjs commented on #8019
I am not trying to be impatient but if the request has to hit multiple apps
then so be it.  And great there is that many helping hands.  I am just
trying to help in the way that I can.

On Thu, Mar 18, 2021, 11:26 Mike Hardy, ***@***.***> wrote:

[2021-03-18 22:38] david-allison-1 commented on #8267
I don't know what should be done right now. I know that our current UI isn't sufficient to guide the user to a correct solution.

Starting work on this issue will involve coming up with a design that makes sense and solves the above UX issue.

We should discuss designs and see what other maintainers think.

I believe that an `EditText` would make things worse, as we want the user to select a numbe

[2021-03-18 23:22] Arthur-Milchior commented on #8266
Please do so.

If there is a difference with what I wrote, please let me know. It seems similar

[2021-03-19 02:38] david-allison-1 commented on #8114
https://developer.android.com/guide/topics/ui/notifiers/notifications

https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com/ichi2/anki/services/NotificationService.java

https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com/ichi2/anki/NotificationChannels.java

and related history

[2021-03-19 04:00] Arthur-Milchior commented on #2609
What do you mean by "advance the card" ? I find it to be really badly defined. Need to decide:
* when will it be seen again ? in a few hours, tomorrow, at the next day as if it were good ?

[2021-03-19 04:04] Arthur-Milchior commented on #8114
Do you get one notification by deck or do you get the notification for the same deck everytime? Because one problem is that there are notifications for each top level deck potentially. I don't like it but was told to let it this way.
I can imagine that android limit notification to a small number and queue the next notification until the first one are seen.

[2021-03-19 04:20] zoulja commented on #8188
@imaryandokania, do you mean with language you use everything is ok? Do you use English?

[2021-03-19 04:49] infinyte7 opened #8272 "Check media and delete deck popup have white space on top"
###### Reproduction Steps

1. Check media from options menu or delete deck
2. Popup appear with white space
3.

###### Expected Result
No white space at top of popup

###### Actual Result
<Img src="https://user-images.githubusercontent.com/12841290/111732752-42af6a00-889c-11eb-848d-94b9dda73e59.jpg" height=500></img>
<Img src="https://user-images.githubusercontent.com/12841290/111732755-4511c400-8

[2021-03-19 06:42] Ekagra commented on #8272
I am working on this

[2021-03-19 06:55] adrishyantee opened #8273 "Adding a CODE_OF_CONDUCT.md"
Hello, how about adding a Code of Conduct as a markdown file to this repository or to Contributing.md file so that new contributors are well aware of the rules and regulations while making any contributions to this repository.

We can add sections like:
-  Pledge
-  Standards
-  Scope
-  Enforcement
-  Attribution

I will be adapting from the Contributor Covenant, version 1.4, which is available [

[2021-03-19 07:15] Akshay0701 commented on #4936
could you give me some more info/guidance on how i can move further to this ?

[2021-03-19 08:05] TarekkMA opened #8274 "[Deprecation] Move to new Crowdln API"
![Screen Shot 2021-03-19 at 9 59 55 AM](https://user-images.githubusercontent.com/6633545/111749273-375b3f00-889a-11eb-8f85-85a414ac9b83.png)

We should move to API 2.0 before the end of the year

[2021-03-19 08:10] Wizek commented on #6774
I'm also curious for this. Especially for when someone is learning long sentences instead of short words.

[2021-03-19 08:42] david-allison-1 commented on #8151
_Originally posted by @mrudultora in https://github.com/ankidroid/Anki-Android/issues/8269#issuecomment-802648118_

[2021-03-19 10:11] Akshay0701 opened #8275 "Implement Create New Deck Function In Add Note Activity"
## Problem
With Current Spinner in add note activity user can select any deck , but
1 if user don't found particular deck in list then user have to go back to main activity to create that deck and then user have to create note and select that particular deck , it is lengthy process.

## Solution
We can implement add new deck function at top left corner ,so that if any user don't found deck , then

[2021-03-19 10:19] Akshay0701 commented on #8275
and i also understand ,this is not like easy feature that i can be build overnight ,this might need a lot of discussion .

[2021-03-19 10:24] Akshay0701 commented on #8275
and i also understand ,this is not like easy feature that i can be implement overnight ,this might need a lot of discussion .

[2021-03-19 10:55] Arthur-Milchior commented on #8265
I have no idea whether they are related. only that they occured at the same time.

My current understanding is that it is a difference in the way of counting review cards from subdecks actually.

[2021-03-19 12:05] Arthur-Milchior commented on #8275
Unless there is a strong reason to do both things together, I believe you should do two feature request.
The main problem with adding new deck here is that, let's say you have a deck D and you can to create the deck D::S, as subdeck of D. It would be nice to be able to select D and state that you want a subdeck of it. Best solution in my opinion would be to prefill the text field with "D::" and pu

[2021-03-19 12:40] Akshay0701 commented on #8275
yes i got your point , that's really nice suggestion , actually we can implement this new create deck function in this two way
1 if user want to create completely new deck then user just have to click icon at top right corner ,
2 if user wish to create sub-deck of deck then in that case we can implement onLongClickListener in deckAdapter ,so that user can long press on deck in which he/she wants t

[2021-03-19 12:42] Akshay0701 commented on #8275
i will keep this issue as "Implement Create New Deck Function In Add Note Activity",
and i will create new feature issue for "Implement Search Deck Function In Add Note Activity"

[2021-03-19 12:46] jindalshiva commented on #7913
Hi @david-allison-1, Do I need to label charts in the statistic tab? If yes, then what should be on the label?

[2021-03-19 13:17] dae commented on #8265
What is the error you are getting?

[2021-03-19 13:21] Akshay0701 opened #8276 "Implement Search Deck Function In Add Note Activity"
## Problem
With Current Spinner in add note activity user can select any deck , but
->If number of decks is very big it will be hard for user to search particular deck in spinner ,

## Solution
->We can implement search option for user to find any particular deck to select in add note activity.
(the only thing i am unsure about is searching for sub-deck which is present under parent deck).

Work d

[2021-03-19 13:27] david-allison-1 commented on #7913
Preface: I don't know exactly. Haven't found Android-specific guidelines.

We'll likely want to leave this for later as it'll be a large task (and Statistics will be getting changed in AnkiDroid 2.16).

One guideline that I read suggested that it would be best to provide this data in a tabular format for accessibility. This seems like a sensible solution, but is a lot of work.

https://www.w3.org/

[2021-03-19 13:30] david-allison-1 commented on #8275
Note that we already have: https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/DeckSelectionDialog.java which will significantly reduce the amount of work needed

<details><summary>Screenshot</summary>

![](https://user-images.githubusercontent.com/62114487/88676838-77d83380-d0e4-11ea-9f79-44e00a84c510.png)
</details>

[2021-03-19 13:33] david-allison-1 commented on #8276
Note that we already have: https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/DeckSelectionDialog.java which will significantly reduce the amount of work needed

<details><summary>Screenshot</summary>

![](https://user-images.githubusercontent.com/62114487/88676838-77d83380-d0e4-11ea-9f79-44e00a84c510.png)
</details>

I personally think this would

[2021-03-19 13:44] Akshay0701 commented on #8276
Thankyou so much @david-allison-1 ,This actually made things much easy for implementation of searching decks and i also personally want to take guidance from other mentors as well before starting implementation.

[2021-03-19 14:17] bishalbar77 commented on #8272
I am working on this

[2021-03-19 14:39] david-allison-1 commented on #8272
@bishalbar77 - It'd be best to find something different to save duplicated effort, it won't be a large change to fix

[2021-03-19 14:40] Ekagra commented on #8272
@david-allison-1 thanks for assigning me

[2021-03-19 15:07] bishalbar77 commented on #8272
Okay @david-allison-1

[2021-03-19 15:32] bishalbar77 commented on #7931
Can I work on it?

[2021-03-19 15:34] david-allison-1 commented on #7931
@bishalbar77, there's already a pull request in to fix this: #8174, it'd be better to find an issue that isn't being worked on

[2021-03-19 16:45] mikehardy commented on #2609
"advance the card" is poorly defined, I don't think there is an option to just skip a card / move to next

Okay, so ignore my last sentence :-)

[2021-03-19 16:46] Ekagra commented on #8272
before making a PR, I would like to confirm only dialogues mentioned in the issue are to be fixed? there might be other ones with white spaces too.

[2021-03-19 17:01] mikehardy commented on #4936
1) document all the features of our current floating action menu
2) implement those features without using an external dependency

[2021-03-19 17:02] mikehardy commented on #8272
I think for a change like this you can/could/should fix any that you see with the same problem. Best to do them all at once

[2021-03-19 17:06] mikehardy commented on #8273
Before doing anything like this we actually need an email address that can handle things like this and as of yet we don't have one

We don't really have infrastructure for that unfortunately.

The document you link seems good as far it goes though. Please don't act on this but it is blocked on core maintainers implementing some sort of contact solution.

[2021-03-19 17:06] david-allison-1 commented on #8272
Could we replace `""` with `null` inside `StyledProgressDialog`'s methods? Would stop this from occurring in future.

[2021-03-19 17:14] mikehardy commented on #8151
@mrudultora I don't think that developer forum link is related to this issue at all, after reading it.

[2021-03-19 17:15] mikehardy commented on #8274
That's unfortunate, already plenty to do but it is always something in a large project :-)
Thanks for logging this.

[2021-03-19 17:17] imaryandokania commented on #8151
https://developer.amazon.com/docs/app-testing/test-criteria.html
Here it clearly states about camera permission . Only possible can be is not making anki droid app available for fire devices!

[2021-03-19 17:18] mrudultora commented on #8151
That user was exactly not having the same problem, but Camera permissions are not allowed in FireTv. Particularly, contacting the support is better because this issue is not mentioned on their pages.

[2021-03-19 17:19] mikehardy commented on #8151
@imaryandokania I disagree completely.

As I state above:

However to be qualified to do this work:

If you do are not familiar with gradle files, Android flavors and AndroidManifest workings - and I mean *REALLY* familiar, you will not be qualified to work on this.

[2021-03-19 17:21] mikehardy commented on #8260
I'll defer to you @david-allison-1 - I like it in general as well though. There is available real estate there and especially because translations don't involve any money it is not like we are begging, we are just asking. And as my momma always said "if you don't ask, you don't get"

[2021-03-19 17:24] imaryandokania commented on #8151
Anyhow I try to solve this , as I tried my runtime permission, i have to ask for camera permission in manifest , this is the key this which is not as per amazon developer criteria written in website

[2021-03-19 17:24] adrishyantee commented on #8273
Okay, I totally understand the difficulty in managing such a big thing. I will be waiting for all the maintainers to make necessary arrangements before taking this sort of thing into account.

[2021-03-19 17:24] mrudultora commented on #8151
@imaryandokania If you are not taking this up, I am interested. Making a different flavor for Amazon app store.

[2021-03-19 17:24] mikehardy commented on #8276
Having a standardized deck selection dialog (where maybe you just pass in the strings to use? but the deck selection widget is implemented once and re-used is a big plus, and I would approve that change

As an enhancement on that it would be nice to also add the ability to actually *search* in the dialog for the deck you want (in case you have 1000s of decks - some users do, and that's the problem

[2021-03-19 17:25] imaryandokania commented on #8151
Cool you can take over!

[2021-03-19 17:28] mikehardy commented on #8267
it's a small set of numbers, and they are linear so I still like a seek here
a label change (that is: just using better text) might be sufficient?

"Please select the hour you want to use as the "start of next day", 0 represents midnight, 23 is 11pm, etc"

This is not something many users will ever do, and even those that do change it will not change it often, they are going to do it once so we ca

[2021-03-19 18:03] haran2248 commented on #8267
sure that works as well

[2021-03-19 18:06] mikehardy commented on #8270
jdk11 bundled in next android studio and becomes minimum target https://developer.android.com/studio/preview/features?hl=sr#agp-7-0-jdk-11

so rolling forward is my first cut strategy

[2021-03-19 18:27] Akshay0701 commented on #8276
okay i will make consider that in mind while making PR's.

[2021-03-19 18:30] mrudultora commented on #7910
@david-allison-1 Why we are still using listview ? I think moving to recyclerView has a potential to be opened as a new issue.

[2021-03-19 18:40] Akshay0701 commented on #8276
yes i wanted to make searching easy in large number of decks , and about two pr , i think making two pr is not need as there is searching of decks is already implemented in `DeckSelectionDialog` class , but i will make 2 different commit for this.

[2021-03-19 19:27] mikehardy commented on #8270
Fixed in https://github.com/ankidroid/Anki-Android/commit/698c20673b53d15cbeda6ee74ef486663bd64d2b and https://github.com/ankidroid/Anki-Android/commit/9ce8c4aa73a7957e168d3c3f204f949194586ef3

[2021-03-19 19:27] #8270 closed

[2021-03-19 20:10] Arthur-Milchior commented on #8260
I'd be interested to know what you mean about "support". Because https://github.com/ankidroid/Anki-Android/wiki/Contributing is really really big. We probably can't translate all of this in all languages. I don't know what makes sens to translate. (E.g. asking for help for translation is useless, if the person don't speak english they can't translate. Asking for money make sens, but I'm not sure I

[2021-03-19 20:19] mrudultora commented on #8260
@Arthur-Milchior It's true that all of that cannot be translated, but at least it would help in increasing the frequency of translations because there are currently 2M active users. Its ok if we don't have 100% translations. Something is better than nothing :-)

[2021-03-19 21:06] Arthur-Milchior commented on #2609
I mean, we can just decide that an extra option would be "Reschedule for review in 1 day". I would not find it to be a good idea and would not use it, but is properly defined

I don't see an easy way to just move it for one or two hours. It would not be very very hard, but would probaly require to make a database change if we want it to be an efficient query

[2021-03-19 21:44] #8023 closed

[2021-03-20 02:37] david-allison-1 commented on #8025
We'll need this in Anki Desktop before we work on it

[2021-03-20 02:37] #8025 closed

[2021-03-20 04:31] david-allison-1 commented on #2609
I'd like "advance card" as a feature - it's been requested for a long time and it makes sense to me (I have audio cards, but I can't listen to them right now). This is a mobile-only concern (and there's a ticket for it somewhere).

But, I think it'll require a lot of thought to get right, I'd prefer to see it as a separate feature before we implement it on this screen

[2021-03-20 04:40] dae commented on #2609
Doesn't the bury feature already solve this? Any buried cards will be shown the next day by default, but can be manually unburied earlier if desired.

[2021-03-20 05:07] david-allison-1 commented on #2609
Context on burying not being ideal for audio cards, I think some of these issues would also apply here (or at least should be checked): https://github.com/ankidroid/Anki-Android/issues/4601#issuecomment-289935410

[2021-03-20 05:20] Arthur-Milchior commented on #8260
I entirely agree that we don’t need peffrection. My question was about asking for more detqils about the proposal

[2021-03-20 05:29] dae commented on #2609
That seems like a separate issue? From what I can gather from that post, the issue is the user doesn't want the card to appear/play audio at all. Whereas here, as far as I can tell, you are talking about actions that can be taken when auto-advancing, after the card has already been shown

[2021-03-20 05:31] Ekagra commented on #8272
@david-allison-1 that's exactly what I am doing and it's working fine

[2021-03-20 05:32] dae commented on #2609
And for what it's worth, AnkiMobile's auto-advance default is to bury cards (least harm done if the user gets distracted), with options to use again/hard&good.

[2021-03-20 05:51] david-allison-1 commented on #8260
Let's go ahead with this.

RE: Translations - I don't feel these will be necessary immediately

From the "Support AnkiDroid" menu that we have:

![image](https://user-images.githubusercontent.com/62114487/111860421-34fef080-893f-11eb-92c1-87a491299666.png)

* ✔️ Donate - Open Collective's responsibility to handle
* ✔️ Translate - no need for translation of the output, translation will be difficult

[2021-03-20 05:57] AbdelrahmanHamdy1998 commented on #2609
Speaking of (less harm done if the user gets distracted), there's a solution by a developer called glutanimate (friend of Anking), he made an addon which make an alert sound after X seconds, so even if the user gets distracted, the alert will make him either focus again or stop reviewing, I attached a video illustrating how the addon work and it's really preventing distraction. I don't think he wo

[2021-03-20 05:57] Arthur-Milchior opened #8282 "Lint for Rtl rules"
_Originally posted by @TarekkMA in https://github.com/ankidroid/Anki-Android/issues/8261#issuecomment-801417681_

Documentation is good, Lint is better. A lint rule that fail or warn on "left" and "right" in xml would be wonderful.

@TarekkMA, do you know whether there are exception, some case where using "left" still make sens ? If so, I'd like the PR to also indicates explicitly how to add this

[2021-03-20 06:02] pree-T commented on #8226
May I work on this?

[2021-03-20 06:08] david-allison-1 commented on #8282
https://github.com/ankidroid/Anki-Android/blob/8ea9640cb4e7ad99a67d0e78ec75993f237d4029/lint-release.xml#L274-L277

Documented: http://tools.android.com/tips/lint-checks

[2021-03-20 06:14] pree-T commented on #7354
I am interested. May I start working on this?

[2021-03-20 06:18] pree-T commented on #5689
May I look into this issue?

[2021-03-20 06:36] david-allison-1 commented on #6772
@VamsiKrishnaCommits - Result of the discussion: absolutely! I'll note this on the GSoC page

Thanks!

[2021-03-20 06:53] david-allison-1 commented on #5689
Sure! Feel free to use https://github.com/ankidroid/Anki-Android/pull/5702 as a base

[2021-03-20 06:56] IAmJaishree commented on #8264
Can I take this bug and work on it?

[2021-03-20 06:57] TarekkMA commented on #8282
I did actually notice the linting rule that are set to ignore, but I thought they are there for a reason.

In RTL locals, every thing is flipped around, so start and end should be used at all times.

I can't remember off the top of my head when it is ok to use hard coded directions, if the linting can be ignored for one line we can enable all the RTL linting to be errors, and if we come across suc

[2021-03-20 06:58] IAmJaishree commented on #8243
@Arthur-Milchior I have other issues but and I raised a PR for them, I can work on this now if you want.

[2021-03-20 07:32] david-allison-1 opened #8284 "Document Viewing Debug Analytics Data"
We'll need to discuss that, for now, assume that if it logs the value, it works

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/8283#issuecomment-803265860_

----

Not sure how possible this will be (might need to go off logs). Will need a discussion on how we proceed.

It'll be a more common question now we're ramping up the analytics capture and could

[2021-03-20 07:36] david-allison-1 commented on #8264
Sure, do note: https://github.com/ankidroid/Anki-Android/issues/8264#issuecomment-801871816

[2021-03-20 07:48] Arthur-Milchior commented on #8282
In this case, I believe that this feature should be :

Stop ignoring those Rtl lint as soon as you can.

[2021-03-20 07:49] Arthur-Milchior commented on #8243
Then please go for it.

[2021-03-20 07:53] Arthur-Milchior commented on #2609
I suspect that all people involved for some time in this community know Glutanimate. Very active across the community.
I personally would not want this feature. Anyway, this can always be created in the card type directly with little bit of JS, no need for support in the app here.

I have NO idea why I forgot about it. Of course if you want to see it again the next day, bury is better.

If you wan

[2021-03-20 08:02] Arthur-Milchior commented on #7354
Do you have any specific question. Because I fear I have no idea what more to add.

Sorry for the delay, it's hard to read everything. I recall you were given another harder task recently, so if it's okay, I'll go with @pree-T

[2021-03-20 08:27] david-allison-1 commented on #7354
I need a better system for going through my notifications. Sorry I missed this.

* Anki has a `{{hint:}}` field feature:

https://docs.ankiweb.net/#/templates/fields?id=hint-fields

The requester would like to be able to trigger each hint field in order.

* Add the functionality
* Add a Command: https://github.com/ankidroid/Anki-Android/blob/ec5d9e535c391a150e3489ceb515426a3946c305/AnkiDroid/src/m

[2021-03-20 08:40] david-allison-1 opened #8287 "Fail CI if Analytics string constants are changed"
If analytics strings/categories are changed, then we cannot compare them between versions.

The likely issue here is some usages of `.getClassName()`

Context:

If this goes in, we should add an issue to enforce this via a lint check

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/8257#discussion_r596467326_

[2021-03-20 09:07] Akshay0701 commented on #4936
@mikehardy i implemented FloatingActionMenu with FABS ,
There is still many imporvement need in ui as well as code ,
I will raise PR ones i clean all code
<img src="https://user-images.githubusercontent.com/52353967/111864743-c5adee80-8988-11eb-9419-4fe4cf643e08.gif" width="200" height="400" />

[2021-03-20 09:20] srghma commented on #8025
added the feature request to the anki forum

https://forums.ankiweb.net/t/order-of-queues-new-setting/8520

[2021-03-20 09:28] david-allison-1 commented on #8025
Thanks! Please let us know if it gets included

[2021-03-20 12:05] #7910 closed

[2021-03-20 12:18] Arthur-Milchior commented on #8265
I do not get any error message. Simply, the number of cards in the second column on ankiweb were quite bigger than the sum of the second and third column on ankidroid (card in learning and review). Which I took as an indication that sync failed. Now I understand it's probably that we are counting things differently.

[2021-03-20 13:50] #8210 closed

[2021-03-20 13:56] mikehardy commented on #8260
@david-allison-1 good analysis - I agree on all the specific line items and your determination on each

[2021-03-20 14:00] mikehardy commented on #2609
I did not realize Anki Desktop already had the option to Bury by default either, this should be the default then to follow the ecosystem in a least harmful way, thanks @dae

[2021-03-20 14:04] mikehardy commented on #7905
This would still be good to investigate but we haven't had time yet, sorry - if you can report speed differences between your current AnkiDroid and a parallel install (from our releases page here) of a prior version that would help, otherwise it may sit

[2021-03-20 14:26] mikehardy commented on #8180
Typically that is handled as part of the return code from startActivityForResult I think - you can pass result codes that indicate to the original/calling activity "hey, you need to reload yourself in response to this return code"

The card browser does this in response to some result codes, specifically if you edit a note in the card browser when you are done editing the card browser is told to r

[2021-03-20 14:29] mikehardy commented on #8114
Android I think has a limit of 50 notifications at once, and some phones (Samsung I think?) limit to 500 pending intents (think "alarms") set at once.

I think the first thing to solve is that if notifications are swiped away for the day, they actually stay away until the next day

[2021-03-20 14:31] #8252 closed

[2021-03-20 14:33] mikehardy commented on #8150
Without meaning to be rude or anything, the suggestion literally is "watch adb logcat, trace the code, read all the relevant documentation to understand the problem, fix the problem"

You are blazing trail here :-), good luck? :sweat_smile:

[2021-03-20 14:36] bhatushar commented on #8180
@mikehardy I tried playing around with `saveResult()` but it seemed the result code had no effect on the data. Changes were still persisting even after setting `RESULT_CANCELED`.

In my PR, I worked around it by undoing all the unsaved changes before closing the deck options activity.

[2021-03-20 14:53] mikehardy commented on #8284
I think at this point we should just say watch adb logcat and assume that if in debug it says it is sending XYZ that you may trust it completely, then include an example

It is possible to grant people access to view analytics but I do not want to, for 2 reasons:
- to be clear, we have everything configured to collect no data that is identifying or sensitive that I am aware of except the very gene

[2021-03-20 14:55] mikehardy commented on #8287
Yes, I suppose the uses of getClassName (which I put in originally!) should be altered to be constants themselves so they survive refactoring. In essence any use of logEvent should be considered an external API call including all values passed to it, and changing the call (including values) should be considered a "breaking change", so the code should be set up to reflect that

[2021-03-20 15:20] mikehardy commented on #8180
That sounds mildly frightening. Partial work should not be committed, and then undone to prevent partial work commit. Something is wrong, and needs a real understanding and a real fix.

[2021-03-20 15:24] mikehardy commented on #8263
@ritvij14 watch logcat, and if the analytics logs indicate the event is being logged, it *will* be logged, you may trust it.

[2021-03-20 15:26] bhatushar commented on #8180
No, no. Partial changes **were** being committed. My PR fixes that.

Nothing is being written to DB until the user explicitly saves.

[2021-03-20 15:26] mikehardy commented on #8247
The whole screen needs a new layout. Specifically for changing note type though, can you post screenshots  or a quick screen recording of how AnkiDesktop handles it?

[2021-03-20 15:28] mikehardy commented on #8180
Ah, whew! :-)

There was another place in the program that used to do the same and it was quite a mess.

I still am very suspicious of this:

Something is wrong here, understanding it (if you have not already) is important. If you already have that whole area handled then I misunderstand your comment and it would be good for you to post one clear comment with current status

[2021-03-20 15:31] mikehardy commented on #4911
That sounds good @TarekkMA - as long as nothing is actually persisted to the database until the change is confirmed with an explicit save and there is the option to cancel this works for me.

As an implementation detail, this will need to be done as an AsyncTask with a progress listener because it's touching storage (slow) and the UI will become unresponsive unless it's off in another task, but th

[2021-03-20 15:36] infinyte7 commented on #8247
Anki Desktop have no option to change note type and deck.

![1](https://user-images.githubusercontent.com/12841290/111875494-0a5f7700-89d5-11eb-9078-5d997e12130e.gif)

[2021-03-20 15:39] bhatushar commented on #8180
I really tried to figure out `setResult()`. I followed the call trace using a debugger, but it didn't help either. It still remains a mystery.

But from what I could gather, the statement `mCol.getDecks().save()` is what's responsible for writing changes to DB. The save function was called in several different places inside DeckOptions.java. So, I aggregated all those calls in one place in other t

[2021-03-20 16:15] ritvij14 commented on #8263
@mikehardy for this part I am getting a very small log, and there is no mention of analytics events being logged in here :-
[code]
There should be some log for `sendAnalytics()` as well right?

[2021-03-20 16:16] TarekkMA commented on #4911
@mikehardy  no problems, will make that.

[2021-03-20 16:23] TarekkMA commented on #4911
There is a library  https://github.com/sevar83/indeterminate-checkbox  that does have tri-state checkbox with animation transition. But not maintained. We could fork it, or make our own with no animations, I don't know anything about vector animation in android.

[2021-03-20 16:24] mikehardy commented on #8247
what what :sweat_smile:  ? We appear to be diverging already then, so let's go as easy as possible, if it is possible to simply gray them out, that works for me

[2021-03-20 16:25] mikehardy commented on #8263
In debug builds I believe you need to go into advanced settings and toggle on debug analytics, can you try that? And if so please add a note about this requirement on #8284  as we try to document this better

[2021-03-20 16:27] mikehardy commented on #4911
We will not adopt external dependencies unless they are maintained, and we are busy enough now, fork+maintain is not a good option.

I don't think animation has any value here (in fact, if we animate anything we also have to support disabling the animation since we are used on e-ink readers!)

[2021-03-20 16:52] mikehardy commented on #8275
Does Anki Desktop do anything like this? If they do not, I think we have other priorities

[2021-03-20 16:58] #6565 closed

[2021-03-20 17:30] ritvij14 commented on #8263
@mikehardy I got the problem.
Actually, the place where I am adding the analytic actions is wrong. I am adding it in the `lookup()` function of the Lookup class. But when the person selects a dictionary from the Lookup Dictionary option, it doesn't call this function at all. This function is only called when using the dictionary in `AbstractFlashCardViewer.java`.

So what I did was, in the Prefere

[2021-03-20 18:20] mikehardy opened #8293 "[Deprecation] forward port Fragment startActivityForResult/onActvityResult to new Activity APIs"
The androidx.fragment library (and associated androidx.activity library) have taken over a lot of the basic android.Activity object's work with regard to starting activities outside the current Actvitiy or Fragment, and receiving results from them.

In general the Android team is recommending doing this inter-fragment/inter-activity communication now using their AndroidX libraries, and they have s

[2021-03-20 18:30] mrudultora opened #8294 "[Bug] Select Many not consistent with configuration changes"
###### Reproduction Steps
As stated here https://github.com/ankidroid/Anki-Android/pull/8278#discussion_r598113467 the variables are not saved and restored. Its a special case of #3654

###### Expected Result
Select many feature should work fine on changing orientation.

###### Actual Result
It's not storing the last selected position so causing inconsistencies.

###### Research

- [x] I have read

[2021-03-20 18:47] #8084 closed

[2021-03-20 18:58] mikehardy commented on #8219
second mode of failure, if a PR is merged during the release process, the release commit and tag do not push

https://github.com/ankidroid/Anki-Android/commit/f34feb483e2feed2e3816c9029976f5f2e5b2e45

https://github.com/ankidroid/Anki-Android/runs/2156308972?check_suite_focus=true#step:10:254

I'm not sure what the best way to handle this is - we can't lock the branch during release really, so the

[2021-03-20 19:03] mikehardy commented on #8293
Marking this as help wanted, but I will note it is not necessarily a good first issue.

You must have a very strong knowledge of the Android Activity Lifecycle, and everything in the two linked documents should make perfect sense before attempting to restructure the start/result behavior of these fragments

[2021-03-20 19:14] mikehardy opened #8296 "Codecov posting comments inside diffs on GitHub"
No problem - I still haven't seen the effect I am looking for but I think that may be because people branched for their PRs prior to my change, in other words it may take a moment for the tuning to actually filter in to people's PRs. We can take further action if it is not working well within a few days though on new PRs. I want my clean diffs back in the web UI as well :-)

_Originally posted by

[2021-03-20 19:14] mikehardy commented on #8296
@Arthur-Milchior FYI - I notice codecov is still spamming the diff after I thought I had made a change that would stop it. Tracking here

[2021-03-20 19:14] 2tanayk commented on #8114
Working on this

[2021-03-21 02:58] puelp commented on #6556
It's been almost two months and no replies from thread creator. Is it safe to say that this issue is closable?

[2021-03-21 03:04] david-allison-1 commented on #6556
Haven't seen @Anthropos888 around for a while, but they're a long-term and experienced user, very good on the bug reporting/support front, and I have a lot of faith that their reports are accurate.

I wouldn't be confident closing this issue without some testing confirming that this can't be reproduced any more. The bug report is associated with an area of the code that I feel needs both work and

[2021-03-21 03:05] puelp commented on #8162
That's reassuring to hear.

Please take all the time you need to make AnkiDroid 2.15 work seamlessly with Anki 2.1.41/2.1.42's new default scheduler!

[2021-03-21 03:11] puelp opened #8298 "[Question] What are the actual blockers for the 2.15 release?"
I'm looking at issues under the 2.15 milestone (https://github.com/ankidroid/Anki-Android/issues?q=is%3Aopen+is%3Aissue+milestone%3A%222.15+release%22)

But a lot of these issues seem to be feature-requests/enhancements that are more 'would be nice to have in time for 2.15' rather than 'MUST have for 2.15'.

Is there another way to sort only for the critical issues that are blocking/must be solved

[2021-03-21 03:39] Arthur-Milchior commented on #8293
Some functions in AnkiActivity https://github.com/ankidroid/Anki-Android/blame/aec2d6489422a51d3d8a9665ae164541583e5980/src/com/ichi2/anki/AnkiActivity.java have been marked as deprecated since 2012 when they were introduced. Do you think it's related?
Otherwise, I believe an extra issue should deal with this and figure out what to do with those function we have been calling for a decade and have

[2021-03-21 04:04] david-allison-1 commented on #7910
Sure!

[2021-03-21 04:10] david-allison-1 commented on #8298
Definitely:

https://github.com/ankidroid/Anki-Android/issues/8264 - 10 minute fix, not a worry
https://github.com/ankidroid/Anki-Android/issues/8178 - database migration regression on phones with low memory
https://github.com/ankidroid/Anki-Android/issues/8075 - rare, but will cause people to take drastic action on an error
https://github.com/ankidroid/Anki-Android/issues/8072 - likely fixed in 2

[2021-03-21 04:14] david-allison-1 commented on #8293
I believe those are deprecated because we're not specifying an animation when we launch the activity.

[2021-03-21 04:27] imaryandokania commented on #8072
If this is yet to be solved , can I work on this?

[2021-03-21 04:28] mikehardy commented on #8298
Yeah - I manage the milestone but I don't really use it for planning formally in the way you might in a real software shop, sorry for that :-), but I'm also the main consumer of the information since I make the changelog from it and no one else has every paid attention!

The vast bulk of them will just be lifted and shifted to a 2.16 once the ones David mentions above are handled, and we'll keep r

[2021-03-21 04:32] mikehardy commented on #8072
Hold on this one - I've just implemented uCrop as a dependency for Android 11 on the release-2.14 branch as an experiment (Android 11 had no working crop prior, so it couldn't do harm) and I want to either expand it's use to all APIs or - pending an investigation of another library maintained by someone I've had a chat with while integrating uCrop - maybe replace it entirely.

In other words: it's

[2021-03-21 04:33] imaryandokania commented on #8072
cool

[2021-03-21 04:41] david-allison-1 commented on #8284
Also to document: https://github.com/ankidroid/Anki-Android/pull/8261#issuecomment-803511169

[2021-03-21 05:02] david-allison-1 commented on #8275
Anki Desktop allows this
![image](https://user-images.githubusercontent.com/62114487/111894453-b2d80000-8a02-11eb-96c2-fba0efdf8960.png)

[2021-03-21 05:52] imaryandokania commented on #8072
Just for help I would suggest instead of u crop we can use https://github.com/ArthurHub/Android-Image-Cropper.git ,
This work pretty well.

[2021-03-21 05:56] david-allison-1 commented on #8072
It hasn't been updated since 2019

[2021-03-21 06:00] imaryandokania commented on #8072
I have been using it in my some of the projects and didn't face any issues with this library, only change is adding implementation 'com.theartofdev.edmodo:android-image-cropper:2.8.+' to gradle file .

[2021-03-21 06:09] david-allison-1 commented on #8226
@pree-T There's already a PR for this

[2021-03-21 06:11] david-allison-1 commented on #8226
As for a spec (requested on the PR)

* If the user presses 'Back' once on the DeckPicker, a Toast should be displayed stating `Press back again to close`
* There is no functional difference between how "back" works now, and how pressing it a second time (after this change) will work

[2021-03-21 06:56] ojasjain24 opened #8299 "An app guide will be great for new users"
when I first tried the app, I wasn't able to figure out the functionalities.

A guide will improve UX. A guide that will show all the features and functionalities to the first time users.

[2021-03-21 07:18] sumadithya commented on #7992
I tried to replicate this.
It only gives expected results.

[2021-03-21 07:34] sumadithya commented on #7992
I want to work on this issue

[2021-03-21 07:47] david-allison-1 commented on #7992
Sounds good to me, thanks!

[2021-03-21 07:57] mrudultora commented on #6420
If you are not working on it, would explain me some more details ? I would try to solve this.

[2021-03-21 08:35] david-allison-1 commented on #6420
https://github.com/ankidroid/Anki-Android/blob/069e37d37d0d14aec944f5106aaf251e5f701528/AnkiDroid/src/test/java/com/ichi2/utils/LanguageUtilsTest.java

[code]

In the linked PR, only `CURRENT_LANGUAGES` was changed, we need a mechanism to ensure that if `CURRENT_LANGUAGES` is changed, then `PREVIOUS_LANGUAGES` is changed.

I think this would just do with better commenting, rather than a test - tho

[2021-03-21 09:42] KanyeTheLamar opened #8300 "[bug] letter going inside another letter on realme x2 pro custom rom AOSiP 11. looks perfectly on desktop and while writing the question."
###### Reproduction Steps

1. Write Question in the language dhivehi in a card
2.  Click the deck after submitting the question
3.  It shows a letter inside another letter (abnormality is the most bold looking part)

######
![Screenshot_20210321-135718_AnkiDroid](https://user-images.githubusercontent.com/81077087/111900279-6e288500-8a53-11eb-8d24-cc8b81f71fff.png)

######
![Screenshot_20210321-135

[2021-03-21 09:57] LittleFish33 commented on #8229
@Koorosh-J Hi, I have tried to use the template you described above, and I get the same results in both Desktop: 2.1.35 and Android: 2.14.6. Both the Desktop and Android require to type `test` only once. I am a little confused about this. Can you please check if the two clozes on your template are exactly the same？Or better, could you provide a `akpg` file of your template?

[2021-03-21 10:15] mrudultora commented on #8072
@david-allison-1 This issue happens with Android 7 (faced this one but not on this app) and Android 9. Just a small fix is required. It is related to storage (FileProvider) and not with cropping.

[2021-03-21 11:09] david-allison-1 commented on #8300
@KanyeTheLamar Thanks! Could you copy/paste the text that's causing issues?

[2021-03-21 14:45] ritvij14 commented on #8287
@david-allison-1 I wanted to try out this issue as I am curious how the CI tests for AnkiDroid work. Will this be covered in the JUnit tests that are run by `./gradlew jacocoUnitTestReport`?

[2021-03-21 15:03] david-allison-1 commented on #8287
`./gradlew jacocoTestReport` for both Android and Unit Tests +
`./gradlew lintRelease` for our lint checks

[2021-03-21 15:18] mrudultora commented on #6420
A comment like this.... ?
[code]
I will follow here, either comment or test. Test seems a good option to me.

[2021-03-21 16:04] mikehardy commented on #8072
@imaryandokania I will not adopt an abandoned library "I haven't had any problems" is not a valid defense

uCrop itself is abandoned which is why I mentioned I was talking with the maintainer of another project.

Cropping done correctly is not easy at all, if you've never tried it, you can't imagine the problems handling various phones and a large Android API skew

reference https://github.com/Yal

[2021-03-21 16:06] david-allison-1 commented on #6420
If you can come up with  sensible test design, then it'd be great. If not, comment and call it a day.

It's bulletproofing our translations when a new language is added, will be useful on a failure, but not the most likely thing to occur.

[2021-03-21 16:06] mikehardy commented on #8072
I guess if you have adopted that specific library before and you were interested, you could attempt to replace all our cropping with the link I just pasted (https://github.com/CanHub/Android-Image-Cropper) as it appears to be alive and was based on working code (as you have experienced) from a maintainer that is familiar with the real intricacies of cropping

If we get successful crop tests from A

[2021-03-21 16:12] mikehardy commented on #8275
Yep - then needed for ecosystem compat -> works for me :-)

[2021-03-21 16:12] imaryandokania commented on #8072
Yes this seems to the forked from the one I had mentioned and seems updated, so seem to be familiar! I can work on this!

[2021-03-21 16:20] Akshay0701 commented on #8275
I will start work on this : )

[2021-03-21 16:43] prathamk22 commented on #8294
Can I work on this issue?

[2021-03-21 16:48] #8272 closed

[2021-03-21 17:03] Koorosh-J commented on #8229
@LittleFish33
First let me thank you for working on this issue and then:

Wow, That is a magic sentence !! I have test it in my own desktop version and the result was what you have said (repeated "test" ignored), but if I add one more different word like "test2" the result will we true. I mean:

Blanked_Text: This is {{c1::test}} which is containing {{c1::test}} word twice {{c1::test2}}

On Deskto

[2021-03-21 17:05] Koorosh-J commented on #8229
@LittleFish33
First let me thank you for working on this issue and then:

Wow, That is a magic sentence !! I have test it in my own desktop version and the result was what you have said (repeated "test" ignored), but if I add one more different word like "test2" the result will we true. I mean:

Blanked_Text: This is {{c1::test}} which is containing {{c1::test}} word twice {{c1::test2}}

On Deskto

[2021-03-21 17:23] Ekagra commented on #8299
This is one of the project proposal for GSoC this year

[2021-03-21 18:01] LittleFish33 commented on #8229
@david-allison-1
I have reviewed the corresponding code of Anki's desktop version. I think the reason behind this is because the Android version and Desktop version use different logic. This is how the Desktop handles the cloze:

[code]

It can be observed that `len(uniqMatches)` is not 1, the Desktop version will use the matches (which is not a `set`). While for the android version, `set` is alwa

[2021-03-21 18:24] mrudultora commented on #8294
@prathamk22 Sorry, I have already fixed this one. I will make a PR for this soon. Would you mind taking an another issue ?

[2021-03-21 18:40] mrudultora commented on #8287
@ritvij14 Are you working on 2 issues simultaneously. Just asking because on discord you asked something about Lookup dictionary......

[2021-03-21 19:37] ritvij14 commented on #8287
@mrudultora no I am not. I am working on an issue that adds analytics for Lookup Dictionary. The work is almost complete just needed a few clarifications. This issue just got me curious as to how the CI works, hence why I asked the question here. If the previous issue gets solved and I am able to figure out how to work on this, maybe I will take this one up next

[2021-03-21 20:13] voidplayer opened #8307 "[Bug] prop:due behaviour changed in anki desktop"
###### Reproduction Steps

1. have a few cards due yesterday
2. search ```"prop:due<=0" AND "prop:due>=-1"```
3. Different results in desktop and in ankidroid. Ankidroid had less results to be exact

###### Expected Result
Same results

###### Tested in:
    desktop version: 2.1.42
    ankidroid version: 2.14.6

###### Aditional notes

Desktop previous to ~2.1.42~ 2.1.41 return same as ankidroid.

[2021-03-21 20:26] voidplayer commented on #8298
I usually read the Milestones. They are fun to read :)

[2021-03-22 03:20] error12368 commented on #8001
Can I work on this one? (if there is no improvement on this one yet..)👀

[2021-03-22 04:05] mrudultora commented on #8247
@infinyte7 I am unable to reproduce this. It's working completely fine in my device.

[2021-03-22 04:15] david-allison-1 commented on #8229
Sounds like the correct approach! Thanks so much for the investigation

Let's add a test case where AnkiDroid and Anki Desktop currently differ as well, to ensure we don't get any regressions

[2021-03-22 04:18] david-allison-1 commented on #8307
Could you check to see if this is an intentional change in 2.1.42 (if you're comparing to 2.1.41). It's not in the changelog

Could very likely be one of the many changes in 2.1.41: https://changes.ankiweb.net/#/?id=changes-in-2141

[2021-03-22 04:39] prathamk22 commented on #8299
@ojasjain24 Can I work on this?

[2021-03-22 04:41] mrudultora commented on #7108
@mikehardy Using HandlerThreads would be a good option. If you allow there use I would like to work on this issue.

[2021-03-22 05:00] infinyte7 commented on #8247
Then may be again it is problem with Samsung One UI 3.0

[2021-03-22 05:48] infinyte7 commented on #8247
@mrudultora I have tested it one other phone Moto and Asus
And problem persists.

1. Install some shared deck from AnkiWeb
2. Import in AnkiDroid
3. Select a deck and review
4. Click edit from options menu
5. Change type of note
6. Click on fields
Fields are non clickable.

In AnkiDesktop change deck and note type not available so, ```setVisibility=GONE``` can be done when edit option clicked.

[2021-03-22 05:56] mrudultora commented on #8247
@infinyte7 Yes, now I am able to reproduce. Are you working on this ?

[2021-03-22 05:58] infinyte7 commented on #8247
No, I am working on other projects.

[2021-03-22 06:01] ojasjain24 commented on #8299
please ask the maintainers about it.

[2021-03-22 06:49] bhatushar commented on #5685
I would propose the following implementation:

1. Inside Navigation Drawer, replace "Night mode toggle" with a "Theme selector". When the theme selector is clicked, open an alert dialog prompting the user to pick a theme (system default, day mode, night mode).
2. If system default theme is selected, use the previously set sub-theme. Light or Plain for Day theme and Black or Dark for Night theme.

[2021-03-22 06:50] voidplayer commented on #8307
Yes, i said 2.1.42, but its part of the changes of 2.1.41

I believe 2.1.42 was mainly a fast bug fixing release because synchting was failing

Whether is intentional im still trying to figure out the details of why the results are different. It does list some changes on how ```due``` works in the changelog

[2021-03-22 07:09] voidplayer commented on #8307
```"prop:due<=0" AND "prop:due>=-1"``` returns the same results as ```is:due``` before ```2.1.41``` and in ankidroid and only cards due yesterday and today (as the result i would expect as correct) from ```2.1.41``` onwards

[2021-03-22 07:37] david-allison-1 opened #8311 "CI Broken - no such column: allow_empty"
This appears to have broken CI:

[code]

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/7271#issuecomment-803837881_

[2021-03-22 07:56] Arthur-Milchior commented on #8311
I'll look at it.

[2021-03-22 08:10] david-allison-1 opened #8313 "[Suggestion] CI: Automate "commit message length" check"
**To discuss with AnkiDroid community, not yet accepted for work**

There is currently a checkbox in the PR template to ensure that the commit message title is 50 chars or less

It would be useful to automate this check:

* So it's not forgotten in reviews
* So we can add documentation on writing a good commit message and do not need to duplicate effort explaining it

----

https://github.com/anki

[2021-03-22 08:20] kartikeysaran commented on #8293
Would love to work on this if available

[2021-03-22 08:35] kartikeysaran opened #8315 "Using DataStorePreferences Instead of SharedPreferences"
## Using DataStore Preferences instead of Shared Preferences can be a great feature to include
Currently we are using Shared Preferences inside our application , If we use DataStore Preferences , we might be able to prevent certain crashes

### Benefits of using DataStore Preferences instead of Shared Preferences

<img src="https://3.bp.blogspot.com/-Vk_q5hWw6DQ/X00ZfiRrB9I/AAAAAAAAPlo/u-kvBvmMfzg

[2021-03-22 08:46] david-allison-1 commented on #8315
Preface: only had a skim of the documentation, may be missing something

I haven't seen any `SharedPreferences`-related crashes. It's a simple API, and there doesn't seem to be any upside in spending a large amount of effort rewriting stable code, with the likelihood of introducing bugs to fix issues that we don't have.

Feels like a "new shiny" from Google that won't be worth the maintenance effo

[2021-03-22 09:14] kartikeysaran commented on #8315
Should i close the issue ?

[2021-03-22 09:14] david-allison-1 commented on #8001
@error12368 I feel fixing #7941 would be of much greater benefit (and would make solving this easier).

But, if you want this, it's yours, please let me know.

[2021-03-22 09:16] AnuragGorkar commented on #5685
This is a practical solution. I think instead of giving that option in the navigation bar and clogging it one could simply add it to the top of the prefrences menu as once applied the user is not likely to change the theme again

[2021-03-22 09:21] bhatushar commented on #5685
@AnuragGorkar I think it'll be better to keep it in navigation drawer so that the layout is consistent and doesn't confuse long term users.

[2021-03-22 09:42] kartikeysaran commented on #8260
Cani take up this issue !

[2021-03-22 09:49] mrudultora commented on #8260
@kartikeysaran I am already working on it.

[2021-03-22 10:12] mrudultora commented on #8260
@david-allison-1 Which all options we have to include in dialog box ? According to your previous replies in this thread I have excluded _Send feedback_.

[2021-03-22 10:43] #8311 closed

[2021-03-22 13:39] mikehardy commented on #8315
What we need to do in reality is handle deprecation on existing code #5019

[2021-03-22 13:39] #8315 closed

[2021-03-22 15:03] pravesh00 commented on #8293
Can I work on this?

[2021-03-22 15:09] pravesh00 commented on #8187
Is anyone working on this?

[2021-03-22 17:11] almas33 commented on #8211
Hi @ChaxuGarg are you working on this? If not I would like to work on.

[2021-03-22 18:12] david-allison-1 commented on #8187
Active PR, but hasn't been looked at in a few days. let's give the author a little more time.

@ChaxuGarg, are you around?

[2021-03-22 18:18] #8266 closed

[2021-03-22 19:29] almas33 commented on #6174
Hi @david-allison-1  I was looking in this issue and if I understood correctly :- implementing the for eg:
 ` AnkiDroid/src/main/java/com/ichi2/anki/CardBrowser.java` this way is causing problems for `showDialogFragment(dialog)`

[2021-03-22 20:04] almas33 commented on #8211
There doesn't seem to exist any lint check on this , regarding copyrights there is only one lint check which suggests to convert (c) to copyright symbol

[2021-03-22 20:23] ChaxuGarg commented on #8187
Yeah, i am here. Really sorry for being inactive @mikehardy, took a little digital detox, will fix the issue very soon now.

[2021-03-22 20:24] ChaxuGarg commented on #8211
I haven't started working on it yet, so sure @almas33 go ahead

[2021-03-22 23:49] abdnh commented on #8307
This may be relevant:
https://github.com/ankitects/anki/pull/904

My understanding is that learning and "preview repeat" (failed non-rescheduled cards in filtered decks, if my understanding is correct) cards are now included. The change also affects `is:due` apparently.

The 2.1.41 changelog also mentions something about suspended cards in this context.

[2021-03-22 23:52] abdnh commented on #8307
By the way, there is also a small change affecting `is:learn`. See https://github.com/ankitects/anki/pull/895

[2021-03-22 23:54] kr1419 opened #8318 "[Bug] Anki won't open on Google pixel 5"
###### Reproduction Steps

1.  tap app icon
2.
3.

###### Expected Result

app opens. Not an issue until today. But before that, Anki was often not responding after going through a card and I had to wait for it to work.

###### Actual Result

Nothing. Sometimes it says anki is not responding.

###### Debug info
I can't get this as the app won't open.

###### Research
*Enter an [x] character to con

[2021-03-23 00:18] david-allison-1 commented on #8318
No relevant crashes in our tracker for a Pixel 5.

Could you try downloading an earlier stable version of AnkiDroid (2.13.5 for example): https://github.com/ankidroid/Anki-Android/releases/tag/v2.13.5  (Pick `Parallel.A`).

If this works, it's a problem with a new version of the app; if it doesn't, it's a problem with your collection. Let us know and we can diagnose further.

[2021-03-23 00:23] david-allison-1 commented on #6174
This should be a simple one - move to an interface-based solution as used in our other fragments:

https://github.com/ankidroid/Anki-Android/blob/53944a2113a289541843c56e134c9c10fd459b56/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/ImportDialog.java#L29-L35

[2021-03-23 00:25] david-allison-1 commented on #8211
We can write our own if one doesn't exist: https://github.com/ankidroid/Anki-Android/pull/7707

[2021-03-23 01:02] david-allison-1 opened #8319 "[Bug] AnkiDroid - Hard Crash on startup persisting after restart"
**Fix:**

(https://play.google.com/store/apps/details?id=com.google.android.webview)

https://www.google.com/appsstatus#hl=en&v=issue&sid=1&iid=aa75515d184a2423be444d676b7ebf45

-----

~~Workaround:~~
~~* Launch Google Play Store~~
~~* Hamburger Menu~~
~~* My Apps & Games~~
~~* Installed~~
~~* Android System WebView~~
~~* Uninstall Android System WebView (https://play.google.com/store/apps/details

[2021-03-23 01:09] kr1419 commented on #8318
It works perfectly with that version. Here is my debug:
AnkiDroid Version = 2.13.5

Android Version = 11

ACRA UUID = c75f1602-d621-4905-b10b-972e080ab97e

Scheduler = std

[2021-03-23 01:12] Kartoffel0br commented on #8319
I think the same thing is happening with me, it was working fine until this morning tough.

[2021-03-23 01:14] kr1419 commented on #8318
It was working for a little bit. Now the app won't open.

[2021-03-23 01:23] david-allison-1 commented on #8319
Reproducible on AnkiDroid 2.14.6 on my Google Pixel 3a (Android 11)

* Open AnkiDroid
* Swipe up to close
* Open AnkiDroid
* AnkiDroid doesn't open

[2021-03-23 01:26] kr1419 commented on #8318
This seems to be an issue with the android version or phone. All of my other apps close quickly after opening them. Restarting doesn't help. But the other thing about Anki not responding because of going through one card is still an issue aside from that.

[2021-03-23 01:27] Kartoffel0br commented on #8319
Reproducible on AnkiDroid 2.13.5, 2.14.3, 2.14.5, 2.14.6, 2.15alpha32 on my Samsung  A105M (Android 10)

Open AnkiDroid
Swipe up to close
Open AnkiDroid
AnkiDroid doesn't open

[2021-03-23 01:32] Kartoffel0br commented on #8318
My phone says Google Play Services is crashing now, what is happening???

[2021-03-23 01:37] Kartoffel0br commented on #8319
Uninstall the latest WebView update, it's the source of the problem.

[2021-03-23 01:52] kr1419 commented on #8318
https://9to5google.com/2021/03/22/android-apps-crashing-webview/

[2021-03-23 01:55] kr1419 commented on #8318
Uninstalling webview seems to have fixed this. Feel free to close the issue. I'm not sure if I should.

[2021-03-23 02:00] david-allison-1 commented on #8318
Thanks! Closing - moving to https://github.com/ankidroid/Anki-Android/issues/8319 for further discussion.

Today's not gonna be fun

[2021-03-23 02:00] #8318 closed

[2021-03-23 03:53] TarekkMA commented on #8319
Reproducible on AnkiDroid 2.14.6 Huawei P30. Same steps as stated above

[2021-03-23 04:10] david-allison-1 commented on #8319
Fix allows AnkiDroid to start, but doesn't allow reviewing.

preemptive revert: https://github.com/ankidroid/Anki-Android/pull/8321

[2021-03-23 04:24] prateek-singh-3212 commented on #8247
@mrudultora Are you working on this issue?

[2021-03-23 05:12] mrudultora commented on #8247
@prateek-singh-3212 No!

[2021-03-23 05:57] timbob89 opened #8323 "Ankidroid ver 2.4.16 fail to run on android 11"
App fails to start. Delinked collections by way of change to directory name and continued to fail to start. Removed Ankidroid files from phone but 2.4.16 continued to crash on start up. Reverted software to 2.4.13 and app starts - unable to reload prior collection so downloaded backedup library from Ankiweb. Is this a case of poor SW compatibility? For the moment I am running the old version to bu

[2021-03-23 06:06] david-allison-1 commented on #8323
Hi, Google's released a bad update for "Android System WebView". Please uninstall it until they fix it. More info: https://github.com/ankidroid/Anki-Android/issues/8319

[2021-03-23 06:06] #8323 closed

[2021-03-23 06:10] timbob89 commented on #8323
Not to worry, David! Appreciate the feedback - thanks for the hard work (y)

I have uninstalled WebView and it seems to have corrected the issue with Ankidroid 2.4.16.

[2021-03-23 07:27] tanmayChakrawarty commented on #4936
We can further improve the UI by blurry effect or fade the background when FAB is clicked.
I have tried this  https://github.com/tanmayChakrawarty/FabMenu
![Screenrecording](https://user-images.githubusercontent.com/75254780/112109212-49f5b100-8bd7-11eb-9df8-da1f8d73dbe6.gif)

[2021-03-23 08:08] Self-Perfection commented on #8319
It seems I have the same issue with AnkiDroid 2.4.16 from F-Droid. Uninstalling updates for Android System WebView did not work for me. When I checked Android System WebView was disabled and had version 72.0. Probably this means it was already reverted by Google Play, yet AnkiDroid crashed on start.

Reinstalling AnkiDroid worked. No more crash on startup.

[2021-03-23 08:09] david-allison-1 commented on #8319
It's likely that if you close AnkiDroid, then open it again, it'll crash.

If this happens, some users have had luck with disabling/uninstalling Google Chrome.

[2021-03-23 08:20] voidplayer commented on #8307
Nice finding @abdnh

Im still trying to understand what this "preview repeat" is

I have now the search ```"deck:one" AND "is:due" AND "prop:due>-1"``` in ankidroid and desktop. No filtered decks involved yet. Desktop return 1 card more in results

I cant see anything that makes this card different. They are all in deck:one and they are all due today. Why is anki not returning this card in results

[2021-03-23 08:32] 4D17Y4 commented on #4699
I'd like to work on this one if no one is working on it.

[2021-03-23 08:46] nickkossolapov commented on #8319
It seems Google has pushed out an update for this. At least it's working for me now, on a Pixel 4a.

- Google Play Store
- My Apps & Games
- Installed
- Android System WebView
- Update (not remove)

The WebView version I have has an update from 22 March, and is version 89.0.4389.105

Even though I have updates to automatically install, I had to do this one manually now, as I assume right now it's

[2021-03-23 08:47] david-allison-1 commented on #4699
@Arthur-Milchior, is the person you mentioned working on this?

[2021-03-23 08:55] voidplayer opened #8324 "[Bug] filtered decks created on desktop show the mark of subdecks on them"
###### Reproduction Steps

1. create filtered on desktop on ```2.1.41```
2. sync with ankidroid

![image](https://user-images.githubusercontent.com/4019910/112119583-cda2a400-8bbd-11eb-8910-a781f72dbfa2.png)

[2021-03-23 09:12] david-allison-1 commented on #8324
First step in diagnosis would be to:

* Reproduce
* Obtain the JSON for the decks and see what's changed
* Post results

[2021-03-23 09:45] voidplayer commented on #8324
I cant find a way to obtain the json from desktop or ankidroid. Only export is in apkg, which contains a sqlite database. But looking at the database i found this one json field and his a diff from a filtered with colapse icon (created on desktop) and a filtered without

Both exports are done from ankidroid

[code]

[2021-03-23 10:51] Arthur-Milchior opened #8326 "Unit test for review dates"
We really need to have unit tests that check that, when you press again, hard, good and easy, the next review date are computed as they should be.

It is a good first issue because essentially, it consists in creating cards, reviewing them, and checking their new state or date are correct. So it really uses a very small part of the code. However, you may need help to figure out what are the date t

[2021-03-23 13:25] mikehardy commented on #8064
I think these are somewhat new

[code]

[2021-03-23 13:25] akhilesh1102 commented on #7110
SOFT_INPUT_STATE_VISIBLE   worked for me

[2021-03-23 14:15] almas33 commented on #6174
That means we have to implement those functions in `TagsDialog.java` as `override` and  `nonNull` and make `interface` in  class of `activity` then we will call those functions.

[2021-03-23 14:17] prince-09 commented on #4925
@david-allison-1 can I work on this issue?

[2021-03-23 14:19] prince-09 commented on #4699
@david-allison-1 can I work on this?

[2021-03-23 15:30] TarekkMA opened #8327 "[Bug] Same tag can be inserted with a different letter cases"
Tag selection is not working the same as the upstream.

###### Reproduction Steps

1. Open `TagDialog` from any location of the app
2. Click the plus sign
3. Enter a tag like "Test"
4. Click again and enter "test"

###### Expected Result
Only the first entered tag ("Test") should be available for selection

###### Actual Result
"Test" and "test" are both selected as tags

###### Research
- [x] I h

[2021-03-23 15:30] TarekkMA commented on #8327
#8322 should fix this.

[2021-03-23 15:37] mrudultora commented on #6420
Currently, there is difference in the length of arrays of `PREVIOUS_LANGUAGES` and `CURRENT_LANGUAGES` but as you told above, I think they must be of same lengths. Am I heading in right direction ?
Is the unit test written below correct ?
[code]

[2021-03-23 16:28] mikehardy commented on #8293
@kartikeysaran asked first so I think we should let them have a go at it

Please keep the first PR very small and focused as this will be a new way of starting activities and getting results for us. These are fundamental concepts in Android programming so it's important that we all get a chance to look at it from a *design* perspective before a lot of implementation takes place, but one single imp

[2021-03-23 16:30] mikehardy commented on #8298
@voidplayer I actually quite enjoy it as well - as mentioned I build the changelogs off them and it's amazing to see what gets done. But as a *forward* looking tool they are not useful the way I have been managing them, I've only really been managing with the changelog in mind and not other use cases

[2021-03-23 16:37] mikehardy commented on #8313
Here's a github action that can do it if someone makes a workflow to implement
https://github.com/mristin/opinionated-commit-message

[2021-03-23 19:14] Arthur-Milchior commented on #8229
@dae Can you please confirm that this was indeed what you intended to do ? It seems slightly counter intuitive and before we port this feature in AnkiDroid I'd like to have confirmation that it is not a bug.

If there is a single string the user must write, but potentially write it many time (e.g. {"foo", "foo", "foo"}) then the result will contains "foo" a single time. However, if the users must

[2021-03-23 20:15] haran2248 commented on #8128
@Arthur-Milchior @david-allison-1 Can you guys tell whether this issue is relevant?If yes can I work on this?

[2021-03-23 20:18] haran2248 commented on #8114
Can I try taking up this issue as well?

[2021-03-23 20:46] haran2248 commented on #5685
I have started working on this issue,Is it possible to assign me? @david-allison-1 @mikehardy

[2021-03-23 20:48] haran2248 commented on #5685
I had a conversation regarding this with david few days back in discord i guess,He asked me to make a few changes in the PR that he made

[2021-03-23 21:00] 2tanayk commented on #8114
I don't think two people should work at the same time

[2021-03-23 22:51] KidaYuushi opened #8328 "Review scroll lagging"
Recently when I review my large cards and need to scroll, the "FPS" drops for some reason (Not just the scroll, everything that moves, like the options and menu also lag when I review a card)

I tried uninstalling, deleting all cards, deleting all codings (cards templates) and note types, but the error is still there, can someone help me?

[2021-03-23 23:20] mikehardy commented on #8328
Hi there! You did not include any version information or anything, but you are using AnkiDroid 2.14.5 or 2.14.6 (likely 2.14.6 and your device is running Android 8 or 8.1 right?

We had to turn off hardware render for Android 8/8.1 because of a webview bug #8154

It was a difficult choice, but was necessary to stop total reviewer failure for affected people, at the cost of lower FPS for some. For

[2021-03-23 23:20] #8328 closed

[2021-03-24 06:46] david-allison-1 commented on #6174
* Add the interface with relevant methods
* Have the activity implement the interface
* Add a method to get the activity, cast it to the interface
* Call the method on the interface

[2021-03-24 06:50] david-allison-1 commented on #6420
* `CURRENT_LANGUAGES` exists to inform the user that the tests need to be manually looked at if a language is added to the app
* `PREVIOUS_LANGUAGES` is the previous value of `CURRENT_LANGUAGES` and exists to ensure that languages are not accidentally removed from the app without good reason.

[2021-03-24 07:04] david-allison-1 commented on #8313
Does this mean that we'll only get results for this after we `push` to master (or another local branch to the repo), or does GitHub show checks run on the source repo in the PR?

[2021-03-24 09:27] tapish2000 commented on #8247
I will try to look into this one if no one minds.

[2021-03-24 09:41] dae commented on #8229
Originally it just used a simple set, but users found that confusing when "one, two, one" become "one, two". But there are other users who take a paragraph and delete a word from it multiple times, so if we did not enforce any uniqueness, they may have to write out "one, one, one, one", which is kind of silly - so the single instance case is special-cased.

[2021-03-24 09:43] #7985 closed

[2021-03-24 10:47] prateek-singh-3212 commented on #8247
I would like to work on this issue.

[2021-03-24 11:08] DavidBakala opened #8329 "Does "estimated time to complete reviews" include time spent by "swiping" back?"
Is there a bug in the "estimated time for review" calculation for review for a particular day in Ankidroid when we use "swiping" (gestures) to a previous card feature?

I'm using "gestures" and a time limit (15s) for a card to review, untill it skips automaticly to the next one and marks the card as "Again", so maybe in 1/5 - 1/3 cases I "swipe" back (using "gestures" feature) onto the previous ca

[2021-03-24 11:11] mrudultora commented on #7766
@sakshi-1604 Are you still working on it ?

[2021-03-24 11:51] kartikeysaran commented on #8293
Okay !

[2021-03-24 13:00] david-allison-1 commented on #5685
To remove ambiguity: I wrote a PR a while back which may be extended if the code is useful and it seems useful

My thoughts:

* If a user's phone supports automatic night mode (>= Android 10):
* Select the theme based on the system night mode value
* Remove the "Night Mode" toggle
* Ensure that we handle config changes while inside the app

Rationale: If the user's phone supports auto-night-mode,

[2021-03-24 13:16] david-allison-1 commented on #8319
I'll be bold and close this, since Google's released an update and there's nothing we can do

Will keep it pinned for a while

[2021-03-24 13:16] #8319 closed

[2021-03-24 13:18] Ekagra commented on #8326
I would like to work on this

[2021-03-24 13:20] sakshi-1604 commented on #7766
I was working on it . But as my college exams are going on I am going to submit pr after 1,2 weeks

[2021-03-24 13:22] Arthur-Milchior commented on #8326
Go for it. Don't hesitate to ask question if you have a doubt about what is the expected behavior of the scheduler. It's not always straightforward when you move the hour at which day start multiple times or if you change timezone.
You probably want to look at Robolectric's getCol to find the date at which the unit tests are run.

[2021-03-24 13:23] david-allison-1 commented on #4925
@IAmJaishree @Arnold2381

I'll go by order requested above - if you're still interested, please let me know below

[2021-03-24 13:30] sakshi-1604 commented on #7766
Yes

[2021-03-24 13:35] Ekagra commented on #8326
Sure, I'd update if I need help.

[2021-03-24 14:10] Ekagra commented on #8326
[code]
starting from here, can you brief me about what this does and what needs to be done?

[2021-03-24 16:18] zestily commented on #8022
Hi! I also have this problem! I recorded my screen. As you can see, everything works fine until I look at the card. Then the attached image is from a different one. It also doesn't matter if I use Anki's camera function, or if I crop the image or not.
Any idea on how to fix this?

https://user-images.githubusercontent.com/81319012/112344834-ca461000-8cc4-11eb-87d8-2fb81150b7e6.mp4

@iCarlosCode

[2021-03-24 16:29] mikehardy commented on #8313
@david-allison-1 unsure, things like this only work with testing - I integrated a conventional-commits PR title checker and it is even more subtle for fork-based flows https://github.com/amannn/action-semantic-pull-request/#event-triggers - so hesitate to even speculate without actually trying it

[2021-03-24 16:57] mikehardy commented on #7110
@akhilesh1102 using just VISIBLE ignores the previous ability of the view to resize, and to maintain that ability you need to forward port to the new "insets" way of doing things. Also the constant you reference has a note about editing state etc that gives me pause as you don't indicate anything about the testing and Android versions you used when you tested and arrived at "works for me" ?

https

[2021-03-24 16:58] sumadithya commented on #7992
I tested it further.
Turns out it only gives this problem when there are duplicate cards.

[2021-03-24 17:15] mikehardy commented on #5685
I think that is close but still like the idea of a manual override in preferences (not on the navigation drawer). We manipulate colors in the app with a card color inverter in night mode and I think it's useful for users to be able to explicitly night mode within the app just in case.

Also, we have 4 themes not 2, so we need to allow the user to resolve them (OLED users want the "black" theme for

[2021-03-24 17:18] #7931 closed

[2021-03-24 17:20] #8263 closed

[2021-03-24 17:24] #8234 closed

[2021-03-24 17:26] iCarlosCode commented on #8010
Yeah, it's a duplicate. I should have searched more. Sorry.😅

[2021-03-24 17:26] #8267 closed

[2021-03-24 17:27] iCarlosCode commented on #8022
Thanks for recording, I am going to try it.

[2021-03-24 17:31] david-allison-1 commented on #8010
No worries! Thanks for reporting

[2021-03-24 17:38] zestily commented on #8022
Thank you so much!

[2021-03-24 17:42] #6622 closed

[2021-03-24 17:47] david-allison-1 commented on #5685
@mikehardy

Definitely - I was unclear

----

I don't see the use case where a user would often switch between "manual" and "auto", so I don't see the need for doubling up the "following system" theme and the "manual" theme. I'd presume that these would be the same values, and it saves adding two preferences.

----

Could we get analytics on the manual/auto selection preference? I'm of the opinion

[2021-03-24 18:00] #8294 closed

[2021-03-24 18:12] david-allison-1 commented on #7992
Sounds good! Thanks for the update

[2021-03-24 18:35] 4D17Y4 commented on #4759
Hey, I'd like to work on this one.
I have gone through the issue and noticed that the mentioned settings in the issue is migrated to `custom study -> modify today's new card limit.`
I can work on this as my first issue if this still needs help.

[2021-03-24 18:38] david-allison-1 commented on #4759
Sounds great, thanks!!

[2021-03-24 18:39] Arthur-Milchior commented on #8326
I can. In this case, I'd like you to please write down javadoc, so that the next people reading this get a better understanding.

You are outdated. This code is not on https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/test/java/com/ichi2/anki/RobolectricTest.java#L246 anymore. If you have a local copy of code on your computer, you may want to update it. I did recent changes in or

[2021-03-24 18:57] mikehardy commented on #8247
Sounds great, this looks like a great example of collaboration among everyone too, it is really great to see :-)

[2021-03-24 20:23] haran2248 commented on #8005
Are you suggesting that the maximum time limit is increased from 60s to more than that?Do you have any maximum cap in mind?

[2021-03-24 21:48] abdnh commented on #8307
Could you post screenshots of the review logs of some of these cards (the additional card at least)?
Click Cards > Info in the desktop to see the review log.

[2021-03-24 22:50] mrudultora commented on #7729
Does this happened on a Samsung device ?

[2021-03-25 01:45] ElnuDev commented on #8005
No, rather that there should be "a warning, either in the Reviewer, or in deck statistics that the "maxTaken" is often (~25% of the time?) being hit, and this will impact both estimates, and stats," as @david-allison-1 said. I think for most people/decks, 60 seconds is perfectly adequate, but in case it isn't, it would be good to have some sort of warning to let people know that there's an option

[2021-03-25 07:18] david-allison-1 commented on #8005
Up for discussion - I don't think we've got a good design yet.

I'd be tempted to say "display the timer (in red) if the max time is hit", but having opinions from other maintainers would be useful here

[2021-03-25 07:20] david-allison-1 commented on #7729
Samsung Galaxy S6 (G920F - European Variant)

[2021-03-25 07:42] mrudultora commented on #7729
This happens mostly in Samsung devices only. Probably in such cases we can use `getFilesDir`. Your views ?

[2021-03-25 08:07] voidplayer commented on #8005
Major problem wast that op wasnt aware of this setting. I personally discovered it myself and turned it in after a few years of use

Ideas:
- Show it in by default. This will likely make you aware of the cards being time sensitive and look for a setting
- Dont show it by default. Show a tool tip after hitting it the 100th time

[2021-03-25 08:23] voidplayer commented on #8307
Are you having problems reproducing this?

Any way, here is some screenshot. Cards 1, 3, and 5 are not showing in ankidroid. Details are from card 1

![image](https://user-images.githubusercontent.com/4019910/112441022-42571900-8d4b-11eb-8d1d-8f45d82cb7ff.png)

[2021-03-25 08:37] Abanoub-Asaad opened #8336 "Put cursor at the end of text in EditText of AnkiDroid directory"
When I open
`Settings > Advanced > AnkiDroid directory`
The cursor is at the start of text in EditText. It should be at the end of the text for **better experience**.

[2021-03-25 08:38] david-allison-1 commented on #8336
I'd like this, would you like to work on it?

[2021-03-25 08:40] Abanoub-Asaad commented on #8336
Yes, I want to work on it.

[2021-03-25 08:41] david-allison-1 commented on #8336
To note: there are a few more complex feature requests to turn this dialog into a file picker with a "restore default".

I'm not sure how long these will take to get to get through (or if anyone will work on them), I'd be happy with this on its own, but thought you'd want to be aware.

[2021-03-25 08:45] Abanoub-Asaad commented on #8336
Thanks for your notes. I'll be aware of them.

[2021-03-25 09:08] david-allison-1 commented on #8249
Done: https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#custom-search-engines

[2021-03-25 09:08] #8249 closed

[2021-03-25 09:17] prateek-singh-3212 commented on #8247
![Issue 8247](https://user-images.githubusercontent.com/76490368/112447458-59abfb80-8d77-11eb-8595-919b287304a0.gif)
I have greyed out the EditText Fields as demonstrated in the above video. Is it is correct?
here is the code:
![issue 8247 code snippet](https://user-images.githubusercontent.com/76490368/112448565-86144780-8d78-11eb-9699-853c229a9cdb.png)

[2021-03-25 09:30] mrudultora commented on #6774
Would a play/pause button in Reviewer is Ok ? If yes, I would like to work on it.

[2021-03-25 09:36] david-allison-1 commented on #8247
Looks good! Could you put in a PR?

[2021-03-25 09:37] david-allison-1 commented on #6774
How does Anki Desktop do this?

[2021-03-25 09:54] mrudultora commented on #6774
In Anki Desktop, the audio can be paused from going to **More->Pause Audio** or with **number 5** from keyboard.

![img](https://user-images.githubusercontent.com/65870389/112453816-143efc80-8d7e-11eb-8abe-383b92a2a38a.png)

[2021-03-25 09:57] prateek-singh-3212 commented on #8247
Yes, Sure

[2021-03-25 10:11] mnhende2 commented on #6774
I think that AnkiMobile (the iPhone version) just has a pause/play button.  So, I think that same solution would work in AnkiDroid.

[2021-03-25 10:42] david-allison-1 commented on #8329
I believe this is the same behaviour as Anki Desktop/AnkiMobile, so not a bug, but if they change, we will. Feel free to ask: https://forums.ankiweb.net/

* We store review data in the `revlog` table: https://github.com/ankidroid/Anki-Android/wiki/Database-Structure . This includes time taken per review
* All our statistics use this table
* `undo` removes the entry, and resets the timer
* So, yes,

[2021-03-25 11:16] Arthur-Milchior opened #8337 "Init capacity set capacity instead of size"
This change sets the `initialCapacity` for `HashSet` and `HashMap`

My understanding is that these collections will expand their capacity when `capacity > intialCapcity * loadFactor` (maybe `>=`)

As `loadFactor < 1`, this means that by setting the capacity equal to the known collection size, we'll guarantee that each collection will go through a resize operation, which is what we want to avoid

_

[2021-03-25 12:49] abdnh commented on #8307
I thought of multiple potential causes for this, but all of them turned to be wrong after consulting the code.

If those were all relearning cards, could this be caused by differences between how the two clients handle them?
Maybe someone more familiar with AnkiDroid's codebase can answer this.

[2021-03-25 13:36] voidplayer commented on #8307
None of those cards has been touched today (it was relearn yesterday, but not today)

Of those, only the card 1 was relearn yesterday, card 3 and 5 are not (intervals 3.1 and 2 months)

[2021-03-25 14:26] 4D17Y4 commented on #8169
Is this issue being worked on ?
I can try this one if its not , in my case it happens at random time on any random deck.
Mostly while switching to dark mode and sometimes on disabling it.

[2021-03-25 14:28] david-allison-1 commented on #8169
@ritvij14 , are you still working on this?

[2021-03-25 14:39] #8021 closed

[2021-03-25 14:58] mikehardy commented on #8336
Just a note - if this is turned in to a file picker then you can't assign "does not exist yet" directories to it, to be specific on first start /sdcard/AnkiDroid does not exist, and if I install a parallel build and I want it to store things in /sdcard/AnkiDroid.A it won't exist yet, I won't be able to pick it.

I think this whole thing "goes away" actually and we do not allow it to be configurabl

[2021-03-25 15:11] Abanoub-Asaad commented on #8336
Did you mean that I "As a user" can't edit the path to a folder in external storage and only all I can do is to edit the path to an internal storage folder?

[2021-03-25 15:21] ritvij14 commented on #8169
No I am not working on this. I tried figuring it out but couldn't. Please assign it to @4D17Y4

[2021-03-25 15:28] Abanoub-Asaad commented on #8336
Can you tell me Where the Settings' related classes in the code because I can't find them?

[2021-03-25 15:33] mikehardy commented on #5304
Updated title to reflect the official deadline:

[2021-03-25 15:37] david-allison-1 commented on #8336
https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/res/xml/preferences_advanced.xml#L29-L33

https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com/ichi2/anki/Preferences.java

[2021-03-25 17:07] AyaanJaved commented on #8337
Could I work on this?
It's my first foray into the open-source world, would try my best to solve this issue.

[2021-03-25 17:11] david-allison-1 commented on #8337
@AyaanJaved

Thanks! AnkiDroid was my first Open Source Project. We're a welcoming bunch.

There's already a PR in for this issue: https://github.com/ankidroid/Anki-Android/pull/8339 so it's probably best to find something else that interests you.

Feel free to message me (`DavidA#0813`) on [our Discord](https://discord.gg/qjzcRTx), and/or post in `#ankidroid-gsoc` if you can't find anything, and

[2021-03-25 17:17] AyaanJaved commented on #8337
Oh, my bad for not noticing that.
Thanks a lot @david-allison-1.

Noted 👍

[2021-03-25 17:37] MarioRomanDono commented on #5019
Hey, I'm taking a look at this. I'm not sure if I'm missing something, but, in order to move to the new API, should I just change the import to `androidx.preference` and remove the old API uses in every affected file? I saw in the `gradle.properties` file that `android.useAndroidX` and `android.enableJetifier` flags are already set to true, which is a requisite pointed [here](https://developer.and

[2021-03-25 18:00] Arthur-Milchior commented on #8337
As far as I'm concerned if you want to do the work of adding unit test, I'd be quite happy about that. They are missing in #8339

[2021-03-25 18:26] Abanoub-Asaad commented on #8336
**Firstly**, sorry, I don't understand what you mean when you said "restore default"

**Secondly**, I checked most of the dialogs in the code base, but I couldn't find the code of the target dialog which is used to edit the path. I'm trying to find this dialog to access it and its related methods like `OnPreferenceClickListener`.

[2021-03-25 18:30] david-allison-1 commented on #8336
Restore to the default value:

Some users have this value modified due to the backup process between devices

https://github.com/ankidroid/Anki-Android/blob/69dba64459dc466daad2d81012c55b9d66b721bb/AnkiDroid/src/main/java/com/ichi2/anki/CollectionHelper.java#L228-L237

Preferences reads `EditTextPreference` and converts it into a dialog.

https://android.googlesource.com/platform/frameworks/base/+

[2021-03-25 18:35] mikehardy commented on #5019
@MarioRomanDono more or less correct yes? The problem is that I think one or more of the preferences might not be converted to fragments which *may* imply a structural change

Either way it's a wide-ranging change, that's for sure, I just checked to see how many files were affected:

[code]

!

[2021-03-25 21:34] haran2248 opened #8342 "[Enhancement] Make Preferences Searchable"
**Is your feature request related to a problem? Please describe.**
The settings is very large,It will be useful to have a seachView attached to the toolbar

**Describe the solution you'd like**
The SearchView attached will be able to redirect the user the required setting

**Describe alternatives you've considered**
Open to discussion from members

**Additional context**

[2021-03-26 03:54] prince02765 commented on #8342
It's very useful to add Searchbar on the toolbar.

When we added Searchbar we can also show tags the relevant search or most frequently search in Searchbar. something like this.

so, user can easily find.

![Settings_Suggestions](https://user-images.githubusercontent.com/69643676/112574752-f8d30080-8e14-11eb-97c2-6210cc28d88b.jpg)

[2021-03-26 06:02] Arnold2381 commented on #4925
@david-allison-1  I am interested.

[2021-03-26 06:54] david-allison-1 commented on #4925
Great! Thanks, sorry for the delay

[2021-03-26 06:55] Arnold2381 commented on #4925
No problem!!

[2021-03-26 06:59] david-allison-1 commented on #8342
Seems useful. Would you like to work on this?

[2021-03-26 07:09] prince02765 commented on #8342
I definitely try from my side, if I can make exactly something like this then sure I made it.

I'm working on it.

[2021-03-26 07:09] david-allison-1 commented on #7983
Let's clamp the value at 1m

[2021-03-26 07:15] david-allison-1 commented on #8342
It'd be fair to give @haran2248 a chance to request the issue, as he raised it. Let's give it 24 hours

[2021-03-26 07:18] prince02765 commented on #8342
Okay, No Problem

[2021-03-26 07:27] ritvij14 commented on #8027
@david-allison-1 can I work on this? I am currently not assigned to any issue. From what I read on discord and the explanation on this issue, all I have to do is modify the string being sent to search for (by adding parenthesis), and adding a unit test for this. The unit test would check for the string that gets sent and whether it always has that parenthesis or not.

Did I get that right? Please

[2021-03-26 07:31] david-allison-1 commented on #8027
Sure - it should just be a simple addition of parenthesis to the search (and adding a unit test to ensure against regressions), but do check the linked PR, it may be slightly more complex.

[2021-03-26 08:53] haran2248 commented on #8342
Yeah I have started working on this

[2021-03-26 10:06] AyaanJaved commented on #7983
Can I work on this?

[2021-03-26 12:46] Abanoub-Asaad commented on #8336
<br>

When I'm trying to implement the target feature in this method `setOnPreferenceClickListener`, I'm facing some problems.

[2021-03-26 12:53] david-allison-1 commented on #8336
Intuition tells me it'll be easier to implement this via inheriting from `EditTextPreference`

[2021-03-26 12:56] Abanoub-Asaad commented on #8336
Actually, this What I tried to do
[code]

[2021-03-26 13:50] prateek-singh-3212 opened #8344 "Adding a Reminder button in study option fragment"
**Is your feature request related to a problem? Please describe.**
Setting reminder is somehow a lengthy process and people use this very often.

**Describe the solution you'd like**
we can put the button at the study option fragment which redirects the user to new page which askes user to select the priority of reminder. If priority is high means the user wants to set up alarm and if priority is

[2021-03-26 14:09] david-allison-1 commented on #8344
I think we'd only do this if upstream did it.

Feel free to request it as a feature: https://forums.ankiweb.net/

[2021-03-26 14:09] Arnold2381 commented on #4925
@david-allison-1  waiting for your reviews!!

[2021-03-26 14:15] mrudultora commented on #8287
@david-allison-1  As ritvij14 is currently assigned a different issue, I want to take this up.

[2021-03-26 14:19] david-allison-1 commented on #8287
Sure

[2021-03-26 14:26] Prashant830 commented on #4925
I want to solve this issue ,can I take this issue?

[2021-03-26 14:29] david-allison-1 commented on #4925
Thanks for the enthusiasm @Prashant830!

This issue already has a Pull Request in: https://github.com/ankidroid/Anki-Android/pull/8345, it'd be best to work on another issue.

[2021-03-26 14:35] Prashant830 commented on #4925
@david-allison-1 Ok never mind, I will try to solve some other issue.

[2021-03-26 14:42] #6174 closed

[2021-03-26 14:45] #8247 closed

[2021-03-26 15:16] Prashant830 opened #8347 "Modifying login UI of the app"
**Modifying login UI of the app**
Right now, the thing that the Login UI of the AnKidroid app is certainly quite good but the UI is not like premium. So I would like to improve the Login UI of the app .

**Describe the solution you'd like**
Moving ( Email Address & password) EditText  in a rounded box & login button corners in rounded form .

**Additional context**
Demo like this -:

https://user-

[2021-03-26 15:28] #7983 closed

[2021-03-26 15:39] Arthur-Milchior commented on #8128
Updating/destroying the notifications are clear win, as long as it does not require to much background process.
The main risk is that notification process need database access, so it risks to slow down ankidroid while the new computation is done. Not something we can do regularly.

We usually do not like adding to much options. But "reminder" is already a page by itself and is mostly empty, so I g

[2021-03-26 16:23] Prashant830 opened #8348 "At navigation drawer, The menu option of Report a Bug is missing ."
**The menu option of Report a Bug is missing .**
 In  this application , At navigation drawer, The menu option of Report a Bug is missing .

**Describe the solution you'd like**
Creating a menu option for report a bug at navigation drawer.
After creating the report a bug option, navigation drawer, if any user sees any issue or bug in app, then that user will click on this option and then he will c

[2021-03-26 17:41] Arthur-Milchior opened #8349 "android.preference.Preference is deprecated"
We are using `android.preference.Preference` which is marked as deprecated since API 29. It would be nice to consider moving to `androidx.preference.Preference` as suggested. Or if we don't do it, document why we prefer to keep a deprecated class

[2021-03-26 18:25] prince-09 opened #8351 "[App is getting restarted when switching between day and night mode]"
###### Reproduction Steps

1.  Click on the night mode button
2.  You will see splash screen again

###### Expected Result
It should not show splash screen, it should change current be on current activity.

###### Actual Result
We see splash screen again

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Res

[2021-03-26 18:26] prince-09 commented on #8351
@david-allison-1 please look into it

[2021-03-26 19:48] Arthur-Milchior opened #8352 "Extracts keys (string) to constants"
Android and Anki uses a lot of dictionnary to save and load preferences and pass parameters in call to activities.

The risk with strings is that a difference, such as the case, or - and _, is hard to notice and risk to break things. It would be helpful to replace those strings by `static final String`, that is, constants, to ensure that however the code evolves, there is no duplication of strings

[2021-03-26 19:54] Arthur-Milchior commented on #4925
It's not clear to me why this would generally be a good idea. A request could be such as
"deck:foo is:new bar" to indicate that you want to search a new card from deck foo containing "bar". At most, only "bar" should be added in the first field.

I guess only part that are not predicate should be added. And even that rules is not easy since we have all boolean combination possible here

[2021-03-26 19:59] Arthur-Milchior commented on #4699
no.

@4D17Y4 if you don't work on anything else, please take it. Please also note what you're working on on https://docs.google.com/spreadsheets/d/1desofSHMBVWEhQUnDeFxcEefoBVT9fStfC6H_slUl0o/edit#gid=0

[2021-03-26 20:29] 4D17Y4 commented on #4699
I just finished on the other issue, will take this up, thanks.
Should I be adding this one to assigned ?

[2021-03-26 20:34] david-allison-1 commented on #8352
https://github.com/ankidroid/Anki-Android/pull/8066

[2021-03-26 20:59] david-allison-1 opened #8354 "[Bug] Login Page - Anki Icon Flickers"
###### Reproduction Steps

1. Open Login Page (vertical screen)
2. Anki Icon appears

###### Expected Result

* Anki Icon stays on screen (it's vertical, and my phone has room for the icon).

###### Actual Result

* Anki Icon then quickly disappears

###### Debug info
[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhanc

[2021-03-26 21:01] david-allison-1 commented on #8354
Screnshots:

<details><summary>While Screen loading</summary>

![image](https://user-images.githubusercontent.com/62114487/112692143-6105fe80-8e76-11eb-88fc-0be6e68739e4.png)

</details>

<details><summary>After screen loaded</summary>

![image](https://user-images.githubusercontent.com/62114487/112692162-6e22ed80-8e76-11eb-8058-cbead457c9ae.png)

</details>

[2021-03-26 21:02] david-allison-1 commented on #8354
@Akshay0701 - follow on from #8182. I'm happy to put this up as a "Good First Issue" if you don't have time. No pressure

[2021-03-26 21:02] irenenserrano commented on #8352
Hello,
My partner and I would like to work on this issue.

[2021-03-26 21:06] bhamrickatmills commented on #8354
@david-allison-1 if @Akshay0701 is busy, could I give this a shot as a first issue?

[2021-03-26 21:06] david-allison-1 commented on #8347
We've already gone through one UI change for the login page: https://github.com/ankidroid/Anki-Android/pull/8182 , and it'd be best to test this before trying a new design.

For future, we've added some guidance for UI changes: https://github.com/ankidroid/Anki-Android/wiki/User-Interface-contribution

----

But... I would support a change adding the password/email icon to the left hand side of th

[2021-03-26 21:08] david-allison-1 commented on #8354
Thanks for the interest!

Let's give @Akshay0701 24 hours, if there's no reply, it's yours (feel free to ping me and I'll assign it after this).

[2021-03-26 21:11] david-allison-1 commented on #8128
@haran2248 It'd be great to have someone work on this, but it'd be best to consolidate discussion on #4944. It feels that we have a lot of similar issues stemming from the need for a redesign, and keeping the discussion centralised would be useful.

[2021-03-26 21:13] Arthur-Milchior commented on #8352
Given that David already did a lot of work, I'd like to wait until what can be merged from #8066 is merged. Don't know how much time it will take

[2021-03-26 21:16] david-allison-1 commented on #8348
Thanks! For now, we've very wary of adding UI changes without solid justification (we're very time-constrained right now with GSoC, and it takes a lot of time away from known bugs/reported issues, for something subjective which ).

We've already added "report a bug" to our help menu in 2.15: https://github.com/ankidroid/Anki-Android/pull/8193

Going to close this as-per https://github.com/ankidroi

[2021-03-26 21:16] #8348 closed

[2021-03-26 21:24] david-allison-1 commented on #8351
Thanks for the report! Do you have a proposed solution?

[2021-03-26 21:25] david-allison-1 commented on #8349
Duplicate of #5019

[2021-03-26 21:25] #8349 closed

[2021-03-26 21:54] david-allison-1 commented on #4925
We've already got a "clear field" button inside the note editor, this has been asked for for some time and would be useful to me.

I'm personally happy with this as it is (a dumb copy from the search to the field), and if we need to iterate, then we'll take it as it comes.

[2021-03-26 22:06] david-allison-1 commented on #7939
How does Anki Desktop implement this functionality?

[2021-03-26 22:10] irenenserrano commented on #8119
Is this issue still available for solving?

[2021-03-26 22:15] david-allison-1 commented on #8119
Sure! Make sure you can reproduce it first. We've updated MathJax for 2.15 already.

I don't know how complex this one will be to solve.

[2021-03-26 23:40] david-allison-1 commented on #8296
Unsure if this is still pending, if it is:

https://docs.codecov.io/docs/github-checks-beta

[code]

or pressing "a" on the GitHub diff to remove the annotations

[2021-03-27 01:12] Prashant830 commented on #8347
@david-allison-1 Ok so i can solve this issue??

[2021-03-27 01:15] Prashant830 commented on #8347
Next time I will take care of all the roles before putting any issue

[2021-03-27 01:18] david-allison-1 commented on #8347
I'd personally accept a change adding an email/password icon to the current screen

[2021-03-27 01:21] Prashant830 commented on #8351
I want to solve this issue ,can I take this issue?

[2021-03-27 01:24] Prashant830 commented on #8354
@david-allison-1 I want to solve this issue ,can I take this issue?

[2021-03-27 01:35] david-allison-1 commented on #8354
@Prashant830 You'd be best to find another issue since I've already replied to the two people above

[2021-03-27 01:36] david-allison-1 commented on #8351
Do you have a proposed solution? This isn't likely to be an easy one to solve.

[2021-03-27 01:51] abdnh commented on #8307
If my understanding of the terminology is correct, should not relearn cards stay relearn if you don't review them?

(Not sure what is actually happening with these cards.)

[2021-03-27 02:01] prince-09 commented on #8351
@david-allison-1 I have proposed a solution and I want to solve this issue as I raised the issue.

[2021-03-27 03:01] Prashant830 commented on #8351
@prince-09 Ok you solve this issue, I will look at some other issue. 😉

[2021-03-27 03:02] Prashant830 commented on #8354
Ok

[2021-03-27 05:14] prateek-singh-3212 commented on #7832
I would like to work on this issue.

[2021-03-27 05:28] prateek-singh-3212 commented on #8344
okay, I will put this issue in the forum.

[2021-03-27 07:14] Abanoub-Asaad commented on #8336
When I'm trying to do so, I'm facing a lot of problems "errors" because of the deprecation of these classes.
Why are you still using `Preferences` and now it's deprecated?

[2021-03-27 07:50] voidplayer commented on #8307
Yes, you can see it was in relearn (i failed it with rating: 1) and then i reviewed it (with rating:3). So its no longer in relearn

None of these cards where on relearn :)

I cant see anything obvious that separate this cards either

[2021-03-27 08:05] prateek-singh-3212 commented on #7832
Here is the screenshot of Light and dark mode respectively. Should I change the icons to white in dark mode?
![WhatsApp Image 2021-03-27 at 12 42 11](https://user-images.githubusercontent.com/76490368/112714609-082f7800-8f01-11eb-9c91-52f0b1a5db9b.jpeg)
![WhatsApp Image 2021-03-27 at 13 24 15(2)](https://user-images.githubusercontent.com/76490368/112714612-0960a500-8f01-11eb-9609-6e7729fb5e25.jpeg

[2021-03-27 08:37] david-allison-1 commented on #7832
I've messaged `lily_123#0506` about this, if I don't get a response within 48 hours, it's yours

[2021-03-27 08:51] david-allison-1 commented on #8344
Thanks! Closing for now. Let me know if it's in Anki Desktop

[2021-03-27 08:51] #8344 closed

[2021-03-27 09:04] prateek-singh-3212 commented on #7832
Okay, no issues.

[2021-03-27 09:11] david-allison-1 commented on #8336
https://github.com/ankidroid/Anki-Android/issues/5019 . You can work around the issue for now by fully qualifying the type names and removing the imports.

For example: https://github.com/ankidroid/Anki-Android/blob/e034b3851f1b7de0f5864d3c7f830e19de4e5d87/AnkiDroid/src/main/java/com/ichi2/preferences/StepsPreference.java#L32

[2021-03-27 09:14] david-allison-1 commented on #8351
Sounds good to me, how do you plan to tackle this?

[2021-03-27 09:19] david-allison-1 commented on #6264
This is less relevant now we have "send exception report" but will still help users self-diagnose issues.

[2021-03-27 10:16] kartikeysaran commented on #8337
Can i add unit tests for this ?

[2021-03-27 11:06] david-allison-1 commented on #8337
@AyaanJaved , would you like to be assigned this?

Otherwise, @kartikeysaran , sure!

[2021-03-27 11:26] AyaanJaved commented on #8337
Would love to work on this but i don't have any prior experience on writing unit tests.
Please assign it to @kartikeysaran :)

[2021-03-27 11:31] david-allison-1 commented on #8337
Understood, we're more than happy to help you through getting started 😄.

Please do reach out in a week or so when you feel more comfortable with the project, it's a great skill to have

[2021-03-27 14:11] kartikeysaran commented on #7939
I think this would be very easy to implement in Anki-Desktop as well , when finished with this will love to work on that too

[2021-03-27 14:33] mikehardy commented on #4925
Closed via #8345

[2021-03-27 14:34] #4925 closed

[2021-03-27 14:39] #7905 closed

[2021-03-27 14:39] #8142 closed

[2021-03-27 14:45] #8296 closed

[2021-03-27 15:22] Arthur-Milchior commented on #4699
Yes please

[2021-03-27 15:39] david-allison-1 commented on #7939
What's the plan for keeping this feature in 2.16 when we remove most of `libAnki`? `Distinct by nid` on the client side?

[2021-03-27 15:43] Arthur-Milchior commented on #7939
Anki have a very different browser. On my screen, I can see 50 lines at once, or 20 lines with fields. It also allows to show the card name AND the card sort field AND plenty of other information. So, as I argued in the first message, our UI need to be more efficient than upstream UI. When space is a premium, it becomes less acceptable to duplicate informations if user don't want it.

It should be

[2021-03-27 16:18] david-allison-1 commented on #7939
I'm asking from an implementation perspective, how are we going to model this feature with the new search syntax which won't allow us to modify `libanki`: https://github.com/ankitects/anki/blob/5160d0c418fd39b3a74dfd9d32aa3258913bf067/rslib/backend.proto#L843-L907

\* Technically, we'll be using the following for 2.16, but same result:

https://github.com/david-allison-1/Anki-Android-Backend/blob/

[2021-03-27 16:56] Arthur-Milchior commented on #7939
I just gave you the link to a PR I made in Anki that would allow to do a search with one card by note. I'll wait to see dae's answer

[2021-03-27 17:07] Ekagra commented on #8326
If I'm understanding this right,` Robolectric's getcol `returns a collection for other tests and we have to make it return the collection real time and not on a fixed time?

[2021-03-27 17:14] Arthur-Milchior commented on #8326
I feel like we need to discuss it by speech, otherwise it'll take time.

`getCol` returns a new collection for every test. Each time you start a new test you get a new collection.

We never want to test with real time. That may cause a lot of problem and is not something that should be done in unit test. On the contrary, David and I spent a lot of time to ensure that we never need to use real time

[2021-03-27 17:18] Arthur-Milchior commented on #8352
@irenenserrano Actually, if you want to work on it, you can. More precisely, you can work on strings used in bundles, intents and all JSONObjects (e.g. decks, model and deckoption). @david-allison-1 can you please confirm that those ones are not yet used ?

[2021-03-27 17:18] david-allison-1 commented on #8352
All I did was `SharedPreferences`

[2021-03-27 17:47] mikehardy commented on #7056
Would be unblocked by #8361 I believe

[2021-03-27 17:48] mikehardy commented on #7465
I think I finally fixed this :laughing: - will be in next 2.15alpha

[2021-03-27 18:49] MarioRomanDono opened #8364 "[Bug] Decks are not sorted by numerical order"
###### Reproduction Steps

1. Create a deck with a number as the first character (e.g. '1 sample')
2. Create another deck with the consecutive number as the first character (e.g. '2 sample')
3. Create another deck with the first number multiplied by 10 as the first characters (e.g. '10 sample')

###### Expected Result
Decks should be ordered as '1 sample' -> '2 sample' -> '10 sample'

###### Actua

[2021-03-27 18:51] david-allison-1 commented on #8364
They're sorted alphabetically, `01, 02, ... ,10` will be in the correct order

[2021-03-27 18:59] #8364 closed

[2021-03-27 19:28] david-allison-1 opened #8365 "[Bug] Custom Tabs color inconsistent with UI"
###### Reproduction Steps

1. Open AnkiDroid
1. Click the plus
2. Select "Get shared deck"

###### Expected Result

* App bar does not change color

###### Actual Result

* App bar changes color

###### Debug info

[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [x] I have check

[2021-03-27 19:30] david-allison-1 commented on #5019
This isn't going to be a good issue for someone due to the magnitude of the change required. Some initial research into the changes which will be made would be useful

[2021-03-27 19:50] david-allison-1 commented on #8354
@bhamrickatmills - all yours!

[2021-03-27 19:52] david-allison-1 commented on #8365
Requested by @MarioRomanDono

[2021-03-27 20:08] mohaned-hassan commented on #7679
can I work on this?

[2021-03-27 20:13] mohaned-hassan commented on #8045
can I work on this if this issue is still open?

[2021-03-27 20:22] david-allison-1 commented on #7679
Let's give it 48 hours. @Abanoub-Asaad are you still working on this?

[2021-03-27 20:23] david-allison-1 commented on #8045
Thanks for the interest! There's an open pull request which will close this, so it'd be best to work on something else.

[2021-03-27 20:33] mohaned-hassan commented on #8045
ok

[2021-03-27 20:59] BenSandeen opened #8366 "[Bug] Scrolling is extremely jumpy and barely functional"
###### Reproduction Steps

1. Open AnkiDroid
2. Start learning from a deck
3. Display the answer for a card
4. Scroll down

###### Expected Result
App scrolls smoothly and normally

###### Actual Result
App scrolling is extremely jumpy and often bounces back in the direction I'm scrolling from

###### Debug info
AnkiDroid Version = 2.14.6

Android Version = 8.1.0

ACRA UUID = bedf0991-402e-4d21-b5

[2021-03-27 21:03] david-allison-1 commented on #8366
We've had to make some changes to hardware acceleration due to issues with Android 8, we've improved this in the 2.15 alpha, please the following link for instructions on how to access it:

https://github.com/ankidroid/Anki-Android/issues/8165#issuecomment-795776817

[2021-03-27 21:03] #8366 closed

[2021-03-27 21:59] bhamrickatmills commented on #8354
Thank you @david-allison-1! If I have an questions I'll ask you in discord!

[2021-03-27 22:59] AbdelrahmanMahmoudMD opened #8368 "Adding an option to play/pause *automatic display answer* in gestures menu"
Automatic display answer needs an easy way to pause it; considering the user may need to read the card again or needs a little more time to think about the answer.

I checked ankimobile and found that they added an option to make user able to tap on screen to pause/play.

I think it will be great on ankidroid to implement the same thing in the gesture menu, for example (From the gesture menu the u

[2021-03-27 23:16] Arthur-Milchior commented on #8368
Is this a picture from ankimobile?
I guess this features makes a lot of sens. I don't use automated answer, but if you use it and state you like to have a gesture to stop automated answer, that's fine by me. I guess there is a slight risk that you start the gesture, then it answers automatically before you end the gesture, but that can't really be avoided.

Do you intend to work on it, or are you

[2021-03-27 23:54] AbdelrahmanHamdy1998 commented on #8368
-Yes the picture is from Ankimobile.
-Regarding the risk of start the gesture, Ankidroid provide customization of volume up and down which is phenomenal in this case. In gesture menu >> User can set the volume up/down >> that makes the feature work using physical buttons with minimal risk of starting the gesture by mistake/mistouch
-No, I'm just requesting this feature; I really don't know how to

[2021-03-28 00:00] AbdelrahmanHamdy1998 commented on #8368
This a video showing the menus and how I set it up

https://user-images.githubusercontent.com/79529298/112738153-e669db80-8f68-11eb-8c26-3285135798c2.mp4

[2021-03-28 00:08] AbdelrahmanHamdy1998 commented on #8368
And here’s a video from inside showing a scenario where user is having *automatic answer display* on but want to read the card again, review it or looking for resources beneath the card

https://user-images.githubusercontent.com/79529298/112738279-31382300-8f6a-11eb-96a2-d4cf554e6c82.MOV

[2021-03-28 00:57] Arnold2381 commented on #8365
@david-allison-1 can I try giving it a shot?

[2021-03-28 04:42] prateek-singh-3212 commented on #8365
@david-allison-1 I would like to work on this issue.

[2021-03-28 07:18] shobhi1310 commented on #4631
Hi!
Can I take up on this issue and work on it?

[2021-03-28 07:56] shobhi1310 commented on #8179
Can I pick up this issue and work on it?

[2021-03-28 11:14] david-allison-1 commented on #8368
Looks good to me!

Does "Auto Advance" mean "Toggle Auto Advance (Pause/Continue)"

Does stopping auto-advance happen for a single card, and reset it to work on the next card, or does it pause the auto-advance until the gesture is applied again?

[2021-03-28 11:15] david-allison-1 commented on #8365
Let's give @MarioRomanDono 24 hours, feels bad to reassign this since he asked for an issue to do.

Otherwise, @Arnold2381, it's yours. Give me a ping in 24 hours and I'll assign it

[2021-03-28 11:15] david-allison-1 commented on #4631
@shobhi1310 Absolutely! Thanks

[2021-03-28 11:17] david-allison-1 commented on #8179
@shobhi1310 This probably wouldn't be a great first issue, but do let me know if you'd like it anyway.

Coming up with a design that we can discuss here would be the first stage

[2021-03-28 11:31] shobhi1310 commented on #8179
Ya actually I was going to ask this since this is a conceptual design. I would be happy to have comments from you on this and work accordingly.

[2021-03-28 11:38] david-allison-1 commented on #8179
Let's give it a shot. I can't guarantee that we'll get through this one quickly.

[2021-03-28 11:40] david-allison-1 commented on #8179
Do note: it should be compatible with a design in: https://github.com/ankidroid/Anki-Android/issues/5793#issuecomment-624558490

I don't think this change will be high level enough to affect it

[2021-03-28 11:45] Arnold2381 commented on #8365
Sure I will wait!! No problem at all.

[2021-03-28 11:51] AbdelrahmanHamdy1998 commented on #8368
Auto advance in ankimobile = Automatic answer display in ankidroid
the name of the feature itself is auto advance

Ankimobile >> in the tap menu when I chose auto advance; here it doesn't explain that this is a toggle. it just the name but functions as a toggle, I don't know if I explained it correctly

but what I mean is that in Ankidroid, we won't add toggle called auto advance; no, in ankidroid

[2021-03-28 11:54] tapish2000 commented on #8236
How about adding flipping cards with the `Question` field on the front and another field whether it be `Answer` or `Card Modified` anything at the back.

[Example](https://3.bp.blogspot.com/-7CIp5pC2FwE/XCqVQvXJiMI/AAAAAAAADFc/j2bTft5VZGMCkygBiIt9EYyVsbRMU4ObwCLcBGAs/s1600/3d-flip-card-effect.gif)

In each row there can be 2 such cards to enhance the UI.

[2021-03-28 12:01] Arthur-Milchior commented on #8236
If you didn't already saw it, we wrote https://github.com/ankidroid/Anki-Android/wiki/User-Interface-contribution that try to explain our point of view on UI changes

[2021-03-28 12:03] david-allison-1 commented on #8368
I understand.

Does stopping auto-advance happen for a single card, and reset it to work on the next card, or does it pause the auto-advance until the gesture is applied again?

[2021-03-28 12:03] Arthur-Milchior commented on #8236
@tapish2000 I beg your pardon, but I really don't understand what you are suggesting. I don't see how this image relate to anything that would be relevant with ankidroid browser. Not sure either whether this remark is related to the suggestion of @haran2248

[2021-03-28 12:07] AbdelrahmanHamdy1998 commented on #8368
**I really like the second question, It's really important**

I noticed there's a difference between anki-desktop and ankimobile behavior regarding this

In anki-desktop, The option is to pause only. for example; I'm doing a card and I need to think about it more time, all I need to do is press *P* that will pause the feature, but when I choose *again/good* the card will be flipped showing the ans

[2021-03-28 12:20] tapish2000 commented on #8236
@Arthur-Milchior I am sorry I was less understanding, let me write again:

I mean to suggest whether we can use `CardView` to solve the above problem of congested card browser, why are we showing them in this primitive list format when we can use cards and make it look good. See in the suggested case, although the list may go long but it will look good.

I tried to demonstrate the above screenshot

[2021-03-28 15:17] dotancohen commented on #7163
still looking for solutions

[2021-03-28 15:39] Arthur-Milchior commented on #8236
I understand better, thank you very much for taking the time to make an imagine and rewrite your suggestion.

You may want to look at https://github.com/ankidroid/Anki-Android/wiki/User-Interface-contribution
Essentially, currently, we would not have the bandwidth to consider such a change.
And anyway, I don't think we would accept it. It may be more beautiful, I would admit that, but it would rea

[2021-03-28 15:40] Arthur-Milchior commented on #8236
On the other hand, making lines bigger may be accepted, so that the app satisfy accessibility criteria

[2021-03-28 17:08] tapish2000 commented on #8236
So, will this issue be resolved if the size of the list items is increased?

[2021-03-28 17:24] tapish2000 commented on #4199
Hey, I want to try this issue out if I can get some help if needed.

[2021-03-28 17:37] tapish2000 commented on #8274
Can I take this issue?

[2021-03-28 18:17] irenenserrano commented on #8119
@david-allison-1 I actually am having trouble replicating the problem, but not just in dark mode. I have the following card made up, but I can't get the fraction to display properly.
![image](https://user-images.githubusercontent.com/60762137/112762925-28217300-8fb7-11eb-8fda-faa8400de9d2.png)
![image](https://user-images.githubusercontent.com/60762137/112762935-34a5cb80-8fb7-11eb-86ce-405630e77cd

[2021-03-28 18:20] david-allison-1 commented on #8119
From memory: `\(\frac{1}{2}\)`

[2021-03-28 18:23] irenenserrano commented on #8352
@Arthur-Milchior @david-allison-1 thank you for the update! I will begin working on the issue.

[2021-03-28 19:17] irenenserrano commented on #8119
@david-allison-1 Thank you for the speedy response! I've made sure to check on 3 different devices, but I cannot replicate the bug. I guess this issue can be closed then.

[2021-03-28 19:17] Arthur-Milchior commented on #8236
I don't know. Please look at the link, use the tool to see what are the accessibilites issue shown automatically, take a screen shot so that we can see it too and see what it suggest as correction, or give us a link explaining what are the best practices here.
As the link tries to explain, we want to really know why a change is made.
We don't want to guess what change to make, we want to ensure th

[2021-03-28 19:57] david-allison-1 commented on #8119
Can you replicate it on 2.14.x? https://github.com/ankidroid/Anki-Android/releases/download/v2.14.6/AnkiDroid-2.14.6.parallel.A.apk

[2021-03-28 20:17] manasimallu commented on #7911
can I take this issue?

[2021-03-28 20:29] mrudultora commented on #8287
@david-allison-1 I am unable to think of a solution through lint. Would you please explain me the approach to handle this issue ?

[2021-03-28 20:37] mrudultora commented on #8365
@david-allison-1 I am unable to reproduce this on **2.15alpha33**. Also, #8164 fixed this. Could you post a screenshot ?

[2021-03-28 20:50] david-allison-1 commented on #8365
The app bar is a different color

![image](https://user-images.githubusercontent.com/62114487/112767577-664a8100-900f-11eb-9bf1-ac7fd8526d46.png)

![image](https://user-images.githubusercontent.com/62114487/112767601-93972f00-900f-11eb-97d4-2a1b7b8a7d35.png)

[2021-03-28 22:18] farjadilyas commented on #4312
@david-allison-1 Can I work on this as a first issue?

[2021-03-28 22:23] irenenserrano commented on #8119
@david-allison-1 I still cannot replicate the bug.

[2021-03-28 22:32] Arthur-Milchior commented on #7911
@manasimallu Thanks for your interest.
Did you read the last post ?

I was asking @sakshi-1604 whether they could reproduce the bug. So first thing to do is to let us know if you can reproduce it or not. If you can reproduce it, then go for it. Otherwise, please let us know and close the bug

[2021-03-29 03:14] NaiveMe opened #8377 "[Bug] MIUI 12.1.1版本无法将已下载的文件保存到SD卡。"

[2021-03-29 04:33] sakshi-1604 commented on #7911
No I am not able to reproduce the bug.  This issue is already solved.

[2021-03-29 04:49] NaiveMe commented on #8377
OK，thanks，there are many details that i don't know ，pardon me

[2021-03-29 05:19] tapish2000 commented on #8236
On running the Accessibility Test using Accessibility Scanner for `Card Browser` page particularly, I got the results as:
![image](https://user-images.githubusercontent.com/44476667/112790037-0c33d500-907c-11eb-991e-1375993364cb.png)
![image](https://user-images.githubusercontent.com/44476667/112790057-1950c400-907c-11eb-99fd-8fe8b5149a4f.png)

Basically, it says to increase the size of clickable

[2021-03-29 08:55] almas33 commented on #6772
Hi @VamsiKrishnaCommits are you working on this
@david-allison-1 this idea is struck in GSoC idea list , If this is still available I would like to submit proposal on this

[2021-03-29 10:02] david-allison-1 commented on #4312
Sure! Make sure it's still reproducible

[2021-03-29 10:06] david-allison-1 commented on #8377
Thanks for the report. This is an issue with your device. We're going to need to add more diagnostics to help you further.

We may not be able to solve this in the app but we can better understand the problem

[2021-03-29 10:10] david-allison-1 opened #8379 "[Bug] Send Bug Report - Can't re-submit if cancelled"
###### Reproduction Steps

1. Help - Get Help - Send troubleshooting report
2. Cancel

###### Expected Result

* I can send a report again

###### Actual Result

* I need to wait

###### Debug info
[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [x] I have checked the [manual](h

[2021-03-29 10:12] david-allison-1 commented on #8377
@NaiveMe: Could you download and install: https://github.com/ankidroid/Anki-Android/releases/download/v2.15alpha34/AnkiDroid-2.15alpha34.parallel.A.apk

* Help - Get Help - Send Troubleshooting Report - Send

Could you then go to:

* Settings - AnkiDroid - About AnkiDroid - Copy Debug Info and paste the results here

[2021-03-29 10:16] david-allison-1 opened #8380 "[Bug] ACRA Crash Dialog - Can't enter additional information"
###### Reproduction Steps

1. Help - Get Help - Send Troubleshooting report
2. Tap "Enter your feedback or information"

###### Expected Result

* I can enter text

###### Actual Result

* Keyboard doesn't appear, I can only paste

###### Dev notes

https://github.com/ankidroid/Anki-Android/blob/a739a1c42edac3e058269add024a2eb8b1d6703e/AnkiDroid/src/main/res/layout/feedback.xml#L17-L23

* We shoul

[2021-03-29 10:32] david-allison-1 commented on #8287
* Add an annotation: `@AnalyticsConstant`
* Mark all string with this annotation

* Add a list of known strings in a unit test
* Use reflection to get the values of each field marked with `@AnalyticsConstant`
* Add a unit test which will fail if a string is marked with `@AnalyticsConstant`, and isn't added to the list (added, but not set in the unit tests)
* Add a unit test which will fail if a st

[2021-03-29 10:40] NaiveMe commented on #8377
AnkiDroid-2.15alpha34.parallel.A.apk   can be used normally but 2.14.6 can't run as usual.
![IMG_20210329_183955.jpg](https://user-images.githubusercontent.com/78140893/112825336-3fad3a00-9051-11eb-9023-9c4dd23152aa.jpg)

[2021-03-29 10:41] Prince-kushwaha commented on #8380
@david-allison-1 can i work on this issue

[2021-03-29 10:48] NaiveMe commented on #8377
I has been submit this fail.

[2021-03-29 11:18] Prashant830 commented on #8379
@david-allison-1 I want to work on it??

[2021-03-29 11:23] david-allison-1 commented on #8377
Thanks, you'll need to stop `AnkiDroid` before running the alpha

[2021-03-29 11:24] david-allison-1 commented on #8377
@NaiveMe:

I have your crash report, but there's no information regarding "无法将已下载的文件保存到SD卡" there.

Could you cause the error to occur, then send another crash report

[2021-03-29 11:25] david-allison-1 commented on #8380
Sure

[2021-03-29 11:25] david-allison-1 commented on #8379
Sure

[2021-03-29 12:08] #7911 closed

[2021-03-29 12:08] Arthur-Milchior commented on #7911
Thanks a lot for the report @sakshi-1604

[2021-03-29 12:14] NaiveMe commented on #8377
May be sign in alpha vision download my contents, that 2.14.6  running normally , if open two vision  will report error information become unstable.
Through your support I can used 2.14.6 as usual even if there are many details i don't konw .
Thank you.