[2020-08-25 22:47] Arthur-Milchior commented on #6966
This would explain https://github.com/ankidroid/Anki-Android/issues/6898 and https://github.com/ankidroid/Anki-Android/issues/6768

The idea here is that:
* the learn queue gets emptied during reset
* when the card is answered, it is added in the learn queue. But since the queue was empty and not yet refilled, it is added in a dirty queue. Normally, it's not a problem when the queue is dirty and e

[2020-08-25 22:51] david-allison-1 commented on #5106
@mikehardy Is this still active?

[2020-08-25 22:57] Arthur-Milchior commented on #6966
the bug was corrected in 3ae67895c4667b6c83acef6b3b27945553354963 , but at this time I didn't even realize it was correcting a bug.

According to my git repo, this commit was created the 5th of July while the one introduced the bug was created the 30th of June. I'm not really surprised I don't have it in my mind anymore.

Regarding the creation of a 2.12.2 I can't tell which commit we would need t

[2020-08-25 22:58] mikehardy commented on #5106
Perhaps? But it was never fully isolated and the fix would be storing database versions in the database and doing real migrations and such, a PR that was already proposed and had promise but was shot down. I may resurrect it at some point but not a priority at all. The consequence is possibly too many database checks, which is performance more than correctness

[2020-08-25 23:42] mikehardy commented on #6383
We have diagnostic code entered for this one, there's no more action to take I don't think? Marking it for a future milestone and tagging as blocked awaiting new reports

[2020-08-25 23:53] mikehardy commented on #6556
The scheduler has changed a lot! Also this was detected in 2.12.x which means it is not a regression created in the 2.13-alpha series and shouldn't block release. It should be retested once 2.13.x is out, and hopefully all the scheduler work + testing fixed this one

[2020-08-25 23:56] mikehardy commented on #6870
we should hopefully get better information in 2.13 release builds now that #6891 is in with earlier init

[2020-08-25 23:59] david-allison-1 opened #6970 "CardBrowser - CardCache: Crash attempting to get sfld of missing note"
[code]

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/24a517b0-effa-495c-b447-3f908fd624a5

[2020-08-26 01:22] tjthejuggler commented on #6968
I've written up an example of the issue on the subreddit:

https://www.reddit.com/r/Anki/comments/igh27v/importing_updated_notes_deleting_old_tags/

[2020-08-26 01:25] mikehardy commented on #6968
@tjthejuggler thank you!

[2020-08-26 01:32] lucwastiaux commented on #6542
It doesn't make sense to me to continue hacking this way. AnkiDroid should split into collection management and reviewer modules. Then the reviewer modules can be extended to have feedback sounds, themes, etc.

[2020-08-26 01:37] mikehardy commented on #6542
@lucwastiaux and how do you propose to load these modules? My best guess, and where we are headed, is that the only way to do so without signing / encryption and other platform needs related to native code is to expose as much as possible in Javascript, which is strongly supported by the platform instead of discouraged.

In other words, you and I agree, and we're a good chunk of the way there alre

[2020-08-26 03:08] lucwastiaux commented on #6542
I see what you mean, I think the essence of what you are saying is: technically, this is already possible. And what is missing is the "marketplace" component which would allow novice users to apply those customizations to their decks without manual editing of their templates.
AnkiDroid is an innovator here and may get a chance to influence the design of Anki/AnkiMobile. Should be interesting !

[2020-08-26 03:20] mikehardy commented on #6542
Yes - once we have management of the JS blobs down - then however people want to curate them (probably just starting as a wiki page here) and we're off to the races to see what people can do, and what it popular (or what is just niche but totally doable if you are in to it..). And if something is really popular it might be ingested on all platforms (like calendar heatmap) or if the style in genera

[2020-08-26 03:25] lucwastiaux commented on #6542
Sooner or later I'm going to experiment with the JS customization features. Didn't get around to it yet. But i'm planning on, this is something i'm very interested in.

[2020-08-26 03:36] #6511 closed

[2020-08-26 04:15] mikehardy commented on #6542
If you wanted to decide where in the collection to put them (media I guess? maybe just mandate a file prefix?) and make a quick CRUD (create/replace/update/delete) interface for them, then alter card render to just apply anything it found in there, we'd be done :thinking: :smile:

[2020-08-26 04:36] #5041 closed

[2020-08-26 04:39] lucwastiaux commented on #6542
Putting themes and javascript in collection is the easy way to do, and it's supported by AnkiWeb. But it's not strategic because it doesn't allow themes to be updated by their creator. It requires the user to apply a theme multiple times, to all of their decks (if they don't share a note type).
So I would suggest trying as hard as possible to not store it in the collection, unless Anki/AnkiMobile

[2020-08-26 04:46] mikehardy commented on #6542
we already have semantic-versioning and a developer contact feature, no reason we couldn't have an update URL and manifest description format (sort of like npm...maybe just npm) and have an "update" button that scanned the updates URLs for new versions. Media already lives outside of decks in the form of fonts, I believe if it has a special prefix (underscore?) it will be synced but not pruned on

[2020-08-26 04:48] lucwastiaux commented on #6542
If you can segregate data inside the collection/media folder then I guess it could work. At a high level I'm hoping that novice users can "apply" a theme and continue to get updates with the same ease as downloading an app from the iOS app store.

[2020-08-26 06:32] Anthropos888 commented on #6562
I still think that it's a valuable piece of information in Anki desktop and should be copied to the deck overview in Ankidroid.

[2020-08-26 07:28] phu54321 opened #6971 "Support for LocalStorage for persistent storage"
Hello, I'm an Anki addon developer. This issue is related to implementation of [Remaining Time](https://ankiweb.net/shared/info/1508357010) addon.

Here we need to persist some data (user's review process) during review session, however AnkiDroid doesn't allow localstorage api. Unexpectedly AnkiDroid supports cookies (!!), so I'm now using that for persistent data storage. [code](https://github.co

[2020-08-26 09:36] #6512 closed

[2020-08-26 11:03] Arthur-Milchior opened #6972 "Deck picker has stale number"
###### Reproduction Steps

1. Open AnkiDroid
1. Open a deck
1. Review some card (all)
1. Go back to deck picker

###### Expected Result

Either:
* Show no number
* Show correct number

###### Actual Result
 the deck picker show the previous numbers during some seconds (I.e. during the time it takes to recompute all numbers)

###### Debug info

Current master. Any scheduler

I can see many solution

[2020-08-26 19:30] mikehardy commented on #6971
Hi there @phu54321 - I would welcome a PR to implement it - I can't think of a reason why we couldn't have that enabled though once we see the PR I can read up on the related APIs to make sure it's okay

Also, have you looked at our new https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API?

As an add-on developer I want to say that our general thinking is that we have an API now

[2020-08-26 19:43] phu54321 commented on #6971
Haven't known it was in active development. I'm definitely very interested in it.

May I ask you why the code should be inside each card? What kind of example addons are you thinking of? My current implementation of AnkiDroid-compatible addons injects custom <script src=~~> tags to each note type template. It's much space-wise better I think?

Yes this is safe. Anki apparently doesn't support fold

[2020-08-26 19:59] mikehardy commented on #6971
To be honest, we are still at the "what is even useful?" stage, as an idea. So you raise interesting questions (and of course I'd love @dae input if he's interested - I *think* this could be really cool and easy to do cross platform - that would be the hope anyway - assuming we arrive at something useful to users.

Your specific question - why code in each card? Our "most useful" use case at the m

[2020-08-26 21:14] infinyte7 commented on #6971
I have implemented this using following example. Don't know it is good implementation or not, but tried it.

Benefits, it will help in updating without touching deck, just update js.

**But, sync is not uploading js files.**

This simple implementation of progress bar addon.

Just this script tag can be added to any card template using
[code]

And saving this js file to ```collection.media``` fold

[2020-08-26 21:43] phu54321 commented on #6971
If in doubt, I'd like an agile/TDDway. (I know it's kind of fragile)

To know what API would be helpful, I think you should make your own addons. Not an example-level one, but a real one you maintain for some time.

[2020-08-26 22:08] mikehardy commented on #6971
Ah cool - thanks for stopping by @infinyte7 - @phu54321, Mani is the driving force behind the JS API so far, adding in all the general features we asked for (semantic versioning on APIs, developer contacts etc)

interesting that it is not syncing, if I understand correctly - I may not - if you run media check after just "adding" something in the collection, then it will be ingested in the media co

[2020-08-27 02:00] nicolas-raoul commented on #1377
FYI: https://www.kickstarter.com/projects/sunnyhirai/add-android-support-for-the-slate-wysiwyg-editor

[2020-08-27 02:12] mikehardy commented on #1377
Very interesting (shows the challenges) but looks like they're not going to make the funding goal. I think we have it working here but likely only a subset of what they want, but that's all we need?

[2020-08-27 02:59] turbowine commented on #6898
Using these definitions from the Anki Guide:

  *

    *New* refers to cards that you have downloaded or entered in, but
    have never been studied before.

  *

    *Learning* refers to cards that were seen for the first time
    recently, and are still being learnt.

  *

    *To Review* refers to cards that were previously learnt, and now
    need to be reviewed so you don’t forget them.

Firs

[2020-08-27 07:09] infinyte7 commented on #6971
Thanks, Check Media solved the sync error.

That feature is really useful.

[2020-08-27 08:04] boolbag commented on #5923
One further comment: after I installed the alpha on June 21, I had no further sync discrepancies for about a month and a half during which I didn't update. Then around August 15 I updated to 2.13Alpha13 (and kept updating to 2.13 Alpha20) and the discrepancies returned, currently every day. So maybe something that had been fixed in an earlier alpha was unfixed?

Just reporting. Updating to alpha 2

[2020-08-27 08:21] Arthur-Milchior commented on #6898
I do not feel like I got an answer to my question. I'll try to ask differently.

When you have a card in learning that you keep seeing again and again until it graduate, do you still have cards in review to see that day ? I would expect that it is is not the case and that your card gets priority over other cards in learning but that you can still see review cards.

Indeed, it is not expected, and

[2020-08-27 08:26] nickkossolapov commented on #6768
I've tried it with 2.13 alpha for a few days, and I haven't encountered the issue so far.

Because I can't replicate the issue any more, I'll close the issue.

[2020-08-27 08:26] #6768 closed

[2020-08-27 08:51] dae commented on #5923
boolbag: could your issue be related to this one?

https://forums.ankiweb.net/t/bug-buried-cards-in-filtered-decks-not-being-unburied-next-day/2541

[2020-08-27 10:44] boolbag commented on #5923
@dae It's the opposite of that issue:
- Anki correctly unburies cards the next day
- Ankidroid often fails to unbury cards, so in the morning I have a different count.

This forces me to force a sync in the Desktop→Ankiweb→Ankidroid direction
Checking Database doesn't help.

[2020-08-27 10:54] dae commented on #5923
I'm wondering if it may be the same underlying issue, just happening in opposite directions (because of differences in timezones for example). Do you use long learning steps? If not, are you able to switch back to the v1 scheduler to see if that makes the issue go away?

[2020-08-27 12:21] boolbag commented on #5923
Hi Damian, this is ankilosis from the forum by the way.
- Yes, this only appeared after I switched to V2.
- Yes, using learning steps: 2 15 1440 5760 14400, graduate at 30 days, easy 4 days

[2020-08-27 16:49] turbowine commented on #6898
Your questions were:

  * when you undo a card C, put it in learning, and see it again and
    again, do you have new/review cards, or are all of you cards in
    learning ?
  * If some cards are not seen until the end of the session, is it
    possible that you undo, and then press "again". I believe that if,
    just after Undo, you put a card in the learning queue, it forbids
    the queue to b

[2020-08-27 17:58] nwwt opened #6977 "2.13a24: Crash on opening deck"
a24 bugs out when opening any deck, a23 does not. (Android 10 / API 29)

logcat:
[code]

(Are these reports actually useful given you probably already get traces via ACRA?)

[2020-08-27 18:05] david-allison-1 commented on #6966
Fixed by #6969

[2020-08-27 18:05] #6966 closed

[2020-08-27 18:31] mikehardy commented on #6977
Very useful! And "oh no", thanks for logging this

@unusualstranger  ? This may have just been fixed already with the last PR there #6975

[2020-08-27 18:37] unusualstranger commented on #6977
Hmmmmmmm that might be a new one because I've changed previewer buttons layout view from LinearLayout to FrameLayout. I don't have any problems opening my decks from my commit though 🤔 lemme test the previous ones

[2020-08-27 18:43] mikehardy commented on #6977
If it's executing the code in that stack trace, I think you'd need an API19 emulator to detect it and/or to toggle full screen mode https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com/ichi2/compat/CompatV19.java#L49

Hard type casting, ugh!

[2020-08-27 18:45] unusualstranger commented on #6977
Ohhh well, that's where tests would have been useful! Lemme run an emulator

[2020-08-27 18:45] mikehardy commented on #6977
I suppose the proximate cause is that in the reviewer test, full screen UI is never toggled - none of that stuff is exercised. Still a ways to go with our test harness / coverage https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/test/java/com/ichi2/anki/ReviewerTest.java

[2020-08-27 18:46] mikehardy commented on #6565
just enough of a bump to keep you open for a little bit, I want to do this but not time yet

[2020-08-27 18:50] unusualstranger commented on #6977
That issue is present on API 28 too, just checked it on my phone. I wonder if I should just replace it with View instead of SomethingLayout to prevent these silly bugs in the future?

[2020-08-27 18:57] mikehardy commented on #6977
If there is a valid super class, sure!

[2020-08-27 19:01] david-allison-1 commented on #6977
When fixing this, could a commit be added to `lint.gradle` to make `WrongViewCast` break the build:

https://github.com/david-allison-1/Anki-Android/blob/b3bdb630c621048a8ef4beb7f14678c24074ca30/lint.gradle#L7

This has been tested: https://travis-ci.com/github/david-allison-1/Anki-Android/builds/181689031 and will fail the lint release step. This is the only occurrence of the error.

[2020-08-27 19:04] david-allison-1 commented on #6565
I'll be doing this as part of the Help Section revamp in 2.14

[2020-08-27 22:30] FelipeDrytven opened #6980 "Image Occlusion in AnkiDroid!"
Hey, bros!

I was seeing the line code of Anki Doodle. It's a great tool of Image Occlusion! Is it possible to add that code to AnkiDroid? Unfortunately, the Anki Doodle needs more features, like a "Group Elements" or "Toggle Masks". It will be better, if we could create a card with two or more linked clozes!

https://github.com/mmjang/Ankillusion

Thanks a lot for ur work!

[2020-08-27 22:55] mikehardy commented on #6980
No, add-ons don't work in AnkiDroid. It's a platform limitation, we are not able to load 3rd party code on mobile platforms for security reasons.

[2020-08-28 04:03] dae commented on #5923
Ok, sounds like switching is not practical for you. The new timezone code is hopefully not far off - once that lands, I will be interested to hear if that resolves the issue for you. The tracking issue is here: https://github.com/ankidroid/Anki-Android/issues/5805

In the mean time, if AnkiDroid has an unbury action you should be able to use that on each top deck instead of forcing a full sync. If

[2020-08-28 04:33] dae commented on #5923
@boolbag starting from tomorrow, please try the workaround mentioned on the forum link, and let us know if that stops the problem from happening

[2020-08-28 09:36] kryacer opened #6981 "Hard to determine colors on dark mode"
###### Reproduction Steps

1. Turn on dark mode
2. Open statistics
3. Hourly and weekly breakdown tab.

###### Expected Result
Different colors as on other tabs.

###### Actual Result
Hard to determine which colors are correspond to correct and all answers.
![Screenshot_2020-08-28-15-15-25-739_com ichi2 anki](https://user-images.githubusercontent.com/35563053/91546370-25d53880-e944-11ea-996f-3bd94

[2020-08-28 12:26] dae commented on #5923
A fix for the computer version is in the latest beta - it was a regression caused by syncs no longer requiring a collection reload. If tapping on a deck before syncing fixes your issue as well, AnkiDroid will need to add a call to _updateCutoff() at the start of the sync.

@Arthur-Milchior heads up

[2020-08-28 12:43] nwwt commented on #6977
Seeing the fix requires time, could you please push an alpha with reverts? Seeing those on the alpha channel (however few we are) can't use AnkiDroid otherwise.

(Apart from manually downgrading via `pm`, which is a hassle on the console only for the Playstore to again auto-update a few hours later.)

[2020-08-28 14:53] mikehardy commented on #6977
I generate parallel releases on every single build, so you can easily do a side-by-side install of whatever version you like, in case your main install is not working for you

https://github.com/ankidroid/Anki-Android/releases/tag/v2.13alpha23

You will want: https://github.com/ankidroid/Anki-Android/releases/download/v2.13alpha23/AnkiDroid-2.13alpha23.parallel.A.apk

[2020-08-28 15:15] david-allison-1 opened #6984 "2.13alpha - reviewer crashes on API 16"
https://stackoverflow.com/a/34279007

[code]

[2020-08-28 15:26] david-allison-1 commented on #6981
@kryacer Do you have any suggestions for better colors?

[2020-08-28 15:42] Arthur-Milchior commented on #5923
I don't see any new call to `_updateCutoff` in the computer version, so I don't see what was done to fix it and can't easily copy it.
I'm going to assume that https://github.com/ankidroid/Anki-Android/pull/6987 is correct

[2020-08-28 16:59] FelipeDrytven commented on #6980
Hi, Mike! 😀
Is it possible to add an Image Occlusion as a native tool in AnkiDroid? Not like an addon.

[2020-08-28 17:27] mikehardy commented on #6984
Following that link, with an idea towards patching up this last bit before an alpha (I might have time...)

[code]

[2020-08-28 17:31] mikehardy commented on #6980
No - the amount of complexity in the app is already mind-boggling, we have a hard criteria of only including what "upstream" (Anki Desktop) includes so as not to overburden the volunteer crew here even more than it is already. The only exceptions we make are for obvious platform differences between desktop and mobile, as they have slightly different user interaction patterns and smaller screens of

[2020-08-28 18:25] david-allison-1 commented on #6984
Against current master:

[code]

[2020-08-28 18:38] mikehardy commented on #6984
Is this all in full screen mode, or ? Just curious how this didn't trigger anywhere

If it happens on activity launch of Reviewer no matter what then my best idea there (to get coverage but to not have flaky androidTest tests) was to just add in nothing much more a but launch/display of each Activity from the AndroidManifest. Relatively easy to do either with espresso

[2020-08-28 18:42] david-allison-1 commented on #6984
@mikehardy I don't think we have any instrumented tests which hit the reviewer. That sounds sensible

[2020-08-28 18:44] mikehardy commented on #6984
I'll look at that one medium-prio seems about every 6 months a simple Activity launch would have caught something, cost benefit tilts towards benefit, and I had it working at one point so I have some code laying around (or more specifically - included then purged from git master but I know where it is...)

[2020-08-28 19:33] mikehardy opened #6991 "Create simple instrumented test that launches each Activity once"
Seems about every 6 months a simple Activity launch would have caught something, cost benefit tilts towards benefit, and I had it working at one point so I have some code laying around (or more specifically - included then purged from git master but I know where it is...)

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/6984#issuecomment-683071688_

Here's a li

[2020-08-28 20:27] #6977 closed

[2020-08-28 20:38] #6520 closed

[2020-08-28 20:59] #6984 closed

[2020-08-29 06:40] boolbag commented on #5923
@dae Thank you for the fix. Using 2.1.33 beta 2, this morning the screen was showing a count of `Anki < Ankidroid`, and sync'ing fixed it. You mentioned a _regression_… As of previous versions (like Anki 2.1.21) was it really necessary even to sync in the morning for cards to be unburied? For some reason I don't recall so. Maybe a convo to continue on the Anki forum, will post [on that thread](htt

[2020-08-29 14:33] mikehardy commented on #5923
@boolbag no problem with the long post, we're hungry for details as there *was* a scheduler regression in AnkiDroid as well, a fair bit of work for performance on very large collections happens right after the release-2.12 branch cut here, and it took us a while to figure them out. We think we have them, but user reports are the final say in the matter, so do keep us posted. Cheers

[2020-08-29 15:02] boolbag commented on #5923
👍👍👍
:-) :-) :-)

[2020-08-29 15:15] z1lc opened #6995 "Add ability to launch directly into reviews"
I would like to be able for Anki to launch me directly into reviews when I open the app, so that I don't have to click on a specific deck. Ideally, this feature would allow me to specify what deck it auto-starts the reviews on. When using the "back" button, it would just take me to the list of all decks, as it works now when reviewing.

I'm envisioning something like this in the settings:
[ ] Imme

[2020-08-29 15:28] z1lc opened #6996 "Add option to remove number of cards due / time and deck card counts from default view"
I would like the ability to hide the count of the total number of cards due & the estimate of time from the top bar, as well as individual deck card counts on the home screen. On most days, I don't complete all of my scheduled reviews and seeing this number can be demotivating. In the screenshot below, I've put a red box around numbers that I would like to create a preference to hide.

I have post

[2020-08-29 15:55] mikehardy commented on #6996
Hi there! There is a danger in the path of "a preference to toggle everything" that open source projects fall in to as they cater to niche needs, and we get lots and lots of complaints about the app being over-complicated - "a preference to toggle everything" is one of the reasons why. Also it creates code paths that are not normally exercised and as the app moves forward, porting to new APIs on u

[2020-08-29 16:06] z1lc commented on #6996
Hi Mike! Understandable. I've actually implemented this functionality in [my fork](https://github.com/z1lc/Anki-Android), but have run into too many merge conflicts when trying to sync it. After receiving a notification from Google about the impending target SDK upgrade, I decided it might be better to get this into mainline.

Is there some middle ground functionality where this avoids some of the

[2020-08-29 16:11] z1lc commented on #6996
Separately, would it help to have other users that mention interest in this feature on this issue? I have a few friends that are on the forked version that utilize this functionality, I could ask them to show support here.

[2020-08-29 16:13] mikehardy commented on #6996
If you posted a PR with the toggle in advanced preferences we could look, with a fork and a bounty you're clearly motivated and it would be nice to have another person capable of hacking around on the source using the main repo vs a fork

[2020-08-29 16:34] z1lc commented on #6996
Before I go in and start implementing, let me give a little background to why I even created a fork in the first place. I broadly believe that Anki's approach of expecting you to complete all reviews every day is unnecessarily inflexible. It doesn't match up with how I'd like a learning system to function.

In my view, the system should be adaptive, both in terms of retention rate and new card int

[2020-08-29 19:58] mikehardy commented on #6996
Those are very interesting ideas. If learning is a pipeline / process, Anki is already working hard for you once things are in the pipe, but I like the idea of Anki adapting the rate of ingress as well - it clearly has a lot of information about recent study time and recent study success. I find myself manually tuning new cards up and down to fit my external idea of desired load (it's a time box,

[2020-08-29 20:21] mikehardy commented on #6996
In general yes - just using the emoji / reaction response on an issue is useful. We listen to feedback for sure

[2020-08-29 21:20] Self-Perfection commented on #6152
I have re-checked with AnkiDroid release 2.12.1. The issue is still present.

[2020-08-29 23:30] infinyte7 commented on #5766
I have implemented this.
https://infinyte7.github.io/image-occlusion-in-browser/
View this for usage
https://github.com/infinyte7/image-occlusion-in-browser

[2020-08-29 23:31] infinyte7 commented on #6980
I have implemented this.
https://infinyte7.github.io/image-occlusion-in-browser/
View this for usage
https://github.com/infinyte7/image-occlusion-in-browser

[2020-08-29 23:47] mikehardy commented on #5766
:exploding_head:

[2020-08-30 00:02] dae commented on #5923
To clarify, syncing is not necessary for unburying - the issue was triggered by syncing before the cards got automatically unburied by some other action.

[2020-08-30 10:33] david-allison-1 commented on #6991
#6994 is a fix for the issue which was raised, but I feel there's more value in exercising each screen through the entire `onCreate()` -> `onStart()` process.

#6330 (monkey) would also catch this without the flakiness, but I'd rather avoid adding stochastic testing into the main PR build path, both from a speed and a flakiness/reproducibility point of view.

[2020-08-30 11:09] Arthur-Milchior commented on #6970
Seems @mikehardy was more right than I expected in https://github.com/ankidroid/Anki-Android/pull/6611#issuecomment-653815157

[2020-08-30 14:48] mikehardy commented on #6991
I definitely agree. Thinking a bit more practically about it, I think it does need to be espresso tests in androidTest because we specifically want device quirks and to hit all the APIs (or all the ones we currently can given whatever emulator flakiness is going on).

Creating espresso tests that simply bring up an Activity should be possible without the tests themselves flaking out (that starts t

[2020-08-30 17:47] david-allison-1 commented on #4472
Already completed

[2020-08-30 17:47] #4472 closed

[2020-08-31 07:36] boolbag commented on #5923
@dae third day on the beta. This morning the cards were at 39 and jumped to 43 when syncing, correctly unburying four cards. From my perspective this is a recent behavior, up to a few months ago I would have looked at the screen in the morning and the deck would already have shown 43. Would love to see the old behavior back sometime, but at least things are easy to sync up now! Thank you. : )

**O

[2020-08-31 14:17] mikehardy commented on #5923
As an English speaker living in a Spanish-speaking country (Ecuador) with lots of friends trying to learn the language (including my whole family) that deck sounds cool! I'll give it a whirl. Thanks @boolbag

[2020-09-01 02:45] david-allison-1 commented on #6778
Stats is done using svelte/TypeScript for the UI: https://github.com/ankitects/anki/tree/2.1.33/ts/src/stats

This calls a python wrapper over the rust backend, we're able to perform a similar function in the Java.

So, we should get this for free after the rust conversion if we include and compile the svelte libs.

[2020-09-01 05:14] iltempovola commented on #4418
I was looking for th same feature and I couldn't find any tool. But I found this add-on that does it from a Google Doc instead of Google Sheets: https://ankiweb.net/shared/info/911568091

Now I'll try to automatically replicate my google sheet into a google doc, so that in two clicks I can  have the same effect. Let's see if it works well.

FYI, many other people were lookig to use google sheet  a

[2020-09-01 17:17] david-allison-1 opened #7009 "Improve "Can't find image" workflow"
###### Reproduction Steps

1. Download an image heavy deck (example: AnKing with media) on Desktop
2. Sync to AnkiDroid, cancel sync before media sync completes
3. View Deck
4. A "cannot find image" symbol is displayed

###### Expected Result

* A snackbar of some sort to prompt the user with suggestions to fix the problem

###### Actual Result

* Nothing

###### Research
- [x] I have read the [su

[2020-09-01 18:50] mikehardy commented on #7009
Very very frequent source of user frustration, yes. There's a FAQ to link to, perhaps that could serve

[2020-09-02 13:33] david-allison-1 commented on #5026
We can significantly improve this now # and # are in.

I'd like to add: `StringFormatInvalid` and `StringFormatCount`

[2020-09-02 15:52] mikehardy opened #7013 "NetworkInfo deprecated, need new "isConnected" logic"
https://developer.android.com/reference/android/net/NetworkInfo

It is unfortunately not a straightforward port, they have de-constructed the network and "do I have a connection?" information into a set of much finer grained objects and states, with async capabilities, and they have done it progressively over a few APIs, so the only non-deprecated APIs don't exist on our whole API skew, and the ne

[2020-09-02 15:52] mikehardy commented on #7013
Code is in Connection.isOnline() in the app

[2020-09-02 16:03] mikehardy opened #7014 "MediaStore.MediaColumns.DATA deprecated, get file info using new APIs"
https://github.com/ankidroid/Anki-Android/blob/2a1b50a210789e9a20064de3cb5ece59ca0be456/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/BasicImageFieldController.java#L738

[code]

[2020-09-02 19:30] david-allison-1 commented on #7009
I've had a shot - it's annoying, so I'll only show it twice per session

[2020-09-02 20:05] voidplayer commented on #6996
Damien, and the manual in general (its even in the faq i believe), is against this kind of change. I think the rationale is _'The learning (intervals) will be messed up if you dont do what anki tells you to do_' and _'it encourages bad practices'_

Im also a long time proposer of these kind of features that give the learner an important role in using anki

Here goes some insights as a long time us

[2020-09-02 20:16] voidplayer commented on #6996
One last remark. I like how common ```zother``` folder is to order things. Why not accomodate for things that everybody is already doing anyway

[2020-09-02 20:43] david-allison-1 commented on #6614
We need someone with a Xiaomi phone to debug and determine if we can change the styling. Unlikely to happen sadly.

[2020-09-02 20:46] Kayx23 commented on #6614
Let me know if there's anything I can help on my end - otherwise I can live with the night mode menu.

[2020-09-03 03:40] david-allison-1 opened #7017 "[2.13alpha25] Card Browser does not refresh after edit/crashes"
###### Reproduction Steps

1. Card Browser with Deck selected, no search
2. Select a card
3. Press "Back" button on device

###### Expected Result

4. Results are shown

###### Actual Result

4. No results are shown

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [x] I have checked the

[2020-09-03 03:45] david-allison-1 commented on #7017
Crash:

* Preview
* Back
* Tap the card list

[code]

[2020-09-03 04:19] sheodox opened #7018 "Cannot disable night mode styles via `.night_mode{ }` in 'style' element on a card's Front field"
I built a website ([Context.Reviews](https://context.reviews/)) that generates Japanese vocab Anki cards (mostly automatically, sourced from context sentences you looked up on a popular Japanese dictionary site) and gives you a `.txt` file that follows the [Anki manual's importing format](https://docs.ankiweb.net/#/importing?id=text-files). Since I don't believe there's a way to import things more

[2020-09-03 04:28] dodong29 commented on #6383
Have been getting the attached error message when attempting to sync on AnkiDroid. Was directed here by @david-allison-1
![image](https://user-images.githubusercontent.com/70678218/92071324-a42e4200-ed6b-11ea-8ac5-ef66d78bc3fb.png)

[2020-09-03 04:53] david-allison-1 commented on #6383
Hi @dodong29, thanks!

Could you attach your `collection.anki2` files from Anki Desktop and AnkiDroid to further help diagnose this issue.

On AnkiDroid, this is found in the `AnkiDroid` folder on your phone.

For Anki Desktop this is found: https://docs.ankiweb.net/#/files?id=file-locations

If your Anki data is not sensitive, please zip them and upload them here.

If the files contain private in

[2020-09-03 05:42] david-allison-1 commented on #6383
@Arthur-Milchior

Deck 1 is named: `DANNY SULLIVAN MCM DECK`
Deck 2 is named: `Danny Sullivan MCM Deck::*MCM_UNTAGGED_CARDS`

This crashes

[2020-09-03 11:00] Arthur-Milchior commented on #6383
So, if I understand correctly, @david-allison-1, you were able to reproduce the bug directly. I assume you were using master or a recent alpha, right ? And it lead to exactly the same error message ?
Should be simple to correct, but honestly, I'm surprised the bug exists at all, I was pretty sure that everything was normalized when processing decks.

[2020-09-03 11:37] david-allison-1 commented on #6383
@Arthur-Milchior 2.13alpha25 (with a few additional commits not in the area).

The deck normalization process runs, but the decks still have the names above when they're used by SchedV1

[2020-09-03 11:51] david-allison-1 commented on #6383
Totally understood, that was my worry and I didn't recall.

[2020-09-03 14:47] mikehardy commented on #7018
Have you tried examining it using our integrated JS/HTML debugging facility? https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection

If you can determine a clean way to change this you could propose a PR and we could check it out?

[2020-09-03 14:49] mikehardy commented on #7017
This was recent https://github.com/ankidroid/Anki-Android/pull/7004

[2020-09-03 16:54] #7009 closed

[2020-09-03 22:15] sheodox commented on #7018
Oh I didn't know that was available, handy! What do you think I should be looking for?

I found the check is fairly rudimentary.
https://github.com/ankidroid/Anki-Android/blob/185dbbba65b62423f01395b8090ceb4cb9c97529/AnkiDroid/src/main/java/com/ichi2/anki/cardviewer/CardAppearance.java#L53-L56

Could the check be expanded to check the question/answer sides individually? They both include `css()` s

[2020-09-03 23:39] mikehardy commented on #7018
That has potential, on a first think through of it, it seems like it should work and just be a natural extension of the general "users can disable night mode" idea, with a likely modest performance hit since card sides are normally not that large.

[2020-09-04 06:38] david-allison-1 opened #7023 "Export fails if missing media"
###### Reproduction Steps

1. Add an image to a note
2. Delete from `collection.media`
3. Export Deck

###### Expected Result

4. Export occurs, with warning that some files could not be found

###### Actual Result

4. Export fails with "Error exporting apkg file"

###### Debug info

[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting

[2020-09-04 06:52] david-allison-1 commented on #7023
Cause:

https://github.com/ankidroid/Anki-Android/blob/711b2be380d95400ff194f05362cd9111cc3312f/src/com/ichi2/libanki/AnkiPackageExporter.java#L302-L316

was changed to

https://github.com/ankidroid/Anki-Android/blob/4b6d202ebeff322e4eaae0bc365dd88317dfe572/AnkiDroid/src/main/java/com/ichi2/libanki/AnkiPackageExporter.java#L387-L394

I question the original logic, as that seemed to add an entry ev

[2020-09-04 07:21] david-allison-1 commented on #7023
Confirmed: no file or entry in media if a file is missing.

[2020-09-04 14:04] david-allison-1 commented on #7018
I don't think there's much point in checking the front and the back, just checking the front should do (this also cuts down on the rendering time).

I think searching for something along the lines of : `` would be better to avoid false positives, and it's much more explicit.

Overall, the fact that HTML is being used in the fields, rather than in a template is a little worrying from a database siz

[2020-09-04 15:39] david-allison-1 commented on #7017
@Arthur-Milchior Want me to take this one on?

[2020-09-04 15:52] Arthur-Milchior commented on #7017
I can take it this week end. But if you need it sooner and it's not hard, go. Otherwise I'll clean my own mess

[2020-09-04 15:58] david-allison-1 commented on #7017
I was planning to do it over the weekend - will leave it then, but feel free to throw it back to me

[2020-09-04 16:28] mikehardy commented on #7018
I like the idea of a very very explicit string as well actually.
@sheodox how is this then: search front, search for explicit string -> should be good?

[2020-09-04 18:22] #7023 closed

[2020-09-04 19:55] david-allison-1 commented on #5026
@mikehardy Anything more you feel that we need on this issue?

[2020-09-04 20:21] mikehardy commented on #5026
No - we have made an impressive amount of progress in this area since I logged this issue almost 2 years ago :sweat_smile: - with all sorts of machinery in place to allow lint to be a real thing now, I don't see the need for this specific issue. There will always be the background task of "take the lintDebug file and slowly feed it into lintRelease" but that's not really actionable. So -> close

[2020-09-04 20:21] #5026 closed

[2020-09-04 21:30] sheodox commented on #7018
I'd agree not much point checking the back, and I also like the idea of an explicit string.
@mikehardy That sounds great to me!

I'll check out the apkg libraries, looks like there are a few. Thanks :)

[2020-09-05 22:55] david-allison-1 opened #7026 "Allow editing a card from the Card Browser "Preview" window"
Just came up in the [Google Group](https://groups.google.com/g/anki-android/c/UggNrUCGzzI) that editing a card from "Browse" was not intuitive, this seems like it will make "Edit" both more useful and more accessible

[2020-09-06 00:41] Rapptz commented on #6485
This issue still persists.

[2020-09-06 01:35] mikehardy commented on #6485
Indeed - the PR that provides a real API for it is nearly ready #6641 - in the meantime the workaround is to run a media check after adding files, they should sync after that

[2020-09-06 01:36] mikehardy commented on #7026
Yeah - same person on Play Store review comments and I asked them to open an issue because I liked the idea. I'll cross-link them

[2020-09-06 02:40] david-allison-1 commented on #7026
More complex than the following as elements can now be deleted while being/pending in the preview queue. Needs tests to ensure good behaviour if the current card, adjacent cards, or all cards are deleted.

[code]

[2020-09-06 12:21] david-allison-1 opened #7027 "Previewer: Double "Show Answer" button when fullscreen"
###### Reproduction Steps

1. Turn on full fullscreen mode
2. Open Previewer from Card Browser
3. Let fullscreen mode start
4. Swipe to reveal the menus

###### Expected Result

5. No change

###### Actual Result

5. A second "Show Answer" is displayed

###### Debug info
2.13alpha26

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug o

[2020-09-06 12:22] david-allison-1 commented on #7027
I'm going to disable fullscreen mode on the previewer - makes little sense since we have the bottom controls always visible

[2020-09-06 16:36] #6588 closed

[2020-09-06 21:09] Arthur-Milchior commented on #7017
I don't understand how you get the crash in the second message. If the list is empty, it seems impossible to click in it

[2020-09-06 21:13] Arthur-Milchior commented on #7017
This was already solved in https://github.com/ankidroid/Anki-Android/pull/6611 , which ensure that list is invalidated/not computed on destroy, but onStop keep all list processing which may still be useful

[2020-09-06 21:28] Arthur-Milchior commented on #6383
I got no error on master when I opened the "phone.zip" version.
When I tried to opened the other file, I got an error which is worrysome but seems unrelated

[code]

[2020-09-06 21:34] mikehardy commented on #6383
That is most unexpected, so we have it at "warn" level but it is recoverable, we just use the default size then:

[code]

[2020-09-06 21:42] Arthur-Milchior opened #7031 "sCursorWindowSize not found in emulator"
I got no error on master when I opened the "phone.zip" version.
When I tried to opened the other file, I got an error which is worrysome but seems unrelated

[code]

_Originally posted by @Arthur-Milchior in https://github.com/ankidroid/Anki-Android/issues/6383#issuecomment-687906437_

[2020-09-06 21:45] Arthur-Milchior commented on #6383
I created a new issue related to this problem, https://github.com/ankidroid/Anki-Android/issues/7031 , because it seems not really related to what we were looking at right now. Would you accept to copy your comment there @mikehardy ?

@david-allison-1 you wrote you were able to reproduce the problem. Can you please let me know which files (I assume you meant "collection.anki2" but I'm not sure), a

[2020-09-06 22:08] #7027 closed

[2020-09-06 22:27] david-allison-1 commented on #6383
@Arthur-Milchior 2.13alpha25 (with a few additional unrelated commits).

Copy/pasting `collection.anki2` into a new profile - first one that I tried, so presumably number 1.

[2020-09-06 22:34] david-allison-1 commented on #7017
Sometimes the list is not empty, clicking crashes it.

[2020-09-06 22:58] david-allison-1 commented on #7031
Also getting this as a warning in Timber on my Android, have been getting it for some time - presumed it was normal as the exception was caught.

Just looked into it.

`android.database.CursorWindow` contains `sCursorWindowSize`, but this is initialized to -1, which isn't checked for in the above code.

`io.requery.android.database.CursorWindow` contains `sDefaultCursorWindowSize`.

[2020-09-06 22:59] david-allison-1 commented on #6383
Moving this to 2.13 as it's a sync blocker

[2020-09-06 23:01] Arthur-Milchior commented on #6383
The first file is "collection.anki2 phone.zip" and I had no problem opening it, so I'm really surprised. I should note furthermore that I did not see any deck called "DANNY SULLIVAN MCM DECK" in it, so I assume you actually tried to open "collection.anki2", and that I did not get the correct error message because of the requery error.

What I did is: I took the file and put it in Ankidroid folder

[2020-09-06 23:06] Arthur-Milchior commented on #6383
I was able to reproduce, I'll look at it now

[2020-09-06 23:16] Arthur-Milchior commented on #6383
Reproduced it on 2.10.3

[code]

[2020-09-06 23:28] Arthur-Milchior commented on #6383
Reproduced on 2.9.7

[code]

This seems to mean it's not a regression in ankidroid actually.

@dodong29 would you please accept to tell us which version of anki you use, and which add-ons, if any ? I suspect that it may have been a regression in anki (I can't easily reproduce this bug with latest version however, so it may already be fixed.)

I still need to fix it, but I kind of like to know that

[2020-09-06 23:39] mikehardy commented on #7031
I could have sworn I personally saw this one work before, but we wouldn't be getting stacks if it wasn't wrong somehow. I can look at this one, I perversely like the database infra stuff

[2020-09-06 23:40] #7017 closed

[2020-09-06 23:42] david-allison-1 commented on #7026
Remaining follow-on with Unit tests, I'll get it done tomorrow:

[2020-09-06 23:56] Arthur-Milchior commented on #7017
Do you have any idea how to reproduce it ? I fear I don't know list view well enough to understand what it means here... And I have no idea whether this is also solved

[2020-09-07 01:04] david-allison-1 commented on #7017
@Arthur-Milchior Seems to be fixed as well - I can't repro after the change has gone in

[2020-09-07 01:45] tbm opened #7035 "Docs: mention Opus support"
The [FAQ entry about media](https://github.com/ankidroid/Anki-Android/wiki/FAQ#but-still-ankidroid-does-not-play-my-media) doesn't list Opus.  Opus codec in `.opus` files works on AnkiDroid and desktop Anki.  Unfortunately I can't test the iOS app.

(Presumably Opus codec in an Ogg container works fine as well, but I didn't test this.)

[2020-09-07 01:48] tbm commented on #7035
I forgot to mention that I confirmed Opus working in AnkiDroid on Android 9 and 10.

[2020-09-07 01:52] tbm opened #7036 "Delete unused media should give progress indication"
###### Reproduction Steps

1. Click `Check media`
2. `Media checked` pop-up says there are unused media files
3. Click `delete unused`: files are being deleted, but there is no progress indication

###### Expected Result

Show some progress indication,either a progress bar or a rotating clock or something.

###### Actual Result

It's unclear whether anything is happening.

- [x] I have read the [s

[2020-09-07 03:04] mikehardy commented on #7036
hah - you are not wrong, I agree with you

There is a way to do background tasks similar to our database check where it is possible to post progress back and display it, we could do that

I'm not sure if anyone will be interested to take this on - but that's the pattern to follow, and it's not too bad an area of our code I don't think

[2020-09-07 03:06] mikehardy commented on #7035
In general we support any format android supports, but it does vary by API, we support down to Android 4.1 and I'm not sure Opus existed then. However - the most important thing to note is that the FAQ is a wiki page. If you can find a list of formats that Android's built in media player supports (ideally with the Android version the support began) please edit away! I'm going to close this because

[2020-09-07 03:06] #7035 closed

[2020-09-07 03:11] #6383 closed

[2020-09-07 03:25] david-allison-1 opened #7038 "Add Regression Test for #7033"
See issue:  #7033

[2020-09-07 04:01] david-allison-1 commented on #5923
@Arthur-Milchior Fixed in #6987 ?

[2020-09-07 04:33] david-allison-1 opened #7039 "[2.13alpha28] Card Template Editor Preview Crash: sched.counts - ArrayIndexOutOfBoundsException"
* SchedV1, new profile
* Add a new Basic Note
* Bury Card
* Card Browser - Edit Note - Edit Card Template - Preview

Crash:

[code]

[2020-09-07 10:06] Arthur-Milchior commented on #7039
One more reason to state the current way we count cards makes no sens at all...

When you do a review, the counts saved in the scheduler does not count the card in the reviewer. This means that the reviewer need to send back the current card to the scheduler so that it increments the correct counter. This works only because it assumes that the card sent to the scheduler belong to one of the three

[2020-09-07 10:20] Arthur-Milchior commented on #5923
normally yes. I've followed upstream and not investigated here, I trusted dae's advise. So I'm not 100% confident. I'd assume that we may simply close, and if the problem occurs again, let @boolbag reopen it.

[2020-09-07 10:21] Arthur-Milchior commented on #7039
One thing I did not take into account: what to send to javascript when they request access to the numbers and we are previewing ? I'd suggest returning `null` so that it's clear it's not a value that is expected to be used; but js may not expect it

[2020-09-07 11:14] #5923 closed

[2020-09-07 11:15] david-allison-1 commented on #7039
@infinyte7 Any opinion on the above?

[2020-09-07 11:15] boolbag commented on #5923
I'm fine with closing, thank you all for your attention to this issue. 👍
@mikehardy FYI added UUIDs as the front field of that deck so that future updates do not disrupt the queue. If you haven't started I suggest getting the latest.
Wishing you all a great week.

[2020-09-07 11:31] Arthur-Milchior commented on #7039
Currently, https://github.com/ankidroid/Anki-Android/pull/7040 returns 0 and empty string. Less risk of JS crash. That can be easily changed to either returning null, or returning a ressource string which state something such as "NB of new card" (Probably not a wise idea, since this string will be quite longer than what JS expects)

[2020-09-07 12:13] infinyte7 commented on #7039
The card counts is used to show the progress bar in webview. If that counts removed then what will be alternative for getting card counts?

[2020-09-07 12:17] Arthur-Milchior commented on #7039
@infinyte7 what is "card counts" in previewer ? If you are creating a new card, or editing a card from the browser, it seems there exists nothing that makes sens and can be called a "card counts". However, the user may still want to preview the card and see how it will be displayed in the reviewer later.

This means that there is no "alternative for getting card counts", because there is no "card

[2020-09-07 13:13] mikehardy commented on #7039
In my experience with react-native-device-info, it is best to define "valid" but known "undefined" values for those situations. What worked well for me and the similarly sized library consumer community there was -1 for undefined numbers, "unknown" for undefined strings, false for booleans, and the empty list/array for those. The bar to entry for JS API consumers will be similarly low - we *want*

[2020-09-07 13:26] Arthur-Milchior commented on #7039
This lead to an interesting question. Should we localize `"undefined"` ?
On the one hand, users may see it if JS does not deal with it. On the other hand, JS will be quite harder to write if they must test for localized version of the word to check if the value is valid.

I force pushed a version with localized "Undefine".
I believe I'd prefer to see crash, so that it's clear something is wrong/un

[2020-09-07 13:48] mikehardy commented on #7039
No. It is a developer interface, our development is 100% english. If undefined "escapes" an API, it's a bug and should be fixed by the javascript API code author, it's not an internationalization issue.

[2020-09-07 14:13] infinyte7 commented on #7039
There is no need for card counts in previewer.
 Is card counts available when accessed using JS api while reviewing?

[2020-09-07 14:35] Arthur-Milchior commented on #7039
I understand there is no need for those counts. However, the same card template is going to be used for reviewing and for previewing. So any javascript method used in template is going to also be called in the previewer. This means we still need to send it value so that it does not crash.

[2020-09-07 15:09] infinyte7 commented on #7039
Okay, understood.

[2020-09-07 15:14] mikehardy commented on #7039
@infinyte7 there might be a need for a `@JavascriptAPI` that publicizes what mode we are in, "preview", "review", "cardTemplateEditPreview" or similar? I just put in the policy that we will always return values that are type-compatible to javascript API consumers, so that novice programmers are reasonably safe, but for skilled ones we can give them the information needed to adapt the UI (if they w

[2020-09-07 15:29] infinyte7 commented on #7039
It is nice idea. I will implement and create PR for this.

[2020-09-07 16:23] #7038 closed

[2020-09-07 16:23] #7039 closed

[2020-09-07 16:37] david-allison-1 commented on #7026
Fixed in #7042

[2020-09-07 18:43] #7031 closed

[2020-09-08 13:00] Andrej-Adamenko opened #7048 "Allow reviewing a card from browser"
I am trying to learn to recognize musical intervals. I am using both Anki and another separate program for that, but each time I make a mistake in that separate program, I create an Anki note for this specific mistake. Sometimes, when I make a mistake in the external program, I discover that the corresponding note in Anki had been already created. I need to "Review" that specific card and mark it

[2020-09-08 14:52] Arthur-Milchior commented on #7048
Hello,

Thanks for offering to create a patch yourself.
Do you know whether there is a way, without add-on, to do this feature in Anki Desktop ? I can't find a way to review a card in advance from the browser. The closest thing I see would be to review in advance in a deck.
The usual rules for AnkiDroid is to stay close to desktop version, so I doubt it would be accepted as long as we keep this ru

[2020-09-08 17:20] Andrej-Adamenko commented on #7048
Hi Arthur,
  I do not yet know how to implement it, I am new to Anki. I used Supermemo for many years, and Supermemo always had this feature and I thought, since Anki uses Supermemo algorithm, it should be possible.  If is is possible only via a temporary deck, I would create one automatically in the program, if I needed to, and then do a review and delete it automatically.

I use ["Perfect Ear"](

[2020-09-08 18:21] mikehardy commented on #7048
Browse for the card in card browser and "reset progress" may do the trick nicely?

[2020-09-08 18:38] Arthur-Milchior commented on #7048
I honestly can't state whether it would be the case. This would not take previous interval, easiness... into account. This is different than pressing 1 during a real review.
Not clear to me what is the ideal action for the scheduler here

[2020-09-08 18:46] Andrej-Adamenko commented on #7048
@mikehardy I agree with @Arthur-Milchior , "reset progress" is not the same. When I do "review" and mark it as failed, the scheduler would remember how many times I failed that specific card (lapses count) and then later, on the next review in Anki, even if answered it correctly, it would increase the interval slower for a card with many lapses. "Reset progress" would remove all that information a

[2020-09-09 00:26] tbm opened #7049 "Group cards from same notes together in card browser"
###### Reproduction Steps

1. Go to `Card browser`
2. Choose `Card Modified` as sort key
3. Cards are sorted by modification times
4. However, cards from the same note are not displayed together

###### Expected Result

If you have many notes with the same  modification date, it's not clear how the cards (`Questions`) are sorted. It looks pretty random to me.

It would be nice if cards from the sa

[2020-09-09 00:48] tbm commented on #7049
Oh, so it seems the modification date is not the date the note was modified but the last time the card was seen or something (?) in which case this would be tricky to do.

Ok, I see there's also `Note modified`, but that also doesn't group cards from the same note.

[2020-09-09 01:03] mikehardy commented on #7048
Then it falls on "does upstream do it?" - if upstream has a way to do it, we can follow their lead here. If upstream does not do it, then it needs to be added there first, otherwise reset progress is the only avenue to easily pinpoint a specific card alter it's next scheduled appearance I think

[2020-09-09 01:31] david-allison-1 opened #7050 "Improve logs for "This isn’t a valid Anki package file""
User report: AnKing v7 fails to import

No exception report is generated. (2.13 beta 1 and 2.12.1)

`    <string name="import_log_no_apkg">This isn’t a valid Anki package file</string>`

We need to determine which path this takes, and ideally add a (possibly silent) exception report on this path,

[2020-09-09 02:33] david-allison-1 commented on #7050
![image](https://user-images.githubusercontent.com/62114487/92547613-29729480-f24d-11ea-89e7-5dd04d888289.png)

![image](https://user-images.githubusercontent.com/62114487/92547621-2f687580-f24d-11ea-8498-de977e6cf7b0.png)

Likely a corrupt file - but we should be getting error reports, even if silent.

[2020-09-09 02:40] david-allison-1 commented on #7050
We should consider including the hash of the file for debugging purposes if it's an invalid file

[2020-09-09 15:16] Andrej-Adamenko commented on #7048
Anki desktop for Windows does not allow to review a card directly from the browser. Does it mean the answer about a merge is a "no"?

[2020-09-09 15:48] mikehardy commented on #7048
That's correct, this would not merge. It is not a platform-specific feature where the mobile form factor forces us to do something different than Desktop to be reasonable. It's a generic feature - lobby for it in Desktop and we will copy if/when they implement

[2020-09-09 17:27] Andrej-Adamenko commented on #7048
Thanks for clarification. I will.

[2020-09-10 00:53] david-allison-1 opened #7052 "Enable Java 8 library desugaring (Android Studio 4.0)"
Unsure if this will be accepted just yet as it requires a major Android Studio bump - probably fine

Desugaring allows for more Java 8 APIs to be usable.

https://developer.android.com/studio/releases

[2020-09-10 03:20] mikehardy commented on #7052
I didn't think this required a major bump? We're already on 4.0.x - I typically follow within a week or so. I have no problem forcing to developers to move with new tools at all and usually just offer a week or so to do it. The tools themselves are really pester-y about updating anyway, why not take advantage of the features you get when you update? 4.1.0 is almost even - I've already handled a bu

[2020-09-10 03:40] #7050 closed

[2020-09-10 11:48] david-allison-1 commented on #5843
First crash on 2.13beta, let's get this fixed now

[2020-09-10 13:10] Andrej-Adamenko commented on #7048
I created a simular request for Anki Desktop: https://forums.ankiweb.net/t/allow-reviewing-a-card-from-browser/3235

[2020-09-10 13:39] NetherStar64 opened #7054 "[Feature Request] Add way to add multiple Reminders."
It would be great if there was a way to add multiple Reminders to a deck. Like if you go to Deck-> Options-> Reminders: and there was a + Button Down Right to add Multiple Push Notifications. Also maybe later an Option to add Notifications only at the weekend etc. would be great!

Thanks for Reading 🙂

[2020-09-10 14:12] #5843 closed

[2020-09-10 15:04] NetherStar64 commented on #7054
I'm not that big of a programmer, sorry :( 👍

[2020-09-10 15:26] david-allison-1 opened #7056 "Update to net.mikehardy:google-analytics-java:2.0.11"
There are issues due to transitive dependency updates after the analytics update - reverting for now, let's move it to a separate issue.

[code]

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/7055#issuecomment-690363780_

[2020-09-10 15:27] mikehardy commented on #7056
Yeah, that's unexpected! :thinking:

[2020-09-10 19:06] david-allison-1 commented on #1643
Hi @Magneticdud,

I'd like to take this on for AnkiDroid 2.14, but I don't have an Android TV to test this on.

What controls/buttons do you normally use with your Android TV?

How would you recommend we map buttons on your input device to AnkiDroid so you can review cards.

Thanks,
David

[2020-09-10 20:04] mikehardy commented on #1643
One of the available emulators is an Android TV emulator - https://developer.android.com/studio/run/emulator#avd - I've tested what apps look like on Android TV this way before, and the arrow keys work like the D-pad I think

[2020-09-10 23:06] david-allison-1 opened #7058 ""Show Top Bar" should work when in full screen"
If the "Show Top Bar" setting is enabled, then the top bar should be visible in the Reviewer when the reviewer is in full screen mode.

[2020-09-10 23:55] david-allison-1 commented on #7058
This was a nightmare - if you attach the topbar to the menu which is shown/hidden, then it doesn't goes back to the top of the page.

[2020-09-11 02:07] Magneticdud commented on #1643
My remote has only dpad, back and click

Usually when i sideload regular android apps, the dpad is mapped like arrows, and when i click, it taps on the selected item

[2020-09-11 09:26] boolbag opened #7059 "Forced uppercase → lowercase conversion (inconsistent with Anki Desktop)"
On a specific card, the string `DLE` is automatically converted to `dle` on Ankidroid when the card is shown.
On other cards, this does not happen: `DLE` is shown as `DLE`, consistent with Anki Desktop.

Running 2.14alpha1

###### Reproduction Steps

Import this text card, with two fields separated with semi-colons:

[code]
###### Expected Result

The text `DLE` should show as DLE (uppercase)

###

[2020-09-11 12:57] martingrumbt opened #7060 "Improve Singletons"
**Bug description**

I analysed your project for design patterns.
The implementation of the Singleton pattern in some classes is not done in the common way.
The following classes can be improved:

- AnkiDroidApp
- CompatHelper
- AnkiStatsTaskHandler
- Connection

**Expected behaviour**

- Avoid public constructor
- Only allow access via getInstance-Method
- Use synced variant to be thread safe
- A

[2020-09-11 15:19] mikehardy commented on #7059
what in the world!? :sweat_smile:

I'm not aware of any casing changes we would (or should!) do on user generated content. Makes no sense!

I assume all the other capitalized items in the card are fine? And it is capitalized in the database? What does it look like in Card Browser? And it is still DLE in Note editor?

[2020-09-11 15:20] mikehardy commented on #7060
Hi there!

Is this some sort of class project? Do you intend to contribute to this project for a year or more?
I will not accept any refactorings from some one not committed to the project, you could show commitment perhaps by implementing a couple of the "good first issue" bug fixes or "help wanted" features.
Until then I will close this.

[2020-09-11 15:20] #7060 closed

[2020-09-11 16:36] #4667 closed

[2020-09-11 19:32] david-allison-1 commented on #7059
@boolbag could you provide a deck export which exhibits this problem?

[2020-09-11 20:43] dylandts opened #7062 "Anki will not sync anymore"
Hello I'm currently unable to get anki to sync on my phone or computer. Does anyone have any way to correct?

[2020-09-11 20:46] mikehardy commented on #7062
https://ankiweb.net appears to be down, @dae is likely aware but if not perhaps that tag will do it :-)

[2020-09-11 20:46] #7062 closed

[2020-09-11 20:57] anki-o-meter opened #7063 "Add "cloze-only:Text" template filter"
Hi, is there any plan to add "cloze-only:Text" template filter that was added in Anki 2.1.29, so Ankidroid TTS can read only the clozed part in the back of the card? It would help a lot with reviews.

[2020-09-11 21:00] mikehardy commented on #7063
No one is working on it, PRs happily accepted 🙏

[2020-09-12 00:53] jgarvin commented on #6011
still searching for solutions

[2020-09-12 03:21] JasonBaby87 opened #7064 "Button Text are Now in Caps (beta)"
So uhh recently I found that the button text are all in caps now, and I kinda prefer how it was before. Will there be a way to get the original buttons back?

###### Debug info
AnkiDroid Version = 2.13.0beta2

Android Version = 10

ACRA UUID = 51ea7863-10e4-4c4b-b5f2-4b0943d00634

Scheduler = std2

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [suppor

[2020-09-12 06:36] #6320 closed

[2020-09-12 06:44] boolbag commented on #7059
Thank you both for you replies. Obviously this does not bother me, just thought I'd report it as it seems odd.

First let me reply to @mikehardy : here are some screenshots in the browser, editor, and review. Sorry about not responding faster, on the road at the moment.
Are all other capitalized cards fine? I don't know, there are many. Did a filtered deck for `DLE`, reviewing 20 such cards all we

[2020-09-12 12:29] david-allison-1 opened #7066 "[2.13beta] _deckNewLimitSingle stackoverflow"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/663437b4-40fc-44c2-9061-6decb6890c1f

[code]

[2020-09-12 13:08] Arthur-Milchior commented on #7066
I guess I have it. I'll write a regression test and a correction, hopefully this week-end.

[2020-09-12 13:20] mikehardy commented on #7059
That's just bizarre, thanks for the extra info

[2020-09-12 14:31] david-allison-1 commented on #7059
@boolbag Edit the card, press "Cards" and enter: `.night_mode {}` in the CSS section.

[2020-09-12 14:45] david-allison-1 opened #7068 "Note Editor: Add warning about color inversion"
We get a lot of support load from this feature - add a snackbar in NoteEditor to allow users to disable it.

Probably needs discussion on how to implement to ensure it's not annoying for new users.

[2020-09-12 16:00] berserkerezio opened #7070 "Tagged cards not appearing on filtering"
###### Reproduction Steps

1. Open card browser.
2. Choose the option "filter by tag".
3. Choose any tag.

###### Expected Result
Cards with specified tags should have appeared.

###### Actual Result
No cards appear.

###### Debug info
AnkiDroid Version = 2.12.1

Android Version = 9

ACRA UUID = 8203f6ea-11a2-493a-ab0d-d4999512b3ed

###### Research
*Enter an [x] character to confirm the points bel

[2020-09-12 16:09] mikehardy commented on #7070
I think this boils down to the filter by tag being additive with a previous deck selection, resulting in correct but not-useful search results. I was just able to replicate that - I went to card browser (note: it had my currently selected deck in there...) I said filter by tag and chose a tag I know is in use, no results. If I changed the original card browser setting to all decks and filtered by

[2020-09-12 16:18] #7059 closed

[2020-09-12 16:19] mikehardy commented on #7059
I'll do a beta3 in a little while and google should dish it out in a few hours, it will have the fix for this. Thanks for reporting!

[2020-09-12 16:28] berserkerezio commented on #7070
I am not getting any results in either a specific deck search,or all deck search.

[2020-09-12 16:48] david-allison-1 commented on #7070
@berserkerezio Thanks for the report! Could you provide a tag which this fails for?

[2020-09-12 16:58] mikehardy commented on #7070
...and perhaps an accompanying collection export, as it seems to work for me :thinking:

[2020-09-12 17:24] berserkerezio commented on #7070
Collection export size is 2 gb,not feasible for me. I can quote the decks and there tags though,give me a while.

[2020-09-12 17:25] david-allison-1 commented on #7070
You don't need to export media

[2020-09-12 17:37] berserkerezio commented on #7070
In the deck "pepper micro" that I downloaded from https://drive.google.com/file/d/1vTHQFSxPLBqfbGcovW95ZfeAJFWrS1WX/view?usp=drivesdk ,the tag (tag:#SketchyMicro::Parasites::(3)-Protozoa_of_Blood::3.3-Plasmodium_spp ) is not showing any cards related to it.

On a related note,a similar deck "pepper pharmacology" has the same issue.

Since tags in above decks are not showing,I cannot be sure about

[2020-09-12 17:43] mikehardy commented on #7070
That is a very very complicated tag. I wouldn't be surprised if we have some sort of issue related to it - thanks for providing the extra detail!

[2020-09-12 17:52] Andrej-Adamenko commented on #7048
There was a reply about implementing it in the desktop version:

[2020-09-12 18:02] mikehardy commented on #7048
Haha - same general workaround advice. I'm going to close this as an upstream thing but we can/will follow if/when that happens. Worth noting that as part of the rework of code that Damien is doing, it is mostly being ported to Rust, and we are actually going to be able to reuse that same Rust code here internally, so future scheduler features from upstream will be easier for us to adopt

[2020-09-12 18:02] #7048 closed

[2020-09-12 18:46] mikehardy commented on #7070
@david-allison-1 is on a roll today fixing all.the.bugs
I should have a 2.13.0beta3 out later today with a fix included
sign up for the beta program to get it https://docs.ankidroid.org/#betaTesting
2.13.0 proper will likely be mid-week

[2020-09-12 18:47] #7066 closed

[2020-09-12 19:38] #7070 closed

[2020-09-12 19:57] david-allison-1 commented on #7068
Discussed on Discord. This would work better on the Note Previewer - it's out the way, and non-distracting.

[2020-09-12 19:58] david-allison-1 opened #7072 "Add downgrade suggestion if database version too high"
We'll be upgrading the database to v15 (likely in AnkiDroid 2.14 or 2.15), we should have a warning if the database version is too high to open with the current version of AnkiDroid

[2020-09-12 20:28] Arthur-Milchior commented on #7072
If the app can't open, then I assume it's more than just a warning. It should be an error message explaining that they should upgrade and kill the app.

Does switching to a new db version force a full sync ?

[2020-09-12 20:31] Arthur-Milchior commented on #7072
I'm surprised by this message, because we can't even be sure that all software will have a downgrade option. The version of AnkiDroid showing this message can't downgrade. Do we want to offer in next AnkiDroid an extra option to downgrade ? Seems less useful than just asking them to upgrade ankidroid

[2020-09-12 22:48] mikehardy commented on #7072
I mentioned in DIscord I don't think this should block any stable release, but as soon as it's concrete as a change, it could be a cherry-picked point release on as many stable releases as needed to cover as much minSdkVersion as possible that would be release-2.10 if we can still build it (unsure?) as it was the last minSdkVersion 15 we even have a chance of building, and then whatever the next s

[2020-09-13 01:00] david-allison-1 commented on #7072
Current error:

[code]

[2020-09-13 02:06] david-allison-1 opened #7073 "Cannot use "import_replace" to restore from backup if current collection is unopenable"
Async task will not start (and depends on getCol())

https://github.com/ankidroid/Anki-Android/blob/32a4e06304dcafc47d7048586c482bbbd209a84d/AnkiDroid/src/main/java/com/ichi2/async/CollectionTask.java#L341-L344

[2020-09-13 02:10] david-allison-1 commented on #6078
Closing - #7073 is the likely culprit here.

[2020-09-13 02:10] #6078 closed

[2020-09-13 08:25] Juddd opened #7076 "Report a retrograde"
###### Reproduction Steps

**I'm in version 2.14alpha1 now**

This is my deck structure in the following, note there are 3 sub-deck in "html" deck, and I have a card due to review in sub-deck "css3" now. Then I touch the the "html" deck into the review model.
![image](https://user-images.githubusercontent.com/10048069/93013592-65568280-f5dc-11ea-8275-c5308140977c.png)

But note the title of the ca

[2020-09-13 11:23] david-allison-1 opened #7077 "[Suggestion/Discussion] Import: Improve user experience"
The new Anking decks are big (~2.7GB) and users are getting (understandably) bored.

[code]

We should warn the user:

* Changing apps may stop progress
* https://dontkillmyapp.com/
* They may want to stop the phone from sleeping and keep it plugged in overnight.

We may want to take out a `WAKE_LOCK`, or move the process to a background job.

[2020-09-13 13:22] Arthur-Milchior commented on #7076
I confirm it did not occur on 2.9
In anki upstream there is no such difference

[2020-09-13 13:53] Juddd commented on #7076
@Arthur-Milchior I suffer this problem after I upgrade the app, so I'm very sure Anki-android had that right title in certain old version...

[2020-09-13 14:26] david-allison-1 commented on #7076
@Juddd Thanks so much for the report!

[2020-09-13 14:36] #5389 closed

[2020-09-13 14:42] david-allison-1 commented on #7076
Reproduced - issue is between 2.13alpha28 and 2.14alpha2

[2020-09-13 14:59] boolbag commented on #7059
Excited to try it out when the new alpha is released.
If I understand the hints in the thread, the `color: DLE` bit was being parsed as if it were css?
Must have been a fun one to troubleshoot.
Thank you very much.

[2020-09-13 15:20] david-allison-1 commented on #7059
Wasn't bad at all thanks to your screenshot!

Pretty much, we tried to invert the color "DLE", and if it failed, we replaced it with the lowercase value rather than the original

https://github.com/david-allison-1/Anki-Android/blob/cea065fd60d6311d9dbc5a0c34ccbd055eed4ebe/AnkiDroid/src/main/java/com/ichi2/themes/HtmlColors.java#L41

[2020-09-13 17:36] #6646 closed

[2020-09-13 19:03] #7073 closed

[2020-09-13 19:18] mikehardy commented on #7076
We should have a new release of 2.14alpha3 and 2.13.0beta4 at some point today (once all the work is collected and passes regression tests and google processes and releases it etc), and they will contain a fix for this. Thanks for the report!

[2020-09-13 19:26] mikehardy commented on #7077
Those are *stupendously* large decks, but at the same time it is (in my opinion) the perfect use of technology. We should be supporting great audio/visual experiences during review etc. I like the idea of the wake lock

Any other messaging around large decks (don't forget to appeal to emotion and ask for solidarity, i.e. "We are working hard to improve support for import of very large decks. At th

[2020-09-13 19:33] sfhrdfg opened #7081 "Interleaving suggestion"
Hi, Interleaving is one of the better  methods of learning.

###### Reproduction Steps

1. I was adjusting the options for new cards of my option group that is applied to the highest level card stack (German Stapel) of a group with a couple sub stacks to have new cards be shown at random, not by order of creation
2. I was clicking on the top level stack
3.

###### Expected Result

Different new Ca

[2020-09-13 20:16] mikehardy commented on #7081
Are you using the v2 scheduler? If not you should try it, I believe this (how it handles scheduling cards from deck families) is one of the things that it improved on. I believe it's in Advanced options

[2020-09-13 21:13] sfhrdfg commented on #7081
Thanks. I just switch it on and clicked the top deck, still by sub deck

Mike Hardy <notifications@github.com> schrieb am So., 13. Sept. 2020, 22:16:

[2020-09-13 21:22] david-allison-1 commented on #7081
@sfhrdfg SchedulerV2 (in the advanced options) will allow you to review your review cards in a random order.

Please note that the initial change to SchedV2 will move all cards from the learn/relearn queue into either "new" or "review".

[2020-09-14 00:16] #7076 closed

[2020-09-14 04:34] boolbag commented on #7059
Confirming fixed on 2.14alpha2.
Thank you!
: ) : ) : )

[2020-09-14 09:52] sfhrdfg commented on #7081
Well I turned the scheduler v2 on in the advanced settings. And it does not
show them in the random order I want. I want random order, shuffling
between subdecks, it does: random order, but until you finish all cards of
one subdeck it will only give you cards from that, same subdeck.

David Allison <notifications@github.com> schrieb am So., 13. Sept. 2020,
23:22:

[2020-09-14 11:19] sfhrdfg commented on #7081
You are right. It's better. I just had an eight card streak of the same
deck for random reasons😄

Christoph Eckinger <christopheckinger@gmail.com> schrieb am Mo., 14. Sept.
2020, 11:52:

[2020-09-14 11:30] sfhrdfg commented on #7081
And I see why: I just had eighteen new cards of the same subdeck and no
from other decks, although it does shuffle decks for the not new cards.
I'd recommend enabling deck shuffling as default or as option for new cards

Christoph Eckinger <christopheckinger@gmail.com> schrieb am Mo., 14. Sept.
2020, 13:19:

[2020-09-14 11:33] sfhrdfg commented on #7081
I do appreciate the new scheduler though👍

Christoph Eckinger <christopheckinger@gmail.com> schrieb am Mo., 14. Sept.
2020, 13:30:

[2020-09-14 13:34] mikehardy commented on #7081
We follow the Anki Desktop defaults as far as I know, and that is a stated goal of the project. I don't think there's anything actionable here so I'm going to close this, but if we defer in default behavior or scheduler behavior from Anki Desktop we can reopen and tag it as an ecosystem compatibility issue

[2020-09-14 13:34] #7081 closed

[2020-09-14 13:40] mikehardy opened #7083 "Restore backup on initial install leaves app in unexpected state"
###### Reproduction Steps

1. remove `/sdcard/AnkiDroid` on device (note! This is obviously dangerous, this is a testing device right?)
2. install fresh AnkiDroid (seen in firebase auto-testing lab on 2.14alpha3 release
3. accept storage permission, note empty collection screen, choose "restore from backup" from menu
4. restore from the only backup available
5. hit the '+' button the FAB and add a

[2020-09-14 13:48] mikehardy commented on #7083
If you close the app and reopen it, it works, on the same restored "collection".
This indicates there may be a more general problem with restore leaving the app in a bad state

In fact yes, if you export the collection (save to file in downloads) then import the exact same collection, the collection is also not opened, but after closing the app and re-opening it, it works again.

So I think the ge

[2020-09-14 13:50] david-allison-1 commented on #7083
Likely a regression from 796e2e7c6367bc1dc0cc3af2927f965705f9f30e (#7073 #7074)

[2020-09-14 13:52] mikehardy commented on #7083
I suspected as much but wanted to start by simply logging the robo result with some local probing while doing my morning email process (still full of happy users from VN haha), before guessing at cause

[2020-09-14 15:36] #6656 closed

[2020-09-14 17:13] #7083 closed

[2020-09-14 17:49] nwwt opened #7087 "[Request] Option to disable answer button strings"
It's already possible to omit the next review "button" time, but not the static strings (Show Answer / Again - Hard - Good - Easy).

It's be neat to have an option that disables those (ie., leave the buttons and button time). They serve no information (you know what the buttons do within a minute of using Anki, as will everybody looking for the option anyway) and are instead a distraction, minor a

[2020-09-14 17:58] nwwt opened #7088 "[Request] Option to disable pressed button indicator"
It's be neat to have an option to disable the "pressed answer button" indicator dots that briefly appear on the top of the next review's front card. I know what I've pressed anyway and have no use for them whatsoever.

I actually used AnkiDroid for half a decade hardly noticing them or even wanting to know what they stood for, but now that I've finally got an OLED screen, their blinking has actual

[2020-09-14 18:13] nwwt opened #7089 "[Request] Have review GUI dynamically take on background of reviewed card"
It would aid immersion (particularly with bezel-less phones and hiding system bars) if there was an option that made the reviewer dynamically take on the currently reviewed card's background color.

Assuming there's an easy way to get color info from the webview, it would probably involve two checks for the effective `background-color` of:
1. an html element with a fixed ID (say, `background`)
2.

[2020-09-14 18:19] mikehardy opened #7090 "robo-tester can break out of monkey-jail"
###### Reproduction Steps

The robo-tester in the video I watched for bug #7083  got hung up trying to add an AnkiWeb account

This occurred because the monkey clicked the sync button

I did see the toast saying "robot detected if you are a human and you see this contact support" so I know the monkey cage was in place, it just has an area where the bars are too wide apart and the animals take over

[2020-09-14 18:51] david-allison-1 commented on #7090
Also: Translate

[2020-09-14 18:55] david-allison-1 opened #7091 "API 22: Crash on typed answer diff"
[code]

[2020-09-14 19:02] david-allison-1 commented on #7088
You should be able to disable them by turning on E-Reader mode in the advanced settings.

[2020-09-14 19:15] david-allison-1 commented on #7091
@mikehardy Related: 1cadef9806879ba02581f3ff59e37651a8a24d30 and #6858.

Would you support a revert?

[2020-09-14 19:15] david-allison-1 opened #7093 "CI Error: baseDeckName"
[code]

[2020-09-14 19:19] david-allison-1 commented on #7089
Could you provide an image of the issue, I'm not sure I understand

[2020-09-14 19:34] david-allison-1 opened #7096 "Automatic display answer interaction with cards with no audio"
On behalf of `Xcom#9917` on Discord

----

###### Reproduction Steps

1. Automatic display answer enabled
2. Time to show next question 0s
3. Review cards with audio

###### Expected Result
Cards not to show next question

###### Actual Result
Cards with audio show next question, while cards with no audio don't show next question

###### Debug info
ACRA UUID = 123840d6-1f24-400b-96e1-cb8fb64b473d

[2020-09-14 19:43] nwwt commented on #7089
Eg., <a href="https://user-images.githubusercontent.com/887320/93130420-c791af00-f6d2-11ea-9a0c-27c16381f497.jpg">this</a> would become something like <a href="https://user-images.githubusercontent.com/887320/93130729-3e2eac80-f6d3-11ea-8325-a9f16b7acb6a.jpg">this</a> (though maybe with added text-shadow so the text remains better visible).

[2020-09-14 19:48] ChrisPalko commented on #7096
Hi Xcom here.

So I put show next question to 0s in hopes of not showing the next question. Because I have cards that are just paragraphs and I like to read them fully. And it worked exactly like that for cards that have audio on them. But a card that had audio on it instantly after the audio finished show the question of the next card

[2020-09-14 19:53] mikehardy commented on #7091
WTHeck? I do not support a revert, I want to get to the bottom of that one. I will have time to look at it later

[2020-09-14 19:59] david-allison-1 commented on #7096
@ChrisPalko Can't you untick "Automatically display answer", or do you want it for a given purpose?

[2020-09-14 20:02] mikehardy commented on #7093
This one started showing up for me quite a bit today too

[2020-09-14 20:02] ChrisPalko opened #7097 "[Request] Deck specific show answer, show next question"
Some decks have questions that take more time to answer, and some that take less. It be nice if show answer could be set on each deck differently.

I am aware of the fact that it's simpler(i.e more user friendly) just to add one option for all decks. So I understand why this maybe shouldn't be implemented

[2020-09-14 20:18] ChrisPalko commented on #7096
I can. IT's just it helps me work faster. Because what would happen is that I can't think of the answer to the question so I think and I think, and when I get sick I see the answer and mark it as falied. Automatically showing the answer prevents me from thinking too much

[2020-09-14 20:36] #6657 closed

[2020-09-14 20:54] david-allison-1 commented on #7068
Let's shelve this until the Previewer works for all card templates

[2020-09-14 21:10] #7088 closed

[2020-09-14 21:10] #7090 closed

[2020-09-14 21:11] #7093 closed

[2020-09-14 21:36] #5635 closed

[2020-09-14 21:52] david-allison-1 commented on #6562
This is fairly trivial, but I'll block this on the Rust conversion to save duplicated effort.

`CongratsInfo` in rust: https://github.com/ankitects/anki/commit/e5685254c67da2e5bd1822437992706d2d01eb7f#diff-ad0dcffdf701a0711096c6d383ad6cd5R98

[2020-09-14 23:22] david-allison-1 commented on #5192
This needs a fair bit of refactoring work before it goes in. There's a lot of unnecessary state usage in the current class, and I'd rather not add to the complexity

[2020-09-15 01:58] david-allison-1 opened #7101 "Enable lint: ConstantConditions"
Would have caught #7100

[2020-09-15 02:03] david-allison-1 commented on #7101
Apparently not possible: https://stackoverflow.com/a/31687748/

[2020-09-15 09:04] david-allison-1 opened #7102 "BasicImageFieldController - unique suffix is too long"
Adding this issue to confirm this is considered to be a bug before I fix it.

https://github.com/ankidroid/Anki-Android/blob/8a93294a8c1397ee93568ee80f9fffc8432879ff/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/BasicImageFieldController.java#L264-L268

We append a `timeStamp`, but pass it to `createTempFile`, which appends `Math.randomLongInternal();` to the file.

[2020-09-15 11:36] #6660 closed

[2020-09-15 13:16] #5903 closed

[2020-09-15 13:37] mikehardy commented on #7101
Seems like it would be possible with this trick https://www.jetbrains.com/help/idea/command-line-code-inspector.html but a quick `locate idea.sh` on my machine turns up nada.

However this has potential:

[code]

[2020-09-15 13:40] mikehardy commented on #7102
Oh interesting, one or the other is probably sufficient? The timestamp is millis in unix epoch yes? I thought that was sufficient to not collide actually, as file I/O shouldn't get into the nanos. I wasn't aware there was more sauce appended, that's not really necessary no

[2020-09-15 15:12] mikehardy commented on #6537
Unfortunately that library requires API24 as it uses some java language features we can't make work on older APIs, so reopening this until our minSdkVersion matches because I ahd to revert the PR.

[2020-09-15 16:30] #7091 closed

[2020-09-15 16:59] david-allison-1 commented on #6664
Duplicate of (and fixed in) #7026

[2020-09-15 16:59] #6664 closed

[2020-09-15 17:01] david-allison-1 commented on #5233
Implemented and documented: https://docs.ankidroid.org/manual.html#keyboardShortcuts

[2020-09-15 17:02] david-allison-1 commented on #5233
Missed:

"y" to start a sync on the deck screen
"ctrl + shift + n" to Manage note types
etc.

On the "Edit cards"/"Card types" I think it would be really useful to have:
"ctrl + p" to preview the current card type

[2020-09-15 17:27] david-allison-1 commented on #5951
Haven't seen it in a while

[2020-09-15 17:27] #5951 closed

[2020-09-15 18:33] mikehardy commented on #5233
re-tagging issue for release-2.14 for the remaining couple of shortcuts

[2020-09-15 18:36] mikehardy opened #7107 "Update targetSdk to 29"
The Play store has a hard requirement of targetSdk 29 for app update acceptance beginning November 2020 (which in my experience means Nov 1, not Nov anything else)

I believe we're compatible but we need to do it and check

[2020-09-15 18:40] david-allison-1 commented on #7107
I believe we need to enable legacy storage capabilities (and this marks 1 year until Scoped Storage).

[2020-09-15 19:02] mikehardy opened #7108 "AsyncTask is deprecated"
###### Reproduction Steps

1. bump targetSdk above 28 (I'm attempting 30 right now)
2. compile
3.

###### Expected Result

Clean compile

###### Actual Result

Piles of deprecation warnings of course - because AsyncTask is deprecated and it's the entire way we do non-UI thread processing.

Replacing this is going to be a big deal.

[2020-09-15 19:13] david-allison-1 commented on #5872
Replaced by #7108

[2020-09-15 19:13] #5872 closed

[2020-09-15 19:14] mikehardy commented on #7107
I believe you are correct, I'm chewing through it now, I already had part of it from my dependencies branch (robolectric 4.4 mandates sdk 29, and sdk29 on robolectric mandates java9+ ugh - just peeling the SDK stuff out now and I'll clamp robolectric to 28 for the moment)

There's a pile of stuff though, most notably AsyncTask is deprecated :scream:  which we knew but still, seeing it :scream:

[2020-09-15 19:15] mikehardy commented on #5872
dangit I looked too! missed this, didn't mean to duplicate

[2020-09-15 19:15] david-allison-1 commented on #6102
Much easier now, we're HTTPS only

[2020-09-15 19:22] mikehardy opened #7109 "CookieManager.setAcceptFileSchemeCookies deprecated in API30"
Deprecated: loading HTML via files and allowing local cookies

https://developer.android.com/reference/android/webkit/CookieManager#setAcceptFileSchemeCookies(boolean)

Forward-port target: AndroidX WebKit stuff:

https://developer.android.com/reference/androidx/webkit/WebViewAssetLoader

[2020-09-15 21:13] mikehardy opened #7110 "SOFT_INPUT_ADJUST_RESIZE deprecated in API30"
The counsel on this one is rather involved:

https://developer.android.com/reference/android/view/WindowManager.LayoutParams#SOFT_INPUT_ADJUST_RESIZE

That's a medium sized restructuring, so just marking the deprecation for now

[2020-09-15 22:13] mila6452 commented on #3758
Still looking for the solution..... Hoping someone could do it, and this topic could be closed as resolved.

[2020-09-15 22:17] mikehardy opened #7111 "new Handler() deprecated in API30"
This one seems like it should be easy.

They deprecated it because if you call the no-argument constructor you are implicitly assigning your task to the main Looper

They want you to specify a Looper and state in the forward-porting guidance that you could use Looper.myLooper() to get the possibly error-prone previous behavior, or you could say Looper.getMainLooper() and know that your tasks will

[2020-09-16 05:36] #6661 closed

[2020-09-16 08:31] david-allison-1 opened #7113 "CI: Speed up F-Droid Publish"
F-Droid typically take a couple of weeks to pull from our repo and get a new version of AnkiDroid out.

We should see if there's an API that we can use to inform them that we've had a release, or provide them with an appropriate release.

EDIT: We've also had a request to see if we can package the betas, will need to confirm that release channels are supported, but I foresee that we'll get really

[2020-09-16 08:49] david-allison-1 opened #7114 "2.13 - Answer Button animations are not disabled by "Safe Display""
This drains the battery on eInk devices

https://github.com/ankidroid/Anki-Android/commit/d5348330f9e1bff5db473a2db30d8d92a117d285 went in.

Needs further investigation

[2020-09-16 09:55] david-allison-1 commented on #6687
@Arthur-Milchior Is this an instance of the new desktop behaviour that we replicated in 2.13?

[2020-09-16 09:58] david-allison-1 commented on #7077
Had a user inquire about a 5.2GB deck today... might need to update my expectations in the PR

[2020-09-16 10:14] david-allison-1 commented on #7114
Cause: ripple tag - https://github.com/ankidroid/Anki-Android/blob/d250542d593222f4476bb55daa86b44a64f85dc7/AnkiDroid/src/main/res/drawable-v21/footer_button_again.xml#L2

[2020-09-16 10:18] david-allison-1 commented on #7114
@dotancohen

Ripple animations don't display if I disable animations in the developer settings on Android.

Could you let us know whether this is a problem that we need to take action on, or if your Nook already has animations disabled by default?

Thanks

[2020-09-16 11:04] dotancohen commented on #7114
@david-allison-1 In the developer options on this device, the only options related to animations seem to be "Window animation scale" which is set to "animation off", and "Transition animation scale" which is set to "animation off". So I assume that there is no global "disable animations" option, as the Ankidroid spinner is animated when syncing. For reference, it is running an extremely stripped d

[2020-09-16 11:38] david-allison-1 opened #7115 "SchedV2: allow setting "hardFactor""
This is used, but is not currently settable in the Deck Options

[2020-09-16 11:45] david-allison-1 commented on #7114
Understood. I'm hoping all is good if you're not seeing the ripple effect in 2.13.0

[2020-09-16 12:45] dotancohen commented on #7114
Here is a video of clicking two cards with Ankidroid 2.13.0 on the Nook:
https://i.imgur.com/dr9dkxx.mp4

It can be seen that there is just a touch of animation happening before the e-ink screen refreshes. I'll use it much today to try to determine how badly it affects the battery.

[2020-09-16 12:51] Arthur-Milchior commented on #6687
I can't recall any change in the desktop behavior related to counts that I ported to AnkiDroid.

I may imagine the desktop changed and that we did not port this change. It would be interesting to know whether there would have been the same problem with anki 2.1.15 by example, a version which still did not use rust. The computation of those numbers now belongs in the rust part of the code. Until I

[2020-09-16 12:59] p4nix commented on #6687
Scheduler V2. I haven't run into troubles again and also had issues reproducing the behaviour back then etc. No cards were in learning that time, as I was currently catching up on reviews. Even so, I am aware of the difference between Anki/AnkiDroid in terms of learn/review cards. If I remember correctly (let's give it 85 % probability), the issue was seen in the lowest subdeck.

[2020-09-16 13:09] Arthur-Milchior commented on #6687
Please let us know if it occurs again and if you can, mention me so I see the bug.

[2020-09-16 17:22] david-allison-1 opened #7116 "Deck Picker: Add "Search" Action Item"
Many medical decks have a lot of sub-decks, being able to filter the list should help navigation

[2020-09-16 18:05] david-allison-1 opened #7118 "Browser: Enable Filtering on Flags"
Users don't know that they can type: `flag:1` etc... this needs a visual item in the Card Browser Action bar - similar to the item in the Reviewer

[2020-09-16 18:23] balta2ar opened #7119 "Disable animations and transitions globally"
Hi. I've just upgraded Anki to the latest available version on the Google Play and feels like a lot of animations have been added. Specifically:

* main sidebar on the left
* transitions between screens in the settings
* Answer buttons selection animations (when they are held and released)

I'm sorry but such animations literary make me dizzy and nauseated. Is it possible to have a setting that di

[2020-09-16 18:30] david-allison-1 commented on #7119
Hi

Settings - Advanced - Safe Display Mode will remove many of the animations. We're working on the remainder in: #7114.

UI is not an area of the code that I'm at all familiar with, so help would be much appreciated.

[2020-09-16 18:57] balta2ar commented on #7119
Thank you for the prompt response! I checked the settings and it was enabled, so I guess I'll be waiting patiently for the new releases where that setting will have effect on more of the animations in the app. Feel free to close if this is a full duplicate, I'll subscribe to the other issue.

[2020-09-16 19:13] mikehardy commented on #7119
@balta2ar for you, to work around any health issues while waiting for animation disable, you might like to install the previous release in parallel form? It will use the same collection, and allow you to receive Google Play updates on the main install (to take advantage of animation disable when it comes out...) but be okay in the meantime: https://github.com/ankidroid/Anki-Android/releases/downlo

[2020-09-16 19:13] #7119 closed

[2020-09-16 19:50] david-allison-1 commented on #7119
@balta2ar I'm able to disable the navigation drawer animation (after a lot of effort). This will be in 2.13.1 or 2.14

The button animations are disabled by the system animation settings. It's likely far beyond my skillset to allow our animation settings to influence them

[2020-09-16 19:53] balta2ar commented on #7119
Thank you both, I appreciate the effort you put into developing this app, love it! :heart:

[2020-09-16 20:46] szpak opened #7121 "Daily "Studied X cards in ..." no longer properly padded - regression in 2.13.0"
###### Reproduction Steps

1. Create number of decks to make the deck list scrollable (putting a phone horizontally makes it even easier)
2. Scroll the main list of decks up and down

###### Expected Result

`Studied X cards in ...` daily summary is properly padded (it doesn't interfere with deck names)

###### Actual Result

`Studied X cards in ...` occasionally is not readable due to interfering

[2020-09-16 22:00] david-allison-1 opened #7122 "_importNotes: OutOfMemoryError"
I don't feel this is new to 2.13

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/fe96bb82-97e9-40f2-93cd-06ad42ed6bbf

[code]

[2020-09-16 23:07] david-allison-1 commented on #7121
Thanks for the report! I don't recall any relevant changes on this screen, but I'll investigate.

Thanks again!

PS: We're actively seeking beta feedback, so if there's anything more, please let us know so we can quash it before the general release.

[2020-09-16 23:51] mikehardy commented on #7121
@david-allison-1 It's already in general release ;-)

[2020-09-17 00:21] david-allison-1 opened #7124 "Note Editor: Add Editing Toolbar"
With basic buttons: bold, italic, underline and cloze (for cloze type cards)

Implementation can be taken from the visual editor: #1377

[2020-09-17 02:53] #7121 closed

[2020-09-17 06:39] szpak commented on #7121
That's why I use the beta versions :-). This time, I've just been postponing the bug report too long and I was late to the stable party ;-).

[2020-09-17 07:03] AdrienLemaire commented on #1377
@david-allison-1 You mentioned markdown in https://github.com/ankidroid/Anki-Android/issues/5430#issuecomment-608480356.
Will it be possible to sync it with markdown cards made with https://ankiweb.net/shared/info/1030875226 ? Not being able to edit cards created in markdown from the phone is my biggest problem at the moment ( (due to html modifications not being applied to the data-original-markd

[2020-09-17 10:21] tilusnet opened #7128 "Disable button animation"
Feature request

In Ankidroid 2.13 the buttons animate which slows down the flow. I prefer the practice session to be snappy and the animations are a distraction. I'd like this feature to be switched off.

###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to

[2020-09-17 10:47] david-allison-1 commented on #7128
@unusualstranger Is there a good way to go about this (disabling the ripple effect)? My UI knowledge is limited.

Potential thoughts:

* Might be a way to simulate changing the animation duration per app
* Custom button View class
* Disable the animation programatically in the `Viewer`

[2020-09-17 10:51] david-allison-1 commented on #7128
@tilusnet

For now, you can disable this animation temporarily in the Android Developer Settings - Tap the build button 7 times and it's under "Display".

You could also install a parallel 2.12.1 APK alongside 2.13.0 while we get this resolved: https://github.com/ankidroid/Anki-Android/releases/download/v2.12.1/AnkiDroid-2.12.1.parallel.A.apk

Thanks,

David

You could also download AnkiDroid 2.12

[2020-09-17 11:31] JhonnySalles opened #7129 "The last update broke the ankiMarkCard function"
###### Reproduction Steps

1. Press a button that has the following call.

[code]

The error only occurs in the "ankiMarkCard" function, and the "ankiGetCardMark" function is working correctly.

Making the call as follows, it does not work and does not display a warning.
`AnkiDroidJS.ankiMarkCard()`

###### Expected Result
When calling function "ankiMarkCard" was marking the card.

###### Actual R

[2020-09-17 11:42] david-allison-1 commented on #7129
@infinyte7

[2020-09-17 11:44] david-allison-1 commented on #7129
@JhonnySalles Could you provide the card HTML?

https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API#usage may be helpful

[2020-09-17 11:45] unusualstranger commented on #7128
Sorry for late response, I'm fairly sure there should be a way to get resources from custom SDK folder though my Android UI knowledge is more limited than yours. Another way would be changing names for old background resources and new ripple background resources to be able to change them pro grammatically. Fade animation can be disabled in code. I can get onto this issue

[2020-09-17 11:56] david-allison-1 commented on #6970
@Arthur-Milchior Still in 2.13.0 https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/4360db95-6ad2-42e8-83d3-f35801689f8f

[2020-09-17 11:57] unusualstranger commented on #7128
@david-allison-1 should I use the existing Safe Display option or make a new one?

[2020-09-17 12:01] david-allison-1 commented on #7128
@unusualstranger Use 'Safe Display' (`AnkiActivity.animationEnabled`). Thanks so much for the help on this one

[2020-09-17 12:08] unusualstranger commented on #7128
I've went through all project files with Find tool and I don't see any mention of `eInkDisplay` preference key elsewhere, may that be a bug or it gets set outside of AnkiDroid? So I think I'm going with safeDisplay for now

[2020-09-17 12:11] JhonnySalles commented on #7129
Yes, no problem

Front:
[code]

CSS:
[code]

Back:
[code]

Others scripts:
[Others js.zip](https://github.com/ankidroid/Anki-Android/files/5238945/Others.js.zip)

[2020-09-17 12:13] JhonnySalles commented on #7129
In the manual it says to be starting, so I do a test to identify if it is the ankidroid, because I also use it on the computer, but the function I want only for the cell phone.

calling the init function, I've tried to call it like AnkiDroidJS.init () ;, but it doesn't seem to solve it.

[code]

[2020-09-17 12:14] JhonnySalles commented on #7129
Until the anki was updated yesterday, the function was working normally. I didn't find anything specific in the update that could have broken the function.

[2020-09-17 12:25] tilusnet commented on #7128
Thanks guys for looking into this.

Also I may say something utterly obvious, but the previous version worked just fine for me.

[2020-09-17 12:26] david-allison-1 commented on #7128
I've fixed that in the latest version of `master`, `animationEnabled()` now uses `safeDisplay`

[2020-09-17 12:56] david-allison-1 commented on #7129
@JhonnySalles

If you can help improve the linked page, please do. It should be fixed by the following (including an email you use for development).

[code]

[2020-09-17 12:56] unusualstranger commented on #7128
I must have not pulled changes from upstream properly, sorry! Looks like telling Android Studio to pull from upstream wasn't enough…

[2020-09-17 13:12] david-allison-1 commented on #6208
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/4d72b61c-30b1-444c-a89c-34ba94de1740

[2020-09-17 13:13] david-allison-1 commented on #6208
Cause: deck no longer exists after a sync
[code]

[2020-09-17 13:34] liu-hz opened #7130 "ankidroid 2.13.0 cleartext failure"
when i use the ankidroid 2.13.0 on my anki-sync-server . it tell a error is java.net.UnknowServiceException:CLEARTEXT.communication to IP not permitted by net work security policy. i need help to fix this problem . if you know how to fix it .pleace tell me thank you so much

[2020-09-17 13:37] david-allison-1 commented on #7130
@liu-hz Thanks for the report.

Did this work on AnkiDroid 2.12.1?

[2020-09-17 13:52] liu-hz commented on #7130
yes i test ankiDroid 2.12.1  also has this problem

[2020-09-17 13:56] david-allison-1 commented on #7130
@liu-hz You'll need to use HTTPS on your sync server.

[2020-09-17 14:03] liu-hz commented on #7130
do you know how to step the sync server ?can fix this problem ?thank you so much

[2020-09-17 14:05] david-allison-1 commented on #7130
@liu-hz I don't. You'd be best to ask someone associated with the Sync Server for support.

[2020-09-17 14:14] mikehardy commented on #7113
https://f-droid.org/en/docs/FAQ_-_App_Developers/#do-i-need-to-tell-you-when-i-update

[2020-09-17 14:27] mikehardy commented on #7113
As near as I can tell their automated checkupdates process finds and releases new versions with a lag time of hours. I don't think this is actionable as I don't believe there is any gain to be had from pressing them faster than their current system:

https://gitlab.com/fdroid/fdroiddata/-/commit/9c59a6f2f33a0b72ac21ab3f67ce7b068afb3735

[2020-09-17 14:27] #7113 closed

[2020-09-17 14:44] rleitzell opened #7132 ""Cloze Anything" cause "Collection not Opened""
###### Reproduction Steps

1.  Cards made on Anki for Mac using Cloze Deletions with "Cloze Anything"
2. Sync to Ankiweb
3. Upon opening AnkiDroid and attempting to sync, I get the "Collection not opened" warning, and no combination of force sync or delete library allows me to proceed until the "Cloze Anything" cards and deck are removed.

###### Expected Result
Successful sync and study

###### A

[2020-09-17 14:55] JhonnySalles commented on #7129
Thanks david, actually starting the api with the json settings above made it work again.

I changed:
[code]

to:
[code]

I used the same email registered with anki, don't know if another email could work too..

I apologize for the inconvenience, I should have switched to this new type of startup earlier, but I didn't even think about this hypothesis.

But I really appreciate the help.

[2020-09-17 14:55] #7129 closed

[2020-09-17 15:06] david-allison-1 commented on #7132
Hi @rleitzell

Could you provide us with the `AnkiDroid/collection.anki2` file (this is all your Anki data aside from media).

If it doesn't have private data, could you copy it, change its name to collection.zip and upload it here.

It it does have private data, could you email it to my gmail: davidallisongithub

Thanks for using AnkiDroid, I'll get this looked at ASAP

David

[2020-09-17 15:23] mikehardy commented on #7130
AnkiDroid requires TLS1.2. It's a hard requirement. If you run your own server you are responsible for implementing TLS.
Support for that is outside of scope here, but it is definitely possible and we specifically support self-signed certificates
I recommend https://letsencrypt.org/

[2020-09-17 15:23] #7130 closed

[2020-09-17 15:29] rleitzell commented on #7132
It's unfortunately too large to upload here, it's 230mb.  I have a copy of the deck that was causing issues, however?
[Botany.apkg.zip](https://github.com/ankidroid/Anki-Android/files/5240203/Botany.apkg.zip)

[2020-09-17 15:35] mikehardy commented on #7129
All of the JS API is quite new, I'm happy to hear that you are using it! The need for init is relatively recent, and I suppose a valid future direction could be to show an alert or toast to the user explaining that init is required

[2020-09-17 16:14] david-allison-1 commented on #7132
collection.anki2 should be around 50MB max, are you sure you selected the correct file?

[2020-09-17 16:29] JhonnySalles commented on #7129
I found the implementation of the API very good, considering that we can create custom buttons on the card and make the call from the API.
With the recent implementation of the flag button, button mark ended up going to the menu, so I found the function to speed up the marking when necessary, instead of wasting time going to the menu.

The creation of the API is great for that, I believe it can ma

[2020-09-17 16:36] JhonnySalles commented on #7129
I was thinking of adding a progress bar at the top of the card to the top, a bar that can show the percentage of cards remaining.

Is it possible to recover the total number of cards available for the day and the number of cards remaining through the API?

Two values that I can generate a percentage to show visually on the card.

I will be looking better in the API if there is something like that,

[2020-09-17 18:32] david-allison-1 opened #7135 "Massive number of 2.13 crashes (Android 4.4)"
**If you were linked here on Google Play, please comment to help us fix this**

-----

Nothing in ACRA

[code]

[2020-09-17 18:40] mikehardy commented on #7129
https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API should have all the API

and you might like this https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API#adding-progress-bar-to-card-template

:-)

[2020-09-17 18:51] julienbaley opened #7136 "Cards are automatically answered in 2.13"
Hello,

This happens for perhaps one card in six for me, at the moment. I have noticed the problem happening all day since the 2.13 update. It feels as if Ankidroid was mis-detecting the taps and when I lift my finger, it registered a new tap or something. (I have been using Ankidroid every day for nearly a decade, so I think my finger is not the problem)

###### Reproduction Steps

1. Go to study

[2020-09-17 19:02] david-allison-1 opened #7137 "Improve Error: "Failed to copy apkg to""
###### Reproduction Steps

1. zip a .apkg file
2. rename to .apkg
3. import it

###### Expected Result

4. Reasonable error (double zip, ideally handle it?)

###### Actual Result

4. Failed to copy apkg to ...

###### Debug info
2.14alpha

[2020-09-17 19:06] david-allison-1 commented on #7136
Hi @julienbaley, could you provide the debug information from Settings - Advanced - About AnkiDroid, it'll help us diagnose the problem

[2020-09-17 19:16] julienbaley commented on #7136
Of course, here it is:
AnkiDroid Version = 2.13.0
Android Version = 9
ACRA UUID = 5a15499c-8686-431f-afe7-bb85d64c77fa
Scheduler = std

[2020-09-17 19:17] #7128 closed

[2020-09-17 19:19] mikehardy commented on #7135
Some context:
- nearly ever crash is a Samsung device. There was one Xioami device module, but 10 Samsungs. No one else
- Only API19 nothing else, always the same backtrace (coalesced from 4 different grouped reports on play store developer console)
- very difficult to reproduce on emulator because API19 emulator does not get WebView or Chrome updates, so it's hard to say what the current version

[2020-09-17 19:20] mikehardy commented on #7135
May be worth it to put a call out for Android 4.4 Samsung users on the list or something for an assist. Maybe there's someone with an Android Studio / developer mode device all set up and ready to go, who knows.

[2020-09-17 19:38] Arthur-Milchior commented on #6970
There is no Timber for this user ?
I don't see how it is possible unless they used CardContentProvider.

The only solution I can imagine here would be to restart the search if some card or note disappeared.

[2020-09-17 19:50] kr1419 opened #7138 "Anki droid skips cards on google pixel 2"
###### Reproduction Steps
AnkiDroid Version = 2.13.0

Android Version = 10

ACRA UUID = 521c40af-fd41-48c5-8674-c1ef19a9b3ee

Scheduler = std

1.  Answer a card
2.  For the next card, press show answer immediately after
3.  The card does not show the answer. Instead, it skips the card.

I believe this has to do with the new touch animation. This was never a problem before.

###### Expected Result

[2020-09-17 22:11] david-allison-1 commented on #7138
Hi @kr1419, thanks for the report!

Could you download and install the 2.13.1 parallel release, enable `Settings - Advanced - Safe Display Mode` and see if this resolves the problem

https://github.com/ankidroid/Anki-Android/releases/download/v2.13.1/AnkiDroid-2.13.1.parallel.A.apk

Thanks,

David

[2020-09-17 22:11] david-allison-1 commented on #6970
Some phones don't provide logs :/

[2020-09-17 22:21] kr1419 commented on #7138
Hi, I downloaded and tried the safe display mode. It fixes the card from skipping, but when I am trying to go through cards quickly, it is stuck on the answer screen while I am pressing 'again <10'. This lasts for a couple seconds. I am able to see the touch animation with safe display mode.

[2020-09-17 22:22] adamstrusty opened #7139 "Card Count Discrepancy in AnkiDroid vs Windows/iPhone"
###### Reproduction Steps

1. Look at card count
2. Multiple syncs on all devices
3. Card count discrepancy still exists.

I have checked to make sure that all my devices are properly sync'd and that they all have the same settings for Anki. No cards are buried. My windows computer and iPhone are both showing a total of 6172 cards due, and my Android tablet is showing 6022. I have tried doing a fu

[2020-09-17 22:29] david-allison-1 commented on #7139
Hi Adam (Again!),

Could we have your `AnkiDroid/collection.anki2` file to help us diagnose this. This contains all your Anki Reviewing Data aside from media.

If it's not got personal/private information, could you rename it to `collection.anki2.zip` and post it here.

If not, could you email it to my gmail: davidallisongithub

Thanks,

David

[2020-09-17 22:47] kr1419 commented on #7138
It seems like I am having another issue. I don't know if I should make a new post. I am going through a deck. It is not assigning me any review cards or new cards, and I have gone through 1544 cards. Maybe a safe display mode issue?

[2020-09-17 23:10] adamstrusty commented on #7139
Okay I just emailed it to you. If you want to post it feel free, there is
no personal information, emailing it was just the easiest way for me.

On Thu, Sep 17, 2020 at 6:29 PM David Allison <notifications@github.com>
wrote:

Adam Trusty
Old Dominion University, Class of 2016
Adamstrusty@gmail.com
“It is by being fully involved with every detail of our lives, whether good
or bad, that we find happ

[2020-09-17 23:54] david-allison-1 commented on #7138
@Arthur-Milchior @unusualstranger any ideas on the above? Things seem to be working fine on my device.

[2020-09-18 00:03] kr1419 commented on #7138
AnkiDroid Version = 2.13.1

Android Version = 10

ACRA UUID = f140fd0b-69b7-459a-9301-bc024696abb4

Scheduler = std

[2020-09-18 00:29] Arthur-Milchior commented on #7138
I assume it means that it shows yet another card, right ?

I've no idea what this touch animation is, so I don't have any insight here

Anyway, I can't reproduce, I can ask for the answer as long as the next card is asked and it works perfectly.
I also tried with the safe display mode activated.

I don't understand. Did you see 1544 cards in learning (red cards) ? That seems a quite unusual amount

[2020-09-18 00:49] unusualstranger commented on #7138
I've reproduced the issue. Seems like answer buttons need to be disabled before transitioning, though Show Answer button appears above them.

[2020-09-18 00:59] kr1419 commented on #7138
It shows the next card, but a card is still skipped.

You press the screen and a gray circle appears around your finger, like what touching the home screen button on android does. It came with the latest update.

I don't know, it is a new issue after the update for me.

It says studied 1544 cards, only assigning the red cards. I studied a lot the day before, and I was only getting red cards. But o

[2020-09-18 01:25] unusualstranger commented on #7138
I will work on this issue today after I come home from work. I think I
already have some plan in mind

On Fri, Sep 18, 2020, 07:59 kr1419 <notifications@github.com> wrote:

[2020-09-18 02:28] david-allison-1 opened #7140 "Add Keyboard Shortcuts for Flags"
Requested in a Play Store Review - Trivial to do

[2020-09-18 02:44] david-allison-1 opened #7141 "Set Field Language: Disable by default, or move further "down" the list of available selections"
This obscures "Paste as Plain Text", which is not ideal.

[2020-09-18 02:48] david-allison-1 commented on #7135
From Play Review: "After last update it won't start, just shows the logo and closes."

[2020-09-18 02:54] david-allison-1 commented on #7135
If this is to be believed:

I'd guess: 85b3ff098de22b89cc7aed3a4eff92f913864fdf would be the one as it moves the WebViewInit to before onCreate (due to analytics).

0d02029102685bf7d8c9d1c2c9ae94ca7e09bb6b
e0be1ff0dee48bf6f1fbf98a24665d71daba63a2
532aa03f26e4a4b9887be18ab4f3a4d8e4637ac8
a38d71ee91d231c43873027186beaf99c2727afe
85b3ff098de22b89cc7aed3a4eff92f913864fdf
1eebcf47e035544b0cb11a4d2c88ad

[2020-09-18 10:24] david-allison-1 commented on #7135
Better theory: This is a crash on displaying the changelog

[2020-09-18 11:47] adm2d commented on #7135
That is my comment. App reinstalling did worked.
The app got broken on xiaomi mi pad 1 with Android 4.4.4 KTU84P.  MIUI9 - 7.11.16 Hope it helps

[2020-09-18 11:54] david-allison-1 commented on #7135
@adm2d Thank you so much!

Could you go to `Settings - Advanced - About AnkiDroid - Copy Debug Information`

Could you list the steps to get it to crash?

Could you then go to `Settings - Advanced - Safe Display Mode` and enable it and see if this fixes the issue?

[2020-09-18 12:31] adm2d commented on #7135
- When I press "About AnkiDroid" the app restarts, i.e shows its logo and then main screen with desks
- Yes the app crashes exactly like that, start the app - select any desk - press button "Learn" - crash
  besides that app is restarting when I select "Statistics" in side panel.
- Unfortunately can't find "Safe Display Mode" in russian translation. There is "Статический режим экрана", i.e static

[2020-09-18 12:37] david-allison-1 commented on #7135
Thanks

@adm2d Could you install our previous version: https://github.com/ankidroid/Anki-Android/releases/download/v2.12.1/AnkiDroid-2.12.1.parallel.A.apk and confirm that it still works.

----

Dev Note: "About AnkiDroid" uses a WebView, we've made two changes to the page since 2.12.1, and those are almost certainly not responsible for this.

https://github.com/ankidroid/Anki-Android/commit/85b3f

[2020-09-18 12:44] adm2d commented on #7135
@david-allison-1 Yes, after installing 2.12.1 all the problems has gone. 2.12.1

[2020-09-18 12:57] david-allison-1 commented on #7135
@adm2d

Great! This is my first guess for the change that caused it.

Could you:

* Download
* Check if it crashes
* Let us know
* Download the next and repeat

* https://github.com/ankidroid/Anki-Android/releases/download/v2.13alpha17/AnkiDroid-2.13alpha17.parallel.B.apk
* https://github.com/ankidroid/Anki-Android/releases/download/v2.13alpha18/AnkiDroid-2.13alpha18.parallel.B.apk

[2020-09-18 13:04] adm2d commented on #7135
@david-allison-1
alpha17 everything works!
alpha18 - crashes in the same places as 2.13.1

[2020-09-18 13:10] david-allison-1 commented on #7135
@adm2d

You're a wonderful person. Thank you so much for the help. I wouldn't have been able to do this without you

[2020-09-18 13:13] adm2d commented on #7135
@david-allison-1 I'm just glad to be useful

[2020-09-18 13:49] david-allison-1 commented on #7114
@dotancohen Is this better in 2.13.1, or do we still have work to do?

[2020-09-18 13:50] david-allison-1 commented on #7136
Hi @julienbaley,

This is being discussed in #7138, and should be fixed shortly. I'm going to close this as a duplicate.

Please subscribe to updates in the linked thread if you want to track development progress.

All the best,

David

[2020-09-18 13:50] #7136 closed

[2020-09-18 14:00] julienbaley commented on #7136
Thanks! Glad to see I'm not alone having the problem.

[2020-09-18 15:52] david-allison-1 commented on #7135
@adm2d

[2020-09-18 15:52] david-allison-1 commented on #7135
@adm2d Could you confirm whether

https://github.com/ankidroid/Anki-Android/releases/download/v2.14alpha6/AnkiDroid-2.14alpha6.parallel.B.apk works, thanks!

[2020-09-18 17:06] david-allison-1 opened #7145 "Crash: onDestroy - CardBrowser.invalidate()"
[code]

[2020-09-18 18:29] david-allison-1 commented on #7139
the card counts are definitely different as Anki Desktop now merges "learn" with "Review", but there is a difference.

[code]

AnkiDroid
[code]

[2020-09-18 18:48] david-allison-1 commented on #7139
mToday is 535 on Android, 536 on Desktop.

Requires https://github.com/ankitects/anki/commit/92673c99d8f7ba397862401afb618f656b81b6b8, which is stage 1 of the Rust conversion

[2020-09-18 18:59] adm2d commented on #7135
@david-allison-1 Confirmed, It Works!

[2020-09-18 19:04] #7135 closed

[2020-09-18 19:04] david-allison-1 commented on #7135
Again, thanks so much! Have a great weekend

[2020-09-18 19:34] adm2d commented on #7135
@david-allison-1 You guys do a great job, have a great weekend too!
If you need testing or else, I would be happy to provide any help

[2020-09-18 22:19] mikehardy opened #7148 "Pre-launch report crash 2.14alpha6"
###### Reproduction Steps

1. https://youtu.be/TSCFM1zuemk
2.
3.

###### Expected Result

did not appear to crash but play store says it crashed? what?

###### Actual Result

[code]

[logcat.txt](https://github.com/ankidroid/Anki-Android/files/5248476/logcat.txt)

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

#

[2020-09-18 22:30] MikeDacre opened #7149 "Failed to open deck error"
###### Reproduction Steps

Try to open a deck on AnkiDroid only following latest update.

###### Expected Result

Opens.

###### Actual Result

Error message "Failed to open deck' followed by a number.

Failure occurs with every deck even after restarting. However, it did not happen this morning following the update, only this afternoon.

###### Debug info

AnkiDroid Version = 2.13.1

Android Vers

[2020-09-18 22:33] MikeDacre commented on #7149
Spoke too soon. Rebuilt the database in the app and that fixed the error. So, this has never happened before in the many years I have used AnkiDroid, so I'm going to leave this open in case it is a new but, but feel free to close if needed. I don't need any further support.

[2020-09-19 01:07] david-allison-1 commented on #7148
Are you sure the logcat and video correspond to the crash - the error doesn't appear in the logcat

[2020-09-19 01:23] mikehardy commented on #7148
The whole thing is confusing, I'm not sure of any of it. I think the pre-launch reports got crossed up some how. Maybe you have better luck finding it? I went to the one they flagged and that had the exception (which I pasted, so I'm not crazy) but nothing made sense after that

[2020-09-19 01:48] #7145 closed

[2020-09-19 06:34] lucwastiaux commented on #5793
I'm planning on supporting the Anki 2.1.20 TTS {{tts}} functionality within AwesomeTTS (as opposed to the previously used <tts> tag). This would allow on-the-fly TTS to support a fallback mechanism on AnkiMobile (iOS). Ideally AnkiDroid would also support this syntax, so that the fallback works on AnkiDroid as well.

[2020-09-19 10:10] david-allison-1 opened #7151 "Sync Error: Corrupt Database - improve link"
This currently provides a text-link to http://ankisrs.net/docs/manual.html#corrupt-collections

Both not useful, and should be available in an action button on the screen

[2020-09-19 10:24] david-allison-1 commented on #5793
I'm getting the initial stages of the Rust conversion into AnkiDroid 2.14, after then we'll be able to use the Anki Desktop TTS code.

[2020-09-19 10:52] david-allison-1 commented on #7151
Failing "basicCheck" shows this message, which isn't a database corruption issue

https://github.com/ankidroid/Anki-Android/blob/9633f00a12d92da8cccdbecdfbf03f5b77bf84ef/AnkiDroid/src/main/java/com/ichi2/libanki/Collection.java#L1362-L1394

[2020-09-19 11:11] david-allison-1 commented on #6081
@ronved Could you go to `Settings - About AnkiDroid - Copy Debug Information` and paste it here.

Could you then go to `Settings - AnkiDroid - Crash Reporting` and turn it on

Could you then try to import the file again.

Thanks,

David

[2020-09-19 11:38] david-allison-1 commented on #7149
Thanks for the report

Cause: #7131

https://github.com/ankidroid/Anki-Android/blob/890ef6c5835e1acde92edc6af8a36a64dcc90601/AnkiDroid/src/main/java/com/ichi2/anki/DeckPicker.java#L265-L268

Maybe checking for the collection being open is too hasty - I'll remove it and leave it as an exception handler

[2020-09-19 11:51] tilusnet commented on #7128
Good job, thanks for the prompt update in 2.13.1! :ok_hand:

[2020-09-19 12:02] voidplayer commented on #7113
I would not want to waste anybodys time and bother somebody having to do this manually, but if it could be automated, why not

Considering 3 days later it hasnt yet reached fdroid, any speed up would be appreciated :)

PS: Yes i noticed its in fdroid yet, it hasnt build it, which the faq states cant be speed up

Also, can we push the betas too, please :)

Many programs in fdroid use them, includin

[2020-09-19 12:06] lucwastiaux commented on #5793
That sounds like a good idea, will you be able to share a large proportion of code with Anki at that point ? I did notice the code which parses the {{tts}} tag is in rust (.rs file - I know nothing about rust).

[2020-09-19 12:36] david-allison-1 commented on #5793
We'll be compiling the rust as a native library for Android, none of the Python sadly

[2020-09-19 12:58] david-allison-1 commented on #7140
`Ctrl+1...4` in Anki

[2020-09-19 13:05] #7141 closed

[2020-09-19 13:09] david-allison-1 opened #7156 "Add lint check for duplicated title/summary in preferences"
Should have a lint check for it

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/7155#issuecomment-695211323_

----

Might want to add this downstream in Android Studio?

[2020-09-19 13:09] #7151 closed

[2020-09-19 13:11] #7149 closed

[2020-09-19 13:17] #5233 closed

[2020-09-19 14:04] mikehardy commented on #7113
We can do anything and I'm happy to take PRs that support beta for f-droid (I :heart: fdroid) but I have other higher priority release automation tasks in my own queue so it won't be on my personal list.

[2020-09-19 14:12] mikehardy opened #7158 "Sync Translations should run lint / PRs should skip CI"
###### Reproduction Steps

Goal is to merge new translations to crowdin and back down to source tree, quickly but safely

1. Run the "Sync Translations" GitHub Action
2. Make a PR from i18n_sync branch containing the result
3. Merge PR to master

###### Expected Result

Any lint and other safety checking executes properly (what exactly is the maximum set of checks we could run that have value? I t

[2020-09-19 14:18] voidplayer opened #7159 "push betas to fdroid"
Related #7113

Currently getting de .apk is a little cumbersome because user must know the architecture of their phones

Fdroid allows for beta releases

[2020-09-19 14:23] voidplayer commented on #7113
Great! can we get this reopen then?

And of course there is no rush or pressure! This is wishlist material

Opening a new Bug #7159 since seems somewhat different to this

[2020-09-19 14:24] mikehardy commented on #7159
Here's the relevant code where we push to non-play store locations

Note that "public" is not beta, so the if would be different for f-droid, but it's after the "main" release process so this is where it should go

https://github.com/ankidroid/Anki-Android/blob/e44b6bfd683e1cbf0bae2c33384f9aa3e74d4fdf/tools/release.sh#L154-L168

[2020-09-19 14:25] mikehardy commented on #7113
No, there is no action here. The other bug can hold it, but if no one takes it on it will stale out

[2020-09-19 14:25] voidplayer commented on #7159
In the past I tried to directly install every .apk on the beta page on github and all of them failed. Probably something wrong with my phone

I have no idea how to do this, but ill take a look!

[2020-09-19 14:33] david-allison-1 commented on #7159
Installs don't give error codes in the Android UI, my most common error is running out of disk space.

Also try with the "universal/Parallel.A/B" APKs, as those remove a class of errors (with the downside being a larger file)

[2020-09-19 14:38] quarridors opened #7160 "Fixing "New Cards Added" statistic has broken Total/Average Added Cards reporting for pre-made template/skeleton decks"
###### Reproduction Steps

1. Unsuspend cards in a pre-made deck
2. Learn those cards
3. Switch to 'Statistics'
3. Observe the figures under 'Added', both 'Total' and 'Average' in the 'Overview' tab

###### Expected Result

Before version 2.13.0 (release notes include 'Fix "New Cards Added" Statistic'), previously suspended newly learned cards were counted in the total added cards and average adde

[2020-09-19 15:31] voidplayer commented on #7159
Well, my phone is always running out of space, so that might have been it. I tried all the apks :/

I checked and i dont think is currently possible to autodetect betas

I created an [issue](https://gitlab.com/fdroid/fdroiddata/-/issues/2166)

Right now, the only way is to create a PR, which incidentally would also help to speed up the building. But I would have to learn the anki building process

[2020-09-19 17:31] quarridors commented on #7160
I've just made an additional discovery that suggests this may actually be an unintended bug. I just noticed that while the year and month reports are giving the number of cards added from scratched as the reported total, the 'Deck Life' report is giving the number of cards total in the entire deck, even when the deck's life is shorter than 1 year so should match the year report.

Worse still, the

[2020-09-19 17:56] david-allison-1 commented on #7160
@quarridors Could you provide a sample where this differs from the stats shown in Anki Desktop. I'll get to it.

[2020-09-19 17:58] quarridors opened #7161 "Deck Life statistics reporting period now counts every card in the deck as Added, giving wrong average cards per day figure"
###### Reproduction Steps

1. Have active decks in AnkiDroid
2. Switch to 'Statistics'
3. Choose a deck with less than a year of total deck life
4. Switch reporting period between '1 year' and 'deck life'
5. Observe the figures under 'Added', both 'Total' and 'Average' in the 'Overview' tab

###### Expected Result

See #7160 - this may be a replated bug.

Before the situation described in issue #7

[2020-09-19 18:06] quarridors commented on #7160
@david-allison-1 I'm not sure that the Mac version has an equivalent of this figure, I couldn't find it when I started using Anki and quickly switched to the Android version due to it giving totals of and averages of the number of cards I'd newly learned in a month.

I'm downloading a new version of the Mac client now to see if I can find it.

[2020-09-19 18:22] quarridors commented on #7160
@david-allison-1 Okay the new Mac version has installed, reporting looks completely different from the last time I used it.

There is an 'Added' report right at the very bottom, this gives all the cards I've manually added myself.

That seems to have a different but related bug. The 'All' option under Added, which is presumably the equivalent of Deck Life, says that 3,238 cards were added for the

[2020-09-19 18:25] quarridors commented on #7161
I've been asked on the other issue to confirm that reporting figures differ from the Desktop client's. Having downloaded the new Mac version, I've found the following of the desktop report:

There is an 'Added' report right at the very bottom, this gives all the cards I've manually added myself.

That seems to have a different but related bug. The 'All' option under Added, which is presumably the

[2020-09-19 18:37] dotancohen commented on #7114
I really can't tell if there is much difference in battery drain, though that doesn't mean there isn't.

2.13.1 feels much snappier when answer cards than did 2.13.0. I'm actually surprised that the difference is so obviously felt. Maybe there's a bit of placebo effect! ))

I now realize that there was an animation when opening the menu. I never noticed it, because on the Nook nothing can be reall

[2020-09-19 19:12] david-allison-1 opened #7162 "Scheduling Bug: Undo resets new cards to 30"
###### Reproduction Steps

1. Download: https://drive.google.com/file/d/1XYAlY4YYi6SbM3OIzlrAWrmaByXne4m_/view?usp=sharing
2. Study 4 new cards
3. Suspend all in deck
4. Unsuspend all in deck (26 cards left)
5. Review "Good"
6. Undo

###### Expected Result

7. 26 0 0

###### Actual Result

7. 30 0 0

###### Debug info
AnkiDroid Version = 2.14alpha6

Android Version = 9

ACRA UUID = 6c9f2dcc-a56f-4

[2020-09-19 19:18] david-allison-1 opened #7163 "Remove Animations with "Safe Display" Enabled"
- [ ] The only animations that I still see are the active scrolling when scrolling the deck list, which I do often enough that it is annoying, and the sync spinner, which I do infrequently enough that it is not a real issue.
- [ ] If at all possible, when animations are disabled, a swipe up or down on the deck list should probably move the list a proportionate amount without actually showing the s

[2020-09-19 19:19] david-allison-1 commented on #7114
Sync spinner is disabled on my device when I have no animations, scrolling will be interesting to handle, but I'll add it to the backlog.

I'll close this as the underlying problem (new animations) is solve. Please watch/follow #7163 for follow-ups for the other animation removals

[2020-09-19 19:19] #7114 closed

[2020-09-19 19:19] david-allison-1 commented on #7163
I did have an attempt at removing the syncing progress bar a couple days ago when it first came up and it was more complex than I'd expected due to the way the progress spinner was hardcoded.

[2020-09-19 19:23] david-allison-1 commented on #7162
There's also a difference between the main deck picker (30) and inside the reviewer (29).

[2020-09-19 19:37] Arthur-Milchior commented on #7162
Please, can you indicates whether you mean :
Study with pressing 1, 2 or 3? Again, good or easy.
Are you in sched V1 or V2 ?

[2020-09-19 19:38] david-allison-1 commented on #7162
Good (2d). schedv1 (as in the debug info)

[2020-09-19 19:41] Arthur-Milchior commented on #7162
I can't reproduce on master in an emulator

[2020-09-19 19:47] Arthur-Milchior commented on #7162
In more detail:
1. Download: https://drive.google.com/file/d/1XYAlY4YYi6SbM3OIzlrAWrmaByXne4m_/view?usp=sharing
1. Open the deck.
1. Study 4 new cards with "good"
1. Open deck browser
1. Select the 4 unsuspended cards
1. Suspend them
1. Select all cards through the menu
1. Suspend all in deck
1. go back to deck picker (I see 26 cards left)
1. Open the deck (I see 26 new cards in deck)
1. Answer "g

[2020-09-19 21:24] balta2ar opened #7165 "Flickering when pressing answer buttons"
Hi! Another issue that I noticed after upgrading to 2.13 and 2.13.1 is that when I press "show answer" or again/good/... buttons, the whole card flickers. It definitely wasn't the case on the older versions. I tried to capture that on video: https://youtu.be/8_gTggEVD4Y

Frame rate is not perfect so it may be hard to notice but I think it's still visible at times.

Also, about the way the buttons

[2020-09-19 21:30] Arthur-Milchior commented on #7162
I can't reproduce it anymore. Seems not to always occur, which makes it hard to consider...

[2020-09-19 21:38] adamstrusty commented on #7139
Hey thanks for your help, but I'm not really sure what any of that means. Is there something I can do about this?

[2020-09-19 21:42] david-allison-1 commented on #7139
Right now, no, it's something that is number 2 on my priority list (after getting 2.13 stable)

[2020-09-19 23:04] david-allison-1 commented on #7165
@balta2ar Could you export a card and upload it here (full card template & fields). I can't reproduce this yet on my phone and it could be a template-related issue.

RE: Darkening the buttons, it's totally possible, what colors would work better for you?

[2020-09-20 00:30] david-allison-1 commented on #7161
We don't share code with Anki Desktop, but we aim to emulate its behavior. We'll start sharing code imminently.

https://forums.ankiweb.net/ would be the best place to report issues with Anki Desktop.

If you can provide an exported deck with statistics discrepancies between us and Anki Desktop, I'll get those fixed.

[2020-09-20 00:32] david-allison-1 commented on #7160
Answered: https://github.com/ankidroid/Anki-Android/issues/7161#issuecomment-695371044

[2020-09-20 01:13] david-allison-1 opened #7168 "Hard crash on first time init & collection is corrupt"
* delete col table
* remove permissions
* Open
* Accept permissions
* Crash

[code]

[2020-09-20 01:14] david-allison-1 commented on #7168
But, deleting col is handled in normal startup. User has had this problem for a while, but hasn't taken any action

[2020-09-20 07:31] balta2ar commented on #7165
Here is one of my decks with dark background (remove .zip extension, github didn't allow uploading here otherwise): [english__english-for-students.apkg.zip](https://github.com/ankidroid/Anki-Android/files/5251238/english__english-for-students.apkg.zip)
Cards with dark background are the type of cards where the flickering is most visible and annoying in my setup.

I've just checked with the previou

[2020-09-20 08:45] vikmaar opened #7172 "{{Hint:}} stopped working"
###### Reproduction Steps

{{Hint:}} hasn't been working since 2.1.31 (l'm not sure that it was 2.1.31, but l noticed it on 14.09.2020) both on Windows 10 and Android. Before that {{Hint:}} was working fine several years. Now {{Hint:}} doesn't turn into the "Show hint" link, it just stays {{Hint:}} and tapping on it doesn't open the hint.

###### Expected Result
 {{Hint:}} should turn into the act

[2020-09-20 10:31] dotancohen commented on #7114
Terrific, thank you! Ankidroid is getting better by the minute.

[2020-09-20 10:34] david-allison-1 commented on #7172
This was an Anki Desktop change that we made to maintain compatibility with Anki Desktop, please contact Anki Desktop support: https://forums.ankiweb.net/

`{{Hint}}` now works only in the Card Template, and not in the fields.

Ref: #6295 and #6855

If Anki Desktop changes this, we'll match their behavior

[2020-09-20 10:34] #7172 closed

[2020-09-20 11:48] david-allison-1 opened #7173 "System Language "Traditional Chinese" selects "Simplified Chinese" as default language"
###### Reproduction Steps

1. Set System Language to Traditional Chinese
2. Clear AnkiDroid Data
3. Open AnkiDroid

###### Expected Result

4. AnkiDroid is in Traditional Chinese

###### Actual Result

4. AnkiDroid is in Simplified Chinese

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid

[2020-09-20 12:11] david-allison-1 commented on #7173
remoteConfig.localeList: `[zh_GB_#Hant,en_GB,de_DE,vi_GB,fr_CH]`

`LanguageUtil.getLocale()` -> `zh_GB_#HANT`

`Locale.getDefault().toString()` -> zh_GB_#Hant
`newLocale.toLanguageTag();` -> `zh`

The bug is in `LanguageUtil.getLocale()` (the returned locale has `GB_#HANT` as the country.

https://github.com/ankidroid/Anki-Android/blob/143b27c31907fc8c9fcb493e4a2645e4ec7147b9/AnkiDroid/src/main/ja

[2020-09-20 12:57] david-allison-1 commented on #6715
Heavily related to #7168

[2020-09-20 14:23] vintotal opened #7174 "Request: Option to disable missing media error message."
In version 2.13.0: « Fix Improved messaging when collection is missing media ».

###### Reproduction Steps

1. Add a picture by drap and drop to a card on Anki desktop.
2. Sync only cards, not media on both desktop and Ankidroid.
3. Study on Ankidroid.

###### Expected Result

Like previous versions (2.12.1 and under), when "fetch media" is not active while syncing, avoid showing an error and simp

[2020-09-20 14:31] david-allison-1 commented on #7174
Hi, thanks for the report.

We should only show this message twice per study session: https://github.com/ankidroid/Anki-Android/blob/f5479302a3f3964dad0e6d31c4f974a7dd612002/AnkiDroid/src/main/java/com/ichi2/anki/cardviewer/MissingImageHandler.java#L32

We find that people disabling "fetch media" without knowing that it will cause this issue is one of the main problems that people report, and I ad

[2020-09-20 16:05] mikehardy commented on #7165
UI changes are basically impossible because of the "no one likes everything" thing you mention.
In the future we'll offer a card template I'll name something like "2008 AnkiDroid" that uses the Javascript API so people can have the "oh thank god nothing change ever" experience, and we can change things ;-)

DIsable animations, I suggest. I did you try it?

[2020-09-20 16:17] mikehardy commented on #7174
This was a large support request source, so I like the message, it should not go away.

It should only be showing twice though, and I'm not sure what the use case is for having truly missing media, but we're all adults so I'll assume it's valid :-). Probably disk space I'm guessing? Or similar, but that as a hypothetical is enough to grant it as valid, sure

I want to understand more how this show

[2020-09-20 16:19] mikehardy commented on #7173
I have been frankly shocked at the anger expressed by people wanting Traditional Chinese when Simplified Chinese showed up, and none of them responded to requests for whether their phone was set Traditional or Simplified so I'm happy to see a real bug fixed but have no motivation personally

[2020-09-20 16:23] david-allison-1 commented on #7174
@vintotal Can you confirm that this appears more than twice per review session?

[2020-09-20 16:35] vintotal commented on #7174
If a session is delimited by the time you spend on reviewing cards without going back to the deck list, it shows only twice. I should have written it shows on every card _that has missing media_. I am sorry it was interpretated as showing every time. Even though in my case the message is not required, it is a minor issue and I think we can live with it. :-)

If I study for exemple a few card the m

[2020-09-20 16:46] mikehardy commented on #7174
Interesting. Could perhaps be once per review session without being deck specific as an easy back-off on frequency with no other changes

[2020-09-20 16:54] balta2ar commented on #7165
Yep, "safe mode" has always been on in my settings. Highlighting of the buttons, however, is still active. I reckon #7134 is not part of 2.13.2 release? Or maybe it just disables ripple effect, but highlighting stays :man_shrugging:

[2020-09-20 17:07] david-allison-1 commented on #7165
@balta2ar I'm looking into this now.

I'm getting flickering on 2.12.1. I'm not sure there's much that can be done if this is the case, it's the WebView taking time to load the custom fonts defined in the Card Template.

Could you download https://github.com/ankidroid/Anki-Android/releases/download/v2.12.1/AnkiDroid-2.12.1.parallel.A.apk and confirm that you don't get flickering?

You might need t

[2020-09-20 17:12] mikehardy commented on #7165
that was in 2.13.1 (visible by milestone assigned to issue and/or PR)
it was likely just ripple yes, highlight is a different aspect of material design, we appear to be following guidelines with a slight color lightening: https://material.io/design/interaction/states.html#usage

[2020-09-20 18:08] david-allison-1 commented on #7174
I'd be fine to use a global static if that'd be appropriate?

[2020-09-20 20:39] mikehardy commented on #7174
Seems like an easy way to get 'er done @david-allison-1 -> works for me

[2020-09-20 20:53] balta2ar commented on #7165
This is super weird but I still see flickering in 2.12.1 parallel A. Even worse: I kept installing older versions to bisect the problematic version back to 2.10.4 so far (all parallel A builds), and they all keep flickering on dark background :open_mouth:

The flickering couldn't be there in Google Play version before the update a couple of weeks ago, I swear, I would've noticed that 100%. Am I go

[2020-09-20 20:59] mikehardy commented on #7165
The cards are shown as little web pages. So performance and behavior depends to a large extend on the web renderer. In most operating systems this is a Chrome-based WebView implementation that is updated independently of AnkiDroid as an app update in the system app updater. So that could have changed but it sounds like you are careful about it ?

Perhaps the font itself is not fetched OTA and not

[2020-09-20 21:58] #7138 closed

[2020-09-20 22:57] david-allison-1 commented on #7165
We are pre-rendering cards on a background thread now (which is a bit more work), but I'm more likely to chalk this down to an issue caused by a WebView update.

Removing the custom font will stop it, but that's not a great solution. I don't know if there's anything that we can do about it 😕

[2020-09-21 01:24] david-allison-1 commented on #6264
We'll get this one 2.14/15 - maybe in a related issue, but providing beta/alpha testers with actionable crash data will help us.

[2020-09-21 01:51] Sofrosyn commented on #6639
I could check it out, I'm New to the open source community and I use anki a lot

[2020-09-21 01:55] Sofrosyn commented on #5924
We can make it fancy😀😀😀

[2020-09-21 01:55] Sofrosyn commented on #5924
Definitely working on this

[2020-09-21 01:56] Sofrosyn commented on #5924
Please do assign me to this task

[2020-09-21 01:56] david-allison-1 commented on #6639
@Sofrosyn Thanks! Feel free to post here if you need any guidance.

[2020-09-21 02:17] Sofrosyn commented on #6102
Sounds cool

[2020-09-21 06:44] balta2ar commented on #7174
Just to give you an example, my use case is that some of my cards are automatically generated based on the history of word lookup in the dictionary. The automatically extracted content contains links to media (images) but I don't really care, only text is important to me. I guess proper solution would be for me to adjust the parser/extractor that generates such notes, but of course it's best if I

[2020-09-21 11:22] #6702 closed

[2020-09-21 13:45] mikehardy commented on #7138
@kr1419 can you install the new parallel release with the fix for this to verify it works? https://github.com/ankidroid/Anki-Android/releases/download/v2.14alpha8/AnkiDroid-2.14alpha8.parallel.A.apk

If you confirm that it works for you with the fix in that release then I can cherry-pick the change back to the release-2.13 code tree and get release 2.13.3 out for everyone

Thanks!

[2020-09-21 13:52] mikehardy commented on #5924
Great to hear @Sofrosyn ! Welcome

[2020-09-21 14:00] #7174 closed

[2020-09-21 15:55] Rupestris commented on #5142
AnkiDroid Version = 2.12.1
Android Version = 10
ACRA UUID = b914fef6-716a-4f97-949a-bf5632484f1a

I want to listen to the same audio file repeatedly. For this reason I copied the audio button 19 times ('{{Audio}}{{Audio}}{{Audio}}'). Sometimes this error occurs. Then any subsequent repitition stops prematurely at the same time.
Stopping the repeating audio and pressong 'Replay audio' may fix the i

[2020-09-21 16:05] elswithers commented on #6718
I guess I'm not sure how this process is supposed to work. When I made the
initial report the response was an explanation of why my issue is not
important and then chastisement for not appreciating the hard work that
goes into AnkiWeb. After this I was not optimistic of seeing a solution. I
just checked and the behavior of AnkiWeb has not been corrected. Does this
count as a resolution?

On Mon, S

[2020-09-21 16:25] david-allison-1 commented on #7174
@balta2ar This should be resolved in AnkiDroid 2.13.3 (2 instances of the snackbar per app run). Many thanks for the polite report

[2020-09-21 16:51] mikehardy commented on #5142
@Rupestris I'm not sure this will have the same root cause, either way could you reproduce with 2.13.2 (current stable?) - there have been lots of changes since 2.12.1

[2020-09-21 16:53] mikehardy commented on #6718
No, there is no resolution - it's an upstream issue. We do our best to maintain compatibility, and if AnkiDesktop/AnkiWeb behaves in a certain way we will copy it. You'll need to pursue them for a change

[2020-09-21 17:13] david-allison-1 opened #7227 "AOSP Issue: Can't use SubMenus on TV"
Placeholder - I'd like to either report this to Google, or fix it myself, but the Google tools for AOSP don't officially support Windows, and WSL's given up on me.

This is not in AnkiDroid yet, but will be, and causes issues for #1643, and I'd like an issue reference

Steps to Repro:

* Open Reviewer
* Open Menu
* Use Keyboard to navigate to a submenu (flags)
* Press "Left" to close submenu

[cod

[2020-09-21 17:16] david-allison-1 commented on #7227
The fix is trivial:

https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/widget/MenuPopupWindow.java#141

[code]

needs to be changed to:

[code]

[2020-09-21 17:19] david-allison-1 commented on #6718
I don't think it's been linked, but you can request the change at: https://forums.ankiweb.net/

[2020-09-21 17:33] Rupestris commented on #5142
@mikehardy Thank you. I updated and could reproduce it.

AnkiDroid Version = 2.13.2
Android Version = 10
ACRA UUID = b914fef6-716a-4f97-949a-bf5632484f1a
Scheduler = std

[2020-09-21 21:25] #7116 closed

[2020-09-22 04:36] #6116 closed

[2020-09-22 10:12] david-allison-1 commented on #6116
This was solved

[2020-09-22 13:09] david-allison-1 commented on #4364
Added edit button to the preview, but not buttons on the note editor

[2020-09-22 13:10] david-allison-1 commented on #6732
@multilingualmarissa any updates?

[2020-09-22 17:10] david-allison-1 commented on #1643
@Magneticdud I've added reviewer TV support in the latest alpha, could you try it out and tell me what needs changing?

[2020-09-22 17:49] B1INGO opened #7231 "Image in cloud can not be loaded correctly in ankidroid. (html)"
The same image in cloud can not be loaded correctly in ankidroid,but can be loaded correctly in the desktop version.
It makes creazy ;(
- html code: \<img src="http://qiniuimage.*****.top/blog/20190108/a0znKL2coKU3.png">
![html code](https://user-images.githubusercontent.com/20365172/93917862-1f1cc400-fd3e-11ea-9a46-8635e1725a9b.jpg)
- can not be loaded in phone.
![phone](https://user-images.githu

[2020-09-22 18:01] david-allison-1 commented on #7231
Hi @B1INGO, you need to use `https`

[2020-09-22 18:31] david-allison-1 opened #7232 "Android 11: Crop is not supported"
###### Reproduction Steps

1. Take a picutre
2. Say 'OK' to Crop

###### Expected Result

Crop works

###### Actual Result

![image](https://user-images.githubusercontent.com/62114487/93922095-63da3800-fd09-11ea-9b9b-37966f36c096.png)

###### Debug info
2.14alpha

API 30

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancemen

[2020-09-22 18:32] david-allison-1 commented on #7232
Likely as Android doesn't support a crop intent?

We should be able to handle this fairly easily if so - need to test on earlier emulators to see if this is a problem.

[2020-09-22 18:52] mikehardy commented on #7232
If only someone would refactor the image field controller thing so it wasn't such a mess and this would be easier to fix! ;-)

[2020-09-22 19:33] achintmaxx opened #7234 "After the update the cards are showing all the tags on the bottom which is obstructing the text on the card itself. How do I fix this"
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement

[2020-09-22 19:39] mikehardy commented on #7234
Hi there! It is going to be something to do with your template: https://docs.ankiweb.net/#/templates/intro?id=card-templates

[2020-09-22 23:59] david-allison-1 opened #7236 "CI Failure: CompatCopyFileTest"
[code]

[2020-09-23 00:00] david-allison-1 commented on #7236
https://travis-ci.org/github/ankidroid/Anki-Android/jobs/729455758 - restarted the job before I got a full trace (sorry), might be non-actionable without this

[2020-09-23 01:19] mikehardy commented on #7236
I have seen something similar in my attempt to update robolectric 4.4 and API targets to 29 and JDK1.9+ etc and stalled out there. Something about robolectric's classloader isn't loading the robolectric jar and is hitting the "stub" android.jar instead, haven't had time to dig as of yet

[2020-09-23 01:45] #6215 closed

[2020-09-23 11:02] david-allison-1 opened #7261 "_fillRev: StackOverflow"
2.14alpha1 - might have been fixed already

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/b40de982-f998-476e-9b5b-371d2d971311

[code]

[2020-09-23 11:02] david-allison-1 commented on #7261
@Arthur-Milchior Was this fixed in https://github.com/ankidroid/Anki-Android/pull/7069/files

[2020-09-23 11:04] david-allison-1 opened #7262 "Crash: WebView - getHitTestResult"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/61344b7e-dbeb-47da-91d0-0e3cd5c16e95

[code]

Needs a try..catch

[2020-09-23 11:48] Arthur-Milchior commented on #7261
If it is followed by many other many fillRev, it seems very credible

[2020-09-23 12:06] #7261 closed

[2020-09-23 14:16] david-allison-1 commented on #1643
Thanks!

Would you recommend I took away the wrap-around behavior?

That wasn't intended, and I don't think it happened on my emulator, I'll look into it.

[2020-09-23 16:02] david-allison-1 opened #7263 "Crash: TagsDialog not attached to a context"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/87572c2c-bd2f-4fa2-a0b6-69fb67f504b9

* Add Note screen
* Tap Preview, then tags before Preview Opens
* Exit Preview
* Tags Appears
* Click "OK"

[code]

[2020-09-23 17:48] david-allison-1 opened #7265 "Cannot rollback - no transaction is active"
This is a common bug with many code paths that can cause it. see: https://github.com/ankidroid/Anki-Android/blob/55f45d78c62b272dca282e53b0dc251a26567186/AnkiDroid/src/main/java/com/ichi2/libanki/importer/Anki2Importer.java#L156-L164

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/1ba8eb6c-3bdc-4ec5-a52b-a389130ef77f

[code]

[2020-09-23 17:48] david-allison-1 commented on #7265
Normally caused when the disk is full - fixing this exception won't solve the root cause, but it will mean the exception points to the correct issue (disk full) so we can handle it better later on

[2020-09-23 19:20] Magneticdud commented on #1643
In my opinion, wrap-around is confusing when there's only two review buttons, because you don't know which is actually selected. It might be useful for the classic 4 review buttons if someone is using a gamepad, but i noticed that the 4 gamepad buttons are already mapped to each review score. Also, it defaults to "good", so if want to go "bad", two taps left, "perfect" one tap right, maybe could c

[2020-09-23 20:26] david-allison-1 commented on #1643
@Magneticdud

In the next alpha:

* I've removed the wraparound
* Can you please test the center button, it didn't work at all on my Android 29 TV emulator (I recall it working in the past on a different emulator).

[2020-09-23 20:57] Magneticdud commented on #1643
the center button, you mean the remote one? That's the OK i was referring, it works

I made a video of the remote + the app recording => https://imgur.com/a/fsTIjNN

[2020-09-23 21:08] david-allison-1 commented on #1643
Hmm... looks like we'll need to see if my code improves things once the alpha's in, it might take a bit more calibration on our end

[2020-09-24 05:19] #7265 closed

[2020-09-24 05:20] #7262 closed

[2020-09-24 07:49] balta2ar commented on #7165
Flickering has finally got to me and I ended up swapping this beautiful Google Noto font recommended in the official manual to the ugly default Arial :( Are there any android logs that I can check on my phone to confirm that some system component has been updated?

For the past several days I honestly tried to get used to the new flashing buttons but I just couldn't :( Every time I press "Show ans

[2020-09-24 10:10] voidplayer opened #7275 "Desktop shows review cards due having the number of reviews of subdecks into account"
This behaviour changed in desktop at some point. it used to behave like ankidroid

### How to reproduce

![2020-09-24_11-56](https://user-images.githubusercontent.com/4019910/94130584-25ee2880-fe5d-11ea-8845-84cbf2fcc002.png)

#### parent deck
* review limit: 10
* number of cards due: 0

#### sub deck
* review limit: 1
* number of cards due: 10

### Desktop

Parent will show only 1 card due

### a

[2020-09-24 11:36] david-allison opened #7276 "SQL Error: 1032 (SQLITE_READONLY_DBMOVED) while syncing"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/1abea72f-4314-499d-b519-9827722b2da1

https://www.sqlite.org/rescode.html#readonly_dbmoved

https://www.reddit.com/r/medicalschoolanki/comments/iyv9g2/after_i_have_updated_to_anking_v8_from_orginal/

[code]

[2020-09-24 11:39] david-allison-1 commented on #7276
This has been happening for some time - sync related and recoverable from what I understand.

Quite a lot of errors of this sort in ACRA

[2020-09-24 11:45] david-allison-1 commented on #7276
Line of failure seems to be:

https://github.com/ankidroid/Anki-Android/blob/63f82fa2a58ab7f04260dc0eaabe6702ed4155fe/AnkiDroid/src/main/java/com/ichi2/libanki/Decks.java#L263-L273

[2020-09-24 14:38] mikehardy commented on #7165
@balta2ar did you try the safe display setting in preferences? it disables all animation including the material-design specified ripple on buttons

[2020-09-24 15:18] voidplayer opened #7279 "General stats doesnt show learning cards"
desktop shows all due cards (new + learning + review)
![2020-09-24_17-13](https://user-images.githubusercontent.com/4019910/94164574-8004e300-fe89-11ea-9cab-d8bc4749ccc5.png)
![2020-09-24_17-11](https://user-images.githubusercontent.com/4019910/94164590-84310080-fe89-11ea-8c25-90d390945608.png)

Ankidroid  shows only review cards in the general stats: 7 in this example

Desktop behaviour is prefer

[2020-09-24 15:40] david-allison-1 commented on #7279
Click the stats on the right side of the deck picker and it will show the stats breakdown.

[2020-09-24 16:22] voidplayer commented on #7279
Yup, im aware!

Thanks

[2020-09-24 16:42] david-allison-1 commented on #7279
I'm really sorry, I'm not sure I understand then. Could you screenshot AnkiDroid to compare?

[2020-09-24 16:57] voidplayer commented on #7279
Desktop general overview
![2020-09-24_18-55](https://user-images.githubusercontent.com/4019910/94175837-869a5700-fe97-11ea-91e8-f0c3c321b6f3.png)
Android general overview
![Screenshot_20200924-184843_AnkiDroid](https://user-images.githubusercontent.com/4019910/94175871-9154ec00-fe97-11ea-8fcd-2b18f0d823d7.png)
Details:
![Screenshot_20200924-184828_AnkiDroid](https://user-images.githubusercontent.c

[2020-09-24 16:59] voidplayer commented on #7279
By the way, desktop used to have this same problem. But they fixed it a couple of releases ago

[2020-09-24 17:21] balta2ar commented on #7165
Yes, sir (https://github.com/ankidroid/Anki-Android/issues/7165#issuecomment-695809448) safe mode is on.

[2020-09-25 20:36] #6705 closed

[2020-09-25 20:39] Radorion commented on #6705
Ok

Em sex, 25 de set de 2020 17:36, github-actions[bot] <
notifications@github.com> escreveu:

[2020-09-26 11:36] #6081 closed

[2020-09-26 16:36] #6681 closed

[2020-09-26 19:48] voidplayer opened #7285 "Increase number of failed cards in filtered decks"
Edit by Arthur:

# How to reproduce:
1. add a note
1. create filtered deck
1. Uncheck "resschedule" button. (This transform it into a preview deck)
1. search anything that lead to your card to be selected
1. open this filtered deck
1. press again (as many time as you want)
1. Press undo

# Initial bug report

From outside
![Screenshot_20200926-003047_AnkiDroid](https://user-images.githubuserconten

[2020-09-26 20:35] p4nix commented on #5829
Possibly related discussion (@Arthur-Milchior recommended putting this here, so it doesn't get lost in the Discord abyss):

Currently, if "Show ETA" is enabled for the reviewer, it will show the time left in a strange "N hours NN left" message. Recently, there has been some discussion in the Discord started by a user with many top bar buttons who could only read "1 hour..." because of the text bei

[2020-09-26 21:08] david-allison-1 commented on #1643
@Magneticdud Any improvements?

[2020-09-26 21:14] david-allison-1 commented on #7285
@voidplayer Thanks! Could you provide your Debug Information: `Settings - Advanced - About AnkiDroid - Copy Debug Info`

[2020-09-26 22:37] voidplayer commented on #7285
AnkiDroid Version = 2.13.2

Android Version = 10

ACRA UUID = 3ab3e7d9-3f01-4b07-9a98-94244270ed93

Scheduler = std2

[2020-09-26 22:55] david-allison-1 commented on #7285
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/3268ec2b-5ef1-4554-b5cc-09c591b45867

[code]

[2020-09-27 04:56] Juddd opened #7286 "bug report about preview"
I'm in latest verion [2.13.3](https://github.com/ankidroid/Anki-Android/releases/tag/v2.13.3)

###### Reproduction Steps

Enter into Card browser→Change display order→By created time(▼)

Then you select some card to Preview, actually you will preveiw the card by the "By created time(▲)" still. It is a crazy bug.

to preview:

![1](https://user-images.githubusercontent.com/10048069/94356383-79ac7c0

[2020-09-27 05:28] Arthur-Milchior commented on #7285
"fail" ? Do you mean "again" or do you mean something different ?

Do you know whether the card was new or was a due card before moving to learning mode ? Can you please share the steps you use for the new card or for the lapsed cards please ?

Is it always the same card you see again and again and again ?

If you use anki desktop, you can share the few cards that create the problems, so that we c

[2020-09-27 05:39] Arthur-Milchior commented on #7285
should means that the card is in the preview queue, which should probably not be possible.

Have you started the review of those cards on any other system ? Desktop, ios ?

Have you used the preview mode on the same cards ? 

I actually never used the previewer and don't even know how to use it. So @david-allison-1 any guidance would be appreciated to figure out how to put a card in the preview qu

[2020-09-27 05:48] david-allison-1 commented on #7285
@Arthur-Milchior There's no such thing as a 'preview' queue in the previewer. It avoids the scheduler entirely and contains a collection of cardIds to obtain and render.

[2020-09-27 05:58] Arthur-Milchior commented on #7285
I edited the initial bug report to add reproduction steps

[2020-09-27 06:00] Arthur-Milchior commented on #7285
Tried to reproduce it upstream. You can't undo a card in preview mode. That'll save one part of the problem.
I'll look at numbers later,

[2020-09-27 06:09] david-allison-1 commented on #7286
Cause: the array is reversed, but `mPosition` is not updated:

https://github.com/ankidroid/Anki-Android/blob/42b92180120040299e590634f5b03d6f352c0a4f/AnkiDroid/src/main/java/com/ichi2/anki/CardBrowser.java#L254

[2020-09-27 08:53] voidplayer commented on #7285
The crash while undoing in a filtered deck has been going on for a very long time. The increasing number when tapping again has only been happening for a couple of versions, although it seems related :)

Thanks for researching the reproduction steps and fixing it!

[2020-09-27 10:23] Arthur-Milchior commented on #7285
Were we told the crashed occurred ? I've never heard of it. It would have been corrected quite a long time ago otherwise. Nothing complex here

[2020-09-27 11:36] voidplayer commented on #7285
I didnt report it because anki crashed a lot and you guys were already fixing lots of crashes very recently. This was just one of them

It barely crashes now, so its easier to aisle problems. I waited until i could reproduce it on the latest version

Also, Its not very critical. And the deck didnt seem to broke either

Thanks again! I will report if this happens again!

[2020-09-27 11:38] Arthur-Milchior commented on #7285
Makes sens I guess. I mostly corrected bugs I created so I didn't realize there were so many corrections that users would remark it.

[2020-09-27 12:12] david-allison-1 opened #7289 "CI: /home/travis/.jabba/bin/jabba does not appear to be a valid binary."
[730667775.log](https://github.com/ankidroid/Anki-Android/files/5288237/730667775.log)

[2020-09-27 13:32] #7140 closed

[2020-09-27 13:33] #7036 closed

[2020-09-27 13:36] mikehardy commented on #7285
@Arthur-Milchior By my rough estimation I fixed maybe 10 crash bugs and David went berserk and fixed like 40 or 50, starting around Feb/March with a crescendo in April/May. Stats indicate there are around 99% fewer crashes :-)

[2020-09-27 13:38] #7285 closed

[2020-09-27 14:20] mikehardy commented on #7289
These are always transient network failures:

It is a real shell script (assuming you can download it): https://raw.githubusercontent.com/shyiko/jabba/master/install.sh

I worked a fair bit on making this resilient https://github.com/DanySK/Gravis-CI/pulls?q=is%3Apr+is%3Aclosed+author%3Amikehardy

Appears more is necessary, but it will never be 100% as long as we rely on resources that must be fet

[2020-09-27 15:55] david-allison-1 commented on #6752
I'd like this - not on my plate right now, but enough to keep backlogged

[2020-09-27 16:43] alexanderadam commented on #6726
_still searching for solutions_

[2020-09-27 17:52] david-allison-1 opened #7293 "SchedV1: Difference between lrn/relearn in DeckPicker and Reviewer"
Undiagnosed, happened to me yesterday, I had around ~45 cards in the Reviewer, and ~25 cards in the Deck Picker.

SchedV1. Leaving this here as a placholder until I diagnose further.

[2020-09-27 18:30] danZ4C opened #7294 "4th answer button shown when it should NOT be shown (new cards etc)"
Hey guys, I think it has been at least a couple of weeks now, there are always shown 4 answer buttons, where before on new, notmature or failed cards there were only 3 buttons (fail, hard, good). Now there is always 4, and the forth one on those mentioned cards, has some crazy value (like in the screenshot (again, good(10min), easy (1d), easy (1.3 years!)).

This obviously breaks the whole JavaScr

[2020-09-27 18:34] david-allison-1 commented on #7294
Hi @danZ4C, thanks for the report!

Could you provide debugging info: `Settings - Advanced - About AnkiDroid - Copy Debug Info`

A working copy of the deck to be able to reproduce the issue would also be appreciated (with scheduling info, without media).

Thanks,

[2020-09-27 18:38] Arthur-Milchior commented on #7294
"notmature" ?
I don't get it.
A mature card is a card whose interval is at least 21 days. As far as I know, there has never ever been a time in anki where knowing whether a card is mature or not change the number of button. So I don't get what you mean.

"fail" ? Do you mean "again" as on the screenshot ? Because I don't recall ever seeing a "fail" button

[2020-09-27 18:46] danZ4C commented on #7294
Really sorry I am not at all familiar with the terminilogy. What happens is this:

I start the attached deck, I don't know a card (fail it) so i press the "again button" then when that card is shown to me again whilst revising it will have 4 instead of 3 answer buttons as shown here:

![image](https://user-images.githubusercontent.com/66844189/94372955-e55f0b00-00f9-11eb-9a92-e3ea319f3f85.png)

my

[2020-09-27 18:48] danZ4C commented on #7294
sorry the last deck file didnt include scheduling info, this one does:
[Anki debugging deck - Chinese.zip](https://github.com/ankidroid/Anki-Android/files/5288851/Anki.debugging.deck.-.Chinese.zip)

[2020-09-27 18:55] Arthur-Milchior commented on #7294
The card who created problem, were there new card or were there cards you already reviewed and that are shown to you again ?

No trouble at all if you don't know the terminology. You don't have to know it.

[2020-09-27 19:01] danZ4C commented on #7294
The doubled "EASY" button is shown for brand new never revised cards and also on cards that i have revised in the past but failed (pressed AGAIN on) and when they are shown to me again in this session.

It seems to be happening for EVERY card in EVERY deck i have.

[2020-09-27 19:06] danZ4C commented on #7294
Should i try reinstalling the app?

[2020-09-27 19:28] Arthur-Milchior commented on #7294
I highly doubt it would change anything.

I can't reproduce on 2.13.3

I see there is plenty of unusual button. Next button, Show English, an arrow. Do you click on any of them, or only on "again" ?

[2020-09-27 19:30] david-allison-1 commented on #7294
@danZ4C I suspect that this bug will require a copy of `AnkiDroid/collection.anki2` to resolve.

If your Anki collection doesn't contain private information, would you be happy to zip it and post it here.

This file includes all your Anki Cards and review data, but not your media.

[2020-09-27 19:32] danZ4C commented on #7294
Oh yeah those my JS buttons, but you can ignore it all, they don't interfere with the scheduling, just press answerButtonEase3(); )

Above problems i described were acheaved just be using the standard AnkiDroid interface.

[2020-09-27 19:34] danZ4C commented on #7294
im happy sharing collection.anki2 file, but maybe should i not post it publicly since it includes some copyrigted materials?

[2020-09-27 19:37] danZ4C commented on #7294
Here you go!
[collection.zip](https://github.com/ankidroid/Anki-Android/files/5288922/collection.zip)

[2020-09-27 20:14] david-allison-1 commented on #7293
[7293.apkg.zip](https://github.com/ankidroid/Anki-Android/files/5289000/7293.apkg.zip)

Repro - 79 cards in deck Picker , 80 in Reviewer.

80 on both for Desktop

[2020-09-27 20:23] david-allison-1 opened #7297 "Check Media Crash: magnitude == null"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/ba1f723c-2f2a-44e1-a662-492642eb0c98

[code]

[2020-09-27 20:25] Magneticdud commented on #1643
Tried alpha12.

Wraparound is removed. Hamburger menu is still selected after answering a card.

Noticed a minor issue: in settings, when choosing how many backups to store, it's not possible to submit the number. Can change the number, but when press OK, it won't save it or close the dialog. Need to connect a bluetooth mouse to tap on the slider to let it save it and close the dialog

Just notice

[2020-09-27 20:25] david-allison-1 commented on #7297
Cause: `Utils/ Utils.fileChecksum: File not found.`

https://github.com/ankidroid/Anki-Android/blob/4935ac517deb2d784bba0a9f7793fd2e65f99712/AnkiDroid/src/main/java/com/ichi2/libanki/Utils.java#L608-L637

[2020-09-27 20:28] david-allison-1 commented on #7297
This is going to be a strange one to solve - bubbling the FileNotFound might be the right move, it's an exceptional case and it needs to be considered - we can't continue if we can't use the checksum

[2020-09-27 20:31] david-allison-1 commented on #1643
@Magneticdud New alpha won't have solved the hamburger menu. What Android API are you running the TV on?

[2020-09-27 20:32] mikehardy commented on #1643
To be more specific: I don't think there were any changes for TV at all this alpha. We issue them pretty quickly to keep the changelist for each small and I don't recall TV-anything this time

[2020-09-27 20:35] Magneticdud commented on #1643
just tried alpha13, no difference as expected.

I'm on Android 8.0. They decided that for marketing reasons, my device is obsolete. They released a totally identical device, same SOC, same flash, same ram, different case. They consider it "new", so they do updates only for the new one.

another note: it doesn't appear on the launcher, in the beginning i thought this was normal (generic android app

[2020-09-27 23:36] #6599 closed

[2020-09-28 10:03] mnhende2 commented on #6774
Just keeping this active (so that it doesn't auto close).

Wishing I had programming skills to help, but just hoping that someone else who does will consider adding in this feature to make it compatible with the desktop and AnkiMobile versions.

[2020-09-28 10:37] danZ4C commented on #7294
I've removed all the JavaScriptAPI code, cleared the cache, no change, all new cards had 4 buttons (two "EASY" ones where one of them has some crazy long time on it).

I have uninstalled the app on my phone, cleared cache, left the beta programm on google play, and I installed the normal (non-Beta) version, (WITHOUT deleting any files from my phone, so i didn't have to sync, used the same collecti

[2020-09-28 10:42] david-allison-1 commented on #7294
@Arthur-Milchior Reproduced with the files above, download and press "again". Didn't work yesterady.

[2020-09-28 10:43] danZ4C commented on #7294
Oh sweet, keep it going then, no need to close, he probably couldn't get it to work yesterday because i already had revised everything yesterday...

[2020-09-28 12:30] Arthur-Milchior commented on #7294
I tried to reset a card so that I see it as new and was not able to reproduce. If it occurs only with review card failed, then that may explain the reproduction problem indeed.

I agree that it should be inspected. Do you take care of it or do you want me to look at it ? It'll have to wait a few days probably, as that's not something I can do while thinking at other thing.

I would check upstream

[2020-09-28 13:16] david-allison-1 commented on #7294
If this was common, we'd have seen it before so it's fine to shelve for a while. I won't have the time to investigate this further.

[2020-09-28 13:16] mikehardy commented on #7294
I saw this yesterday in my 2.14alpha12 yesterday while reviewing my kid's collection, then (just in case?) I upgraded to current alpha 2.14alph13 and could not reproduce. It was 4 buttons where 3 were expected, the middle 2 were green/good and the second had a wierd value. Very strange! It was while he was on all red/review cards and I imagine one was marked fail/again yes

[2020-09-28 13:35] #7156 closed

[2020-09-28 14:14] xrishox commented on #2943
it would be nice if ankidroid could add this functionality.

[2020-09-28 14:23] mikehardy commented on #2943
@xrishox if it is not in the upstream scheduler, it will not happen here I don't think.

[2020-09-28 14:35] david-allison-1 commented on #2943
Agreed - we'll need this to be implemented upstream before we can work on it.

https://forums.ankiweb.net/

[2020-09-28 14:35] #2943 closed

[2020-09-28 16:01] david-allison-1 opened #7301 "Add "Rate App" button to changelog"
A simple change which should hopefully drive more user engagement (and hopefully get AnkiDroid into the hands of more users)

[2020-09-28 16:24] #7286 closed

[2020-09-28 16:58] Arthur-Milchior commented on #7294
I'll investigate then. If any of you know where the buttons are added to the UI, that would save me time in my search.

FYI, the way the delay work is that:
* the reviewer ask to the scheduler the number of buttons for a card
* for each button, the scheduler ask the delay for the card and this button
* the scheduler starts its computation, assuming that it received a question for a button which ex

[2020-09-28 17:14] mikehardy commented on #7294
@Arthur-Milchior I have no javascript API usage, so this is just the reviewer. I think AbstractFlashcardViewer will have all this stuff, it's either there or Reviewer

This is a really fast phone I'm running on so it should not be *as* race-y, but it is a very simple card template (so maybe the reviewer will win a race, if there is a race) ? If you're thinking there is an asynchronous thing happen

[2020-09-28 17:36] #6718 closed

[2020-09-28 17:49] Arthur-Milchior commented on #7294
Let me be clear, I'm just doing wild guess and trying to gather as much information as I can first. I suspect that I'll have some fun hours of debugging and trying to understand the spageti code of the reviewer before I find what's going on.

My intuition is that answerButton returns 3 and 2 in the two examples above, but for some reason the reviewer believes that there should be four buttons. (Ra

[2020-09-28 20:07] david-allison-1 commented on #6777
I don't see this getting worked on any time soon

[2020-09-28 20:07] #6777 closed

[2020-09-28 20:33] cohalex opened #7303 "Stats lost when importing from AnkiDroid to desktop Anki"
###### Configuration

Anki desktop version 2.1.33 on Ubuntu 20.04
AnkiDroid version 2.13.3

###### Scenario

Studying on the desktop, exporting the collection at the end of the day, importing to AnkiDroid, studying on the phone the next day, exporting from AnkiDroid at the end of the day, importing the collection to Anki desktop.

###### Reproduction steps:

Anki desktop:

1. File > Export
2. Expo

[2020-09-28 21:22] david-allison-1 commented on #7303
Hi @cohalex, thanks for the report!

At which stage in the reproduction steps is the statistics tab wiped?

[2020-09-28 21:57] david-allison-1 opened #7304 "CardBrowser: OutOfMemoryError"
[code]

[2020-09-29 04:27] kr1419 opened #7305 "Anki not working normally on Google Pixel 2"
###### Reproduction Steps

1.  Anki is very slow. I go through cards quickly.
2.  I go through 200 cards, anki glitches.

###### Expected Result
Anki is the speed I am used to as in 2.12.1. It is now 75% slower.

###### Actual Result
In this release anki is 75% slower compared to 2.12.1.
After anki glitches, it will not assign any blue or green cards and the cards studied and time studied is froze

[2020-09-29 06:01] cohalex commented on #7303
The stats heatmap in Anki desktop changes after the import, at the end of the scenario I described.

If I import the original colpkg I exported the day before from Anki desktop (in the very first step), back to Anki desktop, the heatmap shows the desktop study days, so I assume the problem is with AnkiDroid, exporting only the mobile study days or somehow corrupting the desktop data.

[2020-09-29 13:04] david-allison-1 commented on #7305
Hi @kr1419, thanks for the report

Could you provide a sample video of both the glitching and AnkiDroid going slowly, I haven't heard any reports of this nature, and both issues are really worrying.

Thanks,

David

[2020-09-29 13:31] mikehardy commented on #7303
Interesting. I wonder if that heatmap data - rather than being constructed on the fly from review data - is stored in the collection config spaces. There was a long-standing but unfixed issue about various sync scenarios not syncing, specifically the collection conf. That's my hypothesis on this one

[2020-09-29 13:36] #6732 closed

[2020-09-29 14:14] danZ4C commented on #7294
After I reinstalled the app the progem seemed to be gone, but now it is back again.
![image](https://user-images.githubusercontent.com/66844189/94570214-84a11100-0266-11eb-9d40-2bb97ccb0f6c.png)

[2020-09-29 14:22] danZ4C commented on #7294
Also, ive just discovered that the 4th button (the doubled EASY button) is NOT clickable at all, i click on it a little button highlight show for a sec, but absolutely nothing happens, i never tried clicking them before.

[2020-09-29 14:40] danZ4C opened #7307 "How to determine the location of the "Good" button with Javascript API?"
Hey guys, im using the JavaScriptAPI calls to rate the card "Good", but Good button's position varies it can be in the 2nd or the 3rd position (Again/Good/Easy or Again/Hard/Good/Easy) so I will use either buttonAnswerEase2(); or buttonAnswerEase3();

What is the best way to determine where the Good button is?

So far my code check if the time value of the 4th button is empty:

if (AnkiDroidJS.ank

[2020-09-29 15:35] david-allison-1 commented on #7307
Depends on the scheduler version:

https://github.com/ankidroid/Anki-Android/blob/4935ac517deb2d784bba0a9f7793fd2e65f99712/AnkiDroid/src/main/java/com/ichi2/libanki/sched/Sched.java#L160-L177

https://github.com/ankidroid/Anki-Android/blob/252b91bab8d38904918a90342129f3c7a005d1cd/AnkiDroid/src/main/java/com/ichi2/libanki/sched/SchedV2.java#L364-L372

[2020-09-29 15:47] Arthur-Milchior commented on #7294
I feel have an obligation to state that this is absolutely not something a French person would say. That's probably grammatically correct, but I can't imagine a native people stating this, seems more of a literal translation of "I only have a small appartement".

"Je n'ai qu'un petit appartement" would sound more correct. The difference being whether you are applying "only" on the number "one" or

[2020-09-29 15:53] Arthur-Milchior commented on #7305
My main question would be: did you make any change to your collection recently ?

If you accept to spend time working with us on this bug, it would also be interesting to know whether you could reinstall 2.12.1 and see whether anki become as quick as it used to be. ( I don't know how to easily install older version without android studio, so I'll need Mike or David to give you an explanation of ho

[2020-09-29 15:57] david-allison-1 commented on #7294
It's a visual issue. The values from the scheduler are correct.

[code]

[2020-09-29 16:03] mikehardy commented on #7294
Heck no, I have to actually answer my questions manually like a savage

[2020-09-29 16:21] david-allison-1 commented on #7294
This occurs when moving from a card with 4 buttons to a card with 3 AND not letting the animation finish normally.

`withEndAction` is only executed if an animation ends normally: https://developer.android.com/reference/android/view/ViewPropertyAnimator#withEndAction(java.lang.Runnable)

The current card JS flips the card before this completes - setting the animated field to `GONE`, which presumab

[2020-09-29 16:27] mikehardy commented on #7305
Older versions available as parallel installs for pretty easy testing:

v2.12 stable https://github.com/ankidroid/Anki-Android/releases/download/v2.12.1/AnkiDroid-2.12.1.parallel.A.apk
v2.11 stable https://github.com/ankidroid/Anki-Android/releases/download/v2.11.2/AnkiDroid-2.11.2.parallel.A.apk
v2 10 stable https://github.com/ankidroid/Anki-Android/releases/download/v2.10.4/AnkiDroid-2.10.4.para

[2020-09-29 19:29] kr1419 commented on #7305
No, but I did delete a lot of decks that caused slowing.  I have a few add-ons like quizlet importer.

I downloaded 2.12.1 on google play. It works normally. I don't know if the parallel releases are preferred for testing.

I did this 1-2 weeks ago after I removed a lot of decks that caused slowing, removing 30,000 cards. Still an issue.

[2020-09-29 19:33] kr1419 commented on #7305
@david-allison-1 To get the file, should I connect a usb to my phone then zip it onto my computer? I use different decks, so do you want the one I am mostly using? For the videos, should I make the one of the glitching and the slowed cards separately?

[2020-09-29 19:36] david-allison-1 commented on #7305
`collection.anki2` contains all decks, which is ideal for testing.

I mostly use Google Drive to transfer files between desktop and my phone, but USB will work just as well.

[2020-09-29 20:15] Arthur-Milchior commented on #7305
May I ask which part was/is slow ?

Normally, speed was greatly improved in those past two or three versions, so your report is really unexpected.

Thanks for the information, I didn't even know you could download previous version directly on the play store

May I ask you to try again on whatever slow collection you have ? I don't really expect it'll make a global solution, but it may help if it's

[2020-09-29 20:16] infinyte7 commented on #7307
May be better implementation for this. Check for all available buttons, if all available then call third button, else call second button.
[code]

[2020-09-29 20:48] mikehardy commented on #7307
Related: the button instability was fixed also #7308 - the buttons really should be stable and only appear when they are supposed to of course :-)

[2020-09-29 20:51] #7301 closed

[2020-09-29 20:51] #7294 closed

[2020-09-29 21:13] david-allison-1 commented on #7307
We'd be better to just add an endpoint into the JavaScript API for this

`getRecommendedButtonIndex`?

[2020-09-29 21:47] kr1419 commented on #7305
It is when studying any deck. The answer buttons sometimes don't work, and it won't let me see the next card until I pressed 'again' three times. I can upload a gif of it later.

There is a github link for previous versions on it. I think under the changelog.

I just tried again. Same issues.

[2020-09-29 22:00] kr1419 commented on #7305
@david-allison-1

github won't let me upload the anki2 file. This is a google drive link to it.
https://drive.google.com/file/d/1KmVcRtqDcygB0yYficsDLeSdOEGArte6/view?usp=sharing

Here is the video of anki being slow. Seems that there is a problem with pictures displaying too:
https://gfycat.com/meagerjealousdonkey

[2020-09-29 22:07] david-allison-1 commented on #7305
@kr1419 Could you try: `Settings - Advanced - Safe Display Mode` and see if that reduces the delay?

[2020-09-29 22:17] kr1419 commented on #7305
It doesn't
https://gfycat.com/conventionalzestyaphid

[2020-09-29 22:47] david-allison-1 commented on #7305
This is going to be a good reason to get #6897 (timing analytics) in.

[2020-09-29 23:46] david-allison-1 commented on #6897
I've attempted this (without the label parameter - marked as optional in the docs) and no timing events were appearing in our dev analytics.

`/batch` was returning a HTTP 200

Sent parameters:

[code]

[2020-09-30 00:30] david-allison-1 commented on #7305
It seems that we may have a problem. I could only get analytics working locally, not for the server.

https://github.com/david-allison-1/Anki-Android/tree/v214-analytics
https://github.com/david-allison-1/Anki-Android/tree/v212-analytics

[code]

[2020-09-30 01:10] david-allison-1 commented on #7305
Getting errors in the console from (I had been previously, but it seems that this is more of a big deal now):

https://github.com/ankidroid/Anki-Android/blob/252b91bab8d38904918a90342129f3c7a005d1cd/AnkiDroid/src/main/java/com/ichi2/libanki/sched/SchedV2.java#L1409-L1419

Commenting out the retry brought the execution time down to < 100ms

[2020-09-30 01:23] david-allison-1 commented on #7305
Now, this can easily be fixed by using `intTimeMS()`

But, Anki Desktop uses `intTime() * 1000`: https://github.com/ankitects/anki/blob/70a73b7c6018c3ce3c071a7c5c38d9f57919a778/pylib/anki/schedv2.py#L753

[2020-09-30 02:23] dae commented on #7305
I think you may have misread the code you linked to David?

[2020-09-30 02:31] dae commented on #7303
@cohalex you did not export your scheduling when transferring from computer to phone, so it was lost at that point. Collection packages are akin to overwriting files, and no merging happens.

[2020-09-30 02:41] david-allison-1 commented on #7305
🤦‍♂️ I did. That makes things easy. Thanks for the correction

[code]

[2020-09-30 05:39] cohalex commented on #7303
@dae When exporting from Anki desktop I don't see an option to include or not include scheduling. Are you saying the data simply cannot be exported via the colpkg?

Also, it seems that shcheduling is correct when importing back from AnkiDroid, as reflected in my counters for study. It's the stats that are missing data and the first place I see it is the heatmap.

On a personal note, Anki is a grea

[2020-09-30 05:47] dae commented on #7303
Sorry, I saw you omitted "include scheduling" in your first step, and forgot that was not possible with colpkg selected - it's always included in the computer version.

The heatmap only uses data in the revlog table, and if you're exporting a colpkg in both directions, it should be included verbatim in both instances. If the computer studies are visible in AnkiDroid but not when importing the colp

[2020-09-30 06:14] kr1419 commented on #7305
Why do I have a deck called 'default'? I didn't add that. Did someone access my account?

[2020-09-30 07:28] #7305 closed

[2020-09-30 11:39] david-allison-1 commented on #7305
No account details were shared.

Default is conditionally shown depending on whether it contains a card. It's a deck that can't be deleted, but will be invisible if it's empty.

[2020-09-30 13:36] kr1419 commented on #7305
Thank you

[2020-09-30 13:57] mikehardy commented on #7305
The fix for this (thank you so much for reporting and working with us, by the way!) is queued for the 2.13.*5* release. 2.13.4 is already out the door and while you haven't received it yet (unless you are in our beta program?) it will not contain the fix. 2.13.5 or the next alpha will contain it, FYI.

I expect 2.13.5 will probably show up on Friday or so

[2020-09-30 15:46] kr1419 commented on #7305
Thanks. I'm glad this can be fixed. I will report if I find anything when 2.13.5 comes out.

[2020-09-30 22:52] danZ4C commented on #7307
Yes please, it would make life so easier!

Although not sure what is the "recommended button", the "good" one? Yes it would be good to have:

buttonAnswerAgain();
buttonAnswerHard();
buttonAnswerGood();
buttonAnswerEasy();

or use a GET method to get the index of those!

[2020-10-01 03:46] lucwastiaux commented on #7063
This should be done together with the anki {{tts}} tag support, #5793

[2020-10-01 06:59] david-allison-1 commented on #6334
Fixed by #6477 (ec68b00321c01babdc223beb1f9c6ae54b852eb0)

[2020-10-01 06:59] #6334 closed

[2020-10-01 11:36] #6748 closed

[2020-10-01 11:45] david-allison opened #7326 "Database Error: Don't show "Full Sync From Server" if user does not have AnkiWeb Account"

[2020-10-01 13:38] david-allison-1 commented on #4371
Could be done with a custom RTL Layout, modifying the existing layout doesn't seem feasible

[2020-10-01 18:29] indexxd opened #7328 "Card text appears with a delay when connected to internet"
###### Reproduction Steps

1. Import this deck here into ankidroid: https://filebin.net/tpl9lj6u611e9n1j
2. Turn on internet connection (wifi or data)
3. Start reviewing the deck

###### Expected Result
The card text (front or back) should appear instantly.

###### Actual Result
The text takes about 15-30 seconds to appear on the screen for every card. This doesn't happen on the desktop version. I

[2020-10-01 18:42] david-allison-1 commented on #7328
Hi @indexxd, thanks for the report

Does this delay occur on AnkiDroid 2.12.1: https://github.com/ankidroid/Anki-Android/releases/download/v2.12.1/AnkiDroid-2.12.1.parallel.A.apk

[2020-10-01 19:07] indexxd commented on #7328
Yes it does. Also I just tried version 2.9 and the delay is there too. (the issue has been going on for a while now, I think it started happening around the beginning of the year?)

[2020-10-01 19:26] david-allison-1 commented on #7328
@indexxd Oh dear, it'd be useful if you could find the version where it was working as expected so we can pinpoint the issue.

This could potentially be a WebView update on your phone, in which case it may be a struggle to work around it.

[2020-10-01 19:34] david-allison-1 commented on #7328
@indexxd

Just had a look at the file. This is a card template issue.

The CSS contains a reference to `Helvetica Neue` which is stored on a website which is now down.

Could you please find the font, then follow the instructions below to use it in your collection (or just remove the reference to the font)

https://docs.ankiweb.net/#/templates/styling?id=installing-fonts

In AnkiDroid, you can edi

[2020-10-01 19:48] indexxd commented on #7328
Oh man, thank you so much! Removed the font and it works great. Thank you for your time.
Have a good day.

[2020-10-01 19:48] #7328 closed

[2020-10-01 19:53] david-allison-1 commented on #7328
No worries, glad it was something simple! Don't forget to send over a rating if you got us from an App Store

[2020-10-01 21:54] #7072 closed

[2020-10-01 22:39] #3053 closed

[2020-10-02 09:55] cohalex commented on #7303
If I import the colpkg I exported from AnkiDroid back into AnkiDroid nothing changes. Same counter for due cards and the same data in the statistics page.

[2020-10-03 05:17] tbm opened #7333 "Changelog confusing to some users"
I installed AnkiDroid on my friend's phone a few weeks. I asked today how things were going and she said she stopped using it because something appeared on the screen and she didn't know what to do.

She showed me and it was the changelog pop-up.  There was a lot of text and scrolling down took forever.

It even took me a bit to see the "Continue" button at the bottom.

My suggestion:

1) Maybe ma

[2020-10-03 12:18] david-allison-1 commented on #7333
Hi, thanks for the report. What version was this for?

2) should already be implemented in #7142 (2.13.2)

[2020-10-03 12:45] crantok opened #7334 "Feedback - First time user experience"
###### Reproduction Steps

1. Make sure you have never heard of Anki or any spaced-repitition flashcard apps.
2. Get told about Anki by a friend and think, "Spaced repetition? That's what saysomethingin.com uses. I liked that. I'll try Anki."
3. Go to the Android store, type "anki", click on the first app you notice. You are now using Ankiapp.
4. Find the interface very intutuive and gamified, des

[2020-10-03 13:30] Acelya-9028 opened #7336 "Displaying tags not working."
###### Reproduction Steps

1. create a card with {{Tags}}
2. see it

###### Expected Result

Display my tags.

###### Actual Result

Display {{Tags}}.

![Screenshot_20201003-152106_AnkiDroid](https://user-images.githubusercontent.com/45818681/94992875-3ef98680-058d-11eb-95ea-b87199bba9a9.jpg)
![Screenshot_20201003-152046_AnkiDroid](https://user-images.githubusercontent.com/45818681/94992878-46b92b

[2020-10-03 13:37] david-allison-1 commented on #7336
{{Tags}} now needs to go on the card template, please either use a new note type, or edit the card template of an existing note type.

Rationale: #6295

[2020-10-03 13:47] david-allison-1 commented on #7334
Hi @crantok , thanks for the detailed feedback! What would you say the aactions to fix this would be, and which are the most important issues?

[2020-10-03 13:59] Acelya-9028 commented on #7336
Thank you for the help :D!

[2020-10-03 13:59] #7336 closed

[2020-10-03 14:13] david-allison-1 commented on #7336
No worries, don't forget to rate the app!

[2020-10-03 14:32] mikehardy commented on #7334
I also appreciate the feedback. What I wonder is, if the download of shared deck finishes and you just clicked open, did our configured file association between apkg and AnkiDroid work, so that it did just import? Because it is supposed to be that if you tap, it just works.

That said! Perhaps there is something we can do in our captive WebView for the shared deck website on AnkiWeb, where when a

[2020-10-03 14:35] cohalex commented on #7303
I started from scratch and was able to reproduce the issue. Testing the steps below takes about 5 minutes so I hope more people can try and verify. Hopefully I'm not the only one with this problem as it is quite frustrating.

##### Desktop:
Version 2.1.35, this time on Windows instead of Linux

##### AnkiDroid:
Version 2.13.4

#### On the Desktop:

1. Create a new empty profile.
2. Download a rand

[2020-10-03 14:36] #7333 closed

[2020-10-03 14:40] mikehardy commented on #7333
Could also put the continue button at the top perhaps, I understand most might just tap through quickly, that's fine. David already put in a change so the back button works (odd it did not before!) so it won't be endless though, what a terrible way to lose a user!

I do like that it shows by default for a couple reasons, one is that we frequently interact with people and tell them to watch for the

[2020-10-03 14:55] david-allison-1 commented on #7334
They don't support getting the current URL for privacy reasons. https://stackoverflow.com/questions/33343917/how-to-get-url-change-from-customtabsclient

We can get navigation events (page finished etc...)

But we can't query the download events/status from other apps: https://stackoverflow.com/a/17575025

We can potentially poll the downloads folder, but that's a little hacky

[2020-10-03 15:01] david-allison-1 commented on #7333
The back button worked, but the toolbar didn't have the typical "Back" icon.

We've recently added a "Rate App" button to the screen, and it'd be a shame to not try that out.

[2020-10-03 15:07] mikehardy commented on #7334
I didn't realize CustomTabsClient had a different interface from WebView. Perhaps switching to WebView is an improvement, we haven't had great fun with CustomTabsClient (multiple crash bugs) and if it's going to be finicky perhaps just having one finicky way (WebView) to wrap web content is a system improvement, at the same time it allows us to decisively improve a long-standing source of customer

[2020-10-03 15:31] david-allison-1 opened #7337 "Suggestion: Allowing Hacktoberfest contributions"
We can join the [hacktoberfest](https://github.com/topics/hacktoberfest) topic to encourage new users to contribute.

I'd be happy to put time into doing a writeup of what we're after, and helping new contributors with issues.

[2020-10-03 15:40] mikehardy commented on #7337
Sure! If you want to drive it, drive on :-). In my experience working with fresh developers, preparation is everything. Precise task description, precise / objective acceptance criteria are critical. It frequently takes more time to do that well than it would to do the task itself but that's not necessarily a deal breaker, when viewed as an educational outcome it can be quite rewarding and there i

[2020-10-03 17:20] david-allison-1 opened #7338 "Possible Lint Check: Members which do not meet naming conventions"
This may be possible to handle from the `android-studio` auto-lint tool. Investigate that before writing the check.

Example: `MetaDB.mMetaDb` should be `MetaDB.sMetaDb`

[2020-10-03 17:33] kotx opened #7339 ".APK files are opened in AnkiDroid"
###### Reproduction Steps

1. Download a .apk file (I used Firefox Nightly for this)
2. Try to open the .apk from the browser

###### Expected Result
The package installer gets opened and the user can install an APK.

###### Actual Result
AnkiDroid gets opened with the message "This isn't a valid Anki package file. Filename xxxx doesn't have .apkg or .colpkg extension"

###### Debug info
Refer to

[2020-10-03 17:39] david-allison-1 commented on #7339
Hi @kotx

Does it work for you on Firefox stable? Can't reproduce on 81.1.1

Are you sure the file was an `apk`, and not an `apkg`?

Relevant code

https://github.com/ankidroid/Anki-Android/blob/28276da066f3a2842f3ec5dc9fee861358a19e5f/AnkiDroid/src/main/AndroidManifest.xml#L83-L150

[2020-10-03 17:49] david-allison-1 commented on #7339
Also note that we're up to AnkiDroid 2.13.4.

2.12.1 is an older version, but I don't recall any changes to this aspect of the code.

[2020-10-03 18:09] kotx commented on #7339
I'm on Firefox Stable 81.1.2 and the bug is still there. Edge 45.08.4.5074 seems to work properly though.

[2020-10-03 18:13] kotx commented on #7339
On 2.13.4 and the issue still exists. The app is installed from F-Droid, if that's relevant.

[2020-10-03 18:14] david-allison-1 commented on #7339
Would you consider submitting this to Mozilla's Bugzilla - it seems to be a Firefox issue rather than an issue in Android's package loading (given that it works in Edge).

If there is a bug in the above code, it doesn't appear apparent to me, but I'm more than happy to be mistaken. My guess is that an apk is a zip file, and we're acting as a zip reader on the system.

Which device are you using?

[2020-10-03 18:16] kotx commented on #7339
moto g power XT2041-4 with Android 10 & stock rom.

[2020-10-03 18:24] kotx commented on #7339
I opened an issue in Firefox's repo- if this isn't a bug with Firefox I'll reopen this issue.

[2020-10-03 18:24] #7339 closed

[2020-10-03 18:27] david-allison-1 commented on #7339
Thanks, do you have a link?