[2022-08-08 22:29] rohanshankar commented on #11965
I can work on this if it is still an issue

[2022-08-08 22:38] #11511 closed

[2022-08-09 01:33] dae commented on #11889
Creating card/note structures in Rust is reasonably fast, and makes the code simpler and more maintainable than manually deserializing data from rows. I don't think your cursor solution will work: for one, if the user very quickly scrolls down, you'll pay the cost of walking the btree in the same way that large offsets are [inadvisable](https://stackoverflow.com/questions/12266025/sqlite-query-opt

[2022-08-09 01:50] dae commented on #6772
Could be - PRs in the upstream repo most welcome :-)

This displays correctly when importing on the desktop and shrinking the window width down, and it displays correctly on iOS too - the table can be scrolled with a finger and the menu/toggles don't go offscreen. So this might be an Android-specific issue, where `        <meta name="viewport" id="viewport" content="width=device-width" />
` is beh

[2022-08-09 08:40] RSBat opened #11992 "Github Actions: Adopt JDK distribution is no longer maintained"
I was copying Github actions for tests from your project and noticed that you use `adopt` distribution:
[code]

According to the [docs](https://github.com/marketplace/actions/setup-java-jdk#supported-distributions)

[2022-08-09 10:19] #11968 closed

[2022-08-09 10:38] BrayanDSO commented on #6772
Nevermind, on my phone it scrolls/fit the screen perfectly without any changes on the code.

I was initially testing on the emulator (SDK 25, Pixel 2, 1920x1080), where I found the problem. I'll see if I sort out if it's a problem with older webview versions, older Android versions or DPI specific.

[2022-08-09 10:47] dae commented on #6772
How does webview updating work on Android? On iOS the webview version is bound to the iOS release, but I thought Android updated independently. The current minimum target version for the HTML/JS is iOS 13/Chromium 77, so it may fail or render incorrectly on older Chrome versions.

[2022-08-09 12:08] BrayanDSO commented on #6772
We can update it on Google Play. AFAIK, our minSDK (21) has support for Chromium 77+.

I can't test it currently because the one that can be downloaded on Android Studio is shipped with an older SDK. But as I've fixed the problem on other versions by updating the webView, it should work there too. Anyway, I'll leave that for the alpha/beta testers to confirm.

[2022-08-09 12:44] BrayanDSO opened #11993 "[Bug] App bar flickers after opening the navigation drawer"
###### Reproduction Steps

1. Open the navigation drawer
2. See the flickering
(tapping an option inside the navigation drawer do the same thing)

###### Expected Result

Icons are pretty and healthy

###### Actual Result

Icons flicker like a ghost

###### Debug info

[code]
Same happens on my phone

###### Research
*Enter an [x] character to confirm the points below:*

- [X] I have read the [sup

[2022-08-09 12:45] BrayanDSO commented on #11993
https://user-images.githubusercontent.com/69634269/183650318-fd8600de-ddd6-47f6-a4d3-388394df6dd7.mp4

[2022-08-09 12:50] BrayanDSO commented on #11993
Based on my local branches, it's something after afbbfd23574abdd3d3d5d4089b3c5f74fbe66d6d.

My shot is that the first bad commit is 1fa8cde1087b6f42b1f08ba68646267d1ff4cb5d

[2022-08-09 15:22] mikehardy commented on #11992
Sure, you're not wrong. I've switched to temurin in most of the repos I manage, and will get to this eventually. Are you interested in posting a PR to remedy it? That would be awesome :sweat_smile:

[2022-08-09 15:23] mikehardy commented on #11992
Also worth noting that if you are on an M1 processor you'll want zulu instead, and in fact zulu may be best as a simple default since it's m1-native already (temurin won't be for jdk11 until later in the year if I understand their roadmap correctly) while zulu already is and works fine on x86-64 mac as well

[2022-08-09 16:29] lukstbit commented on #11993
I didn't manage to replicate the flickering while using API 21 and 31 emulators.
Are you using the latest code or just the latest release?

I'm asking this because two days ago I merged https://github.com/ankidroid/Anki-Android/commit/dde749b70c84a4eba066faf627a8fd86c84217f4 while the _2.16alpha76_  version it's like from 13 days ago.

Also the code in that linked commit is not responsible because

[2022-08-09 16:42] adizcode commented on #10321
Hey, I'd like to work on this issue if it's available!

[2022-08-09 16:45] BrayanDSO commented on #11993
Latest code

[2022-08-09 18:57] RSBat commented on #11992
Github-hosted M1 runners are still in the "future" so it might not matter: https://github.com/github/roadmap/issues/528

Anyway, I've run actions on my fork with both distributions a couple of times - [temurin](https://github.com/RSBat/Anki-Android/actions?query=branch%3Ajdk-temurin) and [zulu](https://github.com/RSBat/Anki-Android/actions?query=branch%3Ajdk-zulu) - and they both work fine. Run ti

[2022-08-09 19:23] balta2ar commented on #9935
.

[2022-08-09 23:28] david-allison commented on #10643
I'll be putting in a PR for this in the next few days. It's useful to have this in a splash screen to allow for scoped storage restoration

[2022-08-10 09:07] lukstbit commented on #11993
I wasn't saying it had problems I was hoping it would solve the issue.
I tested this on a Nougat emulator and I didn't saw the flickering. It would be helpful if others check this out and confirm it happening.

[2022-08-10 09:34] BrayanDSO commented on #11993
Odd. I'm not seeing the flicker anymore. Closing this.

[2022-08-10 09:34] #11993 closed

[2022-08-10 10:14] BrayanDSO opened #11996 "Add Ktlint configs to the code style file"
From https://github.com/ankidroid/Anki-Android/issues/9390#issuecomment-950353851

This PR is only for fixing the pre-commit problem. As I found very reasonable to try using the plugin IDEA style as well and the repo's kotlin code style barely exists, I'll peel it to a separate issue.

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/pull/11995#issuecomment-1210459012_

[2022-08-10 14:33] pavreh commented on #11845
Import does not work with legacy schema in the latest alpha. Import works with V16 schema. Some apkgs cause an error as in the picture below, other apkgs cause a crash. I sent a crash report. Tested apkgs were exported from AnkiDroid 2.15.6.
![Screenshot_20220810-162444_AnkiDroidA](https://user-images.githubusercontent.com/10192661/183926487-d935084f-4268-47e9-a8f2-0d909131644d.png)
AnkiDroid Vers

[2022-08-10 16:24] pavreh opened #11999 "[Bug] Subdecks are not collapsed after tapping the arrow with V16 schema"
###### Reproduction Steps

1. use V16 backend
2. have a parental deck and two subdecks
3. tap the arrow next to the parental deck.
![Screenshot_20220809-035755_AnkiDroidA](https://user-images.githubusercontent.com/10192661/183961059-b8fe8903-7424-417f-bfd2-360aa9277f7c.png)

###### Expected Result

Subdecks are collapsed

###### Actual Result

Subdecks are not collapsed. Open a deck and tap back t

[2022-08-10 16:47] #10751 closed

[2022-08-10 18:42] oakkitten commented on #11588
The PR is open!

[2022-08-10 21:09] BrayanDSO commented on #11999
Thanks you very much for all the testing with the new backend. Out of curiosity, have you enabled it by unlocking developer options by using the "About" screen secret?

[2022-08-10 23:44] dae commented on #11999
Agreed, the testing is much appreciated :-)

[2022-08-11 05:23] pavreh commented on #11999
@BrayanDSO yes, I read a comment recently where you uncovered the about screen secret :)

[2022-08-11 05:37] #10449 closed

[2022-08-11 16:45] #10271 closed

[2022-08-11 17:26] oakkitten commented on #11889
My general idea was that the actual IO, if using a cursor or a similar thing, can be very fast. For instance, this single SQL query is enough to show questions and answers for the search, which is what AnkiDroid shows by default, and it only takes _90ms_ in Anki on my ancient laptop—not sure if it should be faster than my phone:

[code]

And even if it takes a lot of time to compute stuff to be di

[2022-08-11 19:42] mikehardy commented on #11541
Not sure if this is completed or not?

[2022-08-11 20:31] BrayanDSO commented on #11999
FYI, a new alpha was just launched with an option to enable it persistently. You can find it on the "Advanced" settings. Thanks again for all the jobing testing it, really appreciated.

[2022-08-11 21:41] BrayanDSO commented on #9762
I may get to this next month.

So I'd like to ask you @dae if it is fine to save a bunch (we have a lot of prefs) of key/values pairs  on the collection.

The keys would have a prefix like `ankidroid_` and the values overall should be small.

[2022-08-11 22:25] Arthur-Milchior commented on #11541
@david-allison is it done? I don't understand what's up with Time to be honest. I believe right now it's okay

[2022-08-11 23:20] david-allison commented on #11541
This was completed in e4da0eb9da6c79a14f80bdc0afc28f6d9ad5294c (https://github.com/ankidroid/Anki-Android/pull/11563), @Arthur-Milchior you didn't seem happy with this as a resolution, but I consider this to be resolved.

[2022-08-11 23:26] dae commented on #9762
That should be ok, but the current sync protocol sends the entire config on each sync, so until that gets addressed, it would be nice if you could try to keep things small by:

a) using camelCase names and a short prefix (eg AnkiMobile uses things like 'amSomeOption')
b) if possible, avoid persisting a value until the user changes the default setting (eg if the default of 'amSomeOption' is 5, it s

[2022-08-12 01:22] dae commented on #11889
There are multiple problems with your benchmarks:

- You're not measuring the time it takes for .query() to return. As I mentioned above, the entire query is fetched in advance.
- You're optimizing for throughput instead of latency. We don't want to show all matching rows to the user as fast as possible; we only want to show the visible rows to the user as fast as possible. Fetching multiple rows

[2022-08-12 05:26] krmanik commented on #6772
I think the issues is resolved now. It is related to webview.

_Currently I am away from the system which have Android Studio/WSL, so I may not check it_

[2022-08-12 11:17] pavreh opened #12007 "[Bug] delete deck crash with v16 schema"
###### Reproduction Steps
1. switch on v16 backend
2. get a shared deck
3. import
4. wait if importing takes too long
5. do a review, tap easy
6. tap back
7. delete the deck

###### Expected Result
The deck is deleted.  It is possible to undo the deletion.

###### Actual Result
The deck is deleted but a crash occures. "Undo delete deck" is not available.

Tested with different shared decks. Crash

[2022-08-12 11:31] dae commented on #12007
I can't reproduce this. AD devs: can I get access to the crash reports?

[2022-08-12 11:34] dae commented on #12007
Report says this is v2 scheduler, maybe you're using v3?

[2022-08-12 11:42] dae commented on #12007
@BrayanDSO assuming it is a v3 issue, would it be easy to add a v3 toggle in advanced that is only visible when v16 is enabled, assuming no maintainers object?

[2022-08-12 12:04] BrayanDSO commented on #12007
Yes, the preferences part is somewhat simple. I'd have it disabled instead of invisible though.

Idk about what you may want to do with the logic of getting the sched version, so I'll just leave a patch of the preferences part:

[code]

[2022-08-12 12:36] pavreh commented on #12007
It is the new backend but v2 Scheduler. I can see it in Anki after sync. I reinstalled the app and I am still able to reproduce.

[2022-08-12 12:48] dae commented on #12007
Which shared deck are you downloading?

[2022-08-12 13:10] pavreh commented on #12007
I downloaded e.g. "Fyzika 1 - Mechanika (Pomi)" and "Czech Sentences".

[2022-08-12 14:01] mikehardy commented on #12007
I got a request for the stack trace on this one, I fetched it, along with the device info key/value pairs and the logcat

Looking at the questions above, it appears we may want to extend the device info to report what scheduler is in use, and what schema is in use?

[code]

[2022-08-12 14:03] mikehardy commented on #12007
There were two crashes and they were slightly different, here is the one 1 day ago, previous was a couple hours ago

[code]

[2022-08-12 14:05] mikehardy commented on #12007
I'm about to be away from keyboard again but just a quick note that since this is a release build the line numbers don't match anything (they are shrunk during release build process). Apologies for that. It is probably possible to pull the release tag and re-run the release build and generate the de-obfuscation file if that's a barrier, but historically it's rare that the stack frame names aren't

[2022-08-12 19:31] BrayanDSO opened #12010 "Stop using custom XML namespace for custom preferences"
Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/issues/12006

---

It's better to be done only after #5019.

As I know a bit about AndroidX preference library, I may do it after GSoC. Shouldn't be hard.

If anyone wants do it before me, be welcome. #12008 may serve as a reference

[2022-08-12 20:12] pavreh commented on #12007
The first crash report commented "Delete a shared deck" is related to this issue. The second crash report commented "Import apkg" is related to #11845.

[2022-08-12 20:46] Arthur-Milchior commented on #11541
If that's not blocking anything, I'm fine with it.

[2022-08-12 20:46] #11541 closed

[2022-08-12 21:01] Arthur-Milchior commented on #10510
I'll take that as a no.
If I get to a point when I've no review to done quickly, I guess I'll do it

[2022-08-12 22:38] #10262 closed

[2022-08-13 01:47] dae commented on #11845
I can't seem to reproduce this when building from the latest main - I tried importing a few decks with the legacy schema, and didn't get any errors/crashes. Maybe it is related to the content of your local collection? If you use one of the alternate builds to import into a fresh collection, does it make a difference?

[2022-08-13 01:48] Arthur-Milchior opened #12014 "Error in tag when exporting package"
Those lines seems pretty obviously wrong:
https://github.com/ankidroid/Anki-Android/blob/f1bc5ca1b45cca5e43408c532185289cf0206f40/AnkiDroid/src/main/java/com/ichi2/libanki/AnkiPackageExporter.kt#L166-L173

The same object is added many time in the list `args`. Which means this is a list containing a single pair repeated a lot and the sql commit is not what was expected.
The bug seems of low import

[2022-08-13 02:41] dae commented on #12007
Thanks @pavreh, I've fixed the first issue, and can't seem to reproduce the second one - it perhaps could be something specific to your collection. Does 'check database' with the new schema enabled help?

@BrayanDSO thanks for that. I gave it a try and noticed a couple of problems:
- it doesn't reflect the actual value in the collection, so it may appear to be off even if it was enabled via a diff

[2022-08-13 07:03] pavreh commented on #11845
You mentioned it could be related to the content of the collection so I focused on it. I get the error message (as in the picture above) when I export a deck with a card with a sound tag (e.g. [sound:sound.mp3]) but media are not included during export.
Steps to reproduce
1. Have an empty collection
2. Create a note with sound
3. Export the deck with the note
4. Do not tick "Include media" and do

[2022-08-13 09:52] BrayanDSO commented on #12007
https://github.com/BrayanDSO/Anki-Android/commit/b56f00b12e455bc6b33f8136bc0de82cf4c164ad should fix those, but it has the issue of always re-enabling the v3 scheduler pref, either here on desktop (https://github.com/BrayanDSO/Anki-Android/commit/b56f00b12e455bc6b33f8136bc0de82cf4c164ad#diff-476d84626da0890329ad2b072200ad9c053710d55539ab3bdd95187ef8c2a6adR126-R127).

Please, take a look

[2022-08-13 14:45] #9390 closed

[2022-08-13 14:51] #12014 closed

[2022-08-13 18:10] mikehardy commented on #11845
@pavreh you have my continued gratitude for detailed reports and all of the testing effort, it is a *huge* help to the project, thank you! @aliffhasf (and pavreh) hopefully we get this fixed quickly of course :-)

[2022-08-13 19:31] BrayanDSO opened #12020 "Fix low contrast of `colorAccent` on the night themes"
Accessibility scanner complains on both "Dark" and "Black" themes about low contrast.

Can be seen by using the Accessibility scanner on any of the preferences' screens.

My suggestion is using `#42A5F5`, aka Material Blue 400, since it has a contrast > 4.5 on both "Dark" (bg: `#303030` and "Black" (bg: `#000000`) themes

[2022-08-13 20:25] oakkitten commented on #11889
Ahh this is great! It turns out that `browserRowForId` is so fast we can probably forgo caching entirely.

I wanted to test for thoughput because I thought that the only way to bring screen render under the fabled 16ms (or is it 8ms now?) would be to prepare all, or a lot of, rows in background. And if you prepare them in the background, it's reasonable to forgo latency to do the enitre job faster

[2022-08-13 22:56] oakkitten commented on #11587
Still an issue

[2022-08-13 23:05] dae opened #12021 "Support template tts tags in new backend"
https://github.com/ankidroid/Anki-Android/pull/11849/commits/363607009f64d31c31c30712d8291689f07bbe4c in #11849 creates play icons for {{tts ...}} tags, but doesn't currently support playing them. I made a brief attempt to hack in support, but it didn't work - I suspect I did something wrong with the initialization code:

[code]

In addition to supporting them when tapping on the icons, the code w

[2022-08-13 23:34] david-allison commented on #12021
I'd vote to cull.

I was about halfway through getting code to work with both paths, but it'll be a lot less effort to do a full switch, rather than support two implementations.

[2022-08-13 23:52] Arthur-Milchior opened #12022 "Linter: ensure that Timber's call are trivial"
Each call to Timber should be trivial. That is, it must take a string and its arguments. Timber should be the one that create the String to log if it decides to log it.
This is important because currently `Timber.i("string with $variable")` takes some computing time to create the actual string to print, even when we don't want to Timber informations.

So we should get a Linter warning that let us

[2022-08-13 23:58] david-allison commented on #12022
https://github.com/JakeWharton/timber#lint

`StringFormatInTimber`

This issue was likely introduced in 0d9df62371152be9c93bbb4989ba690eb5d11009. My bad

[2022-08-14 00:18] louwheesy opened #12023 "Adding Fuzz Factor to Ankidroid"
**Is your feature request related to a problem? Please describe.**
Cards learned on the same day that you constantly tap "good" on will have the same intervals and due dates. This can lead to an association between the cards, which can be problematic.

**Describe the solution you'd like**
Anki has a feature called a Fuzz Factor that adds a bit of noise to the following review times. It does not af

[2022-08-14 00:26] Arthur-Milchior commented on #12022
No big deal.
Then I guess this issue can be rephrased as "correct the errors and reenable it"

[2022-08-14 04:50] pavreh opened #12024 "[Bug] Answer time is not measured with V16 schema"
###### Reproduction Steps
1. use V16 backend, V3 scheduler
2. long tap on a deck - Deck options - General - Maximum answer time is 60 s
3. review a card in 1 s
4. open Card info of the reviewed card

###### Expected Result
Time (of the answer) is about 1 s.

###### Actual Result
Time is 60 s. Time is maximum answer time set in Deck options.
![Screenshot_20220814-064244_AnkiDroidA](https://user-ima

[2022-08-14 05:06] dae commented on #12024
I was not able to reproduce it when building with https://github.com/ankidroid/Anki-Android/pull/11849. If the issue still exists for you after it is merged, please let us know.

[2022-08-14 06:58] yshubham8419 commented on #9935
@mikehardy I want to work on this issue

[2022-08-14 09:49] reyaz006 opened #12025 "Better internal database"
It appears the performance is still not fixed after many years. PC app is miles ahead of Android app. Importing, syncing, even deleting decks - all take literally hours on Android and seconds on Windows (after playing with a few 100~200 MB decks).

`"This may take a long time"` message is something that should not be there (it's also not displayed before some of the longest operations are executed

[2022-08-14 12:42] david-allison commented on #12023
This is already implemented.

Ctrl+F for fuzz: https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/java/com/ichi2/libanki/sched/SchedV2.java

[2022-08-14 12:42] #12023 closed

[2022-08-14 12:44] david-allison commented on #9935
Sounds good to me. Assigned

[2022-08-14 13:19] mikehardy commented on #10228
This did not just go stale - I tested this on an API21 emulator after the latest builds, and it is working now! API21 emulator successfully passes instrumented tests now (verified by visual inspection of test output, and verification that roughly same coverage is reported with only API31 or only API21 emulators running and looking at reports from each run for comparison)

[2022-08-14 13:32] mikehardy commented on #12022
I'm all for using lint rules when possible, so I like the idea, what I don't understand is how with the commit linked above https://github.com/ankidroid/Anki-Android/commit/0d9df62371152be9c93bbb4989ba690eb5d11009 (which was removing an ignore on the timber's lint rules) would result in warnings not showing up (StringFormatInTimber)?

Anyway, the whole goal of the issue is good (do not do string i

[2022-08-14 13:46] mikehardy commented on #12025
I find this issue mildly combative versus collaborative

This despite your voluminous contributions on the same, oh wait: https://github.com/reyaz006 there are none. I guess it does not just fix itself!

Ironically, this is one of the problems. Did you know that each app on the Android operating system receives very limited RAM despite the system potentially having bunches? It's true

Interestingl

[2022-08-14 13:46] #12025 closed

[2022-08-14 13:49] mikehardy commented on #10312
I think this still needs a good look

[2022-08-14 14:56] david-allison commented on #12022
[The lint checks were disabled due to an issue with AGP](https://github.com/ankidroid/Anki-Android/commit/0a696b1b5126a855f5723a2819af002de5fc9c38), which was resolved. I believe the resolution should have been moving the issues to 'fatal' rather than removing the ignores.

I also don't think this is an issue for our repository. This should be a lint check in the Timber repo, which we should enabl

[2022-08-14 15:00] reyaz006 commented on #12025
I know very well what you mean. But I also expect you to understand what I mean. The app is used by millions of people, not just by team members. You have to accept the fact that it looks like a glaring issue and the fix would greatly help many users.

I wish I could have the time to contribute to so many projects.

With a project of this scale, one would expect that developments will focus on som

[2022-08-14 16:24] mikehardy opened #12026 "Crash in new schema attempting to delete unused media when doing a media check"
Took a crash attempting to delete unused media when doing a media check on a pretty trashy collection - shouldn't crash ever but what's the best way to handle it? Perhaps just show an info that deletion failed because system threw error %s ?

[code]

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/11849#issuecomment-1214410163_

[2022-08-14 16:43] reyaz006 commented on #12025
Enabling "the new backend" helped quite a lot. A full sync took about 10 minutes. Though after that I got "[anki:play:q:0]" text instead of a play sound button in one deck, and "Card content error" in another. Guess I'm expected to re-import all decks from scratch after enabling "the new backend".

[2022-08-14 16:55] mikehardy commented on #12025
Fixed by this - currently in review: #11849 (specifically https://github.com/ankidroid/Anki-Android/pull/11849/commits/363607009f64d31c31c30712d8291689f07bbe4c)

Hopefully merging in a day or three. Glad import + sync works as expected now with regard to performance.

[2022-08-14 17:05] dae commented on #12025
The 'card content error' hasn't been reported before - if it still happens in the next alpha, please provide more details in a new issue. You shouldn't need to re-import anything.

Please note that while AnkiDroid's legacy code does have some room for performance improvement, the main cause of import/sync slowdowns is a change that was made in recent Android versions. Work is in progress to deal w

[2022-08-14 17:27] dae opened #12027 "Display progress after a delay"
`withProgressDialog()`, introduced in #11849, currently shows a progress dialog immediately, which causes flicker on fast-running operations. What it should do instead is wait for about 600ms before showing the dialog (what the desktop does). As it's a suspendable function, it could probably be implemented fairly easily with `delay()` and `launch()`

It should probably also block UI interaction du

[2022-08-14 18:15] mikehardy commented on #12026
Confirmed fixed with the new commit on #11849 - thanks!

[2022-08-14 18:33] mikehardy commented on #10829
I'm not seeing this currently, going to close it for now. I do still see *some* issues on windows but not sure that they are more or less prevalent on windows vs macOS+linux

[2022-08-14 18:33] #10829 closed

[2022-08-14 18:35] mikehardy commented on #12020
I trust your judgement on this, if you've already used the scanner and proposed a color, you're on the frontier of knowledge on this one

[2022-08-14 19:01] mikehardy commented on #9853
I think this is still a problem

[2022-08-15 04:02] pqnhan opened #12029 ""Check pronunciation" feature: Audio recorded so small, how can i volume up this?"
My audio recorded file so smaller than sound file of cards.
I can't listen my voice clearly even turn max volume in my phone or using  earphone.

Is there any way (or option) that allows to triple or quadruple the play volume of an recorded file?

[2022-08-15 05:39] dae commented on #11091
Two one-off flakes in the past week:

com.ichi2.anki.tests.ContentProviderTest > testBuryCard[1][test(AVD) - 10] FAILED
com.ichi2.anki.tests.LayoutValidationTest > ensureLayout[fragment_anki_stats_overview][test(AVD) - 10] FAILED

[2022-08-15 11:54] #8342 closed

[2022-08-15 16:46] SaranshBaniyal commented on #11451
@Arthur-Milchior sir, I sincerely apologize but I am having a tough time understanding how to proceed on this issue after cloning the repository. I am a beginner in android dev and lack experience in real-life working projects. I would be grateful if you can just brief me on the direction to proceed or maybe you can unassign this issue and reassign it to someone else

[2022-08-15 16:47] #11576 closed

[2022-08-15 18:50] Arthur-Milchior commented on #11451
Can ou please come on the discord, where you may get real-time help?
I don't even know what is your issue. Whether you can or can't compile. Whether you can't find the place to improve. Whether you found them but fail to improve them. etc.

[2022-08-16 06:28] Myuki opened #12034 "[Bug] RAM usage keeps increase if deck use custom font"
###### Reproduction Steps

1. Use custom font for deck.

[code]

2. Keep review card and always choose `again` for every card. `again` is just easier for reproduction, others is also reproducible.

###### Expected Result

RAM usage should keep in an acceptable level.

###### Actual Result

RAM usage keeps increase as the more card had been review, even reach 8 GB. AnkiDroid may crash because webvi

[2022-08-16 09:27] Myuki commented on #12034
I want to do more test. It seems to relate to the deck.

[2022-08-16 13:21] mikehardy commented on #9762
Also note that device-specific items should not be persisted, those will always be lost. The only things that should be persisted in collection are things that are truly applicable to the whole collection that the user will definitely want on each device. This may not include certain display prefs like dark mode follows system, themes, etc (perhaps they want that different on different devices?).

[2022-08-16 13:46] #10767 closed

[2022-08-16 14:28] BrayanDSO commented on #9762
Probably the first thing to be done is what the issue is asking: a way to backup/export and restore/import preferences in a JSON or whatever format that's easy to handle on Android. For backup/restore, I think that all prefs should be included.

Then yeah, a way to sync preferences across devices for the "more universal" preferences (currently I guess this fits only the `Reviewing` and `Controls`

[2022-08-16 14:48] #11734 closed

[2022-08-16 14:48] #11902 closed

[2022-08-16 14:48] #11999 closed

[2022-08-16 14:48] #12027 closed

[2022-08-16 14:48] #11979 closed

[2022-08-16 14:48] #11981 closed

[2022-08-16 14:48] #12007 closed

[2022-08-16 14:48] #12026 closed

[2022-08-16 15:26] mikehardy commented on #11091
I have been seeing the same "failed to grant permissions" thing, I wonder if the latest emulator binary has a problem. That hunch is confirmation-bias affirmed by the current version of the emulator all of the sudden looking terrible on my macOS OSX-VMs (gray screen) indicating something big happened over there in Android Emulator project area. It was an update that came down sometime between a co

[2022-08-16 15:32] mikehardy commented on #11999
@pavreh just a note that 2.16alpha78 is building now and should be available soon (30 minutes or so?) if you'd like to re-check all the things you noticed with the new schema over the last couple weeks. Hopefully they are all actually fixed and no new crashes are noticed, but you never know and the testing is really appreciated. Thanks!

[2022-08-16 16:01] mikehardy commented on #10893
I have been doing a lot of media check testing (#12026) and force syncing (#11849) so these code paths were recently exercised a lot and while I did see problems myself I think they are all fixed now in 2.16alpha78 - we can reopen if they recur of course

[2022-08-16 16:01] #10893 closed

[2022-08-16 16:54] BrayanDSO opened #12039 "Using the new backend add `.0` to some numbers of deck options"
I've noticed that after using the new backend, a `.0` on the numbers of some options of Deck options (e.g. Steps), which may be odd

![Screenshot_20220816-133002_AnkiDroid](https://user-images.githubusercontent.com/69634269/184934072-2fa2e714-efa9-4d02-82e8-3cce239f2018.png)

Not a big problem, but is something to note.

[2022-08-16 16:56] BrayanDSO commented on #12039
Probably it would be best to migrate these preferences to the new Anki Desktop notation, e.g. 2d = 2 days (2880 minutes)

[2022-08-16 17:10] mikehardy commented on #12039
This may be a good time to test using the backend's 'TR' method and use the backend translations

[2022-08-16 17:11] BrayanDSO opened #12040 "Make all the Reviewer commands' feedback use Snackbars instead of toasts"
First, because Material design [recommends](https://material.io/components/snackbars/android#using-snackbars) it.

Second, because if the new backend is being used, `Undo` actions are shown with a snackbar while "Bury", "Suspend" and some others are shown with a toast, so they should be uniformized

Third, because a `Undo` button can be attached on the snackbar, so the user has another way to undo

[2022-08-16 19:33] pavreh commented on #12024
Unfortunatelly, still reproducible in 2.16alpha78, v3 scheduler. I started a new collection, made some cards and learned them.

[2022-08-16 19:34] dae commented on #12039
The deck options screen is a HTML/TS page that can be included verbatim in AnkiDroid like the CSV importer. The current AnkiDroid deck options have some AnkiDroid-specific options in them however (automatic display answer, notifications). These could either be moved to a different screen, or AnkiDroid could inject extra settings into the page in the same way desktop add-ons do, though it may take

[2022-08-16 19:46] BrayanDSO commented on #12039
I guess I'll test it just for fun on my CSV importer local build after I get some time to discover what javascript methods this screen needs to evaluate

[2022-08-16 19:50] dae commented on #12024
Thanks for letting us know pavreh. I can reproduce it now :-( I must have made a mistake when I tested last time. A fix for this will hopefully be in the next alpha.

[2022-08-16 19:55] mikehardy commented on #12039
I would try to use upstream HTML/TS verbatim instead of fooling with it, and have separate screen(s) for non-Anki-generic stuff, for what it's worth. Injection/modification seems like a fragile thing just waiting to break

[2022-08-16 20:07] dae commented on #12039
@BrayanDSO the relevant line in the desktop code is

[code]

And I think there are two endpoints: getDeckConfigsForUpdate, and updateDeckConfigs

[2022-08-16 20:59] #12024 closed

[2022-08-16 21:21] BrayanDSO commented on #12039
Oh boy, I love getting things from free. My head hurts every time I have to open `DeckOptions.kt`, so getting this no-charge will have an extra flavor. If/when filtered deck options gets a HTML screen too, the world will become a more beautiful place.

https://user-images.githubusercontent.com/69634269/184986361-bc4c8dae-1352-448b-85e3-edc4215115ec.mp4

It doesn't seem very optimized for mobile th

[2022-08-16 21:33] dae commented on #12039
What specifically are you referring to? The thing in the far right of the center of the screen looks odd and doesn't appear on other platforms, and the dropdown boxes are showing up with very large text on Android. The screen also usually has a grey background, but I guess you've overriden the styling?

[2022-08-16 22:02] BrayanDSO commented on #12039
exactly this. Good to know that it's a Android/my implementation issue

yes, but just colors

---

The odd right margin apparently is because of the undo icon which I haven't seen before

![image](https://user-images.githubusercontent.com/69634269/184992559-098b1ebd-982d-4056-8ae6-b393e78fe6e7.png)

I can tell that the big text on the dropdowns are an Android thing because it follows the theme col

[2022-08-16 23:08] BrayanDSO opened #12045 "Can't preview the card answer or more than one cards if "Answer Button Position" is set to "None""
###### Reproduction Steps

1. Go to Settings > Appearance > Answer Button Position (or search it)
2. Set it to "None"
3. Select some cards on the card browser
4. Tap the three dot menu, then "Preview"

https://user-images.githubusercontent.com/69634269/185000253-64028844-40dc-40b0-8fc2-f2626983a1c1.mp4

###### Expected Result

Be able to show the card answer or see the other selected cards

######

[2022-08-17 01:24] doozan commented on #11638
Can confirm this is still an issue with 2.16alpha78. I posted the debug info earlier so I think someone with permissions can remove the waiting for feedback label unless there's any more info I should provide.

[2022-08-17 03:58] pavreh opened #12049 "[Bug] Change note type crash with v16 schema"
###### Reproduction Steps
1. Use v16 backend, v3 scheduler
2. Add a note (e.g. basic type)
3. Card browser
4. Edit the note
5. Change the note type, e.g. Basic and reversed card

###### Expected Result
The note type is changed

###### Actual Result
Crash. A crash report sent

###### Debug info
AnkiDroid Version = 2.16alpha78

Android Version = 12

Manufacturer = samsung

Model = SM-A225F

Hardware

[2022-08-17 03:59] dae commented on #12049
Just pushed a fix for this :-)

[2022-08-17 04:56] pavreh opened #12051 "[Bug] Card modified date with v16 schema"
###### Reproduction Steps
1. Use v16 backend, v3 scheduler
2. Have a note with basic and reversed cards
3. Review one of the cards

###### Expected Result
Card modified date is updated for the reviewed card only

###### Actual Result
Card modified date is updated for all cards of the note
![Screenshot_20220817-053849_AnkiDroidA.png](https://user-images.githubusercontent.com/10192661/185037533-2a2d

[2022-08-17 04:59] dae commented on #12051
Do you have burying enabled? If the sibling was buried, that will mark it modified.

[2022-08-17 05:16] pavreh commented on #12051
Oh I see. Yes, I have burying enabled. When I switch burying off reviewed card only is modified. The sibling stay unmodified. I am sorry.

[2022-08-17 05:16] #12051 closed

[2022-08-17 05:20] dae commented on #12051
No problem! Thanks again for all the reports.

[2022-08-17 06:23] pavreh commented on #11928
Not reproducible with v16 schema, v2 and v3 scheduler

[2022-08-17 07:20] wlky opened #12052 "[Bug] Wrong review count for decks with subdecks queried through API"
###### Reproduction Steps

1. Have decks with subdecks in AnkiDroid (subdecks must have cards to be reviewed, green numbers)
2. Query decks through API from another app
3. Output deck counts

###### Expected Result

Decks should show only their own card numbers and not include subdeck card numbers for all counts. So when querying the expected result would be:
[code]

###### Actual Result

The deck

[2022-08-17 07:38] dae commented on #12052
What version are you testing with? If this only started on recent alphas, I suspect I caused this. The backend code no longer provides a routine to get the counts for individual decks, so the old approach will not work for users who switch to the v3 scheduler. What's your use case? Are you tallying the counts yourself?

[2022-08-17 08:03] dae commented on #12052
Ok, pretty sure this behavior changed before I touched the code :-) If you want a total count, you should be able to just tally the top-level decks instead.

[2022-08-17 08:09] wlky commented on #12052
Maybe it has always been this way, I don't think I've tested it with subdecks when I first programmed it in 2017.
Right now I'm tallying the deck and all of its subdecks to get the top-level deck stats. That works fine for learn and new card counts, but as you can see the review card counts are duplicated because the parent deck also reports the sum of the child decks as its own review card count.

[2022-08-17 08:20] dae commented on #12052
Pretty sure things are consistent in https://faqs.ankiweb.net/the-2021-scheduler.html, which AnkiDroid currently only supports behind a feature flag.

[2022-08-17 08:25] PinkRay7 opened #12053 "Pop-up menu is skipped after clicking back on the confrimation dialog"
###### Reproduction Steps

1. Click the menu on the home page.
2. Click "Manage note types".
3. Choose one note type.
4. Click "front" and see a menu pops up.
5. Click "Delete field".
6. Go back.

###### Expected Result
After step 5, a confirmation dialog will pop up. After clicking back on the dialog, the app should go back to the menu showed up in step 4.

###### Actual Result
After clicking bac

[2022-08-17 11:12] pavreh opened #12054 "[Bug] Undo Delete crash with v16 schema"
###### Reproduction Steps
1. Use v3 scheduler
2. Bury a note
3. Delete a note
4. Back to Deck picker
5. Tap the three dots menu - Undo Delete note
![Screenshot_20220819-140341_AnkiDroidA.png](https://user-images.githubusercontent.com/10192661/185614740-983e94e7-1138-4c9d-a19c-a775964c2a06.png)
###### Expected Result
1. The note deletion is undone and a toast/snackbar appears.
2. Undo Bury is possi

[2022-08-17 15:15] pavreh opened #12057 "[Bug] Save search crash"
###### Reproduction Steps
1. Open Card browser
2. Search something
3. Tap the three dots - tap Save search

###### Expected Result
The search can be saved

###### Actual Result
Crash

###### Debug info
AnkiDroid Version = 2.16alpha78

Android Version = 12

Manufacturer = samsung

Model = SM-A225F

Hardware = mt6769t

Webview User Agent = Mozilla/5.0 (Linux; Android 12; SM-A225F Build/SP1A.210812.0

[2022-08-17 15:43] lukstbit commented on #12057
Thank you for all the reported bugs!

[2022-08-17 16:05] dawmd commented on #12034
I can't check the decks now, but I've noticed the same issue when using the app for a relatively longer time (I think 10+ minutes). Anki suddenly starts consuming so much RAM that restarting it seems to be the only solution. From what it looks like the deck I use has been removed from the website and I'm not sure if I can share it. What might be relevant, though, is the font doesn't seem to be cus

[2022-08-18 04:15] #10423 closed

[2022-08-18 18:41] #12049 closed

[2022-08-18 19:40] BrayanDSO opened #12079 "[Bug] Imported files aren't cleared from crash after import"
###### Reproduction Steps

1. Import a APKG or COLPKG file (best with bigger file or many of them)

###### Expected Result

The cached files should be cleared after the import

###### Actual Result

See the cache size increasing on the app configuration and never going back

###### Debug info
2.16alpha78

###### Research
*Enter an [x] character to confirm the points below:*

- [X] I have read the

[2022-08-18 20:10] BrayanDSO opened #12080 "Remove method name from translatable string"
Currently, there is a translatable string with a method name on it which should be removed
https://github.com/ankidroid/Anki-Android/blob/8aa45daf163e37b4cd0325a65dcc7cb676e011e1/AnkiDroid/src/main/res/values/02-strings.xml#L170

[2022-08-18 20:51] #12057 closed

[2022-08-18 21:48] #11754 closed

[2022-08-18 22:58] santiyounger commented on #10961
great got it! thanks a lot!

[2022-08-18 23:38] #10684 closed

[2022-08-19 00:20] mikehardy commented on #12079
I thought - really vague memory - that as part of the in-app shared deck download this was handled. This is more a note to self to come back and look at this but if someone else has time, I *think* @ShridharGoel implemented shared deck downloads in app, and I *think* it deletes from cache after import, but I'm not sure if that's still in the PR queue and I'm not sure if that deletion-after-import

[2022-08-19 01:56] mikehardy commented on #10773
I think at the end this boiled down to just the icon left as an open question

I apologize this has sat as long as it has- unfortunately we (maintainers) let the issue of whether to change the icon or not sit without really being clear.

Thinking about it now, I must admit I also prefer the current icon that is the same general card shape as the deck one

[2022-08-19 01:56] #10773 closed

[2022-08-19 03:31] TacoTheDank commented on #10791
Bumping thread for github-actions bot.

[2022-08-19 03:34] mikehardy commented on #10791
Yes - hoping to get to this soon, just did my first full queue PR scan today and got all the easy stuff through. Time to roll up sleeves and get to work on the bigger things like this one

[2022-08-19 05:29] aghanki opened #12084 "[Bug] play media gesture doesn't work after showing the cards"
### Reproduction Steps

1. I add a gesture to use "play media".
2.I go to my decks with media in front of the cards. I use the button for showing the answers.
 3. After showing answers, When I use the gesture to play media , nothing happens.

 ( The media i am trying to play is on the front of the card when I am on the back of the card)

###### Expected Result

I expect that when I use the defined

[2022-08-19 05:37] ShridharGoel commented on #12079
This was the PR for in-app downloaded decks: https://github.com/ankidroid/Anki-Android/pull/10770
But I think this issue mentions a general deck import situation.

[2022-08-19 05:41] pratyaksh1610 commented on #12080
@BrayanDSO Please assign this issue to me.
Thanks.

[2022-08-19 12:24] BrayanDSO opened #12101 "[Bug] Crash if a deck is opened"
###### Reproduction Steps

1. Be on main [8cfc39b](https://github.com/ankidroid/Anki-Android/commit/8cfc39b8507d52dd80d31a28ace8f17c683f8ead)
2. Open a deck

###### Expected Result

Suffer reviewing your daily cards

###### Actual Result

Suffer with a crash

###### Debug info
[code]

###### Research
*Enter an [x] character to confirm the points below:*

- [X] I have read the [support page](https:

[2022-08-19 12:54] BrayanDSO commented on #12101
Can't reproduce it anymore, although I was sure I was building on main

[2022-08-19 12:54] #12101 closed

[2022-08-19 15:23] 0x7FFFFFFFFFFFFFFF opened #12104 "Are the operations "review", "study", "preview" the same and just for different cards?"
**Is your feature request related to a problem? Please describe.**
1. Long press a deck and click "Custom study"
2. A list of menu items appear, which includes:
  - Review forgotten cards
  - Study a random selection of cards
  - Preview new cards

Are the operations "review", "study", "preview" the same and just for different cards? If so, it's better to use the same verb.

[2022-08-19 15:41] #10101 closed

[2022-08-19 16:52] sparkyniner commented on #11451
What is your discord?

[2022-08-19 17:37] Arthur-Milchior commented on #11451
https://discord.gg/qjzcRTx
You can find it from the app too

[2022-08-20 00:54] #11588 closed

[2022-08-20 01:08] mikehardy commented on #12084
Hi @aghanki :wave: - thanks for logging this, I was the person responding to your review on the Play Store, and I appreciate that you took the time to write this up, also (note for maintainers!) that you took the time to try 2.16alpha78 (I think? could have been 79, regardless, it's current code) so we know this issue still exists

Hopefully we can figure it out, either way, we're tracking it now

[2022-08-20 06:32] #10909 closed

[2022-08-20 06:32] #12020 closed

[2022-08-20 08:40] #10785 closed

[2022-08-20 08:40] #10725 closed

[2022-08-20 10:26] rishav0511 commented on #11965
@Arthur-Milchior  I would love to work on this, please assign me this.

[2022-08-20 13:40] #11621 closed

[2022-08-20 14:28] #11885 closed

[2022-08-20 14:35] mikehardy commented on #11091
Along with @oakkitten a discovery of "OutOfMemory" death spirals on the emulator has been discovered, they are visible in the tail end (maybe 100 or 200 lines remaining) of the adb logs from emulator crashes. It is intermittent though, not every time, which hints at something racy happening.

I found this: https://support.circleci.com/hc/en-us/articles/360021812453-Common-Android-memory-issues#zyg

[2022-08-20 15:55] aghanki commented on #12084
Thanks! I have already checked the issue with 2.16alpha79 version .
Thank you!

[2022-08-20 21:34] #9688 closed

[2022-08-21 03:46] david-allison opened #12122 "discuss: policy on braces on if statements in Kotlin"
https://github.com/ankidroid/Anki-Android/blob/ce97db8ddedc8ea8082ddef06d639b88e72993ab/AnkiDroid/src/main/java/com/ichi2/anki/Sync.kt#L136

----

@david-allison what's the policy on braces on if statements in Kotlin? The linter doesn't seem to be flagging the lack of them.

https://github.com/ankidroid/Anki-Android/commit/e2e07068ccb46f2e520fb4a31455d9756474bfaf

(personally, I prefer them)

_Ori

[2022-08-21 04:03] david-allison commented on #12122
The Kotlin migration often automatically introduced guard clauses without brackets, and I personally like these.

https://github.com/ankidroid/Anki-Android/blob/d38434ce703f49b50f93ab1f084a5eb594461192/AnkiDroid/src/main/java/com/ichi2/anki/reviewer/AutomaticAnswer.kt#L135-L141

In this case I, agree and would prefer NOT to have unbracketed `if` statements as shown here, but this does not match th

[2022-08-21 04:04] david-allison commented on #12122
Despite my personal preference, I'd prefer to be consistent with the [Android Style Guide](https://developer.android.com/kotlin/style-guide#braces), which ktlint already follows.

[2022-08-21 04:13] SaranshBaniyal commented on #11451
@sparkyniner AstroITNinja#3803

[2022-08-21 04:14] david-allison opened #12123 "AnkiActivity.finishActivityWithFade: change transition from UP -> FADE"
_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/12115#discussion_r950783644_

[2022-08-21 04:15] SaranshBaniyal commented on #11451
@Arthur-Milchior I have cloned the files, so should I start looking for " in all the Kotlin files of the codebase from start till end?

[2022-08-21 10:32] oyeraghib commented on #11365
This issue has been fixed in #11752

[2022-08-21 10:32] #11365 closed

[2022-08-21 17:25] twwn opened #12128 "[Bug] Cannot sync collection freshing downloaded (& checked) from AnkiWeb"
###### Reproduction Steps

1. Do some incompatible note type changes on Anki Desktop (git)
2. AnkiDroid (2.16a79) now demands a full sync
3. Pick AnkiWeb's state (download starts at ~243000 KB, for whatever reason)
4. Try sync again, AnkiDroid demands DB check
5. Do so (10 MB saved)
6. Try sync again, AnkiDroid again claims the states are incompatible

###### Expected Result

Sync

###### Actual R

[2022-08-21 17:39] twwn commented on #12128
Alright, indirect fix:

* Call database check on Anki Desktop: "Deleted 2 cards with missing note." [Without telling me or writing in the relevant log which 2 I just lost. Neat.]
* Full sync that to AnkiWeb
* Download that to AnkiDroid – which now no longer wants a DB check & everything is fine again.

So seems there's a major & minor bug respectively:
* The "missing note" check is missing or bugg

[2022-08-21 18:21] criticalAY commented on #12123
hey, I have committed the transition change from UP to FADE in the AnkiActivity  in  #12129

[2022-08-21 19:04] Arthur-Milchior commented on #11451
@SaranshBaniyal the comment is valid for you too. If you have question about how to proceed, I strongly suggest you to come on our discord. Because this way you can find people to answer your question very quickly instead of having to wait half a day or more that someone looking at this particular PR see you.

And no, I would not ask anyone to look at codebase from start till end. That would be an

[2022-08-21 19:14] n1snt commented on #11917
I had a look at this and I think this is caused due to the [kotlin migration of Utils](https://github.com/ankidroid/Anki-Android/pull/11372).
The kotlin migration changed the Utils `class` to an `internal object` which makes it not accessible outside the package.
If I change it from `internal object` to `object` it is compiling tests.

[2022-08-21 19:19] Arthur-Milchior commented on #11917
Can you please add more details? Where does it appear? In a specific class? how did you get them?
Because I just tried to run the 8 API tests (clearly not enough admittedly) and they compiled and run succesfully

[2022-08-21 19:22] n1snt commented on #11917
The tests seem to be running fine for me too but the IDE is showing them as errors:
![image](https://user-images.githubusercontent.com/46300244/185807464-e98a8faf-4a11-4f33-a100-f3c01ebde426.png)

[2022-08-21 19:26] n1snt commented on #11917
It is due to the Utils object being internal.
It would be more appropriate to change Utils object to private.
_Source: https://kotlinlang.org/docs/visibility-modifiers.html#modules_

[2022-08-21 19:43] Arthur-Milchior commented on #11917
I believe this issue should have been closed. My bad, I didn't note my PR fixes it.
Would you accept to put it in a separate issue? You're issue is relevant but it will be ignored if it remains here.

I don't think it should be private. If it were, nobody would be able to use it I think. Instead we need to figure out what to do here. I don't even understand why those Utils methods are in the API s

[2022-08-21 19:47] n1snt commented on #11917
Yeah right removing Utils & replacing any of their use makes sense.
Would create a different issue for this 👍.

[2022-08-21 19:58] n1snt opened #12130 "[Bug] IDE showing errors in API project"
###### Reproduction Steps

1.  Open ApiUtilsTest

###### Expected Result

It should now show any errors.

###### Actual Result

It is showing these errors:
![image](https://user-images.githubusercontent.com/46300244/185808624-70cdf329-e370-40bf-afa5-c4e0879e3bb2.png)

###### Research

As suggested by @Arthur-Milchior [here](https://github.com/ankidroid/Anki-Android/issues/11917#issuecomment-122160

[2022-08-21 20:46] mikehardy commented on #12128
Interesting :thinking: can I ask if you have enabled the "new backend schema" in the settings -> advanced section?

I ask because we have actually just completely replaced the sync and the database check with the exact same routines that Desktop uses (literally packaging the same Desktop code into a library and we use it in AnkiDroid now) but only if you've selected that brand new "new backend sch

[2022-08-21 20:58] #11917 closed

[2022-08-22 02:11] louwheesy commented on #12023
I'm not sure that it's a functional feature. I've added 5 test cards to a deck and marked each one as "good" each time to see what would happen. They each have 1 week intervals at this point and still all show up together.

[2022-08-22 04:33] feuGeneA opened #12131 "Night mode should follow device's status"
My Android natively supports night mode via a top-level button, along side wifi, flashlight, location, etc. I've noticed that other apps have an option to "automatically enable/disable night mode according to the device setting". AnkiDroid should do the same.

I'm often enabling it disabling night mode on my device, and then using Anki Droid, and needing to manually enable or disable night mode sp

[2022-08-22 06:38] SaranshBaniyal commented on #11451
@Arthur-Milchior thanks for all the help, I have joined the discord server. Looking forward to a great learning experience with you all.

[2022-08-22 07:51] twwn commented on #12128
I see. No, it's not enabled yet. Then I guess if this also covers the minor download issue, this can be closed.

[2022-08-22 08:25] pavreh commented on #12131
Hi, AnkiDroid 2.16alpha switches night mode automatically according to the device setting. You can try the latest alpha here [https://github.com/ankidroid/Anki-Android/releases](https://github.com/ankidroid/Anki-Android/releases)

[2022-08-22 12:51] mikehardy commented on #12131
Yep - we've implemented this, it was a highly requested feature

[2022-08-22 12:51] #12131 closed

[2022-08-22 13:03] mikehardy commented on #12128
I *think* it will cover those cases, so I will close this. Although with adoption of any new system (and even though the code is in use / deployed already for all Anki Desktop users it will be new to us) we may discover new issues with the new system. If you notice anything with the final release of 2.16 (or if happen to update to an alpha where we turn the new stuff on by default) please do let u

[2022-08-22 13:03] #12128 closed

[2022-08-22 15:07] snowtimeglass commented on #11677
@pavreh I agree with this idea, at least as a solution for the time being. `Timebox time limit` and `New timezone handling` also seem to be too difficult for new users to understand.

As @dorrin-sot (#11674) and @bnknndy (#11724) suggested in their respective contexts, it may be desirable to add a small "?" or "i" button which pops up a short summary explanation next to the title in the future.

!

[2022-08-22 17:31] criticalAY commented on #12084
is this issue fixed?
I tried to reproduce the issue but it was working i guess.

[2022-08-22 17:35] aghanki commented on #12084
The issue is ongoing.
It is reported a few days ago.

[2022-08-23 00:35] david-allison commented on #12123
Fixed by https://github.com/ankidroid/Anki-Android/pull/12129

[2022-08-23 00:35] #12123 closed

[2022-08-23 14:31] david-allison commented on #12122
+6 on my previous comment. Closing this as I consider that to be consensus, but still open to other opinions

[2022-08-23 14:31] #12122 closed

[2022-08-23 14:39] #12080 closed

[2022-08-23 16:00] snowtimeglass commented on #12084
Hi @aghanki I have also read your review on Play Store.

I suspect that `Replay audio` feature itself doesn't play media on front of the card after answers are shown on the decks which you are using.

If `Deck options` on the review screen of the card -> `General` -> `Replay question` has been unchecked, `Replay audio` just plays media on back of the cards after answers are shown, and consequently

[2022-08-23 16:12] aghanki commented on #12084
Hello! That's great! I confirm that it worked.
Awesome!
I guess it wasn't a bug at all at first.
Thanks!

[2022-08-23 16:25] snowtimeglass commented on #12084
That's good to hear! My pleasure!

[2022-08-23 18:19] mikehardy commented on #12084
Great collaboration figuring that out, thanks all!

[2022-08-23 18:19] #12084 closed

[2022-08-23 18:42] mikehardy commented on #10411
Hey everyone that sees this! V3 Scheduler is ready for testing, and we have made it available for regular users.

Please make sure you have a backup first just in case!

Here's what to do:

1. Backup: copy `/sdcard/AnkiDroid/collection.anki2` somewhere safe. I use [the file manager X-Plore](https://play.google.com/store/apps/details?id=com.lonelycatgames.Xplore) for this personally, but any file m

[2022-08-23 21:09] #12040 closed

[2022-08-23 21:10] david-allison opened #12138 "backendUndoAndShowPopup() snackbar should not show on top of answer buttons"
When using new schema, backendUndoAndShowPopup() snackbar needs to be changed so it does not show on top of the answer buttons

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/pull/12093#discussion_r950641591_

[2022-08-23 22:45] BrayanDSO opened #12140 "Fix ProgressDialog deprecation"
There isn't a Material Progress Dialog. Perhaps for the same reason they deprecated progress dialog on Android O.

(https://developer.android.com/reference/android/app/ProgressDialog)

We use ProgressDialog on other places of the code and would be nice to have an issue to discuss what to do on each case

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/pull/12137#discu

[2022-08-23 22:46] BrayanDSO commented on #12140
I think we're going to need a general purpose progress notification (media sync...) as a task, but some things will still need interaction-blocking progress like database check and media check. those would go into UI I guess, an updating screen that is sort of like what the dialog is now if you flattened the dialog into the screen itself, so those would become fragments or something I guess?

Mayb

[2022-08-23 22:52] BrayanDSO commented on #12140
+1 for progress notification on media sync (my most wanted feature after the new backend and probably the first thing I'll do after GSoC if nobody beats me first)

[2022-08-24 02:36] escape0707 commented on #12054
I'm having a similar crashing bug on 2.16a9.

When reviewing, I sometimes want to edit a note. After editing, when I choose to answer "good" for this card, it sometimes crashes. I don't know if it crashes only on the second time seeing this card, tho.

[2022-08-24 04:23] pavreh commented on #12054
@escape0707 I can confirm your crash and I sent a crash report too. The app crases when a back field is edited but not every time. Please create a new issue.

[2022-08-24 04:27] pavreh opened #12143 "[Bug] Open Card browser crash"
###### Reproduction Steps
1. Open Card browser

###### Expected Result
Card browser is opened

###### Actual Result
Crash

###### Debug info
AnkiDroid Version = 2.16alpha80

Android Version = 12

Manufacturer = samsung

Model = SM-A225F

Hardware = mt6769t

Webview User Agent = Mozilla/5.0 (Linux; Android 12; SM-A225F Build/SP1A.210812.016; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Ch

[2022-08-24 06:08] david-allison commented on #12143
New ACRA is problematic to say the least. I can't find the report. Could be one of:

* Edit note when reviewing - https://ankidroid.org/acra/app/1/bug/11499/report/55115210-9e36-431f-9e42-7a9a78b79235
* open deck reviewer - https://ankidroid.org/acra/app/1/bug/11498/report/bcf2b032-708c-4275-ac42-3cd8cd4d414c
* Edit note, answer - https://ankidroid.org/acra/app/1/bug/11496/report/0e027968-32e8-425

[2022-08-24 10:16] dae opened #12155 "v3 scheduler sometimes crashes after editing"
I'm having a similar crashing bug on 2.16a80 with V3 scheduler.

When reviewing, I sometimes want to edit a note. After an edition triggered from reviewing the back card (start editing from the front card doesn't seem to trigger this problem), if I choose to answer "good" for this card, it seems to crashes. I don't know how to extract and review the crash log but they got uploaded.

AnkiDroid Vers

[2022-08-24 10:17] dae commented on #12054
Split into #12155

[2022-08-24 11:00] sparkyniner commented on #11449
Can I work on this?

[2022-08-24 11:40] Waterfall2022 opened #12156 "[Bug] Samsung S21 Crash - storage permissions"
###### Reproduction Steps

1. Open fresh install of app
2. Prompted to enable permissions
3. As soon as permission given to phone storage phone crashed.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points belo

[2022-08-24 12:19] pavreh commented on #12143
I sent a new crash report called "Open Card browser crash"

Then I backed up the collection.anki2 file and deleted app data and AnkiDroid folder.
Now, I am not able to crash the AnkiDroid again even I use the affected collection.anki2 file...

[2022-08-24 12:25] dae commented on #12143
Report at https://ankidroid.org/acra/app/1/bug/11543/report/6327fbb0-d3aa-4c46-8384-f4739dfdbe1f

[code]

Could it be connected to https://github.com/ankidroid/Anki-Android/commit/c762f1af254e4f1bea1c207a157d5a24c62170ac?

[2022-08-24 13:31] pavreh commented on #12143
Somehow connected with upgrade. I upgraded my second instalation AnkiDroid.B and I cannot open the card browser again.

[2022-08-24 14:37] #11412 closed

[2022-08-24 14:39] mikehardy commented on #12143
New acrarium was irritating @david-allison but now is great, after acrarium maintainer graciously implemented my request for a installation UUID filter

1. Open ACRA https://ankidroid.org/acra
2. Login
3. Tap ankidroid to open the app
4. Tap "installations" so you can filter by ACRA UUID
5. Tap filter icon over on right
6. paste in UUID
7. View report

[2022-08-24 14:50] mikehardy commented on #12143
@Arthur-Milchior this is likely from your PR #11956 ?
I cannot reproduce it though, I just attempted to open current main on an emulator with my normal test collection and it worked

What columns are you displaying in the card browser? I'm using boring Question / Answer 2-column layout. All the other values for the second column seem to work as well.

I think we're going to need a collection that

[2022-08-24 15:16] mikehardy commented on #11449
@sparkyniner please note this in the description:

---

If it's not too hard, I appreciate if you can do one change by pull request; unless multiple changes are very strongly related. This way, those PR can be merged very quickly; and if there is an issue, I don't have to delay all other changes.

**You don't have to ask permission to work on this**. Just look at the answer below to see links to P

[2022-08-24 15:20] mikehardy commented on #12156
Could you provide this?

Then we could attempt to find it in our crash database, we really need the stack trace in order to understand this

[2022-08-24 15:33] oyeraghib opened #12158 "[Bug] Floating action buttons have different margins"
**Is your feature request related to a problem? Please describe.**
There are two floating action buttons. One is when you are on `Decks` screen and the other one is when you are on `Card Browser` screen.
The issue is when you try to quickly move from deck screen to card browser screen and vice versa it looks a little weird because of the different positions of floating action button.

**Describe t

[2022-08-24 16:01] BrayanDSO commented on #12156
If this is constant, and the app crashes immediately after opening it, they can't go to the "Copy debug info" button.

[2022-08-24 16:04] pavreh commented on #12143
What columns are you displaying... It was the right question. Question/Answer works.  Question/Deck does not work. Switch to Question/Deck, tap back to go to Deck picker, open Card browser = crash. Display order is "By sort field".

These columns does not work:
Question/Deck
Question/Note
Question/Question
Question/Tags
Question/Lapses
Question/Reviews
...
Qustion/Note modified

[2022-08-24 16:22] Waterfall2022 commented on #12156
I've submitted the crash report upon startup.

I inputted the comment "yellowstone" on 1222 EST

On Wed, Aug 24, 2022, 12:01 PM Brayan Oliveira ***@***.***>
wrote:

[2022-08-24 17:59] mikehardy commented on #12156
Sadly, I don't see a report that looks like a match at all when I check our crash collection server for Samsung Galaxy S21+ devices. Can you make sure you are trying the most up to date alpha from here: https://github.com/ankidroid/Anki-Android/releases and can you confirm any other details about the device (it appears some are on Android 11, some are on Android 12? Maybe if we knew the device lan

[2022-08-24 18:12] mikehardy commented on #12143
Got it! @pavreh --> :trophy:

 Reproduction:
1- go to card browser
2- change second column to deck (others may do it), it will appear to work
3- go to deck list
4- go back to card browser
:boom:

[code]

I tested a revert of just that commit and it worked, I was no longer able to reproduce

#12162 is the PR for the revert then, and I'll release a new alpha as soon as it passes CI and gets a review

[2022-08-24 18:25] #12158 closed

[2022-08-24 18:55] #12143 closed

[2022-08-24 19:11] Waterfall2022 commented on #12156
Just did it with the latest version.
Android 12. Timezone EST?

Thanks again for your help!!

On Wed, Aug 24, 2022, 2:00 PM Mike Hardy ***@***.***> wrote:

[2022-08-24 19:40] mikehardy commented on #12156
With apologies, I simply cannot find it. Without that stack trace I'm not sure how to move forward on this one :disappointed:

![image](https://user-images.githubusercontent.com/782704/186508305-6e1414be-41d4-468a-a3e1-1bbae5534335.png)

[2022-08-24 19:44] BrayanDSO commented on #12156
Hmmm, I think that adding a "Copy debug info" to that "Send error report"/"Asking permission to send report" dialog may help for similar issues (instant crash) in the future.

[2022-08-24 19:46] mikehardy commented on #12156
Perhaps yes, however at this point I think it's a bigger deal - the report isn't going out *at all*. Your suggestion would be an improvement for startup crashes in general though

[2022-08-25 00:30] Waterfall2022 commented on #12156
Maybe one of those is mine 👀😬

Anything I can do on my end to generate a local crash report that I can
copy and paste to yall?

I tried much older releases too but they dont work either.

I really do appreciate the help and the prompt responses!

In the meantime I've figured out to use anki web. It's not ideal but itll
do!

On Wed, Aug 24, 2022, 3:46 PM Mike Hardy ***@***.***> wrote:

[2022-08-25 01:06] mikehardy commented on #12156
All I can think of is that if you remove storage permission via the system preferences / apps panel, then when AnkiDroid starts up maybe it won't crash immediately, and that will let it live long enough for the crashes to be sent? I'm just grasping at straws though unfortunately. I really don't know what else to think of. If your collection is in sync via AnkiWeb and you can use it that is great.

[2022-08-25 01:10] Waterfall2022 commented on #12156
Disabled it but when I relaunch the app it prompts me to enable permission.
If I try to continue phone permission manager setting pop-ups to enable
permissions. So im stuck :3

On Wed, Aug 24, 2022, 9:07 PM Mike Hardy ***@***.***> wrote:

[2022-08-25 10:04] #11139 closed

[2022-08-25 12:03] pavreh opened #12167 "[Bug] Card info - Manual type is not defined"
###### Reproduction Steps
There are at least four types in Card info. Learn, Review, Filterd and Manual. Manual type is not defined.

###### Expected Result
![Snímek obrazovky 2022-08-25 135259.png](https://user-images.githubusercontent.com/10192661/186658588-c871366f-d887-4064-b41b-9c25615b1c50.png)

###### Actual Result
![Screenshot_20220825-135026_AnkiDroidA.png](https://user-images.githubuserc

[2022-08-25 13:05] sparkyniner commented on #12138
Hello, can I work on this?

[2022-08-25 13:22] sparkyniner commented on #12029
Can I add a feature that boosts volume @david-allison ?

[2022-08-25 14:08] #12054 closed

[2022-08-25 14:08] #12155 closed

[2022-08-25 14:40] BrayanDSO commented on #12167
I think we will get this one with the new backend's Card info screen. It hasn't been implemented yet though.

I should push it soon after #12105 is merged, as I've already implemented it locally.

[2022-08-25 15:02] mikehardy commented on #12167
Agreed - this is a change from v3 scheduler I'm sure, and we could update our code here or just use new backend + get the fancy new backend screen in. Going with "the future" is the right state. @BrayanDSO I'm dying to hit the merge button on that PR, I think it's ready to go, but since it is a huge GSoC one it seems like a person actually doing the mentor work should do it, that's the only hold u

[2022-08-25 15:05] mikehardy commented on #12138
Sure! This may be a little involved on the setup since you will be on the leading edge of our conversion to the new backend. In order to see it I think you'll have to toggle on the new backend in settings -> advanced then try some undos in the reviewer, and then it should be visible?

[2022-08-25 15:10] mikehardy commented on #12029
I am just now seeing this - I have to admit I do not want to add this feature. We need to be careful not to become a full-fledged audio player app (in the same way we are not a full-fledged image editor, though we do allow crop that's it, and it's from an underlying library)

In this case if the source audio has volume that's too low, that indicates the sound recording setup is not adequate and th

[2022-08-25 15:10] #12029 closed

[2022-08-25 15:28] #6772 closed

[2022-08-25 18:40] david-allison commented on #12167
My intention is for this screen to be removed. We should get it for free with the new backend

[2022-08-25 18:49] #12167 closed

[2022-08-25 19:09] mikehardy commented on #12167
It'll launch in the next alpha :-), glorious

[2022-08-25 21:57] escape0707 commented on #12155
This seems to be fixed in latest alpha build. But I sometimes still got crashes after flagging / unflagging and answering.

[2022-08-25 22:21] mikehardy commented on #12155
Hey @escape0707 :wave: - thank you for testing this! If you could open a new issue + make sure you are reporting crashes + and include your ACRA UUID in the debug info (there are some instructions on the new issue template to get it) we can probably dig up the crash stacktrace and analyze what's happening

[2022-08-25 22:23] escape0707 commented on #12155
Okay, will do that after getting my hands on a PC.

[2022-08-25 23:32] escape0707 commented on #12156
I was always wondering if there is a local copy of crash report so that users can review them, too? Like before submitting or after?

[2022-08-25 23:37] escape0707 opened #12179 "[Bug] crashes with new backend - v3 scheduler - during review"
###### Reproduction Steps

I sometimes get crashes during reviewing. After flagging / unflagging and then answering the card, the app crashes. I don't know how to stably reproduce, though.

###### Expected Result

No crash when reviewing and flagging / unflagging.

###### Actual Result

Crashes.

###### Debug info

AnkiDroid Version = 2.16alpha81

Android Version = 13

Manufacturer = Google

Model

[2022-08-26 00:18] mikehardy commented on #12156
Indeed there is! But it's hard to get to.

Android is Unix, which means "everything is a file", so the whole phone is just one big filesystem with a bunch of files. Just to start conceptually.

There are permissions though, so some stuff you can't see, and it's hard to access the files sometimes if you don't have a good app for it (I use X-Plore) or you don't have "android debugging bridge" (adb)

[2022-08-26 00:24] mikehardy commented on #12179
Thanks!

https://ankidroid.org/acra/app/1/installation/9c32ddea-ccc7-42cb-9016-62a03202d3d3/report
https://ankidroid.org/acra/app/1/bug/11739/report/23c8c8e9-25e0-4583-a447-ff56395aef41

Also, none of this is PII, that is specifically *not* our game, it's just the sequence of steps then the code stack. Hopefully this helps

@dae :thinking: ?

[code]

[code]

[2022-08-26 00:31] escape0707 commented on #12156
Oh, I see that I can't view them even with adb.

Maybe this could be improved once we move to new scoped storage scheme? Like put the crash log into external app-specific storage?

[code]

[2022-08-26 00:33] Waterfall2022 commented on #12156
Hey jw.... how did you guys started in this field. I think it's really cool
that you guys built and support a useful product.

On Thu, Aug 25, 2022, 8:32 PM Escape0707 ***@***.***> wrote:

[2022-08-26 01:25] mikehardy opened #12181 "Store unsent ACRA reports in user-visible app-specific storage post-storage-migration"
Oh, I see that I can't view them even with adb.

Maybe this could be improved once we move to the new scoped storage scheme? Like putting the crash log into [external app-specific storage](https://developer.android.com/training/data-storage/app-specific#external-access-files)?

[code]

_Originally posted by @escape0707 in https://github.com/ankidroid/Anki-Android/issues/12156#issuecomment-12278853

[2022-08-26 03:26] snowtimeglass commented on #11669
I agree. Incidentally, Anki Desktop can undo deck deletion immediately after the action.

![image](https://user-images.githubusercontent.com/10436072/186810354-dc168f8b-1a46-489c-b443-19f8197493ce.png)

[2022-08-26 04:54] pavreh commented on #11982
The bug is caused not only by the widget but by the back button too. Please try these steps without the widget.

1 have day mode in the mobile
2 in Ankidroid, settings - appearance - theme - follow system
3 tap back to close Ankidroid
4 switch night mode on in the mobile
5 open Ankidroid

Night mode is not switched. When I use the home button instead of the back button, night mode works.

AnkiDroi

[2022-08-26 04:56] javiercl2020 opened #12182 "Cannot open Ankidroid"
Whenever I open it I get this message
![Screenshot_20220825-235204](https://user-images.githubusercontent.com/73913963/186825103-6afc415b-1986-4602-b36f-8d026cb46a95.png)

[2022-08-26 05:49] snowtimeglass commented on #11675
Or/And showing tutorial alert dialogs after tapping the buttons as follows...?

[code]

[2022-08-26 07:35] sparkyniner commented on #12138
On it!

[2022-08-26 07:38] sparkyniner commented on #12138
Which option do I click in Advanced to toggle the new backend and what exactly do you mean by reviewer.

[2022-08-26 07:45] sparkyniner commented on #10510
I'll work on this and won't ghost you for sure ;) just some doubts: 1) Do you just want to change the name of some variables for consistency in the codebase? 2)So do I have to manually edit the variable names in each file? 3)If so which files are those and how do I know it's a profile media or backup directory?

[2022-08-26 12:29] mikehardy commented on #12182
Hi there! Really sorry this is happening.
Have you verified that AnkiDroid has storage access permissions (in System preferences list of apps, permissions are of the AnkiDroid app from it's info screen)
How did it go when you tried database check or backup?

[2022-08-26 12:34] mikehardy commented on #12138
My comment indicates the setting to toggle ("new backend", in settings -> advanced) and "reviewer" is the name for the Activity where you review cards and test your memory

In Android terms, you may discover these things yourself by looking in the manifest for something that has the same name

https://github.com/ankidroid/Anki-Android/blob/26ae93b87b90b0f9d4bfdf492d8481941de5e329/AnkiDroid/src/mai

[2022-08-26 13:03] david-allison opened #12185 "ktlint: enforce trailing commas"
keeping a trailing comma on here (TIL this [is allowed in Kotlin](https://kotlinlang.org/docs/coding-conventions.html#trailing-commas)) is great. I wouldn't mind a PR to enable this in ktlint if it were possible

cleaner diffs on multiple PRs that touch this at same time

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/pull/12033#discussion_r955942628_

[2022-08-26 16:23] krmanik commented on #12079
May be this is duplicate issue of https://github.com/ankidroid/Anki-Android/issues/10663

[2022-08-26 17:00] sparkyniner commented on #12138
Ahh okk, so as I understand it, the undo and show popup is showing over the answer button and we would like to change the position of the snackbar. So to solve this issue, I need to edit the file Reviewer.kt?

[2022-08-26 17:05] sparkyniner commented on #12138
And if the popup should not show on top of the answer button, should I make it show somewhere else or remove it completely?

[2022-08-26 18:08] mikehardy opened #12187 "Fix style on App Intro screen (gradient in lower APIs, unlock landscape + fix layout)"
Fix style on App Intro screen (gradient in lower APIs, unlock landscape + fix layout)

The new App Intro screen has a problem with layout where it does not look quite right on landscape. For this reason the Activity definition in AndroidManifest.xml has been locked to portrait. The layout should be more responsive and rotation unlocked

The new App Intro screen looks great on higher APIs (29+)
On

[2022-08-26 19:36] #10789 closed

[2022-08-26 19:59] mikehardy commented on #1377
So here's a question. Now that we have the anki desktop backend javascript coming through.... could the desktop note editor be used here :thinking: ?

[2022-08-26 21:26] BrayanDSO commented on #1377
This comment of Damien https://github.com/ankidroid/Anki-Android/issues/10751#issuecomment-1092544444 indicates so.

https://github.com/ankitects/anki/blob/main/qt/aqt/editor.py have a fair number of things to eval, so definetely won't be a breeze like the other screens

[2022-08-26 21:40] BrayanDSO commented on #12079
I believe that they are different. This one is for files imported with the `Import` option and aren't deleted from cache. #10633 is for shared decks and aren't deleted from the downloads directory.

[2022-08-27 04:34] mikehardy opened #12194 "androidTest failure on Android 13 / API33 because of notification permission prompt"
###### Reproduction Steps

1. make a new emulator and suffer through the download of the API33 image
2. fire up that emulator
3. `./gradlew jacocoAndroidTestReport`

###### Expected Result

Everything is awesome

###### Actual Result

You can see the notification prompt popup for the app as it starts on the emulator while the tests are running, and one of them fails

We probably need to implement

[2022-08-27 04:37] #10706 closed

[2022-08-27 11:32] BrayanDSO commented on #12138
Show it above the answer buttons, like showSnackbarAboveAnswerButtons() does (here's a [link](https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.kt#L1798) for it)

[2022-08-27 13:05] #11781 closed

[2022-08-27 14:44] sparkyniner commented on #12138
But for me the undone snackbar already shows above the answer button https://imgur.com/a/SN6Iuwj

[2022-08-27 15:07] BrayanDSO commented on #12138
You have to enable the new backend for this to happen. It's on "Settings > Advanced > Experimental > Use the new backend"

[2022-08-27 15:12] sparkyniner commented on #12138
I've enabled it, still the same

[2022-08-27 15:24] BrayanDSO commented on #12138
The new backend message is different, it should show `X undone` instead of `Undone "X"`. Can you confirm which one you get? In some cases, even with the new backend, it relies on the legacy undo

[2022-08-27 15:25] sparkyniner commented on #12138
I'm getting Undone "X" even with the new backend

[2022-08-27 15:26] sparkyniner commented on #12138
Also which file do I need to edit to solve this problem?

[2022-08-27 15:27] BrayanDSO commented on #12138
Try undoing a Bury or Suspend and you will get the message

[2022-08-27 15:30] sparkyniner commented on #12138
Sorry, what exactly is a bury or a suspend?

[2022-08-27 15:30] sparkyniner commented on #12138
nvm, got it

[2022-08-27 15:31] sparkyniner commented on #12138
Yup now it's showing the snackbar right on top of the answer button

[2022-08-27 15:31] sparkyniner commented on #12138
Which file do I need to edit to solve this?

[2022-08-27 15:46] mikehardy commented on #12138
I think a lot of the point of a first issue is to discover these answers yourself by following the debugging lines that are out in the code, searching the codebase etc. There's no other way to really get familiar with a codebase then to start exploring and learning where things are on your own

[2022-08-27 15:54] sparkyniner commented on #12138
You're right, I'll explore and figure it out

[2022-08-27 16:50] mikehardy commented on #11721
I think this has to be in Anki-Android-Backend now that I think about it. Building the backend is a really non-trivial endeavour and it's all set up there. The workflow should pull Anki-Android after the jars are built and run AnkiDroid test / androidTest against the freshly-built artifacts

[2022-08-27 16:52] mikehardy commented on #11992
Sorry for the delay - just now getting caught up on things after travel. Let's go with temurin for now. Thanks!

[2022-08-27 17:12] sparkyniner commented on #12138
I edited backendUndo.kt and made these modifications:

`suspend fun FragmentActivity.backendUndoAndShowPopup(): Boolean {

    return try {
        val changes = withProgress() {
            undoableOp {
                undoNew()
            }
        }
         fun showSnackbarAboveAnswerButtons(

            duration: Int = Snackbar.LENGTH_LONG,
            snackbarBuilder: SnackbarBuilder? = nu

[2022-08-27 21:35] sparkyniner commented on #12138
Found the file, fixing the issue

[2022-08-28 06:50] dansynek opened #12205 "Assuming first deck instead of current when adding card from edit card menu"
This is only a bug when adding a card from within the edit card menu! It seems to assume the first deck in alphabetic order instead of the current deck to which the card you edit belongs. It's not obvious that this is a bug, perhaps this is behavior that is intended, but I think most people would expect the card to be added to the deck you are using at the moment as the default(it can of course be

[2022-08-28 07:38] sparkyniner commented on #12138
i've solved the issue and issued a PR, please have a look.

[2022-08-28 07:45] #11525 closed

[2022-08-28 09:14] david-allison commented on #12205
Hi, could you please fill out the provided [issue template](https://raw.githubusercontent.com/ankidroid/Anki-Android/main/.github/ISSUE_TEMPLATE/issue_template.md) when filing a report, paying attention to the `Debug Info` section so we can determine if you're using an old version of AnkiDroid

Thanks!!

[2022-08-28 09:31] david-allison opened #12209 "[Bug] Cannot convert `ApiUtilsTest` to Kotlin: There are no configurators available"
Likely an upstream bug, posting here for research purposes

* This only fails for the `/test`, not for the `/src` elements in the /api project
* not fixed with `testImplementation "org.jetbrains.kotlin:kotlin-test:$kotlin_version"`

File: https://github.com/ankidroid/Anki-Android/blob/main/api/src/test/java/com/ichi2/anki/api/ApiUtilsTest.java
Commit: 9797b7b29d281904bcdb4857f134824e6592fcd3

Usin

[2022-08-28 09:34] david-allison commented on #12209
Fix:

* Create an unused Kotlin class in the test project `A.kt`
* The conversion now works on `ApiUtilsTest.java`
* Delete `A.kt`

[2022-08-28 09:39] david-allison commented on #12209
Reopening this. Acceptance criteria or closing:

- This issue has been posted to the Android Studio bug tracker with the above commit reference so the issue can be reproduced and fixed.
- This issue contains a link to the bug report

[2022-08-28 10:49] #11710 closed

[2022-08-28 11:06] oyeraghib commented on #11121
Is anybody working on this issue? If not then I would like to pick it up.

[2022-08-28 12:22] david-allison commented on #11121
Sounds good to me

[2022-08-28 13:59] david-allison commented on #11116
@Jatin887 @JatinApk What's the status of this?

[2022-08-28 14:10] krmanik opened #12214 "Use issue forms for logging issues"
**Is your feature request related to a problem? Please describe.**
Use forms when users log issues here.

**Describe the solution you'd like**
The forms should be integrated into the issues template.

**Describe alternatives you've considered**
Currently issue are logged in markdown.

**Additional context**
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-

[2022-08-28 14:31] Jose6741 commented on #1377
Hello, comment on the AppStore about Anki and I suggested that they can implement more fonts and effects to them to make them more graphically appealing and to be able to order the cards better. That they are compatible both in Computer and cell phone. Are you on your way to it? I really appreciate your response! 😁

[2022-08-28 14:31] Jose6741 commented on #1377
Hello, comment on the AppStore about Anki and I suggested that they can implement more fonts and effects to them to make them more graphically appealing and to be able to order the cards better. That they are compatible both in Computer and cell phone. Are you on your way to it? I really appreciate your response! 😁

[2022-08-28 14:52] omsurase commented on #12214
i would like to work on this

[2022-08-28 14:53] omsurase commented on #12214
could you give me some idea of what all information should be collected in the form?

[2022-08-28 14:54] mikehardy commented on #12209
Make sure to try their latest test version first (Dolphin since it's close to release, Electric Eel as a last resort) to see if it's already fixed - https://developer.android.com/studio/preview

[2022-08-28 15:15] mikehardy commented on #10411
Updated the instructions above, the advanced settings pane now lets you enable v3 scheduler directly, and no app restart is required. Everything *seems* to be working...

[2022-08-28 15:15] mikehardy commented on #11710
For what it's worth, the latest 2.16alpha has an advanced setting addition that lets you turn on the "new backend" (basically: an updated version of the Anki Desktop Rust code used directly here) as well as the v3 scheduler, if you'd like to help test it. Could fix this issue too, if it's still happening https://github.com/ankidroid/Anki-Android/releases

Instructions to test https://github.com/an

[2022-08-28 15:21] mikehardy commented on #1377
With open source projects, no progress should have any expectation unless you do it yourself, that is the nature of volunteer work.

That said, there has been an enormous amount of progress in our underlying infrastructure that would support getting this done. So, it is now a lot *closer* to being done. But, there is still work to do as Brayan mentions above. We do understand this is a very popula

[2022-08-28 15:23] krmanik commented on #12214
The forms should be similar to issue template and feature request template.
https://github.com/ankidroid/Anki-Android/blob/main/.github/ISSUE_TEMPLATE/issue_template.md
https://github.com/ankidroid/Anki-Android/blob/main/.github/ISSUE_TEMPLATE/feature_request.md

[2022-08-28 15:24] mikehardy commented on #12214
Hey @omsurase :wave: - welcome

I think the issue logging is the big one, not so much the feature request

I would start with:

- checkboxes for the things we have as checkboxes
- Debug Info text box, with the instructions on how to get that from the phone as the description
- Short description of the steps to reproduce
- open text entry box to describe any extra information

[2022-08-28 16:41] winstoncooke commented on #11121
Go for it! It would be a really convenient addition.

[2022-08-28 17:28] SnipeAT commented on #10411
I'm testing the crap outta it!

[2022-08-28 17:35] lervag commented on #11710
Thanks! I've updated to the latest alpha and enabled the v3 scheduler. I've first synced everything to my computer and took a backup of my files there.

[2022-08-28 18:52] #9432 closed

[2022-08-28 20:09] david-allison commented on #11101
I find it difficult to understand why a dependency was added because there's a lot of line noise: 1 change for each time the dependency is updated. This is why I proposed `dependencies.gradle`

Looking at the output of `package.json`: [[link](https://github.com/ACRA/acra/pull/974/files#diff-b861012a5dd72b8a9f3281b7cf09f5a779c98569d040b1bbc1db50f1b15e7cceR19)] the version numbers and packages seem

[2022-08-28 20:45] mikehardy commented on #11101
libs.version.toml + renovate is the state of the art, and solves these things all at once:
- versions managed in a central file, just one file (so no diff noise in the programmatic build file, or cloaking actual dep adds)
- renovate fixes the "dependency PRs are opened against a fork" problem (that dependabot does not even have on their roadmap)

This is for Gradle builds only though. Package.json

[2022-08-28 23:42] #9935 closed

[2022-08-28 23:44] #10377 closed

[2022-08-29 05:16] pavreh opened #12223 "[Bug] no feedback when search an invalid parameter"
###### Reproduction Steps
1. search an invalid parameter e.g. "is:bury" or "flag:8" in Card browser

###### Expected Result
A toast/snackbar appears

###### Actual Result
A crash report appears

###### Debug info
AnkiDroid Version = 2.16alpha82

Android Version = 12

Manufacturer = samsung

Model = SM-A225F

Hardware = mt6769t

Webview User Agent = Mozilla/5.0 (Linux; Android 12; SM-A225F Build/SP

[2022-08-29 05:24] pavreh opened #12224 "[Bug] No play button in preview"
###### Reproduction Steps
1. have a note with sound
2. Edit note
3. Preview
4. Show answer

###### Expected Result
A sound button is visible

###### Actual Result
A text is visible
![Screenshot_20220828-083119_AnkiDroidA.png](https://user-images.githubusercontent.com/10192661/187128562-ddb6e5a2-bd2e-4d37-b79f-8ce8909bad0d.png)

###### Debug info
AnkiDroid Version = 2.16alpha82

Android Version = 1

[2022-08-29 11:22] david-allison opened #12227 "Make code coverage reporting stable"
`codecov` often reports random fluctuations in the coverage. This is likely because tests are nondeterministic, but may be a bug in codecov.

* Determine why this occurs (typically by finding the classes which fluctuate)
  * Maybe this is just due to flaky tests, should we upload codecov reports if there are test failures?
* Fix this, so we no longer get `codecov`-based CI failures on changes whic

[2022-08-29 12:43] mikehardy commented on #12227
It does seem coverage should not be uploaded if there are failures, in that case it should be a fail on codecov if possible though (to warn us of total codecov breaks at integration level by maintaining that it's a fail if there is no coverage?)

My hypothesis is some test-specific non-determinism, that's the high-probability cause of this in general

[2022-08-29 14:35] ccvbc opened #12230 "There is an error when crop image on the mobile side, it prompts "something went wrong"[Bug]"
###### Reproduction Steps
1. I tried restarting, no effect
2. Version: The latest version of the Google Play Store
3. Error screenshot

![Screenshot_20220829_221014](https://user-images.githubusercontent.com/103726582/187226132-bf5aa86c-c76c-47e4-9068-3cde76a8f2a6.jpg)

###### Expected Result

normal operation

[2022-08-29 14:38] david-allison commented on #12230
Hi, thanks for the report. Please edit your post to include the [issue template](https://raw.githubusercontent.com/ankidroid/Anki-Android/main/.github/ISSUE_TEMPLATE/issue_template.md)

You may want to try our alphas (listed) to see if this issue is resolved.

Thanks!

[2022-08-29 14:46] ccvbc commented on #12230
Thanks for reminding.I understand, next time there is a problem, I will report it on the forum.

[2022-08-29 15:01] ccvbc commented on #12230
Question has been modified
Is the "Alpha" version "parallel" and which one is more stable, parallel A?
Forgive me for asking you such a simple basic question.
![图片](https://user-images.githubusercontent.com/103726582/187231986-70b41440-2f08-4838-9918-1f3ade5a8148.png)

[2022-08-29 20:28] mikehardy commented on #12223
I see a couple issues from your installation of `2.16alpha82`

1. https://ankidroid.org/acra/app/1/bug/11975/report/7e81c5a7-a99e-4af4-bbc4-e95835464db2
-   UI path of card browser, note editor, save (to card browser), note editor, undo?, to card browser, back button, to reviewer (not exactly sure how to reviewer?), crash

[code]

[code]

That may be unrelated

This is the one I think you mention

[2022-08-29 20:29] mikehardy commented on #12224
Looks like Damien already has a commit queued for this one in #12226

[2022-08-29 20:48] KendallPark commented on #6336
Hello all. When using the `<tts>` tag to only read a small selection of text, cloze `[...]` are not read as "blank."

Perhaps the `.text().replace(TemplateFilters.CLOZE_DELETION_REPLACEMENT, clozeReplacement!!))` should be applied outside of the `if` statement below?

[code]

[2022-08-29 20:52] KendallPark opened #12233 "When using the `<tts>` tag to only read a small selection of text, cloze `[...]` are not read as "blank.""
Hello all. When using the `<tts>` tag to only read a small selection of text, cloze `[...]` are not read as "blank." TTS simply doesn't read them.

Perhaps the `.text().replace(TemplateFilters.CLOZE_DELETION_REPLACEMENT, clozeReplacement!!)` should be applied outside of the `if` statement below?

[code]

_Originally posted by @KendallPark in https://github.com/ankidroid/Anki-Android/issues/6336#is

[2022-08-29 21:22] david-allison commented on #12233
Sounds good to me! Feel free to add a pull request with either a fix, or a failing test

[2022-08-30 00:02] #12233 closed

[2022-08-30 00:03] ccvbc commented on #12230
Thank you for your answer,I got it.

[2022-08-30 00:08] ccvbc commented on #12230
I have tried the "alpha" version, it works fine, it seems he has been resolved.

I'm glad to find that there are more features in this version, I once missed a "treasure".

[2022-08-30 00:12] mikehardy commented on #12230
There are a huge amount of new features in the 2.16 series :-), and more coming.

Glad it fixed your crash!

If you feel a little adventurous, you may go to the "settings" --> "advanced" tab and turn on "new backend" and "v3 scheduler" to get the statistics heatmap, the v3 scheduler, a more efficient sync and a new card info page.

If you try that and notice anything wrong, please come log an issu

[2022-08-30 00:12] #12230 closed

[2022-08-30 01:12] david-allison opened #12238 "Improve/document debugging Coroutine errors"
I had an issue where the following line call was throwing due to the exception below:

https://github.com/ankidroid/Anki-Android/blob/9f050a6041d53cfb200fab39deee4e457f35a631/AnkiDroid/src/main/java/com/ichi2/anki/preferences/AdvancedSettingsFragment.kt#L135

[code]

This raised an `AlertDialog`, but nowhere in the stack trace was there a reference to the method/lambda/class which caused the excep

[2022-08-30 01:15] king129954 opened #12239 "how to edit the text in akpg files?"
Hello reading https://github.com/ankidroid/Anki-Android/wiki/Database-Structure I cannot find the exact field that contains the front of the card. Unless it is in 'flds'. But even then I don't know how to open apkg files outside of anki to edit them either manually or with a script. Should I convert them to csv files first and then import? How do I convert apkg to cvs and keep the scheduling info

[2022-08-30 01:35] david-allison commented on #12239
Hi, GitHub issues are for issues with AnkIDroid.

Question would be better solved on the [Anki forums](https://forums.ankiweb.net/), [reddit](https://www.reddit.com/r/Anki) or [Discord](https://discord.com/invite/qjzcRTx)

[2022-08-30 01:35] #12239 closed

[2022-08-30 05:16] krmanik opened #12242 "Make back button in popup toolbar smaller"
The size of back button should be smaller, similar to activity toolbar.

<img src="https://user-images.githubusercontent.com/12841290/187354677-d1b1a5c7-edaa-4047-a06f-b9573dd1b49d.jpg" height=450px></img>

[2022-08-30 05:27] pratyaksh1610 commented on #12242
Similar to #11916

[2022-08-30 05:37] krmanik commented on #12242
Thanks, It should be closed.

[2022-08-30 05:37] #12242 closed

[2022-08-30 07:47] divyansh-dxn commented on #12238
I guess, printing the stack-trace logcat is enough. No need to show a lot of text in AlertDialog.

[2022-08-30 12:03] krmanik opened #12244 "Add Anki Forum URL in Readme file in `Join Us On` section"
[Anki Forums](https://forums.ankiweb.net/) is place for getting help / discussions related to Anki Ecosystem so it will be helpful for new users.

Add Anki Forums icon in `https://github.com/ankidroid/Anki-Android/tree/main/docs/graphics/logos` dir and link it to `https://forums.ankiweb.net/`

[2022-08-30 13:06] gustavosmendes opened #12245 "Same/multiple gesture for function."
In older ankidroid version - google play version - I could use the same gesture for "show answer" and "Answer button 3". In newer beta versions, i can't do this.

Also, i could add multiple gestures to the same function. I.e. touch right AND swipe right for answer button 3.

Is there any way issue related to this feature?

[2022-08-30 13:29] david-allison commented on #12245
'Answer Button 3' now performs 'Show Answer' on the front of the card

This is still possible. yo can 'add gesture' multiple times

![Screenshot 2022-08-30 at 14 29 10](https://user-images.githubusercontent.com/62114487/187449770-bc217e3f-c263-4492-963e-ae9e6b35963d.png)

[2022-08-30 13:35] gustavosmendes commented on #12245
My apologies. I tested it multiple times before creating this issue. Thanks for the answer.

[2022-08-30 13:49] david-allison commented on #12245
No worries, thanks for alpha testing!

[2022-08-30 13:49] #12245 closed

[2022-08-30 15:00] mikehardy opened #12246 "Add new schema to emulator test in CI"
I'll add new schema (probably via writing a local.properties if the matrix variable for new schema is set?) to our matrix in CI to start the process of exercising it regularly

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/12226#issuecomment-1231788968_

[2022-08-30 15:14] pratyaksh1610 commented on #12244
It will be this, right ?
![ankiforum](https://user-images.githubusercontent.com/76740999/187474519-26e3600b-c6db-47bd-a32a-9aea1f188aeb.png)

[2022-08-30 15:23] #12179 closed

[2022-08-30 15:23] #12223 closed

[2022-08-30 15:36] krmanik commented on #12244
It is right.

[2022-08-30 16:08] #12238 closed

[2022-08-30 16:10] harshalmittal4 commented on #5261
I don't have any media stored on any deck yet it shows <xxx> media files downloaded while syncing and keeps syncing forever. If someone faced this before can someone please help.

[2022-08-30 17:30] pratyaksh1610 commented on #12244
@krmanik Okay, cool.
Thanks !

[2022-08-30 17:59] #12244 closed

[2022-08-30 19:36] #11672 closed

[2022-08-30 19:36] #11626 closed

[2022-08-31 02:45] MaroonShaded commented on #6017
This should be implemented. I can't rename my card types and that makes it a bit unorganized. Although there is a workaround for this, my card types were created while the app was in different languages and they don't match.
I don't know if it's a good idea to comment on this 2 year old issue.

[2022-08-31 06:18] lervag opened #12249 "[Bug] LaTeX in SchedV3"
After changing to the new backend and the v3 scheduler, LaTeX now mostly does _not_ render the images. An example may be more illuminating: The image on the left is what I see during review, whereas the image on the right shows how I would expect the markdown to display.

![out1](https://user-images.githubusercontent.com/998898/187606763-bd68f848-5a77-44ac-8a3f-08dea926bf7c.jpg) ![out2](https://us

[2022-08-31 07:27] abdnh opened #12251 "Keyboard not shown when focusing HTML input/contenteditable elements"
###### Reproduction Steps

1. Create a basic note with `<input type="text">` in the front.
2. Review the card and tap on the input box to focus it.

###### Expected Result

The keyboard should pop up.

###### Actual Result

The keyboard is not showing up, though the input seemingly has focus as it appears from the orange outline around it. Typing using a physical keyboard doesn't work either.
On t

[2022-08-31 10:18] z99h opened #12254 "Passcode and biometric lock"
**Is your feature request related to a problem? Please describe.**
I would like to keep my A AnkiDroid private when I pass my phone to a friend for activities such as watching videos.

**Describe the solution you'd like**
Add a passcode / biometric lock option to AnkiDroid, once enabled the actual AnkiDroid interface is hidden in "switch between recent apps" and the user needs to type in a passcod

[2022-08-31 12:21] n1snt commented on #12194
What I think needs to be done:

1. Bump the compileSdkVersion to 33 (Tried bumping the compileSdkVersion to 33 and it threw a lot of errors compiling the app)
2. Add the new notification permission to `AndroidManfests.xml`
`<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>`
 _[Source](https://developer.android.com/develop/ui/views/notifications/notification-permission)_
3. Ad

[2022-08-31 14:32] Koudinka opened #12256 "    @JvmStatic     fun joinFields(list: Array<String?>?): String? {         return if (list != null) TextUtils.join("\u001f", list) else null     }"

[2022-08-31 17:39] #11698 closed

[2022-08-31 17:52] david-allison commented on #12256
Hi, what's your intention with this issue?

[2022-08-31 18:54] BrayanDSO opened #12258 "Metered sync warning shows even if the user has no internet"
The "You have no internet collection - Sync anyway" snackbar should be shown instead

[2022-08-31 19:14] BrayanDSO opened #12261 "Error message when syncing with the new backend without internet"
<details><summary>Error screenshot</summary>

![Screenshot_20220831-161029_AnkiDroid](https://user-images.githubusercontent.com/69634269/187762971-fc0b3e08-82b0-4d66-9424-5a64c168e877.png)

</details>

Instead, it should show the "You are offline - Try anyway" snackbar

<details><summary>Snackbar screenshot</summary>

![image](https://user-images.githubusercontent.com/69634269/187763271-c8dd1753-b

[2022-08-31 20:42] pratyaksh1610 commented on #12261
@BrayanDSO
To which version is this issue linked to?

[2022-08-31 21:01] BrayanDSO commented on #12261
Main (ced05eb) / 2.16alpha82

[2022-08-31 23:08] david-allison opened #12265 "Label CI task should not alert on CrowdIn Sync PRs"
I think that getting warnings on PRs from `i18_sync` isn't very useful

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/issues/12264#issuecomment-1233493180_

[2022-08-31 23:18] david-allison opened #12266 "Strings Label is added on closed Pull Requests"
See the linked comment. the PR was closed because it won't be implemented

_Originally posted by @github-actions[bot] in https://github.com/ankidroid/Anki-Android/issues/10528#issuecomment-1233466887_

[2022-09-01 00:22] BrayanDSO commented on #12254
Have you tried an external app to add password/biometric lock to access some apps (in the case, AnkiDroid)? May actually be easier so suit your use case and could solve your issue immediately.

[2022-09-01 00:28] BrayanDSO opened #12267 "Differentiate the before and after merge Strings label message"
so this should be the "after merge" message. Perhaps making the "before" and "after" messages different would be more helpful

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/issues/12264#issuecomment-1233587218_

[2022-09-01 01:24] david-allison commented on #12254
I'd rather this were done in the Android OS or as a fork.

Adding in biometric security would add complexity (for example: how would our API work?), and would imply to users that we've secure (potentially encouraging them to store confidential data), whereas the feature does little to deter a motivated attacker.

[2022-09-01 03:29] dobefore opened #12269 "[Question]Sync hostkey Url change"
**Is your feature request related to a problem? Please describe.**
It seems the request url about user authentication has changed from `/sync/hostKey` to `/hostKey ` in 2.16 alpha82.

I would like to know whether  this change will be remain the same in stable release 2.16.

Thanks in advance.

Add:use case I use it under self-hosted server in semi-WIFi

[2022-09-01 03:36] david-allison commented on #12269
@oakkitten

[2022-09-01 04:14] dobefore commented on #12269
Sorry for this. the error is on my side.

[2022-09-01 04:39] dobefore commented on #12269
Here,I have experienced some slight change when I set up self-hosted server address.
Take an example, my address is 192.168.x.196.
In version 2.15.6 ,I set sync address with `http://192.168.x.196:27701/` and output in server log is ok with `POST /sync/hostKey HTTP/1.1" `

However,the situation changed with version 2.16 alpha78 or above. I set sync address with `http://192.168.x.196:27701/`  as usu

[2022-09-01 04:41] dobefore commented on #12269
Here,I have experienced some slight change when I set up self-hosted server address.
Take an example, my address is 192.168.x.196.
In version 2.15.6 ,I set sync address with `http://192.168.x.196:27701/` and output in server log is ok with `POST /sync/hostKey HTTP/1.1" `

However,the situation changed with version 2.16 alpha78 or above. I set sync address with `http://192.168.x.196:27701/`  as usu

[2022-09-01 05:21] krmanik commented on #12266
This needs to be fixed. The CI runs on opened and closed and there is no check on strings step the label added.

[2022-09-01 05:22] krmanik commented on #12265
The check should be implemented to ignore the i18n_sync branch. I will update it.

[2022-09-01 05:24] krmanik commented on #12267
The check should be implemented. I will update it.

[2022-09-01 09:57] snowtimeglass commented on #12261
I feel that "Try anyway" is a bit odd, unnatural as a response to "You are offline". In this context, "Retry" seems more appropriate.

"Try anyway" seems to mean "try syncing even if I am offline", so it may sounds nonsense, whereas "Retry" seems to imply "try syncing again after any actions (e.g. enabling Mobile data/Wi-Fi, waiting some time, etc.), which makes sense.

_a sample of probably appro

[2022-09-01 10:39] BrayanDSO commented on #12261
Very reasonable. +1

[2022-09-01 10:43] snowtimeglass commented on #12261
Thanks!

[2022-09-01 10:45] BrayanDSO opened #12273 "Rename `Try anyway` to `Retry`"
I feel that "Try anyway" is a bit odd, unnatural as a response to "You are offline". In this context, "Retry" seems more appropriate.

"Try anyway" seems to mean "try syncing even if I am offline", so it may sounds nonsense, whereas "Retry" seems to imply "try syncing again after any actions (e.g. enabling Mobile data/Wi-Fi, waiting some time, etc.), which makes sense.

_a sample of probably appro

[2022-09-01 10:45] pratyaksh1610 commented on #12261
@BrayanDSO I was about to open the issue,
Thanks.

[2022-09-01 11:05] pratyaksh1610 commented on #12261
@BrayanDSO
I am getting this error when no internet.

![abc](https://user-images.githubusercontent.com/76740999/187899519-db8373a7-1da4-4fea-a3fd-7a037aa12218.jpeg)

[2022-09-01 11:15] pratyaksh1610 commented on #12273
I am working on this

[2022-09-01 11:29] david-allison commented on #12273
That's exactly what it means. `isOnline` was not fully reliable: https://github.com/ankidroid/Anki-Android/issues/5381 https://github.com/ankidroid/Anki-Android/issues/6396 https://github.com/ankidroid/Anki-Android/pull/6397

This may no longer be the case

[2022-09-01 12:38] BrayanDSO commented on #12273
Perhaps. Idk if the lack of reliability is restricted to `activeNetworkInfo`, which are only used on API 21 and 22. Will need investigation

[2022-09-01 12:58] heilil opened #12276 "Search function - highlight searched word"
If I search for a specific word in my learning cards, it shows me the cards containing this word. But unfortunately it does not highlight the word inside the text. As sometimes my learning cards contain a bigger text, it would be useful, if the specific word I am searching for, would be somehow highlighted or similar inside the text.

See picture attached, which shows bigger paragraphs, where I ha

[2022-09-01 13:35] david-allison commented on #12273
Report was on Android 6.0 (API 23): https://github.com/ankidroid/Anki-Android/issues/5381

[2022-09-01 14:02] snowtimeglass opened #12277 "[Bug] an invalid "Undo" button appears on Deck Overview screen"
###### Reproduction Steps

0. (Close AnkiDroid, and restart it)
1. Tap any of the decks on "Decks" screen
2. Tap "SHOW ANSWER"
3. Tap any of the answer buttons
4. Go back to "Decks" screen
5. Tap the deck counts area of the deck (the right side area of the deck's row)
![image](https://user-images.githubusercontent.com/10436072/187925111-afe2eca5-9e3f-4338-a3cd-d55efcd63538.png)
6. Tap "Undo" butto

[2022-09-01 14:13] snowtimeglass commented on #11220
@bot Hello 👋, thanks for your daily superhuman work. Please don't close this issue yet.

[2022-09-01 15:43] oakkitten commented on #12269
There was a change, yes, you have to enter `http://192.168.x.196:27701/sync/` now (if you are using the new backend, the final slash must be present for the time being). If you had `http://192.168.x.196:27701/` before, after updating to a new app version (including alpha versions) you should see that the setting has been set to `http://192.168.x.196:27701/sync/`.

See #12112 for rationale

[2022-09-01 17:31] krmanik commented on #12267
@david-allison @mikehardy
What will be post merge commit message? Should only one comment suffice or post merge comments needed?

[2022-09-01 17:32] #12265 closed

[2022-09-01 17:42] #12258 closed

[2022-09-01 17:57] mikehardy commented on #12273
Hi there! :wave: your friendly maintainer of react-native-device-info here. Online detection is a disaster. It's not reliable.

Ask me how I know! https://github.com/react-native-netinfo/react-native-netinfo/issues?q=is%3Aissue+sort%3Acomments-desc+is%3Aopen

:laughing:

"Try Anyway" is absolutely correct in this sense. It's the user saying "Shut up computer, I know I have internet, just do it"

[2022-09-01 19:05] BrayanDSO commented on #12273
Not ideal for the user, but this is what we have and seems good enough to me

[2022-09-01 19:05] #12273 closed

[2022-09-01 19:16] BrayanDSO commented on #10388
Solved with the new backend

[2022-09-01 19:16] #10388 closed

[2022-09-01 19:17] #11767 closed

[2022-09-01 19:19] BrayanDSO commented on #10622
Should be feasible with the new backend. I think that the used method will be the same linked on the issue description

[2022-09-01 19:29] david-allison commented on #11091
Only seen locally (macOS):

[code]

[2022-09-01 19:34] david-allison commented on #12267
Maintainers: please [Sync Translations](https://github.com/ankidroid/Anki-Android/actions/workflows/sync_translations.yml) to produce a sync with only the automated changes from this PR

[2022-09-01 22:02] javiercl2020 commented on #12182
I solved it already so I deleted my collection and restored it with my ankiweb account

[2022-09-01 22:24] #12182 closed

[2022-09-01 23:03] mikehardy commented on #12251
Can you try with the most up to date release? That one is pretty old... https://github.com/ankidroid/Anki-Android/releases

[2022-09-01 23:21] mikehardy commented on #12254
Yeah - this is not something we should do I think. But there are lots of "app lockers" I think ?
Like https://www.androidauthority.com/best-applocks-privacy-lock-apps-android-750699/

I think some vendors integrate one even

I think that's sufficient for a "light security" case like you describe

[2022-09-01 23:21] #12254 closed

[2022-09-01 23:24] dae commented on #10622
backend.getOrCreateFilteredDeck()

[2022-09-01 23:26] mikehardy commented on #12194
That does seem about right

[2022-09-02 00:11] dae commented on #11091
Can't reproduce, but does this help? Changed the test to exercise the non-null case, and removed the mutex in the process, as withCol should enforce single execution.

[code]

[2022-09-02 00:22] dobefore commented on #12269
I appreciate it that your contributions make the component of setting up custom server and even the ankidroid better. I just look through the conversations maked in PR #12112 to try to grasp the main idea.

Some improvements are great! such as the separation of collection sync and media sync and UI notification advance. It's no accident that the PR has been accepted and approved and the experts wh

[2022-09-02 00:34] david-allison commented on #11091
It's only occasionally flaky. The patch provided fails with:

[code]

[2022-09-02 01:06] dae commented on #11091
Whoops, I changed withCol to withOpenColOrNull at the last minute, so the assert should now check for null as well. Looks like I got the arg order on the assert wrong too.

[2022-09-02 02:49] criticalAY commented on #12277
I went through the code and the item click listener is set in there but the button is not getting clicked

[2022-09-02 04:20] pavreh commented on #12277
It is similar to #9490

[2022-09-02 08:37] abdnh commented on #12251
Tested with the latest main ([c9deb5f](https://github.com/ankidroid/Anki-Android/commit/c9deb5fdfa11e4049e369e04194ffefa271ef346)). The issue is still reproducible.

[2022-09-02 08:57] #12269 closed

[2022-09-02 10:39] #12130 closed

[2022-09-02 10:45] BrayanDSO opened #12284 "Don't show "Created deck" toast after tapping OK on filtered deck dialog"
A whole activity is being shown so you can configure your filtered deck, which IMO is enough feedback + the toast is shown above the filtered deck settings, which pollutes the view a bit

![image](https://user-images.githubusercontent.com/69634269/188123168-050097e2-4255-4fea-960d-ffb8673197c5.png)

[2022-09-02 12:18] sparkyniner commented on #11449
Was busy on another PR, will work on this asap.

[2022-09-02 12:48] mikehardy commented on #12251
Ah, well that's unfortunate. Thanks a bunch for testing that @abdnh - especially taking the time to test the latest code and report it. Need investigation...

[2022-09-02 13:05] #11992 closed

[2022-09-02 14:06] snowtimeglass commented on #12273
I understand that the online detection isn't reliable, and that the string, "Try anyway", is the result of taking it into consideration, but then, I am concerned about appropriateness of the message of the snackbar, "You are offline".

Taking the unreliable online-detection-judgement at face value and telling users it as it is doesn't seem to be user-friendly. "Hey, wait, you are offline""Shut up

[2022-09-02 14:14] Greenactivist opened #12285 "[Bug] java.io.IOException: ‘No space left on device’ thrown syncing media collection when there is plenty of room on the device."
###### Reproduction Steps

1. Press sync button
2.
3.

###### Expected Result
Collection and media synced

Note that the AnkiDroid directory is set to: /storage/2962-1FC/Android/data/com.ichi2.anki/Ankidroid
Which is on an external 512 GB SanDisk SD card and only 121 GB has been used so far.  the file that AnkiDroid is trying to download is only 32K so there should be no problem.

###### Actual Re

[2022-09-02 14:27] mikehardy commented on #12273
Well, I suppose if we expect well-mannered users who do not hurl abuse at their devices, your suggestion of softening the "You are offline" language is pretty good. "You seem to be offline" maybe?

[2022-09-02 14:30] mikehardy commented on #12285
Fairphone! Neat.

To your issue:

Can I ask you to try our latest release https://github.com/ankidroid/Anki-Android/releases and in particular these things:
1- make absolutely sure you really do have space on the device - then try sync again. Does it reproduce?
2- go to advanced settings and turn on "new backend" if 1 above did not work. Does it still reproduce?

If it does, then...something is me

[2022-09-02 14:58] oakkitten commented on #12269
Hopefully this is fixed in the backend for the next stable release; when it is fixed, entering both `http://192.168.x.196:27701/sync` and `http://192.168.x.196:27701/sync/` will be valid.

Technically `http://192.168.x.196:27701` can be a valid sync endpoint.

The problem is that the backend doesn't append `/` when appending path segments, so instead of `http://192.168.1.90:8080/meta` you get `htt

[2022-09-02 15:07] snowtimeglass commented on #12284
The toast isn't shown on 2.16alpha82 in my device, strangely.

https://user-images.githubusercontent.com/10436072/188178408-c37964e1-8221-4e08-9627-1fa81f7866e0.mp4

###### Debug info
[code]

[2022-09-02 15:38] BrayanDSO commented on #12284
The toast was introduced after alpha82

[2022-09-02 15:45] snowtimeglass commented on #12284
Ah, I see. Thanks.

[2022-09-02 17:30] #11746 closed

[2022-09-02 19:42] ShridharGoel commented on #12053
Seems to be happening due to the changes in #11347.

[2022-09-02 22:45] santiyounger commented on #9098
Hey thanks a lot for sharing this info. I've been looking all over to use an external .js file to work with Anki

I tried the code you provided above, but I it didn't work. I followed your advice to look for the closet addon's code in user.js

this is it:

[code]

unfortunately I'm a beginner and don't really know how to modify that code to link to my local .js file in my Anki media folder.

I'm a

[2022-09-02 23:08] dobefore commented on #12269
Thanks for the kind and detailed reply

[2022-09-02 23:17] dobefore commented on #12285
Does it mean that you are using external storage instead of local storage? I assume that the Ankidroid probably still use local storage as its prefered storage or It write some data which larger than the local can hold. From the picture
I find your cards are large.

[2022-09-02 23:23] Greenactivist commented on #12285
Thanks for you quick reply.   I’m beginning to think that this is an Android problem.

First there is plenty of room on the SD card.  I can use adb to push giggabytes of data into other directories on the same SD card.  I can even push files into AnkiDroid directory, /storage/2962-19FC/Android/data/com.ichi2.anki/Ankidroid <http://com.ichi2.anki/Ankidroid>,  with no problems, the but I can’t push

[2022-09-02 23:26] dae commented on #12285
What filesystem is it formatted as? Fat32 has a limit on the number of files.

[2022-09-02 23:38] Greenactivist commented on #12285
Yes, that is correct.  In preferences have set AnkiDroid directory to point to a directory on the external SD card so the Anki database etc and all my media collection is there.  The App itself uses about 82MB if internal storage.

I have used a setup like this for years and using several operating systems - I now use /e/os a de-Googled version of Android and my phone is rooted using Magisk.  This

[2022-09-03 00:57] Greenactivist commented on #12285
It looks like I will have to find out how to format my card as ex-Fat.

Thanks all for your help!
--
 Sent with Tutanota, enjoy secure & ad-free emails.

3 Sept 2022, 12:26 am by ***@***.***:

[2022-09-03 01:10] mikehardy commented on #12285
That will be the solution (or ext2 or similar) - sorry for this, haven't seen a FAT fs for years! :-). Used to be a big problem for us but has thankfully faded.

[2022-09-03 01:10] #12285 closed

[2022-09-03 05:46] criticalAY commented on #12277
I have removed the undo button from the main screen page as it was not necessary I guess but I am unable to commit my code due to JAVA_HOME error which I did not encounter when I contributed earlier.

[2022-09-03 12:48] #12267 closed

[2022-09-03 12:52] mikehardy commented on #12277
If you are getting an error that you need help with, please actually post the full details of the error message, ideally enclosed in triple-backticks so the markdown format is easy to read here, like

[code]

You don't specify what operating system you are running on, how your environment is initialized, how you reproduce the error, or what troubleshooting steps you've taken already to determine +

[2022-09-03 13:43] #11709 closed

[2022-09-03 20:38] #11722 closed

[2022-09-03 20:40] criticalAY commented on #12277
Thankyou Mike I figured it out by defining the system variable that went missing idk how but yes also there is some issue with gitHub desktop version as I was not able to commit my code through it but cmd line.

[2022-09-03 22:26] #12284 closed

[2022-09-04 06:55] david-allison opened #12310 "API: Kotlin Cleanups need to be performed and the module needs a thorough audit before release"
Kotlin Cleanups need to be performed and the `api` module needs a thorough audit before release due to these breaking changes

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/12309#issuecomment-1236273137_

[2022-09-04 16:44] #11731 closed

[2022-09-04 16:44] #11700 closed

[2022-09-04 19:02] #7939 closed

[2022-09-04 22:39] escape0707 opened #12316 "[Bug] Latest Alpha build force quit on long pressing when editing"
###### Reproduction Steps

1. Select a deck to learn.
2. Edit it.
3. Long press on a field.

###### Actual Result

The app crashes and sent a crash report

###### Debug info
AnkiDroid Version = 2.16alpha83

Android Version = 13

Manufacturer = Google

Model = Pixel 6a

Hardware = bluejay

Webview User Agent = Mozilla/5.0 (Linux; Android 13; Pixel 6a Build/TP1A.220624.021.A1; wv) AppleWebKit/537.36

[2022-09-04 22:40] escape0707 commented on #12316
I can't easily revert to the previous alpha without wiping app data. This breaks my current study flow

[2022-09-04 23:02] mikehardy commented on #12316
@escape0707 super resourceful on the adb force downgrade switch! Sorry this broke for you

[code]

logcat

[code]

[2022-09-04 23:03] mikehardy commented on #12316
I see 14 total crashes from you, 5 independent mechanisms, over course of 3 weeks. You are a warrior for helping us test through all this stuff, really appreciated

[2022-09-04 23:07] escape0707 commented on #11939
Try `adb install -r -d /path/to/the-version-you-want-to-install.apk`. If it doesn't work, maybe add `-t`, too.
See https://developer.android.com/studio/command-line/adb#-t-option

[2022-09-04 23:10] escape0707 commented on #12316
Trying to be more useful by learning the Android Kotlin & Compose course. Gotta give as you take. :wink:

[2022-09-05 10:15] BrayanDSO opened #12319 "Hide/Disable "New cards after reviews" if v3 Scheduler is enabled"
###### Reproduction Steps

1. Settings > Reviewing > New card position > **New cards after reviews**
2. Enable v3 Scheduler on advanced
3. Start reviewing cards

###### Expected Result

The new cards are shown after reviews

###### Actual Result

The new cards are mixed with reviews

###### Debug info
I've got a media sync crash recently after tapping `Background`, but not related to the issue
[co

[2022-09-05 11:00] BrayanDSO opened #12320 "[Bug] Deck picker app bar items vanish after timed out sync"
###### Reproduction Steps

1. Use the old backend
2. Disable your internet
3. Tap sync
4. Tap try anyway
5. Wait until timeout error dialog appears
6. Tap outside the dialog (not on OK)

###### Expected Result

Everything is normal

###### Actual Result

Search, Sync and three dot icons vanish

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure wh

[2022-09-05 12:02] david-allison commented on #11794
No action needed. Reverted in 7cfda65f1655ef2b3960e698e67e05d659309b82

[2022-09-05 12:02] #11794 closed

[2022-09-05 17:14] Arthur-Milchior opened #12326 "Recall what gesture the window is for"
When assigning gesture, there is nothing that recall on which action a gesture is currently being assigned. Can someone please add a title, so that it's certain that I didn't misclick and that I have no doubt whether I'm at button 2 or 3 already.

Ping @BrayanDSO since you worked on it

[2022-09-05 17:19] Arthur-Milchior opened #12327 ""show the answer" gesture should indicate it's not necessary"
Currently "Show the answer" is only useful if you have no gesture/action to select one of the four answers.
Indeed, if you have one gesture to select an answer and you're on question side, it'll show the answer.

So it'd be nice to indicate:
* on button 1 to 4 that they also show the answer
* on "show the answer", if at least one button has a gesture, that the user can also use the gesture(s) _ges

[2022-09-05 17:40] #11744 closed

[2022-09-05 17:41] BrayanDSO commented on #12326
+1 for the issue

For whoever wants to implement this, think on a string (Maybe `Add key for "%s"` and `Add gesture for "%s"`) and change it here:

https://github.com/ankidroid/Anki-Android/blob/ab5bfc3ef44d0db8e913590b92176166be43d835/AnkiDroid/src/main/java/com/ichi2/preferences/ControlPreference.kt

[2022-09-05 18:08] #12138 closed

[2022-09-05 18:51] abdnh commented on #12251
Update on this: It turned out that enabling the "Type answer into the card" option fixes the issue, probably as a side effect of this line: https://github.com/ankidroid/Anki-Android/blob/43fffa5f52221069ef9707b27d1082de31caad0b/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.kt#L1072

How about setting isFocusableInTouchMode to true in all cases? I guess in this case, the webview ca

[2022-09-05 20:20] pratyaksh1610 commented on #12326
I have raised a PR.
PTAL.
Thanks.

[2022-09-06 05:35] #12053 closed

[2022-09-07 04:58] sparkyniner commented on #11449
Hello, I have issued a PR and changed one instance in one file as requested, if this ok I can change the other 36 instances.

[2022-09-07 14:19] Arthur-Milchior commented on #11449
I just edited the issue message to be explicit about locales. Essentially that this issue is mostly about `format` that are applied directly to a format string, and is not about ones where locale are explicit.

[2022-09-07 14:42] snowtimeglass opened #12335 "[Bug] The title of the note-adding screen ("Add note") hasn't been replaced with "Add" yet"
###### Reproduction Steps

1. Open AnkiDroid
2. Tap the floating action button ("+")
3. Tap "Add" (then, the screen for editing & adding a new note is shown)

###### Expected Result
The title of the screen is "Add". Though the title was "Add note" before, it should have already be replaced with "Add" as a conclusion of the discussion in #10853.

###### Actual Result
The title of the screen is "Add

[2022-09-07 17:23] pavreh opened #12337 "[Bug] The same colour of a cursor and the background"
###### Reproduction Steps
1. Have Light Day theme
2. Open Card browser
3. Tap Search
4. Type some text
5. Tap inside the text

###### Expected Result
The cursor is visible

###### Actual Result
The cursor has the same colour as the background
![Screenshot_20220907-144943_AnkiDroidA.png](https://user-images.githubusercontent.com/10192661/188940440-34c0cf2e-705d-4ca8-b6d9-d0415ecad6ca.png)

###### D

[2022-09-07 21:07] #12335 closed

[2022-09-08 00:48] omsurase commented on #12337
any suggestions as to where should I start looking in the codebase?

[2022-09-08 04:54] #11790 closed

[2022-09-08 11:15] Aditya8840 commented on #11451
Hey @Arthur-Milchior, greeting. Can you please assign this issue to me?

[2022-09-08 11:21] SaranshBaniyal commented on #11451
@Arthur-Milchior I m still learning and am unable to resolve this issue yet, I don't mind if you assign this issue to @Aditya8840 . Thanks for all the help, I wish to catch up soon and contribute to ankidroid in any way possible

[2022-09-08 14:17] WiliTest commented on #9984
It still doesn't work.

[2022-09-08 14:20] WiliTest commented on #10766
still searching for solutions

[2022-09-08 14:37] WiliTest opened #12345 "[Bug] TTS languages in the dropdown menu aren't sorted alphabetically"
###### Reproduction Steps

1. open a deck
2. click on the 3 vertical dots to open the menu
3. chose "Set TTS languages"
4. look at the order of the items

###### Expected Result

the language should be sorted alphabetically

###### Actual Result
Eg. "Spanish" is between "English" and "Estonian".

###### Research
*Enter an [x] character to confirm the points below: *

- [x] I have read the [support

[2022-09-08 17:05] david-allison opened #12346 "API is `DEFAULT_PROJECTION` intended to be mutable?"
API Query - probably for new issue: is `DEFAULT_PROJECTION` intended to be mutable? We have a few of these and this appears to be an oversight. Should this be a get-only property returning a clone of the array?

It was a `String[]` before - so also mutable values, but not size.

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/12334#discussion_r965144637_

[2022-09-08 17:18] criticalAY commented on #12277
ok so i guess i have figured it out today when i was free i will test it out and push the code.

[2022-09-08 17:21] snowtimeglass opened #12347 "[Bug] The name of the note-adding shortcut ("Add note") hasn't been replaced with "Add" yet"
###### Reproduction Steps

1. Long press AnkiDroid app icon (then, the app's shortcuts are shown)

###### Expected Result
The name of the note-adding shortcut is "Add". Though the name was "Add note" before, it should have already be replaced with "Add" as a conclusion of the discussion in https://github.com/ankidroid/Anki-Android/pull/10853.

###### Actual Result
The name is "Add note". It remain

[2022-09-08 18:19] BrayanDSO commented on #9984
@WiliTest Have you tried one of the latest alpha releases? I fixed this a while ago

[2022-09-08 18:40] david-allison commented on #11450
I don't feel that there is an acceptance criteria for this issue.

@Arthur-Milchior When can this issue be closed, and when can we move towards this goal?

I could potentially see annotating every current `var` with a potential `KotlinCleanup`, and then evaluating them on a case-by-case basis, but I don't know if this provides value

[2022-09-08 22:33] Arthur-Milchior commented on #11451
Greeting @Aditya8840 . Done

[2022-09-08 22:58] Arthur-Milchior commented on #11450
I did not believe that an acceptance criteria was a requirement for an issue. I was hoping it would be a way for new contributors to find some simple task to onboard and test making changes to our codebase.
if it becomes an issue because it becomes hard to find `var` that actually have reasons to be variable, then it'll makes sens to close it or think about more systematic way to annotate them.

[2022-09-09 01:08] Arthur-Milchior opened #12356 "[Bug] AddonData bugs if name is null"
In AddonData's `getAddonModelFromAddonData` if your addon's name is null, we create an error string, but we don't already return. Which means that below, we use `name!!` which would crash the app.
So, either we should return immediately or check non nullability below.

I prefer the second case, because, if we must send error message, I want to be as specific as possible, and just stating that some

[2022-09-09 01:10] Arthur-Milchior opened #12357 "[Bug] Valid add-on names depends on the locale"
Addon names should be lower case.
However, add-on names are tested using the device's default locale.
Which means that an add-on name may be considered to be lower case or not depending on the device. So a package can be valid or invalid depending on the device's locale.

I assume it's mostly theoretical, but probably not ideal.

Ping @krmanik

[2022-09-09 06:32] krmanik commented on #12356
The PR is improvement on existing implementation. The second case should be considered. I have updated the PR to pass the test cases.

[2022-09-09 07:38] Arthur-Milchior commented on #12357
I should have put a link to the line of code in question.
I was referring to `https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/java/com/ichi2/anki/jsaddons/NpmUtils.kt#L56`
Which is used to validate the name and not to display it.

[2022-09-09 09:28] krmanik commented on #12357
I think this can be removed and only check on lowercase.
` if (name.lowercase(Locale.getDefault()) != name) {`

[2022-09-09 10:01] dictdl30 commented on #11353
Yes, I am still searching for solutions.
But it is no bug. It is a question.
Mike Hardy told me to put my questions here as a bugreport: https://groups.google.com/g/anki-android/c/uvjkCYVUGQA

[2022-09-09 14:45] mikehardy commented on #10517
@snowtimeglass does this happen if you alter settings --> advanced --> enable new backend + enable v3 scheduler?

[2022-09-09 14:58] snowtimeglass commented on #10517
Ah, this doesn't happen in these settings!

[2022-09-09 15:12] RasmusRendal commented on #8126
I get the same issue, on what is a pretty unstable internet connection:
[code]

[2022-09-09 16:17] mahmood199 commented on #12187
![Screenshot 2022-09-09 214332](https://user-images.githubusercontent.com/58071934/189394922-c3a05f26-cbc3-498f-ab51-c52c423201fb.png)

We're talking about this screen, correct?
So I have to add gradient + landscape support to this activity.
Please confirm if this is the exact thing that I have to do

I'll pick this right away then.

[2022-09-09 16:22] lukstbit commented on #12346
As I said in the PR for `FlashCardContract`:

I don't know if `DEFAULT_PROJECTION`was intended to be mutable but there's no reason to have it as mutable in any way.

I wouldn't use an array as a return type for an API so I'm leaning towards making the projection as a read only `List<String>`. With a type of `List<String>` assigned through `Collection.unmodifiableList()` we make the collection read

[2022-09-09 16:48] mikehardy commented on #10517
Okay - we are moving towards that as the default hopefully soon, so this may be considered a low priority in my opinion. If we fixed it, we would be working on code that will soon be deleted, so it is not worth a lot

[2022-09-09 17:02] snowtimeglass commented on #10517
Well noted :-)

[2022-09-09 18:46] criticalAY opened #12363 "Card Browser Search bar"
when we search for something in the card browser then it shows the relevant search result but when we remove all the keywords the search result stays the same even after pressing search. Should not it be going back to its original state?

possible solution (my guess)
we can define a condition where an empty search returns all the cards or we can clear the search result when the search string is em

[2022-09-10 00:06] david-allison opened #12364 "deprecation: compileSdk 33 issues"
Hi there! Thanks for picking up a deprecation task - we think these are good first issues because:

1- typically you can just search the codebase for a relevant string and find *where* the work is quickly
2- typically there is documentation upstream in the Google Android Developer docs that explain how the old API worked, why it is deprecated, and then there is documentation for the new API
3- the

[2022-09-10 10:05] Arthur-Milchior opened #12366 "Create a ManageSpaceActivity"
Android offers user to manage the space used by an app. By default, "manage space" actually means "delete everything", which is clearly not acceptable, so we need to replace it by our own activity.

First step is going to be create such an activity. You can find a quick explanation on https://medium.com/@_foso_/what-is-a-managespaceactivity-on-android-26530ba4117b .This activity can be very minima

[2022-09-10 11:20] lervag commented on #12249
I've disabled the new backend for now. Not having LaTeX content renderred properly is a serious issue for me.

[2022-09-10 11:45] Noxor11 commented on #12366
Hi. I would like to work on this.

[2022-09-10 14:04] mikehardy commented on #12249
@lervag totally understandable, thanks for the testing effort (and logging this issue) - it is appreciated

[2022-09-10 15:04] WiliTest commented on #9984
Thanks a lot for having work on this issue and for taking the time to reply!

No, I did not try yet. I'm on 2.16alpha70, and, as usual, I'll lose my settings by trying to update (if I must come back because of a bug). But I will.

[2022-09-10 15:40] #11657 closed

[2022-09-10 15:44] oakkitten opened #12368 "[Bug] Toolbar menu disappears after dismissing the Sync error dialog"
###### Reproduction Steps

1. Be offline or have the server otherwise inaccessible
2. Tap sync
3. Dismiss the Sync error dialog by tapping outside of it

###### Expected Result

Menu stays

###### Actual Result

Menu is yeeted off the toolbar

###### Debug info

AnkiDroid Version = 2.16alpha83

Android Version = 11

Manufacturer = Xiaomi

Model = Mi A2

Hardware = qcom

Webview User Agent = Mozill

[2022-09-10 16:10] mvysny opened #12369 "[Bug] Instant API AddContentApi.getAnkiDroidPackageName returns null"
Hi guys, for some reason on my Android 12 phone the `AddContentApi.getAnkiDroidPackageName(Context)` returns null, causing Aedict to errorneously report that AnkiDroid is not available.

###### Reproduction Steps

1. Install Aedict
2. Search for `haha` and open the entry details
3. In the upper-right overflow menu there should be a menu item "Export to `AnkiDroid"`

The menu item is hidden since `

[2022-09-10 16:11] mvysny commented on #12369
AnkiDroid Version = 2.15.6

Android Version = 12

Manufacturer = OnePlus

Model = IN2023

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 12; IN2023 Build/RKQ1.211119.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/104.0.5112.97 Mobile Safari/537.36

ACRA UUID = cb794f2c-c872-4c02-a7d6-cec31fb39d8c

Scheduler = std2

Crash Reports Enabled = true

DatabaseV2 Ena

[2022-09-10 16:20] mikehardy commented on #12368
I am not sure, but this may be related to a cluster of issues around the app bar (is that what you mean by toolbar? https://material.io/components/app-bars-top) where they do not redraw correctly in a few cases. If toolbar == appbar and you search the issues list, there are a few, and at least one of them has cross-links to most of the others in an attempt to collect them, on the hunch it is singl

[2022-09-10 16:39] BrayanDSO commented on #12366
Downgrade collection → IMO, low priority and hard to get right, because you can't downgrade without uninstalling the app, which means that your collection will be deleted along with it

---

`Reset preferences` → `Reset settings`. Inside the app, we call them settings

---

`erases your AnkiDroid collection & media from your phone` → `erases your AnkiDroid collection & media`. AnkiDroid can be ins

[2022-09-10 17:17] lervag commented on #12249
I will be glad to continue testing when this issue is solved and will of course follow the issue. If I can be of help with e.g. testing a PR or something, let me know.

[2022-09-10 17:18] mikehardy opened #12370 "Crash - 2.16alpha83 - coroutines interruptedexception return to deck list from settings + auto-sync"
###### Reproduction Steps

1. get latest alpha (2.16alpha83 shows this, at least)
2. enable automatic synchronization (so: when you go back to your deck list, it should synchronize...)
3. enable new backend and v3 scheduler
4. go to settings -> accessibility
5. maybe wait 10minutes? such that there is something to sync? mine syncs every time though

###### Expected Result

deck list return after s

[2022-09-10 17:21] mikehardy commented on #12369
Interesting...sorry this is happening

Have you just recently moved to Android 12 from another version? Point of the question: this may be an Android12-specific thing

Only other thing I can think of is maybe the new alphas from https://github.com/ankidroid/Anki-Android/releases fixes it, but that is vague and low-probability-of-fix with a small risk of messes-up-other-things...still if you are ad

[2022-09-10 18:07] oakkitten commented on #12368
Pressing Ok in the dialog works fine though. Pressing Ok should do the same as dismissing it, so I suppose some sort of a callback isn't getting called somewhere or something. (App bar, yes. I hate the term because it's super confusing to anyone who's not a dev so I call it a toolbar. It _is_ a `Toolbar`, anyway.)

[2022-09-10 18:20] mikehardy commented on #12368
I hear ya - but for any UI elements if they have a material.io name, it's handy to use it so we can all reference the same thing in the documents that we use as our official arbiters for correctness (and we do that - use them as official arbiters for correctness) because otherwise as a consensus-drive project UI/UIX stuff turns into a bike-shed timesync of no progress)

[2022-09-11 06:49] #12347 closed

[2022-09-11 07:21] priyanshuborole commented on #12364
@david-allison I would like to work on Activity.onBackPressed deprecation.

[2022-09-11 12:44] mikehardy commented on #12364
@priyanshuborole great - unless someone has said they are working on something - no need to ask permission, just state (with authority! go for it!) that you are working on such and such. Good luck, and thanks

[2022-09-11 21:35] xmha97 opened #12377 "[Bug] Follow OS theme"
Please follow the OS theme to enable the dark theme automatically on Android.

[2022-09-11 21:58] mikehardy commented on #12377
Hi there! This is already implemented in the 2.16alpha series thanks to the excellent work of contributor BrayanDSO - please search the issues list prior to posting an issue, that is part of the new issue template that you removed

duplicate #12131
PR #10520

https://github.com/ankidroid/Anki-Android/releases

[2022-09-11 21:58] #12377 closed

[2022-09-12 03:59] vinaydeepkaur commented on #8917
Greetings, can I take it up?

[2022-09-12 06:39] mikehardy commented on #8917
Sure thing! Cheers

[2022-09-12 06:57] lukstbit commented on #12369
@mvysny Android 11 introduced some changes that might be the reason for the issue, that's the [changes to package visiblity](https://developer.android.com/training/package-visibility). Looking at which packages are [visible by default](https://developer.android.com/training/package-visibility/automatic), ContentProviders are mentioned only if you have the uri permissions.

So you could try to see

[2022-09-12 07:13] mvysny commented on #12369
@lukstbit thank you, excellent find! I'll try to add the queries element to AnkiDroid on my phone, let's see if it helps.

[2022-09-12 08:11] Arthur-Milchior commented on #12357
Anything that uses `Locale.getDefault()` will depends on the default locale of the machine. So may succeed or fail depending on the machine. It's described on android documentation by

I believe that since your name should either always be valid or always invalid, we should not use getDefault in its validation system.
If this is a restriction from npm, I guess we should just check how NPM deals wi

[2022-09-12 08:57] pavreh opened #12379 "[Bug] Change a card type leads to an error"
###### Reproduction Steps
1. Add a basic and reversed note
2. Go to Card Browser, Edit the note, change Card Type to Basic
3. Save
4. OK

###### Expected Result
Card type is changed.

###### Actual Result
Card type is changed but an error appears. The error appears everytime I try to open Card Browser. Card Browser seems empty. Check database resolves the issue but there is no advice to run Check

[2022-09-12 10:09] dae commented on #12379
@mikehardy I've added a new tag for issues specific to the new schema; could you start tagging such issues in the future? I can't promise I'll address them, but it would be helpful to keep track of the issues that need addressing

[2022-09-12 10:13] dae commented on #12319
In the v2 scheduler, the setting is collection-wide. In the v3 scheduler, the setting depends on which deck you click on, and the new deck options screen will show that deck-specific option. Does that explain things @BrayanDSO?

[2022-09-12 10:14] dae commented on #12379
(I've now noticed you have an existing Rust label, but that implies the issue is in the Rust code - could we either rename it or re-purpose it?)

[2022-09-12 10:38] dae commented on #12370
I'm guessing this will be resolved when LoadDeckCounts is migrated to coroutines. My guess it is triggered when a call to getColUnsafe in a legacy CollectionTask is aborted by the task being cancelled.

[2022-09-12 13:13] BrayanDSO commented on #12319
So, this should be solved when the new deck options is merged? Should the global setting be removed in the future?

[2022-09-12 13:15] dae commented on #12319
When the v2 scheduler is removed in the future, the global option should be removed too

[2022-09-12 13:19] BrayanDSO opened #12381 "[Bug] Crash when selecting text on the Note editor"
###### Reproduction Steps

1. Add or edit a note
2. Select text

###### Expected Result

Text is selected

###### Actual Result

Crash OR the context menu doesn't appear

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

AnkiDroid Version = 2.16alpha83

Android Version = 12

Manufacturer = samsung

Model = SM-N770F

[2022-09-12 14:37] mikehardy commented on #12370
good idea - I went through the Rust tag, and tagged a couple others that *may* fit, I will try to keep the tags lined up with this one going forward

[2022-09-12 14:56] mahmood199 commented on #12381
By context do you mean the options which user gets whether to select/cut/copy the text
Correct?

[2022-09-12 16:58] BrayanDSO commented on #12381
Correct?

Yes.

[2022-09-12 16:59] BrayanDSO commented on #12381
this was already fixed by 4b7c104c4e3f05bd58440d450ecf835d5dc8a74e. Closing

[2022-09-12 16:59] #12381 closed

[2022-09-12 18:39] Arthur-Milchior opened #12384 "Decide which assertions to use"
Currently we use:
* kotlin.test.assertNotNull
* org.junit.Assert.assertNotNull
* kotlin.test.junit.JUnitAsserter.assertNotNull
* kotlin.test.junit5.JUnit5Asserter.assertNotNull

I believe we should decide which one to use and create a lint ensuring we don't use other assertion.

For recall, in March, @david-allison created the lint rule JUnitNullAssertionDetector that appears if one uses `assertNo

[2022-09-12 19:12] BrayanDSO commented on #12384
AFAIK, kotlin.test.junit and kotlin.test.junit5 have contracts as well

[2022-09-12 19:27] Arthur-Milchior commented on #12384
Assuming

In kotlin.test.junit5.JUnitSupport.kt
[code]

In org.junit.jupiter.api.Assertions.java
[code]

in org.junit.jupiter.api.AssertNotNull.java
[code]

I see no contract.
Also, you can just test manually. For example in the test `nameOfNewBackupsCanBeParsed`, if you replace `assertNotNull` from `import kotlin.test.assertNotNull` by `kotlin.test.junit5.JUnit5Asserter.assertNotNull`, then you s

[2022-09-12 19:35] Arthur-Milchior commented on #12384
`kotlin.test.junit.JUnitAsserter` seems to be used only in AndroidTest. I don't believe it's relevant to add it to test.
Also, you can test it the same way and see that it does not ensure a contract

[2022-09-12 21:18] mikehardy commented on #12379
donel https://github.com/ankidroid/Anki-Android/labels?q=rust

[2022-09-12 21:19] BrayanDSO commented on #12384
+1 for kotlin.test

[2022-09-12 21:24] #12345 closed

[2022-09-12 21:31] Lilalas opened #12385 "Display name of currently studied parent deck in review"
**Problem**

When studying a parent deck with several subdecks, the top bar will always display the name of the subdeck the current card is from. This could be an unwanted cue in some situations (a.k.a. ‘cheating’).

**Reasoning**

Suppose I am studying `Language`, for which I have created a large deck with thousands of cards. To make it easier to maintain (export decks, manage unseen cards etc.),

[2022-09-12 22:35] Arthur-Milchior commented on #12384
In this case, it's done in #12353

[2022-09-12 22:37] mikehardy commented on #12385
Hi there - you might like the combination of gestures and immersive mode in settings - to hide the top bar stuff

[2022-09-12 22:45] BrayanDSO commented on #5019
For anyone's information, DeckOptions will be replaced entirely by the new HTML page (#12175) when the new backend is the default. So there is only FilteredDeckOptions to fix (which gives me a headache just by looking at it)

[2022-09-12 22:58] Lilalas commented on #12385
Appreciate your suggestion, that is certainly more practical than my current workaround.

Although ideally I would like to keep the system status bar and also the top navigation buttons.

[2022-09-12 23:41] BrayanDSO commented on #11852
Already two months? Oh boy

[2022-09-13 02:43] escape0707 commented on #12316
Can we publish another alpha release so that people who want to try them out won't face this issue?

[2022-09-13 05:41] mvysny commented on #12369
@lukstbit thanks a ton, adding
[code]
to Aedict's `AndroidManifest.xml` fixed the issue.

[2022-09-13 05:41] #12369 closed

[2022-09-13 08:02] lukstbit opened #12388 "[Bug] Whiteboard editor toolbar overlaps top toolbar when buttons set to appear at top or to not appear"
###### Reproduction Steps

1. Go to Settings / Appearance / "Answer buttons position"
2. Select top or none(both have the bug)
3. Go to the decks screen and select one deck as you would do when reviewing
4. When a card appears then go in the top toolbar menu and select  "Whiteboard Editor"(you may have to enable whiteboard first here if it isn't already enabled)

###### Expected Result

The "White

[2022-09-13 08:25] #10445 closed

[2022-09-13 08:29] BrayanDSO commented on #12388
- No, we don't have analytics for this pref
- I'm not in favor of removing it. Particularly, I use the setting with "None" and interact with the reviewer with only gestures/controls. I've heard before that some people do the same.

[2022-09-13 10:08] voidplayer opened #12390 "Lack of gestures in preview window"
I'm always frustrated when I preview a deck and i cant go to the next card with a single hand because the go to the next card is a small button on the bottom right corner

I would like to be able to tap or swipe right to go to the next card

I have tried to make the buttons bigger, but holding the phone with the right hand is not helping that. The show answer button is bigger and i can almost pres

[2022-09-13 13:07] mikehardy commented on #12316
@escape0707 - yep, working through the process now (translations sync + dependencies updates + merging rest of the things that look good for the release). Should release a new alpha in next 12-36hrs

[2022-09-13 13:27] mikehardy commented on #12390
Hey @voidplayer :wave: - this may be possible, to have the gestures system do something like this. Can I ask what version of ankidroid you are using? If it is not already the latest alphas (at least as a side-by-side install) can you check there? Because the gestures system has already  had a huge amount of work, so we want to make sure you are using the latest stuff there to assign gestures etc.

[2022-09-13 13:52] voidplayer commented on #12390
Im using the latest alpha. settings> gestures and searching `preview` on top doesnt return results

[2022-09-13 13:58] mikehardy commented on #12390
Great - thanks for confirming. Seems the task is to:
- determine if the Previewer has any ability to do gestures at all? Unknown.
- add Previewer commands if they don't exist, for flip card (may be same as reviewer...) and next card and prev card

[2022-09-13 14:00] mikehardy commented on #11091
Some sort of windows flake in CI, using legacy schema

[code]

[2022-09-13 14:10] voidplayer commented on #12390
No gesture works on the preview window right now. I have many defined, like edit, go back,... and none works

i would settle with an easy way to go forward with a single hand but it would be great if other gestures like go back or edit or even show answer worked too :)

Thanks!

[2022-09-13 19:59] #11916 closed

[2022-09-14 01:57] mikehardy commented on #11091
Hmm - for the emulator test it's available as an artifact uploaded to the workflow which you may access by clicking on the summary, you can see an example here https://github.com/ankidroid/Anki-Android/actions/runs/3048002169

For the unit tests though (and the windows run is unit test only), not sure...

I made some provision for android logs to flow through here
https://github.com/ankidroid/Anki

[2022-09-14 02:54] kami-leo opened #12395 "[Bug] Syncing Issues"
1. Hello i am facing syncing problem and i am unable to login in ankidroid
2. ankidroid reports "you are currently offline" even though mkbile is connected to the mobile data is turned on.

[2022-09-14 03:27] mikehardy commented on #12395
Hi there! Are you sure you can log in directly to ankiweb using your mobile browser? That is worth checking:
https://github.com/ankidroid/Anki-Android/wiki/FAQ#sync-is-not-working

If that is working, you might try our latest alpha - if the app somehow detects you are offline but you *know* you are offline, it lets you just force it to try anyway. This can happen if you are on VPNs or other networ

[2022-09-14 04:55] viciousAegis commented on #12363
@david-allison IIRC this is expected behavior?

[2022-09-14 06:27] david-allison commented on #12345
Off-topic: congrats on issue 12345! 🚀🚀

[2022-09-14 07:00] david-allison commented on #10387
I'm happy to say @BrayanDSO has set a precedent and this can be closed as 'Done'

[2022-09-14 07:00] #10387 closed

[2022-09-14 07:01] david-allison commented on #10366
@viciousAegis is this still an issue?

[2022-09-14 07:46] david-allison commented on #12384
It's an assertion. It works. We gain no benefit by changing this code.

It's only used in one place in a (with a cleanup). There's no noticeable improvement in removing `!!` if we fix this, but it is planned.

----

It's useful to go the PRs to get context. I apologize for not placing all justification in the commit messages.

- https://github.com/ankidroid/Anki-Android/pull/10429
- https://github

[2022-09-14 08:41] david-allison commented on #11326
See: https://github.com/ankidroid/Anki-Android/labels/API for a few issues which we will want to address before this

[2022-09-14 09:34] BrayanDSO commented on #12384
Keeping the "muscle memory" of the arguments order is reasonable to me. Getting rid of the junit Java dependencies too. And yes, getting IDE support instead of linting would be great

[2022-09-14 09:37] viciousAegis commented on #12363
On entering an empty search, it defaults to `deck:*` and searches for all cards

[2022-09-14 09:39] viciousAegis commented on #10366
No, works fine now. Not sure what fixed it

[2022-09-14 09:40] #10366 closed

[2022-09-14 09:41] david-allison commented on #12363
Since we have the deck picker spinner, I don't think we'll want to follow that behaviour exactly. It does imply support that our 'do nothing' is incorrect

[2022-09-14 09:44] viciousAegis commented on #12363
I think we can search for `""`. Doing that on the `Clear` functionality for filter sheet shows all cards

[2022-09-14 17:53] criticalAY commented on #12364
@david-allison  I was working on Intent.getParcelableExtra but when I am trying to update the method it gives an error and not recognizing the API level 33 intent removing the @supress also throws an error while building up the application.

[2022-09-14 18:03] david-allison commented on #12364
Look up the method: `getParcelableExtra`: https://developer.android.com/reference/android/content/Intent#getParcelableExtra(java.lang.String,%20java.lang.Class%3CT%3E)

https://developer.android.com/reference/android/content/Intent#getParcelableExtra(java.lang.String,%20java.lang.Class%3CT%3E) is recommended instead.

* Look into our `Compat` mechanism and see if we can use this here: https://gith

[2022-09-14 19:02] criticalAY commented on #12364
I found https://stackoverflow.com/questions/73019160/android-getparcelableextra-deprecated/73311814#73311814 which explains the usability of getPracelableExtra in API >=33

[2022-09-14 21:10] kami-leo commented on #12395
Actually only the version of anki present in Play store can be installed. And all the versions are not being installed, and a message"app is not installed appears" in my Android phone having android version 11.
Plz help me fixing this problem. My whole week has been wasted away in fixing this problem.

[2022-09-14 21:38] SvitlanaShumilova commented on #12364
@david-allison Working on Parcel.readSparseArray

[2022-09-14 23:07] kami-leo opened #12402 "[Bug]"
Hello i am facing syncing problem and i am unable to login in ankidroid
ankidroid reports "you are currently offline" even though mkbile is connected to the mobile data is turned on.
Actually only the version of anki present in Play store can be installed. And all the versions are not being installed, and a message"app is not installed appears" in my Android phone having android version 11.
Plz he

[2022-09-15 01:19] david-allison commented on #12402
Duplicate of #12402

[2022-09-15 01:19] #12402 closed

[2022-09-15 01:20] david-allison commented on #12395
What happens when you install this: https://github.com/ankidroid/Anki-Android/releases/download/v2.16alpha84/AnkiDroid-2.16alpha84.parallel.A.apk

[2022-09-15 02:52] santiyounger commented on #10411
can't wait to update ankidroid to V3, thanks a lot! What are potential risks of using this alpha version with v3 scheduler? has anyone found any limitations? is it safe to use it, or is it just for testing?

Thanks for making Anki in android a great experience

[2022-09-15 05:41] pavreh commented on #11982
Night mode do not work at all in AnkiDroid 2.16alpha84.

[2022-09-15 07:12] david-allison opened #12404 "Night mode does not work at all in AnkiDroid 2.16alpha84."
Night mode do not work at all in AnkiDroid 2.16alpha84.

_Originally posted by @pavreh in https://github.com/ankidroid/Anki-Android/issues/11982#issuecomment-1247607681_

[2022-09-15 07:42] david-allison commented on #12404
Rebase in:

<details><summary>Regression Test: AnkiActivityTest.kt</summary>

[code]

</details>

[code]

<details><summary>Bisect details</summary>

[code]

</details>

@mikehardy issue is apparently cdaa607bf1d4f4af8570412fd6a6f67e38d073cc

Want to fix-forward, or revert?

[2022-09-15 16:00] mikehardy commented on #10411
We have had a few crashes for people using the new-backend / v3 scheduler combo, but when I say "few" I think the count is...3? or 4? And typically we are able to fix them within a couple days + they only occur with specific actions (which you may avoid in the meantime). That is actually a huge service to us as well, as it allows us to hear about + locate + fix the problems early while just a few

[2022-09-15 16:05] sumanarlert commented on #12364
Hey, I was working on Bundle.getParcelable.
The method in API level 33 is
`public T getParcelable (String key, Class<T> clazz)`

I'm not sure which class should be mentioned here
`mPreviousImageUri = savedInstanceState.getParcelable("mPreviousImageUri")`
Is it Uri::class.java ?

Also if I add a class, it says Call requires API level 33, should I surround it with `if (Build.VERSION.SDK_INT >= 33)`

[2022-09-15 16:30] mikehardy commented on #12404
fix-forward, we're still in alpha. For beta or or stable would just revert.
I always worry when appcompat moves a minor version, I was half expecting this...

From the PR:

So, it *is* "interesting". Joy :-)

https://developer.android.com/jetpack/androidx/releases/appcompat#1.5.0 says:

Possible hit: https://issuetracker.google.com/u/1/issues/239882532 (noting @pavreh lists device as Android 12 ty

[2022-09-15 17:36] david-allison commented on #12404
I've posted a failing unit test above. I was testing on an Android 11 physical device

[2022-09-15 17:44] mikehardy commented on #12404
Got it re: Android 11. Glad we're not dealing with the above issue I linked then - or (alternative read) perhaps it will be a multi-bug with different effects.

If that's the case then, my reading of the changelog from appcompat 1.4.x to 1.5.x was that something about the attaching of contexts, their resources, their precedence, and how changes propagated from changes in the same, is different bet

[2022-09-15 18:39] david-allison commented on #12404
I had a brief look, there was a single recursive call on `onConfigurationChanged(newConfig)` which could be problematic.

making an immutable copy (`Configuration(newConfig)`) appeared to fix this: but I'd like an investigation into what went wrong.

I'm not going to have time to take this further.

[2022-09-15 19:23] BrayanDSO commented on #12404
Oh boy. I'll look this on the weekend if I get the time

[2022-09-15 20:23] david-allison commented on #12364
It's a Uri:

See: https://github.com/ankidroid/Anki-Android/blob/3f464f6f4cdc35a8b62e9ad9f93a2bb6efbe3306/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/BasicImageFieldController.kt#L85

See our [compat infrastructure](https://github.com/ankidroid/Anki-Android/tree/main/AnkiDroid/src/main/java/com/ichi2/compat) for how to handle this. There's already a thread on [Discord](https://dis

[2022-09-15 20:41] #11690 closed

[2022-09-15 21:14] shmuelsash commented on #10411
Is there a timeline for when this will be out of testing?

[2022-09-15 21:16] mikehardy commented on #10411
With sincere apologies, I do not answer timelines in open source projects as a general rule. There can be no reliable deadlines in volunteer projects so committing to one just leads to disappointment for users and guilt for volunteers.

It is one of our highest priorities though, I can assure you of that. It's blocked pending this issue, you may follow it if you want updates - when it closes, we'l

[2022-09-16 02:21] david-allison commented on #12364
#12410 adds this infra, and should be a good starting point

[2022-09-16 05:00] escape0707 commented on #12395
Anyway if you want help you will have to tell devs more info about which APK you can't install and exactly what store you see. Better with a screen shot of the exact version of APK and error message.

[2022-09-16 17:35] cindynap opened #12420 "[Bug] Not able to edit with press and hold on mobile."
When editing, Anki is forced to quit once a press and hold to select the text is attempted.

###### Reproduction Steps

###### Expected Result

###### Actual Result

###### Debug info
AnkiDroid Version = 2.16alpha83

Android Version = 10

Manufacturer = HUAWEI

Model = MAR-LX1A

Hardware = kirin710

Webview User Agent = Mozilla/5.0 (Linux; Android 10; MAR-LX1A Build/HUAWEIMAR-L21A; wv) AppleWebKit

[2022-09-16 18:25] mikehardy commented on #12420
Thank you so much for opening the issue with your crash ID - here's what I pulled from our crash trace database:

[code]

This is related to #12316  (and #12381) - and it appears that one affected you as well but the supposed fix to that was released in 2.16alpha83

When we discussed this on the mailing list, I was under the impression you were on 2.16alpha84 (note 84!) but it appears the crash is

[2022-09-16 19:29] criticalAY commented on #12364
are you still working on it?

[2022-09-16 19:31] priyanshuborole commented on #12364
Yes I am working on it, give me 1-2 days if not possible I will update you

[2022-09-16 20:07] cindynap commented on #12420
Hi guys, I went to check the version and it was alpha 3. So I just upgrade
to 4 and no problem now, Thank you so much.

I am so sorry to waste your time.

Mike Hardy ***@***.***> 于 2022年9月16日周五 下午2:26写道：

[2022-09-16 21:37] #12420 closed

[2022-09-16 21:37] david-allison commented on #12420
Thanks for alpha testing regardless!

[2022-09-16 22:21] mikehardy commented on #12420
@cindynap echoing David - no problem at all! We're really happy to another tester, and one willing to log issues is even better :-). If you see anything else please let us know. Happy reviewing

[2022-09-17 11:15] jjijen opened #12424 "Option for the front of the card to be displayed on screen even after pressing "show answer""
My japanese cards are built in such a way that the front has Audio only, and after pressing show answer the front will then reveal the japanese notation with kanji,  and the back\answer will display the english translation etc.
On ankidroid, pressing show answer automatically fils my screen only with the back of the card, but the first thing I want to see is the notation that is written in the fro

[2022-09-17 11:35] jjijen opened #12425 "Gamepad controls\key maps - option for simultanious presses, long presses, double taps."
I'm having a problem setting up a minimalistic mapping for anki using only the headphone buttons - vol up , down, and headphone key.   using double taps, long holds, or simultanious inputs , I can execute all the actions I need with only 3 buttons.
for me it is crucial if i want to do listening card on walks,  and also intuitively  have all the keyboard shortcuts for flags, sync etc - using a comf

[2022-09-17 12:16] criticalAY commented on #12364
Hey! Are you working on it? coz if not then I would like to overtake it.

[2022-09-17 12:30] MohitGupta121 commented on #12251
Is this issue is still open @abdnh ?

[2022-09-17 12:39] BrayanDSO commented on #12424
Both Anki and AnkiDroid automatically scrolls to a HTML element with the id of `answer`. As your desktop screen is bigger, you may have not noticed it, as it may show all the content at once

Could you check if there is something like it on the back of your note type? Searching for `id="answer"` then removing it should fix this.

[2022-09-17 12:44] BrayanDSO opened #12426 "Browser's filter sheet's `clear` string is hardcoded"
Noticed this while reviewing #12409

https://github.com/ankidroid/Anki-Android/blob/46f31e8af6cd0edff70b607221998fc4413758a5/AnkiDroid/src/main/res/layout/filter_bottom_sheet.xml#L34-L35

Haven't found a justification on the original PR, and we have a `Clear` string anyway, so it's best to use it

Pinging @viciousAegis

[2022-09-17 12:50] MohitGupta121 commented on #12276
@heilil I want to work on this issue can someone assign me this.

[2022-09-17 13:01] abdnh commented on #12251
Yes.

[2022-09-17 13:04] BrayanDSO commented on #12425
I like the `Long press` and `Double tap` ideas, and I believe that it is possible to do it.

[2022-09-17 13:07] MohitGupta121 commented on #12251
I want to work on this, can you please assign me?

[2022-09-17 14:51] #12379 closed

[2022-09-17 14:51] #12249 closed

[2022-09-17 15:45] yashjani01 commented on #12426
@BrayanDSO analyzing it..

[2022-09-17 16:22] viciousAegis commented on #12426
Oops. @yashjani01 would you like to work on fixing this? should be simple

[2022-09-17 17:07] SvitlanaShumilova commented on #12364
I'm working on Parcel.readSparseArray and there is only one place it occurs, which is com/ichi2/anki/FieldEditLine.kt:249
But it looks like it's never used in the project and I can't find a way to test it. What am I supposed to do?

[2022-09-17 17:29] Basemz opened #12428 "[Bug]"
![Screenshot_20220917-201601_AnkiDroid](https://user-images.githubusercontent.com/113794099/190869267-5a1e4e22-d9b8-4227-97f3-e63bb893caec.jpg)
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character

[2022-09-17 18:23] mikehardy commented on #12428
Hi there! With apologies, you've ignored the template for our issues, so we do not have the information to go on in order to troubleshoot this, so I am going to close it as not actionable.

I will say in the past this happens when people have storage cards formatted as exfat and they have lots and lots of media, as that filesystem format cannot handle many files in the same directory. This is rare

[2022-09-17 18:23] #12428 closed

[2022-09-17 18:25] david-allison commented on #12425
Sounds good to me, thanks for the writeup!

[2022-09-17 18:27] abdnh commented on #12251
You should ask @mikehardy about this (I'm not a maintainer). But looks like no one is working on this yet, so I would say go ahead!

[2022-09-17 18:28] Basemz commented on #12428
what should i do?, please

On Sat, Sep 17, 2022 at 9:23 PM Mike Hardy ***@***.***> wrote:

[2022-09-17 18:29] MohitGupta121 commented on #12251
Okay sure, @mikehardy can you assign me this issue if no one is working on this.

[2022-09-17 18:38] mikehardy commented on #12428
Open a new issue, read the template that is in the new issue box, and follow it's instructions

[2022-09-17 18:41] mikehardy commented on #12251
Sure! If no one else is working on something and you drop a comment saying you're working on it that's good enough I think.

If you see an issue that you want to work on and someone mentioned they already are but it has been a couple weeks, you can just ask if they are still working on it and go from there depending on response ( ...or if no response in a couple days)

[2022-09-17 18:48] MohitGupta121 commented on #12251
Okay sure, @mikehardy I'll take care of that next time.

[2022-09-17 18:49] MohitGupta121 commented on #12251
Is there no need to assign issues? I continue my work and raise PR?

[2022-09-17 18:55] mikehardy commented on #12251
We have enough people working on the repository that as maintainers we just can't keep up with issue assignments etc - we need people to self-organize a bit more, even in the absence of official assignments. So a polite system of dropping a comment / checking on status of previous commenters if needed, then going ahead can work well I think. I happen to be here right now so I can assign it but I t

[2022-09-17 18:55] mikehardy commented on #12251
Should be said: thanks for the interest in working on it either way :-), very appreciated

[2022-09-17 18:59] MohitGupta121 commented on #12251
Yep great. Thank you for clearing my doubts. I'll start working on this issue.
Okay I take care for that next time and see previous comments to get the issue stage.

[2022-09-17 19:06] Basemz commented on #12428
It’s really complicated, I am trying to understand really hard but it
didn’t seem to work.
I am really sorry, but i really need to fix this issue.

Thank you so much for your time and kindness

On Sat, 17 Sep 2022 at 9:39 PM Mike Hardy ***@***.***> wrote:

[2022-09-17 19:47] Arthur-Milchior commented on #12366
Thinking more about it, I believe the most obvious actions one should be able to do is :
* reduce the number of back-up
* delete the back-ups
* check media (deleting unused ones)

That's the only thing that takes space and can be deleted without içpatsimh sfe tojjetsiom

[2022-09-17 20:13] ShridharGoel commented on #12426
@yashjani01 Are you working on it? Asking since @pratyaksh1610 has raised a PR but you had already commented here.

[2022-09-17 20:36] BrayanDSO commented on #12384
@david-allison, `kotlin.test.assertNotNull` doesn't take message first (https://github.com/JetBrains/kotlin/blob/v1.7.10/libraries/kotlin.test/common/src/main/kotlin/kotlin/test/Assertions.kt#L143-L156)

---
And about hamcrest, I'm in favor of keeping it too. Pretty powerful and makes things more readable

[2022-09-17 20:49] viciousAegis commented on #12426
@pratyaksh1610 Please comment on the issue that you'll be working on it so other people don't have to spend their time doing something that's already in progress :3

[2022-09-17 21:26] mikehardy commented on #12366
:thinking:

[2022-09-17 21:37] Arthur-Milchior commented on #12366
Corrected.

[2022-09-17 21:49] david-allison commented on #12384
I've elaborated. A single argument is `asserNotNull(col)` without the message at all

[2022-09-17 22:08] mikehardy commented on #12366
For a second I was worried for you - either your health with some stroke or similar, or perhaps an out of control cat on the keyboard :laughing:

[2022-09-18 00:58] yashjani01 commented on #12426
😪 I was working on it. But the problem has been solved.
@pratyaksh1610 👍

[2022-09-18 01:26] BrayanDSO commented on #12384
What do you mean by `correct` here? Message first or latter? (although saying `correct` for either of those isn't right, IMO)

Personally, having optional parameters first confuses me.

Also, I didn't know there was a convention to use message first on the repo. Is this noted somewhere on the wiki on any other docs?

[2022-09-18 06:16] #12426 closed

[2022-09-18 06:48] Yoannjap opened #12432 "Crashing every time I try to record audio"
Hey,

I am using Ankidroid Version 2.16alpha84 (321600184).

Every time I touch the button record audio, Ankidroid crashes.

Thanks,

Yoannjap

[2022-09-18 08:28] n1snt commented on #12364
Is anyone working on PackageManager depreciated interfaces?
If not I would love to work on it.

[2022-09-18 08:32] criticalAY commented on #12364
I don't think anyone is

[2022-09-18 09:51] sumanarlert commented on #12364
I'm not able to figure out a few things. So sure go ahead. I'll just watch and learn 😂

[2022-09-18 10:23] Arthur-Milchior commented on #11893
I don't really want to close it because there is a risk it occurs again, especially once released

[2022-09-18 11:45] JalinWang commented on #12404
On Android11, with alpha84
It works if the system is in dark mode when starting. However, it doesn't response to the change of uiMode. Killing then restarting is ok.

[2022-09-18 13:27] ShridharGoel commented on #12432
Can you share the debug info? Reference: https://ankidroid.org/docs/help.html

[2022-09-18 14:36] mikehardy commented on #11091
Looks like something racy that windows (just happens to be our slowest CI unit) appears to expose:

[code]

[2022-09-18 15:19] mikehardy opened #12435 "Crash during sync of collection with lots of media"
###### Reproduction Steps

1. Install AnkiDroid 2.16alpha84, configure it for new backend
2. Load up a collection in AnkiWeb (somehow, via AnkiDesktop perhaps) with lots of media
3. sync in AnkiDroid

###### Expected Result

It may take a while, but it should sync, with reasonable progress indication

###### Actual Result

It appears to crash. I'm working with the issue reporter now to get more de

[2022-09-18 16:03] mikehardy opened #12437 "Failing unit test in local testing - AnkiStatsTaskHandlerTest > testCreateReviewSummaryStatistics AnkiStatsTaskHandlerTest > testCreateReviewSummaryStatistics"
###### Reproduction Steps

1. checkout main (test environment is Ubuntu current, with JDK11)
2. run `./gradlew jacocoUnitTestReport`
3.

###### Expected Result

clean run

###### Actual Result

one test failure, why is there a hanging coroutine?

[code]

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Rese

[2022-09-18 16:49] mikehardy commented on #11091
windows unit test just kicked out the one above :point_up: again plus this one:

[code]

[2022-09-18 17:06] #10622 closed

[2022-09-18 19:46] MagTun commented on #11275
Will this be implemented?

[2022-09-18 20:03] ShridharGoel opened #12439 "Discussion of `withCol` migration"
Edit by @Arthur-Milchior .
This issue is here for reviewers to discuss the details of the migration. If you just want to contribute, you can go on #12495 to see how to do it. Feel free to ignore this issue, or on the contrary, to read it entirely to see how we reached an agreement.

------------------------------------------

Original post:

This was suggested by @Arthur-Milchior over Discord.

Re

[2022-09-18 20:05] ShridharGoel commented on #12437
@divyansh-dxn

[2022-09-18 20:17] mikehardy commented on #11275
@MagTun yes actually - we are slowly working through using the desktop code for all scheduling

[2022-09-18 20:41] Zec69 opened #12441 "[Bug] Ankidroid widget bug"
Ankidroid widget doesn't show anymore the badge for cards due and i can't get it back.
![IMG_20220918_224129](https://user-images.githubusercontent.com/90362342/190927362-4bacee0e-70ef-4718-b64f-95060f631e66.jpg)

[2022-09-18 20:53] mikehardy commented on #12441
Hi there! It appears you have opened a new issue and specifically selected all of the template and deleted it.
That's a shame, it makes it hard to help.
Could you open a new issue and follow the instructions in the template? Most importantly, the debug information, as requested with a helpful link on how to get it

[2022-09-18 20:53] #12441 closed

[2022-09-18 22:24] vi opened #12442 "Hierarchical deck chooser when adding new note."
**Is your feature request related to a problem? Please describe.**

When I use Share menu to add new card to AnkiDroid, it [rarely defaults to the deck i want][1], so I need to choose it from "Deck:" combobox.
But with many mini-decks it is cumbersome to scroll though `s::a::OneMinideck`,`s::a::AnotherMinidesk`, `s::b::YetAnother12CardsDeck` to get to the e.g. `words` deck at the end of the list.

[2022-09-18 22:28] vi opened #12443 "When adding new note, default to the deck chosen for adding before, not the deck last learned."
**Is your feature request related to a problem? Please describe.**

When I add a note to AnkiDroid using "+" button or using "Share" action from other app, the default deck for a note to be added to seems to be the last deck I studied.
It means when I adding multiple notes using multiple "Share -> Anki card" actions, I need to choose the deck each time.

**Describe the solution you'd like**

I'd l

[2022-09-18 23:35] david-allison commented on #12442
I feel this is fixed in 2.16, can you check it works as expected https://github.com/ankidroid/Anki-Android/releases/download/v2.16alpha85/AnkiDroid-2.16alpha85.parallel.A.apk

[2022-09-19 00:13] dae commented on #12437
Here's a patch that I started on a while back and forgot about. It switches the custom dispatcher usage in that routine to withCol, and converts the test to check the success path instead of the failure path, since that seems more useful. I can't reproduce the test hang here - does this fix it for you Mike?

[code]

[2022-09-19 00:27] dae commented on #12439
For some background on why such a change is recommended, see https://github.com/ankidroid/Anki-Android/pull/11849

Because withCol is a coroutine, it needs to be called in a coroutine context - either inside another suspend function, or by launching an asynchronous task, eg

[code]

might become

[code]

Note how code that depends on the result of some collection routine needs to be placed inside

[2022-09-19 00:40] BrayanDSO opened #12444 "Add filtered Deck option to the card browser"
**Is your feature request related to a problem? Please describe.**
Anki desktop has an option on the card browser to create a filtered Deck. When you use it, the filtered dialog is opened with the browser's current query. This is pretty handy to see which cards you want to study before creating a filtered deck

**Describe the solution you'd like**
Similar function being added to AnkiDroid

[2022-09-19 00:57] BrayanDSO commented on #12442
Currently, tags are hierarchical and decks are "semi" hierarchical. When I say "semi" is because the dialog isn't a collapsible tree view, but it has hierarchical indentation at least.

I haven't looked at the tag dialog code, but I suppose it shouldn't be hard to abstract part of it and reuse it on the deck dialog, especially because both decks and tags use a similar (perhaps equal) name/hierarch

[2022-09-19 01:01] BrayanDSO commented on #12443
Have you tried the `Deck for new cards` setting? I think it's under `Reviewing` on AnkiDroid 2.15.6 (version you are using)

[2022-09-19 01:34] vi commented on #12443
I see "Deck for new cards" setting in "AnkiDroid. General settings" group instead of "Reviewing. Non-deck-specific reviewer settings".
The setting has only two options: "Use current deck" and "Decide by note type". I don't understand what does "note type" mean when creating new note, especially when sharing text fragment from a browser.

[2022-09-19 01:40] vi commented on #12442
Just indentation alone won't save one from using multiple gestures to scroll though 70+ decks to reach the last one.

[2022-09-19 03:24] #11887 closed

[2022-09-19 04:07] priyanshuborole commented on #12364
yes, you can start working on it.

[2022-09-19 07:31] Arthur-Milchior commented on #12439
Thanks a lot for creating the issue and adding explanation.
I add a "good first issue" tag as a test. I believe many such changes can be easy.
If it does not work I’ll remove it.

Note that some objects such as card, note, deck manager, keep a copy of it’s collection. We should use this copy.

[2022-09-19 08:35] dae commented on #12439
Sadly the current API passes a reference to the collection into each Card/Note object, meaning that calls to things like card.note() result in a DB query. To ensure this is correctly guarded, any methods that invoke a DB query should be invoked inside a withCol block, eg:

[code]

In the long term, upstream should avoid passing a collection handle into cards/notes, so that collection references ar

[2022-09-19 11:41] Arthur-Milchior commented on #12439
I tried to create a page that explains to someone who is new to `withCol` everything they need to know, without needing to look at various PR and issues to get context. Which also explains how to do the migration.
One of the goal is that each of you, who know this field correctly, can edit the page. So that a new contributor don't see a list of people disagreeing with each other and fear that the

[2022-09-19 14:18] pavreh opened #12448 "[Bug] Some dialogs remain in original language after a language change"
###### Reproduction Steps
1. Have AnkiDroid in system language
2. Change language to a different one (in this case English)

###### Expected Result
Language of the whole app is changed.

###### Actual Result
Language is changed for the most of the app but some dialogs remain in the original language.
Affected dialogs:
1. Check database
2. Check media
3. Restore from backup
4. Interval in Card Brow

[2022-09-19 14:30] mikehardy commented on #12448
Hey nice one!

[code]

Those dialogs you mention are starting to come from the Anki Desktop code and it's translation services, for you, since you are using the new backend.

(did you realize that also implied using a whole new set of translations and different tranlation service? it does - it is such a big change...but that's not something users really care about)

@dae - So it seems this bug may

[2022-09-19 15:05] krmanik commented on #8274
@mikehardy @david-allison

I have updated this shell script to find broken strings. The typescript approach is slower and may not catch the expected errors.

This is added in below script.
[code]

Will this script handle the expected errors?

[code]

[2022-09-19 15:07] JalinWang commented on #12404
missing our overrides. To counteract this, we let the delegate re-apply
overrides and then we replace the configuration update contents with the
desired overridden configuration contents.

https://android-review.googlesource.com/c/platform/frameworks/support/+/2137592/6#message-51139a0652cac062e09bf0185413dc938b30024a

It seems to be the cause.

[2022-09-19 15:43] krmanik opened #12451 "May be plurals added to following strings"
Running following lint give warning for the strings that should be changed to plurals.
[code]
http://tools.android.com/tips/lint-checks

Result
[code]

[2022-09-19 15:58] pavreh commented on #12448
@mikehardy I realised a lot of translations are from Pontoon and I have been wondering if these translations will be updated for every (alpha) release as Crowdin translations are. Moreover,  if you tap Support AnkiDroid - Translate in AnkiDroid, it leads to Crowdin only. There could be links to both, Crowdin and Pontoon. But it is a topic for a new issue. :-) I am glad to help.

[2022-09-19 16:12] krmanik commented on #8274
The lint catch the errors that I am trying to implement in `check.ts` file.

The following lint check errors in localized strings also and it is faster.

Check string format errors like `%1$ s` (space after $) and other errors in `<string>`
[code]

Check error for `%1 $s` (space after %1)
[code]

Check if localized string contains `one`, `few`, `many`, `other` for quantity strings
[code]

include

[2022-09-19 16:33] mikehardy commented on #12451
Oh! Really nice find

[2022-09-19 16:39] mikehardy commented on #12448
Indeed -

1) we need to start messaging the changes for translators in AnkiDroid (contributing, support etc) that Pontoon is a place to help with translations as well as Crowdin,

2)  *and* we need to work on frequency/freshness of the Pontoon translations which are at this point pretty static (we have not ingested changes from that system in months, and...have no plan to do so right now which is

[2022-09-19 16:39] mikehardy opened #12452 "Add Pontoon as a place for translators to help (contributing/support messaging)"
We need to start messaging the changes for translators in AnkiDroid (contributing, support etc) that Pontoon is a place to help with translations as well as Crowdin,

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/12448#issuecomment-1251267309_

[2022-09-19 16:40] mikehardy commented on #12452
If you are wondering what Pontoon is, check ankitects / ankiweb.net for documentation on how to contribute to upstream AnkiDesktop, it is their translation platform and we are starting to access some of their translations now, so Pontoon is something people using AnkiDroid may want to use in order to fix/add translations that will then show up in AnkiDroid

[2022-09-19 17:05] mikehardy opened #12453 "V3 scheduler crash while resuming / updating deck counts"
###### Reproduction Steps

1. Unknown exactly - but logcat looks pretty robust, can perhaps fish out the scenario from there?
2.
3.

###### Expected Result

no crash

###### Actual Result

crash

###### Debug info

https://ankidroid.org/acra/app/1/bug/11281/report/b0298c9f-9f03-4511-87b8-2258d1cce41a

[code]

logcat

[code]

###### Research
*Enter an [x] character to confirm the points below:*

-

[2022-09-19 18:13] krmanik opened #12455 "Plurals error in Hindi language in `03-dialog.xml`"
###### Reproduction Steps

1. Change directory `res` dir
[code]
2. Run lint from command line for `res` dir
[code]

The fix should be done on https://crowdin.com/project/ankidroid

###### Expected Result

The lint should not give errors.

###### Actual Result

[code]

https://github.com/ankidroid/Anki-Android/blob/915f11b552e1714d865d5180190458795e0e142d/AnkiDroid/src/main/res/values-hi/03-dialogs

[2022-09-19 18:24] divyansh-dxn commented on #12437
@dae I din't got why we are asserting null, actually It is passing so that implies I didn't understood.

From my understanding, first we're creating an instance of deckpicker with open collection. From the function definition, if collection is closed the it should return null else a non-null string.

Now my question is what did I miss here? From this perspective we should be asserting non-null wit

[2022-09-19 18:24] #12455 closed

[2022-09-19 18:38] krmanik opened #12456 "Missing quantity lint errors in French language i18n resources"
###### Reproduction Steps

1. Change directory `res` dir
[code]
2. Run lint from command line for `res` dir
[code]

The fix should be done on https://crowdin.com/project/ankidroid

`one` `few` `many` and `other` plural rules.
https://unicode-org.github.io/cldr-staging/charts/37/supplemental/language_plural_rules.html

[code]
More information:
http://developer.android.com/guide/topics/resources/str

[2022-09-19 18:42] divyansh-dxn commented on #12437
@mikehardy can you checkout https://github.com/ankidroid/Anki-Android/pull/12457/commits/1a0685155cd3fd0b2bed83cf84a28ef47cfeec17 and let know if it works or not?

[2022-09-19 18:57] criticalAY commented on #12364
Could you please review the last PR so that I can move on to the other one?

[2022-09-19 19:07] criticalAY opened #12458 "Per-app language preferences in Android 13"
We know that android 13 is supporting per app language. And we can access that by :: Settings > System > Languages & Input > App Languages > selecting the app(our case AnkiDroid)

We can add this to our application. Would be more convenient?

We can achieve so by placing `android:localeConfig ` attribute in your app's manifest. And complete the whole procedure?

[2022-09-19 19:14] mikehardy commented on #12364
@criticalAY if you examine the volume of work in flight at any time (https://github.com/ankidroid/Anki-Android/pulse) you'll see you have to have some patience, especially since we are essentially all volunteers. Sometimes things are very very fast, sometimes they sit, it is not predictable. However, if you feel you have that PR under control, you can take on another one - that's fine. I would onl

[2022-09-19 19:19] mikehardy commented on #8219
I fixed this already - commit https://github.com/ankidroid/Anki-Android/commit/68c6d6ebd42ba45589af0110c3d2eed5e87c40e9

[2022-09-19 19:19] #8219 closed

[2022-09-19 19:23] Arthur-Milchior commented on #12439
Quoting #11849

It seems that @david-allison has some objection with this particular example (that I reused). In this case because `decks` already caches the set of decks and hence the number of decks. And so this should not require an async call unless maybe we are really at the first time we fetch the deck manager.

Sadly, discussion was on discord, so I try to recap it here; first because I kno

[2022-09-19 19:27] mikehardy commented on #12458
It is...a lot more difficult then that I think. We have considered it, or at least I have considered it.
It's really important to know what problem you are trying to solve.
Check these out:
https://github.com/ankidroid/Anki-Android/pull/10027#issuecomment-1006670058
https://github.com/ankidroid/Anki-Android/pull/10027#issuecomment-1065135049

So the problem is multiple:
- including all translation

[2022-09-19 19:27] #12458 closed

[2022-09-19 19:31] mikehardy commented on #12364
I believe the various SDK33 deprecations will not conflict with each other, each of them should be in different chunks of text which git should ideally be able to handle just fine on merge. Even if not, handling conflicts via git rebase / fixing conflicts / force push to your branch is one of the most powerful things you can learn as a modern software developer (where "modern" is defined as "we ar

[2022-09-19 19:58] mikehardy commented on #12437
It appears to work!

[code]

[2022-09-19 20:30] Arthur-Milchior commented on #11891
Hi @Feripe-a
Sorry we forgot to answer you. @divyansh-dxn, hopefully, fixed the issue on the 22-th of july. Did you try to update since then and was the error corrected?

[2022-09-20 00:55] dae commented on #12439
Sorry for the confusion; your interpretation is what I meant.

Note that CollectionManager is in the GUI anki module, not in libanki. This means all the code in libanki can remain as normal functions and remains easy to reason about (1). On the GUI side, you call withCol to await a handle to the collection, and then you can perform whatever synchronous operations you want on it before returning co

[2022-09-20 01:07] dae commented on #12448
The question shown before checking a database is an Android string; the message shown after finishing is a backend one. I tested switching languages in the general settings, and the former did not change, but the latter did, so it seems the backend is performing correctly here, and the issue lies elsewhere.

[2022-09-20 01:10] dae commented on #12437
@divyansh-dxn I think the name startActivityNormallyOpenCollectionWithIntent() is probably a bit misleading here - the collection is lazily loaded on first access, and this code seems to run before the deck picker has a chance to load the collection.

[2022-09-20 02:36] dae commented on #11091
In my latest PR CardBrowserTest > checkDisplayOrderPersistence FAILED happened on both Ubuntu and Windows; retrying now.

[2022-09-20 03:08] dae commented on #11091
Failed again. Will push a probable fix.

[2022-09-20 06:26] SySagar commented on #12363
Hello , @david-allison , I would like to work on it.

[2022-09-20 07:59] dae commented on #12439
Another thing that should probably be documented is the potential to introduce unit test flakes. When a routine is converted from directly accessing the collection to using launchCatchingTask, unit tests that expect the routine to have completed by the time it returns may start to flake when the launched task fails to complete before the unit test proceeds. This is usually pretty easy to fix - by

[2022-09-20 08:53] #12437 closed

[2022-09-20 12:49] mikehardy commented on #12448
Well... :hankey: - re-labeling. Thanks for checking

[2022-09-20 12:59] mikehardy commented on #12363
Hey @SySagar go right ahead, good luck!

[2022-09-20 13:09] JalinWang commented on #12404
This bug is introduced by the delegate who applies the overwritten config to the activity. It's fixed by https://android.googlesource.com/platform/frameworks/support/+/335eddbfe69984a079881274ebb72402f9adaf72%5E%21/#F0 which included in [appcompat:1.6.0-rc0](https://developer.android.google.cn/jetpack/androidx/releases/appcompat#1.6.0-rc01).
I'll make PR when 1.6.0 is officially released.

[2022-09-20 13:42] mikehardy commented on #12404
Hey @JalinWang fantastic! I don't see any problem with including an rc dep as a PR now if it really fixes things.
Historically the rc -> stable transition for appcompat appears to be about 3 weeks, and dependabot will let us know to bump it to stable automatically so there won't be any follow-on, and this will be fixed now

[2022-09-20 14:44] #11334 closed

[2022-09-20 17:43] #7766 closed

[2022-09-20 20:40] lonewolf2208 commented on #12452
Hey @mikehardy , greeting. I am eager to work on this issue . Can you please assign this issue to me?

[2022-09-20 20:49] divyansh-dxn commented on #11891
Waiting for a reply by @Feripe-a, once confirmed issue may be closed.

[2022-09-20 21:55] mikehardy commented on #12452
Sure - cheers!

[2022-09-20 22:16] santiyounger commented on #10411
Thanks @mikehardy  you are the man, will definitely go for it! thank you for your incredible work, if I find any issues is this the best place post them?

[2022-09-20 22:26] mikehardy commented on #10411
I do work hard on it, but this is a really big team now and lots are working hard to make the new scheduler (and everything else) work, that's for sure :-)

Report them either here or a completely new issue, with a lean towards completely issue, with debug information requested (especially if it's a crash, the "ACRA UUID" - your anonymous crash tag - lets us find the trace so we can fix it

[2022-09-21 00:04] homocomputeris commented on #12452
As a proofreader of both projects, I'd like to note that Pontoon is, unfortunately, far inferior to Crowdin.

[2022-09-21 00:07] homocomputeris commented on #12448
This string is missing both at Crowdin and Pontoon:

![photo_2022-09-21_03-05-29](https://user-images.githubusercontent.com/7422433/191385943-fb8a7be7-9b03-4081-be38-e2379192c859.jpg)
[code]

[2022-09-21 03:29] dae opened #12468 "Media sync screen in new schema needs improving"
There are a few issues with the current implementation:

- When the user taps on "background", there's no way to see that the sync is continuing, or to bring it back to the foreground. If the sync button checked if media was currently syncing, then it could bring the screen back. Maybe the icon could be animated, or have some other badge shown when syncing?
- "background" is hard-coded in English

[2022-09-21 03:29] dae commented on #12448
I've logged the background one on https://github.com/ankidroid/Anki-Android/issues/12468

[2022-09-21 04:19] #12404 closed

[2022-09-21 07:35] dae commented on #12448
Issue with Check Database appears to exist in the stable release as well, so this doesn't look like a (recent) regression.

[2022-09-21 08:36] lonewolf2208 commented on #12452
Hey @mikehardy, I am new to this repo, so could you please guide me a bit more and elaborate on the issue. Also, how should I proceed to fix the issue?

[2022-09-21 08:52] BrayanDSO commented on #12468
I believe that a progress notification would be good here

[2022-09-21 12:25] #12453 closed

[2022-09-21 12:27] mikehardy commented on #12468
Yeah I think it *has* to be a foreground-service connected to a progress notification or Android reserves the right to kill it at all times

[2022-09-21 12:35] mikehardy commented on #12452
First thing is to discover all the places that may be affected. When you are in a new codebase you've never seen, try

- Search the code base case-insensitive for the string in question, in this case "crowdin"
- For each location that is affected (discovered because it is related to "crowdin") add information in that place that "Pontoon" is also a place to do translations
- What is Pontoon? Go ove

[2022-09-21 12:54] user1823 opened #12471 "[Crash] Selecting the tags option in Note Editor causes a crash."
###### Reproduction Steps

1. Click on + icon to create a new note (or open an existing note from card browser).
2. Select the tags option in the note editor.

###### Expected Result
The user is shown a list of existing tags to choose from and an option to create a new tag.

###### Actual Result
The AnkiDroid app crashes.

###### Debug info
AnkiDroid Version = 2.16alpha85

Android Version = 7.0

M

[2022-09-21 12:57] user1823 opened #12472 "[Crash] Selecting filter by tag option in card browser results in a crash"
###### Reproduction Steps

1. Open the card browser.
2. Select the "filter by tag" option.

###### Expected Result
The user is shown a list of existing tags to choose from.

###### Actual Result
The AnkiDroid app crashes.

###### Debug info
AnkiDroid Version = 2.16alpha85

Android Version = 7.0

Manufacturer = motorola

Model = Moto C Plus

Hardware = mt6735

Webview User Agent = Mozilla/5.0 (Linu

[2022-09-21 12:58] user1823 commented on #12471
May be related to #12472

[2022-09-21 13:06] user1823 opened #12473 "More consistent dark mode experience"
In the latest alpha releases, the screens that have inherited code from Desktop Anki (e.g. the Statistics page) have gray background in Night Mode while the rest of AnkiDroid has a black background.

In my opinion, these new pages should also have a black background for a more consistent experience.

[2022-09-21 13:09] mikehardy commented on #12473
Interesting - this is going to cut across the repos - I think there was some script injection in our use of the desktop HTML/JS/CSS, I wonder if we have control over the theme in those? @krmanik are we able to change the colors of the desktop HTML/JS/CSS ?

[2022-09-21 13:17] user1823 opened #12474 "Text in the syncing screen seems to be too small"
The text in the popup window that shows the sync status doesn't seem to be in proportion with the size of the popup.
Though this is a minor issue, it does deserve attention because it just doesn't look correct.
![Screenshot_20220921-183743](https://user-images.githubusercontent.com/92206575/191514015-17945598-c882-4703-95d1-1f515aa5e63d.jpg)

[2022-09-21 13:18] mikehardy commented on #12471
Thanks for logging these! I see you are on the new schema + v3 scheduler, for people doing triage

Looks like this one from your install:
https://ankidroid.org/acra/app/1/bug/15378/report/8dc0f383-6a0e-4fab-882c-cf2ed015b1ca

I do not believe this is actually related to the new backend, this appears to be a general issue with sorting the tags

[code]

[code]

[2022-09-21 13:20] mikehardy commented on #12472
Thanks for logging this one too! I think I found it. I also think this is a more generic problem, not necessary v3/new-schema-related

Here's the installation:

https://ankidroid.org/acra/app/1/installation/c6a580cb-02cc-4970-b7a5-24615e6542e1/report

I think it's this crash:
https://ankidroid.org/acra/app/1/bug/15206/report/a7f86eac-1fac-4a7d-8bde-590a211475cb

[code]

logcat:

[code]

[2022-09-21 13:34] user1823 opened #12475 "Remove redundant pin option from the note editor"
In the latest alpha releases, the note editor contains a pin option for each field. In my opinion, this option is redundant because pinning any field would have no benefit.

The pin option is useful only in the Add note window, where it saves the user from retyping the contents of the fields while creating several cards with the same (or similar) contents in one or more fields.

The desktop versio