[2021-08-09 05:29] henon commented on #9379
Strangely enough, now it is working. All I did is install an OS update, but of course we can not know for sure if that is the real reason.
![Screenshot_20210808-234440_AnkiDroid](https://user-images.githubusercontent.com/44090/128646740-cbda68e6-b422-4e26-867a-a9b123652b2d.jpg)

AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = samsung

Model = SM-G996B

Hardware = exynos2100

Webvi

[2021-08-09 08:51] cafce25 commented on #9368
I have that problem, using UTC as my timezone everywhere, AnkiWeb and Desktop agree on the cards due and times, AnkiDroid disagrees. If anybody could point me to were this issue might be I can try to create a patch but I don't know the codebase at all.

[2021-08-09 09:43] noahwe145 commented on #9332
Hello,
I would like to work on this issue.

[2021-08-09 14:22] david-allison-1 commented on #9368
Perfect, thanks!

I believe it'll be a difference in the results of these variables on Android and Anki Desktop:

https://github.com/ankidroid/Anki-Android/blob/79981a009745916ce9fffeed9cee9bb74f4ee3e3/AnkiDroid/src/main/java/com/ichi2/libanki/sched/SchedV2.java#L2186-L2187

The Android values can be accessed via a debugger.

The Anki Desktop code to obtain these values is:

* Open console (`Ctrl+

[2021-08-09 14:41] david-allison-1 commented on #9332
Sounds good to me!

[2021-08-09 18:33] #9265 closed

[2021-08-10 06:37] prateek-singh-3212 commented on #9360
Yes, It is reproducable from both methods. Thanks for describing I am not aware about this. I will try to get back on this in future. (Taken Lot's of ISSUES in my Todo 😅 )

Feel free take this if anyone wants to.

[2021-08-10 07:34] prateek-singh-3212 commented on #8114
@david-allison-1 Updated UI, Hope this solves the above problem.
Removed Vibrate and Blink Light feature. We can set by default vibrate to true and blink light to white.

Figma Link:- https://www.figma.com/file/Mf36OjE4S1eNGKVqWtIeRJ/Untitled?node-id=13%3A95
![Screenshot 2021-08-10 at 12-38-17 Figma](https://user-images.githubusercontent.com/76490368/128824136-d3f884cf-5025-48cb-9f10-442c9ad812c6.

[2021-08-10 11:02] yasin459 commented on #9372
what should i do to fix this?
is default deck neccessary? or it's useless and we just need to delete it from cardbrowser deck drop down?

[2021-08-10 12:24] yasin459 commented on #9323
so, i understand that "add image" must be visible, but what do you exactly want?
obviously, if I comment these lines, add image will work properly(without a camera)
would you please give some hints?

[2021-08-10 16:28] mikehardy commented on #9323
The permission check should be removed from that spot and put into a more specific spot.

It appears that for amazon builds (that is, if camera permission is not in the android manifest), this view should not be added https://github.com/ankidroid/Anki-Android/blob/39a226842004e9f329304bd227fee9bace7d5f37/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/BasicImageFieldController.java#L1

[2021-08-10 16:31] mikehardy commented on #8114
This looks pretty cool (the UI mockup) and it seems you are on the right track... :steam_locomotive:

[2021-08-10 16:34] LemmusLemmus commented on #5142
I'm having almost the same issue. The audio more often than not cuts off prematurely. This does however only occur when there are more than one audio files being automatically played. The audio is only cut-off when using Bluetooth and it is always cut off at the same place.

When using the same pair of Bluetooth earphones on Anki desktop the issue still persists, although it manifests itself sligh

[2021-08-10 16:42] mikehardy commented on #5142
This may make it possible to solve this by adding something like "extra time padding" to audio files in sequence perhaps. Bluetooth audio normally has a bit of a delay before the audio starts (in my experience, at least, though this is a vague assertion), so perhaps the timers are just out of sync somehow and the system thinks the file is done but bluetooth is behind the system's model of timing,

[2021-08-10 16:47] LemmusLemmus commented on #5142
@mikehardy Even aside from this bug some customizable extra time padding would be highly appreciated, as audio files are sometimes played too quickly in succession for me to distinguish them as two separate audio files.

[2021-08-10 16:53] LemmusLemmus commented on #5142
I should probably also mention that the audio is cut off at the end of the audio file and not the beginning.

[2021-08-11 01:48] david-allison-1 commented on #5019
The custom preferences require a lot more code to get working: https://stackoverflow.com/a/34398747/13121290

[2021-08-11 05:01] david-allison-1 commented on #5019
I'm going to see this through for `Preferences.java`, which will take a large dent out of the work required for `DeckOptions.java`

[2021-08-11 14:36] #5192 closed

[2021-08-11 17:41] #9004 closed

[2021-08-11 18:38] prateek-singh-3212 commented on #8114
Done Some changes in layout as suggested by @david-allison-1

Figma Link:- https://www.figma.com/file/Mf36OjE4S1eNGKVqWtIeRJ/Untitled?node-id=13%3A95

![Screenshot 2021-08-11 at 23-34-39 Figma](https://user-images.githubusercontent.com/76490368/129080506-148a5c9c-fde0-4031-8739-b8c1fd0e0978.png)

**Regarding Storing Time**
Their are 3 types of storage which satisfies our needs:-
1. **SQLite**:- Mo

[2021-08-11 22:48] mikehardy commented on #8114
You forget the ability to store things in the deck configuration so that notifications will sync across devices...that may actually be the best

I'd like to avoid local storage if possible, especially local sql storage

I question your assertion that preferences is slower than sqlite
I want to avoid a dependency on room if possible, it is not a light dependency and will have it's own failure modes

[2021-08-11 23:41] david-allison-1 commented on #8336
This should be one line of code after #9397.

On second thought, it will conflict with the scoped storage change, so will leave it until that settles, but I'd like to see this if it's simple.

[2021-08-12 10:34] agentjudy opened #9399 "FYI: Fake "Free" AnkiDroid app on iTunes App Store"
Hi the AnkiDroid Team,

Don't know if you have any means to do anything about it but - https://apps.apple.com/us/app/anki-pro-flash-cards-ankidroid/id1573585542

Context: https://forums.ankiweb.net/t/ankipro-another-ripoff-anki-app/11791

Best regards,

Agent Judy

[2021-08-12 13:10] david-allison opened #9401 "[Bug] Crash on opening deck - Media Missing"
[code]

[2021-08-12 13:11] david-allison-1 commented on #9401
[code]

[2021-08-12 17:08] Sarahirl7 commented on #8993
Hola quiero saber porque No me aparecen todas mis tarjetas en el mazo pero si al explorar
![Screenshot_20210812-115952](https://user-images.githubusercontent.com/88849415/129238845-1d2a9e24-efec-4c4c-b79d-57cc11123c39.png)
![Screenshot_20210812-115959](https://user-images.githubusercontent.com/88849415/129238861-0a6b165d-7944-4935-9af3-2f1e3dabff05.png)

[2021-08-12 17:18] Sarahirl7 opened #9402 "Disculpe poruqe solo me aparecen 20 fichas si tengo 75[Bug]"
###### Reproduction Steps

1. Porque solo se ven 20 fichas si tengo 72 y eso es en todas tengo más pero solo dice que son 20
3.
![p](https://user-images.githubusercontent.com/88849415/129240202-a9176466-a593-4899-ba9f-781d11277d1a.png)
![pp](https://user-images.githubusercontent.com/88849415/129240212-fda4495a-3d33-42b8-8839-de75ea421a80.png)

###### Expected Result

###### Actual Result

###### D

[2021-08-12 17:38] #8022 closed

[2021-08-12 19:46] prateek-singh-3212 commented on #8114
Yaa I forgot about deck Config. I think we can use `mod` and can do all the calculation of time relative to `mod` and show notifications.
But I don't know that can we edit the json model to store the deck reminder as `notification_time`. This might cause the issue with web or Anki Desktop (?).

So, If we were able to solve problem then I think we are good to go (... 🚀) and  I will start working on

[2021-08-13 07:22] dumbdreamed opened #9404 "Clickable tags"
Hello my friend, really appreciate your efforts especially in the last updates.
Tags are an excellent way to organizing our workflow and seeing the bigger picture.
But it is very time consuming to select a tag while reviewing a card or when we want to see cards related to a specific tag.
Is it possible to implement a feature to see tags on review card and click on it to see related cards? Like thi

[2021-08-13 09:12] huenical commented on #9323
I'm willing to work on this!

[2021-08-13 13:04] noahwe145 commented on #9332
I replaced all mentioned functions. I am unsure about reviewer.java lines 1168-1177:

   // Set appropriate flags to enable Sticky Immersive mode.
        a.getWindow().getDecorView().setSystemUiVisibility(
                View.SYSTEM_UI_FLAG_LAYOUT_STABLE
                        //| View.SYSTEM_UI_FLAG_LAYOUT_HIDE_NAVIGATION // temporarily disabled due to #5245
                        | View.SYST

[2021-08-13 14:24] mikehardy commented on #9332
If it's deprecated, and you're in there + understand the deprecation / necessary forward-port because you're in there, then please do replace it as well! And thank you in advance - it's a never-ending job keeping up with deprecation but is vital to project continuity, I really do appreciate it

[2021-08-13 14:44] mikehardy commented on #9323
@huenical I just reviewed the PR and it looks pretty good pending test results, in general it appears that @yasin459 was working on this already and you did not wait to see their response or any one else's response. Your solution appears good but by jumping in front of @yasin459 the collaboration is a little bit lacking. In the absence of confirmation that an issue really has no pending effort, pl

[2021-08-13 15:08] mikehardy commented on #9404
This should be possible with the current state of the AnkiDroid JS API

Specifically I think it is possible to both:
- iterate over the tags [which are already present in the generated card](https://github.com/ankidroid/Anki-Android/blob/d08acb24174f60f3f380b909beb1c0ae83d12411/AnkiDroid/src/main/java/com/ichi2/libanki/Collection.java#L1097), and thus available to javascript for programmatic use (

[2021-08-13 15:08] #9404 closed

[2021-08-13 15:13] mikehardy commented on #9402
Hola! Las tarjetas son en el busquedor porque si, las existen. Solo 20 (o menos!) estan lista para revisar, y es por eso que solo 20 (o menos!) van a aparecer en la lista de barajas

Todo explicado en la introduccion pienso, y si le gustaria cambiar la cantidad de tarjetas nuevas que estan listo para revisar diario, haz click largo por la baraja para abrir opciones del barajas, y cambiarlo alla

h

[2021-08-13 15:13] #9402 closed

[2021-08-13 15:16] mikehardy commented on #9399
Hi there! This is probably best raised in https://forums.ankiweb.net - they are the proprietors of the Anki iOS Mobile app and are separate from us

[2021-08-13 15:16] #9399 closed

[2021-08-13 15:29] mikehardy commented on #9399
I did leave a review for the app though, now that you brought it to my attention :-), I think that's all I can do. Theft is sad.

[2021-08-13 16:09] huenical commented on #9323
Thank you for pointing this out.
Sorry for any inconvenience caused @yasin459

[2021-08-13 16:26] #9323 closed

[2021-08-13 17:53] dumbdreamed commented on #9404
really appreciate it, my friend.it would be amazing that everyone could implement their features into ankidroid.
unfortunately, I don't know anything about java but i have some understanding of HTML, CSS, and a little bit of javascript.
this feature that I mentioned is it on your to-do list in the near future?

[2021-08-13 18:01] david-allison-1 commented on #9404
The API is JavaScript. You're already able to accomplish what you're after in AnkiDroid 2.16:

https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API

[2021-08-13 18:05] mikehardy commented on #9404
Yep - exactly that - whole point of the javascript API is to expose these powers for user, via javascript. You can code javascript in your card template, to do these things, based on the info from my links above

[2021-08-13 18:26] dumbdreamed commented on #9404
really appreciate it my friend and thanks for the link and the guidance. I will look it up and try my best on it.

[2021-08-13 18:28] dumbdreamed commented on #9404
thanks for the tips, my friend.
you and the other developers on this project are doing a fantastic job, please keep up the good work.

[2021-08-13 18:40] #9074 closed

[2021-08-14 08:13] yasin459 commented on #9372
ok i am working on this

[2021-08-14 09:17] yasin459 commented on #9372
@mikehardy
umm, i have a "Deck" object which is a son with some params, I want to filter them if deck is empty ,how can i find how many cards a deck contains?

[2021-08-14 13:44] mikehardy commented on #9372
The development guide on the wiki explains the database structure and json elements I think - that might be a good place to start

Be careful that there may be sub-decks, or decks may be "dynamic", to filter them if they are empty you'll need to verify all decks in a tree rooted at the deck you are inspecting are empty

I believe if you look in the Decks are Collection APIs you should find the API

[2021-08-14 17:46] Sarahirl7 commented on #9402
Muchas gracias por la atención ya pude

El vie., 13 de agosto de 2021 10:13 a. m., Mike Hardy <
***@***.***> escribió:

[2021-08-14 20:36] #4364 closed

[2021-08-15 23:22] david-allison-1 commented on #9260
Sounds good. Will entirely be a change in the messaging to offer alternatives other than "add the GPL header"

[2021-08-16 00:33] david-allison-1 opened #9413 "[Bug] Autoplay handling of missing media"
This is a long-standing issue. Needs reproduction by someone other than myself

* have a card with two `[sound:` fields
* The first is missing

**Expected:**

* The second should play

**Actual:**

* The second `[sound:` does not play

[2021-08-16 14:19] sangorys commented on #8660
Hello,

I still have the issue with the version 2.15.6

[2021-08-16 14:19] sangorys commented on #8660
Nobody can help me ?

[2021-08-16 22:33] mafarkas opened #9418 "[Bug] Name of custom card type appearing instead of a field (only on AnkiDroid, not on desktop)"
###### Reproduction Steps
Custom card type ("Anatomy(point out & name)") with the following fields:
1: Name (of structure)
2: Type
3: hint
4: Pic1 - arrow
5: Pic1 - blank
6: Learning aid

And cards:

1. Point out (1st pic)
    Front:
Point out the {{Name (of structure)}}
<br/>
{{Pic1 - blank}}
<br><br>
    Back:
{{Name (of structure)}}
<hr id=answer>
{{Pic1 - arrow}}
<br><br>
{{Learning Aid}}

2.

[2021-08-16 22:33] mafarkas commented on #9418
I can provide screenshots, but am I am not sure whether it would help.

[2021-08-16 22:38] david-allison-1 commented on #9418
Hi, what does Anki Desktop do here?

[2021-08-16 22:49] david-allison-1 opened #9419 "[Bug] Unit test failure locally: testInitialActivityResult"
[code]

[2021-08-16 22:53] david-allison-1 commented on #9419
The test relied on `Application`, using `EmptyApplication` worked because the static variable was previously set

[2021-08-17 01:08] mafarkas commented on #9418
@david-allison-1 , on desktop it's appearing as you would expect from the html: the card's {{type}} appears properly.

[2021-08-17 01:21] david-allison-1 commented on #9418
Thanks! I'll take a look

For now, you should be able to fix this by renaming the field, both in the "Fields" screen, and in the "Card Templates" screen.

[2021-08-17 01:42] dae commented on #9418
{{Type}} is a [special field](https://docs.ankiweb.net/templates/fields.html#special-fields) and should not be used as a field name.

[2021-08-17 03:21] david-allison-1 commented on #9418
Good first issue: Add an `@Ignore`d unit test for renderQA. Fixing will be performed in the Rust conversion and is blocked on #8988

https://github.com/ankidroid/Anki-Android/blob/ac0bec41a811bac142d8ed4aaf935164e4415486/AnkiDroid/src/main/java/com/ichi2/libanki/Collection.java#L1087-L1088

[2021-08-17 11:19] Jonathan-Bonnin opened #9421 "[Bug]"
###### Reproduction Steps

1. Click "+" Icon on homage > Add note > Create Note > Save

###### Expected Result

Note is saved to deck written in "Deck:" field

###### Actual Result

Note is saved in another deck.

###### Additional information

It's always saving to the same deck, I tried saving in 2 different decks, and it always was saved to the same wrong one. This deck used to be the 2nd from

[2021-08-17 13:37] david-allison-1 commented on #9421
Hi, if you tap "Cards" and go to the card template, have you set a deck override (top right menu)?

Regardless, we can and should improve discoverability of this feature

[2021-08-17 16:46] #9088 closed

[2021-08-17 20:45] mafarkas commented on #9418
Thank you @david-allison-1 and @dae! I changed the name of the field accordingly

[2021-08-17 20:46] mafarkas commented on #9418
And I good to close this issue, or are y'all trying to implement something with discussion tied to this thread?

[2021-08-19 08:16] david-allison-1 commented on #6772
Guess that'll be me.

Working a functional prototype using the Anki Desktop UI, then will improve UX via suggestions in my above comments

<img height="300px" src="https://user-images.githubusercontent.com/62114487/130033005-f8c19c20-83f5-42d3-8eab-573f00429d49.png" >

[2021-08-19 14:26] joshakaw opened #9426 "[Bug] On first open, no + animation"
###### Reproduction Steps

1. Close AnkiDroid
2. Open Android
3. Press the + f.a.b.

OR

1. Change to a different area of the app e.g. Settings, Card Browser, Stats
2. Return to Decks
3. Press the + f.a.b.

![Screenshot_20210819-101609](https://user-images.githubusercontent.com/84877484/130085720-8df0d854-6415-494b-944e-a74113a6f906.png)

###### Expected Result
Animation of alternatives actions sl

[2021-08-19 15:00] joshakaw opened #9427 "FR - Eliminate long press for Deck Menu"
**Is your feature request related to a problem? Please describe.**
On the main Decks screen, you have to long-press on the title of the deck to open the deck settings menu.

**Describe the solution you'd like**
For convenience and discoverability:
- the Deck Title click area should open the Deck Settings menu directly.
- the Deck Count click area should directly open the flashcards, possibly addin

[2021-08-19 15:26] joshakaw opened #9428 "FR - "Card browser" & "Statistics" menu icons"
**Is your feature request related to a problem? Please describe.**
The 'Card Browser' icon (a magnifying glass) does not necessarily represent what the menu entails.
The 'Statistics' icon is too thick as compared to every other icon

![example](https://media.discordapp.net/attachments/701922522836369498/877932775552991302/Screenshot_20210819-111111.png?width=167&height=369)

**Describe the solutio

[2021-08-19 17:30] mikehardy commented on #8660
We can reopen - not sure how to reproduce

[2021-08-20 00:30] lamvankhoat1 commented on #6772
It's amazing, the most attractive function of Ankidroid

[2021-08-20 05:42] dansynek opened #9430 "New cards counter does not update when entering a new card"
When I click on edit card and then enter new card, the new card counter does not update. It updates when I leave the deck and reenter.

AnkiDroid Version = 2.15.6

Android Version = 10

Manufacturer = Xiaomi

Model = Mi 9T

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 10; Mi 9T Build/QKQ1.190825.002; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/92.0.4515.159 M

[2021-08-20 10:12] dorrin-sot commented on #9430
Hi I can't reproduce this bug. Can you provide a recording of the steps you took for this to happen?

[2021-08-20 13:31] dansynek commented on #9430
Uploading 20210820_162152.mp4…

`

[2021-08-21 03:36] dansynek commented on #9430
Uploading Anki bug.mp4…

[2021-08-21 03:37] dansynek commented on #9430
It says uploading. And not uploaded. Does that mean something went wrong. I tried twice!

[2021-08-21 10:33] dorrin-sot commented on #9430
maybe it wasn't done uploading when you went to preview it or clicked the comment button 🤔

[2021-08-21 19:49] sudomain commented on #9427
Hello, sorry for going off topic (I don't have an opinion on your deck menu proposal), but are the Math decks shown in your screenshot also shared decks?

Sorry again, I didn't have another way to contact you. I'm not an active contributor to AnkiDroid but I browse the issues some times.

[2021-08-21 20:44] david-allison opened #9432 "[Bug] JaCoCo does not include Kotlin files"

[2021-08-21 21:41] mikehardy commented on #9432
ah fer the love o' ... :sweat_smile:

[2021-08-21 21:48] david-allison-1 commented on #9432
https://medium.com/wandera-engineering/android-kotlin-code-coverage-with-jacoco-sonar-and-gradle-plugin-6-x-3933ed503a6e looked interesting as it's fairly close to our current implementation.

`C:\GitHub\Anki-Android-Git\Anki-Android\AnkiDroid\build\intermediates\javac\amazonDebug\classes` doesn't contain kotlin files.

These exist in `C:\GitHub\Anki-Android-Git\Anki-Android\AnkiDroid\build\tmp\ko

[2021-08-21 22:09] joshakaw commented on #9427
Yea, I installed AnkiDroid on a work profile on my phone, separate from the one I usually use, and put on a random Shared Deck about math (the whole root Math folder). I don't exactly remember which one it was but I'm sure you could find it. Also, at least for me, it's completely reasonable to ask a question like that since it's related to the post.

[2021-08-21 22:22] eu2021 opened #9433 "Shortcuts for the new flags"
So, [we have the new flags](https://github.com/ankidroid/Anki-Android/pull/9349), but now we need the shortcuts for those little devils.

BR,

[2021-08-21 22:32] david-allison-1 commented on #9433
Good catch, thanks!

[2021-08-21 22:35] david-allison-1 commented on #9433
I'm getting #6052 in (awaiting a couple PRs), so these bindings should be mappable

[2021-08-22 05:35] dansynek commented on #9430
https://user-images.githubusercontent.com/619992/130343703-b2ca233b-6d70-41e4-9678-cc8818d0a383.mp4

It worked when I uploaded it from PC instead of Android phone. Anyway, this is the recording of the bug

[2021-08-22 05:38] dansynek commented on #9430
Nevermind the uploading problem. I think it was becaus eI didn't notice on the phone that I had to accept the comment befofre the uploading takes place. It was clearer from a PC.

[2021-08-22 05:40] dansynek commented on #9430
Oh no, it seemed I closed the comment by mistake and I can't find how to unclose it..... I wonder if I am stupid or if the system is hard to use. Anyway, I will open the issue again unless I can find a way to unclosde it or if someone can do it for me...

[2021-08-22 05:41] dansynek commented on #9430
Ok ,managed to unopen it. Sory for all the noise. Anyway, the bug is real(though not serious)

[2021-08-22 07:18] dorrin-sot commented on #9430
oh right, thanks I was using the generic way of adding the note and checking the deckpicker numbers 😅. I'll try to fix it

[2021-08-22 10:58] dansynek commented on #9430
Thanks for fixing it and I enjoyed adding my milligram of effort to make Ankidroid even better!

[2021-08-22 14:52] homocomputeris opened #9436 "[Bug] Displaced tablet layout"
###### Reproduction Steps

1. Launch AnkiDroid on a tablet

###### Expected Result
Aligned layout on the right

###### Actual Result
Layout is misaligned on the right:
![photo_2021-08-22_17-51-31](https://user-images.githubusercontent.com/7422433/130359601-302fe9e8-dd03-455a-ad5a-fccd33b590c0.jpg)

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsur

[2021-08-22 14:55] homocomputeris commented on #9436
Sorry, the same as https://github.com/ankidroid/Anki-Android/issues/9279

[2021-08-22 14:55] #9436 closed

[2021-08-22 20:44] shreelakshmijoshi commented on #9418
Hi @mafarkas !
I am a new open source contributor and would like to solve this issue, could you help me understand the issue better by providing some extra references ?
Is this is issue open to contribute ?

[2021-08-22 20:48] david-allison-1 commented on #9418
Let's implement what's discussed

----

@shreelakshmijoshi

It's open. See https://github.com/ankidroid/Anki-Android/issues/9418#issuecomment-899963747 for a spec (writing a unit test that fails, and ignoring it), please feel free follow up on anything that you're unsure of.

[2021-08-22 21:36] mikehardy commented on #9436
Yeah I wish I could fix this one but I can't pick cleanly on to the release branch, sorry. Go with the alpha :-)

[2021-08-22 21:37] mikehardy commented on #9426
Thanks for reporting this!

[2021-08-22 21:39] #9433 closed

[2021-08-22 22:37] #8639 closed

[2021-08-22 23:03] #8970 closed

[2021-08-22 23:04] #9419 closed

[2021-08-23 05:52] Akshay0701 opened #9439 "On API<=23 emulator the image was lager than screen viewport"
Gallery photos appear far larger in preview in devices API <= 23.

![Capture](https://user-images.githubusercontent.com/52353967/130348358-41f8ca76-646a-4ebe-8b4e-dea30a4bb38b.PNG)

_Originally posted by @Akshay0701 in https://github.com/ankidroid/Anki-Android/issues/9394#issuecomment-903234344_

[2021-08-23 15:12] mikehardy opened #9442 "[Bug] CardTemplateEditor crash"
###### Reproduction Steps

The google auto-testing robots crashed in CardTemplateEditor as they spam-click-tested the latest release.

Some combination of field editing then touch field add button and boom

https://youtu.be/1ad0dNNI2Cs

###### Expected Result

No crash ever

###### Actual Result

[code]

###### Debug info

Last alpha build

Not sure which PR did it - there needs to be a unit test

[2021-08-23 15:19] Akshay0701 commented on #9442
Crash steps
1 open editor
2 open preview
3 back to editor
4 open insert field dialog
5 select field name and boom we crashed.

I am looking into it ...

[2021-08-23 17:33] #9442 closed

[2021-08-24 04:42] #9119 closed

[2021-08-24 08:41] #8064 closed

[2021-08-24 09:57] sudarshbuxyyes commented on #9333
Hi! I would like to work on this issue if possible.

[2021-08-24 15:25] sudarshbuxyyes commented on #9333
@david-allison-1  Hi! I would like to work on this issue. Can you please assign it to me?

[2021-08-24 17:02] infinyte7 opened #9450 "Feature: Extending PR #9229 for downloading other files with this UI"
**Is your feature request related to a problem? Please describe.**
I am implementing js addons support. I have used TaskDelegate to download addons file but the UX is not better.
There is already a PR #9229 for better download and import system.
It will be better to extend the PR so that other file can also be download with existing UI.
It will reduce more duplicate code for similar work.

**Descr

[2021-08-24 17:17] infinyte7 commented on #9450
It should be better to have different  activity or fragment.

[2021-08-24 17:31] ROOMBON opened #9451 "hebrew values-he folder from crowdin needs duplication into values-iw - both are apparently needed"
for working hebrew translation- please change the folder name of the hebrew translation in res to "values-iw". now it's dosn't works.
thanks

[2021-08-24 17:38] david-allison-1 commented on #9451
Hi, thanks for the report. Could you will out the debug information template: `Settings - AnkiDroid - Advanced - Copy Debug Info`

Thanks!

[2021-08-24 17:48] ROOMBON commented on #9451
i just try to rename the folder name with apktool and its work. before it- not.

[2021-08-24 18:19] mikehardy commented on #9451
This looks more subtle then just renaming. It apparently needs duplication https://stackoverflow.com/a/8843293/9910298
In other words, @ROOMBON what you did works for you, but what we have currently works for others. So to directly rename it would fix you but break others. It appears we need to add some smarts to the localization script to handle an incoming language code ("he" in this case I beli

[2021-08-24 18:45] mikehardy commented on #9333
Sure, thanks!

[2021-08-24 19:37] #9450 closed

[2021-08-24 20:07] mikehardy opened #9452 "[deprecation] Migrate away from setTargetFragment"
Migrate away from setTargetFragment

We aren't tracking this deprecation yet, I'll peel this comment to a new issue - used in Preferences.java

This contains a sketch of an implementation (note a link to a comment on an answer - the comment refines the answer in a necessary way I think):
https://stackoverflow.com/questions/64869501/how-to-replace-settargetfragment-now-that-it-is-deprecated#comment

[2021-08-24 21:15] mikehardy commented on #9427
I just want to apologize that I don't have the bandwidth just this moment to give this the attention it deserves. The discoverability of the deck options is terrible, and this seems reasonable - please be patient with us as we finish up the Google Summer of Code work that's currently got our review-meters pegged at 100% :sweat_smile:

[2021-08-24 21:19] mikehardy commented on #9430
All the help adds up! Thanks for posting this

[2021-08-25 10:43] ROOMBON commented on #9451
There's no way it's working right now. This matter is global on Android.
To be on the safe side, feel free to find out if this works for anyone ...

[2021-08-25 13:52] #9363 closed

[2021-08-25 13:58] mikehardy commented on #9451
I don't believe you read the above link, it indicates there definitely are devices that work with the existing code.
And in general if we don't do everything on the safe side, we have enough users that someone will log an issue about whatever corner case we have

[2021-08-25 14:02] mikehardy commented on #9451
If anyone takes this up: this is a permalink into the script that needs work, below the array on this link https://github.com/ankidroid/Anki-Android/blob/4587fedabec2dd36af9c77a6a2b5dc5fead1e5e4/tools/update-localizations.py#L38 I think we need a new "copyRegions" data structure that maps inbound region code to outbound region codes, with first mapping being he to iw and he, then latter in the act

[2021-08-25 15:14] Kk2050 opened #9456 "[Bug] Syncing Media not working"
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
AnkiDroid Version = 2.15.6  Android Version = 11  Manufacturer = realme  Model = RMX2001  Hardware = mt6785  Webview User Agent = Mozilla/5.0 (Linux; Android 11; RMX2001 Build/RP1A.200720.011; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/92.0.4515.159 Mobile Safari/537.36  ACRA UUI

[2021-08-25 15:33] david-allison-1 commented on #9456
Hi, what's the problem? No crash reports under that ACRA ID

[2021-08-25 16:32] david-allison-1 commented on #9456
https://github.com/ankidroid/Anki-Android/wiki/FAQ#syncing should help

[2021-08-26 08:45] voidplayer opened #9457 "[Bug] Reposition new cards shift position of existing cards"
desktop changed the default behavior for a while now and does not ```shift position of existing cards```

[2021-08-26 08:47] voidplayer opened #9458 "Reposition Card: make Anki Desktop compatible"
My only use case for reposition cards is to put them at the top of it

Desktop shows the top and the bottom of the stack in the reposition dialog and it would be neat if ankidroid showed it too

* [x] Show Queue top & bottom (#17784)
* [ ] Randomize order
* [ ] Shift position of existing cards
* [ ] Remove 'only new cards can be repositioned' error

[2021-08-26 21:16] david-allison opened #9461 "Regression test: no crash if sound is not found"
See stack trace for the cause: https://github.com/ankidroid/Anki-Android/issues/9401

The deliverable will be a unit test which fails before PR https://github.com/ankidroid/Anki-Android/pull/9407 goes in, and passes afterwards

----

Thanks! Could you add a regression test here for when the sound is not in the collection?

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki

[2021-08-27 01:58] #9401 closed, assigned to nobody

[2021-08-28 03:04] sudomain commented on #8148
I found #5192 on a related search, and just thought I'd connect the two issues because they seem related. fwiw, one of the fixes introduced in desktop [2.1.45](https://changes.ankiweb.net/changes/2.1.40-49.html#changes-in-2145) includes:

Hopefully this means the unicode causing this issue, and hopefully desktop will expand to:
1. when the user adds media in the note editor
2. when the user syncs

[2021-08-29 10:00] voidplayer commented on #8428
still searching for solutions

[2021-08-29 17:38] wujek-srujek commented on #8796
Well, still happens in 2.15.6.

[2021-08-29 19:38] #9129 closed

[2021-08-30 01:55] mindinsomnia commented on #9427
![mockup-2](https://user-images.githubusercontent.com/15921126/131274791-01fd8bf8-20c0-4b23-859b-3965e5f78846.jpg)
Mockup for possible solution.

[2021-08-30 02:55] david-allison-1 opened #9467 "[Bug] Import Package: System File Picker - Searching for a file doesn't allow selection"
###### Reproduction Steps

1. Deck Picker - Import
2. Search for "apkg"
3. tap on apkg file

###### Expected Result

4. File selector closes

###### Actual Result

4. File selector stays open

###### Debug info
Not really an AnkiDroid issue

[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to A

[2021-08-30 04:45] david-allison-1 commented on #9427
With the grey background for the counts, how do we want to handle when the number of figures differs?

Real collections can have 100 | 100 | 100 and 0 | 0 | 0 on the same page, and the difference of 6 characters to the width of the box is stark.

![image](https://user-images.githubusercontent.com/62114487/131286152-c493ad13-ecde-4bbb-b665-293d034aaf1d.png)

[2021-08-30 05:21] mindinsomnia commented on #9427
Only two options, either make the pill wide enough to take a value such as "999 999 999", or make it expand in size as necessary.

Visually it's better to have consistency and alignment of elements, so it would be better if the pills were all the same size most likely. However then they would take a significant amount of space, and unnecessarily most of the time. Also the case that there's always

[2021-08-30 05:28] mindinsomnia commented on #9427
![mockup3](https://user-images.githubusercontent.com/15921126/131289553-42f24dad-2209-4ce8-9e7e-4047d0650af5.jpg)
Mockup to illustrate

[2021-08-30 13:15] david-allison-1 commented on #9427
Hmm... 3 digits are common, 4 are rare, but do occur.

Might be best to use Anki desktop's two counts (new/review) on the main screen, rather than showing all 3

[2021-08-30 15:38] mindinsomnia commented on #9427
More mockups of potential designs:

After vs Before:
![mockup-7](https://user-images.githubusercontent.com/15921126/131365462-20c6fffd-5478-4f22-8cdb-ea5c72bd1c85.png)

Animated slide on menu items:
![touch-slide-menu](https://user-images.githubusercontent.com/15921126/131365472-c8a1779f-89f2-4f86-b438-1b96cb27f51e.png)

[2021-08-30 19:57] joshakaw commented on #9427
Personally, I think the ultimate goal would be to provide an easy one-click option to either Study or view the Deck Menu. Adding a ... menu limits the horizontal space by a considerable amount, it's not a one-click option, and you have to repeat it for every single row. I disagree with that part.

But I do like the background idea, maybe we could have two states for that sort of thing:
1. Ready to

[2021-08-30 20:58] joshakaw opened #9468 "[Bug] Scrolling X takes priority over Y in stats"
###### Reproduction Steps

1. Open stats menu
2. Scroll up and down the Overview tab (Y direction)
3. While scrolling, slightly move your finger to the left.

###### Expected Result

Tab is locked from scrolling in X direction while I'm scrolling up and down on a stats page (Y direction).

###### Actual Result

Scrolling up and down gets locked, and it starts scrolling in the X direction, from the

[2021-08-30 21:52] mikehardy commented on #9468
I'm not sure this is anything we can do anything about. These are system libraries (ViewPager2, with a ScrollView inside it).
If you can find somewhere that allows scrolling in both the fragment *inside* the view pager tab as well as the view pager tab itself at the same time then this is at least possible technically, however, I would disagree this is a bug.

I believe the priority of tab scrolli

[2021-08-30 22:00] david-allison-1 commented on #9427
I've started work on this, but will leave it open for discussion before I continue

I like @mindinsomnia's concept (we've discussed this issue in private).

Definitions:
* Vertical nav: a button displaying "..." vertically
* Pill: A rounded rectangular background around the counts

My current thoughts:

* Our main issue is the discoverability of the long-press menu
  * Our aim here should be to of

[2021-08-30 22:20] joshakaw commented on #9468
Not sure if I wrote my issue correctly. I don't think everything should move at once, but I think when you are viewing a page, like Overview, and scrolling down, I think there should be 0 potential for it to start moving left to right and start switching tabs. Scrolling in the Y should have priority over the X, instead of the current situation.

[2021-08-30 23:43] mikehardy commented on #9468
I hear your opinion.

it really has to start with this though:

If you can find somewhere that allows scrolling in both the fragment inside the view pager tab as well as the view pager tab itself at the same time then this is at least possible technically,

Then I'd want to see some sort of UX guide that agreed with you, as it is opinion and the defaults disagree with you.

In my experience (and I

[2021-08-30 23:47] david-allison-1 commented on #9427
Had a chat with @joshakaw

This issue is a follow-on issue from #9043 and the following screenshot gives context for this change:

<img src="https://user-images.githubusercontent.com/62114487/131418161-fb4e0bd2-c4c6-44b4-b449-8008f6fbfb8f.png" height="300px" >

Brief summary, please correct me if you feel this isn't representative or needs expansion:

* Agreed on discoverability being bad
* **vert

[2021-08-31 03:32] mindinsomnia commented on #9427
Quite like that popup concept, not sure if I prefer it over other options but it's worth messing with the idea.
I made a couple of tweaks to the mockup with some suggestions of my own:
![popup-mockup-sm](https://user-images.githubusercontent.com/15921126/131437002-bc743370-8706-4281-953c-03545a66c3fc.png)

Pros:
- I like the slick nature of it, an animated slide up popup is pretty neat, and tappin

[2021-08-31 06:09] JonDous opened #9469 "[Bug]deck changes when press add new card"
Video. Pay attention to the name of the deck.
https://streamable.com/s6b1jn

###### Reproduction Steps

1. Open card browser
2. Add a new card
3.

###### Expected Result
Should be the selected deck

###### Actual Result
Other deck is shown

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an

[2021-08-31 12:47] aadityaguptaa commented on #9333
Hey @david-allison-1 @mikehardy  can I work on this?

[2021-08-31 13:10] david-allison-1 commented on #9333
Hi @aadityaguptaa , thanks for wanting to contribute!

@sudarshbuxyyes is already working on this issue, it would be best if you find another unassigned issue with the 'good first issue' tag

[2021-08-31 18:00] #6052 closed

[2021-08-31 18:08] mikehardy commented on #9426
Just merged a fix for this thanks to @VladThodo - doing a new alpha in a bit that will have it

[2021-08-31 19:43] aadityaguptaa commented on #9333
Sure, NP

[2021-09-01 10:16] ShridharGoel commented on #9467
@david-allison-1 It is working fine on Pixel 2 API 30 emulator.

[2021-09-01 14:36] #8795 closed

[2021-09-01 15:33] mikehardy commented on #9458
I have to apologize and say, I honestly don't know either :laughing: - I'm busy enough managing AnkiDroid itself and just doing my personal Anki reviews that I don't have enough time to keep up with new things. I'm more like a janitor then a trend-setter I guess.

But perhaps @david-allison-1 knows?

That said: new strings are fine - just add them to **only** the values directory (not the translat

[2021-09-01 15:40] voidplayer commented on #9458
![image](https://user-images.githubusercontent.com/4019910/131701208-92135d2d-9aa8-49a9-8cfe-4542e06f7d09.png)

New cards have an assigned a value that determine the position in the new queue (in the screenshot it goes from 125 to 143)

In my first screenshot, the first card in the new queue has value 51 (top) and it will be the next new card shown

Last card in new has value of 15240 (botton) and

[2021-09-01 15:53] mikehardy commented on #9458
It's also quite possible (actually, it's true) that I'm pretty boring and my use of available tools is usually in the simplest manner possible so I don't use 90% of features ;-)

[2021-09-01 16:10] voidplayer commented on #9458
Hey whatever gets the job done for you ;)

I discovered recently that reviewing new cards sooner rather than later helps me remember them like a lot

Maybe it only helps in the context of new vocabulary, but after many months testing it, this is a no brainer for me now :)

[2021-09-01 16:41] david-allison-1 commented on #9458
This has been a feature for years.

New cards are in a queue, lower numbered cards are shown before high numbered cards

Cards can, but shouldn't have a duplicate position in the queue

----

I /believe/ this is `cards.due` for new cards, note: this does not match our [database documentation](https://github.com/ankidroid/Anki-Android/wiki/Database-Structure), and the documentation should likely be

[2021-09-01 16:47] david-allison-1 commented on #9458
Untested, but I believe you can stick something at position 1, and that should bring it to the top

[2021-09-01 16:59] voidplayer commented on #9458
Where is this stick at position 1 option?

[2021-09-01 17:08] david-allison-1 commented on #9458
It's not an option: just leaving the "start position" at 1

[2021-09-01 17:17] voidplayer commented on #9458
Oh, i see

Thats true, but It shifts every card position... It turns insta syncs into syncs that take a while

[2021-09-01 17:21] david-allison-1 commented on #9458
Apologies - I wasn't aware of that, definitely not ideal then

[2021-09-01 18:12] VladThodo commented on #9458
This is what `card.getDue()` returns after each  change (for new cards), so it appears that repositioning sets the card's "due" to whatever I happen to give it as an input in the dialog.  I guess this is what I was looking for, right?
[code]

[2021-09-02 03:28] ThePieMonster opened #9476 "Option To Change Display Of Answer Buttons"
Currently there are four answer buttons that are present as seen in the screenshot below. It would be great if a option existed that allowed only the "again" and "good" buttons to be displayed instead of "again, "hard", "good", and "easy".

![Screenshot_20210901-221653](https://user-images.githubusercontent.com/11359134/131776400-5892e886-08f8-4056-a0c2-7c8d816ab24a.png)

[2021-09-02 19:27] mikehardy commented on #9476
Hi there! This would be a fundamental change to the way Anki as a system works, and we would only do this if you pursued it upstream with AnkiDesktop first and it was accepted there: https://forums.ankiweb.net/

As a possible alternative, you can build a completely different reviewer experience using our Javascript API if you like https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript

[2021-09-02 19:27] #9476 closed

[2021-09-02 19:42] ThePieMonster commented on #9476
Thanks for the response, however I disagree that it would be a fundamental change to Anki. All that is being mentioned here is not using the Hard or Easy buttons. All four buttons have a impact on the underlying algorithm, and depending on what you are studying it may be more beneficial to use just the Again or Good buttons. I have been doing this for years now, making sure to only press the "Agai

[2021-09-02 19:46] mikehardy commented on #9476
...is changing the number of options built in the system from what exists now to some different state.

As reviewing is fundamental to the system, that's a fundamental change.

I hear your request, but my response and recommended course of action still stands.

[2021-09-02 20:04] homocomputeris opened #9482 "[Bug] Inconsistent font rendering when system fonts are chosen"
###### Reproduction Steps

1. Set 'System default' font in the settings
![Screenshot_20210902-110426_AnkiDroid](https://user-images.githubusercontent.com/7422433/131907802-8f910100-b6b2-43d3-92c5-acb045e5673b.png)

2. Create a card with italic text
![Screenshot_20210902-110017_AnkiDroid](https://user-images.githubusercontent.com/7422433/131907842-d6fc82b0-4d36-43cb-b322-3bb42531e860.png)

3. Choos

[2021-09-02 20:38] ThePieMonster commented on #9476
I hear you, but I just want to create a option to hide 2 options, not change the total number of options to the system.
Think of it as a UI change that can be toggled in settings.

Is the below what its in control of determining what answer buttons to display?
https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API

[2021-09-02 21:05] mikehardy commented on #9476
You would need to use that API in combination with full screen mode (where normal reviewer buttons and everything are hidden). You would create a javascript snippet in your template that displayed buttons exactly how you want, and have them do exactly what you want.

Adding formal options to the system that change fundamental aspects is not will not happen. If upstream does it, we will follow

[2021-09-02 21:53] entropyconquers commented on #9332
Hi, I would like to work on this issue.

[2021-09-02 22:10] entropyconquers commented on #5689
May I work on this?

[2021-09-02 23:29] homocomputeris commented on #9469
Check Settings - AnkiDroid - AnkiDroid - Deck for new cards

[2021-09-03 00:40] JonDous commented on #9469
Tried both options. Doesn't work. This bug came few updates ago. Before i always got current deck, but now it shows everytime the first one in the deck list.

[2021-09-03 10:45] prateek-singh-3212 commented on #5689
@entropyconquers Yes, Please go ahead

[2021-09-03 14:10] KursX opened #9483 "How do I get all data from certain deck via content provider?"
I am a Smart Book application developer. https://smart-book.net
In my application, users read books in different languages and save words from books to their dictionary.
I do sync via anki-api.
The problem is that when inserting, I indicate the ID of the deck, but I cannot get all the cards/notes from a certain deck, only all cards/notes of a certain model.
Perhaps I haven't found how to do this?

[2021-09-03 16:43] Nanonej opened #9484 "App bar isn't displayed in fullscreen mode"
When the "Fullscreen mode" option is toggled on, the app bar is not displayed when reviewing cards.

I don't have other phone to try on, so if it's specific to me here is some additionals info:
- Ankidroid version 2.15.6
- Phone model Xiaomi Mi 9 SE

[2021-09-03 16:55] david-allison-1 commented on #9484
Drag down from the top of the screen to reveal the bar

[2021-09-03 19:06] joshakaw opened #9485 "[Bug] x on Decks FAB not symmetrical"
###### Reproduction Steps

1. Open AnkiDroid (to Deck Picker)
2. Press + fab

###### Expected Result

When the + animates into an x, it should be parallel and symmetrical.

###### Actual Result

The x is slightly tilted to the right.

[]()![Screenshot_20210903-150232.png](https://user-images.githubusercontent.com/84877484/132055023-310f5922-0359-4191-9254-48606b943dc9.png)

###### Debug info
Refer

[2021-09-03 19:36] david-allison-1 commented on #9428
@joshakaw  Could you provide the 'modified money' icon as a SVG?

[2021-09-03 19:45] Nanonej commented on #9484
Yeah I figured that, but is it intentional ? Shouldn't there an an option like the answers button to hide the app bar too ?

[2021-09-03 19:50] david-allison-1 commented on #9428
Would you mind if I flipped the statistics icon, having the larger bar on the left seems 'wrong' in comparison with the current icon

[2021-09-03 20:04] joshakaw commented on #9428
Looks fine either way, I don't mind.

[card-browser-icon.zip](https://github.com/ankidroid/Anki-Android/files/7108250/card-browser-icon.zip)

[2021-09-03 20:29] #9485 closed

[2021-09-03 21:19] tomkahn opened #9488 "[Bug] HTML error: Colgroup displays empty block in table"
###### Reproduction Steps

The latest issue of AnkiDroid has some weird HTML issues that other versions of Anki don't have (and AnkiDroid also didn't have before the latest update from Google Play). You can see what is wrong in the screenshot below. To reproduce the issue you must:
* Have a colgroup-element inside a table
* Set the span count to a number that is bigger than the amount of VISIBLE c

[2021-09-03 21:30] #9428 closed

[2021-09-03 21:32] david-allison-1 commented on #9488
Thanks for the great bug report!

Reproduced on AnkiDroid 2.14.6. This could be due to an update with the `Android System WebView` component.

Could you find a parallel release where this works as expected

A sample parallel release would be available under this URL. `AnkiDroid.Parallel.A` is installable alongside AnkiDroid. Note that AnkiDroid 2.15.X locks the collection, so you won't be able to

[2021-09-03 21:45] mikehardy opened #9489 "[Bug] Some sort of issue from mailing list about image changes causing problems"
###### Reproduction Steps

Just prose, not sure it has repro steps. Reporter did not want to sign up for github

----

I'm very familiar with Anki Droid, and use it daily.  I have always done all of the check media and check database commands. This problem is nothing that I'm doing, as I haven't changed my interactions with AnkiDroid for years, and my card collection is not corrupted in any way.

[2021-09-03 21:52] david-allison-1 commented on #9489
Could you check with the recipient if a previous version of AnkiDroid will fix the issue? It would be useful to pin down whether this is an AnkiDroid issue, or a change in AnkiWeb

[2021-09-03 21:59] tomkahn commented on #9488
You're welcome. Thank you for the fast response.

I just removed the import statement from the CSS and the issue is still there. Also updated [the APKG](https://www.dropbox.com/s/dhpnliees8k5b7x/AnkiDroid_colgroup_span_bug.apkg?dl=0) if you want to try for yourself.

I then continued trying different parallel (A) versions, but so far the same problem occurred in:
* 2.15.6
* 2.15.5
* 2.15.4
* 2.15.

[2021-09-03 22:04] Anthropos888 opened #9490 "[Bug] Undo button on deck view doesn't work anymore"
1) Finish a deck
2) on the deck list, tap the deck again so that the deck view shows up
3) tap the undo button on the top right

Result: nothing happens.

The undo button worked for years, so I can't say on which version it stopped working.

It's the only chance to undo the last card. So if you pressed the wrong answer button for the last card, there's currently no way to undo it.

AnkiDroid Versi

[2021-09-03 22:04] david-allison-1 commented on #9488
It'd be easier for you to go back a fair bit (2.10.X for example) and bisect. It's likely a WebView issue, in which case we won't actively be able to do anything in-app to fix this.

I'd advise to check to confirm that your HTML is valid, and that the JS debugging finds no errors in the dev console:

https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection

[2021-09-03 22:11] david-allison-1 commented on #9490
I can't reproduce this, but I have heard of this happening

* I have a deck with a single review card
* I select "Good"
* "Undo Last Review" is visible in the app bar menu
* I tap the deck/counts: "no cards available"
* "Undo Last Review" is still visible

----

* I tap a different deck's counts
* I return
* Undo is no longer available

Is the above the issue?

[2021-09-03 22:24] Anthropos888 commented on #9490
Ah, I see, there's "Undo last reviews" in the three dot menu in the deck list. I never saw that. So that would solve my problem.

The bug I described is that the undo button in deck details view no longer works. It's the top right button in the screenshot.
![upload_2021_09_04_00_24_40_702](https://user-images.githubusercontent.com/45192213/132070768-e5dfdc48-f2cf-4108-90f5-6de8976a8658.png)

[2021-09-03 22:30] david-allison-1 commented on #9490
Oh! Makes complete sense. Thank you

[2021-09-04 01:05] dae commented on #9489
I've made a change to AnkiWeb which I suspect will fix this. The code was updated recently, and while I had tested the changes with AnkiDroid, I didn't cover the deletion case. AnkiDroid's code is based on the older desktop code, which sends an empty string instead of a null. 🤦

[2021-09-04 04:09] ThePieMonster commented on #9476
Got it working upstream. To reiterate though, although there are only 2 buttons displayed, it's no different than having all 4 answer buttons displayed. Just not going to click 2 out of the 4 so why look at em.

![image](https://user-images.githubusercontent.com/11359134/132081884-f43f71a6-64f5-4335-a697-e3088eb98fbc.png)

[2021-09-04 08:11] Arthur-Milchior commented on #9490
@david-allison-1 you added reproduced. Do you have a regression test by any luck?

[2021-09-04 08:37] Arthur-Milchior commented on #9490
@Anthropos888 Normally, undo become unavailable when you switched to a new deck ? Is there a chance that it occured? For example if you have deck with subdeck, it can be possible that you selected a deck the first time and its subdeck later, or the reverse.

Selecting a deck mean doing anything with it, so it can be touching it, changing its options, and so on.

The other cases where the undo list

[2021-09-04 09:06] Anthropos888 commented on #9490
@Arthur-Milchior
The problem is, that nothing happens when I tap the undo button after finishing the deck.
It used to work just fine and I used this button for years. It doesn't seem to be related with the sync state. I didn't sync my device for months. For testing , I have synced my collection just now. Still the same behavior, nothing happens when I tap the button after finishing a deck.

You're

[2021-09-04 09:40] Arthur-Milchior commented on #9490
Oh, so you mean that the buttons seems to be clickable (it's white and not grey)
Did you check whether really nothing occured?
I can imagine that the card goes back to review mode, but the app does not open the reviewer anymore. That would still mean that if you move to the deck picker, you'll see one card to review in the deck description.

that would be far less surprising to me. Because I do re

[2021-09-04 10:00] Anthropos888 commented on #9490
@Arthur-Milchior
Yes, the undo button is white and clickable. If you tap it you can see the normal tapping animation (short highlighting of the button). But nothing happens. I can tap the button several times. The button highlighting shows that my tapping is recognized, but besides that theres no action at all. The reviewer is not started, the deck dateils screen just stays as it is.

Does the but

[2021-09-04 10:06] Anthropos888 commented on #9490
Ah, ok, I just saw that the "Undo last review" function in the 3 dot menu doesn't work properly.
It doesn't show me the last reviewed card but a random card that wasn't even review card of the just finished deck.

Seems that some more things are going on here.
Just tell me what I can do to determine the problem.

[2021-09-04 14:28] mikehardy commented on #9476
That's fantastic! I'm not against the idea, it is just one of my primary tasks here to maintain ecosystem compatibility - if they accept that for merge as a feature, we can follow here

[2021-09-04 14:38] mikehardy commented on #8925
This is definitely an issue

[2021-09-04 14:47] #8337 closed

[2021-09-04 18:51] VladThodo commented on #9488
I've simply copied the HTML code the Anki  logs when displaying a HTML card (here's the  [HTML](https://gist.github.com/VladThodo/cf8a9585ba577bc5b3c54bb1307bb321)) and put it into a file. I then tried rendering it in both Chromium and Firefox and the result is the same as the one displayed on mobile (see picture below; left - Firefox; right - Chromium). Ironically enough, I tried  it also in Anki

[2021-09-04 18:57] tomkahn commented on #9488
Haha, thank you Vlad and David. Guess I'll have to fix this issue on my side then. 😅

[2021-09-04 19:07] VladThodo commented on #9488
@tomkahn, hey, you welcome haha. The thing is, I just tried tried opening the same HTML in Edge and it renders it the way AnkiDesktop does. I'm confused 🧐.  Probably it's some sort of incompatibility between different browsers.

[2021-09-05 14:26] Abanoub-Asaad opened #9498 "[Bug] Punctuation marks problem"
###### Reproduction Steps

When I write an Arabic sentence and put a punctuation mark at the end of it, the punctuation mark becomes at the start of the sentence in case of reviewing.

###### Actual Result
As we know, Arabic is written from right to left, so the punctuation mark should be at the end of the sentence in case of reviewing the notes.

### Screenshots

In the left image, we can see the

[2021-09-05 14:36] #9100 closed

[2021-09-05 14:36] #9043 closed

[2021-09-05 14:36] #8811 closed

[2021-09-05 16:11] albsch commented on #8925
I am affected, too. Normal usage (desktop + android app) is becoming annoying with a big deck with media, because continuing on the android app after desktop use introduces a long (up to 10 minutes) sync.

[2021-09-05 16:21] mikehardy commented on #9498
Anything at all you can do to log + reproduce (and hopefully fix 🙏 ) RTL languages would be incredibly welcome. I feel like we made great progress but it's not a case anyone else that actually posts PRs tests

[2021-09-05 16:23] lionslancer commented on #4944
# Considerations for notifications rework
I've been thinking a lot about this as a user recently, and one thing I've realized is that before one even begins to think about the implementation, there are a lot of things that have to be considered beyond what is immediately obvious. I apologize if any of what I describe below is overly verbose, unclear, unhelpful, or considered common knowledge. I ho

[2021-09-05 16:25] mikehardy commented on #8925
we definitely understand, I pinned this to make sure it never stales out - as mentioned by David

And all I can do is say this is an area of serious hard work, it is happening:

https://github.com/ankidroid/Anki-Android/pulls?q=is%3Apr+rust+author%3Adavid-allison-1

It's just a massive massive effort, and critical to get right (it's your card collection access method after all...) so takes time. W

[2021-09-05 16:45] #8784 closed

[2021-09-05 16:45] #8352 closed

[2021-09-05 17:36] mikehardy commented on #9489
Okay - thanks @dae ! I reached out to the original reporter, we'll see what we hear back

[2021-09-05 18:28] tomorekoya commented on #8324
Still looking for solutions.

[2021-09-05 19:36] #8869 closed

[2021-09-05 20:13] voidplayer commented on #8324
I can no longer reproduce this

[2021-09-05 20:13] #8324 closed

[2021-09-05 22:48] mikehardy commented on #9489
@dae - ⚡

[2021-09-05 22:48] #9489 closed

[2021-09-05 23:36] david-allison-1 commented on #7766
@sakshi-1604 are you working on this, or would you like it unassigned?

[2021-09-06 06:57] voidplayer commented on #7279
still searching for solutions

This is really annoying because sometimes you have cards pending in learning and the stats shows empty cards pending. And so, you are not able to tell they are left there. Then the next day comes and those cards are learned in the next day... (Even tho i failed the day before)

If i understood your bit correctly, this will be fixed without touching anything once the

[2021-09-06 09:13] Abanoub-Asaad commented on #9498
Are you talking about this log?

![Screenshot from 2021-09-06 11-06-50](https://user-images.githubusercontent.com/48657780/132191709-b129b2b9-bade-4c7c-b635-a7cb2b7646ba.png)

[2021-09-06 10:12] Abanoub-Asaad commented on #9498
I can solve this problem, but I would like to know where I can find the HTML code in the  that's responsible for the RTL notes. I tried to find it but didn't reach it.

[2021-09-06 10:12] Abanoub-Asaad commented on #9498
I can solve this problem, but I would like to know where I can find the HTML code in the  that's responsible for the RTL notes. I tried to find it but didn't reach it.

[2021-09-06 11:13] dobefore commented on #9154
I encounter the same issue though using Anki custom server.
Ankidroid 2.15.6
how to reproduce:

1.prepare an new account and login
2.import 2 decks or more (in my case,a deck including 4 subdecks) from Ankidroid,Do not sync!!!
3.delete one of decks
4. sync

this will cause sync error ,and two alterlatives (Ankiweb or Local) are provided to keep .
When I choose keep local,messagebox like this `sync

[2021-09-06 12:00] david-allison-1 commented on #9154
That's not the same bug. This is saying that after a sync, your sync server and AnkiDroid are displaying different information.

I would first check to see if 'reviewing - new timezone code' fixes the issue: https://github.com/ankidroid/Anki-Android/issues/9368

If not, then it may be a bug in either AnkiDroid or the sync server. Given that we sync with AnkiWeb with no issues, the implication is t

[2021-09-06 12:01] david-allison-1 commented on #5844
This is still a good first issue.

It requires adding a link/button to the login screen

[2021-09-06 12:10] dobefore commented on #9154
Thanks for so constrctive advice! I will try to work out.Thanks again

[2021-09-06 14:28] mikehardy commented on #9498
the "assets" directory has most of the HTML that is used as scaffolding for programmatic interpolation

the AbstractFlashcardViewer file is good to step through to see how (and when) it gets the "q" and "a" parts of a card - following it shows how the code is generated for interpolation into the files in assets directory

[2021-09-06 19:13] joshakaw opened #9499 "FR - Add Note / Add Deck icons"
**Is your feature request related to a problem? Please describe.**
The icons currently used do not necessarily represent interacting with a deck of cards (folder and + icon).
<img src="https://user-images.githubusercontent.com/84877484/132254354-6f14a0b5-092a-4481-b514-cc8d992f1707.png" width=200>

**Describe the solution you'd like**
Icons that appear more like flashcards/a deck of flashcards ([I

[2021-09-07 07:28] markhavemann opened #9500 "Ignore gestures on links not working for <details> tag"
###### Reproduction Steps

- Create a card with information inside of <details></details> tags
- the information should now be hidden with a "details" heading to display it.
- In the gestures section of the menu, set Ankidroid to ignore gestures over links. This words on Audio and {{hint::}} tags.
- set tap screen gesture to answer as suggested answer
- view a card with the details tag and the "de

[2021-09-07 07:42] markhavemann opened #9501 "Delay siblings for cards other than cloze"
**Is your feature request related to a problem? Please describe.**

I often have several cards from the same note (a card for pronunciation of a Chinese character, a card for the meaning, and a card for a sentence containing the character/word, and sometimes an English>Chinese card too). They often always come up on the same day, so the first card may remind me of the others.

It feels like a wast

[2021-09-07 12:50] voidplayer commented on #8158
still searching for solutions

[2021-09-07 13:01] WiliTest commented on #7998
The feature request must be asked here: https://forums.ankiweb.net/

[2021-09-07 13:16] eginhard commented on #9498
Just to make sure, did you add `dir="rtl"` somewhere in your card template to indicate that this field contains RTL text? See the manual: https://docs.ankidroid.org/#RTL
There is no special code in Anki to display RTL cards, it's based on standard HTML markup.

[2021-09-07 14:56] mikehardy commented on #9500
Oh no - I hate to just punt things to @david-allison-1 but he always seems to fix these with a one-liner in 5 minutes 😅

[2021-09-07 14:58] mikehardy commented on #9501
Hi there - it looks like you trimmed out the debug info part of our new issue request. I'd like to see that information, can you provide it please?

https://docs.ankidroid.org/help.html

[2021-09-07 15:14] shankarpriyank commented on #3482
I would like to work on this issue

[2021-09-07 15:23] mikehardy commented on #3482
Same as previous statement from me - doesn't appear to be active by anyone at the moment, so have a go @shankarpriyank ! Thanks

[2021-09-07 15:36] david-allison-1 commented on #9500
Sorry, we're constrained via Chrome's API for this once, could you turn the `details` into an `a` + click listener?

[2021-09-07 16:46] #9131 closed

[2021-09-07 18:22] Emsloan commented on #5844
I'd like to work on adding the link/button to the login screen.

[2021-09-07 19:02] mikehardy commented on #5844
Sounds great, have at it @Emsloan ! :-)

[2021-09-07 19:40] mikehardy opened #9503 "[Bug] Selecting "add image" while editing a note, then saving without picking an image will clear any existing text in the field"
###### Reproduction Steps

1. Open note editor
2. Choose a field with text in it already (or add text if needed, for example if you chose "add note" to open note editor)
3. Choose paperclip menu option add image
4. do not select an image, simply tap the check icon indicating to save

###### Expected Result

Text from 2 above is still in the field, no change to the field contents

###### Actual Res

[2021-09-07 23:07] Mohaned-Elfeky commented on #9192
still searching for solutions

[2021-09-08 04:47] markhavemann commented on #9501
Added debug info.

[2021-09-08 04:50] mikehardy commented on #9501
Thank you! I'll admit, I was hoping to see something besides "std2" for the scheduler, indicating we'd have something easy to try.

I seem to recall this changed recently because it was a point of confusion for new users, perhaps by default it is off now. Can you check the related settings here? https://docs.ankiweb.net/studying.html#siblings-and-burying

Sorry this is all vague and low-percent-ch

[2021-09-08 04:55] markhavemann commented on #9501
![a4ff5950645cf4ddf5a5cba01fbff22](https://user-images.githubusercontent.com/2283022/132448698-b7fe9e1a-e2bb-497a-9d8b-b820e732a952.jpg)

[2021-09-08 09:04] ekalz opened #9504 "[Feature request] Default answer selection when using the timers"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
AnkiDroid thankfully provides TTS. It also provides the feature of showing the answer card and even moving onto the next card after an adjustable amount of time. For the second function - moving to the next card - the default answer selection is "bad".
An option of selecting the default ans

[2021-09-08 12:49] david-allison-1 commented on #9501
From my reading, this is a feature request, and not a bug. In which case we'll need to see the functionality in Anki Desktop before we implement it (or wait for our addons PR to land).

Anki Desktop accepts feature requests: https://forums.ankiweb.net/

[2021-09-08 13:20] david-allison-1 commented on #3482
We have a "focus type in answer" setting in the advanced preferences. Is this issue still active given this?

[2021-09-08 13:50] mikehardy commented on #9504
Hi there! This is a duplicate request but we have a PR that is almost ready for merge - this will be available in the future #8281

[2021-09-08 13:50] #9504 closed

[2021-09-08 14:14] shankarpriyank commented on #3482
Hey actually I am new to open source world so I am having a hard time figuring out the problem and the solution of this issue
But I noticed something which can be enhanced by in the app
Whenever we click on creating new deck option a small dialog box appears which tells us to type in the name of the deck and has two options cancel and ok
But even when then name field is blank the ok button works a

[2021-09-08 14:22] mikehardy commented on #3482
Hey @shankarpriyank sounds like you could open a new issue with the item you reported ("Ok button on create deck dialog is functional even if deck name is empty") and that would be a separate good first issue :-). As for this one, open settings --> advanced and experiment with the toggle David mentioned to see if it already has the desired functionality working - if so we can just close this

[2021-09-08 14:28] #9501 closed

[2021-09-08 14:39] shankarpriyank opened #9505 "It would be better if we can disable the ok button while creating new decks is the input/name field is empty"
**Is your feature request related to a problem? Please describe.**
No this is not related to a problem , but adding the feature will for sure make the app a bit more better

**Describe the solution you'd like**
We can just disable the button while the input is null

**Describe alternatives you've considered**
Actually none

**Additional context**
N/A

[2021-09-08 15:15] LoganConnor44 commented on #8876
Will test this weekend.

[2021-09-09 01:53] #9186 closed

[2021-09-09 04:42] #9029 closed

[2021-09-10 08:55] aryanritesh commented on #9503
Hey I am just getting started over here , so could I start out by fixing this issue?

[2021-09-10 14:50] mikehardy commented on #9503
That would be great - and hello + welcome :wave: :-) - this issue definitely needs some attention. I did tag it as a good first issue, but I have a slight hesitation. The only complicated thing about this specific issue is that the object hierarchy / way they play together in the "multimedia edit" part of the app is a bit confusing to me every time I work on it. I never feel like taking the time t

[2021-09-10 18:05] aryanritesh commented on #9503
Thank you. Yeah I'll go through the codebase and work on this. If I need any help , I'll make sure to reach out.

[2021-09-10 18:10] aryanritesh commented on #9281
Hey! I am new here and I'd like to start helping. I think I can go through this issue.

[2021-09-11 01:16] david-allison-1 commented on #9281
Awesome! Give me a ping if you need anything

[2021-09-11 05:36] #8443 closed

[2021-09-11 08:20] pratik2315 commented on #9499
Hello sir, I am just starting out here, this seems like a perfect issue to start with, can I work on this issue?
Thanks.

[2021-09-11 13:22] mikehardy commented on #9499
Hey @pratik2315 - sure! Our normal request around icons is that they are all svg now, so the result here should be a PR changing vector graphic XML files, and we need to make sure there's a copyright header in there with the right owner as a comment in the SVG - most of the rest of them should have examples you may use as patterns. Thanks!

[2021-09-11 13:25] joshakaw commented on #9499
Yeah - you can probably just go ahead and make a PR since it's a small issue. Thanks!

[2021-09-11 16:34] aryanritesh commented on #9281
@david-allison-1 Okay so I just went through this , so basically all I've to do is test this on my device and upload a ss right?
Or is there anything I am missing out on?

[2021-09-11 16:39] david-allison-1 commented on #9281
Add a unit test, then we don't need to retest it ever again

[2021-09-11 16:47] aryanritesh commented on #9281
![1631378652561](https://user-images.githubusercontent.com/84223159/132955142-237d91dc-f889-42dd-97ad-60eb9dda77d4.jpg)
@david-allison-1
I tested this and I don't see any borders, it's working fine

[2021-09-11 16:49] david-allison-1 commented on #9281
The full screen setting is for the reviewer, and that page isn't full screen

[2021-09-11 17:02] milin831 commented on #8336
yes I want to work on it

[2021-09-11 17:03] aryanritesh commented on #9281
Okay wait , I'm getting a bit confused over here , what exactly do I have to do?

[2021-09-11 17:04] milin831 commented on #8336
yes I want to work on it
if these issues have not solved yet

[2021-09-11 17:21] david-allison-1 commented on #8336
sounds good to me

[2021-09-11 17:34] joshakaw commented on #9499
I already put the comment in with the files in the ZIP (license, copyright, changes, etc), you should be all set! Thanks

[2021-09-11 17:44] david-allison-1 commented on #9499
Sounds good to me, let me know if you have any questions

[2021-09-11 18:02] aryanritesh commented on #9281
@david-allison-1 what are the parameters I'd need over here for testing?

[2021-09-11 18:04] david-allison-1 commented on #9281
@aryanritesh I'm not sure I understand the question, what are you trying to accomplish?

The aim of this issue is to write an automated unit test which would catch the following issue:

https://github.com/ankidroid/Anki-Android/pull/9278/commits/420fb12ed7c3042ac09c9e6b47d920c92c508899

[2021-09-11 20:01] joshakaw commented on #9499
I made some other types that might look better than the original proposed icons at such a small scale (also it would fit with the current Filled icon style of the shared deck icon)

![image](https://user-images.githubusercontent.com/84877484/132960291-62032c09-dee0-40b5-81b3-b90f3c1f1fba.png) ![image](https://user-images.githubusercontent.com/84877484/132960267-e8d9613c-c842-4c73-8e6c-7d4822ed00de

[2021-09-12 04:31] pratik2315 commented on #9499
Thank you @joshakaw I will add your icons👍

[2021-09-12 06:08] soleera commented on #9324
Got the chance to look into this properly with adb and it seems like something messed with DocumentsUI... After reinstalling via a shell everything seems to be working again!

[2021-09-12 06:08] #9324 closed

[2021-09-12 16:25] ChrisMoinsen commented on #9072
This bug was driving me mad: on one phone with Android 9, the app was working perfectly. On a older phone with Android 8, the text on the cards was always invisible. According to the hints  above, I tried to update WebView, but it already was the latest version.

My final solution was very simple and successful: **reboot the device!**

Anyhow: a big thanks to the developers for this great app!

[2021-09-12 16:47] david-allison-1 commented on #9072
Thanks!

`Settings - Advanced - Disable card hardware render` may be useful on your Android 8, but no need to if things are working

[2021-09-12 17:38] #8326 closed

[2021-09-12 20:37] #7989 closed

[2021-09-12 23:59] achebeleilah opened #9510 "[Bug] I shit in my pants"
###### Reproduction Steps

1. eat beans
2.  shit in my pants
3. be sad because i ruined my new pants

###### Expected Result
My shit should not be in my pants

###### Actual Result
Its all over my pants

###### Debug info
When i shit it stinks

###### Research
When i asked someone for help because i shit in my pants they just looked at me in disgust

*Enter an [x] character to confirm the points b

[2021-09-13 00:30] #9510 closed

[2021-09-13 05:31] talenelat-elin opened #9511 "App Bar and Answer Buttons do not hide themselves, after manually making them visible in fullscreen mode."
###### Reproduction Steps

1. Enable Fullscreen mode (Hide system bars and answer buttons)
2. Start reviewing
3. Swipe down from the top of the screen to reveal the App Bar and Answer Buttons
4. Tap on the screen/Wait

###### Expected Result
App Bar and Answer Buttons should be hidden after tapping on the card area, or after a few seconds. (Ideally both, and I remember that this used to happen wit

[2021-09-13 12:39] talenelat-elin commented on #9511
Replicated with Parallel.A versions of Ankidroid 2.15.0 and 2.14.0, on the same device.

[2021-09-13 12:46] #4021 closed

[2021-09-13 13:10] mikehardy commented on #9259
Yep - this is still important especially while I still remember how to set up AAB from the last app I just built 😅

[2021-09-13 14:10] david-allison-1 commented on #9511
Thanks! You say this used to work? Do you have a version where it's working as expected?

[2021-09-13 14:29] talenelat-elin commented on #9511
It's working with version 2.15.6 on another device
<details><summary>Debug info of the device</summary>AnkiDroid Version = 2.15.6

Android Version = 9

Manufacturer = Xiaomi

Model = Redmi Note 8

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 9; Redmi Note 8 Build/PKQ1.190616.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/86.0.4240.110 Mobile Safari/537.36

[2021-09-13 14:37] david-allison-1 commented on #9511
If it's Xiaomi, I have no way to reproduce this and it'll wait for someone with an appropriate phone to get this sorted

[2021-09-13 15:28] talenelat-elin commented on #9511
@david-allison-1, while testing on a non-xiaomi device, I encountered another issue related to the app bars in fullscreen.
This time the App Bar and the Buttons are not _appearing_ on swiping down from the top, even though the android notification shade/status bar reveals itself.

<details><summary>Debug info of this device</summary>AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer =

[2021-09-13 16:20] talenelat-elin commented on #9511
@david-allison-1 I think it's likely an Android 11 thing, as the original issue of the bars not disappearing was replicated by another person, on a Google pixel.

<details><summary>Debug information</summary>AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = Google

Model = Pixel 4a

Hardware = sunfish

Webview User Agent = Mozilla/5.0 (Linux; Android 11; Pixel 4a Build/RQ3A.210805.0

[2021-09-13 16:24] david-allison-1 commented on #9511
I'm on a stock Pixel 3a on Android 11 and things are working as expected.

Drag down shows the menu, tapping hides it

[2021-09-13 17:01] talenelat-elin commented on #9511
Please disregard the comment about the Pixel device, I made a mistake in explaining the bug replication steps to the Pixel owner.

Though I did narrow it down a little further: the issue disappears upon switching the android navigation mode from gestures, to navigation buttons, on both the Xiaomi and the OnePlus device.

Could you try it with gesture navigation on your device?

[2021-09-13 17:26] david-allison-1 commented on #9511
Still works with gesture nav

[2021-09-13 17:36] talenelat-elin commented on #9511
Thanks

Guess I'll leave it here for someone with a Xiaomi device to look into

[2021-09-14 15:47] #9499 closed

[2021-09-14 15:49] mikehardy commented on #9483
I'm sorry I nor anyone else has had time to chat with you on this, apologies. I think the "apisample" app might have some clues to it? It allows you to kind of walk through a whole collection if I recall correctly https://github.com/ankidroid/apisample

[2021-09-14 16:04] pratik2315 commented on #9499
My first ever PR merged🥳 Thanks all for being so supportive!!

[2021-09-15 04:38] david-allison-1 commented on #8988
Issues (personal checklist):

[code]

----

`get("a")` returns null in the Python, I converted to `jsonObject.getLong("a")`, which crashes

[2021-09-15 05:41] abhinav700 commented on #7851
Hey is someone still working on this issue? I am new to open source and would like to start with this one

[2021-09-15 10:36] david-allison-1 commented on #7851
sounds good to me

[2021-09-15 14:14] krmanik opened #9518 "[Bug] Importing deck with subdeck generated using genanki-js crash the app. Deck imported successfully on desktop"
###### Reproduction Steps

1. Visit [genanki-js/demo](https://infinyte7.github.io/genanki-js/demo/index.html#) page and select `Run example` from menu
2. Select any example from `Select test example` menu
3. Change deck name to `Test::New` for creating subdeck
[code]
4. Click `Run`, it generate Anki deck .apkg.
5. Import in AnkiDroid

The issue created in [genanki-js/issues](https://github.com/inf

[2021-09-15 16:09] david-allison-1 commented on #9518
[deck.zip](https://github.com/ankidroid/Anki-Android/files/7171686/deck.zip)

[2021-09-15 16:20] david-allison-1 commented on #9518
Repro case for testing: [deck-repro-2.zip](https://github.com/ankidroid/Anki-Android/files/7171763/deck-repro-2.zip)

I need to add unit tests around import/export.

Is this critical to get fixed by the next alpha?

[2021-09-15 16:24] david-allison-1 commented on #9518
@infinyte7 This fails on 2.15.2 with an error message

and on the current alpha with a crash

[2021-09-15 16:38] david-allison-1 commented on #9518
Cause: There is no default deck

https://github.com/ankidroid/Anki-Android/blob/db4ba1b042ffbb9677ee826e68421cdbb5ea25a5/AnkiDroid/src/main/java/com/ichi2/libanki/DeckManager.kt#L75

I've got a few PRs for the Rust conversion in.

I'll block this on https://github.com/ankidroid/Anki-Android/pull/9514 so we don't get conflicts

[2021-09-15 16:41] infinyte7 commented on #9518
It is critical or not, depends upon original poster. I am not using subdeck creation currently. Because the error only occur for subdeck so it can be fixed later also. I will put remarks in my project so user can develop for deck only. When this is fixed I will removed the remarks.

[2021-09-15 17:38] Arnold2381 commented on #9511
AnkiDroid Version = 2.15.6
Android Version = 9
Manufacturer = Xiaomi
Model = Redmi Note 5 Pro
Hardware = qcom
Webview User Agent = Mozilla/5.0 (Linux; Android 9; Redmi Note 5 Pro Build/PKQ1.180904.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/91.0.4472.88 Mobile Safari/537.36
ACRA UUID = e476b8bb-f38d-473c-9927-67bba86f3ee8
Scheduler = std2
Crash Reports Enabled = true
Databas

[2021-09-15 18:42] eu2021 opened #9519 "Feedback on suspend and on bury"
**Is your feature request related to a problem? Please describe.**
I use Ankidroid with a small Bluetooth controller, and, sometimes, I am not sure if I pressed the correct button. This is not a problem for the main answer button, because there is a feedback color that appears after each review rate. The problem happens when I press bury, or suspend, because there is no such feedback.

**Describe

[2021-09-16 03:05] infinyte7 commented on #9518
It is found that the deck with subdeck generated using genanki python module import successfully on AnkiDroid. But using my project it is not imported. But on desktop it imported successfully. I have checked the the file difference between two sqlite dump db file to find the error in sql transaction.

I have extracted collection.anki2 sqlite db to text file compared the both file.

This is collect

[2021-09-16 08:26] david-allison-1 commented on #9355
I'm looking to work on this, but I feel we need to decide on a plan of action.

My personal view would be:

  * Due to the bug listed above, the current behaviour should not be retained by any endpoints and should be treated as a bug

Backport fix to 2.15.7

* revert `empty_cards` behaviour + add unit test
  * This is a 'patch' release, and we treat the behaviour change to the endpoint as a bug

*

[2021-09-16 14:08] david-allison-1 opened #9521 "[Bug] Kotlin: Can't delete file"
[code]

[2021-09-16 14:25] david-allison-1 commented on #9521
Required a rebuild to fix, restarting Android Studio didn't work

[2021-09-16 15:47] david-allison-1 commented on #9521
Updated description

[2021-09-17 01:52] kpdyer16 commented on #9451
Hi I'm new here, but I'd like to take on this issue.

[2021-09-17 15:28] mikehardy commented on #8368
Related #8781 was merged. The whole gesture system itself was just reworked and that landed I think in #9142 / #9460. This is anki ecosystem compatibility and so should remain open. I believe it's available for work, but perhaps collaborate with @david-allison-1 on how to do a keyboard / gesture mapping if it's not obvious

[2021-09-17 15:44] mikehardy commented on #9451
@kpdyer16 that would be great. This one will be a little difficult to test because getting a copy of the raw file from crowdin may be difficult without the API key.

I'm attaching an ankidroid.zip file that *would be* the result of the download (referenced as "zipfile" in the update-localizations.py script) here for use during testing.

Note that the script requires python2.7 - and it behaves best

[2021-09-18 06:50] Lizzygg opened #9522 "Import cards from Mémorion"
Hello,

I have many cards in Mémorion (flashcard app) that I would like to export to Anki. Is there a way to do it without losing the progress?
I can export them in TSV, or XLS format. Also in the specific .mem one.

Thanks for reading

[2021-09-18 07:36] #9146 closed

[2021-09-18 13:46] mikehardy commented on #9522
Hi there! Anki desktop allows for csv import, use anki desktop to import then sync up to ankiweb and down to ankidroid. There's no other way at the moment

[2021-09-18 13:46] #9522 closed

[2021-09-18 14:43] #9295 closed

[2021-09-18 17:46] szpak opened #9523 "[Bug] Second audio file not auto played if first one is not available"
###### Reproduction Steps

0. Ensure auto playback for audio files is enabled.
1. Create a card template with 2 audio files on the front page, e.g. `[sound:broken.mp3] [sound:existing.mp3]`.
2. Change `existing.mp3` to any audio file available in your collection.
3. Review that card.

###### Expected Result

The second audio file is auto played (the first one is missing).

###### Actual Result

No

[2021-09-18 18:06] david-allison-1 commented on #9523
What does Anki Desktop do here? From memory, it was the same functionality, but this could have changed

[2021-09-18 18:35] szpak commented on #9523
2.1.15 just plays the second (existing) file, ignoring error on the first one. However, it's not the newest desktop version, so it might change in the meanwhile (unfortunately, there is no RPM available with the newer version for Fedora).

[2021-09-18 21:13] mikehardy commented on #8901
Still searching for solutions 😂

[2021-09-19 15:23] GypsyAcidQueen commented on #8925
Just chiming in to say that this is affecting me too, and to keep the thread alive!

[2021-09-19 15:53] mikehardy commented on #8925
Yep - part of the conversion is handling the new V16 schema, and 2 more of those massive pull requests just went in yesterday, with another pending https://github.com/ankidroid/Anki-Android/pulls?q=is%3Apr+author%3Adavid-allison-1+sort%3Aupdated-desc+

It's not easy to do all this stuff right but David's chewing through it at quite a rate

[2021-09-19 16:14] WiliTest opened #9524 "(when a text is selected) on the android menu "anki card" or "share") add an option to copy the selection to the back instead of the front"
**Is your feature request related to a problem? Please describe.**
We are learning a new language. We use heavily the awesome anki option that showing in any app when we select a word. The menu allow us to to create a new anki card with this word and add it to our deck (which contain thousands cards). The problem is that it always copy the word on the "front". So we need to cut past the word into

[2021-09-19 16:15] WiliTest commented on #9524
**The solution is to create a new note type :**

- on the dek page, click on the 3 vertical dots  on the top right corner then on "manage note types"
- click on the "+" in the top right coner and select in the menu "Clone:Basic" with the note type you commonly use
- give a name to this note type
- click on the new note type and then click on "Font", selection "reposition field" and enter 2

When y

[2021-09-19 16:15] #9524 closed

[2021-09-19 16:24] david-allison-1 opened #9525 "string: `link_donation` is unused"
This is used incorrectly (used in code, but not displayed). It's not picked up by our lint checks as we:

* Get the string from an array
* Apply substitutions to this string via `String.format`, rather than the Android `getString()`

It should be removed, but let's handle this in a separate issue/PR

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/9400#disc

[2021-09-19 17:15] mikehardy commented on #9525
Oh - is it the difference between getString vs String.format that allows it to silently fail lint checks? That informs my current misunderstanding of a part of #9400 - I'll read up on that, thanks

[2021-09-19 22:31] david-allison-1 commented on #9519
I started on this, and got waylaid with the fact that our "launch a task in the background" code isn't well designed (which makes a change like this slightly harder). It's a nice excuse to fix this part of the codebase, so this change will be behind a much larger change

Here's a relevant video while you wait, sorry for the delay

[![](https://img.youtube.com/vi/AbSehcT19u0/0.jpg)](https://www.you

[2021-09-19 22:59] eu2021 commented on #9519
Thanks for looking into this.

The video is very funny.

[2021-09-20 01:53] #8937 closed

[2021-09-20 05:27] pratik2315 commented on #9525
Hi, I would like to work on this issue if its alright? Thanks.

[2021-09-20 11:11] david-allison-1 commented on #9525
Sounds good to me!

[2021-09-21 02:10] huzaifa-shah10 commented on #9138
still searching for solutions

[2021-09-21 02:15] huzaifa-shah10 commented on #9138
can u tell me how to find te pictures with the emojis? i am not that tech savvy.

[2021-09-21 10:55] burbilog opened #9530 "[Bug] Lag and sometimes crash after some use"
###### Reproduction Steps

I have two devices -- old Samsung tablet with stock 5.1.1 Android and Asus ZB602KL phone with Pixel Experience (Android 11) ROM. The problem is the same on both devices.

1. Start using Anki, enter deck
2. Review about 20-100 times
3. Watch the lag, the next card will be delayed for several seconds. It depends on the device and the phase of the moon, but usually after 20

[2021-09-21 11:11] david-allison-1 commented on #9530
There's no relevant crash reports for the device listed. Could you post the debug info for the other device?

[2021-09-21 12:48] burbilog commented on #9530
Right now I spent some time on Samsung tablet and got message that Anki program was stopped. Anki restarted and here is debug output:

[code]

Nothing secret (added .zip extension because github did not want to accept.apkg file):

[3way-20210921154003.apkg.zip](https://github.com/ankidroid/Anki-Android/files/7203103/3way-20210921154003.apkg.zip)

Note that this deck did not change much within few

[2021-09-21 15:36] sudomain commented on #9138
I'm not sure what OS you're running, but with the default file manager on Windows 10 I was able to find them by searching for (remember to start the search in collection.media folder):

`🔊`

IIRC this needed to be done on a computer other than the Android device because the sync process failed before it got the images. I could be wrong though.

[2021-09-21 16:21] sudomain commented on #3106
I realize this is an old and closed issue, but I'm hoping to gain understanding why SD cards are not supported. Please don't interpret this comment the wrong way: I'm positive the devs have good reason to not support the feature, I just wish to know why.

A few possible reasons that I'm not sure of because I don't have a lot of Android dev experience:
1. Maybe there isn't a reliable way to use SD

[2021-09-21 16:45] sudomain opened #9532 "Feature request: separate path for collection.media/ ?"
**Is your feature request related to a problem? Please describe.**

Spurred by [a question I recently raised in an old issue](https://github.com/ankidroid/Anki-Android/issues/3106#issuecomment-924146180) it seems over the years many people have wanted support for SD card storage due to the size of their collections. I don't think most Anki users actually have `collection.anki2` files composing sev

[2021-09-21 17:19] mikehardy commented on #3106
Your point 1 is correct in that external storage in general is really hard to work with across the android API skew (more than vendor skew), and with the move to scoped storage, there is just not really time for us to handle the support load that comes in with custom paths and custom external storage setups. Go ahead and do it, you're just on you're own...

Point 2 is not something I think we care

[2021-09-21 18:27] david-allison-1 commented on #3106
They were unsupported before I joined. I'm willing to question the status-quo and state that I don't know, but I don't have the time to take this on. Unsupported also means "they work if you change the path, but we don't provide support for issues".

You can probably find some history from older threads about this.

Point 3: Having an SD card allows the user to eject the card whilst the applicatio

[2021-09-22 01:58] mikehardy commented on #9530
Thank you very much for all the details - I haven't checked the collection yet, but progressively bad performance followed by a crash is *usually* a webview not handling something about the card template well, and typically it has been "heavy fonts" in the past. I wonder if this will go that way? Anything like that sound familiar about your collection / this deck?

[2021-09-22 03:50] david-allison opened #9536 "Rust: Add regression tests for default `col` class structures"
`learnAheadCardsRegressionTest` was very useful in comparing a new filtered deck, and highlighted some inconsistencies between our current code and the Rust.

We should perform the same checks with

* [ ] new Deck
* [ ] new Dconf
* [ ] new model
  * [ ] template
  * [ ] field

to ensure we're not unintentionally changing functionality or adding regressions.

This will also help in the future to ac

[2021-09-22 04:34] david-allison-1 commented on #9530
Collection uses heavy fonts (japanese with stroke ordering).

[2021-09-22 06:36] david-allison-1 opened #9538 "Dev Process: enable linting unit tests"
Can be set via:

`lintOptions { checkTestSources true }`

https://developer.android.com/reference/tools/gradle-api/4.2/com/android/build/api/dsl/LintOptions

But, there's a long way to go, we likely want a baseline file to start with.

[code]

@mikehardy - this can be a good first issue if a baseline is used.

What do you think? Baseline, or work through the issues to get a clean build

[2021-09-22 06:43] david-allison-1 commented on #9538
We could add `Scope.TEST_SOURCES` if we only want to apply some of our custom rules to tests.

https://groups.google.com/g/lint-dev/c/rtjVpqHmY0Y

[2021-09-22 13:27] danielelaclac opened #9540 "AnkiDroid Sync Error"
Everytime I try to sync the Ankidroid I get the same error as the image. I do not have a SD card. AnkiDroid sync is in the smartphone storage. Ive never had this error before. I use anki since 2020 february.

AnkiDroid Mobile Sync Error 

AnkiDroid Version = 2.15.6

Android Version = 10

Manufacturer = samsung

Model = SM-N9600

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 10;

[2021-09-22 13:32] mikehardy commented on #9538
Tough one. Normally I'm really incremental but I never see us getting to zero if we don't just work through them - anything ignored now will likely be ignored forever, they're all vetted tests right, like this is our normal lint config right now? I think we should be able to pass that.

[2021-09-22 13:58] david-allison-1 commented on #9538
Counts:

The main issue is `WrongConstant`, which is commonly used intentionally to ensure that constant values don't change

Count  | Code | Definition
-- | -- | --
1 | InlinedApi | Using inlined constants on older versions
42 | NewApi | Calling new methods on older versions
240 | WrongConstant | Incorrect constant
1 | DirectCalendarInstanceUsage | Use the collection's getTime() method instead of

[2021-09-22 14:07] mikehardy commented on #9540
Hi there! Perhaps check app permissions and make sure "external storage" is granted to the app. The path looks fine, it just looks like AnkiDroid can't see it for some reason

[2021-09-22 14:47] danielelaclac commented on #9540
Already cheked. I have no sd card in the smartphone.

Em qua., 22 de set. de 2021 às 11:08, Mike Hardy ***@***.***>
escreveu:

[2021-09-22 14:50] david-allison-1 commented on #9540
@danielelaclac

Please sync to obtain the error message, then go to "Help - Get Help - Send Troubleshooting Report".
We can help you further after this is submitted.

[2021-09-22 15:01] mikehardy commented on #9540
I was most interested in storage permission. I am very curious to know the app definitely has read/write external storage permission granted via system settings for the app.

This is unrelated to whether you actually have an SD card or not

[2021-09-22 15:21] bratkartoff opened #9543 "[Bug] SVG Images displayed with incorrect colors"
#### Description
Since today, the svg images from [this deck](https://ankiweb.net/shared/info/2109889812) (I haven't checked other decks) are displayed incorrectly. White is replaced with black, and all other colors are lighter than they should be (as if the black component was replaced with white).
##### Actual Result
How it looks:
![BugOnPhone](https://user-images.githubusercontent.com/46403888/

[2021-09-22 15:29] danielelaclac commented on #9540
This has been already submitted.

Em qua, 22 de set de 2021 11:50, David Allison ***@***.***>
escreveu:

[2021-09-22 15:30] david-allison-1 commented on #9543
Hi, likely our night-mode inversion playing up

Edit - Cards... Styling - add `.night_mode {}`

Let me know if this doesn't work.

Best,

David

[2021-09-22 15:30] danielelaclac commented on #9540
I see no sd cards option. Is it what you are talking about?

Em qua, 22 de set de 2021 12:01, Mike Hardy ***@***.***>
escreveu:

[2021-09-22 15:32] david-allison-1 commented on #9540
I see the reports, but there's nothing in the logs to help.

Can you ensure that you submit the report immediately after seeing the error message that is in the main post.

Additional debug context:

https://github.com/ankidroid/Anki-Android/blob/27dbaeed881d3a1ef7b775311dabdf0780d3fc7f/AnkiDroid/src/main/java/com/ichi2/libanki/sync/FullSyncer.java#L94-L111

[2021-09-22 15:42] danielelaclac commented on #9540
Sent another report. Have u recived it? Thanks

Em qua, 22 de set de 2021 12:32, David Allison ***@***.***>
escreveu:

[2021-09-22 15:50] david-allison-1 commented on #9540
I only see two from two hours ago for [88a124e4-d2bb-438d-b823-1782aafd9db6](https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/reports-browser/user/88a124e4-d2bb-438d-b823-1782aafd9db6)

[2021-09-22 15:51] danielelaclac commented on #9540
Strange :(
Ive sent another just 5min ago
AnkiDroid Version = 2.15.6

Android Version = 10

Manufacturer = samsung

Model = SM-N9600

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 10; SM-N9600
Build/QP1A.190711.020; wv) AppleWebKit/537.36 (KHTML, like Gecko)
Version/4.0 Chrome/93.0.4577.82 Mobile Safari/537.36

ACRA UUID = 76dc5cfe-f15e-4177-a965-0742701be98a

Scheduler = std2

[2021-09-22 16:07] mikehardy commented on #9530
https://docs.ankidroid.org/#customFonts

[2021-09-22 16:16] burbilog commented on #9530
Well, it may explain problems with Samsung tablet (but again, it worked OK with the same font months ago), but does not explain lag on ZB602KL with 4G RAM -- my RAM widget shows at least 1 gig free. I'll try to delete webview updates, may be google added something heavy to it...

[2021-09-22 16:40] danielelaclac commented on #9540
Any news? :(  thanks

Em qua, 22 de set de 2021 12:01, Mike Hardy ***@***.***>
escreveu:

[2021-09-22 17:03] mikehardy commented on #9530
Having free RAM on the system does not mean the process itself has available RAM or is using it correctly, unfortunately. In matters of performance things are very often unintuitive and normal assumptions about how things should behave frequently don't match reality. Makes related issues really "exciting" to troubleshoot ;-).

WebView updates happen all the time and frequently break things, unfort

[2021-09-22 17:07] mikehardy commented on #9540
Not sure about David's analysis of crash reports but you have not answered my question about storage permission, so I have no news.

You said:

I did not mean sd cards. I said storage. If you use your android system settings app to pull up the installed apps, and you select ankidroid and then go into it's permission settings, you should see an item for storage (or "Files and Media" on really new a

[2021-09-22 17:08] danielelaclac commented on #9540
I have sent you the pictures and asked you if that was the answer you were
seraching for

Em qua, 22 de set de 2021 14:07, Mike Hardy ***@***.***>
escreveu:

[2021-09-22 17:12] mikehardy commented on #9540
Please stop using mobile email replies. Click on the link to the actual github issue, and reply in here. Tell me what you see in the pictures. I do not see anything about system preferences in the pictures. You are showing me pictures from AnkiDroid settings, not Android settings.

[2021-09-22 17:18] danielelaclac commented on #9540
Here are the pics of the Android Settings
![photo_2021-09-22_14-17-21](https://user-images.githubusercontent.com/90069013/134390936-8a556971-8b47-4782-8ad6-2226571ba19a.jpg)
![photo_2021-09-22_14-17-26](https://user-images.githubusercontent.com/90069013/134390941-6f565692-e72b-4b6b-8181-2e71d1a81edb.jpg)
![photo_2021-09-22_14-17-33](https://user-images.githubusercontent.com/90069013/134390943-07ea

[2021-09-22 17:29] mikehardy commented on #9540
Thanks for those - the Memoria setting in Permissoes is the one I was really curious about. Permitido indicates it should be working. The only other thing I can think of is if you set the path to `/sdcard/AnkiDroid` maybe that helps, but in general at this point I am stumped - it should be working.

[2021-09-22 17:38] danielelaclac commented on #9540
Same error:
![photo_2021-09-22_14-36-42](https://user-images.githubusercontent.com/90069013/134393765-2319fe57-8504-46c9-bfd0-491999428438.jpg)
![photo_2021-09-22_14-36-46](https://user-images.githubusercontent.com/90069013/134393767-12ab568e-148e-4774-a7bd-d1342c39251a.jpg)
![photo_2021-09-22_14-36-52](https://user-images.githubusercontent.com/90069013/134393771-3d0012cb-921e-485b-89d4-4f5cb2d536

[2021-09-22 18:05] burbilog commented on #9530
Deleted webview updates on Samsung tablet and worked though the deck, ~200 cards, no problems. So, it seems to be introduced with recent webview update. BTW, there is new update from Google for webview, I'll update it on ZB602KL and check it tomorrow, with fresh amount of cards.

[2021-09-22 18:12] mikehardy commented on #9530
Happy to hear a success report! I'm sorry to say that if this is a WebView crash related to heavy fonts, it is really outside our control similar to all the previous ones that resulted in the documentation I linked. So I'm going to close this, but I do understand it's frustrating

[2021-09-22 18:12] #9530 closed

[2021-09-22 19:13] danielelaclac commented on #9540
I'm Anki user since 2020. Never had any problems. Now it has been 3 days I cant get acces to AnkiMobile. :(

[2021-09-22 22:44] meepmerp commented on #9540
I'm having the exact same problem with multiple decks between 2 different separate profiles/ankiweb accounts.
This user is also having the same problem: https://forums.ankiweb.net/t/problem-syncing-error-when-downloading-from-ankiweb/13580

It seems a recent update from ankiweb has broken ankidroid's sync ability given all the users having problems. The reason I say its ankidroid is because the an

[2021-09-22 22:55] david-allison-1 commented on #8988
Need a test: "update from V11 with an invalid template and see what happens in the note editor"

Previously, we were allowed invalid templates, now they can't be created

[2021-09-22 23:08] david-allison-1 commented on #9540
Thanks, looking into it. We haven't pushed an update in a while, so it may be an AnkiWeb change.

[2021-09-22 23:11] david-allison-1 commented on #9540
Okay, I get:

`Sync Error: Sync failed. Please visit ankiweb.net and log in as **email** to confirm the updated terms and conditions`

[2021-09-22 23:18] david-allison-1 commented on #9540
@meepmerp @danielelaclac Could you try logging in to https://ankiweb.net and see if this resolves your issue.

[2021-09-22 23:22] danielelaclac commented on #9540
I have already logged in https://ankiweb.net. Now when I try to sync I get this other error. Any ideas?
![photo_2021-09-22_11-04-34](https://user-images.githubusercontent.com/90069013/134434600-d8018c26-cd05-4c41-911c-92dd27acf2a3.jpg)
:

[2021-09-22 23:29] meepmerp commented on #9540
I can't find a place to confirm the updated terms and conditions in my 2 accounts, but I did try to log out and in with both accounts on ankiweb. Same errors when trying to sync.

I also tried to create a new ankiweb account and upload my desktop profile to ankiweb, which works fine (i'm able to answer on ankiweb and sync back to anki desktop). But the new account has the same behavior and error w

[2021-09-22 23:31] danielelaclac commented on #9540
"I also tried to create a new ankiweb account and upload my desktop profile to ankiweb, which works fine (i'm able to answer on ankiweb and sync back to anki desktop). But the new account has the same behavior and error when trying to sync to ankidroid."

The same has happened to me. I've created 3 new accounts. Have reinstalled AnkiDesktop in multiple pcs and AnkiMobile in mutiples devices. Nothi

[2021-09-23 00:12] mikehardy commented on #9540
Just to be clear on one point: AnkiMobile is the iOS version and is not related to us here in any way. We are AnkiDroid and work on Android. I think (based on your screenshots) this is just a name confusion and otherwise we are all talking about the same thing, but I want to be clear on that point in case you reach out for support in other channels - if you say AnkiMobile when you mean AnkiDroid i

[2021-09-23 00:14] david-allison-1 commented on #9540
Anything on your side which would be relevant here?  @dae

Can't reproduce these issues after accepting the new T&C

[Relevant code for "SD Card" error](https://github.com/ankidroid/Anki-Android/issues/9540#issuecomment-925043027) - likely downloading non-standard file content

[2021-09-23 00:44] dae commented on #9540
The 'must confirm terms to proceed' is a recent change, but that should result in a message to the user. The "error reading a body" issue looks like network troubles, and it may be worth checking for packet loss: https://faqs.ankiweb.net/syncing-failed-connection-timed-out-errors-when-syncing.html. The SD card issue is presumably something AnkiDroid-specific.

[2021-09-23 00:47] danielelaclac commented on #9540
I still get the same SD error. There is no file like this "collection" file
in my Ankidroid folder

Em qua, 22 de set de 2021 21:44, Damien Elmes ***@***.***>
escreveu:

[2021-09-23 00:58] meepmerp commented on #9540
I only get that error reading a body issue when I import my anki desktop .apkg export, fully sync it with ankiweb, and then try to sync ankidesktop with ankiweb.

When I sync between anki desktop and ankiweb everything is fine; I can answer cards on either ankiweb or desktop and it'll save/sync properly. It's only when I try to sync to ankidroid that I get these SD card errors. I have never had an

[2021-09-23 00:59] danielelaclac commented on #9540
"I have never had an SD card in this phone for 4 years using ankidroid.
This all started yesterday. I did also factory reset my phone and delete
everything to try and get it working to no avail."

Me too

Em qua, 22 de set de 2021 21:58, meepmerp ***@***.***>
escreveu:

[2021-09-23 01:28] meepmerp commented on #9540
Just throwing this out there, the new anki desktop version 2.1.48 did just get released 2 days ago. Might be a coincidence, but it it is around the same time this started, if they made some changes to how things are stored on ankiweb or such.

Let me know if you want any more or my files or anything and thanks for looking into it.

[2021-09-23 07:48] bratkartoff commented on #9543
Thanks for the hint.
Editing the card's styling didn't solve the problem with any combination of "Night Mode" and "Appearance", but deactivating the dark mode for AnkiDroid in the MIUI settings does.

In the phone settings,
Display > More Dark Mode Options - uncheck AnkiDroid.

[2021-09-23 07:48] #9543 closed

[2021-09-23 08:48] sangorys commented on #8660
How can I help ? I am living with this bug daily since several months.

Intuitively, this is a bug with a background task which takes maybe 30s on a big database when the training has been finished on a deck. I have 3500 cards. I guess you need a big database to reproduce it

[2021-09-23 14:26] mikehardy commented on #9543
Oh how I hate hate hate MIUI forced dark mode. MIUI in general is a broken Android implementation and honestly I wish it did not exist.

[2021-09-23 14:33] mikehardy commented on #9540
I have not tried anything with apkg export/import, but with AnkiDroid and either AnkiDesktop 2.1.48 or 2.1.42 (tried first, then updated) I have no issues in any directions, so at least for now I can't reproduce. I won't have time to try .apkg export/import to specifically trigger everything, sorry

[2021-09-23 15:43] david-allison-1 commented on #9543
Xiaomi strikes again! 😉

https://github.com/ankidroid/Anki-Android/blob/a2eb2093ab29943b07b3452ab96eedc018234298/AnkiDroid/src/main/java/com/ichi2/utils/AdaptionUtil.java#L168-L171

Glad you got it sorted, thanks for taking the time to debug it!

[2021-09-23 16:46] sudomain commented on #3106
Thank for the detailed replies. Some of this comment could be in my feature request(#9532 ) but is here because it ties with this discussion too.

I'm in an US metropolitan area and I'm (very) fortunate enough to be able to afford a device with storage that is "the next size up" from my current device. At the same time, I'm willing to pay a bounty for the SD feature equivalent to the price of this

[2021-09-23 17:08] cdhiraj40 commented on #7354
hey, @david-allison-1 @Arthur-Milchior I would like to know more about this and will sure like to work too. Thanks.

[2021-09-23 17:11] david-allison-1 commented on #3106
Yep - there's a hard limit of 65k files per directory in FAT32, which is a more pressing issue than the #8148 issue (which I can't reproduce on my Android).

[2021-09-23 17:23] mikehardy commented on #6614
Turns out it appears possible via an xml change to disallow force dark mode entirely, this could solve a lot of MIUI problems, with the caveat that then the user would have to select it manually again until #9408 lands https://stackoverflow.com/a/65616633/9910298

[2021-09-23 17:28] mikehardy commented on #3106
Still, with regard to filesystem formats, that's probably something we can detect, looked at as an engineering problem. Similar to our "we can't expand this zip file because there's no space" check. We can check for files vs formats and do something. Anyway, I'm totally fine maintaining it as an option (that is: supported in code) I would just continue it's "go ahead and use the feature but please

[2021-09-23 17:30] cdhiraj40 opened #9546 "Login Activity does not support closing the keyboard when clicking in the background."
**Is your feature request related to a problem? Please describe.**
It's always good to have the keyboard close when clicked on backgroud.

**Describe the solution you'd like**
I will add 2 methods:
1-hideKeyboard
2-hideKeyboardBackground

**Additional context**

https://user-images.githubusercontent.com/75211982/134555746-bea556d9-3d45-4878-a1c9-91d2ae54e8ff.mp4

[2021-09-23 17:32] cdhiraj40 commented on #9546
if @david-allison-1 @mikehardy like this feature I can implement this at other places too. Thanks :)

[2021-09-23 17:37] mikehardy commented on #9546
If I'm correct, I think I noticed the same thing today. Is the video you posted already integrating the feature? Because when I tried to login today I noticed that I tapped out of the text box and the keyboard did not go away (so my password field was still obscured, which was annoying)

[2021-09-23 17:38] david-allison-1 commented on #9546
This is a standard Android interaction. The keyboard is closed by the back button. Most apps only close it when scrolling

I don't personally see the benefit from changing this behaviour. I'm willing to be convinced, especially if you have a source from UX/UI guidelines

[2021-09-23 17:41] cdhiraj40 commented on #9546
Yes I did this and then recorded the screen.

[2021-09-23 17:45] cdhiraj40 commented on #9546
Sorry, currently I don't have any UX/UI guidelines. But it's really annoying as @mikehardy pointed out, users have to take their finger down to press the back button whereas the same can be done by just clicking on the screen which makes the user experience better (as an AnkiDroid user:) ).

[2021-09-23 17:58] mikehardy commented on #9546
@david-allison-1 interesting! So in react-native, most screens are actually implemented inside a scroll view container (because you never know if you're content really will fit on a single screen in a small device). And the scroll view container defaults to dismissing the keyboard on any non-text-field tap:

https://reactnative.dev/docs/next/scrollview#keyboardshouldpersisttaps

So in my professio

[2021-09-23 17:58] #9546 closed

[2021-09-23 20:28] meepmerp commented on #9540
This morning around 10am the issue spontaneously fixed itself for both profiles/decks. I didn't do anything different, but I'm not complaining. Thanks for all the help.

[2021-09-24 05:38] cdhiraj40 opened #9547 "ResetPassword is hidden behind the ```sign_up_description```"
**Is your feature request related to a problem? Please describe.**
Whenever the keyboard opens the string resources always hides the reset password

**Describe the solution you'd like**
It can be stopped by adding ```windowSoftInputMode =adjust pan ```

**Describe alternatives you've considered**
None, But would love to hear the alternatives

**Additional context**

https://user-images.githubuserc

[2021-09-24 05:39] cdhiraj40 commented on #9547
What are your thoughts? @mikehardy @david-allison-1

[2021-09-24 07:11] Lou-0 opened #9548 "[feature request] Select decks to sync"
Hi,

I own a very basic phone, and I am so happy that the ankidroid app is so light, it's perfect for me.

However, some of my decks are a bit heavy (with MP3 files), and it fills my phone memory up pretty fast.
It would be amazing if I could choose to exclude these decks from synchronisation to save space.
I still use these decks on ankiweb and on pc.

Do you think this could be possible? People

[2021-09-24 12:49] YoungMind1 commented on #9368
I have the same problem, my timezone is UTC +3:30 Tehran
this problem happened to me the day we changed the clocks(Daylight saving time thingy)
my android is on 20 59
while my ankiWeb and desktop are on 20 61

[2021-09-24 13:30] mikehardy commented on #9548
Hi there! Selective sync of decks is something that is just not supported in the ecosystem - if you want this feature you'll have to petition "upstream" on AnkiDesktop first at https://forums.ankiweb.net (though please search first as it may already be addressed)

In the meantime, separate profiles might be the ticket - that's something we don't support directly but we do make an effort to support

[2021-09-24 13:30] #9548 closed

[2021-09-24 13:32] mikehardy commented on #9547
Please search for issues tagged good first issue and use those as your first contributions, it will really help
We're behind in several areas of project management (reviewing, merging, releasing etc) and contemplating a bunch of new features is not a high priority right now

[2021-09-24 13:32] #9547 closed

[2021-09-24 13:45] cdhiraj40 commented on #9547
sorry for the inconvenience. I will sure look into that issue and try to work on them

[2021-09-24 14:36] #9292 closed

[2021-09-24 15:26] Jonta commented on #6535
Perhaps related enough to be in this issue:

Still a white flash before showing the updates in dark mode

2.15.6 - 20210714

Android 10

[2021-09-24 15:38] asereze opened #9550 "Support for Sardinian"
I've completed the translation of AnkiDroid into Sardinian (ISO 639-1 code: "sc") on Crowdin. Could you please add it to the app?

[2021-09-24 15:44] david-allison-1 commented on #9550
Wow! Already 100% on everything, that's incredible. Thank you so much!

https://crowdin.com/project/ankidroid/sc

[2021-09-24 15:48] mikehardy commented on #9550
Wow, pretty sure that is a new speed record! You'll have to sign up for the *alpha* testing group (not just beta) to see it, but the next release should have it after I merge @david-allison-1's pull request

:trophy: !

[2021-09-24 16:59] asereze commented on #9550
Thank you to you for your work!

Ahahahah nice! But I have to admit I "cheated", since I already had started working on it on Stringlate a few days ago, so I had most of the strings ready!

Ok, thank you very much!

[2021-09-24 17:02] david-allison-1 commented on #9550
Just to note, we've updated the following with additional format strings, could you check them out to confirm the `%s` are in the correct place

* https://crowdin.com/translate/ankidroid/8167/en-sc?filter=basic&value=0#q=sync_error_invalid_sync_server
* https://crowdin.com/translate/ankidroid/7291/en-sc?filter=basic&value=0#q=ankidroid_init_failed_webview

[2021-09-24 17:04] david-allison-1 commented on #7354
@prince-09 Do you still have the time to work on this?

[2021-09-24 17:07] cdhiraj40 commented on #7354
@david-allison-1 as it's been so much time and no response from @prince-09 I would like to work on this but before that can you provide me some more info? I'm new here. Thanks!

[2021-09-24 17:12] david-allison-1 commented on #7354
I've given a brief explanation in https://github.com/ankidroid/Anki-Android/issues/7354#issuecomment-803271657 . The code has moved around a little, but you can Ctrl+Shift+F for the constants to find the new locations.

https://docs.ankiweb.net/templates/fields.html?highlight=hint#hint-fields will be useful.

Please let me know what information you'd like.

[2021-09-24 17:15] cdhiraj40 commented on #7354
sure I will give it a read, thanks :)

[2021-09-24 17:15] david-allison-1 opened #9553 "A lint failure should publish the HTML report as an artifact"
A lint failure should publish the HTML report as an artifact

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/9552#issuecomment-926792874_

[2021-09-24 17:27] mikehardy commented on #9553
Actually, in practice this is more convenient, I think. The build log is already downloadable if needed, and it is more convenient than an artifact (which is delivered by zip and requires expansion etc) for what should be textual information

The new 4 lines here puts it right there where you want to see it immediately:

[code]

Testing locally and will PR

[2021-09-24 17:32] david-allison-1 commented on #7354
A key shortcut is defined in the "Controls" section of the preferences.

This allows you to map a keyboard/gamepad button to an action in the reviewer.

https://github.com/ankidroid/Anki-Android/blob/e93a3251ef14bb285b09473ee1b13681398e8a85/AnkiDroid/src/main/java/com/ichi2/anki/cardviewer/ViewerCommand.java#L39-L38

[2021-09-24 17:33] david-allison-1 commented on #9553
Oh, if that doesn't truncate the log, it'd be perfect!

[2021-09-24 17:36] mikehardy commented on #9553
In practice it's never that many errors, and tens of thousands of log lines are acceptable per build step, with hundreds of thousand(s?) acceptable per build. Even then the full log is available via a quick click and it comes down text immediately (no zip mediation) so the happy path is much better and the failure mode is better too

[2021-09-24 17:46] #9553 closed

[2021-09-24 18:11] david-allison-1 commented on #9550
I've updated a few strings which use `&amp;` instead of `&`:

* https://crowdin.com/translate/ankidroid/7291/en-sc?filter=basic&value=0#q=less_than_time
* https://crowdin.com/translate/ankidroid/8173/en-sc?filter=basic&value=0#q=note_editor_replace_newlines_summ

Needs fixing 🔨:
* https://crowdin.com/translate/ankidroid/7303/en-sc?filter=basic&value=0#q=about_content

@mikehardy This may be due to

[2021-09-24 18:11] mikehardy commented on #9550
2.16alpha16 is building now and after it finishes build + release upload + google processing (maybe an hour?) it should start showing up in the Play app on phones tied to the alpha channel :rocket:

[2021-09-24 18:11] #9550 closed

[2021-09-24 18:11] david-allison-1 commented on #9550
Done a manual test and it looks good, thanks!!

[2021-09-24 18:13] david-allison-1 commented on #9550
Info.java: needs a regression test for each language - it currently crashes due to https://github.com/ankidroid/Anki-Android/issues/9550#issuecomment-926827683

[2021-09-24 18:13] david-allison-1 opened #9555 "Info.java: needs a regression test for all languages"
Info.java: needs a regression test for each language - it currently crashes due to https://github.com/ankidroid/Anki-Android/issues/9550#issuecomment-926827683

This is the info obtained via `Settings - Advanced - About AnkiDroid`

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/9550#issuecomment-926829062_

[2021-09-24 18:14] david-allison-1 commented on #9555
[code]

[2021-09-24 19:45] mrudultora commented on #6535
@Jonta A white flash happens as the webview is created and loaded and then javascript code runs. The amount of info in changelogs is too big so it takes some time. The same code works for "About Ankidroid" and "Open Changelog", but this doesn't happens in "About Ankidroid" due to smaller content. I hope this explains the reason of white flash. Talking about the solution, I would like to get other'

[2021-09-24 20:05] asereze commented on #9550
Yes, they are correct.

Done!

[2021-09-24 23:21] mikehardy commented on #6535
Interesting - you could open a blank page with the correct  background then re-load with the changelog perhaps. I consider this a mild issue but if you are in a very dark setting and have dark mode on I bet that pop of white is pretty unexpected

[2021-09-25 05:11] mrudultora commented on #6535
Yeah, that can be done. I would look to make a PR in the meantime.

[2021-09-25 06:50] cdhiraj40 commented on #7354
Hey @david-allison-1 , I can't find this file in the master branch, can you tell me how to access it?
and also how to test the code which I'm gonna write as it's for desktop(that's what I currently have in my mind) and the repo is for the android app.

[2021-09-25 07:01] david-allison-1 commented on #7354
It should exist in master. Use Ctrl+T to search for it

[2021-09-25 07:07] cdhiraj40 commented on #7354
oh sorry not that one , this one  https://github.com/ankidroid/Anki-Android/blob/d74d72624c604d9e3f63e7c6a3d55a5b0bb11345/AnkiDroid/src/main/java/com/ichi2/anki/reviewer/PeripheralCommand.java#L120-L119

[2021-09-25 07:33] david-allison-1 commented on #7354
https://github.com/ankidroid/Anki-Android/blob/e93a3251ef14bb285b09473ee1b13681398e8a85/AnkiDroid/src/main/java/com/ichi2/anki/cardviewer/ViewerCommand.java#L149-L206

[2021-09-25 14:21] MathewKJ2048 commented on #8397
I am willing to work on this issue, if any help is needed

[2021-09-25 16:56] MagTun opened #9556 "[Bug] The column "Answer" in Card browser shows everything below the tag "id=answer" - including fronside"
When I review my cards I would like the answer to be displayed above the question but the template create a bit of a mess in the card browser

###### Reproduction Steps

I have set up a note type with the back template as follow (the answer is placed above the question):

[code]

The front template is simply :
`<div class="green">{{Front}}<div>
`
When I do a review, the display works as intended.

[2021-09-25 17:43] david-allison-1 commented on #9556
If this doesn't match Anki Desktop's behaviour, please let us know

Otherwise, use the Browser Appearance feature to fix this. See the video below

[![AnkiDroid: Cleaning the Card Browser with "Browser Appearance"](http://img.youtube.com/vi/JbxNP4pSIBA/0.jpg)](http://www.youtube.com/watch?v=JbxNP4pSIBA)

[2021-09-25 19:39] MagTun commented on #9556
This is perfect!

As a side note for other users with the same problem, I also add a problem with the TTS which was reads everything that was on the back template so first the answer {{Back}} and then the question {{FrontSide}}. This was solved by using <tts> tags as explained [here](https://www.reddit.com/r/Anki/comments/guz2aw/ankidroid_tts_exclusion/fsn0n7v/?utm_source=reddit&utm_medium=web2x&c

[2021-09-25 19:43] david-allison-1 commented on #9556
Thanks. Keeping this open as it's an issue that we're not emulating Anki Desktop behaviour. Feel free to unsubscribe.

This will likely be soled in a recoding of the backend infrastructure that I'm in the middle of, but adding a `@Ignore`d Unit Test would be a good first issue for someone to pick up

[2021-09-25 20:37] #9262 closed

[2021-09-26 02:54] cdhiraj40 commented on #7354
hey @david-allison-1 I'm having a problem in adding hints in the card, I know how to add in Anki but I guess the same method doesn't work in anki-android. (I have written code and wanna test). Thanks

[2021-09-26 02:57] david-allison-1 commented on #7354
What have you tried? What goes wrong?

[2021-09-26 03:04] cdhiraj40 commented on #7354
I have tried this ```{{#Hint}}{{hint:Hint}}{{/Hint}}```
[code]

[2021-09-26 03:10] david-allison-1 commented on #7354
Why not just use `{{hint:Hint}}`? You shouldn't need conditional replacements for the feature.

Keyboard shortcuts are listed [above](https://github.com/ankidroid/Anki-Android/issues/7354#issuecomment-927043197)

[2021-09-26 16:10] david-allison-1 opened #9557 "[Bug] Value null at creationOffset of type org.json.JSONObject$1 cannot be converted to int"
[code]

[2021-09-26 16:13] david-allison-1 commented on #9557
Issue with

`getCol().get_config("creationOffset", 0)` - throws if the value is null

[2021-09-26 20:10] sangorys commented on #8660
I am sorry for the bad news : same behavior with the last alpha release

How can I help you more ?

[2021-09-27 11:59] pratik2315 commented on #9557
Is there any way I can reproduce this bug?

[2021-09-27 15:47] david-allison-1 commented on #9557
The above call in a test should be all that's required. I'll get it fixed.

[2021-09-27 15:51] david-allison-1 commented on #7334
Now #9229 is merged. The majority of complaints are resolved in V2.16

[2021-09-27 15:51] #7334 closed

[2021-09-27 17:28] #9557 closed

[2021-09-28 02:03] david-allison-1 opened #9563 "[Bug] `dconf.rev.perDay` defaults to 100"
Anki Desktop defaults to 200. Change was made in https://github.com/ankitects/anki/commit/3cccae7a1f048d91cdc4ef4fcd1b919c76791007

Our code's last major modification was c0830de6c00eb4db88010a57540416a5c5ef1f5d - this isn't a regression, been like this for a long time.

###### Expected Result

Reviews/day on a new collection is set to 200

###### Actual Result

Reviews/day on a new collection is

[2021-09-28 08:55] cdhiraj40 commented on #7354
Hey @david-allison-1, Sorry for the late I had academic exams, I will make PR can you check as I'm still having a problem with where to add functionality that works after clicking the "H" key, hope you can help. Thanks :)

[2021-09-28 13:34] david-allison-1 commented on #7354
Viewercommand::getDefaultValue

[2021-09-28 14:15] #9563 closed

[2021-09-28 18:09] cdhiraj40 commented on #7354
I did add this code there but I didn't get the hint shown
[code]

[2021-09-29 00:06] Shidouuu opened #9568 "Custom colors and themes/presets"
Customizable colors for individual menu items and such would be very nice over the default light/plain and dark/black.

Would like to see ability to change color of:

- Card text
- Specific elements of cards, like card title, definition, notes, etc.
- Menu bars
- Buttons
- Background
- Menu text
- Basically everything

Even if the only way to change them were a text box with a color id I'd be very

[2021-09-29 00:16] mikehardy commented on #9568
Hi there!

I think a more maintainable path forward is probably to handle the Android 12 theming system but I'm not sure exactly what the APIs are yet https://duckduckgo.com/?t=ffab&q=android+12+theme+system

[2021-09-29 02:46] david-allison-1 commented on #8819
Needs investigation on the next round. I've added a "database locked" screen, but haven't confirmed if this fixed the issue

[2021-09-29 11:59] Shidouuu commented on #9568
Interesting, however many devices are not upgraded to or do not have Android 12. Also, wouldn't the colors only be changeable through the device settings, affecting the whole device rather than just AnkiDroid? And wouldn't it be more difficult to change the colors of individual elements?

[2021-09-29 14:17] cyphar opened #9569 "[Bug] Gap above Deck Overview Screen on Boox Device"
###### Reproduction Steps

1. Install AnkiDroid on the Onyx Boox Nova Air 3.
2. Open it.
3. Notice that the tablet display mode is being used, but the Deck Overview screen has a white gap above the top bar.

I don't have any other tablets and couldn't find any screenshots of how this should look online, so I'm filing a bug because this seems like some sort of bug to me.

###### Expected Result

|

[2021-09-29 15:11] david-allison-1 commented on #9569
Could you check the [alpha](https://github.com/ankidroid/Anki-Android/releases/download/v2.16alpha17/AnkiDroid-2.16alpha17.parallel.A.apk)? I believe this has been fixed

[2021-09-29 20:34] david-allison-1 opened #9570 "Fix Note Editor icons not appearing on Xiaomi"
This is because they don't invert the colors in their dark mode.

Thoughts:

* Add a border to the icons
* Disable Xiaomi dark mode inversion (I saw a comment a couple weeks ago)

Adding this as a separate issue because it's causing review pain

[2021-09-30 00:11] mikehardy commented on #9570
The dark mode disable looked gross - possible, but gross. I wonder if adding a border is sufficient to stop it :thinking: ? If so that seems easy

[2021-09-30 00:16] mikehardy commented on #9568
The ability to do fully custom theming on a per-app basis is something very few users ask for (though yes, I hear your request), while it adds a great deal of complexity to the app, so it will likely never be a priority.

Supporting a general system way of doing it (which, ideally - though not necessary is easy) is possible.

Luckily most Android devices these days are pretty easily upgradable and

[2021-09-30 00:49] Shidouuu commented on #9568
Haha that seems like a challenge

[2021-09-30 01:26] cyphar commented on #9569
Yes, it appears to be fixed in the alpha. Thanks. :smile_cat:

[2021-09-30 01:26] #9569 closed

[2021-09-30 01:51] david-allison-1 commented on #9570
What was gross about it? I'll need to read up, but from memory it was an attribute in the style/attrs somewhere?

[2021-09-30 11:31] Shidouuu commented on #9570
Could you post a screenshot? I have a xiaomi and I'm not sure which icons you're talking about

[2021-09-30 14:36] Shidouuu opened #9572 "[Bug] On a card with two type inputs, AnkiDroid only lets you type into one; shows one answer on answer screen"
###### Reproduction Steps

1. Create a new card type with a 'Reading' and 'Meaning' field, and create a new deck with a note.
2. Type something into them.
3. Paste the following html into the front and back sides:
Front:
[code]
Back:
[code]
4. Now go back to the main menu and study the deck.
5. Enter something into the input, and observe.
###### Expected Result
On Anki desktop, on the answer scree

[2021-09-30 14:46] szalejot opened #9573 "[Bug] "is:learn is:review" not showing any cards"
###### Reproduction Steps

1. Open Card browser
2. Put "is:learn is:review" as a search condition.

###### Expected Result
Should filter cards that have lapsed and are awaiting relearning. That how it works on desktop Anki.

###### Actual Result
No cards are shown.

###### Debug info
AnkiDroid Version = 2.15.6

Android Version = 8.0.0

Manufacturer = asus

Model = ASUS_Z01HD

Hardware = qcom

Webv

[2021-09-30 15:09] mikehardy commented on #9573
If someone picks this up as a first issue and attempts to triage it: You will need to get the latest Anki Desktop, the latest AnkiDroid, get a collection and do a few reviews and get it synced across a new account on AnkiWeb, and make sure that everything is set up for testing with a few cards in learning and a few in review etc. Then reproduce on both platforms, and start digging into AnkiDroid t

[2021-09-30 15:10] mikehardy commented on #9572
Oh my! Thanks for pointing this out - ecosystem compatibility is one of our fundamental goals (right next to "don't ever crash" and "don't lose data") so I tagged this up appropriately and hopefully someone has time to look at it

[2021-09-30 15:17] mikehardy commented on #9570
@Shidouuu it would be excellent if you can reproduce this and help us test any possible fix!
Xioami has a "forced dark mode",
- if you make sure it is enabled, and specifically is enabled for AnkiDroid
- make sure AnkiDroid is not in "local dark mode" (that is, make sure that AnkiDroid *wants* to be in normal light mode

I think at this point AnkiDroid should be showing up in the MIUI forced dark

[2021-09-30 15:38] Shidouuu commented on #9570
Interestingly, it seems I do not even have a force dark mode:
![IMG_20210930_113357.jpg](https://user-images.githubusercontent.com/36283656/135486258-ca1fc1a6-28c5-4595-8aa5-036029e6631d.jpg)

On MIUI 11.0.3.0, Redmi Note 5. Apparently there's no updates available...

[2021-09-30 17:37] mikehardy commented on #9570
Oh that's a shame - it looks like you zeroed in *right* where it should be according to this https://youtu.be/ZUyqyR4xpgk?t=153

So that device won't be a valid test rig for this :shrug:  - we wait :-)

[2021-09-30 19:14] david-allison-1 commented on #9046
@prateek-singh-3212 is this still potentially going to be completed? I can take it on if you'd like

[2021-09-30 19:25] david-allison-1 commented on #9572
Anki Desktop also does not handle this behavior correctly

[2021-09-30 22:59] Shidouuu commented on #9572
@david-allison-1 Oops, my mistake. I assumed it had worked yesterday when I was messing around yesterday. Hadn't gotten the chance to test it until I got home. Thanks for pointing it out! I'll make an issue on the Anki Desktop repo.

[2021-10-01 11:20] Shidouuu commented on #9572
Yeah turns out two types are just incorrect syntax. I would _love_ to be able to separate the readings and meanings onto different cards, but being a shared deck with thousands of cards, that might take awhile... Unless there's some magical script I can make to separate the furigana from the kanji.

[2021-10-01 11:20] #9572 closed

[2021-10-01 12:46] david-allison-1 commented on #9572
Anki also has CSV import, which can be used to mass update cards (coming soon in AnkiDroid, probably won't make 2.16).

[2021-10-01 13:15] mikehardy commented on #8917
I think this is actually a reasonable first issue, reopening and tagging as such

[2021-10-01 13:23] mikehardy commented on #9572
This is how Anki sucks you in. First you just start learning things, then you realize something is missing, then you realize that it was all built in a way that is actually kind of easily hackable, then you start developing on it and getting PRs merged ;-)

[2021-10-01 13:30] Shidouuu commented on #9572
Ehehehe, I didn't think it'd turn into a programming journey when I started using Anki, but as soon as I started customizing it...

[2021-10-02 00:17] cmdtstof opened #9576 "when adding new card in a desk, the correct card-type for the desk must be used"
**Is your feature request related to a problem? Please describe.**
before i started to use differnt card-types i added very often new cards in different desks when stumbling across a new word/.... but since using different card-types and with not ensured, that desk and card-type is working proper, i have first to check what card-type is used for the desk. takes too long :)

**Describe the solution

[2021-10-02 00:22] cmdtstof opened #9577 ""about" in menu with at least the anki-android version"
**Is your feature request related to a problem? Please describe.**
for getting the installed version on must go to f-droid!

**Describe the solution you'd like**
add in menu an "about" with app version and url to website, ....

**Describe alternatives you've considered**
no app version found :)

**Additional context**
anki android 2.15.6

thanks a lot

[2021-10-02 05:27] Arnold2381 commented on #9538
Hey @david-allison-1 I would like to continue this. Can you give some info on how to start with this?

[2021-10-02 11:08] david-allison-1 commented on #9538
Set `checkTestSources true` in `lintOptions` in `lint.gradle`.

Run `./gradlew lintAmazonRelease`

And pick a subset of issues to fix. There's probably about 350 left

[2021-10-02 11:09] david-allison-1 commented on #9577
This is available in

Settings - advanced - about ankidroid

[2021-10-03 00:09] cmdtstof commented on #9577
hmmmm, yes i found it also. a bit hidden??? that's why i let the issue open. maybe someone likes to reorder / add an "about" with version-nr, help, support, ... ??? thanks.

[2021-10-03 10:09] MmZy1 commented on #9540
@mikehardy
Hi,
I have the same problem whenever my internet connection is around 60 kb/s max and it not associated with deck size and if it contains media or no, but if I full sync in 400 kb/s connection it's work fine, so I think it's a serious issue if users who have a bad connection internet need to do a full sync in ankidroid.
Thanks

[2021-10-03 10:19] MmZy1 opened #9580 "Hierarchical sidebar or page feature for ankidroid?"
I suggest Maybe ankidroid can have sidebar option in browser like anki desktop that can be access by a small button and then view the same contents like tags and decks but in a "tree hierarchical style" and keep the filter by tag and flag options, so we can benefit from hierarchical tags with :: seperator like anki desktop.
Thanks for your help

[2021-10-03 11:49] Arnold2381 commented on #9538
@david-allison-1  for NewApi I am solving it by adding  `@RequiresApi(api = Build.VERSION_CODES.O)` before tests. Is that okay?

[2021-10-03 14:34] david-allison-1 commented on #9538
Sounds good! If the tests pass, I'm happy

[2021-10-03 18:25] mikehardy commented on #9580
tagging this for ecosystem compatibility analysis to compare our behavior with current anki desktop
It may be that this feature is too difficult to do in the constrained screen size that is a typical mobile device, but who knows...

[2021-10-03 18:27] mikehardy commented on #9538
wait - does that imply that these tests will only run on Oreo (android 8) and higher? If so that means we'll lose coverage on code for a large percentage of devices we run on. If there are a lot of tests like this it would be better to make the code more compatible if possible

[2021-10-03 18:42] david-allison-1 commented on #9538
Did we run Robolectric on older Android versions (besides via `@Config`?).

Travis was an OS-based split, rather than an API-based split. From memory this was on a modern version of Android

[2021-10-03 18:49] mikehardy commented on #9538
I run robolectric locally against the full API skew periodically, yes.
Travis was OS and API (and JDK, actually) - it was a pretty bit matrix

[2021-10-03 18:55] david-allison-1 commented on #9538
How does Robolectric handle these tests currently?

If I'm reading right, it's exercising APIs which aren't provided by the Android version, so should crash

[2021-10-03 19:01] mikehardy commented on #9538
:thinking: good point, it definitely does not crash or I would have logged something prior. It appears to run through them fine

[2021-10-04 05:49] MmZy1 commented on #9580
@mikehardy
For size issue, you can make it like the way sidebar shows in notion app in mobile:
![Screenshot_2021-10-04-08-44-22-544_notion id](https://user-images.githubusercontent.com/91826472/135800274-665f121d-e3d2-43bc-90ca-f45c2c6cbe43.png)
It's easy to use I think and size will not be problem like this

[2021-10-04 09:07] voidplayer commented on #9573
Maybe related #8307

[2021-10-05 03:50] aarjav24 commented on #9368
I'm facing a similar problem. The card count on AnkiDroid and Anki Desktop don't match for me until late in the evening when they finally show identical number of due cards. Until then, AnkiDroid says I have zero cards due and I'm unable to review any cards until the evening, which has led me to miss days.
![image](https://user-images.githubusercontent.com/68058926/135956943-9c8acba6-8ac0-4994-9a6

[2021-10-05 04:14] aarjav24 opened #9586 "[Bug] Card due count doesn't match Anki Desktop"
###### Reproduction Steps
#9368
1. Review cards such that you have at least 100 cards for the next day.
2. When review count shows up on desktop _the next morning,_ open AnkiDroid.
3. Synchronize AnkiDroid to see the mismatch in the number of review cards.

###### Expected Result
The number of due cards should match in both the apps.

###### Actual Result
Cards don't match until late in the day on

[2021-10-05 04:23] aarjav24 commented on #9586
Disabling the "legacy timezone handling" option fixed the problem.

[2021-10-05 15:18] david-allison-1 commented on #9368
Updated the OP with a solution for end-users. I can't reproduce this issue and the thread is designed to help find users who can debug and determine why it's occurring.

[2021-10-05 19:00] Dan-Lukich opened #9590 "[Bug] When cards are set to auto-show the answer and TTS is on, Ankidroid prompts you to re-select the language for every card rather than every deck"
###### Reproduction Steps

1.  Android 9, Samsung J3V
2.  Turn on TTS for every card in Preferences
3.  Turn on timers to show the answer and show the next card.

###### Expected Result

To be prompted to select a language once for each deck, rather than for every card.

###### Actual Result

I'm prompted to select the TTS language for every card, rather than each time a new card is automatically

[2021-10-06 02:17] david-allison-1 commented on #9590
Thanks for the report!

[2021-10-06 13:48] bcroll opened #9592 "Chromebook crashes- Need someone with a chromebook!"
[AnkiDroid Maintainer Edit: This issue is a list of stack traces right now, but the best way to start if you have a chromebook is simply to install AnkiDroid from source, and try to run it, watching `adb logcat`  and see how it goes. According to user reports, it will be unusable / crash immediately, so that's where to start...]

Hi - I'm having trouble opening AnkiDroid on my Chromebook (Acer Spi

[2021-10-06 14:39] david-allison-1 commented on #9592
Hi, are you able to open the main screen, in order to obtain troubleshooting information?

Which store did you obtain AnkiDroid from?

We'll need the logs from AnkiDroid starting up. I'm not sure how to obtain these, but Google should help.

"adb"/"logcat" may be search terms to use. Please let me know what you find from Google search so we can help the next person with troubleshooting.

Best,

Da

[2021-10-06 17:25] bcroll commented on #9592
Hi David - thank you for the quick reply. Once the app crashes, I am no longer able to access the main screen. Prior to it crashing, there is no troubleshooting information available that I can find.

I did a google search of abd and logcat, but based on the type of content that this brought up, it is beyond my level of knowledge/comfort. It looks like to use Android Debug Bridge, you have to use

[2021-10-06 17:41] bcroll commented on #9592
So oddly enough, I've found that only certain actions make the app crash. I am able to open settings, but once in that screen, it inevitably crashes. The other action that prompts it to freeze up is attempting to log in (by first clicking sync).
Aside from that, I am able to make new cards and decks and browse cards (I made a few test cards). Very odd.

Here is a screenshot (not sure if that will

[2021-10-06 17:51] mikehardy commented on #9592
Very odd indeed. I just attempted to reproduce and unfortunately (or fortunately?) it appears that everything works fine on the Google-provided Pixelbook emulator. I was able to log in and sync, and then review a full deck and everything was fine.

(note to maintainers: it's not easy to run the Pixelbook emulator at the moment because current emulator binary builds are incompatible, you need an ol

[2021-10-06 18:22] prateek-singh-3212 commented on #9573
@Guneetconvent2002 Yes, Go ahead.

[2021-10-06 18:26] bcroll commented on #9592
Mike and David,
Thank you for taking the time to look into this. I'll keep using my regular Anki app on iOS and my desktop!
If I figure anything else out on the Chromebook, I'll post it.
Best,
Ben

[2021-10-06 18:28] prateek-singh-3212 commented on #9555
Yes, Go ahead 🚀

[2021-10-06 18:42] david-allison-1 commented on #9592
https://ankiweb.net/about should be usable in the meantime, but I'm aware it's not a full substitute.

[2021-10-06 19:36] Golddouble opened #9593 ""filtered/virtual deck" -> options -> options -> "activate second filter" is missing"
**Is your feature request related to a problem? Please describe.**

In Anki Desktop in the options of a "filtered deck", I can enable a second
filter. I have done this.
But in Ankidroid I have not found the function "second filter". It looks
in the GUI as if there is only one filter possible.

When I sync now my Anki desktop (with a second filter in options) with
Ankiweb and then sync Ankiweb with

[2021-10-06 19:37] david-allison-1 commented on #9593
Hi, have you tried our alpha builds? I believe we've implemented this feature

[2021-10-07 01:32] ElnuDev commented on #8005
I feel like there should be a "no stale" label or something...

[2021-10-07 03:35] david-allison-1 commented on #8889
Thanks, will get this fixed for 2.16.

Is it possible for handling an array of size 2 to the AnkiWeb backlog so older AnkiDroid clients aren't broken?

[2021-10-07 03:45] adarrssh commented on #9555
Hey i tried to make anki-droid in android studio .
I changed the language to Sardinian and then went to setting ->advanced setting ->about Ankidroid but didn't face any crash,
what can i do next?

![image](https://user-images.githubusercontent.com/85433137/136316974-db17dd84-5985-4d7f-97ec-d309fca3ce9d.png)

[2021-10-07 03:59] david-allison-1 commented on #9555
What's the result of `git rev-parse HEAD`

[2021-10-07 04:06] david-allison-1 commented on #2609
The Automatic Answer functionality has two screens:

* `general` `Settings - Reviewing - Automatic Display Answer`
* `per-deck`: `Deck Options - Reviews` - this is stored in the collection

The linked PR only adds it to the "general" settings. I don't recall any opposition to including it in both. It feels like an oversight

[2021-10-07 04:39] adarrssh commented on #9555
1.I just forked the anki-droid repo from GitHub and  2.tried run on my device and then
3.I changed language in app and then went to 'about ankidroid' section but didn't get a crash  .

Where wrong steps did I take ?

[2021-10-07 04:43] david-allison-1 commented on #9555
You need to check it out at a specific commit. It's not broken on `master`

https://github.com/ankidroid/Anki-Android/issues/9555#issuecomment-936734994

[2021-10-07 14:28] david-allison-1 commented on #9555
I've explained in the bullet points above.

You're in a detached HEAD state. That's correct. Make a branch and commit at the point of failure

Once you get a failing test, cherry pick the commit to a branch off master

[2021-10-07 16:09] Tyler-Programs commented on #9590
Hi, could I work on this issue? I've confirmed that this is still a problem in version 2.16alpha17.

[2021-10-07 16:10] Tyler-Programs commented on #9590
Great, thank you!

[2021-10-07 17:22] david-allison opened #9595 "[Bug] backupMax set to 0"
I expect this is due to the introduction of 51c048f7c476cbdbce5fe05e48aae120f1cf6cbe due to #5019 (preferences deprecated). `defaultValue` seems to be ignored

###### Reproduction Steps

1. Open a new instance of AnkiDroid
2. Open Preferences

###### Expected Result

`backupMax` is set to 8

###### Actual Result

`backupMax` is set to 0

###### Debug info

`git rev-parse HEAD` = 7cf38111c4eba093c8

[2021-10-07 19:36] #9593 closed

[2021-10-07 22:47] david-allison-1 opened #9597 "[Bug] CI - Broken test: resetResetAllElementsFromOnboarding"
Works on my machine.

The following returns 4 on my machine. 5 on CI
[code]

[code]

[2021-10-07 23:11] david-allison-1 commented on #9597
Improved output:

[code]

Caused by interference from https://github.com/ankidroid/Anki-Android/blob/efed27bbb15e48de435caef5252d9a341c6d36d9/AnkiDroid/src/test/java/com/ichi2/anki/OnboardingFlagTest.kt#L33

[2021-10-08 12:27] #9597 closed

[2021-10-08 12:43] mikehardy opened #9600 "Existing clients should have their custom sync server default value removed"
AnkiWeb has moved away from `https://msync.ankiweb.net` since 2017, but we provided this as a default value to clients in a preferences screen and should clear it

----

This default is persisted to the preferences when the screen is viewed. We should presumably remove it for current clients as well as avoiding suggesting it to new users

Either via:

* Adding a preference upgrade to `PreferenceUp

[2021-10-08 15:06] #9595 closed, assigned to david-allison

[2021-10-09 00:17] david-allison-1 commented on #9590
We typically use the `config` annotation to do this, but overriding the context variable should also work, as done in`AnkiDroidApp.java`. A Google search would also likely provide an answer.

If you're having trouble tomorrow, give me a message and I'll take a look. I don't want you spending too long looking into this. I really appreciate the effort.

[2021-10-09 10:57] user1823 opened #9605 "AnkiDroid compresses images while adding causing text to become unreadable"
When I add images (e.g. diagrams) to my Anki cards using AnkiDroid, it compresses the images. This sometimes makes the resolution too poor that the text (in the images) is not readable. Kindly fix this issue.

[2021-10-09 11:00] david-allison-1 commented on #9605
Hi, are you using copy/paste, or the gallery?

[2021-10-09 11:07] user1823 opened #9606 "Support for adding SVG images to cards"
I often need to add SVG images to my cards. However, the option provided in AnkiDroid to add images seemingly doesn't support SVG.
So, I have to first go to the file manager to the move the SVG file (say, example.svg) to the collection media folder and then type (&lt;img src="example.svg"&gt;) in the desired part of the card. This process is very tedious.
I think there should be a shorter way. Pos

[2021-10-09 11:09] user1823 commented on #9605
I am using the Gallery.
Pin icon -> Add image -> Gallery

[2021-10-09 13:47] Pedrubik commented on #4856
I was having this problem too. I downgrade to webview 59.0.3071.125 and now it works.

[2021-10-09 14:16] WiliTest commented on #4956
Please add the "reset progress" option (of a specific card) to the app bar. We currently need to quit the desk and find the card in the card browser to do it which takes time.

[2021-10-09 14:53] mikehardy commented on #2609
Great - thanks - then I propose a single preference, saved under a sensible key in collection config, and we're done here

[2021-10-09 15:00] mikehardy commented on #9606
Interesting. If the Android WebView supports it, I don't see why not? @user1823 you confirm that when you go to use cards that have .svg file references they render just fine?

For anyone that implements this:
- the file picker has a list of media types that it accepts I believe? Check in the Multimediacard package area to find where we open the file picker and see if we can just add .svg to the l

[2021-10-09 16:13] mikehardy commented on #9606
Since WebView defines what we support, perhaps the preview could use a WebView to render the images there?

[2021-10-09 16:30] david-allison-1 commented on #9606
Yep! As long as we ensure that normal images go through the compress stage

[2021-10-09 16:52] #9555 closed

[2021-10-09 16:53] david-allison-1 opened #9611 "Improve performance of #9604"
Issue which I'll likely take on. We can reduce the runtime by a minute via `EmptyApplication` and extracting a method

See discussion on #9604

We can't just use `EmptyApplication` as this triggers the backup detection code

[2021-10-09 23:56] Tyler-Programs commented on #9590
Thank you for the help. I hope I did things right, I'm still inexperienced working with Android.

[2021-10-10 21:05] mikehardy commented on #9523
go go go go :-)

[2021-10-11 07:57] Kale123456 opened #9616 "issue when Adding Cloze Note On some android phones"
https://1drv.ms/v/s!Aoq6hTbE2xg2jBFWJ44iBnAmTbbD

That link contains the screen recording of how the issue took place. Also if you need logs, please tell how to do them. This issue is persistent with many other friends who use ankidroid, making us have to use the computer app in order to create cloze notes.Other stuff:

If you need any more information, just reply i will reply within the same day.

[2021-10-11 08:24] david-allison-1 commented on #9616
The file has been deleted. Could you upload it again?

[2021-10-11 08:44] Kale123456 commented on #9616
https://1drv.ms/v/s!Aoq6hTbE2xg2jBFWJ44iBnAmTbbD

Im sorry guthub wouldnt let me upload a 20 second screen recording

[2021-10-11 11:48] mikehardy commented on #9616
No crash reports with that UUID unfortunately.

Got this from a K20 though

[code]

[2021-10-11 15:21] Kale123456 commented on #9616
By "getting that from a K20" what do you mean. Also please tell me something i can understand as i don't understand what the report contains. Thanks😄

[2021-10-11 15:45] Kale123456 commented on #9616
AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = Xiaomi

Model = Redmi K20 Pro

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 11; Redmi K20 Pro Build/RQ3A.210605.005; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/94.0.4606.71 Mobile Safari/537.36

ACRA UUID = 1050ccb5-c136-48ba-89fd-482f3beb12cc

Scheduler = std2

Crash Reports Enabled = true

Da

[2021-10-11 18:26] #9616 closed, assigned to nobody

[2021-10-11 23:04] gthfaria opened #9618 "Automatic Language Selection feature in the Note Editor for multilingual keyboards"
According to the Anki manual "This feature allows you to define a default language to be used in your keyboard for a field in a note type."

I have tested this feature and it works very well when you are editing or adding a card. However, when you are reviewing a card that uses the "type in the answer" feature, the automatic language selection does not seem to work.

[2021-10-12 02:38] mikehardy commented on #9376
Actually, the underlying utility must have been fixed because the deadline passed and this is still working...

[2021-10-12 02:59] david-allison-1 commented on #9618
It's a prompt to perform some refactoring on the "Type Answer" functionality - I don't like touching aspects of `AbstractFlashcardViewer` without trying to make things a little more manageable. The code's a beastie.

After that, it's a really simple extension

[2021-10-12 14:36] Shidouuu opened #9626 "type-in answer doesn't appear in card previews"
When previewing a card during editing, it doesn't show the type-in, forcing you to save your edits in order to test it.

[2021-10-12 14:44] mikehardy commented on #9626
Hmm - I don't see a benefit during preview in actually trying to compute the difference (that is: react to the results of typing) but are you saying that the type in answer box doesn't even render?

[2021-10-12 14:47] david-allison-1 commented on #9626
This has been on my TODO list: it's confusing for onboarding as it implies that the "type answer" functionality isn't working

[2021-10-12 16:22] #9618 closed, assigned to nobody

[2021-10-13 06:16] david-allison opened #9630 "[Bug] Automatic Display Answer does not advance if TTS is enabled and there is no text"
###### Reproduction Steps

1. Enable Auto Display Answer
2. Enable "Advanced - Read Text"
3. View a card with no back

###### Expected Result

1. The card moves on after the delay

###### Actual Result

1. Nothing

###### Debug info
2.15.6

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid

[2021-10-13 08:16] david-allison opened #9632 "[Bug] Webview Renderer crash can cause Auto-Answer to start again"
Repro on my device using an alpha.

We don't disable the auto answer functionality on pause, we only stop the current sound.

If the WebView crashes, the content is recreated, and this triggers the auto answer timer.

The WebView crashed after onPause on my Android 11, but not on my Android 9

[2021-10-13 09:02] GitGondola opened #9633 "Return a list of cards programmatically instead of opening the card browser with a query."
When learning Japanese, cards may share a kanji. I want to generate a list of words from other cads that share a kanji with part of the question kanji.
I would have this as an additional function, not one that replaces "AnkiDroidJS.ankiSearchCard(query)"

[2021-10-13 21:59] #9632 closed, assigned to nobody

[2021-10-14 01:23] mikehardy commented on #9633
It's javascript, so you can do anything you like with the results I think?

[2021-10-14 03:52] GitGondola commented on #9633
Do you have a basic example?

[2021-10-14 06:58] infinyte7 commented on #9633
I think it is not implemented -> to get card contents for particular note using note id.
There are some desktop addons which perform such action.

[2021-10-14 09:23] Heineken opened #9639 "[Bug] Opus sound files greyed out in file picker although accepted when renamed as mp3"
This is actually about two bugs, one preventing desired functionality, the other one providing it nonetheless via a hidden feature.

###### Reproduction Steps
1. Add/edit flash card sound
2. Add sound from library, point to local storage directory containing an opus file -> grey, i.e. not selectable
3. Rename opus file to .MP3
4. select it in 2. -> works just fine (in spite of wrong extension)

##

[2021-10-14 13:58] #9611 closed

[2021-10-14 14:10] mikehardy commented on #9639
It appears ogg support should get it though `.opus` is also a possibility https://en.wikipedia.org/wiki/Opus_(audio_format)#Containers

That would solve the first item

The second item is a platform thing, we won't even know (at the code level) if a sound file has an unexpected name/extension. The platform plays it or it doesn't, but we get no information, so that one will be a "won't fix"

[2021-10-14 14:14] mikehardy commented on #2609
The next alpha will have this feature!

[2021-10-14 14:48] infinyte7 commented on #9633
I have searched for existing function in AbstractFlashcardReviewer `col` and `mSched` but haven't found any function to so it needs to implement the java function first.
I want to implement this feature. Any additional information will be helpful.

[2021-10-14 17:17] WiliTest opened #9641 "Feature Request: "show this card in reverse 3 days after it shows" (new app bar button)"
Please add another way (more flexible and simple) to reverse some cards.

My deck includes 5000+ cards (vocabulary from a foreign language) that must be learned in a specific order (more and more difficult). I can't use the inbuilt "basic & reverse" option because:

1. I don't want to see all in reverse, but only the one I chose.
2. I want to learn a word first from my language to the foreign lang

[2021-10-14 21:23] david-allison-1 commented on #9639
This works on my Android 11. I believe that this would always have worked (as the mime type is `audio/ogg`).

This doesn't work on an API 26 emulator. This implies that there's additional work to do aside from #9225. I'll investigate

[2021-10-14 21:32] david-allison-1 commented on #9639
Ugg... MIME is `application/octet-stream` (binary file).

I'm open to suggestions, but we can't get a good UX here.

The best case would likely be a "allow all files" somewhere in the advanced prefs.

This is probably a WONTFIX and a phone OS update will fix this.

@mikehardy

[2021-10-14 23:54] #9639 closed, assigned to david-allison

[2021-10-16 15:56] ShridharGoel opened #9650 "Lint checks don't report wrong formatting and wrong code style"
Lint checks pass even when formatting or code style is improper.

For example, the following passes:
[code]

Lint should report that the opening brace should be in the same line as the `if` statement.

For more context, check this pull request: https://github.com/ankidroid/Anki-Android/pull/9647

[2021-10-17 04:04] prateek-singh-3212 commented on #9630
I would like to work on this issue.

[2021-10-17 04:47] ShridharGoel commented on #9650
@david-allison-1 It was for Java files. For Kotlin files, the pre-commit hook would format them unless it is skipped for some reason.

[2021-10-17 04:55] david-allison-1 commented on #9650
I expect that this will be a fair amount of effort to write, and work would be better placed in continuing the Kotlin migration

[2021-10-17 05:07] #9650 closed

[2021-10-17 06:13] david-allison-1 commented on #9630
Awesome, sounds good to me

[2021-10-17 18:12] david-allison-1 commented on #9521
A rebuild fixes this. Find the task which fixes it, then execute it before the lint check

[2021-10-17 21:07] david-allison-1 commented on #9570
User feedback: let's see if #9656 makes this better

![image](https://user-images.githubusercontent.com/62114487/137645031-c8d286cc-4725-4e61-8f61-7c329d813d06.png)

[2021-10-17 21:17] #9570 closed

[2021-10-17 21:59] david-allison-1 commented on #9570
![image](https://user-images.githubusercontent.com/62114487/137646436-d738c525-fd90-42cf-b60d-096b662fabf3.png)

[2021-10-17 22:35] mikehardy commented on #9570
I think that looks pretty good all things considered

[2021-10-18 14:21] krmanik opened #9663 "Anki Desktop features toggle sticky"
**Is your feature request related to a problem? Please describe.**
Anki Desktop has `Toggle sticky` features similar to frozen fields Anki Addon
![image](https://user-images.githubusercontent.com/12841290/137749345-6c5c4a2f-cfbf-4f53-b413-d32c8350e518.png)

**Describe the solution you'd like**
A `pin` icon similar to Anki to prevent clearing the edit fields

[2021-10-18 16:51] krmanik opened #9665 "Options to inject js code from deck options to modify scheduling information during reviewing"
**Is your feature request related to a problem? Please describe.**
The features is currently in beta in Anki Desktop.

<img src="https://user-images.githubusercontent.com/12841290/137773944-fb346b39-a869-4984-9044-79aae2fdaad4.png" height=400px></img>

**Describe the solution you'd like**
EditText view to insert js code with `states` provided.

**Describe alternatives you've considered**

**Additi

[2021-10-18 17:30] #7432 closed

[2021-10-18 17:33] #9372 closed

[2021-10-18 21:07] david-allison-1 commented on #9665
I can't say I've looked into the new scheduler massively, but I believe that it'll just be a call from the WebView to the Rust (via the Java).

![](https://media.giphy.com/media/9fga0fpr00vK/giphy.gif)

[2021-10-19 11:41] CodeGrepicious opened #9670 "S-pen related enhancement suggestions"
The S pen button on my Samsung tab s7+/Note 20 ultra and even Note 8 for erasing works in whiteboard mode.  I would like to suggest enpabling an option so that when you have a stylus, you can let it produce written input just when you're using your stylus,  so that you can use your finger for gestures scrolling etc.

Also, S-pen gestures serious be nice.  Swiping up down left right etc. Similar to

[2021-10-19 13:07] mikehardy commented on #9670
I can imagine these would be nice, and I am all for more input methods, but I just want to set expectations that this may not receive attention unless a person with an S-pen helps us develop the feature (@NicoWeio was the contributor that lent a hand last time, for what it's worth). We're happy to collaborate with anyone that wants to give it a shot and has the hardware though of course

[2021-10-19 13:09] david-allison-1 commented on #9670
Thanks for the issue! We've had a fair few people ask about the S-Pen over the years.

To further discussion: is there an open source SDK for the S-Pen?

This sadly may need to be the first step to get the gestures working. I've taken a brief look previously and it seemed like everything was fairly simple but proprietary.

[2021-10-19 13:39] mikehardy commented on #9592
Chromebook is having all sorts of problems based on Play Store reviews. Looks like google pushed out some sort of bogon in a Chrome / WebView update:

[code]

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/9445d140-00e1-4965-a30b-ba2bd68b2677

Unrelated to prior stack, still in WebView-land:

[code]
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/ind

[2021-10-19 15:36] david-allison-1 commented on #9618
Direct link to a valid release if you don't want to use Google Play:  https://github.com/ankidroid/Anki-Android/releases/download/v2.16alpha23/AnkiDroid-2.16alpha23.parallel.A.apk

[2021-10-19 23:02] david-allison-1 commented on #9600
Does need testing to see if we can get away with one value being null, I tested the area fairly heavily the last time I was here and I'm fairly sure we can, but syncing is somewhere we can't screw up

[2021-10-20 02:29] #9519 closed

[2021-10-20 03:35] dae commented on #4035
That should not be necessary; getQueuedCards() is designed to be idempotent under most circumstances.

[2021-10-20 06:20] david-allison-1 commented on #9630
Thanks!

Issue is

https://github.com/ankidroid/Anki-Android/blob/498be443b67d3079d57a5ea17b4bd0fa79542aa4/AnkiDroid/src/main/java/com/ichi2/anki/ReadText.java#L161-L169

Blocked temporarily on #9674

[2021-10-20 06:23] david-allison-1 commented on #5379
No longer relevant as Anki Desktop has disabled this functionality

[2021-10-20 06:23] #5379 closed

[2021-10-21 00:49] #9523 closed

[2021-10-21 03:58] #9538 closed

[2021-10-21 09:53] MagTun opened #9680 "[Bug] JS script not rendered on the back template"
This is really weird and I don't know if it could be reproduced but I have 2 note types (A and B)  that are similar  for everything except the position of front and back.
I have added a simple .js script on type A to modify how the text is displayed (change the color of a specific part of the front/back).
After making sure that the script works on A, I have copied it on B the script part.
But on B

[2021-10-21 10:14] david-allison-1 commented on #9606
sounds good to me

[2021-10-21 11:39] thiswillbeyourgithub opened #9682 "[Bug] ankidroid and anki don't sort deck the same way (capital letter, lexixographic, etc)"
###### Reproduction Steps

1. create decks named "A" and "B"
2. notice the deck order is the same in ankidroid and anki desktop
3. rename deck "A" to "a"
4. notice that the order is not the same in ankidroid and in anki desktop.

Capital letters are not considered the same for sorting in ankidroid, whereas it is the case for anki desktop.

###### Expected Result
* The deck order should be the same

[2021-10-21 11:44] thiswillbeyourgithub opened #9683 "already implemented ~add a "long press on app icon" shortcut to search the browser more quickly~"
OMG I didn't notice you already implemented this :(

I'm so sorry!

[2021-10-21 11:49] #9683 closed, assigned to nobody

[2021-10-21 11:53] #9682 closed

[2021-10-21 13:32] #9630 closed, assigned to david-allison

[2021-10-21 13:36] #9600 closed, assigned to Arnold2381

[2021-10-21 18:28] #9663 closed, assigned to nobody

[2021-10-21 19:31] MagTun commented on #9680
I don't have the code anymore, it was just a simple getElementById() and two replace() to assign the new color with a span.

I know it looks like a content issue and I investigated it that way, that's why I copied pasted the template and verify that the template were the same with the vscode compare function. Really, both note were the identical and yet only one worked (on several notes: just by c

[2021-10-21 19:31] #9680 closed

[2021-10-22 01:27] zihanxu3 commented on #9626
Hi are you still working on this one? If not I can give it a try!

[2021-10-22 02:09] mikehardy commented on #9626
This one has a PR in progress @zihanxu3 - #9684

[2021-10-22 03:10] david-allison opened #9687 "Crash - Card Template Previewer"
This is the only one that went in on this alpha that I think could have caused 2 firebase test lab failures like this?

[code]

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/9675#issuecomment-949221014_

[2021-10-22 03:57] david-allison opened #9688 "[Bug] Crash - Card Template Editor - can't add new template if "full sync" dialog appears"
###### Reproduction Steps

1. Perform a full sync if necessary
2. Make a new note type
3. Add a template

###### Expected Result

4. Crash

###### Actual Result

5. No Crash

###### Debug info
2.16 alpha 19
###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request s

[2021-10-22 03:59] david-allison-1 commented on #9688
The ordering of "add 0 new cards? Proceed" seems to be different

[2021-10-22 06:10] #9641 closed, assigned to nobody

[2021-10-22 07:02] #9046 closed, assigned to nobody

[2021-10-22 07:29] david-allison opened #9691 "[Bug] EditText not visible if "focus 'type in answer'" and fullscreen: "hide system bars""
###### Reproduction Steps

1. Settings - Advanced - focus 'type in answer'
2. Settings - Reviewer - fullscreen - hide system bars
3. Create and review a "type in answer" card

###### Expected Result

4. EditText is visible

###### Actual Result

4. EditText is obscured by keyboard

###### Debug info
AnkiDroid Version = 2.16alpha24

Android Version = 11

Manufacturer = Google

Model = Pixel 3a

Har

[2021-10-22 08:50] david-allison opened #9693 "Speed up pre-commit hook"
Optimisation potential: Could we only do the `clean` + retry if the initial lint run fails? That should speed up the happy path

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/9662#issuecomment-947326079_

[2021-10-22 11:42] nanoTiO2 opened #9694 "[Bug]full screen mode on miui12.5 can not be hided well in the next card if i call my top-bar."
[######](url) Reproduction Steps

1. open the full screen mode in miui12.5 (redmi k30pro) (anki2.16 alpha23)
2. start learning, and touch the top of the screen( slide it )
3. then in the next card,  top-bar of anki is not hided .

###### Expected Result

top-bar is hided

###### Actual Result

top bar is fixed in the screen,

explain:top-bar i mean, the place(how many card i ought to learn, time i

[2021-10-22 12:41] #9687 closed, assigned to david-allison

[2021-10-22 13:33] david-allison-1 opened #9696 "Card Template Preview: Check UX"
On an empty note we currently show "a card couldn't be generated". I feel this is better than defaulting to "Front/Back", but I'm not sure if this is the correct new user UX?

Maybe we want to use field names if all the fields are empty?

----

I'll defer the UX question to however Anki Desktop does it with a tie-break (in case they don't do anything similar) to `%s field contents here` or similar

[2021-10-23 14:17] trvs-lab opened #9701 "Add ability to turn off Reviewer scrollbars via Javascript"
Excuse me, I wanna write some css or javascript code to hide the scrollbar, but I haven't find the right way yet. The code below works fine on anki desktop, but it doesn't work on ankidroid, anyone can help me?
[code]

[2021-10-23 20:21] #9693 closed, assigned to nobody

[2021-10-24 17:48] david-allison opened #9706 "[Bug] ankiGetCardMark(): Returns UI state rather than card state"
Expected:

https://github.com/ankidroid/Anki-Android/blob/62c92186b332d80ed37681edc1cf4f8037f3fa92/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L2692-L2694

Actual:

https://github.com/ankidroid/Anki-Android/blob/62c92186b332d80ed37681edc1cf4f8037f3fa92/AnkiDroid/src/main/java/com/ichi2/anki/Reviewer.java#L224-L234

Call:

https://github.com/ankidroid/Anki-Android/blob/62c92

[2021-10-24 23:35] #9626 closed, assigned to WPum

[2021-10-25 08:44] Ironriot opened #9710 "<Feature request> Notification flashcards"
I would like to request the feature of **flashcards being shown in the notification bar** itself.
The notifications reoccurring according to the space repetition algorithm.

Similar to what this app does :- https://play.google.com/store/apps/details?id=com.g2.quizification.pro&hl=en_IN&gl=US
But **with graphic and video support**.

Thankyou

[2021-10-25 11:52] mikehardy opened #9711 "Check Media unused media report dialog unreadable in dark mode"
###### Reproduction Steps

1. Put some media in to your collection (attach an image then delete the note perhaps)
2. Run "check media" from deck picker menu options
3. Examine the unused media dialog (there should be at least one unused media now)

###### Expected Result

Dark mode or light mode it should be readable

###### Actual Result

Dark mode (via the dark mode toggle on the main drawer) it

[2021-10-25 11:58] mikehardy opened #9712 "CI flakiness - "Java heap space""
###### Reproduction Steps

1. Try to do some action in CI (I have seen this once on a unit test run, and now once on publish :scream: )
2. Note the CI failure
3.

###### Expected Result

Successful completion of whatever the workflow is

###### Actual Result

[code]

[2021-10-26 14:42] #9710 closed, assigned to nobody

[2021-10-26 15:04] #9706 closed, assigned to nobody

[2021-10-26 22:18] #9712 closed, assigned to mikehardy

[2021-10-27 13:41] #9701 closed, assigned to nobody

[2021-10-27 15:17] MagTun opened #9722 "[Bug] All audios are played when I click on any one of the audio buttons"
###### Reproduction Steps

1. Have a deck with a template with multiple audios on the back template (I haven't tested on the front template) [I am using this [desk](https://ankiweb.net/shared/info/238128422) with a modified front/back template cf below]
2. Start the study of this deck and show the answer
3. If needed, wait for all the sound to finish and then click on one of the audio button

####

[2021-10-27 17:00] WiliTest opened #9723 "feature-request: an option to set the default target of "share with AnkiDroid Card" to the front or back"
**Is your feature request related to a problem? Please describe.**
When I “send” or "share with AnkiDroid Card" the text I selected from my browser to create a new card, Anki put it by default in the “front” which is annoying.

**Describe the solution you'd like**
Please add an option to set the default field (front or back) it should send the text into.

**Describe alternatives you've considered*

[2021-10-28 13:22] #9711 closed, assigned to codingtosh

[2021-10-28 16:58] MagTun opened #9727 "How to reschedule a card via AnkiDroidJS?"
Is there a way to reschedule a card via AnkiDroidJS? By reschedule I mean preforming the same action that is done when using the button "reschedule for review in x days".

**Is your feature request related to a problem? Please describe.**
I have written a script  in my card template that determine if a card has an interval above 30 days and if yes, will first show either the front or the back base

[2021-10-28 18:48] MagTun opened #9730 "[Bug] AnkiDroidJS.ankiGetCardReps() and AnkiDroidJS.ankiGetCardInterval() return strange value"
###### Reproduction Steps
I am retrieving the number of reviews and the interval:
● via the template:
[code]

● via USB debugging

###### Expected Result
The retrieved values should match the one I see in the "Card info"

###### Actual Result
Sometimes the values don't match:

● Example 2:

<img src="https://user-images.githubusercontent.com/15843700/139314221-618bf5ed-ed3f-4110-9915-df34de225212.

[2021-10-29 17:06] #9691 closed, assigned to codingtosh

[2021-10-30 09:37] lukexodus opened #9740 "Options for new ease when rescheduling cards for review"
In the latest version, when "rescheduling cards for review," it sets the new ease of the card to 250%

Please add an option to choose what ease to change to when rescheduling:

- starting ease in the deck options
(I often change my starting ease often for different decks. 250% is not always applicable for any cards, some is easier (ex. 300%), some is harder (ex. 200%))

- doesn't change the ease (

[2021-10-31 04:44] dimatomp commented on #8893
I'm willing to try extending the ACTION_SEND API to send custom text fields to the app, and also make the intent-filter `BROWSABLE`. My idea is to add integration with AnkiDroid to Yomichan, in case if the latter runs on Android browser with such extensions supported

[2021-10-31 09:32] david-allison-1 commented on #8893
I wouldn't be opposed to this, but in case you're not aware, the functionality is supported by our [api](https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-API)

[2021-10-31 10:09] codingtosh commented on #3482
Hey @david-allison-1 , @mikehardy , I would like to take this up.
So just to confirm, we just need to enable Focus type in answer by default right?

[2021-10-31 10:10] david-allison-1 commented on #3482
Yep, should be another one line fix

[2021-10-31 10:32] dimatomp commented on #8893
@david-allison-1 Yes I have checked the page. By API supporting this functionality, I guess you mean the react-native and Java APIs for third-party apps?
If the client is a browser application, looks like the only choice is to deliver the request to AnkiDroid via intent, and I did not find any intent-filters exposing schemas like e.g. `ankidroid://flashcards/send?subject=XXX&text=YYY`. Is there an

[2021-10-31 11:22] codingtosh commented on #9467
This seems to be working fine on Version 2.16alpha28, Samsung's ONEUI API 30 as well. @david-allison-1 Could you upload a recording of the steps?

[2021-10-31 11:28] david-allison-1 commented on #8893
You seem to be correct and it's a reasonable use case.

I'll reopen this.

[2021-10-31 11:51] david-allison-1 commented on #9467
Can no longer repro... don't know what happened there. Apologies for the wasted time

[2021-10-31 11:51] #9467 closed

[2021-10-31 16:18] #3482 closed

[2021-10-31 16:45] #9456 closed

[2021-10-31 18:31] #9730 closed

[2021-10-31 18:32] #4821 closed

[2021-10-31 18:32] #5308 closed

[2021-10-31 18:32] #5543 closed

[2021-10-31 18:32] #6427 closed

[2021-10-31 18:32] #8116 closed

[2021-10-31 18:32] #9573 closed

[2021-10-31 20:30] MagTun commented on #9730
Amazing! This is working perfectly!

[2021-11-01 02:58] Arthur-Milchior opened #9750 "Long deck name are not in deck selection menu"
**Is your feature request related to a problem? Please describe.**
As seen on attached picture, when the name is long, it is truncated. It's a trouble because the last part of the name is actually the most relevant for me. While the earliest part allow me to sort decks

![Screenshot_20211101-035929_AnkiDroid.jpg](https://user-images.githubusercontent.com/357361/139615757-c94f44c0-fc3a-451a-aea3-33

[2021-11-01 09:42] david-allison-1 opened #9751 "Disable "html_javascript_debugging" for unit/android tests"
This code will make tests slower, as it unnecessarily introduces IO to the card rendering pipeline

https://github.com/ankidroid/Anki-Android/blob/e55051d054a10fcf8781095d874a73ec811a08ee/AnkiDroid/src/main/java/com/ichi2/anki/AnkiDroidApp.java#L333-L335

[2021-11-01 15:10] MagTun commented on #9722
I have tried the new alpha (2.16alpha29) and I still get the same bug. Also my friend, which has the same phone has the same bug (he had it already on the last regular release and now also on the 2.16alpha29)

[2021-11-01 19:29] MagTun commented on #9722
As a workaround/debugging, I have added to the back template a simple button which calls only the audio file via the `HTMLAudioElement`.

But I still get the sane bug: when I click this button all the audios are played, always in the same order as they are set in the HTML.

I tried several combinaisons by changing the order of the audio in the HTML and by calling different audio in the function `a

[2021-11-01 19:52] codingtosh commented on #9750
Hi @Arthur-Milchior , I would like to take this up. I think I have a working solution, ss for reference

![Screenshot_20211102-011712_AnkiDroid.jpg](https://user-images.githubusercontent.com/81802035/139732245-3aa8125f-29c8-404e-a57c-618e0ebedebe.jpg)

[2021-11-01 20:00] Arthur-Milchior opened #9754 "[Bug] Multiple note type"
###### Reproduction Steps

1. have a lot of note type. I have more than a hundred, but I expect less suffice. Also a small screen, so that you don't have all note on your screen at once (not sure if it is actually required, but I guess it is)
2. open add note
3. click on note type

###### Expected Result
Only one high highlighted note type

###### Actual Result
multiple highlighted note type

####

[2021-11-01 20:03] Arthur-Milchior opened #9755 "[Bug] No deck highlighted in deck selection in note editor"
###### Reproduction Steps

1. Open note editor
2. click on the deck
3. scroll to current deck

###### Expected Result

Current deck is highlighted (and ideally, when opened, current deck is shown on the screen, instead of the top of the deck list)

###### Actual Result
No deck is highlighted. Actually in DeckSpinnerSelection.java `initializeNoteEditorDeckSpinner` `noteDeckAdapter`, the method is n

[2021-11-01 20:08] Arthur-Milchior commented on #9750
Seems wonderful. I can't wait to see how you did it.
@david-allison-1 or @mikehardy would you be ok with this change in behavior. It would affect only people with long deck name

[2021-11-01 21:27] codingtosh commented on #9750
@Arthur-Milchior The approach is actually similar to yours, just the diffference that getView had to be overridden, not getDropDownView as we want to target the Spinner's view, not its dropdown/dialog view. I have included the inspection process in the PR for your reference. Please review.

[2021-11-01 23:24] #9754 closed

[2021-11-02 04:33] Arnold2381 commented on #8482
@david-allison-1

when i am running the tests at first I am getting this error
[code]
then i ran checkrsdroid file and found that `libgcc_s_seh-1.dll` is missing, so i downloaded the file shared by you and placed that at the required path.
And now i am getting this error
[code]

[2021-11-02 06:31] Arthur-Milchior commented on #9750
After more test, on my phone, it breaks when deck names are at least than 3 lines long. At least I saw the beginning of the third line, so that's already better

[2021-11-02 23:57] shiideyuuki opened #9762 "Feature request: Backup and restore settings"
Often times when Ankidroid crash, most of how I fix it is through clearing its data or uninstalling and reinstalling Ankidroid. Please add an option to backup and restore settings so that we don't have to always set the desired settings every time we fix Ankidroid crashes.

[2021-11-03 00:25] simranBhamra commented on #8045
@Arthur-Milchior Hi Arthur,
I am going to try to work on this for a school project. Can you explain what is meant by "share buggy card for debugging".

Thanks in advance!

[2021-11-03 00:55] simranBhamra commented on #8045
@Arthur-Milchior  Is this issue still open? I see there was a pull request that went stale and you mentioned in a comment that it was better to pick a different issue. However,  since this is still open is would I be able to work on this for a school project?

[2021-11-03 01:02] david-allison-1 commented on #9762
Hi, thanks for the request!

As an aside: Could you report these crashes? I spent a lot of time last year fixing what I believed to be pretty much all of the crashes. I haven't been actively bugfixing for a while, but if we've introduced bugs, please let us know so we can fix them.

[2021-11-03 01:10] shiideyuuki commented on #9762
I'm sorry I accidentally closed it 😅...

david-allison-1
I've set the settings to automatically send the crash reports. Do I have to take other steps for this one?

The most recent crash is when I've opened Ankidroid after I checked the "Automatic Synchronization" setting under "General." I don't know if this is the exact reason but I don't think it wasn't a coincidence either.

[2021-11-03 01:18] codingtosh commented on #9755
Hey @Arthur-Milchior , this took the whole night, but I was able to come up with a working solution. Please assign this to me, I'll be hitting the bed now but will upload the PR with detailed inspection/approach after I wake up.

https://user-images.githubusercontent.com/81802035/139984302-d5f38815-6286-4fca-b978-4d9ebd5047b9.mp4

[2021-11-03 02:39] Arthur-Milchior commented on #9755
Be sure to rebate on master. Deck spinner was changed a lot earlier. I spent a lot of time trying to understand and simplify it's logic

Thanks a lot

[2021-11-03 02:52] Arthur-Milchior commented on #8045
Since Tarekk leaved us, it would be great to have someone taking the issue over and closing it. You can probably either use the commits from the existing PR, rebase them onto master and resolve the conflicts. You can also read them to inspire you and create your own PR. Or you can create a PR from scratch (but I doubt it's the best idea)

[2021-11-03 02:53] #9750 closed

[2021-11-03 07:20] KasinaDheeraj opened #9763 "UI for buttons in adding multimedia."
**Is your feature request related to a problem? Please describe.**
No, this feature isn't a problem. But the UI has been with basic buttons, So I want to enhance them to good looking outline buttons.
**Describe the solution you'd like**
I would like to change UI as shown in below screenshots basic to outline.

**Additional context**
<img src="https://user-images.githubusercontent.com/58620100/1400

[2021-11-03 08:41] david-allison-1 commented on #9762
Thanks! Could you go to `Settings - Advanced - About AnkiDroid - Copy Debug Info` and paste it here.

In future, you have the power to edit or delete your comments.

[2021-11-03 09:07] theyashgrover commented on #9763
I would like to work on this issue (as well) , Once It's reviewed and accepted.

[2021-11-03 09:42] alxs commented on #8073
Thanks for keeping this alive @david-allison-1!

I came here to find this issue since it's been driving me nuts for the last few months (ever since I started using AnkiDroid again). I really think AnkiDroid is doing something very wrong here since I've never experienced this sort of situation with other apps. I'll briefly describe my experience:

- When opening certain file types that aren't assoc

[2021-11-03 09:53] david-allison-1 commented on #9763
I feel the change is preference based and conflicts with our current design (as questionable as it may be).

I'll wait for other maintainers, but it's a weak 'no' from me, especially since we have many more issues which will bring concrete improvements if resolved.

Also for consideration: https://github.com/ankidroid/Anki-Android/wiki/User-Interface-contribution

[2021-11-03 09:58] david-allison-1 commented on #9762
To keep the discussion on the issue at hand: I agree

It seems reasonable as an advanced option, but allowing import allows a user to modify of the settings outside their accepted parameters, which can be an additional source of bugs/crashes.

We currently rely on UI-based validation, so this will likely require effort to get 'right', or will need to be in a DEBUG setting.

I feel gestures and key

[2021-11-03 10:24] shiideyuuki commented on #9762
AnkiDroid Version = 2.15.6

Android Version = 8.1.0

Manufacturer = vivo

Model = vivo 1811

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 8.1.0; vivo 1811 Build/OPM1.171019.026; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/70.0.3538.110 Mobile Safari/537.36

ACRA UUID = 35156451-131f-4dec-8f31-2c9b5e0a69f7

Scheduler = std2

Crash Reports Enabled = true

Datab

[2021-11-03 10:49] david-allison-1 opened #9764 "Triage: Corrupt `models`"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/reports-browser/user/f35a6fb2-ad36-4fb6-97fe-03e6a68903f3

[code]

[2021-11-03 10:49] david-allison-1 commented on #9762
@shiideyuuki I've moved the discussion to #9764 and am asking questions there.

[2021-11-03 10:53] david-allison-1 commented on #9764
@shiideyuuki, I haven't seen this one before, and it implies a corruption which shouldn't be possible.

* Are you using Anki Desktop, addons, or syncing successfully?
* Are you doing anything unexpected (editing files outside the app, using third party apps)?
* Does your Anki collection contain sensitive information that you wouldn't be comfortable sharing publicly?

[2021-11-03 11:07] shiideyuuki commented on #9764
I'm using Anki desktop, addons and its syncing successfully

No, (But I'm using an addon called "Auto Ease Factor" which uses a different algorithm than Anki currently has. This addon changes the deck's card's ease based on its said algorithm. I'm using this one since I think its more effective than Anki's and I also want it to be implemented to Anki if everyone doesn't mind. If you can consider t

[2021-11-03 11:14] homocomputeris commented on #9482
Still an issue

[2021-11-03 14:13] mikehardy commented on #9763
Agreed on the week no - I'm not 100% against this, its just that it is not a priority and will in my experience immediately lead to a bunch of back and forth and then a preferences toggle to leave them alone, it's an inefficient use of developer time vs the current list of real problems + things that we must do (if not now, eventually, like handling deprecation issues)

[2021-11-03 19:41] codingtosh commented on #9755
Hey @Arthur-Milchior, sorry the delay, something came up,
I have uploaded the PR, please take a look and let me know the approach should be changed/tweaked in any way.

[2021-11-04 14:34] david-allison-1 commented on #9764
Could you zip and upload the file at `AnkiDroid/collection.anki2` on your phone, then post it as a comment.

This file contains all Anki data except images (and some preferences, such as syncing information), so if it's got any sensitive information in the cards (phone numbers), get in touch and we can access it privately.

AnkiDroid should not be experiencing this issue at the point that you send

[2021-11-04 22:58] mikehardy opened #9775 "[Deprecation] InputConnectionCompat.createWrapper API deprecated"
###### Reproduction Steps

1. update dependencies (androidx core-ktx #9725)
2. run a build
3. see build warning failing build

###### Expected Result

clean compile without ignoring deprecation

###### Actual Result

[code]

We stumbled on this deprecation:
https://developer.android.com/reference/androidx/core/view/inputmethod/InputConnectionCompat#createWrapper(android.view.inputmethod.InputConne

[2021-11-05 07:57] voidplayer commented on #7279
This still happens, but i guess this will be fixed automatically in 2.17 or 18?

[2021-11-05 10:48] david-allison-1 commented on #7279
Needs some manual work, but it's on the list to be fixed

[2021-11-07 00:36] david-allison-1 opened #9801 "Commits occurring with KtLint failures"
Another KtLint issue - this one seems strange as KtLint should run in the pre-commit hook.

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/9798#pullrequestreview-799486440_

#9793 has the same issue

[2021-11-07 13:41] david-allison-1 commented on #9801
Possibly Kotlin Migration related:

https://github.com/ankidroid/Anki-Android/blob/9e15650e98fa660c1a5201c26fec2306177445a8/AnkiDroid/kotlinMigration.gradle#L83-L91

[2021-11-07 17:01] david-allison-1 commented on #8876
Likely closed in #9733

[2021-11-07 19:00] #8150 closed

[2021-11-07 19:01] mikehardy commented on #8150
This will be fixed in the next alpha, although it won't be delivered through the play store until #9123 is merged and we can resolve #7348 as the play store is currently rejecting our binary uploads - it'll be on releases page only

[2021-11-07 19:03] mikehardy opened #9810 "Allow alpha releases to github page even if play store upload fails"
Until we can resolve #7348 the play store will reject our binaries

It is still really useful to have the binaries for alphas up on the github releases page though, and helps motivate the practice of releasing frequently (thus doing I18N sync etc)

This feature should be added to the release script such that on a play store upload failure the script notes the failure and associated output, but con

[2021-11-07 21:07] david-allison opened #9811 "[Bug] Crash: InsertFieldDialog - Don't Keep Activities"
###### Reproduction Steps

1. Android Developer Settings - Enable "Don't keep Activities"
2. Deck Picker - Manage Note Types - Long Press a type - Cards
3. Long press - Insert Field
4. Minimise app
5. Maximise app

###### Expected Result

No Crash

###### Actual Result

[code]

###### Debug info
Latest alpha - e00531ed75169932f4eec5f047f626aaf42ae791 - branched off, but with no relevant changes

#

[2021-11-07 21:07] david-allison-1 commented on #9811
I expect this is just an issue with the `FragmentFactory` that we use to instantiate the class

[2021-11-07 22:22] #9810 closed

[2021-11-07 23:21] sethbuchinger commented on #5844
I see that this issue has not been resolved yet and has gone stale.  Can I take this on?

[2021-11-07 23:41] david-allison-1 commented on #5844
Sure!

[2021-11-07 23:56] sethbuchinger commented on #5844
Just for clarification, it looks like you want to link to the instructions on the login screen, but will the instructions be in-app on a separate page, or should they link out to the browser?

[2021-11-08 00:03] david-allison-1 commented on #5844
I'd be happy with a link to the FAQ, in-app help would be great, and feel free to do it, but I feel it's going above and beyond as this feature hopefully wouldn't often be used.

[2021-11-08 00:47] david-allison-1 commented on #8794
@mikunimaru FYI: We're in the process of accepting Anki Desktop style TTS.

https://github.com/ankidroid/Anki-Android/blob/253706a403cae606e6db455055a8b44e3b7ed662/AnkiDroid/src/main/java/com/ichi2/libanki/Sound.kt#L27-L37

I believe that this work is compatible with this class, but flagging it up in case we need to make changes before 2.16 goes out.

[2021-11-08 11:36] #9031 closed

[2021-11-08 12:35] mikehardy opened #9825 "Handle Android 11 package visibility restrictions interaction with package resolution"
Handle Android 11 package visibility restrictions interaction with package resolution

Android 11 introduced restrictions on resolving external packages / activities, and we need to include an appropriate queries tag in our AndroidManifest.xml or this will always fail now

Good discussion here with link to source docs plus the following couple answers likely cover most of our use case for this:

h

[2021-11-08 20:49] sethbuchinger commented on #5844
I noticed that if I add a text string in the 04-network.xml file to display the text to the user that there are quite a few languages supported.  Do I need to hand-translate the text string for each language, or is this done through a script of some sort?

[2021-11-08 22:43] david-allison-1 commented on #5844
Add to the root `04-network` with no translations, we upload to CrowdIn, which will deal with translation and adding the additional files

More info: https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#adding-translations

[2021-11-09 01:51] sethbuchinger commented on #5844
Ah, thank you so much!  Sorry, I've should've seen that in the development guide

[2021-11-09 15:05] david-allison opened #9847 "`fa`: export_email_text_new appears to be invalid and not caught by lint"
Should have two format strings

https://github.com/ankidroid/Anki-Android/blob/9d80f5baa6b5c356756677bd22ec0c0f8d0311b9/AnkiDroid/src/main/res/values-fa/02-strings.xml#L191-L195

[2021-11-09 15:06] david-allison-1 commented on #9847
The issue would be to investigate why Android Studio shows an error, but calling `gradlew lintAmazonRelease` passes

[2021-11-09 20:37] #9484 closed

[2021-11-09 21:08] david-allison opened #9853 "[Bug] Answer buttons not at bottom of screen"
###### Reproduction Steps

1. Settings - Reviewer - Fullscreen

###### Expected Result

Answer buttons at bottom of screen

###### Actual Result

![image](https://user-images.githubusercontent.com/62114487/141004809-94087947-9ad6-4e36-8a23-f63d9d082f88.png)

###### Debug info
2.15.6 and current dev build

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) an

[2021-11-09 21:08] david-allison-1 commented on #9853
Screen is curved, and it's likely fallout from that, doubt it's MIUI specific

[2021-11-09 21:18] mikehardy commented on #9853
I have the same problem on one of my apps that doesn't get the "safe area insets" correct. Perhaps #9406  would help?

[2021-11-10 02:58] david-allison-1 commented on #9853
Fixed up 9406 and it didn't resolve the issue, likely needs a lot of reading

[2021-11-10 09:40] Anthropos888 opened #9855 "[Bug] Switching apps causes Ankidroid to restart"
1) Review a card
2) press your phone's home button or switch between recent apps using the toggle button
3) toggle back to Ankidroid app

Expected result:
The same card as before is shown in the reviever

Actual Result:
Ankidroid shows the app start logo and returns to the deck view OR loads a new card to the reviewer.

The behavior is quite new, maybe a few months. But I can't tell exactly when i

[2021-11-10 12:52] mikehardy commented on #9855
Very strange - I see that you have crash reports on, and your ACRA UUID is in there but when I search for that UUID in our crash database, I don't get any hits. Zero crash reports. But this *sounds* like a crash :thinking:

Not sure what actions I can take to move this forward. Would be interesting if you could temporarily set Firefox or something up as your WebView (is that possible even? Not sur

[2021-11-10 12:56] mikehardy commented on #9853
That's great about 9406 refresh / rescue though, you should push to that branch so the results are available for review (maybe merge). Bummer it didn't fix it. This is an area of *quite* a bit of work in react-native at least, there is a module for it with all sorts of abstraction piercing if needed, starting from "try to just handle it" (fully abstract) to "okay, here's all the info we have as co

[2021-11-10 13:58] david-allison-1 commented on #9855
Alternately, this could be a crash in native code that ACRA can't handle. If you have access to logcat, it may produce a crash trace

[2021-11-10 18:37] Anthropos888 commented on #9855
I tested with Android System Webview 96 and the result is the same.

But actually it makes a difference if I press the home button or the toggle button:

Pressing home button during reviews and then opening Ankidroid from home screen will restart Ankidroid, show the app logo and then the deck view.

Switching to another app via toggle button during reviews and then coming back to Ankidroid will sh

[2021-11-10 18:41] Anthropos888 commented on #9855
BTW, energy optimimizations and "Don't keep activities" are turned off.

[2021-11-10 19:30] david-allison-1 commented on #8336
I'm fine to see this one go stale:

low priority, and will interact badly with scoped storage changes

[2021-11-10 19:30] #8336 closed

[2021-11-10 19:36] #9488 closed

[2021-11-10 19:53] mikehardy commented on #9855
I really appreciate the reports but all of the data makes me sad ;-). No hits there, no ideas at the moment, sorry. I can imagine that's frustrating, either you waste time getting back to where you were or you have a weird / disconcerting "card switch" issue at minimum

[2021-11-10 20:34] david-allison-1 commented on #9855
No leads here. Sorry.

Could you try a parallel build of 2.15.6 and see if that passes? If so, then we've introduced a regression and have a chance to track it down.

[2021-11-11 06:22] gautom5987 commented on #9847
Hi @david-allison-1, I would like to work on this issue :)

[2021-11-11 06:24] david-allison-1 commented on #9847
Sounds good to me!

[2021-11-11 10:23] Anthropos888 commented on #9855
@david-allison-1
The 2.15.6 parallel build solves one issue: pressing home button during reviews and then return to the app via app icon on home screen doesn't restart the app anymore. It returns to the reviewer and shows the same card as before. So your intention was right.

But the issue woth toggling through recent apps and then return to Ankidroid remains. The webview reloads amd shows a diffe