[2021-03-29 12:26] Vaibhavi1707 commented on #7052
I apologize for the inconvenience caused as I'm working with gradle build files and CI for the first time. Thanks for the tip on comments will remember it in future. I have applied your changes and ran it on my end, where I ran into some issues.  Hi, I have faced an error in the Gradle build stating the maven is deprecated for gradle 7.0. It suggests to use the maven-publish plugin. On researching

[2021-03-29 12:36] Arthur-Milchior commented on #7939
Actually, my PR seems to be rejected. Because someone already added the feature, even adding a UI button for it. See https://github.com/ankitects/anki/pull/1100 and https://github.com/ankitects/anki/pull/1033 (Note that the PR is marked as rejected. Actually, the code is merged, but for a reason I don't really understand DAE don't use GithHub to add come to main branch )

[2021-03-29 12:50] #5223 closed

[2021-03-29 12:50] #7465 closed

[2021-03-29 12:59] david-allison-1 commented on #7465
![](https://media.giphy.com/media/KEVNWkmWm6dm8/giphy.gif)

[2021-03-29 13:00] mikehardy commented on #7396
This doesn't appear relevant any more in the GitHub Actions runners, I believe they have this dependency pre-installed

[2021-03-29 13:00] #7396 closed

[2021-03-29 13:02] david-allison-1 commented on #8377
@NaiveMe

I can't diagnose this if I don't have an error report, could you try again:

* Close and kill AnkiDroid 2.14.6, or restart your phone
* Open AnkiDroid 2.15alpha
* Sync, to obtain the error listed
* Send an exception report that contains the error

[2021-03-29 13:06] #7013 closed

[2021-03-29 13:49] #8229 closed

[2021-03-29 14:02] tapish2000 commented on #7766
@sakshi-1604 I just want to ensure if you are still working on this? If you face any issues or unable to complete it, feel free to write here.

[2021-03-29 14:07] NaiveMe commented on #8377
I kill  2.14.6, and restore 2.15 alpha parallel.![IMG_20210329_220343.jpg](https://user-images.githubusercontent.com/78140893/112848833-1e0e7b80-906e-11eb-8c2c-e59e0caf7956.jpg)

[2021-03-29 14:14] tapish2000 commented on #7354
Is anyone working on this?

[2021-03-29 14:18] david-allison-1 commented on #8377
That's not the error that you reported here?

[2021-03-29 14:24] NaiveMe commented on #8377
![IMG_20210329_222354.jpg](https://user-images.githubusercontent.com/78140893/112851392-8d856a80-9070-11eb-812e-354f0834ee40.jpg)
It's appear.

[2021-03-29 14:27] tapish2000 commented on #7111
Can I try this out?

[2021-03-29 14:28] NaiveMe commented on #8377
When I try again , it's appear.

[2021-03-29 14:36] NaiveMe commented on #8377
AnkiDroid Version = 2.15alpha34

Android Version = 11

Manufacturer = Xiaomi

Model = M2007J3SC

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 11; M2007J3SC Build/RKQ1.200826.002; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/89.0.4389.105 Mobile Safari/537.36

ACRA UUID = ea79736d-9002-4ffa-855f-ccbfd365531d

Scheduler = std

Crash Reports Enabled = true

Datab

[2021-03-29 14:41] mikehardy commented on #8377
Just to note I'm watching this as it could be a symptom of my OkHTTP work just now, but it only just released as 2.15alpha35 a few minutes ago, and this is from 2.15alpha34 so my work should not be responsible.

However! It might be that 2.15alpha35 (just released!) fixes it as it contains #8363

[2021-03-29 15:25] david-allison-1 commented on #8377
Still no exceptions in the log: https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/f17f52d7-ad0f-45b2-b57d-1a51ab64155c

[code]

[2021-03-29 15:56] david-allison-1 commented on #7111
Sure

[2021-03-29 16:12] david-allison-1 opened #8382 "Readme.md: Update "build" to point to GitHub actions on master"
It currently points to TravisCI, which we no longer use

https://shields.io/ will provide a badge

Use `build` as the shield text

[2021-03-29 17:14] david-allison-1 commented on #7832
All good to go, thanks for your patience

[2021-03-29 17:36] david-allison-1 commented on #8075
Definitely caused by `AnkiDroid.A` and `AnkiDroid` pointing to the same collection

Added changes to next version of backend to allow narrowing down the exception,

New Exception (`BackendDbLockedException`) and stack trace(s)
[code]

[2021-03-29 17:39] prosperian commented on #8354
Hi, is this still open? can i work on this?

[2021-03-29 17:42] david-allison-1 commented on #8354
Hi @prosperian, this has been assigned and is being worked on, you'd be best to find an issue which is unassigned: https://github.com/ankidroid/Anki-Android/issues?q=is%3Aopen+label%3A%22Good+First+Issue%21%22+no%3Aassignee

[2021-03-29 17:47] shobhi1310 commented on #4631
I tried to reproduce the issue, but am not able to identify what was meant by card flips and answer selected, can it be elaborated once, as from what has been mentioned, I was able to do card auto-advancement only.

[2021-03-29 17:59] david-allison-1 commented on #4631
`Settings - Reviewing` - Auto Advance is at the bottom of the options

[2021-03-29 18:05] tapish2000 commented on #7111
In the description of the issue, what do you mean by `forward port`. I understand that we should have a static `getMainLooper()`, but I don't get in which file can this be done.
As you said, I will test this if this works or not.

[2021-03-29 18:24] #4699 closed

[2021-03-29 19:33] Arnold2381 commented on #8382
@david-allison-1 I was just out of curiosity looking for what badges are and what this issue actually wanted and after my research, I think we cant set a badge of actions using shield. I maybe wrong but I tried forming  a link but couldn't because the parameters required do not match with Github link
![image](https://user-images.githubusercontent.com/46752548/112889619-80f62600-90f3-11eb-8e53-e4cd

[2021-03-29 19:37] david-allison-1 commented on #8382
"GitHub branch checks state" should work

[2021-03-29 19:45] prateek-singh-3212 commented on #7832
Here is the screenshot of light and black mode

![WhatsApp Image 2021-03-27 at 12 42 11](https://user-images.githubusercontent.com/76490368/112890305-58baf700-90f4-11eb-8469-c1a1e9dbaa77.jpeg)
![WhatsApp Image 2021-03-30 at 00 33 47](https://user-images.githubusercontent.com/76490368/112890276-4e98f880-90f4-11eb-96ca-319ec22d2a24.jpeg)

[2021-03-29 19:45] Arnold2381 commented on #8382
@david-allison-1
https://img.shields.io/github/checks-status/ankidroid/Anki-Android/master?color=green&label=build
Does this work?

[2021-03-29 19:58] david-allison-1 commented on #7832
@prateek-singh-3212 Sorry for the ambiguity, could you edit the main post of the PR and put them there.

Could you also show the plan/dark themes

* I think the white may be a little too bright, but best to wait to see what others think

[2021-03-29 19:59] david-allison-1 commented on #8382
It does, but you need the provided URL from shields, not a permalink to a green check.

[2021-03-29 20:01] david-allison-1 commented on #8382
Sample: ![GitHub branch checks state](https://img.shields.io/github/checks-status/ankidroid/Anki-Android/master?label=build)

[2021-03-29 20:22] prosperian commented on #4371
Hi, i can read and write in Persian and i can work on this if it's still an issue?

[2021-03-29 20:30] Arthur-Milchior commented on #7354
It seems that nobody work on it. we got no confirmation from @pree-T and no news for a week from @IAmJaishree , so go for it @tapish2000

[2021-03-29 20:32] Arthur-Milchior commented on #8236
If you click on "touch target", on the down-arrow, do you get a message stating more specifically how much more space should be required?
If you want to make a Pr that just increase the size of the clickable item so that we become accessible, and that do nothing else, that would be fine by me

[2021-03-29 20:36] david-allison-1 commented on #4371
@prosperian Thanks!!

We've just merged a large RTL change in the latest alpha, any feedback (and getting this issue sorted, if it's still an issue) would be fantastic.

[2021-03-29 20:43] prosperian commented on #4371
Okay, i will check this out

[2021-03-29 21:07] david-allison-1 opened #8387 "Fix Code style for non-public, non-static fields"
An easy, but slightly repetitive first issue.

I've added a pull request: #8370 which ensures that all fields match the following lint check: https://github.com/ankidroid/Anki-Android/wiki/Code-style#non-public-non-static-field-names-should-start-with-m

The problem is that our code has ~370 instances where we have variables which don't match this rule.

We need to fix these before we turn on this

[2021-03-29 21:08] david-allison-1 commented on #8387
@Arthur-Milchior, just want to confirm that this seems like a good way to go about this

* Are you happy with the granularity of commits?
* Would you accept pull requests fixing some, but not all of the issues, or would you want one big PR?

[2021-03-29 21:13] Arthur-Milchior commented on #8387
I'm very fine with PR doing only some issues. If someone starts the work, do one hour of work and stop there, I'm totally fine accepting it.

Note that if you click on a variable you can use shift+F6 to rename the variable and all instances of it. That may really hepl.

If the build fail with this lint rule, then I would just try to build, and use F7 to move from one failure to the next one. This

[2021-03-29 21:20] david-allison-1 commented on #8387
They're shown as fatal errors after a `gradlew lintRelease`, but don't break the build.

`AstractFlashCardViewer.lastCrashingCardId` is the first good example

should be `AstractFlashCardViewer.mLastCrashingCardId`

Run Inspection By Name: `Ctrl+Alt+Shift+I` -> "field naming":
![image](https://user-images.githubusercontent.com/62114487/112901542-ceb36400-90dc-11eb-8637-d7f35739be84.png)

Wait

![i

[2021-03-29 21:34] 4D17Y4 commented on #7348
Hey @mikehardy I want to take this up,
As far as I understood we just have to update sdkVersions to the 30 in build.gradle ?

[2021-03-29 21:41] david-allison-1 commented on #7348
This is going to be a large change  as we can no longer use legacy storage in API 30:

https://github.com/ankidroid/Anki-Android/blob/4030ac3d4b29569ff35a35adcc251f9026c59e92/AnkiDroid/src/main/AndroidManifest.xml#L68

See: #5304

I'll mark this as 'blocked by dependency', as most of the work will be in the above issue.

[2021-03-29 22:42] #8033 closed

[2021-03-30 00:25] Arthur-Milchior commented on #4312
It works on tablet. It fails on small screen, when "undo" is in the deck picker. However, when "undo" is in overview it works. There is probably something that can be taken from the overview and be used in deck picker.

Note that the same problem appear with the "suspend" action

[2021-03-30 01:18] Arthur-Milchior opened #8388 "[Bug] We can create fields whose name start with ###"
###### Reproduction Steps

1. Ensure that you are synced with an account
2. open note type manager
3. open a note
4. add a field "### foo"
5. accept that you'll need to do a full upload
6. add a field "### bar"

###### Expected Result

At the very least consistency between both fields name. Either "foo" and "bar" or "### foo" and "### bar"

Actually, field name should not start with spaces or "#",

[2021-03-30 01:50] david-allison-1 commented on #7679
@mohaned-hassan All yours

[2021-03-30 02:34] david-allison-1 commented on #8274
This may be complex - I feel it might be better if you take a different issue while you're getting used to the project

[2021-03-30 02:35] david-allison-1 commented on #4199
Sounds good to me, thanks!

[2021-03-30 03:40] mohaned-hassan commented on #7679
Thanks, on it.

[2021-03-30 04:16] Arnold2381 commented on #8387
![image](https://user-images.githubusercontent.com/46752548/112933082-c4c14d80-913c-11eb-9899-6cdbd922fd86.png)
@David I am not getting the non public non static inspection name

[2021-03-30 04:49] tapish2000 commented on #8236
It says: `This item's height is 24dp. Consider making the height of this touch target 48dp or larger.`

Sorry, forgot to mention that.

[2021-03-30 09:00] prosperian commented on #4371
<details>
<summary>These changes should be made</summary>
<img src="https://user-images.githubusercontent.com/25820674/112961468-a5d1b400-915a-11eb-9e45-39d5c50795f3.jpg">
<img src="https://user-images.githubusercontent.com/25820674/112961713-dfa2ba80-915a-11eb-9e0e-367989dd3914.jpg">
</details>

<details>
<summary>No translation for this dialog</summary>
<img src="https://user-images.githubuserco

[2021-03-30 12:20] david-allison-1 commented on #4371
Perfect, thanks!

Let's handle the night mode toggle in a separate PR than the study screen

[2021-03-30 12:56] eginhard commented on #4371
It doesn't look like you're using the latest alpha version (2.15alpha36), see the manual for how to get it: https://docs.ankidroid.org/#betaTesting

Both the study options screen and that toggle were fixed by #8261 (see screenshot below). Have a look at #8259 for other RTL-related issues.
![nav-drawer](https://user-images.githubusercontent.com/5216613/112990743-ac662880-9166-11eb-89af-2a357049c6e8

[2021-03-30 12:56] #4371 closed

[2021-03-30 13:10] eginhard opened #8396 "[Bug] RTL support for activity transition animations"
###### Reproduction Steps

1. From the deck list, go to the Card Browser or Statistics screen
2. Return to the deck list
(probably affects transitions between other activities as well)

###### Expected Result
When the UI is set to a RTL language, the new activity should appear from the left and then disappear to the left (i.e. the opposite as in LTR languages).

###### Actual Result
The new activi

[2021-03-30 13:41] david-allison-1 commented on #8366
My bad - thanks for the heads up

[2021-03-30 13:48] vinishhub commented on #8396
I want to work on this issue please can you elaborate more??

[2021-03-30 14:21] david-allison opened #8397 "[Bug] Deck ordering differs from Anki Desktop"
###### Reproduction Steps

1. Add Decks: `AA`, `ab`, `BB`

###### Expected Result

1. `AA`
2. `ab`
3. `BB`

###### Actual Result

1. `AA`
2. `BB`
3. `ab`

###### Debug info

[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [x] I have checked the [manual](https://ankidroid.org/doc

[2021-03-30 14:21] Ekagra opened #8398 "Unit Test for TextViewUtil"
The TextViewUtil doesn't have any tests to check for example if the textview is null or if size is greater than zero, I think we need to implement these in TextViewUtil and make unit tests for the same.

[2021-03-30 14:22] prosperian commented on #4371
Thanks @eginhard, but i run the app from github repository on android studio, is there anyway that would be able to have the latest test version that way?

[2021-03-30 14:24] david-allison-1 commented on #8398
It'd be better to add a `@NotNull` annotation rather than a unit test for these edge cases

[2021-03-30 14:36] Ekagra commented on #8398
Yeah that would work but don't you think it's better to have a conditional check rather than adding an annotation?

[2021-03-30 14:56] david-allison-1 commented on #8398
No, there's no benefit: you're substituting one exception with another and adding a runtime performance cost.

[2021-03-30 15:03] Ekagra commented on #8398
I see, so should I implement this?

[code]

[2021-03-30 15:19] Ekagra opened #8400 "Unit Test for ClipboardUtil"
Going through tests I found there's no unit test for `ClipboardUtil` when there is room for checks like for image mime types and other ClipBoard objects. Should I work on this?

[2021-03-30 15:25] shobhi1310 commented on #4631
Will the proposed solution by @damccull be sufficient to resolve this issue? As a user generally does not keep pressed on a button too long and in general card auto advances as per user settings timings.
![image](https://user-images.githubusercontent.com/42507632/113014203-0a603380-919a-11eb-9cd1-8bcc0c5c5570.png)

Also, this variable was meant to handle such edge cases along with the `DOUBLE_TAP_

[2021-03-30 15:31] david-allison-1 commented on #4631
750-1000ms is far too long, and this isn't a double-press so `mLasClickTime` isn't set.

If possible: save the card on press, and only perform the action if it's the same on release.

[2021-03-30 15:40] Prince-kushwaha commented on #8397
@david-allison-1 can i work on this issue

[2021-03-30 15:43] david-allison-1 commented on #8397
Sure.

It would make sense to collaborate with, @AyaanJaved on the issue as they're also in the area, and may provide unit tests or advice for you to follow.

[2021-03-30 16:00] david-allison-1 commented on #8398
There's no point in a `@NonNull` on the return - floats aren't nullable. Other than that, seems OK

[2021-03-30 16:14] Ekagra commented on #8398
alright this looks fine ?

[code]

[2021-03-30 16:40] vinishhub commented on #8396
No I don't Know to Read the  Rtl language its just animation part so I think there is no need of language

[2021-03-30 16:59] eginhard commented on #8396
No, it's not necessary, just makes it easier to test and to understand what should be changed.

But in that case go ahead and try to reproduce it, using the instructions in the issue I mentioned to force a RTL layout for English. Make sure you're using the latest alpha version or the master branch from Github.

[2021-03-30 17:14] shobhi1310 commented on #7849
Can I take this issue?

[2021-03-30 18:05] #8398 closed

[2021-03-30 18:15] Arthur-Milchior commented on #8236
No trouble.
Then if you find a way to put min height to 48 that would be wonderful

I must admit that i often misclick, so I guess it’ll also help me

[2021-03-30 18:19] farjadilyas commented on #7776
I believe this is a consequence of #4312. I was able to reproduce this bug using the following steps:
1. Open a deck, in the reviewer, bury a single card
2. Go back to DeckPicker
3. Click on 'Undo Bury Card' twice

[2021-03-30 18:23] shobhi1310 commented on #4631
**/src/main/java/com/ichi2/anki/AbstractFlashCardViewer.java**

[code]
https://github.com/ankidroid/Anki-Android/blob/5283cfa25155b2bf73cb234b22bfd874002c71ee/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L439

This area says that it handles using `onClick`, maybe this needs to be handled properly.

[2021-03-30 18:32] tapish2000 commented on #8236
I think it won't decrease than 48dp and that the shown spacing will be sufficient according to the PR made above.

[2021-03-30 18:46] farjadilyas commented on #7776
If the desired behavior while undoing anything from DeckPicker is to open the Reviewer, then multiple clicks shouldn't be possible once #4312 is resolved. In addition, ```Collection```'s ```undo()``` method can be altered to check for available undos and return null instead of throwing an exception at ```removeLast()```. The ```undo()``` method has only one calling method, ```CollectionTask()```'s

[2021-03-30 19:58] david-allison-1 commented on #7849
Sure. Just to note: you've asked for a few, do ensure that you're going to get through them

[2021-03-30 21:57] #8382 closed

[2021-03-30 22:27] iCarlosCode commented on #8022
I tried. But I wasn't able to replicate this bug. I will record my screen showing how everything just works as intended. Maybe it varies from cellphone to cellphone. I am using a Samsung Galaxy A11. Android 10.

[2021-03-30 22:51] david-allison-1 opened #8406 "Architecture: Convert CustomStudyDialog to use FragmentFactory"
By not allowing constructor-based injection, it makes testing with `FragmentScenario` difficult

Instead, we should define and decouple the required interfaces and inject them into the constructor

We should then use this to enable the test defined in #8338

See: #8338

[2021-03-30 23:29] farjadilyas commented on #5863
Has this been fixed? I can't reproduce it on Android 10, SAMSUNG SM-A805F (Physical Device)

[2021-03-30 23:51] david-allison-1 commented on #5863
Works on my Google Pixel (Android 11), I'll try my Honor tomorrow and see if it's fixed

[2021-03-31 00:07] farjadilyas commented on #5404
Can I work on this?

[2021-03-31 00:53] Arthur-Milchior commented on #8236
Oops, sorry, I didn't see the PR when I answered

[2021-03-31 01:07] mohaned-hassan commented on #7679
@david-allison-1

Anki-Android/AnkiDroid/src/main/java/com/ichi2/anki/reviewer/ActionButtonStatus.java
`setupButton(preferences, R.id.action_search_dictionary, "customButtonSearchDictionary", SHOW_AS_ACTION_IF_ROOM);`

Can you please point out why the preference of the search_dictionary button has no value (always returns the default value)?

[2021-03-31 05:26] vinishhub commented on #8396
ok then assign me the task

[2021-03-31 05:33] zestily commented on #8022
Thanks a lot! I actually found that this is only a tablet bug, not a phone bug for me (at least it hasn't shown up on my phone so far). Odd, huh? It's a workaround, not a solution, but meanwhile I'm happy I can still use it in all its functionality as intended :)

[2021-03-31 06:16] shrish-sharma-git opened #8411 "Hindi texts are not clear to understand"
###### Reproduction Steps

1. Use Hindi as the Universal Font
2. The Hindi language used is not clear to understand.

###### Expected Result
The texts should be easy to understand, I do not know English that much

###### Actual Result
The texts/strings are too vague to understand

###### Debug info
Device: Realme 7 Pro
Android Version: 11
AnkiDroid Version: 2.14.6
Device System Language: Hindi

##

[2021-03-31 07:11] eginhard commented on #8411
AnkiDroid is translated by the community. If you would like to help improve the Hindi translations, see the instructions here: https://github.com/ankidroid/Anki-Android/wiki/Translating-AnkiDroid

[2021-03-31 07:11] #8411 closed

[2021-03-31 07:34] albus-droid commented on #8397
Can I work on this as my first issue.

[2021-03-31 07:36] Prince-kushwaha commented on #8397
@albus-droid i am working on this issue

[2021-03-31 07:53] albus-droid commented on #8397
Ok.
I'd happy to help if any is needed.

Cheers.

[2021-03-31 08:08] the-rebooted-coder commented on #8377
I tested this again and it seems there was some error with Xiaomi Devices, new stable builds are being pushed via OTA to cater those, tis bug too will get addressed it by it

[2021-03-31 10:07] Prince-kushwaha commented on #8397
@david-allison-1 can you tell me  sorting of string in done in  increasing or descreasing order

[2021-03-31 10:08] Prince-kushwaha commented on #8397
@david-allison-1 can tell me sorting of string is done in increasing or decreasing order

[2021-03-31 10:40] Prince-kushwaha commented on #8397
@david-allison-1  Ordering of {AA,ab,BB}  is not correct in Card Brower ordering is not in increasing or decresing order
See below

![Screenshot_2021-03-31-16-02-02-999_com ichi2 anki](https://user-images.githubusercontent.com/65972015/113131497-ec96db00-923a-11eb-887a-abc99fee8718.jpg)

[2021-03-31 10:42] Prince-kushwaha commented on #8397
@david-allison-1 can i work on this above issue

[2021-03-31 11:02] vinishhub commented on #8396
https://user-images.githubusercontent.com/76252038/113134565-95930500-923e-11eb-9399-e2e7edf8d8d8.mp4

[2021-03-31 11:02] vinishhub commented on #8396
sir do check is this correct

[2021-03-31 11:49] ritvij14 commented on #8027
Sorry about the late updates, but yea I am still working on this one and I wanted to ask a doubt:
https://github.com/ankidroid/Anki-Android/blob/c19389d77cd231b58fc44022601906e269585d74/AnkiDroid/src/main/java/com/ichi2/anki/CardBrowser.java#L1491-L1523

This function is the one that's handling the main searching tasks in `CardBrowser.java`. Now the issue is that when I am adding brackets to this

[2021-03-31 12:57] tanmayChakrawarty commented on #4292
@david-allison-1 I am working on this issue for quite a few days almost 2 weeks and I come up with the conclusion that double touch is working perfectly there is no issue with this gesture but as this issue mentioned double touch to zoom there is no option like that in the preference when I enabled the double touch gesture so I think we have to implement a new function for this.

[2021-03-31 17:44] david-allison-1 commented on #8377
Do you have a source for this?

[2021-03-31 18:06] the-rebooted-coder commented on #8377
I have certain insider information regarding this, but still, it’s just
information.

On Wed, 31 Mar 2021 at 11:14 PM, David Allison ***@***.***>
wrote:

--
Regards,
Spandan Saxena

[2021-03-31 18:23] david-allison-1 opened #8417 "[Bug] Start of New Day - Preference text is truncated"
###### Reproduction Steps

1. Preferences - Reviewing

###### Expected Result

2. Preference text is not truncated

###### Actual Result

3. Preference text is truncated

![image](https://user-images.githubusercontent.com/62114487/113192374-933ca500-9256-11eb-9b64-368089316fde.png)

###### Debug info
[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html)

[2021-03-31 18:33] voidplayer commented on #7275
Actually, i have no idea if this still happens. I now use filtered decks for everything and i have no due cards today. I will check it tomorrow

[2021-03-31 19:50] #4936 closed

[2021-03-31 19:55] #8380 closed

[2021-03-31 20:05] #7832 closed

[2021-03-31 20:06] mikehardy commented on #7832
Fix merged, will be released in the next 2.15alpha

[2021-03-31 20:21] #7052 closed

[2021-04-01 02:05] Prince-kushwaha commented on #8417
@david-allison-1 can i work on this issue

[2021-04-01 02:55] leitz010 opened #8420 "TTS audio suddenly strange (4/1)"
The audio quality in Japanese and Korean is truncated and strange sounding. Like the type of voice modulation you see in movies when robots are disfunctioning.

[2021-04-01 03:29] david-allison-1 commented on #8420
Thanks for the report!

@leitz010 Could you go to `settings - advanced - about ankidroid - copy debug info` and paste it here

[2021-04-01 03:37] david-allison-1 opened #8421 "[Minor Bug] SQL window size calculation"
https://github.com/ankidroid/Anki-Android/blob/1476aa95bd5e5b69a9b8329747b999b200b815b4/AnkiDroid/src/main/java/com/ichi2/libanki/Collection.java#L333-L335 will return 0 if it's hit - not what we're expecting. Theoretical bug as it hasn't hit us.

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/6040#issuecomment-811613816_

[2021-04-01 04:05] shobhi1310 commented on #7849
@david-allison-1

I went through an earlier referenced issue #7846 which said that AnkiDroid could not be opened without permissions, and it got a PR on it #7847 which seems to resolve the crashing issue, but on my system when I am testing it without granting permissions, it is again reverting back to asking me for the permissions. This kindof makes it mandatory to grant permissions to files and f

[2021-04-01 04:08] david-allison-1 commented on #7849
Storage permissions are mandatory for the app to function at the moment.

The point of this issue is to ensure via automated testing that developers can't accidentally make changes which cause AnkiDroid to crash if it doesn't have storage permission.

[2021-04-01 04:16] david-allison-1 commented on #8417
Okay

[2021-04-01 04:22] tapish2000 commented on #4199
https://github.com/ankidroid/Anki-Android/blob/3cca3b1f6e4c8edf05386a4652fb5e34566ddf26/AnkiDroid/src/main/java/com/ichi2/anki/CardBrowser.java#L192

This maybe an issue because these are currently hidden. Is this true?

[2021-04-01 04:28] david-allison-1 commented on #4199
unlikely to be that

[2021-04-01 04:35] mikehardy commented on #8022
This definitely comes up in play store reviews, it may be hard to reproduce - I've certainly never seen it! - but I'm sure there's a problem somewhere...

[2021-04-01 04:36] mikehardy commented on #7163
One of these days :-)

[2021-04-01 05:23] david-allison-1 opened #8422 "[Bug] Don't Keep Activities - Crash on viewing Settings from Reviewer"
###### Reproduction Steps

1. Reviewer
2. Settings
3. Reviewer

[code]

###### Expected Result

No Crash

###### Actual Result

Crash

###### Debug info

[code]

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [x] I have checked the [manual](https://ankidroid.org/docs/manual.html) and t

[2021-04-01 05:25] david-allison-1 commented on #8422
Brief (unsure) Diagnosis: It seems that `mOldColPath` may no longer be set correctly, causing the app to think the collection path has changed.

May be many factors involved

[2021-04-01 06:09] Prince-kushwaha commented on #8417
@david-allison-1 i not know how write lint rule can you help me

[2021-04-01 06:24] david-allison-1 commented on #8422
Introduced between alpha 34 and 36

[2021-04-01 06:58] tapish2000 commented on #4199
In the following lines of code in [CardBrowser.java](https://github.com/ankidroid/Anki-Android/blob/ec5d9e535c391a150e3489ceb515426a3946c305/AnkiDroid/src/main/java/com/ichi2/anki/CardBrowser.java#L245) in the function named `changeCardOrder()`:

[code]
`mOrder` is the variable which stores the index of the sorting type the user has selected according to the following array:
[code]
When the user h

[2021-04-01 08:00] Vaibhavi1707 commented on #8421
Hi, I would like to work on this issue.

[2021-04-01 08:07] Vaibhavi1707 commented on #8421
The expected return value, in this case, should be calculated from the default `sCursorWindowSize` as initialized on line [328](https://github.com/ankidroid/Anki-Android/blob/1476aa95bd5e5b69a9b8329747b999b200b815b4/AnkiDroid/src/main/java/com/ichi2/libanki/Collection.java#L328) of the same file. As in this condition since `db` is not an instance of `DatabaseChangeDecorator`. Therefore we don't ha

[2021-04-01 08:58] eginhard commented on #8396
Yes, this is the wrong behaviour I mentioned in the bug description. For RTL languages, the intended behaviour would be to mirror these animations horizontally.

[2021-04-01 10:02] vinishhub commented on #8396
okk so the layout should be same only animation is to change right

[2021-04-01 10:08] shobhi1310 commented on #7849
@david-allison-1
I had one idea of writing a unit test for it. In the `DeckPickerTest.java` file, we can launch the DeckPicker class and assert if the value `REQUEST_STORAGE_PERMISSION` has been put to 1.

Is it correct?

[2021-04-01 10:24] david-allison-1 commented on #8421
Yep - we'd be best to extract the method, so we can apply the 15/16 operation to all possible results

[2021-04-01 10:28] voidplayer opened #8424 "[Bug] autofocus on type fields always on is very annoying"
I saw that recently #4699 was fixed, and i think this is not ideal

Usually, I  only type words that i doubt the spelling of and sometimes i only review on phone with one hand and gestures, aka, not typing at all

The keyboard takes 60% of my screen real state. Having it on at all times would be very annoying. Currently it works great. just have a single tap to type those that i feel is granted to

[2021-04-01 10:42] voidplayer commented on #7275
It now shows the same in desktop and in ankidroid

[2021-04-01 10:42] #7275 closed

[2021-04-01 10:45] david-allison-1 commented on #7849
It sounds reasonable: the best way to test would be to break startup as it was done in the linked PR, write a test which fails, then fix the bug that you introduced and ensure that the test passes

[2021-04-01 10:47] david-allison-1 commented on #8417
I'm sorry, I don't have the free time right now to teach everything.

You can see examples in the `lint-rules`project, and you can view similar projects on GitHub to see how the APIs should be used.

If you have specific questions, I'll try to help.

It'd be best to formalise what you're trying to accomplish with the lint checks

[2021-04-01 10:56] david-allison-1 commented on #8424
Thanks for the feedback!

Open for ideas: We could potentially move this to the JavaScript API

[2021-04-01 11:20] vinishhub commented on #8396
ohh sorry sir
so the activity's  "In-transition" should be from right to left  and "out transition" right to left .
Right????

[2021-04-01 11:25] voidplayer commented on #8424
My idea is to just having a setting to enable the setting

Im sure theres people on both camps. People that always want the keyboard on, because they review on a tablet or something where space is not an issue and that type every word. And people like me, that use it only on hard words. Even people in between, that sometimes want it on at all times, and sometimes they are in the bus and want to re

[2021-04-01 11:28] Akshay0701 commented on #5024
https://stackoverflow.com/a/29353049/14148406
I think creating a custom webview class for copying text on long press, and webview interface is the solution for this issue,

[2021-04-01 11:29] eginhard commented on #8396
Yes. Essentially all left->right and right->left animations should be reversed for RTL.

[2021-04-01 13:44] shobhi1310 commented on #4631
@david-allison-1

Should I use `OnTouchListener` here as the context deals with when the button was released?

[2021-04-01 14:51] david-allison-1 commented on #4631
That sounds like a good idea!

[2021-04-01 15:06] david-allison-1 commented on #4199
Looks strangely implemented, but fine to me:

https://github.com/ankidroid/Anki-Android/blob/db9260c03143d3770ede4b39db9e15727a69b4cf/AnkiDroid/src/main/java/com/ichi2/anki/CardBrowser.java#L562-L571

[2021-04-01 15:16] #8400 closed

[2021-04-01 15:22] david-allison-1 commented on #4292
@tanmayChakrawarty If you can't reproduce this issue, is there a problem, or can we close this?

[2021-04-01 15:52] david-allison-1 commented on #5404
Sure, thanks!

[2021-04-01 16:05] Vaibhavi1707 commented on #8421
Okay, I'm on it!

[2021-04-01 16:12] tanmayChakrawarty commented on #4292
@david-allison-1 there is no issue with the double touch gesture it is working perfectly, there is no zoom feature in the double touch. So if this has low priority then we can close it otherwise we have to implement it.

https://user-images.githubusercontent.com/75254780/113322803-c3f20c80-9332-11eb-88af-2aad92a3c7dd.mp4

[2021-04-01 16:17] david-allison-1 commented on #4292
I think we should raise a new issue for a new gesture.

Closing this as "can't replicate".

[2021-04-01 16:17] #4292 closed

[2021-04-01 17:04] david-allison-1 commented on #8073
This is an issue - it's likely not solvable. But we can work around it.

* By default, my Android 11 has no associations for `application/zip`
* AnkiDroid adds an association. If there are no other apps, it becomes the default
* Opening AnkiDroid with a `.zip` shows an unhelpful message:

![image](https://user-images.githubusercontent.com/62114487/113328701-939b7580-9314-11eb-9622-5b6cc4b2068e.png

[2021-04-01 18:46] mahisharma-cs commented on #7326
Hello david, as this issue has no description, but what I understand according to the phrase, "Don't show Full Sync From Server if user does not have AnkiWeb Account", is to hide the icon of Sync from Action bar if the user is not registered on AnkiWeb Account.

I want to work on this issue. As mentioned here, Database Error. So, I would like to work upon that, if you provide any description for t

[2021-04-01 19:28] david-allison-1 commented on #7326
Hi @mahisharma-cs, that wasn't what I was intending (but thanks for working on the issue!!!). I'll clarify further on the PR, but the intention is for this line to be changed:

https://github.com/ankidroid/Anki-Android/blob/e034b3851f1b7de0f5864d3c7f830e19de4e5d87/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/DatabaseErrorDialog.java#L141-L142

[2021-04-01 20:04] tapish2000 commented on #4199
Line number 562 runs initially when we open `Card Browser` for the first time in the app. When I am checking, this variable `colOrder` comes out to be `noteFld` i.e., `By Sort Field` always. But it should capture the previous value of sorting type that the user selected before closing the app. For this to be done, I think we should store the current `colOrder` in `SharedPreferences` everytime it i

[2021-04-01 21:49] #8276 closed

[2021-04-01 21:58] mikehardy commented on #7776
@farjadilyas good digging!

1- if "undo review card" returns to the reviewer, it does seem that "undo ... card" (the general case of a single card action that sends you to the deck picker) should also return to the reviewer, on that card
2- I think marking Collection.undo() as `@Nullable` return, and returning null when there are no undos, plus cleaning up any new lint from callers that are not nu

[2021-04-01 22:27] #4759 closed

[2021-04-01 22:28] mikehardy commented on #4759
Fixed after only ... 3 years hahah :-), will be in the next alpha :rocket:

[2021-04-01 22:31] david-allison-1 commented on #8387
@Arnold2381, do you plan to work on this?

[2021-04-01 22:37] #8354 closed

[2021-04-01 22:48] mikehardy commented on #8073
When are zip files used as an interchange format for anki files? May be that we could just remove that file association but that's of course a bit riskier, maybe they're useful

If we can't remove it, then just changing the message seems fine + easy for zips that don't appear to be anki data

[2021-04-01 22:57] david-allison-1 commented on #8073
From the comment:

https://github.com/ankidroid/Anki-Android/blob/4030ac3d4b29569ff35a35adcc251f9026c59e92/AnkiDroid/src/main/AndroidManifest.xml#L140-L151

It's very possible for `.apkg` files to match `application/zip`, so I feel the code's still necessary:

[code]

I think we might be able to get away with a naughty(?) hack: Open the app with no UI & display a toast.

[2021-04-01 23:08] david-allison-1 commented on #8077
Can't repro, new phone & no logs. No point in keeping this open.

[2021-04-01 23:08] #8077 closed

[2021-04-01 23:25] david-allison-1 commented on #8260
Sorry - missed this. Might as well be the same as is in "Support AnkiDroid" currently (just transpose the menu to the top level)

[2021-04-01 23:27] david-allison-1 commented on #8223
FAB has now been converted to use the support library. We're open to new designs.

[2021-04-02 01:26] david-allison-1 commented on #8422
(likely) cause: c7cb9b2dd6f2f2c361c825b8e31e424b0e4812d5 @Arthur-Milchior - could you confirm it's this commit which introduces the problem. This crash happens often in the latest alpha, and rarely in the commit after this one.

I think there's two issues going on: Firstly, there is a bug, in that the collection is closed after returning from settings due to a bug in setting `mOldColPath`

Secondl

[2021-04-02 01:47] mikehardy commented on #5024
@Akshay0701 I think you are right, but I would leave this alone for a bit, let's let analytics tell us if this is necessary or not first - that will take time assuming it's even instrumented at the moment, then after we collect data for a while we'll analyze usage to see if it's worth maintaining

[2021-04-02 04:52] prateek-singh-3212 commented on #8114
Hi @2tanayk,
If you have any need, I would love to help you with this issue.

[2021-04-02 05:00] 2tanayk commented on #8114
Sure thanks!

[2021-04-02 06:22] tanmayChakrawarty commented on #8223
@david-allison-1 I will work on a new design.

[2021-04-02 06:23] Arnold2381 commented on #8387
@david-allison-1 sorry for the late reply! ya sure I will start working on this, if I will face issues will ask you.

[2021-04-02 07:46] shobhi1310 commented on #7849
@david-allison-1

I reverted back the PR #7847 and as expected the app would crash on startup. So the main issue is that the menu is getting initialized but it has no context of connection to DB because of no permissions. So the PR shifted
[code]
this line inside the `colIsOpen()` scope which ensures that there is a connection to the DB. So, I will also put up a testing which ensures the same.

[2021-04-02 07:48] Arnold2381 commented on #8387
@david-allison-1  I ran gradlew lintRelease getting version error is there a short way to solve it ?

ERROR: AnkiDroid builds with JVM LTS and current releases (currently major version 8, 11, or 14).
Incompatible major version detected: '15'

[2021-04-02 08:52] iamvs-2002 commented on #8223
The design for?

[2021-04-02 10:50] voidplayer opened #8428 "[Bug] type fields text colors not visible in dark mode"
Original color

![Screenshot_20210402-120648_AnkiDroid](https://user-images.githubusercontent.com/4019910/113409450-926c5600-93b1-11eb-8094-63b69b1d2218.png)

Night mode: light grey and yellow are not very visible

![2021-04-02_12-49](https://user-images.githubusercontent.com/4019910/113409580-e0815980-93b1-11eb-9fdd-d6130a243d55.png)

[2021-04-02 11:24] Vaibhavi1707 commented on #8421
Do I need to write a test for `loadColumn`? As that's the method accessing `getChunk()` which is private?

[2021-04-02 11:40] david-allison-1 commented on #8421
I don't think there's much value, it's tested implicitly by our startup code

[2021-04-02 11:42] david-allison-1 commented on #8223
A design for how we'd be able to improve the UI using the new FAB library.

I don't know what we have available in terms of functionality

[2021-04-02 11:43] david-allison-1 commented on #8223
@tanmayChakrawarty I think it'd be best to let @iamvs-2002 work on this if they'd like, since they reported the issue

[2021-04-02 11:45] david-allison-1 commented on #8387
You should be running a LTS version of Java. You'll need to download it or switch to it if it's already installed

[2021-04-02 11:57] Vaibhavi1707 commented on #5634
Hi, These were my findings when I was working on [#8361] (https://github.com/ankidroid/Anki-Android/pull/8361). When I ran `gradle build --warning -mode all` (Gradle version 7.0) the message prompted me to:

-  use `maven-publish` plugin instead of maven.
-  use 'destinationDirectory()` property instead of `destinationDir` property in `AbstractArchiveTask`
-  use 'archiveFileName` instead of `arch

[2021-04-02 12:17] Arnold2381 commented on #8387
@david-allison-1 umm okay thanks!!

[2021-04-02 12:30] david-allison-1 commented on #8422
Ah - had "don't keep activities" on. This isn't ideal, but makes the bug much less likely to occur.

[2021-04-02 13:34] prateek-singh-3212 commented on #8428
Hi, @voidplayer  I would like to work on this issue and also want to know that what other maintainers think regarding this issue.

[2021-04-02 13:42] david-allison-1 commented on #8428
@voidplayer Thanks for the report. Are you using custom CSS on the note type, I can't reproduce those colors

@prateek-singh-3212 The first thing would be to determine what Anki Desktop does, and see if we have a regression.

[2021-04-02 13:49] voidplayer commented on #8428
As i show in the first pic, the text is colored blu

From my limited perspective the problem comes from showing dark grey in the light theme, that turns into light grey in the night theme

Desktop seem to ignore styling completely. Which seems a reasonable thing to do regardless while showing a diff of errors

I wish i could ignore case too, but thats a matter for another thread ;)

[2021-04-02 13:54] Vaibhavi1707 commented on #8421
Okay, creating a pull request right now.

[2021-04-02 13:58] voidplayer commented on #8428
By the way, the custom style comes in the card field like this ```<font color="#0000ff">der Putsch</font>```

[2021-04-02 14:21] mikehardy commented on #8387
Actually, the error message says LTS or current release, and I think I put that in there? Although I think you were involved. It appears Java15 has come out in the meantime. But wait, Java16 is out now as of a week or so ago

So there is a new issue to log: "JDK Current is now 16, verify AnkiDroid may be developed successfully using it and alter the Gradle JDK check to allow LTS versions and 16"

[2021-04-02 14:25] Arnold2381 commented on #8387
@mikehardy Yea exactly Java 16 is out too!!
Yea I downloaded Java 11 and switched to that after which I was successfully able to run the Lint checks and generate a report of the errors for the same.
Should I log the issue?

[2021-04-02 14:26] mikehardy opened #8434 "Verify AnkiDroid works with JDK16 for development"
Currently JDK16 is the most up to date JDK version available (https://adoptopenjdk.net/archive.html?variant=openjdk16&jvmVariant=hotspot)

AnkiDroid has a test in build.gradle to make sure only JDKs we have verified are used (there have been problems in the past...) So JDK16 is not currently allowed, the most recent allowed is JDK14

The task here is to:

-  install JDK16 (adoptopenjdk.net is high

[2021-04-02 14:27] mikehardy commented on #8387
I opened #8434 to track JDK16 issue, it's completely separate from this and should be pursued independently

[2021-04-02 14:29] mikehardy commented on #8434
Oh - I should say sometimes there are errors! JDK11 did not work until we fixed a few things. If there are problems, correcting them as either as independent clean commits on the PR as separate PRs would work

[2021-04-02 14:32] david-allison-1 commented on #8428
@voidplayer Thanks! Having a full card template would allow us to replicate this.

You can add `.night_mode { }` to the card template to remove the automatic night mode color inversion, and this may fix your issue.

[2021-04-02 15:02] mrudultora opened #8436 "Adding leak canary"
**Is your feature request related to a problem? Please describe.**
We don't know if there are any memory leaks in the app.

**Describe the solution you'd like**
Integrating [LeakCanary](https://github.com/square/leakcanary) library to detect any memory leaks if present.

**Describe alternatives you've considered**
None

[2021-04-02 15:04] mrudultora commented on #8436
As discussed on discord, I am taking this up, if maintainers agree.

[2021-04-02 15:39] mikehardy commented on #8436
I like this idea - but can you make sure you implement this part as well:

https://square.github.io/leakcanary/recipes/#matching-known-library-leaks

It does not need to have any entries that we already know about but:

1. if the leak detection is noisy, people will turn it off, so it should only flag *new things*
2. in order to only flag new things we need to match things we already know about (e

[2021-04-02 15:42] mikehardy commented on #8387
Not closed yet - just one file done so far

[2021-04-02 15:44] Arnold2381 commented on #8387
Yea working on others too! @mikehardy

[2021-04-02 15:51] prince-09 commented on #7354
Anybody working on it? Can I continue this?

[2021-04-02 15:56] voidplayer commented on #8428
@david-allison-1 its a shared deck, you can download it here

https://ankiweb.net/shared/info/399999380

[2021-04-02 16:00] voidplayer commented on #8428
I added the field ```{{type:German}}``` to the card type: 2 front template

[code]

[2021-04-02 16:41] tapish2000 commented on #7354
I was working on this initially but now, I have 2 other issues to work on, you can take it @prince-09

[2021-04-02 16:53] david-allison-1 commented on #8387
@Arnold2381 Just to note: I've removed a lot of these warnings for `wildplot` in #8437

In future, to ensure that work hasn't been duplicated, you'll want to:

* Check out master & Pull latest changes
* Make a branch
* `git cherry-pick bb93b0af726ab4c37008fabc415b961c4568d6dc`
* You can then run inspections, and drop the commit later

[2021-04-02 17:00] Arnold2381 commented on #8387
@david-allison-1 noted. But I think for cherry pick the working tree needs to be clean right?

I am already done making a lot of changes around 10-15 files was going to commit that.

Next time I will make sure.

[2021-04-02 17:03] david-allison-1 commented on #8387
I'd find cherry picking to be the easiest way to keep up, but if you've got a workflow that works, don't disrupt it, do what works.

Thanks so much!

[2021-04-02 17:04] Arnold2381 commented on #8387
Sorry! Will surely use cherry pick next time! thanks for the suggestion
And also should I make a PR now? Or solve all the issues and make a PR at the end?

[2021-04-02 17:11] david-allison-1 commented on #8387
Don't worry at all, do what works for you. Definitely don't apologize!

If I were you, I'd break it into a pull request per day.

Also has the added benefit of more GitHub contributions 😉

[2021-04-02 17:17] Arnold2381 commented on #8387
Haha!! Okkk

[2021-04-02 17:29] prateek-singh-3212 commented on #8428
@david-allison-1 Anki desktop is working fine.
 Here is the screenshot of Anki desktop light and dark mode.
![1anki](https://user-images.githubusercontent.com/76490368/113438647-99718380-9406-11eb-9bc9-dde94352281a.png)
![2anki](https://user-images.githubusercontent.com/76490368/113438651-9b3b4700-9406-11eb-93e3-5d39628b886e.png)

[2021-04-02 17:30] david-allison-1 commented on #8428
Is that using the "type" feature?

[2021-04-02 17:31] prateek-singh-3212 commented on #8428
Yes.

[2021-04-02 18:41] Prince-kushwaha commented on #8397
@david-allison-1 another solution of this issue in pull request  #8439

[2021-04-02 18:47] david-allison-1 commented on #8397
@Prince-kushwaha It'd be best if you closed one of those

Try to keep one pull request per issue. You can rebase a pull request to fix it if something goes wrong.

If you don't have the git skills, to properly rebase (don't worry - it takes time), then it's best to close the original PR and link to the new one so we can understand how it progressed

[2021-04-02 18:57] #8421 closed

[2021-04-02 19:07] mikehardy commented on #8387
you can `git stash` then cherry-pick then `git pop` - I do that a lot, but more frequently I stash, then pull/rebase against main branch then stash pop to stay up to date

alternatively you can commit your changes with a WIP (work in progress) commit message (so it's obvious), pull/rebase, then `git reset --soft HEAD~1 && git reset` to pop your WIP commit off and unstage the changes

git fun ;-)

[2021-04-02 19:20] Arnold2381 commented on #8387
![image](https://user-images.githubusercontent.com/46752548/113446840-54554d80-9416-11eb-8821-a4ad538b1a9c.png)

Thanks for the explanation, that was a great one. git checkout meme 😄😄😄

[2021-04-02 23:48] 2tanayk commented on #8114
I am working on it,was a bit busy(because of college 😬),will get it done soon :)

[2021-04-02 23:53] david-allison-1 commented on #8114
@2tanayk Life comes first, take your time, grades are important.

[2021-04-03 01:12] Arthur-Milchior commented on #8422
I suspect you used a wrong link. This added a task RESET and don't introduce any call to it.  It seems unrelated to `mOldColPath` you mention

Seems entirely unrelated to the commit you linked

Why do we close the collection when leaving settings ?

Do you know which ones?

Is it especially related to settings ? I could imagine that the same problem would occur when moving to deck picker again or

[2021-04-03 01:22] david-allison-1 commented on #8422
We close the collection when leaving settings due to a bug in persisting `mColPath`. It's likely been a bug forever. But it wasn't noticeable until 2.15, as it now crashes

The commit was diagnosed manually on my phone, hence asking for verification/confirmation from a second person/phone.

My theory is that it's caused by adding a second task, but this needs to be confirmed, along with whether I'

[2021-04-03 02:44] grubin30 opened #8443 "[Bug] added cards counting"
###### Reproduction Steps

1. Run AnkiDroid for a while, learning 6 new cards per day and reviewing many more.
2. Open the Statistics page showing the default view of one month, view Added and the Forecast

###### Expected Result

Accurate counting and reasonably accurate forecasting

###### Actual Result

The Added section reports less than 1 new card per day learned (23 for the month), even thou

[2021-04-03 06:08] iamvs-2002 commented on #8223
Ohh okay

[2021-04-03 06:08] iamvs-2002 commented on #8223
I would be more than happy to work on this issue.

[2021-04-03 06:13] iamvs-2002 commented on #8223
https://user-images.githubusercontent.com/54304786/113470188-45e84f80-9471-11eb-84b1-cf17d9c6eb10.mp4

I was just trying to do some changes(UI), and now the app looks like this.

[2021-04-03 07:28] Amitcode77 opened #8447 "Proposal to add a animated splash Screen"
Every successful has a good splash screen at the launching of the app which has a great psychological effect on users mind.

I love the app functionality and uses but the User Interface of the app is a little complicated. So I want to work to improve the UI  of the app and start my work by adding a splash screen.

I want to add a short animated splash screen to the app by using the default logo an

[2021-04-03 08:14] iamvs-2002 commented on #8342
This is a great issue. Probably this might help you: https://developer.android.com/reference/android/widget/AutoCompleteTextView
Because there is dictionary support in the app, the dictionary words can be stored in a string array and hence used to show the nearest suggestions to the user. Do let me know if you need any help with the same.

[2021-04-03 08:24] iamvs-2002 opened #8448 "Modify the UI for the overview tab in the Statistics activity"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Since the overview tab mostly contains text, it is important to create a nice UI.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I will improve the UI by trying every possible modification

[2021-04-03 08:26] iamvs-2002 commented on #8447
I am sorry, but I don't think it is really useful because, since Anki Droid is an educational app, Splash Screen would be really annoying for the users.

[2021-04-03 08:31] iamvs-2002 commented on #8226
If no one is working on this issue, kindly assign me this issue.

[2021-04-03 08:35] iamvs-2002 commented on #8223
@david-allison-1
Kindly guide me once about what I should implement, so that I may begin working on this issue.
Being a user of AnkiDroid, I feel that, the night mode is basically causing all the problems. Personally, it doesn't feel much comfortable to the eyes, due to high contrast, hence I made it gray from black. This way, it was pleasant to the eyes and hence improved the UI for the add decks

[2021-04-03 08:36] iamvs-2002 commented on #8342
You can also use this wonderful library: https://github.com/mancj/MaterialSearchBar

[2021-04-03 08:41] david-allison-1 commented on #8223
It's best that if you raise an issue, you stick to solving it, and log other problems that you encounter as separate issues.

We have both a dark, and a black theme. The dark theme is easier on the eyes

As discussed above, improving/changing the background should fix the issue

[2021-04-03 08:44] david-allison-1 commented on #8226
There's a pull request in for this which requires feedback, ping me in 48 hours and I'll let you know

[2021-04-03 08:57] iamvs-2002 commented on #8223
Yes, so I'll improve the background and make a pull request for this issue soon.

[2021-04-03 08:59] david-allison-1 commented on #8448
Hi, thanks for the report. Could you fill out the template

[2021-04-03 09:09] david-allison-1 commented on #8447
I don't think any of my apps have an animated splash screen.

Personally, I think there's better things that we could focus on

[2021-04-03 09:49] iamvs-2002 commented on #8226
Kindly tell me that: the toast message is shown to close the deck menu or the app? I think it's for closing the app right?

[2021-04-03 11:16] tapish2000 commented on #8443
I would like to see what's going wrong

[2021-04-03 12:03] david-allison-1 commented on #8422
Most of that post was prefaced with speculation on how things were working rather than certainty. Fixing `mColPath` would mask the bug, rather than solve it.

I was hoping for confirmation via checkout that the commit was correct, as I was unsure and the crash was flaky.

I've re-checked and it seems that:

* `git checkout bc5dd52dde2358fe396fc464217c9a3b06770e5e` - does not compile, crashes when

[2021-04-03 12:26] david-allison-1 commented on #8443
Feel free to diagnose and post the results here

[2021-04-03 12:56] vinishhub commented on #8396
sir I have created a separate animation file anim-ldrtl under res And I have entered the animation file and changed the behaviour of each file (i.e In slide_left_in I have placed property of slide_right_in and viceversa).I don't Know what to do next.

[2021-04-03 13:08] mikehardy commented on #8447
Agreed - there are real UI issues if that's the goal. For instance breaking CardTemplateEditor into multiple screens like on the desktop instead of trying to have 3 text areas on one tiny phone, or Accessibility improvements (which typically have the effect of making the UX/UI better for everyone)

[2021-04-03 13:08] #8447 closed

[2021-04-03 13:29] #8027 closed

[2021-04-03 13:31] mikehardy commented on #8448
https://github.com/ankidroid/Anki-Android/wiki/User-Interface-contribution

[2021-04-03 13:36] david-allison-1 commented on #8178
Little too soon - needs a new version of the backend jar

[2021-04-03 13:45] ritvij14 commented on #8434
@mikehardy  can I work on this?
I have gone through the issue description (and also the comment that you linked) and understood what needs to be done.

If there are many problems that require changes, I will send separate PRs from my branch and link them all to this issue.

[2021-04-03 13:45] david-allison-1 commented on #8387
To discuss: `    boolean _v2sched;`

https://github.com/ankidroid/Anki-Android/pull/8451#discussion_r606666268

[2021-04-03 13:59] mikehardy commented on #8434
Please do! Thank you @ritvij14 - hopefully it's a quick one, there ...should not be problems? You just never know until you try though :-)

[2021-04-03 14:35] david-allison opened #8454 "Investigate _pre21 xml files"
We're on API 21 now, see how/whether we can combine these files, and determine why they were called `_pre21`

`fab_label_background_black_pre21.xml`
`fab_label_background_pre21.xml`

[2021-04-03 16:49] david-allison-1 commented on #8428
Could you show a "type the answer" diff on the card to see how it looks?

[2021-04-03 17:02] OCzarnecki commented on #7753
Hi, I'd like to join the Gsoc frenzy^^ Can I work on this?

[2021-04-03 17:08] david-allison-1 commented on #7753
Definitely! Cheers

[2021-04-03 17:15] mikehardy commented on #8396
I'm in this area for other reasons and noticed that we are using ActivityTransitionAnimation in our source tree for these animations (or at least, we *should* use it for all animations)

Currently we have a LEFT and RIGHT defined as constants to specify an animation.

Following Android naming practices those constants should be renamed START and END so that the "idea" of RTL languages is built in

[2021-04-03 18:38] asabir123 commented on #8241
Hi,
I am having another problem when viewing images. Ever since Ive inserted an answer type in bar next to the question, none of my pictures are included in the answer. I have included 2 screenshots below:

________________________________
From: Mike Hardy ***@***.***>
Sent: 18 March 2021 14:49
To: ankidroid/Anki-Android ***@***.***>
Cc: Ahamad Sabir ***@***.***>; Author ***@***.***>
Subject: Re:

[2021-04-03 18:43] david-allison-1 commented on #8241
Hi, @asabir123, you haven't included images

You might be better served on our mailing list, or reddit (see the in-app help section for more details).

[2021-04-03 18:45] asabir123 commented on #8241
I have please check again,

________________________________
From: David Allison ***@***.***>
Sent: 03 April 2021 19:43
To: ankidroid/Anki-Android ***@***.***>
Cc: Ahamad Sabir ***@***.***>; Mention ***@***.***>
Subject: Re: [ankidroid/Anki-Android] [Bug] Text (#8241)

Hi, @asabir123<https://github.com/asabir123>, you haven't included images

You might be better served on our mailing list, or redd

[2021-04-03 18:50] david-allison-1 commented on #8241
@asabir123 Please come to the GitHub issue or use the mailing list, the pictures haven't been transferred to the GitHub issue

[2021-04-03 18:52] asabir123 commented on #8241
i understand, can you please send me the link as I cant find it hence why I messaged you over email?
This would be greatly appreciated.

Thank you,
________________________________
From: David Allison ***@***.***>
Sent: 03 April 2021 19:51
To: ankidroid/Anki-Android ***@***.***>
Cc: Ahamad Sabir ***@***.***>; Mention ***@***.***>
Subject: Re: [ankidroid/Anki-Android] [Bug] Text (#8241)

@asabir123

[2021-04-03 18:54] david-allison-1 commented on #8241
https://github.com/ankidroid/Anki-Android/issues/8241#issuecomment-812910279

[2021-04-03 18:55] asabir123 commented on #8241
Hi
I am having another problem when viewing images. Ever since Ive inserted an answer type in bar next to the question, none of my pictures are included in the answer. I have included 2 screenshots below:
![Screenshot 2021-04-03 7 34 54 PM](https://user-images.githubusercontent.com/80747952/113488509-8a4a0e80-94b6-11eb-9a5f-54f87e2752b2.png)
![Screenshot 2021-04-03 7 34 44 PM](https://user-images.

[2021-04-03 18:55] asabir123 commented on #8241
it just says screenshot...

[2021-04-03 18:56] david-allison-1 commented on #8241
Tap "Cards", you'll have modified the card template

[2021-04-03 18:58] asabir123 commented on #8241
what do i do after that?

[2021-04-03 18:58] asabir123 commented on #8241
it comes to this page, could you also change the font to aerial.
![Screenshot 2021-04-03 7 58 11 PM](https://user-images.githubusercontent.com/80747952/113488586-fcbaee80-94b6-11eb-816a-88cb01696cea.png)

[2021-04-03 19:01] david-allison-1 commented on #8241
Change `{{type:Back}}` to `{{Back}}`. Please use our mailing list in future for support queries.

[2021-04-03 19:02] asabir123 commented on #8241
sure, will i still be able to type in my answer.

[2021-04-03 19:03] asabir123 commented on #8241
and do i change it for both of them?

[2021-04-03 19:05] david-allison-1 commented on #8241
If you want to type in your answer, use the `basic (type in answer)` note type.

If you also want a picture on the back, use a separate field to define it: https://docs.ankiweb.net/#/getting-started?id=notes-amp-fields

[2021-04-03 19:09] asabir123 commented on #8241
Great thank you for your help! :)

[2021-04-03 19:45] vinishhub commented on #8396
Sir I have renamed  LEFT AND RIGHT variables to START AND END how to implement in switch case we have to reverse the transition when switched from LTR to RTL and vice versa

[2021-04-03 20:00] #8223 closed

[2021-04-03 20:02] #8226 closed

[2021-04-03 20:04] mikehardy commented on #8396
in each of the indicated cases, you will need some programmatic way to determine if your locale is RTL or not, then select the correct animation. Figuring that out is the task.

[2021-04-03 20:34] ritvij14 commented on #8434
@mikehardy after following the above tests, I got this result on running the command:
[code]

[2021-04-03 20:38] david-allison-1 opened #8459 "[Bug] 2.14.6 - Android 11 - onRenderProcessGone triggered when app is in background"
###### Reproduction Steps

1. Open AnkiDroid
2. Open a card
3. Move AnkiDroid to background
3. Do something which causes the WebView to OOM - Discord Video, open camera, etc...

###### Expected Result

* We only show the toast when the app is visible

###### Actual Result

* AnkiDroid shows a toast: the `Fatal Error: WebView renderer crashed. Cause: %s` message

###### Debug info
[code]

###### Re

[2021-04-03 20:39] david-allison-1 commented on #8459
Note: Only a good first issue if you can reproduce this error

[2021-04-03 20:45] mikehardy commented on #8434
I'm not sure we can resolve it! Wow, that's a very low level :boom:

Probably best to wait for the underlying tools to handle JDK16 and until then, our build.gradle warning is valid, we work with 8, 11 and 14 (although it does say latest - and 14 is no longer latest, it's not worth changing at the moment)

I'll label this one as blocked on dependency

Although if you search in stackoverflow or gra

[2021-04-03 20:46] mikehardy commented on #8434
Note: seeing discussion of the underlying cause would just be for interest - sometimes I find that stuff interesting? - you might

And regardless, I appreciate that you gave it a spin, now we *know* it does not work and all knowledge has some value

[2021-04-03 21:13] ritvij14 commented on #8434
Ok understood. I will give them a read, they do sound interesting, and will move onto another issue for now.

[2021-04-03 23:17] david-allison-1 opened #8460 "[Bug] Card Browser - Select Many Crash"
I have discovered a bug related to this feature and wanted to let you know (I can try to collaborate on this):
- Enter Card Browser, choose a deck with enough cards to scroll.
- Long-Press the top card.
- scroll down and long-press the bottom card (Any two cards that need scrolling to go from one another.)

**Expected** : Select all cards between.
**Actual**: AnkiDroid Crashes.

https://user-image

[2021-04-03 23:20] david-allison-1 commented on #8460
@madelesi Thanks for the detailed report! You might want to subscribe to this issue (right hand toolbar) for progress updates

[2021-04-03 23:24] madelesi commented on #8460
@david-allison-1 Sure! I was posting it as a comment first because it was a new feature and I thought about making an issue later. I'll see if I can contribute alongside @mrudultora

[2021-04-04 00:44] #8160 closed

[2021-04-04 04:03] Akshay0701 commented on #8396
Character.getDirectionality returns the[ Bi-directional (bidi)](https://en.wikipedia.org/wiki/Bidirectional_text) character type. Left-to-right text is a predictable type L and right-to-left is also predictably type R. BUT, Arabic text returns another type, type AL.

I added a check for both type R and type AL and then manually tested every RTL language Android comes with: Hebrew (Israel), Arabic

[2021-04-04 04:11] Akshay0701 commented on #8396
@vinishhub this is not very complex problem ,but if still not able to solve it ,no issues ,I will do that for you :)

[2021-04-04 04:13] vinishhub commented on #8396
Thanks sir

[2021-04-04 05:30] gukosowa opened #8461 "UX Improvement: Make adding media accessible under Editing Note"
I could not find an similar opened issue, please correct this issue if it was already opened.

**Explanation:**
The current situation of adding media is hidden under many views. There is a lot of space available directly in the "Edit Field" view without the need to hide these options under additional dropdowns and views. The usability would be improved.

---
**Reproduction:**
* Start Review
* Edit

[2021-04-04 06:29] ShridharGoel opened #8462 "Name field in `Create Deck` dialog should get auto-focused on opening"
**Is your feature request related to a problem? Please describe.**
Selecting the `Create Deck` option opens a dialog with a field to enter the name of the deck but does not auto-focus on the field.

**Describe the solution you'd like**
The name field should get focused by default and keyboard should get opened since typing a name is the only purpose of that dialog box.

[2021-04-04 06:30] ShridharGoel commented on #8462
@Arthur-Milchior @david-allison-1 Please let me know if this is a valid issue and if I can start working on it.

[2021-04-04 06:32] david-allison-1 commented on #8462
Seems reasonable, let's do it!

[2021-04-04 08:48] david-allison-1 opened #8464 "[Enhancement] Audit and improve dialog usage"
UX enhancement related to #8462, should likely be broken up into further tasks, rather than taken on in one go.

We should:

* Audit dialogs to see if they should open up the keyboard (#8462)
    * Consider a program design to make this functionality easy to accomplish
* Audit dialogs to see if "enter" on the on-screen keyboard should perform a submit, rather than close the keyboard.
   * Example:

[2021-04-04 08:54] ShridharGoel commented on #8464
I would like to work on this.

[2021-04-04 08:56] ShridharGoel commented on #8462
I have noticed that options like `Rename deck` and `Create subdeck` require a functionality similar to this. Should I create separate issues for them?

[2021-04-04 08:56] ShridharGoel commented on #8464
I would like to work on this.

[2021-04-04 08:58] ShridharGoel commented on #8464
We can create a static utility function which can be used at the required places.

[2021-04-04 09:28] david-allison-1 commented on #8462
Let's audit in https://github.com/ankidroid/Anki-Android/issues/8464, no need for one issue per item

[2021-04-04 09:36] ShridharGoel commented on #8462
Okay, I also thought to have one single issue for handling other such cases.

[2021-04-04 11:20] ShridharGoel opened #8466 "[Bug] Card colour does not get updated on selecting a flag"
###### Reproduction Steps

1. Go to Card Browser
2. Long click on a card
3. Select any flag from the flag menu
4. Notice the card's colour.

###### Expected Result

The card colour should get updated according to the selected flag.

It's working fine in 2.14.6.

###### Actual Result

The card colour doesn't update until the Card Browser is reopened.

###### Video depicting the issue

https://user-

[2021-04-04 11:21] ShridharGoel commented on #8466
If this issue is valid, then I would like to work on it.

[2021-04-04 11:27] david-allison-1 commented on #8466
What version of AnkiDroid are you using?  `Settings - About AnkiDroid - Copy Debug Info`

This works for me

[2021-04-04 11:29] ShridharGoel commented on #8466
`v2.15alpha38`

I have built it from the `master` branch.

[2021-04-04 11:31] david-allison-1 commented on #8466
`git rev-parse HEAD` shows?

[2021-04-04 11:35] ShridharGoel commented on #8466
`2d344bfb26b7a97e3173c8db4461a0def36e496f`

[2021-04-04 11:37] david-allison-1 commented on #8466
Hmm... Could you provide all the information listed in the debug info

[2021-04-04 11:38] ShridharGoel commented on #8466
###### Debug Info:

[code]

[2021-04-04 11:43] ShridharGoel opened #8467 "[Bug] Long pressing a card below the end of the initial ListView crashes"
###### Reproduction Steps

1. Go to card browser.
2. Long press on a card to select it.
3. After the card is selected, long press again.
4. Notice that the app crashes.

###### Expected Result

App should not crash.

###### Actual Result

The app crashes. Here are the logs:

[code]

###### Research

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug o

[2021-04-04 11:48] tapish2000 commented on #8443
@grubin30 `Added` Section shows only the cards which are newly added, there are two fields in that section - `Total` and `Average`. When you write:

You say, Added section reports less than 1 new card per day "learned", I think it shows "added", and by less than 1 new card, are you talking about the `Average` field of `Added` Section?

[2021-04-04 12:36] david-allison-1 commented on #8466
I can't reproduce this, could you provide a failing unit test (which you made pass) along with your fix, if possible

[2021-04-04 13:07] ritvij14 commented on #8454
@david-allison-1 how can I check their exact usage? I saw these files and they have the same content (which is also the same as v21/fab_label_background.xml)

[2021-04-04 13:15] david-allison-1 commented on #8454
"find all (Ctrl+Shift+F)", then right click an instance and perform Android Studio's "Find Usages"

We also don't need `v21`

[2021-04-04 13:16] david-allison-1 commented on #8454
An example to start off:

https://github.com/ankidroid/Anki-Android/blob/c1697ad37158b47d4a44c200e7428704af61792b/AnkiDroid/src/main/res/values/theme_black.xml#L100

[2021-04-04 13:26] Ekagra opened #8469 "NF: Add a popup to update the app when a new version is available"
**Describe the solution you'd like**
I have seen there's no feature to ask the user to update the app when a new version is available, we can add a snackbar or dialogue popup for the same.

**Describe alternatives you've considered**
None

[2021-04-04 13:29] #8462 closed

[2021-04-04 13:30] david-allison-1 commented on #8469
Is this possible in a privacy-friendly manner?

How do we handle when we no longer support and Android platform?

[2021-04-04 13:42] #8047 closed

[2021-04-04 14:33] iamvs-2002 commented on #8448
Yea, I'll add it soon.

[2021-04-04 14:34] #8178 closed

[2021-04-04 14:39] #8004 closed

[2021-04-04 14:39] #8007 closed

[2021-04-04 14:40] david-allison-1 commented on #8264
@IAmJaishree are you working on this?

[2021-04-04 14:42] mikehardy commented on #8469
You have to keep this up to date across multiple app stores with version information on each app store and they don't provide public APIs mostly

This is done in some apps by just assuming the install is from play store and checking that, which is something you can verify (it is possible to know where an app is installed from, programmatically) but checking the version is still the equivalent of a

[2021-04-04 14:42] #8469 closed

[2021-04-04 14:55] david-allison-1 commented on #8466
Could you also confirm that this is a regression from 2.14.6

[2021-04-04 15:31] mikehardy opened #8473 "Possible APK size optimization effort"
2.15alpha23 https://github.com/ankidroid/Anki-Android/releases/tag/v2.15alpha23

single-architecture APKs are ~12.5MB

2.15alpha24 https://github.com/ankidroid/Anki-Android/releases/tag/v2.15alpha24

single-architecture APKs are ~19MB

20MB is acceptable these days, this is not a "bug" per se, the goal is to use the AndroidStudio APK analysis tool to *explore* the size difference and see if there

[2021-04-04 16:22] MrkEstnt opened #8474 "[Bug] Saving Note - Freeze/Crash"
###### Reproduction Steps

1. Add card info [Basic (and reversed card)]
2. Click Save icon

###### Expected Result
Proceed to next empty card in same deck.

###### Actual Result
Saving Note pop up remains in place. Must quit application and restart. Typically, card has been added with no data lost.

###### Debug info

AnkiDroid Version = 2.14.6

Android Version = 9

ACRA UUID = 4e7383c9-4993-4ce8-

[2021-04-04 16:29] mikehardy commented on #8474
Oh no - thanks for reporting this!

I'm marking it as a good first issue as we have lots of new contributors and perhaps one of them could see if this is still reproducible on the main development branch or on 2.14.6 - it may have already been fixed

[2021-04-04 16:41] Ekagra commented on #8469
That was informative, thanks,

[2021-04-04 17:12] ShridharGoel commented on #8466
It's working fine in `2.14.6`.

[2021-04-04 17:25] mikehardy commented on #7056
I took another try at this and I was able to fix all the undeclared transitive usages of the java8 objects imported by the java7-compatible flavor of google-analytics-java

I still haven't found a super-easy way to fix this though:

[code]

That object is not included in the java8 de-sugaring, so this is effectively on hold until I either find an easy way to package that dependency up *in* the goo

[2021-04-04 17:29] mikehardy commented on #8072
I am going to mark this for release-2.16, moving it from release-2.15

The general idea now is to do an exploratory PR that uses https://github.com/CanHub/Android-Image-Cropper for all APIs (vs our split "custom crop for Android < 11" / "uCrop for Android 11" solution)

If that library cannot do it, then implementing uCrop for all APIs and watching closely for where the community goes (whenever a

[2021-04-04 18:42] shobhi1310 commented on #7849
@david-allison-1

I tried to run unit tests `DeckPickerTest` as I wanted to put my custom test, but none of the previous tests are also running. What could be the reason?

I also tried it on other unit test case classes, and similarly none of the test cases passed.

![image](https://user-images.githubusercontent.com/42507632/113518371-8ea02580-95a3-11eb-9046-4026e90f0daf.png)

[2021-04-04 19:44] TarekkMA commented on #8406
I will try to tackle this issue

[2021-04-04 19:56] david-allison-1 commented on #7849
* Could you ensure that you're on the latest version of master?
* If so, could you raise an issue

Please copy and paste, don't send screenshots of errors

[2021-04-04 20:21] oaeka commented on #8474
Well, i tried to reproduce it but it worked fine

[2021-04-04 20:38] TarekkMA commented on #8406
These are the required things that could be extracted as an interface

[code]

So we could inject `Collection` and `CustomStudyDialogListener` as constructor parameters.

[2021-04-04 20:45] TarekkMA commented on #8406
I can use [`ExtendedFragmentFactory`](https://github.com/ankidroid/Anki-Android/blob/b1743baeadc622d547944fd6d493681429c1d517/AnkiDroid/src/main/java/com/ichi2/utils/ExtendedFragmentFactory.java) (OPEN PR) and make the factory thing modular, by having a static function like this.

[code]

[2021-04-04 20:47] david-allison-1 commented on #8406
Great!

What do you think about splitting that interface into `DialogFragment` handling and `Navigation` handling?

Nav will be rewritten this year, so don't put too much thought into it.

[2021-04-04 20:48] TarekkMA commented on #8406
That would be for the better, will start on it tomorrow.

[2021-04-04 20:59] david-allison-1 commented on #8474
@MrkEstnt Thanks for the report! Sorry this is happening

* Did anything happen before this broke (software update/new phone)?
* How recently did this start occurring?
* Are you able to provide us with a copy of all your Anki Data (excluding images)
  * If you don't have private data: could you zip the file located at `AnkiDroid/collection.anki2` on your phone and upload it here
  * If you do have

[2021-04-04 22:52] david-allison-1 opened #8476 "Unit test debugging failing - java.lang.NoClassDefFoundError: kotlin/Result"
Running tests for Robolectric works, debugging now fails. Only one relevant Google result, so posting here to consolidate discussion

[code]

[2021-04-04 23:07] david-allison-1 commented on #8476
[code]

[2021-04-04 23:36] david-allison-1 commented on #8476
Fixed

* Downloaded JDK 11.0.10
* Switched
* Switched Back
* Changed commandline handling from `classpath file` (likely fix):
![image](https://user-images.githubusercontent.com/62114487/113524476-db393000-95a6-11eb-8a25-b8a803b9ef1a.png)

[2021-04-04 23:36] #8476 closed

[2021-04-05 02:56] leitz010 commented on #8420
Here it is ^^:

AnkiDroid Version = 2.14.6

Android Version = 11

ACRA UUID = cc3ec77b-8b96-40ad-99e3-3187c7799494

Scheduler = std

Crash Reports Enabled = true

[2021-04-05 03:18] david-allison-1 commented on #8420
Thanks @leitz010

If your Anki collection doesn't contain sensitive information, could you zip the file located at `AnkiDroid/collection.anki2` and upload it here, or post a link to it on cloud storage (for example: Google Drive)

If it does, please let me know and we'll find an alternative.

[2021-04-05 04:30] shobhi1310 commented on #7849
@david-allison-1

Android Studio has support of JDK 8 as of now and that means it only has support till SDK 28. (SDK 29 and above require JDK 9)
Whereas the recent release of Roboelectric needs to run test using SDK 29 so that is what has caused the issue which has been mentioned in the reproducible error as shown below:

[code]

One of the proposed solution which I got in [StackOverflow](https://

[2021-04-05 04:34] david-allison-1 commented on #7849
This shouldn't cause a problem:

https://github.com/ankidroid/Anki-Android/blob/8748835f1ee5f606bb86a962e1fa477d38858a24/AnkiDroid/src/test/resources/robolectric.properties#L3

[2021-04-05 06:20] bhamrickatmills commented on #8473
@mikehardy I don't really know much about this I'd be interested in poking around! ( I don't  want sole responsibility for this, but I would like to play with the tools if that's alright.)

[2021-04-05 08:11] boolbag opened #8481 "[Bug] "Modify today's new card limit" option has been removed (2.15alpha 39)"
###### Reproduction Steps
Not sure if you can reproduce. For me these steps work for all the decks I've tried them on.

In a deck that has lots of new cards, I always manually add new cards via _Custom study / Modify today's new card limit_

1. Today, I went to do that and the option was missing: the first option in the _Custom study_ menu was _Modify today's review card limit_. No option to chang

[2021-04-05 11:16] david-allison-1 commented on #8481
On it. Thanks for the report!

[2021-04-05 11:27] leitz010 commented on #8420
Here is a link to it:

https://drive.google.com/file/d/1W4nYHtLOP0Va1AOYSunhcYiWMFOu37_Y/view?usp=drivesdk

[2021-04-05 12:19] mikehardy commented on #8473
Sure give it a go!

[2021-04-05 12:28] grubin30 commented on #8443
Sorry, I entered the report on my phone, so details were hard to get down exactly. The Added section shows 23 Total, which is under the header "1 Month", so I presume that's 23 for the month. The Average is 0.7 cards/day. As I mentioned, I'm adding 6 new cards per day.

[2021-04-05 13:00] david-allison-1 commented on #8473
Whatever comes out of it, if we have a little more dev documentation on size analysis on the wiki, it'll be a plus for us, and future developers

[2021-04-05 13:12] #8075 closed

[2021-04-05 13:18] mikehardy commented on #8473
Great point, and looking forward over years a section on the dev guide (or maybe a separate page linked in the dev guide) that explains it might be the most useful possible outcome over time

My first step is always to get a release APK generated for each build I'm investigating, which requires creating a java keystore that you have passwords for where the build.gradle looks for it, or altering th

[2021-04-05 14:13] kuroni commented on #8081
Hi, I would like to work on this!

[2021-04-05 14:16] Arnold2381 opened #8482 "[Bug] UnsatisfiedLinkError: rsdroid1801181558290891185.dll: Can't find dependent libraries"
###### Reproduction Steps

1.  Running test extending Roboelectric test
Reference
https://github.com/david-allison-1/Anki-Android-Backend/issues/46
2. I have the dll file in my temp folder.
###### Expected Result
Test must pass

###### Actual Result
java.lang.Exception: Main looper has queued unexecuted runnables. This might be the cause of the test failure. You might need a shadowOf(getMainLooper

[2021-04-05 14:18] mrudultora commented on #8482
This might help [http://robolectric.org/blog/2019/06/04/paused-looper/](http://robolectric.org/blog/2019/06/04/paused-looper/)

[2021-04-05 14:31] david-allison-1 commented on #8482
This is due to a `dll` failing to load

@Arnold2381 Could you post the full exception log, the `cause` is the most important part

Somewhere before the crash, could you set: `RustBackendLoader.PRINT_DEBUG = true;`, this should list your OS in the test output.

: `loading rsdroid-testing for: [os]`

This will likely need some diagnosis on your side, I'm not sure what's going on here

This comment m

[2021-04-05 14:38] david-allison-1 commented on #8482
@Arnold2381

Actually... first stage:

Could you save the following as a file: `checkrsdroid.ps1`, open up a PowerShell prompt in the folder and run `.\checkrsdroid.ps1`

[code]

[2021-04-05 14:55] david-allison-1 commented on #8081
Awesome, thank you!!

[2021-04-05 15:05] Arnold2381 commented on #8482
My first suggestion would be for you to install the [Microsoft C++ Build Tools](https://docs.microsoft.com/en-us/windows/dev-environment/rust/setup. I'm doubtful that this will help, but it clears out a possibility.
@david-allison-1 I tried this didn't work.
Will try next the suggestion

[2021-04-05 18:13] tapish2000 commented on #8443
Do you have some associated screenshots? Because for this to verify, I need to add new cards daily consistently to get the desired output.

[2021-04-05 20:00] TarekkMA opened #8487 "[Bug] Regression CustomStudyDialog filtering on tags will result in a crash"
I think this #8341 introduced a bug in `CustomStudyDialog`, it removed the setter for the listener (which is great, since we can't relay on it to be there after a configuration change) but it assumed the fact that `getActivity()` would return an activity that does implement the interface.

In the case of `CustomStudyDialog` the interface was implemented on the dialog, not on its hosing activity `S

[2021-04-05 20:08] mrudultora commented on #8313
I would like to work on this. But few questions, the github action Mike suggested could be installed by any of the member of AnkiDroid only. Am I right ?

[2021-04-05 20:11] david-allison-1 commented on #8313
Now, I'm not an expert here:

* You can set up actions on your own repository to test for free (as long as it's public)
* GitHub actions can be added by anyone in a pull request to a YAML file: https://github.com/ankidroid/Anki-Android/tree/master/.github/workflows
* In a pull request, the token that GitHub Actions uses is read-only
* In other circumstances (manual run by maintainer, merge to mast

[2021-04-05 20:21] ANUJAGRAWAL2000 opened #8488 "Search Option For List of Deck"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
It may be that the user have a long list of decks and he created a deck some days ago but now he is having trouble in finding that particular deck due to very long list but the user know the name of the deck so if we provide the search func

[2021-04-05 20:22] ANUJAGRAWAL2000 commented on #8488
@david-allison-1 Please check this issue. I want to work on this issue.

[2021-04-05 20:36] david-allison-1 commented on #8488
We already have this. It appears if the user has over 10(?) decks.

Have you encountered this problem yourself?

[2021-04-05 20:38] TarekkMA commented on #8487
I plan to solve this issue, but I figure that waiting on #8322, so we don't waste time on solving merge conflicts.

The same thing that will be done to #8406, I would apply here.
- Extract all decencies to be initialized and used via member fields, instead of casting or calling a static method every time the object is needed
    - initialization will be done  in `onAttach` so the hosting activity

[2021-04-05 23:23] david-allison-1 commented on #8265
@Arthur-Milchior Is this still occurring?

[2021-04-05 23:24] david-allison-1 commented on #8424
@mikehardy Any opinions on this? Would like to tackle it tomorrow

[2021-04-05 23:35] david-allison-1 commented on #8482
I've had a shot at fixing this and failed.

@mikehardy

[2021-04-06 00:32] mikehardy commented on #8424
Mmm if it's a change of behavior and we know the UI gets really cramped I could see it being a toggle with the default being the no change behavior. Hard to please everyone all the time for sure

[2021-04-06 00:36] mikehardy commented on #8482
Mmm I'll give it a shot I have some time tomorrow morning. Installing gcc isn't the worst as it's such an old (that is well understood and distributed) and package management even on windows is so much better with chocolatey etc. But there's usually a workaround or maybe just one dll or something.

Is this all platforms or just windows?

[2021-04-06 02:24] mrudultora commented on #8482
I have gcc already installed but still getting the error. Using windows 10 rn.

[2021-04-06 05:02] #8481 closed

[2021-04-06 05:18] ANUJAGRAWAL2000 commented on #8488
Okay.
Can we allow this for even less decks(<10)?

[2021-04-06 05:41] Arthur-Milchior commented on #8265
Not anymore. I just checked and now numbers agree, while they did not during multiple day. No idea why. That's why I asked for tests regarding filling the queues. Guess I'll eventually do myself as it do not seems to advance.

[2021-04-06 05:41] #8265 closed

[2021-04-06 07:34] prateek-singh-3212 commented on #8428
Are talking about Anki Desktop?

[2021-04-06 07:47] voidplayer commented on #8428
@prateek-singh-3212

Yes, hes asking how it looks like on desktop. You have to modify the template to add a field ```type:``` as i commented on https://github.com/ankidroid/Anki-Android/issues/8428#issuecomment-812591800

[2021-04-06 08:27] prateek-singh-3212 commented on #8428
Thanks, @voidplayer,
Here is the screenshot of Anki.
![finall](https://user-images.githubusercontent.com/76490368/113681719-ed6ab980-96df-11eb-8a17-4d5c27635aec.png)
![finalb](https://user-images.githubusercontent.com/76490368/113681715-ec398c80-96df-11eb-8eea-bf2c11e0a230.png)

[2021-04-06 08:29] Canato commented on #8072
@mikehardy please let us know if you find any issues with [Android Image Cropper](https://github.com/CanHub/Android-Image-Cropper) I'm working my head around improving the final URI, because of Android 10/11 changes, but hopefully soon we get a clear usage of it ;). This don't affect most of usage, but some specific cases where people try to use the URI to create a file. Anyway we can always find

[2021-04-06 10:29] lrorpilla opened #8493 "[Bug] AnkiDroid Instant-Add API cannot be invoked on Android 11 (SDK 30+)"
I've recently migrated my app from using the ACTION_SEND share intent to using the Instant-Add API on my Flutter app, [jidoujisho](https://github.com/lrorpilla/jidoujisho), via a method channel calling native Java code derived from the API sample. I was informed by several users that they were unable to export from the app, and they were Android 11 users.

My app ([on version 0.7.0](https://github

[2021-04-06 10:39] prateek-singh-3212 commented on #4364
I would like to work on this issue.

[2021-04-06 10:51] TarekkMA opened #8494 "[Bug] BackendException$BackendDbException$BackendDbLockedException"
`net.ankiweb.rsdroid.BackendException$BackendDbException$BackendDbLockedException` did start to show up in CI and locally after I rebased with master.

Some of the tests that was running with no issue are now failing because of this.

<details>

<summary> Logs </summary>

[code]

</details>

[2021-04-06 11:16] lrorpilla commented on #8493
I have investigated workarounds and found that for the Instant-Add API to work on SDK 30, the following should be added to the manifest. This fixed issues with export on an Android 11 emulator.

[Link to where solution was found](https://stackoverflow.com/questions/63563995/failed-to-find-content-provider-in-api-30) for future reference.

[code]

[2021-04-06 11:16] #8493 closed

[2021-04-06 11:19] lrorpilla commented on #8493
I think the above snippet may be useful to include in the [AnkiDroid API wiki page](https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-API) so I've gone ahead and edited it in.

[2021-04-06 11:47] david-allison-1 commented on #4364
Okay, could you sketch out a rough design for how you'll go about this before you begin, and define the edge cases, and how you'll handle this.

It would be ideal if the solution contains unit tests, as the logic may be a little hairy, and you'll want to explain to future developers what your intention is here.

In my mind, the main issue is that the card browser shows cards, and the note editor s

[2021-04-06 11:49] david-allison-1 commented on #8494
Answered in discord:

[2021-04-06 11:49] #8494 closed

[2021-04-06 12:03] david-allison-1 commented on #8488
Is there a method that's compatible with the issue raised: https://github.com/ankidroid/Anki-Android/issues/7835

[2021-04-06 12:49] grubin30 commented on #8443
![ankid-stats](https://user-images.githubusercontent.com/81839817/113711809-67387e00-96b3-11eb-8170-c810d1664917.png)
![ankid-forecast](https://user-images.githubusercontent.com/81839817/113711813-6869ab00-96b3-11eb-9cb0-c5f90fa82d99.png)
![ankid-actual](https://user-images.githubusercontent.com/81839817/113711821-6a336e80-96b3-11eb-819d-ab8d3dd8f2c4.png)
Here are three screenshots.
1. shows the s

[2021-04-06 13:55] charlesoblack opened #8495 "[Bug] Extreme lag/slowdown when returning to "main view""
###### Reproduction Steps

1. Have some cards due.
2. Do the cards normally.
3. Return to "main deck view" either through the "back" button or through finishing the cards currently due.

###### Expected Result

The application responds normally.

###### Actual Result

The application hangs for a period of ~5 seconds, displaying the pre-reviews "due cards" count, then returns to normal, updating th

[2021-04-06 14:24] vinishhub commented on #8396
https://user-images.githubusercontent.com/76252038/113726413-d9d84680-9711-11eb-8149-aeb0ae846a71.mp4

@eginhard I think now its ok

[2021-04-06 14:43] david-allison-1 commented on #8495
Hi, has this started happening recently?

If you try a parallel version of an older release (`Parallel.A`), do you still have the problem?

2.13.5 for example: https://github.com/ankidroid/Anki-Android/releases/tag/v2.13.5

[2021-04-06 15:28] charlesoblack commented on #8495
It started happening a few releases ago. I haven't been very regular with
my Anki unfortunately, so I don't know exactly when. I think it might have
been in February.

Not sure how to run a parallel version, let me look into it. The bug hasn't
happened today yet so I'm starting to suspect it somehow fixed itself... as
of ~a week ago it was still happening. Was there a new release recently?

On Tue

[2021-04-06 15:42] david-allison-1 commented on #8495
Nothing that will have solved the issue (I believe):

Installing a parallel release:

https://github.com/ankidroid/Anki-Android/releases/tag/v2.13.5 - click "AnkiDroid-2.13.5.parallel.A.apk" and install.

If it's flaky, let us know when it next happens and we'll look into it further.

[2021-04-06 16:07] david-allison-1 commented on #8428
Okay, it would seem sensible to me to disable the color inversion on the answer HTML.

https://github.com/ankidroid/Anki-Android/blob/2d344bfb26b7a97e3173c8db4461a0def36e496f/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L2249-L2251

----

@mikehardy Now Anki Desktop has native night mode, I feel we should move to emulate this functionality exactly, rather than keep with our

[2021-04-06 16:35] mrudultora commented on #8313
I searched for some github actions and also looked at the one suggested by Mike. But they are getting too strict. We just want to check the commit message length. They are checking too many other things too.

[2021-04-06 16:52] mrudultora commented on #8313
These are some of the error. Do we want this much strict ?
[code]

[2021-04-06 17:23] david-allison-1 commented on #8313
To discuss, but I feel going forwards:

* First line 50 chars
* body - 72 chars
* Exception on for URLs - but must start at position 0

[2021-04-06 17:49] iamvs-2002 commented on #8448
![Screenshot_20210406-231747_AnkiDroid.jpg](https://user-images.githubusercontent.com/54304786/113755802-5c6eff00-972e-11eb-997b-d316ded92a2c.jpg)

I meant about this screen, it's UI can be improved by using different sections for each type of stat.

[2021-04-06 18:11] david-allison-1 commented on #8448
Hi, can you fill out the template

[2021-04-06 19:20] tapish2000 commented on #8443
Okay, thanks for the screenshots. I will have a look at all of these, one by one.

[2021-04-06 20:51] mrudultora commented on #8436
I will try to implement in this way.

[2021-04-06 22:44] mikehardy commented on #8443
there are some settings related to statistics forecasting, it would be interesting to see how accurate (or inaccurate) the forecasts are with different settings

in settings -> advanced -> advanced statistics I have these things set:
- enable advanced statistics
- compute first n days: 8
- precision of computation: 95%
- number of iterations: 2

my forecasts seem fairly accurate ?

If the non-adva

[2021-04-06 22:51] mikehardy commented on #8493
@lrorpilla thank you so much for finding that and adding it to the wiki! Will hopefully save future developers a lot of time

[2021-04-06 22:56] #8424 closed

[2021-04-06 23:38] dae commented on #8428
Related: https://github.com/ankitects/anki/issues/1078

[2021-04-06 23:54] 3mmar7amed commented on #7753
hi, i wanna work on this issue, when it will be closed?

[2021-04-07 00:28] david-allison-1 commented on #7753
Hi @3mmar7amed, thanks for the enthusiasm! @OCzarnecki has already requested that they work on this issue, so it's best if you pick another issue to work on

[2021-04-07 00:38] 3mmar7amed commented on #7753
ok

[2021-04-07 04:23] Swado commented on #8487
Hello, I would like to contribute to this bug, I have tried to reproduce and seen the bug.

[2021-04-07 04:44] Arthur-Milchior commented on #8466
If you wait longer, does the color appear ?

I've just tested, it took a few seconds to update on my phone , which is far too slow but another problem.

[2021-04-07 05:21] HarshitaSingh828 commented on #8474
in which software we have to code

[2021-04-07 05:27] ShridharGoel commented on #8466
On my device, the colour doesn't appear until the card browser is opened again. Tested by waiting for more than a minute.

[2021-04-07 06:16] Arthur-Milchior commented on #8466
Ideally, I'd love if you could do a bisection to find the commit introducing the bug. But if you need to recompile, reload on your device and test each case, that's going to be very long.

However, I really have no idea what to do else

[2021-04-07 06:20] tapish2000 commented on #8443
Yeah, I enabled these settings and checked the forecast, seems fine to me too.

@mikehardy Should I enable this setting by default then? If some user doesn't want to use this, it can be disabled by them manually.

[2021-04-07 06:44] #8015 closed

[2021-04-07 07:26] ShridharGoel commented on #8466
I tried doing that but it was even happening on some commits which were few months old. I'll check even older commits to find the one which introduced the bug.

[2021-04-07 08:16] kartikeysaran commented on #8013
Can i work on this ?

[2021-04-07 08:23] tapish2000 commented on #4199
`getCol().getConf().getString("sortType");` -> Does this line mean that a field named `"sortType"` in database is accessed?

[2021-04-07 09:45] TarekkMA commented on #8487
@Swado you better wait for #8322 to be merged. I was planning to solve it myself, but if you want to take it no problems.

Here are some pointers:
You will need knowledge on `FragmentFactory` (I have some resources listed in #8369) and it's better to use the class I have recently added #8483 `ExtendedFragmentFactory`

[2021-04-07 11:27] david-allison-1 commented on #8013
Sure!

[2021-04-07 11:29] david-allison-1 commented on #4199
Technically it's an in-memory cache, but the value is equivalent to what's in the database. The database is a text column containing JSON

[2021-04-07 12:11] mikehardy commented on #8443
Maybe? I don't know why they aren't enabled yet. Check git blame maybe? Is it a performance issue? What settings are good? Etc

[2021-04-07 12:17] david-allison-1 commented on #8443
Advanced settings are a deviation from Anki Desktop's (legacy) settings, so they're disabled by default

[2021-04-07 12:30] tapish2000 commented on #8443
If they have to be disabled here, then what we can do here is, ask the users to enable the `advanced statistics` option whenever they visit the Statistics page the first time. If the users want they can enable it, otherwise they can leave it as it is, but at least they will know that there is some setting possible.

[2021-04-07 12:37] tapish2000 commented on #4199
This in-memory cache must get erased when we close the app and remove it from the android history I think.
Am I right?

[2021-04-07 12:38] david-allison-1 commented on #8443
I don't think enabling legacy statistics will be the answer.

----

In my mind, this report is either:

* We haven't explained well enough what the concept means, and need to ask exploratory questions to find out:
   * What is a month? Do we define it in the same way as the user? When does a day start? Is DST an issue?
   * What are the reviewer settings? Is "bury related cards" set? Do they have

[2021-04-07 13:01] david-allison-1 commented on #4199
It should be equivalent with the database (and treated as a bug if otherwise), the cache is a technical detail.

[2021-04-07 13:30] prateek-singh-3212 commented on #4364
@david-allison-1 I have analyzed the situations and came out with 2 possible solutions.
1. Showing the note editor to the user 1 time only i.e Ignoring the note editor for the rest of the card associated with it.
2. Showing the note editor Fields according to the Fields used in a particular card.
 Let me explain it to you through example.
 I have created the decks of name **7 wonders of the world*

[2021-04-07 13:34] prateek-singh-3212 commented on #4364
I will use buttons that we are using in preview while browsing through the note editor.
![WhatsApp Image 2021-04-07 at 19 01 34](https://user-images.githubusercontent.com/76490368/113875102-0d7ba500-97d4-11eb-9080-d99d910d9a5f.jpeg)

[2021-04-07 13:49] david-allison-1 commented on #4364
@Arthur-Milchior @infinyte7 @mikehardy

Thoughts on [the above](https://github.com/ankidroid/Anki-Android/issues/4364#issuecomment-814915837)?

Personally, the idea of matching a card to its fields is very interesting. I think we could leverage the "collapse field" functionality, and get something really useful and novel here.

I'm not sure it would work in the general case: `basic (and reversed)`

[2021-04-07 14:55] tapish2000 commented on #4199
Yeah, I tried it out. The initial `sortType` is loaded from this in-memory cache which always comes out to be `noteFld`, not changing. When I saved it in this in-memory cache and reopened the app, it was again initialised to `noteFld`.
What are my alternatives here, should I use `sharedPreferences` to save this information?

[2021-04-07 16:08] 3mmar7amed opened #8501 "in android 10 mobile anki-app , when i add a new card in a deck ,there is a label which has the number of the card referred as (Cards : card1). the bug is that number does not change every time i add a new card."
###### Reproduction Steps

1.add a new card

###### Expected Result

cards : card(number of the card in the deck)

###### Actual Result
cards: card1

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](https://

[2021-04-07 16:11] david-allison-1 commented on #8501
It's listing the card templates which may be generated when the card is added.

Do you have a proposed solution?

![image](https://user-images.githubusercontent.com/62114487/113898836-211f0f80-97c4-11eb-85ab-e6f9ca35987e.png)

![image](https://user-images.githubusercontent.com/62114487/113898891-2d0ad180-97c4-11eb-8a2a-b83c0e60cd01.png)

[2021-04-07 16:16] 3mmar7amed commented on #8501
yes, we can make it generic not fixed in the template. i have experience with web which I can have the number of the card from the backend (which will be the index of the card +1 probably in an array or list) and send it to the template

[2021-04-07 16:17] 3mmar7amed commented on #8501
it would be done like that

[2021-04-07 16:27] david-allison-1 commented on #8474
@HarshitaSingh828 Could you post general question on our Discord, or read our [wiki](https://github.com/ankidroid/Anki-Android/wiki/) for the answers: Java

[2021-04-07 16:27] 3mmar7amed commented on #8501
can I go ahead that?

[2021-04-07 16:35] david-allison-1 commented on #8501
No, it doesn't make sense from what we're trying to accomplish with that text.

I'm open to alternatives, but the best alternative would be to rename "Card 1" to something along the lines of "Single Sided Card".

But, we'd need to have an upstream change in Anki Desktop before we make this change, and we'd need to propose this in Anki Desktop before it's enabled

[2021-04-07 16:37] david-allison-1 commented on #4199
`getCol().flush()`

[2021-04-07 16:44] 3mmar7amed commented on #8501
sorry, i did not get you, what do you mean by "along with simple flashcard " could give me an example?
if we should propose it first on Anki desktop, does it hard to do on desktop first? or we can deal with it?

[2021-04-07 17:09] mikehardy commented on #8313
That really just seems like a pain in the butt to me. I don't even *really* care about the 50 characters to be honest

[2021-04-07 17:23] MrkEstnt commented on #8474
This problem started recently, namely when I started using AnkiDroid on my
Chromebook.

The only other thing different is that I started using the US INTL keyboard
to type accented letters directly into cards in the French deck.

Please see the attached zip file.

On Wed, Apr 7, 2021 at 12:28 PM David Allison ***@***.***>
wrote:

[2021-04-07 17:40] david-allison-1 commented on #8313
As mentioned in the header: needs discussion

My main goal is to remove the checkbox in the PR template: so as a resolution, I'd be happy with either by automation or removal of the line (or closing this issue as WONTFIX).

I feel there's benefit from a short commit header, I'm pro keeping it to 50 chars.

72 chars: I'll keep to it personally, it's a reminder to spend some time and be concise, but

[2021-04-07 17:44] david-allison-1 commented on #8474
Hi @MrkEstnt, no file has been attached, could you come to GitHub and post it: https://github.com/ankidroid/Anki-Android/issues/8474

[2021-04-07 17:50] MrkEstnt commented on #8474
[collection.zip](https://github.com/ankidroid/Anki-Android/files/6273586/collection.zip)

[2021-04-07 17:54] mrudultora commented on #8313
Is there a way we limit the works of a github action? I searched a lot for a github action that just helps us in checking the commit message length, but was unable to find. They all come with many other checks too. What's your suggestion ? How should I proceed on this one ?

[2021-04-07 18:02] david-allison-1 commented on #8474
I don't get this freeze, but... there's a lot of things that are strange about your card types.

What do you want `Basic (and reversed)` to do?

Right now, there's a template for `Card 1` which has

[code]

Ideally this should be:

front:
[code]

back:
[code]

[2021-04-07 18:03] david-allison-1 commented on #8313
Best for us to decide on a course of action first

I'm sure there'll be an action which allows a basic regex for the fist line

[2021-04-07 18:18] mikehardy commented on #8428
In general agreed with doing exactly what Desktop does in the general case - in this specific case I'm not sure exactly what it does so I'm not 100% sure. This area is definitely one prone to user consternation though, and I can only imagine if there are two levels of user consternation because Desktop and AnkiDroid are both doing night mode things, but incompatibly

[2021-04-07 18:21] mikehardy commented on #8313
if we do a check, let's limit it to the first line, 50chars check
If the action does not have a way to limit it, the actions themselves are all open source, no reason you can't PR to them to add something, e.g. https://github.com/styfle/cancel-workflow-action/pulls/mikehardy ;-)

[2021-04-07 18:24] david-allison-1 commented on #8313
@mrudultora Sounds good to go!

[2021-04-07 18:25] MrkEstnt commented on #8474
I think this template for Card 1 was from when I wanted to type answers in, which I no longer wish to do.

How do I access the card templates within AnkiDroid?

[2021-04-07 18:32] MrkEstnt commented on #8474
Sorry, I was able to access Card 1 via a particular card and change it to reflect the code above.

What should the back code be?

[2021-04-07 18:33] david-allison-1 commented on #8474
----

[code]

[code]

[2021-04-07 19:50] atharva20-coder opened #8506 "FAQ page for developers"
While going through the Idealist for GSoC 2021. It was mentioned that Anki needs a Documentation page for developers.
A FAQ page will be a great thing to have for an organization like Anki as a FAQ page helps an organization in the following ways:

1. Your FAQ Help You Address Your Reader’s Needs.
2. Boost Your Search Engine Optimization.
3. FAQs enable you to deal with specific queries that your

[2021-04-07 20:07] OCzarnecki commented on #7753
I had a stab at it and had a look at usages, but I'm afraid I can't quite figure out what the problem with the current implementation is, despite having looked through the linked issue.

Since I probably won't be taking part in Gsoc this year after all, I can yield the issue to you @3mmar7amed or to another Gsocer looking to make their Anki pull request.

Otherwise I'm happy to work on it myself,

[2021-04-07 20:12] david-allison-1 commented on #8506
Hi, I'm not sure whether a GitHub issue will be the right place to plan this, but let's get cracking.

I think the first stage would be to discuss our needs in detail

Presumably this is going to augment or replace some, or all of our wiki: https://github.com/ankidroid/Anki-Android/wiki/Development-Guide

Regarding your points:

(2) and (4): I'm only looking for discoverability from developers loo

[2021-04-07 20:23] david-allison-1 commented on #7753
Sure! Happy for you to keep it on, or pass it off. We definitely accept pull requests outside GSoC, and we try to be as welcoming as possible

`FlashCardsContract.CardTemplate.QUESTION_FORMAT` is the wrong constant to be using here, it should be `"qfmt"`. See: https://github.com/ankidroid/Anki-Android/wiki/Database-Structure

[code]

----

We don't define ords for the model:

https://github.com/an

[2021-04-07 21:11] mikehardy commented on #8035
I *think* this is a duplicate of #6203 and I'm closing it to consolidate.

[2021-04-07 21:12] #8035 closed

[2021-04-07 21:13] david-allison-1 commented on #6203
@jparta Are you still around to help with diagnosis? Sorry I missed this.

[2021-04-07 22:16] mikehardy commented on #8434
Gradle 7 will support JDK16
https://github.com/gradle/gradle/pull/16470/commits/181b12659d6080a3029a3f08a68df1fdb1b051d7

It's on RC2 right now so I imagine it will come soon. This is not a high priority item I was just reading other things, noticed it and am persisting the knowledge as a comment here

[2021-04-07 22:53] mikehardy commented on #4364
If I were in the note editor I would expect a carousel to take me around whole notes? 🤔

[2021-04-08 01:58] david-allison-1 commented on #8460
Closing: duplicate of #8467 (just picking one issue to consolidate discussion)

[2021-04-08 01:58] #8460 closed

[2021-04-08 03:39] #8396 closed

[2021-04-08 03:50] #8260 closed

[2021-04-08 03:59] mikehardy commented on #4631
@shobhi1310's fix will be in the next alpha, which I will release in just a few minutes! Nice

[2021-04-08 04:28] #8264 closed

[2021-04-08 04:29] #7780 closed

[2021-04-08 04:42] #8081 closed

[2021-04-08 06:02] david-allison-1 commented on #6203
Wish I'd caught this earlier - was on V1 for far too long as I didn't want to take the hit of switching

We're not setting `rollover` from Anki commit: https://github.com/ankitects/anki/commit/b17a0552d061af360e35e1cda48b2d228c94b66e

https://github.com/ankidroid/Anki-Android/blob/837a3b3fcee7dd9ecdebf500d5183a9f36f9f230/AnkiDroid/src/main/java/com/ichi2/anki/Preferences.java#L657-L664

https://gi

[2021-04-08 06:26] prateek-singh-3212 commented on #4364
![aa](https://user-images.githubusercontent.com/76490368/113978267-634a5e80-9861-11eb-9830-2ff8a0a748a1.png)

We can use the above layout and when the user swipes to the next layout then we can hide the irrelevant fields.

We may provide settings to the user that I case he/she gets confused with UI so they can turn it off and we just show Editor once for all cards as mention in [this](https://gith

[2021-04-08 07:57] voidplayer commented on #8428
Withtout looking at the code, desktop seems to just ignore text coloring completely and use their own text colors just for the diff, which is an clean solution that will just work

Inverting colors would also work (probably even better), but you have to make a good selection of colors for the light theme. That is light background colors with dark text. Which i believe is the root of the problem an

[2021-04-08 08:08] #8506 closed

[2021-04-08 10:13] kartikeysaran commented on #7941
Can i work on this ?

[2021-04-08 11:00] skinac opened #8515 "Anki Desktop Settings overwriting Ankidroid's when syncing [Bug]"
###### Reproduction Steps

1. Change App Deck Settings
2. Sync app
3. Sync desktop

###### Expected Result
desktop and ankidroid syncing

###### Actual Result

ankidroid's settings reverted to desktop's older ones.

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

AnkiDroid Version = 2.14.6
Android Version = 10
AC

[2021-04-08 11:49] david-allison-1 commented on #7941
Sure! Thanks

[2021-04-08 12:39] tanmayChakrawarty opened #8517 "Improve the icons of community menu with official icons"
The icons in the community menu are not looking good replacing them with official logos will make it look good.

Before:-
![before](https://user-images.githubusercontent.com/75254780/114027316-dcaf7480-9894-11eb-8c74-86b2320b59db.jpg)
After:-
![after](https://user-images.githubusercontent.com/75254780/114027610-2e57ff00-9895-11eb-9b12-d966c5408a79.jpg)

I have already done this so if it looks like

[2021-04-08 12:46] 2tanayk commented on #8114
if some1 else wants they can take this issue as I have not been able to spend ample time at this ,really sorry for any inconvenience caused :(,but I'll definitely attend to it if nobody does

[2021-04-08 13:12] david-allison-1 commented on #8114
Don't worry! Life comes first. Give me a ping when you have time

[2021-04-08 13:13] david-allison-1 commented on #8517
Do we have permission to use those images?

[2021-04-08 13:18] tanmayChakrawarty commented on #8517
These are vector assets so I think we can use them.
Source:- https://materialdesignicons.com/

[2021-04-08 13:19] david-allison-1 commented on #8517
Could you link the individual icons that they're using, along with their license

[2021-04-08 13:33] tanmayChakrawarty commented on #8517
@david-allison-1 Following are the links of individual icons along with GitHub repo and LICENSE
Github Repo:- https://github.com/Templarian/MaterialDesign
LICENSE:- https://github.com/Templarian/MaterialDesign/blob/master/LICENSE
Reddit icon:- https://dev.materialdesignicons.com/icon/reddit
Discord icon:- https://dev.materialdesignicons.com/icon/discord
Facebook icon:- https://dev.materialdesignic

[2021-04-08 13:38] david-allison-1 commented on #8517
Looks good

[2021-04-08 13:40] tanmayChakrawarty commented on #8517
@david-allison-1  So can I create a pull request for this ?

[2021-04-08 13:52] david-allison-1 commented on #8517
Sure! Be sure to include the licenses

[2021-04-08 14:57] mikehardy commented on #3662
I think #5380 is likely duplicate of this

[2021-04-08 14:58] mikehardy commented on #8515
I believe this (closed, until just now) issue #3662 is actually the same as this one, and is still potentially a problem. I'm going to close this in favor of #3662 as that already contains lots of information on the general problems of syncing the settings - this does come up from time to time, I understand it can still be a problem

[2021-04-08 14:58] #8515 closed

[2021-04-08 15:00] mikehardy commented on #3662
If anyone wants to take a look at this, it still comes up from time to time.

I think the next step is for someone with anki desktop and ankidroid installed an in use to explore how and when this fails. If you look at the database structure page on the wiki here in ankidroid you can get an idea of where settings are stored (general collection settings, deck option groups, deck configurations) and

[2021-04-08 17:59] niki0712 commented on #8459
Can I work on this issue?

[2021-04-08 18:04] david-allison-1 commented on #8459
Sure!

[2021-04-08 20:10] david-allison-1 opened #8523 "[Accessibility] Note Editor Toolbar"
Each of the toolbar items in the Note Editor toolbar should be 48dp (minimum) to meet accessibility standards.

Also note that the expected width of a toolbar item should be changed from 32 (24 +8) dp to (48 + 8) = 56dp.

https://github.com/ankidroid/Anki-Android/blob/c1697ad37158b47d4a44c200e7428704af61792b/AnkiDroid/src/main/java/com/ichi2/anki/noteeditor/Toolbar.java#L209

[2021-04-08 20:55] #8517 closed

[2021-04-08 21:10] infinyte7 opened #8525 "Adding read json and write json function to JS API"
**Is your feature request related to a problem? Please describe.**
- Anki desktop uses localhost to show cards so `.json` file can be accessed but in AnkiDroid reading `.json` leads to `cors` related errors
- I am creating addons like [this one](https://ankiweb.net/shared/info/579111794) for AnkiDroid. The addons gamify the learning process but it needs to save the state in `.json` or `.txt` files

[2021-04-08 23:20] dae commented on #3662
Config syncing is solely govened by the collection modification time at the moment - whichever is newer sends the changes. There have been issues is previous releases that caused the modification time to be bumped when it shouldn't have been, so for anyone experiencing this problem, the first thing to try would be to make sure both desktop and AnkiDroid are fully up to date, and to try reproduce t

[2021-04-08 23:56] david-allison-1 commented on #8417
@Prince-kushwaha are you interested in working on this

@mikehardy Coming back to this, I've had a quick Google and there doesn't seem to be advice on the maximum length of a preference title.

On a small screen (2.8 inch), it seems to be the same as my pixel, but that could be Android emulators standardising:
![image](https://user-images.githubusercontent.com/62114487/114109854-0df86680-98ce-11eb

[2021-04-09 00:21] david-allison-1 commented on #3662
Had a quick look into things and they seem normal.

@dae  Could I confirm: this is `col.mod` in the database

[2021-04-09 00:36] david-allison-1 commented on #8525
* Do we need JSON? Can we be persistence-agnostic? (int/string/float/byte[] works for SQLite). Do we want to be?
* Do we want a syncable subset of addon settings?
* How do we allow users to back them up/restore them

I'd consider using MetaDB, but there's quite a few options that we have, and we should consider requirements before making a decision

[2021-04-09 01:29] kuroni opened #8527 "[Bug] Gestures for answer buttons don't work"
###### Reproduction Steps

1. Enable gestures
2. Set some gesture action to an answer action (e.g. answer button 1, answer button 3, answer recommended, etc.)
3. Go to any deck and perform the gesture.

###### Expected Result
The answer action should be performed after the gesture.

###### Actual Result
The answer action is not performed after the gesture.

###### Debug info
Tested on both physica

[2021-04-09 01:45] david-allison-1 commented on #8527
Thanks!

Conflict between  559b3f1e47c1dbdb6395007b31592d311337e003

and https://github.com/ankidroid/Anki-Android/blob/5542ad6ea5f212c04ae8dd93e19626832c25b11d/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L2840

`performClick` doesn't send anything to the touch listener

[2021-04-09 01:46] dae commented on #3662
Yep

[2021-04-09 02:07] tanmayChakrawarty commented on #8523
@david-allison-1  I will work on this.

[2021-04-09 02:22] david-allison-1 commented on #8523
Thanks!!!

[2021-04-09 04:02] david-allison-1 opened #8529 "Implement Downgrade & Quit [in progress in Anki-Backend repo]"
If we can "Downgrade & Quit" in 2.15, this will save us a lot of hassle with the database schema upgrade in 2.16

This will allow seamless downgrades from 2.16 to 2.15

Open to discussion for how we present this option to users

[2021-04-09 05:08] kuroni commented on #8527
Hm, I dug around for a while, but I don't find a good solution simply because there is no `performTouch`.

What do you think about just copy-pasting the touch handling code instead of calling through fake-clicking like we're doing right now? Personally I have no trouble with that, but if the touch handling code changes in the future we will need to fix in two places which is not an ideal thing.

[2021-04-09 05:32] mtbox9x opened #8530 "Lag when showing the answer of a card"
Hi. I'm using HTC10 android 8.0. It is lag when showing the answer of a card, can not scroll down correctly. I tried a old version 2.13.5 parallel.A and it work well. Can you fix this in next version? Thank you

[2021-04-09 06:01] boolbag commented on #8527
Was about to report a problem and saw this bug report. Here's some additional info:
- the "swipe problem" was introduced in 2.15alpha40 (alpha39 was swiping fine)
- for me the swiping issues are left, right and up (down is fine unless the page is long and needs to scroll)

Thank you!!!

[2021-04-09 06:50] infinyte7 commented on #8525
Currently MetaDB store following.
[code]

If there options implemented to access dB and modify according to add-ons requirements from reviewer then JSON not need here. Key value pair can be stored in SQLite.

The sync of settings can be done when the file is in collection.media. If settings is in plain text then it will easily modified by user and may be add-ons developer don't want it.

The backu

[2021-04-09 09:16] shobhi1310 commented on #7849
@david-allison-1

commit 732eb1a86096a9220a86a88f2bcec25bcaa76a63 seems to solve this issue as I have tested it now. Can you verify it once?

[2021-04-09 09:39] farhazulMullick commented on #8459
I am begining to continue my journey to Open Source contribution.
I am how to generate this bug please guide me

[2021-04-09 11:18] tanmayChakrawarty commented on #8523
@david-allison-1 Is this good or we have to increase the size of each item in the toolbar?

![photo_2021-04-09_16-45-24](https://user-images.githubusercontent.com/75254780/114172352-2e1e3900-9953-11eb-9321-d6e3d9000f8f.jpg)

[2021-04-09 12:49] OCzarnecki commented on #7753
Thanks that makes a lot more sense. As I understand it now, the method sets the question format and answer format (using the wrong constants) directly in the model, while it should create create a card template within that model instead, and set the appropriate variables (like `ord`). Is that correct?

[2021-04-09 12:58] infinyte7 commented on #8523
Can you try this deck it contains fields more than two? May be toolbar hide `Cards: Card 1` button at bottom with toolbar size increased.
[cloze.zip](https://github.com/ankidroid/Anki-Android/files/6285866/cloze.zip)

[2021-04-09 12:58] mikehardy commented on #8459
@farhazulMullick welcome! I think @niki0712 is already working on this, as the comments show above. Additionally the reproduction steps are included in the bug description, successfully learning how to reproduce and reproducing the issue is a significant part of the task I don't believe there is further guidance.

[2021-04-09 13:00] mikehardy commented on #8417
Sure

[2021-04-09 13:06] mikehardy commented on #4364
Before we get too fancy with the next/prev idea, we need the card template editor to structurally match desktop more I think

If the next/prev idea conflates scrolling through notes and scrolling through cards in notes I am -1 on that, I think it will be non-intuitive / people will become lost

[2021-04-09 13:10] mikehardy commented on #8525
If I understand correctly, this is a problem of different styles of general access to files in the collection, from within the card?

This seems like it would take it farther from the Anki Desktop experience, and I'm not sure how AnkiMobile does it.

I'd like to go closer to that experience, not farther, and have facilities available from within the template be the same on all platforms if at all

[2021-04-09 13:18] #8287 closed

[2021-04-09 13:22] mikehardy commented on #8529
Hmmm - that's interesting.

How exactly does Desktop do it?

Seems like it will need coordination "forward in time" and backwards, specifically, 2.15 now already has the feature of detecting and messaging incompatible database versions if I recall correctly? It should forward-reference the feature perhaps and say more, e.g. "Open the collection with a compatible future version then `<insert howeve

[2021-04-09 13:25] mikehardy commented on #8328
The latest 2.15alphas have an advanced setting that must be used to turn hardware render on for Android 8 https://github.com/ankidroid/Anki-Android/pull/8458#issuecomment-813055838

[2021-04-09 13:25] mikehardy commented on #8530
Hi @mtbox9x - this is a known issue and duplicates #8328 - you will want the latest 2.15alpha as mentioned there but our state of the art has moved a bit, once you get the 2.15alpha that fixes the issue you'll need to enable the fix and we would love to hear confirmation if it works for you, as mentioned here https://github.com/ankidroid/Anki-Android/pull/8458#issuecomment-813055838

[2021-04-09 13:25] #8530 closed

[2021-04-09 13:52] tanmayChakrawarty commented on #8523
@infinyte7 Yes it is hiding the `Cards: Card 1` button at the bottom

![photo_2021-04-09_19-20-41](https://user-images.githubusercontent.com/75254780/114190372-dc80a900-9968-11eb-861a-2a8d6adf713b.jpg)

[2021-04-09 14:04] david-allison-1 commented on #8529
Anki Desktop has it on the "Switch Profile" menu.

![image](https://user-images.githubusercontent.com/62114487/114191925-d4af0d80-9944-11eb-9897-d28710aee742.png)

We're in an interesting place with the downgrade & quit: AnkiDroid 2.15 has **future** knowledge of how to downgrade from the new database schema in AnkiDroid 2.16.

My main worry is that a beta user will load AnkiDroid 2.16, which does

[2021-04-09 14:32] tanmayChakrawarty commented on #8523
@infinyte7 @david-allison-1  Hope so this looks good

![photo_2021-04-09_20-00-23](https://user-images.githubusercontent.com/75254780/114195785-6717d700-996e-11eb-9a0c-ee2706b8f659.jpg)

[2021-04-09 14:49] infinyte7 commented on #8525
I have tried on AnkiMobile, the json file failed to load. I think loading json files only supported on AnkiDesktop.

If JS Addons support to be cross platform then JS API should be there. In AnkiMobile the features will be implemented when there are demands from more users. For AnkiDesktop, I have implemented unofficial version of JS API.

As, storing state of addons in AnkiDesktop separate addons

[2021-04-09 14:51] infinyte7 commented on #8523
It looks good. You can create PR for more review.

[2021-04-09 15:14] arjun20varma commented on #8397
Can i work on this issue?

[2021-04-09 15:22] mikehardy commented on #8529
Even more important to me is the casual tester / bugfix user / multiprofile person with parallel builds.

We will *definitely* see people that need to do this.

Hmm thinking about this then, from a user perspective, if my hunch the *normal* case will be parallel access across versions, and a very plausible but probably rarer case will be people actually going from a 2.16 version to a 2.15 version:

[2021-04-09 15:23] mikehardy commented on #8529
the above would have the side effect of us being able to still casually recommend parallel builds for bugfix confirmation / testing without having to discuss this at all or fear blowing up their main play store stable install in the normal case.

[2021-04-09 15:51] david-allison-1 commented on #8523
The spacing for the "add" button looks off

Does a scrollbar appear if more buttons are added? How do these custom buttons look?

[2021-04-09 15:51] niki0712 commented on #8459
@david-allison-1 I'm trying to reproduce this error currently I'm downloading and installing Android 11 on my emulator I will need some more time as I lack resources

[2021-04-09 15:54] david-allison-1 commented on #7849
Another test handling the specific regression would still be needed

[2021-04-09 15:54] david-allison-1 commented on #7849
You need to install GCC for now

[2021-04-09 16:12] david-allison-1 commented on #4364
I feel we should stick with `.distinct()` on the note IDs and navigating through that collection. @mikehardy Does this work?

[2021-04-09 16:15] david-allison-1 commented on #7753
Yep! It's a utility function, not a test itself

[2021-04-09 16:19] david-allison-1 commented on #8527
I'd consider extracting out the logic from the touch handler, or extracting the touch handler variable and calling into it directly.

Would like a regression test as well for the command

Happy for someone to work on this, or I can take it on. Would like to get this sorted soon as it's frustrating for alpha users

[2021-04-09 16:21] tanmayChakrawarty commented on #8523
@david-allison-1  Yes, the scrollbar is appearing when more buttons are added.

https://user-images.githubusercontent.com/75254780/114210425-663a7180-997d-11eb-9133-88259dd0145c.mp4

[2021-04-09 16:23] david-allison-1 commented on #8523
Awesome! I still think something's up with the Add button's spacing/padding

[2021-04-09 16:23] david-allison-1 commented on #8523
Either way, happy to see a PR when that's working, looks awesome

[2021-04-09 16:28] tanmayChakrawarty commented on #8523
When I am creating a new pull request my previous commits gets included what should I do can you help me?

[2021-04-09 16:40] david-allison-1 commented on #8523
Either:

* Checkout master
* Make a new branch
* `git cherry-pick` the commit that you made

----

* `git rebase -i` and `drop` the previous commits which aren't relevant

[2021-04-09 16:45] kuroni commented on #8527
I can take on it. Just to clarify, is the regression test here referring to the gestures mapped to answer button, or the answer button logic itself?

[2021-04-09 16:47] david-allison-1 commented on #8527
Awesome!

I'd go through `executeCommand -> assertion`. But use your judgment

[2021-04-09 16:55] david-allison-1 commented on #8397
Thanks for the enthusiasm! There's already an open pull request: https://github.com/ankidroid/Anki-Android/pull/8439

It'd be best if you find another open issue: https://github.com/ankidroid/Anki-Android/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%21%22+no%3Aassignee

Off-topic: @Prince-kushwaha, no rush, but the PR is awaiting feedback

[2021-04-09 16:59] mikehardy commented on #8064
We are starting to get a lot of "process crashed" errors from the instrumented tests running on the emulator. These are difficult to handle but much of the necessary infrastructure is already in place from a separate project where I had to handle similar things.

1- for any run where the process crashed, turn on timestamps in the github actions so you can see what time approximately the process cr

[2021-04-09 17:06] #8013 closed

[2021-04-09 17:08] mikehardy commented on #4364
I believe that means it will be going next/prev on entire notes (not cards inside notes or fields in cards) which I think makes sense in context of note editor, so yes

[2021-04-09 17:11] mikehardy commented on #8525
I think syncing is a vital part of the JS addons stuff, we want them to be cross platform (and backed up) which explains my focus on having them in the collection

My secondary focus is doing it the same as other platforms

If AnkiMobile doesn't allow file loading, but Anki Desktop does, then I really want whatever the JS interface is to be usable on both, and hopefully hide the implementation (lo

[2021-04-09 18:30] Arthur-Milchior commented on #4364
I agree with mike.
It may lead to strange result. E.g. if you sort cards by due date, then the cards of a single note may be a little bit everywhere in the list of cards. When all cards are not together, deciding which cards to select to show may be non trivial.
* If you show the first card in the list of card and you click on the second card, then the card you click on can not even be seen
* if y

[2021-04-09 18:46] infinyte7 commented on #8525
To hide implementation for reading file I have used this
[code]
It works but it is deprecated in API 30.
[code]

The jQuery code below on AnkiDroid works after above implementation similar to AnkiDesktop.
[code]

The asset loader already implemented in [AbstractFlashcardViewer.java#L948-#L964](https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlas

[2021-04-09 19:11] ShridharGoel opened #8533 "[Bug] Card browser becomes empty on going back from Settings."
###### Reproduction Steps

1. Go to Card browser (should be containing some cards).
2. Go to Settings.
3. Press the back button.
4. Card browser shows as empty.

###### Expected Result

Cards should have been displayed.

###### Actual Result

Card browser is empty.

###### Research

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement req

[2021-04-09 19:50] prateek-singh-3212 commented on #8417
I would like to work on this issue.

[2021-04-09 19:51] david-allison-1 commented on #8417
Thanks! It's one of the things that I'd want to do, but wouldn't be able to find the time to do it well

[2021-04-09 19:54] david-allison-1 opened #8534 "Add CrowdIn and lint rules for Preference Title Length"
We should ideally add either/or:

* A lint rule to ensure that preference text in English does not exceed a limit
* Hints for CrowdIn to ensure that our translators do not hit the same issue

We may possibly allow the text to be multiline, I'd be against this, as it's a title and should be succinct.

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/8417#is

[2021-04-09 20:03] prateek-singh-3212 commented on #8417
Okay, I will work on the linting issue.

[2021-04-09 20:07] prateek-singh-3212 commented on #8534
I would like to work on this issue.

[2021-04-09 20:25] prateek-singh-3212 commented on #8417
BTW I have an idea.
we can use the ticked seek bar instead of using the normal seek bar and at the beginning, we can put midnight and at the end, we can put 11 PM.
![ss](https://user-images.githubusercontent.com/76490368/114236820-ce9a4a80-999f-11eb-9536-a6e53a613b3d.png)

[2021-04-09 20:27] david-allison-1 commented on #8417
That looks great! As long as we have some visual feedback for the user about the hour that they select

[2021-04-09 20:31] atharva20-coder commented on #8473
@mikehardy I searching over the internet about this and found some resources can I try for it. I have done a similar thing for our (I and my friend made it in 10th std) Android App.

[2021-04-09 22:25] NaiveMe commented on #8377
这个问题在最新版本下依旧存在。

[2021-04-09 22:33] NaiveMe commented on #8377
![IMG_20210410_063248.jpg](https://user-images.githubusercontent.com/78140893/114246989-aee03380-9959-11eb-92f8-762b13ad0e6d.jpg)

AnkiDroid Version = 2.14.6

Android Version = 11

ACRA UUID = 5e706b92-643b-47f3-9bcb-887c24b74493

Scheduler = std

Crash Reports Enabled = true

[2021-04-09 22:36] NaiveMe commented on #8377
![IMG_20210410_063535.jpg](https://user-images.githubusercontent.com/78140893/114247146-07afcc00-995a-11eb-9828-d46f70931942.jpg)

[2021-04-10 01:10] dae commented on #8529
When a desktop user switches back to a previous version without using that button (which downgrades all profiles at once), they receive a message saying "This profile requires a newer version of Anki to open. Did you forget to use the Downgrade button prior to switching Anki versions?". So their data is not gone, and is still accessible in the newer version, but if they wish to downgrade, they nee

[2021-04-10 06:00] Paras-Saini commented on #8474
I'll want to work on this issue.

[2021-04-10 06:09] Paras-Saini commented on #5844
I want to work on this issue to fix it..

[2021-04-10 06:14] Paras-Saini commented on #8454
I'll want to work on this issue.

[2021-04-10 08:01] sumadithya commented on #8533
I tried to reproduce this.
It works inconsistently, it gives expected result few times but gives actual result mostly.

[2021-04-10 08:09] shobhi1310 commented on #7849
So, basically the test should be such that it tries to open the app without permissions to file storage and if check if the app crashes.

I also went through the PR #7847 and reverted back the changes made to check the issue of the app crashing and startup. So the test written should be able to fail it.

Just confirming from your side and for your comments
@david-allison-1

[2021-04-10 08:21] sumadithya opened #8547 "[Bug] Wrong 'selected card count' in card browser when duplicate cards exist."
Original error message below. It was useful but further investigation shows that it's not the root cause.

# Reproduction step

1. Open card browser
2. search for plenty of cards (on my table, more than 61)
3. Select first one
4. Scroll down

# Expected result

No other card is selected

# Actual result

Another card is selected, which is a duplicate of the first one. The fact that they are duplic

[2021-04-10 08:27] kartikeysaran commented on #8533
Yes it was reproduceable would love to take this issue up !

[2021-04-10 08:28] ShridharGoel commented on #8533
@kartikeysaran I am already working on this.

[2021-04-10 09:28] kartikeysaran opened #8548 "Implementing In-app updates"
Adding In-app updates inside Ankidroid which is a Play Core library feature that prompts active users to update your app.

**Additional context**
https://developer.android.com/guide/playcore/in-app-updates

[2021-04-10 09:59] mrudultora commented on #7173
@sakshi-1604 Are you still working on it ? If you need any help, feel free to ask.

[2021-04-10 10:01] sakshi-1604 commented on #7173
Yes

[2021-04-10 10:07] Paras-Saini commented on #8474
@david-allison-1, plz assign me this good first issue,.

[2021-04-10 10:34] MrkEstnt commented on #8474
Changing the Front template appears to have resolved the issue. Thanks so much for everyone´s help!

[2021-04-10 11:50] infinyte7 commented on #8525
After closely viewing the add-ons for AnkiDesktop, I think sql db file in collection.media (for sync) will be helpful. The implementation will like this,
1. Create db
2. Read db
3. Update db
4. Delete db

[code]
But it needs to be separate file for separate add-ons to prevent from write from other add-ons.

[2021-04-10 11:50] atharva20-coder commented on #8473
![Anki-Android  E__clone_Anki-Android  - C__Users_hp_Downloads_AnkiDroid-2 15alpha24-arm64-v8a apk - Android Studio 10-04-2021 17_17_10_LI](https://user-images.githubusercontent.com/69634375/114268846-e8c83d00-9a20-11eb-9db3-61c6632dd3f9.jpg)

I analyzed and compared both the APK and what I found is this ☝☝

[2021-04-10 12:02] david-allison-1 commented on #5844
@Paras-Saini fantastic! Thanks so much.

[2021-04-10 12:05] dae commented on #8525
The media folder is not intended for frequently changing data, and that will increase the load on AnkiWeb. For small amounts of metadata, it is better stored as json objects in the collection config.

[2021-04-10 12:30] Paras-Saini commented on #5844
Thanks  so much sir, to assigned it to me..

On Sat, Apr 10, 2021, 17:32 David Allison ***@***.***> wrote:

[2021-04-10 13:02] atharva20-coder commented on #8473
I have analyzed and compared both the API and this is what it shows.

![Anki-Android  E__clone_Anki-Android  - C__Users_hp_Downloads_AnkiDroid-2 15alpha24-arm64-v8a apk - Android Studio 10-04-2021 17_17_10_LI](https://user-images.githubusercontent.com/69634375/114270607-fb477400-9a2a-11eb-8072-813f6772ea18.jpg)

I have found solutions to reduce APK size
There are certain methods like
1. Crunching

[2021-04-10 13:25] Paras-Saini commented on #5844
@david-allison-1 where i found the resources related to this issue to fix it??
I need your help..?

[2021-04-10 13:35] mikehardy commented on #8473
Interesting -

- cruncherEnabled looks interesting, we do have some PNGs still around until we are converted to all SVGs - I'd take a PR for that
- I am wary of shrinkResources, that can cause other problems if you are not careful, here is my past experience with that ;-) (fastsquatch is me on twitter) https://twitter.com/fastsquatch/status/1196475279688028160 - this was a real problem I had befor

[2021-04-10 13:45] david-allison-1 commented on #8387
Closed in #8532

@Arnold2381 Thank you so much for all the effort!!!! I know it was a slog, but the rewards are massive: it means that we can spend less time reviewing, developers get less "nitpicks" on their code reviews, and they get instant feedback. It makes the process of development much more pleasant for everyone involved.

![](https://media.giphy.com/media/ZfK4cXKJTTay1Ava29/giphy.gif)

[2021-04-10 13:45] #8387 closed

[2021-04-10 13:46] arjun20varma commented on #8417
Can I try to work on this issue?

[2021-04-10 13:48] mikehardy commented on #8529
Mmm "writes tens of megabytes of data..." - yeah that's not something to do by default every time.

Perhaps there should be a stronger gate in the alphas then indicating it's a big step prior to doing it (one of those irritating "are you sure?" dialogs with some detail - it's for alpha consumers so detail is not a bad thing - then rely on the "normal" behavior you indicate @dae

That would actuall

[2021-04-10 13:50] mikehardy commented on #8548
I am very aware https://github.com/mikehardy/react-native-update-apk/issues/16

I still don't think it has value versus almost anything else, duplicates #8469

[2021-04-10 13:50] #8548 closed

[2021-04-10 13:50] mikehardy commented on #8454
Fantastic! Thanks

[2021-04-10 13:59] dae commented on #8473
14.5MB sounds about right for a release build - it includes things like https libraries for syncing, regex libs, unicode tables, all of the translations, etc. I forget what the config was for that Anki version, but it's probably also embedding sqlite into the rsdroid.so, so if you're not accessing sqlite outside of the backend, you may be able to remove the other sqlite lib

[2021-04-10 14:00] dae commented on #8473
There is a compiler option to optimize for size instead of performance that you could try - I don't know what the relative tradeoff would be.

[2021-04-10 14:04] mikehardy commented on #8377
I don't see any reports for ACRA UUID 5e706b92-643b-47f3-9bcb-887c24b74493
I think what we were hoping for was a reproduction with the most recent alpha parallel build

That would be a build from this table:

https://github.com/ankidroid/Anki-Android/releases/tag/v2.15alpha40

[2021-04-10 14:08] infinyte7 commented on #8525
Then here the implementation will be, storing data inside add-ons folder for specific addons (using JS API). This will reduce the load on AnkiWeb. And backup restore should be done manually. Like copy paste config file. Because sync of settings or other data for add-ons is not implemented by default on AnkiDesktop. So, we should follow same approach. It is up to add-ons  developers how they guide

[2021-04-10 14:09] sumadithya commented on #8547
You need not select all cards to replicate this.
If a card has a duplicate, select it, its copy is selected automatically but the count that displays on top doesn't account for duplicates.

[2021-04-10 14:10] mikehardy commented on #8473
Thanks for the headsup - would be curious to *see* the size/performance tradeoff if @atharva20-coder is interested in finding the flags, getting an rsdroid build environment setup and then doing a set of comparison builds.

but I think the biggest win as you mention is to purge out our requery dependency (external sqlite build)

@david-allison-1 is this statement correct or not? "we are not touchi

[2021-04-10 14:14] sumadithya commented on #8547
![image](https://user-images.githubusercontent.com/27889757/114272621-7feac000-9a34-11eb-8af8-89de20bd2595.png)

You can't see it clearly in this image but take my word for it. This is the top of the list of card of the deck mentioned (this is the only thing you'd have to take my word for). I selected two cards in the image. But its actually four cards, since the duplicates are automatically selec

[2021-04-10 14:37] sumadithya commented on #8547
I tested it further, pressing and holding an already existing duplicate crashes the app. (I will mention this in another issue)

[2021-04-10 14:54] Arnold2381 commented on #8387
My pleasure @david-allison-1 !!
Thanks to you too :)
Hehe, nice one.

[2021-04-10 15:07] matador94 opened #8554 "Collection not opened - No SD Card Permission"
**DavidA EDIT**:

We can do better with our error message here

----

Collection not opened
An error occurred while accessing your collection. It may have been caused by a harmless bug, or there may be a problem with it.

I tried check database option and it didn't help

Debug info:

AnkiDroid Version = 2.14.6

Android Version = 9

ACRA UUID = 1b6ca65c-028c-404c-b14c-e06779599305

Scheduler = std2

[2021-04-10 15:08] Paras-Saini commented on #8454
Thanks sir.

On Sat, Apr 10, 2021, 19:22 David Allison ***@***.***> wrote:

[2021-04-10 15:41] haran2248 opened #8555 "[Bug]Add Unit test to functions in KeyUtils.java"
UnitTest has to be added to the functions getDigit() and isDigit() in keyUtils.java

[2021-04-10 15:41] haran2248 commented on #8555
Im working on this

[2021-04-10 15:46] david-allison-1 commented on #8555
Hi, you don't need an issue for a unit test -

I typically add issues as a reminder for myself or future developers where a high-value test would be useful, where this is flagged in a Code Review, but as something that isn't worth blocking the PR over.

[2021-04-10 15:46] #8555 closed

[2021-04-10 15:54] haran2248 commented on #8555
Ohh makes sense,So i can make a PR directly?

[2021-04-10 15:58] david-allison-1 commented on #5844
The first part of the issue will be figuring out:

* What AnkiDroid provides for this issue (if anything)
* What Anki Desktop provides for this issue (screenshot listed in the thread in the OP)
* What AnkiWeb provides for this issue (do they have a FAQ that we can link to about a forgotten email?)
* Anything the user can do? Checking their gmail for a specific heading?

Finally:

* What we can do

[2021-04-10 15:59] david-allison-1 commented on #8555
Sure!

[2021-04-10 16:01] david-allison-1 commented on #8417
Sure! @prateek-singh-3212's plan looks good to me

[2021-04-10 16:09] mikehardy commented on #5634
Gradle 7 is out so this is more interesting now https://docs.gradle.org/7.0/release-notes.html - upgrading to gradle 7 will unblock #8434

[2021-04-10 16:10] mikehardy commented on #8434
gradle 7 is out and has the support https://docs.gradle.org/7.0/release-notes.html#java-16
this is blocked by #5634

[2021-04-10 16:12] mikehardy commented on #5634
I'm going to see what I can do about this one prior to release-2.15 cut - in my mind it is not a hard blocker but I am irritated as I perform point releases on old release branches when the build toolchains diverge a lot, it makes backporting and testing heavier than it needs to be.

[2021-04-10 16:15] Paras-Saini commented on #5844
Ok,  sir thanks for ur help..

On Sat, Apr 10, 2021, 21:28 David Allison ***@***.***> wrote:

[2021-04-10 16:16] mikehardy commented on #5634
For reference, here is their forward port guide from gradle 6.8.x (which we are on now)

https://docs.gradle.org/7.0/userguide/upgrading_version_6.html#changes_7.0

[2021-04-10 16:25] david-allison-1 commented on #7849
Yes, that's correct

[2021-04-10 16:32] farjadilyas commented on #8554
I can reproduce it when I open the app after denying the storage permission. I think it was introduced in the April 5 commits, around 732eb1a.

This occurs due to the collection not being initialized before the```handleStartup()``` call once storage permission is granted. Collection is only initialized once getCol() is called. So this can be fixed by calling firstCollectionOpen() inside handleStar

[2021-04-10 16:33] ShridharGoel opened #8556 "Unit tests should be added for NamedJSONComparator class"
Unit tests are required for `NamedJSONComparator` class.

[2021-04-10 16:41] david-allison-1 commented on #8556
No need for an issue for a test, only do it if it needs a reminder

[2021-04-10 16:41] #8556 closed

[2021-04-10 16:53] david-allison-1 opened #8558 "[Bug] Collection Not Opened [2.15]"
I can reproduce it when I open the app after denying the storage permission. I think it was introduced in the April 5 commits, around 732eb1a.

This occurs due to the collection not being initialized before the```handleStartup()``` call once storage permission is granted. Hence, this leads to ```handleStartupFailure()``` being called & the dialog showing whenever the storage permission is granted.

[2021-04-10 16:53] david-allison-1 commented on #8558
@farjadilyas, this is a separate bug, comment here and I can assign it to you

[2021-04-10 16:54] david-allison-1 commented on #8558
The DeckPicker startup flow is nasty, and needs more testing. I'm frustrated that I introduced a bug, but happy for you to work on it

[2021-04-10 16:57] david-allison-1 commented on #8554
@matador94

Hi, if you've also got AnkiDroid 2.15alpha open, then close it.

Otherwise, we'll need a copy of the file at `AnkiDroid/collection.anki2` to diagnose this further. There's no reports in our crash tracker

[2021-04-10 17:03] david-allison-1 commented on #8558
Flagging as related: #7849

[2021-04-10 17:20] Paras-Saini commented on #5844
Yeah, @david-allison-1 on AnkiWeb there is nothing if any user forgot their mail id only they can reset their password.
So, now  i am going with to prepare a good design for it.

[2021-04-10 18:16] #8474 closed

[2021-04-10 18:20] Paras-Saini commented on #5844
FAQ for forgotten AnkiWeb Email Instructions-

1) I forgot my AnkieWeb email.
Ans- yes, You can click on the signup button again to sign in with new email id, if you don't want to access your AnkiWEb data.

(ii) But if you want to access your data from AnkiWeb and you forgot your email, you can do it, simply by answering a security question which you use when you sign up.

(iii)If you forgot your

[2021-04-10 18:23] david-allison-1 commented on #5844
Sorry, I don't understand, where did you find this information?

[2021-04-10 18:36] david-allison-1 commented on #8473
At the time, I expected that Rust was going to fail to initialize on some devices due to dodgy Linux implementations (I'm going to guess: missing `rand` style functions).

We currently fall back to requery if the Rust-based collection access is not available.

Testing has been /much/ more promising than expected.

Other than that:

https://github.com/ankidroid/Anki-Android/blob/aa0c51bcae88ffbfa76

[2021-04-10 18:44] Paras-Saini commented on #8454
@mikehardy  i have investigate the above file and below is the path of it.
AnkiDroid/src/main/res/drawable/fab_label_background_pre21.xml

[2021-04-10 18:48] david-allison-1 commented on #8454
Okay, the questions are:

* Dig into the history to find why the files were named `_pre21`
* Now we're post-21, what can we do to simplify the code

[2021-04-10 18:49] Paras-Saini commented on #5844
@david-allison-1 , i have wrote it by myself, according to possibility what we can do for to recover the forgotten email.
These are the steps.

[2021-04-10 18:50] Paras-Saini commented on #8454
Ok.

[2021-04-10 18:58] jparta commented on #6203
@david-allison-1
That's great. I can test on my end if needed.

[2021-04-10 19:05] jparta commented on #8085
@JG916 @mikehardy
Could this issue have a cause similar to #8084?

[2021-04-10 19:20] david-allison-1 commented on #6203
That's fantastic, thanks!

I've put in a fix which is awaiting code Review. This should be fixed in one or two alpha's time.

@Arthur-Milchior PR is pending your thoughts

[2021-04-10 19:26] david-allison-1 commented on #5844
We don't control AnkiWeb, we can only advise the users

[2021-04-10 21:10] david-allison-1 commented on #7825
@adamwolf Could you provide a deck export for a repro case?

[2021-04-10 21:14] david-allison-1 commented on #8529
I don't plan to bump the anki commit in Rust for 2.16 (sans AnkiDroid-related changes)

The main plan:

  * To get to Schema 16, we need to:
     *  update the database (`openCollection` on the Rust - one line change)
     *  Make changes to the classes which handle the schema changes (Decks, Tags, Models, DConf, Conf)
        * Some of these classes have been heavily modified, despite being in `l

[2021-04-10 21:55] atharva20-coder commented on #8523
Is this issue completed? If not can I give it a try?

[2021-04-10 22:20] JG916 commented on #8085
It looks similar. I did a quick check and it looks like the issue stems from the study activity not re-initializing TTS/ReadText again. When the preview activity opens, it overwrites everything on ReadText that belonged to the other activity. The other issue occurred because one activity was trying to release it and the other was trying to initialize it, but here, it's only being released.

I mana

[2021-04-10 22:35] atharva20-coder commented on #8473
So should I convert all the PNG's to SVG or should I compress the size for now(later on I want to convert all PNG's into SVG's)?

Feeling a bit confused please explain.😕

[2021-04-11 00:10] dae commented on #8473
I did not test performance, but compiling for size brings things down by about 1-2MB - I probably wouldn't bother with it.

[2021-04-11 00:34] david-allison-1 commented on #8473
2MB is significant.

I don't feel I have the capacity to take on testing within the next few days (I'll see how things pan out after the GSoC application period is over on the 14th).

I'd be happy for someone to take this on in the mean-time

https://github.com/johnthagen/min-sized-rust provides a very good guide.

Plan:

* modify `https://github.com/david-allison-1/Anki-Android-Backend/blob/main/

[2021-04-11 00:59] dae commented on #8473
Looks like for the latest desktop code it's just over a MB, and 800k after the library gets compressed. Switching the setting is comparatively easy, it's testing various scenarios to make sure the performance tradeoffs are justified that's the time consuming part.

[2021-04-11 03:18] Arthur-Milchior opened #8563 "Undo button inconsistency"
In all window, deck picker, card browser, study option fragment, the "undo" button/menu entry is shown if and only if there is an undo action available. On the other hand in the reviewer the undo button is always here, but sometime light gray to indicate it's disabled.

I believe it would be nice to be consistent. In my opinion, removing the undo button entirely is ideal, as it would allow to have

[2021-04-11 05:25] Paras-Saini commented on #8454
@david-allison-1 i'am suncying my project because it showing errors, so we have to upgrade my gradle, till then please i need further elaboration on this.

[2021-04-11 05:26] Paras-Saini commented on #5844
@david-allison-1 srry to say that i am not getting or not clearify with the question, please define it again and plz tell me what i have to do..

[2021-04-11 05:34] Paras-Saini commented on #8454
@david-allison-1 can i do it with tool target API,??
By adding-   <RootTag xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools" >

[2021-04-11 05:34] Paras-Saini commented on #8454
<RootTag xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools" >

[2021-04-11 05:36] Paras-Saini commented on #8454
@david-allison-1 can i do it with tool target API.?

[2021-04-11 05:41] Mohaned-Elfeky opened #8565 "com.ichi2.anki.AbstractFlashcardViewer#selectAndCopyText function not working[Bug]"
###### Reproduction Steps

1. Enable lookup setting in advanced options
2. open a card and press lookup text (should copy the text of the card into the clipboard if clipboard is empty)
3. copy text manually and press lookup again (should lookup the text in external dictionary)

###### Expected Result

when pressing lookup text first time should copy the text automatically into the clipboard and on

[2021-04-11 06:19] puelp commented on #8298
Is there another way then to get a rough sense of the timetable for the 2.15 stable release?

[2021-04-11 07:29] mvonkessel opened #8567 "Cloze: After "Show Answer" in long cards, restart from the top of card page"
###### Reproduction Steps

1. When a lot of text is used in a card in cloze mode  you have to scroll down to the cloze
2.  As soon as you press show Answer, you have to scroll down again to see the cloze answer. In the computer version the answer just reveals.

###### Expected Result

It would be great, if it works as in the computer version. When pressing show answer, the cloze just reveals witho

[2021-04-11 08:57] tapish2000 commented on #7111
Can I get a little bit detailed info/guidance? If you are also not sure what has to be done, as it seems to be try and find out case, I will try out as you say and will show you the results and conclusions. It can be discussed.

[2021-04-11 09:16] matador94 commented on #8554
I just needed to give permission for the SD card, it's solved now. thanks!

[2021-04-11 09:47] Anthropos888 opened #8572 "[Bug] Gestures not working since 2.15alpha40"
###### Reproduction Steps

1. have gestures turned on
2. choose "recommended answer (green) for swipe left
3.  try to answer card with good (swipe left)

###### Expected Result

card is marked good, next card appears

###### Actual Result

nothing happens

###### Debug info
sorry, immediately uninstalled the alpha, so no debug info.  2.15alpha40 on Android 9

###### Research
*Enter an [x] characte

[2021-04-11 09:53] Anthropos888 opened #8573 "[Bug] Installing stable version over previous alpha version deletes ALL settings"
###### Reproduction Steps

1. uninstall alpha version
2. install stable version after that

###### Expected Result

my setting are saved and I can just continue as in the previously installed version.

###### Actual Result

ALL setting are gone. Preferences, gestures, login, everything :-( I have to set up everything again.

I'm a long time user and I'm overwhelmed of how many new features you guy

[2021-04-11 11:59] mikehardy commented on #8572
@Anthropos888 Without the debug info (at least phone information, from a current install) this report is much less useful, please provide something as we have several issues that are for instance Android version dependent, e.g. this one for Android 11 #7375

Also could be #8527 which is a recent regression as the whole gesture system continues to handle more edge cases but hits a few bumps along t

[2021-04-11 12:03] mikehardy commented on #8573
Hmm - that's unexpected and not the experience of previous people, however I think the root of it might be "uninstalled" - if you uninstall and you don't have your settings backed up by Google (they have some systems outside AnkiDroid / not in our control that can do preference saving) then how would your preferences be saved? They are a file in the installed app's directory so an uninstall will r

[2021-04-11 12:49] Anthropos888 commented on #8573
Hi, I'm on alpha since 2 years or so and had to switch back to stable a few times before, when bugs occured. Can't remember exactly if all settings got deleted as well back then.

This time I did the following: after the gestures bug in the latest alpha I pressed "leave" for the beta programme in Playstore and waited maybe 10 mins. After that Playstore said "You're still on beta, you might conside

[2021-04-11 12:51] Anthropos888 commented on #8572
Sure, here's the debug information of my currently installed version:

AnkiDroid Version = 2.14.6

Android Version = 9

ACRA UUID = 751875a7-f00b-41fe-90b1-2bcc6af0617f

Scheduler = std2

Crash Reports Enabled = true

[2021-04-11 13:21] david-allison-1 commented on #5844
AnkiDroid doesn't control AnkiWeb, but we have users that have problems with AnkiWeb, and we need to provide them with a good experience and solve their .

* If a user has forgotten their email for AnkiWeb, then they can't login.

* The task is to fix this.

----

We need to know "how" a user should go about finding their email address that they used: list the answers here.

Then, we should work o

[2021-04-11 13:23] david-allison-1 commented on #8454
The first stage of this is to look into the git history and see why these were called `pre_21` in the first place, and what the post-21 alternatives are.

[2021-04-11 13:45] vinishhub commented on #8454
what we can do is we can use [Layerlist]( https://developer.android.com/guide/topics/resources/drawable-resource) to combine these files

[2021-04-11 13:59] david-allison-1 commented on #7111
@mikehardy You know more than me on this one

[2021-04-11 14:03] Paras-Saini commented on #5844
Yeah, thanks @mikehardy now it's clear to me.
I'll provide a good solution for it.

[2021-04-11 14:12] #8406 closed

[2021-04-11 15:42] #4552 closed

[2021-04-11 15:56] TarekkMA commented on #8487
@Swado I assume you will not be working on this, so I just wanted to let you know that I will start working on it.

[2021-04-11 18:34] farjadilyas commented on #8572
Can I work on this?

[2021-04-11 18:39] david-allison-1 opened #8576 "Lint: Toast.makeText -> UIUtils.showThemedToast"
This would save time on code reviews.

I'll take this on in the next couple of days if nobody wants it. Low effort, high reward with new applicants

[2021-04-11 19:00] david-allison-1 commented on #8572
@farjadilyas
Could you discuss with @kuroni (here pr in Discord) - would rather not duplicate the effort - LMK if there's anything I need to do to unblock

[2021-04-11 20:01] pinnerup opened #8578 "[Bug] Coptic letters not rendering properly"
I'm using Anki for learning Coptic vocabulary, and for some reason, AnkiDroid has problems displaying Coptic unicode text. Some cards are garbled in a way that it seems the app is rendering separate letters of a word on top of one another.

As an example, the word "ϩⲱⲡ" is rendered in my AnkiDroid like this:

![2021-04-11 21 26 31](https://user-images.githubusercontent.com/7774108/114319257-08d729

[2021-04-11 20:21] nicdard commented on #8576
I would be happy to help here

[2021-04-11 20:40] david-allison-1 commented on #8576
Great, thanks!

You should be able to find sample code:

https://github.com/ankidroid/Anki-Android/tree/89a7679839f55fa4748155ded6e73b33dc8fc545/lint-rules

The main aim would be to ensure that new users are advised that a call to `Toast.makeText` should be replaced with a call to `UIUtils.showThemedToast`

I think the file:

https://github.com/ankidroid/Anki-Android/blob/4935ac517deb2d784bba0a9f7

[2021-04-11 23:29] david-allison-1 opened #8583 "Reviewer: Animate answer buttons if gestures are used"
When:
- [x] Pressing Keyboard input (regression in 2.15)
- [ ] Using gestures

The answer buttons should animate as-if they'd been touched to provide visual feedback to the user of the action that has occurred.

This is much less subtle than the 1-4 dots at the top of the screen, and helps ensure against misclicks

----

Hmm.... interesting. No regression here at all. I don't use gestures, but fro

[2021-04-11 23:32] david-allison-1 commented on #8583
This was enabled for keyboard input, so is a regression ref: #5683

When we fix this, it would also be useful to apply this to the button animations, if possible

[2021-04-12 00:23] kuroni commented on #8583
Oh I think this is much worse than just gesturing; even touching does not return feedback anymore.

https://user-images.githubusercontent.com/13513478/114326650-c4915c80-9b03-11eb-9c0e-0221a7643797.mp4

[2021-04-12 00:38] david-allison-1 commented on #4631
Reopened assuming #8584 is approved, close again if PR is rejected

Refs: (Issues: #8527, #8572, #8583)

[2021-04-12 05:02] #6203 closed

[2021-04-12 05:25] sridhar-5 commented on #8576
Hi,
Happy and Interested to solve this issue. But one thing is, I've gone through the code in this link you've mentioned

Link : [https://github.com/ankidroid/Anki-Android/blob/4935ac517deb2d784bba0a9f7793fd2e65f99712/lint-rules/src/main/java/com/ichi2/anki/lint/rules/DirectSystemCurrentTimeMillisUsage.java](url)

But i don't see a call to `Toast.makeText`. can i know exactly where, this is to be

[2021-04-12 05:59] nicdard commented on #8576
Hi sridhar-5, actually I am gonna opening a PR (hopefully) today for this.

Thank you david-allison-1for the examples and the advices, I think it is all clear and I will work on the issue as soon as I come from the office :)

[2021-04-12 06:04] sridhar-5 commented on #8576
sure.

[2021-04-12 06:31] nicdard commented on #8576
I don't know if there are calls actually in the codebase know apert from the body of `Uiutils.showThemedToast`, but the task aims to spare code review time by suggesting people to use this helper method instead of the one from Android framework. At the end, once developed, the lint rule will signal all occourences to the one from the framework if any and I will therefore fix them within the change

[2021-04-12 06:37] dorrin-sot commented on #8547
Hi Is this fixed? Can I work on this

[2021-04-12 06:49] sridhar-5 commented on #8576
Thanks for the reply man. Looking forward for your successful Pull request, would love to have a look at the code after the changes you've mentioned.

[2021-04-12 13:14] farjadilyas commented on #8583
No feedback on touch can be fixed by calling ```view.setPressed(true)``` in the event.getAction() == MotionEvent.ACTION_DOWN block, and ```view.setPressed(false)``` in the ACTION_UP block in the ```onTouchListener``` for the buttons. For the gestures, however, I think we'll have to manually decide which view corresponds to the desired button, i.e. if swipe left clicks the green button, we'll have

[2021-04-12 16:01] david-allison-1 commented on #8583
Sounds good to me, better to move forwards

[2021-04-12 16:51] #8083 closed

[2021-04-12 17:07] prateek-singh-3212 commented on #8576
Hi @nicdard
If you need any kind of help regarding this issue then feel free to PM me on discord.

[2021-04-12 17:30] nicdard commented on #8576
Thank you! I have just submitted the PR, the only doubt is how to link in the JavaDoc both android.widget.Toast and UIUtils classes, since when I try the IDE shows me an error like: `Symbol android.widget.Toast is not accessible from here`.

[2021-04-12 18:33] TarekkMA opened #8589 "Remove `android:configChanges` from AndroidManifest.xml"
Using `android:configChanges` in the declaration of activities is not a recommended practice. We should let the system handle configuration change.

https://developer.android.com/guide/topics/manifest/activity-element#config
https://developer.android.com/guide/topics/resources/runtime-changes#HandlingTheChange

I think this will not be easy since most of the app has many coupled logic in the lifec

[2021-04-12 21:16] ThoreBor opened #8592 "'Set Due Date' and 'Forget' are being counted as reviews"
###### Reproduction Steps

1.  Select a card in the browser on Anki Desktop
2.  Select 'Forget', or 'Set Due Date' (today, tomorrow+reset interval, random choice of 3-7 days all produce the same bug)
3.  Sync Anki Desktop
4.  Sync Ankidroid

###### Expected Result
Ankidroid and Anki Desktop show the same number of reviews

###### Actual Result
Ankidroid and Anki Desktop have different review numbe

[2021-04-12 21:38] diegonyc opened #8593 "[Bug] - TimePreference class should have "mod-like" behavior"
###### Reproduction Steps

1. call [`parseHours` static method](https://github.com/ankidroid/Anki-Android/blob/164200255997ac4750493118c24cec649191b630/AnkiDroid/src/main/java/com/ichi2/preferences/TimePreference.java#L75) with `"24:00"` as argument

###### Expected Result
Should return `int 0`

###### Actual Result
`int 24`

###### Debug info
Refer to the [support page](https://ankidroid.org/docs

[2021-04-13 08:37] kartikeysaran commented on #7173
Can i take this up @sakshi-1604 if you are not working on this ?

[2021-04-13 08:42] sakshi-1604 commented on #7173
@kartikeysaran Yes , you can work on this.

[2021-04-13 13:44] Paras-Saini commented on #5844
@david-allison-1 , i have come up with the solution, i.e, if a user has forgotten their email for anki web then they can go to the AnkiDroid app and click on left of the AnkiDroid app then an optional sidebar opened and then they can click on the setting and then click-->AnkiDroid(general settings) and after these steps they find their AnkiWeb account..

[2021-04-13 15:41] david-allison-1 commented on #5844
The problem statement in the main post states a "new user", so they will not be logged in.

----

I'll go through and find the answers to my questions so we can continue:

Nothing - user is new

If you are logged in, your email is listed under `Tools - Preferences - Network`

![image](https://user-images.githubusercontent.com/62114487/114580065-70f35000-9c76-11eb-9829-ce9bbf519b4c.png)

I can't fi

[2021-04-13 16:24] dorrin-sot commented on #8578
Hi can i work on this?

[2021-04-13 16:56] Paras-Saini commented on #5844
Ok,, @david-allison-1, i'll prepare a good  FAQ design for this page.

[2021-04-13 17:04] david-allison-1 commented on #5844
Your best bet would be to look to the [FAQ on our wiki](https://github.com/ankidroid/Anki-Android/wiki/FAQ), and consider adding a section

[2021-04-13 17:15] Paras-Saini commented on #5844
@david-allison-1 thanks, now i'm clear with my approach thanks very much for your help.

[2021-04-13 17:18] m4r4c00ch0 commented on #8593
In #8590 we talk about a "mod-like" behavior for the `TimePreference` class.

Can we define what is the expected behavior?

Some expectations (tests) in plain-english can be helpful to define the unit tests—and implement the functionality itself :)

Also, take into account that we have a `parseHours` method **and** a `parseMinutes` method.

[2021-04-13 19:24] TarekkMA commented on #8240
I have managed to do this in Gradle. If the jacoco task succeeds it will open index.html in the default browser.

I did open the html using this function:
[code]

The only thing missing is linux which I didn't find a built-in command that will open the html in the default browser.

we can have the user input the Linux command in `local.properties` or as env variable.

[2021-04-13 20:25] nicdard commented on #8589
I think this can be a really good idea, I can help on this I think :)

Do you have some tips about where to start / how to split the work?

[2021-04-13 20:49] TarekkMA commented on #8589
This should be dealt with one activity at a time, so work can be split per activity. The issue is that we need to do some refactoring and take some architecture designs so the logic is separate from the lifecycle methods.

I will wait to see what is the opinion of the maintainers about this issue.

[2021-04-14 01:31] farjadilyas opened #8598 "[Bug] DeckPicker is restarted while returning via Navigation Drawer"
###### Reproduction Steps

1. Open DeckPicker
2. Open Card Browser/Statistics
3. Go back to DeckPicker via the Navigation Bar

###### Expected Result
DeckPicker is opened as it was left in the back stack

###### Actual Result
DeckPicker is restarted, splash screen shown

###### Research

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancemen

[2021-04-14 01:33] farjadilyas commented on #8598
I want to work on this if this is accepted. We can make a one line tweak to NavigationDrawerActivity to ensure the DeckPicker in the back stack is used while maintaining the behavior of clearing the activities above it in the back stack

[2021-04-14 01:40] david-allison-1 commented on #8598
Sounds good to me, thanks!

[2021-04-14 06:31] kartikeysaran commented on #7173
Just returning ``` Locale.getDefault() ``` fixes this issue

[2021-04-14 08:06] Arthur-Milchior opened #8601 "[Bug] Very unhelpful error message for updated anki"
###### Reproduction Steps

1. Update anki to latest scheduler
2. sync anki
3. sync ankidroid

###### Expected Result

Step by step explanation of how to solve the issue

###### Actual Result

A vague explanation which do not state how to open preference and which exact button to click on

![2021-04-14-100151_183x121_scrot](https://user-images.githubusercontent.com/357361/114675427-82853800-9d08-11

[2021-04-14 09:23] sakshi-1604 commented on #7173
Okay

[2021-04-14 09:33] prateek-singh-3212 commented on #8576
@nicdard I am encountering this issue too. It is a bug in Android Studio.
https://youtrack.jetbrains.com/issue/IDEA-207715

[2021-04-14 10:36] gourish3 commented on #5844
If Paras wont be able to do..Please assign it to me.

[2021-04-14 10:37] gourish3 commented on #5069
Can you assign this issue to me?

[2021-04-14 10:41] gourish3 commented on #7326
Can I change it?

[2021-04-14 11:44] #8293 closed

[2021-04-14 11:49] mikehardy opened #8602 "Convert uses of startActivityForResult to new Activity APIs"
The old method of passing information to / starting / receiving results from one Activity to/from another Activity is deprecated in general, and there is a new way that we have tested in #8356 by converting just the Fragment Activities.

The rest of the codebase should be converted using the same general conversion style you may see in #8356 such that all uses of startActivityForResult/onActivityR

[2021-04-14 11:50] Paras-Saini commented on #5844
I'm able to do it. I'm working on it..

On Wed, Apr 14, 2021, 16:06 gourish3 ***@***.***> wrote:

[2021-04-14 12:10] gourish3 commented on #5844
Okay..Great

[2021-04-14 12:30] #8558 closed

[2021-04-14 12:45] #5404 closed

[2021-04-14 13:01] Paras-Saini commented on #5844
@david-allison-1
Forgotten AnkiWeb Email Instructions
Step-1 Go, on Anki if you logged in, then your email is listed under Tools->Preferences->Network.

Step-2 Or, you can go to your gmail account and search for the ankiweb and you find an email which you have received while you logged in for the first time to verify your email.

I have added these two points on wiki under FAQ section you can chec

[2021-04-14 13:04] Paras-Saini commented on #5844
Srry, @david-allison-1 can you plz elaborate.??

[2021-04-14 13:05] Paras-Saini commented on #5844
https://github.com/ankidroid/Anki-Android/wiki/FAQ#forgotten-ankiweb-email-instructions
This is the link of my changes @david-allison-1

[2021-04-14 13:07] david-allison-1 commented on #5844
The "diff" is a link from the history. In this case: https://github.com/ankidroid/Anki-Android/wiki/FAQ/820315e5323916bbfef42cd86aad4f25a20bb886

[2021-04-14 13:07] infinyte7 commented on #5844
* User may not have only created account using gmail account.

[2021-04-14 13:09] Paras-Saini commented on #5844
Ok, @david-allison-1

[2021-04-14 13:11] Paras-Saini commented on #5844
Now, what next @david-allison-1 any suggestion plz??

[2021-04-14 13:12] Paras-Saini commented on #5844
About my work??

[2021-04-14 13:12] david-allison-1 commented on #5844
* Needs to be moved to a relevant part of the document
* You need to explain in what circumstances to take each step, it's not "step 1", or "step 2". When would you take the first step, and when would you take the second: likely as sub-section headings.
* You need to explain "what" to do in terms of finding the email, not for for a specific provider.

[2021-04-14 13:13] david-allison-1 opened #8603 "Regression test for startup: new user granting permissions"
It'd be great to get a regression test for this path in another PR

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/8561#issuecomment-817213318_

[2021-04-14 13:13] Paras-Saini commented on #5844
Yeah, @david-allison-1 i got it. I do that.

[2021-04-14 13:15] david-allison-1 commented on #7326
@mahisharma-cs Are you still working on this issue?

@gourish3 Give them 24 hours to respond, if they don't: give me a ping and you'll be free to work on it

[2021-04-14 13:18] mikehardy commented on #8227
just merged a fix should be clean and looking good in the next alpha - will release today

[2021-04-14 13:18] #8227 closed

[2021-04-14 13:36] Paras-Saini commented on #5844
@david-allison-1  https://github.com/ankidroid/Anki-Android/wiki/_compare/6ca8f8ce214668f6b0557d3881dd7c42c0dd4397#diff-c7bd425fd98aad1f9fef20099637bcbdcfadeb566ba1f83bb40ce484f195b8cf
Please have a look..??

[2021-04-14 13:38] nicdard commented on #8602
I would be happy to help with this :)

[2021-04-14 13:40] kartikeysaran commented on #8293
I think this issue can be modified and reopened so that the deprecation can removed totally from the code base

[2021-04-14 13:43] #8464 closed

[2021-04-14 13:44] #7679 closed

[2021-04-14 13:48] david-allison-1 commented on #8422
<details><summary>Logcat</summary>

[code]

</details>

The issue is:

* onCreate -> startLoadingCollection -> collection is open -> onCollectionLoaded
* onActivityResult -> collection is changed -> close collection -> crash due to `onCollectionLoaded` still executing in the background

[2021-04-14 14:24] mk-94 commented on #8603
Hi i would take it. It is my first issue in ankidroid. But would be great to try to implement it. :)
Can you tell me what I need to pay special attention to and how to start?

[2021-04-14 14:29] gourish3 commented on #7326
Okay Sir!

[2021-04-14 16:00] david-allison-1 commented on #7326
Great! (and no need to call anyone here Sir! 🙂)

[2021-04-14 16:11] david-allison-1 commented on #8603
@mk-94 - This is going to be a somewhat involved test, and it'd be better to start with a "Good First Issue"

[2021-04-14 16:15] #8576 closed

[2021-04-14 16:38] Dr747 opened #8608 "Feature Request: No new cards if ..."
Hi there,

I've been using Anki on PC and Android for some months now and I've got an idea for a new feature I would quite enjoy having, so I thought I might share it here, maybe other people would find it useful too. I've not been practicing my vocabulary (which I use Anki for) very much for the last few weeks and so now I have a lot of cards that want to be practiced. I think it would be nice to

[2021-04-14 16:48] Arthur-Milchior commented on #8240
I like the idea of using a local properties. I'd also like if you please to have a flag for this feature; as I don't want to see it used everytime tests are run

[2021-04-14 17:03] david-allison-1 commented on #8608
Hi @Dr747, thanks for the feature request!

We aim to keep feature parity with Anki Desktop to maintain ecosystem compatibility, we almost always want a feature to exist in Anki Desktop before porting it across.

You can ask for features in Anki Desktop: https://forums.ankiweb.net/

I'm closing this as there's nothing for us to do until this feature is accepted for work into Anki Desktop, please p

[2021-04-14 17:03] #8608 closed

[2021-04-14 17:35] david-allison-1 commented on #8547
@dorrin-sot Thanks for the enthusiasm!

This is blocking 2.15 from being released, I'll take it on. The crash is a separate issue.

Feel free to pick up one of our "Good First Issues" or "Help Wanted" issues

Best,

David

[2021-04-14 17:45] david-allison-1 opened #8610 "[Bug] AnkiDroid doesn't open: FragmentManager has not been attached to a host"
[code]

[2021-04-14 17:46] david-allison-1 commented on #8610
This is caused by the `Help make AnkiDroid better` dialog appearing

[2021-04-14 17:54] aPaci95 opened #8611 "[Feature request] Bury after a certain number of failed attempts"
It would be cool to have an option to set a certain amount of attempt to review a card (per day). After that set amount of failed reviews, ankidroid automatically bury the card. I'm using an [addon](https://ankiweb.net/shared/info/1255924302) that does exactly this for anki desktop and i can't live without this anymore ahah It would be awesome to have this in ankidroid too!

[2021-04-14 17:57] mk-94 commented on #8603
I would try to work on. Sure, i will have some questions, if it is ok for you.

[2021-04-14 18:02] nicdard commented on #8602
Can I start work on this, and in case, what would you prefer: one only PR with the whole change, or to split it per activities involved in the exchange?

[2021-04-14 18:09] #8422 closed

[2021-04-14 18:19] #8388 closed

[2021-04-14 18:20] mikehardy opened #8612 "Create unit test verifying illegal characters (like '##') may not be used in field names"
#8388 is the original issue, and #8389 fixes it, but a unit test that verifies those illegal characters can't be entered would be nice to have

The strategies below could work.

You could also extend Robolectric test, get the dialog "open" (virtually) and attempt to enter an illegal field, verifying it fails.

---------

First attempt would be to extract `TaskManager.launchCollectionTask(new Colle

[2021-04-14 18:24] dorrin-sot commented on #8611
Does the addon ask to bury after that certain number of times or does it do it automatically?

[2021-04-14 18:25] dorrin-sot commented on #8612
Hi can I work on this?

[2021-04-14 18:34] Arthur-Milchior opened #8614 "> Sorry for the late PR,"
`flush` is an expensive operations. It takes json, transform into string and save it in DB. This is not something we actually need to do each time we want to modify the configuration. Instead, we should just note that the DB has changed, `getCol().getDb().setMod(true)` and let the `save` function write data later when needed.

This should have been true for all other call to `flush()` and the java

[2021-04-14 18:44] david-allison-1 opened #8616 "Invesitgate: mOnStatisticsActivityResult is unused"
Likely a bug

https://github.com/ankidroid/Anki-Android/blob/67577753b2fd18bbfebe08a18fa9a6a9f71c4223/AnkiDroid/src/main/java/com/ichi2/anki/StudyOptionsFragment.java#L476-L490

[2021-04-14 18:47] david-allison-1 commented on #8614
I've got a local PR which abstracts out `getConf`, and I'll be converting it to Rust during 2.16

This likely isn't worth prioritising until closer to 2.16

[2021-04-14 19:24] david-allison-1 commented on #8612
Sure, thanks!

[2021-04-14 19:29] mikehardy commented on #8602
Fantastic - I think just one PR per Activity, they should be separate - and please start with just one prior to posting all the others - to make really sure the style looks good and (hopefully) save time for everyone in case there is something that needs tuning before implementing it in all activities

[2021-04-14 19:36] mikehardy commented on #8298
@puelp No. This is an open source project. I could throw a guess out there but it is much healthier for all involved (since it's all volunteer) to simply say there are no ETAs in open source projects, ever.

I'm not trying to be annoying or mean or anything I promise - just that we may discover something (anything!) important to fix before release, and it may be large, and it may take time, and it

[2021-04-14 19:38] mikehardy commented on #8298
it is worth noting that the release-2.15 milestone is pretty well curated at the moment. I am currently using it to track whether we have anything left or not, so watching it is no longer like looking at a catch-all bucket, it is now a list of things we really should complete

[2021-04-14 19:39] farjadilyas opened #8618 "[Bug] StorageAccessExceptions on first-time startup in DeckPicker"
###### Reproduction Steps

1. Clear App data
2. Open the app

###### Expected Result
No exceptions are thrown

###### Actual Result
Three StorageAccess Exceptions are thrown & caught in the following methods in DeckPicker:
- onPause()
- onPrepareOptionsMenu()
- onCreateOptionsMenu()

###### Debug info

Log:
[code]

###### Research

- [x] I have read the [support page](https://ankidroid.org/docs/he

[2021-04-14 19:39] farjadilyas commented on #8618
I'd like to work on this if it's accepted

[2021-04-14 19:42] mikehardy commented on #8578
Sure! It would be great to have some sort of unit test that shows the failure @pinnerup is seeing prior to fixing it. Not sure if that is possible *if* it is a problem in the WebView itself. Examining it via inspecting the WebView in the debugger may be useful https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection - which also implies that the first thing we ne

[2021-04-14 19:44] mikehardy commented on #8573
Thanks for the update @Anthropos888 - and I know you've been a dedicated tester with great bug reports before. I am sorry this happened. The steps you detailed *seem* totally reasonable! I can't imagine what happened. But hopefully we can try to reproduce and fix them

[2021-04-14 19:47] mikehardy commented on #8601
Except...in 2.15 (which should release soon?) this is all fixed and we handle it correctly - it is literally the start of all the Rust conversion odyssey :-)

There is definitely a gotcha in that if on anki you don't have sched v2 enabled you don't even *see* the legacy timezone handling preference. That's unexpected...

[2021-04-14 19:49] mikehardy commented on #8611
Hi there! If it is not a core feature in Anki Desktop, we will not implement it here.
Our policy is to implement Anki Desktop features, not add-on features - it has to be *in* Anki Desktop
If you lobby it for it on their site and they implement it, then we will follow forums.ankiweb.net/

[2021-04-14 19:49] #8611 closed

[2021-04-14 21:14] david-allison-1 commented on #8601
Legacy timezone handling is V2 only. The user won't get that message if they're on V1

[2021-04-14 21:16] #8610 closed

[2021-04-14 21:23] dorrin-sot commented on #8612
Nice! Can I ask what the illegal character(s) are?

[2021-04-14 21:24] david-allison-1 commented on #8573
@Anthropos888 I'm glad you're still around! I'm sorry about the stability recently, and I'm sorry this happened.

I've been handing regressions to GSoC candidates; I should have taken on more myself in order to ensure that they're fixed quickly. I'll be doing this much more from now on.

I don't think there's anything that we can do about uninstalls. It's the same as a "clear data", which will wip

[2021-04-14 21:34] david-allison-1 commented on #8616
STATISTICS was unused aside from in the `onActivityResult` code

https://github.com/ankidroid/Anki-Android/blob/d7057d3c979086f2c5712156ac6c564a57cda9cd/AnkiDroid/src/main/java/com/ichi2/anki/StudyOptionsFragment.java#L444-L493

[2021-04-14 21:36] david-allison-1 commented on #8616
`setFragmentContentView` is now unused, but I'll leave it as it's useful working code

[2021-04-14 22:01] #8616 closed

[2021-04-14 22:29] #8240 closed

[2021-04-14 23:19] david-allison-1 commented on #8240
@Arthur-Milchior `enable_coverage=false` in the `local.properties` should disable coverage.

[2021-04-14 23:52] david-allison-1 commented on #8618
Sounds good! Unit test to ensure that the code path isn't hit would be fantastic

[2021-04-15 00:53] #8091 closed

[2021-04-15 02:50] rillian commented on #8578
I think this probably is a WebView bug. I see something similar with blink-based browsers on Android. IIRC Anki uses that for card display. See also this [Brave issue](https://github.com/brave/brave-browser/issues/15238).

@pinnerup does setting a custom font for the cards work around the problem?

[2021-04-15 03:01] david-allison-1 commented on #8547
Seems to be caused by 3e7983670370141b6dc2e1ab3d7a4036c0585def

@Arthur-Milchior

Regression test:

[code]

[2021-04-15 03:32] rillian commented on #8578
I saw the problem just entering the same word in a new card: [card-ϩⲱⲡ.zip](https://github.com/ankidroid/Anki-Android/files/6314992/card-.zip)

NB it's a little tricky to reproduce. I see overdrawn characters the first time I look at the card, but not always on subsequent views. I can usually trigger it again by changing the font size in the card template and then tapping the view icon.

[2021-04-15 11:13] david-allison-1 commented on #8603
Ok

[2021-04-15 11:20] mk-94 commented on #8603
Thank you, i will start to work in it today. :)

[2021-04-15 12:41] mk-94 commented on #8603
Could you please give me a short briefing, how i should start with this issue and if there is something i have to pay special attention for?

[2021-04-15 12:42] david-allison opened #8621 "[CI] CrowdIn: We can now automate a check for "missing screenshots" on strings"
I was asked to evaluate https://support.crowdin.com/croql/ by CrowdIn: it should support our use case, and allow us to automate the check that each translation has a screenshot

[2021-04-15 13:14] david-allison-1 commented on #8603
* Make a branch
* Git reset to before https://github.com/ankidroid/Anki-Android/pull/8561#issuecomment-817213318 went in
* Build & reproduce the crash on your phone
* Make a unit test which reproduces the crash - ensure it fails
* branch from master and cherry-pick the unit test, ensure it now passes
* Submit a pull request

Useful reference functions are called: https://github.com/ankidroid/Anki-

[2021-04-15 13:16] mk-94 commented on #8603
Okay thank you very much. :)

[2021-04-15 14:01] david-allison-1 commented on #8621
AnkiDroid's Project Id is `720`, this differs from APIv1, which requires the project identifier (`ankidroid`) 🤦‍♀️

[2021-04-15 15:47] kartikeysaran commented on #8001
Since I have worked on issue #7941 , I would like to take this up too.

[2021-04-15 16:28] mikehardy commented on #8578
We use the Android System Webview for display, which is Chromium based and updated by Google (sometimes with bugs...) looking at google issue tracker or chromium issue tracker may show something

[2021-04-15 18:20] mk-94 commented on #8603
Hi again, i have one more question, to reproduce the issue.
At first i tried to reproduce the issue on the emulator. Before i did a hard reset on my branch before the issue #8561 (comment) was merged. I created a deck and some nodes. Then I revoked the permission for files and media for the ankidroid app, grant permissions again and the decks are there again.
I also grant permission via the app an

[2021-04-15 18:21] david-allison-1 commented on #8603
What does `git rev-parse HEAD` show?

[2021-04-15 18:24] mk-94 commented on #8603
392e6b48dcbbb20d534e9816523cc72ff7a22cd4

[2021-04-15 18:40] david-allison-1 commented on #8603
@farjadilyas I can't repro #8558 at this commit, do you have repro steps?

[2021-04-15 18:51] farjadilyas commented on #8603
@david-allison-1 The solution for #8558 was merged in #8561 so it shouldn't be reproducible. However, the repro steps are the same as mentioned in Issue #8558:

1) Clear App Data/Deny Storage Permission
2) Open the app: handleStartup() will always lead to handleStartupFailure()

[2021-04-15 18:52] david-allison-1 commented on #8603
@farjadilyas We're at 392e6b4, I believe before the fix was merged.

[2021-04-15 19:03] farjadilyas commented on #8603
Oh, that's two commits before handleStartup() was introduced in 732eb1a. That introduced #8558

[2021-04-15 19:10] farjadilyas commented on #8603
@david-allison-1 Oh, that's two commits before handleStartup() was introduced in 732eb1a. That introduced #8558. Tested this by checking out to the previous commit.

[2021-04-15 19:41] mk-94 commented on #8603
Yes i wanted to reproduce the error before the fix from #8561 was merged. So i have to reset before #8558?

[2021-04-15 19:54] farjadilyas commented on #8603
@mk-94 No, if you want to reproduce the Bug described in #8558, you have to reset to any commit _including/after_ 732eb1a (when the bug was introduced), and _before_ 3451cc5 (when it was fixed). When I run ```git log```, the commit right before the fix #8561 is fdeeef0dbe68c4d4b164cf4df4998373afda2b28. So you should be able to reset to that! Let me know if you can reproduce it then.

[2021-04-15 20:00] Arthur-Milchior commented on #8601
How, I didn't know there was a plan to release it soon. that's great.

[2021-04-15 20:03] david-allison-1 commented on #8601
https://github.com/ankidroid/Anki-Android/milestone/37 - couple of glaring bugs, add Downgrade & Quit, and we should be good to go

[2021-04-15 20:04] mk-94 commented on #8603
Ok, I reset to fdeeef0 and try to reproduce and let you know if i can reproduce it.

[2021-04-15 20:07] mk-94 commented on #8603
Ok I got it, thank you. Collection not opend...

[2021-04-15 20:10] mrudultora commented on #3114
Can I work on this? I would go with the way suggested by **adamwolf**.

[2021-04-15 21:36] Arthur-Milchior opened #8627 "[Bug] Bury select note automatically"
On a1ebaa00664bdb54a439da83dc6207194228e9d4 in the reviewer, the bury button directly bury the note instead of asking to choose. The suspend button works as usual

[2021-04-15 22:11] TarekkMA commented on #7757
If this rule added what should we do with this code? move it to `onCreateOptionsMenu`?

https://github.com/ankidroid/Anki-Android/blob/a1ebaa00664bdb54a439da83dc6207194228e9d4/AnkiDroid/src/main/java/com/ichi2/anki/DeckPicker.java#L665-L672

[2021-04-15 23:14] mikehardy commented on #7805
ACRA 5.8.0 is in beta now, and it has the ability to access LimiterData to rate limit the help dialog send exception report feature.

Code snip from upstream to give us an idea how to do it:

https://github.com/ACRA/acra/issues/843#issuecomment-820784697

[code]

The reflective code and unchecked cast etc from #8629 should be removed during this upgrade

[2021-04-16 00:00] david-allison-1 commented on #8627
Relevant. Was a sibling suspended?

https://github.com/ankidroid/Anki-Android/blob/a5a68b0fbecc837980174ca35f9ebf364ecc54b8/AnkiDroid/src/main/java/com/ichi2/anki/Reviewer.java#L1249-L1269

[2021-04-16 00:16] david-allison-1 opened #8631 "[Test] Regression test: Statistics"
Regression test potential here

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/8626#issuecomment-820819291_

[2021-04-16 00:28] TarekkMA commented on #7595
@david-allison-1 should this be reopened?

[2021-04-16 00:37] TarekkMA commented on #7595
I think the api has changed, I did monitor the website network requests and I got this URL
[code]
Response
[code]

[2021-04-16 00:59] david-allison-1 commented on #7595
Ah, page has changed since I last looked. I don't think this feature is well-used, but it's open to fixing

[2021-04-16 03:11] #8379 closed

[2021-04-16 03:17] #6253 closed

[2021-04-16 03:47] #8282 closed

[2021-04-16 04:21] #5634 closed

[2021-04-16 04:52] mikehardy commented on #8473
Here is some low-hanging fruit - it appears my publishing automation doesn't strip symbols from .so files, likely because the ndk isn't installed or similar: https://github.com/ankidroid/Anki-Android/runs/2359122237?check_suite_focus=true#step:10:95

[2021-04-16 05:11] dae commented on #8473
Rust release builds don't include debug symbols by default, so not sure that would help here

[2021-04-16 05:29] mahisharma-cs commented on #7326
Yes! within 18-24 hrs. I'll make the pull request on this. I am stuck in data handling but now it is send the "Full Sync From Server" is working.

[2021-04-16 06:29] dougkrahmer commented on #7567
This issue also occurs if you force a full sync and re-download from AnkiWeb, so there is definitely a problem in how AnkiDroid writes this data.

[2021-04-16 06:53] Abanoub-Asaad commented on #8631
I'm working on it.

[2021-04-16 08:27] vinishhub commented on #8454
can i work on this issue if you don't mind??

[2021-04-16 09:08] mk-94 commented on #8603
I debugged and reproduced the bug and would now start to write the test.
Just to be sure. I'll write a test, which starts the app at first time, grant permission for storage and check if StartupFailure.DATABASE_LOCKED-Dialog will not open. Is it right?

[2021-04-16 10:24] mrudultora commented on #3114
My approach would be to make custom dialog preference with 3 buttons (Ok, cancel and browse). On clicking browse we would open **DocumentTree** and then on result we would set the directory selected by user.

[2021-04-16 11:44] srghma commented on #8109
I still think it's useful feature to have (to open search tab with js)

[2021-04-16 12:20] dorrin-sot commented on #6427
Hi is this still open? if so can i work on it after my current PR gets closed?

[2021-04-16 12:27] david-allison-1 commented on #6427
We'll be ripping out the search backend as part of the Rust conversion, the code's there, just needs integration in 2.16

[2021-04-16 14:10] mikehardy commented on #8473
Seems reasonable...

For anyone else following along I just want to be clear that I will not block 2.15 on this. It's a "nice to have" for me, we are no longer a super slim app but at the same time our peer average is 16.9MB for the app category on play store, we are right about average. I'm just exploring if there are obvious things we are missing.

So far it appears the answer is "not really" wi

[2021-04-16 15:04] Arthur-Milchior commented on #8627
No. Some of teh cards with the problem are entirely new notes, with entirely new siblings

[2021-04-16 16:10] Akshay0701 commented on #8448
@iamvs-2002 instead of adding background and making in grid ,
can we implement calendar stats in AnkiDroid , below image is from Anki Desktop ,
![review-heatmap-1](https://user-images.githubusercontent.com/52353967/115052965-313d9a00-9efc-11eb-96fd-373f1df4227b.png)

[2021-04-16 18:41] mikehardy commented on #8434
I gave this an attempt now that we have Gradle 7 working, but the android gradle plugin is the current blocker for JDK16. This isn't a priority but I was in the area. No JDK16 for now, keep using 8 or 11

[2021-04-16 18:47] mikehardy commented on #8525
@infinyte7 why is not possible to put JSON configs for add-ons in the collection config? Then it will be synced across devices and available on desktop etc as well

[2021-04-17 03:42] gourish3 commented on #7326
Okay Take your time .If you cannot do it please tell me. Ill work on it then.

[2021-04-17 03:42] gourish3 commented on #7326
Okay!🙂

[2021-04-17 04:15] Paras-Saini commented on #8454
If,  u're confident  then u can..

On Fri, Apr 16, 2021, 13:58 VINISH ***@***.***> wrote:

[2021-04-17 08:40] MarkusJLechner opened #8636 "[Bug] Review not working with keyboard"
###### Reproduction Steps

~~1. Press shift + v~~
2. Press Space / 1 / 2 / 3 / 4

~~Must not be in active record/play state. It's enough that the record options are visible~~

Edit: Review with keyboard is not working independent to the recording

###### Expected Result
Corresponding review action

###### Actual Result
No recognition of review buttons

I'm using the 2.15 alpha 43

###### Debug inf

[2021-04-17 09:07] MarkusJLechner opened #8637 "[Bug] Recording audio crashes background apps"
###### Reproduction Steps

1. Constantly press record Audio shortcut (shift + v) and play (v)
2. After some intervals its possible to have both states active
3. It is not possible to active another state anymore

###### Expected Result
Switching between recording and play audio should trigger the desired states without side effects

###### Actual Result
Backgound services crash. (I also had to res

[2021-04-17 13:46] david-allison-1 commented on #8534
Note: Using 42 as the limit, as strings of that length existed in English without complaints

[2021-04-17 18:44] dorrin-sot commented on #8146
What api version are you running?
I can't seem to be able to reproduce it with my emulator

[2021-04-17 19:44] infinyte7 opened #8639 "Request get cancelled on self signed certificate with https on localhost"
###### Reproduction Steps

1. I created localhost (using termux+python+openssl) with self signed certificate for loading resources on `https` because `http` not supported
2. Loading resources `https://localhost:8080/data.json` in AnkiDroid
3. It will be used as/for offline loading of resources.

###### Expected Result
It should load the resources instead of cancelling the request.

###### Actual R

[2021-04-17 22:25] nicdard commented on #8631
I would like to help with this, however I will probably need some guidance :)

[2021-04-17 23:05] Arthur-Milchior commented on #8547
Is there any technics you use to do a manual bisect in cases like this where the code do not work on old commit?
Because I tried to run it on the commit before 3e79836 and it obviously fails.

I did re read the part of the code in this commit around Searchcards and I don't see any obvious change. But I've no idea what argument captor and mock does

[2021-04-17 23:45] david-allison-1 commented on #8547
I tested via building and running the app, as I couldn't rebase in a unit test due to the structure of the code changing

[2021-04-18 00:21] david-allison-1 commented on #8631
@nicdard

The change would be a test of `DeckPreviewStatistics`

Have `collection.getDb()` return null

Then launch the task.

`onPostExecute` would crash because the WeakReference (`mTextView`) was never assigned

[2021-04-18 03:40] dae opened #8641 "[Bug] Custom steps not being hidden when v2 scheduler enabled?"
From the sounds of the following report, the user has switched to the v2 scheduler, but is still being shown a custom steps in the filtered deck screen. The v2 scheduler does not support custom steps, so they should not be displayed in that screen.

https://groups.google.com/g/anki-android/c/RuOQlwLJruo