[2022-09-21 13:39] user1823 opened #12476 "Higher contrast in the Tags and Cards options in the Note Editor (in dark mode)"
###### Reproduction Steps
1. Install an alpha release newer than 2.16alpha85. (I have not tested the alpha releases prior to this release.)
2. Set the app theme to Black. (Settings -> Appearance -> Theme)
3. Go to Note Editor or Add Note window.

###### Expected Result
The tags and cards options at the bottom of the window should have a good contrast.

###### Actual Result
The Tags and Cards optio

[2022-09-21 14:20] mikehardy commented on #12468
Yes. This is a known issue, and it's fine to log it here, but it is not news exactly.
This will be one of the most involved parts of the migration to the new schema and will likely stay like this for a while, though it is not optimal, no.

I see the exact same behavior. It's the main sync happening (great), then the media sync starts (great), but the media sync has no progress (not great), if you

[2022-09-21 15:12] krmanik commented on #12473
AnkiDroid provides four sets of theme, Day theme - (Light, Plain), Night theme - (Black, Dark). In AnkiDesktop only two sets of theme available day and night. In desktop code we have to add css rules in `base.css`. It can be done. For e.g. in `card-info` page, we have to add something like `ankidroid-light`, `ankidroid-plain`, `ankidroid-dark` and `ankidroid-black` rules.
https://github.com/ankite

[2022-09-21 16:21] criticalAY commented on #12364
API 33 serializable bundle deprecation update #12463

[2022-09-21 17:36] BrayanDSO commented on #12473
Oh. Injecting CSS is completely possible. I've tried before and it worked just fine (see screenshots here https://github.com/ankidroid/Anki-Android/issues/6772), but never got the time to think on a implementation I really liked.

[2022-09-21 18:02] krmanik commented on #12473
I think we should consider adding css files in assets dir and inject using webview. It will be helpful when small changes does not require to build the backend again then load those pages. The css will be specific to AnkiDroid only.

[2022-09-21 19:23] krmanik opened #12477 "Exported deck from Anki Desktop, show card review finished and not imported when not using new schema in AnkiDroid"
###### Reproduction Steps

1. Create a deck on Anki Desktop and export
2. Copy the deck and import it in AnkiDroid

###### Expected Result

It should show appropriate message for errors or import successfully.

###### Actual Result

a) For new backend and not toggle on v3 scheduler, it is showing card review finished
![image](https://user-images.githubusercontent.com/12841290/191591261-67990b8f-34

[2022-09-21 19:43] BrayanDSO commented on #12473
Fine by me. Will the CSS files be generated dynamically? So we are always up to date with the colors used by the themes.

Another thought: maybe there is some say to create a test to see if the CSS is valid

[2022-09-21 20:28] mikehardy commented on #12473
With no intention to be prescriptive (my opinion: literally whatever seems good to you two, you are definitely the experts here), even if the CSS could not be generated from the themes xml (or even if it could :thinking: ) a comment in the themes that changes must be made in concert with the CSS would be sufficient for me. We don't change them that much, and if there's a `` a reviewer knows what t

[2022-09-21 22:32] BrayanDSO commented on #12473
I like your idea more. The simple is always the best answer

[2022-09-21 23:54] luizfepe opened #12479 "[Bug] Special characters shown in dark grey in Dark theme"
###### Reproduction Steps

1. Create a deck for Japanguage study  .
![Screenshot_20220922-084124](https://user-images.githubusercontent.com/5821104/191629454-338a83a0-60c8-41ab-bcf9-41d0ba7f3942.png)

2. Create a card containing special character from Portuguese language.

###### Expected Result
Show all words in white color.

###### Actual Result
The words with special character such as çàã are s

[2022-09-22 04:12] pavreh commented on #12477
Import issue with the legacy schema is described in #11845.

[2022-09-22 08:17] dae commented on #12477
I can't reproduce the new schema issue: I create a deck with two new cards and export an .apkg, copy it to Android and import it with the new schema active, and I can tap on the deck to review the cards, both in v2 and v3.

[2022-09-22 08:28] dae commented on #11845
I created a card with '[sound:nosuchfile.mp3]' on the desktop, exported it to an apkg, then imported it into AnkiDroid with the legacy schema, and it imported ok for me. Any other ideas about how to reproduce it? Can you share a file (privately) that triggers this?

[2022-09-22 08:29] dae commented on #12473
Anki uses css vars which make styling changes fairly easy, but there have been tweaks to them in the current development code, so I'd recommend holding off on pursuing this until 2.1.55 is out or AnkiDroid has updated to a current snapshot

[2022-09-22 09:10] BrayanDSO commented on #12479
Could you please send your debug info here? Here's the [instructions](https://ankidroid.org/docs/help.html) (if you are on one of the latest alphas, the "About" screen is not on the "advanced" category anymore)

If possible, sharing the deck, or at least one card of it, would help a lot.

I am Brazilian, study Japanese on AnkiDroid daily and sometimes I add some comments in Portuguese. I have seen

[2022-09-22 09:25] pavreh commented on #11845
I repeated the steps above (export from AnkiDroid - import to AnkiDroid) in alpha85 and I got the error as below. I am going to try the "export from Anki - import to AnkiDroid" later.
![Screenshot_20220922-111813_AnkiDroidA.png](https://user-images.githubusercontent.com/10192661/191710441-2f04cb91-5de0-4e3b-b116-81da8fcdc89b.png)

[2022-09-22 09:26] BrayanDSO opened #12480 "Creating a filtered deck shows the study options fragment with no reason"
###### Reproduction Steps

1. Go to the deck picker
2. Tap the three dot menu > Create filtered deck
3. Tap ok on the dialog (the filtered Deck options activity will be shown)
4. Tap back

###### Expected Result

After tapping back, you should be back to the deck picker

###### Actual Result

You are on the study options screen and have to tap back again

###### Debug info
Refer to the [support pa

[2022-09-22 09:30] BrayanDSO commented on #12473
Almost always easy. IIRC, some colors like the "Import" button on the CSV importer screen didn't have a var associated. But a PR changing this on upstream should be fairly easy if this still persists

[2022-09-22 09:37] dae commented on #11845
I found exporting from AnkiDroid was saving 0 byte files, but wasn't sure whether that was some issue with the sim I was using or some greater issue, so I tested by exporting from the desktop version and copying the file over.

[2022-09-22 10:04] krmanik commented on #12477
May be this is device specific errors. I will put the logcat in next comments.

1. Importing deck using new backend and v3 off

https://user-images.githubusercontent.com/12841290/191717277-624e0776-eb8d-4093-9839-259d995ef91f.mp4

2. Importing and reviewing when new v3 off

https://user-images.githubusercontent.com/12841290/191717211-231a04f5-0f62-4fc3-bc40-21b98f9ccf30.mp4

[2022-09-22 10:09] krmanik commented on #12477
Deck containing media is not importing.

This is logcat
[code]

[2022-09-22 13:08] pavreh commented on #11845
Yes, exports from AnkiDroid (legacy schema) are 0 byte files.
I tried export from Anki and import to AnkiDroid Legacy and I got an error.

[2022-09-22 14:42] mikehardy commented on #12473
I just set a "watch" for releases on ankitects/anki ;-) - will resync backend then

[2022-09-22 15:39] luizfepe commented on #12479
Dear Brayan Oliveira,

Thank you for your quick reply.
Before I'm checking with the professor that makes his decks, to ensure this
is not a formatting issue.
I first create the issue ticket, but I know recognize it can be from his
source, and not actually a bug.
Therefore I asked him some tests and will report here as soon as I receive
the results.

Thank you again and have a nice day!

On Thu, Se

[2022-09-22 16:53] BrayanDSO opened #12487 "Make the "Card marked as leech" a snackbar instead of a toast"
**Is your feature request related to a problem? Please describe.**
I was doing my cards and got one wrong, so I had to tap again. Unfortunately it became a leech 😭. then I noticed that the "Card marked as leech"  message used a toast. As snackbars are preferred, we should replace it

**Describe the solution you'd like**
Use a snack bar instead of a toast for the "Card marked as leech" message

**D

[2022-09-22 17:07] anatoliibakhtin opened #12488 "FR: 1st variation of random card display will not be the same after a progress reset"
**Is your feature request related to a problem? Please describe.**
Hi ! I always get frustrated when I use cards in random display mode, I choose to 'forget the cards (windows), reset progress (android)', time is reset, BUT its display mode is also reset, from 'random', to 'in order of addition'. If you go into deck settings - new cards - under 'order' is specified as 'random', but the cards are d

[2022-09-22 17:44] #10107 closed

[2022-09-22 18:27] criticalAY commented on #12487
Card browser -> select few cards -> reset progress. Also shows a toast.

[2022-09-22 18:35] pavreh commented on #11845
There is the file which causes the error when imported to AnkiDroid 2.16alpha85 with the legacy schema.
[Anki-export-media-tag-added-no-media-file.zip](https://github.com/ankidroid/Anki-Android/files/9628515/Anki-export-media-tag-added-no-media-file.zip)

[2022-09-22 18:59] criticalAY commented on #12487
Could you please help me a bit to reproduce this issue? I would like to work on it and fix it.

[2022-09-22 19:10] pratyaksh1610 commented on #12487
@criticalAY  This could be a good starting point.
https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/java/com/ichi2/libanki/sched/AbstractSched.kt

[2022-09-22 19:29] pavreh opened #12490 "[Bug] Export saves a 0 bytes file"
###### Reproduction Steps

1. Does not matter if the legacy schema or the new schema
2. Export a collection or export a deck

###### Expected Result

Functional .colpkg or .apkg is saved

###### Actual Result

The file is saved but it has 0 bytes and it cannot be imported.
The bug does not exist in 2.16alpha84.

###### Debug info
AnkiDroid Version = 2.16alpha85

Android Version = 12

Manufacturer

[2022-09-22 19:47] criticalAY commented on #12487
Thankyou!

[2022-09-22 19:48] criticalAY commented on #12487
@BrayanDSO I have fixed this. How to test it? Practical conditions so that I can test and make a PR.

[2022-09-22 23:47] dae commented on #12490
The file appears to be non-zero before it's passed to the intent, so I suspect it's some sort of issue with the intent system such as inadequate permissions, or the file being located in an inaccessible place.

[2022-09-22 23:50] dae commented on #11845
Thanks pavreh. Turns out that I was testing with the wrong schema before - there are two ways to toggle it, and I'd changed one but not the other.

[2022-09-23 00:10] dae commented on #12477
Are you able to share the .apkg for the second issue?

[2022-09-23 05:25] krmanik commented on #12477
Sure, The zip file contains the deck. The deck does not contain audio file for the words.
[Test Deck.zip](https://github.com/ankidroid/Anki-Android/files/9630882/Test.Deck.zip)

[2022-09-23 05:32] dae commented on #12477
Still can't reproduce :-( I imported that into new schema+no v3, tapped on Test, and it showed me a card.

[2022-09-23 05:34] krmanik commented on #12477
Okay, I am again check the exact steps for it and update here.

[2022-09-23 05:53] krmanik commented on #12477
I think there should card template errors because after some changes to card templates I also did not get the errors. This deck causing `review finished` bug.

[review finished bug.zip](https://github.com/ankidroid/Anki-Android/files/9630994/review.finished.bug.zip)

Another exception when subdeck exported and imported, wit both v3 and new schema off.
[new__test deck.zip](https://github.com/ankidr

[2022-09-23 10:55] Arthur-Milchior opened #12495 "Access collection through `withCol`"
Essentially, access to the collection (the way ankidroid stores almost all its information) has changed in Summer 2022.
We have more than a hundred access to the collection that needs to be corrected. Good news is that most of those changes should be simple to do, and you can work on any of them without having to ask. Just do one change, check that tests still works, send the Pull Request, and hop

[2022-09-23 10:58] Arthur-Milchior commented on #12439
I edited the original post so that it reflects that this issue is for discussion between reviewers and keeping track of the decision, and created #12495 for contributors to discuss migration itself (in the hope that new contributors can help without the need to understand the whole discussion and disagreement details)

[2022-09-23 11:51] criticalAY commented on #12364
We are still working on it, right?

[2022-09-23 12:04] mikehardy commented on #12364
@criticalAY - if you are looking for status updates, as mentioned before directly to you, with explanation, basically don't unless it really has been a while and then do so on the PR directly. But please note 2 days is not a while, and that's the timestamp on your last comment.

There will be periods of time, sometimes long periods, when no one is working on anything. It is a volunteer project and

[2022-09-23 12:07] oakkitten commented on #12439
My two uneducated cents.

In many cases `withCol` will work fine, but in others you want to get the data in sync. You may have a `FragmentManager` trying to recreate a dialog *now*, or you can have a `RecyclerView` that is going to be visible on the next frame and its adapter needs data. If you can't get data in sync, you have to work around these issues, maybe trying to delay the display of the d

[2022-09-23 12:38] criticalAY commented on #12364
Yes, I am aware of that fact as I already asked that on DC here just the issue of whether it's still up or dumped.

[2022-09-23 12:52] Arthur-Milchior commented on #12439
And I [just](https://github.com/ankidroid/Anki-Android/wiki/Accessing-the-collection/_compare/965178d1b0abfad18771eccfc462f5d6889de663...fb8480146c935f4e7f4192afadc0d613c9bcca2c):
* removed the part about caching (since it seems it's a bad idea)
* added a note about `runTest`

Thanks a lot @dae for the review and correction.

[2022-09-23 13:16] mikehardy commented on #12364
If any decisions are made, they will be communicated, so no communication means no decision + no progress --> have patience please.

[2022-09-23 17:29] Arthur-Milchior commented on #12363
Agreed with David. Searching for the empty string should be equivalent to "deck:SelectedDeck" with the SelectedDeck from the spinner

[2022-09-23 17:43] criticalAY commented on #12480
Hey! There is a whole function created for this in Deck Picker if I am not wrong.
[code]
So is it ok to fix it and go to the main Anki Screen once the deck is created?

[2022-09-23 17:45] #11755 closed

[2022-09-23 19:59] criticalAY commented on #12480
Hey! I am working on it and exploring the FilteredDeckOptions

[2022-09-23 20:34] criticalAY commented on #12480
@BrayanDSO But if we set up home as default display on back pressed then if we open the deck/ filtered deck again won't we be redirected to home itself from there rather the fragment (which I think is required).

[2022-09-23 21:08] BrayanDSO commented on #12480
I am sorry, but I can't get what you are trying to say.

[2022-09-23 21:15] criticalAY commented on #12480
I am saying that step 4 is necessary because when we access the filtered deck from the deck list then the back button should take us to the study option fragment which it does. We can not say it is there for no reason?

[2022-09-23 21:23] BrayanDSO commented on #12480
The issue is about when you create a filtered Deck. Not when you open an existing filtered deck in the deck picker

[2022-09-23 21:40] criticalAY commented on #12480
Ok got it

[2022-09-23 23:06] #12477 closed

[2022-09-24 01:02] BrayanDSO opened #12501 "Don't fail CI test checks if there is a problem with codecov"
Recently, CI failed all tests on some PRs because codecov wasn't working properly.

https://github.com/ankidroid/Anki-Android/actions/runs/3115685897/jobs/5052825368

https://github.com/ankidroid/Anki-Android/actions/runs/3115932407/jobs/5053310353

https://github.com/ankidroid/Anki-Android/actions/runs/3116181185/jobs/5053787858

As codecov isn't essential to the tests output, the whole check sho

[2022-09-24 03:39] dae commented on #12477
Thanks @krmanik, a fix for this will be in 2.1.55

[2022-09-24 04:43] dae commented on #12439
Thanks for making those edits @Arthur-Milchior . Regarding https://github.com/ankidroid/Anki-Android/issues/12495, it might be worth holding off on requesting such changes at the moment. While I think it does make sense to encourage usage of withCol in new code/when the code has to be updated anyway (eg @divyansh-dxn's migration of tasks to coroutines), as @BrayanDSO mentioned on https://github.co

[2022-09-24 05:49] #11878 closed

[2022-09-24 09:00] #11845 closed

[2022-09-24 09:18] divyansh-dxn commented on #10489
Keep open

[2022-09-24 09:40] krmanik commented on #12477
Thanks for the fix.

[2022-09-24 11:37] oakkitten commented on #12439
You *could* do that, and RecyclerView will animate the change for you if you do it right, but:

* It works best if the rows are the same size before and after fetching data. Otherwise, you will see resize animation
* In the case when the RecyclerView doesn't span the height of its container, you'll will see its size suddenly change with new data, and you will have to animate that too
* Since in mo

[2022-09-24 13:43] Arthur-Milchior commented on #12495
Closing it for now. May be worth using it later

[2022-09-24 13:43] #12495 closed

[2022-09-24 23:46] dae commented on #12439
But that's not true - any subsequent operation performed on the collection may also take time to complete, as the data may need to be read from storage, or another operation may already be running. When you talk about immutability, I'm guessing you're talking about caching the objects in memory? It's not feasible to store the entire collection in memory, and even if it were, there would be an init

[2022-09-25 04:51] #12501 closed

[2022-09-25 07:55] snowtimeglass commented on #12480
Just to confirm, does "the study options screen" mean the following deck overview screen?
![image](https://user-images.githubusercontent.com/10436072/192133605-7981c508-7f89-4cc2-83fa-630ccb5d638c.png)

[2022-09-25 10:42] BrayanDSO commented on #12480
Yep. Exactly that one

[2022-09-25 11:02] #12487 closed

[2022-09-25 12:57] krmanik opened #12504 "Option add multiple fonts to reviewer using custom fonts"
**Is your feature request related to a problem? Please describe.**
AnkiDroid provides option to add custom fonts. The fonts file added to `AnkiDroid/fonts` dir and using `Settings -> Appearance -> Fonts` preference, the fonts can be set to use in reviewer, editor and browser. But only one custom font can be used in reviewer so there should be option to multi select fonts that can be used in review

[2022-09-25 13:21] oakkitten commented on #12439
Oh, I was under impression that actually getting the list of decks doesn't perform any queries, I see that this is only true for the legacy backend. In that case, yes, I guess what I'm talking about is caching certain information about the collection.

I think caching even a little may go a long way. For instance, for the main activity you could cache (or post a sticky event with) the list of deck

[2022-09-25 14:07] mikehardy commented on #12439
Every item in that list is potentially unbounded

[2022-09-25 15:32] oakkitten commented on #12439
You've got to have the full list of decks to easily display it, so if it takes too much RAM it will cause a problem either way. Maybe caching loses if you've got millions of decks *and* millions of tags at the same time—but if the user decides that they need all of that, that's really on them 😛

Anyway, if you only cache names, for 1000 decks names of 100 characters each that's what, 100KB + whate

[2022-09-25 20:10] divyansh-dxn commented on #12490
Happened with me as well.

[2022-09-25 20:33] divyansh-dxn commented on #12490
https://user-images.githubusercontent.com/69595691/192163839-9b4d1709-716e-48df-8423-b5bc7487bbde.mp4

For me it happens only when I export using Android's system file manager, with other app (CX File Explorer) it was exported correctly. @pavreh Can you try using other explorer or save with any other method (emai, drive...etc) and let us know?

[2022-09-25 21:27] dae commented on #12439
I don't think caching is really relevant when discussing the usefulness of asynchronous I/O, since you can't cache everything, and since I/O can stall before the data is cached. Also bear in mind that SQLite has a page cache, so reading things like deck names (and all the other info such as collapsed state and cards done that day that is actually required to render the deck tree) often does not in

[2022-09-25 23:07] vinaydeepkaur commented on #8917
Can you please guide me what I need to do in this issue? I have learnt what lint rules are and how to implement them. I could locate the lint-rules directory in the code base. I am assuming I have to create a kotlin file in the lint directory and write a Detector class but I dont know what it has to detect.
Am I thinking in the right direction? Can you please elaborate on what I should do or redir

[2022-09-25 23:39] oakkitten commented on #12439
I was saying that perhaps caching just a few select things would be very helpful, but if SQLite page cache means that I can get the list of decks fast and in sync, that's great.

[2022-09-26 03:41] pavreh commented on #12490
When I tap Export - Send, it offeres two methods only, Bluetooth and Files. I am not able to send it by email or save it to G. drive. I use Samsung My Files as a file manager.

[2022-09-26 11:38] #11834 closed

[2022-09-26 14:16] n1snt commented on #12364
I'm currently working on `PackageManager.resolveActivity` deprecation.
There is one instance of it in `AdaptionUtil` which is used for checking if the device is running MIUI.
Can anyone please help me out in testing it? (Testing it using Timber)
I'm unable to get that part of the code to execute.

[2022-09-26 18:36] oakkitten commented on #12363
Whenever I try searching for an empty string by pressing the magnifying glass icon in the keyboard, the keyboard stays, indicating that no search is performed. This seems to be [deliberate behavior](https://stackoverflow.com/questions/13576283) of `SearchView`. So I am not exactly sure how to reproduce this issue?

[2022-09-26 21:33] oakkitten commented on #12363
...Following the discussion on discord, given that you can't perform a search with an empty string, I would suggest closing this. It is possible to allow searches with an empty string using one of the workarounds in the linked SO question, but I don't think that the extra complexity is worth it.

[2022-09-27 06:57] oyeraghib commented on #8315
@david-allison What do you think about introducing DataStore Preferences now? As now we have introduced Coroutines, I feel like it may be somewhat beneficial to introduce DataStore Preferences so we can perform these operations asynchronously in background.

[2022-09-27 08:02] #12475 closed

[2022-09-27 16:01] david-allison commented on #8315
Intuition is that the async overhead will be slower than a memory read.

Very happy to do a performance test and see if I'm incorrect here.

[2022-09-27 16:01] david-allison commented on #8315
Intuition is that the async overhead will be slower than a memory read.

Very happy to do a performance test and see if I'm incorrect here.

[2022-09-27 17:47] #11004 closed

[2022-09-27 20:41] #9482 closed

[2022-09-28 07:22] ahmedbenarab opened #12519 "Blanc empty cards"
I can't see some cards either the front nor the back
It shows nothing , as shown in the photo below
![Screenshot_20220928-081337](https://user-images.githubusercontent.com/21174375/192713964-788293ce-3fe6-465d-bf07-cc058d0e2675.png)

This issue i figured it out in many previous stable versions, and it still present in the beta version too
I am using android 7.1

[2022-09-28 09:20] mikehardy commented on #12519
Can you please open a new issue, but this time do not delete the issue template that asks you for information we need to help? Much better to fill it in.
Also, we'll need to see the contents of the card template to know why display is not working.
You might try the most recent alphas to make sure it's not fixed in recent releases (they are far far more advanced than any currently released betas ht

[2022-09-28 09:20] #12519 closed

[2022-09-28 11:42] krmanik opened #12521 "Deleting notes type from from Manage Type does not update or remove the deck"
###### Reproduction Steps

1. Open options menu and click Manage Note type
2. Select note types to remove
3. Go to deck picker

###### Expected Result

If all notes removed then remove the deck or update the deck status

###### Actual Result

The notes removed but deck is not removed

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get

[2022-09-28 13:53] #11856 closed

[2022-09-28 15:22] user1823 commented on #12474
Similar issues are there with the sort options in the Note Browser:
![Screenshot_20220928-205012](https://user-images.githubusercontent.com/92206575/192819344-8c58fec9-c08a-499f-8a52-2c174d8e5a90.jpg)
![Screenshot_20220928-205007](https://user-images.githubusercontent.com/92206575/192819347-8c7e10f3-b14f-482d-af30-4e097aa9e7a1.jpg)

[2022-09-28 21:07] ahmedbenarab commented on #12519
ah yeah , i will open a new issue
ps: i didn't delete the templet btw , just it doesn't apear when i entered from the anki help link
ps: i am using the latest alpha version

[2022-09-28 21:23] ahmedbenarab opened #12526 "[Bug] Blanc empty cards (detailed)"
## Le-continue of the [last issue](https://github.com/ankidroid/Anki-Android/issues/12519)
###### Reproduction Steps

1. opening a deck that contain some cards
2. nothing show on front nor back
3. i tried to change some settings like : toggling the hardware render , the safe display mode , allow files in media imports ... but non seems to fix the prob
4. it seems like this issue appears just with

[2022-09-29 00:38] andrevaz1 opened #12527 "[Bug]"
###### Reproduction Steps

Good evening everyone, there is an error with the statistics, it does not appear in the entire deck, and in the deck all decks are duplicated

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm

[2022-09-29 00:38] #12527 closed

[2022-09-29 00:40] andrevaz1 opened #12528 "[Bug]"
###### Reproduction Steps

1. Good evening everyone, there is an error with the statistics, it does not appear in the entire deck, and in the deck all decks are duplicated

###### Expected Result

###### Actual Result

###### Debug info

###### Research

[2022-09-29 00:41] andrevaz1 commented on #12528
Good evening everyone, there is an error with the statistics, it does not appear in the entire deck, and in the deck all decks are duplicated

[2022-09-29 12:29] mikehardy commented on #12526
This part is really important

[2022-09-29 12:30] mikehardy commented on #12519
@ahmedbenarab very strange regarding the template not showing up when you use the anki help link, we'll have to investigate that

[2022-09-29 12:35] mikehardy commented on #12528
Hi there!

The current implementation of statistics in the released version will see no further development.

In the 2.16 series (which I encourage you to try, you may get it here: https://github.com/ankidroid/Anki-Android/releases) has the Anki Desktop statistics package built in to it, and you may access that by going to settings -> advanced and turning on "new schema support"

At that point you

[2022-09-29 12:35] #12528 closed

[2022-09-29 15:43] #11723 closed

[2022-09-30 08:23] JalinWang commented on #12468
Hi~ Any suggestions on how I could open the `Media sync screen` or enable `new schema`? I looked around for a couple of minutes and had no idea.
Does `new schema` always refer to `new backend`?
![image](https://user-images.githubusercontent.com/20621784/193226247-bce4a8c3-7d30-4be1-8f9c-c0a93cc399df.png)

[2022-09-30 09:01] criticalAY commented on #12364
Can we please review the last two PRs?

[2022-09-30 10:51] BrayanDSO commented on #12468
Indirectly, yes. The new backend enables the new Anki SQL schema, although it may not be appropriate to interchange the terms sometimes

[2022-09-30 11:55] Avinash071 opened #12537 "Use Markdown to highlight text"
Markdown support would be great to highlight important parts of the text in between lines.

[2022-09-30 14:07] Arthur-Milchior commented on #12537
Hi @Avinash071.
AnkiDroid follows Anki behavior. So you'll need to ask it on https://forums.ankiweb.net/
If anki accepts it, personally, I'd be delighted; I entirely agree with you, in a lot of case, markdown would be far better than what we currently have.
Once you have created a post there, please let me know, I'll be interested to follow the discussion

[2022-09-30 14:11] Arthur-Milchior opened #12538 "Change the number of back-up in ManageSpace"
In the Manage Space part of the application, as described in #12366, we should add an option to let the user chose the number of back-ups. We can reuse code that already exists and implements this task in the settings. This option should also states how many back-ups they are currently and the size of the biggest one (Normally, most back-up should have approximately the same size)

This issue is N

[2022-09-30 14:15] Arthur-Milchior opened #12539 "Check Media in ManageSpace"
In the Manage Space part of the application, as described in https://github.com/ankidroid/Anki-Android/issues/12366, we should allows the user to do "check media", and, if any unused media is found, delete them.
We can reuse code that already exists and implements this task in the settings. This option should also states how much storage the medias take.

If there is no collection (e.g. it was del

[2022-09-30 15:53] Arthur-Milchior opened #12540 "Delete everything in manage space"
In the Manage Space part of the application, as described in https://github.com/ankidroid/Anki-Android/issues/12366, we should allows the user to delete everything.

The work is already being done on #12371 , so this issue is here only so that we can track this menu option separately from the general ManageSpaceActivity issue.

[2022-09-30 15:56] Arthur-Milchior commented on #12366
I created three sub issues for three actions that relates to managing spaces.
None of the other items suggested above are related to managing spaces. I really don't believe we have any reason to do more than what we are asked for by Android. That'll be more work to maintain, more risk of bugs, and don't add values compared to doing the same tasks in AnkiDroid.

[2022-09-30 17:17] mikehardy commented on #12540
The work is not quite done - there's quite a bit of change that needs to happen in the *actual* implementation of deletion there per review - https://github.com/ankidroid/Anki-Android/pull/12371#discussion_r984227859

[2022-09-30 17:18] mikehardy commented on #12366
Agreed - thanks @Arthur-Milchior

[2022-09-30 17:31] Arthur-Milchior commented on #12540
I beg your pardon. I rephrased.
My point was actually that we are not looking right now for someone to start this project, as it's started

[2022-10-01 05:20] santiyounger commented on #10411
thanks @mikehardy appreciate it, so far so good. I upgraded to v3 on ankidroid (and on windows) and from what I can tell no issues so far. Also, the new interface for ankidroid is amazing, really enjoying it! Keep it up, amazing work!

[2022-10-01 07:17] siju-s commented on #12451
Hi. If no one is working on this, can I take this one?

[2022-10-01 07:19] siju-s commented on #12364
I will work on `PackageManager.getPackageInfo`.

[2022-10-01 08:13] divyansh-dxn commented on #11963
keep open

[2022-10-01 09:00] driuft commented on #12451
@siju-s Go ahead and take this 👍

[2022-10-01 10:34] mahmood199 commented on #12539
Would like to work on it.
Researching and Looking at the code that does this right now.

[2022-10-01 10:45] user1823 opened #12542 "[Crash] Moving a card to another deck results in crash"
###### Reproduction Steps
I am not able to reliably reproduce this but following the below steps causes a crash on many occasions.

1. Open the card browser.
2. Search for a card (using the search bar) and select a card.
3. Choose Change Deck option and select the desired deck.

###### Expected Result
The card moves to the chosen deck and no crash occurs.

###### Actual Result
The card moves to th

[2022-10-01 13:23] mikehardy commented on #12542
Hey there 👋 - sorry that's happening, thanks a bunch for taking the time to log a report with the crash report / ACRA UUID

Your install is here https://ankidroid.org/acra/app/1/installation/c6a580cb-02cc-4970-b7a5-24615e6542e1/report

I see a couple different types of crash

I think this is the one you log here: https://ankidroid.org/acra/app/1/bug/15206/report/6a6b4485-b245-486e-9213-ec99a14d626

[2022-10-01 14:07] Vedant755 commented on #12474
Can I work on the issue? I am a newbie and this seems to be good to test my skills as much I have learned so far in Android!

[2022-10-01 14:37] freMea commented on #9941
I confirm it fixed my issue on custom ROM A11. `/sdcard/Ankidroid` used to work fast in Android 9 but incredibly slow on A11.

Another thing is to allow write Anki database in app permission. If not allowed, it will lag even worse.

[2022-10-01 14:38] Arthur-Milchior commented on #12539
In case it was not clear by looking at the issue linked above; the managed space is already started in https://github.com/ankidroid/Anki-Android/pull/12371
It won't be merged as-is, but it's a good-start. You can pull this branch, and work yourself on adding this extra feature.

[2022-10-01 15:45] pratyaksh1610 commented on #12542
I'll take this.

[2022-10-01 17:12] n1snt commented on #12364
I'm actually already working on PackageManager interfaces.

[2022-10-01 18:10] mahmood199 commented on #12539
`We can reuse code that already exists and implements this task in the settings.`

By this do you mean to resuse the functions from abstract SettingsFragment? Please clarify

[2022-10-01 18:13] Arthur-Milchior commented on #12539
We already have a "check media" that can be accessed from the DeckPicker. You can reuse the same function. Actually, you should reuse the same function, and not implement a new "check media" yourself.
However, I do not know exactly where it is implemented. Finding it is part of the task, I guess

[2022-10-02 07:30] krmanik commented on #12521
I am closing it because it is expected behaviour in Anki also.

[2022-10-02 07:30] #12521 closed

[2022-10-02 08:07] pavreh opened #12552 "Show a snackbar instead of a toast"
There is a list of actoins which show a toast but a snackbar should be shown

Card browser -> select a card ->
- Reposition card
- Reschedule card
- Reset progress
- Change deck -> Create a new deck -> Created deck

Deck picker -> long tap on a deck ->
- Rename deck
- Create subdeck

Settings
- Sync -> Force full sync -> OK
- About -> Copy debug info

_Originally posted by @criticalAY in https://g

[2022-10-02 09:04] pratyaksh1610 commented on #12552
I'll take this .

[2022-10-02 10:20] marcodallagatta commented on #11982
I was going to open a request to implement a "follow system" setting but it appears I'm the only one not having it... All I see in appearance regarding the theme are "Day Theme" and "Night Theme", but the only place where I can switch between themes is in the pullable hamburger menu, where there's a night mode toggle.

[2022-10-02 10:41] krmanik commented on #12504
This is also already available so it is not required to implement. Just copy & paste fonts to `AnkiDroid/fonts` dir and use it in card template.
For e.g.
[code]

<img src="https://user-images.githubusercontent.com/12841290/193449858-e69da9ff-2c1d-4cc7-a94e-f9fd274d0007.png" height="450px"></img>

[2022-10-02 10:41] #12504 closed

[2022-10-02 10:48] BrayanDSO commented on #11982
@marcodallagatta Try using one of the latest alpha versions https://github.com/ankidroid/Anki-Android/releases

[2022-10-02 11:57] marcodallagatta commented on #11982
Thank you, works with this alpha! Although I can attest the bug reported in this issue is happening on my device, too.

[2022-10-02 13:21] reyaz006 opened #12553 "[Bug] New cards indication bug"
###### Reproduction Steps

1. Import a deck. It shows "20 0 0".
2. Do a full session.
3. The deck still shows "20 0 0".
4. Try to do a session again right away. It does not allow that and says "Congratulations! You have finished for now."
5. Check AnkiWeb. It shows "0 20" and allows to do a session.
6. If stopped before finishing a session, saved and synced, AnkiDroid will allow to proceed with th

[2022-10-02 16:19] oakkitten opened #12554 "Browser chips"
This is a brief summary of my attempt to bring in [chips](https://m3.material.io/components/chips/overview) to Browser. These chips behave similarly to chips in Gmail and replicate most of the functionality of the sidebar in Anki.

The implementation is [here](https://github.com/oakkitten/Anki-Android/tree/chips), see the few last commits. It's currently not PR quality, is presumably blocked by co

[2022-10-02 19:39] criticalAY commented on #12363
I am closing this issue as it seems things are good to go. Thanks!

[2022-10-02 19:40] #12363 closed

[2022-10-02 19:42] criticalAY opened #12559 "Help: Back on dialog"
Shouldn't be be getting back to the main screen if we press somewhere else other than the dialog. Like as of now we get to the previous dialogue if we click outside the dialog box. https://user-images.githubusercontent.com/48384865/193473133-bf5aecaa-f15d-4680-9593-dedc4f940925.mp4

[2022-10-02 20:24] mikehardy commented on #11982
...and of course you still need the widget to get notifications, so a bit of a conundrum on that one. I swear we'll have great notifications at some point in the future...

[2022-10-02 20:38] mikehardy commented on #12553
Well...that's concerning.
Can I ask a favor? Can you try to reproduce this, after going in to settings -> advanced and enabling the v3 scheduler?
That will mean we're definitely all working on the newest scheduler code (shared with Anki Desktop! So I'll be very surprised if this still happens, but we really want to know if so...)

Great problem report by the way - with the description and the debu

[2022-10-02 22:34] reyaz006 commented on #12553
v3 scheduler was enabled before the first step. I assumed it was included in the debug info.

[2022-10-03 00:19] mikehardy commented on #12553
Yep - we log it in debug info :-)

[2022-10-03 00:35] Arthur-Milchior opened #12562 "[Bug] When reducing the number of back-ups, delete extra back-up."
###### Reproduction Steps

0. check in ~/ankidroid/backup that you have N back-ups.
1. open settings > advanced > max number of back-ups.
2. Lower the numbers to N-2
3. confirm those new settings, close them normally, etc...
4. Go to ~/ankidroid/backup

###### Expected Result

There should be N-2 back-ups

###### Actual Result

There are N bakc-ups.

[2022-10-03 02:38] dae commented on #12562
In the new schema path, thinning happens each time a new backup is created.

[2022-10-03 04:23] mikehardy commented on #12562
Interesting @dae - but what if the user does not want to create a new backup, yet wants to reduce storage consumption by lowering backup count. If I were that user I would have the expectation it would thin the backups immediately without rotating an extra slot via creating a new backup right then.

Is there a new schema way to do thin without creating a new backup?

[2022-10-03 04:51] dae commented on #12562
There's no separate API to just do the thinning, but I was not entirely accurate in my last statement: thinning happens each time you call createBackup(), which if force=false, will not create a new backup unless it's time for one.

[2022-10-03 08:04] Arthur-Milchior commented on #12562
For the context, Android requires us to create an activity offering the user to save space. So I guess adding a `createBackup` call should solve the issue after the number of back-up was reduced.
I guess it'll okay if the feature only start working when we have the new back-up

[2022-10-03 09:24] camerooncameroon opened #12564 "Shorten Hint Field displayed text (before clicked) - truncate 'Show' part, only leaving field name"
**Is your feature request related to a problem? Please describe.**
When you add a hint field, it displays as "Show _FieldName_". It takes a lot of space on mobile screens.

**Describe the solution you'd like**
Truncate the 'Show' part from the unclicked hint (like in Anki Desktop, where only field name is displayed).

**Describe alternatives you've considered**
I tried html collapse/expand code, b

[2022-10-03 12:27] lukstbit commented on #12559
Normally yes, but there we have a hierarchy of dialogs and I think it makes sense to go back the the previous dialog even on tap outside. Ideally this part should be refactored to avoid the double dialog situation but there are more important things to tackle right now.

[2022-10-03 18:28] camerooncameroon commented on #12564
@BrayanDSO
Thanks!
Hope your code will be included into the next update of AnkiDroid.

[2022-10-03 21:14] mikehardy commented on #12562
Sounds like createBackup + force=false is perfect after the user selects the quantity they desire
If it *does* create a backup, it was time anyway, that seems acceptable to me
Either way, old backups are thinned and space is as user requested

[2022-10-03 21:32] mikehardy commented on #12559
I disagree on a tap outside only going back, as an android user, if I tap outside a dialog I expect it to dismiss the dialog in almost all cases, and I don't see why the dialogs here would be an exception? I think this is a valid issue

[2022-10-04 05:22] oyeraghib commented on #12559
I would like to work on this, if no one has started yet.

[2022-10-04 05:24] lukstbit commented on #12559
@oyeraghib I think @criticalAY intended to work on this as he opened the issue, so lets wait a bit.

[2022-10-04 05:38] oyeraghib commented on #12559
sure!

[2022-10-04 10:37] criticalAY commented on #12559
Yes! I am on it but if I am running out of time or something I will let you know and you can overtake it @oyeraghib

[2022-10-04 10:43] oyeraghib commented on #12559
Sure, there is no rush. Take your time :)

[2022-10-04 10:54] oakkitten commented on #12559
Istead of trying to fix it, I would suggest replacing the recursive help dialog with a single bottom sheet dialog with a directory tree structure. This doesn't have too many items, so it will make things easier to find, and we (may soon) have the infrastructure to do this with minimal code.

Alternatively, put all the help of information in a HTML page and display that.

[2022-10-04 12:23] jellybeansenjoyer commented on #12552
I ll also like to take this

[2022-10-04 13:12] criticalAY commented on #12559
Okay let's see

[2022-10-04 14:57] heitorPB opened #12578 "[Bug] Incorrect statistics report for complete collection"
###### Reproduction Steps

1. go to statistics
2. select "All Decks" and "deck life" for time
3. Check the average cards added by day and manually do the math with your total cards and days studied. They don't match.

###### Expected Result

In my case: ~4 new cards added per day

###### Actual Result

I have ~4k cards and I've being studying for ~1k days, this gives an average of ~4 new cards/day

[2022-10-04 15:18] mikehardy commented on #12578
Hey there - this statistics page is going to be removed completely within short order - the new way to do statistics will be to use the AnkiDesktop code directly, and we have done so already -

1- grab the latest release: https://github.com/ankidroid/Anki-Android/releases
2- go to settings -> advanced and turn on the "new schema support"
3- examine the new statistics, they should look the same as

[2022-10-04 15:18] #12578 closed

[2022-10-05 00:33] Koudinka opened #12579 "Job"
https://webmail.fnmotol.cz/

[2022-10-05 00:34] #12579 closed

[2022-10-05 00:43] TomerPacific commented on #12472
@mikehardy , I'd like to help out with this.
Anything I should know before getting started?

[2022-10-05 08:05] pratyaksh1610 commented on #12552
@jellybeansenjoyer Currently I am addressing the first four, you can take the others if you want to.
Thanks.

[2022-10-05 13:17] Arthur-Milchior opened #12582 "Reorganizing the code tree."
I'd love to do some cleanup in the code tree. I find it very confusing, even after almost 3 years working in it.

Right now, this issue is up for discussion, we are not expecting anyone to do anything until there is a consensus. The first question is whether you agree that it's, on principle, something worth doing, whether you oppose it, or whether you don't care (I'm not asking whether you want t

[2022-10-05 13:22] lonewolf2208 commented on #12542
Hey @pratyaksh1610 if you are not working on this issue . I would like to take on this

[2022-10-05 14:23] SySagar commented on #12559
hello @criticalAY if you are not working on this , I will like to take it up.

[2022-10-05 15:48] criticalAY commented on #12559
Ahh I am on it.

[2022-10-05 16:29] pratyaksh1610 commented on #12542
@lonewolf2208 Since it is good for first, you can work on this if you want to.
Thanks.

[2022-10-05 17:23] lonewolf2208 commented on #12542
Thanks @pratyaksh1610  , I am eager to work on this issue . Hey @mikehardy can you assign this to me ?

[2022-10-05 17:25] pratyaksh1610 commented on #12542
@lonewolf2208 I think you can leave a comment saying that you are working on this , and raise a PR for the same 👍

[2022-10-05 17:50] #11942 closed

[2022-10-05 19:20] 7avocado opened #12583 "[Bug] Anki app (newly installed) keeps crashing at login attempt"
###### Reproduction Steps

1. Clicking on AnkiApp and entering AnkiApp login credentials
2. Hit Login
3. Get message 'loading data'. and crash.

###### Expected Result
login successful, using the app

###### Actual Result

 AnkiApp doesn't get past login screen and crashes instead. Next a pop-up display comes up that say "AnkiApp keeps stopping'. It gives options to get app info/close app/send fee

[2022-10-05 19:53] mikehardy commented on #12583
"AnkiApp" is not AnkiDroid

This: https://play.google.com/store/apps/details?id=com.ankiapp.client&hl=en_US&gl=US - is a poorly implemented clone made only to get money

you want AnkiDroid https://play.google.com/store/apps/details?id=com.ichi2.anki&hl=en&gl=US free forever and always has been, and *should not* crash, although the version in the play store has problems for some people. No worries

[2022-10-05 19:53] #12583 closed

[2022-10-05 21:58] oakkitten commented on #10683
Still an issue.

A proper fix would be stopping handling orientation changes, as well as other changes.

[2022-10-06 08:45] #9978 closed

[2022-10-06 09:18] reyaz006 commented on #12553
It seems that solves the problem. Also noticed that skipping a day does not increase the number of new words for next session, which might have been the major point in most complains.

Thanks!

[2022-10-06 13:08] MohitGupta121 commented on #12251
So I have to fix it with other way? Right?

[2022-10-06 13:12] krmanik commented on #12251
Wait for AnkiDroid maintainers to have a look on the issues.

[2022-10-06 13:20] MohitGupta121 commented on #12251
Yes sure, I'll wait for their response.

[2022-10-06 14:01] mikehardy commented on #12251
I don't have time to thoroughly review the related PR because it is more subtle than it seems.

Here is a related change: https://github.com/ankidroid/Anki-Android/commit/805b923be6e141e15e83b3e5e87abad819ea2aff

What's happening?
- USE_INPUT_TAG and a javascript implementation in card.js + AbstractFlashcardViewer was created for API >= 15
  - note: we are minSdkVersion 21 now, so we may be able t

[2022-10-06 14:05] MohitGupta121 commented on #12251
Okay I'll check that and follow that.

[2022-10-06 16:08] n1snt commented on #12582
I strongly agree with the 2nd point you have mentioned in the doc to add a README.md in each directory.
This could help a lot of new contributors know what is located where.

[2022-10-06 17:59] ahielg commented on #11569
still searching for solutions

[2022-10-06 19:45] mikehardy commented on #11569
This bug had no actual title, the steps to reproduce are not enumerated in one single spot, and I don't recall any feedback to my suggestion of trying the latest alphas, which is why this is stale.

[2022-10-06 20:41] divyansh-dxn commented on #12582
One more common approach is to have packages divided into data-domain-ui layers.
The data package would have the codes related to sqlite and backend
The mid processing like mapping, computing something like deck tree, building cache, etc can be put in domain
And UI as name suggests would be having all the activities and fragments. Maybe at this point of time we can include view models as well

Sor

[2022-10-06 20:55] ahielg commented on #11569
You are right, I was sure the alpha version is already in the play store.
But now I noticed that when there is a red dot on the sync button, it will not disappear if you sync using pull down the screen.

[2022-10-06 21:16] Arthur-Milchior commented on #12582
I don't understand what you are sorry about. I'd be extremely happy to read other suggestions; I want this to occur only once by decade; so let's do it right. This can even wait for after GSoC, as I know you have other priorities right now.

Clearly, right now, I'm biaised by work, where each folder contains together the controler, the coordinator, the delegate(s) if any, and the mediator. But it'

[2022-10-06 21:40] mikehardy commented on #11569
Okay - diving even more deeply into that, there's a new code pathway for sync even inside 2.16 that is not enabled for everyone yet but has received a good bit of testing. Reproducing behavior on the old pathway will not mean much since it will be retired - so if you go into settings --> advanced and turn on "new schema support", that is the gold standard for testing sync-related items.

We are aw

[2022-10-07 02:13] doozan opened #12594 "Alpha 85 parallel release script ran out of heap space during build, and failed silently during publish"
[code]

[2022-10-07 10:14] pratyaksh1610 opened #12595 "Inconsistent colour of hyperlinks"
###### Reproduction Steps

Hyperlinks should follow a color scheme.

1. Settings -> About
2. Settings -> About -> Open changelog

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/h

[2022-10-07 14:03] Yoannjap opened #12597 "Implement in AnkiDroid Card editor a search-bar with autocomplete"
I use AnkiDroid 90% of times (Anki desktop 10%) to edit or create my shared decks cards.
However, for very advanced decks, there are at least 50 different fields. I renamed each one well and with coherence in order to find them out more easily.
However scrolling over and over is a bit straining!

Indeed, implement in a next AnkiDroid version a search-bar letting search field names, and focusing th

[2022-10-07 15:11] mikehardy commented on #12594
Huh - very unexpected, the process is fully automated and has been forever, surprising it didn't work. So, not to say I don't believe you and an md5 collision would be ridiculous but just to be sure, yep, they are equivalent:

[code]

:thinking:

2.16alpha84 does not suffer the same problem:

[code]

Ahh - the build itself failed (silently! so that's a bug in the script) while making the parallel

[2022-10-07 15:17] mikehardy commented on #12594
Task list:

- Add a bit more output prior to each step in the release script so the logs are easier to follow (pre/post build, pre/post upload)
- remove the git checkout after universal APK build (https://github.com/ankidroid/Anki-Android/blob/0467850e5034b27ff0cc3fa3e87ccf3cc60d80c2/tools/release.sh#L129-L131) as we don't abort releases anymore
- Make sure that a failure in the parallel release s

[2022-10-08 19:22] TomerPacific commented on #12472
@mikehardy,
I've tried reproducing the crash with the steps mentioned, but am not seeing it.
I also tried adding a deck with cards and a tag and seeing if that causes the crash as well.

Is there something I am missing?

Also, it seems like the line numbers from the stack trace don't actually correspond to the lines in the class itself.

[2022-10-08 20:07] mikehardy commented on #11091
Strange one, only turning up on macOS runner unit test workflow (which gives me a hunch it is timing-related, as that runner is bare metal so should be faster, maybe exposing unexpected race conditions)

[code]

This one was of interest to me because that's my library, and I honestly cannot see how the executor there can ever be null.

UsageAnalytics must have been initialized or the analytics sys

[2022-10-08 21:34] mikehardy commented on #12472
in release mode the line numbers are sadly obliterated, so no - those are not meaningful and you're not just imagining it

bummer that you are not able to reproduce - I just tried it myself from current main branch and I am also not able to reproduce this.

Perhaps it is related to the collection in use and the tags in that collection :thinking: ? Perhaps it only happens on an android API24 device

[2022-10-08 23:57] #12594 closed

[2022-10-09 00:54] mikehardy commented on #12594
Thanks for the heads up on that one, silent failures are the worst! All fixed.

[code]

[2022-10-09 05:58] pavreh opened #12606 "[Bug] "Card marked as leech" snackbar shows on top of answer buttons"
###### Reproduction Steps
1. Tap again during review so the card is marked as leech

###### Expected Result
The snackbar appears above answer buttons like other snackbars

###### Actual Result
The snackbar covers answer buttons

###### Debug info
AnkiDroid Version = 2.16alpha86

Android Version = 12

Manufacturer = samsung

Model = SM-A225F

Hardware = mt6769t

Webview User Agent = Mozilla/5.0 (Li

[2022-10-09 06:18] lukstbit commented on #12542
@user1823 Thank you for the bug report. The code were the error happens was changed in the latest alpha(86). If you use this new alpha it would be helpful to mention if you still see the error happening.

I tried to reproduce it(with previous and newer alphas) but didn't manage to see it.

[2022-10-09 08:54] user1823 commented on #12472
I have tried the latest alpha release (86), but the issue persists.

For reproducing the issue, have you tried hierarchical tags (i.e. tags of the type A::B::C)?

[2022-10-09 08:58] user1823 commented on #12542
As I mentioned earlier, I am not sure on the exact conditions that lead to the crash. So, it is difficult for me to say that the issue has resolved.

I have installed the latest alpha and I haven't seen the crash yet. I will update here if I see the crash occurring.

[2022-10-09 09:51] pavreh commented on #12472
I tried the hierarchical tags and I found a different issue. No crash but the newly added tag is not in the list when Filter by tag. It is related to the new backend only. Check database repairs this.

@user1823 Please run Check database and try reproduce again.

[2022-10-09 10:03] user1823 commented on #12472
I ran Check Database, but the issue still persists.

[2022-10-09 12:50] #11967 closed

[2022-10-09 13:01] TomerPacific commented on #12472
@user1823 , can you provide a bit more detail on how you reproduce the crash? What tags/decks do you have already on the application?
Can you share a screen recording?

@mikehardy  - Let me know how you would like me to proceed with this issue.

[2022-10-09 13:39] mikehardy commented on #12472
Without a reproduction there will be no progress, so I would move on.

[2022-10-09 13:39] snowtimeglass commented on #12554
Though I have not yet thoroughly read and understood the whole thing, I like it as a whole. Thank you for your dedication to the work.

I am concerned about the icons of Card State. I maybe understand your intention to represent each development states of studying　cards, but still it seems to be a leap of association to link "learning and review" to "young boy and matured man". Plus, Anki has alre

[2022-10-09 14:36] user1823 commented on #12472
My collection has sensitive data. So, I can't share it publicly. However, I installed a parallel build and tried to reproduce the issue.

I couldn't reproduce the exact same issue because the collection didn't have any tags.

However, when I tried to add a hierarchical tag (A::B) to a note, the app crashed. This didn't occur when I added a non-hierarchical tag (A).

Also, the crash occurred **with

[2022-10-09 14:38] pavreh opened #12608 "[Bug] List of tags is not updated after adding a new tag"
_Originally posted by @pavreh in https://github.com/ankidroid/Anki-Android/issues/12472#issuecomment-1272503486_

###### Reproduction Steps
1. Have a new instalation of AnkiDroid
2. Use the new backend
3. Add a note with a tag
4. Card Browser - Filter by tag

###### Expected Result
The tag can be selected.

###### Actual Result
The list of tags is empty. The tag appears in the list after Check dat

[2022-10-09 15:00] mikehardy commented on #12606
I wonder - since you're testing the new schema / v3 scheduler, if this is the new snackbar code from @oakkitten not hooked up with the new schema scheduler stuff. That is a poorly researched hunch, I don't have a solid backing but that's where I'd look first - new schema leech pathway, and how it does the snackbar vs places where snackbars correctly avoid UI items.

Can you specify a use case @pav

[2022-10-09 15:38] oakkitten commented on #12606
You need to set an `anchorView` to make the snackbar appear above it, this is how reviewer does it:

https://github.com/ankidroid/Anki-Android/blob/0dd61d1e76ae7edf6766209d9415f27fe6703276/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.kt#L1795-L1811

`leech()` (awful name) doesn't do it

https://github.com/ankidroid/Anki-Android/blob/c1dfa70659385502e8b7e4bbdf14eeeb3e260b47/AnkiDr

[2022-10-09 16:14] oakkitten commented on #12554
Ah, very valid points. I never thought about young/mature stuff. I dunno.

On one hand, I think these icons look awesome (if I do say so myself) and make a clear progression, I think. Also, they are naturally round, which fits with the circle that represents “state” in Anki. A circle is a good as any representation of a state, so I wanted to stick with it for consistency.

On the other hand, as yo

[2022-10-09 18:03] pavreh commented on #12606
Sure, e.g. Bury card, Suspend card, Delete note and Undo in the reviewer show snackbar above the button.
![Screenshot_20221009-195416_AnkiDroidA.png](https://user-images.githubusercontent.com/10192661/194772343-214f5fb2-b233-473d-b25f-d8e7e0a8f023.png)
There is a picture for leech below
![Screenshot_20221009-195616_AnkiDroidA.png](https://user-images.githubusercontent.com/10192661/194772408-8958af

[2022-10-09 20:00] doozan opened #12613 "[Bug] Clicking outside of sync window cancels sync without cleanly disconnecting from sync service"
###### Reproduction Steps

1. Using beta86, review some cards and then click the sync button
2. Wait for syncing dialog to appear
3. Click anywhere outside of syncing progress window

###### Expected Result

I wouldn't expect clicking on the screen to have any immediate action on the syncing. Maybe it could ask me if I wanted to cancel syncing, or instead of showing the detailed syncing progress b

[2022-10-09 20:23] mikehardy commented on #12613
This is indeed a poor user interface at the moment - I believe the future state is to have the collection sync (which is by definition blocking) be non-cancelable except via explicit action (it may already be?) but once that phase is over and it's in media sync, it should be a sticky progress notification and unblock the UI

The fact it is even a dialog, much less one with poor UX is all a problem

[2022-10-10 05:47] pavreh opened #12617 "[Bug] day/night mode is not switched when AnkiDroid closed by the back button"
_Originally posted by @pavreh in https://github.com/ankidroid/Anki-Android/issues/11982#issuecomment-1228052632_

###### Reproduction Steps
Does not matter if the new schema or legacy schema.
1. have day mode in the mobile
2. in Ankidroid, settings - appearance - theme - follow system
3. tap back to close Ankidroid
4. switch night mode on in the mobile
5. open Ankidroid

###### Expected Result
Ank

[2022-10-10 11:11] TomerPacific commented on #12595
Hi @mikehardy , can I help with this issue?

[2022-10-10 14:02] snowtimeglass commented on #12554
Yes, they really look awesome. I applaud your talent and skills for creating icon. I hope you will continue to make use of them for AnkiDroid and help us.

As you say, it is not so much an issue. By no means do I intend to say that male icon is a male-dominated or sexist design. I just think that gender-neutral icon like most of material icons would be more desirable since it would be more simple

[2022-10-10 23:00] crackwei commented on #10961
Hi, could you please teach how to hide special button real time. I want to set some options in front, and if choose the wrong, then hide "good" and "easy" button, only show "hard" and "again" button. but I read the document, it don't say how to do, only a paragraph say:
`Return time for next review. Time at answer buttons (Again/Hard/Good/Easy/). It can be used to hide button if returned string is

[2022-10-11 07:02] Greenactivist commented on #12285
Thanks for your reply.

I was beginning to think it must be something like that.  I can’t remember what file system is on the card.  I am so used to using Linux file systems that problems like that don’t occur to me. 

If I can’t find some sort of work around then maybe I’ll have back up the card and re-format it.

--
 Sent with Tutanota, enjoy secure & ad-free emails.

3 Sept 2022, 12:26 am by **

[2022-10-11 08:42] user1823 commented on #12472
I have tried the latest alpha release (alpha 86), but the issue persists.

For reproducing the issue, did you try out hierarchical tags (i.e. tags of
the type A::B::C)?

On Sun 9 Oct, 2022, 03:04 Mike Hardy, ***@***.***> wrote:

[2022-10-11 09:19] Vitorvlv opened #12620 "[Feature request] Add support for the custom study feature recently implemented into Anki (2.1.55)"
Hi! I'm wondering if the latest alphas support the CustomData feature recently implemented in Anki.

It's needed to experiment with a new custom scheduler going around lately.

https://github.com/ankitects/anki/issues/2039
https://github.com/ankitects/anki/pull/2040
https://forums.ankiweb.net/t/some-problems-in-implementing-a-state-of-the-art-srs-scheduler-on-anki/22705/5
https://www.reddit.com/r/

[2022-10-11 09:32] BrayanDSO commented on #12554
TLDR (quite busy here), so I'll comment only what caught my attention

1. The filtered deck link doesn't remember me of a funnel. Looks more like a lamp
2. I've said on Discord, but I need to zoom a lot to discover that the "Bury" icon is a shovel
3. I need to zoom to see that the "Mature" icon is a guy with a mustache. On a distance, it looks to me like a sad face
4. FWIW, I like Anki colors for

[2022-10-11 12:23] dae commented on #12620
The whole custom study feature is not supported yet.

[2022-10-11 14:18] doozan opened #12622 "[Bug] Can't change deck "Options group""
###### Reproduction Steps

1. Using beta86 with new backend
2. Long press on deck and select 'Deck Options'
3. Click 'Options Group'
4. Select new group

###### Expected Result

Window closes, deck is changed to selected group.

###### Actual Result

Window closes, there's a brief flicker of what might be another window briefly appearing and closing, and deck is not changed.

###### Debug info
[co

[2022-10-11 14:51] Vitorvlv commented on #12620
I see, I guess I'll leave this open as a feature request then, thank you!!

[2022-10-12 02:46] dae commented on #12620
It will require:

- loading review_extras.js from the desktop code into the webview
- switching from the 'card' property in AbstractSched to instead storing the current card state and next states inside the reviewer
- evaluating the provided javascript after the question is shown
- displaying the answer buttons based on the stored/mutated state, instead of via the method in AbstractSched

See V3Ca

[2022-10-12 23:19] mikehardy opened #12631 "Change ACRA toastText init to a ToastType enum style"
_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/10627#discussion_r861050941_

[2022-10-12 23:21] mikehardy opened #12632 "Enhance ACRA string handling to switch languages when user switches"
Currently ACRA initializes with user language correctly on startup, but if the user switches language you have to restart the app before ACRA's toast and dialog switch languages

Here is the FIXME I left:

[code]

Here is the related comment:

I'll have to peel it to another issue in order to get this update in so the PR doesn't decay any more

_Originally posted by @mikehardy in https://github.co

[2022-10-12 23:22] mikehardy commented on #12632
Not sure this is a good issue or not, the handling of contexts and the resource configurations etc seemed pretty subtle to me, but perhaps I was missing an easy solution.

[2022-10-13 02:21] #11966 closed

[2022-10-13 06:30] david-allison commented on #12156
I believe this is fixed in #12637

[2022-10-13 10:52] BrayanDSO commented on #12595
I'm not mikehardy, but yes you can. Enjoy working on it

[2022-10-13 11:43] krmanik commented on #12595
This may be fixed on ankidroiddocs issue because previous image has TexView and later image has html `<a>` tag in webview for docs.
The changes will be styling the link here for both night and dark mode.
https://github.com/ankidroid/Anki-Android/blob/bd818a03bb998538f35eb348327cd7a78632ea2c/AnkiDroid/src/main/assets/changelog.html#L8

But I have completed new docs which is consistent with Anki Des

[2022-10-13 12:10] snowtimeglass commented on #11587
Ah, this actual result is certainly not good.

FWIW, the expected result seems to realize only after tapping ”SEARCH ALL DECKS" in the toast message.

The setting enables these two items in context menu of Chrome on my device. I use 'Card Browser' often in my daily life. It’ so useful.

[2022-10-13 12:52] #12156 closed

[2022-10-13 12:54] #7805 closed

[2022-10-13 14:47] #12490 closed

[2022-10-13 14:49] #12564 closed

[2022-10-13 15:13] #12552 closed

[2022-10-13 15:17] #12608 closed

[2022-10-13 17:05] mikehardy commented on #12595
@BrayanDSO

![image](https://user-images.githubusercontent.com/782704/195660680-47caa109-3516-443d-9f1d-b743c88b590f.png)

[2022-10-13 18:45] mikehardy commented on #12156
We are working to get fresh releases in the app store, in the meantime access to fixes is restricted to alpha releases you download from our releases page. I have not packed up the current set of changes and released an alpha yet though, you'll find this change in alphas 2.16alpha87 (not released yet) and higher here https://github.com/ankidroid/Anki-Android/releases

[2022-10-13 18:58] indyfromoz commented on #12631
Hi @mikehardy

I would love to work on this, could you please assign this issue to me?

[2022-10-13 19:11] david-allison commented on #12631
Sounds good to me, thanks!

[2022-10-13 19:59] #8045 closed

[2022-10-14 15:44] #11989 closed

[2022-10-14 19:09] TomerPacific commented on #12595
@mikehardy , @BrayanDSO - I have opened a PR and I welcome your feedback.

[2022-10-15 05:05] vikashprajapati commented on #8602
Hey, this issue is still open. Is there anything that I can help in, Please let me know.

[2022-10-15 05:48] divyansh-dxn commented on #8602
Yeah @vikashprajapati this issue is still open and if you want you can get it assigned. I had been working on it earlier.

[2022-10-15 21:38] mikehardy opened #12668 "Publish workflow can still fail with OOM"
###### Reproduction Steps

1. run "Publish" workflow (or if you have the keystore keys, `./tools/release.sh`
2.
3.

###### Expected Result

Everything launches, it's awesome

###### Actual Result

https://github.com/ankidroid/Anki-Android/actions/runs/3257134979/jobs/5348207472#step:10:385

I thought I fixed this earlier with #12594 / #12605 but I need to dig in here more

Perhaps gradle stop afte

[2022-10-15 21:42] #12668 closed

[2022-10-15 22:35] david-allison opened #12669 "[Bug] Unwanted vertical line on Material Dialog titles when launched from preferences"
###### Reproduction Steps

1. In `DevOptionsFragment`, allow the "Enable developer options" to be shown in Debug mode (see patch)
2. Select "Enable Developer Options" to disable them. A Dialog should appear

[code]

###### Expected Result

A normal Material Dialog is seen

###### Actual Result

There is a vertical line to the right of the `s` in the title's TextView, this fades after a few seconds

[2022-10-15 22:36] david-allison commented on #12669
@BrayanDSO just in case you know anything of this (given it's preference-related).

[2022-10-15 22:48] mikehardy commented on #12669
Did this start happening after #12409 perhaps? :thinking:

[2022-10-15 22:58] oakkitten commented on #12669
Looks like a scrollbar? Anyway, can't reproduce on my device. And that screenshot is from before #12409 judging from the buttons.

[2022-10-15 23:10] oakkitten commented on #12669
But while testing I found another issue

https://user-images.githubusercontent.com/1710718/196010789-7dd43501-b68f-4d9f-817d-613b6f374e8e.mp4

[2022-10-15 23:13] mikehardy commented on #12669
As soon as scoped storage is done I'm wide open for any other sort of cross-cutting changes just have to maintain focus a bit longer. Subtle bug though - good catch finding that

[2022-10-15 23:15] BrayanDSO commented on #12669
I've only seen this on emulators, since months ago. IIRC, this is not exclusive to this dialog.

As I've never seen this on a real device, I've never considered this an actual issue to fix

[2022-10-15 23:16] oakkitten commented on #12632
I mean, this affects the entire app, to make it reflect language changes you have to restart it. (Did I mention manual dealing with configuration changes? 😛)

[2022-10-15 23:19] BrayanDSO commented on #12669
Can't reproduce here
[code]

[2022-10-15 23:20] #12039 closed

[2022-10-15 23:26] BrayanDSO commented on #12669
I'd try using an AlertDialog. If this fixes it, it's one more reason to ditch the MaterialDialog dependency

[2022-10-15 23:32] oakkitten commented on #12669
Actually, I could reproduce the scrollbar issue by changing the system setting “Display size” to “Small”.

Try setting “Display size” to “Large” or “Larger”, I normally use “Large”. In the video when the screen is rotated the dialog stays the same width. You can see that when I close it and reopen in landscape, the width is different.

[2022-10-15 23:41] BrayanDSO commented on #12669
Here (Samsung device) I couldn't find a "Display size" setting (not even on Dev settings), but putting the font size on the biggest size showed the bars on the buttons temporarily

If it helps anyone else, `Reset languages` on "Advanced" it's an easier dialog to test.

Funny not seeing this on other dialogs (Tested Help, Support and Restore backup). I'd still test if AlertDialog solves it.

[2022-10-15 23:43] #10643 closed

[2022-10-16 02:26] snowtimeglass opened #12672 "Whiteboard-related items aren't fully grouped"
###### Reproduction Steps

1. "Settings" > "Appearance" > "App bar buttons"
2. Set all of the items to "Menu only"
3. Go back to Decks screen, and tap any deck
  (then, Study screen of the deck gets shown)
4. "More options" (three dots icon) > "Enable whiteboard"
![image](https://user-images.githubusercontent.com/10436072/196009530-e98c7784-de3d-411c-8fb1-758fba96e4ee.png)

###### Expected Result

[2022-10-16 03:06] keen0309 opened #12673 "Custom scheduling is not supported"
Custom scheduling is not supported

[2022-10-16 03:07] keen0309 opened #12674 "Custom scheduling is not supported"
Custom scheduling is not supported

[2022-10-16 06:04] pavreh opened #12675 "[Bug] Export - Select app for sharing crash"
###### Reproduction Steps
1. Export collection - tap OK
2. Select application for sharing

###### Expected Result
An application can be choosen.

###### Actual Result
Crash

###### Debug info
AnkiDroid Version = 2.16alpha88

Android Version = 12

Manufacturer = samsung

Model = SM-A225F

Hardware = mt6769t

Webview User Agent = Mozilla/5.0 (Linux; Android 12; SM-A225F Build/SP1A.210812.016; wv) Ap

[2022-10-16 06:11] pavreh opened #12676 "[Bug] Export - select file crash"
###### Reproduction Steps
1. Export collection - tap OK
2. Tap Select where to save file
3. Tab back in the folder selector

###### Expected Result
Export is aborted.

###### Actual Result
Crash

###### Debug info
AnkiDroid Version = 2.16alpha88

Android Version = 12

Manufacturer = samsung

Model = SM-A225F

Hardware = mt6769t

Webview User Agent = Mozilla/5.0 (Linux; Android 12; SM-A225F Build/S

[2022-10-16 07:12] lukstbit commented on #12675
Thanks for the bug report.
I've reviewed the function where this crash is most likely to happen but I don't see anything suspicious. It would be really helpful to see the exact crash report.

[2022-10-16 07:13] lukstbit commented on #12674
Closed as a duplicated issue.

[2022-10-16 07:13] #12674 closed

[2022-10-16 07:46] dae commented on #12675
[code]

https://ankidroid.org/acra/app/1/bug/18786/report/1edad010-784e-4bfd-a0d3-81b29191da22

[2022-10-16 07:47] dae commented on #12676
[code]

https://ankidroid.org/acra/app/1/bug/18788/report/28d2b95e-7957-4a44-b64e-c1b1b7a08246

[2022-10-16 14:24] #12676 closed

[2022-10-16 17:53] BrayanDSO commented on #12669
Bingo. AlertDialog solves it (at least on the emulator)

[2022-10-17 00:03] BrayanDSO opened #12685 "Replace `&nbsp;` with spaces on the note editor"
**Is your feature request related to a problem? Please describe.**
Sometimes when I edit a note on Anki desktop then sync, some spaces will appear as `&nbsp;`, which is quite suffarable to see and edit

**Describe the solution you'd like**
Add an option to replace `&nbsp;` with spaces visually, similar to the option to replace `<br>` with newlines visually

**Describe alternatives you've considere

[2022-10-17 04:04] mikehardy commented on #12673
Hi there!

Please search first:

https://github.com/ankidroid/Anki-Android/issues?q=is%3Aissue+is%3Aopen+custom+scheduling

resolving as duplicate of #12620

[2022-10-17 04:04] #12673 closed

[2022-10-17 04:05] mikehardy commented on #12674
duplicate duplicate :laughing:  - #12620 is where to track this

[2022-10-17 04:08] mikehardy commented on #12675
Oh no - this method was just changed in #12490  / #12566 (by lukstbit who is already here :-) )
This stuff is subtle though, we do have a FileProvider but why isn't it getting the permission?
My guess is that it is something like this:

https://github.com/ankidroid/Anki-Android/blob/0cd5117cc21fc0a857dd4088ceb824f5879f8ad3/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/BasicImageFiel

[2022-10-17 05:00] mikehardy commented on #12685
believe it or not this is a frequent user complaint

[2022-10-17 13:40] #12672 closed

[2022-10-17 14:16] voidplayer opened #12688 "changelog for betas"
Would it be possible to have small changelog between betas?

Thanks!

[2022-10-17 16:08] voidplayer commented on #12688
Yes, i meant alphas :laughing:

I was asking for small changelogs for alphas

Reading pull request is too much since you guys merge nonstop (what does NF mean?)

Maybe a few lines with the important changes so we know what are we upgrading when we installa a new alpha? :angel:

[2022-10-17 16:29] mikehardy commented on #12688
NF means non-functional, there will be no available time to produce an alpha changelog, apologies - the "merging non-stop" is the priority and it takes all available time, non to spare for changelogs at the moment

Ideally we'd use conventional commits and generate them automagically but that is a bigger change and not contemplated at the moment

Sorry :sweat_smile: - as always though I definitely

[2022-10-17 19:31] oakkitten commented on #12685
I remember this being discussed on the forums, and @kleinerpirat made an addon that fixes it https://forums.ankiweb.net/t/nbspremover-official-support/20327/11

[2022-10-17 19:34] criticalAY commented on #12685
`s = s.replace("<br>", " ")` should we do something similar to this ?

[2022-10-17 19:53] oakkitten commented on #12685
Non-breaking spaces have legitimate uses (which are the reason for their very existence). A proper solution would be to make Anki not to insert them, but user decks have accumulated a lot of those so since we show HTML maybe having some sort of a way to not show these would be reasonable.

I suppose that if you simply just replace them with spaces or U+00A0, you'd produce a lot of unwanted edits s

[2022-10-17 22:48] voidplayer commented on #12688
Yeah, understandable

I hope that focusing on finishing the work ahead is worth not focusing on bringing people along with you even if it takes a little longer to finish

[Quoting a recent post of google engineers](https://cloud.google.com/blog/topics/developers-practitioners/how-google-got-to-rolling-linux-releases-for-desktops)

I will keep myself for updating any further too tho :sweat_smile:

[2022-10-17 23:14] mikehardy commented on #12688
Prior to being blocked by scoped storage migration I was averaging one new public release every 6 weeks. I believe strongly in incremental change

Scoped storage, from the perspective of release management, has basically been a disaster. Big bang releases are terrible, and we're about to have one.

[2022-10-18 01:51] NameLessGO opened #12692 "paste images by sharing to ankidroid"
**Is your feature request related to a problem? Please describe.**
Trying to make cards on PDF, but cant seem to paste images in ankidroid, using samsung notes since it was the only pdf viewer that was able to copy and share images, but there isn’t an option to paste nor share on ankidroid

**Describe the solution you'd like**
I cant tell which format samsung notes uses so that ankidroid can recog

[2022-10-18 11:11] sudhanshu1309 commented on #10489
I am working on AbstractFlashcardViewer

[2022-10-18 15:25] rawrins commented on #12622
It happens on the old backend as well

[2022-10-18 22:52] BrayanDSO commented on #10970
No no no, little bot, this needs to stay open

[2022-10-18 22:57] BrayanDSO commented on #12692
I like the idea

[2022-10-19 00:39] indyfromoz commented on #12631
Hi @david-allison, I have finished working on the issue and have a branch ready for a PR. Will you please consider adding a `hacktoberfest` label to the issue? This will help with my Hacktoberfest 2022 submissions.

[2022-10-19 00:54] jaohara commented on #12451
Is there anyone still working on this? I'm looking for a good first issue to start contributing and I might be able to take care of this.

[2022-10-19 04:47] jeremyxarcher commented on #12617
Hi, I've created a PR here :) https://github.com/ankidroid/Anki-Android/pull/12697

[2022-10-19 09:18] foldfield opened #12699 "[Bug]"
###### Reproduction Steps

1. \(\underline{V}\\)
2. \(\underline{v}\\)

###### Expected Result
for both of the lines to be able to display an underlined V and an underlined v

###### Actual Result
the capital V doesn't render as underlined but the lowercase does. In fact, any capital letter isn't underlined, but lowercase is

###### Debug info
AnkiDroid Version = 2.15.6

Android Version = 13

Manu

[2022-10-19 12:28] mikehardy commented on #12699
Hey there! Can you try this with the latest alphas, there has been quite a bit of work on mathjax if I recall - https://github.com/ankidroid/Anki-Android/releases

[2022-10-19 12:55] foldfield commented on #12699
Yes the issue is sorted on the alpha! Many thanks :)

[2022-10-19 14:15] mikehardy commented on #12699
Glad to hear it - thanks for reporting back

[2022-10-19 14:15] #12699 closed

[2022-10-19 15:44] #9958 closed

[2022-10-19 16:05] Arthur-Milchior commented on #11965
@david-allison nope, Kotlin don't solve it. I've just tested. In the line
https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/test/java/com/ichi2/anki/DeckPickerTest.kt#L160

if you remove the `toLong` you get the error message

`java.lang.AssertionError: expected: java.lang.Integer<20800301> but was: java.lang.Long<20800301>`
and there are 11 such errors. I don't claim that justify

[2022-10-20 01:48] tihong10 opened #12705 "Issue with "type in the answer" cards"
I have a standard "type in the answer" card on which I have a snippet of code to remember styling syntax when configuring the look of my cards in Anki. The correct answer which I am supposed to type is the following:

\<span style="color: green;">{{TargetField}}\</span>

On Windows desktop version I type this verbatim, and it is graded correct; but on Ankidroid, the answer somehow changes to {{Tar

[2022-10-20 05:32] MarkusJLechner commented on #9958
hm, still valid?

[2022-10-20 17:09] mikehardy commented on #12705
Hey @tihong10 - can you reproduce this on the newest alphas to see if it's still happening? We've got more than a year of bugfixes queued up and not released yet - https://github.com/ankidroid/Anki-Android/releases

[2022-10-20 19:01] david-allison commented on #11965
That's not what the issue states. The issue states `int` and `int` don't compare correctly. Not `int` and `long`

[2022-10-20 19:14] criticalAY opened #12711 "2.16alpha88 crashes when trying to sync"
###### Reproduction Steps

1.  Login in Anki and let the data sync if any
2.  Turn off mobile data and wifi (Flight mode)
3.  Try syncing

###### Expected Result
Normal error dialog and then returned back to the app

###### Actual Result
app restarts

###### Debug info
AnkiDroid Version = 2.16alpha88

Android Version = 8.0.0

Manufacturer = Google

Model = Android SDK built for x86

Hardware = ran

[2022-10-20 19:15] criticalAY commented on #12711
https://user-images.githubusercontent.com/48384865/197037857-3fbc890b-44ed-4bff-83a7-0fff674dac2a.mp4

[2022-10-20 19:17] criticalAY commented on #12711
This issue was reported by some user and I was able to reproduce it after reading the report. I have pasted the debug info for SDK26 but this is also there in SDK 28. I have not tested further SDKs

[2022-10-20 22:04] mikehardy commented on #12711
Could you paste the stack trace of the reproduction? Most of our issues are API-independent (though of course some are subtle and only trigger on a specific API, usually an older one like 21 or 24 or the newest one like 33)

[2022-10-21 00:37] BrayanDSO commented on #12711
Hm. Why is the FAB's `+` button black?

[2022-10-21 03:06] criticalAY commented on #12711
java.net.UnknownHostException: Unable to resolve host "sync5.ankiweb.net": No address associated with hostname
                                                                                                    	at java.net.Inet6AddressImpl.lookupHostByName(Inet6AddressImpl.java:141)
                                                                                                    	at java.net.In

[2022-10-21 03:07] criticalAY commented on #12711
I also payed attention to it after your comment

[2022-10-21 03:18] criticalAY commented on #12711
And yes it's API independent I have confirmed it

[2022-10-21 03:20] mikehardy commented on #12711
Very odd, I guess it is easy to reproduce app restart by just putting a bogus sync URL in (any name that passes OkHTTP URL validation, but is otherwise NXDOMAIN in DNS system). Should catch the error and just inform the user instead of crashing of course :-)

[2022-10-21 03:23] criticalAY commented on #12711
Yup! but not behaving as such

[2022-10-21 03:54] tihong10 commented on #12705
Hi @mikehardy - I updated Ankidroid with arm64-v8a and tried the card again. The issue remains same as before.

[2022-10-21 05:18] snowtimeglass opened #12713 "[Bug] After just exporting a single note, "Collection exported" message gets shown"
###### Reproduction Steps

1. "Settings"->"Advanced" -> Enable "Use the new backend"
2. Tap "Card browser"
3. Long press a row  of the list of cards/notes (then, the row gets selected)
4. Tap the three dot icon --> Tap "Export cards" / "Export notes" --> Tap "OK"

###### Expected Result
Some message like "_Card_ exported" / "_Note_ exported" gets shown as on Anki Desktop ("n cards exported." / "1

[2022-10-21 05:56] pavreh commented on #12711
I have sometimes + buttons black too on my real device. It is not only FAB but it is also + button in Card Browser or Edit Tags. It happens accidentally. I cannot reproduce on purpose.

[2022-10-21 06:07] criticalAY commented on #12711
Seems like an issue then

[2022-10-21 14:43] arjundevasi commented on #12713
Hi, I would like to contribute on the issue.

[2022-10-21 18:10] jeremyxarcher opened #12716 "How do I add the "needs review" label to a PR?"

[2022-10-21 20:27] criticalAY commented on #12716
This is not an issue I guess but okay you can't unless you have access?

[2022-10-21 20:29] jeremyxarcher commented on #12716
Yeah I didn't know where else to ask to be honest. Seems like other contributors add it to their PRs, didn't know if I needed to do so to get mine looked at!

[2022-10-21 20:39] criticalAY commented on #12716
Contributors can't really put that on there like on their own PRs. and we have a discord channel I hope you know.

[2022-10-21 20:40] jeremyxarcher commented on #12716
Oh, no I didn't know about the discord! Thanks for letting me know, this is the first time I'm trying to contribute to something so I'm a little new at this. Thanks for your help, see you in the discord!

[2022-10-21 20:40] #12716 closed

[2022-10-21 20:41] criticalAY commented on #12716
Plus there are other priorities right now so we got to be a little more patient thanks!

[2022-10-21 20:42] jeremyxarcher commented on #12716
Of course. I'm not trying to rush anyone, I just want to make sure I'm doing things right. Where is the link to the discord btw?

[2022-10-21 20:43] criticalAY commented on #12716
you can find it on the main page but okay https://discord.gg/emtzJAZn there you go

[2022-10-21 21:33] jeremyxarcher commented on #12716
Thanks a lot man. I'm an idiot I cmd+f for discord and of course it's an icon :|

[2022-10-21 22:08] snowtimeglass commented on #12713
@arjundevasi thanks!

[2022-10-22 02:55] arjundevasi commented on #12713
I can't find the export button

![Screenshot_20221022-082408.png](https://user-images.githubusercontent.com/27912546/197316023-674f1e74-e913-4cb2-82c8-8fdabdb67e32.png)

[2022-10-22 08:32] JalinWang commented on #9853
I didn't reproduce this issue on my MIUI.

2.16alpha86
MIUI 12.5

Navigation Bar Mode:
![image](https://user-images.githubusercontent.com/20621784/197329593-9d8ab2c9-5948-4116-8a32-5aa8aca01623.png)

Fullscreen Guesture Mode:
![Screenshot_2022-10-22-16-29-08-788_com ichi2 anki](https://user-images.githubusercontent.com/20621784/197329600-8e9c56c5-4ffa-4648-a410-26b31b27303f.jpg)

[2022-10-22 09:11] JalinWang commented on #5604
This problem occurs in https://github.com/ankidroid/Anki-Android/blob/c7376f63b692b584d5bd9f864619c84cda4049b7/AnkiDroid/src/main/java/com/ichi2/libanki/Utils.kt#L80-L86
as well.

Howerer, is `Jsoup` too heavy (latest: 428Kb) for solving such a  minor bug?

![image](https://user-images.githubusercontent.com/20621784/197331092-2b74f7f8-1eb2-43ac-93b5-1a8df88cc36b.png)

[2022-10-22 09:11] JalinWang commented on #5604
This problem occurs in https://github.com/ankidroid/Anki-Android/blob/c7376f63b692b584d5bd9f864619c84cda4049b7/AnkiDroid/src/main/java/com/ichi2/libanki/Utils.kt#L80-L86
as well.

Howerer, is `Jsoup` too heavy (latest: 428Kb) for solving such a  minor bug?

![image](https://user-images.githubusercontent.com/20621784/197331092-2b74f7f8-1eb2-43ac-93b5-1a8df88cc36b.png)

[2022-10-22 09:19] #12631 closed

[2022-10-22 09:21] snowtimeglass commented on #12713
Ah, sorry. The feature was probably added after 2.16alpha88 was released. I found this issue on a debug.apk which I build after the feature was added.

[2022-10-22 13:34] mikehardy commented on #5604
The only way to know for sure if something is "too heavy" is to build a release APK with it and without it and see what the size difference is

[2022-10-22 14:32] david-allison commented on #9853
You're not in full screen mode

[2022-10-22 14:52] david-allison opened #12718 "[Bug] crash on CoroutineHelpersKt.showError: BadTokenException"
[code]

https://ankidroid.org/acra/app/1/bug/20299/report/54982960-81e2-4b63-a39f-166606854c1e

[2022-10-22 15:26] #12718 closed

[2022-10-22 17:05] david-allison commented on #3593
The PR had feedback, and the feedback wasn't addressed for over 2 months, so the PR was automatically closed.

The issue is still open, and either the above PR can be used as a base (with some rebasing to fix conflicts), or the issue can be resolved working from first principles

[2022-10-23 00:42] alyoshenka commented on #10683
I am currently looking into this and will ask to be assigned once I have an idea for a fix.

[2022-10-23 02:22] #11638 closed

[2022-10-23 06:33] BLannoo commented on #8091
I have the same issue, can this issue be re-opened.

[2022-10-23 06:46] #11928 closed

[2022-10-23 07:52] qsantos commented on #7709
I have encountered this behavior numerous times. This happens whenever the database is updated ; for instance, when judging a review, or when synchronizing the database. I have > 1 M reviews and tens of thousands of cards, so it might be related to that.

Clicking on “Check the database” in the menu in the upper-right corner of the home screen seems to fix the issue.

[2022-10-23 08:44] #12052 closed

[2022-10-23 10:22] snowtimeglass commented on #11677
The solution of "i" button looks promising in futere.

https://user-images.githubusercontent.com/69634269/184986361-bc4c8dae-1352-448b-85e3-edc4215115ec.mp4

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/issues/12039#issuecomment-1217178460_

[2022-10-23 12:26] #12595 closed

[2022-10-23 12:29] david-allison opened #12720 "[Bug] Changelog style applies to Open Collective if opened via link click"
###### Reproduction Steps

1. About -> Changelog -> Stable Changelog -> "Thank you" link to Open Collective
2. OC opens in the WebView

###### Expected Result

Either:

* Open Collective opens in a 'Chrome' browser window
* Styles are unchanged

###### Actual Result

* Open Collective appears with colored links from the CSS
<img width="401" alt="Screenshot 2022-10-23 at 13 28 23" src="https://user

[2022-10-23 12:41] snowtimeglass commented on #11688
Please keep this open.

[2022-10-23 20:13] mikehardy commented on #8091
@BLannoo please use the most recent alpha, in a specific way, and you should get same scheduling as on Anki Desktop:

- install from https://github.com/ankidroid/Anki-Android/releases
- settings --> advanced --> enable new schema
- settings --> advanced --> enable v3 scheduler

[2022-10-24 08:39] sugar42 opened #12721 "Image occlusion enhanced images cant be opened on ankidroid"
Hi,
i have a problem with opening images on my ankidroid.
I can access and open the images on Ankiweb but on my phone it isnt possible.
![14wdbfk3xqu91](https://user-images.githubusercontent.com/56407539/197482512-ff43a733-4604-412a-a2a1-6893b664fa31.jpg)

I found out, that the images are saved as JPEG files on my machine but saved as svg files in the ankidroid app.

Please can someone help me? :)

[2022-10-24 14:50] oakkitten commented on #10683
As long as I'm not mistaken, not handling orientation changes should fix this and other issues. There's a high chance that this will be done one day, since this is an all-around sensible change. So I'd suggest not implementing any temporary workarounds, at least not if it is not clearly marked as such, and easy to remove.

[2022-10-24 15:16] Subhadiptech opened #12722 "[UX] When the Application is quitted by the user by physical back press, It directly closes the app. Instead it should pop a dialog asking the user whether he/she wants to close or not."
**Feature request related to a problem**
It would be an enhancement in the UX and also improve the user engagement.

**The solution you'd like**
Adding a back press callback and design a relevant alert pop-up dialog for the user.

[2022-10-24 15:17] Subhadiptech commented on #12722
I am working on this issue and will soon make a PR for the same.

[2022-10-24 15:25] #12722 closed

[2022-10-25 13:03] mikehardy commented on #10791
Relevant, just hasn't been a priority

[2022-10-25 15:43] alyoshenka commented on #10683
Ah ok, and so not handling orientation is a different and bigger issue to fix. I'll look into something else, thanks!

[2022-10-25 16:02] liutng commented on #12692
I'd like to work on this. Can I have this?

[2022-10-25 16:51] #12104 closed

[2022-10-26 10:14] oyeraghib commented on #11116
@david-allison should we start working on this one from scratch?

Though I would really like if @Jatin887 could give the update on this one, but I doubt if he's still active in here. Also considering the amount of changes that have happened in past months I think it would be a time consuming task just to fix merge conflicts.
Also would suggest if we could do it one file at a time, that would help

[2022-10-26 10:18] Jatin887 commented on #11116
I was not active from the last four months but i would still like to work on this issue as I have added view binding in most of the files. I have more idea about which files are left.
@david-allison i want to work on it again so sorry for the inconvenience happened in the middle. I will be active throughout and will try to close this issue as soon as possible

[2022-10-26 10:26] oyeraghib commented on #11116
Good to hear that! All the very best 🚀

[2022-10-26 15:25] liutng opened #12730 "[Bug] App crashes when using the proposed file image cropping for images exceed 1MB"
###### Reproduction Steps
1. Use the main branch code to compile and install AnkiDroid
2. Click the floating button and select Add
3. Click the paper clip icon on either the Front or Back and select `Add image`.
4. Select Gallery and choose an image file that is bigger than 1MB.
5. Click the finish button on the action bar and click OK for the preceded dialog.
6. App crashes

###### Expected Resul

[2022-10-26 15:57] david-allison commented on #11116
Awesome, thanks!

[2022-10-26 16:46] #10732 closed

[2022-10-26 18:06] dpurge opened #12731 "[Bug] Renamed deck and node type show correctly in Anki web and desktop, but do not show in AnkiDroid"
Maybe this is only a display issue - feel free to close it or treat it as low priority.

I am building my decks from CSV, YAML, markdown and JSON files programmatically, using genanki 0.13.0 library.
I then import them into Anki desktop 2.1.54, sync to AnkiWeb and then sync to AnkiDroid.

Everything works great, but today I have had a case that baffles me. I renamed one of my decks and note types

[2022-10-26 18:10] dpurge commented on #12731
I forgot to mention - I have tried to do a minor change in the deck name from within AnkiDroid - it was not reflected in the GUI.

[2022-10-26 18:13] dpurge commented on #12731
OK, I did one more test and it seems my deck name was simply too long and the last word was cut off. When I shortened the name, it displayed correctly.
Sorry for reporting this.

[2022-10-26 18:13] #12731 closed

[2022-10-26 18:54] criticalAY commented on #12720
Hey! So we want this to be opening in chrome ?

[2022-10-26 19:25] criticalAY commented on #12721
are the images 1MB> ?

[2022-10-26 19:34] criticalAY opened #12733 "[Bug] can't send report"
###### Reproduction Steps

open Help -> Get Help -> Send Troubleshooting report

###### Expected Result
Sending a report dialog box show

###### Actual Result
nothing is happening

###### Debug info
AnkiDroid Version = 2.16alpha88

Android Version = 12

Manufacturer = Google

Model = sdk_gphone64_x86_64

Hardware = ranchu

Webview User Agent = Mozilla/5.0 (Linux; Android 12; sdk_gphone64_x86_64 Bu

[2022-10-26 19:37] #11670 closed

[2022-10-26 19:52] mikehardy commented on #12733
You'll have to follow the guide to test things well, in debug builds they are disabled by default:

https://github.com/ankidroid/Anki-Android/wiki/Crash-Reports#steps-to-test

[2022-10-26 19:52] #12733 closed

[2022-10-26 20:20] criticalAY commented on #12733
oops! sorry

[2022-10-26 20:21] criticalAY commented on #12733
but can't we display some toast/snackback ? like it's disabled ?

[2022-10-27 07:52] adizcode commented on #10321
I'm still working on this. Been busy with uni / internship work lately.

[2022-10-27 11:07] criticalAY commented on #12721
I am not able to reproduce this issue. Works fine on my end

[2022-10-27 11:49] raehat commented on #12559
@criticalAY hey are you still working on it?

[2022-10-27 11:52] raehat commented on #12542
@lonewolf2208 are you still working on this?

[2022-10-27 12:16] criticalAY commented on #12559
I am not pushing any PRs for this rn because it needs time and there are other important things to handle right now as everyone is busy

[2022-10-27 13:57] #10663 closed

[2022-10-27 16:29] alyoshenka commented on #12277
I've reproduced the error as well, and this video might expand on where exactly things work and don't work.

### Debug Info
[code]
### Steps where Undo works as expected
1. Open a deck
2. Select "Show Answer", select an answer
3. Select "Undo" button
    - Undo works as expected
4. Select "Show Answer", select an answer
5. Navigate back to DeckPicker
6. Tap Study Options (numbers on right side of

[2022-10-27 22:59] raehat commented on #12597
There is already a search bar which does the job, I think what you want here is, that it should dynamically search field names while the user types, right?
Please someone correct me if I am wrong

[2022-10-28 00:26] oakkitten commented on #12597
The *editor* doesn't have a search bar.

I am a little curious about what a note with 50 field can look like. I can't imagine a scenario where it would be useful. Best I can do is fields with various dictionary indexes and other metadata, for searching, but this would be generated and not something one would want to edit. Might be a very edgy edge case?

[2022-10-28 01:45] raehat commented on #12597
Okay he was talking about the editor
well, a search bar can be implemented for sure
but again as @oakkitten said, quite an edgy edge case!

[2022-10-28 01:46] raehat commented on #12597
Please assign me this issue if it has to be done though!

[2022-10-28 02:49] Yoannjap commented on #12597
Thanks a lot raehat and oakkitten for your answers.

Indeed, a field search bar that filter fields displayed as you type text in it, doesn't exist in the editor and and would be extremely useful.

Creating and update a deck on Ankidroid, day after day, is not an edge case ;)
If you spend enough time voluntarily to create decks that you share with a lot of users, you theoretically have to respect t

[2022-10-28 04:32] raehat commented on #12597
I am working on it

[2022-10-28 07:11] Yoannjap commented on #12597
Thanks a lot for your help!

Available to test it when needed.

[2022-10-28 10:37] beattobee opened #12737 "Space"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-28 13:39] mikehardy commented on #12737
@beattobee do not spam

[2022-10-28 13:39] #12737 closed

[2022-10-28 15:14] raehat commented on #12597
I have created a PR
@Yoannjap I can share apk with you if you want to test it

[2022-10-28 15:22] oakkitten commented on #12597
I can't open the infomaniak links, asks me to login.

Looking at Anglais — Français thématique, well, at least at from what I see on AnkiWeb, I'm not convinced. I would just use fewer fields. There are some fields that deserve being fields, such as pronunciation, but as for example sentences, images, etc, these things IMO are much more suitable for just being HTML.

Also, Anki doesn't support this

[2022-10-28 15:32] raehat commented on #12597
![image](https://user-images.githubusercontent.com/77321971/198675896-a88518b2-222b-4770-8b18-1e1a790bd887.png)
for now, I have added a simple searchview
it just iterates through field labels and filters them

[2022-10-28 15:36] oakkitten commented on #12597
That's not card editor though?

[2022-10-28 15:45] raehat commented on #12597
![WhatsApp Image 2022-10-28 at 9 13 54 PM](https://user-images.githubusercontent.com/77321971/198678573-dcc89bdd-586c-4d6d-9d9f-2443c827227b.jpeg)
this screen?

[2022-10-28 18:14] Yoannjap commented on #12597
Yes, I want to test it. Can you share it to me through Github or d'you need my email address?

[2022-10-28 18:16] criticalAY opened #12739 "[Bug] app (2.16alpha88) crashes on review change"
###### Reproduction Steps

1. settings
2. reviewing
3. new card after review options to be changed

###### Expected Result
option set as marked/selected

###### Actual Result
app crashes

###### Debug info
AnkiDroid Version = 2.16alpha88

Android Version = 12

Manufacturer = Google

Model = sdk_gphone64_x86_64

Hardware = ranchu

Webview User Agent = Mozilla/5.0 (Linux; Android 12; sdk_gphone64_x8

[2022-10-28 18:17] criticalAY commented on #12739
[code]

[2022-10-28 18:17] criticalAY commented on #12739
this was reported by some users in SDK31

[2022-10-28 18:23] Yoannjap commented on #12597
Well, there could be 2 options box to check next to search bar:
• first box: search field label
• second box: search box content.

But whatever you say, managing a rich deck I'have been doing since 2010 requires at a moment multiple and multiple fields, to sort, edit, CSS-style, search, batch edit/replace fields content separately. I began with a few field, but as I enriched decks and made them a

[2022-10-28 18:38] raehat commented on #12597
![image](https://user-images.githubusercontent.com/77321971/198708580-1ce615db-a5b2-4450-800f-c262ad47f4d7.png)
@Yoannjap you're asking changes in this screen, right?

[2022-10-28 21:12] mikehardy commented on #12597
Just post the PR, then who ever wants to test it pulls the PR (`gh pr checkout 12597` with https://github.com/cli/cli) and install it on your phone (`./gradlew installDebug` with your phone plugged in and developer mode enabled, or just an emulator running, perhaps)

[2022-10-28 22:30] Yoannjap commented on #12597
Yes, on this very screen.

[2022-10-28 22:31] Yoannjap commented on #12597
Yes, on this very screen.

[2022-10-28 22:44] Yoannjap commented on #12597
@mikehardy thanks for your answer,
But, well, I have never tested a PR before.
And not having any PC for my 2 weeks trip, but only Android (rooted) is there a way to test it directly from my Phone not using any PC?

[2022-10-28 23:31] mikehardy commented on #12597
No, in that case, not without an APK

[2022-10-29 00:04] raehat commented on #12597
I will work on all the points mentioned and create a new PR in the next few days
@Yoannjap when I am done with it, I will share apk with you then you can test it

[2022-10-29 08:51] pavreh opened #12742 "[Bug] By sort field order does not work when browser notes"
###### Reproduction Steps
1. Create a few basic cards but not alphabetically, e.g. 2, 4, 6, 1, 3, 5
2. Card browser, change display order, by sort field and set browser options to "cards". You can see the cards in alphabetical order (1, 2, 3, 4, 5, 6).
3. Change browser options to "notes".

###### Expected Result
Cards are in alphabetical order

###### Actual Result
Cards are in order as added
![S

[2022-10-29 10:07] Yoannjap commented on #12597
Great, thanks a million for your help. I'll be there when needed for testing.

[2022-10-29 10:25] pavreh commented on #12742
Other types of sorting does not work too when browser options are set to "notes".

[2022-10-29 12:07] lukstbit commented on #12739
Closed by #12740
@criticalAY Github tip: you can use [certain keywords](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue) in your PRs if you want to automatically close the issue that you fix.

[2022-10-29 12:07] #12739 closed

[2022-10-29 12:24] ShridharGoel commented on #12720
@criticalAY Either of the two things mentioned by @david-allison would work. Are you picking this task?

[2022-10-29 12:27] criticalAY commented on #12720
yeah sure I'll work on it it just happened to slip out of my mind because of the festive break

[2022-10-29 12:31] ShridharGoel commented on #12720
There's no hurry, I was just asking for info. Assigning the issue to you.

[2022-10-29 20:35] KeithSware opened #12752 "[Bug] Run out of space not using SD card"
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement

[2022-10-29 20:40] mikehardy commented on #12711
As reported on discord: I just opened 2.16alpha88, synced, turned on airplane mode, synced, crashed, and sent the error report. I left details in the comment and I'm a OnePlus6T so probably easy to spot. I reproduce on my device at least. I'm new schema / v3 scheduler

[2022-10-29 20:42] mikehardy commented on #12752
We do not officially support sdcards, and cannot for many reasons. There is a FAQ with more information on the same: https://github.com/ankidroid/Anki-Android/wiki/FAQ#my-ankidroid-files-are-stored-on-a-sd-card-how-can-i-point-ankidroid-to-them

[2022-10-29 20:42] #12752 closed

[2022-10-29 20:46] KeithSware commented on #12752
New install to Android. I went into ANDROID settings and changed the storage to use the SD card because there is limited space available on the main phone card. 1st time user and 1st time I used the Anki phone app. The first thing I wanted to do was run sync because there were several decks installed on the windows10 Anki program. While the android app was running sync, it ran out of space, popped

[2022-10-29 20:48] KeithSware commented on #12752
Question Why is some fool closing this issue before I have even started it?

[2022-10-29 20:52] mikehardy commented on #12752
I explained our position and linked the documentation.
I'm the primary maintainer here and have been for years.
I will say this one time and one time only: if you continue being rude I will delete this and report you for disruptive content.

[2022-10-29 21:43] alyoshenka commented on #12277
[Here](https://github.com/ankidroid/Anki-Android/blob/eede7eb5e09833f83ed8cef1d068c339d56362ec/AnkiDroid/src/main/res/menu/study_options_fragment.xml#L8) is the problematic line. Removing it makes the Undo button work as expected.

[Here](https://github.com/ankidroid/Anki-Android/commit/7351e8481615bb2edd181153a6d9db8c429cf776) is the commit where this line was added. This issue has to do with mak

[2022-10-29 22:03] criticalAY commented on #12277
I did figure out that and removed the line : ) and got a nice lecture from David later which helped to understand why was it placed there. We need to fix the RTL file ig

[2022-10-29 23:39] #11668 closed

[2022-10-30 08:53] #12730 closed

[2022-10-30 10:33] KeithSware commented on #12752
If you want to delete the issue, then go right ahead.

If you want someone to invest 2/3 hours of their own valuable time documenting an issue and providing technical evidence and screen shots in order to assist you in improving your project outputs…

Then those words that you write in that previous email are the wrong approach.

I get that you are a little upset, and that open source projects are

[2022-10-30 16:31] aap007freak opened #12756 "[Bug] NullPointerException when adding notes with API"
###### Reproduction Steps

1.  call the api.addNote function with some dummy values

[code]
###### Expected Result

Note added to Anki Droid

###### Actual Result

Error `java.lang.NullPointerException: Attempt to invoke virtual method 'long com.ichi2.utils.JSONObject.getLong(java.lang.String)' on a null object reference`

Here's the stacktrace:
[code]

###### Debug info
(Running on an emulator so

[2022-10-30 16:51] criticalAY commented on #12756
did you encounter this in the app ?

[2022-10-30 16:54] aap007freak commented on #12756
No this is while developping. I need to create cards from another app. Am I in the wrong place?

[2022-10-30 17:06] mikehardy commented on #12756
It's the correct place, but we do not often get API users, so many here are not familiar with what issues reported against the API look like, totally normal

You may need to use either an older version of the API or restrict to only newer versions of AnkiDroid (our 2.16alpha series) - https://github.com/ankidroid/Anki-Android/releases as there have been an incredible number of changes

In that dir

[2022-10-30 17:33] aap007freak commented on #12756
Thanks for the quick replies, I'll give some more context.

I'm working on a fork of the video player app [Aniyomi](https://github.com/jmir1/aniyomi) that adds some language learning features. One of those new features is to automatically add anki cards from an in-app dictionary, for which I want to use the API.

I'd like to avoid having to force users to be on a specific version of Ankidroid wher

[2022-10-30 18:53] mikehardy commented on #12756
Well, the naming does not follow exactly, but you might try the current v2 - https://github.com/ankidroid/Anki-Android/blame/main/api/build.gradle#L8

If that does not work, I'm not sure the best way to get the API in fact - you might try using jitpack via the commit hash I mentioned - jitpack documents that using a commit hash as a version should result in a build that is usable (though it may ti

[2022-10-30 20:06] aap007freak commented on #12756
Tried jitpack, the builds don't compile anymore because jitpack is still on java 8.0 and AnkiDroid requires at least 11 to build as far as I can see.

Then I cloned and built (using the :api:publishToMavenLocal gradle task) both [8f9f8c2](https://github.com/ankidroid/Anki-Android/commit/8f9f8c2261e8f503f47795601d1eab88c7140a50) and [6957e56](https://github.com/ankidroid/Anki-Android/commit/6957e56

[2022-10-30 20:29] criticalAY commented on #12711
Logcat crash report
[code]

[2022-10-30 20:34] criticalAY commented on #12711
This exception is caused due to the network loss which I tried fixing by putting a check but @BrayanDSO is right if we do so then the whole purpose of the "Try anyway" button fails

[2022-10-30 21:13] BrayanDSO commented on #12711
My suggestion is catching `UnknownHostException` and `BackendNetworkException` exceptions and dealing with them

[2022-10-30 23:07] #12622 closed

[2022-10-31 06:45] criticalAY commented on #12711
`null -> handleNormalSync(deckPicker, auth, syncMedia)`
The error/ exception arises from here so how about putting this in the `try-catch` ?

[2022-10-31 06:54] pavreh opened #12760 "[Bug] Second field cannot be added"
###### Reproduction Steps
1. Three dots in Deck picker
2. Manage note types
3. Select a note type
4. Add field - Enter a name - OK (the field is added)
5. Add field - Enter a name - OK

###### Expected Result
The second field is added

###### Actual Result
The second field is not added

###### Debug info
AnkiDroid Version = 2.16alpha89

Android Version = 12

Manufacturer = samsung

Model = SM-A225

[2022-10-31 08:39] pavreh opened #12761 "[Bug] Old deck options in the new backend"
###### Reproduction Steps
1. Long tap to a deck
2. Deck options (there are the new deck options from the new backend)
3. Tap back and tap the numbers next to a deck title to enter the deck overview
4. Deck options

###### Expected Result
The new backend deck options are shown

###### Actual Result
The old backend deck options are shown

###### Debug info
AnkiDroid Version = 2.16alpha89

Android Ve

[2022-10-31 09:31] lukstbit commented on #12760
Interesting, I didn't manage to replicate the issue.
I have another PR to also use the backend for the note type fields but that is going to be available in the next alpha. I think that should fix issues like this.

[2022-10-31 16:13] doozan opened #12764 "[Bug] Migrate to scoped storage button appears but does nothing"
I don't know if this is supposed to be hooked up yet or not, but I'm reporting it just in case it's supposed to be working now.

I upgraded from alpha88 to alpha89 and I didn't receive any messages asking me to migrate, but I do have a yellow "Migrate to scoped storage" button that does nothing when clicked. Logcat reports "AnkiDroid: DeckPicker:: migrate button pressed" but nothing else.

FWIW, m

[2022-10-31 16:30] mikehardy commented on #12764
Interesting! If you were already configured to use scoped storage, I'm not sure that icon should appear.
It is definitely true that we (I, really) merged it as a "building block" so that it was available but most of the scoped storage migration building blocks exist like this: they exist but are not quite connected yet. That should come soon.

So this may or may not be a bug or just a partial feat

[2022-10-31 18:45] criticalAY commented on #12764
I noticed too but left that because of the ongoing changes and also was working on a crash fix but he is right it is like that

[2022-10-31 19:07] oakkitten commented on #12764
Might be related to the fact that `/storage/emulated/0/Android/data/com.ichi2.anki.b/` is not something that you can directly get via API, and probably not a place you should put files in. [This method](https://github.com/ankidroid/Anki-Android/blob/046efd115e0a61c96c7bd405f043cfc69006e44f/AnkiDroid/src/main/java/com/ichi2/anki/servicelayer/ScopedStorageService.kt#L234-L259), which is like super h

[2022-11-01 02:21] #12181 closed

[2022-11-01 04:16] #11669 closed

[2022-11-01 05:32] raehat commented on #12597
https://user-images.githubusercontent.com/77321971/199165462-b3710079-231e-4b43-b4e5-fa7f8e09d403.mp4

I have implemented this so far
I can share you the apk through email or medium of your choice for you to test it
Test it and let me know the changes

[2022-11-01 07:38] #11675 closed

[2022-11-01 09:14] lukstbit commented on #12675
@pavreh I introduced in the latest alpha some changes to try to fix this bug. Could you please test and see if the bug still exists?

If the bug still exists, could you clarify if you see the crash immediately when clicking "Select application for sharing"(so no chooser dialog is shown) or when you select an application from the chooser(like Google Drive for example).

[2022-11-01 09:45] pavreh commented on #12675
Unfortunatelly, the bug is still in alpha89. The app crashes immediately after I tap Select app for sharing so I am not able to choose an app. I sent a test report.

[2022-11-01 14:32] SanjaySargam commented on #11451
Is this issue still open?
I would love to contribute to getting my hands free on good first issue

[2022-11-01 14:43] #12185 closed

[2022-11-01 19:40] alyoshenka commented on #12277
`RtlCompliantActionProvider` is populated with an Activity. When an options item is selected, it runs `onOptionsItemSelected(itemID)`. This is why all other instances of Undo work: they're all Activities. BUT since `StudyOptionsFragment` is a Fragment, it doesn't work as expected. Also, `StudyOptionsFragment` uses `onMenuItemClick` to handle menu item clicks. When the undo button is pressed, `Stud

[2022-11-01 20:59] pavreh commented on #12675
Yes, it is my ACRA UUID. I reinstalled AnkiDroid.A recently so it may be the reason for the new UUID...

[2022-11-01 21:02] criticalAY opened #12768 "[Bug] Report generated when cropping image and pressed back"
###### Reproduction Steps

1.  open a collection
2. edit note
3.  add a image
4. select image from gallery
5. press crop(do nothing after that)
6. press back

###### Expected Result
should get back to edit image section

###### Actual Result
crash report is generated

###### Debug info
AnkiDroid Version = 2.16alpha89

Android Version = 12

Manufacturer = Google

Model = sdk_gphone64_x86_64

Hardwa

[2022-11-01 21:03] criticalAY commented on #12768
https://user-images.githubusercontent.com/48384865/199340409-a9377944-1227-48df-a37d-8eab89e67984.mp4

[2022-11-01 21:43] mikehardy commented on #12675
Great - good to confirm - and it took no time at all to find the new one, luckily there are not that many crashes in these alpha versions so it was literally a matter of 2 seconds either way. Cheers

[2022-11-02 06:48] Arthur-Milchior commented on #12764
For the record, it is normal that the button does nothing right now. As far as I know, the migration service is still not implemented.
On the other hand, it's clearly not normal that you see it if you're under scoped storage, so thank you very much for letting us know.

[2022-11-02 06:54] Arthur-Milchior commented on #12764
Also @doozan, since you already know how to use logcat. You should have a line starting with "isLegacyStorage(): current dir:", followed by two list of directories. It should appear when you open the deck picker. Can you please copy paste them here. (If you are not sure where to stop copying, just stop a few lines after "scoped internal dir:" and it should be fine.

[2022-11-02 12:02] pratyaksh1610 commented on #12768
It works fine on my end.

[2022-11-02 12:06] mikehardy commented on #12768
@pratyaksh1610 test results should include version or commit hash you are claiming results for, as well as execution environment (model of phone, version of Android)

[2022-11-02 12:36] beirne opened #12769 "[Bug] "AnkiDroid isn't responding" error after media sync popup in v2.16alpha88"
###### Reproduction Steps

1. In desktop Anki create some new notes with media. Mine have sound and images. My desktop is Anki for the Mac 2.1.54.
2. In AnkiDroid Settings->Sync enable "Fetch media on sync"
3. Do a sync in AnkiDroid

###### Expected Result
AnkiDroid will do the sync, with a popup from the app about syncing media. After that goes away the app should be usable without any interrupti

[2022-11-02 12:40] user1823 opened #12770 "[Bug] Add note window doesn't indicate which fields are pinned when it 'remembers' the pinned fields from Desktop Anki"
###### Reproduction Steps
1. Select add note option on Desktop Anki.
2. Pin one or more fields and create some notes.
3. Sync collection with AnkiDroid.
4. Open Add note window on AnkiDroid.

###### Expected Result
1. AnkiDroid (and Desktop Anki) remembers which fields were pinned.
2. The add note window indicates which fields are pinned (as it does when you click on the pin option).

###### Actua

[2022-11-02 12:46] mikehardy commented on #12770
Hi there @user1823 ! You have not pasted the debug info from your install (I believe that was requested in the template, but it seems you have removed that part? :thinking: ) - that would be very helpful to know

Also, if you are not using the latest alphas when testing, you *may* want to try a parallel / test install to see if the issue still happens, there have been a lot of changes in the last

[2022-11-02 12:48] mikehardy commented on #12769
Thanks for logging this @beirne !
So it appears media sync *is* working, but the "ANR" (android term "App Not Responding") warning dialog is concerning.
To use v3 scheduler you must have new schema enabled so this is the new media sync dialog + code pathway

To confirm: you did not select "background" on the media sync dialog? Or did you? Curious how it "went away" - if it was really going away on

[2022-11-02 12:51] #11674 closed

[2022-11-02 12:51] #11073 closed

[2022-11-02 12:56] beirne commented on #12769
I didn't hit background on the media sync dialog. On the ANR, I might have tapped outside but don't think that made the difference.

This actually also happened the first time I installed it last week. In that case I did hit Close app in the ANR hoping it was a fluke or known. I didn't add new cards to the desktop until last night, so this hadn't come up again. I'lll be a proper alpha tester now.

[2022-11-02 13:18] user1823 commented on #12770
Updated with debug info.

[2022-11-02 15:17] doozan commented on #12764
Here are the related logcat entries:
[code]
I moved the directory manually, following the directions in https://github.com/ankidroid/Anki-Android/issues/8925#issuecomment-976337268

Many thanks to everybody involved for making such a great app and for all the work related to the scoped storage migration.

[2022-11-02 16:14] beirne commented on #12769
I just created a note on the desktop with an image and sound and it came down fine with out the ANR message. I'll add a bigger set of notes later on when I have more time.

[2022-11-02 17:14] criticalAY commented on #12720
Have done few changes so the OC link opens up in the browser rather than the webview

[2022-11-02 17:17] criticalAY commented on #12720
Should we do the same for the development link also I have put a condition so that the development link opens in Webview itself ?

[2022-11-02 17:24] alyoshenka commented on #10489
I am working on `FieldEditText.kt`

[2022-11-02 19:22] Arthur-Milchior commented on #11451
@SanjaySargam Welcome,
It's still open.
As far as I know, @Aditya8840 has not contacted us since the issue was assigned to them, so you certainly can go work on it.

[2022-11-02 22:28] BrayanDSO commented on #12761
Huh, it was working on my branch before the merge.

Gonna need a bisect of these commits: https://github.com/BrayanDSO/Anki-Android/compare/main...ankidroid:Anki-Android:main

[2022-11-02 22:34] BrayanDSO commented on #12768
Can't reproduce at cb3cfcead55fd86ee5a5944c19fdbb63618bb18b on my Android 12 Samsung Note10 Lite

[2022-11-02 23:48] beirne commented on #12769
I just created some more notes this evening and they synced fine. I'm not sure what was different last night.

[2022-11-03 00:29] BrayanDSO commented on #12761
Bad cache messed up my builds.

Now that I've fixed it, can't reproduce on cb3cfcead55fd86ee5a5944c19fdbb63618bb18b

[2022-11-03 02:13] criticalAY commented on #12768
I have reproduced this issue after your comment on OnePlus Nord CE again

[2022-11-03 02:14] criticalAY commented on #12768
Unable to share the clip because it's too large but here are the screenshots
![Screenshot_2022-11-03-07-44-01-33_a9eef3a2a561b80d5c76daebd0f9a14c.jpg](https://user-images.githubusercontent.com/48384865/199635829-67005da3-63d0-4ea6-8c83-f4612ca09eb0.jpg)![Screenshot_2022-11-03-07-44-04-11_a9eef3a2a561b80d5c76daebd0f9a14c.jpg](https://user-images.githubusercontent.com/48384865/199635836-4522112d-ced

[2022-11-03 10:42] #12205 closed

[2022-11-03 10:53] SanjaySargam commented on #11451
@Arthur-Milchior we have to do changes only in HTML,CSS ,JS files right?

[2022-11-03 13:49] SanjaySargam commented on #11450
is issue this still open?

[2022-11-04 01:27] oyeraghib commented on #12770
I am gonna look into it, if no one has started yet!

[2022-11-04 03:25] Arthur-Milchior commented on #11451
Oh no. We have very very few HTML, CSS and JS pages actually.
What I meant is that sometime, we write some HTML directly inside of Kotlin code. And this code, may be cleaned.
I just edited the first message in this issue to add an example. For example https://github.com/ankidroid/Anki-Android/blob/8d4083e1ddbad8f0633679997a4b5b44ee88dc72/api/src/main/java/com/ichi2/anki/api/BasicModel.kt is a line

[2022-11-04 04:16] Arthur-Milchior commented on #11450
It still is. @SanjaySargam

[2022-11-04 04:41] Arthur-Milchior opened #12777 ""SD card" used to mean "storage""
Let's not use `SD Card`, I don't believe this is accurate

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/12683#discussion_r1002538445_

Actually, there are other strings that seems problematic too.
[code]

This issue is resolved when those five strings are rephrased in a way that does not refer to SD card. Ideally, we should just remain vague and and mentio

[2022-11-04 05:09] SanjaySargam commented on #11451
Thank You for ur explanation ☺️@Arthur-Milchior

[2022-11-04 06:20] Arthur-Milchior commented on #11942
As far as I know, it has not occurred since. Not a big issue. So I guess fine keeping it closed

[2022-11-04 09:58] criticalAY commented on #12711
Have made a PR to fix it

[2022-11-04 10:02] criticalAY commented on #12768
@mikehardy Can we consider updating the library here to the latest version to fix this issue (probably it will be fixed as Canhub has fixed many exceptions in their latest version)

[2022-11-04 10:48] n1snt commented on #12194
The test seems to be passing now.
It looks like we have still not added the notification permission. [Source](https://developer.android.com/develop/ui/views/notifications/notification-permission)

[2022-11-04 14:55] mikehardy commented on #12194
The test passes for me after I accept permission on the emulator, it appears to be persistent. It's the fresh install on fresh emulator case that was struggling

compile version is 33 now from my David's work on #12359

Looks like I actually fixed this in #12643 but didn't close it :laughing:

[2022-11-04 14:55] #12194 closed

[2022-11-04 15:40] #12227 closed

[2022-11-04 17:26] Subhadiptech commented on #12777
Hey @Arthur-Milchior Can I work on this issue. I think I can solve this with some little guidance.

[2022-11-04 19:08] Arthur-Milchior commented on #12777
Hi @Subhadiptech,

I beg your pardon, but I don't understand your question. What work do you intent to do? or what guidance do you expect?
Because, right now, the main issue is not code. The main issue is deciding what we want to do. I made three suggestions, we need to decide between them
Personally, I don't have a strong preference any way. So the first thing is really to decide which solution w

[2022-11-04 19:19] Subhadiptech commented on #12777
Ohh ya, My bad.

[2022-11-05 09:34] riotgage commented on #12451
Out of the 8 Plural Candidates. 2 (First and last one) probably don't need to be changed to plurals. For first one , both the params are constants. So String will be always be same. For last one, It is used to create "notify when" dialog in notification preferences where strings always in plural form. For remaining, we need to add plurals.
It looks like no one is assigned to this.  @mikehardy can

[2022-11-05 12:46] mikehardy commented on #12777
I think it is worth fixing it, I think it requires a new key, that is - option 1 is my preference

[2022-11-05 16:52] mikehardy commented on #12768
I don't see why there is a crash report but no stack trace? Crash reports have nearly zero value without the crash trace - they are only useful as a reminder to go get the crash trace as job 1

That said, I've updated the image cropper library in the latest dependency updates #12783

[2022-11-05 16:56] criticalAY commented on #12768
There is actually, I have marked them one with my username itself, Thanks though

[2022-11-05 17:56] Arthur-Milchior commented on #12777
So, to be explicit, @Subhadiptech, I believe that now you can work on it. I edited the first message of the issue to indicate as clearly as possible what is expected. Don't hesitate to ask question on our discord if you need more guidance

[2022-11-05 18:24] mikehardy commented on #11079
I have implemented AVD deletion, but it is not scheduled. Still need to do some sort of API high (33 at the moment?) / low (minSdkVersion - currently 21) test on a schedule

[2022-11-05 18:25] mikehardy commented on #12768
I see no crash trace in this issue here

[2022-11-05 18:54] criticalAY commented on #12768
Yes, no crash just the report is getting generated

[2022-11-05 19:37] #10585 closed

[2022-11-05 19:38] Subhadiptech commented on #12777
Sure. Thanks. Will work on it.

[2022-11-06 09:18] snowtimeglass opened #12788 "The first letter of "yes" on the alert dialog of "Empty cards" feature is not capitalized"
###### Reproduction Steps

1. Tap the three dot icon on the deck picker screen
2. Tap "Empty cards"
   (Then, a progress dialog of "Finding empty cards..." gets shown)
![image](https://user-images.githubusercontent.com/10436072/199731305-11127ab6-4e90-47ec-8f81-7be61dc179ec.png)
4. Tap Back button during the message is shown
   (Then, an alert dialog of "Do you want to cancel?")

###### Expected R

[2022-11-06 09:33] criticalAY commented on #12720
Hey!

[2022-11-06 12:05] snowtimeglass opened #12790 "[Bug] The "yes" and "No" actions in the "Empty cards" alert dialog appear to be switched with each other"
###### Reproduction Steps

1. Tap the three dot icon on the deck picker screen
2. Tap "Empty cards"
   (Then, a progress dialog of "Finding empty cards..." gets shown)
![image](https://user-images.githubusercontent.com/10436072/199731305-11127ab6-4e90-47ec-8f81-7be61dc179ec.png)
4. Tap Back button during the message is shown
   (Then, an alert dialog of "Do you want to cancel?" gets shown)
![image

[2022-11-06 13:43] snowtimeglass commented on #12790
I plan to fix this (if this is a bug) after the "yes" is replaced with "Yes" by #12788, but if it's better to fix this switching first, I think it's good to adopt @pratyaksh1610's PR :-)

[2022-11-06 14:34] Subhadiptech commented on #12777
@mikehardy  @Arthur-Milchior The issue is resolved and the link to the [https://github.com/ankidroid/Anki-Android/pull/12786](PR)

[2022-11-06 19:36] #12256 closed

[2022-11-06 19:55] #12790 closed

[2022-11-06 22:15] Arthur-Milchior commented on #12777
No need to ping us, well see it when we have time to review.

[2022-11-06 23:42] david-allison commented on #12209
Closing as stale - we won't get to this any time soon

[2022-11-06 23:42] #12209 closed

[2022-11-07 01:34] oyeraghib commented on #12770
@user1823 Can you describe me the steps in Anki(Desktop) to see what fields are pinned when you add a note.

[2022-11-07 16:45] #11220 closed

[2022-11-07 20:38] Yoannjap commented on #12597
Hey raehat,

I am so orry to answer only now to what seems, seeing your gif, to be a brilliant work you did to add the search bar!
But I had a huge week of work in my company :(

Well, if you have time, could you send me the apk at my email yoannjap at yahoo dot fr ?

I can test it this week, having myself more time to do.

Thanks again 👍

[2022-11-09 20:37] #12788 closed

[2022-11-09 21:00] #12326 closed

[2022-11-10 16:03] lukstbit commented on #12777
Done in #12786

[2022-11-10 16:03] #12777 closed

[2022-11-10 19:49] oakkitten opened #12812 "Investigate optimizing `withCol {}` & `withQueue {}` to allow simultaneous reads"
Currently collection I/O is limited to one thread for all operations. This is simple and effective, but this also means that reading operations are performed sequentially, and overall slowdowns may happen if one of the operations is, well, slow.

I suggest investigating allowing parallel read operations, perhaps by using [some sort of a read/write mutex](https://en.wikipedia.org/wiki/Readers%E2%80

[2022-11-11 00:53] #11939 closed

[2022-11-11 09:37] fylux opened #12814 "[Bug] AnkiDroidJS.ankiGetCardFactor() and other functions always return 0"
In the latest alpha I was trying to use:
 * AnkiDroidJS.ankiGetCardFactor()
 * AnkiDroidJS.ankiGetCardReps()
 * AnkiDroidJS.ankiGetCardLapses()

For some reason they all return 0. It does not happen with every API function, e.g. AnkiDroidJS.ankiGetCardDue() works well.

![a](https://i.imgur.com/gBl8ujA.png)

###### Reproduction Steps

1a. Add to a note type `AnkiDroidJS.ankiGetCardFactor()`
1b. Or

[2022-11-11 21:03] mikehardy commented on #12320
I think this one is a real thing...

[2022-11-11 21:31] mikehardy commented on #12814
Huh :thinking: thanks for reporting this. May be possible to reproduce this one with a unit test - I'm not sure there is much if any coverage of the JS API, and if some of the APIs are reproducibly returning 0 it should show up immediately under a unit test

[2022-11-11 21:45] xallllien opened #12819 "The application crashes when adding a new entry"
Hello!
After a break of several months, I opened the application, synchronized the decks, created a new deck. When trying to add a new entry, the application crashes. Rebooting the phone and reinstalling the app didn't help.
I will be grateful for your help.

--------------------

AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = Xiaomi

Model = Redmi Note 9 Pro

Hardware = qcom

We

[2022-11-11 23:10] mikehardy commented on #12819
Hi there! You should definitely try the latest release from our releases page: https://github.com/ankidroid/Anki-Android/releases

There is something that causes lots of 2.15 users to crash when adding notes and I've heard almost completely "that fixed it" responses when using the current 2.16 alphas

[2022-11-12 07:54] fylux commented on #12814
Thank you for the quick reply. Fyi today I have tried it in study mode and it does work well, so probably the issue is only when visualizing in the browser.

[2022-11-12 12:49] CjiqL commented on #12034
Hi, I had the same problem when using custom fonts.
Ankidroid's memory usage would increase as I reviewed the cards, until the device became stuttering and could no longer be used.
I'm almost going crazy because my device only has 4G RAM, so every 50 or so cards I need to restart ankidroid.
I encountered this problem when using version 2.15, and the problem still exists after upgrading to 2.16alph

[2022-11-12 13:27] user1823 opened #12821 "[Bug] Error when app is opened while being offline"
When I open the latest alpha version of the app while being offline, I get the following error message saying, "Please check your internet connection."
![Screenshot_20221112-071038](https://user-images.githubusercontent.com/92206575/201476242-3042e8a6-1eb5-4ba2-8485-5f381e8bb790.jpg)

Since I didn't request any kind of syncing, getting this message is unexpected. Also, the latest stable version (v

[2022-11-12 14:53] mikehardy commented on #12034
It's not that ankidroid doesn't clear them, it's that the system built-in webview doesn't clear them, this is unfortunately an "in-between" problem, that is, the problem is in between AnkiDroid (which uses standard APIs to use the standard built-in system WebView for card display) and the system WebView component (which loads the card for display inlcluding fonts)

I'm not sure what we can do here

[2022-11-12 14:56] mikehardy commented on #12821
That's unexpected, are you certain you don't have auto sync set up on app startup? I can't think why AnkiDroid would try to access the internet on startup, and I can't think why that dialog would be displayed if there wasn't an attempt at internet access. So auto-sync is all I can think of :thinking:

[2022-11-12 15:27] homocomputeris commented on #12769
I also notice AnkiDroid freezing since alpha88, and Android suggests to kill it. It seems like stopping it and cleaning cache helps.

[2022-11-12 15:47] mikehardy commented on #12769
If you have any sort of exact steps to reproduce for this @homocomputeris that would be great

[2022-11-12 16:01] user1823 commented on #12821
The auto sync is turned off. (Assuming the below one is the setting you are talking about.)

![Screenshot](https://user-images.githubusercontent.com/92206575/201482850-1ef9a533-9372-474f-b5e0-c7ea1efae6b7.jpg)

[2022-11-12 16:03] homocomputeris commented on #12769
Steps to reproduce:

1. Open AnkiDroid
2. Start sync
3. It shows the 'Syncing # changes, syncing # files' pop-up
4. The number of kB, files increases, and then stops
5. AnkiDroid freezes
6. Android's 'Kill app now? Or wait?' pop-up appears
7. If 'Wait', the screen goes fully black
8. Go to recent apps, kill Anki

[code]

[2022-11-12 16:26] pratyaksh1610 opened #12822 "All activity names to end with `Activity` to make it consistent with naming convention"
Activity names to end with `Activity` to make it consistent with naming convention.

Originally posted by @oakkitten in https://github.com/ankidroid/Anki-Android/pull/12818#issuecomment-1312518434

[2022-11-12 18:30] mikehardy commented on #12821
That's exactly what I was talking about. Well, bummer. I was hoping it was that easy but of course it cannot be that easy.
Just know it's not intended - neither to use network when not actually syncing nor to auto-sync (if that is what is going on) without it being configured. Needs triage...

[2022-11-12 20:09] SanjaySargam commented on #12364
@criticalAY
Is there anyone working on `Bundle interface` ?

[2022-11-12 20:15] criticalAY commented on #12364
Nope there were two bundle PRs made from my side but I recloned the repo which resulted in those PRs getting closed, so pick any bundle interface you like except those

[2022-11-12 20:15] n1snt commented on #12364
I think @sumanarlert is working on Bundle.getParcelable except that I don't think anyone is working on any other Bundle interfaces.

[2022-11-12 20:17] criticalAY commented on #12364
He said he wants to watch and learn so I over took that (closed PR)

[2022-11-12 20:26] SanjaySargam commented on #12364
So, I think no one is working on  `Bundle.getSerializable` .

[2022-11-12 20:31] criticalAY commented on #12364
Ahmm I worked on it but sure if you want to fix it then go ahead. You can refer to the PR above(which is certainly closed now but it is of relevance you will get a clear idea of what you have to do) Those PRs are closed because of my stupidity but nvm

[2022-11-12 20:33] SanjaySargam commented on #12364
Ok Cool no worries

[2022-11-13 00:01] dae commented on #12821
This can probably be fixed by catching exceptions in the call to syncStatusFromRequired() and swallowing them, returning NO_CHANGES. The network call only happens when there are no local changes.

[2022-11-13 05:25] Mehar18 commented on #12385
searching for solution..

[2022-11-13 06:14] #12768 closed

[2022-11-13 21:39] Subhadiptech commented on #12822
Can I work on this issue if this issue gets verified and ensuring no-one works on this.

[2022-11-14 16:55] n1snt commented on #12822
There are around 16-17 Activities in AnkiDroid which we need to rename.
And we need to change all the instances of that activities too.
I think this task would be better distributed by creating a list like [this](https://github.com/ankidroid/Anki-Android/issues/12364)
_(If this gets accepted as an issue 😅)_

[2022-11-14 16:56] n1snt commented on #12822
There are around 16-17 Activities in AnkiDroid that we need to rename. (There may be more)
And we need to change all the instances of that activities too.
I think this task would be better distributed by creating a list like [this](https://github.com/ankidroid/Anki-Android/issues/12364)
_(If this gets accepted as an issue 😅)_

[2022-11-14 17:13] Subhadiptech commented on #12822
Yeah, it will be easy to manage then

[2022-11-14 22:40] #11829 closed

[2022-11-15 02:40] oakkitten opened #12825 "[Bug] No sync button badge on Android 6"
###### Reproduction Steps

1. Open AnkiDroid on Android 6

###### Expected Result

I see a need to login badge

###### Actual Result

No badge, logcat is full of

[code]

###### Debug info
AnkiDroid Version = 2.16alpha88
Android Version = 6.0.1
Manufacturer = motorola
Model = Moto G
Hardware = qcom
Webview User Agent = Mozilla/5.0 (Linux; Android 6.0.1; Moto G Build/MOB30Z; wv) AppleWebKit/537.36

[2022-11-15 02:49] oakkitten opened #12827 "[Bug] New backend: error when deleting unused media files on Android 6"
###### Reproduction Steps

1. Have unused media
2. Tap on Check media, Ok
3. Tap on Delete unused

###### Expected Result

Files are deleted, no error

###### Actual Result

Only the first file is actually deleted; an error dialog pops up and logcat says:

[code]

###### Debug info
AnkiDroid Version = 2.16alpha88
Android Version = 6.0.1
Manufacturer = motorola
Model = Moto G
Hardware = qcom
Webvie

[2022-11-15 10:03] mrudultora commented on #9259
@mikehardy
We can disable the generation of APKs from AAB file, based on device locale (particularly region specific languages). This would be the most easiest way to overcome the issue that you mentioned in the previous comment.

you have to generate an APK for other markets anyway (Amazon AppStore, Huawei AppGallery)

According to me, AAB pros outcast cons.

To solve the device locale issue:
[co

[2022-11-15 10:16] mrudultora commented on #9097
Unable to see a PR related to above discussions. @sethbuchinger are you still working on it?

[2022-11-15 10:32] mrudultora commented on #8865
Unable to reproduce this issue on my phone, on the basis of steps mentioned above.

Device details:
Realme Narzo 30 (Android 12).

App Version: 2.15.6 (installed from Google Play Store).

[2022-11-15 10:40] mrudultora commented on #8710
@mikehardy

A preference could be added below the changelogs, that works in a similar fashion as changelogs. In the HTML page, every library can be added. Also, a brief description can be added below each library mentioning the reason of it's usage.
I don't think that including licenses would make sense.

[2022-11-15 11:36] #11353 closed

[2022-11-15 12:41] mrudultora commented on #8710
Oh, I didn't knew about this!

[2022-11-15 12:47] mikehardy commented on #12825
Even worse, with current main as of 20221114 at least, on a fresh install on Android 6 emulator it just crashed for me with a problem doing a linear gradient in the view XML

[2022-11-15 13:01] mikehardy commented on #9259
To be clear, AAB is the future, I just want to make sure we don't have regressions.
One of the issues with the play core libraries is that they are non-free, so they would not be valid in an F-Droid context for instance. There is no avoiding the continuation of APK generation (with or without splits / locale selection) unfortunately, which is why it is just an issue to switch to AAB-first, not "sw

[2022-11-15 13:05] oakkitten opened #12832 "Do not handle configuration changes manually"
As per the documentation, [it is not recommended to handle configuration changes yourself due to the hidden complexity of handling the configuration changes](https://developer.android.com/guide/topics/resources/runtime-changes#:~:text=It%20is%20not%20recommended%20to%20handle%20configuration%20changes%20yourself%20due%20to%20the%20hidden%20complexity%20of%20handling%20the%20configuration%20changes

[2022-11-15 17:37] #12187 closed

[2022-11-15 21:08] alyoshenka commented on #12277
Looked into `MeuHost/MenuProvider` to handle menu interactions, but could not find many references for getting it to work, since it's a relatively new feature. The particular difficulty with this issue is that a Toolbar is used. I could not get `MH/MP` to get initialized as the documentation demonstrates.

[2022-11-16 00:24] dae commented on #12827
Debugging this will require adding some println!() statements into the backend code to figure out which system call is failing and why. build_current.sh can't be used here since a cross-compilation toolchain is required, so probably easiest to make the changes and then build the library via github actions. The problem is probably in files.rs:remove_files().

[2022-11-16 00:27] dae commented on #12827
(if I had to guess at the problem, I suspect it's the set_file_times() call that calls utimes() in libc - it may be a similar issue to https://github.com/termux/termux-app/issues/240)

[2022-11-16 00:51] oakkitten commented on #12827
Note that one does get deleted, but not the rest of the bunch, might help narrow down the cause

[2022-11-16 12:45] eoghanmurray opened #12835 "HTML5 audio play() on external sound links not playing"
###### Reproduction Steps

Front Template:

[code]

###### Expected Result

A random one of the three audio links should auto play upon card presentation, and the user should be able to select one of the three variants to later play manually.

If the `GA` field is 'dubh', then the first button will resolve to https://www.teanglann.ie/CanC/dubh.mp3

This works fine in the iOS app and on ankiweb/des

[2022-11-16 12:49] #11664 closed

[2022-11-16 18:05] oakkitten commented on #12825
For the record, I updated to alpha89 and got a startup crash too. 88 doesn't seem to have this issue

[code]

[2022-11-16 18:29] HeadlessAngel commented on #12364
Is anyone working on  Activity.onBackPressed deprecation? If not I would like to try it

[2022-11-16 19:36] #12368 closed

[2022-11-16 20:28] criticalAY commented on #12364
Go ahead

[2022-11-17 02:05] doozan opened #12837 "[Bug] Error: Invalid input: card was modified after unsuspending a card while studying"
While studying I used cardbrowser to find and unsuspend a card that I hadn't used in two years which would surely be due by now had it not been suspended. Then I returned to studying, answered the displayed card and received the error. Clicking OK dismissed the error and popped up a snackbar saying it was sending an error report and then returned me to the card I had just tried to answer. Answerin

[2022-11-17 02:24] oakkitten commented on #12384
I wonder if anyone is actually finding those assertion messages useful *in practice*?

[2022-11-17 12:28] BrayanDSO commented on #12832
Agreed. It's probably best to keep a TODO list of activities to update and be aware that some of them (MyAccount.kt, Info.kt, DeckOptionsActivity.kt, Statistics.kt) are going to be removed later or converted into fragments

[2022-11-17 13:39] Yoannjap commented on #12597
Hi back raehat,

May I see and test your great work with an apk ?

My email address is on my reply above.

[2022-11-17 18:09] Michaelar1 opened #12842 "Sync Error - Your Anko Client is not compatible with the V2 Server"
![Screenshot_20221117-130143_AnkiDroid](https://user-images.githubusercontent.com/112276652/202523913-89d5aac5-1541-43e3-9324-f42154cf7f12.jpg)
AnkiDroid Version = 2.8.4

Android Version = 12

ACRA UUID = 82692438-fc2f-4738-ab8f-dfcb2f11889b

[2022-11-17 18:11] BrayanDSO commented on #11451
If this is going to be done, I believe that a lint rule should be used, otherwise this will be a open-ended issue that may never be completed because people may not remember to use `"""` on new PRs.

And, to be honest, I bet that the time cost on pushing/reviewing all usages of `\"` will be way bigger than the spared time spent on deciphering that `\"` = `"`. So, I don't suggest spending time on t

[2022-11-17 18:14] mikehardy commented on #12842
Hi there! The error is as the error message says. You should get a new version, not sure why you are on v2.8.4 when the latest in the play store (and on f-droid) is 2.15.6 but you may easily access those and turn on v2 scheduler in advanced settings

Or you may grab the latest alphas and it is compatible out of the box https://github.com/ankidroid/Anki-Android/releases

That will fix you up

[2022-11-17 18:14] #12842 closed

[2022-11-17 23:36] LBX1002 opened #12843 "[Bug]2.16alpha89 crashes after changing App Bar Options settings for Reschedule & Flag"
###### Reproduction Steps

1. Change options in App Bar Buttons
2.  Reschedule to Always Show or
3. Flag to Show if room.

###### Expected Result
New button arrangement

###### Actual Result
App crashes - cannot review cards

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character

[2022-11-17 23:47] LBX1002 commented on #12843
Z Fold 3 Android v12

[2022-11-17 23:57] mikehardy commented on #12843
Hey @LBX1002 :wave: - we really need this to see the crash if possible:

[2022-11-18 08:59] LBX1002 commented on #12843
AnkiDroid Version = 2.16alpha89

Android Version = 12

Manufacturer = samsung

Model = SM-F926U1

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 12; SM-F926U1 Build/SP2A.220305.013; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/107.0.5304.91 Safari/537.36

ACRA UUID = 6ac3160d-f3be-4ce9-b008-02a138953a8a

New schema = false

Scheduler = std2

Crash Reports Enable

[2022-11-18 09:03] LBX1002 commented on #12843
Also, yesterday I sent a crash report from ankidroid itself.

[2022-11-18 09:37] #12357 closed

[2022-11-18 13:16] mikehardy commented on #12843
@LBX1002 thanks for that!

[code]

logcat

[code]

https://ankidroid.org/acra/app/1/bug/25391/report/c69bb399-8be2-4f95-80b6-44d614d6e1eb

I see your comment on one of them:

[2022-11-18 13:58] #12843 closed

[2022-11-18 13:59] #12825 closed

[2022-11-18 15:52] mikehardy commented on #12370
Crash - stay open

[2022-11-18 18:35] BrayanDSO opened #12850 "Commit may get cancelled by an error from Prettier if there isn't internet connection"
[code]

[2022-11-18 18:37] mikehardy commented on #12850
`git commit --no-verify` ;-)

[2022-11-18 18:40] BrayanDSO commented on #12850
That's what I did. But I still want to run Ktlint automatically

[2022-11-18 20:41] LBX1002 commented on #12843
2.16alpha90 works great. Much appreciated for all the great.work.

[2022-11-18 20:44] mikehardy commented on #12843
All hail @lukstbit on this one :-), and I'll take the opportunity to say I/we really appreciate the testing on the alpha releases, the 2.16 release contains so much change vs 2.15 it is a bit scary (as a release manager...) but knowing there are people using it regularly gives me some confidence! Cheers

[2022-11-19 01:33] fehC opened #12851 "[Request] HTML support for decks list (decks name in the main page)"
Title says it all.
On Windows and MacOS, Anki supports HTML/CSS format for decks names on the main page. Any plans to support that anytime soon in AnkiDroid? We need it for school. We now have decks that are color-coded and look appealing to young learners.

Would a generous donation motivate you to consider it?

Cheers

[2022-11-19 05:24] pavreh commented on #12761
AnkiDroid 2.16alpha90. I deleted data of the app and reinstalled the app. I still can reproduce. See the video below.
https://user-images.githubusercontent.com/10192661/202835701-ccd85bfe-b2b2-42c5-b954-9b18c79c8e29.mp4

[2022-11-19 05:50] pavreh commented on #11695
I cannot reproduce "reschedule set to always show" in 2.16alpha90.

"Reschedule set to show if room doesn't show up in landscape" still reproducible.

[2022-11-19 07:50] user1823 commented on #12442
Still searching for solutions...

[2022-11-19 11:48] WiliTest commented on #11939
still searching for solutions

[2022-11-19 13:03] vi commented on #12443
.

[2022-11-19 15:04] homocomputeris commented on #12769
It seems to have improved significantly in alpha 90

[2022-11-19 17:06] davidson16807 commented on #5229
This bug occurs for me as well, however for me no matter what button I press to rate the answer it says the next due date will be updated to "1 day". From what I can tell the application is correct in its statement, the next due date really does seem to update to this interval.

This issue occurs on both of the machines I'm using. The first machine is version 2.1.54 running on Ubuntu 22.04.1 LTS w

[2022-11-19 18:01] BrayanDSO commented on #12851
Didn't know that this can be done on Anki. Looks cool.

Although this still needs some polishing there (the HTML isn't stripped or parsed on other windows)

![image](https://user-images.githubusercontent.com/69634269/202865054-60d7fde4-4523-4e59-bdcd-2ba828afa520.png)
![image](https://user-images.githubusercontent.com/69634269/202864990-03de8978-3cde-4d8b-bc63-d207417d31ad.png)
![image](https://us

[2022-11-19 21:45] alyoshenka commented on #12390
If this is still an issue, I'd like to take a look at it.

[2022-11-19 21:55] beirne commented on #12769
I've synced a number of times since opening the ticket and just did again after adding some cards with media. I haven't been able to reproduce the problem, either on alpha 88 or 90.

[2022-11-19 22:02] voidplayer commented on #12390
Yes it is!

Please do!

[2022-11-19 23:06] mikehardy commented on #12851
I think this is a something that worked by accident and may be going away? I believe it came up before, am I misremembering this @dae ?

[2022-11-19 23:15] alyoshenka commented on #12390
Sweet, just wanted to make sure it wasn't intentionally let to go stale/get closed by the bot.

[2022-11-19 23:49] dae commented on #12851
You're correct, it's unsupported and will stop working in the future.

[2022-11-20 03:37] fehC commented on #12851
We have invested a lot of time and money in creating user-friendly lessons titles for our young learners on Anki main page. We're talking about kids as young as 5 years old.

Removing such a (hack) feature would certainly mean that we won't be updating our apps or apps on students' devices.

Why not leave such a minor feature as optional? Even better, why not implement it in AnkiDroid?

![anki](ht

[2022-11-20 04:32] snowtimeglass opened #12853 "The string of ”Undo” is displayed unnaturally in Japanese and some languages"
###### Reproduction Steps

1. "Settings" ->"Appearance" -> "App bar buttons" -> "Undo" -> "Menu only"
2. Tap a deck on Deck picker screen
3. Tap the three dot icon on Reviewer screen, and check the string of the item of "Undo"
![image](https://user-images.githubusercontent.com/10436072/202880479-9bb823ad-593b-4dd9-b2a8-127eaf6ef85d.png)

4. "Settings"->"Language"->"日本語" (Japanese)
5. Tap the three

[2022-11-20 04:55] SanjaySargam commented on #5347
Is this still open?

[2022-11-20 07:56] SanjaySargam commented on #9847
If no one working on this issue then I'd love to work on this issue?

[2022-11-20 09:21] mikehardy commented on #12851
AnkiDroid is not anti-any-feature-specifically but we are always resource-constrained.

As such we implement - in general - what is (or will be) supported in the general Anki system and as a priority, and what is required to track new Android releases, and that is struggle enough for us, we barely keep up and are a bit behind as it is.

So in this case if the Anki ecosystem is not going support th

[2022-11-20 09:21] #12851 closed

[2022-11-20 10:25] voidplayer commented on #12390
The bot is kinda of aggressive. Some times you dont feel like fighting it! ;)

I cant reopen it tho

Thanks for showing interest!! This lack of gestures in preview window drive me crazy some times

[2022-11-20 10:32] homocomputeris commented on #12448
Still an issue

[2022-11-20 10:38] #12310 closed

[2022-11-20 10:53] snowtimeglass opened #12856 "[Bug] The language of the title of "Drawing" screen isn't changed by AnkiDroid settings"
###### Reproduction Steps

1. [Settings] ->[General settings]-> [Language] -> Select a language other than the system language on the device

      (For example, if the system language is [English], you can select [日本語] (Japanese) on AnkiDroid settings.)

2. Tap a deck on Deck picker screen
3. Tap the three dot icon
4. Tap [Edit note]
5. Tap a clip icon of a field
6. Tap [Image] icon
7. Tap [DRAWI

[2022-11-20 11:46] #12856 closed

[2022-11-20 12:58] ahmedbenarab opened #12858 "Ankidroid alpha90, crash after trying to edit tags"
###### Reproduction Steps

1. Open. Ankidroid
2. Sync ur collection
3. Try to add a note
4. Just pressing tags field

###### Expected Result

Editing tags

###### Actual Result

Ankidroid breaks down

###### Debug info
AnkiDroid Version = 2.16alpha90

Android Version = 7.0

Manufacturer = SPA Condor Electronics

Model = PGN611

Hardware = mt6735

Webview User Agent = Mozilla/5.0 (Linux; Android 7.

[2022-11-20 13:04] mikehardy commented on #12858
Thanks for the report!

:thinking:

[code]

[code]

from https://ankidroid.org/acra/app/1/bug/25509/report/c0c6d923-ee20-466a-b806-7528b6cc2755

Looks like #12471 - so I will close this as a duplicate but tag you there and note it is still happening

[2022-11-20 13:04] #12858 closed

[2022-11-20 13:05] mikehardy commented on #12471
This is still a problem:  https://ankidroid.org/acra/app/1/bug/25509/report/c0c6d923-ee20-466a-b806-7528b6cc2755 reported by @ahmedbenarab

[2022-11-20 13:17] user1823 commented on #12471
As demonstrated in #12472, the issue occurs only when the collection contains hierarchical tags (i.e., tags of the type A::B).

This information might be useful for finding the cause of the issue.

[2022-11-20 14:41] dhysuiej opened #12859 "2 options mode (again/easy) instead of 4 (again/hard/good/easy)"
**Is your feature request related to a problem? Please describe.**

Pretty much all other flashcard apps I've used so far have only two options available for the users to mark whether they remembered the card or not, and the time for the next time when the card will be shown again is not shown.

**Describe the solution you'd like**

A way to activate a mode where only the 2 options Again/Easy are

[2022-11-20 15:08] user1823 commented on #12476
Still searching for solutions...

[2022-11-20 15:16] mikehardy commented on #12859
Hi there!
This is not supported upstream in Anki, and we must maintain compatibility with them, thus it will not be implemented.

This is roughly a duplicate of #10961 and would require a UI interface workaround to collapse responses to the 4 supported

[2022-11-20 15:16] #12859 closed

[2022-11-20 19:10] ahmedbenarab commented on #12471
@mikehardy, Like @user1823 has mentioned, using hierarchical tags in the format tag1::tag2::... Etc is what causes the crash

[2022-11-20 19:39] chenlijun99 opened #12864 "[Bug] Incompatible behaviour between Anki-desktop and Anki-Android regarding percent-escape of URL in <object>"
###### Reproduction Steps

Create a note with `<object data="hello100%.pdf"></object>`  as content. Anki-Android doesn't escape, while Anki-desktop escapes.
It is not the case for `<img src>`, where both Anki-desktop and Anki-Android escape the URL.

**I believe the problem lies in** this function https://github.com/ankidroid/Anki-Android/blob/7c9890327e80ac86b3b63b7d30ff8e208da8eef7/AnkiDroid/src

[2022-11-20 20:29] mikehardy commented on #12864
Hi there! I don't see the version you are on, can you include the info requested here:

(and if you are not on the latest alphas, could you give them a try - especially with "new schema" and "v3 scheduler" support enabled in advanced settings to see if they have an effect https://github.com/ankidroid/Anki-Android/releases )

[2022-11-20 20:41] chenlijun99 commented on #12864
Hi. I've added the initial debug infos.

I've also tested the latest alpha and enabled the suggested settings. But the problem persists.

Updated debug info

[code]

[2022-11-20 21:32] criticalAY opened #12865 "[Bug] alpha90 crashes when editing note and adding audio"
###### Reproduction Steps

1. go to edit note
2. remove all the text from back of the card
3. insert an image and hit ok
4. click on the attachment icon again
5. try inserting audio this time

###### Expected Result
there should be a menu to select options with

###### Actual Result
edit image is directly opened and when we hit add audio the application crashes

###### Debug info
AnkiDroid Version

[2022-11-20 23:26] Blauelf opened #12866 "[Bug] Syncing with AnkiDroid breaks Custom Scheduler on Desktop"
###### Reproduction Steps
Might require custom scheduler code that's already synced between desktop and AnkiDroid, as at one point, changes did work.

1.  On desktop, change something in the Custom Scheduler part.
2.  Sync on desktop
3.  Sync on Android
4.  Sync on desktop

###### Expected Result
The change is still there

###### Actual Result
The change got reverted by the last sync

###### Debug

[2022-11-21 00:26] mikehardy commented on #12866
/
can you retry w/new schema support and v3 enabled in advanced settings?

[2022-11-21 07:26] Blauelf commented on #12866
Same result with new backend and V3 enabled. Syncing on desktop *after* syncing on AnkiDroid reverts changes.

(Independently, with V3 enabled, AnkiDroid freezes on sync showing a window "Media Sync Log" "Background", no buttons or anything else, just my system asking me whether I want to wait or terminate the app. Is it doing some one-time thing without any progress bar, or is it actually stuck?)

[2022-11-21 07:31] mikehardy commented on #12866
the media sync log thing is a known "no user progress indicator" thing that we need to work on for the new schema - it probably won't be ready for 2.16 but it *is* actually doing something (or I think it is?) just no progress. It should be a sticky notification / foreground-service type deal where you can continue using the app while it works through whatever media sync stuff needs to happen

[2022-11-21 07:55] criticalAY commented on #12865
It just happened that I checked here before making PRs myself but okay nice attempt

[2022-11-21 08:12] criticalAY commented on #12864
AnkiDesktop escapes both object and image url but I don't think Ankidroid escapes them both though there is a snackback in case we insert the <image src> tag by ourself and there is no image as such existing but nothing pops up for the object

[2022-11-21 09:20] chenlijun99 commented on #12864
My case is that I have JavaScript that dynamically loads and renders resources referenced in `<object>`. But for now I just have special logic that encodes the URL read from the `data` property of a  `HTMLObjectElement`, if the JavaScript is executing on Anki-Android. See https://github.com/chenlijun99/autoanki/blob/379af2927eee53df0bb8d007cda0813308c2c111/packages/autoanki-anki-bridge/src/index.t

[2022-11-21 11:58] criticalAY commented on #12821
I am not able to reproduce this issue. @user1823  are you talking about fresh install of the alpha version?

[2022-11-21 12:08] user1823 commented on #12821
No, I am not using a fresh install. I only updated my existing installation with the latest apk.

Also, one thing I forgot to mention earlier is that the error doesn't show up every time I open AnkiDroid while being offline. I only see it when I first open the app on a particular day (with last sync the night before, if it matters).

[2022-11-21 14:06] #12865 closed

[2022-11-21 18:59] LBX1002 opened #12873 "[Bug]Alpha2.16-90: Red dot on synch icon remains after synching."
###### Reproduction Steps

1.  Hit synch icon
2. Red dot remains
3. Hit synch again - red now disappears

###### Expected Result
Expect red synch dot to disappear after synching.

###### Actual Result
Required 2 back to back attempts before red synch dot disappears.

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

[2022-11-21 19:50] anatoliibakhtin commented on #12488
I'm still waiting... [AnkiDroid-2.16alpha84-arm64-v8a.apk](https://github.com/ankidroid/Anki-Android/releases/download/v2.16alpha84/AnkiDroid-2.16alpha84-arm64-v8a.apk)  has the same situation: The deck is set to random, but after resetting the cards (time), the deck is also reset to display in order, not in random, as I originally set it to do.

[2022-11-21 20:39] criticalAY commented on #12873
Can you share the debug info

[2022-11-21 20:46] n1snt commented on #12364
@david-allison can I please get a review on these 2 deprecation PRs:
https://github.com/ankidroid/Anki-Android/pull/12550
https://github.com/ankidroid/Anki-Android/pull/12548

[2022-11-21 21:07] LBX1002 commented on #12873
I don't get any bug info. I just notice it when I am synching. I have to synch twice if I want the red dot to vanish.

[2022-11-21 21:07] criticalAY commented on #12873
I am not able to reproduce the issue like I am not facing this issue doing so

[2022-11-21 21:08] criticalAY commented on #12873
This in the setting section -> about -> debug info

[2022-11-21 21:19] criticalAY commented on #12873
Did you check your data connection though?

[2022-11-21 21:34] mikehardy commented on #12488
For what it's worth we're on 2.16alpha90 now with maybe 100 PRs merged since 84...
https://github.com/ankidroid/Anki-Android/releases

[2022-11-21 21:51] LBX1002 commented on #12873
AnkiDroid Version = 2.16alpha90

Android Version = 12

Manufacturer = samsung

Model = SM-F926U1

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 12; SM-F926U1 Build/SP2A.220305.013; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/107.0.5304.105 Safari/537.36

ACRA UUID = 4215bb3b-efed-4490-89c1-855fa20a8a44

New schema = false

Scheduler = std2

Crash Reports Enabl

[2022-11-21 21:54] LBX1002 commented on #12873
Yeah. Connection seems to be fine. The red dot also disappeared when I pulled down the menu to go to send the bug report.

[2022-11-21 21:59] criticalAY commented on #12873
You can try the new backend though. Thanks! for logging this one

[2022-11-21 22:00] LBX1002 commented on #12873
Sorry I am not that technical. How do I get the new blackened?

[2022-11-21 22:01] LBX1002 commented on #12873
*backend

[2022-11-21 22:04] criticalAY commented on #12873
Go to setting -> advance -> turn on "use new database"

[2022-11-21 22:39] criticalAY commented on #12873
My findings are that this issue is due to the page not being refreshed after sync we don't need to hit the sync button again but just need to go to some other activity so  that the page is refreshed.

[2022-11-21 23:37] criticalAY opened #12874 "[Bug] alpha90 crashed when pressed deck options"
###### Reproduction Steps

1. press and hold a deck
2. click deck options / open the deck click three dots and select deck options

###### Expected Result

deck options is opended

###### Actual Result

app crashed

###### Debug info
AnkiDroid Version = 2.16alpha90

Android Version = 12

Manufacturer = Google

Model = sdk_gphone64_x86_64

Hardware = ranchu

Webview User Agent = Mozilla/5.0 (Linux;

[2022-11-22 05:37] #12395 closed

[2022-11-22 07:32] criticalAY commented on #12873
Yep! And it is only with the legacy backend not with the new backend, works fine there.

[2022-11-22 09:28] anatoliibakhtin commented on #12488
@mikehardy thank you! I checked, it's the same situation.

[2022-11-22 16:38] LBX1002 commented on #12873
Fantastic! All works fine now. My thanks to the team.

[2022-11-22 23:16] BrayanDSO commented on #12761
The video helped a lot. Now I can reproduce. It's actually simple to fix this

[2022-11-23 09:58] SanjaySargam commented on #11965
Can I work on this issue?

[2022-11-23 13:18] #12874 closed

[2022-11-23 13:41] #12424 closed

[2022-11-23 14:37] #12276 closed

[2022-11-23 17:50] justdvnsh commented on #12864
@mikehardy Why are we not including `fObjectRegExpQ` and `fObjectRegExpU` in the `listOf` in `Media.kt` `escapeImages()` function ? Is there any specific reason to it ? Currently, I see we already have created the regex for  escaping the object tags as well,

`private val fImgAudioRegExpQ =
            Pattern.compile("(?i)(<(?:img|audio)\\b[^>]* src=([\"'])([^>]+?)(\\2)[^>]*>)")
        private v

[2022-11-23 18:04] justdvnsh commented on #12837
@doozan I tried but I was not able to reproduce it. Maybe if you could give me some more info, I might be able to look into this.

[2022-11-23 18:59] justdvnsh commented on #12835
Hi @eoghanmurray This seems to work the same in both desktop and Android. Am I missing something in this ? Both in desktop and Android, the audio dosen't autoplay. It works when we separately tap the buttons

https://user-images.githubusercontent.com/29144058/203626291-f805e02f-36d1-4c89-8f16-c323fe51475d.mov

https://user-images.githubusercontent.com/29144058/203626447-f8c574b8-d9ac-4542-9e42-e89

[2022-11-23 19:46] justdvnsh commented on #12721
Cannot reproduce as well. Works fine.

![Screenshot 2022-11-24 at 1 16 24 AM](https://user-images.githubusercontent.com/29144058/203633866-12a99ced-b933-404f-a14e-f7b509d8c014.png)

[2022-11-23 19:49] criticalAY opened #12880 "Wrong Snackbar appears when changing deck"
###### Reproduction Steps

1. search a card in card browser
2. select that card
3. select change deck

###### Expected Result
Snackbars showing card moved to that particular deck

###### Actual Result
The snackbar says no card found in the present deck(the search function is performed for some reason though it works fine when not searching the changing the deck)

###### Debug info
AnkiDroid Versio

[2022-11-23 22:10] abhi-kr-2100 commented on #12880
I tried it and had a different result. This is all I did:
1. Create "Test Deck 1".
2. Create "Test Deck 2".
3. Add a basic card to "Test Deck 1".
4. Go to Card Browser.
5. Enter something in the search bar so that the only card results.
6. Select it.
7. Choose "Change Deck" from the options.
8. Select "Test Deck 2" as the destination.

The snackbar says, "1 card shown" instead of "Changed deck" or

[2022-11-24 04:48] criticalAY commented on #12880
Yes because there might be something common in those cards so when you searched the card there must have been 2 results try when there is only one card as a search result. Even so the snackbar is still wrong

[2022-11-24 05:20] criticalAY commented on #12880
Debugger goes to the snackbar but the search snackbar overrides this one

[2022-11-24 12:54] BrayanDSO commented on #12880
Could you please send a video showing this?

[2022-11-24 13:10] criticalAY commented on #12880
Will do once home

[2022-11-24 14:36] #12432 closed

[2022-11-24 15:20] criticalAY commented on #12880
https://user-images.githubusercontent.com/48384865/203818495-e1b29c4c-caa8-4470-8f14-94d051af6796.mp4

@BrayanDSO here it is

[2022-11-24 15:22] mikehardy commented on #12246
This one is pretty important - I'll get to it if no one else does, all things in due time...

[2022-11-24 17:36] #11893 closed

[2022-11-25 00:36] vudeey opened #12883 "implementing access for android talkback to read text from flashcards"
the latest Anki version just works fine, but the text content of flashcards cannot be readout loud by Android's Talk Back feature. That's why I'd like to request this feature.

[2022-11-25 09:10] criticalAY commented on #12883
refer [this](https://github.com/ankidroid/Anki-Android/wiki/Absence-of-voice-control-feature)

[2022-11-26 04:29] SanjaySargam commented on #12327
@Arthur-Milchior Can you explain a little bit more about issue?

[2022-11-26 07:14] SanjaySargam commented on #12251
Can I work on this issue if no one is working?

[2022-11-26 07:16] MohitGupta121 commented on #12251
Actually I raised PR for this and figuring out.

[2022-11-26 07:17] SanjaySargam commented on #12251
Ok No problem

[2022-11-26 12:16] eginhard commented on #12883
Duplicate of #6369 (also see #7913). Any help or feedback on these would be really appreciated, but I think currently it just doesn't work unfortunately.

@criticalAY TalkBack isn't related to voice control. It's a screen reader and it would be great if it worked well with AnkiDroid, but it's a tricky problem.

[2022-11-26 12:16] #12883 closed

[2022-11-26 17:05] SanjaySargam commented on #12705
Yes, this issue is still there.

[2022-11-26 17:05] SanjaySargam commented on #12705
Yes, this issue is still there

[2022-11-26 22:02] fxmarty commented on #12034
Since I restarted using Anki after ~10 min of review Anki crashes. I study with a custom font as OP, so I guess that's the reason why.

[2022-11-26 23:02] Subhadiptech opened #12885 "Suggestion to push HTML tags to internal app working in place of showing it to the user."
**Is your feature request related to a problem? Please describe.**
For a user on clicking **B** or Underline, etc, the user is shown their respective HTML tags. In place this should be pushed into internal working as in my opinion.

**Describe the solution you'd like**
We can concat the tags but only show the resultant text to the user.

**Additional context**
I have shared a Screenshot which can

[2022-11-26 23:35] mikehardy commented on #12034
In my experience custom fonts are *always* the reason why. Using the lightest font for your use case is the mitigation strategy, disappointing as I know that is

[2022-11-26 23:36] mikehardy commented on #12885
Duplicate #1377

[2022-11-26 23:36] #12885 closed

[2022-11-27 02:49] mikehardy commented on #11965
Sorry for the delay! yes - appears to be open

[2022-11-27 02:56] mikehardy commented on #12864
@justdvnsh I'm not sure why, I can only counsel as a general thing to use git blame, we went to great pains to make sure that git blame worked even through the java -> kotlin transformation so you should be able to see commits where that code was worked on. If there is no reasonable explanation or if it's just an obvious oversight (looks like it was an obvious oversight?) then fixing it as you des

[2022-11-27 03:06] SanjaySargam commented on #11965
Ok No problem

[2022-11-27 04:16] SanjaySargam commented on #11965
@mikehardy I am done with adding two functions in AnkiAssert.kt . When I tried to import it shows  `Add dependencies in AndkiDroid.unitTest`. Where to add these dependencies

[2022-11-27 08:48] fylux opened #12887 "[Bug] Card rendering often not fluid AnkiDroid (unlike Anki Desktop)"
[using latest nightly release although I recall the same behaviour in the stable version]

Hi, I am trying very actively to make card reviewing feel as fluid as possible but I am having problems which only occur in AnkiDroid.

Basically, when I render a card (either front or back) with pretty high frequency you can notice that the rendering has some sort of stuttering/blinking . In this video you

[2022-11-27 12:19] mikehardy commented on #11965
I don't know, I'm not familiar with this issue, or that error message, which appears incomplete to me? https://stackoverflow.com/help/how-to-ask

[2022-11-27 12:56] snowtimeglass opened #12888 "[Bug] The language of the estimated studying time on Reviewer screen isn't changed after AnkiDroid language is changed"
###### Reproduction Steps

1. Open Reviewer screen
![image](https://user-images.githubusercontent.com/10436072/204135695-d8003f6a-bbcc-493c-87ee-500134d410d8.png)

2. Settings -> General -> Language
![image](https://user-images.githubusercontent.com/10436072/204136342-856f8254-2f5d-4ad1-bf4f-f6118d48c5ba.png)
3. Change the language from the current one to another
![image](https://user-images.githu

[2022-11-27 13:24] pratyaksh1610 commented on #12888
Looks like I have found the issue, I will raise a PR for the same.
Thanks.

[2022-11-27 13:25] pratyaksh1610 commented on #12888
Switching the context passed into the Util method from Application to Activity context seemed to resolve the issue.

[2022-11-27 13:37] #12452 closed

[2022-11-27 13:50] snowtimeglass commented on #12888
Ah, the issue was in the part. Thanks!

[2022-11-27 14:08] #12277 closed

[2022-11-27 17:34] fylux commented on #12887
I am not super family with the internal but based on this, do I assume that this WebView is different from the desktop one? Just saying since in the desktop I did not notice this problem.

I think that it is too early to say anything in this regard, if more people can reproduce this problem and we find out more about what fonts work then it would be easier to decide.

I use very often this utility

[2022-11-27 17:44] SanjaySargam commented on #12327
@BrayanDSO Can you explain a little bit more about the issue?

[2022-11-27 23:41] BrayanDSO commented on #12327
It's always to ask the original poster about the issue (@Arthur-Milchior).

I personally haven't found this an issue nor had got confused by this, so I can't relate much.

[2022-11-28 02:37] user1823 commented on #12473
Waiting for the next release on ankitects/anki

[2022-11-28 05:24] SanjaySargam commented on #12327
Ok Fine

[2022-11-28 11:59] xmha97 opened #12896 "New version"
When will the new stable version be released?
I hope the new version will be released before 2023.

[2022-11-28 17:37] #12479 closed

[2022-11-29 09:52] #12853 closed

[2022-11-29 10:46] #12761 closed

[2022-11-29 13:04] user1823 commented on #12468
Still searching for solutions...

[2022-11-29 13:50] SanjaySargam commented on #12538
@Arthur-Milchior @oakkitten is this issue ready to implement?

[2022-11-29 14:20] SanjaySargam commented on #12538
Ok
Are there any other issues that are open related to manage space?

[2022-11-29 14:57] abhi-kr-2100 opened #12899 "Show details such as "time left" and "download speed" during download"
**Is your feature request related to a problem? Please describe.**
On unstable and slow networks, only seeing the progress bar can be quite impatience inducing. Seeing the download speed and an estimate of time left can be helpful.

**Describe the solution you'd like**
Display an estimate remaining time and download speed alongside progress during downloads.

[2022-11-29 15:32] oakkitten commented on #12538
If you are looking to fix a thing with manage space activity, one major issue is in the TODO on a method that deletes the collection:

    // TODO: Finish other AnkiDroid activities when the collection is deleted.
    //   Note that this might be not quite trivial, as the activities might be visible to user.
    //   One way would be to have the activities register broadcast receivers that perform

[2022-11-29 16:36] mikehardy commented on #12468
Yeah this one is not going to go away without work and we cannot ignore it forever. Maybe not going to make it before 2.16 (likely not) but needs a pin

[2022-11-30 00:30] #12850 closed

[2022-11-30 09:40] dae commented on #11963
Should be obsoleted by https://github.com/ankidroid/Anki-Android/pull/12897

[2022-11-30 15:11] user1823 commented on #12474
Still searching for solutions...

[2022-11-30 18:15] mikehardy opened #12904 "Untangle android fragment testing dependencies w/Fragment 1.6 release"
From [upstream](https://issuetracker.google.com/issues/128612536#comment22) where they resolved the underlying issue:

So we may undo [this commit](https://github.com/ankidroid/Anki-Android/pull/12817/commits/77bc2216f3b821562c8e6ed0814ab5817e1ef96a) from #12817 then get the fragment-testing stuff out of our implementation paths (a long-standing issue)

This will be blocked until 1.6 is released,

[2022-11-30 19:36] mikehardy opened #12905 "De-duplicate manage space activity checkMedia() for new schema by using backend method"
checkMedia() in the backend performs the same task, but @oakkitten felt that the fact that it renames invalidly-named files at the same time was worth writing his own implementation.

_Originally posted by @dae in https://github.com/ankidroid/Anki-Android/pull/12765#discussion_r1027031813_

----

May be that backend method can be made to not have a side-effect, may be that the side effect is judge

[2022-11-30 19:38] mikehardy opened #12906 "maybe extracting everything to a recreateIfThemeHasChanged method as an Activity's extension method could work"
The same needs to be done on `DeckOptions.kt` and `FilteredDeckOptions.kt` as well (they are not `AnkiActivity`s and at the time I just duplicated the code as I expected to deal with it soon, but life took over my time).

For reusability purposes, maybe extracting everything to a `recreateIfThemeHasChanged` method as an Activity's extension method could work

_Originally posted by @BrayanDSO in ht

[2022-11-30 19:54] mikehardy opened #12907 "Add progress indication to delete collection dialog in manage space activity"
- delete collection took a really long time for me - fairly sizable collection with regard to count of media files, on legacy or new backend / not scoped storage so it's just really slow IO. Maybe a follow-on PR to expand the modal to have number remaining vs number total to delete?

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/12765#issuecomment-1331541979_

[2022-11-30 20:40] MagTun commented on #11695
@pavreh, thanks for sharing this. I updated to 2.16alpha90 (via armeabi-v7a) and I don't have any of the bugs mentioned about reschedule anymore.
In the meantime, I learned about the function [AnkiDroidJS.ankiSetCardDue(delayInt);](https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API#reschedule-card-with-x-days) and I am not using the reschedule menu item as it's quicker (and wa

[2022-11-30 21:35] mikehardy commented on #12539
Stale bot you will *not* close this before the actual PR.

[2022-11-30 22:01] xmha97 opened #12908 "Add alpha releases to F-Droid"
Hi @mikehardy
Please add the Anki alpha releases to F-Droid.
By default F-Droid install stable version, unless the following option is activated:
![IMG_20221201_012702_890.jpg](https://user-images.githubusercontent.com/23485114/204916766-d098acd1-2b78-41fc-97ce-0368a76deb4b.jpg)
Thanks

[2022-11-30 22:04] xmha97 commented on #12908
Also you can upload the Anki alpha releases to Google play store for beta testers:
![IMG_20221201_013436_832.jpg](https://user-images.githubusercontent.com/23485114/204918028-f6281fe2-4263-436a-b156-0f5f7cb62eee.jpg)

[2022-11-30 22:08] mikehardy commented on #12908
Did you search the issues list prior to posting? I think this is duplicate