[2021-04-18 05:03] infinyte7 commented on #8525
Thanks I will implement to put it in collection.media.

[2021-04-18 05:34] dorrin-sot commented on #8641
I would love to try to work on this though I'll probably need a little guidance on where to start

[2021-04-18 05:58] dae commented on #8525
No, please do not use the media folder for config. If the data is small, it can be stored in the collection config dictionary.

[2021-04-18 06:57] dorrin-sot commented on #8636
Can I work on this? if so do you know what was the latest version this feature worked on?

[2021-04-18 08:05] infinyte7 commented on #8525
The data will very small. For e.g. it may contain `number of items/objects` collected during review and put it in config.json. Also, it will not be used in each addon. It will be used when developer needs to store statistics and use later during review.

[2021-04-18 11:55] vinishhub commented on #8454
ok! after looking into the git history of `fab_label_background_black_pre21.xml`  was named `fab_label_background.xml ` the only difference is the   color earlier we were using `#151515` now we're using `@color/material_grey_700`

[2021-04-18 14:50] Arthur-Milchior commented on #8547
To be clear, the problem is not that the deck as duplicate card. It's that the same card appear twice in the browser. I edit the top message to indicate it

[2021-04-18 15:01] david-allison-1 commented on #8636
Duplicate of #8572, to be fixed in #8527

[2021-04-18 15:01] #8636 closed

[2021-04-18 15:10] david-allison-1 commented on #8641
@dorrin-sot Options are:

https://github.com/ankidroid/Anki-Android/blob/89a52a43971ed4b54cb70de3eb65bca5af8df716/AnkiDroid/src/main/res/xml/cram_deck_options.xml

https://github.com/ankidroid/Anki-Android/blob/a299058a22c327cd14091b7d95a2e7b5123cd43c/AnkiDroid/src/main/java/com/ichi2/anki/FilteredDeckOptions.java

Hide the option if `col.schedVer() >= 2`

Check Anki Desktop code if you're unusre

[2021-04-18 15:11] dorrin-sot commented on #8636
@david-allison-1 but isn't this about keyboard shortcuts as in pressing 1 passes in `EASE_1`, 2 passes `EASE_2` and so on?

[2021-04-18 15:20] david-allison-1 commented on #8636
The issue is with executeCommand which both gestures and keyboard shortcuts use

[2021-04-18 15:20] Arnold2381 commented on #8417
@david-allison-1 can I work on this?

[2021-04-18 15:31] david-allison-1 commented on #8417
@arjun20varma Are you still working on this?

@Arnold2381 give it 24 hours, then absolutely, thank you! Ping me and I'll reassign, but feel free to work on it

[2021-04-18 15:34] david-allison-1 commented on #8547
I'll have time to work on this today

[2021-04-18 17:05] OCzarnecki commented on #8554
Can I work on this?

[2021-04-18 17:28] #8547 closed

[2021-04-18 17:33] mikehardy opened #8643 "Add ShadowLooper.runUiThreadTasksIncludingDelayedTasks to RobolectricTest.advanceRobolectricLooper?"
if you remove the line and it works, I would commit the removal of the line yes.
Sorry I was unclear, what I was trying (badly) to communicate was that this specific wait method looks different than our current style:

https://github.com/ankidroid/Anki-Android/blob/143d7bbf7c9aa87f842d44c240c07b7cb2bd9285/AnkiDroid/src/test/java/com/ichi2/anki/RobolectricTest.java#L229-L245

...and as a not-really

[2021-04-18 17:34] mikehardy commented on #8643
(this came from a PR review, and I am not sure it is the right path - but the intention of RobolectricTest.advanceRobolectricLooper is to "wait on all the things so we know all the things are done", so it seems like it should be a good idea?

[2021-04-18 17:41] david-allison-1 commented on #8643
Calls through to `getShadowMainLooper().runToEndOfTasks();` - I don't think this will add value

[2021-04-18 17:41] #8643 closed

[2021-04-18 17:43] mikehardy commented on #8641
@dae thanks a bunch for connecting the dots on that mailing list report and the v2 scheduler and our filtered deck screen - I don't know nearly enough about the v1/v2 scheduler or custom study decks to connect them. As an actual Anki *user* I'm a simpleton, I never custom study nor change the default settings really nor use sub-decks :sweat_smile: so I'm blind here

[2021-04-18 17:44] mikehardy commented on #8643
resolved -> works for me, thanks for checking, and related PR is unblocked so all clear I think

[2021-04-18 18:08] mikehardy commented on #5020
I think this is still open waiting on one more usage

[2021-04-18 18:33] br4ch1st0chr0n3 opened #8645 "Continue working in background"
**Is your feature request related to a problem? Please describe.**
Hi! Currently, I am a user of Flashcards by Andev. The app supports Audio review in background (when another app is used at the moment or when the screen is off). This means that a side of card is pronounced by
engine, then another

**Describe the solution you'd like**
Let  the current Anki mode with speech syntheis and auto-play r

[2021-04-18 20:20] #8527 closed

[2021-04-18 20:20] #8572 closed

[2021-04-18 22:48] mk-94 commented on #8603
Hi, i need some more help. I work with the robolectric-testing-framework for the first time and iwant to reproduce the error #8561 not only with the emulator, but with the test. In the comments are the steps which are necessary to reproduce the error in the emulator. And i know that the method colIsOpen() in AnkyActivity.java is repsonsible for the error in the emulator because it returns always f

[2021-04-18 23:23] oakkitten commented on #8603
this is a bit off-topic but if i may ask; why does AnkiDroid needs storage permission? why not use any of the locations that don't require permissions, etc?

[2021-04-19 01:18] mikehardy commented on #8603
@oakkitten mostly because AnkiDroid started when Android was on version 2 or 3 I think and there were really no permissions. It was 2008. And storage was insanely expensive internally so everyone used little sdcards and wanted the collection stored there. Hey! Why don't we store that in `/sdcard/AnkiDroid/`? Sounds perfect right?

And here we are

https://github.com/ankidroid/Anki-Android/issues/5

[2021-04-19 04:31] SilentCruzer commented on #8637
I would like to work on this issue if it is accepted.

[2021-04-19 11:56] SilentCruzer commented on #8637
I am new to this codebase, so can I know where to start on this issue.

[2021-04-19 11:58] david-allison-1 commented on #8637
https://github.com/ankidroid/Anki-Android/blob/95b310de511f67cd0af0504a64696ce59590fe73/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/AudioView.java

And `Reviewer.java` for the calss

[2021-04-19 12:17] david-allison-1 opened #8647 "UX: Add more instances of com.ichi2.preferences.IncrementerNumberRangePreference"
`Deck Options - New Cards/day` is using this class, but `Deck Options - reviews/day` doesn't.

We should be consistent, and look through the app to see where else this preference would make sense.

[2021-04-19 12:18] mk-94 commented on #8647
Hi, i would like to take this one. :)

[2021-04-19 14:46] david-allison-1 commented on #8647
Guidelines: https://www.nngroup.com/articles/input-steppers/

Effectively, initially go through `Preferences`, `DeckOptions` and `FilteredDeckOptions` and see which ones would make more sense using a `IncrementerNumberRangePreference ` instead of a `NumberRangePreference`.

[2021-04-19 15:46] Akshay0701 opened #8648 "Shortcut option without opening app"
## Feature
Implement ShortcutInfo for common action like opening CardBrowser,Statistics, Settings,And Note Editor

## Desire output of feature
<img src="https://user-images.githubusercontent.com/52353967/115278506-289acd00-a163-11eb-99be-72049040de29.jpg" width="250" height="500" />

[2021-04-19 15:46] mk-94 commented on #8647
Ok, will have a look.

[2021-04-19 15:56] david-allison-1 commented on #8648
* Review would be my priority - if we could disable this with nothing to do, it'd be fantastic, but fine to have with a Toast of "noting to review"
* "Add Note" would be my second preference
* Browse Cards would be third

I don't think we need Statistics. Possibly "perform sync"? What do you think?

[2021-04-19 16:08] Akshay0701 commented on #8648
Review cards are a good option, not sure how we disable shortcut with nothing to do, could you guide me on this?

I think instead of statistics we can make settings shortcut, your thought?

[2021-04-19 16:20] Akshay0701 commented on #8648
I think for now we should keep 3 option which is required and not include other irrelevant or less important option

[2021-04-19 16:46] mk-94 commented on #8647
This is my proposal where IncrementerNumberRangePreference makes more sense.
**Deckoptions**

_New Card_
Maximale answer time
Graduating interval
Easy interval

_Lapses_
Steps
Minimum interval
Leech threshold

_Reviews_
Maximum reviews/day
Easy bonus
Hard interval
Interval modifier

_General_
Maximal answer time

**Preferences**
Reviewing
Learn ahead limit
Timebox time limit

**FilteredDeckOptions

[2021-04-19 16:53] david-allison-1 commented on #8648
I don't think we need either settings or stats, but I'll leave it up to you.

We'll be able to add analytics to see which gets the most use.

----

I don't know if we can disable shortcuts, we probably can, but I don't think it'll be worth the effort (unless we can use a timer/widget to check for "learn" cards becoming active, then the shortcut will be out-of-sync with the app).

On reflection, un

[2021-04-19 16:54] Arnold2381 commented on #8417
@david-allison-1 I started working on it!
BTW just to be clear I have to implement this
![image](https://user-images.githubusercontent.com/46752548/115274118-f6d33780-a15d-11eb-987d-97e1a327e93e.png)
and should I also limit the preference text?

[2021-04-19 16:57] david-allison-1 commented on #8417
Thanks! Don't bother limiting the text, we'll do that in https://github.com/ankidroid/Anki-Android/pull/8586

[2021-04-19 16:59] Arnold2381 commented on #8417
Ok!!!

[2021-04-19 17:22] david-allison-1 commented on #8647
No, this contains multiple steps separated by a space

I think the rest seem reasonable

[2021-04-19 19:04] AbdelrahmanHamdy1998 commented on #8368
Comment to avoid bot stale and thread closure (1)

[2021-04-19 21:43] farjadilyas commented on #8618
@david-allison-1 Roboelectric Tests are failing due to the [dependent libraries issue](https://github.com/david-allison-1/Anki-Android-Backend/issues/46). I tried installing gcc using MinGW but it didn't help. Any ideas?

[2021-04-19 22:58] david-allison-1 commented on #8618
What happens if you run the attached powershell script?

I'll look into this closely tomorrow. This needs to be sorted

[2021-04-19 23:49] farjadilyas commented on #8618
@david-allison-1 Yes, it says ```libgcc_s_seh-1.dll``` is missing. Didn't get fixed after installing gcc though. I've switched to macOS for now to work on tests.

[2021-04-20 00:36] mikehardy commented on #8618
@farjadilyas this isn't something you just want to change quickly, but as a multi-platform mobile developer I do Ubuntu on the bare metal then windows VM and https://github.com/kholia/OSX-KVM for most work. When I have to use a real iOS device (some things do require it of course) I have a real (but crappy) macOS laptop. But pretty much all the time it's the Ubuntu rig with VMs. VSCode has a prett

[2021-04-20 03:39] #8151 closed

[2021-04-20 04:36] Akshay0701 opened #8650 "[Feature] Switch Profile In AnkiDroid"
## Problem

- If the user wants to maintain many profiles in one device, then there is no option for that in AnkiDroid
- AnkiDesktop have switch profile feature for adding, removing, opening user.

## Data

  We will store a list of profiles in shared preferences

## Design
- new user opens app then user will login through normal login page , and that user details will store in default profile opt

[2021-04-20 06:02] david-allison-1 commented on #8117
[code]

[2021-04-20 08:21] kuroni opened #8652 "[Bug] New timezone handling + scheduler v2 results in incorrect time after midnight"
###### Reproduction Steps

1. Enable Scheduler V2 + new timezone handling
2. Set time after midnight to 23.

###### Expected Result
Cards are readded at 23:00.

###### Actual Result
Cards are readded at a different time (in my case it's 4:00, timezone is EST).

###### Debug info
[code]

###### Research
Setting to either scheduler V1 or turning off new timezone handling (or do both) fixes the probl

[2021-04-20 13:50] mikehardy commented on #8652
Your timezone information is quite curious + interesting, if I understand, that's UTC-4? But it could be UTC-5 and be either a coincidence but not the problem, or the actual problem

What *exact* timezone are you since I'm not user EST maps to anything unambiguously https://www.timeanddate.com/time/map/

[2021-04-20 16:53] kuroni commented on #8652
Currently it's UTC-4, but for a period of time in the year it's UTC-5 due to daylight saving time.

[2021-04-20 16:54] TarekkMA commented on #8650
I like the following design, the same one used in Gmail.

![image](https://user-images.githubusercontent.com/6633545/115435042-b8935200-a209-11eb-9c8e-3ff62de943d9.png)

[2021-04-20 16:55] Akshay0701 commented on #8650
Thanks😊

[2021-04-20 17:04] Akshay0701 commented on #8650
but still i worry at many parts like in this solution I propose saving users profile in list form in shared preferences, we cant directly save List of object In it ,in order to do this we might need to parse Gson and in retriveing part we need to convert gson string in form of object  using `Type type = new TypeToken<ArrayList<Profile>>() {}.getType();`

the worrying part is  it seem to much conve

[2021-04-20 17:41] TarekkMA commented on #8650
BTW, this change would require a change in the storage structure to support multi-profile.

Right now multi-profile support in ankidroid is done via installing multiple
https://github.com/ankidroid/Anki-Android/wiki/FAQ#how-to-use-different-anki-profiles

[2021-04-20 20:46] kuroni commented on #8652
Update: so I think this has more to do with syncing time after midnight more than anything ...

After the issue (which I only discovered because I was studying at around 4:00), I turned off new timezone handling (still with schedule v2 on) and went to bed.

Now (this is around 16:00), I checked the deck again and noticed that it was reset to the new day again (note that I haven't learned all cards

[2021-04-20 21:33] leoshrey opened #8654 "Floating Action Menu closes only when it is tapped again"
**Is your feature request related to a problem? Please describe.**

When user opens up the floating action "+" button and want to close it again if in case he do not want to perform any operation mentioned in the floating menu, then he usually has to click the floating button again to shrink the menu.

<img src="https://user-images.githubusercontent.com/53581274/115455609-cebc0500-a23f-11eb-8900-d

[2021-04-21 09:07] eginhard commented on #8650
Thanks for the ideas! This is a duplicate of #2545, I'd suggest to keep the discussion there.

[2021-04-21 09:07] #8650 closed

[2021-04-21 09:30] Akshay0701 commented on #2545
## Problem

- If the user wants to maintain many profiles in one device, then there is no option for that in AnkiDroid in one app
- AnkiDesktop have switch profile feature for adding, removing, opening user.

## Data
  We will store a list of profiles in shared preferences

## Design
- new user opens app then user will login through normal login page , and that user details will store in default p

[2021-04-21 11:17] error12368 commented on #8654
Can I work on this? I think tapping other places is supposed to shrink the menu as well.😝

[2021-04-21 11:25] Akshay0701 commented on #2545
Let me know, should I implement this feature using this approach?

[2021-04-21 12:11] error12368 commented on #8567
Can I work with this? 🤓

[2021-04-21 13:29] Eggg0771 commented on #8627
May I work on this one？

[2021-04-21 19:42] mikehardy commented on #8219
The brand-new concurrency feature of github actions may help with the second mode

https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency

[2021-04-21 20:44] Arnold2381 commented on #8417
@david-allison-1
![image](https://user-images.githubusercontent.com/46752548/115618532-756fd680-a310-11eb-8f49-462b67076efb.png)
is this okay?

[2021-04-21 23:20] rodrigo-sp17 commented on #8631
Hi guys! Sorry for not introducing myself, but I picked this issue up today as my first and tried to solve it. Hope it helps!

[2021-04-22 00:37] marreromarco opened #8656 "Add support for .spx audio files"
Would it be possible to support .spx audio files in AnkiDroid ?

.spx audio files are already supported on the Desktop version of Anki.

_______
What is an SPX file?

Audio file compressed using Speex compression and saved in the Ogg Vorbis container format; designed as an audio compression format specifically for speech; compresses voice at 2 to 44 kbps and supports 8 kHz, 16 kHz, and 32 kHz comp

[2021-04-22 00:44] david-allison-1 commented on #8417
Fantastic! You'll save /so/ many user questions with this one.

* It needs a slightly larger margin (be consistent with the top)
* Use 11PM instead of 11

[2021-04-22 00:50] david-allison-1 commented on #2545
We should hold off on this feature until #5304 has been implemented.

Both are going to cause large changes to the codebase regarding storage, and #5304 is more important due to a Google-imposed deadline

[2021-04-22 00:53] david-allison-1 commented on #8631
Welcome! Thank you so much!!!! Feel free to join us on [Discord](https://discord.gg/qjzcRTx).

I've been on a break from the project for a couple of days, but I'll get in to the review ASAP, I know how frustrating it can be to have a review waiting

[2021-04-22 01:07] david-allison-1 commented on #8627
Sure!

* First step would be to provide reproduction steps in a comment
* Then see if you can write a failing regression test
* Ideally `git bisect` to understand where the regression was introduced to the codebase
* Then, we have context for why the issue occurred: document it in a comment, fix the issue and commit the regression test to ensure it doesn't happen again

[2021-04-22 03:16] david-allison-1 commented on #8567
Absolutely!

[2021-04-22 04:14] sumadithya commented on #7992
I'm quite certain https://github.com/ankidroid/Anki-Android/pull/8642 must have fixed this issue. I will test it and report.

[2021-04-22 06:49] Akshay0701 commented on #2545
Yes david i understood , i am just implementing for myself and learning , I am not going to raise pr of this till this open

[2021-04-22 08:17] nicdard commented on #8631
Great job, thank you @rodrigo-sp17, unfortunately I have been busy at work and University so I did try to add the test but didn't have as much time as needed to complete it during the last days

[2021-04-22 11:34] ArvedF opened #8658 "Implementation Request: Next card in xx Minutes"
Hi,

in some decks I want to see the young cards more than once on the first day. The desktop version gives the following text:

The android app says (in the exact same situtation)

(The exact wording might be different as I do not use the android app in English)

Would it be possible to implement a similar feature as in the desktop version, so one can see whether the deck is done for today or onl

[2021-04-22 14:11] david-allison-1 commented on #8654
I believe this is fixed in #8290 (thanks to @Akshay0701 !!)

[2021-04-22 14:11] #8654 closed

[2021-04-22 14:33] vinishhub commented on #8656
I want to work  on this issue

[2021-04-22 14:43] david-allison-1 commented on #8656
I expect that this may be a complex issue to solve if the Android device doesn't support the codec. It might be better if you work on a simpler issue.

If you still continue, do you have a planned design?

[2021-04-22 14:45] vinishhub commented on #8656
ok then no issue I will work on simpler issue ✌

[2021-04-22 15:19] rodrigo-sp17 commented on #8631
No problem @nicdard, I had some time to spare so figured why not!
It actually took me the whole day just to make AsyncTask's onPostExecute run on tests.

[2021-04-22 16:14] SilentCruzer commented on #8637
I tried to reproduce the mentioned error and noticed that the uploaded screenshot is when we are trying to view the card and not in the edit view of the card. When we are viewing a card with audio, only the play button should be present and there should not be a record or a stop button, like this:

![Before Shortcut](https://user-images.githubusercontent.com/73246484/115743310-2e84ee00-a3af-11eb-9

[2021-04-22 17:30] mikehardy commented on #8656
If desktop supports it we have to expect we may *see* them even if we don't support them. I think it's possible get the list of codecs supported on a device but it looks like Speex is not on the list of supported formats: https://developer.android.com/guide/topics/media/media-formats#audio-formats

I'm not sure there is any action we can reasonably take here to expand support beyond what comes wit

[2021-04-22 18:46] david-allison opened #8659 "Lint: Files missing copyright headers"
<details><summary>Done</summary>

## Me
- [x] ActionBarOverflow.java
- [x] ActionButtons.java
- [x] ActionButtonStatus.java
- [x] CardAppearance.java
- [x] CardMarker.java
- [x] FileUtil.java
- [x] FunctionalInterfaces.java
- [x] HtmlUtils.java
- [x] ManuallyReportedException.java
- [x] NoSuchDeckException.java
- [x] Permissions.java
- [x] PreferenceExtensions.java
- [x] WebViewDebugging.java

##

[2021-04-22 18:50] sangorys opened #8660 "[Bug] Waiting time when a deck is finished"
###### Reproduction Steps

See [my YouTube video here for the reproduction](https://www.youtube.com/watch?v=3xdXHQyTsd8)
1. I study all the flash cards of a deck

###### Expected Result
1. The deck shows that there is no more card to study
2. I can study another deck

###### Actual Result
1. The refresh of the flashCard to study takes between 30s to 1 min
2. I cannot study another deck because all

[2021-04-22 18:51] marreromarco commented on #8656
Would it be possible to add an option to play sounds with an "external player" ?

In that way, we could choose VLC Android to play sound formats that AnkiDroid currently cannot play.

[2021-04-22 19:04] #5020 closed

[2021-04-22 19:40] TarekkMA commented on #8659
Oops forgot to add to these files, here is where lint shines 😅

should I add the copyright headers to my files?

[2021-04-22 23:32] david-allison-1 commented on #8659
Definitely! Might as well cut the list before we figure out dealing with the harder aspects

[2021-04-22 23:40] david-allison-1 commented on #8211
IntelliJ Template:

[code]

[2021-04-22 23:49] TarekkMA commented on #8659
Should this lint also apply to tests? My `BundleUtilsTest` doesn't have a header but it's not in the list.

[2021-04-22 23:50] david-allison-1 commented on #8659
Yep - we're not tests currently

[2021-04-23 00:00] farjadilyas commented on #8618
@mikehardy That's cool! especially the macOS KVM. At the moment I've got the opposite setup :D Windows & macOS dual boot w/two disks & ubuntu VM on Windows.

[2021-04-23 01:39] dae commented on #8656
Neither AnkiWeb nor AnkiMobile support spx either, and external players sound like a lot of extra complexity - I think the easiest option would be to re-encode the files as mp3.

[2021-04-23 02:27] prateek-singh-3212 commented on #8658
I would like to work on this issue.

[2021-04-23 02:54] vinishhub commented on #8459
I would Like to work on this issue If it is still open

[2021-04-23 02:57] vinishhub commented on #8454
@david-allison-1  please assign me this issue .

[2021-04-23 03:28] david-allison-1 commented on #8459
@vinishhub I believe @niki0712 may still be looking into this.

Give them 48 hours to respond, then it's yours

[2021-04-23 04:41] MarkusJLechner commented on #8637
Should be a feature not a bug, as far as i know :).
While reviewing you can open the menu (3 dots) and show the recording buttons, just like if pressing a recording shortcut (v or shift + v).
It is meant to improve pronunciation and ghosting.

I just wanted to be clear and did a stresstest without the keyboard to active this locked state (constantly pressing record and play). I could not archive b

[2021-04-23 12:53] #8275 closed

[2021-04-23 12:55] #8612 closed

[2021-04-23 13:28] mikehardy commented on #8656
@dae might be good to somehow make the list of supported formats for Web/AnkiMobile/AnkiDroid accessible somehow in AnkiDesktop (plus we could do same here, as one a "supported formats" help link or something, I'm loathe to maintain an updated list even as a new source of external velocity to track, but the simple link pointers might be useful?

[2021-04-23 13:30] mikehardy commented on #8659
Where commit attribution is clear (which it is?) and the project is licensed uniformly (which it is?) it seems fairly cut and tried to this layman that we should be able to just put a copyright header in there with correct attribution personally.

[2021-04-23 13:37] dae commented on #8656
The desktop list is here:

https://github.com/ankitects/anki/blob/main/qt/aqt/editor.py#L55

mp3 is the most universally supported, and that is what I recommend to people. AnkiMobile's recordings are in m4a, as iOS doesn't provide an mp3 output unfortunately.

[2021-04-23 13:54] mikehardy commented on #8656
That's slightly conflating container and codec (you can have an mp3 encoded audio in an m4a container it appears) but that runs the risk of deliberately misunderstanding you to be irritating, which is not the point, I'm *pretty* sure iOS always goes for "AAC encoded audio in an M4A container" as a default? And it appears Android supports that fine since Android 3 (well inside our minSdkVersion) so

[2021-04-23 14:35] PANG-hans commented on #8593
Sorry, is this bug still exist?
Can i work on this issue? I'm a junior student learning _Software Engineer_, required to fix some issues on github.

[2021-04-23 15:35] Dian-Jiao1031 commented on #8578
I find this bug interesting and wonder if it has been fixed yet. I found that the character "ϩ" didn't display in the Android emulator, and I found that many Egyptian characters didn't display. I would like to ask where this part of the related code in the project? I thought I'd try to fix it by myself. OAO

[2021-04-23 16:25] rillian commented on #8578
I've not tracked it down yet. I think the bug is in the text rendering code of the Android webview component. Probably chromium trunk is the best place to fix it. The change will likely be easy to backport to the various Android trees from there.

I suspect it's something to do with loading the fallback font metrics and the fact that Coptic characters are split between two unicode blocks. Maybe a

[2021-04-23 17:01] prateek-singh-3212 commented on #8428
@david-allison-1 Should I go with Anki Desktop?

[2021-04-23 17:03] david-allison-1 commented on #8428
Yes, we want to be 100% compatible

[2021-04-23 19:28] Akshay0701 commented on #8203
@eginhard finally updated almost 100% of string to marathi ,hope this will help all Indian/Maharashtrian users.

[2021-04-23 19:39] #7943 closed

[2021-04-23 20:55] Peyman-hme commented on #8111
Hi, I would like to working on it.

[2021-04-23 20:58] david-allison-1 commented on #8111
Sounds good!

[2021-04-23 20:58] david-allison-1 commented on #8111
Do you have a plan for how to work on this one?

[2021-04-23 20:59] Arthur-Milchior opened #8668 "Investigating GSon"
As far as I remember, some of the long tasks, such as loading the collection when the application start, takes a few second - on big collection - processing JSon. If I remember correctly, one of the bottleneck was that each JSon get operation uses a try/catch, which is is an expansive operation. The only trouble is that the JSONException are checked exception and that we don't want to `throws` the

[2021-04-24 00:38] #8534 closed

[2021-04-24 01:08] david-allison-1 opened #8669 "[CI] AnkiDroid Lint isn't running"
https://github.com/ankidroid/Anki-Android/runs/2375811376?check_suite_focus=true - Working

https://github.com/ankidroid/Anki-Android/runs/2387077443?check_suite_focus=true - Not working (https://github.com/ankidroid/Anki-Android/pull/8427)

We may want a lint canary branch? Run lint on it daily, and if it passes, we have a problem

[2021-04-24 02:37] lazy-codebear commented on #8668
Can I work on this issue? Is your meaning is using GSon library to replace now library.

[2021-04-24 03:38] Dian-Jiao1031 commented on #8578
I see，thanks. (I tried adding some Coptic font libraries and found that it didn't help.TAT)

I see，thanks. (I tried adding some Coptic font libraries and found that it didn't help.TAT)

[2021-04-24 04:04] Arthur-Milchior commented on #8668
You can work on it.

I don't know whether gson will replace current JSON library. What I want is to make the test and see whether it will improve loading time at all, and potentially other long operations. Even creating a note, when the note type is complex, or changing a note type, can be improved when the JSON library is efficient, as accessing template is required often

You can test over http:

[2021-04-24 04:07] #8467 closed

[2021-04-24 07:09] LinearMomentum commented on #8365
Should the appbar look like this？
![QQ图片20210424150835](https://user-images.githubusercontent.com/72519107/115950629-ff858e00-a50e-11eb-8828-32d9c88df652.png)

[2021-04-24 07:33] lazy-codebear commented on #8668
I will try to do it. It is the first time I working on anki. How does it work when import a deck?

[2021-04-24 08:39] kyo-kyoto opened #8673 "Freeze field"
Hi
I want to freeze a field while making cards on ankidroid,like the add on in anki.
Thanks .

[2021-04-24 08:40] Georgezxh commented on #5648
Hi,I found that there exists a call to connect the contents in front or back fields and the regex of fhtmlColorPattern when it is nightmode, but not exist in lightmode. And that's why the bug only appears in the nightmode......
I would like to work on this issue.

[2021-04-24 09:21] kartikeysaran commented on #8673
Great feature to include, If this issue is accepted I would love to work on this ! :)

[2021-04-24 09:26] Dian-Jiao1031 commented on #8111
I wanted to try to fix the bug, but I found that I couldn't reproduce the bug. Maybe I should think about the conditions under which the bug appeared first……

[2021-04-24 10:53] Arnold2381 commented on #8351
Hey @david-allison-1 I want to work on this.

[2021-04-24 11:15] Dian-Jiao1031 commented on #8111
@david-allison-1
It can find that although the data in the review time is negative, the calculation process is correct (e.g. -22741816 / -6032.3 = 3770.0074). I just looked at stats.java, but I didn't seem to find the specific methods to calculate the four data (sorry, maybe my code understanding is not good enough). Could you give me a brief hint, thanks a lot.

[2021-04-24 11:35] david-allison-1 commented on #8111
I have absolutely no clue what's gone on here, sorry.

It's likely not DST related. Could possibly be someone changing their time settings.

Doesn't seem to be under or overflow, possibly a date initialised to 1970?

[2021-04-24 11:38] Dian-Jiao1031 commented on #8111
Well, I don't think it's below the overflow either, I'll try and fix it and then pull request

[2021-04-24 11:40] Dian-Jiao1031 commented on #8111
Well, I agree with u. I'll see if I can fix it and then pull request

[2021-04-24 11:42] bjornmartensson commented on #8111
Strangely, when I look now, the number are positive and realistic. The bug must have gotten fixed. The only thing that is slightly weird is that longest interval shows as -35.5 years, but that I don't care much about.

I think we can close this issue? Thanks for the help with it!

[2021-04-24 12:18] vinishhub opened #8676 "Support for "Malayalam" Language"
**Is your feature request related to a problem? Please describe.**
AnkiDroid Does not support Malayalam Language

**Describe the solution you'd like**
Creating A `value-ml` will add Malayalam language

[2021-04-24 12:18] PANG-hans commented on #8482
I met this error, too. But in the path it mentioned i can find required `.dll` file. The same project run on another PC pass all test cases.

[2021-04-24 12:19] vinishhub commented on #8676
I want confirmation, So that I can start working on this issue. I have started working on It

[2021-04-24 12:37] LinearMomentum commented on #7949
May I work on this?

[2021-04-24 12:50] error12368 commented on #8567
I tried adding a private variable `mScrollOnY' to `AbstractFlashCardViewer' to record the scroll amount in Y, and scroll the current card to the recorded variable.

It ends up unstable, sometimes the card will jump back and sometimes it will scroll to the recorded place as I expected.😢

I think it may relates to the way that Anki loads the answer. Is Anki reload whole card sometimes when user taps

[2021-04-24 12:58] PANG-hans opened #8677 "All dekcs Synced when Longin a new account"
**Is your feature request related to a problem? Please describe.**
Sometimes the whole decks is too big to download/upload. Maybe it is better to take a choice for decks.

**Describe the solution you'd like**
After ckick `sync` button, give a list to choose which deck(s) sync to this device.

**Describe alternatives you've considered**

**Additional context**
NONE

[2021-04-24 13:00] PANG-hans commented on #8677
I think i can work on this later if considered as a feature

[2021-04-24 13:00] david-allison-1 commented on #8482
Does moving this dll to somewhere on the PATH fix it? [libgcc_s_seh-1.zip](https://github.com/ankidroid/Anki-Android/files/6369628/libgcc_s_seh-1.zip)

[2021-04-24 13:03] david-allison-1 commented on #8676
Translations are handled by CrowdIn.

I've added: https://crowdin.com/project/ankidroid/ml-IN# , please translate there and inform us when `01-core` is translated

Thanks!

[2021-04-24 13:15] VergilWang15 opened #8678 "Visual problems while studying cards"
**Is your feature request related to a problem? Please describe.**
When learning a card, the content on the card is destroyed and refreshed again, which will cause some visual problems.  Especially in night mode, it will make me feel that the font is flickering

**Describe the solution you'd like**
Can it be modified to add the answer to the interface instead of destroying the question and then re

[2021-04-24 13:17] david-allison-1 commented on #8678
Hi, thanks for the report. Could you fill out the "bug report" template below, especially the "Debug Info"

[code]

[2021-04-24 13:17] VergilWang15 commented on #8678
I can work on it if the issue is accepted

[2021-04-24 13:20] VergilWang15 commented on #8678
This problem occurs every time I learn a card, so I think this is the font refresh mechanism of the software interface, not a specific bug

[2021-04-24 13:21] david-allison-1 commented on #8678
I think the main question is "What does Anki Desktop do here". If we don't follow what's happening, then we introduce incompatibilities (for example: if a user uses a JavaScript based timer).

[2021-04-24 13:24] PANG-hans commented on #8482
Thanks, it works for some unit test file, but some still not works... 😢

[2021-04-24 13:45] david-allison-1 commented on #8482
That's strange, it should be all or nothing, which files fail and what's the error?

[2021-04-24 14:01] DuguMingyue commented on #8169
@Arthur-Milchior
I 've tried to reproduce this issue and find that only the cards are small and short may cause this issue. If I add some cards with many contents in thiem then the bug cannot be triggered. I guess the issue is just affected by the speed of the thread that holds the onDestroy() method so I make onDestroy() sleep 200ms before invalidate() and the bug never appear again. (Before edit

[2021-04-24 14:39] vinishhub commented on #8676
I have translated the 01-core file

[2021-04-24 14:44] mikehardy commented on #8673
If I understand correctly we already take into account whether a field is frozen or note and behave correctly but the ability to toggle a field as frozen or not is not exposed? I've never used the feature myself so this is just vague memory from prior pull requests

Here is the thing though: if it is from an add-on on desktop we will not support it. We support core functionality of anki desktop.

[2021-04-24 14:45] mikehardy commented on #8658
An interesting idea - if desktop does this, we can do it, if not, we will not.

How does Anki Desktop handle this?

[2021-04-24 14:45] mikehardy commented on #8658
Sorry I really need to read more carefully. Desktop does it as you specified :-). Okay then. @prateek-singh-3212 - sure!

[2021-04-24 14:47] #8648 closed

[2021-04-24 14:50] #8647 closed

[2021-04-24 14:53] mikehardy commented on #8676
@vinishhub Great! I think the next thing to do is to add it to the language lists like so: https://github.com/ankidroid/Anki-Android/commit/e1cabb4372466d9f7951b0942c215efff25dde74#diff-bc7f2d221b9823e2452393c27afb78d2510511ba80f1feca59a7d224c272667a

The next few files aren't "core" but will vastly improve the translation quality if you can do them before the language-addition PR is merged and I

[2021-04-24 14:54] mikehardy commented on #8593
Hi @PANG-hans ! I think the best idea is to find an issue labeled "good first issue" though we may be at zero on those for the moment. This one appears to have some sort of requirements definition question so it's not a great issue to start on unfortunately, we apparently need to discuss it first and decide *what* we want before we figure out how to do it. That's probably not going to happen for a

[2021-04-24 14:57] mikehardy commented on #8365
If by appbar you mean the top light blue-ish area, yes
If by appbar you mean the gray-ish content from AnkiWeb, that's from AnkiWeb and not in our control

[2021-04-24 15:02] VergilWang15 commented on #8678
---

###### Reproduction Steps

1. download a shared deck in the Chinese language with the name "考研词汇5500"
2. Do the recite part

###### Expected Result
The answer showed up below the question

###### Actual Result
The question refreshed after it is destroyed while the answer showned up

###### Debug info
AnkiDroid Version = 2.14.6

Android Version = 10

ACRA UUID = 0f861976-3cac-48d1-9363-0459937

[2021-04-24 15:02] mikehardy commented on #7949
This may be quite difficult, but that is a vague warning. I think there may be syncing issues related to the general collection configuration object in general. What I mean is that it may not be specific to saved searches at all, there may be a general problem with syncing the config object in a collection between AnkiWeb and AnkiDroid.

So the first thing to do I think is to read the development

[2021-04-24 15:05] mikehardy commented on #8669
The lint canary branch is both a terrible yak shave and also a great idea.
I'll check into this

[2021-04-24 15:18] vinishhub commented on #8676
I have added the language to list  I have one doubt we have to copy the content from crowdin(after translation) and paste it into values-ml right??

[2021-04-24 15:40] mikehardy commented on #8669
Going to skip the canary for now, I don't want to build more CI machinery if possible. I switched the lint check to be sub-module-by-name so now if variants are messed with it'll be obvious as the command will outright fail

[2021-04-24 15:48] LinearMomentum commented on #7949
I think I have realized this function. I just save the searches before sync and add the deleted ones after sync but I don't know whether that's true.

[2021-04-24 15:51] PANG-hans commented on #8593
Emmm, maybe it's a better choice. But i'm still a freshman for github and required to use git fix some issues in the course brfore tomorrow. The issue labeled with `Good First Issue` is bit hard, so i'd want to take it as my first try with git project. Thanks a lot if you can accept the request.

[2021-04-24 16:08] PANG-hans commented on #8565
Sorry, I enabled loopup setting in advanced options, but can not follow step `2` and `3`. Could you please give some pictures? Or maybe it depends on the selected `lookup setting`?

[2021-04-24 16:09] m4r4c00ch0 commented on #8593
@PANG-hans I did not look for a `good-first-issue` issue. When I found this bug, I was looking for untested modules on the project. The code coverage is low, you can fork the project and compile it locally. Then, find modules with low coverage and test those!

You might be surprised at what you will find. And I am sure that, even though is not an explicit issue, maintainers of this project would a

[2021-04-24 16:31] #8669 closed

[2021-04-24 16:51] mikehardy commented on #8659
Tim Rae #8682
Mike Hardy #8683

[2021-04-24 16:51] #8115 closed

[2021-04-24 16:54] mikehardy commented on #8677
@PANG-hans selective sync is not supported by Anki Desktop and will not be supported here

I understand from this comment "Emmm, maybe it's a better choice. But i'm still a freshman for github and required to use git fix some issues in the course brfore tomorrow" here https://github.com/ankidroid/Anki-Android/issues/8593#issuecomment-826112464 that you feel time pressure to do something / anything

[2021-04-24 16:54] #8677 closed

[2021-04-24 16:57] mikehardy commented on #8676
@vinishhub definitely not on the copying thing. Please examine the diff I linked - notice they are in a scripts directory - that script pushes the english / original strings up to crowdin, translators do the work there, then another script pulls them down automatically and creates the directories. There's nothing you need to do except propose a pull request similar to the diff I linked

[2021-04-24 17:08] mikehardy commented on #7949
So you propose to implement a partial sync (hold saved searches to the side, merge them later) on the side of the main sync? How do you propose to manage naming conflicts or deletes of searches of the same name?

I believe you will quickly have re-implemented the existing sync algorithm, but just for deck configuration, with fresh untested code, in an AnkiDroid-specific (vs ecosystem-wide) impleme

[2021-04-24 17:34] #8631 closed

[2021-04-24 17:43] PANG-hans commented on #8677
Thanks for replay, i'll find some others to do(but still in this project because it is decided by the group, sorry again for that if you see me later).
BTW, i wonder wether the kernel fuctions in AnkiAndroid all depends on Anki Desktop(implement firstly in desktop and then Ankiandroid)?
Maybe the disk space on PC and drive(i didnnot find the ceil limit of space) is enough to store the decks and ca

[2021-04-24 18:07] Arthur-Milchior commented on #7949
I'd add an even stronger warning. This part of the sync is done in Rust upstream. So you may need to read some Rust code to try to figure out what's going on exactly. If you feel like you can do it, then you're very welcome to figure out what's going on.
I believe that until you can explain why it is broken, it's too soon to consider code to correct it.
Actually, I suspect it might be required to

[2021-04-24 18:08] Arthur-Milchior commented on #7949
So @LinearMomentum plase feel free to take this task if you believe you can do what we are asking. Otherwise, please let us know that you quit it, and it's perfectly fine too

[2021-04-24 18:13] PANG-hans commented on #8593
Thanks a lot!

[2021-04-24 18:14] Arthur-Milchior commented on #8668
It's not a deck but an entire collection. You'll need to use the desktop version to import it. And you should create a new profile, as otherwise it would remove the current content of your collection.
But anyway, you can probably do tests first on your usual collection or on a test collection, and once you are happy with the code change you made, test on a big collection

[2021-04-24 18:29] Akshay0701 commented on #8072
I will do this,

So @mikehardy,I only have to use [Android-Image-Cropper](https://github.com/CanHub/Android-Image-Cropper) in the application, am I right?

[2021-04-24 18:57] Akshay0701 commented on #8351
**Just an Improvement (Not necessary to implement)** ->what if we handle changing of the mode in dynamic form?
### Then how we can achieve that?
Thanks to the developers of the Telegram app for making code open sourced, so we can take a look at how developers implemented this feature in the **[repository](https://github.com/DrKLO/Telegram/blob/1eea3ab6f7fa8ff5b90282a2bb0e919aabea7d35/TMessagesProj

[2021-04-24 19:02] mikehardy commented on #8677
AnkiDesktop is what we consider "upstream", we are a port. Anki Desktop was first, in Python (now in a mix of things including Rust), and the Python code was ported to Java here.

AnkiDroid works great offline, that's one of it's major features. Offline function is perfect, then you sync.

Syncing is done to AnkiWeb because it is a database-level differential sync (very efficient even if your coll

[2021-04-24 19:04] mikehardy commented on #8351
I would much rather all the Activities just handled Activity restart correctly by persisting state to bundle onSaveInstanceState and recreating state in onCreate, seems like it is working with the system instead of fighting it, in my experience fighting the system is painful and expensive

[2021-04-24 19:04] mikehardy commented on #8072
Ideally, Android-Image-Cropper works fabulously and all image cropping is replaced with it, yes

[2021-04-24 19:06] mikehardy commented on #7949
Yeah, honestly I don't even want to go near this one hahaha, but it is important! It would be great if someone just said "you know what, I can't explain why, but I'm going to become the collection configuration sync expert" and fixed it all through the system.

[2021-04-24 19:06] mvonkessel opened #8684 "Scroll function with gamepad/xbox controller"
**Is your feature request related to a problem? Please describe.**
Using a gamepad is a great way to review anki. Without a scolling function, it is not yet possible. At least for my decks.

**Describe the solution you'd like**
A way to scroll up and down via a xbox controller.

[2021-04-24 19:07] #8417 closed

[2021-04-24 20:11] mikehardy commented on #8203
@Akshay0701

https://github.com/ankidroid/Anki-Android/pull/8685/checks?check_run_id=2428378696#step:8:40

[code]

[2021-04-24 20:22] mikehardy commented on #8203
Fixed up on crowdin after testing fixes locally, it was a problem with HTML entities:

[code]

[2021-04-25 00:43] Jacky486 opened #8686 "add the theme followed system"
add the dark theme option for following system.

[2021-04-25 01:02] mikehardy commented on #8686
Hi there! We want to do this, but given we have 4 different themes at the moment (black, dark, light, plain) and have had them forever, it is important to take those into account for existing users as we implement the feature of following the system theme.

That work is already tracked here #5685 and has some tentative work #5686 #7824 but it's not easy so those haven't landed. Follow #5685 to see

[2021-04-25 01:02] #8686 closed

[2021-04-25 01:39] Arthur-Milchior commented on #7949
The synchronization center is ankiweb. Which means only DAE can know the entire system.

But I used to know this part before rust. I taught myself rust since I wrote this bug report. So I can always take a look at it

[2021-04-25 01:51] dae commented on #7949
Can you reproduce the issue with the latest desktop code? Which direction the config syncs depends on whichever side was marked as modified more recently, and for a while there Anki had a bug that would mark the collection as modified when it shouldn't IIRC.

[2021-04-25 02:00] PANG-hans commented on #6677
@mikehardy I find some thing may out of your control happend, the [released APP](https://f-droid.org/packages/com.ichi2.anki/) in `F-Droid` now can not supported in HUAWEI APPgallery in **Chinese mainland**, insteaded with another [APP](https://appgallery.huawei.com/#/app/C103098439).
If i click the [link](https://appgallery5.huawei.com/#/app/C102711481) in home page and try to download it, follwi

[2021-04-25 02:02] Arthur-Milchior commented on #7949
Do you get notification even when I don't use the "@" before your name?

I'll try to reproduce and let you know soon, thanks for your feedback

[2021-04-25 02:12] Arthur-Milchior commented on #7949
I can't reproduce anymore. Thank you @dae.

[2021-04-25 02:12] #7949 closed

[2021-04-25 02:23] Akshay0701 commented on #8203
Sorry for mis formatting ,is this resolved now ?

[2021-04-25 02:40] Arthur-Milchior commented on #8169
I'm sorry but I've a hard time following. The size of the cards should not matter at all here, so that's really strange. What do you call a small card?
This is especially strange because the content of the card should not be loaded at any point, even if there is a lot of media, image, video, sound, it should not matter

Did you check the two linked PR? People already started working on it.
I'd pre

[2021-04-25 02:41] david-allison-1 opened #8687 "LoadCollectionComplete: consider using colIsOpen over getCol()"
To cleanup code and avoid an exception

----

@Arthur-Milchior This one might be better handled inside the Task architecture?

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/8666#discussion_r619720363_

[2021-04-25 03:01] mikehardy commented on #6677
We are already present in the Huawei AppGallery with up to date versions even
It just doesn't *auto*publish there. I want to automate it, but it's no big deal - will happen eventually

[2021-04-25 03:04] mikehardy commented on #8203
Yeah - I resolved it, it was really subtle! The one in 10-preferences was an error that you could have gotten I think but the one in 6-statistics *should* have worked, except for a very rare combination of it needing to be HTML entities in that string *and* not being able to use the `&amp;` entity specifically. I'm not sure who else could have gotten that one except someone familiar with the pytho

[2021-04-25 03:15] Arthur-Milchior opened #8689 "Shorter title asked to translator"
Some titles don't fit on a line. E.g. "share feature usage" in Russian according to @oakkiten. We should have a way to let user know they should try to make it shorter, up to adding a subtitle

[2021-04-25 03:19] Akshay0701 commented on #8203
Thanks Mike!

[2021-04-25 03:20] #8618 closed

[2021-04-25 03:34] PANG-hans commented on #6677
I mean that the up-to-date version is NOT visible now in Chinese mainland, oversea may still can work. A [version](https://appgallery.huawei.com/#/app/C103098439) made by local company was showed when searching `Anki`:
`Anki探索版` is diff of your version, total different. I don't know wether this company get the permission to do this from your developers.
![Screenshot_20210425_110730_com huawei appm

[2021-04-25 07:47] mrudultora commented on #7766
@david-allison-1 I was thinking that in the proposed PR the library used is not maintained (as Mike suggested). So, rather than giving support for many colors, why not we give support for 3-4 important colors (as suggested in design). And if **sakshi-1604** is not taking this up, I would like to work on it.

[2021-04-25 09:03] ShridharGoel commented on #8533
This is not happening on the latest master build, hence closing.

[2021-04-25 09:03] #8533 closed

[2021-04-25 12:37] Arnold2381 commented on #8351
https://user-images.githubusercontent.com/46752548/115993514-c1609b00-a5f0-11eb-8960-67ff94b19f9b.mp4

@mikehardy I tried some changes got this.

[2021-04-25 13:08] mikehardy commented on #8351
The video is interesting - sure - but I usually stick to text that talks specifically about how code will be organized or reviews of actual code. Can you describe the design of your changes with reference to the code or propose a draft PR?

[2021-04-25 13:11] mikehardy commented on #6677
https://appgallery.huawei.com/#/app/C102711481

@PANG-hans what *exactly* is your goal collaborating in this repo? I don't have much more time for back and forth with you without something substantial that represents real forward progress.

[2021-04-25 13:13] mikehardy commented on #7766
The PR already has a batch of specific colors, I think it has those *and* the color picker. Just having the specific colors part seems adequate

[2021-04-25 13:27] david-allison-1 commented on #7766
@sakshi-1604
Would you be happy with this? @mrudultora feel free to take this on in 48 hours if there's no response

[2021-04-25 13:46] mikehardy commented on #8652
Thanks for reporting @kuroni - I'm going to close this as it seems to be behaving then - we're paying close attention to this though, the new timezone handling is perhaps the most important feature (both for infrastructure with our use of the Anki Rust lib and for users so that syncing works perfectly with anki desktop) of 2.15

[2021-04-25 13:46] #8652 closed

[2021-04-25 14:17] PANG-hans commented on #6677
Maybe i didn't explained clearly.

What i want to report:

What you want to get in your [issuecomment](https://github.com/ankidroid/Anki-Android/issues/6677#issuecomment-668681624) exactly _not_ works. People can NOT get AnkiAndroid from default app store and you could not receive feedback either! That's what i want to report.

Maybe you can find another local chinese mainland people to test that.

[2021-04-25 14:38] mikehardy commented on #6677
Thanks, I'll investigate.

[2021-04-25 14:47] mikehardy commented on #8473
PNGs to SVGs resurrected - #5134 ! Just rebased that and fixed it up and re-pushed it

[2021-04-25 15:06] PANG-hans opened #8691 "[Bug]Different review info of parent and sub-decks"
It have some same place with https://github.com/ankidroid/Anki-Android/issues/8660, but some differents.
<img height = "400" src = "https://user-images.githubusercontent.com/49405752/115998265-07c9f000-a619-11eb-8cc6-76d47e315fec.jpg">

Step:

1. review `forth` from `14-0-0` to `5-4-0`,
2. review `sec` from `5-0-0` to `2-3-0`,
3. review `thir` from `2-0-0` to `0-0-0`,
4. add 5 new card in `thir`,

[2021-04-25 15:10] PANG-hans commented on #8691
If it received could i work on it?

[2021-04-25 16:23] Arnold2381 commented on #8351
Sorry I missed this! Sure I will create a rough draft.

[2021-04-25 17:13] mikehardy commented on #8473
using platform sqlite as in #8695 gets us this comparison

[code]

About 1MB there, and honestly it is probably the same performance at this point. I'll have to have @Arthur-Milchior  try it though :-)

[2021-04-25 17:26] mikehardy opened #8696 "Convert remaining PNG files to SVG where possible"
Still need to audit more, maybe more of these may be converted but this is the current list

[code]

Note that logos and notification assets etc I do not think may be converted easily, and any icons we use need to be licensed correctly for our use (i.e., from material.io or similar, where we know we may use them)

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/pull/5

[2021-04-25 17:28] mikehardy commented on #8473
Okay - punting any further consideration of this to 2.16, I've picked the low-hanging fruit for 2.15.
- merged SVG conversion
- posted PR for framework sqlite - it's not merged but *it* is tagged for 2.15 (to either do it or decide not to) so that's fine

[2021-04-25 17:37] mikehardy commented on #8691
We are on 2.15alpha45 now https://github.com/ankidroid/Anki-Android/releases - Please make sure you can reproduce this against current code

How does this behave in Anki Desktop? It may be that is the way it is supposed to work - if you can reproduce it there, then it's possibly intentional behavior

[2021-04-25 17:40] #8676 closed

[2021-04-25 17:47] david-allison-1 commented on #8529
@mikehardy Need a quick "OK" on the backup strategy, I'd like to test & refactor the current backup code before continuing:

* Add a `ankidroidPre16Downgrade.colpkg` backup before performing the operation
  * This does not contain the time in the filename (questinable)
* Overwrite if one already exists
* Ignore this backup when performing the "keep 8 backups" check

Test: Ensure that the "restore

[2021-04-25 17:50] mikehardy commented on #8529
Seems sensible - backups fail to create for lack of space sometimes as well

[2021-04-25 18:04] vinishhub commented on #8696
I would like to work on this @mikehardy

[2021-04-25 18:22] mikehardy commented on #8696
Sure go for it! Note that material.io is the best source of icons for things we can use, but I was not able to find icons for everything.

It's possible to draw SVGs even, without too much pain - I mention that because the "dropdown" version of the SVGs is usually the regular SVG but with a new triangle path at bottom right - that path could probably be stolen from any of the SVG icons that alread

[2021-04-25 19:07] david-allison-1 commented on #8696
Anki.png -> https://github.com/ankidroid/Anki-Android/blob/master/docs/graphics/legacy/anki.svg I think

[2021-04-25 20:10] Arthur-Milchior commented on #8473
I'll put it on my phone and test it. However, I've never used
But a small slowness will be hard to notice, as a lot of things went slightly slower after rust. Not enough to be worth not doing it, nothing close to what it used to be in 2019

[2021-04-25 22:31] mikehardy commented on #8064
New one

[code]

[2021-04-25 22:59] dae commented on #7949
No notification without the @

Glad to hear the issue's gone away!

[2021-04-25 23:09] mikehardy commented on #8162
Going to focus this one and get some of it done for 2.15 in order for the widest swath to get timezone syncing fixed etc:

- remove the experimental tag from the v2 scheduler label in advanced settings - I think this will actually require a *new* string (retiring the old one) so that translators know to re-translate
- make v2 the default **for new installations** - no intention to auto-convert or

[2021-04-25 23:15] dae commented on #8162
Sounds good, just a reminder that we'll want to make sure the initial setup also enables the new timezone code, and not just the new scheduler. Should not affect scheduling, as a full sync is required when moving to a new device in any case.

[2021-04-25 23:19] david-allison-1 opened #8702 "UX: Improve AnkiWeb Upload/Download Screen"
Caught a portfolio piece with a great suggestion (Ctrl+F for `AnkiWeb Sync Dialogue (Before)`: https://www.hunternielsen.com/project/04096f2e/AnkiMobile

![image](https://user-images.githubusercontent.com/62114487/116012717-38635700-a624-11eb-9de8-639a7ad6aa3b.png)

Our Dialog:

![image](https://user-images.githubusercontent.com/62114487/116012817-cc352300-a624-11eb-84ad-e8ef888f853b.png)

----

@

[2021-04-25 23:26] mikehardy commented on #8702
This would be great - the terms "upload" and "download" are ambiguous these days as well, so I'd love to evict them.

[2021-04-25 23:34] david-allison-1 commented on #8702
I'll get to this tomorrow

[2021-04-26 03:00] Arthur-Milchior commented on #8702
Please use the term "Collection" instead of "Deck". Deck was used for collection long long ago. Let’s be simple but correct

[2021-04-26 06:18] vinishhub commented on #8696
can we use online png to svg converter to convert to svg

[2021-04-26 08:41] vinishhub commented on #8696
how can I create seperate commits ?

[2021-04-26 12:14] david-allison-1 commented on #8702
Do users know what a collection is?

[2021-04-26 13:18] Arthur-Milchior commented on #8702
Collection is the term used, in anki.
* "Export format: Anki Collection package"
* "import: packaged anki deck/collection"
* A free account is required to keep your collection sychnronized

in the manual:
https://docs.ankiweb.net/#/getting-started?id=collection

In ankidroid:
* New collection
* Delete collection and create new one
* Replacing collection...
* Export collection as anki package

(tHi

[2021-04-26 13:20] biocarl commented on #7959
I was just seeing this PR! This is just wonderful!! I was just envisioning an addon which would enrich your cards by dynamically fetching a picture or dictionary entry through some REST call in JS :-)

[2021-04-26 15:33] Abanoub-Asaad commented on #8466
Can I work on this issue?

[2021-04-26 15:37] david-allison-1 commented on #8466
If you can reproduce it, then sure, thanks!

[2021-04-26 15:39] david-allison-1 commented on #7959
We've got Note Editor addons coming in another! 2021 is looking exciting

[2021-04-26 15:40] david-allison-1 commented on #8702
Sounds reasonable

[2021-04-26 16:32] ShridharGoel commented on #8466
This is the commit which has caused the bug: https://github.com/ankidroid/Anki-Android/commit/3e7983670370141b6dc2e1ab3d7a4036c0585def

[2021-04-26 16:33] ShridharGoel commented on #8466
This seems to be the commit which has caused this bug: https://github.com/ankidroid/Anki-Android/commit/3e7983670370141b6dc2e1ab3d7a4036c0585def

[2021-04-27 05:18] mikehardy commented on #7375
This one may or may not have been fixed - is it still reproducible on latest alphas?

[2021-04-27 08:10] david-allison-1 commented on #8466
@Arthur-Milchior any idea?

[2021-04-27 08:18] Eggg0771 commented on #8627
Sorry that I misunderstand the issue. I have tried many times but fail to reproduce it.

[2021-04-27 08:30] david-allison-1 commented on #8627
@Arthur-Milchior Do you have repro steps for this?

[2021-04-27 10:42] Vuenc opened #8708 "Improve keyboard handling for "Type in the answer" text input"
**Is your feature request related to a problem? Please describe.**

When I want to type in an answer for a card, I often notice the following problems:

1. By default, the first character I enter is upper-case. Since my vocabulary answers most often start with a lower-case character, I have to manually turn it off each time I type in a word.
2. The keyboard's auto-correct is turned on, so I get a

[2021-04-27 10:47] sakshi-1604 commented on #7766
Okay ,so I will add specific color only , instead of adding many colors.

[2021-04-27 14:00] voidplayer commented on #8708
It would be even nicer if it could ignore case all together

My problem is the opposite, German nouns are upper case, and my keyboard dont capitalize them automatically

I just learned to ignore the mistakes that dont matter 🤷‍♂️

[2021-04-27 14:02] mikehardy commented on #8708
I'm really not sure there is a universal solution here without working it out upstream in Anki Desktop.
How do they handle it?

[2021-04-27 15:46] Akshay0701 opened #8709 "Feature : Paste Clipboard Image As PNG"
### **Is your feature request related to a problem? Please describe.**
AnkiDesktop have feature of "Paste Clipboard Image As PNG " in the preference window ,
currently AnkiDroid do support to copy and paste image but not have this preference option in app.

![Capture](https://user-images.githubusercontent.com/52353967/116271252-7041da00-a79d-11eb-9324-eae83f1a6027.PNG)

[2021-04-27 15:53] Abanoub-Asaad commented on #8466
When I tried to test it, no problem appeared
https://user-images.githubusercontent.com/48657780/116272316-1a5f3900-a781-11eb-8cb5-321d025df92b.mp4

[2021-04-27 16:05] mrudultora commented on #4021
@Akshay0701 You are working on another issue so would you mind if I take this up ?

[2021-04-27 16:06] Akshay0701 commented on #4021
Sure ,no issue

[2021-04-27 16:43] oakkitten opened #8710 "Make preferences easier to understand and navigate"
Some of AnkiDroid preferences are very confusing and require reading the manual in order to understand what they do. I think pereferences should include enough information for the user to at least get a rough picture of what each preference does, and include a link to documentation when it's not feasible to explain everything in detail. The user must not ponder, “What does this setting do?”

Some

[2021-04-27 18:27] Abanoub-Asaad opened #8711 "[Bug] Confusing icons in "Advanced editor" for notes"
###### Reproduction Steps

1. Click on the floating action button (+)
2. Add note
3. Click on attach button (📎) in Front or Back
4. Select Advanced editor
5. Notice the icons in the title bar.

###### Expected Result
There are two mic icons, the first one for Audio recording and the second one for Audio Clip.
The second icon should be something different because it's so confusing.

###### Actual R

[2021-04-27 18:34] david-allison-1 commented on #8711
Sure! Make sure the icon is available under an appropriate license.

[2021-04-27 18:36] Abanoub-Asaad commented on #8711
Okay, Thank you.

[2021-04-27 18:46] mikehardy commented on #8711
someone else just pointed out remixicons which looks good if material.io doesn't have anything

[2021-04-27 18:59] Abanoub-Asaad commented on #8711
I'll check the two websites and choose the appropriate icon.

[2021-04-27 20:29] Abanoub-Asaad commented on #8711
Sorry! I've checked the "note_editor.xml" layout, but I couldn't find the advanced editor layout.

[2021-04-27 20:29] Kolwyntjie opened #8712 "Synchronisation issues (Android 11) [Bug]"
###### Reproduction Steps

1. Open AnkiDroid
2. Press the 'Sync' button

###### Expected Result

The sync process will begin and will sync the changes i have made during my last session (Adding cards that I've added, taking away cards ive taken away, etc)

###### Actual Result

Full Sync begins again syncing all 12400 cards as if I have just opened the app for the first time. Then resulting in an

[2021-04-27 20:41] mikehardy commented on #8712
Hi there!
I haven't checked 2.14.6 in a long while but at least on current alphas (https://docs.ankidroid.org/#betaTesting) and an Android 11 emulator (my normal development environment, actually) Android 11 has no problems.

I can't reproduce it

[2021-04-27 21:13] david-allison-1 commented on #8712
Are you making changes which require a full sync, or obtaining an error while syncing stating that a full sync is necessary?

[2021-04-27 21:30] Kolwyntjie commented on #8712
No I'm simply doing things like adding a card or two to a Deck, syncing it on my computer which goes fine and just syncs thoes 2 cards, and when I hop onto my phone and sync it forces a full sync of all 12000 cards and the media on them which then takes almost a hour and does this every time no matter what it is that I add or take away or review. And it only happens on my phone, weather o add the

[2021-04-27 21:45] david-allison-1 commented on #8712
Does it show the "full sync" dialog?

If it doesn't, then you're just downloading media which AnkiWeb tells us you're missing. You may be able to "clear media" on the desktop if you have a lot of unused media files

[2021-04-27 21:53] david-allison-1 commented on #8711
https://github.com/ankidroid/Anki-Android/blob/26295a2efc870979ce3bd224b3e8f0c4bd37a566/AnkiDroid/src/main/res/menu/popupmenu_multimedia_options.xml

[2021-04-28 05:15] Arnold2381 commented on #4334
@david-allison-1 does this need work?

[2021-04-28 05:36] Kolwyntjie commented on #8712
Not quiet sure what the full sync dialog looks like. But yes that could very well be the issue, how could I fix the issue while still keeping all the media files?

[2021-04-28 06:48] Arnold2381 commented on #7567
@david-allison-1 I checked this issue and this is not only for Graduating Interval but for all the items in Options like New Cards, reviews, Lapses, General
Description is working fine.
And the opposite is not true if I changing some setting in the desktop and syncing it, it's getting updated in Droid too.

Screencast of the AnkiDroid

https://user-images.githubusercontent.com/46752548/116357564-3

[2021-04-28 07:20] david-allison-1 commented on #8712
![Screenshot_20210426-001530.png](https://user-images.githubusercontent.com/62114487/116362618-2509e480-a7fa-11eb-83af-88c66c4f0816.png) - full sync dialog

If you have unused media in Anki desktop/AnkiWeb, then surely you want that deleted?

Otherwise, open the ankidroid folder on your phone and check the collection.media folder.

Each time you sync, you should see the number of files increase, s

[2021-04-28 07:50] Akshay0701 commented on #8072
When I used Android-Image-Cropper it's showing me this message
![Screenshot_20210428-131934.jpg](https://user-images.githubusercontent.com/52353967/116367020-85ae1700-a824-11eb-89d3-fc4f13616d04.jpg)

[2021-04-28 07:52] Akshay0701 commented on #8072
And when i used UCrop it work fine ,so should I go with uCrop ?

[2021-04-28 08:05] Kolwyntjie commented on #8712
![Screenshot_20210427-191036_Instagram](https://user-images.githubusercontent.com/83306444/116368805-c48a9f80-a819-11eb-80cf-d9dd1e9f01bc.png)

Ah right it doesn't show me that sync dialog, here is a picture of the error. (I've synced over 8 times at this point and it still gives me the error even after re-installing and so on. The reason I don't want to clear unused media is because I've just add

[2021-04-28 08:25] Canato commented on #8072
Hey @Akshay0701 jus to say that this message is not from the library, maybe the library has some error, but Anki is mapping it in this message

[2021-04-28 09:48] SilentCruzer commented on #8637
I have tried to fix this issue, but I am having trouble with something.  The following functions in AudioView is the reason behind the issue:
https://github.com/ankidroid/Anki-Android/blob/95b310de511f67cd0af0504a64696ce59590fe73/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/AudioView.java#L230-L244

After pressing the shortcuts multiple times, the mStatus variable gets a value other than

[2021-04-28 12:23] GitGondola commented on #7825
I'm having the same issue.
I recorded it, made it into a gif and slowed it down to highlight what happens. (see attached pic)
In reality the image is the wrong size for 1 or 2 frames
It still happens with all the javascript stripped from my card templates.
![98842073](https://user-images.githubusercontent.com/68796479/116402846-3988c400-a870-11eb-8bab-826f3de57ea3.gif)

[2021-04-28 12:34] mikehardy commented on #8712
This could be some "indigestible" character in a media file name causing a media file error perhaps.

[2021-04-28 17:31] Abanoub-Asaad opened #8716 "[Bug] Audio doesn't stop after hiding the answer in the note preview"
###### Reproduction Steps

1. Click on the floating action button (+)
2. Add note
3. In the front part, Add anything
4. In the back part, Click on attach button (📎), then select Add audio clip
5. Click on library and choose audio, then click on (✔️)
6. Click on (👁️) to preview
7. Show answer, then hide answer
8. Notice what'll happen.

###### Expected Result
After hiding the answer, the audio shou

[2021-04-28 17:45] sanjayananda commented on #5182
Hey all, any news on this? It's been a few years 😅😔, so wanted to check in. Really missing getting to use Anki offline on a mobile device.

[2021-04-28 18:30] prateek-singh-3212 commented on #8658
@david-allison-1 Do we have any method (in present code) to find out how much time the next learning card will be available to the users?

[2021-04-28 22:32] #8711 closed

[2021-04-28 22:35] mikehardy commented on #7825
@GitGondola - are you able to build the app and load it on the phone to test changes? If so - if you removed that code from card.js above, I wonder if it would work correctly for you? Or perhaps it would be worse! But that's our hunch right now, to remove that code

[2021-04-28 22:41] mikehardy commented on #5182
Ironically there was another comment on another issue recently related to the same chunk of code - I think we may remove it but I'm not sure, it needs testing: https://github.com/ankidroid/Anki-Android/issues/7825#issuecomment-738911823

[2021-04-28 23:39] mikehardy commented on #8072
Yeah, unfiltered `adb logcat` should have something interesting in there. That's usually the message when we fire off an intent to an external editing program, but with these library integrations it should be internal :thinking:

[2021-04-28 23:44] mikehardy commented on #8637
It must be race conditions with the audio view listeners getting events from another thread:

https://github.com/ankidroid/Anki-Android/blob/95b310de511f67cd0af0504a64696ce59590fe73/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/AudioView.java#L107-L110

My guess is that access to mStatus should be synchronized somehow ? Maybe adding a  "double click prevention" click delay on the buttons w

[2021-04-29 06:04] Arthur-Milchior commented on #8224
@TarekkMA
Is #8271 a blocker for this task? Or do you think you can work on it?

[2021-04-29 06:16] Akshay0701 commented on #8689
the same issue with Hindi or Marathi this is the translation of the above text in Hindi is "Sāmāyika karāya phī vaiśiṣṭya vāpara"

[2021-04-29 06:32] Kolwyntjie commented on #8712
Hmm that may be true, but I don't understand why its specifically not working since I upgraded to Android 11, since it would sync just fine on android 10

[2021-04-29 06:35] prateek-singh-3212 commented on #8428
@david-allison-1 Should we add an invert HTML color option in settings? because this issue contains the removal of previously written code.

[2021-04-29 06:48] Akshay0701 commented on #7951
Currently, after reading the above discussion,i understand the problem is with small view of Card Template Editor ,
So solution I think would be changing current UI matching with AnkiDesktop ,Like this

![Capture](https://user-images.githubusercontent.com/52353967/116511688-72628080-a8e4-11eb-89d9-041455575420.PNG)

It might look little compact design , so to make this design more clean we can shi

[2021-04-29 08:09] Vuenc commented on #8708
You mean for the suggestion to make it case-insensitive? Yes, I assume more changes would be needed for that, and I'm also not sure if that's wanted (maybe some people like to have a case-sensitive check)
I hoped that only changing the behavior of the input box would be an easier alternative that wouldn't need upstream changes, since it concerns the Android GUI only.

However voidplayer writes tha

[2021-04-29 08:59] voidplayer commented on #8708
@Vuenc my keyboard in the type field doesnt make dic suggestions or autocapitalize already. I use dic for 3 languages

It does when im editing a card. Maybe your android keyboard is not able to act accordingly? Im using anysoftkeyboard for more reference

[2021-04-29 09:53] Vuenc commented on #8708
Huh, weird that different keyboards behave so differently. I use Gboard, and there I get both the auto-capitalization and suggestions. I also just tried it on another phone which has Microsoft SwiftKey, and there I get suggestions, but no auto-capitalization

[2021-04-29 12:13] mikehardy commented on #7951
That looks pretty good. We even have two viewpager2 examples in code base now with stats and inside card template editor already I think

[2021-04-29 14:03] david-allison-1 commented on #8637
An alternate would be to queue up the actions and only perform them once the player has completed the previous action.

I don't think we've recorded the stack trace or logs here to find out why this is occurring. That'd be the first step for me. Is this due to trying to record/play twice, or an interaction between the player and the recorder?

[2021-04-29 15:49] david-allison-1 commented on #8658
I won't have the time to delve into this in the next few days. Please follow up with this if you don't find a resolution

I don't think we do in active code (if we do, it's in `Sched(v2).java`, but we should do when we make the database upgrade to Schema 16 so we can access the whole Rust-based backend

[2021-04-29 23:00] mikehardy commented on #8708
We have run into keyboard-specific actions before - that is one of the reasons there will likely not be a universal solution. It's the same with Launcher behavior - on Android we're spoiled for choice vs Apple, but also there are quirks...

[2021-04-30 02:55] Suvendu-SM384 opened #8732 "[Bug] Deck Options new cards steps numbers are not displayed correctly"
###### Reproduction Steps

1.  Open "options"
2. Open "new cards"
3. The number in "Steps (in minutes)" are not displayed correctly

See the attached gif for more information.
![2](https://user-images.githubusercontent.com/83439385/116642980-984e5a80-a9a2-11eb-84d1-1eb7837cf56a.gif)

###### Actual Result
A correct numerical integer, for example "110", instead of "1 10"

###### Research
*Enter an [

[2021-04-30 03:28] david-allison-1 commented on #8732
That's correct. One step of 1, and one step of 10.

Maybe we want to comma-separate it?

[2021-04-30 10:50] #8716 closed

[2021-04-30 13:25] Arthur-Milchior commented on #8466
TL/DR: #8735

Longer: You were totally right that this commit introduced bugs. I'll shamelessly blame the fact that it is entirely due to the fact that there were no typings on Object[] and that it really was hard. But I'm sincerely sorry that you had to spend so much time on it @ShridharGoel and I'm really thankful that you bisected

[2021-04-30 13:28] sankayop opened #8736 "[Feature Request] Hourly breakdown tab suggestion"
Dear Ankidroid dev,
First of all, thanks for your amazing job, the app is incredible!
This is not an issue! it's a feature request :)

I had a few idea and wanted to share them.
In the "statistics" section, tab "Hourly breakdown", what do you think of exchanging the "% correct" color and shape for the "Answers"?

Currently, in the background, there's the "% correct" in large dark grey columns, and

[2021-04-30 14:08] Akshay0701 opened #8737 "[Feature] Help option in Setting Pages"
## Feature
it'd be great to have "help" icons for the different settings, which launch a small popup as an explanation, with a larger link to the manual

## Solution
After clicking on the help icon we should show a dialog (likely not a material dialog) with a small summary, which contains a link to the manual for further information

## Desire output
<img src="https://user-images.githubusercontent

[2021-04-30 14:13] mikehardy commented on #8428
Let's not over complicate
Type answer diffs on desktop ignore styling and look a certain way
Ankidroid type answer diffs don't ignore styling

For type answer diffs we should do what ankidroid does

That's the issue, that's the expected pr, in my opinion

[2021-04-30 14:15] david-allison-1 commented on #8737
I really like this! (given that I suggested it, that's not a surprise, but the design is awesome 💝)

@Arthur-Milchior @mikehardy @infinyte7 thoughts?

I think we'll need a follow-up issue to determine **where** to place these.

It'd be great to see what the dialog looks like - I don't think a material dialog would be useful here

* Maybe: on click, add a tooltip, and turn the (?) into a (web) butt

[2021-04-30 14:33] david-allison-1 commented on #8737
It's code - we can do anything! I think that will work (maybe with the web icon as a supplement), but we'll need to keep accessibility guidelines in mind - the link will likely need to be much larger than the rest of the text.

Do you think this would work?

[2021-04-30 14:34] david-allison-1 commented on #8737
I forgot to mention, but I don't feel we should have the icon on "language", as the two clash.

I think it's better to keep "help" on the right, to ensure that the user won't accidentally trigger a setting

[2021-04-30 14:37] Akshay0701 commented on #8737
now, it's making proper sense to me, but let's first see what other mentors think.

yes i will take care of that

[2021-04-30 14:41] prateek-singh-3212 commented on #8737
@Akshay0701  Such an amazing design.
I would like to know everyone's opinions on this design.
![Group 9](https://user-images.githubusercontent.com/76490368/116711066-184ee180-a9f0-11eb-9f4b-a166886fd4fb.png)

[2021-04-30 14:59] infinyte7 commented on #7951
We may take some ideas from AnkiMobile. In your PR radio button is good.
But will it better to have like this?

<img src="https://user-images.githubusercontent.com/12841290/116713405-586d8e80-aa07-11eb-9969-359b50820dbf.PNG" height=500></img><img src="https://user-images.githubusercontent.com/12841290/116713419-5c99ac00-aa07-11eb-87cf-41f5449dd4a3.PNG" height=500></img><img src="https://user-image

[2021-04-30 15:03] Akshay0701 commented on #7951
Thanks, it looks much better if we use bottom navigation bar rather than 3 radio button, I would love to implement in this way, @mikehardy  and @david-allison-1 what do you think, should we keep radio button or bottom navigation is good?

[2021-04-30 15:07] david-allison-1 commented on #8736
Hi! Thank you for the thank you!

We're going to be completely redoing the Statistics screen in AnkiDroid 2.16/2.17 to look like Anki Desktop.

Our main aim with AnkiDroid is to maintain compatibility with Anki Desktop (in this case, their legacy stats):

![image](https://user-images.githubusercontent.com/62114487/116714470-b7aead00-a9cd-11eb-8a21-6baa34b7d667.png)

For the above reasons, we're un

[2021-04-30 15:08] david-allison-1 commented on #8736
I'll close this due to the above, please treat this conversation as still open if you want to take things further🙂

Likewise, have a great day!

[2021-04-30 15:08] #8736 closed

[2021-04-30 15:13] david-allison-1 commented on #8737
I like it more, but it breaks accessibility guidelines:

https://support.google.com/accessibility/android/answer/7101858?hl=en

[2021-04-30 15:19] oakkitten commented on #8737
I don't think I have seen any applications do this. I suppose there's a good reason for this; it's akin reading a book where every sentence has a footnote and you have to jump all over the page all the time. This is perhaps useful if the user is changing their preferences daily. Most users don't, though.

I think preferences are very confusing, and some preferences definitely need lengthy explanat

[2021-04-30 16:38] infinyte7 commented on #8737
I think it will be better to have long press and popup with text explaining settings (`content description` may be reused from `strings.xml`). It will make UI clean. But if we put button for every options then some options are self-explanatory and we may skip those. May be more better option can be implemented.

[2021-04-30 17:29] david-allison-1 commented on #8737
I'm going to preface this with the fact that my previous responses revolve around using this for "Deck/Filtered Options", rather than the preferences. I was unclear.

----

Long press isn't discoverable by default: I expect we probably have a lot of users that don't know they can long-press decks, we're targeting users who are unfamiliar with Anki, and I feel the explanations need to be prominent

[2021-04-30 17:39] Akshay0701 commented on #8737
So let me summarise,

## problem
"I don't understand the settings" is a prominent complaint

## solution
Creating a "help" icon button for those option which are not self-explanatory and confusing to users,
After clicking on the icon, a tooltip will show with a href link to Anki manual and an explanation of option usage to the user.

Correct me If I miss something.

[2021-04-30 17:50] david-allison-1 opened #8739 "[UX Proposal] Code Syntax Highlighting for Card Templates"
**Is your feature request related to a problem? Please describe.**
Users often make syntax errors in their CSS. This is frustrating for them, and also requires support effort from the community

**Describe the solution you'd like**
I would like to see HTML, and CSS code highlighting for the Card Template Editor

**Describe alternatives you've considered**
Maybe CSS Validation? Maybe also show JS i

[2021-04-30 18:17] ShridharGoel opened #8740 "[Bug] Unable to import decks"
###### Reproduction Steps

1. Go to the options menu in `Decks`.
2. Select the `Import` option.
3. Select a deck file,
4. Notice that the file chooser just reloads.

###### Expected Result

Deck should have been imported.

###### Actual Result

File chooser just reloads.

###### Research

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhanceme

[2021-04-30 18:18] david-allison-1 commented on #8740
Thanks! Could you provide the version information?

[2021-04-30 18:23] ShridharGoel commented on #8740
@david-allison-1 I have added the debug info.

[2021-04-30 18:24] ShridharGoel commented on #8740
Added the debug info.

[2021-04-30 18:24] ShridharGoel commented on #8740
I'll work on this.

[2021-04-30 18:27] david-allison-1 commented on #8740
Can you try the latest alpha? You're ~30 versions behind

[2021-04-30 19:22] ShridharGoel commented on #8739
If this is accepted, then I would like to work on it.

[2021-04-30 19:44] oakkitten commented on #8737
At this point I have to wonder if I am shadowbanned here.

I feel like in this case my previous comment is even more relevant. It'd be much easier to explain "Graduating interval" and "Easy interval" together, instead of duplicating information for each of these options, or deciding which one should have the bulk of information and which one has to read "See help for the other option".

[2021-04-30 19:53] #8466 closed

[2021-04-30 19:56] mikehardy commented on #8641
@dorrin-sot no pressure, but just checking: are you still working on this or do you still intend to? It's one of the last 2.15 issues without a PR so I'm watching it closely :eyes: :smile:

[2021-04-30 19:56] mikehardy commented on #8627
@Arthur-Milchior waiting on you for steps to reproduce

It's one of the last 2.15 issues without a PR so I'm watching it closely :eyes: :smile:

[2021-04-30 19:57] #8702 closed

[2021-04-30 20:15] david-allison-1 commented on #8737
Is this an argument from viability of translation (duplicated work), or from a user's perspective? We can definitely work on combining the manual, the app, and Anki Desktop if that's an issue.

I intuit that we immediately lose a lot of user interest as soon as we mention "look at the manual": we quickly cause information overload if we link a section of the manual without it being extremely well-

[2021-04-30 20:15] mikehardy commented on #8737
@oakkitten you're not shadowbanned, and your comments about being able to have longer (multiline) preference titles are applicable as well.

If I understand all your comments as a coherent thought correctly:

- multi-line preference titles (no ellipses...) would help make some things clear and eliminate tortured phrasing to fit into an arbitrary line length (42chars or similar)
- preferences thems

[2021-04-30 20:17] mikehardy commented on #8737
I would prefer it all be manual links personally so that we only have one document. Downside is that the manual almost never gets translated to any other languages in reality but short strings do. Perhaps the manual could be auto-built from short translated strings or similar so it wasn't an all-or-nothing blob of text that is so frequently the "nothing" case.

[2021-04-30 20:20] mikehardy commented on #8739
Related #7798 - this would be nice but I'm way more interested in WYSIWYG editing for the actual notes...

[2021-04-30 20:27] david-allison-1 commented on #8737
Long-term: Maybe we should split this off into a separate issue about how to deal with the manual. I definitely don't want to see duplicated content.

Short-term: I disagree that a single help link is the best way forward. But it's better than what we have, I'd like to discuss alternatives for a little longer, probably add bullet points to my concerns and aims for this, but I support a single help

[2021-04-30 20:28] mikehardy opened #8741 "Investigate conversion of hard-to-replace PNGs to SVG"
Almost all graphics in the app are SVG instead of PNG now. There are just a few left that are hard to convert.
It may be that some or all of these are *impossible* to convert, that is unknown and part of the task.

It is certain that this is not a high priority though, as the number of remaining PNGs is so small that any additional compiled app size benefits will be very small.

`ankidroid_txt` (I

[2021-04-30 20:29] david-allison-1 commented on #8739
Agreed: this feels like it'll be an easy win supplied by a library, but much lower impact than the editor

[2021-04-30 20:44] Arthur-Milchior commented on #8627
My repro steps were to add a note with two cards and try to bury it. Seeing that if does not ask whether i want to bury cards or not as it should

[2021-04-30 20:47] david-allison-1 commented on #8627
@Arthur-Milchior Can't repro on alpha46 using Basic & Reversed. Do you have "bury siblings" enabled?

[2021-04-30 20:47] Arthur-Milchior commented on #8739
Editor may be blocked by gsoc. If someone want to work on this project but can’t do wisiwyg, then it’s a very fine project

[2021-04-30 21:02] mikehardy commented on #8739
Oh good point, sure then - ideally it's an easy drop-in library

[2021-04-30 21:33] oakkitten commented on #8737
It's both, but mostly from the user perspective. If this proposal goes through, in order to understand what's going in e.g. “New cards” screen, the user would have to tap on up to 7 help buttons, where some information is repeated. And then they would have to tap on those buttons again to read help text they missed.

And then, when they return to this screen again, and for filtered decks this is i

[2021-05-01 01:10] david-allison-1 commented on #8710
If you were going to break this up into workable, isolated chunks, where would you begin?

I think we could quickly get 60% of this done in one non-controversial change, but the length of the issue will discourage people from beginning

[2021-05-01 04:25] oakkitten commented on #8710
(I've never worked on a project with such... notification density, so take this with a huge lump of salt)

VCS wise, I don't see how you could break up the bulk of change into anything useful. But work wise, perhaps it would be useful to separate the work into code change, “mechanical” data transformation and decision making. Maybe:

1. Make a big decision on how the work should proceed. Including

[2021-05-01 05:27] dorrin-sot commented on #8641
Hi sorry I've been abit busy with uni so I couldn't focus on it properly😅. Can I work on it next week or is that too late?

[2021-05-01 05:41] ShridharGoel commented on #8739
Should I start working on this?

[2021-05-01 06:38] SilentCruzer commented on #8637
The error is due to the interaction between player and recorder. The issue happens when we press V when it is recording. At first, it gives the expected result - the recording stops and the audio starts playing, but after using it multiple times, it starts playing without stopping the recording, after this, the recording button is stuck in the recording state, even if the mStatus variable has othe

[2021-05-01 07:06] vinishhub commented on #8741
@mikehardy github does not support svg format can i add drive link

[2021-05-01 11:07] sankayop opened #8743 "[Feature Request] "Statistics" section - Graph of Answers value vs answer per session"
**Is your feature request related to a problem? Please describe.**
No, not related to any malfunction :)
It is more a thought that I had while using the app.
Namely, I have the feeling that, while busy with one study session, my answers are pretty sharp and correct in the beginning and then, they get more false as the time pass. Then, at the end of the session, they are getting more correct since

[2021-05-01 12:02] david-allison-1 commented on #8741
You can add it to a zip and upload it

[2021-05-01 12:11] david-allison-1 commented on #8739
Sure. Do you have a proposed library?

[2021-05-01 12:13] david-allison-1 commented on #8637
Could you post logs of the "before", it's much easier to understand what's going on from that than from a text-based description

[2021-05-01 12:33] vinishhub commented on #8741
[ankidroid_text.zip](https://github.com/ankidroid/Anki-Android/files/6409547/ankidroid_text.zip)

[2021-05-01 12:54] ShridharGoel commented on #8739
Yes, I have checked and tried out a few libraries.

These two libraries seem good:
1. https://github.com/Badranh/Syntax-View-Android

    It seems to have limited syntax highlighting for CSS.
    It can check for valid parentheses.

    Screenshot when used in AnkiDroid:

![AnkiDroid syntax library 1](https://user-images.githubusercontent.com/35566748/116782794-d0d85c00-aaa8-11eb-923e-8205d0fe8092

[2021-05-01 14:12] #8487 closed

[2021-05-01 14:14] #8696 closed

[2021-05-01 14:30] mikehardy opened #8744 "Add regression test for card browser changing color when card flag changes"
This is follow on work for issue #8485

It was fixed in #8735 but without a test confirming the fix and making sure it doesn't happen again

This issue tracks creation of a test that verifies the issue before the fix from #8735 and makes sure it is actually fixed

In [a comment on the related PR](https://github.com/ankidroid/Anki-Android/pull/8735#pullrequestreview-649336285):

[2021-05-01 14:31] #8529 closed

[2021-05-01 14:50] mikehardy commented on #8627
I'll punt this to 2.16 and we can cherry-pick if we can't reproduce it

[2021-05-01 15:20] sanjayananda commented on #5182
Thanks for the update! Glad it's still being considered 🙏

[2021-05-01 15:28] david-allison-1 commented on #8739
Neither of those libraries seem actively maintained

[2021-05-01 15:30] TarekkMA commented on #8327
Fixed by #8322

[2021-05-01 15:30] #8327 closed

[2021-05-01 15:41] ShridharGoel commented on #8739
I couldn't find any actively maintained library related to this functionality.

[2021-05-01 15:47] Z233 opened #8747 "[Feature] Add show answer buttons toggle in settings"
**Is your feature request related to a problem? Please describe.**
I am coding a card template that redesigns the answer button. I want to hide default answer buttons when keeping the app bar visible, but I didn't find a related option in settings.

**Describe the solution you'd like**
Add show answer buttons toggle in "Settings > Reviewing > Display".

[2021-05-01 15:53] CreatorZZY opened #8748 "Add User Profile Feature"
**Is your feature request related to a problem? Please describe.**
Add User Profile Feature Just like What the feature in Anki of IOS do.

**Describe the solution you'd like**
Emmm, It is useful for me to manage the desk.

**Describe alternatives you've considered**
Change The profile in the Left（or Right） Side drawer.

**Additional context**
Nope.

[2021-05-01 16:02] david-allison-1 commented on #8748
Thanks for the feature request!

I believe this is a duplicate of https://github.com/ankidroid/Anki-Android/issues/2545

[2021-05-01 16:02] #8748 closed

[2021-05-01 16:18] wondrousweeb opened #8749 "Browser Layout. Edit preview."
It's a bit difficult to navigate around the Browse section. I'd suggest implementing a swipe navigating feature, in which you swipe left to open the decks, and then after selecting them, you have the cards from that Deck. (Reference can be taken from Android's Discord swipe navigation.
More than that is the editing. When I'm editing, I want to see how I'm going to see it, without needing to previe

[2021-05-01 16:55] ShridharGoel commented on #8739
Found a good library which is maintained as well: https://github.com/massivemadness/Brackeys-IDE.

[2021-05-01 17:01] david-allison-1 commented on #8739
This is a worrying amount of code, looks reasonable, but let's see how much it adds to the APK size.

Main worry would be that the amount of complexity would increase the chance of bugs.

Let's see how much effort it'll be, I'd be happy to give it an experiment

[2021-05-01 18:51] Akshay0701 commented on #8737
@oakkitten I agree with your points from your #8710 and I believe as David said "we could quickly get 60% of this done in one non-controversial change"

I am not sticking with static one idea, we might require to use a different approach and different UI for filtered Deck/deck option and preference options,

### Creating “helper/explanatory” detailed screens :

- For that options which are not sel

[2021-05-01 19:15] mikehardy commented on #8743
Yeah - I'll close this but it's a great suggestion and write-up. More specifically than "conform" even I think it's more accurate to say "re-use", by which I mean "in the future, we will directly use the AnkiDesktop statistics code", so if it goes in there we will simply get it automagically, which would be awesome

[2021-05-01 19:15] #8743 closed

[2021-05-01 19:19] mikehardy commented on #8739
I'd be surprised if it added too much size TBH - *just* code (without resources, and with R8 shrinking things) is usually not a big deal, especially now that Multidex isn't a problem it's usually not a worry.

That said, turning minify on temporarily in your build.gradle and comparing the APK before and after should be instructive, if size is a concern, that's the data point we need to see

[2021-05-01 19:45] SilentCruzer commented on #8637
This is the log when it behaves normally:
The following screenshot is when you press shift +v and then v.
(I have added a log before the if statement in the stopRecording function to see if the program goes inside the if statement)

![Before Struck](https://user-images.githubusercontent.com/73246484/116793024-e61dac80-aae1-11eb-99ab-c7278171c553.png)

After pressing it multiple times:

![After str

[2021-05-01 20:01] mikehardy commented on #8747
Hi there! You will want to use the Javascript API to do this I think? You will want to combine full screen mode (to clear out the current Reviewer UI) then add Javascript to implement the UI you like:

https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-Javascript-API

I think that should be sufficient? You can examine some samples at the bottom of the page

[2021-05-01 20:15] oakkitten commented on #8737
I'm assuming you are talking about Toasts or Snackbars here. What would be some concrete examples where you think these would be preferable to preference summaries (smaller text under preference title) and other things?

For some options this would be the deal solution! But these things might require considerable effort to implement. It's definitely useful to keep this idea in mind, though

[2021-05-01 20:29] Mohaned-Elfeky commented on #8565
try setting the lookup dictionary setting to the fourth option(Leo.org-web)

[2021-05-02 04:05] kartikeysaran commented on #8709
@Akshay0701 are you working on this?

[2021-05-02 04:07] Akshay0701 commented on #8709
Sure go on 👍

[2021-05-02 04:42] Z233 commented on #8747
Thanks for your reply! I have checked this link before. The example in the link is what inspired me to code a custom card layout. But the thing is I don't want the things fullscreen mode does that hide the system status bar and app bar when hiding the answer buttons. Because it has time, card count, undo, and a lot of useful information and actions. I want to use them directly rather than reimplem

[2021-05-02 04:56] Akshay0701 commented on #8737
@oakkitten I want to ask you
What's your view on filter deck/deck option activity, do you think the "helper" page should be a solution, or do you want to propose any other way? (I personally think , In filter deck/deck option each option have their sub-options , so having a "helper" page for each option is the solution)

One more question
Are you familiar with Android Development?
I wanted to make

[2021-05-02 13:41] Arthur-Milchior commented on #8737
Why ? The touch area should be 48p, it does not mean the button itself should be this big. Having the area near the icon touchable is okay. Actually, it seems that it's usual, since the icon should be suggested in https://material.io/design/iconography/system-icons.html#system-icon-metrics

@prateek-singh-3212, it would be wonderful if you could edit the top level message. This took a lot of discu

[2021-05-02 14:24] Arthur-Milchior commented on #8710
I beg your pardon, but what is "notification density". It seems AnkiDroid is a strange project. Most of the contributors started open source with anki(droid). It is possible that it has a big impact on the way we deal with it, since none of the maintainer has previous experience, and the project was not very active before Mike arrived.

I ENTIRELY agree with David. It's really hard to discuss you

[2021-05-02 15:12] ShridharGoel opened #8754 "[Bug] Card browser becomes empty on switching night mode"
###### Reproduction Steps

1. Go to card browser
2. Switch from day mode to night mode or vice-versa.

###### Expected Result

Cards should be shown.

###### Actual Result

Card browser becomes empty.

###### AnkiDroid version

`2.15alpha47`

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am repo

[2021-05-02 15:56] Akshay0701 commented on #8754
Duplicate #8169

[2021-05-02 15:57] ShridharGoel commented on #8754
@Akshay0701 Thanks for informing this.

[2021-05-02 15:57] #8754 closed

[2021-05-02 15:59] Arthur-Milchior opened #8755 "[Bug] Study option do not appear on start"
###### Reproduction Steps

1. Open the app on a tablet
2. Check for study option (right side)

###### Expected Result

The selected deck's study option are shown

###### Actual Result

The study option remain empty

###### Debug info
Current master 425701e

[2021-05-02 16:10] ShridharGoel commented on #8755
I would like to work on this.

[2021-05-02 16:14] oakkitten commented on #8710
It's just that AnkiDroid generates way more GitHub notifications than any other project I'm watching, so I'd rather not make any assumptions as to how it's organized

The opposite of extracting string. This is not necessary, but the resulting commits would make more sense to the reader, if history is of importance.

Such that can be performed by or as if by a script. Something that doesn't involve

[2021-05-02 16:17] mikehardy commented on #8755
Great @ShridharGoel ! You are probably 100% aware but just in case, it's pretty trivial to set up the emulator in a tablet form factor (in fact, you can even get a chromebook emulator with some more effort!). Just mentioning because I don't actually have a tablet in real life any more so only can access the different form factors with emulators

[2021-05-02 16:21] mikehardy commented on #8747
It may be reasonable but we have a *lot* of fullscreen variations at the moment. This won't be a high priority - once people are implementing card templates with reviewer elements already it's not a big step to do the full UI especially with examples already. I won't close this but I don't see it as a priority personally. It may be possible for you or someone else to implement it but I'm wary of t

[2021-05-02 16:28] ShridharGoel commented on #8755
@mikehardy Yes, I'll be using an emulator for this purpose.

[2021-05-02 16:37] Z233 commented on #8747
Got it. Thanks for your patient replies.🤗

[2021-05-02 16:37] Z233 commented on #8747
Got it. Thanks for your patient replies.🤗

[2021-05-02 17:17] oakkitten commented on #8737
@Akshay0701

First of all, I'm not sure if filtered deck settings should look like settings.

I think settings should be mostly passive, as in they shouldn't perform actions, unless clearly labeled (e.g. “Forget certificates”). Correct me if I'm wrong, but changing search/limit rebuilds the filtered deck. If I set limit to 100 cards, then go review a few, total card count can read e.g. 80. Then I

[2021-05-02 17:48] #8112 closed

[2021-05-02 18:40] Arthur-Milchior commented on #8737
@oakkitten simply copy and pasting this into a new issue would help keep the discussion focused

[2021-05-02 19:49] david-allison-1 opened #8757 "ContentProviderTest compilation failure did not break CI"
What's going on with this diff? it seems incorrect, but the code compiles

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/8570#discussion_r624337722_

----

Don't know what's going on here, but it's worth looking into to see if it was a one-time issue

[2021-05-02 20:13] #7951 closed

[2021-05-02 22:25] oakkitten commented on #8737
i don't really have anything substantial to add to what i said in #8586. since that was rejected it would be rude of me to push it

[2021-05-03 13:32] Akshay0701 commented on #6964
Nice, I will work on this,
So our flow of design goes like this

- Field add, remove, reposition and rename functionality dialog in note editor.
- Dialog in card template editor to Insert fields.

is there anything I missed?

[2021-05-03 14:07] david-allison-1 commented on #6964
Just the "insert field" in the card template editor. You can reposition and rename already in the "fields" screen from "manage note types"

[2021-05-03 16:12] david-allison-1 opened #8761 "Filtered Deck Options: Add "Enable second filter" option"
Screenshot from Anki Desktop 2.1.34, confirm how this looks on the latest version before implementation

![image](https://user-images.githubusercontent.com/62114487/116902320-e37e9c80-ac32-11eb-9182-45cee8a310cd.png)

[2021-05-03 16:17] Akshay0701 commented on #6964
Okay Done!
<img src="https://user-images.githubusercontent.com/52353967/116902314-9a414380-ac58-11eb-9236-dbd87aeaa111.gif" width="250" height="500" />

[2021-05-03 16:23] david-allison-1 commented on #6964
Fantastic!!

It'd be great to also add this on the context menu

See: `ActionModeCallback` on `NoteEditor.java`

[2021-05-03 16:58] oakkitten commented on #8755
by the way, you can simulate a tablet by setting display size to the minimal value on your phone

[2021-05-03 17:05] #8641 closed

[2021-05-03 17:34] TarekkMA opened #8762 "[Bug] Regression added tag in `TagsDialog` don't appear in RecyclerView"
My PR #8322 Added this bug since the main data structure backing the recycler view `mFilteredList` is a copy of all tags in `TagsList` the changes in `TagsList` don't reflect to the recyclerview

###### Reproduction Steps

1. Open TagsDialog
2. Click '+' icon
3. Add tag

###### Expected Result

the new tag is visible in the  list

###### Actual Result

the new tag isn't visible in the list

[2021-05-03 17:34] TarekkMA commented on #8762
I'm working on solving it

[2021-05-03 18:06] TarekkMA opened #8764 "[Bug] added tag in `TagsDialog` doesn't get sorted in the list correctly"
###### Reproduction Steps

1. Have a list of tags (preffebly big)
2. Add a new tag "zzzzz" in `TagsDialog`.

###### Expected Result

All checked tags appearing first.

###### Actual Result

All checked tags appearing first except the new "zzzzz" tag

###### Research

This issue will be apparent once #8762 is fixed, this is not a regression bug since the legacy code had this same issue.

The issue

[2021-05-03 18:08] mikehardy commented on #8764
As you note this isn't a regression I'm marking it for 2.16 - it won't block 2.15

[2021-05-03 18:11] phly95 opened #8765 "[Bug] Really slow media downloads (AnkiDroid 2.15alpha48)"
###### Reproduction Steps

1. On desktop, download a large deck like https://ankiweb.net/shared/info/957579516
2. sync it to ankiweb
3. attempt to sync on Ankidroid

###### Expected Result

downloads all media files in a couple of minutes

###### Actual Result

Downloads at a molasses pace of about 25 media files every 30 seconds or so.

###### Debug info
Refer to the [support page](https://ankidr

[2021-05-03 18:13] david-allison-1 commented on #8765
Is this a regression from AnkiDroid 2.14.6? We've fallen behind in upgrades on the media syncing, and we'll be working on this as part of the Rust migration

[2021-05-03 18:14] phly95 commented on #8765
I'm not sure because I've upgraded my desktop Anki to the latest settings that are not compatible with 2.14.6.

[2021-05-03 18:19] phly95 commented on #8765
I just changed the timezone handling to test 2.14.6, and I'm having slow downloads there too.

[2021-05-03 18:37] phly95 commented on #8765
https://www.youtube.com/watch?v=TpGX20pt4Bc Here's a video of what's happening

[2021-05-03 19:04] Arnold2381 commented on #8761
Can i work on this?

[2021-05-03 19:11] david-allison-1 commented on #8761
Sure! Make sure you add in a reference to the change in the Anki desktop source

[2021-05-03 19:13] Arnold2381 commented on #8761
Ok!!

[2021-05-03 19:16] mikehardy commented on #8765
It syncs fast if you have a fast connection and if ankiweb is behaving well, I've tested this quite recently when  worked on #8363 (and related #7465) additionally last time I was in there I recall verifying we were re-using the encrypted connection so it shouldn't be possible to optimize this much further. It is *possible* we can grab more than 25 files at a time, I'm not sure how many Anki Deskt

[2021-05-03 20:06] #8762 closed

[2021-05-03 23:46] phly95 commented on #8765
Anyways, I went back to stock, and syncing is fast again. So the problem was on my end, not with the app. Guess I'm stuck on the February 2020 build of Android 10 for this abandoned phone.
Thank you for the amazing app! It's been incredibly useful for my studies.

[2021-05-04 00:05] david-allison-1 commented on #8765
@phly95 Thanks! I'm going to close this as I don't think there's anything that we can explicitly do if it's your ROM at fault.

Working on media syncing is on the priority list, likely later this year

Best,

David

[2021-05-04 00:05] #8765 closed

[2021-05-04 03:14] david-allison-1 commented on #6192
This appears multiple times in the logs, generating a lot of noise. One of the few from the 2.9.6 era that I didn't get around to fixing

[2021-05-04 08:47] Akshay0701 commented on #6964
pardon me, but I am not sure what I have to do, is this context menu your talking and do I have to add "insert field" in this menu?
<img src="https://user-images.githubusercontent.com/52353967/116979831-1a13f000-ace3-11eb-9cc4-31cd857c924a.jpg" width="250" height="500" />

[2021-05-04 10:39] epistularum commented on #5213
Was there any development/trick for this issue? Using the official .otf noto font I'm getting a full 2-3s wait for each side. Using both the google apis trick for noto and the woff2 trick for other fonts I can significantly reduce the load time to 500ms but it's still sub-optimal.

[2021-05-04 11:57] david-allison-1 commented on #6964
Sorry for the lack of clarity: Add it to the menu when you long press the field. This lets someone insert the field at the point where their cursor is

I believe Android calls this an "action mode"

[2021-05-04 12:28] Akshay0701 commented on #6964
If we want users to insert a field at a specific position, do we actually need action mode?
because I implemented insert at cursor without action mode.

<img src="https://user-images.githubusercontent.com/52353967/117002935-d5e41800-ad01-11eb-9e67-25faaf0af83d.gif" width="250" height="500" />

[2021-05-04 12:29] david-allison-1 commented on #6964
We can and should do both, but I feel an action mode is better optional UX

[2021-05-04 14:15] david-allison-1 commented on #8621
Needs the CrowdIn token to continue

[2021-05-04 15:21] david-allison-1 commented on #8757
Testing:

[Emulator] (https://github.com/david-allison-1/Anki-Android/runs/2501739012?check_suite_focus=true)
[Lint] (https://github.com/david-allison-1/Anki-Android/runs/2501735192?check_suite_focus=true)
[JUnit] (https://github.com/david-allison-1/Anki-Android/runs/2501732669?check_suite_focus=true)

[2021-05-04 15:30] david-allison-1 commented on #8757
Closing as can't reproduce

[2021-05-04 15:31] #8757 closed

[2021-05-04 15:35] david-allison-1 commented on #8712
@Kolwyntjie Could you download a AnkiDroid 2.15 alpha: https://github.com/ankidroid/Anki-Android/releases

* Sync, obtaining the error you posted in the screenshot
* Help - Get Help - Send Troubleshooting Report

[2021-05-04 15:42] david-allison-1 opened #8770 "[Bug] Crash selecting "All Decks""
* Card Browser - Select "All Decks" - Crash
*
[code]

[2021-05-04 15:50] david-allison-1 commented on #8770
`SELECT guid, mid, mod, usn, tags, flds, flags, data FROM notes WHERE id = ?`

[code]

aldskfhewjklhfczmxkjshf  looks like it comes from `ContentProviderTest.java` :/

[2021-05-04 15:51] david-allison-1 commented on #8770
Card was associated with a model that no longer existed

[2021-05-04 16:12] mikehardy commented on #5685
Let's copy someone elses multi-theme / system-follows UI/UX since they actually have UI/UX researchers :-)

I just saw this on GitHub as it is new, and they have the same problem - they have multiple themes people used to select manually, and now people want a "follow system" mode but they also want to specify exactly how.

They have a "Theme Selection" interface with a drop-down that has "Single

[2021-05-04 16:13] Abanoub-Asaad commented on #8048
I want to work on this issue.

Is the problem here when you're adding a note contains audio and trying to review it,
1. You can't stop the audio
2. You can't resume it.

Am I right?
Is there anything else?

[2021-05-04 16:56] i-zanis commented on #8048
There is no 'issue'. This is a feature.

Ability to pause the native TTS(Google) by pressing and holding the anywhere in the screen.

Alternatively it could be by replaying the last 0.5 seconds instead of the whole card and resume going forward.

This feature would be incredible for lengthy, Mathematics and Physics cards.

[2021-05-04 17:14] Abanoub-Asaad opened #8771 "[Feature] Add stop button for audio notes"
**Is your feature request related to a problem? Please describe.**
When I add audio to notes, I can't stop the audio.

**Describe the solution you'd like**
I suggest creating a stop icon for solving this.

**Additional context**
If you approved the feature, I would like to work on it.

[2021-05-04 17:34] mikehardy commented on #5213
Not that I'm aware of. If I understand correctly AnkiDroid uses WebView, it uses Chrome, Chrome handles chunky fonts poorly. Not sure what we can do except say "use really light fonts"

[2021-05-04 17:41] mikehardy commented on #8048
Interesting - I could see a general set of gestures for audio being useful, with "touch" being pause, "release touch directly" being resume, "release touch to screen start (usually left side, e.g. for LTR locale)" meaning scrub back x seconds then resume, and "release touch to screen end (usually right side, e.g. for LTR locale)" meaning scrub forward x seconds then resume. Could be configured in

[2021-05-04 18:01] david-allison-1 commented on #8771
What does Anki Desktop do?

[2021-05-04 18:04] mikehardy commented on #8770
I suppose that would best be handled by the corrupt database / run check database dialog path, I believe check database will detect notes with missing models?

[2021-05-04 18:05] mikehardy commented on #8770
Should be ...sort of easy to produce in a test case by direct manipulation of the model objects to create the invalid structure then attempt to load the activity via robolectric

[2021-05-04 18:06] mikehardy commented on #8641
@dorrin-sot studies take priority every time, no worries - happy to have you back here any time in the future when you've got time, otherwise good luck with uni

[2021-05-04 18:07] i-zanis commented on #8048
These would be all fantastic ideas but let's not forget the left/right
swipe of get wrong/right that most people use instinctively. Ankidroid
doesn't have many options for gestures.

I am not aware of what other gestures android supports without installing
something else.

On Tue, May 4, 2021, 18:41 Mike Hardy ***@***.***> wrote:

[2021-05-04 18:08] mikehardy commented on #8621
@david-allison-1 I don't believe I have a secure transmission mechanism for you, to send it to you? I just checked `gpg --list-keys` and I don't have one on file for you - happy to send you the crowdin key via some secure mechanism

[2021-05-04 18:10] david-allison-1 commented on #8770
I'm fairly sure we can close this - it should be fixed by check database

[2021-05-04 18:10] #8770 closed

[2021-05-04 18:12] mikehardy commented on #8048
It has 9 point border touch, 4 cardinal direction swipes, vol up / vol down,  and double touch :sweat_smile:

[2021-05-04 18:20] #8162 closed

[2021-05-04 18:38] Abanoub-Asaad commented on #8771
Also, there's no stop button on Anki Desktop.

[2021-05-04 18:49] Abanoub-Asaad commented on #8771
On both the desktop and android app, the audio never stops unless I show the answer.

[2021-05-04 19:44] Abanoub-Asaad commented on #8048
https://github.com/ankidroid/Anki-Android/issues/8048#issuecomment-832122166

Yes, great ideas!

But I suggest adding firstly the stop and resume buttons when I add audio to notes.
And then handling gestures. What do you think about that?

Also, there're some acronyms that I couldn't understand, like TSS.
Does "TTS" here means "Text to Speech"?

[2021-05-04 19:51] mikehardy commented on #8048
TTS is always Text to Speech for me yes :-), sorry for throwing acronyms around, it does make things ambiguous

Yeah, just getting basic control of audio would be an incremental improvement yes. Exposing for TTS would be another increment, allowing control via gestures, an increment more...

[2021-05-04 19:56] Abanoub-Asaad commented on #8048
Ok.
I'll divide this issue into some issues "parts" to make it easier. But firstly, I've started with this [[issue](https://github.com/ankidroid/Anki-Android/issues/8771)].

[2021-05-04 20:03] mikehardy commented on #8771
A slightly more useful comparison here is AnkiMobile - it has a play/pause button for audio - this specific item is actually duplicate of #6774 - which isn't a bad thing - taking that one up would be great

[2021-05-04 20:03] #8771 closed

[2021-05-04 20:04] mikehardy commented on #6774
@Abanoub-Asaad take note of #8346 - it was an attempt to do this but had some difficulty with multiple audio files, otherwise was working? Not sure what final resolution should or would be but that is the current state of the art

[2021-05-04 20:13] Abanoub-Asaad commented on #6774
I will work on it.

But that's great, I thought that there's no pause button on Anki Desktop. And now I've found the opposite here.

[2021-05-05 00:00] nwwt commented on #7375
It's still present, as is said "jump".

Though the workaround of deactivating Android's/OnePlus's _"Hide the Bottom Bar"_ also still works.

[2021-05-05 01:30] bhatushar commented on #5685
@mikehardy that's kind of what I suggested as well in [my comment](https://github.com/ankidroid/Anki-Android/issues/5685#issuecomment-803809131).

[2021-05-05 02:09] mikehardy commented on #5685
Fantastic @bhatushar sorry if I didn't see that and note it, I was just struck by the GH design this morning when I was in github settings for a different reason and posted up the screen grabs without reading the most recent bits of the thread 🙈

[2021-05-05 03:30] david-allison-1 opened #8779 "[UX] Improve Note Editor Buttons"
**Is your feature request related to a problem? Please describe.**
The note editor "Cards" button does not look like a button. Tags doesn't either, but gets much more use

![image](https://user-images.githubusercontent.com/62114487/117094044-9dbcf380-ad5a-11eb-8d15-b63127544d59.png)

**Describe the solution you'd like**
Restyle the button to add some indicator that it's a button (shadow?)

**Addit

[2021-05-05 03:37] david-allison-1 opened #8780 "[UX] Card Template Editor - Preview"
After a preview, the screen should:

* Maintain the selected tab
* Maintain the cursor position
* Maintain the scroll position of the edit text

[2021-05-05 05:03] prateek-singh-3212 commented on #8779
I would like to work on this issue.

[2021-05-05 07:25] Akshay0701 commented on #8780
is this really needed?
if yes then how we could implement this?

[2021-05-05 12:05] david-allison-1 commented on #8780
@Akshay0701 save the values onSaveInstanceState and restore them onRestoreInstanceState

[2021-05-05 12:44] Abanoub-Asaad commented on #6774
Where's the XML file that has the "replay" icon?
I've tried a lot to find it, but I haven't reached this file yet.

[2021-05-05 13:51] mrudultora commented on #6774
There's no XML for that. It's placed through HTML code. Have a look at closed PR. You can find the relevant code in `Sound.java`.

[2021-05-05 14:47] Akshay0701 commented on #8780
Thanks and I will start work on this once my university work finish 👍

[2021-05-06 04:19] Akshay0701 commented on #8780
Okay, so we have a view pager and there might be many card view in there, so we need to save each fragment mEditorViewId and mEditorViewPosition, the solution I think would be is saving a list of editorViewId and editorViewPostion and then restoring it to a particular position of the card,

your thoughts?

[2021-05-06 04:24] Akshay0701 commented on #8779
<LinearLayout
           android:layout_width="fill_parent"
           android:layout_height="wrap_content"
           android:orientation="vertical" >
           <LinearLayout
               android:id="@+id/CardEditorCardsButton"
               style="?android:attr/buttonStyleSmall"
               android:layout_width="fill_parent"
               android:layout_height="wrap_content"

[2021-05-06 12:07] Arnold2381 commented on #8761
@david-allison-1 If I make changes in `Storage.java`. Will the changes be reflected? Because right now I have changed the structure of JSONArray for this feature and it isn't getting reflected.

[2021-05-06 12:22] david-allison-1 commented on #8761
I don't think you want to be doing that, take a look at early 2.1 for Anki desktop and see how the feature is implemented.

Main thing would also be a couple of tests to ensure that the functionality isn't changed in 2.16

[2021-05-06 12:23] david-allison-1 commented on #8780
Sounds reasonable, I'm not too clued up on the implementation, but my sl aim would be to store:

* Index of the pager
* Scroll position
* Cursor position

[2021-05-06 12:36] Arnold2381 commented on #8761
Yea, I already looked at it before.
I think I figured it out. Thank you!! Will continue working.

[2021-05-06 12:42] Abanoub-Asaad commented on #8048
@mikehardy  Could you please check this [PR](https://github.com/ankidroid/Anki-Android/pull/8781) that related to Adding play/pause audio?

[2021-05-06 12:56] Abanoub-Asaad commented on #8048
@mikehardy  Could you please check this [PR](https://github.com/ankidroid/Anki-Android/pull/8781) that related to Adding play/pause audio?

[2021-05-06 19:16] prateek-singh-3212 commented on #8779
@david-allison-1 your views on this?

https://user-images.githubusercontent.com/76490368/117353355-a5e97000-aecd-11eb-8bb8-9b6cdd38a672.mp4

[2021-05-06 20:38] david-allison-1 commented on #8779
Looks much better!

The font looks strange, but I think that's a system choice

Can you make the shadow slightly smaller, and move it to the bottom right?

[2021-05-06 21:19] TarekkMA commented on #8659
Should xml files have copyright headers as well  :thinking:

[2021-05-06 22:27] Arthur-Milchior opened #8783 "[Bug] Can't install on device anymore. Amazon error message"
###### Reproduction Steps

1. try to run ankidroid

###### Expected Result

AnkiDroid gets installed on device

###### Actual Result

The device is a samsung android, so nothing related to amazon. I didn't make any other change.

I tried to invalidate cache and restart app and computer, reload all from disk, it fails.

I get: a yellow gradle project sync failed. please fix your project and try aga

[2021-05-06 22:39] david-allison-1 commented on #8783
What's the error? You should be running a debug build, not a release build. The gradle sync failure likely means you'll be trying a release build

[2021-05-06 22:46] Arthur-Milchior commented on #8783
I essentially gave you all informations I have. If i click "try again" on the gradle warning, I get a succesful build:

Deprecated Gradle features were used in this build, making it incompatible with Gradle 8.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/7.0/userguide/command_line_interface.html#sec:command_line_warnings

If I try to build, I

[2021-05-07 03:29] lamvankhoat1 opened #8784 "[Bug] Cloze cards with embedded HTML in cloze fields not rendered correctly"
###### Reproduction Steps

1. characters like +, :: cannot be displayed in cloze. For example: {{c1::std::cout << x;}}

###### Expected Result
std::cout << x;

###### Actual Result
[cout< (in question)
std (in answer
![Screenshot_20210507100946](https://user-images.githubusercontent.com/83797527/117393798-1c628e00-af1f-11eb-88cc-9cc2a5eab68e.jpg)
![Screenshot_20210507101004](https://user-images.gi

[2021-05-07 03:35] lamvankhoat1 opened #8785 "Rename Toolbar Item"
I want to be able to rename the ordinal numbers to make them easier to remember, since normally I create a lot of tags, thank Ankidroid very much.
![Screenshot_20210507090106](https://user-images.githubusercontent.com/83797527/117393991-7a8f7100-af1f-11eb-82d3-358cb2c84d67.jpg)

[2021-05-07 07:23] prateek-singh-3212 commented on #8779
Yes, sure.

[2021-05-07 08:45] prateek-singh-3212 commented on #8779
Here is all the screenshots of light, dark, plain and black mode.
![Screenshot_20210507-134311_AnkiDroid](https://user-images.githubusercontent.com/76490368/117423727-a8d07900-af3e-11eb-9792-5521309fbb53.jpg)
![Screenshot_20210507-141043_AnkiDroid](https://user-images.githubusercontent.com/76490368/117423752-acfc9680-af3e-11eb-93a1-cb787fe16944.jpg)
![Screenshot_20210507-141019_AnkiDroid](https://

[2021-05-07 11:09] Akshay0701 opened #8788 "Record button size is bigger than other button"
###### Reproduction Steps

1. Open Add Note
2. Open Record Audio

###### Expected Result
All Button should have the same size

###### Actual Result
Record Button size bigger than other two

## OutPut
<img src="https://user-images.githubusercontent.com/52353967/117441204-a8da7400-af52-11eb-90f2-22ba0f4c42bd.jpg" width="250" height="500" />

[2021-05-07 11:14] vinishhub commented on #8788
I would like  to solve this as this mistake is from my side

[2021-05-07 11:15] Akshay0701 commented on #8788
No issue, Go ahead

[2021-05-07 12:42] david-allison-1 commented on #8779
Fantastic!

[2021-05-07 14:07] mikehardy commented on #8783
I think this is some sort of local config or tool usage error

`./gradlew installPlayDebug` worked for me just fine from the command line.

The GItHub action built it and ran it just fine same commit hash https://github.com/ankidroid/Anki-Android/runs/2504180537?check_suite_focus=true

Android Studio just hitting the play button also worked for me. It installed the Amazon flavor but that's fine.

[2021-05-07 17:48] #8131 closed

[2021-05-07 18:21] #6192 closed

[2021-05-07 22:15] mikehardy opened #8793 "Dev - profile android gradle build using various scendarios"
This is a very low-priority task that should only be undertaken by someone that wants to learn more about DevOps and play with build systems. It does not have much if any value to the project, but you could learn a lot about gradle and the JVM...

The only bit I did not do was profile the build with a different GC setting (in `gradle.properties` adding `-XX:UseParallelGC` to `jvmargs`) as the 4.2

[2021-05-08 06:27] mikunimaru opened #8794 "[Feature] Web Speech API in Javascript"
As a solution to all the functional requirements related to TTS, I would like to propose support for the Web Speech API in JavaScript.

By supporting the Web Speech API, it will be possible to realize the speech behavior of the cloze-only tag, place the speech button in the card, and speak the text multiple times at different speeds using JavaScript on the user side.

This has the advantage of kee

[2021-05-08 07:38] prateek-singh-3212 commented on #8793
I would like to take this on but will work on this after some time. I would like to invite all the community members who want to work on this issue and also wants to learn DevOps-related things. We can create a new channel on discord to discuss new learnings and resources related to this topic. 🙂

[2021-05-08 08:20] infinyte7 commented on #8794
Have you tried this one https://github.com/ankidroid/Anki-Android/wiki/FAQ#to-use-tts-on-ankidesktop-and-ankidroid
?
It is working for cloze also.

SpeechSynthesisUtterance is not supported in android webview. So, above code will not work inside AnkiDroid reviewer. May be JAVA implementation will be done to create TTS.
https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesisUtterance

[2021-05-08 09:15] mikunimaru commented on #8794
In the current app specification, there is no way to achieve the behavior of speaking only the opened part of the text when cloze is opened.

Is it possible to use Chrome Custum Tab instead of WebView to enable rich JavaScript?
https://developer.chrome.com/docs/android/custom-tabs/overview/

The availability of powerful JavaScript provides great extensibility to AnkiDroid, which has no add-ons.

[2021-05-08 09:45] infinyte7 commented on #8794
May be in AnkiDroid 2.15 or 2.16 the TTS will improved greatly even for cloze also.

https://developer.chrome.com/docs/android/custom-tabs/overview/

I don't this so but you can submit PR.

The js addons support will be available for AnkiDroid soon.

[2021-05-08 09:49] vinishhub commented on #8793
I would also like to work on it

[2021-05-08 10:32] dorrin-sot commented on #8784
Hi can I work on this

[2021-05-08 10:35] mrudultora opened #8795 "Adding color picker in Whiteboard and Add notes"
**Is your feature request related to a problem? Please describe.**
There were 2 PRs in previous few days, that were based on this issue. But the PRs were rejected as the libraries used were abandoned.

**Describe the solution you'd like**
Using this [colorpicker library](https://github.com/mrudultora/Colorpicker) to add those features.

**Describe alternatives you've considered**
None

**Additiona

[2021-05-08 10:42] dorrin-sot commented on #8744
I would love to work on this test

[2021-05-08 13:53] wujek-srujek opened #8796 "[Bug] Custom decks don't show due cards in deck list view"
###### Reproduction Steps

1. Create a 'custom deck':
   1. Long press a deck.
   2. Choose 'Custom study'.
   3. Choose 'Limit to particular tags'.
   4. Select a tag and finish.
   5. Go back to the deck list and rename the 'Custom study session' deck to something else so that it is preserved.
   6. Edit its options by unselecting 'Reschedule cards based on my answers in this deck.'.
2. Use it,

[2021-05-08 19:36] Akshay0701 commented on #8732
I will solve this issue in my pr #8787 👍

[2021-05-08 20:19] mikehardy commented on #8793
Sure - this one might be worthwhile to have a couple people do actually assuming you have hardware that's different enough. A lot of the possible optimizations for instance the RAM ones are amazing on high-end laptops but then actually terrible in the memory-constrained GitHub Actions runners or chromebooks or something

[2021-05-08 20:20] mikehardy commented on #8793
and there is zero time pressure on it - it's just to set up for benchmarks whenever your interested, setting up some scenarios to test in the profiling tool and reporting results

[2021-05-08 21:25] TarekkMA commented on #8668
Jackson is supposed to be much faster than gson.

[2021-05-09 02:08] mikunimaru commented on #8794
I've read the commentary and understood that the Web Speech API is difficult to use.
Then what about an alternative: providing an api that can freely call AnkiDroid's TTS from javascript in the template.

This api provides a lot of custom freedom with TTS functionality.

[2021-05-09 09:50] mtbox9x opened #8798 "Show code when edit cards"
<img src="https://user-images.githubusercontent.com/82198256/117567225-6eeda700-b0e5-11eb-850d-2353bfed0f68.png" height=500></img>

I am using 2.15alpha49. this deck i downloaded from internet. It's difficult to edit cards because of code. But on ankimobile, this issue is not exist, so i think the reason is not because of the deck. Thank you. I'm sorry for my english 😂

[2021-05-09 13:50] charlesoblack commented on #8495
I was just about to post saying that it had probably resolved itself, when it happened again.

Debug info:
[code]

I'll try installing 2.13.5 in parallel and use that instead for the next few days (or however long my Anki streak lasts...).

[2021-05-09 14:34] Akshay0701 commented on #8798
No problem @mtbox9x, as far I understand your main problem is "you want to view the whole card in note editor while editing"
am I right ?, if yes then we are working on a visual editor project that includes this feature to preview card from note editor
you can see work on it here #7962

[2021-05-09 15:40] kartikeysaran commented on #8709
Thanks @Akshay0701 i am working on this

[2021-05-09 15:56] mikehardy commented on #8668
Script a set of tests that exercise both cases on the same set of easily-available test data, then post benchmarks that others can attempt to reproduce, or it's just talk ;-)

[2021-05-09 15:58] mikehardy commented on #8659
We have put some in where we took SVGs (which are XML) from other places. I think the answer is yes, XMLs are essentially code and should have copyright headers. But we're even farther from 100% on those unfortunately, so should probably be a second lint check, allowing us to at least see observable progress on the java side and taste some success earlier in the effort

[2021-05-09 16:01] mikehardy commented on #8788
Nice spot @Akshay0701 !

[2021-05-09 16:02] #8788 closed

[2021-05-09 17:36] vinishhub commented on #8795
I would like to work on this

[2021-05-09 18:18] mrudultora commented on #8795
@vinishhub Sorry, but I am already working on it.

[2021-05-09 19:43] mikehardy commented on #8495
@charlesoblack if you're installing parallel builds you'll have more fun with the 2.15 releases - I'm packing that up for beta release today, it's ready to go and has an astonishing amount of progress plus a new toggle to turn hardware rendering back on for you, in advanced settings https://github.com/ankidroid/Anki-Android/releases

[2021-05-09 23:16] mikehardy commented on #8668
Users only care about the performance they see in the real world on their real device, right? It has to be a practical test, like of the Anking decks or I think Arthur has his decks up for testing on https://milchior.fr but I'm not sure where?

[2021-05-09 23:16] mikehardy commented on #8668
Sorry - meant to actually tag @Arthur-Milchior - Arthur - do you have your decks available somewhere for people looking to stress test Anki things? I seem to recall you did, if not sorry for the bother

[2021-05-09 23:23] TarekkMA commented on #8668
I think this is the link: http://milchior.fr/anki/.

I found this repo with some benchmarks. https://github.com/fabienrenaud/java-json-benchmark, and Jackson is among the top. Jackson provides databinding which will be super helpful to covert models and configs from json to java classes easily.

[2021-05-09 23:37] charlesoblack commented on #8495
Sure. I was trying 2.13.5 in parallel and it seemed fine for ~700 cards. There was one moment with a slight delay but it was much shorter than the ones I've observed in 2.14.6.

I'll install 2.15 beta in parallel once you've packaged it. :)

[2021-05-10 00:54] mtbox9x commented on #8798
![B98773F1-D0A6-4096-B422-B907E14C9CBD](https://user-images.githubusercontent.com/82198256/117592980-d26ae980-b164-11eb-9fbe-c9ad824e8a6d.png)I want the note editor to show up like this

[2021-05-10 02:06] infinyte7 commented on #8798
In Anki Desktop the html is not shown. When click on edit html then it shows.
<img src="https://user-images.githubusercontent.com/12841290/117596958-1e268e80-b177-11eb-856a-d5cd882d1bba.png" height=500></img>

[2021-05-10 02:10] mikehardy commented on #8744
Sure! I apologize I don't recall if you have worked through the Activity lifecycle using the robolectric framework before or not, but this one might not be that bad to do, it will certainly be a good way to get acquainted with robolectric if you aren't already

[2021-05-10 02:19] infinyte7 commented on #8798
It may be duplicate of #1377

[2021-05-10 06:37] dorrin-sot commented on #8744
thanks I haven't worked that much on it. just opening a dialog for a test in my first pr

[2021-05-10 06:50] mikunimaru commented on #8794
I tried to add TTS API for JS by a simple modification.
https://github.com/mikunimaru/Anki-Android/commit/b04f7cd4415923d8ce7b2e939d717607f738fb0d

https://user-images.githubusercontent.com/43168745/117616402-0b777e00-b1a6-11eb-9e10-6126f3b2e937.mp4

[code]

Calling TTS seems to work very well.
Please consider adding a JavaScript api. (Adding an api is too difficult for me because I don't have eno

[2021-05-10 07:23] infinyte7 commented on #8794
Also this is old message in discord for this features from @mikehardy.
[code]

[2021-05-10 09:48] voidplayer commented on #8158
still searching for solutions

[2021-05-10 10:05] vinishhub commented on #8793
@mikehardy  I have started working on this I have installed the `gradle-profiler tool ` but I don't know how to start

[2021-05-10 10:19] bitozoid commented on #7996
It looks to me that once enabled, AnkiDroid will TTS the whole card unless it finds the right HTML tag. That looks as a bug to me.

* AnkiDroid Version = 2.14.6
* Android Version = 10
* ACRA UUID = 65952fbc-9f5b-4fc9-a37b-b311606de719
* Scheduler = std2
* Crash Reports Enabled = true

Meanwhile, this may be a workaround (derived from https://github.com/ankidroid/Anki-Android/wiki/FAQ#tts--text-to-

[2021-05-10 13:30] AXiSource commented on #8798
I don't think @mtbox9x is asking for WYSIWYG but simply for the ability to hide html tags in fields.

Example:

- Field with html tag : <b>one</b>

- WYSIWYG : **one**

- Field with html tags hidden : one

[2021-05-10 14:08] mikehardy commented on #8798
I don't believe it is valid to just hide semantically important (for the card render) html code.
Either we can interpret it and let you edit it while interpreted (WYSIWYG) or you see the code.
The alternative is hiding it then users blow up their formatting during edit on AnkiDroid and we get errors related to that.

This is a duplicate of #1377

[2021-05-10 14:08] #8798 closed

[2021-05-10 15:50] lamvankhoat1 commented on #8784
Please help me with that 😄

[2021-05-10 17:09] TarekkMA commented on #8668
gson was already added as a dependency, so I replaced it with Jackson and tried to my best to use jackson the same as gson so that the minifer would only remove unused stuff.

Gson (streaming) was used [here](https://github.com/ankidroid/Anki-Android/blob/dd49160e8719934f473bbc6071e6b44cf245eb68/AnkiDroid/src/main/java/com/ichi2/libanki/importer/AnkiPackageImporter.java#L127-L143) and [here](https

[2021-05-10 21:47] mikehardy commented on #8668
That's quite the performance increase... It looks worth it to me

[2021-05-10 22:01] TarekkMA commented on #8668
If we go with streaming only the size would be exactly the same as the previous version with gson, but will have to write everything by hand and no more one-liners

Streaming API example form my benchmark:

https://github.com/TarekkMA/android_json_benchmarks/blob/c090f901aa369e5839bf38dc85744fcd371d587b/benchmark/src/androidTest/java/com/example/benchmark/json_parse/models/N_Deck.java#L29-L99

Sho

[2021-05-10 22:15] TarekkMA commented on #8668
Another candidate is https://github.com/ngs-doo/dsl-json , will try to get some benchmarks on it

[2021-05-10 22:55] lamvankhoat1 commented on #8784
Actually, this is a display error so I can't copy the debug info

[2021-05-11 00:44] TarekkMA commented on #8668
I guess jackson is the way to go, but should we go streaming or databinding 🤔

[2021-05-11 02:23] mikehardy commented on #8668
less code I think - not having the JSON schema embedded in our parsing code like that seems like a win

[2021-05-11 04:58] dorrin-sot commented on #8784
What do you mean? can you not go to settings?

[2021-05-11 05:53] Callum-0 opened #8803 "[Bug] Modifying note types while clock set incorrectly (on purpose, kids do this to parents phones sometimes...) results in a crash"
###### Reproduction Steps
1. Modify a note type (Add/remove/rename field or delete note type)
2. Synchronise changes (If it doesn't crash)

###### Expected Result
- Modify note types without having the app crash.

###### Actual Result
- Modifying a note type results in a crash.

- When it doesn't end up crashing, it just reverses my changes when it finishes synchronising. Synchronising also no lon

[2021-05-11 09:43] kartikeysaran commented on #8368
Can i work on this issue ?

[2021-05-11 16:13] Callum-0 commented on #8803
Hi @mikehardy ! Thanks for the response. I just tested it on the parallel A build, but the issue is still happening. It won't allow me to synchronise on the parallel build either, it results in a crash.

[2021-05-11 21:22] Arthur-Milchior commented on #8668
Interesting. I didn't even knew we used gson. This issue was referring to reading Decks/Models from the collection. But clearly, this is interesting too.

Note that
[code]
would not be acceptable. If there are properties we don't know, we should keep them. Indeed, when we recreate the string and put it in the database, we want to put all properties we didn't change as they used to be

[2021-05-11 21:49] mikehardy opened #8807 "Crash 2.15alpha49 Tags list editor"
###### Reproduction Steps

@TarekkMA I think this might be your area? :thinking:

Here's the logcat from the crash report showing user path roughly

[code]

###### Expected Result

display tags list editor

###### Actual Result

[code]

###### Debug info

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/572f850e-643d-4aff-8c41-3621744286e7

###### Research
*Ente

[2021-05-11 21:52] mikehardy commented on #8803
:thinking:

I don't see the crash reports for the parallel build, but I see these for the old ones.

Thanks for trying the new build to see how it went.

There *may* be resolution if you run check database on the desktop side (*assuming it is okay to full sync from desktop*) then full sync to ankiweb and then to ankidroid to get the results of a checked database. Not sure if that is an option for

[2021-05-11 23:10] Arthur-Milchior commented on #8668
Great.

I'd clearly be curious, if you have the courage to go into git history, can you find and explain why we used two different libraries?
I can't figure out whether the authors explained why they had distinct needs.

Great to see that the extra properties where taken into account. Thanks.

[2021-05-11 23:18] TarekkMA commented on #8668
Gson is used from 2013, I don't know the exact reason why but maybe the authors needed to do json streaming with gson as seen in

https://github.com/ankidroid/Anki-Android/blob/0711bcde77f417bf274abee7b16c4b5b8f2e1b0a/AnkiDroid/src/main/java/com/ichi2/async/CollectionTask.java#L1473-L1484

If I found an interesting git message I will be sure to put it here

[2021-05-12 01:10] mikehardy commented on #8807
You can make the robolectric runner run a test against multiple versions if you have SDK skew in the logic - it's a neat trick:

https://github.com/ankidroid/Anki-Android/blob/eb85b0dcc44c9c60e8f04c8461f5c334ec438068/AnkiDroid/src/test/java/com/ichi2/compat/CompatCopyFileTest.java#L39

Right now it uses 28 if unspecified but we'll be able to bump that up soon now that we are using Java 11 in most

[2021-05-12 01:16] #8807 closed

[2021-05-12 01:21] mikehardy commented on #8803
That new UUID does have a crash, this time it is in a different area, so the new code is still crashing for some reason but not at all the same as the old code:

[code]

[2021-05-12 04:49] david-allison-1 commented on #8803
Before you start again, could you provide us with the file located at `AnkiDroid/collection.anki2` file so we can diagnose this issue.

This is the Anki database, which contains everything except media

If your collection didn't contain sensitive information, could you rename it to a .zip and upload it to GitHub

If it does contain sensitive information, could you send it to my Gmail: `davidalliso

[2021-05-12 08:29] Coder2002-MSAdithya opened #8809 "Document in the wiki"
The word issues is being spelt as 'issuess'

[2021-05-12 08:57] puelp commented on #8298
I see now that the 2.15 milestone is 100% complete!

I imagine now it's time for beta, then RC? Is a very-rough estimate possible now, or are things still fluid at the moment?

[2021-05-12 09:06] david-allison-1 commented on #8809
Hi, thanks for the report! Could you link the page for reference.

In future, if it's a typo on the wiki, feel free to be bold and fix it

Best

David

[2021-05-12 11:09] Coder2002-MSAdithya commented on #8809
<https://github.com/ankidroid/Anki-Android/wiki> is the link to the wiki. I do not know how to edit wikis as I am a newcomer to open source

[2021-05-12 11:10] Coder2002-MSAdithya commented on #8809
Please acquaint me with the procedure

[2021-05-12 13:06] david-allison-1 commented on #8809
You click "Edit" on the page, and fix it. The page that you linked doesn't contain the word "issuess"

[2021-05-12 14:23] charlesoblack commented on #8495
Looks like the bug is still in 2.13.5. Should I try one minor version further back?

Is it possible that it is related to writing progress to the internal db? I have ~36k cards, and most of them have associated media (audio and images).

[2021-05-12 15:25] JavaZauber commented on #7839
I have experienced similar issues with `invalid email address or password`.

(Notice: all mentioned passwords are OLD passwords and are no longer related to my account)

My first password was `ú<gÄÜÃä]<uâD;®Ó+Ë>û{æmÆR`]¤;ÀT<¨Xö±ÖÏBGEîqXÉ§r¥ÍJpÈ6¹â7pÜyÆÁ`. AnkiWeb worked fine in the Browser. **AnkiDroid did not work.**
Then I tried `Snc5o1qGCmSeR9ZphmvDbuDfrXEx7T3hDNQJm3pa`. **AnkiDroid did not wor

[2021-05-12 15:32] JavaZauber opened #8811 "[Bug] Can't log in to AnkiWeb"
###### Reproduction Steps

1. Create AnkiWeb Account. I created an account with mail address ending in `.tech` and password 60 char unicode password
2. AnkiWeb Account successfully created
3. Try to log in using AnkiDroid version 2.14.6 via F-Droid

###### Expected Result

4. should let me log in & sync my decls

###### Actual Result

4. Always get responded `"Invalid email address or password"`.

[2021-05-12 15:42] oakkitten commented on #8710
I also think that AnkiDroid should include the list of used libraries in the about section, as well as the according licenses, where appropriate. It is my understanding that some licenses, including MIT and GPL, mandate that both the shipped application & the source code must include the according licenses. Apache 2 seems to be specifically not requiring this, but only if the library is only refer

[2021-05-12 17:36] Callum-0 commented on #8803
@mikehardy - I have seemed to fix the bug. I just tried to reinstall the alpha build and this time, it gave me an error message saying that my clock was ~350 seconds behind. So I corrected the clock and now it synchronises everything correctly!

It never gave me that error message before when I had tried to reinstall AnkiDroid, even on older versions. I can confirm that the clock was the issue (se

[2021-05-12 18:14] prateek-singh-3212 commented on #7839
@JavaZauber I am unable to reproduce the issue. I have tried all the passwords which you have mentioned above and all of them worked for me. I am not getting any errors.

[2021-05-12 18:47] mikehardy commented on #8811
Hi there! Item 2 here https://github.com/ankidroid/Anki-Android/wiki/FAQ#sync-is-not-working - try regular mobile browser

[2021-05-12 18:48] mikehardy commented on #8495
I don't know, I only go forward :lotus_position:  (laughing, but serious). Use the 2.15 parallel.

[2021-05-12 18:49] mikehardy commented on #8803
That is so strange! There is no reason we should crash based on a clock setting. It's actually a classic for children to take their parent's phone and hack their way around restrictions by monkeying with the time, apps can't expect reliable time from the device. Thanks for noting that.

Glad you're moving again!

[2021-05-12 18:51] mikehardy commented on #8298
Trying to do the beta today, just need to do the changelog. Unfortunately I also maintain react-native-firebase (a Google product) as a day job and Google I/O is coming in a day or so meaning they are absolutely *raining* breaking changes on us and it's nutty

Patience please :pray:

2.15 should be worth it, it was already a monumental effort and big release *before* google summer of code, then it

[2021-05-12 18:56] mikehardy commented on #8710
Re: including a licenses page where we include the libraries and licenses - that's a great idea, and yes the right thing to do on all counts. Would happily merge a PR that did that, maybe similar to the Changelog could be an "Included Software" link either off help menu or in settings that opened up a WebView and we could have an HTML page there with all the info

[2021-05-12 19:43] TarekkMA commented on #8668
@Arthur-Milchior jackson has a tree model that can replace current json classes. but I think the goal is the serilize/deserilize json from/to a type safe and expressive class instead of using string keys everywhere.

#8810 I tried migrating `Model` as a demo for what will happen if we used databinding. along with tests that will hopefully clear how it's being used.

[2021-05-12 19:44] Andrej-Adamenko opened #8813 "[Bug] Specific cards in my collection (using {{#field1}}{{^field2}} nested condition) show as empty in AnkiDroid, but not in Desktop"
###### Reproduction Steps

1. Try to review or preview the example card from the attached file in Anki Desktop: [test.zip](https://github.com/ankidroid/Anki-Android/files/6468701/test.zip)
2. The card looks like this: ![image](https://user-images.githubusercontent.com/70955223/118033905-049d6680-b372-11eb-8cac-1b12dfae919b.png)
3. Try to review or preview the card in AnkiDroid. The card looks like

[2021-05-12 20:18] mikehardy commented on #8298
2.15.0beta1 is uploading to alpha channel now, It has sat with our nearly 10,000 alpha users for a few days though with only one issue (since fixed #8807 and picked onto the release branch) so I'm going to push it to the beta channel as soon as it's done. That's pretty general distribution and the full release will likely be within the week. In general I make a new version generally available abou

[2021-05-12 20:18] #8298 closed

[2021-05-12 23:06] Arthur-Milchior commented on #8368
There is already #8781 that is related. I think we should wait until it's merged or abandoned before touching more pause/play

[2021-05-13 03:35] mikehardy opened #8815 "Crash 2.15.0beta1 CardBrowser DeckSelectionDialog"
###### Reproduction Steps

Logcat from ACRA crash

[code]

###### Expected Result

###### Actual Result

[code]

###### Debug info

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/7a21ce36-693b-4912-8466-051741fe1d0d

[code]

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](https://ankidroid.org/docs/he

[2021-05-13 03:43] mikehardy commented on #8815
Last line of our code before it goes into the Collections stack frames is

https://github.com/ankidroid/Anki-Android/blob/aa1c65121804bc9440dd2a0ccd7f9d34af9f4abe/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/DeckSelectionDialog.java#L270

Strangely this is a @david-allison-1 but has existed far longer then this recent crash, @Arthur-Milchior has been in there, I recently went in and did a fast (

[2021-05-13 05:35] Arthur-Milchior commented on #8815
I'll deal with it

[2021-05-13 06:22] JavaZauber commented on #7839
Thanks, @prateek-singh-3212. Okay then perhaps it's something else?
Does this feature require Google Play Services?

I am running Lineage OS Version `lineage_mata_userdebug 9 PQ3A.190801.002 6764d04004` without Google Play Services

[2021-05-13 06:22] JavaZauber commented on #8811
I can login fine on ankiweb.net

[2021-05-13 06:23] JavaZauber commented on #7839
related: #8811

[2021-05-13 06:23] JavaZauber commented on #8811
I am running Lineage OS without Google Play Services (version `lineage_mata_userdebug 9 PQ3A.190801.002 6764d04004` to bespecific).

[2021-05-13 06:31] Arthur-Milchior commented on #8815
«Comparison method violates its general contract!».
The comparison sort is easily not reflexive on ALL_DECKS.
In practice ALL_DECKS < A < B < ALL_DECKS would be true, I don't expect there is more to search here. Thanks for your investigation Mike, but I fear this is over the top here

[2021-05-13 06:38] Akshay0701 commented on #8815
I admit it's my mistake, Thank you so much @Arthur-Milchior.

[2021-05-13 07:00] Arthur-Milchior commented on #8815
You're welcome. No trouble. I clearly did worse

[2021-05-13 14:26] mikehardy commented on #7839
WIthout being able to reproduce we may only guess, which is inefficient unfortunately
It may simply be the most current version vs the current-released version - 2.15.0beta1 just came out and perhaps it is fixed there if you join the beta program and try? https://docs.ankidroid.org/manual.html#betaTesting

It should have nothing to do with Lineage or lack of play services.

[2021-05-13 15:46] #8815 closed

[2021-05-13 16:31] mikehardy opened #8819 "Investigate Rust backend exception? net.ankiweb.rsdroid.BackendException$BackendDbException$BackendDbLockedException"
@david-allison-1

###### Reproduction Steps

[code]

###### Expected Result

###### Actual Result

[code]

###### Debug info

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/a40dbaab-8619-4876-acb4-a44a4ec69df2

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](https://ankidroid.org/docs/help.html) and a

[2021-05-13 16:35] mikehardy opened #8820 "Maybe not useful exception on socket reset in HttpSyncer"
Could probably eat this exception

###### Reproduction Steps

1. Nothing really in the logcat

Just the exception

###### Expected Result

should not send an exception report unless it is actionable, but more likely the user needs a toast or something, vs us getting an exception report

###### Actual Result

[code]

###### Debug info

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index

[2021-05-13 17:13] david-allison-1 commented on #8819
Needs further investigation.

This is related to the fact that AnkiDroid now locks the database when it's open.

I hope that this is going to be due to two AnkiDroid instances (parallel) open on the same collection.

It could also be a race condition between clicking sync (closing the database in some cases), and then quickly tapping on a deck, but I don't feel this is the case given the logs

I d

[2021-05-13 17:15] david-allison-1 commented on #8819
We can fix this: check that the collection is open onStart/onResume (if appropriate), then try to open it, and if not, display a `database locked` screeen.

But this doesn't explain /why/ it happens, it only patches the crash

[2021-05-13 19:24] mikehardy commented on #8819
FWIW - the alpha test group has approximately 10,000 users and I'd guess we have had roughly 5000-10000 active installs over time of Rust backends. So this is necessarily infrequent, whatever it is. Patching the crash and asking for more information in a dialog somehow might be "sufficient" as a first cut at a real fix via understanding

[2021-05-13 21:05] mikehardy opened #8821 "Crash 2.15alpha49 / 2.15.0beta1 - CardBrowser render"
@Arthur-Milchior - I think CardCollection is usually your area? Not sure what happened here, looks like the CardBrowser was shutting down prior to the crash, but it still failed in render somehow

The stack trace line numbers are of course problematic (not correct) but hopefully the stack frame method names are enough to locate?

###### Reproduction Steps

logcat from crash report

[code]

######

[2021-05-13 21:07] mikehardy commented on #8820
Can be a `Broken pipe` as well. I don't think there is anything actionable for us

[code]

My hunch is these are ignorable

[2021-05-13 21:13] mikehardy opened #8822 "Crash 2.15.0beta1 CardTemplateEditor$CardTemplateFragment.getCurrentTemplate"
###### Reproduction Steps

Unfortunately nothing in the logcat on this report, so it will have to be deduced from the crash trace working backwards

This was seen on 2.15alpha48 but I don't remember this code changing before beta, it should still be a valid issue

###### Expected Result

Never crashes ever

###### Actual Result

[code]

###### Debug info

[code]
###### Research
*Enter an [x] chara

[2021-05-13 21:18] mikehardy commented on #8821
Likely unrelated, but in the area - might be better as a separate issue

[code]

[2021-05-13 22:57] TarekkMA commented on #8668
@Arthur-Milchior

#8817 I have just finished converting the old `JSONObject`/`JSONArray` to utilize Jackson tree model API.

And the results are very very amazing,

## Benchmarks for parsing 34MB of models

### Current Appreach with `org.json.****` (535.8 ms)
[code]
### Current Approach with the new JSON objects (249 ms)
[code]
### Letting Jackson deserialize directly to the map (240 ms)
[code]

[2021-05-14 04:00] Arthur-Milchior commented on #8821
Second one is not yet corrected. I understand what is happening at a local level, but I've no idea how a user could get the application in this state.

Essentially, there were no deck for some reason. And in this case, the method names return null instead of an empty array

[2021-05-14 04:40] mikehardy commented on #8821
:-) - we have so few crashes (a good thing) that just about all the crashes are ... intellectually stimulating (because they are pretty bizarre yes)

[2021-05-14 04:49] Arthur-Milchior commented on #8668
To be honest, I'm fine with the 9ms cost of keeping current approach compared to using directly a map :p

Yeah, you're right, that's amazing.

I'm kind of sorry for you, because there used to me changes that can save dozens of seconds, but most are gone, and now you have to deal with changes that same 300ms. I really like ensuring that the application is as fluid as possible (and I suspect it will

[2021-05-14 04:51] mikunimaru opened #8825 "[Bug] 2.15.0Bata Inconsistency of target deck name on note creation screen"
###### Reproduction Steps

1. Select a deck
2. Create a new note
3. Although the top deck appears to be selected on the note creation screen, the deck selected on the first deck list screen is actually selected.

###### Expected Result

Matching the notation of the target deck name on the note creation screen with the actual target deck to be created.

###### Actual Result

https://user-images.git

[2021-05-14 05:14] mikunimaru opened #8826 "[Bug] 2.15.0Bata Statistics for another deck are displayed"
###### Reproduction Steps

1. Select a deck from the deck list
2. Open the statistics screen

###### Expected Result

The deck name displayed on the statistics screen matches the deck that actually displays the statistics.

###### Actual Result
The deck name displayed on the statistics screen does not match the deck that actually displays the statistics.

https://user-images.githubusercontent.com/

[2021-05-14 08:48] VergilWang15 commented on #8826
Cant reproduce the issue, the .mp4 video is not availble. Can you re-upload it again？

[2021-05-14 09:04] VergilWang15 commented on #8825
It seems to be a display bug, I can work on it if the issue is accepted.

[2021-05-14 09:11] Coder2002-MSAdithya commented on #8809
Fixed typo in the page <https://github.com/ankidroid/Anki-Android/wiki/Development-Guide>

[2021-05-14 09:12] Coder2002-MSAdithya commented on #8809
Thanks for your help @david-allison-1 .This is my first open source contribution

[2021-05-14 09:13] mikunimaru commented on #8826
![output](https://user-images.githubusercontent.com/43168745/118248968-db024d80-b4df-11eb-8449-149e10a6c398.gif)

It may not be playable depending on the environment, so I will repost it as a gif video.

[2021-05-14 09:13] david-allison-1 commented on #8809
Fantastic, thank you!

I think this can be closed now, let me know if I'm mistaken

[2021-05-14 09:13] #8809 closed

[2021-05-14 09:44] Akshay0701 commented on #8822
I am not able to reproduce this crash now.

[2021-05-14 09:56] Akshay0701 commented on #8822
in method `onCreateOptions` we are directly fetching from json without any exception handling

I think this is the main cause

[2021-05-14 10:38] TarekkMA commented on #8668
Wow the difference you made is incridible, I hope I will be able to make the app more pleasurable for the end-user to use and for the developer to contribute and understand/test the code.

[2021-05-14 12:56] mikehardy commented on #8825
@VergilWang15 that would be great! Please, and thank you :-)

[2021-05-14 13:00] mikehardy commented on #8668
I think you already have!

[2021-05-14 16:27] Arthur-Milchior opened #8839 "Null pointer exception if no decks"
Likely unrelated, but in the area - might be better as a separate issue - was against 2.15alpha43 so best to verify that the code hasn't been fixed already once the lines are actually located vs the obfuscated line numbers

[code]

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/8821#issuecomment-840840832_

[2021-05-14 16:28] Arthur-Milchior commented on #8821
Second issue is unrelated to first. New issue created, and this issue is now officially not concerned with the last crash reported by Mike

[2021-05-14 17:46] #8822 closed

[2021-05-14 21:23] mikehardy commented on #8821
Thanks for doing that and sorry for the hassle I was attempting to move fast, but I have a saying (that I should followed!) "fast is slow, and slow is fast" - ended up wasting more time than it saved for sure

[2021-05-14 22:45] #8839 closed

[2021-05-15 07:08] Akshay0701 commented on #8825
Note : this is happening because noteEditor spinner is not showing lastSelectedDeck, now all you have to do is just update lastSelectedDeck In spinner

[2021-05-15 14:54] prateek-singh-3212 commented on #8826
@mikunimaru Yaa, It is reproducable. I would like to take this on.

[2021-05-15 15:28] Kayx23 commented on #6614
still searching for solutions

[2021-05-15 16:17] mikehardy commented on #6614
I think this is a general case of #8150
I think this will "fix" it (work around it, really)

if so, this should be closed as duplicate of #8150

Likely solution is to disable force dark mode? https://developer.android.com/guide/topics/ui/look-and-feel/darktheme#force-dark - but that would need someone to test (perhaps @Abanoub-Asaad - as they have a Xioami handset I believe...)

[2021-05-15 17:03] Abanoub-Asaad commented on #6614
Sure!
I haven't changed anything in the settings
**PS** : I'm using Xiaomi - Android 7.

Regarding: `Cut - Copy - Paste`
<div align="center">
<pre>

<img alt="" width="30%" src="https://user-images.githubusercontent.com/48657780/118372001-7f06fa00-b5af-11eb-91c3-e72d5586ee36.jpeg">   <img alt="" width="30%" src="https://user-images.githubusercontent.com/48657780/118372002-80382700-b5af-11eb-97dc-f

[2021-05-15 23:35] mikehardy opened #8843 "Crash 2.15beta - NumberFormatException on IncrementNumberRangePreference"
stack trace

[code]

logcat was empty

How can it happen? No idea but it can happen - can't call parseInt without catching NumberFormatException and using a sensible default...

[2021-05-16 03:02] Arthur-Milchior opened #8845 "Putting json in JSON File"
I wonder whether there is an easy way to put it into a .json file, that would make this even easier to read. Ideally statically import the file content, otherwise reading it. It's rarely used anyway, so the cost is not really big and it would improve the code clarity.

_Originally posted by @Arthur-Milchior in https://github.com/ankidroid/Anki-Android/pull/8817#r632318057_

[2021-05-16 09:54] szpak opened #8846 "[Bug] No more new reviews the next day after upgrade to 2.15.0beta3"
###### Reproduction Steps

1. Upgrade to 2.15.0beta3 (here from the previous beta - but not 2.15.x - or stable version if no beta was available)
2. Do some daily review
3. Wait until next day

###### Expected Result

I see the new reviews on the following day.

###### Actual Result

There are no new reviews. Only leftovers from the preview day were propagated. It is somehow problematic to continue

[2021-05-16 12:30] makolyte opened #8847 "[Bug]2.15.0beta3 new card creation defaults to the first deck, instead of the one you have selected"
###### Reproduction Steps

Let's say I have two decks, A and B.

1. I select deck B
2. I click +, then click add new note
3. It opens the new card form with deck = A
4. I switch it to deck B and add a card
5. It switches back to deck A, requiring me to switch back to B every time

###### Expected Result
Before this latest update, it would set the deck to whatever you had selected and would stay on

[2021-05-16 14:14] mikehardy commented on #8846
This is *probably* the v2 scheduler new timezone code taking effect. I would *guess* that it is a one-day realignment and should be normal next day, or you might be able to alter things via various settings of when next day starts

possibly related #8652  ?

[2021-05-16 14:16] mikehardy commented on #8847
Great report - thank you for letting us know! We definitely did a lot of work for deck selection dialogs in this release, but we also do not intend to change how the "current selected deck" feature (where it is kind of sticky and should be used as you describe without reverting back to first-in-a-list) works

[2021-05-16 14:18] mikehardy commented on #8847
@Akshay0701 I am going to *guess* (If I am wrong please correct me and help find the right person :pray: ) that this is related to the work you did in this area? Never a bunch of forward-progress without at least one unintended consequence ;-) - if you have any time to take a look it would be great. Thank you!

[2021-05-16 15:02] mikehardy commented on #8473
I keep seeing this and wasting time scanning it. Summary comment on final tasks that may (or may not be) reasonable:

- size-optimized rsdroid build that may perform worse (iffy, not a huge gain and I'd prefer to build 100% same as desktop if possible - blazing a new "needs continuous performance testing" path sounds terrible)
- maybe purge okhttp and rely entirely on rsdroid for sync and platform

[2021-05-16 15:06] szpak commented on #8846
Might be. I have new day start set to 4am and I was - accidentally - reviewing some of the cards several minutes after 4am (something common with the aforementioned report). I will check it the following day.

Btw, I'm in [CEST](https://time.is/CEST) right now (UTC+2).

[2021-05-16 15:34] tuhuynhh opened #8848 "AnkiDroid crashes every time I try to open it"
https://drive.google.com/file/d/1ghilD5m2JuF_IuJErZd9pmKP7xZfj21d/view?usp=drivesdk

[2021-05-16 15:34] Akshay0701 commented on #8847
Your Right Its is my mistake, I am sorry for that,

@makolyte First of all Thank You for a detailed report and its just a visual problem

 I just forget to put one line in note Editor 😅

[2021-05-16 15:46] TarekkMA commented on #8845
Multiline string literals would really come in handy in this situation.

[2021-05-16 16:36] szpak commented on #8846
Two updates.
1. Might be not relevant, but at 4:20am I had the counter of "studied today" reset to zero, but old the old reviews (from the previous day) were shown.
2. When I started a review in one of the decks where I still had of reviews during the day (N+1), but at the later hour (here 6pm) all "expected" reviews turn up when I answered the first review. Therefore, maybe the problem is just wi

[2021-05-16 17:08] javiercl2020 opened #8850 "More info checking media"
In ankidroid when you check media it only shows how many files are not being used.
But not which ones like in Anki Desktop
Anki desktop tells you exactly what file its not being used
![Screenshot_20210516-120212](https://user-images.githubusercontent.com/73913963/118405836-40b91b80-b63f-11eb-951d-5488c1cc0f52.png)

[2021-05-16 17:10] mikehardy commented on #8850
Interesting - that could quite large but I suppose we could put a scrollbox in the dialog? Not great UI but I'm not sure how others solve the "present unbounded set of lines in a dialog" issue otherwise

Do you have AnkiMobile ? I'm curious how they handle it on iOS but I don't have it...

[2021-05-16 17:13] mikehardy commented on #8848
Hi there @tuhuynhh ! I've requested access to that video.

Have you tried simply uninstalling and reinstalling? Frequently that fixes things: https://github.com/ankidroid/Anki-Android/wiki/FAQ#after-installing-the-latest-version-of-ankidroid-it-starts-crashing

[2021-05-16 17:13] javiercl2020 commented on #8850
No
I have Ankidroid Android phone

[2021-05-16 17:15] mikehardy commented on #8846
Interesting - I would bet then, that tomorrow things "look normal" *if* you are not reviewing across the new-day time boundary.

However, there may be something to what you mention: how is the app handling things exactly as the new-day time boundary is crossed? We may have some visual artifacts there that pre-new-day and some that are post - I've never investigated that - I tried to set my new day

[2021-05-16 17:18] #8825 closed

[2021-05-16 17:18] #8847 closed

[2021-05-16 17:19] mikehardy commented on #8847
2.15.0beta4 (or 2.15.0 if we go live with 2.15 with no more betas) will have this. Thanks!

[2021-05-16 17:20] mikehardy commented on #8825
2.15.0beta4 (or 2.15.0 if we go live with 2.15 with no more betas) will have this fixed. Thanks!

[2021-05-16 17:21] yasin459 commented on #8843
i would like to work on this issue :)

[2021-05-16 17:35] mikehardy commented on #8843
@yasin459 Please be my guest! I'm merging things and preparing for a new release 2.15.0beta4 right now, do you think you'll have time now or is this for later today/ this week? Just curious as I would like to get it quickly if possible, but there are plenty of other issues if you meant for later :-)

[2021-05-16 17:44] dorrin-sot commented on #8850
@mikehardy it could be something like this.
![image](https://user-images.githubusercontent.com/59933477/118407049-e300ef80-b68f-11eb-8eed-34ba0005d14a.png)
(Sorry for the bad handwriting😅)

[2021-05-16 17:46] yasin459 commented on #8843
@mikehardy i made a pr for this issue, I think it must be solved now

[2021-05-16 17:52] #8094 closed

[2021-05-16 18:27] szpak commented on #8846
Well, in fact I reviewed at 4am for the first time ever ;-), so there is a chance that that problem was there in the past. However, I have some (very) old parallel build also installed on that phone and I remember, I checked that the "studied today" counter was not reset at that time (although, I haven't done any reviews at 4am). So maybe these "time zone things" might be important here

[2021-05-16 18:42] mikehardy commented on #8820
Both of these are similar to messages we already ignore from other engines, but every engine is new with different messages, this is Conscrypt and we haven't really paid attention to them before I guess. Added them to the list in a PR posting in a moment

[2021-05-16 18:44] mikunimaru opened #8853 "[Bug] In the learning history for each day of the week in the statistics screen, all are counted as learning on Sunday."
###### Reproduction Steps

1. Open "weekly" on the statistics screen
2. All data is aggregated on Sunday

###### Expected Result

Data is aggregated on the correct day of the week.

###### Actual Result

![output](https://user-images.githubusercontent.com/43168745/118408642-6e46a900-b6c1-11eb-9540-dd34816b01d1.gif)

###### Debug info
AnkiDroid Version = 2.16alpha00

Android Version = 10

Manufactu

[2021-05-16 19:32] mikehardy commented on #8853
I just checked and it's true for me even if I do it for all decks / lifetime - definitely an issue :scream:

[2021-05-16 19:35] mikehardy commented on #8826
I think this may need a fix exactly like #8849

[2021-05-16 20:59] dorrin-sot commented on #8853
@mikehardy can I work on this? I think the problem is in the sql query string in `Stats::calculateWeeklyBreakdown`

[2021-05-16 21:02] mikehardy commented on #8853
Sure!

[2021-05-16 21:49] #8843 closed

[2021-05-17 00:19] charlesoblack commented on #8495
Yep, still happening on 2.15 beta.

Also having slowdowns when rendering the card. Sometimes it will freeze after doing a card and rendering the next one. Might be related?

[2021-05-17 00:21] mikehardy commented on #8495
@charlesoblack can you confirm that you went in to settings advanced and enabled hardware rendering? If so, this may be some other problem...

[2021-05-17 00:25] charlesoblack commented on #8495
I must have missed that request, sorry.

My option has "disable card hardware render", and ir's off (by default?). So I am using hardware rendering I guess.

Should I try without it and report back?

[2021-05-17 01:39] mikehardy commented on #8495
Oh I fear I have led you on tangent, apologies. That is a setting primarily aimed at Android 8/8.1 handsets and it should default to off for you on Android 11. If you use software rendering things will only be worse!

Is your collection something that you can share or does it have proprietary information you can't share? The next step for debugging this will be to get your collection (if possible)

[2021-05-17 03:02] mikunimaru opened #8855 "[Bug] Cards in the child deck are displayed as cards in the parent deck."
###### Reproduction Steps

1. Select parent deck
2. Open card browser
3. Tap a card in the child deck

###### Expected Result

The deck to which the correct card belongs is displayed

###### Actual Result

It is always displayed as belonging to the parent deck

###### Debug info
AnkiDroid Version = 2.16alpha00

Android Version = 10

Manufacturer = asus

Model = ASUS_I01WD

Hardware = qcom

Webview

[2021-05-17 04:15] mikunimaru opened #8856 "It doesn't keep the deck selection when adding notes via context."
###### Reproduction Steps

1. Add notes from another app via context
2. I have selected the deck where I want to save this note.
3. Add notes from another app again via context

###### Expected Result

The target deck selected earlier is retained

###### Actual Result

The deck selection will be reset so I will have to reselect every time

###### Debug info
AnkiDroid Version = 2.16alpha00

Android

[2021-05-17 04:47] #8126 closed

[2021-05-17 07:05] mikunimaru opened #8857 "[Bug] Advanced Statistics does not calculating new cards correctly"
###### Reproduction Steps

1. Create a deck
2. Change deck options
3. Open Advanced Statistics

###### Expected Result

Prediction based on changed deck options

###### Actual Result

I feel that the option change is not taken into consideration.
Below is the stats for decks that have never learned cards.

![Screenshot_20210517-153337297 (2)](https://user-images.githubusercontent.com/43168745/1184

[2021-05-17 08:27] dorrin-sot commented on #8853
@mikehardy can I ask how I can view and run queries on  the revlog database? I can't find it in the database inspector of android studio

[2021-05-17 09:06] david-allison-1 commented on #8853
It's under the `AnkiDroid/collection.anki2` file. I'll typically use JetBrains DataGrip to open, browse and query it. It's a SQLite file

[2021-05-17 09:40] david-allison-1 commented on #8627
I can repro a similar issue. I'll investigate, maybe tonight or tomorrow

I'll move this to 2.15 as I'm fairly sure it's a regression, but happy to see it moved back to 2.16

[2021-05-17 11:15] dorrin-sot commented on #8853
@david-allison-1 thanks

[2021-05-17 11:53] mikunimaru opened #8860 "[Bug] When I change the type on the note creation screen, it seems that the target of the deck is also changed arbitrarily, but it is not actually changed."
###### Reproduction Steps

1. Open the note creation screen
2. Select another deck
3. Select another type

###### Expected Result

Only the type changes

###### Actual Result

The deck selection will be restored.
What's more, the display has just returned, but the deck selection has not been restored internally.

###### Debug info
AnkiDroid Version = 2.16alpha00

Android Version = 10

Manufacturer

[2021-05-17 16:12] mikehardy commented on #8860
@Akshay0701 I hate to tag you in on a bunch of issues but @mikunimaru has been doing some great in-depth testing on the deck selection / display parts of the app and it appears there are a few issues with regard to what deck is in use internally and what deck is showing now - can you take a look? With apologies I'm going to just paste this same comment in the ones I think are similar :sweat_smile:

[2021-05-17 16:13] mikehardy commented on #8857
@Akshay0701 I hate to tag you in on a bunch of issues but @mikunimaru has been doing some great in-depth testing on the deck selection / display parts of the app and it appears there are a few issues with regard to what deck is in use internally and what deck is showing now - can you take a look? With apologies I'm going to just paste this same comment in the ones I think are similar :sweat_smile:

[2021-05-17 16:14] mikehardy commented on #8856
@Akshay0701 I hate to tag you in on a bunch of issues but @mikunimaru has been doing some great in-depth testing on the deck selection / display parts of the app and it appears there are a few issues with regard to what deck is in use internally and what deck is showing now - can you take a look? With apologies I'm going to just paste this same comment in the ones I think are similar :sweat_smile:

[2021-05-17 16:14] mikehardy commented on #8855
@Akshay0701 I hate to tag you in on a bunch of issues but @mikunimaru has been doing some great in-depth testing on the deck selection / display parts of the app and it appears there are a few issues with regard to what deck is in use internally and what deck is showing now - can you take a look? With apologies I'm going to just paste this same comment in the ones I think are similar :sweat_smile:

[2021-05-17 16:15] mikehardy commented on #8826
@prateek-singh-3212 you might want to coordinate with @Akshay0701 as I think this is in a batch of similar issues - @Akshay0701 I hate to tag you in on a bunch of issues but @mikunimaru has been doing some great in-depth testing on the deck selection / display parts of the app and it appears there are a few issues with regard to what deck is in use internally and what deck is showing now - can you

[2021-05-18 00:44] tuhuynhh commented on #8848
@mikehardy yeah I tried reinstalling a few times, and it still didn't work.

[2021-05-18 02:07] Arthur-Milchior commented on #8244
Any news on it @IAmJaishree ?

[2021-05-18 04:49] MarkusJLechner commented on #8140
I just wanted to open a similar issue about the TTS.
However I do not think its good UX wise to apply the language to all decks, as they may need a different language or none. It would be better to All In, OPT IN or OPT out.

Problem:
Activating Text to Speech under Advanced settings forces every deck to use TTS but also forces them to select a language after opening a deck. I have 8 decks and 8 s

[2021-05-18 09:05] Akshay0701 commented on #8860
I see there are many visual problems in deck selection and note editor, thanks to @mikunimaru,
I am off for a month, I will be more thank full if @mikunimaru or any other contributors could take this issue and work on it, if there any doubt then feel free to ask me.

[2021-05-18 18:56] itsamemarkus opened #8864 "Feature request: Official notion support for Anki"
**Is your feature request related to a problem? Please describe.**
A lot of people use [Notion](https://www.notion.so/) to create, restructure and organize Anki cards. ([google query - videos etc.](https://www.google.com/search?q=notion+anki)) In my experience notions database feature is really good for structuring knowledge with tags and conditional views.

**Describe the solution you'd like**
Re

[2021-05-19 01:22] Crewe commented on #5029
I have tried to reproduce the error, but I don't see it. It is also a fresh of Android 9 on a Pixel 4.
Searched verbose log for 'export', and it says it was successful.
[code]
![image](https://user-images.githubusercontent.com/140502/118742725-f7272700-b81e-11eb-890b-5adbbafdfee5.png)

[2021-05-19 02:19] lazy-codebear opened #8865 "[Bug] When change the language, the main page not change the language."
###### Reproduction Steps

1. open a card
2. change the language of the app, for example change from English to Chinese
3. go back to main page

###### Expected Result
The language of the main page is Chinese.

###### Actual Result
The language of the main page is still English. After refresh the windows, the language is right.

Change the language
![1](https://user-images.githubusercontent.com/71

[2021-05-19 02:20] lazy-codebear commented on #8865
I will try to solve the issue.

[2021-05-19 11:33] PANG-hans opened #8869 "[Feature] Add ability to sort by sub-deck in card browser"
**Is your feature request related to a problem? Please describe.**
can not show cards in default sub-decks.

**Describe the solution you'd like**
Add new display order

**Describe alternatives you've considered**
add a default sector in card select if have card

**Additional context**
<img height="400" src = "https://user-images.githubusercontent.com/49405752/118805671-c73c5a00-b8d8-11eb-8fe6-a91e

[2021-05-19 11:33] PANG-hans commented on #8691
I tested it on `2.15alpha45`.
Found the reason:
some cards is stored in default sub-deck, it is not included in any named sub-decks.
But the card broswer in AnkiAndroid can just show all cards when select parent-deck, can not show cards in defalut sub-decks.
The Anki Desktop can not just show cards in defalut sub-decks, but it can change display order to put these cards on top, what is **not** sup

[2021-05-19 16:35] Abanoub-Asaad opened #8871 "[Bug] Audible cards are shown as free space in Card browser"
When I open the Card browser, the audible cards are shown as free space.

Why isn't there anything else to refer that there's an audible card here instead of free space?
Also to make a visual difference between if the card is already **empty** or **audible**.

 <img alt="" height="500" src="https://user-images.githubusercontent.com/48657780/118848372-fc43af00-b8ce-11eb-9b96-6784691c50d6.jpeg">

[2021-05-19 17:16] Akshay0701 commented on #8855
Sorry, correct me if I am wrong but @mikehardy I don't think it is related to my Spinner work.

[2021-05-19 17:25] Akshay0701 commented on #8856
If I understood your issue then your saying, note-Editor should display lastSelectedDeckId, Am I Right?

In the below video, I tried to create a card via context and it displaying the lastSelectedDeck as expected.
I don't face any issue in this

<img src="https://user-images.githubusercontent.com/52353967/118856389-84887b00-b8f4-11eb-926b-0e9b06ced6b1.gif" width="250" height="500" />

[2021-05-19 17:29] Akshay0701 commented on #8857
@mikunimaru you faced this issue because of the visual problem of statistics after setting lastSelectedDeckId.
it's sorted in #8872

[2021-05-19 17:35] Akshay0701 commented on #8826
@prateek-singh-3212 I really appreciate your willingness to coordinate with me,

[2021-05-19 19:04] dorrin-sot opened #8874 "[Bug] Changing theme in card browser after selecting different deck switches the deck back"
###### Reproduction Steps
1. Go to card browser
2. Change Deck
3. Change Theme

###### Expected Result
After theme is changed deck should be the last one selected

###### Actual Result
Selected deck goes back to initial selected deck (The one card browser opened up on first)

###### Debug infoAnkiDroid Version = 2.16alpha00

Android Version = 9

Manufacturer = Google

Model = AOSP on IA Emulator

[2021-05-19 19:35] mikunimaru commented on #8826
As far as I confirmed, it seems that # 8826 was solved by the @Akshay0701 pull request.

[2021-05-19 19:44] mikunimaru opened #8875 "[Bug] When I changed the time of the date change, the past statistical data got out of order."
###### Reproduction Steps

1. View Statistics Review Cownt
2. Move the date change time.
3. Restart the app.
4. Check the review count on the statistics screen again.

###### Expected Result

Displaying consistent statistical data.

###### Actual Result

Since the date change time goes back to the past, the past data will be distorted.
(Two days' worth of statistical data is displayed on some days

[2021-05-19 20:02] LoganConnor44 opened #8876 "[Bug] Creation And Rebuilding A Filtered Deck Returns Unexpected Results"
###### Reproduction Steps

1. Have a standard deck and mark/answer a few cards with Again `1` and Hard `2`
    * This may be done on any client
2.  On Anki Desktop, open the Browse tab and create a search string to pull in cards that have been marked/answered again or hard from a specific deck.
    * e.g. `"deck:HSK Vocabulary" AND "rated:7:1" OR "deck:HSK Vocabulary" AND "rated:7:2"`
3.  On Anki

[2021-05-19 20:05] mikunimaru commented on #8856
@Akshay0701

After that, if you save the note in bbbb and reopen the context, aaaaaaaa will be the initial position for deck selection again.

I didn't add the [bug] tag to the title because I wasn't sure if this was the intended behavior.
Personally, I think that there are many cases where notes are added to the same deck repeatedly, so I think it is better to keep the deck selected when adding n

[2021-05-19 20:12] mikunimaru commented on #8875
It seems that the same bug existed on the anki desktop side, so I will move the reporting location to the anki desktop side.

[2021-05-19 20:13] mikehardy commented on #8864
I believe this is exactly why we have an API? It should be easy to make a small app that sits between Notion and Anki, using the API of each https://github.com/ankidroid/Anki-Android/wiki/AnkiDroid-API

[2021-05-19 20:14] mikehardy commented on #8855
I think you're right on this one. I'm not sure it is a regression either, it would be interesting to see how far back it goes in the releases by checking 2.14 stable and if it works there seeing where in 2.15 it broke

[2021-05-19 20:19] mikehardy commented on #8865
I'm not sure this is 100% fixable on all versions of Android. You did not include the version of your handset? That is usually the key to whether it works or not without an app restart

There was a *lot* of work in the area to get it right - see:

[2021-05-19 20:20] #8875 closed

[2021-05-19 20:41] mikunimaru commented on #8860
@Akshay0701
Thanks for the pull request.

I built it and confirmed it.
It looks like this issue has been resolved.

[2021-05-19 20:43] #8860 closed

[2021-05-19 21:00] mikunimaru commented on #8857
This issue continues even after applying the pull request above.

Here are the steps to reproduce the bug a little easier.

1. View statistics
2. Switch to the option of 0 new learning schedules
3. View statistics again

Changes in deck options are not reflected in the stats forecast.

[2021-05-19 21:13] LoganConnor44 commented on #8876
Will do.

[2021-05-19 21:44] #8826 closed

[2021-05-19 21:45] #8780 closed

[2021-05-19 21:48] #8853 closed

[2021-05-19 21:48] mikehardy opened #8877 "investigate why rust conversion required a stats sql change"
going to go ahead and merge, investigation of why rust conversion required a stats sql change is a separate item

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/8859#issuecomment-844497711_

[2021-05-19 22:55] LoganConnor44 commented on #8876
Unfortunately, even with beta the issue is still present.

#Debug Info

AnkiDroid Version = 2.15.0beta4
Android Version = 11
Manufacturer = OnePlus
Model = GM1917
Hardware = qcom
Webview User Agent = Mozilla/5.0 (Linux; Android 11; GM1917 Build/RKQ1.201022.002; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/90.0.4430.210 Mobile Safari/537.36
ACRA UUID = 949f27f6-ed60-4634-a358-3a5ca

[2021-05-19 23:24] mikehardy commented on #8876
Thank you very much checking! Hopefully the beta is at least nicer in other ways ;-). Tagging it up for a look

[2021-05-19 23:24] mikehardy commented on #8876
Noting this was also present on 2.14 so this is not a blocker for 2.15 release as it is not a regression although of course we love fixing bugs anytime

[2021-05-19 23:55] mikehardy opened #8879 "Crash 2.15beta4 - NullPointerException CardBrowser.onSelectionChanged"
I have no information about how this could have happened other than the crash report here

[code]

[2021-05-19 23:57] mikehardy opened #8880 "2.15beta4 crash on image paste"
Submitter entered crash comment "can't paste image into note"

[code]

[2021-05-19 23:58] mikehardy commented on #8880
Another image paste issue, unique stack:

[code]

[2021-05-19 23:59] mikehardy commented on #8820
Fresh one

[code]

[2021-05-20 00:00] mikehardy opened #8881 "2.15beta4 crash on file selection - illegal characters"
origin was media selection user flow

[code]

[2021-05-20 00:03] mikehardy opened #8882 "2.15.0beta4 crash on card browser open"
[code]

[code]

[code]

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/6fa78a3a-01c3-4447-bfbb-602921b4076f

[2021-05-20 00:05] mikehardy opened #8883 "2.15.0beta4 crash on custom sync server URL bad hostname"
Looks like this just wasn't bubbled up to the user? it crashed?

[code]

[2021-05-20 00:06] mikehardy opened #8884 "2.15.0beta4 crash updating screen counts?"
[code]

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/a9654f35-1d8b-4178-ab96-93da193ecbf4

[code]

[2021-05-20 00:09] mikehardy commented on #8821
[code]

[code]

[2021-05-20 00:09] mikehardy commented on #8821
Great error message on that one! I was able to connect back to this issue immediately

[2021-05-20 00:12] mikehardy opened #8885 "2.15.0beta4 ClassCastException crash"
[code]

[code]

[2021-05-20 00:13] mikehardy opened #8886 "2.15.0beta4 - crash getting Decks.current().optLong("id") on freshly installed app / fresh collection"
[code]

[code]
[code]

[2021-05-20 01:13] Abanoub-Asaad commented on #8882
Could you please add more details?

[2021-05-20 01:15] lazy-codebear commented on #8865
@mikehardy
Device: HONOR 20
Android version: 10

The work your mentioned is about the system language and app language. If not choose the system language in the app, changing the language when getting in a card. Then close the card, the language do not change. I think it is a bug.

[2021-05-20 02:20] mikehardy commented on #8882
Nope, that is the zen art of fixing crash bugs. Some people do crossword puzzles, some do sudoku, here... Crash traces 😁

[2021-05-20 02:41] PANG-hans commented on #8691
only this exist, another has same performance.

[2021-05-20 02:41] Abanoub-Asaad commented on #8882
Ok😅
I was just asking because I don't know if this crash happens each time the user opens the Card browser or only happens in some corner cases.

[2021-05-20 03:28] mikehardy commented on #8865
@lazy-codebear I'm not sure I understand what the bug is with exact steps to reproduce, can you list it out as numbered steps with the names of the screens you mention, or grab a little video of a reproduction, please? You could certainly be right but there was so much work in the area, I want to see if I can reproduce it exactly as you specify and then how it relates to the previous work

[2021-05-20 03:30] mikehardy commented on #8882
All unknown unfortunately. It could be every time in a corner case. It could be rarely and dependent only on unexpected data, or corrupt data. It could be a timing issue. All you have is the stack trace, sometimes the logcat trace, a general knowledge of the system and then you just have to think of all the assumptions in the code near the crash and all the ways the assumptions could be violated :

[2021-05-20 03:36] lazy-codebear commented on #8865
@mikehardy
It is like this:
https://user-images.githubusercontent.com/71474135/118915334-5d1ac800-b95f-11eb-9e61-09443af88543.mp4

When go back the main page, the language is still English. After open the setting again, the language become right.

[2021-05-20 03:59] vinishhub commented on #8883
I would like to work on it can you ellaborate more

[2021-05-20 08:09] prateek-singh-3212 commented on #8881
I would like to work on this issue

[2021-05-20 08:49] Abanoub-Asaad commented on #8882
I'm going to give it a try
This sounds exciting!

[2021-05-20 12:20] mikehardy commented on #8299
Onboarding was one of our two accepted Google summer of code projects so this is in process already. Many thanks for the offer though! Hopefully there is something else in the list that looks interesting

[2021-05-20 12:30] mikehardy commented on #8881
Please feel free! Thank you

[2021-05-20 12:40] mikehardy commented on #8883
Nope. With crash traces you get what you see. Be creative with the information provided and try to reproduce

[2021-05-20 13:22] TarekkMA commented on #8885
I think I found the issue. The `Syncer#sync` method should return `Pair<ConnectionResultType, Object>`

https://github.com/ankidroid/Anki-Android/blob/60476b8331c63f42050d0142342b5c410aaeb11d/AnkiDroid/src/main/java/com/ichi2/libanki/sync/Syncer.java#L182-L186

Here the `new Object[] {diff}` is wrapped yet again in another `Object[]`, `data.result = new Object[]{ret.second};`

https://github.com/a

[2021-05-20 13:24] TarekkMA commented on #8885
Adding the following snipped will give the crash reporting more context. The `onPostExecute` method is huge, and it will be nice to pinpoint which section will run.
[code]

[2021-05-20 13:39] prateek-singh-3212 commented on #8880
I would like to work on this issue.

[2021-05-20 13:51] mikehardy commented on #8880
Please be my guest ❤️

[2021-05-20 14:21] mikunimaru opened #8889 "[Bug] Deck option "graduation interval" does not sync to anki desktop."
###### Reproduction Steps

1. Change the "graduation interval" in deck options
2. Sync
3. Open anki desktop

###### Expected Result

The change in the graduation interval will be reflected in the anki desktop.

###### Actual Result

The change of "graduation interval" is not reflected on the anki desktop side.

Moreover, since there is no problem in changing from the anki desktop side to the ankir

[2021-05-20 15:04] mikunimaru commented on #8889
Paste screenshot

![Screenshot_20210520-235308641_1](https://user-images.githubusercontent.com/43168745/119002516-e960d580-b9c7-11eb-98bb-e8ade16d0f26.jpg)
![Screenshot_20210520-235314311_1](https://user-images.githubusercontent.com/43168745/119002530-eb2a9900-b9c7-11eb-8900-b03ac8756fc8.jpg)
![Screenshot at 2021-05-20 23-54-31](https://user-images.githubusercontent.com/43168745/119002573-f382d400

[2021-05-20 15:09] LoganConnor44 commented on #8876
For anyone that may view this issue, [this method](https://github.com/ankidroid/Anki-Android/blob/60476b8331c63f42050d0142342b5c410aaeb11d/AnkiDroid/src/main/java/com/ichi2/libanki/Finder.java#L96) looks suspicious to me.

[2021-05-20 15:22] Abanoub-Asaad opened #8890 "[Bug] Crash in TAGs"
A lot of functionalities related to TAGs crash.

https://user-images.githubusercontent.com/48657780/119005505-c9adbb00-b98f-11eb-9a78-6e41744bac54.mp4

[2021-05-20 15:41] Abanoub-Asaad commented on #8890
![Screenshot from 2021-05-20 17-39-57](https://user-images.githubusercontent.com/48657780/119008601-9c164100-b992-11eb-939c-8fa2c20bb45e.png)

[2021-05-20 15:57] TarekkMA commented on #8890
What is the Android version you are using version?

[2021-05-20 16:03] Abanoub-Asaad commented on #8890
7

[2021-05-20 16:04] Abanoub-Asaad commented on #8890
But I have another has Android 10, but I haven't this crash on it
I will try.

[2021-05-20 16:12] TarekkMA commented on #8890
Make sure you fetch latest master.

[2021-05-20 16:16] prateek-singh-3212 commented on #8880
at com.ichi2.utils.ContentResolverUtil.getFileName(ContentResolverUtil.java:4)
at com.ichi2.anki.NoteEditor.loadImageIntoCollection(NoteEditor.java:1)
at com.ichi2.anki.NoteEditor.onImagePaste(NoteEditor.java:2)
at com.ichi2.anki.NoteEditor.c(Unknown Source:0)
at com.ichi2.anki.k5.onImagePaste(Unknown Source:2)
at com.ichi2.anki.FieldEditText.onImagePaste(FieldEditText.java:1)
at com.ichi2.anki.Fi

[2021-05-20 16:32] Abanoub-Asaad commented on #8890
Yes
Does this crash happen with you?

[2021-05-20 16:47] ShridharGoel commented on #8886
I'll check and fix this.

[2021-05-20 16:56] TarekkMA commented on #8890
I'm think you don't have the latest version

do the following in the command line
[code]

The staktrace indicates that a call to `Collections.sort` is happening but I fixed it in #8808

[2021-05-20 16:58] TarekkMA commented on #8890
Also there are a tests to make sure that `Collections.sort` is never called

https://github.com/ankidroid/Anki-Android/blob/60476b8331c63f42050d0142342b5c410aaeb11d/AnkiDroid/src/test/java/com/ichi2/anki/dialogs/tags/TagsListTest.java#L254-L265

https://github.com/ankidroid/Anki-Android/blob/60476b8331c63f42050d0142342b5c410aaeb11d/AnkiDroid/src/test/java/com/ichi2/utils/UniqueArrayListTest.java#L

[2021-05-20 17:10] Abanoub-Asaad commented on #8890
I can't make `checkout master` because I'm working on another branch that I've made
But I'll try again, thank you.

[2021-05-20 17:15] TarekkMA commented on #8890
No problems, when you do please let me know if that issue still exists

[2021-05-20 17:18] jpggithub opened #8892 "Add option to pause a deck (+show/hide paused decks)"
**Is your feature request related to a problem? Please describe.**

When you have many decks, it could be too much to work on.
Sometimes, you prefer to work on some specific decks and don't have time to work on the others during a certain period of time.
If you have many decks, it is quite annoying to look at all our decks when you want to work only on some of them.

In #3303 it is suggested to ju

[2021-05-20 17:20] Abanoub-Asaad commented on #8890
Just downloaded the latest version from Google Play "V 2.15.0beta5" and It worked well and there are no issues
Thank you, Tarek. I will close this issue.

[2021-05-20 17:22] #8890 closed

[2021-05-20 17:44] mikehardy commented on #8892
Hi there! This is an area where we will only do what "upstream" (Anki Desktop) does, so it is better suited for there: forums.ankiweb.net/

I think another possible option is to make a folder called "suspended" and put them in there? Specifically what I mean is that I think you're looking for visually cleaner deck list so it's less guilt/anxiety-inducing, and this should help as the total counts n

[2021-05-20 17:44] #8892 closed

[2021-05-20 17:48] shocklateboy92 opened #8893 "Setting custom note fields using intent API"
**Is your feature request related to a problem? Please describe.**
I'm currently trying to add AnkiDroid integration to a progressive web app that I use on phone daily. Unfortunately, (to the best of my knowledge) it's not possible to use the AnkiDroid instant add API from within a browser. However, it is possible to [send intents](https://developer.chrome.com/docs/multidevice/android/intents/) fr

[2021-05-20 18:49] #8163 closed

[2021-05-20 19:08] jpggithub commented on #8892
Yes, good idea, a "suspended" folder could also be fine.
Is it already possible with the actual Ankidroid? I have never seen this option.

[2021-05-20 21:43] charlesoblack commented on #8495
It does have a few birthdays that I'm not comfortable sharing. It happens with some premade decks, though, for instance [this one](https://ankiweb.net/shared/info/685421036).

I can also send my (zipped) collection to you via email, but I would kindly ask that you do not misuse the information of course. Do you think this is necessary given that the issue occurs with a premade deck? (Is there mayb

[2021-05-20 23:15] shocklateboy92 commented on #8893
Uh... the reason I'm doing my project as a PWA is because Android and I don't get along 😏. I'll see what I can do.

For getting around the size limitation, would you be okay with having AnkiDroid fetch the image if one of the field names end with `_img_url` and has a URL?

[2021-05-21 01:01] mikehardy commented on #8893
Mmm. Adding "media internalization" would greatly increase the size and fragility (network requests...terrible) of the feature. I'd rather not. For that I think you should just use the image via actual external link as if it was card data, then if you wanted your decks to work offline, periodically use Anki Desktop to run the "Media Internalizer" add-on on your collection.

Stated more simply: sta