[2021-06-09 11:43] david-allison-1 commented on #9090
Hi, our translations are handled on CrowdIn, you should be able to fix them yourself: https://crowdin.com/project/ankidroid/zh-CN#

[2021-06-09 13:47] eiluudio commented on #9087
I'm...speechless. Yes! God, I've been wanting to do that for years.

However I will simply say this seems to come from the PC Anki school of design, where highly customisable infinite phrasings can help create the flow you want--whereas on mobile, as an ignorant and non-PC acquainted user, it never occurred to me (perhaps I didn't check!) that I could do such things. While I'm all for manual custo

[2021-06-09 13:53] david-allison-1 commented on #9087
I added "Create Subdeck" to the long press menu for a deck a while back

Could this be better named?

[2021-06-09 14:51] vinishhub commented on #8970
i have compared the layout with 2.14 there also the `more option` button is of same width i.e 40 dp

[2021-06-09 17:06] anadi commented on #5423
Yes, it will. Thanks

[2021-06-09 18:35] vintotal commented on #9090
Thank you 謝謝 merci!

[2021-06-09 18:35] #9090 closed

[2021-06-09 22:18] david-allison-1 commented on #9090
不客气

[2021-06-09 23:48] david-allison-1 commented on #9075
@mikehardy For the analytics, do you have advice on how best to set the reporting percentage to 100% for the hit?

The most sensible way given the API would be another `GoogleAnalytics` instance with the percentage set to 100, so we don't need to reinitialize, or risk the static variable being used by other consumers.

There might be something here that I'm missing though

[2021-06-10 06:46] #8461 closed

[2021-06-10 11:32] eiluudio commented on #9087
Interesting--that mechanism would make sense, except here I wasn't trying to make subdecks but 'master decks', if that makes sense--so an option to create one above the current level that contains the long-pressed item would be good, rather than another sub-level that I have to then move around.

Unless what it means by 'create subdeck' is _turn this deck into a subdeck of a larger deck_, in which

[2021-06-10 12:49] david-allison-1 opened #9093 "[Bug] Kotlin - Can't commit - error message not useful"
Related: #9019

Neither of the error messages in the IDE indicate the problem, there's lots of noise which can likely be reduced, possibly just with a simple `gradlew ktLintFormat failed` in the header

[code]

![image](https://user-images.githubusercontent.com/62114487/121529595-752cb700-c9f4-11eb-80ab-c13d70ce6fd3.png)

[code]

[2021-06-10 12:55] david-allison-1 commented on #9093
`C:\GitHub\Anki-Android-Git\Anki-Android\AnkiDroid\build\reports\ktlint\ktlintTestSourceSetFormat\ktlintTestSourceSetFormat.txt`

[code]

Which is fixable, but the main issue is that the error message is illegible inside the IDE due to the length

[2021-06-10 13:09] david-allison-1 commented on #9093
`ktLint` ran, didn't fix `import org.hamcrest.CoreMatchers.*` and then errored out due to lint errors

[2021-06-10 13:11] ShridharGoel commented on #9093
Wildcard imports cannot be fixed automatically. This PR contains a commit to disable Ktlint's no wildcard imports check: https://github.com/ankidroid/Anki-Android/pull/8962

[2021-06-10 13:13] david-allison-1 commented on #9093
The issue refers more to the DX, the error messages in the OP aren't useful to quickly diagnose the problem

[2021-06-10 13:18] ShridharGoel commented on #9093
Can you try running `./gradlew ktlintFormat` manually?  The error there should mention that wildcard imports cannot be fixed automatically. If that's the case, then we can check why it's not showing that when being run via the script.

[2021-06-10 13:20] ShridharGoel commented on #9093
The error shown in Android Studio mentions the issue regarding the wildcard import. So, is it wanted that only the concerned error should be shown without the extra information before that?

[2021-06-10 13:23] david-allison-1 commented on #9093
Both errors are truncated before the error about the wildcard is shown. This detail is only available via the commandline

[2021-06-10 17:25] JavaZauber commented on #8811
Yeah this ticket is stale...
I'll try to find the time to compile & debug the app.

[2021-06-11 00:39] david-allison opened #9097 "Expand crash report to note disk free/total reporting"
- I would send an exception report as we do now even if we are not fully crashing (because of the dialog) and I would expand our crash report to note disk free/total reporting (example code here if we don't already have some around somewhere https://github.com/react-native-device-info/react-native-device-info/blob/7a87ea18dbe4076f063e08b74dbd42bb2a9c3dac/android/src/main/java/com/learnium/RNDevice

[2021-06-11 09:06] brainexcerpts opened #9098 "Feature Request: Support for external (in /collection.media) javascript files"
I was trying to get automatic syntax highlighting in Ankidroid using an offline version of https://highlightjs.org saved in my /collection.media folder on my desktop app. This trick works for the Desktop version but seems to not be allowed on Ankidroid:
https://www.reddit.com/r/Anki/comments/e005jx/load_js_functions_in_external_file/

Some kind of support for Javascript files could be very powerfu

[2021-06-11 10:30] dotancohen commented on #8259
Now that the version with proper RTL support has been rolled out to my entire family, we're all in agreement that the Again/Hard/Good/Easy button order should not have been reversed.

I don't know about other RTL locales, but for Hebrew (Israel) muscle memory functionality is never reversed. So e.g. scrollbars are reversed (not critical muscle memory) but e.g. the OK/Cancel buttons on OS dialogue

[2021-06-11 10:41] dae commented on #8259
If you're used to the old order I imagine adjusting will be a pain, but wouldn't RTL order be more logical for people new to the program? The computer version also shows the answer buttons from right to left in Hebrew FWIW.

[2021-06-11 10:42] david-allison-1 commented on #8259
My comment from reddit:

https://www.reddit.com/r/Anki/comments/nkct2f/ankidroid_2150_changelog/gzorpvs/?utm_source=reddit&utm_medium=web2x&context=3

[2021-06-11 11:26] dotancohen commented on #8259
This is a further argument for not switching the directionality of critical UI components. My desktop is LTR, my phone is RTL. This is extraordinarily common here. If you would like, I could survey some neighbours to see how their desktops and phones are configured.

It would be an interesting question why desktops are typically LTR here but phones are RTL. My _guess_ would be that people just lea

[2021-06-11 14:34] terrywallwork opened #9100 "Negative card count values displayed."
Negative card count displayed for green counter number. See screenshot.

Also included is deck causing the issue.
[TerryWallwork_JLPT_Words_Grammar-20210611153043.zip](https://github.com/ankidroid/Anki-Android/files/6639147/TerryWallwork_JLPT_Words_Grammar-20210611153043.zip)

Latest version I cant check as wont run but reporting anyway in case was carried to 2.15.x

AnkiDroid Version = 2.14.6

An

[2021-06-11 15:53] #9093 closed

[2021-06-11 15:56] mikehardy commented on #9088
Hi there! This can be added, but someone will need to pick up #5057 which I started, and finish it. It's not a priority for me at the moment, sorry.

[2021-06-11 16:13] mikehardy commented on #9100
Hi there!

Can you verify this still happens in 2.15.4 (current stable?) You assert it won't run, that's not credible, we have more than a million users on it? If it won't run, that's a separate much more important issue we must solve first

[2021-06-11 19:38] terrywallwork commented on #9100
Im not able to consistently reproduce, as it has never happened before.  I cant test in 2.15.4 as when I hold down on a deck and select custom study, and select Modify today's New Card Limit and add  card or Modify Review Limit and add, the app closes with no error report screen displayed, even though I have always report selected. Also when cards are displayed it is display very slowly compared t

[2021-06-11 19:53] david-allison-1 commented on #9100
@terrywallwork Works for me. Could you add a separate issue for this? We weren't aware and we'll get it sorted.

If you're fine with sharing your data publicly, could you zip up the file: `AnkiDroid/collection.anki2` and post it along with the "Bug" template

If you want to keep your data private, publish the issue and we'll go from there.

[2021-06-11 20:38] #8420 closed

[2021-06-12 06:23] terrywallwork commented on #9100
Im not sure what bug template is but here is the requested file.

[collection.anki2.zip](https://github.com/ankidroid/Anki-Android/files/6641764/collection.anki2.zip)

[2021-06-12 13:42] #8488 closed

[2021-06-12 16:13] elias6 commented on #8920
FYI I'm using version 2.15.4 now, and I the chart looks a little different now:

![image](https://user-images.githubusercontent.com/510781/121782464-6235f600-cb5e-11eb-9330-6fd91ceff35b.png)

[2021-06-12 16:26] osavoskin opened #9101 "[Bug] Scheduler is too slow"
###### Reproduction Steps

Sometimes it takes up to a few seconds to get you to the next card. The DB is not that large and optimized. It started after the latest update.

###### Expected Result
Scheduling should be almost immediate

###### Actual Result
Takes a few seconds

###### Debug info
AnkiDroid Version = 2.15.4

Android Version = 11

Manufacturer = samsung

Model = SM-G973F

Hardware = exy

[2021-06-12 17:08] mikehardy commented on #9100
@terrywallwork the bug template is essentially asking for a paste of the debug info from the advanced settings screen in ankidroid - it gives us versions of everything and that usually helps us pin down an issue: https://docs.ankidroid.org/help.html#_support

[2021-06-12 17:11] mikehardy commented on #9101
This looks like the exact sort of thing @Arthur-Milchior might be interested in ;-)
@osavoskin are able to share your collection? Timing issues like this are data-dependent, and we likely won't be able to conclusively figure out the problem unless we are working on the same collection that shows the problem.
If you can, just zip collection.anki2 from /sdcard/AnkiDroid and attach it here (github wi

[2021-06-12 17:58] osavoskin commented on #9101
Thank you for such a quick reply! [The database you asked](https://drive.google.com/file/d/1uwEovH6D3kacMO9fAp5qa1Fbe3DpmuAq/view?usp=drivesdk)

[2021-06-12 20:16] Arthur-Milchior commented on #9101
You didn't provide access to it.
When you mention moving to the next card, do you mean on each review? Only after some special operation such as undo/bury/suspend? on first card only?

[2021-06-12 21:15] terrywallwork commented on #9100
AnkiDroid Version = 2.14.6

Android Version = 8.0.0

ACRA UUID = 2153dce3-3fb1-466e-802c-7fd658117dc0

Scheduler = std

Crash Reports Enabled = true

[2021-06-12 21:59] osavoskin commented on #9101
Fixed the access. Yes, it happened multiple times during regular review. Unfortunately I didn't notice any patterns that might precede the freeze. In terms of installed software the phone is clean, almost nothing extra. It definitely cannot be related to insufficient computing resources

[2021-06-13 00:05] makkaroni470 opened #9102 "Feature request: Make reviewing cards a default action/ auto review"
When learning we should make use of the laziness of humans. Usually we like to be passive, this tactic is deployed against us by tech companies e.g. by auto loading new videos in YouTube or Facebook. We should use this effect for our better. When reviewing cards it should take as little action as possible.

Currently in AnkiDroid there is the option to automatically reveal and rate the cards "agai

[2021-06-13 01:01] Arthur-Milchior commented on #9101
For futur bug, I'd appreciate you export from anki tool instead of just copying the .anki2 file, because I could not easily import it back. I've dealt with it, don't worry, just for a next time

When you say "slow" how long do you mean? one second? 10?

[2021-06-13 01:50] Arthur-Milchior commented on #9101
I just put your collection on my device. A SM-202F. I saw nothing unexpected.
Admittedly, it is not instantaneous and that is a shame, but there is nothing new here. I used the profiler and so nothing in the stack that was not there in .14, apart from the call to rust database. But the whole `getCard` function returns in .08 seconds, with the profiler turned on. Even the optimization I've been arg

[2021-06-13 05:33] osavoskin commented on #9101
[This is the exported collection.](https://drive.google.com/file/d/1v8cpLnGmzVaucte_82XnxBY1tLnbjHV5/view?usp=drivesdk)

Exported from the mobile app. Please,  see the debug info for env. details.

The freezes were max 2sec. long. I realize it is not that critical, but it never happened before. I would say I have never seen a freeze on this phone, that's why I filled the bug.

I will reinstall the

[2021-06-13 06:24] Arthur-Milchior commented on #9101
Even if not critical, I understand very well it might be a pain. I spent I don't know how many hours trying to save every second possible, it should really not take 2 seconds for such a simple operation.

But even if I agree with you, if I can't reproduce, I don't know what I can do about it. You have a very simple collection, so it is not even the complex case I have dealt with in the past.

For

[2021-06-13 08:38] david-allison-1 commented on #9101
I wouldn't oppose it in dev mode, but this will clash with #9066, so only temporarily. Using the new Anki backend locks the database, so it won't be possible going forwards.

I wouldn't rule out the possibility of it being DB related. If it is then there's a pending issue in the backend which should speed up small queries. This would be my second suggestion, after putting in a performance regressi

[2021-06-13 20:38] #8313 closed

[2021-06-14 00:37] mikehardy opened #9103 "Allow non-SSL connections in RFC1918 reserved / local subnet space"
Requested by @anadi in #5423 and it seems reasonable. I'm open to merging a PR for this if someone wants to take it on

---------

Mmm - I had not considered the local network case much. That's an interesting point.
There is an RFC for internal only IP space that defines all the ranges

https://datatracker.ietf.org/doc/html/rfc1918#section-3

[code]

I suppose we could add an exception for non-SSL

[2021-06-14 03:02] Arthur-Milchior opened #9104 "Move js/java interface to asynchronous"
There is a problem, currently, that with Javascript interface, the data is expected to be returned immediately. That stop us from computing data in background, leading to either compute data in foreground, return inaccurate data, or (as it is currently done), computing all potential requested data before opening the card.

Moving to asynchronous would solve this problem. According to @mikehardy, o

[2021-06-14 03:33] mikehardy commented on #9104
Combined with this we should publish a typescript index.d.ts file that documents the typing of the Javascript side of the API. Without this devs will have a hard time remembering what is async, what is not, and when we do breaking changes it will be easy with the types to communicate exactly to devs what they changes are and for them to ingest them

[2021-06-14 05:48] prateek-singh-3212 commented on #9103
I would like to work on this. TBH I don't know how to implement but will learn and implement this.

[2021-06-14 13:38] mikehardy commented on #9103
It's going to be in here - https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/res/xml/network_security_config.xml

[2021-06-14 13:38] mikehardy commented on #9103
https://github.com/ankidroid/Anki-Android/blob/e09629ab0d97ff171d68f83ea66842fa6c2a4eb7/AnkiDroid/src/main/AndroidManifest.xml#L66

[2021-06-14 13:42] mikehardy commented on #8592
has PR, stay open a bit

[2021-06-15 03:43] #8501 closed

[2021-06-15 20:20] mots opened #9107 "[Bug] Error opening collectin on Android 12 Beta"
###### Reproduction Steps

1. Install Android 12 beta
2. Open Ankidroid
3. See error opening collection.

###### Expected Result
App opens

###### Actual Result
App doesnt open, cites an error opening collection

###### Debug info

Here's the logcat output:
[code]
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*En

[2021-06-15 20:32] mikehardy commented on #8434
Looked at this again as it went stale.
Apparently it is possible (and arguably best practice?) to specify a language toolchain for java  in gradle so that PATH controls how gradle executes, but the gradle toolchain spec instructs gradle to use a specific (maybe different) JDK for app compilation / execution

https://melix.github.io/blog/2021/03/gradle-java16.html

I'm not saying I want to do this

[2021-06-15 20:42] prateek-singh-3212 commented on #9103
@mikehardy  should I go with this ?

[2021-06-15 20:58] mikehardy commented on #9107
This is a known issue and it will result in a total cannot-be-worked-around failure on Android 12 unfortunately

Related issue where we track the need to migrate to "Scoped Storage" - https://github.com/ankidroid/Anki-Android/issues/5304

It's actually the subject of work for one of our two Google Summer of Code slots, it's being worked on already, but it won't be ready for quite some time.

Until

[2021-06-15 20:58] #9107 closed

[2021-06-15 20:58] mikehardy commented on #9103
Sure, have at it :-)

[2021-06-15 21:33] mots commented on #9107
Oh snap, I should've figured this is related to scoped storage being enforced on SDK30. Wonder if I can just hack it to use `getExternalStorage` instead of whatever path it tries to open right now and compile that for myself so I have a working version while y'all figure out a "proper" design...

I work on Android myself and would help out with that myself if I had the bandwidth and nobody was wor

[2021-06-15 22:33] mots commented on #9107
Alright, that worked, yay.

If anyone else  wants to unblock themselves in a hacky way for now - changing `CollectionHelper#getCurrentAnkiDroidDirectory` to `return context.getExternalFilesDir(null).getAbsolutePath();` will make the app work again. Of course, that means you'll start again with an empty collection, but if you're using ankiweb, you can just resync your collection into the new path :

[2021-06-16 01:04] mikehardy commented on #9107
Yes - the actual code change is tiny. The hard part is migrating 2 million users precious data - we're taking that seriously
Glad you go that working!
If you wanted to post a PR with your change I could compile a parallel release APK for other people that aren't Android-savvy and everyone would benefit from the stopgap if they happened to be playing with the beta for whatever reason

[2021-06-16 12:30] david-allison-1 opened #9111 "TestRunner which can run instrumentation tests on a device without affecting the collection"
off-topic: We do need a TestRunner which can run instrumentation tests on a device without affecting the collection. I'll add in an issue for this now. Arthur & I had a quick discussion about this on a PR around a year ago, but no progress was made past the discussion

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/9073#discussion_r652640350_

[2021-06-16 12:36] david-allison-1 commented on #9111
* Create a new runner (see: https://github.com/ankidroid/Anki-Android/commit/fee75fe8a58bc6e7c73cc766c7a10779258a1557)
* Obtain access to the application settings before the collection/application is created
* Add a "path override" setting
   * Or: Detect if running under instrumentation on startup
* Change the path to a test collection
* Ensure that opening the collection for real does not use th

[2021-06-16 16:23] mikehardy commented on #9107
It's something I will note in **GREAT BIG LETTERS** to be careful with data, I don't imagine a lot of people will use any parallel APK I generate for the case but I'm also certain there will be some :-). I'm not sure how many use AnkiWeb actually, I want to say "most" but I have not inspected our usage data to see if we even collect that actually, much less what the number is :sweat_smile:

[2021-06-16 17:32] david-allison-1 opened #9112 "ActivityStartupUnderBackupTest: Improve documentation"
TODO: Improve the unit test documentation.

A user should know:

To fix a test failure, add the following to the start of `onCreate`
[code]

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/9048#discussion_r652902854_

[2021-06-16 20:50] infinyte7 commented on #8639
I have used this
https://github.com/infinyte7/AndroidWebServer

Because latest Android update will not allow different folder to be read.
So,
1. create folder `com.infinyte7.androidwebserver` in `Android/media` folder
2. Paste json data to that folder
3. change url in card template in Anki decks

Now the data can be loaded from from localhost. For first 2-3 reviews it notify that `loading http no

[2021-06-17 00:46] MouseAndKeyboard opened #9113 "Card scrolls in wrong direction"
During reviews on mobile:

I have some long cards which require me to scroll down to see their close deletions.
My issue is that when I try to swipe up or down on one of the cards, it's as if there's another finger also swiping in the opposite direction.

I'm able to scroll down if I very slowly swipe up ("fighting against") the opposite scroll direction.

For me: swiping down should correspond to

[2021-06-17 03:59] vinishhub commented on #9112
I would like to work on this

[2021-06-17 04:45] #8563 closed

[2021-06-17 12:33] BrayanDSO opened #9116 "Keep the original image file name when it's attached"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to use the same image in multiple cards. If I know the image file name, I can just type `<img src="imageFileName.extension">`.

The problem: When I attach an image with AnkiDroid, it changes the image file name to something like "img9843278434234908", so it's difficult to use my image again.

**Describe the solutio

[2021-06-17 13:28] #8877 closed

[2021-06-17 16:54] ppavankumar727 commented on #9112
Can I work on this issue?

[2021-06-17 18:31] david-allison-1 commented on #9112
Sure!

[2021-06-17 23:52] AlexApps99 opened #9117 "Make it harder to reduce the number of reviews or new cards"
**Is your feature request related to a problem? Please describe.**
When I'm studying, sometimes I'm feeling lazy or don't have enough self control, so I will go into `Custom study` and reduce the number of new cards or review cards to save time.
Obviously, this is detrimental to my learning and as such I would like it to be *harder* to reduce the number of review or new cards.

**Describe the solu

[2021-06-18 02:38] ppavankumar727 commented on #9112
Can I get brief info, I tried to add the lines to the onCreate method of the Anki Activity
![2021-06-18 08_05_38-Anki-Android – AnkiActivity java  Anki-Android AnkiDroid](https://user-images.githubusercontent.com/61464862/122498075-1c6ca800-d00c-11eb-8f9e-c05e26ab969f.png)

[2021-06-18 03:14] Arthur-Milchior opened #9118 "Linter: uses `isEmpty()` instead of `size() == 0`"
Simply add a linter rule that ensures that `isEmpty` is used when possible instead of checking the size

[2021-06-18 03:20] Arthur-Milchior commented on #9101
Dit it help?
Would you mind filming your reviewing for a minute or two? Maybe if I can see it, I could detect a pattern that you would miss, that would give hints about what cases are slow?
Please, if you capture the video, think about indicating where you click, so that we can easily see everything you do. See e.g. https://android.gadgethacks.com/how-to/show-screen-touches-with-samsungs-new-built

[2021-06-18 03:21] Arthur-Milchior opened #9119 "Dev option to use legacy database"
A temporary option would force to use legacy database instead of rust one. See #9066 to get more information about it.
The goal is to help measure the time taken by legacy execution and new execution of queries

_Originally posted by @Arthur-Milchior in https://github.com/ankidroid/Anki-Android/issues/9101#issuecomment-860160988_

[2021-06-18 06:29] vinishhub commented on #9118
I would like to work on this

[2021-06-18 12:13] Arthur-Milchior commented on #9118
Please, go for it

[2021-06-18 12:22] vinishhub commented on #9118
Can you elaborate from where should I start

[2021-06-18 15:01] osavoskin commented on #9101
Sorry for the delay in response. I think we can close the issue, as I wasn’t able to reproduce it after reinstalling the app and doing resync with the server. Sorry for the false alarm

[2021-06-18 19:42] Arthur-Milchior commented on #9118
I'm sorry, I can't. I have never configured a linter myself. You can probably look at current linter file to imitate them or ask for help on our discord. But that's not a domain I know currently

[2021-06-18 19:45] Arthur-Milchior commented on #9101
I am going to insist vehemently, please, dont not present excuse for giving feedback. I've never heard the problem of "we got too much detailled feedback with discussion from a user". I extremely strongly to prefer a few false positive costing an hour or so than to learn that a user had to reinstall the app every single day and didn't even thought about contacting us to make a bug report (that is,

[2021-06-18 19:45] #9101 closed

[2021-06-18 20:36] osavoskin commented on #9101
Thank you for your time! I will definitely let you know if I have any meaningful feedback or encounter a new issue

[2021-06-19 10:07] GulshanAnand commented on #6284
Hi, I am Gulshan. I am a beginner and want to start with this issue. Please give some guidance so that I am able to fix it.

[2021-06-19 13:36] mikehardy commented on #6284
Hi @GulshanAnand ! The first step will be to follow the development guide in our wiki so you know your local environment is all set up and executes our automated tests suites more or less correctly (sometimes they error on "flaky" tests, but in general they should run through). Then you want to add a regression test following the pattern of the other unit tests that cover templates, that tests thi

[2021-06-19 21:39] #8589 closed

[2021-06-20 02:43] kodovanie opened #9127 "Different scheduling dates between Ankidroid and Anki [Bug]"
Dear all,

I reviewed my Ankidroid cards late at night (19/06/2021) - somewhere at 10pm. The next day (20/06/2021) (4 and a half hours after midnight), Ankidroid does not show any cards - start of next day is set at 0.

On the other hand, if I synchronize the devices, I already have scheduled cards for today (20/06/2021) on Anki, but no scheduled cards in Ankidroid.

I randomly chose one of the ca

[2021-06-20 03:44] #8187 closed

[2021-06-20 03:51] #9054 closed

[2021-06-20 04:10] kodovanie commented on #9127
Update:

It is now past 6am, and cards scheduled for 21/06/2021 are also visible in Ankidroid (so that they are not scheduled for 21/06/2021 as before, but they are scheduled for 20/06/201 - the same as it is on anki desktop). Still confused why this happened with the setting "start of the next day at 0".

[2021-06-20 04:42] mikehardy commented on #9056
I just looked through and it appears that the regression test for this - #9073 - is in progress but the actual fix for the navigation drawer preference PR is not done yet? If anyone is aware of the status and I'm wrong, please correct me!

[2021-06-20 04:48] #9050 closed

[2021-06-20 04:53] mikehardy commented on #9102
We like this so much we've almost finished implementing it ;-) #8281 - just needs a little work and it'll be in

[2021-06-20 04:53] #9102 closed

[2021-06-20 15:22] mikehardy commented on #9113
Hi there! I wonder if you are on Android 8? If you are, we had to disable hardware rendering on Android 8 to work around a serious problem with the reviewer that happened to some people. On the other hand, this meant that scrolling behavior for complex cards was affected for some other people.

If you are on Android 8, you might try going into settings --> advanced, and making sure hardware render

[2021-06-20 15:22] #8554 closed

[2021-06-20 16:03] mikehardy commented on #9127
Hi there! We ask for certain information in our new issue template, because we really need that in order to diagnose problems. Specifically the scheduler information would help

You  have deleted that template and not provided the information. Could you provide it please?

https://github.com/ankidroid/Anki-Android/blob/master/.github/ISSUE_TEMPLATE/issue_template.md

[2021-06-20 18:21] farjadilyas opened #9128 "StyledProgressDialog may not be needed"
```StyledProgressDialog``` needs some changes. It is used as a utility class , is never instantiated., and only its _**static**_ ```show()``` method is used. However, it extends ```Dialog```, has a public constructor, and it isn't final. Also, I'm not sure if it is useful anyway since the class has the sole function of taking parameters in the ```show()``` method and passing it into corresponding

[2021-06-20 19:03] kodovanie commented on #9127
Hi there! Sorry about that.

###### Reproduction Steps

1. Reviewed my Ankidroid cards late last night (19/06/2021) - somewhere at 10pm.
2. The next day (20/06/2021) (4 and a half hours after midnight), Ankidroid does not show any cards due for today (20/06/2021) - even though the start of next day is set at 0.
3. I synchronized the devices (Ankidroid with Anki desktop), I already had scheduled ca

[2021-06-20 21:39] #8573 closed

[2021-06-21 06:26] Arthur-Milchior opened #9129 "HTML mock-up of AnkiDroid screen for onboarding"
This issue track a specific feature of the onboarding screens: #9092.

The goal is to create HTML (+css, no JS if possible) version of multiple important screen of the app. DeckPicker, reviewer, browser, stats, note editor. Those screens will be shown during onboarding with explanation text to illustrate what the user will be able to do with ankidroid.

Here is the reason why we have this goal. We

[2021-06-21 08:22] thiswillbeyourgithub commented on #7567
I don't know if it helps but the issue is still happening in the latest release (2.15.4)

[2021-06-21 21:39] #8601 closed

[2021-06-22 00:52] david-allison-1 commented on #9075
I'll be back to working on this tomorrow

One pending question: How do we want to deal with "saving" an ignored exception?

I'd like to use `type` + `exception.message` as a key, and either store in:

1. shared preferences
2. a file in `/data`

I'd prefer option 2, but it's non-standard, and suggestions would be great

[2021-06-22 02:26] mikehardy commented on #9075
Oh yes - I'd saved this one but not ever answered. I don't think I ever imagined UsageAnalytics being used in different ways, and the API shows it. Could always just a parameter that forces a hit ignoring sampling strategy, or could make a separate instance (maybe something like "IssueCounters" as a name since at this point we're not tracking usage, and it's not analytics really, we're trying to g

[2021-06-22 03:34] lyaricci opened #9131 "[Bug] CSS Style empty cards"
When styling cards on "CSS style", they don't appear on "Card Browser".
The solution I found is style everything on every field of a card.

###### On CSS style

![Screenshot_2021-06-22-00-18-39-580_com ichi2 anki](https://user-images.githubusercontent.com/85897445/122858436-a52b6280-d2f0-11eb-886a-9abe177523ec.jpg)

###### Result
![IMG_20210622_002216](https://user-images.githubusercontent.com/858

[2021-06-22 04:51] david-allison-1 commented on #9127
Hi, this should be fixed in AnkiDroid 2.15.

Please upgrade, and then enable 'new timezeone code' in Anki Desktop's preferences.

Thanks

[2021-06-22 06:45] prateek-singh-3212 commented on #9118
Hi @vinishhub ,
I just want to share that you can check this PR  #8586  and resources  to learn lint. You can go through all the rules which we have written earlier. I you face any doubt the feel free to ask on discord channel

[2021-06-22 14:01] Akshay0701 commented on #9116
That's right Anki Desktop does save images with their original names,

Anki Desktop work like this ->
image file name is not already present it simply include that image file with its original name example `sample.png`
and if file name is already present in collection then anki add unique code to original name like this `sample-1ac0415bf8b772feb31e7ce8148cdd3210056d5e.png`

[2021-06-22 20:38] #8448 closed

[2021-06-23 09:45] ShridharGoel commented on #9056
@mikehardy It was fixed in #9057.

[2021-06-23 13:02] mikehardy commented on #7757
this is good to keep in stock for first issues

[2021-06-23 13:11] mikehardy commented on #7849
This will no longer be needed in future versions because we're migrating to scoped storage

[2021-06-23 13:11] #7849 closed

[2021-06-23 16:35] rukshasivalingam commented on #5216
im new to this, how do i fix this issue on my anki?

[2021-06-23 16:43] mikehardy commented on #5216
@rukshasivalingam you'll have to clearly describe exactly what issue you are having. I suggest you open a new issue here and follow our template - careful to provide all the information we request - as this issue you are commenting on is quite old and already fixed.

[2021-06-23 16:46] rukshasivalingam commented on #5216
Hello mike thank you for the response, i can see that you have provided a code to fix this issue, I am very sorry but can you mention how to add the code to the anki? I have never added code before and i am a little confused on how to approach it?

[2021-06-23 17:47] mikehardy commented on #5216
@rukshasivalingam no action on your part is needed to use the code I provided, it has been included in every Anki release since 2.9alpha62 in February of 2019 https://github.com/ankidroid/Anki-Android/releases/tag/v2.9alpha62 - that is, more than 2 years ago.

[2021-06-23 17:49] david-allison-1 commented on #5216
@rukshasivalingam Hi!

First of all, check our [developer guide](https://github.com/ankidroid/Anki-Android/wiki/Development-Guide)

We're on Discord, and happy to help if you have questions.

This issue is closed, as I believe it's been fixed. You'd be best to find a [Good First Issue](https://github.com/ankidroid/Anki-Android/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%21%22) to get

[2021-06-23 20:34] irenenserrano commented on #8352
@david-allison-1 Hello, I am very sorry for this but I am unable to work on this issue anymore. If anyone else would like to take this issue please feel free

[2021-06-23 20:37] david-allison-1 commented on #8352
No worries! Life takes priority

[2021-06-24 02:28] david-allison-1 commented on #8365
On me. Note: related to #8175

[2021-06-24 03:57] #8687 closed

[2021-06-24 04:28] vinishhub commented on #9118
@prateek-singh-3212 If you are Feasible to this issue you can try, I'm having my college work to finish.

[2021-06-24 06:30] huzaifa-shah10 opened #9138 "[Bug] Anking import failed (possibly related to emoji in media file names?)"
###### Reproduction Steps

1.i have an honor 8x and i downloaded the anki overhaul v9 deck with media from medschool anki. i tried downloading from MEGA and it downloaded but when i try to download from google drive ,it asks to open in ankidroid and starts downloading but gets stuck at the 3/4 way mark
2. i tried to import the file but the screen froze and then exited out
3.even after the apkg fil

[2021-06-24 09:38] #8525 closed

[2021-06-24 12:59] david-allison-1 commented on #9138
Hi, thanks!

No reports in ACRA for this, so it'll be hard to diagnose.

Could you download the file to your phone and try to import it from the local drive?

Could you provide a link to the deck that you're downloading?

----

For now, to get things sorted, try to import the deck into AnkiWeb, and sync it over

[2021-06-24 15:23] huzaifa-shah10 commented on #9138
i tried to import the deck on to ankiweb but there were no options so i
opened anki desktop and synced it to ankiweb. the problem persists no image
being shown.

link for the file download:
https://mega.nz/file/JIESHBRZ#CqIicNaDtdGIvvqCLPBlWYhQxg7Mpf8mop-8EgGyNk4
link for reddit post:
https://www.reddit.com/r/medicalschoolanki/comments/lgxm1y/anking_overhaul_step_1_v9_step_2_v4_release/

in the sc

[2021-06-24 15:28] #8211 closed

[2021-06-24 19:36] #8645 closed

[2021-06-24 21:00] sudomain commented on #9138
Duplicate of #8148? It's the same deck and version of the deck I had trouble with. Only difference is I used the Google Drive link instead of the mega.nz link

[2021-06-24 22:31] mikehardy commented on #9138
Hey :wave: @sudomain ! Very interesting if so - is there an updated version of the deck without the emoji?

[2021-06-25 00:17] sudomain commented on #9138
afaict - no. The AnKing people tend to announce new deck releases on /r/medschoolanki, and [it seems like the step 1 v9, step 2 v4 is the newest](https://www.reddit.com/user/AnKingMed/submitted/). I got around that issue by deleting the ~10 pictures that had the emoji.

[2021-06-25 02:43] #8603 closed

[2021-06-25 03:39] #8146 closed

[2021-06-25 03:49] mikehardy commented on #8592
Bad bot, no biscuit (and slow maintainers - we are doing our best, thanks for your patience)

[2021-06-25 04:05] #8365 closed

[2021-06-25 04:17] #8912 closed

[2021-06-25 04:20] #9042 closed

[2021-06-25 04:26] mikehardy commented on #9138
I see - thanks for all the extra information. @huzaifa-shah10 it sounds like we *may* have a workaround then if you delete around 10 images with an emoji ? It seems like a simple enough test though obviously there is still an issue to solve for real. If that works for you I would love to know - because if that doesn't help then we have another issue to triage

[2021-06-25 04:56] mikehardy commented on #9056
We're still working on regression tests but I *finally* just now had time to work through the stack and get back to this. :sweat_smile:

I pulled it and tested it locally with the new gesture preference for full screen navigation drawer both on and off, and opening the study options screen works in both modes now. I think we're stable then on master currently

[2021-06-25 08:14] megadix opened #9146 "[Bug] \overline is not displayed correctly on Samsung Tablet - Android 11"
UPDATE: fixed sample source code

###### Reproduction Steps

1. enter a MathJax formula using `\overline`
2. preview or study card

Sample source code:

[code]

###### Expected Result

This code renders correctly on my phone (Huawei Honor 8 - Android 7)

![AnkiDroid-phone-ok](https://user-images.githubusercontent.com/1434231/123392847-cbc1f580-d59d-11eb-8cc6-8b04c21b7ec9.png)

###### Actual Result

[2021-06-25 13:16] mikehardy commented on #9146
Hi there! Can you search the issues list for other mathjax issues + samsung? I believe we have had this problem before and I think it might just be a subtle line width issue, like perhaps if you styled the formula to have larger text perhaps it would show up?

Either way, this may not be something we can handle other than via some config tweak. We are using Mathjax libraries to render the mathjax

[2021-06-25 13:16] david-allison-1 commented on #9146
Hi, thanks, likely related to #9002

Are both versions on AnkiDroid 2.15, as we changed the MathJax rendering engine in this release?

[2021-06-25 13:26] david-allison-1 commented on #9002
@hgiesel Were there other issues with the SVG MathJax renderer aside from the deprecation of `\color`?

From the linked issue, getting the HTML renderer working perfectly seems unlikely without serious effort, and moving to the SVG renderer should fix these issues.

[2021-06-25 14:27] hgiesel commented on #9002
IIRC, the issue was not specifically the `\color` macro, but all [MathJax extensions](https://github.com/ankidroid/Anki-Android/tree/master/AnkiDroid/src/main/assets/mathjax/input/tex/extensions). Trying to use `\color` showed an error, that implied it couldn't find the extension file.

[2021-06-25 18:16] mikehardy commented on #5423
@anadi in the end this is not possible, we cannot specify IP ranges and we cannot allow cleartext by default.
Luckily it is very easy to get SSL certificates, it is just a necessary thing these days - the Let's Encrypt project is the best way to handle it I think https://letsencrypt.org/

https://github.com/ankidroid/Anki-Android/pull/9149#discussion_r658927703

[2021-06-25 18:16] mikehardy commented on #9103
Unfortunately not technically possible per discussion on related PR #9149 - closing as can't fix

[2021-06-25 18:16] #9103 closed

[2021-06-26 05:36] #8583 closed

[2021-06-26 10:23] megadix commented on #9146
Hi, and thank you for the very quick response!

Yes I've searched for Samsung Issues, but I thought it was something different from #7848 and/or #9002

Since both devices (Phone with Android 7 vs Samsung Tablet with Android 11) use the same AnkiDroid version `2.15.4`, I think it might be something in the WebView on Samsung or Android 11, who knows...

I will try some workaround using CSS (or whate

[2021-06-26 12:39] mikehardy commented on #8795
Hey @mrudultora I note that #8575 is going stale as is the related issue #7766 - here you mention you are already working on integrating the color picker library, but I don't see a related PR. Are you still working on color picker related items? No emergency of course - if I understand correctly it's exams going on everywhere right?, just looking for status.

[2021-06-26 13:00] mrudultora commented on #8795
@mikehardy Yes, I am currently busy with my exams. I will try to make a PR soon.

[2021-06-26 13:04] mikehardy commented on #8795
Great - knowing you've still got an eye on it is fine, I'm a dinosaur now but I do still remember exam time stress. I have no desire to pile on that when they need all your focus. Good luck

[2021-06-26 13:56] prateek-singh-3212 commented on #9129
I would like to take this issue.

[2021-06-26 14:57] Arthur-Milchior commented on #9129
I'll repeat what I wrote on discord.
You should start with a single window, select one from the screenshot of  https://github.com/ankidroid/Anki-Android/pull/9092
If you speak a non-English language, do the page in this language. Then abstract the page and replace text by a templating system. This way, if there is anything that is forgotten to be localized, I'll notice it (unless your foreign lang

[2021-06-26 16:55] Starkly commented on #8482
Just to note, libgcc_s_seh-1.dll has a dependency on libwinpthread-1.dll

if both are in your PATH, then the library will load and the tests should run ok, without installing all of gcc

[2021-06-27 02:49] huzaifa-shah10 commented on #9138
this doesn't work for me as i need all images and i also don't know which images have emojis

[2021-06-27 04:24] mikehardy commented on #9138
@huzaifa-shah10 what I was hoping for was some collaboration and a little effort on your part testing if possible. What we need to know is whether this is really the same as the linked issue #8148 or not. Without willingness on your part to try to find the 10 or so filenames with the unicode loud speaker emoji (assuming that's the problem) and remove them, we don't have any good leads, and there m

[2021-06-27 04:35] sudomain commented on #9138
If this is #8418, you'll see an error like this:
https://user-images.githubusercontent.com/30786326/110242997-81513600-7f26-11eb-821a-89a00ef82cd0.png

Is that the error you see?

You don't need to delete the files; it's just what I did. You could rename them

[2021-06-27 10:49] bsnodin opened #9154 "[Bug] "java.io.IOException: I/O error" when attempting sign in to AnkiWeb account"
###### Reproduction Steps

1. Sign out of my AnkiWeb account on AnkiDroid
2. Attempt to sync collection -- prompts me to log in to AnkiWeb
3. Enter AnkiWeb credentials and press "LOG IN"

Other misc info:
- On the same mobile device, I am able to log into ankiweb.net in my browser app (chrome)
- In AnkiDroid, I originally signed out of AnkiWeb because I was having an issue with sync. When I tried

[2021-06-27 13:18] charlesoblack commented on #8495
I've been testing as I do my Anki cards and as of today, on v2.15.4 I haven't seen any slowdowns for some time now. I'm not sure what the original issue was but it seems like it's fixed now.

I'll close the issue and hopefully we won't have to reopen it. :)

[2021-06-27 13:18] #8495 closed

[2021-06-27 14:23] #8764 closed

[2021-06-27 15:55] mikehardy commented on #8495
Thanks for reporting back, I really appreciate it and of course I'm happy it seems to be working for you. Yes, :crossed_fingers:

[2021-06-27 20:37] #8117 closed

[2021-06-28 00:29] huzaifa-shah10 commented on #9138
so at first,i was actually downloading the whole file and then trying to open the file in ankidroid. now i tried downloading the deck and then syncing the deck to ankiweb and then from there to ankidroid. now that i synced,i am getting some images but other images are not being show but they are not being shown on the desktop either . attached are some pics. i don't knowhow and where to find the l

[2021-06-28 01:13] mikehardy commented on #8072
Still have plans for this one

[2021-06-28 01:21] mikehardy commented on #9138
When the collection is imported but images are missing it is some sort of partial sync, that's odd but not unheard of. If it's AnkIDroid only our troubleshooting steps are here https://github.com/ankidroid/Anki-Android/wiki/FAQ#why-doesnt-my-sound-or-image-work-on-ankidroid

But I think that's a secondary issue - not worth pursuing with any energy at the moment.

Purely from an AnkiDroid perspecti

[2021-06-28 15:37] #8592 closed

[2021-06-28 20:16] levischooley opened #9160 "Card ease is being reset for some cards"
First, thanks to everyone who contributes to AnkiDroid. This app has been a life-changer for me, and I can't imagine life without it.

Sometime late November of 2020 I had a large amount of cards have their ease reset. The problem seems to persist with some of them even until today.

I did not notice the issue until some weeks/months had gone by, and don't remember what might have been the initial

[2021-06-28 20:59] david-allison-1 commented on #9160
Hi, "Modify due date" used to reset the ease of cards to 250 (still does on AnkiDroid, with a warning).

If it's not that, check your addons.

Do you have any reason to believe that this is an AnkiDroid problem, rather than an Anki Desktop problem?

https://forums.ankiweb.net/ would be the best place to diagnose otherwise

[2021-06-28 21:00] david-allison-1 commented on #9160
Hi, you were experiencing a bug with Anki Desktop where the default ease was set to 2.5, instead of 250.

An update of Anki Desktop fixed this for all of your cards

See: https://changes.ankiweb.net/#/?id=changes-in-2134

[2021-06-28 21:01] david-allison-1 commented on #9160
I'm going to close this, as I don't believe that there's action for us to take here.

Please feel free to respond though, if there's anything else that we can do.

Regardless, thanks for the report!

[2021-06-28 21:01] #9160 closed

[2021-06-28 22:44] nicdard commented on #9118
I can work on this

[2021-06-29 01:09] levischooley commented on #9160
@david-allison-1
That was fast! Thanks for this info. I use 250 as the default for my vocab decks, but had 130 set as the default for my Scripture verse decks, due to the fact that the card content is longer/more complex, so needs more frequent reviews. And it was those cards that were changed. (Though not all of them... which is weird.) So I think that the bulk of the problem does lie with Anki D

[2021-06-29 01:22] david-allison-1 commented on #9160
Thanks! If there's any issue with AnkiDroid, please do let us know.

[2021-06-29 11:34] david-allison-1 opened #9161 "[Bug] 2.15.4: CreateDeckDialog.createNewDeck - NullPointerException"
From Google Play. Number 1 crash

[code]

[2021-06-29 13:32] mikehardy commented on #9161
That's troubling. I just checked the stack frames and it's as simple as you'd expect.

ContextWrapper defers the call to the base context (set via attachBaseContext or in constructor)
Somehow the creation of this ContextWrapper (whatever it is, where ever it is created) is happening with a base Context that is unexpectedly invalid (making the assumption that knowing your package name is something

[2021-06-29 13:35] mikehardy commented on #9161
Here's an ACRA link to the same crash on an Android 11 Pixel 2XL (so we know this is fresh)  https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/a78fcfe7-5380-4b53-ba21-e1e9ee842f44

logcat:

[code]

[2021-06-29 14:58] levischooley commented on #9160
OK, just a follow up. I did my reviews today, and sync'd with Anki Desktop, all while watching the cards' ease settings very carefully, and it appears that everything is functioning normally.

However, I think that part of the problem was that I skipped over the warning in AnkiDroid that the card ease would be reset when rescheduling a card. I was using the reschedule feature quite a lot to manual

[2021-06-29 15:40] #8656 closed

[2021-06-29 16:46] Akshay0701 commented on #9161
#8438 yes this was a recent change on deck creation code,

most probably in the `CreateDeckDialog `class mAnkiActivity variable is not properly initialized in some cases (I am not sure for now), will fragmentFactory here?

are there any steps to reproduce in our devices?

[2021-06-29 16:59] dorrin-sot commented on #9161
I tried to reproduce it and found that if you sync via the button and then sync via pulling the screen down gesture, and then try to create a deck the crash happens

[2021-06-29 18:00] Akshay0701 commented on #9161
thank you so much, this helped and now I fixed it.

[2021-06-29 18:21] levischooley commented on #9160
Sure, I understand you're busy. I wish I had the time to contribute to development. Keep up the wonderful work! You're helping to change the world of learning and education with this bit of software.

[2021-06-29 19:17] guimcaballero opened #9164 "[Bug] 2.16alpha2: App crashes if phone volume is changed while reviewing"
###### Reproduction Steps

1. Enter any deck and start reviewing a card
2. Change the phone's volume using the physical buttons on the side

###### Expected Result

App shouldn't crash

###### Actual Result

App crashes (volume does change)

###### Other info

Doesn't seem to happen on any other screen, just on review. Happens both for cards with and without audio.

###### Debug info

[code]

####

[2021-06-29 19:24] mikehardy commented on #9164
There was a gesture mapping change integrated recently #9021 that is the likely culprit

Well, at least we didn't break the volume button itself :sweat_smile:

The debug info was a big help, it allowed me to pull the crash trace, thank you!

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/2a82f67a-a431-41d7-8901-8da36864a220

[code]

logcat
[code]

[2021-06-29 19:27] guimcaballero commented on #9164
Some more testing I've done: while previewing a card through the Card Browser, it doesn't crash but the volume does not change. Not sure if this is intentional and/or related.

[2021-06-29 19:49] Paras-Saini commented on #5844
@david-allison-1 https://github.com/ankidroid/Anki-Android/wiki/_compare/6ca8f8ce214668f6b0557d3881dd7c42c0dd4397#diff-c7bd425fd98aad1f9fef20099637bcbdcfadeb566ba1f83bb40ce484f195b8cf
Please have a look..??

[2021-06-29 19:52] Paras-Saini commented on #8454
@david-allison-1 i want more information it will be great for me.

[2021-06-29 20:34] david-allison-1 commented on #8454
The point of this Issue is to investigate the history of why the file was needed. You know more then I do at this point.

[2021-06-29 20:35] david-allison-1 commented on #5844
Are you sure that's the right link?

[2021-06-29 20:38] david-allison-1 commented on #9164
That's on me. I'll get on it ASAP. Thanks!

[2021-06-29 20:50] Paras-Saini commented on #5844
https://github.com/ankidroid/Anki-Android/wiki/FAQ#forgotten-ankiweb-email-instructions

No, srry @david-allison-1

[2021-06-29 20:50] Paras-Saini commented on #5844
https://github.com/ankidroid/Anki-Android/wiki/FAQ#forgotten-ankiweb-email-instructions
This one is the correct link.

[2021-06-29 20:56] Paras-Saini commented on #8454
Sure,  thank you.

On Wed, Jun 30, 2021, 02:04 David Allison ***@***.***> wrote:

[2021-06-29 22:03] david-allison-1 commented on #5844
I've fixed it up. Now we can add a link in the app to it.

[2021-06-30 02:29] khanguyenwk opened #9167 "Overflow issue"
Hello everyone, thank you so much for very useful app. I use it everyday.
Since I use a plug in to automatically add content to note (from dictionary), I meet an overflow issue: I have to scroll to see the full content, it's not optimized for phone screen

![Screenshot_20210629-211546_AnkiDroid.jpg](https://user-images.githubusercontent.com/42679589/123892780-6c8d2800-d985-11eb-8636-dc5c7b768531.j

[2021-06-30 03:07] david-allison-1 commented on #9167
Hi, this looks like an issue with your dictionary.

But, we might be able to fix this: Scroll down and select `Cards` (under `Tags`) and you can add CSS, or HTML to affect how the content is displayed. Some of this will be able to either fix the CSS, or use JavaScript/HTML to fix the scrolling.

https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection may be help

[2021-06-30 03:10] khanguyenwk commented on #9167
Thank you so much fo your help David
I don't know about css or html, do you recommend any code or any way to add to the 'Card' to disable this the overflow issue?

[2021-06-30 04:15] ashrafbelim opened #9169 "Deck options settings not syncing properly across android mobile and tablet"
Whenever I change deck option graduating interval in mobile to 7 days and then sync it, the change is not reflected in tablet, when I tried manually to change graduating interval in tablet to 7 days and then sync it The graduating interval of mobile again changed to 1 day. same happens when I change the graduating interval in mobile to 7 days and sync tablet, interval in tablet changes to 1 day.

[2021-06-30 04:42] #8578 closed

[2021-06-30 05:24] leitz010 opened #9170 "[Bug] Setting TTS language to "don't speak" stops Automatic Display Answer from working [edited]"
###### Reproduction Steps
1. Set TTS language to "don't speak" for the front and back sides of the cards in a deck.
2. Turn on Automatic Display Answer.
2. Try to study the words in the deck.

###### Expected Result
The card should automatically go to the answer and then be labeled 'again' and the next card should be shown based on the Automatic Display Answer settings.

###### Actual Result
When

[2021-06-30 08:06] voidplayer commented on #8428
still searching for solutions

[2021-06-30 08:48] david-allison-1 commented on #9167
Sorry, I don't have the time to help right now. Please go to `Help - Community` inside the app, and someone on one of our communities should be able to help out

[2021-06-30 09:35] david-allison-1 opened #9171 "Paste as PNG if alpha channel exists"
I think that (auto-switch to PNG if there is an alpha channel) for a follow-up PR. I think this is an area where starting by deferring to users' choice  and implementing the upstream feature is a reasonable start

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/9080#issuecomment-871019475_

[2021-06-30 12:36] mikehardy commented on #9169
Hi there! You have deleted the part of the issue template where we ask you for information necessary to help you.

In addition for your specific problem we need the version of Anki Desktop you are using

https://github.com/ankidroid/Anki-Android/blob/master/.github/ISSUE_TEMPLATE/issue_template.md

---
name: Bug report
about: Bug report
title: "[Bug]"
labels: bug
assignees: ''

---

###### Reprodu

[2021-06-30 12:48] mikehardy commented on #9167
This definitely looks like a "your dictionary generates content that is not quite right / your dictionary needs to examine the issue" type problem though, anything you do with CSS/HTML in your AnkiDroid will fix your issue but there may be lots and lots of people suffering with the same problem from content generated by whatever dictionary that is

[2021-06-30 13:38] #8567 closed

[2021-06-30 13:47] mikehardy commented on #9100
Note for future people: AnkiDroid is migrating libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code, and fixing it there. PRs to AnkiDroid's java implementation of libanki are not the desi

[2021-06-30 13:48] mikehardy commented on #9167
This will not result in a change to our code, so I'm going to close this

[2021-06-30 13:48] #9167 closed

[2021-06-30 13:49] mikehardy commented on #9127
can reopen if still reproducible but closing as should be fixed

[2021-06-30 13:49] #9127 closed

[2021-06-30 13:49] mikehardy commented on #9117
Hi there! This would deviate from upstream, if Anki Desktop implements a feature like this we will follow
https://forums.ankiweb.net

[2021-06-30 13:49] #9117 closed

[2021-06-30 13:50] mikehardy commented on #9113
no feedback, closing

[2021-06-30 13:50] #9113 closed

[2021-06-30 13:51] #9087 closed

[2021-06-30 13:52] #9082 closed

[2021-06-30 13:55] mikehardy commented on #9043
Hi there, with apologies, this is so many items at once you can see it does not appear actionable to use. Due to volume of development in progress we have extremely limited time to consider ideas, work with contributors to get a PR in shape to merge, and merge it.

I suggest you focus on extremely small things and do them one at a time, that is the most successful way to get changes made. Especial

[2021-06-30 13:58] mikehardy commented on #8920
Note for future people: AnkiDroid is migrating statistics and  libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code (for scheduler/libanki) or upstream code in svelte/CSS, and fixing it th

[2021-06-30 14:00] mikehardy commented on #8889
Related #9169

[2021-06-30 14:00] mikehardy commented on #9169
I think this is a duplicate of #8889 - if I'm right, please close and we can focus there

[2021-06-30 14:05] mikehardy commented on #8857
Note for future people: AnkiDroid is migrating statistics and  libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code (for scheduler/libanki) or upstream code in svelte/CSS, and fixing it th

[2021-06-30 14:05] #8857 closed

[2021-06-30 14:06] mikehardy commented on #8848
Is this still happening? We can reopen if this is still happening with 2.15

[2021-06-30 14:06] #8848 closed

[2021-06-30 14:09] mikehardy commented on #8846
I believe this was fixed in 2.15.x subsequent releases - I'm going to close this as there was definitely a scheduling issue in 2.15.0 fixed quickly in 2.15.1, but we can always reopen if it is still happening

[2021-06-30 14:09] #8846 closed

[2021-06-30 14:09] mikehardy commented on #8813
Currently cannot reproduce - we can reopen if it pops up again

[2021-06-30 14:09] #8813 closed

[2021-06-30 14:10] mikehardy commented on #8811
I wonder if this is related to non-ASCII chars in either username or password. I've seen that happen.

[2021-06-30 14:13] mikehardy commented on #8796
Is this still reproducible in 2.15?

Separately:

Note for future people: AnkiDroid is migrating statistics and  libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code (for scheduler/libanki

[2021-06-30 14:15] mikehardy commented on #8783
Is this still happening with Android Studio 4.2.1 and current development branch? I'm not having problems personally. Going to close, can reopen if we can reproduce

[2021-06-30 14:15] #8783 closed

[2021-06-30 14:17] mikehardy commented on #8749
Duplicate of enhancement request for WYSIWYG editor which is in progress #9048

[2021-06-30 14:17] #8749 closed

[2021-06-30 14:20] mikehardy commented on #8712
Can reopen if we receive feedback + reproduction

[2021-06-30 14:20] #8712 closed

[2021-06-30 14:22] mikehardy commented on #8691
Closing in favor of #8869

[2021-06-30 14:22] #8691 closed

[2021-06-30 14:23] mikehardy commented on #8673
no feedback

[2021-06-30 14:23] #8673 closed

[2021-06-30 14:25] mikehardy commented on #8627
no reproduction, can reopen if we can reproduce

[2021-06-30 14:25] #8627 closed

[2021-06-30 14:34] mikehardy commented on #7798
@Akshay0701 fixed this in #8730! closing

[2021-06-30 14:34] #7798 closed

[2021-06-30 14:35] mikehardy commented on #7776
This is still happening

[2021-06-30 14:36] #3662 closed

[2021-06-30 14:37] mikehardy commented on #7567
Either #8889 should remain open or this should remain open but this is reported a lot and we have a few duplicates in the system we need to conslidate

Going to close this in favor of #8889 for now

[2021-06-30 14:37] #7567 closed

[2021-06-30 14:38] mikehardy commented on #7279
Note for future people: AnkiDroid is migrating statistics and  libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code (for scheduler/libanki) or upstream code in svelte/CSS, and fixing it th

[2021-06-30 14:39] mikehardy commented on #6896
I think this actually is done now can reopen if I'm wrong of course

[2021-06-30 14:39] mikehardy commented on #6778
Note for future people: AnkiDroid is migrating statistics and  libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code (for scheduler/libanki) or upstream code in svelte/CSS, and fixing it th

[2021-06-30 14:39] #6778 closed

[2021-06-30 14:40] mikehardy commented on #6562
Note for future people: AnkiDroid is migrating statistics and  libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code (for scheduler/libanki) or upstream code in svelte/CSS, and fixing it th

[2021-06-30 14:41] mikehardy commented on #6427
Note for future people: AnkiDroid is migrating statistics and  libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code (for scheduler/libanki) or upstream code in svelte/CSS, and fixing it th

[2021-06-30 14:44] mikehardy commented on #6153
ViewPager is out, long live ViewPager2

[2021-06-30 14:44] #6153 closed

[2021-06-30 14:45] mikehardy commented on #6012
Note for future people: AnkiDroid is migrating statistics and  libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code (for scheduler/libanki) or upstream code in svelte/CSS, and fixing it th

[2021-06-30 14:47] #5958 closed

[2021-06-30 14:48] #5863 closed

[2021-06-30 14:50] mikehardy commented on #5723
Closing this in favor of #8259 - a huge amount of work was done recently, this may already be fixed, and if not we are using that to track remaining items

[2021-06-30 14:50] #5723 closed

[2021-06-30 14:52] mikehardy commented on #5308
Note for future people: AnkiDroid is migrating statistics and  libanki (which includes the scheduler) to a new style of use where instead of porting the original Python to Java, we are wrapping the Rust library that AnkiDesktop uses now. Resolution of this issue will require understanding the upstream issue in their Rust code (for scheduler/libanki) or upstream code in svelte/CSS, and fixing it th

[2021-06-30 14:53] mikehardy commented on #4334
This is in progress as a GSoC project with all sorts of related activity.

[2021-06-30 14:53] #4334 closed

[2021-06-30 15:15] kubaczechowski commented on #8326
Hi. Can I tackle this issue?

[2021-06-30 15:42] david-allison-1 commented on #4021
I'd like to see this, it should be a lot easier to implement now we handle image copy/paste

[2021-06-30 15:45] wujek-srujek commented on #8796
Yes, reproducible with 2.15.4.

[2021-06-30 15:49] #8709 closed

[2021-06-30 15:56] mikehardy commented on #8326
@kubaczechowski sure! Let us know if you need any help, and if that's the case best method is probably just posting what you have as a draft PR and asking questions on that. Cheers!

[2021-06-30 16:00] eginhard commented on #5723
See also the manual, it sounds like this should already work correctly: https://docs.ankidroid.org/#RTL
Maybe the fields just have not been set correctly as RTL.

[2021-06-30 16:11] kubaczechowski commented on #8326
Okay. Thank you for the support @mikehardy !

[2021-06-30 16:12] mikehardy opened #9173 "[Bug] CI failing - unit test failure in GitHub Actions"
Unit tests are currently failing in GitHub CI, but they work locally.

Something appears to be wrong with the robolectric shadow view

It's possible local environments have some valid caching going on, while GitHub CI either has an invalid cache or is downloading something fresh (that is not being downloaded locally) causing it to fail only in CI.

Attempted to invalidate gradle cache to fix, it d

[2021-06-30 16:33] mikehardy commented on #9173
is

[code]

Trying to figure out why the context is busted currently. This appears to be a headless mode issue, been a while since I've seen one of those!

[2021-06-30 16:46] #8678 closed

[2021-06-30 17:12] umang-sinha commented on #9112
is this resolved? If not, I would like to take this up

[2021-06-30 17:31] mikehardy commented on #9173
1. Attempted reproduction by simply `ssh localhost` then re-running `./gradlew jacocoUnitTestReport: success, though `echo $DISPLAY` did indicate there was no X available and `xterm` failed. I'm on Ubuntu 21. I thought that would reproduce it, I was surprised it worked.
2. Attempted reproduction by installing docker, pulling Ubuntu 20LTS (matches Github Actions Ubuntu runner), installing adoptopen

[2021-06-30 17:56] prateek-singh-3212 commented on #8869
I would like to add this feature.

[2021-06-30 18:03] mikehardy commented on #9112
It appears the currently-connected PR does not resolve the issue and is dormant for a couple weeks. I think this is ok to work on it if you have time :muscle:

[2021-06-30 18:04] mikehardy commented on #8869
Looks like an ecosystem compatibility issue but not in libanki or stats, that usually means "yes!", so, yes! :-)
I personally do not use folder hierarchies much or this sort feature so I would very very carefully check exactly how desktop does it to make sure it's the same, and (to help me, the reviewer-that-wishes-he-had-more-time-but-does-not) explaining the behavior exactly in the PR so I know

[2021-06-30 18:13] mikehardy commented on #9173
Other priorities at the moment, this will sit for a bit and I commit to manually verifying PRs until resolved.
It is just about highest priority for me w.r.t. AnkiDroid just have other stuff to turn attention to for a while

[2021-06-30 18:21] umang-sinha commented on #9112
Alright! I'll start working on it then

[2021-06-30 19:36] #8593 closed

[2021-06-30 19:43] mikehardy commented on #9173
I am less surprised now by these unexpected successful reproductions but this also worked locally, when I thought it might faill

`/gradlew -Djava.awt.headless=true clean jacocoUnitTestReport --rerun-tasks`

[2021-06-30 19:51] mikehardy commented on #9173
As a potential avenue of fix (though I don't like it since it is working around a tool issue instead of fixing the tool issue...)

https://github.com/ankidroid/Anki-Android/commit/42ab45ce31c43f8b9d05129303d42c1fb506b488#diff-a58e9d82dec419c29f3765e76012c22af32ff1a9ab13c797276c1300a1ff7be0R44-R49

That is the static initializer that is failing, and if the fetch on ViewConfiguration were made non-s

[2021-06-30 20:02] kubaczechowski commented on #8326
Hi.
I have tried to find it on my own but then I couldn't ...

1. Can I ask which class is responsible for handling this action event(saving note)?
![image](https://user-images.githubusercontent.com/67064580/124023197-f8d33580-d9ed-11eb-807d-21b71f2c1d42.png)

2. Can I ask which class handles action events for this four buttons?
![image](https://user-images.githubusercontent.com/67064580/124023497

[2021-06-30 20:10] kubaczechowski commented on #8326
I intended to look on methods for this two ^^ action events in order to get better perspective on what actions I need to invoke in
unit tests.

[2021-06-30 20:31] mikehardy commented on #8326
That's our NoteEditor, and it should be this if you tap on it (it's different if you use keyboard etc) https://github.com/ankidroid/Anki-Android/blob/33473d9408e0fccc7ba6d6277ce691d0a53c4cc3/AnkiDroid/src/main/java/com/ichi2/anki/NoteEditor.java#L1117-L1120

Note: the best way to find these things is to run the app from AndroidStudio (install the "Play" variant, from command line it's `./gradlew i

[2021-06-30 20:37] #8684 closed

[2021-06-30 21:02] kubaczechowski commented on #8326
Yes, it does!! Thank you for such extensive answer, now I will know that :)

[2021-06-30 23:26] #9173 closed

[2021-06-30 23:57] #8072 closed

[2021-07-01 04:39] ashrafbelim commented on #9169
Ok

[2021-07-01 04:39] #9169 closed

[2021-07-01 04:59] Paras-Saini commented on #5844
Yeah, thanks @david-allison-1 .

[2021-07-01 05:00] Paras-Saini commented on #5844
Where we have to add it in the app @david-allison-1

[2021-07-01 09:36] kleinerpirat commented on #9098
This is already possible since 2.15 with the following PR https://github.com/ankidroid/Anki-Android/pull/7764.

Because that feature was implemented by @hgiesel, the author of the add-on [Closet](https://ankiweb.net/shared/info/272311064), when the method stops working one day, it is best to take a look at the way it is handled there: closet/anki/web/[user.js](https://github.com/hgiesel/closet/blo

[2021-07-01 11:55] david-allison-1 opened #9179 "Gradle: Consolidate lint version dependency"
3 PRs were raised on the same version number bump, we can quickly reduce this

https://github.com/ankidroid/Anki-Android/pull/9176
https://github.com/ankidroid/Anki-Android/pull/9177
https://github.com/ankidroid/Anki-Android/pull/9178

[2021-07-01 12:36] ashrafbelim commented on #8889
This is serious issue It should be resolved because It will make anki Useless for which it is made.

[2021-07-01 15:47] kubaczechowski commented on #8326
[code]
Here I have come so far. Now I want to review note (the flashcard in question) and invoke action for again button. Then I will check if its in the deck of flashcards to revise (it should always be there after button again was pressed). Can I ask for a hint how I can review Note? I guess I would need to use one of the methods in `AbstractFlashcardViewer` but I'm not sure.

I picked again but

[2021-07-01 16:12] #8739 closed

[2021-07-01 16:46] #8351 closed

[2021-07-01 18:14] mikehardy commented on #8326
I believe there are test cases that touch the reviewer already, and some helper methods in some object in the test directory that let you instantiate a Reviewer with some number of cards already prepopulated

I think this might be a good example https://github.com/ankidroid/Anki-Android/blob/42911de4ad06eb4bdf4f2ffc0dbe90e0b88f8b4d/AnkiDroid/src/test/java/com/ichi2/anki/ReviewerTest.java#L105-L133

[2021-07-01 18:34] #9164 closed

[2021-07-01 18:38] #9179 closed

[2021-07-01 19:04] david-allison-1 commented on #5844
From the issue description:

[2021-07-01 19:20] mikehardy commented on #8889
@ashrafbelim without disagreeing note: 1) open source means if it "should be resolved as soon as possible" the fastest route is for you to post a PR that fixes it and 2) I don't believe many people actually change the graduating interval, implying it is fit for purpose for most people with no change here

To be clear: I'd like to see this fixed, but I do not like your implication

[2021-07-01 20:39] #6964 closed

[2021-07-02 01:32] ashrafbelim commented on #8889
@mikehardy sorry for my words I didn't mean what you understood. If my words disheartened you sorry for that I am not developer, I just commented on play store they asked me to raise issue on github.
Graduating interval of 1 day is not good one and many people change it. I have a exam and this issue is hindering my study because I study and make anki cards on tablet and study also on the go in mob

[2021-07-02 02:35] leitz010 opened #9186 "Leech action feature request"
**Is your feature request related to a problem? Please describe.**
I often ignore the leech tag, and wish the leech mechanic did more than it currently does. I think it has a lot of potential to help in learning.

**Describe the solution you'd like**
An option under "leech action" to also automatically "reset progress" once the lapse threshold has been reached, and an automatic reset of the lapse

[2021-07-02 02:47] david-allison-1 commented on #9186
Hi, thanks for the request!

We aim to maintain compatibility with Anki Desktop. Does the feature exist there? We'll only be able to work on this if it'll be implemented

If it doesn't, can you request it: https://forums.ankiweb.net/ and post a link to the thread for tracking?

Best,

David

[2021-07-02 04:42] #8169 closed

[2021-07-02 04:54] lrorpilla commented on #5304
I'm a developer of [a third-party application](https://github.com/lrorpilla/jidoujisho) that makes use of AnkiDroid and its card creation API. My app has YouTube features and for this reason I have no reason or incentive to upload my app to the Google Play Store or keep up with its policies.

I was just troubleshooting some issues in regards to storage in general (trying to get my Flutter app to b

[2021-07-02 05:02] david-allison-1 commented on #5304
Hi, the following change should have added "insert media" to our API. Is this sufficient for your use case?

https://github.com/ankidroid/Anki-Android/pull/6641

[2021-07-02 06:04] lrorpilla commented on #5304
What Gradle implementation version am I supposed to use to get that method? I am trying to use `1.1.0alpha6` and `1.1.0` to no avail, I can't seem to compile in order to use `addMediaFromFile`, the documentation for the API still uses `1.1.0alpha6` and I believe that one is at least a two year old version. Thanks.
[code]

[2021-07-02 15:21] david-allison-1 commented on #9131
Hi, what does Anki Desktop show here?

[2021-07-02 18:26] mikehardy commented on #8889
No worries @ashrafbelim - I just zealously set expectations where possible on what open source means and what people should expect with regard to who does what, and when things happen. Some people have unrealistic expectations and that leads to disappointment

[2021-07-02 18:36] mikehardy commented on #5304
:thinking:

According to commit on linked PR https://github.com/ankidroid/Anki-Android/commit/4d2cf42b053065f3eafdff9611d1fe9221a0ecff

it's in `api-v1.1.0`

Our publishing on the API module is not great, c.f. https://github.com/ankidroid/Anki-Android/issues/7929

However it appears from that issue that if you add jitpack to your maven repo URL list in gradle files, you should be able to resolve t

[2021-07-02 18:49] mikehardy commented on #9098
Oh thank you so much @kleinerpirat - I have not had the time to respond to this yet, and your comment is :100: !

[2021-07-02 18:49] #9098 closed

[2021-07-02 18:59] #8761 closed

[2021-07-02 22:57] lrorpilla commented on #5304
@mikehardy
Thanks, this finally allowed me to use the method.

Let me explain what I'm trying to do though, I have a user that wants to be able to export cards from my app which involves adding a note and exporting an audio and video file. They run out of internal storage very easily, and I know other users will be faced with this issue so I deeply care about addressing it.

So, as it stands, I am

[2021-07-03 00:20] mikehardy commented on #5304
Accessing storage raw is going away
We will be using the apis for android that request external scoped storage for the space scarcity reasons you describe
If you pull current dev version of ankidroid now and set a constant for scoped storage in a file (check the pr for scoped storage that just went in) you can check your use case for the future state once it's exposed to users

Should work?

[2021-07-03 00:57] Arthur-Milchior commented on #8326
Hi @kubaczechowski, thanks for wanting to work on it.
If you do the test I was suggesting, then I fear that you are going in a wrong direction.
The tests I'm asking for is only about background computing, not about user interaction.
That means that you can use the unit test method to create one card. Change its due date, interval, queue and type, call the scheduler with this card and a button, and

[2021-07-03 02:07] Arthur-Milchior commented on #9118
Please go for it @nicdard

[2021-07-03 02:14] Arthur-Milchior opened #9192 "Feedback on undo"
When you press undo, show a small toast indicating what was undone, confirming that the undo order was sent.

Ideally, you should wait until undo is done succesfuly to show the message.

If you want to go the extra miles, and undo takes more than half a second to succeed, you can show a message confirming that undo was registered. This could occur if a long computation is being done in parallel, s

[2021-07-03 02:33] huzaifa-shah10 commented on #9138
https://user-images.githubusercontent.com/86398530/124340764-ef55f300-dbd0-11eb-9b47-6f924bc31cbe.mp4

this is happening when i try to import the deck

[2021-07-03 04:31] leitz010 commented on #9186
[Here it is.](https://forums.ankiweb.net/t/leech-action-feature-request/11181?u=leitz010)

[2021-07-03 07:36] sankayop opened #9194 "Energy - battery consumption not optimal in background mode."
**Is your feature request related to a problem? Please describe.**
Since i use ankidroid, my smartphone's battery is discharging quite fast. But i never thought of looking at the battery manager. Today i did it.
The result is 23hrs of use in 3 days while practically, i've bee using the app 1hr per day. The rest of the time, the app is in backgd (or at least should have been) or shut down. Accordin

[2021-07-03 07:36] lrorpilla commented on #5304
Would the latest pre-release include that PR? I tried to download it and mimic the behavior shown in the PR by denying storage access but it doesn't seem to work on my Android 10 test device, it just shows a message and then forces you to switch the permission on refusing to move on until it's set.

On the latest pre-release, I can't seem to use the `addMediaFromUri` function with any success if t

[2021-07-03 08:35] david-allison-1 commented on #9194
Hi, thanks so much for the report!

Presumably you were using the reviewer when this happened?

Could you go to `help - get help - send troubleshooting report`

Then could you then go to `Settings - Advanced - Copy Debug Info` and paste it here.

This may be related to #9086.

[2021-07-03 08:50] prateek-singh-3212 commented on #9118
@nicdard Sorry, I missed this notification. Yaa, please go ahed

[2021-07-03 08:56] sankayop commented on #9194
AnkiDroid Version = 2.15.4

Android Version = 10

Manufacturer = Xiaomi

Model = Redmi Note 8

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 10; Redmi Note 8 Build/QQ1B.200105.004; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/74.0.3729.186 Mobile Safari/537.36

ACRA UUID = 3d2112ed-282e-4fa7-ac99-cdc7e32ca2c1

Scheduler = std

Crash Reports Enabled = true

Data

[2021-07-03 12:32] lrorpilla commented on #5304
Please ignore my last messages. I have figured out how to properly use the method and have found success exporting to external scoped storage. Might I ask, is it intentional that the exported media filenames end with `.null`? Kind of esoteric to view the folder with a file manager, but it works. I'm guessing this would also work when synced to desktop?

It seems my trouble was not changing and pro

[2021-07-03 16:56] mikehardy commented on #9194
Hmm - android 10 vs android11 but if you tried the latest alpha (2.16alpha3 at the moment) this may be fixed for you as it will contain the fix from #9086: https://docs.ankidroid.org/#betaTesting

Can you try it? I use it as my main install but you can also try it as a side-by-side install by installing parallel A https://github.com/ankidroid/Anki-Android/releases

[2021-07-03 17:00] mikehardy commented on #5304
This looks like a bug! I'm guessing string concatenation for the file extension with either the extension not provided or an undetectable file type? Is there any combination of API usage arguments that results in a correct extension?

Thanks a bunch for helping with the documentation, to be honest we don't get a lot of feedback from API consumers so we're not sure where the pain points are, we jus

[2021-07-03 20:42] jacktheripper19 opened #9196 "[Bug] Slow media downloads (F-droid version 2.15.4) from AnkiWeb or even from self hosted server"
###### Reproduction Steps

1. On desktop, upload a large deck (contains about 106k media files/3.5 GB in my case) to AnkiWeb or even a personal server "anki-sync-server"
2.  try to sync on Ankidroid

###### Expected Result

downloads the deck in a couple of minutes

###### Actual Result

takes forever to download with a rate of 8 media files per second while desktop anki has a rate of 300 media fi

[2021-07-03 21:05] sankayop commented on #9194
@mikehardy, you're right, I just found out it's been a very very long time my os hasn't updated... (reason is it was an alpha release and to update, I have to install a new version of the os... thus no update actually).
I'll first start with this before annoying you guys further.

For my part, if your background energy consumption is working with android11, this issue can be closed.
Sorry for both

[2021-07-03 21:15] mikehardy commented on #9194
Oh - what I meant was that you could update the version of ankidroid not your OS, I'm on Android 10 still personally for instance, it's supposed to work!

[2021-07-03 21:48] sankayop commented on #9194
Ok, my bad.
I just subscribed to the alpha group, waiting for google to provide me the update :)
I'll let you know, thanks.

[2021-07-03 22:01] Arthur-Milchior commented on #6896
Only one part of it is done. We now don't delete a note if there is no more card, we follow upstream here.
The part that is not done, and that is hard to do, is showing to the user what card will be deleted before asking them whether they want to confirm to delete them

[2021-07-03 23:17] mikehardy commented on #8993
No feedback on this one, I think it was fixed by #9055

[2021-07-03 23:17] #8993 closed

[2021-07-04 02:49] david-allison-1 opened #9199 "Sync Error UX: "Please run 'Check database' before syncing" dialog"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/62114487/124371551-c12ced80-dc7a-11eb-9bbb-3497afae8536.png)

A user did not know how to 'Check database' on AnkiDroid when this dialog appeared.

**Describe the solution you'd like**
We should provide a button on this dialog which allows 'Check database' to run

**Describe altern

[2021-07-04 04:31] mikehardy commented on #9029
No reproduction - punting to 2.16 for now

[2021-07-04 05:36] mikehardy commented on #9031
This needs a bisect of alpha versions (or commits, really) between 2.14.4 and 2.15.0 to see which version caused the problem
- step one install the templates so the problem is reproducible (or @absoluteinc could take up the test as they can obviously reproduce already, or alternatively if you could export + share a deck that has the problem by attaching it here?)
- work through the alphas by half

[2021-07-04 05:40] mikehardy commented on #9013
Even stranger for me - I can't reproduce this but if I select a large deck (10,000 cards) in card browser, then select a small deck (1000 cards), then go to settings, then go back with no change the deck browser switches itself back to the large deck?

Something is not right with the card browser...

[2021-07-04 07:36] tomorekoya commented on #9112
Hey, guys. So this looks like it's still not fixed. If no one is working on this at the moment, I'd like to try my hand at it.

[2021-07-04 09:37] tomorekoya commented on #9112
Should this documentation go into every test file, a particular test file, or the wiki?

[2021-07-04 12:33] SilentCruzer commented on #9199
Can I work on this issue?

[2021-07-04 14:45] mikehardy commented on #9199
Sure yeah - I like the idea of actually having the button right there, just make it actionable I think. We already have the translated string and everything...

[2021-07-04 14:48] mikehardy commented on #9112
I think improving it on the wiki is actually best if documentation is the answer

I would only alter actual code if there was some way to enforce it (like how the `@CallSuper` annotation works, or with some sort of unit test assertion or similar) - a custom lint rule could probably do it as well

[2021-07-04 15:04] #8920 closed

[2021-07-04 15:36] david-allison-1 commented on #9112
If a new activity is created without the code in the OP, then the following test will fail

https://github.com/ankidroid/Anki-Android/blob/9d12f5d5b06f6377b073a1530189f69f658774fd/AnkiDroid/src/test/java/com/ichi2/anki/ActivityStartupUnderBackupTest.java#L73-L93

The test partially describes the problem, but we can do better, especially explaining how to fix the issue.

[2021-07-04 16:14] #9056 closed

[2021-07-04 21:05] lrorpilla commented on #5304
No, unfortunately. I do export "image" and "audio", I just pass the file URI and my preferred name, not really sure why it acts like that, didn't really take a good look at the API function for it since it ends up working and the media files I export to AnkiDroid are shown just fine.

[Here is the commit on my app which made this work](https://github.com/lrorpilla/jidoujisho/commit/6b41e1e5fbd3b86

[2021-07-04 21:53] tomorekoya commented on #9112
Ok. I guess the most obvious place for it would be there, then. Thanks.

[2021-07-04 23:37] #7825 closed

[2021-07-05 07:36] #8689 closed

[2021-07-05 16:12] apiote opened #9210 "[Bug] “Press back again to exit”"
###### Reproduction Steps

1. Open Ankidroid
2. Go back (press back button or do back gesture)

###### Expected Result

Exit app

###### Actual Result

A toast appears “Press back again to exit”

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to

[2021-07-05 17:12] mikehardy commented on #9210
I'd take a PR that makes it a preference if you want to post one

The use case that argues for it is one I've experienced a bunch in my house: back button is right next to "Easy" button, and kid sloppy-taps resulting in an exit.

The change to 2-taps to exit was a real win for me.

[2021-07-05 18:29] apiote commented on #9210
I won’t say no. I get that everybody is a volunteer.
But let me understand that use case, when we’re at it. “Easy” button is shown on the review screen and back-twice is present on main screen. So the case would be: “Easy” button is visible, so we’re on the review screen with an answer visible, back button is tapped instead and takes us back to main screen. We’d have to tap back again to actually

[2021-07-05 18:47] mikehardy commented on #9210
It works well enough for my child. He understands the Anki interface and knows to hit the decks with reviews to do, so he stays in flow on review even after one back press takes him to deck list

Previously when it booted him out of the app completely he would actually voice his frustration.

I repeat it was a big win in my house.

I repeat I'm happy to merge a PR making it a preference if you wan

[2021-07-05 21:37] #8224 closed

[2021-07-06 00:51] #8708 closed

[2021-07-06 02:51] vgf89 commented on #5261
I still have this problem. Faster/parallel or background media downloads would be hihgly appreciated. Only getting like 1MB a minute right now.

[2021-07-06 06:00] #9112 closed

[2021-07-06 13:48] mikehardy commented on #9196
I'm going to resolve this as a duplicate of #8925 - we know this is happening, we're not sure why yet. We'll need help profiling I think, to see where the time is going

[2021-07-06 13:48] #9196 closed

[2021-07-06 15:18] eu2021 commented on #3304
Was this supposed to be fixed on 2.14? I'm still getting it on 2.15.4, in some situations, as I reported [here](https://github.com/ijgnd/anki__editor_jseditor_for_current_field/issues/8).

[2021-07-06 15:27] KursX opened #9214 "API module lint settings can break builds in consuming app's release process (workaround included)"
I use anki export api in my project

`implementation 'com.github.ankidroid:Anki-Android:api-v1.1.0'`

And see lint errors:

[code]

[code]

[code]

Why library does check my project code?
How to disable it?

[code]

[2021-07-06 16:01] mikehardy commented on #9214
It is not easy to control these things, and we have very tight lint settings on our repos here, but it appears we have not actually fixed them in the API module (they're all clean on the main AnkiDroid module)

In the interim I suggest some gradle magic to disable things

Taken from a PR I made in a different repository I maintain https://github.com/invertase/react-native-firebase/pull/5208/files#

[2021-07-06 16:03] mikehardy commented on #3304
Have you tried the new preference mentioned here? https://github.com/ankidroid/Anki-Android/pull/7692

[2021-07-06 17:54] eu2021 commented on #3304
I thought I had to have it on. I haven't read correctly, sorry.
Now, I turned it off and everything is perfect. Thanks!

[2021-07-06 18:50] apiote commented on #9210
I sounded rude. I’m sorry.

I don’t want to change solution which works for You no matter how it is implemented; I want to give people an option to change it on their devices. You’ve made it clear that this implementation is fine by You.

It works for You and it is You who makes decisions here. I don’t understand the use case but it’s all right, I don’t have to.
I’m not a parent, an educated pedao

[2021-07-06 18:57] eskoONE commented on #8114
Do you guys want to have another look at this issue? The guy that wanted to work on this didn't have the time to do so and left it open for others. Since nobody seems to be working on this anymore, I wanted to make sure you guys have seen this, since you showed interest on working on this issue.

I think ankidroid is in a dire need of a notification system overhaul, since its practically not very

[2021-07-06 19:00] eskoONE commented on #8114
I meant to ping @haran2248 and @prateek-singh-3212, please read the comment above.

Sry about the double post.

[2021-07-06 19:22] mikehardy commented on #9210
No worries - I think it's fine to leave open in case others want to work on it as well (there is a large crew of volunteers) and if/when a PR comes in I'll merge it. It's a win for me, no question, but my experience with AnkiDroid is that for the same feature there are always people that both love and hate it - it's impossible to please everyone. But then everyone hates that we have all these sett

[2021-07-06 20:09] prateek-singh-3212 commented on #8114
@eskoONE  Thanks for reminding me about this issue. Currently their are 3 issues of ankidroid in my todo. But I will take this one because I want to brush up my notification concepts.

[2021-07-06 20:11] david-allison-1 commented on #8114
@eskoONE Would you be interested in taking this on?

I feel the design on this one is going to be more work than the coding.

[2021-07-06 20:16] ThoreBor opened #9215 "[Feature] Press back twice while reviewing to return to the deckpicker"
**Is your feature request related to a problem? Please describe.**
While reviewing I often accidentally hit the back button when answering a question. This is frustrating because it disrupts my studying, especially because after I reopen the deck I get a different card and I have to do the other one again later.

**Describe the solution you'd like**
Ask if I really want to go back when pressing ba

[2021-07-06 20:53] eskoONE commented on #8114
@prateek-singh-3212 Great, thank you for taking this one on you.

@david-allison-1 unfortunately my coding skills are very limited and I don't know any java at all. If there is some mundane python scripting to be done, perhaps I could be of use.

[2021-07-07 00:18] tomorekoya commented on #8324
Hi. I would like to look into this.

[2021-07-07 00:59] david-allison-1 commented on #8324
Sounds good to me

[2021-07-07 02:30] tomorekoya commented on #8324
So my first question would be about step 1 in the reproduction:
1. Does <code>```2.1.41</code> refer to the desktop app's version number that I should be testing with?
2. How do I create a filtered deck?

[2021-07-07 02:35] tomorekoya commented on #8324
Actually, never mind about number 2. I just YouTubed it.

[2021-07-07 03:33] Akshay0701 commented on #9171
only png and gif support alpha channel in it and we already processing it by our default checks,
So, David do we really need to check for the alpha/transparency channel in the image file?

[2021-07-07 07:11] KursX commented on #9214
Maybe this is better solution
[code]

[2021-07-07 14:54] Mohaned-Elfeky commented on #9192
Can I work on this?

[2021-07-07 16:16] mikehardy commented on #9214
That could certainly also work!
I'm going to reopen this though to check the lint settings, we shouldn't blow up other people's release process with our lint rules when they ingest the api module as a dependency. As linked on react-native-firebase I've seen this happen before and it's an anti-pattern and I'd like to fix it

[2021-07-07 17:10] david-allison-1 commented on #9214
Solutions that I see, second would be best. First is definitely easy to do

* Only have lint work on the `com.ichi2` package
* Remove the lint.jar from the API before publishing

[2021-07-07 21:42] david-allison-1 opened #9223 "[Bug] Kotlin: `COMPANION` is caught by naming conventions [ConstantFieldName]"
[code]

[2021-07-07 22:36] #9214 closed

[2021-07-08 00:09] david-allison-1 commented on #9171
My understanding from the requirements (https://github.com/ankidroid/Anki-Android/pull/9080#discussion_r660166058):

* Anki Mobile will always use `.jpg`
* Unless the file has an alpha channel, in which case it will use `.png`

We currently (I believe):

* convert a transparent gif to a jpg
  * (we need to ask what we want to do about animations here)
* Do not convert a non-transparent png to a jp

[2021-07-08 00:13] dae commented on #9171
If AnkiMobile detects a gif on the clipboard, it keeps it as a gif, as some users want the animations.

[2021-07-08 04:26] leitz010 commented on #9170
[Update]

After further investigation, I found that the problem with the Automatic Display Answer setting not working is related to the TTS language being set to "don't speak".

If you settle language to the front and back sides of the cards in a deck in the TTS language settings, the automatic display answer setting will work fine. But if you set the TTS language to "don't speak" on either side o

[2021-07-08 06:07] sankayop commented on #9194
Ok, I'm using alpha for 4 days now and all looks fine.
Thanks for the guidance!

[2021-07-08 06:07] #9194 closed

[2021-07-08 09:46] pavreh opened #9225 "[Bug] Android 8.0: .ogg cannot be added"
.ogg file can be attached to a card in Anki and it plays during review in AnkiDroid but .ogg cannot be attached to a card in AnkiDroid.

###### Reproduction Steps

1. Add note
2. Add audio clip (in a field)
3. LIBRARY
4. Select an .ogg file

###### Expected Result

The line [sound:filename.ogg] is added to the field.

###### Actual Result

The .ogg file is gray and cannot be selected.

###### Debu

[2021-07-08 16:13] david-allison-1 commented on #9225
Hi, thanks for the report.

This is likely an issue with your android system not reporting the `ogg` as media.

Could you upload the file and we'll see what we can do

Ref: https://github.com/ankidroid/Anki-Android/blob/fd8fac37e7d38e0aaacc1db4c49c1b3d22803451/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/BasicAudioClipFieldController.java#L61-L70

Best,

David

[2021-07-08 16:43] pavreh commented on #9225
Great, there is the file.
[flush__gb_1.zip](https://github.com/ankidroid/Anki-Android/files/6786038/flush__gb_1.zip)

[2021-07-08 16:48] #8747 closed

[2021-07-08 17:18] david-allison-1 commented on #9225
Works on my Android 11. Might take a bit of time

[2021-07-08 17:19] david-allison-1 commented on #9225
Just confirming: the `ogg` is on your device, and not from a cloud provider or similar?

[2021-07-08 17:33] david-allison-1 opened #9226 "[Bug] Crash on startup if no WebView"
Just tried running AnkiDroid on an Android 8 emulator. On me to triage, could be a bad collection

[code]

`mDecks.getDid(1) == null`

[2021-07-08 17:43] david-allison-1 commented on #9226
Strange collection - only `conf` was defined, rest of the JSON was blank

[2021-07-08 17:48] david-allison-1 commented on #9226
Issue with no WebView Renderer. Seems to create a corrupt collection

[code]

[2021-07-08 18:30] david-allison-1 commented on #9225
Reproduced on Android 8.0

![image](https://user-images.githubusercontent.com/62114487/124973006-e925a380-e022-11eb-9672-9e31d1330851.png)

[2021-07-08 18:45] david-allison-1 commented on #9225
Thanks so much for the report.

I've put in a fix for this, it's awaiting review, and I expect that it will be available for 2.16alpha4

[2021-07-09 02:39] mikunimaru commented on #8889
Considering the possibility of an upstream bug, I tried synchronizing anki desktops between a virtual PC and a normal PC, and even if I change the "graduation interval", it seems that anki desktops synchronize correctly.

It seems that the bug is more likely to be on the ankidroid side.

[2021-07-09 04:17] timathon commented on #8876
AnkiDroid is getting the "AND" operator wrong.
For example, in Anki desktop, when filtered by
[code]
In order to get the same result, in AnkiDroid, we need to delete AND from the query, that is
[code]
.
The "OR" operator should be fine.

[2021-07-09 04:38] pavreh commented on #9225
Thank you David, it was quick.
Pavel

[2021-07-09 11:06] hydeswag opened #9230 "[Bug] Crash when opening statistics"
I have ankidroid 2.15.5beta1
My phone is a google pixel 4a 5g on android 11

I tried restarting my phone and it did nothing. Everything else seems to work fine.

edit : i don't know what happened but now it works? i just got to a new day and it's not crashing but it might happen again once i review cards?

[2021-07-09 11:21] david-allison-1 commented on #9230
Hi, thanks for the report. Could add in "Settings - Advanced - About AnkiDroid - Debug Info" to your post?

[2021-07-09 11:23] david-allison-1 commented on #9230
Likely: https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/cc588ffa-0511-4eba-b1f1-cab6f363fc52

[code]

[2021-07-09 11:26] david-allison-1 commented on #9230
Likely cause is 7cacb3396a0302898cc17be88af574387ae65636 (https://github.com/ankidroid/Anki-Android/commit/a8a8d92c96f87befc65d71684d2de7541637b1aa on 2.15)

[2021-07-09 11:32] david-allison-1 commented on #9230
https://github.com/ankidroid/Anki-Android/blob/a8a8d92c96f87befc65d71684d2de7541637b1aa/AnkiDroid/src/main/java/com/ichi2/libanki/stats/Stats.java#L881-L887

An index of 25 would mean a negative value (totally possible: `-2 % 24 == -2`)

Likely caused by our new timezone code

https://github.com/ankidroid/Anki-Android/blob/00abc059f60fd18ddc9e77d2425436a3cad044ed/AnkiDroid/src/main/java/com/ichi2/

[2021-07-09 12:17] voidplayer commented on #8158
still searching for solutions

[2021-07-09 14:23] #9225 closed

[2021-07-09 15:19] BilderLoong opened #9231 "[Feature] Add new JavaScript API to bury current card and add tags to current note."
**Is your feature request related to a problem? Please describe.**
I want to bury and add tags to cards that have overflowing content in the current mobile device, because it's frustrated to review cards that have overflow content.

**Describe the solution you'd like**
I want to use JavaScript to check whether the current card has overflowing content. If so I want to bury it and tags it, then I ca

[2021-07-09 15:59] mikehardy commented on #9230
Thanks for the report @hydeswag ! Sorry for the crash - unintended consequence of a different fix where I tried to normalize the hourly breakdown graph by calculating for "all hours in the day", naively thinking that those would, you know, 24 hours ;-) #9200

I'll look into this and repair it. Really appreciate the beta testing and the crash report so this doesn't affect the whole userbase

[2021-07-09 16:02] mikehardy commented on #9170
That is a very interesting finding! That's something we can work with I think, thanks for reporting back

[2021-07-09 16:11] #9226 closed

[2021-07-09 16:13] #9223 closed

[2021-07-09 16:16] mikehardy commented on #9231
My general policy is that within the reviewer, any of the actions we allow via the Java reviewer UI (like, actions from the menu) are things I will support being exposed in the Javascript API, so this works for me as an addition if someone wants to take this up and they don't exist already

[2021-07-09 23:50] nicdard commented on #9104
I would like to work on this feature, but I miss a little bit of context on where to find the js API bindings for example. Also maybe we can move the js code to typescript instead of just and the definition file. Having typescript would allow us also to use openapi specification for example and get typescript types and stubs from a specification either written or generated from java code. Last but

[2021-07-09 23:50] nicdard opened #9234 "Use typescript instead of js for API"
I would like to work on this feature, but I miss a little bit of context on where to find the js API bindings for example. Also maybe we can move the js code to typescript instead of just and the definition file. Having typescript would allow us also to use openapi specification for example and get typescript types and stubs from a specification either written or generated from java code. Last but

[2021-07-09 23:51] nicdard commented on #9234
Opened by mistake!

[2021-07-10 00:03] BilderLoong commented on #9231
It will help me a lot if your guys have time to implement this kind of APIs.
Also, very appreciate your guy's hard work.

[2021-07-10 06:08] infinyte7 commented on #9104
There are various JavascriptFunction in AbstractFlashcardViewer.java. Those functions work as JS API. So during review API like `ankiGetLrnCardCount` called then AbstractFlashcardViewer return learn card count immediately.

So, here implementation is make this asynchronous.
 More info
- [AbstractFlashcardViewer.java](https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com

[2021-07-10 14:50] mikehardy commented on #9230
From the crash report,

- "dayOffset" is 4

- "schedVer" is showing up in the crash report as `TRUE`  which was a little confusing. The way it is handled in the code is not as an actual version but as a boolean whether user *wants* v2 scheduler or not. That whole area bears some inspection as it is not v1 vs v2 in future state, with vNext coming, and pluggable schedulers possible in future?

Anywa

[2021-07-10 15:44] mikehardy commented on #9234
NP - I code typescript professionally though, and strongly prefer it over javascript, if that's of any use as a perspective / way of thinking. Anything that would have us use+support typescript by default vs javascript would be fantastic IMHO.

[2021-07-10 17:00] #9210 closed

[2021-07-10 17:00] #9215 closed

[2021-07-10 17:38] #8089 closed

[2021-07-10 17:43] mikehardy commented on #9225
Just launched 2.16alph5 which has the related PR merged - https://docs.ankidroid.org/manual.html#betaTesting (explains how to get alphas as well)

[2021-07-10 17:44] mikehardy commented on #9210
Just launched 2.16alph5 which has the related PR merged - https://docs.ankidroid.org/manual.html#betaTesting (explains how to get alphas as well) :rocket:

[2021-07-10 18:49] nicdard commented on #9234
I changed the title of this and I am gonna reopen it to serve as discussion for typwscript proposal since I have seen that there is some interest. :)

[2021-07-10 20:36] #8110 closed

[2021-07-10 22:17] #9234 closed

[2021-07-10 22:22] nicdard commented on #9104
I have investigated this, it was a new topic for me, since I never used webViews and Js bindings. As far as I have understood the `JavascriptInterface` annotation allows only to return primitives or objects, which are serialised into JSON, that makes usage of Future-like objects not usable. To allow an async interaction we would need then to have some other form of calling back js after the operat

[2021-07-10 23:50] mikehardy commented on #9230
@hydeswag I think 2.15.5beta2 should be out on the play store if you could give it a try? I'm reasonably certain I fixed it but I couldn't reproduce it locally, so you are actually our best test case for this one. Would love to hear how it goes. Thanks!

[2021-07-11 00:52] #7375 closed

[2021-07-11 00:57] david-allison-1 opened #9242 "[Bug] Copyright lint check not running"
https://github.com/ankidroid/Anki-Android/pull/9240#discussion_r667403068

[2021-07-11 00:58] david-allison-1 commented on #9242
Theory: aae98e787f7bcbcd5235d2e273d8ae6593335ffd - if `Anki-Android`  depended on `api` for the checks, then this would have disabled them

[2021-07-11 02:07] mikehardy commented on #9104
I don't have a concrete suggestion here, but it feels like we want to do exactly what (for example) react-native does, with a javascript/native bridge. I'm not sure how exactly they do it at this level - as in how the bridge is coded. This needs a lot more thought than I have time to offer here at the moment unfortunately

[2021-07-11 02:41] #9242 closed

[2021-07-11 02:49] mikehardy commented on #9242
:zap:

[2021-07-11 08:33] hydeswag commented on #9230
actually it just happened again right now
what's weird is that the statistics are fine the day but I think once it gets to midnight and after, it starts crashing? Yesterday I studied the day and I'm pretty sure my statistics were fine when I looked at them throughout the day but I'm not sure if i looked at them after midnight. I have a feeling that studying after midnight is what triggers it? i ha

[2021-07-11 08:39] david-allison-1 commented on #9230
Are you sure you're on beta2? No crashes in ACRA for the release yet.

`Settings - Advanced - About AnkiDroid - Copy Debug Info` to check

[2021-07-11 08:44] nicdard commented on #9104
@infinyte7 I have seen that we are using currently`onPageFinished` to run a javascript function with the same name which is defined in card.js. My question is, sorry for this as I said I am still new to the topic, is card.js always loaded into the WebView? Where is this performed? Because in that case it can be easier to set up a bridge for async functions based on messages.

[2021-07-11 09:01] infinyte7 commented on #9104
AnkiDroid used webview to show cards/notes in reviewer UI, so HTML, CSS and JS used in `card.js`.

You can view how `card.js` loaded in this image. Enable HTML/JS debugging from advanced settings in AnkiDroid then use chrome to debug/view it.
https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection

![无标题](https://user-images.githubusercontent.com/12841290/125189

[2021-07-11 09:50] hydeswag commented on #9230
AnkiDroid Version = 2.15.5beta1

Android Version = 11

Manufacturer = Google

Model = Pixel 4a (5G)

Hardware = bramble

Webview User Agent = Mozilla/5.0 (Linux; Android 11; Pixel 4a (5G) Build/RQ3A.210605.005; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/89.0.4389.105 Mobile Safari/537.36

ACRA UUID = 3d84f6ae-4043-484d-a59e-ac642a2f6454

Scheduler = std

Crash Reports Enabled =

[2021-07-11 09:52] hydeswag commented on #9230
oh nvm my bad it's not beta 2, I'll see if it's fixed when i get the update

[2021-07-11 09:54] #9230 closed

[2021-07-11 09:55] david-allison-1 commented on #9230
No worries! We've all been there. Give me a shout if it's still an issue

[2021-07-11 16:43] ashrafbelim commented on #8889
A quick around for this issue is that If you install any how anki on desktop and change the deck options then sync it It will reflect in mobile and tablet both

[2021-07-12 08:48] hydeswag commented on #9230
I tested it on beta2 and it is fixed

[2021-07-12 14:13] mikehardy commented on #9230
Thanks so much for reporting back. I think that was our last holdup on releasing 2.15.5, it has a ton of fixes I'm looking forward to releasing to the whole userbase so this is great news

[2021-07-12 19:58] Thezonegan opened #9255 "No cards are due yet- Issue"
Hi, today I download anki, thus I was getting add-ons, later I import decks with many flash cards but in the screen always said that I don´t have any cards, but I have, How can I fix it?

https://user-images.githubusercontent.com/87337493/125347863-12934780-e321-11eb-9cb6-bde66e11046c.png
https://user-images.githubusercontent.com/87337493/125348039-55551f80-e321-11eb-9981-d930dbbea5e9.png
https://

[2021-07-12 20:05] #9255 closed

[2021-07-13 03:38] #8785 closed

[2021-07-13 05:51] gjgress commented on #9146
I am also experiencing this issue on my Samsung Galaxy Note 9. I am on the latest AnkiDroid build as well. Happy to provide more details upon request.

Here's my debug info:
[code]

[2021-07-13 16:03] mikehardy opened #9259 "Switch AnkiDroid publishing from APK-first to AAB-first"
APK files are deprecated by Google for publishing, for good reason.

APK Cons:
- space optimization is manual (different builds for different CPU architectures, screen sizes etc)
- signing key vulnerabilities (no way to rotate a signing key if compromised, like our CodeCov issue)

APK Pros:
- ?

AAB Cons:
- you have to generate an APK for other markets anyway (Amazon AppStore, Huawei AppGallery)

[2021-07-13 19:49] david-allison-1 opened #9260 "Extend Copyright header lint check: explain requirements for including GPL-compatible licenses"
Had this come up in Discord

See: https://softwarefreedom.org/resources/2007/gpl-non-gpl-collaboration.html (Sect 2.2)

[2021-07-14 05:57] jreppnow opened #9262 "App crashes when editing card during review"
Hi, this is occuring since the last update.

Steps:

1 Start Review of a deck.
2 After passing some cards, choose to edit one of the cards.
3 In the edit dialogue, remove some text from a field.
4 Press the confirm button (checkmark in the top bar).

Here, the app becomes completely unresponsive and has to be forcefully restarted.

AnkiDroid Version = 2.15.5

Android Version = 11

Manufacturer = G

[2021-07-14 06:06] jreppnow commented on #9262
![Screenshot_20210714-080044](https://user-images.githubusercontent.com/40561502/125571377-947fcaf0-6bb0-4255-a2d1-333f24642fdc.png)

This is the screen you get stuck in.

[2021-07-14 07:22] david-allison-1 commented on #9262
Hi, thanks for the report.

I can't reproduce this (2.16alpha or 2.15.5)

Could you go to `help - get help - send troubleshooting report`

Could you then zip and upload your collection to GitHub (located at AnkiDroid/collection.anki2)

If your collection contains personal information, please don't upload it and let us know. We'll discuss how to get it privately.

Best,

David

[2021-07-14 07:25] AlexApps99 opened #9263 "[Bug] Reset to Default does not refresh UI in App Bar Buttons"
###### Reproduction Steps

1. Press reset to default in app bar buttons

###### Expected Result
The UI shows the default settings as soon as the button is pressed

###### Actual Result
Internally, default settings are set, but this is only reflected after exiting and reopening the menu (before that, incorrect values are shown)

###### Debug info
Refer to the [support page](https://ankidroid.org/do

[2021-07-14 07:28] david-allison-1 commented on #9161
Still seeing similar crashes in ACRA for 2.15.5

@mikehardy just confirming this went in before I investigate further

[2021-07-14 07:34] david-allison-1 commented on #9262
While we're diagnosing this, have 2.15.4.Parallel.A, which should still work: https://github.com/ankidroid/Anki-Android/releases/tag/v2.15.4

[2021-07-14 07:40] jreppnow commented on #9262
Hi, I van upload my collection in the evening (my time, so in 8-10 hours). For the meantime, I wanted to let you knoe that the change went through after I sent the Bug report, and I have also been unable to reproduce the issue since, eben with the same deck.

[2021-07-14 08:07] jreppnow commented on #9262
I have sent the troubleshooting report referencing this issue in the description. My collection is attached to this comment:

[collection.zip](https://github.com/ankidroid/Anki-Android/files/6814528/collection.zip)

[2021-07-14 09:26] bsnodin commented on #9154
Update: I had to do a ~factory reset on my phone and I now seem to be able to sign in to AnkiWeb and sync as usual.

It's not obvious to me whether or not some underlying issue with my phone was causing the AnkiDroid/AnkiWeb issue and the issue that caused me to need to do a factory reset.

I'm happy for this issue to be closed but I'll leave it open since I'm not sure what the proper procedure is

[2021-07-14 12:33] NinoDLC commented on #8482
I'm curious (and facing the same problem... currently downloading 6 Go with Visual Studio Installer only to get a .dll...), why do we need some .dll to run Android Tests ?

[2021-07-14 12:50] mikehardy commented on #9161
Was picked, yes, as far as I know 🤔

[2021-07-14 12:56] david-allison-1 commented on #9161
@mikehardy Could you check the below

Ref: #9163

Contains two commits

https://github.com/ankidroid/Anki-Android/commit/a57f063018f82bf2473261c5d156cf060057d284 and https://github.com/ankidroid/Anki-Android/commit/d36a76c02526236b9a5e5d499e94f89f844e8387

a57f063018f82bf2473261c5d156cf060057d284  -> 2e3dcae3b30c4dd5f43bb7c8aa3be7a774aec056
d36a76c02526236b9a5e5d499e94f89f844e8387 -> ?

[2021-07-14 13:01] NinoDLC commented on #8482
After putting `libgcc_s_seh-1.dll` (76Ko) and `libwinpthread-1.dll` (65Ko) in a folder inside my PATH, rebooting computer, and launching `./gradlew jacocoTestReport`, it still doesn't work.

Error is :
`java.lang.UnsatisfiedLinkError: C:\Users\Nino\AppData\Local\Temp\rsdroid3735626077991595567.dll: is not a valid win32 application`

Some Espresso tests ran correctly. But as usual, Robolectric is h

[2021-07-14 13:18] david-allison-1 commented on #8482
Haven't seen this one. I have to confirm: are you running on 64 bit Windows?

[2021-07-14 14:08] Akshay0701 opened #9265 "Add help button in V2 scheduler confirm dialog."
![Capture](https://user-images.githubusercontent.com/52353967/125635875-8a334f59-70a8-4911-9a4b-d8c6f0ccee4c.PNG)

In V2 scheduler confirmation dialog, it's advising the user to look at documentation before activating this setting,
so it would be good if there is a help button over the left side which will redirect to the right documentation of this [Anki 2.1 scheduler](wfaqs.ankiweb.net/the-anki-

[2021-07-14 14:23] mikehardy commented on #9154
I had saved this one for inspection but without a reproduction I did not have any leads on it.
I'm really glad you're working again!
Since we can't reproduce and you're moving forward I think the best is to close it yes.
Cheers

[2021-07-14 14:23] #9154 closed

[2021-07-14 15:37] NinoDLC commented on #8482
Yes, 64 bit Win 10

[2021-07-14 16:37] mikehardy commented on #9161
Dangit. Did a complete audit of the picks - also missed this #9036

This one here points at a process flaw I had - it is difficult to tell just from the PR itself if something was squash-merged or not, and there have been a lot of those. I was lulled into thinking 9163 was 2 commits squashed to one so I just looked at the single commit github mentions is merged to master (regardless of how many ar

[2021-07-14 16:41] mikehardy commented on #9161
Oh - on further inspection the unrelated one I thought I missed (9036) was in there, it was milestoned incorrectly, it went out with 2.15.4.

So, just a squash-merge vs rebase-merge commit list verification failure on my part for the one commit. Le sigh

[2021-07-14 16:42] #9161 closed

[2021-07-14 16:46] Starkly commented on #8482
I believe Git Bash is based on Ming64, which when installed includes both libgcc_s_seh-1.dll and libwinpthread-1.dll in it's default path (/mingw64/bin). Note that PATH is when running a git bash shell; it's not added to the windows PATH by default. That might  be an easier way to get the libraries, and you could try running gradlew from the git bash.

Also can post the result from java -version f

[2021-07-14 18:22] infinyte7 commented on #8482
@Starkly Thanks I have using WSL for testing.

Git Bash is working properly in windows.

![image](https://user-images.githubusercontent.com/12841290/125672810-88a7ef73-1993-4d19-95b5-ff731d1879ca.png)

[2021-07-14 18:28] infinyte7 commented on #8482
@Starkly Thanks, it helps. I was using WSL.
But Git Bash is more helpful.

![image](https://user-images.githubusercontent.com/12841290/125673551-64f8e8b0-9cfa-473d-a090-4d9b7695f621.png)

[2021-07-14 18:28] NinoDLC commented on #8482
Agreed, same conclusions here, it works with basic git bash.

I use PowerShell for Git and other CLI, `./gradlew jacocoTestReport` doesn't work with PowerShell, even with the "dll in PATH" trick. The command to open PowerShell with a "Git Touch" is `%SystemRoot%\System32\rundll32.exe "%SystemRoot%\System32\dfshim.dll",ShOpenVerbShortcut %LOCALAPPDATA%\GitHub\GitHub.appref-ms|--open-shell`

Before

[2021-07-14 19:01] infinyte7 commented on #8482
I have run the following command in Git Bash and the it build successfully.  From android studio there were `java.lang.UnsatisfiedLinkError`.

[code]

![image](https://user-images.githubusercontent.com/12841290/125677666-99092e4a-b4fe-4e07-a23d-9ba29f627965.png)

[2021-07-14 19:07] Starkly commented on #8482
So assuming that your Git Bash environment is using the same java as your PowerShell, this implies the root cause may be one of the other .dll's that  libgcc_s_seh-1.dll and libwinpthread-1.dll depend on

you can use the utilities 'Dependencies', 'Dependency Walker', or 'dumpbin /dependents' on each .dll, to find out what they depend on and make sure all of those are in the right PATH

[2021-07-14 19:12] david-allison-1 commented on #9263
From 2016

https://github.com/ankidroid/Anki-Android/blob/6e341ed1daa207ed9c22539c196d5e944d8fd80b/AnkiDroid/src/main/java/com/ichi2/anki/Preferences.java#L412-L413

[2021-07-14 19:50] NinoDLC commented on #8482
Other than what you stated before :

There's no other dependencies found, everything else is in system32\ folder. I have no idea why it doesn't work on PowerShell

![image](https://user-images.githubusercontent.com/11870220/125683833-387291e4-5d18-459c-b263-88ff08336faa.png)

[2021-07-14 20:36] cygnetlakes opened #9267 "fullscreen mode with hide the system bars (after v2.15.5)"
hi, there.
after updated to v2.15.5, fullscreen mode with hide the system bars, there are spaces at the top and the bottom, not fully hide the system bars, and v2.15.4 works perfectly before.
many thanks.
![Screenshot_01](https://user-images.githubusercontent.com/87444056/125690304-4b0b4363-f9ba-40c3-927f-a66502d587d2.png)
![Screenshot_02](https://user-images.githubusercontent.com/87444056/1256903

[2021-07-14 23:07] david-allison-1 commented on #8937
@mikehardy Is this fixed by https://github.com/ankidroid/Anki-Android/pull/9025 ?

[2021-07-14 23:41] Kayx23 commented on #6614
My "Display -> DarkMode" is off for all apps. Still experiencing the same issue on AnkiDroid version 2.15.5. My phone is on MIUI Global 11.0.6 Stable.

I already developed muscle memory of where the buttons are lol, no worries

[2021-07-15 01:08] mikehardy commented on #8937
Unknown

[2021-07-15 07:08] prateek-singh-3212 commented on #9267
Thanks @cygnetlakes for reporting this issue. I am unable to reproduce this issue in my device (AnkiDroid Version 2.15.6). Please share the debug info so that we can investigate further.

For Debug info GOTO:- Settings -> Advanced -> About AnkiDroid

[2021-07-15 15:55] AbdelrahmanHamdy1998 commented on #9267
Yes Can confirm that's also happening with me

AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = samsung

Model = SM-G970F

Hardware = exynos9820

Webview User Agent = Mozilla/5.0 (Linux; Android 11; SM-G970F Build/RP1A.200720.012; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/91.0.4472.120 Mobile Safari/537.36

ACRA UUID = 25d26066-b9fd-4cb1-a98f-c863690352d3

Sched

[2021-07-15 16:03] david-allison-1 commented on #9267
[code]

Cause: b752c5e26c6d09823eccedd95647ae284d5b609d

[2021-07-15 16:04] asabir123 opened #9273 "AnkiDroid not working"
Hi,
Whenever I try to sync my flash cards on my Chromebook it says Sync Error: Your anki client is not compatible with the V2 Scheduler.

[2021-07-15 16:13] david-allison-1 commented on #9267
Cause: https://github.com/ankidroid/Anki-Android/blob/b752c5e26c6d09823eccedd95647ae284d5b609d/AnkiDroid/src/main/res/layout/navigation_drawer_layout.xml#L7

@mikehardy @ShridharGoel

[2021-07-15 16:14] david-allison-1 commented on #9273
Hi, `Settings - Advanced - About AnkiDroid - Copy Debug Info`

You're very likely using an old version of AnkiDroid and should update

[2021-07-15 16:15] asabir123 commented on #9273
Hi
This is the debug info:
AnkiDroid Version = 2.8.4 Android Version = 5.0 ACRA UUID = 950c5d9e-70a4-4e03-a676-6553d54f600e

[2021-07-15 16:16] asabir123 commented on #9273
What is the updated version?

[2021-07-15 16:21] mikehardy commented on #9267
The actual commit if you unwind the chain of cherry picks and reverts is https://github.com/ankidroid/Anki-Android/commit/4e914eae50aee209a1e416671c3463eee766700f

Release branch is in sync now with main branch though so should be reproducible on main branch as well, fixed there then cherry picked for another release depending on demand and 2.16 timing

[2021-07-15 16:25] david-allison-1 commented on #9273
We're at 2.15.6, which still supports your device

[2021-07-15 16:27] asabir123 commented on #9273
im using a school computer, so playstore is blocked. is there any other alternative way of updating it.

[2021-07-15 16:27] david-allison-1 commented on #9273
https://github.com/ankidroid/Anki-Android/releases

[2021-07-15 16:35] asabir123 commented on #9273
ive downloaded all of them but the issue is the same. It says that we have to you use an application on the chrome web store to open the files. I dont know which application can you help me?

[2021-07-15 16:40] david-allison-1 commented on #9273
You should be able to open the apk directly on the chromebook without an app.

@mikehardy Is it possible for us to update AnkiDroid on the Chrome Web Store at this point?

[2021-07-15 16:42] asabir123 commented on #9273
it says this for all of them:
![image](https://user-images.githubusercontent.com/80747952/125825619-06dc1ad4-6b73-404c-ac7f-dd043a4e2860.png)

[2021-07-15 17:15] asabir123 commented on #9273
have you received a reply from @mikehardy

[2021-07-15 17:57] mikehardy commented on #9273
No. Publishing apks on Chrome web store appears irretrievably broken from last investigation, none of the binaries in the tool chain work. Only remediation I think is to unpublish it somehow if possible, or update the listing to say it is no longer maintained and the current apk should be installed from play store or releases page

[2021-07-15 18:11] asabir123 commented on #9273
Okay so what should i do?

If AnkiDroid from chrome web store has not been updated, then in the past (a month ago) when i would sync it, it never used to say this.

[2021-07-15 20:08] cygnetlakes commented on #9267
thank you all very much for the help

##
have tested on some devices (android version 5.11/7.11/11.0, and ankidroid version 2.15.4/2.15.5/2.15.6/2.16a5)
there are the same issues for [hide the system bars and the answer buttons]

here is the one of debug info:
AnkiDroid Version = 2.16alpha5

Android Version = 7.1.1

Manufacturer = motorola

Model = Nexus 6

Hardware = shamu

Webview User Agent = M

[2021-07-15 21:24] david-allison-1 opened #9274 "Reviewer: Use of stream types is deprecated for operations other than volume control"
[code]

See the documentation of [setAudioStreamType()](https://developer.android.com/reference/android/media/MediaPlayer#setAudioStreamType(int)) for what to use instead with `android.media.AudioAttributes` to qualify your playback use case

[2021-07-16 02:21] david-allison-1 commented on #9267
Stared at this for a few hours, turned out that my original statement was correct.

`android:fitsSystemWindows="true"` is set in most views, but not in `reviewer_fullscreen`:

(2.14 below)

https://github.com/ankidroid/Anki-Android/blob/8732fe311fc3a6813b0ad7b4d1a6b4e8b5ebd655/AnkiDroid/src/main/res/layout/reviewer_fullscreen.xml#L1-L5

We need a way to optionally set this

[2021-07-16 03:20] david-allison-1 opened #9279 "2.15.6: [Tablet] White space on Home screen"
##
besides, there is a little issue of layout at top-right corner, if using tablet (after v2.15.5)
best regards!

![Screenshot_01](https://user-images.githubusercontent.com/87444056/125849680-1e114b06-81a8-4e5c-ac78-689de542f03b.png)
![Screenshot_02](https://user-images.githubusercontent.com/87444056/125849690-bc0154bb-50ef-47ef-b9ec-2c0f6baa843c.png)

debug info:
AnkiDroid Version = 2.15.6

Andro

[2021-07-16 10:38] #7996 closed

[2021-07-16 13:31] mikehardy commented on #9279
Must be more fallout from all the layout changes from making full screen navigation drawer swipe an option - @ShridharGoel was the last touch in there I think

[2021-07-16 13:34] mikehardy commented on #9265
I noticed this the other day. I think a Help button is a good idea but the whole text needs a new string now.
It's no longer experimental at all, we're going to be forcing a migration to it shortly
The only downside is that during the actual switch, your cards may be scheduled differently for a short while?

What I would like to see is the string say:
- exactly what the scheduling effect is that m

[2021-07-16 13:37] david-allison-1 commented on #9265
Once we move to a later version of the Rust, the scheduler upgrade doesn't have the downside of resetting the step-based cards, it's free, but will cause UX issues that we need to explain "why do my learn cards now have a "hard" step, what does it mean?

[2021-07-16 13:44] mikehardy commented on #9273
You have converted your collection to the v2 scheduler at some point, on some other device, so it is no longer compatible with the older releases.
Convert it back to the v1 scheduler and it should sync

With apologies, there is nothing we can do here, the chrome web store is extraordinarily developer unfriendly in my experience and I can no longer push updates to it. The expectation is that the pl

[2021-07-16 13:44] #9273 closed

[2021-07-16 13:45] asabir123 commented on #9273
How do i convert it?

[2021-07-16 13:50] mikehardy commented on #9273
Get a device you control, with Anki on it. Like, Anki Desktop or a cell phone. Install Anki and get your collection on it.

There should be an option to manage the scheduler version.

In AnkiDroid it is "settings --> advanced", in there you may toggle v1 or v2 scheduler.

[2021-07-16 13:52] asabir123 commented on #9273
okay thank you. Which one should I do (V1 or V2)?
Also, will the setting update on the chromebook as well?

[2021-07-16 13:59] mikehardy commented on #9260
So the expected outcome here is to extend the output of this check in it's error messaging?

Such that:

- If there is a copyright header
- and it is not GPL3 (what we lint for?)
- then provide this link for the user to confirm the license is acceptable
- and prescribe that if it is acceptable they may add a suppress warnings for it?

[2021-07-16 14:19] mikehardy commented on #9273
The scheduler version is embedded in your collection
Your collection is what syncs between devices
Ankidroid 2.8 does not know of, and does not work with v2 scheduler so if AnkiDroid 2.8 compatibility is important to you, you must choose v1 scheduler

After you do this you will be forced to do a full sync, it is an incompatible change and not merge-able in the collection, so whatever device you co

[2021-07-16 14:21] david-allison-1 commented on #9273
`Settings - Advanced - Scroll Down - V2 Scheduler - Disable it`

[2021-07-16 14:31] asabir123 commented on #9273
Okay thank you very much

[2021-07-16 14:36] mikehardy commented on #9013
Fix this going out in the next alpha @Andrej-Adamenko today :rocket:

[2021-07-16 14:37] #9013 closed

[2021-07-16 14:37] david-allison-1 commented on #9273
Very welcome :)

Sadly, you'll need to treat this as "we're now unable to support your device".

https://ankiweb.net/about may need to be used at some point in the future if support from AnkiWeb ends and you're unable to upgrade your device.

[2021-07-16 14:41] asabir123 commented on #9273
Okay thank you

[2021-07-16 15:54] david-allison-1 opened #9281 "Regression test: Preferences - Full Screen Gesture setting"
See the linked comment: a bug was introduced in a past commit, and we should ensure that we check the correct constants here via unit tests.

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/9278#r671360231_

[2021-07-16 16:46] #8048 closed

[2021-07-16 17:18] mikehardy opened #9282 "Stabilize / re-enable "open study options" instrumented test in CI"
Ignoring it in CI now pending an issue I will peel off about stabilizing root view matching, but now it runs successfully locally and won't gum up CI runs.

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/9205#issuecomment-881542544_

There is related discussion on the original PR #9205, a solution will likely involve using a specific RootMatcher in CI

[2021-07-16 17:24] #9267 closed

[2021-07-16 18:58] #9279 closed

[2021-07-16 19:03] asabir123 commented on #9273
do you still have:
Download Anki for 2016+ Linux (2.1.40)

[2021-07-16 19:27] david-allison-1 commented on #9273
https://github.com/ankitects/anki/releases/

[2021-07-17 06:43] Arthur-Milchior opened #9286 "[Lint] don't accept m[A-Z].* or s[A-Z].* outside of class member/static"
It seems that writting

`int mValue` inside a method do not raise a lint issue. It would be nice if someone could ensure that the member/static variable name is used only at the class level, not in method

[2021-07-17 13:36] #8794 closed

[2021-07-17 15:15] #5022 closed

[2021-07-17 15:15] #9274 closed

[2021-07-17 16:12] david-allison-1 opened #9287 "Audio ducking is no longer applied"
This no longer applies ducking, and instead stops the currently playing music

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/pull/9280#discussion_r671712564_

[2021-07-17 16:13] david-allison-1 commented on #9287
Also need to look at the other comment on the review regarding abandoning the music

[2021-07-18 14:36] #8109 closed

[2021-07-18 23:00] david-allison-1 commented on #5019
The first step to me would be to remove `onBuildHeaders/loadHeadersFromResource` and move these to fragments.

[2021-07-19 11:49] PiotrLrc opened #9292 "[Bug] LaTeX - `\\` doesn't work"
Hi. After the latest patch `\\` in the latex mode stoped working. `\newline` doesn't work either.

[2021-07-19 12:12] david-allison-1 commented on #9292
Hi, could you fill out the bug template, including `Settings - advanced - about ankidroid - copy debug info`.

What is the latest version that works (likely 2.14.6)

 You can find our old releases: https://github.com/ankidroid/Anki-Android/releases/

Install the Parallel.A app to revert to an older version for now.

[2021-07-19 12:43] PiotrLrc commented on #9292
Ok, I checked that in 2.14.6 `\\` was still working.

I copied debug info:

[code]

[2021-07-19 13:57] mikehardy commented on #9292
Hi @PiotrLrc do you use AnkiDesktop at all? if so I'm curious if it works for you there? Thank you for posting the debug info!

[2021-07-19 14:03] #9287 closed

[2021-07-19 14:12] #9081 closed

[2021-07-19 17:36] Anthropos888 commented on #9267
Hi, will this fix be available as update for the stable version soon or should I install the alpha?

[2021-07-19 17:54] david-allison-1 commented on #9267
@mikehardy

[2021-07-19 17:55] mikehardy commented on #9267
I feel like I've been spamming the release channel and takes my time to do, which is pretty constrained at the moment, so I'm hoping to avoid another 2.15 and instead get a 2.16 out, which is to say there won't be a 2.15 release *at least* for a week or two, but ideally I won't do a 2.15.7 unless this is driving everyone batty. A reasonable compromise might be to issue a 2.15.7beta1 which is much

[2021-07-19 18:22] mikehardy commented on #9267
Never mind - unfortunately @Anthropos888 this fix is no longer cherry-pickable to the release branch, it is involved in a tangle of commits that refactored the affected area and I can't get it in.

If you want the fix for this before an eventual 2.16 release, it will only be accessible via alphas, apologies

[2021-07-19 21:44] david-allison-1 opened #9293 "[Bug] TestUtils.isCI() returns false on CI in emulator"
@mikehardy This is because "CI" is not set on the emulator.

[2021-07-19 21:44] david-allison-1 commented on #9293
I've tried `$ANDROID_HOME/platform-tools/adb shell setprop CI true` , but this fails with

[code]

https://github.com/david-allison-1/Anki-Android/actions/runs/1046694065

Attempting it as root

[2021-07-19 21:45] david-allison-1 commented on #9293
An alternate solution would be to set this in `BuildConfig`.

@mikehardy If root access works, which would you prefer?

[2021-07-19 21:54] mikehardy commented on #9293
Oh my that's a mess. Not sure why that did not occur to me. Adb root and then a set prop should work. Honestly anything that seems sane works for me, adb seems easier but both seem sane

[2021-07-19 21:54] mikehardy commented on #9293
Oh my that's a mess. Not sure why that did not occur to me. Adb root and then a set prop should work. Honestly anything that seems sane works for me, adb seems easier but both seem sane

[2021-07-19 21:55] mikehardy commented on #9293
TestUtils.CI you had one job. ONE JOB.

[2021-07-19 21:56] david-allison-1 commented on #9293
`root` doesn't crash, but it doesn't seem to work, doing more digging

[2021-07-20 00:13] david-allison-1 commented on #8901
Had this on a local emulator

[code]

[2021-07-20 05:05] visakhaav opened #9295 "[Bug]"
AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = samsung

Model = SM-A505F

Hardware = exynos9610

Webview User Agent = Mozilla/5.0 (Linux; Android 11; SM-A505F Build/RP1A.200720.012; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/91.0.4472.120 Mobile Safari/537.36

ACRA UUID = de202edc-9331-473d-b775-eb1606e6547c

Scheduler = std

Crash Reports Enabled = true

Datab

[2021-07-20 07:13] ahmadazimi commented on #4543
I've install 2.15.6 on Android 10 and the problem still exists! I already join the beta channel on Google Play Store. But the last version is 2.15.6 in beta channel too.
After about 30 seconds trying login it says:

**A network error has occurred**
java.net.SocketTimeoutException:
failed to connect to sync.ankiweb.net/168.119.77.21 (port 443) from 192.168.*.* (port 47232) after 30000000ms: isConne

[2021-07-20 10:50] david-allison-1 commented on #9295
Hi, there's no description of what the bug is. Could you let us know.

Thanks

[2021-07-20 13:12] david-allison-1 commented on #9293
Tried using `SystemProperties` and I can read the property, but setting it is flaky

Worked on CI on my repo, but seems flaky. I'll use buildprops

[code]

[code]

going back to `BuildConfig.CI`

[2021-07-20 14:36] #8668 closed

[2021-07-20 16:14] #9293 closed

[2021-07-20 16:17] mikehardy commented on #4543
@ahmadazimi with apologies, that error message is really specific. For some reason, unknown but not in our control, your android phone is not able to connect to that name/port combination. Why? No idea unfortunately, could be some local firewall, some hosts entry on the phone if it is rooted or is adblocked or something, some country firewall, I really don't know.

These errors are not in control

[2021-07-20 17:17] TheOneric opened #9297 "Field names are no longer allowed to contain colons :"
### Bug Behaviour

Version:
Present in 2.15.6; first noticed in either 2.15.2 or maybe 2.15.4 *(not sure anymore)*. Was working in 2.14.6.

Effect:
AnkiDroid claims to encounters an error with the back template (only back template!) of one of my decks, printing
[code]

Yet, despite this message, the back template does **not** contain `{{大辞泉}}`, it contains `{{Definition: 大辞泉}}` where `Definition:

[2021-07-20 17:26] david-allison-1 commented on #9297
The card template doesn't work in Anki 2.1.44 either.

[2021-07-20 18:34] TheOneric commented on #9297
Hmm, with 2.1.13 my version is a bit older and it works:
![grafik](https://user-images.githubusercontent.com/1668471/126376648-42bdf295-f906-4d32-993b-3cede94e2583.png)

Based on the version number alone I would normally not expect any incompatible Template changes from 2.1.13 to 2.1.44.
Does Anki not keep the template format stable between patch-level version-cahnges? If it's supposed to, I guess

[2021-07-20 19:42] david-allison-1 commented on #9297
Anki Desktop doesn't use semver. From an addon author perspective, each "patch" version is a breaking change.

We use semver with our releases

[2021-07-20 21:07] mikehardy commented on #8897
This is a real issue

[2021-07-20 21:11] TheOneric commented on #9297
For reference: I've [posted a question](https://forums.ankiweb.net/t/what-constitutes-a-valid-field-name-old-templates-broken/11554) about what constitutes a valid fieldname to Anki's support forum, after I failed to find anything relevant to `Definition: 大辞泉` in the changelogs or docs.

[2021-07-20 21:14] mikehardy commented on #9297
Anki is just stricter about references to fields now, and will no longer ignore fields that don't exist. I believe the fix is to make sure you only reference fields that exist. You may need to edit your card template to add the field in the error message.

[2021-07-20 21:18] TheOneric commented on #9297
The field **does** exist! The field is named `Definition: 大辞泉` and referecned as `{{Definition: 大辞泉}}`. But for reasons unbeknownst to me Anki(Desktop|Droid) instead try to search for the field `大辞泉`, which does in fact not exists *(but also never got referenced)*.

[2021-07-20 21:34] mikehardy commented on #9297
Oh, interesting! Sorry I did not notice that detail. I wonder if it is the spacing in the name? That seems like the likely culprit. I wish I could be more prescriptive and say "it's definitely the space", it just seems likely. I wonder if you changed the field name and the template reference to one with no space in the name if it would work

[2021-07-20 22:46] hydeswag opened #9298 "New cards appear in the wrong order[Bug]"
I'm on 2.15.6

I've added cards to a deck and the new cards aren't showing up by order I added them. It's showing me the newest cards I added. I add new cards all the time so I'm never going to see the cards I added a few days ago

[2021-07-20 23:28] mikehardy commented on #9298
Hi there! This may be unexpected, but may also just be how the scheduler works. May I ask how this behavior compares to Anki Desktop? Additionally...on introspection, doesn't this use case (adding more card per day then your setting of new cards to show per day) seem like an invalid configuration, in reality? You say "I'm never going to see the cards I added a few days ago..." - that says to me yo

[2021-07-20 23:29] mikehardy commented on #9298
(oh - a bit of explanation: I ask about Anki Desktop behavior because we *will* schedule the same as Anki Desktop or it's a bug, as the ecosystem should remain compatible with regard to scheduler behavior - so if this is how Anki Desktop behaves - forums.ankiweb.net is the place to go to query, then we'll adopt any changes if need be)

[2021-07-20 23:36] hydeswag commented on #9298
Okay well it seems to be an anki problem in general.

Also I add new words I encounter to my deck but I won't do all of them the same day

[2021-07-20 23:53] mikehardy commented on #9298
As long as you get to them eventually, I think the exact order in which new cards appear is not a "problem" per se, it is more of an existential philosophy question. What does it matter which card shows up when? Unless there truly is a rates problem where ingress (new cards) is more than egress (review of new cards) will ever be, but that is also a philosophy problem related to ambition vs effort.

[2021-07-21 00:10] hydeswag commented on #9298
but i add sometimes more cards than i see in a day so it does become a problem

[2021-07-21 16:48] TheOneric commented on #9297
Thanks for the help!
Turns out the change in AnkiDesktop is intentional. It was not the space but the colon `:`, which now has a special meaning in templates. Closing as it's not a AnkiDroid bug after all.

[2021-07-21 16:48] #9297 closed

[2021-07-21 21:41] mikehardy commented on #9297
Ah ha! Well, now I know more about the template system myself, thanks for driving this all the way to real understanding. Sorry your template unexpectedly blew up but I imagine you've resolved that practical issue and are moving forward now as well. Happy reviewing

[2021-07-22 02:21] huzaifa-shah10 commented on #9138
is this helpful? any response?

[2021-07-22 14:13] Michael35699 opened #9304 "Performing a normal sync results in insufficient memory error."
###### Reproduction Steps

1.  sync without forcing.

###### Expected Result

The synchronization completes, and the day continues.

###### Actual Result

As the synchronization message becomes "Finishing syncing ...", the application reports an error with the message "Operation not possible due to insufficient memory on your device". However, the synchronization does complete when forcing one-sid

[2021-07-22 14:50] mikehardy commented on #9304
Hi there! This seems like it will be related strongly to the size of your collection. I understand some collections contain private information, but also - just on the off-chance it is okay - some collections are really just a bunch of general knowledge and vocabulary etc and if you could share it (export and zip and share a link or try to attach here) that would help us. Otherwise I fear we not b

[2021-07-22 14:52] mikehardy commented on #9138
It is helpful. I just removed the waiting for feedback tag, now it will sit in the general help wanted queue and hopefully someone finds it interesting and takes it up - thank you

[2021-07-22 14:58] mikehardy commented on #9298
I do that as well. Study ahead or slow down on the adds I think.
If you want to change the way the scheduler shows you new cards, that's a general ecosystem-wide change and you'd want to start at https://forums.ankiweb.net (Anki Desktop - what we consider "upstream") and if they make a change we will mirror it here

[2021-07-22 14:58] #9298 closed

[2021-07-22 15:11] david-allison-1 commented on #9304
[code]

Seems like an OOM due to a massive amount of data in the card types. Phone has 12GB RAM

[2021-07-22 15:25] mikehardy commented on #9304
Last time I did a big deep-dive into the syncer and collection import (which is similar to the sync) it appeared there was some inefficient string/stringbuffer usage in that handles weren't cleared so the JVM GC wasn't able to clear things, but I never proceeded beyond seeing that. And now it appears this may go Rust-internal so perhaps the issue goes away medium-term? (it's been a really long ter

[2021-07-22 16:50] david-allison-1 commented on #8915
I believe the Kotlin migration will handle this

[2021-07-22 17:35] LemmusLemmus opened #9305 "[Bug] Some UI elements are not completely black."
###### Description
Some UI elements are not completely black in the black night theme, contrary to my expectations. During daytime these areas are practically invisible, whereas at night they are highly visibly grey, especially in combination with AMOLED. I find this inconsistency somewhat distracting, as well as aesthetically unappealing with the slight grey on top of the otherwise perfectly blac

[2021-07-22 18:02] mikehardy commented on #9305
Interesting! I have a sub-optimal work lighting environment, no way I'd see that without your  super-emphasized screen shot :-)

Happy for anyone to take a pass through Theme.Black to make things actually `#000000`

[2021-07-23 11:10] artkpv opened #9306 "[Bug] Failed to sync media files: java.net.UnknownHostException: Unable to resolve host "sync6.ankiweb.net": No address associated with hostname"
###### Reproduction Steps

1. Has cards with images. Using Desktop Anki to upload to cloud. It does the sync and uploads / downloads very fast.
2. Open Ankidroid. Press Sync
3. It downloads very slowly about 20MB in around 10-30 min. Then shows message (translated from Russian):

###### Expected Result

It synchronizes the files.

###### Actual Result

Error shown

###### Debug info

AnkiDroid Ver

[2021-07-23 11:30] Munzu opened #9307 "Deck name styling with HTML"
I've recently come across this [post on reddit](https://www.reddit.com/r/Anki/comments/opb0yo/you_can_use_html_to_colorin_bold_the_names_of/) that shows how you can style the deck names with HTML.

This is how it looks for me on desktop:
![image](https://user-images.githubusercontent.com/31477160/126775460-fb275acd-2a3c-4b0f-bc5d-be9034413d9d.png)

Unfortunately, it doesn't seem to work on AnkiDro

[2021-07-23 12:12] david-allison-1 commented on #9307
Hi, thanks for the feature request!

The last discussion we had on this was #5814 , which ended with

Unless this has changed, we won't be implementing the feature.

[2021-07-23 12:28] mikehardy commented on #9306
This has come up before, the speed issue is already logged, but it will get all the files on retry eventually

The network error is real though. Something about your local dns services is unstable and there was a failure there. That's out of our control.

[2021-07-23 12:31] artkpv commented on #9306
@mikehardy Thanks. I use custom ROM LineageOS 18.1 for Xperia 10 II [Stock-based] ( https://forum.xda-developers.com/t/rom-unofficial-lineageos-18-1-for-xperia-10-ii-stock-based.4219081/ )

[2021-07-23 12:35] mikehardy commented on #9306
I've used lineage, it works
That's not relevant to my comment though. Your local dns services appear unreliable. Mostly working, but can fail occasionally, it seems

[2021-07-23 12:35] Akshay0701 commented on #8856
simple hack Is: allow note editor spinner to save lastSelectedDeckID(as we did in statistics and card browser)

[2021-07-23 12:47] artkpv commented on #9306
Strange. I've tried several times for in last months. It never worked. Always did this: slowly downloaded media files then failed with the error.

[2021-07-23 13:52] david-allison-1 commented on #9306
The media file download is incremental, as long as the media files in `collection.media` are increasing, it will eventually finish.

This typically means a temporary issue with your internet connectivity (which we can do better with handling retries). If you retry, the download should continue where it left off

[2021-07-23 14:48] mikehardy commented on #8856
That would fix it yes, but first it needs thought / decision on the "should we do this" theme

That's the core question.

I'm curious how Desktop handles this? Or AnkiMobile (iOS)?

[2021-07-23 14:51] Akshay0701 commented on #8856
in the case of Desktop: it doesn't save deckID in note editor

[2021-07-23 14:53] mikehardy commented on #8856
resolved won't fix then, ecosystem compatibility

[2021-07-23 14:53] #8856 closed

[2021-07-23 16:39] david-allison-1 opened #9309 "Improve Preference Upgrade Mechanism"
From Discord:

Since we've changed the version numbering scheme (and it depends on ABI), any suggestions for how to handle preference upgrades? Could do a substring of the version, but it doesn't seem great.

Other option seems to be to not bother checking the version, and instead checking the preferences for existence of a key, this adds maybe a microsecond to startup time per preference, but rem

[2021-07-23 17:13] Munzu commented on #9307
Thanks for the quick reply!
Sorry I didn't find that issue earlier.
That's unfortunate but understandable. Thanks. I'll close the issue then.

[2021-07-23 17:13] #9307 closed

[2021-07-23 22:26] talenelat-elin opened #9311 "[Bug] Closet addon nonfunctional in Android versions 9 and below"
Preface: I'm unsure of the complete extent or cause of the problem

This concerns the the addon [Closet](https://ankiweb.net/shared/info/272311064).
Cards created using it are supposed to work in AnkiDroid from version 2.15 too, but I'm seeing that it doesn't work in certain devices.

The problem: The clozes and occlusions are not rendered at all, instead the contents of the fields are shown, incl

[2021-07-23 22:30] talenelat-elin commented on #9311
It's possibly due to Android version differences, I'll update here as soon as I get the information of these devices.

[2021-07-24 03:23] david-allison-1 commented on #9311
Does it work (without the addon) on the latest version of Anki Desktop?

[2021-07-24 04:40] Michael35699 commented on #9304
Honestly I thought that the collection I have is just too large at first, but then there's no memory insufficient error when the sync is forced one sided. Do these syncs have a different procedure? I'll try and reduce the size of my note types, and I'll reply again.

[2021-07-24 05:50] Michael35699 commented on #9304
I have reduced the size of my note types, and it seems that it's working. I'll close this issue as this is a user-sided bug. However, I think it would be nice to look into the reason why normal syncing did not work with large collections when force syncing worked. Thank you!

[2021-07-24 05:50] #9304 closed

[2021-07-24 09:47] talenelat-elin commented on #9311
@david-allison-1, Yes.
Just tested in Anki Windows 2.1.44 (64bit) and all cards work.

I'm not sure if you're familiar with closet, but the cards once made should function in all anki versions beyond 2.1.41, without requiring any addons, because the reviewer side of closet works via a javascript file that is included inside the template. (`__closet-0.5.3.js`)

The actual addon helps in creation of

[2021-07-24 10:22] talenelat-elin commented on #9311
I think it is related to Android versions.

Evidence:
<table><thead><tr><th>Phone</th><th>status<br></th><th>Android Version</th></tr></thead><tbody><tr><td>Xiaomi Redmi Note 5 Pro</td><td>broken<br></td><td>9 PKQ1.180904.001</td></tr><tr><td>Xiaomi Redmi Y2</td><td>broken</td><td>9 PKQ1.181203.001</td></tr><tr><td>Lenovo K9</td><td>broken</td><td>8.1.0</td></tr><tr><td>Xiaomi Poco M2<br></td><td>

[2021-07-24 20:35] hgiesel commented on #9311
Closet relies on dynamic imports, which was added in https://github.com/ankidroid/Anki-Android/pull/7764. It seems like this only works on Android 10+, so there's really nothing we can do.

[2021-07-24 20:35] #9311 closed

[2021-07-25 12:48] Arthur-Milchior commented on #8917
Are you stil on it @ShridharGoel (I know there are other priorities. But might be nice to let other know if it's available)

[2021-07-25 16:34] Kayx23 commented on #6614
Hi @david-allison-1, I happened to notice the same issue today when I was long pressing to get the menu to paste something in the YouTube app. So I suppose the problem isn't localized to Anki mobile anymore. Feel free to close the issue if need to.

[2021-07-25 19:22] user655362020 opened #9312 "[Bug] UI bugs"
###### Reproduction Steps

1.Open Ankidroid in landscape orientation.

Screen size : 8 inch
Resolution : 1024x768

###### Actual Result
These screenshots show 2 different UI bugs

![Screenshot_20210726-003806](https://user-images.githubusercontent.com/66375825/126910851-ddcb7796-1a0c-4d76-b205-e60949b1ac6e.jpg)
![Screenshot_20210726-003804](https://user-images.githubusercontent.com/66375825/126910

[2021-07-25 19:43] david-allison-1 commented on #9312
Thanks for the report.

Duplicate of https://github.com/ankidroid/Anki-Android/issues/9279

Fixes in our alpha: https://github.com/ankidroid/Anki-Android/pull/9285

[2021-07-25 19:43] #9312 closed

[2021-07-25 19:43] ShridharGoel commented on #8917
I'm not working on this. Anyone who might be interested can pick it.

[2021-07-25 20:36] #8874 closed

[2021-07-26 17:12] #8969 closed

[2021-07-26 19:54] e-e opened #9314 "[Bug] Review count different between AnkiDroid, AnkiWeb/AnkiDesktop (mac)"
###### How I _think_ this happened:

1. Was on a flight traveling to a timezone three hours behind my home timezone (took off at 4pm home-time, 1pm destination time)
2. Did reviews on the plane (using both AnkiDroid and AnkiDesktop) with wifi connection, synced completed reviews multiple times. Both devices still on home timezone.
3. After landing (now in destination timezone), attempted to sync f

[2021-07-26 20:35] david-allison-1 commented on #9314
Hi, thanks for the report.

Anki Desktop: `Tools - Preferences - Scheduling - Disable legacy timezone code`

[2021-07-26 23:36] mikehardy commented on #9304
I'm happy that worked for you, but I side with the users here, there's no reason you should have to twiddle your note types for it to work, it's a shame we have this limitation. On the other hand - I really do think it will go away as this area is converted to Rust (which is in process now) so it is "okay" to close it in the sense that it should actually go away, and not just if users carefully ma

[2021-07-27 02:05] e-e commented on #9314
This seems to have worked. Disabling the above + forcing a one-way sync in AnkiDroid to pull down from AnkiWeb seemed to do the trick. Thank you for the help!

[2021-07-27 02:05] #9314 closed

[2021-07-27 03:39] #3800 closed

[2021-07-27 14:23] david-allison-1 opened #9317 "Dark theme: Should status bar be black?"
![dark](https://user-images.githubusercontent.com/63229554/127151290-97f274bb-9e95-4e93-9b85-75247219fe65.png)

Looking at the screenshots above, there appears to be another potential UI issue. Shouldn't the status bar in the dark theme be dark gray instead of completely black? This does however appear to not be the case in the screenshots provided by bobiverse333.

_Originally posted by @LemmusLe

[2021-07-27 15:58] david-allison-1 opened #9319 "Resources: Allow strings containing '&'"
We need either need

* a lint check to ensure that strings do not contain an `&amp`. A user should use `&` in a CDATA block instead
   * I'd personally be happy with this to mark the issue as fixed
* or fix the localization script
  * Needs thorough testing, I wouldn't consider this to be a good first issue as it involves CrowdIn API access and we don't have a test framework yet
  * See: https://g

[2021-07-27 18:56] inomag commented on #9319
I am interested in doing this task.

[2021-07-28 16:06] farjadilyas opened #9321 "[Bug] Audio files cannot be added"
###### Reproduction Steps

1. Add Note
2. Add Audio Clip
3. Click on LIBRARY
4. Select a music file

###### Expected Result
Any music file can be selected.

###### Actual Result
(API Level 26): Music files except for .ogg files (for eg: .mp3 file) are greyed out & cannot be selected
(API Level 30): All files are greyed out including .ogg & .mp3 files

API 26 - Samsung Galaxy S7 (Physical Device):

[2021-07-28 16:14] farjadilyas commented on #9321
Can I work on this? A related previous [commit](https://github.com/ankidroid/Anki-Android/pull/9228/commits/cd37b342939b7817f6346c97d438adaa2bbc496a) linked to this [accepted answer](https://stackoverflow.com/questions/1698050/multiple-mime-types-in-android) which solves this issue & makes audio files including .ogg files selectable on both the devices mentioned in the issue @ API 26 & 30.

[2021-07-28 16:44] david-allison-1 commented on #9321
/facepalm, sounds good to me

[2021-07-28 18:41] #8905 closed

[2021-07-28 18:41] #8884 closed

[2021-07-28 19:55] mikehardy commented on #9321
Hahah from my comment on the related PR "Famous last words but it doesn't look like it can break anything,"

Famous last words indeed. Programming, why are you so irritating!?!

[2021-07-28 21:39] david-allison-1 opened #9323 "[Bug] "Add From Gallery" no longer visible on Amazon Build Flavor"
Cause: 6d68424cd48ab0a702da949bd49a70eeb05f0dfd

Even though we can't use the camera, we can still use the gallery, which is contained in the "Add Image" screen

The "add image" permission is requested:

https://github.com/ankidroid/Anki-Android/blob/c84cf4b151cfe460fd820d4cdf90c5daec4f43e1/AnkiDroid/src/main/java/com/ichi2/anki/NoteEditor.java#L1566-L1570

[2021-07-28 21:40] david-allison-1 commented on #9323
Cause: 6d68424cd48ab0a702da949bd49a70eeb05f0dfd

Even though we can't use the camera, we can still use the gallery.

[2021-07-28 22:56] #9319 closed

[2021-07-28 23:17] soleera opened #9324 "Unable to import or export Anki collections / decks"
###### Reproduction Steps

1. Install & open AnkiDroid
2. Allow file permissions
3. Tap Menu > Import

###### Expected Result

Opens a dialogue box or file explorer app so the user can select a *.colpkg or *.apkg file

###### Actual Result

"The system does not have an app installed that can perform this action."

###### Debug info
AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = O

[2021-07-28 23:31] #9305 closed

[2021-07-29 03:11] lamvankhoat1 commented on #6772
it's been so long, i'm still waiting

[2021-07-29 13:28] david-allison-1 commented on #7334
#9229 fixes most of the issues listed.

The other points raised:

* Cloud sync is not relevant to the user desires
  * There was pushback, but I feel we shouldn't show the icon on "cloud sync" until after a few days
* "Check Media" might be better named as "cleanup media"
  * We don't need to show this on first app open

@ShridharGoel - pinging in case this brings out any ideas, no action required

[2021-07-29 17:16] mikehardy commented on #6772
Me too! Eagerly awaiting anyone that wants to contribute their time to develop the feature. Patience is a virtue :lotus_position: :laughing:

[2021-07-29 17:16] #9321 closed

[2021-07-29 17:48] mikehardy commented on #9324
Hi there! That is...really strange. Is there any file manager app on the system? Have you tried opening the file manager app separately, using it to navigate to downloads and attempt to open the shared deck that way? (It should be hooked up via file extension to AnkiDroid and trigger an import)

We are just attempting to open any file picker app using the standard Android system call for opening a

[2021-07-29 18:42] #8915 closed

[2021-07-29 19:13] david-allison-1 opened #9331 "Update to compileSdkVersion 30"
Lots of deprecations here (primarily AsyncTask), but others exist.

Warrants its own issue

Related: #7348

[2021-07-29 19:22] david-allison-1 commented on #9331
Deprecations:

* WindowManager.LayoutParams.FLAG_FULLSCREEN

[2021-07-29 19:49] mikehardy commented on #9331
Looks like an extravaganza for the CompatHelper/Compat infrastructure...

[2021-07-29 19:55] david-allison-1 commented on #9331
I'll just whack a `@SuppressWarnings` on there for now, surgery can wait for another day

[2021-07-29 20:15] david-allison opened #9332 "FLAG_FULLSCREEN deprecation in API 30"
* FLAG_FULLSCREEN
  * Use WindowInsetsController.hide(int) with WindowInsets.Type.statusBars() instead.
  * Only the usage in `AnkiActivity` needs to be fixed. The usage in `Reviewer.kt` doesn't need to be fixed because the screen is deprecated

---
The deprecations below don't need to be fixed because the screen that uses it is deprecated and will be eventually removed.

* ~~View.setOnSystemUiVis

[2021-07-29 20:44] david-allison opened #9333 "Display/Size related deprecation in API 30"
* WindowManager.getDefaultDisplay()
  * Use Context.getDisplay() instead.
* Display
  * getSize(point)
    * Use WindowManager.getCurrentWindowMetrics() to obtain an instance of WindowMetrics and use WindowMetrics.getBounds() instead.
  * getMetrics()
    * Use WindowMetrics.getBounds() to get the dimensions of the application window area, and Configuration.densityDpi to get the current density

[2021-07-30 01:39] #9331 closed

[2021-07-30 15:20] Abanoub-Asaad commented on #5850
I think this issue needs to be closed because everything works well.

[2021-07-30 15:33] #5850 closed

[2021-07-31 01:48] Arthur-Milchior opened #9341 "[Bug] Floating action button change all color"
###### Reproduction Steps

1. Install master (5efa59bf0de963a4ecc679cd022c3d8f794caacc)
2. Click on the floating action button (the plus)

###### Expected Result
Either just the menus. Or everything grayed and menu focused

###### Actual Result
Even the menu is grayed.

![Screenshot_20210731-034447_AnkiDroid.jpg](https://user-images.githubusercontent.com/357361/127725089-ef34d848-c7da-41dc-a786-6b

[2021-07-31 07:05] NicolasMICAUX commented on #9113
This solve it for me, with same issue

[2021-07-31 11:40] nicdard commented on #9286
I would like to work on this :)

[2021-07-31 11:44] Arthur-Milchior commented on #8337
@kartikeysaran, any update on this?

[2021-07-31 12:11] Arthur-Milchior commented on #9286
Please go for it. And thanks for your interest into our linter issues

[2021-07-31 12:57] nicdard commented on #9286
I am pleased to help on this sort of things :muscle:

[2021-07-31 14:09] mikehardy commented on #9341
Arthur, it would be good to know your debug info - this doesn't happen for me on a mobile device (not tablet mode), Android 10, 2.16alpha6 and I struggle to see in the commit history what could cause it :thinking:

[2021-07-31 14:17] kartikeysaran commented on #8337
I was busy with some others stuffs, Thankyou for pinging me, I will make sure to add unit test asap

[2021-07-31 19:02] prateek-singh-3212 commented on #8114
Hello,
I am planning to improve the notification system this month. So, if anyone is having an idea or plan that when notification should trigger then please share. Otherwise I will make the plan.

I would like to purpose the idea that should we implement the button in the notification `set reminder` from which they were able to set reminder in their calendar.  This helps the user in case when he/

[2021-07-31 20:00] #9317 closed

[2021-07-31 20:17] ShridharGoel commented on #9341
Reason: In case of mobile, the `FloatingActionButton` is separate from the `LinearLayout` having ID as `deckpicker_view`. But in case of tablet, the `FloatingActionButton` in inside `deckpicker_view` which causes the alpha value to be set on the `FloatingActionButton` and its related views as well.

[2021-07-31 21:24] LemmusLemmus opened #9345 "[Feature request] Improved search order"
**Related problem**
When searching in the card browser the order of the cards shown is seemingly random. For example, when searching for "flower", I would expect for the card with the answer "flower" to appear first, and "flower pot" to appear second. This is currently not the case. In the screenshot, the card with the answer "flower" appeared in the 40th position, and "flower pot" in the 18th pos

[2021-07-31 21:36] mikehardy commented on #9345
This is one of the areas where we should defer completely to "however upstream does it", where by upstream I mean Anki Desktop.

Why? Because collection interaction - and collection search is included in that - will go away from AnkiDroid's codebase and just be a thin wrapper around the Rust implementation used in Anki Desktop shortly. It's already the case for certain things and search will be po

[2021-08-01 00:28] eu2021 opened #9347 "New flags in Anki 2.1.45"
As you know, the new Anki 2.1.45 (already stable) offers 3 new flag colors. So, I suggest that they are included in AnkiDroid.

Thanks,
BR,

[2021-08-01 02:13] david-allison-1 commented on #9347
Pink (FF82EE) Ctrl+5
Turquoise (00D1B5) Ctrl+6
Purple (9649DD) Ctrl+7

https://github.com/ankitects/anki/blob/578b1b0552582dd04936e3c64ce2c660381a2e6d/ts/sass/_vars.scss#L24-L26

[2021-08-01 02:14] david-allison-1 commented on #9347
This isn't a major issue - no crashes on 2.16 with the new flag

[2021-08-01 02:16] david-allison-1 commented on #9347
Added in https://github.com/ankitects/anki/pull/1213

[2021-08-01 05:24] #8983 closed

[2021-08-01 05:24] sm18lr88 commented on #8983
Solved. Thank you.

[2021-08-01 11:02] hanpingchinese opened #9355 "empty_cards content provider uri behaves differently from version 2.15"
In my Android app, I call the AnkiDroid content provider (i.e. contentResolver.delete()) function with this uri:

content://com.ichi2.anki.flashcards/models/1234123412341/empty_cards

I noticed recently (using the latest stable version of AnkiDroid 2.15.6) that this returns 0 (no changes) where it used to be (and should be) returning the actual number of deleted cards. In other words, empty cards

[2021-08-01 11:38] Rusca8 commented on #4828
Hi, just came to say that now Anki Desktop (2.1.45) changed the handling of Javascript even further apart from AnkiDroid.
Javascript variables and functions are kept on Desktop (it even raises an error if you declare the same varible with `let` both on `front` and `back` of the card). AnkiDroid seems to be generating everything from scratch when switching to `back`.

Depending on what you try to d

[2021-08-01 14:36] david-allison-1 commented on #9355
@Arthur-Milchior you were doing work in this area. Is it related?

[2021-08-01 14:41] Arthur-Milchior commented on #9341
AnkiDroid Version = 2.16alpha7

Android Version = 11

Manufacturer = samsung

Model = SM-T515

Hardware = exynos7904

Webview User Agent = Mozilla/5.0 (Linux; Android 11; SM-T515 Build/RP1A.200720.012; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/92.0.4515.115 Safari/537.36

ACRA UUID = 6136db88-8714-436c-adea-30ae4f10577b

Scheduler = std2

Crash Reports Enabled = false

Database

[2021-08-01 17:09] Arthur-Milchior commented on #9355
Hi @hanpingchinese. Thanks for your feedback.
Would you accept to share your collection with us.
Usually, I ask the user to export just a few note to reproduce the example, but in this case, it seems complex to do, because I don't know whether you could really import a card that should not be generated in the first place.

You can send it to me privately at arthur@milchior.fr : I'd also love to se

[2021-08-01 17:31] hanpingchinese commented on #9355
Thanks very much @Arthur-Milchior I will take a closer look when I'm back at my desk. Meanwhile here is a deck you can look at to get an idea of the NoteType https://ankiweb.net/shared/info/1907668496

I use "enabler" fields (value is either "x" or "") to determine whether a card is generated or not. So when all enabler fields were "", then there would be no cards.

[2021-08-01 17:51] david-allison-1 commented on #8342
Hi @iamvs-2002, are you still working on this?

[2021-08-01 17:51] david-allison-1 commented on #8342
Added "Keep Open" as it's been something on my mind for a while

[2021-08-01 17:59] david-allison-1 commented on #8114
It'd be good to have a design before we start an implementation here.

Mike's added a potential design in another issue tagged with "Advanced Reminders"

[2021-08-01 20:33] Arthur-Milchior commented on #9355
I see no enabler field in the deck you shared with me. If it's not the actual deck you use, it's useless for my tests.

What you describe is exactly the case where there is a behavior change in anki between 2.1.27 and 2.1.28. The difference is that in this case, anki ask you whether you want to also delete note with no card (this is not the default option).
There is certainly a way to add an optio

[2021-08-01 20:39] david-allison-1 commented on #9355
(opinion, needs heavy discussion).

We should have a v2 endpoint, and keep the v1 endpoint behaviour consistent with how it's been historically.

It'd be useful to track down the commits which caused this change to occur

[2021-08-01 21:08] Arthur-Milchior commented on #9355
des, Models.AllowEmpty.TRUE

[2021-08-01 23:40] vladz0r opened #9356 "[Bug] Clicking on a Hint conflicts with Screen Region Tap Gestures"
###### Reproduction Steps

1. Set "tap left screen" to fail a card.
2. Click on a Hint (ex. {{hint:Notes}} that's located in the left region on your card template.

###### Expected Result

The hint should display rather than the gesture, because the hint is a clickable event on top of the card.

###### Actual Result

The hint will display and then the next card will be shown, since the gesture wil

[2021-08-02 02:18] hanpingchinese commented on #9355
Hi @Arthur-Milchior I'm very sorry about pointing you to the wrong deck. I forgot the shared deck did not use that "enabler" functionality. I've just sent you the correct deck by email.

In my app, the user can add and remove cards by modifying these "enabler" fields. Each enabler field corresponds to a card type. If the enabler field is empty the corresponding card template is empty.

If I run a

[2021-08-02 03:45] VishnuSanal commented on #5685
@haran2248 Can you please confirm whether you're still working on this issue? If not, I'd like to work on this.

[2021-08-02 06:33] hanpingchinese commented on #9355
BTW, I agree with both of you:

1. @david-allison-1 I agree the endpoint behavior should not be changed for backwards compatibility reasons. Just to confirm: was it exactly AnkiDroid 2.15 which introduced this change?
2. Having said that the change has already occurred and so the point @Arthur-Milchior makes regarding reverting back to auto-deleting the note is now dangerous.

I wonder if it's wor

[2021-08-02 10:09] artkpv commented on #9306
@david-allison-1 Thanks for answers! I got it synchronised by repeatedly retrying. It took about 3-6 retries and 1-3 hours.

[2021-08-02 10:09] #9306 closed

[2021-08-02 10:18] iamvs-2002 commented on #8342
Hey @david-allison-1
Yeah, I have been working on the issue. I have made up the settings menu, but I am not sure how to show the suggestions or the search entries there, as I am not able to find the menu for the Settings.

[2021-08-02 11:15] hanpingchinese commented on #9355
I don't mean it that way. It would be a way for the third party app to say "I've tested it works with this version of AnkiDroid". So, for example, if this was already in place, then we wouldn't have the issue we have now. The AnkiDroid contentprovider could be updated with logic that says "if the third party app specifies metadata version < 2.15 then keep the old functionality, otherwise use the n

[2021-08-02 12:34] Feripe-a opened #9360 "[Bug] Auto-rotate screen changes current reviewing card"
###### Reproduction Steps

1.  Turn on "Auto-rotate";
2.  Start reviewing cards;
3.  Rotate the phone;
4. Screen is rotated.

###### Expected Result

Anki would rotate the screen displaying the card in landscape or portrait mode.

###### Actual Result

As shown [in this video](https://streamable.com/kschia), Anki does display the card in landscape or portrait mode but changes the current reviewing

[2021-08-02 14:14] david-allison-1 commented on #8342
I'm not sure I understand this. Could you explain in more detail, or push your work to a local branch so I could see what the problem is

[2021-08-02 15:06] iamvs-2002 commented on #8342
Sure, let me post it on Discord.

[2021-08-02 15:08] david-allison-1 commented on #8342
It's best to keep a copy of the discussion here so we have a record of what's happened

[2021-08-02 15:39] #8954 closed

[2021-08-02 15:53] Abanoub-Asaad commented on #6669
I would like to work on this issue.

[2021-08-02 16:19] iamvs-2002 commented on #8342
Alright.
So I am confused on how to fetch the items to be put on the search result.
Like there must be some list for everything in the setting, or should I do it manually for every setting available in the Setting menu?

[2021-08-02 17:15] david-allison-1 commented on #8342
Look for how other apps do it to see if there's a good design

If that doesn't come up with anything, expand each of our XML files, convert the `@StringRes int` into a string, and search on those

[2021-08-02 18:34] david-allison-1 commented on #9286
@Arthur-Milchior @nicdard @mikehardy

This conflicts with Kotlin constructors

[code]

`Variable name should not use field prefixes.` and `Field should be named: 'mActivity' (`NonPublicNonStaticFieldName`)

----

I'd like to propose removing `NonPublicNonStaticFieldName` for Kotlin files (this enforces the `m` prefix for variables).

This will make handling auto-properties significantly better, as

[2021-08-02 19:39] prateek-singh-3212 commented on #9360
Hello @Feripe-a ,
Thanks for reporting the issue but I am unable to reproduce this on my device (Galaxy M51) and the vedio streaming link is not working.

[2021-08-02 23:40] Feripe-a commented on #9360
Strange. It works just fine here. I've managed to reduce the quality to send the video here.

https://user-images.githubusercontent.com/84395172/127936443-4d406aa1-568d-4e71-ae0e-629034731019.mp4

[2021-08-02 23:43] Feripe-a commented on #9360
That's why I wrote "Android Version = 11 (with LineageOS instead of MIUI)" because its related to  LineageOS, but I don't know anyone that uses it and uses Anki -- I'm really sorry, I should've mentioned it.

[2021-08-03 02:50] david-allison-1 opened #9361 "refactor: combine `lastUpgradeVersion` and `lastVersion`"
I believe:

`lastVersion` is effectively a boolean check to see if we're at the latest version

`lastUpgradeVersion` is a long, used in comparisons.

Originally, these existed separately due to the Anki 1.0 -> 2.0 migration

Even though we've moved away from the concept of using version numbers due to ABI splits, using different variables for the same concept still adds unnecessary complexity to t

[2021-08-03 03:30] hanpingchinese commented on #9355
Comparing AnkiDroid to Anki Desktop, I see the difference with the "Empty cards" functionality is that AnkiDroid is missing the intermediate dialog showing the number of empty cards and the checkbox "keep notes with no valid cards" (defaulting to checked/true). Instead it jumps straight to the "No empty cards" dialog which is very confusing. So it seems both the "Empty cards" menu item feature and

[2021-08-03 04:34] iamvs-2002 commented on #8342
Alright David, I am on it. I will report to you about the same in 2 days.

[2021-08-03 06:12] nxcco opened #9363 "Add built-in canvas🎨"
Problem:
To add a drawing to a card, one hast to go to a sketching app. Then one has to record a screenshot or save the drawing. That's prevents from being more productive.

Solution:
Provide a built-in canvas. When you tap the little clip, you should get the option to create a drawing.

What do you think of that?

[2021-08-03 08:15] HarryRen opened #9364 "please remove android:networkSecurityConfig="@xml/network_security_config" attribute"
I get a `net：：ERR_CLEARTEXT_NOT_PERMITTED` in Android9.0 with a http link to ankiServerSync.

please remove android:networkSecurityConfig="@xml/network_security_config" attribute.

 **android:usesCleartextTraffic="true"** and **android:networkSecurityConfig="@xml/network_security_config"** attribute are conflicted.

Is anyone has a lastest stable version with **android:networkSecurityConfig** remo

[2021-08-03 10:41] Alphyn-gunner commented on #9265
Since v2 is now the default scheduler (since 2.1.45), it looks like this issue sort of changed its scope. Moreover, now there's V3 scheduler, that brings a lot of important improvements, like proper handling of learning cards with steps longer than 1 day (in regards to burring related cards and counting reviews), proper mixing of new cads from different subdecks, better handling of daily review li

[2021-08-03 11:32] Akshay0701 commented on #9363
Really great idea @nxcco, we already implemented the drawing page option in #9048 Visual editor, you will get to see this in action soon.

[2021-08-03 14:48] prateek-singh-3212 commented on #9360
No not an issue.

Yes I also strongly believes on your thoughts. But i dont have stats so I can't confirm it.

 This issue is related to OS itself. As far as I know ( please confirm that other app are working fine ?). If that's not the case then this issue will be on ```
Priority -Low
[code]

[2021-08-03 15:01] iamvs-2002 commented on #8342
@david-allison-1 I am really sorry to inform you that, I am no longer able to work on this issue for a couple of days. My system got crashed just now, and it will need some time. You may give the same to someone else. Thank you.

[2021-08-03 16:25] HarryRen commented on #9364
I compile it by myself. Ugly.

[2021-08-03 16:25] #9364 closed

[2021-08-03 16:50] eskoONE commented on #8114
one thing that is annoying about the current notification system is that you need a widget placed in home screen to get notifications at all. would be nice if we could have it working without it, and if its necessary, make it 1x1 instead of whatever that it is rn.

perhaps being able to set the exact minimum amount of reviews before getting notified would be handy. i had use cases where i would ha

[2021-08-03 18:04] Feripe-a commented on #9360
Only Anki presents that kind of error. I've tasted with all apps I use every day, all of them rotate like they were supposed to.

[2021-08-03 18:29] mikehardy commented on #9364
@HarryRen why not propose a PR?

[2021-08-03 18:30] mikehardy commented on #9364
...also, if those items are conflicted, could you point to some documentation saying you must use one or the other? I work in this area (android apps from scratch, that require cleartext traffic to development servers) so I'm pretty up to date on the requirements and I thought this was correct but perhaps there is an error here. If so, I'd love to see it corrected.

[2021-08-03 20:17] Snehgabani opened #9366 "[Bug] keep showing same card everyday"
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement

[2021-08-03 20:27] david-allison-1 commented on #9366
Hi, please could you fill out the bug template.

There's not enough information here to know what the problem is

[2021-08-04 02:26] david-allison-1 commented on #8342
Sorry to hear that, good luck with getting things sorted!

[2021-08-04 12:28] prateek-singh-3212 commented on #8114
**USE OF NOTIFICATION**

- To Send Deck Reminder.
- Cards Due
- Synchronization

**ALGORITHMS FOR NOTIFICATION**

1. **DECK REMINDER** :- We can setup the new ` NOTIFICATION` setting this setting screen looks like this [(FIGMA LINK)](https://www.figma.com/file/Mf36OjE4S1eNGKVqWtIeRJ/Untitled?node-id=0%3A1). We can store the timing in DATABASE and trigger the Notification at that perticular time us

[2021-08-04 15:04] david-allison-1 commented on #8114
You can't modify notification channels after they've been created, that will complicate the design.

I think taking on "Sync" notifications in this would be too much work, let's focus on one component at a time, and make it good.

I think the first thing that we should tackle is investigating the requirement for the widget and whether we can remove this. I feel it's almost certainly the case and w

[2021-08-04 18:08] david-allison opened #9368 "[Bug] card due count doesn't match with Anki Desktop after sync"
This is with the "legacy timezone" code

See: https://forums.ankiweb.net/t/anki-droid-card-due-dont-match-with-anki-desktop/10955

This can be fixed by: "Anki Desktop - Preferences - Scheduling - Disable "legacy" timezone", but the code should match, and it doesn't currently

[2021-08-05 01:45] #9347 closed

[2021-08-05 01:52] david-allison-1 commented on #8988
I will be working on this in an iterative fashion:

* Convert a class (disregard compatibility with current code): DecksV16.kt
* define common abstract class defining the public API surface (AbstractDecks.kt)
* Make `Collection` expose said abstract class
* Convert `Decks.java` and `DecksV16.kt` to use the combined abstract class
* Define a `CollectionV16`, using the V16 implementations of the cla

[2021-08-05 02:23] #9171 closed

[2021-08-05 02:31] #7014 closed

[2021-08-05 02:57] #8434 closed

[2021-08-05 03:09] #8850 closed

[2021-08-05 03:20] mikehardy commented on #6669
@Abanoub-Asaad go for it!

[2021-08-05 03:24] mikehardy commented on #9265
I'm not sure how much choice we should offer in the future, though I'm sure people will want to crucify me for that statement. I think in general we should run on the latest scheduler, or - if this is ever implemented - whatever pluggable scheduler is explicitly chosen by a user with a disclaimer for that.

So whatever is done here I think it should be opinionated. I think it should be pushy towar

[2021-08-05 03:26] mikehardy commented on #4828
Oh, that is only unfortunate in that we are not behaving the same way. If Desktop is behaving the way you describe, they are doing it the correct way, I think.

It would be interesting to see exactly how they are doing this, are they re-writing the DOM somehow? However they are doing it, the closer we can get to doing the same in AnkiDroid, the better I think

[2021-08-05 04:34] dae commented on #9265
For reference, Anki dropped the option for v2→v1 downgrade in the 2.1.41 release in March. Users who really want to downgrade can still accomplish it by downgrading their app first. Currently they can continue to use v1 if they ignore the nag screen at the top of the deck list, but it will probably turn into a hard requirement in the not too distant future, as it's a significant maintenance burden

[2021-08-05 04:45] dae commented on #4828
Anki's been reusing the same page since at least 2011. It used to use jQuery to do $(topelement).html(), which seemed to tolerate variable redefinition (maybe it ran the scripts in their own environment?), but I seem to recall even back then variables would persist, and certainly if they were set on `window`. As of a few versions ago, we now set innerHTML directly and run the scripts without the h

[2021-08-05 10:16] Vortexagon opened #9372 "[Bug] Default deck shows up in card browser even when empty."
###### Reproduction Steps

1. Open AnkiDroid. It could be a fresh install or not. You could add your own decks at this stage, but from my testing the problem persists all the same.
2. Notice how there is no Default deck on your Home / Decks page.
2. Go to the card browser

###### Expected Result
The "Default" deck does not show up in the "Deck Search" menu in the card browser.

###### Actual Resul

[2021-08-05 15:07] david-allison-1 commented on #8436
I tried to do this a while ago. It'll be useful

[2021-08-05 15:57] mikehardy commented on #4828
Cool - thanks for the detail @dae - always appreciated. As I do more web-tech dev work I slowly understand more and more of this stuff. Eventually I'll be able to perhaps actually implement the useful change here! Or if anyone else wants to take it up, it would be truly loved by all the people that we push towards Javascript add-ons in the future (or the early adopters playing with it now)

[2021-08-05 15:59] mikehardy commented on #9265
I agree completely with shorter rev times for scheduler transitions when/if they happen (V3, then v4 etc), and I would also agree with disallowing the V1 transition if Anki Desktop already does that it doesn't seem like it should even be a discussion, big :+1:

Anyone that takes this up :pray: feel free to do the same

[2021-08-05 16:08] mikehardy commented on #9360
I wonder - when you rotate the screen it usually restarts the activity as it represents a configuration change - perhaps there is some part of the bundle that is not saved restored correctly across activity restarts?

@prateek-singh-3212 if you try to reproduce after turning on developer mode in your system settings then toggling "keep activities" to off in the developer settings, you might see th

[2021-08-05 16:09] mikehardy commented on #9356
Thanks for reporting this! We are working pretty hard on the gesture system and this area just changed recently in fact, perhaps @david-allison-1 may have an idea on this one

[2021-08-05 16:09] david-allison-1 commented on #9360
Should be able to repro by toggling night mode

[2021-08-05 16:10] mikehardy commented on #9360
oh yes - that's another good repro style - for completeness, the reason why night mode would do it as well is because it *also* restarts the Activity - they both will perhaps trigger the same underlying (bad) code pathway

[2021-08-05 16:12] mikehardy commented on #8114
The requirement for the widget to exist may *certainly* be removed with proper code
I literally maintain a notifications package (https://notifee.app) and there is no requirement on Android's part to have a widget running in order to get notifications. It's just something we're doing oddly in AnkiDroid and I never had time to root it out

[2021-08-05 16:14] david-allison-1 commented on #9356
This may not be possible without deviating from Anki Desktop's hint HTML

We use a WebView API to determine if we're touching a link, and that doesn't work with hints.

https://github.com/ankidroid/Anki-Android/blob/341e453ae469ca14405ba54fdd79fc77b1eeef76/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L3257-L3286

Needs a quick investigation to see what flags this code produc

[2021-08-05 16:17] david-allison-1 commented on #9356
I'm mistaken, this is already handled under the "Ignore touch gestures on Links" preference under "Gestures"

[2021-08-05 16:24] mikehardy commented on #9355
Regarding the API endpoint versioning discussion

I'm not a huge fan of encouraging use of old code either. As a developer I want to drop old code as soon as we have new code, and just move on as efficiently as possible

But APIs are special: they are promises to the ecosystem and stability is a big big big deal. I am very strongly for "semantic versioning" (https://semver.org/) and making promise

[2021-08-05 16:32] mrudultora commented on #8436
I tried it on the day I commented on this thread, but was unable to do it in the way Mike suggested😅. Apologies, as I didn't mentioned that here.

[2021-08-05 16:38] #9231 closed

[2021-08-05 16:40] mikehardy commented on #8436
I am shocked my vague descriptions, including no actual code or even pseudo-code, do not work immediately! :laughing:

[2021-08-05 16:41] mikehardy commented on #9356
I'd suppose we need to treat the string constant there as having a "vague-ness" bug, and maybe make a new constant string that is more general like "Ignore touch gestures on interactive card elements" ? (wording always up for debate, wording is hard)

[2021-08-05 16:46] mikehardy commented on #9286
This style is enforced for AOSP but is explicitly disavowed for app development in the Java (not Android Operating System!) standards https://issuetracker.google.com/issues/37125359

For Kotlin, we have no need to carry on these Java habits. Please feel free to remove it.

[2021-08-05 16:53] mikehardy commented on #9361
Agree din general, however in my experience with systems that attempt to converge code version expectations with unknown external storage system version status (read as: Preferences, and Collection - each separate storage systems), you must have a version stored in each external storage system, and each must be considered separately each time on startup.

That's not some earth-shattering idea, jus

[2021-08-05 21:07] mikehardy opened #9376 "Release script using deprecated github API style"
###### Reproduction Steps

1. run `./tools/release.sh` (or trigger the github action 'Publish'
2. note that you may (or maybe just me since it's using an API key connected to me) receive an email about the deprecation...
3. ..or note that during `August 11, 2021: For 48 hours starting at 14:00 UTC` outage publish is not possible

###### Expected Result

Publish proceeds happily without deprecation

[2021-08-05 22:50] #9309 closed

[2021-08-05 22:57] david-allison-1 opened #9377 "Remove AOSP code style lint for Kotlin code"
This style is enforced for AOSP but is explicitly disavowed for app development in the Java (not Android Operating System!) standards https://issuetracker.google.com/issues/37125359

For Kotlin, we have no need to carry on these Java habits. Please feel free to remove it.

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/9286#issuecomment-893607605_

[2021-08-06 01:44] david-allison-1 commented on #9368
Tried and can't repro this. Definitely a problem

[2021-08-06 01:59] Feripe-a commented on #9360
I'm glad to read that you three are working looking at it. Keep up with the great work.

[2021-08-06 02:33] #9377 closed

[2021-08-06 06:06] BilderLoong commented on #9231
Thank you guys so much!

[2021-08-06 06:53] henon opened #9379 "[Bug] In night mode the card menu is white text on white bg"
Screenshot
![Screenshot_20210806-084544_AnkiDroid](https://user-images.githubusercontent.com/44090/128468786-4efeb0b0-81d9-4646-af16-fb353c8c7c2e.jpg)
![Screenshot_20210806-084622_AnkiDroid](https://user-images.githubusercontent.com/44090/128468813-ef1edeb3-1931-46d1-aeb3-ac3ac2b0659f.jpg)

Android version 11

[2021-08-06 07:29] 9004912418 commented on #9379
The one way to enable dark mode on the menu is by using a CSS media query for the user's preferred color scheme. This media query will hook into the system setting of the user's device and apply the theme if a dark mode is enabled.

@media (prefers-color-scheme: dark) {
  :root {
    /* dark mode variables go here */
  }
}

currently, the prefers-color-scheme media query has limited browser suppor

[2021-08-06 08:29] prateek-singh-3212 commented on #9379
Thanks @henon for reporting this issue. Can you please fill the debug template. And please specify the ankidroid version.

To copy debug info goto:- settings-> advanced -> ankidroid -> copy debug info

[2021-08-06 09:42] henon commented on #9379
AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = samsung

Model = SM-G996B

Hardware = exynos2100

Webview User Agent = Mozilla/5.0 (Linux; Android 11; SM-G996B Build/RP1A.200720.012; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/92.0.4515.131 Mobile Safari/537.36

ACRA UUID = 737fbbf8-1b81-4e6b-85d6-764716405993

Scheduler = std2

Crash Reports Enabled = true

Data

[2021-08-06 09:49] henon commented on #9379
Btw, both dark themes have that issue, Black and Dark.

[2021-08-06 13:58] soham4abc commented on #9333
I am willing to work on this issue! If possible pls assign!

[2021-08-06 14:02] david-allison-1 commented on #9333
Sounds good to me!

[2021-08-06 15:29] RIzZleR23 opened #9381 "[Bug]"
###### Reproduction Steps

1. I was using anking deck
2. wanted to switch to a different deck usmle lab values
3. after opening the lab value deck

###### Expected Result
wanted to start seeing reveiw cards

###### Actual Result
the app either freezes or takes a lot of time to show the card. I have to force close the app and clear cache to make it work, but then also sometimes the problem persists

[2021-08-06 15:39] mikehardy commented on #9381
Interesting - I think you are opening this in response to my response to your play store review?
I note that you have not included the requested information to help us troubleshoot - it's in the template:

Please fill that in.

Also, Anking is a very large deck - it should work but when we have performance issues it is usually with that deck because it is so large. I'm under the impression that th

[2021-08-07 01:01] Arthur-Milchior commented on #9355
Just to be very clear. It would not be okay to you to just revert the change in the next 2.15 release, and put a message that this API changed its behavior at the start of 2.15 then reverted back to previous behavior? Behave the same way as if it was a bug that got solved in the same major version, with a warning in the API documentation about the temporary bug.

In this case, reverting the API on

[2021-08-07 01:45] hanpingchinese commented on #9355
@Arthur-Milchior regarding the mailing list, I was thinking this would be a good idea after issue https://github.com/ankidroid/Anki-Android/issues/8957 because it would be useful to give 3rd party app developers a heads-up to test integration shortly before a major AnkiDroid release.

[2021-08-07 01:50] david-allison-1 opened #9384 "Kotlin: Compile warnings should break the build"
`AnkiDroid:compileAmazonDebugKotlin` currently produces warnings, these should be fixed (ignored)

and the build should break if more compiler warnings are introduced

[2021-08-07 02:41] #8845 closed

[2021-08-07 02:42] #8221 closed

[2021-08-07 06:48] david-allison-1 commented on #9309
To note: the following must return false for an upgrade to take place (a change in version code must occur)

This can be changed to return `false` in Debug mode so the developer does not constantly need to bump the version code

https://github.com/ankidroid/Anki-Android/blob/d1fbe84b03c845aad8768934fe27e3011fa0c961/AnkiDroid/src/main/java/com/ichi2/anki/InitialActivity.java#L165-L167

[2021-08-07 11:23] prateek-singh-3212 commented on #8114
Hello,
I planned the notification design which **Dose'nt** Require the Widget.
Here is the short proposal. Please comment the if their is something I missed or did wrong.

@david-allison-1 Regarding the UI thing I will update it and notify here. I think the Removal of widget from notification and Adding new deck notification UI is different task.

[2021-08-08 00:51] #8473 closed

[2021-08-08 13:58] VishnuSanal commented on #5685
@david-allison-1 @mikehardy Letting this to your concern, shall I work on this issue?

[2021-08-08 14:36] #8821 closed

[2021-08-08 15:55] mikehardy commented on #8114
@prateek-singh-3212 - can I ask you to keep all discussion here? I read the notion link and I see no reason why simple markdown in a comment here can't capture it, that way we have all the discussion in one place that won't suffer link rot over the next 10 years...

[2021-08-08 16:06] mikehardy commented on #9355
I usually look for lighter automated solutions that are event-based if possible, vs "do more work" solutions. I already have plenty of "do more work" things going on in the release process, but github.com provides a way to "watch" a repository for new releases only, that way you'll get a github notification for any release. Then API integrators can see when we go into beta for a 2.N.0 release with

[2021-08-08 16:12] mikehardy commented on #5685
Go for it!

[2021-08-08 17:02] prateek-singh-3212 commented on #8114
## What we are doing wrong?

The main issue in making notification functional is that whenever the widget status updates notification triggers in POST Execute ([this](https://github.com/ankidroid/Anki-Android/blob/09893d5cd41e5f49eeb2bb1fa59e00e02bdb75df/AnkiDroid/src/main/java/com/ichi2/widget/WidgetStatus.java#L114)).

 Whenever these (improper) condition occurs card due  displays notification :

[2021-08-08 17:09] mikehardy commented on #8114
With regard to limitations: WorkManager should be sufficient for our uses, this is not an alarm clock application that needs precision.

With regard to design, what if:
- we just stored which decks users wanted notifications for, and what time to display the notification
- we set a workmanager task to generate the notifications at that time
- then at all the other times (onPause etc) we had an asy

[2021-08-08 17:18] farjadilyas opened #9386 "[Bug] Can't import .colpkg collection if it uses V2 Scheduler"
###### Reproduction Steps

1. Settings -> Advanced -> Enable V2 Scheduler
2. Deck Pickers' top right hand menu -> Export Collection (saves as .colpkg file)
3. Deck Picker's top right-hand menu -> Import (the same file saved in Step 2)

###### Expected Result
Imports the .colpkg collection and replaces the current collection with the imported one

###### Actual Result
App crashes

###### Debug info

[2021-08-08 17:19] farjadilyas commented on #9386
I'd like to work on this

[2021-08-08 17:54] mikehardy commented on #9386
sure!

[2021-08-08 19:50] #9386 closed

[2021-08-08 21:52] henon commented on #9379
Strangely enough, now it is working. All I did is install an OS update, but of course we can not know for sure if that is the real reason.
![Screenshot_20210808-234440_AnkiDroid](https://user-images.githubusercontent.com/44090/128646740-cbda68e6-b422-4e26-867a-a9b123652b2d.jpg)

AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = samsung

Model = SM-G996B

Hardware = exynos2100

Webvi

[2021-08-08 21:52] #9379 closed

[2021-08-08 21:53] david-allison-1 commented on #9379
Very likely it was the OS update, nothing's changed on our side

[2021-08-08 23:45] david-allison-1 commented on #8114
I'm personally moving away from the concept of storing preferences in a fixed database schema, there's a lot of overhead from schema versioning, it makes it harder to inspect the data, SQL is verbose and prone to mistakes and there's little benefit (maybe speed?)

Echoing Mike: screen designs are the most useful, after that we can discuss data storage.

[2021-08-09 02:06] hanpingchinese commented on #9355
I didn't know there was a way to watch for when a minor (e.g. 2.N.0) release goes into beta. That would be good enough for me, if there are clear instructions on how to get it to work.

I also don't see any point in doing anything with pre 2.16 code. The behavior-change ship has already sailed. I don't even think you need v1/v2 provider for 2.16 (unless you have some other feature in mind). You co

[2021-08-09 02:09] hanpingchinese commented on #9355
But there is another important point in this thread which I think might have been missed. Currently, it's possible to get into a state where the user is simultaneously told "this card is empty" and "there are no empty cards". See screenshots.

[2021-08-09 03:54] david-allison opened #9390 "[Bug] Kotlin: can no longer commit hunks"
It seems that due to the pre-commit hook, the full file is committed

https://github.com/ankidroid/Anki-Android/blob/master/pre-commit