[2021-11-11 10:38] #8732 closed

[2021-11-11 17:59] serjace opened #9878 "Anki is not displayed correctly on Samsung Galaxy Tab S7+ in horizontal view [Bug]"
###### Reproduction Steps

1. Open or emulate AnkiDroid on [Samsung Galaxy Tab S7+](https://www.gsmarena.com/samsung_galaxy_tab_s7+-10336.php) (12.4" screen size, 1752x2800 pixels resolution, 16:10 aspect ratio (~266 ppi density)
2. Enable horizontal view.
3. You will see that those bars are not aligned - https://ibb.co/rpnMPV2.
![with gestures enabled](https://user-images.githubusercontent.com/83

[2021-11-12 03:07] mikehardy commented on #9878
Hi there! Yes, this is a known item that we've fixed but not released yet, release is going to take a while it is blocked on a very very important change to the way we handle the database in #9123

The issue you are seeing is #9279 and was fixed in #9285

You can get the fix now if you want, via alpha testing https://docs.ankidroid.org/manual.html#betaTesting or directly installing https://github.

[2021-11-12 03:07] #9878 closed

[2021-11-12 09:04] david-allison-1 commented on #9853
Also reproducible on 2.15.6 on my Pixel

[2021-11-12 13:57] mikehardy commented on #9259
Going to pin it

[2021-11-12 19:07] ctonnesen opened #9886 "Difficulty Displaying Cloze and Type Fields"
I used Anki back in 2.0 and am recently returning to it for some brutal classes. I had it set up then where I could have multiple Cloze Deletions on the front and then type in the answers. However, upon loading up 2.1, all of my add-ons were invalid, so I began the process of trying to recreate the experience. I stumbled upon this [add-on](https://ankiweb.net/shared/info/1933645497), however it ca

[2021-11-12 19:18] david-allison-1 commented on #9886
Hi, this is fixed in #9743; it may take a while to release this feature (we've got a big change for 2.16, and this will likely land in our "Rust Backend" change for 2.17).

[2021-11-12 19:18] #9886 closed

[2021-11-13 12:33] #4911 closed

[2021-11-13 12:34] mikehardy commented on #4911
The next alpha build will have a tags editor that works on multiple things at once

[2021-11-13 13:37] #9498 closed

[2021-11-14 00:59] david-allison-1 commented on #5793
Oh wow! That's a lot of thumbs up. Started working on this

This requires further design WRT interaction with "automatic display answer"

Automatic display answer both flips the card, and has the ability to bury/answer the card after a user-supplied timeout.

### Current behaviour

* TTS needs to explicitly be enabled in the advanced settings (preference: `tts`)
  * If this is enabled, it searches

[2021-11-14 07:38] avikkundu commented on #9825
want to work on it.

[2021-11-14 07:53] sangorys commented on #8660
The bug disappears after my phone update to Android 12 !!!

[2021-11-14 07:53] #8660 closed

[2021-11-14 12:16] david-allison-1 commented on #9825
Sounds good to me!

[2021-11-14 12:46] mikehardy commented on #9825
wait - I was in this area recently and I think it was already done - check our androidmanifest, via git blame and see:

https://github.com/ankidroid/Anki-Android/blame/master/AnkiDroid/src/main/AndroidManifest.xml#L57-L62

https://github.com/ankidroid/Anki-Android/commit/0bc0563e55be418b7e639425a88284c9dcb823f1

https://github.com/ankidroid/Anki-Android/pull/9660

[2021-11-14 12:47] mikehardy commented on #9825
Ah well it is done at least for the TTS interaction, but a quick grep -r for the strings I mention above anOpenIntent / tryOpenIntent  to see if we need to specify other things is probably still useful.

One possible result of this scan is "no action needed" - I would actually gamble and say that is the likely outcome, but the only way to know is searching / inspecting

Thanks!

[2021-11-14 17:01] #5428 closed

[2021-11-15 01:05] SurajJhaIn opened #9902 "How to assign undo gesture to s pen"
I tried to assign undo to s pen button, but it doesn't seem to work. Can we make it happen please.

[2021-11-15 01:08] david-allison-1 commented on #9902
Hi,

Can you try installing an alpha build and finding out if you can map an S-Pen button in `Settings - Controls`: https://github.com/ankidroid/Anki-Android/releases/download/v2.16alpha32/AnkiDroid-2.16alpha32.parallel.B.apk

Best wishes,

David

[2021-11-15 12:51] mikehardy commented on #9355
I cannot see any reasonable way to backport anything, because of the way we develop (moving forward very fast) and the intersection with API30 support, I believe the 2.5.x branch is dead and gone. I don't say that with malice or intention I just believe it to be incontrovertible fact. Let me know if that's wrong.

For 2.16.x though, thoughts sound good

[2021-11-16 02:27] SurajJhaIn commented on #9902
I tried it many times, but s pen button doesn't work. It works fine with other apps like Infinite painter, Samsung notes. Please make it possible.

[2021-11-16 03:12] david-allison-1 commented on #9902
It'll likely be a fair bit of work (and I don't have a device with an S-Pen). The fastest way for this to be implemented is if you have a chat about implementation and code it yourself. Would you have the time to do this?

Ref: https://github.com/ankidroid/Anki-Android/issues/9670#issuecomment-946706801

[2021-11-16 09:08] shiideyuuki commented on #9764
https://drive.google.com/file/d/1hBnlvuXcRVdjeny66M8q4wU0Zaz_HXyp/view?usp=drivesdk

[2021-11-16 16:50] mikehardy commented on #9451
This is available for anyone to work on.

[2021-11-16 19:30] MagTun opened #9905 "[Help or Feature request] Possibility to save permanent custom settings"
On my note template, I have several checkboxes that determine if some specific events will be fired or not.

I am looking for a way to save the last state of each checkboxes so that when a new card is loaded, they are each set in the same state as on the previous card. So basically, each time the state of a checkbox is changed, its current state should be saved somewhere. Then when a new card is l

[2021-11-16 19:34] mikehardy commented on #9905
I believe you want to use the web storage API, kind of like this project does ? https://github.com/pigoz/anki-canvas/blob/master/src/storage.ts

[2021-11-17 03:46] SurajJhaIn commented on #9902
I would love to, but unfortunately I don't that coding expertise.

[2021-11-17 04:07] SurajJhaIn commented on #9670
Here's open SDK for s pen https://developer.samsung.com/galaxy-spen-remote/s-pen-remote-sdk.html. I believe all the functionality would work if you follow the official samsung instructions to integrate spen SDK which is here https://developer.samsung.com/codelab/s-pen-remote/s-pen-remote-sdk.html#

[2021-11-17 16:35] mikehardy commented on #9811
go for it! Welcome :-)

[2021-11-17 21:22] SpacexerDragon5 opened #9908 "Invert colour for images on cards when Anki is in dark mode"
it would be nice if there where an option when i create cars, which allows me to invert the colours of an image when dark mode is enabled or not. This becomes useful for screenshots which contain allot of text. eg:
![Screenshot_20211117-220606](https://user-images.githubusercontent.com/68651941/142284058-c6397eb6-3844-42d2-8c93-7bd530b0de04.png)
vs
![image](https://user-images.githubusercontent.co

[2021-11-17 21:23] SpacexerDragon5 commented on #9908
It's less important but i think it's worth mentioning it here

[2021-11-17 21:23] david-allison-1 commented on #9908
You should be able to do this with the card template, and the `.night_mode` CSS selector

[2021-11-17 21:37] #9281 closed

[2021-11-17 21:55] #9341 closed

[2021-11-17 21:58] mikehardy commented on #9908
Indeed! It's documented: https://github.com/ankidroid/Anki-Android/wiki/Advanced-formatting#invert-color-of-images-in-night-mode

[2021-11-17 21:58] #9908 closed

[2021-11-18 02:50] sethbuchinger commented on #9097
I would like to take this one on if possible.  I was wondering if this is is just a matter of updating the ACRA report fields or if there is more to it than that?  The TOTAL_MEM_SIZE and AVAILABLE_MEM_SIZE are available in that library.

[2021-11-18 03:02] mikehardy commented on #9097
I think it's just adding report fields, but storage not mem :-)
Definitely look at the current version of that file just in case - I maintain that library and I don't think there has been any motion in that storage size area for a while but you never know

[2021-11-18 04:15] danielmanesku commented on #6098
This is great, however, very well hidden.

If issue search brought you here and you don't know upfront what to put in the Back Template, here is an example:

[code]

[2021-11-18 06:03] pun33t19 commented on #9811
Hi i had a look through the app and couldnt find the exact place of issue....could you brief a little

[2021-11-18 06:37] pun33t19 commented on #9811
Hi @david-allison-1 i had a look through the app and couldnt find the exact place of issue....could you brief a little

[2021-11-18 10:31] ThoreBor opened #9914 "[Bug] v2.16alpha33 crashes when changing Decks in Card Browser and Statistics"
###### Reproduction Steps

1.  Open Card Browser or Statistics
2.  Tap on the deck on top to change it

###### Expected Result
Deck selector pops up

###### Actual Result
App crashes

###### Debug info
AnkiDroid Version = 2.16alpha33
Android Version = 11
Manufacturer = Xiaomi
Model = Redmi Note 8 Pro
Hardware = mt6785
Webview User Agent = Mozilla/5.0 (Linux; Android 11; Redmi Note 8 Pro Build/RP1A

[2021-11-18 11:50] camerooncameroon opened #9915 "Ability to add new or adjust existing whiteboard pen colors"
Hi! Anki Droid has great feature - whiteboard - which is exceptionally useful for many and especially CJK learners.

The whiteboard pen in the latest to date version of Anki Droid has 5 available colors (white, green, blue, red and yellow) + an additional black square which (on tap) allows to set thickness of the pen.
Such multicolor pen is also great for CJK learners as it helps memorize Chinese

[2021-11-18 12:37] Cho-jin opened #9916 "Night mode and table color."
Black table border is not displayed in night mode.

Black character is transfered to white character.

But Black table border is not.

[2021-11-18 13:10] david-allison-1 commented on #9811
https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/InsertFieldDialog.kt

https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/InsertFieldDialogFactory.kt

Presumably `InsertFieldDialogFactory` is being used incorrectly. Take a look at how our other dialog factories are used, and where they're register

[2021-11-18 13:18] david-allison-1 commented on #9916
Thanks for the report! What does Anki Desktop do here?

If we don't match, then we'll fix it.

If we do, we need to fix this in Anki Desktop first.

In the meantime, to fix your problem, you may need to update the card template:

https://github.com/ankidroid/Anki-Android/wiki/Advanced-formatting#customize-night-mode-color

See also: https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#

[2021-11-18 13:21] david-allison-1 commented on #9914
Thanks!

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/df4d5354-da4b-4cdf-a3d4-880a0d185c03

[code]

[2021-11-18 13:24] david-allison-1 commented on #6098
@danielmanesku Thanks so much for the elaboration!

![](https://media.giphy.com/media/g9582DNuQppxC/giphy-downsized.gif)

[2021-11-18 13:33] david-allison-1 commented on #9914
Introduced in f96bdfbc1f756e6e7b61d404e50c3acd3f3d7716. #9755

https://github.com/ankidroid/Anki-Android/blob/f96bdfbc1f756e6e7b61d404e50c3acd3f3d7716/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/DeckSelectionDialog.java#L343

This spinner only exists in `NoteEditor`

[2021-11-18 13:34] ThoreBor commented on #9914
I'm not completely sure, but I think it worked in 2.16beta20 and earlier. I didn't test any betas between 20 and 33 though.

[2021-11-18 13:35] ThoreBor commented on #9914
Alright, great!

[2021-11-18 13:41] david-allison-1 commented on #9914
Will get this sorted today. My thoughts are that alpha feedback is invaluable to us, and in return we should keep alpha users as happy as possible

[2021-11-18 14:13] sethbuchinger commented on #9097
Ahh, good point on memory vs. storage.  I was confused by the comment "Estimation of the available device memory size based on filesystem stats", but in any event I can check it out.  I'm new to ACRA and was wondering where the crash reports are stored for AnkiDroid, so I could check them out.  Unless there is a way to output it locally?

[2021-11-18 15:07] david-allison-1 commented on #9755
I've reopened this due to https://github.com/ankidroid/Anki-Android/issues/9914, and reverted the change which implements this: https://github.com/ankidroid/Anki-Android/pull/9917, as fixing the functionality was more complex than I anticipated.

Proposed path to fix this:

* Add regression tests, ensuring that tapping on the deck selection dialog does not crash.
* The adapter's SelectedItem funct

[2021-11-18 15:09] robertocarta commented on #1633
What ways? I couldn't find any

[2021-11-18 15:18] david-allison-1 commented on #1633
@robertocarta

This feature is implemented in our [alpha builds for Anki 2.16](https://docs.ankidroid.org/#betaTesting)

Otherwise, many keyboards for Android support a handwriting recognition mode.

[2021-11-18 15:26] robertocarta commented on #1633
@david-allison-1 handwriting recognition is very different from drawing with a stylus. When studying maths, for instance, quickly drawing math symbols makes a lot more sense.

[2021-11-18 15:40] david-allison-1 commented on #1633
This feature is implemented in our [alpha builds for Anki 2.16](https://docs.ankidroid.org/#betaTesting)

#9363 #9394

[2021-11-18 15:54] david-allison-1 commented on #9097
https://github.com/ankidroid/Anki-Android/wiki/Crash-Reports#developing--testing-acra-functionality may be helpful (lists a free to access DEV instance). You can use the file explorer to browse `/data` for an ACRA report, but I haven't done so myself.

https://github.com/ankidroid/Anki-Android/pull/8301 may also be useful context

[2021-11-18 16:43] codingtosh commented on #9755
Thanks @david-allison-1  for the suggested path. If this isn't high priority after the rollback, I'll look into this over the weekend if that's okay? I'll be working on the kotlin migration until then.

[2021-11-18 17:07] sethbuchinger commented on #9097
Thanks!  I will look through that info

[2021-11-18 17:30] david-allison-1 commented on #9755
Not high priority at all, whenever it suits you.

[2021-11-18 18:36] #5844 closed

[2021-11-18 19:16] #9914 closed

[2021-11-18 19:22] mikehardy commented on #9914
:100: on that - merged and I'm sorting the rest of the days PRs right now, will do a new alpha afterwards. Note @ThoreBor that we are blocked from uploading to the play store alpha channel until we finish scoped storage migration work and can increase our target API, but they will be on the releases page

[2021-11-18 19:27] mikehardy commented on #9097
Note: if you're in ACRA-land already, you might take a look at #7805 / #9779 - one thing about changing the initialization style is that while the wiki page I wrote up about ACRA testing does work, and should be used for final testing, you'll see in the initialization work where you can grab hold of how ACRA does reporting and maybe for testing you can have it dump to a file or send you a mail or

[2021-11-18 20:31] ThoreBor commented on #9914
Thank you guys for the fast fix. I always download from the releases page.

[2021-11-18 23:49] Cho-jin commented on #9916
Thanks, I solved the problem.

.night_mode   {
 filter: invert(1); -webkit-filter:invert(1);
}

[2021-11-19 02:47] Arnold2381 commented on #9915
I am taking up this.

[2021-11-19 02:57] #9916 closed

[2021-11-19 03:33] zihanxu3 commented on #8342
Hi can I take the issue? Thanks!

[2021-11-19 14:07] david-allison-1 commented on #8342
Sure! Thanks

[2021-11-19 14:50] MagTun commented on #9905
Sorry for the delay and thanks a lot for your quick reply.

I spent some times trying to understand how this app works but I am still very confused by it.

At least, thanks to this script, I figured out that I can use `window.sessionStorage` to hold a value across a single session which is better than the current work around that I have set up.

But it would be even better if I could hold the  val

[2021-11-19 15:01] mikehardy commented on #9905
I see what you mean. Here's a logical progression:
- IF we hope for there to be a cross-platform javascript API used by 3rd party extensions...
- THEN we should recognize those extensions may have configuration (or state) of their own
- THEREFORE we should offer a place for javascript API to store state and config that syncs

I believe the only place to do this is in a data element in the collecti

[2021-11-19 15:53] david-allison-1 commented on #9905
Just to note: we can enable LocalStorage, this is discussed: https://github.com/ankidroid/Anki-Android/issues/6971

[2021-11-19 16:55] mikehardy commented on #9905
in my opinion, if it is not possible to sync it across devices it is seriously diminished as a feature.

[2021-11-19 17:06] MagTun commented on #9905
@david-allison-1, thanks for letting me know!

I understand that I should add `webview.getSettings().setDomStorageEnabled(true);`  somewhere among [here](https://github.com/ankidroid/Anki-Android/blob/ab5472d710bf106aa70301b1cad9194d599ebe72/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L1560) but I have no idea how I can edit this file. I searched in Android/data/com.ichi2.a

[2021-11-19 17:58] david-allison-1 commented on #9905
You'll need to pull AnkiDroid from source (either via downloading a zip, or `git clone`), and edit it via Android Studio.

These steps should be useful: https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#source-code

[2021-11-19 18:22] MagTun commented on #9905
I was hoping not to go this way ;-). Also it's not a long term solution as I would have to package Ankidroid each time there is a new update.

Is there a reason why `webview.getSettings().setDomStorageEnabled(true);` is not part of the core Ankidroid source code? If there are drawbacks to using it, maybe adding an advanced feature to be able to activate it, just for the users who want to still use

[2021-11-19 21:45] Peyman-hme commented on #9461
Hi. Can I working on it?

[2021-11-19 21:58] mikehardy commented on #9461
Sure!

[2021-11-20 02:36] davidberg-python opened #9933 "[Bug]sound is not work"
###### Reproduction Steps

1. i click on button

###### Expected Result
hear the sound

###### Actual Result
I do not hear

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.ht

[2021-11-20 04:34] javiercl2020 opened #9934 "Font very small"
When you are studying the flashcards the font its very small compared to when you are editing and preview them
![Screenshot_20211119-222949](https://user-images.githubusercontent.com/73913963/142714489-d24c5a36-909a-498e-95bc-d0755934c6cf.png)
![Screenshot_20211119-223012](https://user-images.githubusercontent.com/73913963/142714490-d21a15b8-e3d9-4129-adc2-8fb779b5f555.png)

[2021-11-20 08:33] lamvankhoat1 commented on #6772
May I ask this, will this feature come out in this version 2.16?

[2021-11-20 11:00] divyansh2212 commented on #9934
@javiercl2020 Hey, I want to contribute to this issue. How can I start to do so?

[2021-11-20 13:09] mikehardy commented on #9933
Hi there - with apologies, you have not provided any of the information requested, so we do not have any ability to help.
I can personally attest that sound works fine for my cards in my app, so sound in general is working.
I assume either the sound is missing https://github.com/ankidroid/Anki-Android/wiki/FAQ#why-doesnt-my-sound-or-image-work-on-ankidroid
Or you have done something to your card t

[2021-11-20 13:09] #9933 closed

[2021-11-20 13:11] mikehardy commented on #6772
Most likely not - 2.16 already has the most incredible backlog of features and fixes and changes going in, and putting anything else in it would be a bad idea from a release management / stability perspective.
2.16 will go as soon as #9249 scoped storage is done, to get all the current work out

[2021-11-20 13:12] mikehardy commented on #9934
This isn't an issue - this is a card template issue.
Each card is a tiny web page, with all the power of HTML and CSS.
It appears you have used (or downloaded a deck that uses) this power in the template, with results that you don't personally like
That's an issue with your data in your card template though, and you'll have to edit that in order to achieve the results you want

Here's our best inf

[2021-11-20 13:12] #9934 closed

[2021-11-20 16:24] javiercl2020 commented on #9934
Yes I understand I did change the font size to 50 px and still very small but when I edit them its huge only when I study them its small

[2021-11-20 19:44] balta2ar opened #9935 "[Bug] regression: deck search: scroll to current deck in statistics"
###### Problem

I'm using the latest version from Google Play. It looks like in recent versions the window that helps you select a deck in statistics has changed from a simple drop-down to a full-fledged window with search. One thing that I noticed that was missing and what I relied very much on was that when I press drop-down, I expect the drop-down to be scrolled down so that to the current deck

[2021-11-20 19:45] mikehardy commented on #9282
This fails for me locally too, it is a *real* pain.

[2021-11-20 19:46] mikehardy commented on #9935
Hi there! Not sure if you are the same affected user but I feel like this was a conversation I had with someone recently on either play store comments or on mailing list? Either way, I can imagine this is irritating - I'll tag it up and hopefully someone can look into it

[2021-11-20 20:54] balta2ar commented on #9935
Nope, I'm a different irritated user, which means there are more of us :sweat_smile: Just kidding! Appreciate your time and efforts :hugs:

[2021-11-21 04:54] KasinaDheeraj commented on #9935
Hey @mikehardy , I would like to work on this issue.

[2021-11-21 10:26] Aman1131145 commented on #9811
hey @david-allison-1 can I make this my first contribution if no one else is working on it.

[2021-11-21 10:32] Aman1131145 commented on #9525
hey @david-allison-1 can you assign this to me.

[2021-11-21 14:10] thevar2002 commented on #9525
Hey @david-allison-1 I would like to work on this issue. @Aman1131145 I am looking into this issue from yesterday Midnight. Just Joined the Discord and Read up development Guide. Would mean a lot if you could let me work on this one.

[2021-11-21 15:17] mikehardy commented on #9525
Okay @thevar2002, please have at it, but in future please drop a comment so people *know* you're active on something :-), welcome to you both though! Happy to have new folks around. @Aman1131145 hopefully something else tagged up as help wanted / good first issue looks interesting. Cheers!

[2021-11-21 15:18] mikehardy commented on #9811
Sounds great! Glad you saw something else interesting, cheers

[2021-11-21 15:18] mikehardy commented on #9935
Yes please! good luck, and welcome

[2021-11-21 19:31] Aman1131145 commented on #9525
Hey @thevar2002, I am a fresher to this field, and it is my first assignment and there is way too much code to even start with. Can you help me to get started with the code.

[2021-11-21 21:51] bahamut8591 opened #9936 "cards disappear when reviewing"
Having an issue when i am reviewing my deck and it will say 75 card to review, and at a random point, a decent amount of them disappear.

Been doing this a few times, today i caught it when i had 31 card to review, and then it went to 1 card

[2021-11-22 02:52] davidberg-python commented on #9933
on my computer the sound works but on my cell phone it doesn't

[2021-11-22 03:04] davidberg-python commented on #9933
Settings - AnkiDroid - Fetch media on sync was not selected

[2021-11-22 09:59] camerooncameroon opened #9937 "Allow different information elements (widgets) to be pinned (fixed) on the Anki's main window and be scrolled independently"
**Is your feature request related to a problem? Please describe.**
Not a problem but a little inconvenience hence that's more an **enhancement** than a **feature** request

**Describe the solution you'd like**
To allow different information blocks (elements or widgets) be pinned in the visible part of main window (subdecks windows) and to be scrolled separately - the aim is to keep all the informa

[2021-11-22 17:14] duanyang25 commented on #9532
I am currently working on this issue.

[2021-11-22 20:36] av223119 opened #9941 "Android 12 performance issues"
###### Reproduction Steps

1. Install AnkiDroid 2.15.6 on Android12 system
2. Import a reasonably large deck (in my case ~6000 cards)
3. Learn

###### Expected Result
Reaction on the buttons should be immediate or almost immediate

###### Actual Result
Occasionally the program freezes for 3-5 seconds; during the freeze, it remains completely unresponsive and doesn't react on any actions, including

[2021-11-22 21:51] mikehardy commented on #9941
Thanks for reporting this and including your system info @av223119 I appreciate it!

For interested parties: I have started hearing a few reports of this on play store reviews and on the mailing list for Android 12.

What is it? No idea unfortunately but here is the start of our troubleshooting info :point_up:

[2021-11-22 22:02] mikehardy commented on #9941
Interestingly I have a Pixel4a in the house but I don't think it's on Android 12 yet? It's the wife's phone and I am usually the updater but I have been busy. This doesn't look good at a first glance though: https://support.google.com/pixelphone/thread/132194325/battery-drain-after-updating-to-android-12-in-pixel-4a?hl=en - appears there is more than on gremlin in Android 12 still

[2021-11-22 22:18] david-allison-1 commented on #9941
My Pixel 3A is offering me the Android 12 update. Haven't done it yet due to the potential need for testing scoped storage.

[2021-11-22 22:43] av223119 commented on #9941
I believe the a12 update has been rolled out to Pixel users across the
globe cca one month ago. I haven't experienced any battery-related issues,
but of course YMMV.

po 22. 11. 2021 v 23:02 odesílatel Mike Hardy ***@***.***>
napsal:

[2021-11-23 09:40] david-allison-1 commented on #8925
Fixed in #9249, it's writing to a "publicly visible" directory that's taking time.

Significantly faster if the directory is changed to `/storage/emulated/0/android/data.com.ichi2.anki/testCol`

[2021-11-23 13:26] mikehardy commented on #8925
what!? is there some documentation on that ? Is it because of MediaScanner ?

[2021-11-23 13:28] mikehardy commented on #8925
(I ask because there are ways to disable it like dropping a .nomedia file in there?)

[2021-11-23 15:51] mikehardy commented on #8925
Fascinating.

[2021-11-23 19:03] 64kramsystem opened #9943 "[Bug] Card browser displayes the card back as answer, for "Basic (type in)" cards"
###### Reproduction Steps

1. Create a "Basic (type in)" card, with "front" as front text, and "back" as back text
2. Open the Card browser

###### Expected Result

The card should show "front" as Question, and "back" as Answer

###### Actual Result

The card shows "front" both as Question and Answer

###### Debug info

I've edited away some fields for privacy.

[code]
Refer to the [support page](

[2021-11-23 19:37] david-allison-1 commented on #9943
Thanks!

What does Anki Desktop do here?

[2021-11-23 19:39] david-allison-1 commented on #9943
To work around the issue:

* Deck Picker - Manage Note Types - Basic (type in answer) - Long press - Cards - Menu - Browser Override and enter `{{Back}}` in the back template.

Here's a quick video demo: https://www.youtube.com/watch?v=JbxNP4pSIBA

[2021-11-23 20:14] SpacexerDragon5 commented on #9908
great! Thank you, I didn´t saw any buttons or so to enable this...

[2021-11-23 20:24] mikehardy commented on #9908
Yep - it's not exposed in the UI. There are quite a few "dark corners" of the Anki system where basically anything is allowed, and it's the escape hatch for low-frequency user requests - this is one of them. That isn't to say these requests aren't important, just that developer time is scarce. So for a lot of things it boils down to: "well, it's actually a web page, and you can edit it with web to

[2021-11-23 21:29] 64kramsystem commented on #9943
Thanks for the reply!

The Desktop version is also affected. I've tried the Windows version (the Linux version doesn't work :grimacing:), and in the browser, if I add the `Answer` column (it's not present by default), it shows the front.

[2021-11-23 21:39] david-allison-1 commented on #9943
Could you please report this on the [Anki Desktop forums](https://forums.ankiweb.net/), once they get the fix, we'll implement it.

I'm going to close this under the assumption:

* My previous comment with the YouTube video resolved your issue
* This is an issue which should be fixed upstream, and there's nothing for us to do until this case.

If I'm wrong, or when Anki Desktop has fixed this, ple

[2021-11-23 21:39] #9943 closed

[2021-11-23 21:41] 64kramsystem commented on #9943
Excellent. Thank you for the prompt help :smile: And for your product! :heart_eyes:

[2021-11-23 22:18] octavo opened #9944 "Multiple choice cloze test"
Implement multiple choice cloze tests.

Man landed on the moon in [...] → "Man landed on the moon in 1969"
1 2000
2 1969
3 1970
4 2020

[2021-11-23 22:32] david-allison-1 commented on #9944
Hi, thanks for the suggestion.

We don't implement multiple choice cards by default as they're not optimal for learning (unless you're specifically preparing for a test with the given choices): https://faqs.ankiweb.net/multiple-choice-questions.html

Instead, you should format your card as:

`Man landed on the moon in {{c1::1969}}`,

You can optionally add a hint for the decade:

`Man landed on th

[2021-11-23 22:32] #9944 closed

[2021-11-24 15:54] camerooncameroon commented on #9937
Sorry for wrong place to post it

[2021-11-24 15:54] #9937 closed

[2021-11-24 18:15] camerooncameroon opened #9945 "[Bug] Order cards in custom study review by date/time created (added) doesn’t work"
###### Reproduction Steps

From: https://www.reddit.com/r/Anki/comments/g50jln/how_to_review_due_anki_cards_in_the_order_added

1) Go to the deck that you'd like to review old cards in order added.

2) Click "custom study"

3) Click "study by card state or tag"

4) Input the # of cards you'd like to review, and click "due cards only", then click "choose tags"

5) If you want to review all cards in

[2021-11-24 19:35] mikehardy commented on #9945
Debug info is always applicable, we're very curious for the version you are using of desktop and ankidroid at minimum
When you say "it doesn't work on AnkiDroid (as well as on Anki Desktop)" - I can't parse that.

To be super clear:
- does this work on desktop?

[2021-11-24 20:02] camerooncameroon commented on #9945
Version info:
Version ⁨2.1.49 (dc80804a)⁩
Python 3.8.6 Qt 5.14.2 PyQt 5.14.2
AnkiDroid version 2.15.6

@mikehardy
`does this work on desktop?`
No, it doesn't

[2021-11-24 20:58] mikehardy commented on #9945
Interesting - one thing we try to do is work exactly the same as desktop, to the point where our scheduler code is actually shared! That is, we're 100% bug-compatible as well ;-). Have you raised this on https://forums.ankiweb.net ? They might be interested there, and if the fix makes it into the scheduler there, we will pick it up here automatically...

[2021-11-25 07:34] camerooncameroon commented on #9945
Yes, I posted it on Ankiweb forums, too https://forums.ankiweb.net/t/order-cards-in-review-by-date-time-created-added-doesnt-work/15267

[2021-11-25 19:17] CaerDallben opened #9947 "[Bug] Card Resizing not Possible on Android TV"
###### Reproduction Steps

1. Open AnkiDroid on Android TV (Sideloaded)
2. Go to menu to resize card.
3. Change value on card resizing scale.

###### Expected Result
Changed card resizing scale would save and resize cards.

###### Actual Result
It is impossible to save the card resizing value by pressing enter or any other key so it remains at 100. On a phone with a touchscreen, sliding the scale

[2021-11-26 01:13] david-allison-1 commented on #9947
Not many people use the TV functionality.

Should be possible with an additional key event (left/right arrow)

[2021-11-26 01:27] CaerDallben commented on #9947
Thanks for responding! Are you saying it should already be something that should be doable because I tried button-mashing every button on all my remotes to see if anything would save the new value but no such luck.

Also, the TV functionality is GREAT. A lot better than I anticipated. The only problem was that I couldn't figure out how to move an image occluded card up or down when it was covered

[2021-11-26 19:02] #9525 closed

[2021-11-27 07:51] SurajJhaIn opened #9950 "I am getting error while syncing my account"
![Screenshot_20211127-131925_AnkiDroid](https://user-images.githubusercontent.com/45020824/143673159-6f8fb63e-b5f5-448a-83b3-cd5b686fcffd.jpg)

[2021-11-27 10:45] david-allison-1 commented on #9950
Hi, please fill out the rest of the "bug" template. Hard to help with just a screenshot

[2021-11-27 12:31] choralbari opened #9951 "AnkiDroid 2.15.6 missing from "overview""
Since updating to AnkiDroid 2.15.16, AnkiDroid never shows up in the overview (that is, the scrollable list of active apps accessed through the square button on Android's nav bar). In order to switch from another app back to AnkiDroid, something I do frequently when creating cards, I have to go back to the home screen and re-select the app. Tapping the square button in the other app also won't swi

[2021-11-27 12:46] SurajJhaIn commented on #9950
When I went to PC, it asked for ankiweb or anki. I chose Anki my problem got solved but my today's review got deleted.

[2021-11-27 12:46] #9950 closed

[2021-11-27 13:57] mikehardy commented on #9951
Hi there! That sounds frustrating, but unfortunately I cannot reproduce. I just verified on my device (Android 11) that it is there in the app switcher. I also verified an API23 emulator (that's Android 6) and it's there.

This may be device or operating system specific. Someone with a Moto e2 will have to try it or perhaps there are some system settings for your device or for your launcher that y

[2021-11-27 13:57] #9951 closed

[2021-11-27 16:08] choralbari commented on #9951
Thank you, Mike! For posterity, force-quitting AnkiDroid resolved the issue.

[2021-11-27 17:52] exec228 opened #9952 "Use catalogs for files?"
Salut!

**Is your feature request related to a problem? Please describe.**

The problem is to back up and restore mobile phone data and configuration.

It's virtually impossible to do it easily, because sdcard/AnkiDroid/collection.media/ contains 15000 files.

I have 7 decks only.
Copying it forth and back takes a whole day or more, up to 30-50 hours.
Through LANDrive (fr.webrox.landrive, paid lic

[2021-11-28 02:49] mikehardy commented on #9952
Have you tried something efficient, like rsync, for example Syncopoli?
Also free / open source, not the best thing to configure but works great https://f-droid.org/en/packages/org.amoradi.syncopoli/

The media folder is flat and unorganized and will likely stay that way forever, I would look harder for efficient ways to handle that, in other words. Not exactly what you want to hear perhaps but som

[2021-11-28 02:49] #9952 closed

[2021-11-28 05:13] Kelvets opened #9953 "[Bug] "Replace collection" dialog doesn't say which collection it is"
###### Reproduction Steps

1. After having changes that should be synchronized, press the second of the three icons in the top bar (shaped like two rotating arrows with a red circle on the top-right)
2. You will be met with the two confirmation dialogs below

###### Expected Result

The dialogs should explicitly mention which collection/deck it is talking about, in case you did several decks that

[2021-11-28 13:59] mikehardy commented on #9953
That's because it is not deck specific, it is specifically the entire collection that may not be merged.
This is not something we can solve really.
https://docs.ankiweb.net/syncing.html#merging-conflicts

[2021-11-28 13:59] #9953 closed

[2021-11-28 23:50] Arthur-Milchior opened #9954 "Clarify the error message about missing spaces"
![Screenshot_20211128-092615_AnkiDroid](https://user-images.githubusercontent.com/357361/143791168-dc77391f-ec92-49f3-9b49-33d7bd3ba73a.jpg)

This error message comes from String resource import_log_insufficient_space.
It seems clear to me that it has multiple issues, such as:
* It is too technical. There is no need to let the user know apkg files are zips that require unzipping. On the contrary,

[2021-11-29 06:21] MarkusJLechner opened #9955 "Syntax highlighting in Template Editor"
###  **Is your feature request related to a problem? Please describe.**
Just seeing everything in plain white text makes it difficult to navigate through the template "code". Easy to compare with an IDE and just white text. It also makes the editor more mature and user/beginner friendly

### **Describe the solution you'd like**
Just syntax highlighting for the template text areas. CSS with css hig

[2021-11-30 03:39] zihanxu3 commented on #8342
@david-allison-1 Hi David I think I am having the same issue as the previous person working on this issue - is there a way to extract all the settings as a list or some sort? Thanks!

[2021-11-30 11:20] souravmunjal commented on #9954
working on this issue

[2021-11-30 21:58] david-allison-1 commented on #8342
Nope, you'll need to do so manually:

* Go through each of the preference XML files
* Build an abstraction to extract the necessary text (title/summary). This can either be the Android class, or design an XML reader yourself

For an extension, some preferences will have their title/summary changed in `Preferences.java`

It's a design decision as to:

* Use the screen classes that we already have

[2021-11-30 22:44] souravmunjal commented on #9954
![Group 1](https://user-images.githubusercontent.com/30770269/144140115-1a84c8a3-b044-4440-9b81-391a0ceb883b.png)
Hey aurthur here is a proposed design for the above let me know if it works so that i can start working on it

[2021-11-30 23:36] mikehardy commented on #9954
I question whether option 1 is actually an option? I do not think there is the ability to delete it while importing. So the text could be just

Having trouble? Sync uses less space than import. You may try to import the package on some other device (for example, using Anki Desktop) and then sync it to this device via AnkiWeb)

Otherwise, I think it looks excellent - the presentation of numbers is

[2021-12-01 00:23] souravmunjal commented on #9954
yeah makes sense will remove the first point and then continue with this text either

[2021-12-01 02:25] Arthur-Milchior commented on #9954
I fear option 1 is not what I had in mind. One more proof  that my explanation needed improvement. In any case, we should not even mention "unzipping" it, because the user should not have to know that .apkg is implemented as a zip file. Worse, if they try to unzip it (which is natural for a zip file), it will create more issues.

The user should free some space. E.g. deleting music, downloaded fil

[2021-12-01 02:30] Arthur-Milchior commented on #9954
By the way, thanks for dealing with this issue.

[2021-12-01 06:55] MarkusJLechner opened #9958 "[Bug] On Answer KEYDOWN SPACE will skip the Question on KEYUP"
###### Reproduction Steps
1. Connect a keyboard to the phone
2. Open Reviewer
3. Press SPACE to get the answer screen
4. Press and hold SPACE to answer with good and see the next card
5. Release SPACE
6. The answer should be shown again

May the problem lies on a ˋkeyupˋ event, as it still fires a resolve on the next card if not release immediately?
Somehow this problem is new in the alpha and mak

[2021-12-01 09:10] souravmunjal commented on #9954
yeah actually it was just design not implemented yet if you have any changes in mind you can suggest before i start working

[2021-12-01 12:34] mikehardy commented on #9954
We have an issue logged and have investigated space-optimization here: https://github.com/ankidroid/Anki-Android/issues/6036 - I think ideally we would use the apkg file directly, right now we copy it, then we unpack it, then we import it. It's pretty wasteful. We already use a 3rd party zip dependency, as well, to handle >2GB files: https://github.com/ankidroid/Anki-Android/blob/83c12fbcf19b91350

[2021-12-01 13:31] Arthur-Milchior commented on #9954
Well, I already gave feedback.

Let me try a sentence then:

Your device to not have enough storage to import this deck. We need $1 and you only have $2 available. Here are two ways to solve it.
* Either free $1-$2 and try to import the deck again.
* Or try to import the package on some other device (for example, using Anki Desktop with the same account) and then sync it to this device via AnkiWeb

[2021-12-01 20:41] greengekota opened #9961 "[Bug] Login does not have "try anyway" feature if user is detected as being offline"
###### Reproduction Steps

1. Block google from a firewall so that your android device will report that you are not connected to internet, while you still have access to the anki server.
2. Try to connect to anki.

###### Expected Result

Either attempt to connect before and then report that there is no connectivity on failure, or present the "Try anyway" button as it happens for syncronization.

[2021-12-01 23:17] mikehardy commented on #9961
Hi there!

So it sounds like we override the check in some cases? What exactly is your set of reproduction steps? You didn't include that or the debug info...they would help

[2021-12-02 04:28] jimrod942 commented on #7805
Hi @mikehardy, I'd like to work on this issue. I am new to Anki and open source contribution in general. Could you perhaps point me to any resources for this issue that may help? For example, I see where the ACRA init is done with annotations in AnkiDroidApp.java, but I am unsure what it means when you suggest to migrate the initialization to a "Builder style."

[2021-12-02 11:26] mikehardy commented on #7805
Hi 👋 😊
It means all if the config elemens we send in with those annotations will become I stead chained configuration method calls on the ACRA configuration builder. Do a quick search on fluent APIs and builders and that will explain the style. Look at the ACRA API now and the release notes for the version after ours and it should be clear I hope. Cheers

[2021-12-02 14:32] lowwor opened #9963 "[Bug] Some js file not loading on older devices"
I'm using closet with anki-droid. It looks like the version of webview available on older versions of android is more restrictive as to not inferring text/javascript as the type for files loaded with type="module" that have no type.
![image](https://user-images.githubusercontent.com/5444033/144440940-9cc655f7-fa1b-418a-ae01-2632af9c1ecc.png)
Solution would be similar with the following pr
https://

[2021-12-02 14:44] mikehardy commented on #9963
Interesting - can  you include the debug info requested in the information template, so we may understand versioning of the affected environments better?

You deleted that section but it's useful:
https://github.com/ankidroid/Anki-Android/blob/81bebb51c90c6c3813233d42d1a8f819e51cbaf7/.github/ISSUE_TEMPLATE/issue_template.md?plain=1#L25-L26

[2021-12-02 14:48] mikehardy commented on #9963
For anyone working on this, once you can reproduce it based on the versions provided, I *think* the issue will be located here:

https://github.com/ankidroid/Anki-Android/blob/81bebb51c90c6c3813233d42d1a8f819e51cbaf7/AnkiDroid/src/main/java/com/ichi2/utils/AssetHelper.kt#L52-L54

referenced from here https://github.com/ankidroid/Anki-Android/blob/81bebb51c90c6c3813233d42d1a8f819e51cbaf7/AnkiDroid/

[2021-12-02 17:40] souravmunjal commented on #9954
aurthur can you share the deck with me?

[2021-12-02 18:11] mikehardy commented on #9954
That should not be necessary. You don't need anything more than the code to work on this one. Insert dummy return values during testing in order to test the dialogs.

[2021-12-02 18:13] mikehardy commented on #9961
Great, so:

sync lets you override the check

Trying to log in on the account page does not allow an override.

happens with current stable

[2021-12-02 18:26] cburroughs commented on #9941
I also have a pixel4a on Android 12 with  AnkiDroid 2.15.6.  My primary deck is about 14k cards, it may be relevant that I have a habit of switching between the subdecks of that large parent deck.  The experience on Android 12 is subjectively most frustrating.  At least in my case I primarily notice two kinds of pauses.

(A) After finishing (either because I completed all reviews or decided it was

[2021-12-02 18:46] victorpgm opened #9964 "[Bug] flashcards seem to be added to the wrong deck"
I have a problem when I want to add a flashcard, I create a flashcard and when I finish it is on another deck, and i've tried to see if i had made a mistake or i put in a wrong folder, but the same thing always happens. In short, my flashcards appear on others in the wrong deck

[2021-12-02 18:54] mikehardy commented on #9941
Thanks for reporting your experience with some stats. We definitely try to defer some of the count refresh / UI repaint to async threads in order to stop the UI from hard-freezing but the delays are not supposed to be that extreme of course.

This reminds me of this comment though: specifically that our current hypothesis is the scoped storage work which is currently in progress will solve it beca

[2021-12-02 20:10] david-allison-1 commented on #9964
Settings to check:

* Settings - AnkiDroid - Deck for new cards
* Deck Picker - Manage Note Types - Long Press - Cards - Card - Deck Override

[2021-12-02 21:14] souravmunjal commented on #9954
<img width="320" alt="image" src="https://user-images.githubusercontent.com/30770269/144504122-692c7fa6-b633-4931-889b-c5c0486ec803.png">
if this looks ok i can create a pr for this?

[2021-12-03 01:15] lowwor commented on #9963
Here is the debug info:
[code]

[2021-12-03 01:21] lowwor commented on #9963
The js url is "https://appassets.androidplatform.net/__closet-0.5.3.js" and URLConnection.guessContentTypeFromName(path)  return null for this.

[2021-12-03 08:20] ajinendra05 commented on #9963
hello @mikehardy , I'm new in community  and I'm truly interested in your idea of AnkiDroid can you please enroll me some good fixes to fix .

[2021-12-03 09:15] souravmunjal commented on #9954
i have generated a pr please check
@Arthur-Milchior @mikehardy
https://github.com/ankidroid/Anki-Android/pull/9965/commits

[2021-12-03 12:13] mikehardy commented on #9963
Hi there! Welcome! I linked the area of code above, and the issue submitter has already proposed a solution, I don't believe I have more to offer with regard to possible solutions, I think it's all there

[2021-12-03 22:27] david-allison-1 commented on #9963
Adding to the unit tests would be a great place to start:

https://github.com/ankidroid/Anki-Android/blob/1152e0e0df4bad802e9cd4edbba59cc550b5b113/AnkiDroid/src/test/java/com/ichi2/utils/AssetHelperTest.java#L26-L31

[2021-12-04 16:59] #9954 closed

[2021-12-04 19:35] dikshamalik2552 commented on #9333
Hi @david-allison-1 @mikehardy, I wanted to work on this issue. So if the issue still hasn't been resolved, can you please assign it to me?

[2021-12-04 19:40] prateek-singh-3212 commented on #9333
@dikshamalik2552 Please go ahead. I am unable to work on this issue.

[2021-12-05 00:18] souravmunjal commented on #9935
hey @mikehardy  if no one is working on this issue i would like to assigned

[2021-12-05 02:13] david-allison-1 commented on #9935
Sounds good to me!

[2021-12-05 13:00] Bedaryosif opened #9967 "[Bug]AnkiDroid Version = 2.15.6 Android Version = 11 Manufacturer = samsung Model = SM-T970 Hardware = qcom Webview User Agent = Mozilla/5.0 (Linux; Android 11; SM-T970 Build/RP1A.200720.012; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/96.0.4664.45 Safari/537.36 ACRA UUID = 1ed35a15-ecf3-4d76-a2ce-d2ce7601dfa9 Scheduler = std Crash Reports Enabled = true DatabaseV2 Enabled = true"
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement

[2021-12-05 13:04] mikehardy commented on #9967
Hi there! With apologies, this report contains no information about what you are trying to do, what you expect to happen, and what happens instead, so it is not actionable

[2021-12-05 13:04] #9967 closed

[2021-12-05 13:10] Bedaryosif opened #9968 "[Bug] all of my photo are gone how can i return it back"
- [ ] [######](url) Reproduction Steps

1. ### ### ### ###
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](https://ankidroid.org/docs/help.html) and am r

[2021-12-05 13:11] Bedaryosif commented on #9968
![Screenshot_20211205-160911_AnkiDroid](https://user-images.githubusercontent.com/95573619/144747937-ba93dd91-1d8a-4378-ab57-d017f8970284.jpg)

[2021-12-05 13:17] mikehardy commented on #9968
There are many reasons this may happen, here are our best steps to determine the real reason, and help fix:
https://github.com/ankidroid/Anki-Android/wiki/FAQ#why-doesnt-my-sound-or-image-work-on-ankidroid
Note that it may be sync just hasn't finished syncing media because it was stopped in the background or similar. Every time you sync, if it is syncing media it is getting slowly closer to being

[2021-12-05 13:17] #9968 closed

[2021-12-05 13:42] Bedaryosif commented on #9968
I have lost all my photos both in ankiweb and ankidroid
I have tried synchronization and its said its complete but my photos are
not returning
Please its absolutely necessary to fix that
Than you for you help

On Sun, Dec 5, 2021, 4:17 PM Mike Hardy ***@***.***> wrote:

[2021-12-05 14:05] KasinaDheeraj commented on #9935
@souravmunjal feel free to work on it. @david-allison-1 you can assign to him.

[2021-12-05 14:23] mikehardy commented on #9968
I understand the frustration.
I have, however, provided you with all the information we have to offer though - in the links above.
You will need to investigate your device to see if the media is actually there, as the docs direct you to do, restore from a backup of your device if they are not there (like, from https://f-droid.org/en/packages/org.amoradi.syncopoli/ - I use this to make backups) or

[2021-12-05 14:57] Bedaryosif commented on #9968
Thank you
But I do not know how to make backup by syncopli
I have downloaded the app but I do not know how it works
Can tell me how to back up my media

On Sun, 5 Dec 2021, 5:23 pm Mike Hardy, ***@***.***> wrote:

[2021-12-05 17:25] mikehardy commented on #9968
No I cannot. Taking backups of your data is a personal task and instruction on same is out of scope for this repo.
I only used that app as an example of *how* you *might* take backups. Please understand if your data is gone, it's gone. If you don't already have a backup and it's gone, you have lost data.
That's why a backup system is important, but it's important prior to possible data loss

[2021-12-05 20:37] #8940 closed

[2021-12-05 23:49] sethbuchinger commented on #9097
Few questions on this one.

1) I was able to get the FREE/TOTAL storage to write to the ACRA report.  The first approach was enabling TOTAL_MEM_SIZE and AVAILABLE_MEM_SIZE parameters in the ACRA Library.  Since there was some question over whether this was memory (RAM) vs. storage, I decided to also write a new method to create CUSTOM FIELDS in the ACRA report.  As it turns out, both values matche

[2021-12-06 01:42] mikehardy commented on #9097
Oh interesting - go upstream then, less code to maintain is a fabulous thing, and the ACRA library is easy to post PRs to if there is something to the discrepancy you saw, the maintainer there is fast + professional in maintainence

[2021-12-06 19:36] #8180 closed

[2021-12-06 22:23] souravmunjal commented on #9935
@david-allison-1 created a pr please check #9970

[2021-12-07 12:54] av223119 commented on #9941
Hello,

December a12 update (
https://support.google.com/pixelphone/thread/139017133/google-pixel-update-december-2021?hl=en)
released today includes one noticeable line in the changelog:
* Fix for stuck or frozen app UI in certain conditions

While it is probably too early to draw conclusions right now, I have to
report that I've gone through ~80 cards today after the upgrade without any
issues.

[2021-12-07 16:07] AkechiShiro commented on #9694
Hi, @nanoTiO2 could you precise your exact MIU12.5 information (by reading it inside your Android settings, About your device), I'm under MIUI 12.5 `Global 12.5.6.0 (RKHEUXM)` with a Xiaomi Poco F3 and I can't reproduce the bug using the latest alpha (2.16alpha34), either it's due to a different version of MIUI12.5, or maybe I've made a mistake while trying to reproduce it.

[2021-12-08 02:46] lowwor commented on #9963
Opened a pr for this. #9971

[2021-12-08 23:43] nanoTiO2 commented on #9694
i have updated my software and system to the newest yesterday, and the bug still occours, the system of my Miui is12.5.7[rjkcnxm], my phone is redmi k30pro zoom editon, and the the information below i dont konw how to translate to english, so i use this here.
(内核版本 core version ):4.19.113—perf-gec90c723c482.

first i switch the fullscreen (hide answers bar and topbar)in display in review setting
s

[2021-12-09 10:38] #9540 closed

[2021-12-10 02:43] absoluteinc opened #9974 "[Bug] Tapping resources button registers as a tap to answer the card"
###### Reproduction Steps

1. Use AnkiDroid 2.16alpha34
2. Have tap gestures on. My settings are tap anywhere and it shows the answer. With answer shown, tap anywhere for "good".
3. Tap to show the card answer. Attempt to click the resources button to show more information, and it does so but also registers it as a tap to answer good, and moves onto the next card.

###### Expected Result

Should j

[2021-12-10 03:00] absoluteinc commented on #9936
One explanation that it could be is Anki is burying related cards. Under the deck options, see if the setting for burying related cards is checked or not.

[2021-12-10 04:44] shundred opened #9975 "[Bug] Ankidroid does not run in background"
###### Reproduction Steps

1. I have checked and granted all the permissions to Ankidroid to run in background.
2. Sometimes answering a long question takes upto 10 minutes.
3. As soon as the screen turns off or I switch to another app the ankidroid timer (which logs time taken every-time to give the answer) stops, so the correct time is not logged.
4. For this I have to keep screen on which is un

[2021-12-10 06:15] mikehardy commented on #9975
Hi there!
This is a specific choice from way back when: #1340
Others have noticed, and there was a *lot* of deliberation.

In the end this is not a behavior we will adopt: #4808, in particular this comment: https://github.com/ankidroid/Anki-Android/issues/4808#issuecomment-484934768

I understand this may not fit you personally but it is unfortunately not possible to be all things to all people wi

[2021-12-10 06:15] #9975 closed

[2021-12-10 07:21] shundred commented on #9975
Thanks for your early reply, I have read whole #1340 and #4808

As in #4808 there are many reasons already mentioned for background timing,
there is no use in repeating that all again.

1. As it is mentioned in #1340 that the app used to log time even in
background back than.
2. An option can be provided in settings to switch between the desired
behaviour.
3. Theoretically saying (as I do not unde

[2021-12-10 07:36] #9580 closed

[2021-12-10 13:41] cburroughs commented on #9941
I still experience both "types" of pauses with ` SQ1A.211205.008` on my Pixel 4a.

[2021-12-11 00:31] Namnodorel opened #9976 "[Bug] Clozes containing curly brackets are not displayed correctly"
###### Reproduction Steps

1. Create a cloze with `}}` inside, eg. due to the use of MathJax, like `{{c1::\(\frac{f^{(k)}}{k + 1} = (\frac{\partial^k F}{\partial h^k})(0, t, u)\)}}`
2. Preview or view the created cloze

###### Expected Result
The cloze should render properly when viewing the front of the card and render the math equation when viewing the back.

###### Actual Result
The cloze rende

[2021-12-11 07:38] david-allison-1 commented on #9976
What does Anki desktop do here?

[2021-12-11 08:50] Namnodorel commented on #9976
I hadn't disvovered it there because I don't review cards on it, but it appears to have the same issue.

[2021-12-11 09:11] Namnodorel commented on #9976
For Anki Desktop, it was actually already reported, here: https://github.com/ankitects/anki/issues/1012
There is a workaround (placing spaces between closing brackets), but I disagree with the conclusion reached there that a fix would not be worth it. It's true that it would "break" cards that have mismatched brackets, but IMO those cards always should have been broken, as they use a broken syntax

[2021-12-11 10:49] WiliTest commented on #1717
Yes, we could use Google Voice Access, but it's very invasive and doesn't work well without internet access.

****Instead of implementing a complex voice recognition, it might be easier to use some very basic sound like a high-pitched sound** or a number of repetitions eg. 3 low-pitched sounds** (*). Eg.  the user would simply have to record (or choose) a basic sound she wants to match with a spec

[2021-12-11 14:42] mikehardy commented on #9976
Unfortunately, the conclusion there is binding. We will / must follow their parsing rules. If this is altered upstream we will get the fix eventually as we share render code. As such, I understand the possible frustration but this is not actionable here

[2021-12-11 14:42] #9976 closed

[2021-12-11 17:09] SSTG commented on #9961
Hey I am new to the community. Could you please give me an overview of how to go about this issue?

[2021-12-11 17:27] SSTG commented on #9961
I think I am understanding the issue now. I would like to work on it but you'll have to excuse me as I am a newbie in open source so I might ask some silly questions.

[2021-12-11 18:28] greengekota commented on #9961
There is a `isOnline()` function which asks to android if "there is
network connection". If that function returns false then AnkiDroid will
prevent you from attempting to connect the anki server. This was added
more than a decade ago and as you can see it resulted in an accumulation
of hacks. The last one

https://github.com/ankidroid/Anki-Android/commit/91d1580d70ae2b309cccb1ec87a39458ad0cc7fe

a

[2021-12-11 18:59] mikehardy commented on #9961
Yes, that error message ("connection timed out..." etc) creates support load here from confused users. "I have a sync error, help...." when there is nothing we can do to help, so it is frustrating for everyone.

Simply having a "Try Anyway" similar to the login would be great

[2021-12-11 19:01] SSTG commented on #9961
Oh okay let me have a look at the function

[2021-12-12 06:50] SSTG commented on #9961
Okay so I have been looking at the code. I tried to run the app with no connection on my device but I didn't get any "try anyway" button in the snackbar though it is mentioned in the DeckPicker code, I am only getting "You are offline" . So I am thinking that the error is with the getAllowSyncOnNoConnection function.

[2021-12-12 12:57] greengekota commented on #9961
I'm sorry, searching for "connection timed out" in the issues doesn't yield many results, but the `isOnline` method was added more than 10 years ago so maybe I'm looking at the wrong place, or maybe users don't mention those exact words.

If the problem is that the "Connection timed out" message is too technical, then I think one solution would be to make that message more human friendly. Another

[2021-12-12 13:00] SSTG commented on #9961
Thanks. I am working on it right now. Will let you know if I encounter any difficulty

[2021-12-13 00:41] souravmunjal opened #9977 "Text Formatting and message is unclear in synchronization dialog on home page"
<img width="322" alt="image" src="https://user-images.githubusercontent.com/30770269/145736290-2adabbf5-d2af-471a-b42b-69ba8217f0d3.png">

While synchronization process we see this dialog
Issues and Suggestions -
1. "Up" and "Down" are bit unclear if it is speed then it should be "Upload" and "Download" or if it is anything else it should be clear.
2. If it is speed it should be kbps instead of kb

[2021-12-13 02:44] #8005 closed

[2021-12-13 07:27] mikunimaru opened #9978 "[Bug] The sync button badge doesn't light up when adjusting the number of today's study cards in custom study."
###### Reproduction Steps

1. Press and hold the deck to select custom study
2. Modify today's card limit.

###### Expected Result

A red badge appears on the sync button

###### Actual Result

A red badge does not appear on the sync button

###### Debug info
AnkiDroid Version = 2.16alpha34

Android Version = 10

Manufacturer = asus

Model = ASUS_I01WD

Hardware = qcom

Webview User Agent = Mozill

[2021-12-14 07:25] z-alex opened #9979 "DIV misalignment CSS bug on the Android Anki app"
Hello,
I would like to report a misalignment bug on the Android app. The code works fine in the PC version.

HTML:
[code]

CSS:
[code]

### **On PC:**
![image](https://user-images.githubusercontent.com/25252079/145950336-bb42e199-c85b-408b-92d1-c637b7726513.png)

- - -

### **On Android:**
![image](https://user-images.githubusercontent.com/25252079/145951103-32b8f6ad-5cac-438b-b483-74fbd577b275.pn

[2021-12-14 13:07] mikehardy commented on #9979
Not sure exactly what's happening but we provide some tools to inspect more deeply for people that have finer reuirements for html/js/css - https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection

I'd be curious to see what the results are - personal inspection / pursuit of this will certainly be the fastest path to resolution though, not sure if it will receive

[2021-12-14 16:13] z-alex commented on #9979
I just tested with the correct font on the mobile app and the issue seems to be fixed. Thanks!

[2021-12-14 16:40] mikehardy commented on #9979
nice! glad to hear that worked. cheers

[2021-12-14 16:52] ninadpchaudhari commented on #7339
+1 face the same problem when opening an APK from Chrome.

If we go to File / File Browser and open the APK then the same works fine.

[2021-12-15 06:18] MarkusJLechner commented on #9958
I found the reason behind this bug.

When triggering the [Again-Easy] with SPACE and hold it like this, it will show the next card. Releasing SPACE after some seconds will trigger to show the answer of the card.

@david-allison-1 Can this be reproduced?

[2021-12-15 13:25] SSTG commented on #9961
Sorry for being inactive for a while. I think I have implemented the second solution just as you said.

[2021-12-16 17:29] WiliTest opened #9984 "[Bug]Disabling "automatic display answer" disable "Keep screen on""
(I have this bug on both AnkiDroid 2.16alpha29 + AnkiDroid 2.16alpha33)

###### Reproduction Steps

1. In settings/Preference/Reviewing:  check the box "keep screen on"
2. (below) check the box "automatic display answer",
3. uncheck the box "automatic display answer",

###### Expected Result

"keep screen on" should be turned on

###### Actual Result

"keep screen on" is disabled
(If it was on, it

[2021-12-16 17:38] MagTun opened #9985 "[Bug]Bug with the app colors in 2.16alpha32 (phone dark mode -not ankidroid night mode- not taken in account ?)"
###### Reproduction Steps

1. use Anki with the phone in Dark mode (this is the phone settings, not the night mode in Anki)
2. install AnkiDroid-2.16alpha32-armeabi-v7a.apk
3. open the app (the phone should still be in Dark mode)

###### Expected Result
The app colors should be the same as in the previous version (AnkiDroid-2.16alpha29-armeabi-v7a.apk)

###### Actual Result
The app colors are diff

[2021-12-16 17:43] MagTun commented on #9985
I wanted to debug a bit further by activating / deactivating the dark mode on the AnkiDroid-2.16alpha29-armeabi-v7a.apk (it could be that AnkiDroid-2.16alpha32-armeabi-v7a.apk doesn't take into account which mode the phone is currently in) but I can't reinstall it to check.
After the installation process, I get a "App not installed" probably because the current version is higher ? How can I downgr

[2021-12-16 17:43] WiliTest opened #9986 "Automatic display answer: add a button play/pause/stop (and a button in the app bar menu to start it)."
**Is your feature request related to a problem? Please describe.**
I always forget if I had activated or not the automatic display answer.
And when it's running, since there is no quick way to turn it on, I need to kill the app.

**Describe the solution you'd like**

When "automatic display answer" is running it should display a pause/play stop button.

Another related feature request:
Ideally, it

[2021-12-16 18:01] WiliTest opened #9987 "In automatic display answer/timeout answer: add a "do nothing""
**Is your feature request related to a problem? Please describe.**
I would like to use automatic display answers to review some new and old cards but without registering the new review (nor burying the card). I just want to make some "shallow/lazy review" sessions that won't change anything.

(I already use this for new cards when my hands aren't available and my mind half busy. But I have to rese

[2021-12-16 18:06] WiliTest commented on #3681
@timrae

** will uninstalling wipe away my settings?**

[2021-12-16 18:24] WiliTest opened #9988 "[solved] Do I have to uninstall my existing AnkiDroid version to downgrade? (How to downgrade/revert?)"
**Do I have to uninstall my existing AnkiDroid version to downgrade?**
yes
**will uninstalling wipe away my data?**
no
**Will uninstalling wipe away my settings?**
Yes sometimes (I did lose them, but somehow my friend did not). But reinstalling my most recent backup fixed it: it reinstalled the settings).

(We struggle to find this information, so with this post, it will be more visible).

[2021-12-16 18:24] #9988 closed

[2021-12-16 21:35] mikehardy commented on #9985
Do you have the non-standard vendor-specific we-can't-really-handle-it "forced dark mode" turned on in the phone settings?

[2021-12-16 21:36] mikehardy commented on #3681
Tim's not going to answer I don't think
Settings that are not in the collection will be lost if you uninstall, as preferences are "app data" and thus are deleted with the app
There is discussion in some other places about using the deck config to store some AnkiDroid-specific settings, or to store settings for javascript add-ons, but no one is working on it at the moment

[2021-12-17 18:02] MagTun commented on #9985
Yes I do! (You probably haven't see the updated subject/first post which mentions the "phone dark mode").

I didn't know that this "phone dark mode" was so difficult to handle for developers... but it worked great until at least AnkiDroid-2.16alpha29.

So does this mean that, in the next update(s), AnkiDroid won't detect the dark background anymore and that to have a dark background on the main pa

[2021-12-17 20:31] mikehardy commented on #9985
Correcting ankidroid night mode is the goal. We must not (and cannot) rely on any non-standard vendor-specific modes. Honestly, MIUI as a vendor should be shunned from the community and disallowed to use AOSP as a base given what they do, and the trouble it causes us as developers. I feel pretty strongly about that.

[2021-12-18 02:55] david-allison-1 commented on #9985
This is intentional, until very recently, we haven't been able to test MIUI's night mode, and it introduces a large amount of issues.

Many people can't figure out how to insert images/audio because it breaks horribly breaks accessibility guidelines. This is a major degradation of functionality to new users.

I don't currently have the time to fix (or even list) all the compatibility issues that M

[2021-12-18 03:03] david-allison-1 commented on #9984
Interesting, this has been a "feature" for over 10 years:

[6a9cbdda5836ff0117525f1f3eccfe3255e61fb9](https://github.com/ankidroid/Anki-Android/commit/6a9cbdda5836ff0117525f1f3eccfe3255e61fb9#diff-ec3df6b55bc76bab2c72db0119638135477383df6b90f7024018b4af22a4a8f4R245-R246)

[2021-12-18 05:09] david-allison-1 commented on #9988
Yes. Android doesn't allow version downgrades without uninstalling.

You may want to use a Parallel Release in future: https://github.com/ankidroid/Anki-Android/releases/

[2021-12-18 17:02] WiliTest commented on #9984
@david-allison-1
I don't understand.
1) Do you mean that I'm the only one complaining about it since it has been implemented 10 years ago?
Or
2) do you mean that this "bug" is actually intended? (If so I don't understand why, since they are 2 separate features: I want to keep my screen on when I use "automatic display answer" and also when I don't use it).

[2021-12-18 17:13] david-allison-1 commented on #9984
It was intended, you're the first person to mention it that I know of and the developer who wrote it no longer contributes to the project.

I have no idea why it was intended. [Chesterton's fence](https://en.wiktionary.org/wiki/Chesterton%27s_fence) says we should think about this before removing it.

Right now, I'm in support of removing tp his "feature"

[2021-12-18 17:19] WiliTest commented on #4956
Since I forgot again where the "reset progress" was in the App Bar Buttons, I'm writing it here: it's hidden with the reschedule button.  **It would be easier to find if this button was renamed "Reschedule or Reset"** (in my view these 2 features mean completely different things, I don't understand why they are together).

[2021-12-18 17:29] WiliTest commented on #9984
Chesterton's fence is interesting! (But it should take into account the principle of "cultural evolution/coevolution" which state that cultural evolution is natural thus non-intelligent, and thus wobbly and full of s.../absurdity  ;-) )

[2021-12-18 17:31] MagTun commented on #9985
@david-allison-1, I didn't know about the option `.night_mode {}` and it works great, thanks for that!

@mikehardy  and @david-allison-1, Since it's possible to prevent the color inversion, I agree that a better ankidroid night mode is the way to go and that relying on vendor specific settings is a bad option. @david-allison-1, if the ankidroid night mode is good, than you should have to spend tim

[2021-12-18 17:52] WiliTest commented on #9722
@MagTun I tried again AnkiDroid Version 2.16alpha33 and it's working!

**Thank you to those who fixed it!**
(I'm very happy!)

[2021-12-18 18:25] MagTun opened #9993 "[Feature request] Make it easy to call event/custom functions when performing actions (ex: adding TTS when clicking on the answer buttons or performing a gesture)"
**Is your feature request related to a problem? Please describe.**

I use Ankidroid while running and it's not easy to see the little dots that show which answer button has been clicked. Also, I have set up several gestures like sliding left and right and sometimes I make these gestures unintentionally and I don't see the little notification like "card suspended" so I am sometimes unaware that I s

[2021-12-18 18:25] MagTun commented on #9985
`.night_mode {}` works great when added to the CSS of a card template, but not when it is added to an imported css located in collection.media (using `@import url()`).
Is there a way to make this rule work from an import CSS?

[2021-12-18 19:41] MagTun opened #9994 "[Bug] App crashes when changing deck on "deck browser" and "statistics" (AnkiDroid-2.16alpha32-armeabi-v7a.apk)"
###### Reproduction Steps

1. open  "deck browser" or "statistics"
2. tap on the deck name to change deck

###### Expected Result
The decks menu should open

###### Actual Result
The app crashes

###### Debug info
AnkiDroid Version = 2.16alpha32

Android Version = 10

Manufacturer = Xiaomi

Model = Redmi 7A

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 10; Redmi 7A Build/QKQ1.

[2021-12-18 20:37] #9568 closed

[2021-12-19 05:39] AayushSolanki commented on #9847
Hi @david-allison-1 is @gautom5987 still working on the issue if not could you please assign it to me?

[2021-12-19 06:50] Akshay0701 commented on #9994
I will like to solve this issue, can anyone assign this issue to me?

[2021-12-19 06:53] Akshay0701 commented on #9994
@MagTun I am not able to reproduce this issue in my device

AnkiDroid Version = 2.16alpha29

Android Version = 11

Manufacturer = OnePlus

Model = GM1911

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 11; GM1911 Build/RKQ1.201022.002; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/96.0.4664.104 Mobile Safari/537.36

ACRA UUID = cc4ed13e-3ce2-4b59-b293-0c5a29ea94f

[2021-12-19 06:57] Akshay0701 commented on #9994
@MagTun we will try to fix this issue soon, for now you can use [AnkiDroid 2.16alpha29](https://github.com/ankidroid/Anki-Android/releases/download/v2.16alpha29/AnkiDroid-2.16alpha29-arm64-v8a.apk) version its doesn't have this issue.

[2021-12-19 07:22] Akshay0701 commented on #9977
can I work on this issue?

[2021-12-19 08:15] david-allison-1 commented on #9847
Sounds reasonable to me, it's been a month. Thanks!

[2021-12-19 08:25] david-allison-1 commented on #9985
Not currently

[2021-12-19 11:33] infinyte7 commented on #9993
Some if these can be implemented using already provided JS API. I may reply on it later.

[2021-12-19 11:34] infinyte7 commented on #9665
To be implemented in next version of AnkiDroid.

[2021-12-19 11:35] infinyte7 commented on #9665
To be implemented in next version of AnkiDroid.

[2021-12-19 11:48] ma54ik opened #9995 "Unable to add images to note"
I'd like to add a image to a note, but the App doesn't give me that option at add note.
The manual says, that on the right hand side of the input box suppose to be a small paperclip, which gives you that option, but it doesn't show up.

I use android 11 and version 2.15.6 of AnkiDroid

Thanks in advance!

[2021-12-19 15:09] david-allison-1 commented on #9995
You're probably using a Xiaomi phone: disable Xiaomi's "auto night mode" and enable AnkiDroid's night mode and it'll appear.

[2021-12-19 15:46] mikehardy commented on #9984
Hmm. I can see how the features are tangled. Automatic display answer (especially with auto-answer/advance card) will not behave in an expected way if the screen turns off.

I can see how people would want the screen to stay on even during non-automatic review, in case they need to consider a card deeply.

I don't like having mixed toggles / settings but if the auto feature really needs it, they m

[2021-12-19 15:47] mikehardy commented on #4956
They are together because they all mess directly / override scheduling directly on cards, outside of automatic scheduler control.
From our perspective, you either let the scheduler do its thing and get on with your life, or you are "rescheduling", to either reposition, reset progress, or reset schedule or maybe 4 or 10 other ways people want to mess with scheduler data in the future

[2021-12-19 17:32] MagTun commented on #9722
I just retried with the same deck and now it's working fine.
I don't know what fixed this bug but to give some clues, since my last post, I have :
- uninstalled the deck
- updated to AnkiDroid-2.16alpha32-armeabi-v7a.apk
- uninstalled AnkiDroid to reinstall AnkiDroid-2.16alpha29-armeabi-v7a.apk  (because 2.16alpha32 was buggy)
- reinstalled the deck

(Since it seems fixed but without an obvious fi

[2021-12-20 17:28] Arnold2381 commented on #9452
Commenting to keep it open.
PS: I tried this, but couldn't implement it.

[2021-12-21 05:00] AayushSolanki commented on #9847
@david-allison-1 should these anchor tag open some links? ``<string name="export_email_text_new"><![CDATA[        سلام!
         <br/><br/>
         این یک دسته از فلش کارت های ankidroid هست که توسط **<a href="">**ankidroid برای شما ارسال شده است</a>.
         برای استفاده از آن یکی از نسخه‌های در دسترس **<a href="">**anki را امتحان کنید</a> و از یادگیری کارآمد و آسان لذت ببرید.
         ]]></stri

[2021-12-21 07:34] Arthur-Milchior opened #10000 "[Bug] Clarify media sync error message"
###### Reproduction Steps

1. Start a sync on a new device for a collection with a lot of media
2. Not sure. Probably do something such as remove internet access, move to a connection that requires condition (e.g. hotel, public transit)... Ensuring that media stop syncing, not requested by user
3. Look at error message

###### Expected Result
Let the user know what did occur and what can be done.

[2021-12-21 08:05] david-allison-1 commented on #10000
This is a large cause of user support, and we can do much better with messaging here.

[2021-12-21 09:03] voidplayer commented on #8158
still searching for solutions

[2021-12-21 10:06] ShridharGoel commented on #9985
@mikehardy @david-allison-1 There's a way to disable the forced dark theme, should we try that?

[2021-12-21 14:13] WiliTest commented on #9984
Another option: before launching the _automatic display answer_, Anki could simply check the state of the checkbox _screen ON_. If it's not checked (=OFF) it just turns it ON during the _automatic display answer_ (=while its checkbox is checked). And after it (when its checkbox isn't checked anymore),  Anki can just put back checkbox "screen ON" like it was before (it would remain ON if it was ON

[2021-12-21 17:01] AayushSolanki opened #10001 "Convert the string:export_email_text_new text into Hindi language"
[Anki-Android/AnkiDroid/src/main/res/values-hi/02-strings.xml](url)

String text should be in Hindi
Lines 191 to 195
`   <string name="export_email_text_new"><![CDATA[        Hi!
        <br/><br/>
        This is an Anki flashcards deck sent from <a href="%1$s">AnkiDroid</a>.
        Try to open it using one of the available <a href="%2$s">Anki distributions</a> and enjoy easy and efficient learn

[2021-12-21 21:22] mikehardy commented on #9984
That's the same behavior in effect, but if the features / toggles remain tangled and automatic display answer is twiddling them temporarily, then if the app crashes (or is just terminated in the background as the platform reserves the right to do) then the setting could be left permanently in the state that was intended to be temporary

[2021-12-21 21:41] mikehardy commented on #9985
Maybe? I think David looked into this and we were weary until we could test. He's got a test device now at least, but the new semi-barrier is apparently that developing for it is a terrible experience, not your standard android dev experience

[2021-12-21 21:47] puranjayK commented on #10000
I would like to work on this issue
Can you assign it to me

[2021-12-21 22:01] mikehardy commented on #10000
Great! Go for it @puranjayK

[2021-12-22 09:40] david-allison-1 commented on #9847
The issue relates to why Android Studio shows an error, but our `lint` CI build passes. (https://github.com/ankidroid/Anki-Android/issues/9847#issuecomment-964237362)

We ideally want this CI change to ensure that a string change like this would never go into a build again. This may flag other invalid strings, so we could fix all of these at once.

[2021-12-22 09:42] david-allison-1 commented on #10001
Thanks for the report!

Please use [CrowdIn](https://crowdin.com/project/ankidroid) for string related issues and fixes.

Feel free to make the change yourself on CrowdIn.

[2021-12-22 09:42] #10001 closed

[2021-12-22 11:20] GitGondola commented on #9633
why close it if it isn't fixed.

[2021-12-22 14:27] mikehardy commented on #9633
@GitGondola why leave issues open forever if no one cares enough to fix them? The issues list is for active issues, active is "it's an issue, and people care enough to work on it". Happy to reopen if you want to work on it. Otherwise, it'll be here forever for reference.

[2021-12-22 18:09] puranjayK commented on #10000
@Arthur-Milchior @mikehardy @david-allison-1 could you help me out a bit with this error, since its my first issue in Anki Android.
What approach do I need to have here?

[2021-12-22 22:28] Arthur-Milchior commented on #10000
I can't answer for David and Mike, but personally, I'd find it hard to know how to help without a more specific question. I don't even know whether you know how to compile Ankidroid and run the compiled version on your phone/an emulator.

You may know that we usually discuss on discord. You may probably ask question there and find even more people who can answer a lot of beginner question.

[2021-12-23 08:02] zkl-ai opened #10019 "[Bug] After the language is switched from Simplified Chinese to English, the pending review time on the main page is still in Simplified Chinese."
###### Reproduction Steps

1. Click setting
2. Click AnkiDroid General settings
3. Change language from Chinese to English

###### original
![image](https://user-images.githubusercontent.com/72965042/147207699-7ef3ef6b-143b-484f-aeb5-ed8fd79322fb.png)

###### Expected Result
After the language is switched from Simplified Chinese to English, the pending review time on the main page should be in Eng

[2021-12-23 10:12] puranjayK commented on #10000
I have run the compiled version on my emulator.
Where can I get the link to the discord server? @Arthur-Milchior

[2021-12-23 11:33] Arthur-Milchior commented on #10000
https://discord.gg/qjzcRTx
Then you can search for the string in the screenshot, and search where it is used.
Look at what number you can easily have access too in this part of the code.
Change the string to give the hint I mentioned and display those numbers

[2021-12-23 12:49] david-allison-1 commented on #10019
Hi, thanks for the report, I believe this is a duplicate of https://github.com/ankidroid/Anki-Android/issues/8865

If I'm mistaken, please let me know and I'll reopen it.

[2021-12-23 12:49] #10019 closed

[2021-12-23 14:27] fengqlin opened #10020 "Algorithm update from sm-2 to sm-15"
Recent;y,I see a  algorithem sm-15 putting on public in github(http://github.com/slaypni/SM-15)

so I want to know whether you plan to exchange the sm-2  algorithem.

[2021-12-23 17:55] MagTun commented on #9993
@infinyte7, I looked into the files mentioned in some of your pull requests concerning the JS API but I couldn't find any information about the features I have mentioned above. If you have the time to explain how they can be implemented, or if you can just point me to the files (I am not very good at JS but I may understand a bit), I would really appreciate it.

[2021-12-23 18:18] infinyte7 commented on #9993
@MagTun

1. Add [custom button](https://github.com/infinyte7/Anki-Custom-Card-Layout/blob/master/Example%204/front.html#L55-#L70) at bottom
2. Set [timeout ](https://www.w3schools.com/jsref/met_win_settimeout.asp)
3. Now in timeout JS code, use if_else condition to know the button pressed. Show the dots using HTML/CSS class.
4. After timeout call the function for pressed button to move to next que

[2021-12-23 19:31] ShridharGoel commented on #9985
This isn't happening when I tried on Redmi Note 8.

@MagTun What's the MIUI version of your device?

[2021-12-23 19:39] MagTun commented on #9985
MIUI Global 12.5.3

[2021-12-23 20:30] puranjayK commented on #10000
@Arthur-Milchior @david-allison-1 PTAL

[2021-12-23 20:34] MagTun commented on #9993
Thanks for your quick answer!
Sorry I wasn't clear enough, concerning the little dots and the TTS, I was able to found a similar [solution](https://github.com/MagTun/AnkiDroid-Custom-Card/blob/main/0000_00_js_addon_button_back.js#L84-#L118)  (actually I don't display the little dots but I change the background color for a couple of seconds so it's clearly visible).

This is such a good news!

I am

[2021-12-24 02:50] zkl-ai opened #10022 "[Bug] Charts by hour are inconsistent before and after changing language"
###### Reproduction Steps

1. click Statistics button
2. change the chart to HOURLY BREAKDOWN
3. select All decks
4. change the language to simplified Chinese
5. back to the chart of HOURLY BREAKDOWN

###### Expected Result
The chart of HOURLY BREAKDOWN should be the same before and after the language change.

###### Actual Result
![~NLTQPWP9 @@DF1NOX5TI95](https://user-images.githubusercontent.co

[2021-12-24 03:08] zkl-ai commented on #10022
And I have restarted the app, and the chart still different. When the language is English, it is empty. And when the language is simplified Chinese or Japanese which I have tried, it is not empty.

[2021-12-24 04:02] pree-T commented on #9961
Can I work on this?

[2021-12-24 04:03] pree-T commented on #9947
May I work on this?

[2021-12-24 04:04] pree-T commented on #9775
May I work on this?

[2021-12-24 04:05] pree-T commented on #9751
May I work on this?

[2021-12-24 04:08] pree-T commented on #9511
May I work on this?

[2021-12-24 04:28] Arnold2381 commented on #9511
@pree-T this issue very specific to MIUI users, that too for some specific versions. I wont suggest you to take this up until and unless you have a MIUI phone which faces the similar issue . Please look for other Good first Issues to start with your first contribution.
All the very best!

[2021-12-24 05:06] david-allison-1 commented on #9961
@pree-T There's an active PR in, doesn't feel worthwhile

[2021-12-24 05:07] david-allison-1 commented on #9947
@pree-T You've asked for multiple issue. Can you select one that you'd like to work on, it doesn't seem fair to take on multiple 'good first issue's unless you're getting through them at a significant pace.

[2021-12-24 11:08] david-allison-1 commented on #9985
That's the cause of this issue. I've disabled the forced dark theme, and this issue is due to the fact that I've removed it.

Something changed automatically and I can now attach ADB.

[2021-12-26 09:47] joaquintoral commented on #9540
I also had this issue jsut now and spent my entire afternoon trying to fix it. I was finally able to fix the issue after deleting all anki files except collection on my android phone and do a sync. Despite doing this, the sync failed multiple times giving that exact SD card error despite me not having any SD card. It started when I deleted a card type and forced a one way sync from desktop to clou

[2021-12-26 10:41] camerooncameroon opened #10024 "Allocate larger memory buffers for sizy cards"
**Is your feature request related to a problem? Please describe.**
Yes, the feature request is related to a problem: when I use Image occlusion cards on Ankidroid, the images/masks are almost always redrawn (and zoom/position reset) when tapping on 'Answer' button (except ~10% cases when the red mask opens smoothly).
It is purely a cosmetic issue (because everything else is working fine), but it d

[2021-12-26 10:49] camerooncameroon commented on #9945
@mikehardy
Hi, Damien said this will be implemented in the next beta of Anki Desktop: https://forums.ankiweb.net/t/order-cards-in-review-by-date-time-created-added-doesnt-work/15267/12?u=odeon

[2021-12-26 12:22] infinyte7 commented on #10024
I think it is related to this https://github.com/ankidroid/Anki-Android/issues/7825

[2021-12-26 13:31] nwwt commented on #7375
As late follow-up, in case another hits this behavior: I'm sure it's a broken OEM change (by OnePlus) given now that I've installed the Magisk module [Fullscreen/Immersive Gesture Tweeks](https://github.com/Magisk-Modules-Repo/HideNavBar), the bar is hidden and AnkiDroid  & co. still just work fine.

[2021-12-26 14:33] raddi1972 commented on #9461
Is someone still working on this? If not I would like to try.

[2021-12-26 15:27] david-allison-1 commented on #9461
Sure, thanks!

[2021-12-27 05:40] raddi1972 commented on #9461
Please, could you clarify which collection you are talking about? I am kind of new to Android Development and need some guidance.

[2021-12-27 09:34] david-allison-1 commented on #9461
[This pull request](https://github.com/ankidroid/Anki-Android/pull/9407#issuecomment-898621819) fixed an issue.

A regression test is a unit test which is designed to ensure that an issue doesn't occur again.

* Understand the linked PR
* Check out the code at the revision before the PR landed
* Write + commit a unit test which exercises the broken code branch, and reproduces the crash
* Cherry pi

[2021-12-28 08:40] #9483 closed

[2021-12-28 08:40] #9192 closed

[2021-12-28 08:40] #8737 closed

[2021-12-28 08:46] voidplayer commented on #8428
still searching for solutions

[2021-12-28 12:13] mikehardy commented on #9751
@pree-T you've asked for four items - please focus on one of them first to make sure you understand how to get a PR through, but once you've decided which of the four you want to start with, by all means go for it!

[2021-12-28 13:38] #9605 closed

[2021-12-28 19:05] SSTG commented on #9987
I would like to work on it. Can someone assign this to me?

[2021-12-28 22:24] mikehardy commented on #9987
Hmmm - this would have us differing from upstream a little bit, but I do understand the possible utility. I'm going to invoke @dae here - Damien, what do you think about automatic review having a "do nothing at all just keep on going through cards..." option for the "what to do when advancing to next" set of options? Maybe people want to just listen with headphones while sleeping ;-).

[2021-12-29 01:02] dae commented on #9987
The default behaviour in AnkiMobile is to bury cards, which approximates this use case. Doing absolutely nothing would result in cards reappearing when queues were rebuilt in the v1/v2 scheduler.

[2021-12-29 11:53] mikehardy commented on #8454
Still valid and a good first issue

[2021-12-29 13:11] david-allison-1 commented on #9987
I'd prefer not to introduce a "do nothing" if at all possible as that will add additional complexity to the scheduling.

[2021-12-29 14:10] mikehardy commented on #9987
That's two solid reasons not to, an interesting idea then but I'm going to close this as "won't fix"

[2021-12-29 14:10] #9987 closed

[2021-12-29 14:14] david-allison-1 commented on #9461
I was asked to elaborate on the cause of the issue. These code snippets below are from how the code was at the time:

`setDataSource` throws as the file couldn't be read (didn't exist)

https://github.com/ankidroid/Anki-Android/blob/b6ccfd9aae9721a40f121a06979bfc80ec1c49cc/AnkiDroid/src/main/java/com/ichi2/libanki/Sound.java#L375

Therefore `mAudioFocusRequest` was never set

https://github.com/an

[2021-12-30 08:01] ShridharGoel opened #10029 "Misleading toast message on clicking "Send troubleshooting report""
A toast containing this message is displayed on clicking "Send troubleshooting report":
`AnkiDroid has encountered a problem; a report is being sent to the developers`

Can we use better terminology here? The above message makes it seem like that the app crashed or something went wrong even though the user themselves clicked the troubleshoot option to send a report. It is possible that AnkiDroid e

[2021-12-30 09:24] Lokawn commented on #9995
I got the same issue. Solved with @david-allison-1's advise

[2021-12-30 14:54] fred042 commented on #9947
@david-allison-1 Can I try to fix this issue?

[2021-12-30 16:12] AayushSolanki commented on #9847
@david-allison-1

@david-allison-1 could you please tell me how could i know about the errors lint is warning about

[2021-12-31 00:41] david-allison-1 commented on #9947
@fred042 Sure!

[2021-12-31 13:35] twwn opened #10033 "[Bug] Occasional mistaken "Failed to load" warning"
###### Reproduction Steps

1. Have a card with `<audio src="foo bar.mp3"></audio>` on them
2. Review it

###### Expected Result

Card renders without issue (if the file exists) and the webview does with the audio whatever the deck creator scripted it to.

###### Actual Result

Occasionally (no discernible pattern) AnkiDroid will throw a `"Card Content Error: Failed to load 'foo bar.mp3'"` warning,

[2021-12-31 13:39] nwwt opened #10034 "[Bug] <audio> & <object> files not recognized in "Check media""
###### Reproduction Steps

1. Use files in <audio> or <object> tags
2. "Check Media"

###### Expected Result

Files are deemed in-use & not suggested for deletion.

###### Actual Result

Files are suggested for deletion.

###### Debug info
v2.16a29. Support for both tags was [added to](https://github.com/ankitects/anki/commit/6e9aaad11edc67a992f13286da2bff83b16c7453) Anki in Oct '20.

[2021-12-31 19:31] fred-sab commented on #9947
Hi @david-allison-1

A solution should be to save the preference on change instead of on touch stop (see PR #10039), wdyt?

PS: for an unknown reason my other new account got suspended (maybe because I already had this account). That's why I'm using this one instead 😅

[2022-01-01 13:32] david-allison-1 commented on #9847
You should be able to see the lint warnings/errors when the string is used in Android Studio

[2022-01-01 13:55] david-allison opened #10046 "[Bug] Decks.select crash"
User reported, have a collection with the issue

[code]

2.15 and latest alpha

[2022-01-01 14:00] david-allison-1 commented on #10046
The provided collection only has `conf` defined. But this causes a crash so the user cannot change the Advanced settings

[2022-01-01 18:26] #9947 closed

[2022-01-02 14:58] #9763 closed

[2022-01-02 15:00] homocomputeris commented on #9482
Still an issue

[2022-01-02 17:40] #6614 closed

[2022-01-02 18:42] #8436 closed

[2022-01-02 19:13] mikehardy commented on #9945
Ah cool! There really isn't further action to take here other than our standard "stay in sync with upstream rust library" tasks which are pretty involved but also will happen regardless of this issue or not. So I'm going to close this as it is not actionable really but it won't be actually fixed until we get whatever underlying code has that change. To set expectations it could be a while, we have

[2022-01-02 19:13] #9945 closed

[2022-01-03 15:52] szalejot opened #10072 "[Bug] "is:due" not filtering properly with "is:learn""
###### Reproduction Steps

1. Browse or create filtered deck with the following filter: "is:learn is:due"

###### Expected Result

Filter returns only learning and re-learning cards, that are already due.

###### Actual Result

Filter returns all learning and re-learning cards. Even ones that are not due (for example will be due in an hour).
Filter returns expected results in the desktop Anki, tes

[2022-01-04 11:43] jaiakash opened #10091 "[Screenshot] Hindi Langauge"
The project has screenshots of the app in various languages. But it did not have in the Hindi language.
So I would like to add screenshots in hindi language.

[2022-01-04 11:48] voidplayer commented on #7279
This still happens, but i guess this will be fixed automatically in 2.17 or 18?

[2022-01-04 13:43] pree-T commented on #9963
Is this issue still open?May I work on it?

[2022-01-04 13:49] david-allison-1 commented on #9963
There's an active pull request. Please pick another issue

[2022-01-04 14:20] david-allison-1 commented on #7279
Should be, but will keep it open

[2022-01-04 16:59] david-allison-1 commented on #8436
Had a failure notification:

[code]

[2022-01-04 17:10] mikehardy commented on #8436
@david-allison-1 check out this and most importantly the 1801 referenced from it https://github.com/square/leakcanary/issues/2174 - what a mess! And it's exactly around what you are doing (moving target sdk versions with existing installs etc) - I'm not sure exactly how to mitigate this :-/ - it appears difficult to reproduce (involving specific local device state) and possibly depends on a combin

[2022-01-04 17:35] AayushSolanki commented on #10029
![Screenshot_20220102-221015 155](https://user-images.githubusercontent.com/75438613/148100039-2f9f6fa1-ede8-49fd-b23b-064cd933c65d.png)

@mikehardy @david-allison-1 i think we should remove the toast as it doesn't make any sense because we have the dailog box.
looking for your suggestions

[2022-01-04 17:36] david-allison-1 commented on #8436
I'll fill in their report so they can debug.

I'm also getting a "Leaks" app installed, we'll need to confirm that this doesn't occur on a release build

[2022-01-04 17:38] david-allison opened #10093 "LeakCanary: Heap Analysis Failed - hprof file: open failed: EACCES (Permission denied)"
Had a "Heap Analysis Failed" notification. Clicking on it provided trace:

[code]

_Originally posted by @david-allison-1 in https://github.com/ankidroid/Anki-Android/issues/8436#issuecomment-1005000556_

----

@david-allison-1 check out this and most importantly the 1801 referenced from it https://github.com/square/leakcanary/issues/2174 - what a mess! And it's exactly around what you are doing (

[2022-01-04 17:41] #9723 closed

[2022-01-04 17:44] david-allison-1 commented on #10029
If you can do so in this instance, without removing the toast in the general case, then that sounds like a good solution.

[2022-01-04 17:49] AayushSolanki commented on #10029
@david-allison-1  actually i was thinking to remove the toast _AnkiDroid has encountered a problem; a report is being generated..._  because it is of no use to the user so can i work upon these?

[2022-01-04 17:56] david-allison-1 commented on #10029
Personally: We should inform the user if we're sending their data to our crash reporting servers.

* We're informing them that a problem occurred with an operation
* It's a reminder that the automatic crash reporting is enabled
* It's a confirmation that the manual crash reporting succeeded

I'd be happy with a wording change for the manual dialog/report, but I don't feel it should be removed.

[2022-01-04 18:50] Goudabroetchen opened #10094 "Marquee element for deck in custom study session."
Sometimes I create a custom study session of combined decks.

Example:
Style of a random deck:
-Deckname
--Medicine
---Anatomy
--Languages
---German
---Dutch
---Spanish

Now I click on Languages for example - "Custom study" - "Review ahead" - "1 day"

And I have to translate the word "Egg". Now I don't know in which language I have to translate.
The header is just "Custom study session"

My sugges

[2022-01-04 19:18] david-allison-1 commented on #10094
You should be able to do this via adding `{{Deck}}` somewhere in the card template

[2022-01-04 19:42] mikehardy commented on #10029
The toast must stay, if you choose "report every time without asking" you never get a dialog if I recall correctly, the toast is the only way we inform users their data was collected + sent

[2022-01-04 19:46] mikehardy commented on #10094
How does anki desktop handle this (or AnkiMobile), just out of curiosity?

[2022-01-04 19:50] david-allison-1 commented on #10094
Anki Desktop 2.1.49 doesn't display the deck name at all

[2022-01-04 19:53] mikehardy commented on #10094
okay, then it seems in the absence of upstream style to copy / stay consistent with, and knowing that deck names may get quite long so a general solution is somewhat complicated in addition to this not having come up before, I like the general direction of leaving it to users with a template change as that should really work...

[2022-01-04 19:57] ShridharGoel commented on #10029
@mikehardy In the issue I wanted to mention about the message that shows when the users himself/herself clicks on the "Send troubleshooting report" option.

[2022-01-04 20:03] david-allison-1 commented on #10029
The "manual" and "auto" strings are distinct.

I feel this can be fixed with a bit of thought about the text. @ShridharGoel, would this be an acceptable fix, or would you prefer the toast was completely disabled in this case.

https://github.com/ankidroid/Anki-Android/blob/19641103a8eb9d6931c1495ad696ff610a2e0973/AnkiDroid/src/main/res/values/05-feedback.xml#L29-L30

Usage:

https://github.com/ank

[2022-01-04 20:10] david-allison-1 commented on #10094
@Goudabroetchen - Our manual/communities (via the in-app "Help") should help with adding `{{Deck}}` to the appropriate card template(s) if you need assistance.

Thanks for reporting!

[2022-01-04 20:10] #10094 closed

[2022-01-04 20:13] ShridharGoel commented on #10029
Yeah, just a change in the text should be fine. Something like "A report is being generated for the reference of developers" would be good.

Also, the report is sent only after the user clicks "Report", right?

[2022-01-04 20:19] david-allison-1 commented on #10029
`Never || Ask`

`Always` sends without a dialog

https://github.com/ankidroid/Anki-Android/blob/494bbbd5c08cfd40c573ac3d74f3bb262e72eaf7/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/HelpDialog.kt#L259-L271

[2022-01-04 20:32] ShridharGoel commented on #10029
Please note that changing the text is only suitable for the case when the
user manually selects the troubleshooting option in the help section,
because of the possibility that there might not be any problem which was
encountered which makes the toast message invalid.

[2022-01-05 07:20] WiliTest commented on #9986
This feature would solve a bug with MIUI: the automatic display answer process is often interrupted by MIUI OS, but it doesn't restart after it. Eg. when I connect my phone to my PC, MIUI triggers a menu to ask me if I want to transfer files, it stops.
 (MUI again, Sorry, I know it's a bad OS...). When this happens, I need to uncheck and check again the automatic display answer process.

[2022-01-05 08:35] user1823 opened #10095 "Add support for hierarchical tags"
Anki Desktop has native support for hierarchical tags for the last several releases. Please add the feature to AnkiDroid for compatibility.

[2022-01-05 15:18] TragicLifeHu opened #10096 "[Bug] Some devices with Chinese Traditional will be fallback to Chinese Simplified"
###### Reproduction Steps

1. Change device (basically Android 10 and up) into Traditional Chinese
2. Fresh launch AnkiDroid or use "System Language"
3. Shows Simplified Chinese

###### Expected Result
Devices with Chinese Traditional (zh-TW/zh-HK/zh-MO) to use Traditional Chinese strings/translation, not Simplified Chinese (zh-CN)

###### Actual Result
Devices with Chinese Traditional may be fall

[2022-01-05 16:07] david-allison-1 commented on #10096
Thanks for the report!

Duplicate of #7173. Pull requests are highly encouraged for this one, it's been a bother for a long time.

I'd ask that unit tests were included in this, as it's one that's tricky to get right, I'm happy to help if you're inclined.

[2022-01-05 16:07] #10096 closed

[2022-01-05 17:52] mikehardy commented on #10095
PRs happily accepted! :-)

[2022-01-05 18:01] mikehardy commented on #7173
Just to note that the recently resolved-as-duplicate issue #10096 had some good digging into exactly which system APIs returned which (incorrect) language tags that leads to this problem, copying here for reference with thanks to @TragicLifeHu

----

(java.util.locale) Locale.getDefault().getLanguage() only return string zh for both Chinese Traditional and Chinese Simplified;
and use Locale.getDef

[2022-01-05 18:02] mikehardy commented on #10096
I thought the extra detail here was great and carried to the main issue, thanks!

[2022-01-05 20:46] AkechiShiro commented on #9694
Sorry for the delayed response @nanoTiO2 , I received not long ago an update for MIUI 12.5.7 however I'm still unable to reproduce your bug, so far what I tried to reproduce it :

- 1 : Activate full screen (hide topbar and hide answer buttons)
- 2 Activate gestures.
- 3 I try to learn from a deck, swipe down on the screen, answer/move to the next card, and it seems all good to me.

Does this bug

[2022-01-05 20:56] infinyte7 commented on #7959
I have came up with idea of using a GitHub CI to generate a single json file which store information about the npm packages with `ankidroid-js-addon` keyword.

The [anki-js-addon-json](https://github.com/infinyte7/anki-js-addon-json) project will be used.
It will do in following order
1. Search for packages with `ankidroid-js-addon` keyword
2. Take out name and version
3. Then fetch the packages i

[2022-01-06 10:44] NicolasMICAUX opened #10098 "Answer buttons disappear"
When reviewing a card, with "full screen" mode on (hides top and lower bars), sometimes the answer buttons (easy, ... hard) flash (appear, disappear, ...)

It happens on some cards only (not all), but I cannot figure out a pattern (not especially big cards, or a specific type of cards,...)

AnkiDroid Version = 2.15.6

Android Version = 8.0.0

Manufacturer = Sony

Model = F8331

Hardware = qcom

We

[2022-01-06 10:54] david-allison-1 commented on #10098
Hi, thanks for the report. Could you fill out the bug reporting template?

Especially adding the information from "about ankidroid". This is potentially due to an Android OS issue

[2022-01-06 11:36] #8893 closed

[2022-01-06 15:20] mikehardy commented on #9259
#10027 made me realize that if we allow users to switch locale, but ABB means that Google only ships optimized APKs including the device locale and the default locale resources, then users will not be able to access their preferred locale string translations if the preferred locale is different than the device locale.

It looks like this requirement (decouple locale resource installation from devi

[2022-01-06 15:27] NicolasMICAUX commented on #10098
Yes, I don't know why, the template choice does not seem to appear on github page for phones.

### Reproduction Steps
(1.  I think the bug is due to setting "Full screen Mode > Mask system bars" (approximate translation from french UI) )
2. Revise somes cards
3. Sometimes (not always, answer buttons flash appear-disappear)

### Expected Result
answer buttons stand still, always displayed

### Actu

[2022-01-06 17:38] fabiozonaleste opened #10099 "Anki não funciona mais o TTS Definir idiomas para francês, Russo, Italiano, só funciona Ingles, portugues, Espanhol na lista dos Flashcards"
Ao entrar no card que criei do AnkiDroid, há anos deu tudo certo, mas ao instalar a versão nova no aparelho sansung x32, ao ir nos 3 pontos para "definir Idioma TTS" que antes era automático, só aparece opções "Selecionar Idiomas" = Não Fale, Ingles (EUA), Ingles (computador), Espanhol (méxico), Português (Brasil)

**Describe the solution you'd like**
Gostaria de que aparecesse na lista a opção do

[2022-01-06 17:43] mikehardy commented on #10099
Hi there! I believe this is under your control and you may install the voices that you like, including different languages if desired?

https://support.google.com/accessibility/android/answer/6006983?hl=en

[2022-01-06 18:38] david-allison-1 commented on #10098
Android 8 has issues with hardware rendering.

What's the value of `Settings - Advanced - Disable card hardware render`?

Ref: https://github.com/ankidroid/Anki-Android/commit/5386890a860d3473bad56f7344ea1211e44ad273

[2022-01-06 18:39] #8876 closed

[2022-01-06 18:44] fabiozonaleste commented on #10099
mikehardy Gotha !! I can this, now I'm go back for study, Thanks!!

[2022-01-06 19:51] mikehardy commented on #10099
Great - I will close this since I think this will work for you, but if for some reason it does not work, please continue the conversation - we may reopen and work to fix it.

Saludos desde su vecino en el ecuador ;-)

[2022-01-06 20:44] Hisham7345 opened #10100 "[Bug]"
Hello,

I am a user from Yemen and I have been using Anki for a couple of years now and so far everything has been fine.
But suddenly, a problem has appeared with the synchronization. Each time I try to synchronize my ankidroid with the ankiweb version, I receive a message says : sync error, type: 400, message

![Screenshot_20220106-192521_AnkiDroid](https://user-images.githubusercontent.com/97251

[2022-01-06 20:52] mikehardy commented on #10100
:thinking:
This appears to be related to bad data in your collection somehow?
https://search.brave.com/search?q=ankiweb+syncing+error+400
check database and full sync is the answer most commonly referenced.

Possibly restore from a known good backup before it happened? But that implies you will lose review history from the time of the backup to the time it started happening, and may not fix it

[2022-01-07 05:03] AayushSolanki commented on #10029
@david-allison-1 can i now change the manual_toast_text? if yes , could you please assign it to me.

[2022-01-07 10:46] VaibhavAher219 commented on #10000
Has this issue been resolved because i am also interested in resolving it

[2022-01-07 10:57] Arthur-Milchior commented on #10000
Hi @VaibhavAher219. No, it has not been resolved. @puranjayK made a PR #10021 that still requires some work. @puranjayK, do you plan to still work on it ? I have not seen any news or feedback for two weeks. If you say you won't work on it or won't answer, then @VaibhavAher219, I'll be happy for you to work on it. You can take over the existing PR or work from scratch, as you prefer.
I'd suggest wa

[2022-01-07 11:13] VaibhavAher219 commented on #10000
actually I am a complete newbie to opensource I think I will wait and start from scratch can you please guide what is recommended?

[2022-01-07 12:00] Arthur-Milchior commented on #10000
@VaibhavAher219 Did you read the whole page? As @puranjayK did ask the same question, there is a chance the answer we already gave are still relevant. In particular about going on discord and discussing with people there to get interaction and help quicker

[2022-01-07 13:42] mikehardy commented on #9963
The next alpha will have the fix, I will generate one either today or tomorrow depending on how all the merges today go. Thanks for not just logging it but also fixing it! :trophy:

[2022-01-07 15:30] david-allison-1 commented on #10029
Sure

[2022-01-07 21:59] david-allison opened #10101 "Flaky test: test_preferences_not_opened_happy_path"
[code]
I am not getting what the error is...

_Originally posted by @Akshay0701 in https://github.com/ankidroid/Anki-Android/issues/10078#issuecomment-1007527557_

[2022-01-08 01:49] david-allison-1 opened #10102 "[Bug] Crash on Login"
2.16alpha35

https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/a7cd64b7-9933-46a7-be70-525dfa742403

[code]

[2022-01-08 05:16] murugu-21 commented on #9775
I think this issue can be closed now

[2022-01-08 05:17] murugu-21 commented on #9775
I think this issue can be closed now @mikehardy

[2022-01-08 08:43] NicolasMICAUX commented on #10098
unchecked, I try to check it.

Ok, seems to solve the problem, thanks a lot !

[2022-01-08 08:43] #10098 closed

[2022-01-08 12:16] Anthropos888 opened #10104 "[Bug] Soft crashes on Android 11 / Moto G60S"
Since I got a new phone (Moto G60S, Android 11) AnkiDroid "crashes" dozens of times every day. Using the app itself is stable, but while not using the app I can see the message:
"AnkiDroid encountered a problem. A report is being sent to the developers..." all the time.

Do you have any idea what causes those problems?

AnkiDroid Version = 2.16alpha29

Android Version = 11

Manufacturer = motorola

[2022-01-08 13:01] david-allison opened #10107 "[Bug] 2.16alpha29 crash: MyGestureDetector"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/89c465ff-bb92-4436-bad0-1d7bd73891a4

[code]

[2022-01-08 13:02] david-allison-1 opened #10108 "[Bug] 2.16.29alpha crash: Widget - Error receiving broadcast Intent android.intent.action.MEDIA_MOUNTED"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/c9397942-4eeb-48ea-929a-05051d410e3c

[code]

[2022-01-08 13:09] david-allison-1 commented on #10104
Thanks for the report.

This is either:

https://github.com/ankidroid/Anki-Android/issues/10108

or

https://github.com/ankidroid/Anki-Android/issues/10107

Presumably: https://github.com/ankidroid/Anki-Android/issues/10108

I'll close this issue as it's been disambiguated. I feel that this is going to be caused by https://github.com/ankidroid/Anki-Android/issues/10108, and I'll fix it. Please let

[2022-01-08 13:09] #10104 closed

[2022-01-08 13:13] AayushSolanki commented on #10029
@david-allison-1 do i need to change every string or is there any other way?

[2022-01-08 13:24] david-allison-1 commented on #10029
https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#handling-translations

In this case, we want to force a re-translation of the message, so change the message and the key in English

[2022-01-08 14:55] #10102 closed

[2022-01-08 15:15] nanoTiO2 commented on #9694
I slide down, look at the video please.and I can not disable my guestures when I open the full screen mode

发自我的iPad

[2022-01-08 17:50] choralbari opened #10117 "Dark mode: whiteboard pen not visible unless colour changed"
In dark mode, the whiteboard pen is not visible unless you change it's colour to something other than black.

I would expect the colour to automatically switch from black to white when entering dark mode and vice versa.

Debug info:

AnkiDroid Version = 2.15.6

Android Version = 11

Manufacturer = Xiaomi

Model = M2012K11AG

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 11; M20

[2022-01-08 17:54] mikehardy commented on #10117
Very interesting! We have a lot of issues with Xiaomi / MIUI devices, specifically around their "forced dark mode". Can you tell us whether you have forced dark mode *off* for AnkiDroid? There are a few things exactly like this that are problems for AnkiDroid when MIUI is trying to force a dark mode

[2022-01-08 17:55] choralbari opened #10118 "[Bug] Dark mode: icons in card editing window not (or barely) visible"
###### Reproduction Steps

1. Enter dark mode
2. Edit a card
3. Look for the icon to attach a file -- it's not visible.
4. Tap around about where the icon should be; the drop-down menu appears as it should.

###### Expected Result

The icons are clearly visible

###### Actual Result

The icons are not visible.

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if

[2022-01-08 18:00] choralbari opened #10119 "[Bug] Dark mode: horizontal lines are not visible in MathJax fractions or roots"
###### Reproduction Steps

1. View a MathJax card in light mode. Notice the horizontal lines in fractions and roots are displayed correctly.
2. Switch to dark mode.
3. Horizontal lines have vanished

Note that I have set my text size to XXS in system preferences. I'm unsure whether this is relevant.

###### Expected Result

Horizontal lines are still visible in dark mode.

###### Actual Result

Ho

[2022-01-08 19:04] AkechiShiro commented on #9694
I saw your video, could you maybe share me your card deck ? I can't seem to reproduce your bug but it might be related to your deck of cards maybe ? (If not it's probably very specific to your device)

Here is a video captured on my phone trying exactly the bug but failing to do so.

https://user-images.githubusercontent.com/14914796/148656505-ab32f12b-9bbe-46e4-98fd-281f651897e5.mp4

[2022-01-08 20:11] AkechiShiro commented on #10119
Could you please provide a screenshot of the issue, I have tried to reproduce it under the version 2.16alpha34, I have the same phone as you I believe, mine is a Xiaomi Poco F3 and under the dark theme, or light theme fraction bar appear correctly.

[2022-01-08 20:46] choralbari commented on #10117
This is a new phone and I wasn't even aware MIUI was "forcing" dark mode. It's the sort of feature that sounds like a great idea until you take a moment to think about it ;-).  I disabled the forced dark mode in AnkiDroid, turned on dark mode in AnkiDroid manually, and the pen works as I would expect now.

[2022-01-08 20:48] choralbari commented on #10119
This is a new phone and I wasn't aware MIUI was "forcing" dark mode. I disabled the forced dark mode for AnkiDroid, turned on dark mode in AnkiDroid manually, and fractions display correctly now.

[2022-01-08 20:51] choralbari commented on #10118
This is a new phone and I wasn't aware MIUI was "forcing" dark mode. I disabled the forced dark mode for AnkiDroid, turned on dark mode in AnkiDroid manually, and the icons display correctly now.

[2022-01-09 00:04] AkechiShiro commented on #10119
@choralbari Could you please close this issue then I guess, I couldn't reproduce the issue as well even by using the forced dark mode on MIUI.

[2022-01-09 01:47] david-allison-1 commented on #10118
Already fixed in 2.16. Thanks for the report!

https://github.com/ankidroid/Anki-Android/pull/9802

[2022-01-09 01:47] #10118 closed

[2022-01-09 01:47] david-allison-1 commented on #10117
Fixed in #9802. Thanks for the report!

[2022-01-09 01:47] #10117 closed

[2022-01-09 01:48] david-allison-1 commented on #10119
Fixed in #9802. Thanks for the report!

[2022-01-09 01:48] #10119 closed

[2022-01-09 09:13] infinyte7 opened #10121 "[Bug] Night mode - Reviewer crash"
###### Reproduction Steps

1. Change to Night Mode
2. Open Reviewer

###### Expected Result
It should let me review the cards.

###### Actual Result
The app crashed
[code]

###### Debug info
AnkiDroid Version = 2.16alpha35

Android Version = 11

Manufacturer = samsung

Model = SM-M307F

Hardware = exynos9611

Webview User Agent = Mozilla/5.0 (Linux; Android 11; SM-M307F Build/RP1A.200720.012; wv)

[2022-01-09 13:18] Raphael124 opened #10122 "[Bug] Ankidroid messing with the <div>s"
###### Reproduction Steps
Desktop Client : Windows 10 Version ⁨2.1.49 (dc80804a)⁩
Android client : Android 11 Version 2.1.49 downloaded from F-Droid. Same for others using it from Play Store

1. Create a card on Anki Desktop (The problem usually arises when copy pasting text from word or the web but it is somewhat random)
2. Sync
3. open the card in ankidroid : No change the card is as it should b

[2022-01-09 14:32] Raphael124 commented on #10122
I did not want to pollute with a thousand screenshots so they are all in the google groups.
I've been working on it as much as my exams enable me to do so and it happens that this issue occurs when anki desktop inserts some line breaks due to formatting parsing (from Word or from a web page):

Here is an example. This page was taken from a word doc and pasted:
[code]
After just clicking on "edit"

[2022-01-09 16:55] mikehardy commented on #9775
@murugu-21 has the related work been done to handle this deprecation? I see no link to the related PR ?

[2022-01-09 17:15] david-allison-1 commented on #10121
@Akshay0701 : likely caused by 10ca3d7ba4e08082a06c903d340d9d64de15e919. Do you have time to take a look?

[2022-01-09 18:27] Akshay0701 commented on #10121
yes sure

[2022-01-09 19:11] mikehardy commented on #9696
pending merge of PR #9739

[2022-01-09 21:02] #10121 closed

[2022-01-10 09:23] raddi1972 commented on #9461
To test this the plan I have come up is,
To add a invalid path in the `Sound` (in the hash map `mSoundPaths`), then calling the `playSoundInternal` method through `Reviewer` class. This would then create the same error which will occur before the pull request #9407.
Is this plan good or should I try some other approach?

[2022-01-10 23:59] david-allison-1 commented on #9461
You'd be best to check out the code at the failing commit hash, then test in-app with `[[sound:not_on_file_system.mp3]]`.

If this fails (it should), duplicate this in a unit test (inside `ReviewerTest`), providing and viewing a note with the above code. Debug the test if the crash isn't reproduced, and fix the preconditions of the test to ensure we get a failure at the given commit.

When things

[2022-01-11 00:59] #10108 closed

[2022-01-11 03:47] pree-T commented on #9775
Is this issue open? I would like to work on it. Can someone help me?

[2022-01-11 13:42] puranjayK commented on #10000
@Arthur-Milchior yes I still wanna work on the issue. Things were a bit difficult with the pandemic rising again in India. I'll get back to the issue

[2022-01-11 14:38] Arthur-Milchior commented on #10000
Thanks for the update @puranjayK. Thanks for your interest. I'm sorry to read that. Do you have any idea when you'll have time for it?
There is no emergency. I only want to get an idea of how much time we reserve the issue.

@VaibhavAher219 did you had the opportunity to start working on it?

[2022-01-11 16:44] absoluteinc commented on #9974
This issue is still present even with the setting "Ignore touch gestures on links" turned on. Tested issue still present on 2.16alpha36

[2022-01-11 18:18] raddi1972 commented on #9461
I was able to roll back to the commit hash and was able to recreate the problem (the app crashed) and I got the similar stack trace as the one provided in the issue #9401.
Now whenever I run a test in `ReviewerTest` then I get some linking error as-
`java.lang.UnsatisfiedLinkError: C:\Users\dixit\AppData\Local\Temp\rsdroid7800908337259424667.dll: Can't find dependent libraries`
Looks like a linkin

[2022-01-11 21:04] Hisham7345 commented on #10100
What do you mean by proposing a change directly? I mean a change of what?

[2022-01-11 21:10] david-allison-1 commented on #10104
@Anthropos888 Please let me know if this is reproducible in 2.1.36 or later. It should be resolved.

[2022-01-11 21:19] david-allison-1 commented on #9461
@raddi1972 See: https://github.com/ankidroid/Anki-Android/issues/8482 - should have a download to fix the issue

[2022-01-11 22:20] Anthropos888 commented on #10104
@david-allison-1 I'd like to check ot out but somehow the latest version of Ankidroid that I can see in PlayStore is 2.16.29alpha

Do I need to install the github release?

[2022-01-11 22:34] david-allison-1 commented on #10104
We can't upgrade the alphas on Google Play until we handle scoped storage and a risky data migration

GitHub parallel releases/source builds are currently the only option for testing

[2022-01-12 02:02] david-allison-1 commented on #10091
I have a few issues here now I've had time to get into our infra around these screenshots:

**Uploading Infra**
The screenshots are uploaded by https://github.com/ankidroid/Anki-Android/blob/master/tools/google-play.py, but this doesn't seem to have been maintained in quite a while.

* Our new screenshots by Mani are not consistent with this script, and would be wiped
* The script may not work
* T

[2022-01-12 02:46] #9468 closed

[2022-01-12 03:17] mikehardy commented on #10091
Fastlane, it's the answer. I've got a few projects that use it now, mostly iOS but I finally did an Android one with ABB files and it's the ticket. It's a big job though, the whole package and upload and store presence system needs an overhaul and these would just be a content part of It

[2022-01-12 07:37] pree-T commented on #9847
May I work on this? Can someone help me to fix this issue as I am relatively new to open source contribution? @mikehardy @david-allison-1

[2022-01-12 12:59] mikehardy commented on #10091
To elaborate a little on the fastlane comment - fastlane can actually drive the app and take screenshots even, so the work here would actually be to create locale-specific collections for each language that wanted screenshots such that there was a demonstration card, maybe via creating strings crowdin can consume and then some process to create collections from those strings, then doing the necess

[2022-01-12 17:47] WiliTest commented on #9987
I don't understand why "doing absolutely nothing" would add an "additional complexity to the scheduling". But I'm sure you know what you are talking about.

Some people would like to study even when their hands aren't available (eg. while working with my hands, doing sport...).

I completed my request above, to show why I believe this feature is important.

[2022-01-12 18:04] raddi1972 commented on #9461
@david-allison-1 there does not seems to be a fix for windows! I tried running `./gradlew jacocoUnitTestReport` using git bash and it worked but does not work for powershell. Is there a way to run a specific test in `ReviewerTest` from terminal so I can directly run it from git bash and test? In case there is not, then I will setup linux environment to fix it.

[2022-01-12 18:26] Kritartha1 commented on #3896
@mikehardy
![image](https://user-images.githubusercontent.com/68478501/149199767-18938187-8c51-4395-96c9-cc7a0c824f9b.png)
![image](https://user-images.githubusercontent.com/68478501/149199801-6c476f43-e7c8-4a5a-9f73-877475060bf0.png)
So, the issue is  just to remove the lookup dictionary feature/ tab from the app?

[2022-01-12 19:52] david-allison-1 opened #10173 "[Bug] Build Broken"
[code]

[2022-01-12 21:43] Anthropos888 commented on #10104
I updated to 2.16.37alpha and didn't recognize any crashes so far. But my collection now doesn't use CSS styles and pictures any more. It's like Ankidroid just ignores the CSS file. Any idea what causes that bug in 37alpha?

[2022-01-12 21:45] david-allison-1 commented on #10104
Thanks, I'll take a look

[2022-01-12 21:50] david-allison opened #10175 "[Bug] 2.16.37alpha: collection doesn't use CSS styles and pictures any more"
@david-allison-1  I updated to 2.16.37alpha and didn't recognize any crashes so far. But my collection now doesn't use CSS styles and pictures any more. It's like Ankidroid just ignores the CSS file. Any idea what causes that bug in 37alpha?

_Originally posted by @Anthropos888 in https://github.com/ankidroid/Anki-Android/issues/10104#issuecomment-1011479168_

[2022-01-13 01:47] david-allison-1 commented on #10175
@Anthropos888

Could you provide a sample card + media where this fails?

Images appear to be working on my Android 11.

[2022-01-13 02:05] david-allison-1 opened #10176 "[Bug] Deck Options Crashes on Open"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/2352e419-50e9-425b-8a95-152a4d8ee682

[code]

[2022-01-13 02:16] david-allison-1 commented on #10176
This is a simple fix, but I'd like a regression test: This means getting `DeckOptions` loading in a unit test. This is harder than expected as it's not an `AnkiActivity`.

The following line makes `AnkiDroidApp.getSharedPrefs(context)` return `null`.

https://github.com/ankidroid/Anki-Android/blob/7b6f81c311e4eb97a7ec9916bc599bbd7e9f1850/AnkiDroid/src/main/java/com/ichi2/ui/AppCompatPreferenceActi

[2022-01-13 04:00] david-allison opened #10178 ""search_deck" may be ambiguous"
https://github.com/ankidroid/Anki-Android/blob/e0724fb8bf5bdac7e29f100938a791881d0bc5df/AnkiDroid/src/main/res/values/01-core.xml#L146

Can either mean:

Search for a deck to download:

https://github.com/ankidroid/Anki-Android/blob/ab4a40536ab066da2492d72cfca34b2c5f1875b0/AnkiDroid/src/main/res/menu/download_shared_decks_menu.xml#L13

OR: The title of a window allowing a user to search for an exi

[2022-01-13 05:17] david-allison-1 opened #10179 "[Bug] 2.16: Audio Recording Crash"
https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/a47c8291-e70c-4e89-975a-2e515b8ff407

[code]

[2022-01-13 05:25] david-allison-1 commented on #9461
I use Windows, it works on my machine, so it's possible to get it working. I haven't done anything specific to get it running, and the listed steps should work, or at least get closer to a diagnosis.

[2022-01-13 09:06] #10173 closed

[2022-01-13 09:28] balta2ar opened #10181 "New cards in reverse added order"
**Is your feature request related to a problem? Please describe.**
Currently there are two options in AnkiDroid settings on the order of new cards: in random order, in order added:
![image](https://user-images.githubusercontent.com/340676/149302829-2f554e00-7353-47af-a033-46ae532ccbe1.png)

**Describe the solution you'd like**
I'd like the third option: In reverse added order. I wanna see recently

[2022-01-13 12:13] puranjayK commented on #10000
I'll try to finish it by the end of the week

[2022-01-13 13:07] mikehardy commented on #9775
You can work on it but I have no time for assistance beyond what I put in the description, sorry

[2022-01-13 13:24] mikehardy commented on #10181
Hi there! Does this option exist in Anki Desktop?

[2022-01-13 13:35] mikehardy opened #10185 "Deprecation - handle new deprecation in localbroadcastmanager 1.1.0"
Expected steps + outcome:

- update dependency locally in a new branch to localbroadcastmanager 1.1.0
- attempt build, note the new deprecation warnings that break the build
- read documentation around localbroadcastmanager deprecations added in 1.1.0, and what the documents say to shift to in order to not use deprecated items
- make the changes without adding annotations to ignore deprecation so

[2022-01-13 14:12] balta2ar commented on #10181
I've just checked Anki 2.1.49, and no -- there are only two options. Does that mean it should be added in desktop version first?

[2022-01-13 14:18] mikehardy commented on #10181
@balta2ar in general yes - we have a hard enough time keeping up with Anki Desktop just to maintain parity so there is little appetite for going ahead :sweat_smile: - they are receptive to feature requests though, and this seems reasonable, you may find success with your petition? https://forums.ankiweb.net I think

[2022-01-13 14:20] mikehardy commented on #9825
@avikkundu that works for me - thanks for looking! I typically post notices to follow our opencollective process only on merged PRs, but this knowledge - even in absence of needing a PR - is obviously valuable - so for January if you have spent time on this please consult https://github.com/ankidroid/Anki-Android/wiki/OpenCollective-Payment-Process - cheers!

[2022-01-13 14:20] #9825 closed

[2022-01-13 16:08] #10176 closed

[2022-01-13 19:36] #9801 closed

[2022-01-13 19:38] mikehardy commented on #3896
Yes!

[2022-01-13 21:35] mikehardy commented on #10175
That could help yes (loading older versions) as we could see where the break happened roughly. I have been generating alphas still semi-frequently so that won't leave too many commits. I think you'll have to uninstall the existing parallel (or use a parallel B or something) because downgrades aren't allowed in Android package manager

[2022-01-13 21:38] david-allison-1 commented on #10175
Could you try a parallel release to try and locate the broken revision without uninstalling?

I've tried `<link rel="stylesheet" href="tmp.css"/>` and it worked.

[2022-01-13 22:11] Anthropos888 commented on #10175
@david-allison-1 @mikehardy
Thanks, 35alpha is working.

Two things:
1) I installed 35alpha parallel.A first but I couldn't open my collection because it was blocked by the regular app. Closing the regular app didn't help. So whar could I do in order to open the collection with a parallel build?

2) the parallel A build also got installed as "AnkiDroid", not Ankidroid.A
There was just no way to fi

[2022-01-13 22:26] mikehardy opened #10188 "Parallel Builds are not identifiable at all after install"
A couple days ago I personally noticed the same thing @Anthropos888 noticed:

----

2) the parallel A build also got installed as "AnkiDroid", not Ankidroid.A
There was just no way to find out which one is which one. Even the app info screen didn't tell. So I ended up uninstalling both apps.
That's confusing, I'd expect a parallel build A to have the letter .A in the app name (Android 11)

_Origin

[2022-01-13 22:27] mikehardy commented on #10188
I'll see if I can change this in the parallel release script, it was really difficult to deal with!

[2022-01-13 22:27] mikehardy commented on #10175
I peeled the parallel builds identification thing from item 2 above to a new issue, I noticed it myself

[2022-01-14 03:03] david-allison-1 opened #10209 "Kotlin Migration: detect <br/> converted to <br></br>"
A few Kotlin migrations have incorrectly changed `<br/>` tags to `<br></br>`. Instead they should be changed to a newline.

Add a lint check to detect these so they get flagged by CI, and fixed before they make it into the codebase

See: https://github.com/ankidroid/Anki-Android/commit/14898fa14f7a47e636e2f8f1af73a37771c20b13 for a sample implementation of a lint check, searching for the same issu

[2022-01-14 03:35] david-allison-1 commented on #10181
Thanks for the report! This will need to be in Anki Desktop before we consider implementing it.

Please let us know when this happens and we'll reopen the ticket.

[2022-01-14 03:35] #10181 closed

[2022-01-14 03:38] david-allison-1 commented on #9775
@pree-T Sounds good to me

[2022-01-14 05:54] nanoTiO2 commented on #9694
thank you I don't know what I did . i can use this function as you too. even I don't update my system or anki droid .maybe it is some bugs from miui .thank you

[2022-01-14 05:54] #9694 closed

[2022-01-14 07:10] pree-T commented on #9775
Thanks for assigning me this issue @david-allison-1 . What am I supposed to do as a fix for this issue? I tried to reproduce it but did not get any such warning.

[2022-01-14 07:12] david-allison-1 commented on #9775
What change did you make? Did you sync gradle afterwards?

[2022-01-14 07:15] pree-T commented on #9775
I updated all the dependencies and synced the gradle files.

[2022-01-14 07:39] pree-T commented on #10209
@david-allison-1 Sir I wanna work on this.

[2022-01-14 08:51] david-allison-1 commented on #10209
You've already asked for an issue to work on today. It's best to focus on one at a time while you get used to the project.

[2022-01-14 09:05] david-allison-1 commented on #9775
Okay, rereading, the issue appears to the to resolve the linked deprecation.

I believe it's ignored in 35633410ba46cdd907a973d031e183d3d157ad4d

[2022-01-14 09:10] pree-T commented on #9775
So what am I supposed to do Sir @david-allison-1 ?

[2022-01-14 15:03] ramanjitsingh-hub commented on #10209
Hi, I am new to the community and would love to work on this issue. I would need some help to get started

[2022-01-14 15:56] david-allison-1 commented on #10209
Sounds good! First thing would be to get the project building and see the linked commit

[2022-01-14 15:59] david-allison-1 commented on #9355
I'm not going to have time to work on this, but it needs to be done

[2022-01-14 16:09] ramanjitsingh-hub commented on #10209
can you please help me set up the enviournment?

[2022-01-14 16:18] david-allison-1 commented on #10175
"Force closing" the app via the app picker has always worked for me. Anki's backend takes a lock of the database, and killing the process removes this lock

[2022-01-14 16:33] mikehardy opened #10212 "Note editor: Explicitly support "Attach video clip""
Proposed implementation: We should add a "Add video clip" to the Note Editor "attach" menu, which does the same thing as `add audio clip` from here, we can later split out the functionality between video and audio.

___Edit by @david-allison-1___

----

This came in from a play store review comment / interaction with a user

It appears that you can only attach images in the note editor.

Methods t

[2022-01-14 18:08] david-allison-1 commented on #10212
Video is supported, but via "add audio clip" - we should fix this with an additional icon and split out the functionality

Note: Anki supports video from the `[sound:]` tag, which is why it was considered to be an audio clip

We have an advanced preference to allow any file imports in "add audio clip": https://github.com/ankidroid/Anki-Android/pull/9643

[2022-01-14 18:16] mikehardy commented on #10212
Sounds good yes

[2022-01-14 18:38] pree-T commented on #9775
I am facing difficulty in figuring out the code syntax which will replace the deprecated API. Can someone help me ? @david-allison-1

[2022-01-14 18:50] david-allison-1 commented on #9775
Sorry, I don't have free time for mentoring. All I'd do would be to Google for the replacement

[2022-01-14 23:25] david-allison-1 commented on #10175
@mikehardy Would a revert of https://github.com/ankidroid/Anki-Android/commit/ba416198ca79909e59ebceb0db9763f46cd249f7 be acceptable? I don't have a reproduction case, and this feels like the most likely cause

[2022-01-15 00:14] mikehardy commented on #10175
That commit was my first thought, so sure. Can always re revert if the next alpha isn't functional

[2022-01-15 06:21] pree-T commented on #9775
I tried googling but did not find any proper relevant answer.

[2022-01-15 06:27] bishalbar77 commented on #10212
Hey @mikehardy
I would like to work on this issue.
Thanks

[2022-01-15 15:45] david-allison-1 commented on #9775
https://developer.android.com/reference/androidx/core/view/inputmethod/InputConnectionCompat#createWrapper(android.view.inputmethod.InputConnection,%20android.view.inputmethod.EditorInfo,%20androidx.core.view.inputmethod.InputConnectionCompat.OnCommitContentListener)

[2022-01-15 15:50] david-allison-1 commented on #10212
Sounds good to me!

[2022-01-15 18:59] mikehardy opened #10228 "[Bug] RustBackend crashes instrumented tests on low-API emulators?"
###### Reproduction Steps

1. open android api 21 or 22 emulator (at least, need to determine upper bound of API), at least with current emulator on Ubuntu Linux
2. run `./gradlew jacocoTestReport` and see the error "No tests found" in Terminal
3. read stackoverflow to learn a reason for this is crash early in execution, check device logcat and see the crash trace

###### Expected Result

Correct

[2022-01-15 19:25] mikehardy commented on #10228
On Android API22 the error was a little different?

[code]

[2022-01-15 19:41] mikehardy commented on #10228
API24 is the first API that appears to work fine

[2022-01-15 20:03] david-allison-1 commented on #10228
Do we have a command to bisect the commit that introduced this? Haven't done backend changes in a while

[2022-01-15 22:51] mikehardy commented on #10228
It has been like this for so so long, I just never dug in to it, today I decided "there must be a root cause..." after ignoring it so long.

So in short, no targeted command but if it's the connected test that's doing it, and `./gradlew jacocoTestReport` does that, further decomposing it should be possible (for speed), like `./gradlew jacocoAndroidTestReport` perhaps - https://github.com/ankidroid

[2022-01-16 12:54] ramanjitsingh-hub commented on #10209
Hey, Can someone mentor me on this issue?

[2022-01-16 14:42] pree-T commented on #9775
I have checked this. However, no proper syntax is mentioned in this page.

[2022-01-16 17:13] mikehardy commented on #9775
@pree-T then this is not the issue for you. You need to be able to do these tasks with the information we've already given or it is not a fit, sorry

[2022-01-16 19:11] mikehardy commented on #10175
@Anthropos888 took a little bit to get the release out owing to some busted translations but I got it all patched up and here's a new one for you to test, hopefully it works! :crossed_fingers: https://github.com/ankidroid/Anki-Android/releases/tag/v2.16alpha38

[2022-01-16 19:34] #9696 closed

[2022-01-16 21:49] Supriyo9 commented on #10185
@mikehardy Just updating  dependency locally in a new branch to localbroadcastmanager 1.1.0 will not work , better if it is replaced with LiveData   https://developer.android.com/topic/libraries/architecture/livedata

[2022-01-16 22:24] mikemorr opened #10238 "[Bug] "Collection not opened" after trying to edit note"
Today, when attempting to edit a note, I get a "Collection not opened" dialog after attempting to save the note. Logcat is attached.

[log.txt](https://github.com/ankidroid/Anki-Android/files/7878045/log.txt)

AnkiDroid Version = 2.15.6

Android Version = 8.1.0

Manufacturer = LGE

Model = LM-X210APM

Hardware = cv1

Webview User Agent = Mozilla/5.0 (Linux; Android 8.1.0; LM-X210APM Build/OPM1.171

[2022-01-16 22:34] david-allison-1 commented on #10238
Hi @mikemorr

Thanks for the report. Could you fill out the Bug Template (mostly the "Debug Info") and place it in the OP: https://raw.githubusercontent.com/ankidroid/Anki-Android/master/.github/ISSUE_TEMPLATE/issue_template.md

This issue looks similar to https://github.com/ankidroid/Anki-Android/issues/9616 and https://github.com/ankidroid/Anki-Android/issues/6378

<details><summary>Stack trace<

[2022-01-16 22:42] mikemorr commented on #10238
OK I added debug info. "Use current deck" is already selected.

[2022-01-16 23:28] Anthropos888 commented on #10175
@mikehardy Thanks Mike, but 37alpha and 38alpha both have the same bug. Styles from extern CSS files can't be read.
I'll uninstall 38alpha and reinstall 35alpha which works fine.

[2022-01-16 23:46] absoluteinc commented on #9974
Tested issue still present on 2.16alpha38

[2022-01-17 00:52] mikehardy commented on #10185
Okay, that is essentially what the deprecation notice on the android developer site says.
How do you propose integrating LiveData into these two areas then? If you could lay out a rough design, or maybe put up a really rough pull request, that would help to reason about it

[2022-01-17 05:43] david-allison-1 commented on #10238
Could you try an alpha parallel release of 2.16 and tell me if this fixes the issue?

[Alphas](https://github.com/ankidroid/Anki-Android/releases/) - Select "Assets - Parallel.A/B"

Latest alpha as of now: https://github.com/ankidroid/Anki-Android/releases/download/v2.16alpha38/AnkiDroid-2.16alpha38.parallel.B.apk

[2022-01-17 05:57] mikemorr commented on #10238
@david-allison-1 Thanks for that link. Same thing happened and generated a crash report, which I just sent.

[2022-01-17 06:10] david-allison-1 commented on #10238
Thanks, same stack trace as above: https://couchdb.ankidroid.org/acralyzer/_design/acralyzer/index.html#/report-details/c9765a3b-ee11-4cc6-bf7e-9e688f119aad

I'm snowed under with another issue, but I've asked others to continue diagnosis here.

If you don't get a response within a couple of days, please ping me.

[2022-01-17 11:47] #10029 closed

[2022-01-17 14:54] Hisham7345 commented on #10100
Thank you so much. The problem has solved.

[2022-01-17 14:58] #10100 closed

[2022-01-18 19:09] adammesa opened #10240 "[Bug] NoteEditor: can't paste recently copied images from clipboard"
###### Reproduction Steps

1. Take a screenshot desired content (e.g. from lecture slides - this is my desired workflow where I have slides + AnkiDroid open side-by-side on my phablet)
2. Open the note editor
3. Long press → paste; or Long press → clipboard and select image

###### Expected Result
The image will be pasted (in a similar fashion to that of inserting media via the attachment icon → f

[2022-01-19 01:35] dae commented on #9905
@mikehardy sorry, I missed your comment. The collection config is the best place to store small config data that needs to be synced, and AD could expose some JS API for it if it wished. Anki stores its own information there as well though, so to minimize possible breakages, I'd recommend you add some custom prefix like `_droid_js_` to all keys that are exposed/written, so that the JS can't acciden

[2022-01-19 04:50] codingtosh opened #10242 "Java Heap Space Error"
###### Reproduction Steps

1. Convert a java file to kotlin (in this case, PreferenceExtensions.java)
2. Commit > Extra Commit for .java > .kt renames

EDIT: Amending conversion commits also fails. Screen capture below for reference.

###### Expected Result
1 File Committed

###### Actual Result
`0 file committed, 1 file failed to commit: [Kotlin Migration] PreferenceExtensions package: com.ichi2.

[2022-01-19 13:37] mikehardy commented on #9905
Thanks @dae!
Then for key scoping seems like:
1- AnkiDroid in general should provide an API for JS add-on config storage, and AnkiDroid should handle prefixing to avoid any malicious scenarios from untrusted add-ons
2- JS Add-ons will need some sort of namespace restrictions where names are enforced as globally unique on at least the plane of "clean add on name", where "clean" means when the name

[2022-01-19 14:07] darkzbaron commented on #5520
Hi there, still interested in the documentation for using this

[2022-01-19 16:54] codingtosh commented on #10242
as per the discussion with @mikehardy , this is due to the long lived gradle worker processes, and a build affects future builds so this off and on failing behaviour is what is expected when the resource limit is reached.

As for now, increasing the heap size of the exact Worker process that was failing has fixed it for amends as well, same behaviour as earlier. Fix once, works everywhere then on

[2022-01-19 18:34] mikehardy commented on #10242
I'm okay with a PR that implements the initial lazy hack to unblock things, then this issue can be to determine what the difference really needs to be vs whatever the default is

[2022-01-19 20:19] darkzbaron commented on #9355
How do you actually build the content provider URI. I can't see anything in the docs! Any help to get me started would be appreciated!

[2022-01-19 20:23] mikehardy commented on #9355
@darkzbaron this should be useful? https://github.com/ankidroid/apisample

[2022-01-20 06:27] Gravetide commented on #10185
Noticed that nobody has updated on this issue, but how do we feel if we just replace localbroadcastmanager with [green robot's EventBus](https://github.com/greenrobot/EventBus)? Reason being is that the transition will be much smoother because a lot of the code can be simplified. I'll try getting a rough design or ideally a PR in the coming days but in theory it shouldn't be too complicated and it

[2022-01-20 07:26] Ra007hul opened #10254 "Hii i make some changes in readme file but i can't able to push"
remote: Permission to ankidroid/Anki-Android.git denied to Ra007hul.
fatal: unable to access 'https://github.com/ankidroid/Anki-Android.git/': The requested URL returned error: 403

// Can someone help me how can i fix it

[2022-01-20 10:32] prateek-singh-3212 commented on #10254
Hello @Ra007hul,
You are doing this in wrong way. Did you fork the Ankidroid Repo? if not then the first fork the ankidroid repo and push commit to forked repo then create the new pull request.

[2022-01-20 11:35] Ra007hul commented on #10254
Yes sir i forked this repo and then created a branch and then commited but
when i am pushing it to github it is showing error.Please help me

On Thu, 20 Jan 2022, 16:03 Prateek Singh, ***@***.***> wrote:

[2022-01-20 12:21] #10254 closed

[2022-01-20 12:22] david-allison-1 commented on #10254
You don't have permission to push to ankidroid. You need to clone from your fork.

If you're familiar with git, you can use the `git remote` to obtain and push contributions to your fork.

Otherwise, export your existing commits as a patch file, clone the correct respiratory and reapply them.

[2022-01-20 12:38] mikehardy commented on #10185
I'm open to that. It's a well maintained project and I use it in some other repos.

[2022-01-20 13:01] Ra007hul commented on #10254
Awesome, thanks!

On Thu, 20 Jan 2022, 17:52 David Allison, ***@***.***> wrote:

[2022-01-20 23:42] mikehardy commented on #10242
- I believe the memory change belongs in `AnkiDroid/build.gradle`, raising worker memory will avoid it longer
- I believe running `./gradlew stop`  will cause your old gradle worker process (with orphaned heap) to go away, so you start fresh, maybe avoiding it
- I believe it is tracked here https://github.com/pinterest/ktlint/issues/1216 and here https://github.com/JLLeitschuh/ktlint-gradle/issues

[2022-01-21 02:26] codingtosh commented on #10242
@mikehardy Thanks a lot for the references, went through them and it appears to be an issue with memory leak in ktlint itself. Going to send in a PR with our option to increase the heapspace, so just to confirm:
1. Raising the heap size to 4096M as opposed to the default 256M. (want to make sure it is not excessive?)
2. Add the changes within build.gradle and not gradle.properties? Could you pleas

[2022-01-21 05:34] AayushSolanki opened #10256 "E-mail message of exported deck does not parse html correctly"
###### Reproduction Steps

1. Long press on any deck.
2. Click export deck.
3.  send via E-mail.

###### Expected Result
The E-mail body should contain 2 hyperlinks first one on "**AnkiDroid**" and another on "**Anki distributions**".

###### Actual Result
Both the anchor tags are not working as link.

<img width="700" alt="Screenshot 2022-01-21 103857" src="https://user-images.githubusercontent.c

[2022-01-21 05:46] AayushSolanki commented on #10256
i would like to work on the issue!

[2022-01-21 07:30] david-allison-1 commented on #10209
@ramanjitsingh-hub What have you tried? What's unclear?

[2022-01-21 11:19] shocoman commented on #3896
Hey, I actually liked this feature :(
How about instead of removing it completely just make it easier to use? For example, show dictionary by double tapping on a word (no need for copying or any other slow stuff).
By the way, Lookup dictionary is currently bound to long tap gesture programmatically (even though this gesture is not accessible from the menu), so that should also be accounted for whe

[2022-01-21 12:48] mikehardy commented on #10242
I think it can go anywhere in gradle.properties, and there should be some sort of logging you can turn on to verify it (with gradlew --stop used between runs to get a clean setup I think)

I'm not sure how much heap is "reasonable", I have 64G of ram in my main workstation so I'm insensitive to it. Others may not be, use your best judgement

[2022-01-21 13:04] mikehardy commented on #3896
We will never be able to make everyone happy unfortunately. I understand the feature is in use, it's just that use is vanishingly small, and the feature itself is complicated, and limited (only a few languages. No one works on it, it's brittle as the online dictionaries change semi-frequently, so to my view as a maintainer it is not justifying it's existence vs it's carry cost. It's a difficult re

[2022-01-21 18:45] codingtosh commented on #10242
@mikehardy I'm getting this wherever I try to add it:
`Could not get unknown property 'withType' for task set of type org.gradle.api.internal.tasks.DefaultTaskContainer`

Should I add it to gradle.properties? That worked for me earlier.

[2022-01-21 18:48] mikehardy commented on #10242
Define 'worked'. I submit you can put nearly anything in properties and it won't fail but it will have no effect. I put it in build.gradle and it definitely did not throw that error. I'd keep playing with it

[2022-01-22 05:09] Gravetide commented on #10209
Hey considering I don't see any progress on this I'll try starting on this. Ill either give a rough PR or a writeup in the coming days.

[2022-01-22 10:37] #9764 closed

[2022-01-22 23:16] codingtosh commented on #10242
Hi @mikehardy ,

Earlier when the commits were failing, I had made the changes in the gradle.properties and the commits were no longer failing from then on. But I take your point, it was probably just because of me restarting/rebuilding and cleaning instead of making the changes in gradle.properties.

So I was blocked on this, tried to put
[code]
in pretty much all the codeblocks across all the bu

[2022-01-22 23:54] Arthur-Milchior opened #10262 "At the end of a timebox, don't play a video"
In AnkiDroid you can use timebox. AnkiDroid tell you that you reviewed 27 cards in the last 15 minutes, - for example - and whether you want to stop here.
However, a second after the question appears, ankidroid starts playing the media of the next card, in particular the video moves to full screen and hides the buttons. If you want to answer the question related to the video you can't because you

[2022-01-23 06:39] #9902 closed

[2022-01-23 09:57] SySagar commented on #9023
david-allison-1  I would like to work in this issue.

[2022-01-23 13:41] raddi1972 commented on #10262
Can I work on this?

[2022-01-23 21:23] Anthropos888 commented on #10175
@mikehardy Fixed with 40alpha. Thanks for your efforts!

[2022-01-24 00:49] david-allison-1 commented on #10175
@Anthropos888 Fantastic!!
@mikehardy Was the fix known? I don't recall anything going in which would have caused/fixed this

[2022-01-24 00:55] mikehardy commented on #10175
Nope, this is puzzling

[2022-01-24 08:23] Anthropos888 commented on #10175
@david-allison-1 @mikehardy
I only tried 35alpha, 37alpha, 38alpha and 40alpha
1) 35alpha doesn't have the css bug, but the widget crash bug (which was fixed in 37alpha)
2) 37alpha and 38alpha both have the css bug
3) 40alpha doesn't have the css bug nor the widget bug

[2022-01-24 09:41] david-allison-1 commented on #10175
Thanks!

https://github.com/ankidroid/Anki-Android/commit/f75877819fa161718b16951b4b5b023961cce060 was what I expected to fix this, and was in `38`. I'm confused

Changes from 38 to 40: https://github.com/ankidroid/Anki-Android/compare/v2.16alpha38...v2.16alpha40

[2022-01-26 15:03] Makxik opened #10271 "[Bug] Custom fonts sometimes doesn't work"
Any filetype (OTF,OTC,TTF,TTC,WOFF2) could not be applied to the front of cards.
[code]
Tested:
1. https://github.com/adobe-fonts/source-han-serif
2. https://github.com/adobe-fonts/source-han-sans
3. Meiryo.ttc

###### Reproduction Steps
1. Download any CJK deck (for example: https://ankiweb.net/shared/decks/japanese)
2. Set custom font with variable character set (full base + additional)
3. Start

[2022-01-26 15:44] mikehardy commented on #5225
Looks like there are only four left:

[code]

@Akshay0701 or @codingtosh any interest on those? They may already be in progress and just need review actually (I haven't checked the PR list sorry - came in here again as I was updating android gradle plugin to 7.1 and examining related deprecation)

[2022-01-26 17:28] Akshay0701 commented on #5225
2 of the above-mentioned files are converted and merged in master, and TagsDialogListener is in progress...

[2022-01-27 02:37] codingtosh commented on #5225
I just opened a PR for the remaining one(CustomStudyDialog), PTAL.

[2022-01-27 09:58] kcthrn opened #10276 "Truncate Sort/Question column text"
**Is your feature request related to a problem? Please describe.**
Per card, text in the sort/question column takes up too much vertical space in the card browser.

See images below.

**Describe the solution you'd like**
Truncate the text and set a limit to the number of visible lines (e.g. limit to 4 wrapped lines). Provide as a user option if feasible.

**Describe alternatives you've considered*

[2022-01-28 18:38] #9532 closed

[2022-01-28 23:46] sudomain commented on #9532
@duanyang25 how's it going :)

[2022-01-29 07:20] BrucePlumb commented on #2339
Any progress on selecting multiple non-contiguous cards or notes in the browser? My current work around is to use the marked tag exclusively for this. Using the toggle-marked menu item is only slightly slower than simply clicking on a card. After marking all the desired card, choose the marked tag, then select all the cards. Works quite well.

[2022-01-29 08:21] david-allison-1 commented on #2339
What UX would you expect here for selecting non-contiguous cards?

[2022-01-29 22:16] peterj71 opened #10283 "Reorder menu items in Deck pop-up menu"
**Is your feature request related to a problem? Please describe.**

I have some filtered decks that I use daily and I fine-tune the Deck Options multiple times daily. The problem is that "Delete Deck" is right below "Deck Options" in the Deck pop-up menu, so it's very easy to accidentally delete a deck when simply trying to change options if you have fat fingers (see screenshot).

**Describe the s

[2022-01-29 23:19] Pound-Hash opened #10284 "[Bug] Font sizes sometimes differ from front to back"
###### Reproduction Steps

1. Set a `font-size` of `15px` under **styling** (applies to both front and back)
2. Use either a `.ttf`or `.otf` font file (Open Sans / Public Sans)

###### Expected Result
Display information on both sides of a card with equivalent font sizes.

###### Actual Result
Some cards display one side of a card with a smaller/larger font size than the other side.
This started h

[2022-01-30 00:04] david-allison-1 commented on #10284
Hi, thanks for the report. This could be an issue with your card template. Could you confirm by editing the card and tapping "cards" to ensure that things look OK.

If they look fine, could you grab + upload:

* A sample deck, containing a card (with appropriate files to display the issue)
* Optional: the HTML generated for the front/back: https://github.com/ankidroid/Anki-Android/wiki/Development

[2022-01-30 00:07] david-allison-1 commented on #10283
We already have a confirmation on deleting a deck if it contains cards. Does this not appear for you?

[2022-01-30 00:27] Pound-Hash commented on #10284
The front and back templates are fine. Attached is a deck titled **English**. Some cards have the problem, some don't. One card that has the problem is **abreaction**. One card without the problem is **fascia**.

https://drive.google.com/drive/mobile/folders/1hovufseJAHmyOxfa35fm7nA320tYsA9v?utm_source=en&pli=1&sort=13&direction=a

[2022-01-30 04:06] peterj71 commented on #10283
Hi David, my filtered decks are always empty when I edit the deck options, so that dialog doesn't appear (in fact I've never seen it!).

I just made a temporary filtered deck with cards in it to test, and sure enough that dialog does appear when there are cards in the deck, but since my decks are empty it remains a nuisance to have them accidentally deleted.

So to amend my feature request, please

[2022-01-30 04:10] david-allison-1 commented on #10283
Hi @peterj71,

I've put in a Pull Request for this change (moving 'delete' to the bottom).

Assuming it passes review, it will be available in our 2.16 alphas (probably 2.16alpha42): https://github.com/ankidroid/Anki-Android/releases

Regards,
David

[2022-01-30 04:30] david-allison-1 commented on #10283
I'll add a confirmation screen for filtered decks as well in a follow-up change.

[2022-01-30 08:04] peterj71 commented on #10283
That's awesome, thanks David!

[2022-01-30 17:21] #10283 closed

[2022-01-30 17:44] BrucePlumb commented on #2339
(Sorry, I don't know the meaning of "UX") The TagSelectorV2 add-on would be useful for this except it doesn't work inside the browser. What is the most efficient way of selecting several separate cards?

[2022-01-30 18:13] krmanik opened #10291 "App get crashed in Note Editor preview when adding new note"
###### Reproduction Steps
1. Check out current master branch, build it
2. Add new item using Note editor
3. Click preview
4. App crashed

###### Expected Result
It should preview notes.

###### Actual Result
It gets crashed.

[code]

###### Debug info
[code]

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](https://ankidroid.org/docs/help.

[2022-01-30 21:43] krmanik opened #10292 "[Feature] AnkiMobile url scheme features in AnkiDroid for adding notes from browser"
**Is your feature request related to a problem? Please describe.**
[AnkiMobile url scheme features](https://docs.ankimobile.net/url-schemes.html)

I have used this feature to create this cloze generator web app.
https://github.com/krmanik/AnkiMobile-Addons/tree/main/ocloze

It is easier to add cards from browser without need of third party app.

But AnkiDroid follow Anki upstream, so to have this

[2022-02-01 14:27] #9751 closed

[2022-02-01 18:49] krmanik commented on #10291
There were error in Card Template. It is working now.

[2022-02-01 19:12] david-allison-1 commented on #10291
Which PR fixed this? There shouldn't be a crash from a bad template

[2022-02-01 19:16] krmanik commented on #10291
This is front side of card template. When I removed it, it works. So may be card template error.
[code]

[2022-02-01 19:20] krmanik commented on #10291
But It works on 2.16alpha31

[2022-02-01 19:27] krmanik commented on #10291
I think I found the error. It should be in run on UI thread.
https://github.com/ankidroid/Anki-Android/blob/52ef757ef39d16c7c74c70c74ea71cf5f156f20e/AnkiDroid/src/main/java/com/ichi2/anki/AnkiDroidJsAPI.kt#L137

[2022-02-02 13:20] #10291 closed

[2022-02-03 07:08] Arthur-Milchior commented on #10284
You didn't share access to this file. I just requested access. Unless it's private you may consider moving it to public

[2022-02-03 08:14] Arthur-Milchior opened #10307 "[Bug] crash after full download"
###### Reproduction Steps

1. Run on version c34dcdcb1a55edc042979cec62cb264b629669a2
2. do a full download

###### Expected Result
Application open

###### Actual Result
The collection is not opened

###### Debug info
I got
[code]
and then

[code]

I tried to delete /storage/emulated/0/AnkiDroid/collection.anki2.tmp and retry. But it still fails.

Also, I have largely enough storage on the device

[2022-02-03 10:57] david-allison-1 commented on #10307
The warning about SQlite is fine and not related:

https://github.com/ankidroid/Anki-Android/blob/6fd41ae687a7dc5cd5fefee673cca38c033e378f/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/DatabaseErrorDialog.kt#L46-L53

[2022-02-03 18:41] Pound-Hash commented on #10284
My apologies. I uploaded it from my mobile and saw a message saying it was made publicly available. I don't know what that was about. I've now changed the permissions.

[2022-02-04 07:36] #9955 closed

[2022-02-04 14:32] SanjaySargam commented on #10262
Can I contribute this ?

[2022-02-04 15:59] viciousAegis commented on #10262
Hello! i'm new to the community and would love to contribute to this :)

[2022-02-04 16:25] viciousAegis commented on #10212
@david-allison-1 Hey! I see that this issue has not been updated in a while. I'm new to the community and would love to contribute. Is this issue still being worked on by others?

[2022-02-04 16:33] SanjaySargam commented on #9811
Hey @david-allison-1  Can I contribute on this ??

[2022-02-04 16:39] david-allison-1 commented on #9811
Sure!

[2022-02-04 16:41] david-allison-1 commented on #10212
@bishalbar77 are you still working on this?

Otherwise, feel free to take this on if there's no reply in a couple of days. Ping me and I'll assign it

[2022-02-04 16:52] Hxppdv commented on #8925
I tried disabling fuse on a rooted phone to bring back support for the old sdcardfs, and so far it seems to be working, and syncing is much faster. It seems that, at least in my case, the slow sync problem is related to fuse aka [Scoped Storage](https://source.android.com/devices/storage/scoped).

[2022-02-04 18:35] xidsyed commented on #9811
I'd like a crack at it too... are issues allotted to people, or is it rude to work on someone else's issue 😶

[2022-02-05 13:27] shreyadenny commented on #8368
Hello! I'm new to Open Source and trying to work on this issue.
Please let me know if I'm going in the right direction?

in
`AbstractFlashcardViewer.executeCommand`

[code]
in
`ViewerCommand`

[code]

and string:
[code]

[2022-02-05 16:09] absoluteinc commented on #9974
#9500
#7340
These are issues that are identical and have yet to be solved

[2022-02-05 21:14] viciousAegis commented on #10212
Hey @david-allison-1 ! Since there is no reply, I assume no work is being done on it currently, and would like to be assigned!

Firstly, I was successfully able to reproduce this issue(?) on my device, and can attach a video through the `Add Audio Clip` selection.
I'm new to AnkiDroid's development but did take my time to poke around the code in Android Studio, and I think I have found the startin

[2022-02-05 21:26] david-allison-1 commented on #10212
@viciousAegis that's really thorough and I'm impressed. I'm not at my computer right now, but that all sounds correct.

I'm more than happy for you to start. I'll be in Discord if you need anything, and it's expected that a PR will have a few comments for review.

Regarding the UI, there should be an XML layout file. You'll want an icon, and can get that from Android studio: right click - add - ve

[2022-02-06 09:01] viciousAegis commented on #10212
# update 1:
(might be very long, apologies :p; any help appreciated!)
I started by creating a new entry in `src/main/java/com/ichi2/anki/multimediacard/fields/EFieldType.kt` for video clips:
[code]
After this, I went to `src/main/java/com/ichi2/anki/multimediacard/fields/BasicControllerFactory.kt` and copied the code for `AUDIO_CLIP` for `VIDEO_CLIP` (as functionality is same for now):
[code]
Next

[2022-02-06 12:14] Arthur-Milchior commented on #10262
Extremely sorry @raddi1972 , @SanjaySargam , @viciousAegis , I didn't check github as much as I should have.
The first one of you who confirm that they are not working on anything else for ankidroid can have it.
If you are not already on discord, please come if you have any question, usually people can answer here more quickly than on github, as there are more people looking at what you ask

[2022-02-06 12:17] david-allison-1 commented on #10212
@viciousAegis

Remove it, I don't believe we need to bother with this as we don't serialize the exception.

----

A "crash" should be visible in the "logcat" window.

You'll need to provide one of:

* a stack trace
* a patch file
* push to a branch in your repo that I can pull

if you need further help.

I'd advise that you run the relevant unit tests to see if the problem is picked up there, that

[2022-02-06 12:18] raddi1972 commented on #10262
I am not working on anything else in ankidroid, so I would like to work on this.

[2022-02-06 12:40] Arthur-Milchior commented on #10262
Then please go for it @raddi1972

[2022-02-06 13:50] viciousAegis commented on #10212
Okay, will do all of this within a few days and update again. Thanks for the feedback and guidance!

[2022-02-06 16:50] SanjaySargam commented on #10178
Hey @david-allison-1 we have to make two different strings right?

[2022-02-06 18:44] SanjaySargam commented on #10178
Can I contribute on this ?

[2022-02-07 02:36] Arthur-Milchior commented on #8368
I @shreyadenny. Do you want to be assigned to this issue?

Regarding the text, I'd state to use "Auto advance" so that we are similar to ankimobile

It would be easier for me to review your code proposal in a PR, because this would allow me to get context.
A lot of code here is going to be similar to code already existing, after all, we already have a lot of gesture. If the code you add looks like

[2022-02-07 03:42] socialpercon opened #10312 "[Bug] Automatic answer display function does not work"
###### Reproduction Steps

Automatic answer display function does not work

1. Automatic answer display check
2. 6seconds
3. study deck
[모질게토익테스트.zip](https://github.com/ankidroid/Anki-Android/files/8012134/default.zip)

###### Expected Result

automatic answer

###### Actual Result

does not work

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsur

[2022-02-07 04:06] david-allison-1 commented on #10312
Hi, thanks for the report. Please fill in the "Debug Info" section so we can help you further

[2022-02-07 05:54] david-allison-1 commented on #10178
Let's wait for another maintainer to weigh in here.

[2022-02-07 05:58] SanjaySargam commented on #10178
Ok

[2022-02-07 17:51] prateek-singh-3212 commented on #10256
@AayushSolanki are you working on this issue?

[2022-02-07 18:12] david-allison-1 commented on #10238
@prateek-singh-3212 Check with mike about getting access. Stack trace is in: https://github.com/ankidroid/Anki-Android/issues/10238#issuecomment-1013966384 which should be enough

@mikemorr Are you still experiencing this issue?

[2022-02-07 18:22] viciousAegis opened #10315 "[Bug] Cannot add videos clips through "Add Audio Clips" option in note editor dropdown (unless "Allow all files in media import" setting is enabled)"
Important references:
#10212
#9643

A few days ago, while on the Anki Play Store app (ver 2.15.6), I tried adding video clips through the `add audio clip` button in the note editor dropdown for issue #10212 and was successfully able to do it. Today, however, this same exact method was not accepting video files. After downloading the 2.16 alpha, and enabling the feature #9643 "Allow all files in me

[2022-02-07 18:31] mikemorr commented on #10238
@david-allison-1 Yes, the issue still occurs.

[2022-02-07 18:58] prateek-singh-3212 commented on #10238
@mikemorr could you share the collection.anki2 i.e your collection?

[2022-02-07 19:45] mikemorr commented on #10238
@prateek-singh-3212 Thanks, here it is: https://drive.google.com/file/d/1y4AXDANi99ZRwE7m7UQkLUfCV3bi8Hp6/view

[2022-02-07 22:48] socialpercon commented on #10312
Hi, updated debug info except uuid thanks for reply

[2022-02-08 10:56] viciousAegis commented on #10212
@david-allison-1 created a PR with appropriate documentation. Ready for review!

[2022-02-08 13:40] david-allison-1 commented on #10315
I'm unable to add an mp4 in in 2.15.6

Do you have a sample file which worked?

[2022-02-08 13:42] david-allison-1 commented on #10315
Relevant code:

https://github.com/ankidroid/Anki-Android/blob/7eededc571df919795e73836326a52a69034f250/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/BasicAudioClipFieldController.kt#L56-L62

[2022-02-09 04:45] viciousAegis commented on #10315
But, as you said:

Shouldn't we be able to attach .mp4 because of the above reason regardless of anything?

[2022-02-09 11:57] david-allison-1 commented on #10315
We should be able to attach MP4. I consider this to be a bug.

[2022-02-09 13:24] eu2021 opened #10319 "Fullscreen mode: show system bars, but hide answer buttons"
**Is your feature request related to a problem? Please describe.**
I use gestures or a controller, so I don't want to see the answer buttons. But, I need to see the system bars, because I use flags a lot, and the best way to assign flags and see which ones are assigned to a card is looking at the system bars.

**Describe the solution you'd like**
A fullscreen mode that shows system bars, but hide

[2022-02-09 13:51] mikehardy commented on #10319
Hi there! We already have quite a proliferation of different full screen states, I'm hesitant to add another.
You mention you use gestures a lot. Have you considered using the 9-point gestures system available (I think in the alphas?) such that you may map flag addition to gestures as well?
Have you considered using a template modification to add flag buttons to your card template via the javascri

[2022-02-09 16:05] eu2021 commented on #10319
I went to look again at the Ankidroid options and found that option called "Show Top Bar". I also noticed that the fullscreen modes mention "**_system_** bars". So, my line of thought was: so, if you want to make the **_system_** bar hide, but keep the **_Ankidroid_** Top Bar showing, then use the fullscreen, and activate the option "Show Top Bar". Unfortunatelly, it doesn't work.

After that, I s

[2022-02-09 16:05] #10319 closed

[2022-02-09 16:07] eu2021 commented on #7058
Please, consider tackling this nightmare, again. As I explained in #10319, I would like to have the Ankdroid Top bar without the answer buttons.

Thanks,

[2022-02-09 17:17] david-allison-1 commented on #10209
Absolutely!

[2022-02-09 17:19] cburroughs commented on #9941
The barrel of molasses that Google dumped all over Android 12 is still sticky.

[2022-02-09 17:33] mikehardy commented on #9941
The amount of change they injected into their APIs in the migrations between 9/10, 10/11 and then 11/12 is cumulatively just a huge pile to deal with. I've got multiple chunks of software (not just AnkiDroid) that can't target API31 yet :weary:. Just a lot of work, yes

[2022-02-09 18:55] javiercl2020 opened #10321 "(Request) Delete button"
Can you please add the delete button during preview?
I have around 5000 cards and when I preview them in the browser its frustrating to go back and delete it.

[2022-02-09 19:16] mikehardy commented on #10321
Interesting - I see what you mean. Would it work for you if - when you tap the pencil icon to go to edit the note - there was a delete note option in the edit note menu? That might be possible without too much UI changing

[2022-02-09 19:23] krmanik commented on #1754
This is simple implemention of speech recognition using Google Keyboard
1. Toggle `Type answer into card` in AnkiDroid advanced settings
2. Add `input` tag in front/back side of card template with following JS code
[code]
3. During reviewing click mic button on GBoard and speak the answer
4. The GBoard will provide the text for the speech and JS code will show toast for correct answer.
5. Change l

[2022-02-09 19:26] viciousAegis opened #10322 "[Bug] Lint is not run on `androidTest`"
###### Reproduction Steps

1. On the latest master, or a branch off the latest master (I am using [0184435](https://github.com/viciousAegis/Anki-Android/commit/01844357aa09a4c3778f30c4d7ea7798bba71f1d) as my latest pull)
2. run a lint check

Not sure if this is a problem with my local repo, or the remote one; so posting here

###### Expected Result
Check gets completed with no building errors, and

[2022-02-09 19:49] javiercl2020 commented on #10321
Yes that works

[2022-02-09 20:21] mikehardy commented on #10322
I don't reproduce this, fully up to date with master as I type this comment, this was the test:

`./gradlew --stop && ./gradlew clean jacocoTestReport :api:lintRelease :AnkiDroid:lintPlayRelease ktlintCheck`

(that's what we run in CI)

[2022-02-09 20:32] viciousAegis commented on #10322
Oh okay, I see. I was running `./gradlew lint` as I had read that up on the Android Studio docs. Maybe this info could be added to the development guide?

[2022-02-09 21:04] mikehardy commented on #10322
Sure - I would put a reference in there to the .github/workflows directory with an indication that is the "source of truth" for how we actually expect to run things, but then provide the actual command as that's helpful in the moment

[2022-02-09 22:57] BrayanDSO commented on #9116
Since there isn't any update since this issue was posted, I believe this is still a problem

[2022-02-09 22:59] BrayanDSO opened #10323 "Keep the original filename for attached files"
Just reopening #9116

**Is your feature request related to a problem? Please describe.**
Sometimes I want to use the same image in multiple cards. If I know the image file name, I can just type `<img src="imageFileName.extension">`.

The problem: When I attach an image with AnkiDroid, it changes the image file name to something like "img9843278434234908", so it's difficult to use my image again.

[2022-02-10 04:28] javiercl2020 opened #10324 "[Bug] Anki deletes media files"
When I use the following code there is no issue
![Screenshot_20220209-221135_1](https://user-images.githubusercontent.com/73913963/153336103-8f364452-5eb0-4ac0-98b6-1e2a065eb4b4.png)
However when I use the following code:
![Screenshot_20220209-221209_1](https://user-images.githubusercontent.com/73913963/153336180-d2066357-2111-47b0-afec-b14c3af23719.png)
I check the media
![IMG-20220209-WA0001](ht

[2022-02-10 12:44] andmis opened #10326 "[Bug] LaTeX \! rendering incorrectly"
###### Reproduction Steps

Make a card containing `\[\perp\!\!\!\perp\]` (used for [conditional independence in probability](https://en.wikipedia.org/wiki/Conditional_independence#Conditional_independence_of_random_variables) in case you're wondering).

This is on 2.15.6.

###### Expected Result

<img width="78" alt="image" src="https://user-images.githubusercontent.com/5308024/153410670-9c13b29e-

[2022-02-10 13:37] #9964 closed

[2022-02-10 13:40] mikehardy commented on #10324
I believe that is expected behavior. Anki is not a general purpose HTML parser, and you could also conceivably refer to audio files in a number of other ways that Anki could not correctly figure out.
In order for Anki to understand you are using a media file you need to refer to it using the ank-specific (not html) tags.
I am going to guess that Anki Desktop behaves the same way, can you confirm t

[2022-02-10 13:46] mikehardy commented on #10321
Hi there! Unfortunately we do not have a lot of time to offer guidance, so I just want to set the general explanation that you should picture yourself more as an explorer or an adventurer, not so much as a "tell me what to do" person. Get ready to explore :-)

In general you will want to use our Wiki, in particular the development guide.
You will want to find another area that has delete note func

[2022-02-10 13:55] mikehardy commented on #10326
Hi there - this will perhaps not be the most welcome answer, however LaTeX support in the Anki ecosystem is supported for legacy reasons at the moment, but not well (for instance, I believe that image above is actually pre-rendered on Desktop then the image is simply displayed on AnkiDroid?) Mathjax is the future. It appears LaTeX perp is supported in Mathjax https://math.chapman.edu/~jipsen/mathq

[2022-02-10 15:44] david-allison-1 commented on #10326
This is a duplicate of #9002

@mikehardy That's MathJax. There's a problem with the MathJax's HTML renderer when run inside a WebView.

This can be reproduced with an Android WebView and loading the MathJax site on Android.

We can fix this with an option to use the MathJax `svg` renderer instead (I've had pushback on making this the default), or spending time fixing the upstream HTML rendering co

[2022-02-10 16:03] mikehardy commented on #10326
Ah - good work @david-allison-1 - yes, I will close this as a duplicate, here's the referenced pushback on making it default: https://github.com/ankidroid/Anki-Android/issues/7915

Adding an option to render SVG vs CHTML at least lets people choose where they want to land in the tension between "better formatting" (using SVG) vs "maybe doesn't load extensions" (so you need CHTML render).

It appea

[2022-02-10 16:03] #10326 closed

[2022-02-10 16:06] Areeb-510 commented on #10321
Thanks for the guidance it helps a lot.

[2022-02-10 16:20] david-allison-1 commented on #10326
I believe we're using the same bundling, but it's broken inside an Android WebView, so somewhat more complex to fix

[2022-02-10 18:58] #10323 closed

[2022-02-10 21:05] mikehardy commented on #10324
Video files are supposed to be attachable and playable on AnkiDroid as well, though there is some related issue there where video files may not be attached. Doing something like `[sound:foo.mp4]` should actually play a video :thinking:

[2022-02-10 22:46] BrayanDSO commented on #9116
Based on 2.1.16alpha42, this is what I got:

The method which handles selected files is [handleSelectImageIntent](https://github.com/ankidroid/Anki-Android/blob/v2.16alpha42/AnkiDroid/src/main/java/com/ichi2/anki/multimediacard/fields/BasicImageFieldController.java#L435). It gets the filename correctly, but changes it when running [internalizeUri](https://github.com/ankidroid/Anki-Android/blob/v2.

[2022-02-10 23:04] david-allison-1 commented on #10322
Underlying issue: Our current lint run doesn't apply lint over `androidTest`

[2022-02-11 10:12] sudheerreddy1430 commented on #9935
Hey @mikehardy  I want to work on this issue

[2022-02-11 14:39] BrayanDSO commented on #8482
I had the exact same errors after doing the same procedures. OS: Windows 10 x64

[2022-02-11 15:20] mikehardy commented on #9935
@sudheerreddy1430 please coordinate with @souravmunjal - if they are no longer working on it, please feel free.
If @souravmunjal is still working on it, then it is not available

[2022-02-11 15:22] sudheerreddy1430 commented on #9935
Hi, @mikehardy actually i want contribute to ankidroid for my gsoc ... Is it helpful to coordinate

[2022-02-11 20:04] Juddd opened #10330 "[Bug]Can't correctly render the mermaid flowchart"
There is a flowchart package called [mermaid](https://mermaid-js.github.io/mermaid/#/usage). After I put `mermaid.min.js` in the folder :`**\Anki2\user\collection.media`

I add a code in my **Back Template**:

[code]
This is my content of card:

[code]
I should reasonably be able to use this third-party packages successfully, but there is something strange going on now. But the format rendering is

[2022-02-12 10:11] ma54ik commented on #9995
Thank you, it works now!

[2022-02-12 11:13] #9995 closed

[2022-02-12 12:05] mikehardy commented on #10330
Hi there! There may be some rendering differences though we should be rendering the same, it is likely they (Desktop and AnkiDroid) are both using the Chrome. Have you tried https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#html-javascript-inspection ?

[2022-02-12 12:08] david-allison-1 commented on #10315
During the implementation, I considered adding a new controller, but there were complexities in determining if a `[sound:` was a video or audio file.

Instead, I decided to add a button for video import to the controller

[2022-02-12 12:14] #10209 closed

[2022-02-12 13:21] viciousAegis commented on #10256
I looked into this a little, and seems like Gmail app does not allow hyperlinking. The only way to send the links is to just send the link as it is separately in the email.
example email body:

This is the only way to send links in the mobile app.
If @AayushSolanki is not working on this currently, I can work on it, it's a simple fix.

[2022-02-12 14:49] krmanik commented on #10330
### 1. On Desktop
**a) Card template**
Note: Use `mermaid.init();` instead of `mermaid.initialize({startOnLoad:true});`

[code]

**b) Note data in front**
[code]
**Result**
![image](https://user-images.githubusercontent.com/12841290/153712424-5b89b2a9-b903-4e90-a336-734b20c2404d.png)

**Now add note by turning on html**
![image](https://user-images.githubusercontent.com/12841290/153712521-0acef439

[2022-02-12 15:59] AayushSolanki commented on #10256
@prateek-singh-3212 @viciousAegis I am still working on the and will make a PR soon

[2022-02-12 16:22] david-allison commented on #10256
After discussion, I proposed a style to fix it:

[code]

[2022-02-12 16:50] #10000 closed

[2022-02-12 19:02] Juddd commented on #10330
@krmanik Thanks very much. I don't know why I cannot render successfully in ankidroid:
[code]
![image](https://user-images.githubusercontent.com/10048069/153724566-af3684ca-229d-4a38-8fd6-f2f5cedcb538.png)

But cannot render this:
[code]
![image](https://user-images.githubusercontent.com/10048069/153724617-1f215cba-ae6b-4551-897b-73c181113295.png)

Excuse me, where did you see the use of `mermaid.

[2022-02-12 22:31] BrayanDSO commented on #3896
Can I work on this?

[2022-02-12 23:12] david-allison commented on #3896
Sure!

[2022-02-12 23:57] BrayanDSO commented on #3896
As stated at the [development guide](https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#handling-translations), I believe I should just edit things. So I guess this answers my question.

[2022-02-13 04:45] javiercl2020 commented on #10324
I dont like the sound:;$;$.mp4 tag because it plays videos on another window and cannot control the progress.

[2022-02-13 06:32] KamWithK opened #10335 "Can't Add Media via Ankidroid Instant Add API [Bug]"
Hello, I'm trying to use the Ankidroid instant add API to support Ankiconnect queries. I've managed to get most core queries apart from inserting media to work. Whenever I save a file and then try to use the `addMediaFromUri` function it returns null.

###### Reproduction Steps
Here's some source code for saving a file (I've tried saving in different locations with no changes):
[code]

Afterwards

[2022-02-13 13:14] BrayanDSO opened #10336 "[Bug] Volume gestures not working on latest alpha"
###### Reproduction Steps

1. Go to settings
2. Open gestures preferences
3. Enable gestures
4. Select an action for `Volume up` and/or `Volume down`
5. Open a note
6. Press `Volume up` or `Volume down`

###### Expected Result

The selected action for gesture should work

###### Actual Result

Nothing happens

###### Debug info
[code]

###### Research
*Enter an [x] character to confirm the points

[2022-02-13 13:33] david-allison commented on #10336
Good catch, thanks! These have been moved to "Settings - Controls"

[2022-02-13 15:00] david-allison opened #10339 "[Bug] If a dependency is disabled, preferences still appear enabled"
###### Reproduction Steps

1. Disable Gestures

###### Expected Result

2. The preference text is greyed out, or a user is notified that the preferences are disabled

###### Actual Result

2. None of the text is greyed out

###### Debug info
Possibly an issue with `android:dependency` when moving to the new preference library. We may not be passing data through correctly.

Very visible on the 'Ges

[2022-02-13 17:38] mikehardy commented on #10335
Hi there!
It's supposed to work like this I think?
https://github.com/ankidroid/Anki-Android/blob/87ee885bab712290892934acb4a6aabeb3411ce3/api/src/main/java/com/ichi2/anki/FlashCardsContract.java#L1195-L1210

That looks very different from your code above, is our documentation that far off? :thinking:

Second maybe useful / maybe not useful thought: I wonder if it has trouble with non-ASCII charac

[2022-02-13 18:40] viciousAegis commented on #10312
@david-allison @socialpercon I tried this out on the 2.16alpha42, and while the automatic answer function _is_ working, it is not working as intended.
After setting the time limit 6 seconds, for the 3 cards in the deck, the times after which the cards were shown were 10,11,8 seconds respectively.
Any idea what could be causing the time limit to malfunction?

[2022-02-13 19:39] david-allison commented on #10312
Do your cards have audio?

[2022-02-13 19:41] #10315 closed

[2022-02-13 20:10] #10336 closed

[2022-02-13 20:20] viciousAegis commented on #10312
Yep,2 of the cards have audio

[2022-02-13 20:21] david-allison commented on #10312
Should be: audio duration + 6 then.

[2022-02-13 22:32] KamWithK commented on #10335
So I think that's the lower level content values API right?
I was just trying to use the wrapper around it - https://github.com/ankidroid/Anki-Android/blob/master/api/src/main/java/com/ichi2/anki/api/AddContentApi.java#L200

I've also tried the ContentValues API directly but I have the exact same error where `Uri insertedFile = cr.insert(AnkiMedia.CONTENT_URI, cv);` would end up being null.

Just

[2022-02-14 03:55] prateek-singh-3212 commented on #10238
@david-allison this occurred due to Rust transaction failure. Could you tell me that how to view rust logs?

[2022-02-14 04:08] david-allison commented on #10238
We don't currently take Rust logs - we return the errors as-is, and our Rust code is primarily a wrapper around Anki's.

If you check logcat, you get a list of all the API calls to the rust library, just without the internals.

The next step in diagnosis is to list the error and appropriate logcat lines in the issue while diagnosing

[2022-02-14 04:46] #10339 closed

[2022-02-14 05:01] viciousAegis commented on #10312
Yep, works as intended then

[2022-02-14 08:25] grshprsoftwaredevelopment opened #10343 "[Bug] Audio play button has different elements and styles than Anki Windows and cannot be styled"
###### Reproduction Steps

1. Create audio element
2. Style audio element as defined in Anki documentation
3. View card with audio element

###### Expected Result
The audio element should be styled as defined in CSS

###### Actual Result
The audio element is styled with the default Ankidroid CSS styling.

###### Debug info
In Ankidroid the play button is defined as an SVG polygon with a parent HTM

[2022-02-14 12:57] #10256 closed

[2022-02-14 13:37] patarapolw opened #10346 "Autoplay audio from URL (on card side changes, no other clicks)"
**Is your feature request related to a problem? Please describe.**

It is possible to use TTS from JavaScript API, but the voice is not native. Also, sometimes `AnkiDroidJS.ankiTtsSpeak` is not defined for some reasons.

I can indeed use AwesomeTTS to generate audio files, but syncing large media folder is quite problematic, as well as **it is impossible to do in large batch with gTTS.** Instead,

[2022-02-14 14:37] david-allison opened #10347 "Add lint: "Multiple substitutions specified in non-positional format""
Nonfatal warnings:
[code]

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/10333#issuecomment-1039157947_

[2022-02-14 14:42] david-allison commented on #10347
Duplicates #6498, but we have much better dev tooling in place now, so this should be possible.

[2022-02-14 19:02] viciousAegis commented on #10343
Can I have a try at this issue? Thanks!

[2022-02-14 20:40] david-allison commented on #10343
Sounds good!

[2022-02-14 21:29] human912 opened #10349 "Paste text without formatting as a default option"
**Is your feature request related to a problem? Please describe.**
When creating new notes and dealing with resources rich in formatting, I find it unpractical to manually choose the "paste without text" option every time I copy a text to my newly-created notes. It's not among the basic choices (paste, cut, copy) and it's easy to forget and just paste the usual way, with formatting, which then nee

[2022-02-15 03:37] #9936 closed

[2022-02-15 10:04] Tinkidinki commented on #10349
Hey, on my Ankidroid (version 2.15.6), paste without formatting seems to be the default while making notes. Just tried pasting text with varying fonts, bold, italics and underlined text.

Are you referring to some specific type of formatting that gets copied over?

[2022-02-15 11:03] human912 commented on #10349
Ok, I tested again. When I paste the text in the note not by choosing "paste", but by clicking on the clipboard above my onscreen keyboard of my android phone, it comes up stripped out of all formatting, just as I want.
![Screenshot_20220215-115452_AnkiDroid](https://user-images.githubusercontent.com/99691305/154048790-69e355a8-1b07-4a34-b1c5-dbdb8982b522.jpg)

But if I manually touch a field and

[2022-02-15 11:17] rishavchanda commented on #10321
@mikehardy Is this issue resolved? Or else can I work on it?

[2022-02-15 11:47] GuidoFe commented on #10349
In the same menu where the Paste option is, I see also the option "Paste as plain text". Do you see it? Maybe you have to expand the menu by clicking on the three vertical dots icon

[2022-02-15 13:05] mikehardy commented on #10321
@rishavchanda it appears @Areeb-510 is working on this at the moment, so it might be best to find a different issue

[2022-02-15 13:46] human912 commented on #10349
Yes, I see it and I use it. I was wondering if there's a solution, where the main "paste" does exactly the same as the "paste as plan text" option by default. So, regardless which option i press, it's always zero formatting, even if I press just "paste" by mistake, which happens regularly and it's a time waster. On another phone I have to always manually expand the menu to get to the "paste as pla

[2022-02-15 14:27] rishavchanda commented on #10321
@mikehardy ok

[2022-02-15 14:33] rishavchanda commented on #10262
@Arthur-Milchior is this issue resolved? or @raddi1972 is still working on it?

[2022-02-15 14:44] #10322 closed

[2022-02-15 15:02] krmanik commented on #10346
The TTS JS API is implemented on top of java/kotlin. It uses the TTS engine on the device.
View more about it in this PR https://github.com/ankidroid/Anki-Android/pull/8812

https://github.com/ankidroid/Anki-Android/blob/67d29b4dca04bdef238fdcbfbc0930e9d11c06f1/AnkiDroid/src/main/java/com/ichi2/anki/JavaScriptTTS.java#L31

[2022-02-15 15:35] Arthur-Milchior commented on #10262
Not resolved. Any news @raddi1972 ?

[2022-02-15 15:53] krmanik commented on #10349
Sure!

[2022-02-15 16:28] krmanik commented on #10346
I tested above two code snippets. The autoplay works correctly.

Also I didn't get the following Exception

May be it is device specific issues. Can you add `Debug Info`?

[2022-02-15 16:47] patarapolw commented on #10346
Debug Info

[code]

[2022-02-15 20:27] socialpercon commented on #10312
My guess is that the problem is with the TTS settings.

[2022-02-16 01:22] ImanCraft opened #10351 "Request: controller support hehe"
Problem: native controller support isn't enough please add input/button mapping options

Option to map buttons from android controllers to specific functions like answer 1 - 4, menu, undo answer, play sound, etc.

I bought a gamsir x2 cause I'm a loser but I thought about using it w anki to study and again natively it's alright but could be super cool I think if I could just map functions to the b

[2022-02-16 04:23] mikehardy commented on #10351
Hi there! Have you tried the latest alphas? They allow a flexible input mapping that may do what you want - https://github.com/ankidroid/Anki-Android/releases/

[2022-02-16 05:09] ImanCraft commented on #10351
Sorry! I didn't know about them 😅 but thank you so much i just updated anki and found the mapping settings. I can't wait to try

[2022-02-16 05:09] #10351 closed

[2022-02-16 09:56] eskoONE commented on #8114
@prateek-singh-3212 any news on this?

[2022-02-16 12:34] mikehardy commented on #10351
No worries @ImanCraft there's no real reason you should know about them, but the new controller mapping stuff is pretty excellent I think? You might be one of the first real testers on it so hopefully it works and if not, do post details of what you tried and what you want and what isn't working here and we can tune it as needed. Cheers

[2022-02-16 12:58] gsingh93 opened #10352 "Hide keyboard suggestions when typing answers"
###### Reproduction Steps

1. View a card with `{{type:Front}}`
2. On the latest Android 12 and Gboard on a Pixel 6, I see predictive text suggestions when typing my answer.

###### Expected Result

No text suggestions should be displayed. I've found an old issue that is closed now saying this used to be an issue but was fixed: https://github.com/ankidroid/Anki-Android/issues/3727. There was a mor

[2022-02-16 22:13] BrayanDSO commented on #10022
Couldn't reproduce.
Tried with English, Portuguese, simplified chinese and Japanese, they all look the same here

[2022-02-17 11:06] Akshay0701 commented on #9994
I can't able reproduce this error in the new version of AnkiDroid, seems like the error has been resolved, I am closing this issue for now, if you again faced this problem do let me know,

Thanks

[2022-02-17 11:06] #9994 closed

[2022-02-17 14:53] raddi1972 commented on #10262
I was able to identify the problem and recreate it, I was also able to locate the code related to timebox. Could you point me, which part of the code should I look into for media manager or from where the videos are controlled?

[2022-02-17 17:08] #9077 closed

[2022-02-17 17:15] Arthur-Milchior commented on #10262
I believe you may want com/ichi2/libanki/Sound.java which seems to have the method in charge of playing media. The name is admittedly confusing as it deals with video to

[2022-02-17 17:17] #10212 closed

[2022-02-18 10:14] anewstheart opened #10356 "Card answer has extra 'answer' class that is not in Anki for Windows"
https://github.com/ankidroid/Anki-Android/blob/0f7b0bebed9539c6ee46608539be23c2e5db4780/AnkiDroid/src/main/java/com/ichi2/anki/cardviewer/CardAppearance.kt#L84-L86

[code]

In Anki for Windows:

[code]

[2022-02-18 10:27] david-allison commented on #10356
@anewstheart Which version of Anki for Windows is this?

[2022-02-18 15:23] BrayanDSO commented on #10356
May I work on this?

[2022-02-18 19:32] Arthur-Milchior opened #10358 "[Bug] Impossible to list files"
###### Reproduction Steps

1. Run on 81fcbe125c4c77d010965c0e2515952d21f2932a (HEAD, ankidroid/master)
2. Open ankidroid
3. do "check media"

###### Expected Result
Media checking

###### Actual Result
Crash

###### Debug info

2022-02-18 20:30:44.678 4096-4427/com.ichi2.anki E/ion: ioctl c0044901 failed with code -1: Invalid argument
2022-02-18 20:32:11.109 4096-4586/com.ichi2.anki E/AndroidRunti

[2022-02-18 19:34] david-allison commented on #10358
What's the device info? Will check in an emulator

[2022-02-18 20:08] BrayanDSO commented on #10356
Reproduced. Added the following css
[code]
Results:
Desktop:
![2022_02_18-17_06_23](https://user-images.githubusercontent.com/69634269/154754221-2eb4643c-266f-4083-ba5c-96ffbc967bb2.png)

Ankidroid:
![Screenshot_20220218-170612_AnkiDroid](https://user-images.githubusercontent.com/69634269/154754300-4cbdd128-2899-45a8-8149-fef5cead7278.png)
![Screenshot_20220218-170617_AnkiDroid](https://user-image

[2022-02-18 20:16] BrayanDSO commented on #10356
Another related extra class ankidroid adds is "question" to the front side
Reproduction:
[code]
Desktop:
![2022_02_18-17_13_40](https://user-images.githubusercontent.com/69634269/154755168-6f434985-4d26-4e39-9c2b-cc812c82d8b3.png)

Ankidroid:
![Screenshot_20220218-171556_AnkiDroid](https://user-images.githubusercontent.com/69634269/154755214-45a74157-15d3-457c-b8b8-8e4a60daf90f.png)

[2022-02-18 20:47] david-allison commented on #10356
Assigned, thanks!

[2022-02-18 21:14] mikehardy commented on #10356
A philosophical question - do we want to maybe break people's templates like this? If we remove these symbols it's a breaking change for people.

[2022-02-18 21:34] david-allison commented on #10356
We seem to be stuck between a rock and a hard place here. If Anki Desktop has made a breaking change, then we should (sadly) follow it to stay compatible.

If we were the ones that made the breaking change, then it's less vital, it would be ideal to be as compatible as possible - otherwise it becomes much harder to detect further breaking changes, but this seems to be much less set in stone.

I th

[2022-02-18 21:35] BrayanDSO commented on #10356
In my experience, I haven't known until now there was classes only for styling front or back on Ankidroid. I can't find them on repo wiki or [user manual](https://docs.ankidroid.org/manual.html).

Therefore I believe most people only discover them by chance when trying to use these specific classes names for another things. I think only a minority of people would discover this and find it useful t

[2022-02-18 21:39] anewstheart commented on #10356
The Anki desktop documentation is referenced for styling so being
incompatible will create additional documentation burden.

On Fri, Feb 18, 2022, 10:34 PM David Allison ***@***.***>
wrote:

[2022-02-18 21:54] BrayanDSO commented on #10352
Since I've found this interesting, I've taken a look into it.

Respecting the "No suggestions" flag isn't something every keyboard does. A way to do it most universally would be to treat the field as a visible password, but makes another problems:
1. The user can't change keyboard languages (a huge problem since Anki is vastly used for learning languages)
2. It may show the numpad

Therefore, I be

[2022-02-18 21:57] BrayanDSO commented on #10352
I'll dig more to find if I can fix the problem with gboard, because is a vastly used keyboard (and the one I most expected would work since it's made by google).

For another keyboards, it isn't feasible to handle with very one of them, the user will have to choose a good keyboard which hides suggestions

[2022-02-18 22:06] david-allison commented on #10352
May want to discuss [IME_FLAG_NO_PERSONALIZED_LEARNING ](https://developer.android.com/reference/android/view/inputmethod/EditorInfo#IME_FLAG_NO_PERSONALIZED_LEARNING) as well, depending if we want the answers to be saved in the keyboard history.