[2022-05-26 19:52] nzarbayezid commented on #5304
The V im using is 2.16alpha58, the newest version does allowing me to sync fast? Cuz im saying unstable because it's so slow that it needs hours for 1Gb to sync, you told me last time that when this issue is closed that means the problem is fixed, and there is no change log with the alphas to see what have been changed and fixed. Please tell me if the problem is fixed in the alpha versions?

[2022-05-26 20:22] #11396 closed

[2022-05-26 22:43] mikehardy commented on #5304
Ah, I see. You have slow syncing. The thing is, slow sync should only happen *until the first sync is completed*. Stated differently: once you are in sync once, all future syncs should be fast. If that is not the case something is going on, and even when this is closed that will not fix it. Yes, righ tnow, that first full sync can take multiple attempts, and hours perhaps for 1GB, but it's a one t

[2022-05-27 06:37] divyansh-dxn commented on #11430
I agree with @prateek-singh-3212, syncing with a remote server is something that can run as a Foreground service because it interacts with UI and we want the user to control syncing process and cancel anytime he/she wishes.

Anyone wishing to read more about, here is a nice guideline by Android team.
https://developer.android.com/guide/background#choosing_the_right_solution_for_your_work

[2022-05-27 08:13] #11102 closed

[2022-05-27 08:20] RaidenCHEN commented on #11414
Hi, so here I tried to apply your suggestions to kotlin test files under directory "lint-rules/src/test/java/com.ichi2.anki.lint.rules". In case of not doing the work you wish, i didn't modify test files in "Ankidroid/src/test/java".
So, I change all kotlin functions whose name are more than three words to the format you suggested. And also I kept all method with name no more than three words in l

[2022-05-27 08:21] RaidenCHEN commented on #11414
If you think it's ok, i could keep on working on the rest test files.

[2022-05-27 08:49] lukstbit commented on #11414
@RaidenCHEN I think you should wait a bit. There was no approving comment yet on this issue from maintainers of the project.

@oyeraghib Note that instrumented tests from `androidTest` will show a _Identifier not allowed in Android projects_ if using backticks in method names. Should still work, but this error being displayed or having to suppress it is not that great.

[2022-05-27 09:30] oyeraghib commented on #11414
@RaidenCHEN I really appreciate the work you did. But for future purpose just make sure before you start to work with any issues, ask the maintainers to assign it to you. As it will also help others to know that you are working on it.
Also as suggested by @lukstbit it is important that we wait for the approval of maintainers before working on this issue.

[2022-05-27 14:06] mikehardy commented on #11430
It's more important than that actually: we want the first syncs - which take a long time and are a *real* pain point for users, to sync media (the slow part of the sync) "in the background" (that is, without locking the UI, but without stopping the sync) after the collection is in sync (which is fast). The only way to have a long-running task continue running regardless of UI state is a foreground

[2022-05-27 15:56] RaidenCHEN commented on #11414
Yep, my fault, I was too impatient. Thanks for your suggestions, I would be calmer next time. Apologies if i made anything that causes problem.

[2022-05-27 16:03] oyeraghib commented on #11414
No it is really fine, it didn't cause any problems :).
As a matter of fact I have been at your place too when I started out and it is really okay, we all get better by doing.

[2022-05-27 20:38] #9536 closed

[2022-05-28 13:53] Jatin887 commented on #10510
can you please explain it more . I didn't get it completely

[2022-05-28 20:15] Arthur-Milchior commented on #10510
@Jatin887 do you have any specific question? I'd be glad to answer question. Maybe do the part you got, so that you'll get a first PR out of it while we wait to discuss this.
If you're on discord, you can also ask here ,that may allow to have quicker discussion to clarify it, and then write down the conclusion here

[2022-05-29 04:42] captain-miao opened #11442 "[Bug]pureAnswer not correct"
###### Reproduction Steps

1. val pureAnswer = mCurrentCard!!.pureAnswer

###### Expected Result
[code]

###### Actual Result
[code]

###### Debug info
![image](https://user-images.githubusercontent.com/1283212/170852522-b68c77f4-3ce9-445e-a2df-0363e935e707.png)

sorry, I can't commit by PR.

[2022-05-29 10:40] Arthur-Milchior commented on #10489
Thanks a lot for all of the cleanup already done. 26 of them is already impressive.

I updated the first message to add a requirement:

[2022-05-29 14:13] mikehardy commented on #11442
Hi there! With apologies, I don't understand what the problem is.

https://github.com/ankidroid/Anki-Android/blob/e6a1698025e3ec13a68bcdb796b5f4af9830fa76/.github/ISSUE_TEMPLATE/issue_template.md?plain=1#L25-L26

Also, you deleted the debug info we request in our template. Please include it, you may want to make sure you are testing this on the latest release https://github.com/ankidroid/Anki-Andr

[2022-05-29 17:25] Arthur-Milchior opened #11449 "Cleaning: replacing `format` by formatted strings"
This is part of Kotlin clean-up  #10489, low priority, a way to slightly improve code quality and make easy changes.

There are currently 37 occurrences of `String.format` in Kotlin followed by a String literal. In Kotlin, you can generally use Template stings, which I find more readable. It'd be nice to replace them. In short, if you don't know string literals, you just have to use $varName or ${

[2022-05-29 17:45] Arthur-Milchior opened #11450 "Cleanup: avoid var"
As a general rule, `val` is better than `var`. Because that means that you can read code without having to keep track of how a value change. Even when there is no "kotlinCleanup", if you see a var and can change it to a val, it would be appreciated.

This change has very low importance. So no need to got searching for all vars. The goal of this issue is simply to let you know that if, when you are

[2022-05-29 18:26] Arthur-Milchior opened #11451 "Use `"""` instead of `"` to avoid `\"`"
One usual issue in reading code inside of code (e.g. string containing html, css, or js) is that they contains quote, which you must escape. Worst is when you want to have actual quote in the inside language.
Kotlin offers one solution, triple quote. Let's take an example: https://github.com/ankidroid/Anki-Android/blob/8d4083e1ddbad8f0633679997a4b5b44ee88dc72/api/src/main/java/com/ichi2/anki/api/B

[2022-05-30 02:18] #6971 closed

[2022-05-30 02:18] #11268 closed

[2022-05-30 03:13] #11321 closed

[2022-05-30 13:38] TragicLifeHu commented on #7173
https://github.com/ankidroid/Anki-Android/blob/599c50575148ed8259cf8eda7fd858244f773a62/AnkiDroid/src/main/java/com/ichi2/anki/AnkiDroidApp.java#L330
This line used `Locale.getDefault().toLanguageTag()`, but for
https://github.com/ankidroid/Anki-Android/blob/0057a66b198039b2cbf841b9703cd84d1be48d08/AnkiDroid/src/main/java/com/ichi2/utils/LanguageUtil.kt#L36-L43
It only contains `zh-TW` `zh-CN`, an

[2022-05-30 16:49] antgel commented on #1717
Sure, here's my interpretation:

1. You assume bad faith.
2. You speak as if you are the only cyclist in the world (let alone in this Issue), and speak for all.
3. You are condescending towards drivers.

[2022-05-30 16:58] mikehardy commented on #1717
Tim's answer here is great:

Meet the conditions, we'll move forward.
Past that I don't spend much of my time engaging with people that aren't producing, a personal choice to manage my time.
To that end I'll hide comments that are not productive.

[2022-05-30 17:07] antgel commented on #1717
Translation: Don't interpret that how you like. Drivers are baboons.

To that end I'll hide comments that are not productive.

You're literally cancelling users who are challenging design decisions that they don't agree with, and the way that discussions around such users are handled. Do you really think that's cool? Are you not concerned about being in an echo chamber? I'll expect that from now o

[2022-05-30 17:11] mikehardy commented on #1717
I'm not cancelling, I'm focusing on productive discussion. People that holler about canceling are the most irritating. Your comment's still there, so everyone can see how you behave, for eternity, to developers that make decisions you disagree with.
Cheers.

[2022-05-31 03:51] #10620 closed

[2022-05-31 06:44] krmanik opened #11480 "Add `CSS Browser Selector`, `jquery-ui` and `bootstrap` into AnkiDroid assets dir"
**Is your feature request related to a problem? Please describe.**
Anki Desktop has these library [CSS Browser Selector](https://github.com/rafaelp/css_browser_selector), [jquery-ui](https://jqueryui.com) and [bootstrap](https://getbootstrap.com)

**Describe the solution you'd like**
Copy files from build dir to assets dir

**Describe alternatives you've considered**
Manually pasted these JS files

[2022-05-31 06:49] krmanik commented on #11480
I am closing this because these files only available to main menu in Anki, it is not available in reviewer ui so no need to add this.

[2022-05-31 06:49] #11480 closed

[2022-05-31 13:48] #10575 closed

[2022-05-31 17:30] jimvine commented on #10352
@BrayanDSO In comment [1045237036](https://github.com/ankidroid/Anki-Android/issues/10352#issuecomment-1045237036) I think you described that you don't get suggestions with SwiftKey. Did you have to do anything to achieve this? I have installed Microsoft SwiftKey on Android 11, and that gives me suggestions, much the same as Gboard.

Whilst it would be great if there were a solution that made this

[2022-05-31 21:42] BrayanDSO commented on #10352
@jimvine I did that by modifying AnkiDroid's source code while trying to fix this issue.
Haven't gone further because it seems that there isn't a good solution

[2022-05-31 22:38] oakkitten commented on #11414
I use test methods with spaces and so far I haven't had any issues with them. Much more readable. (I don't capitalize every word because my tests are not song titles.)

[2022-05-31 23:09] BrayanDSO commented on #11414
First, how do I run a test like this on a CLI?

Overall, I like the idea. e.g. `onlyDisableWhiteboardAppearsInAppBarIfAllAppBarButtonsAreDisabledWithWhiteboard()` on `ReviewerTest` would be a lot more readable with this.

But, yes, please don't capitalize every word. English capitalizing rules are enough.

I particularly wouldn't spend time/energy changing existing tests with small or readable eno

[2022-05-31 23:17] oyeraghib commented on #11414
Yeah I agree, we can use English capitalizing rules rather than capitalizing every word.

[2022-05-31 23:21] BrayanDSO commented on #11414
I believe I wasn't clear with my question. So, further elaborating on it:

How to run a single unit test (not every one on the class) on the CLI if it has backticks and spaces on it? Do I need to wrap it on quotes? Do I need to add the backticks?

[2022-05-31 23:43] mikehardy commented on #11414
- @BrayanDSO has a great point about making sure we can still run single tests, spaces in names are problematic for this reason in filesystems and there are always workarounds and solutions but it's more junk to know, is it worth it? I personally don't think so, but don't feel strongly as long as it is possible
- also the point about not changing any existing tests is something I agree with, given

[2022-05-31 23:57] oakkitten commented on #11414
There's nothing special about it, just [spell it out with spaces](https://stackoverflow.com/a/68558101).

[2022-06-01 00:07] david-allison commented on #11414
(pinged on Discord)

This seems like busywork. I'd much rather the effort was spent on the codebase (features/fixes), or increasing code coverage.

I feel with the current state of the codebase, test failures aren't taking enough of our time to worry about this. This proposal optimizes for the very few developers who read/break tests, rather than user experience, or general developer experience.

[2022-06-01 00:42] oyeraghib commented on #11365
I am not sure about what is urlencode in AnkiDroid. @mikehardy can you please tell something about it.
Is it something related to this code present in `BeolingusParser.kt` :

[code]

[2022-06-01 03:43] lukstbit opened #11492 "[Bug] Whiteboard doesn't properly handle rotation when drawing"
###### Reproduction Steps

1. Go to review a card
2. If not already enabled, go to the toolbar menu and enable the whiteboard
3. Draw something
4. Rotate the phone/emulator

###### Expected Result

The expected result would be to see the full drawn image rotated according to the rotation.

###### Actual Result

The drawing is shown partially, also the user can now draw on a part of the whiteboard

[2022-06-01 08:44] #9755 closed

[2022-06-01 15:39] mikehardy commented on #7173
Fantastic analysis @TragicLifeHu - I would love (and our Chinese-language users would love...) someone to think through the analysis to make sure they agree or not, and propose a PR if possible :pray:

[2022-06-01 22:20] BrayanDSO opened #11496 "Warning of resources removal on build log"
These are appearing on build log on 2048b4da
[code]

Probably related to #11194

[2022-06-01 22:25] david-allison commented on #11496
Should be fixed in https://github.com/ankidroid/Anki-Android/pull/11453#event-6722695825

[2022-06-02 00:07] #11496 closed

[2022-06-02 04:41] dae commented on #6772
Just a heads up that @rumovz's work on a new CSV importer/exporter was merged into Anki's main branch yesterday. The actual importing/exporting is handled in Rust, and there is a web UI for the field mapping. It includes some new functionality like per-row notetypes that the old Python implementation did not have.

While AnkiDroid won't be able to take advantage of it until AnkiDroid's Rust backen

[2022-06-02 10:28] Arthur-Milchior commented on #6772
Thank you extremely much @dae for the information. Thanks also @
FYI, AnkiDroid accepted 4 Google Summer of Code mentees this year. One being CSV import. Good news is that the mentee, @BrayanDSO,  also planned to do other work, so the other task can be prioritized. But clairly it requires to adapt the project.

I just did a `git pull` and `./run` on anki's main, and still see the importer. Is ther

[2022-06-02 11:00] PanderMusubi opened #11506 "Add also Import under + button"
**Is your feature request related to a problem? Please describe.**
I'm using the import functionality a lot. Sometimes the dot dot dot menu is not shown, but that is another issue. Want to import decks quickly.

**Describe the solution you'd like**
Add also Import under the + button

**Describe alternatives you've considered**
n/a and feature request for importing multiple files

**Additional cont

[2022-06-02 11:10] PanderMusubi opened #11507 "[Bug] The dot dot dot menu disappears after sync"
###### Reproduction Steps

1. Sync

###### Expected Result

The dot dot dot menu on the top right of the screen does not disappear

###### Actual Result

The dot dot dot menu disappears. Workaround is to open en close the menu on the top left of the screen.

###### Debug info
n/a

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or e

[2022-06-02 11:11] dae commented on #6772
The new code can be enabled in the first tab of the preferences screen.

The backend interface is strongly typed, so if it does happen to change in the future, you'd find out at compile time. But I'd recommend you consider making use of the Svelte frontend as well, as that way you get the interface mostly for free, instead of having to implement all the UI logic like field mapping. This is a commo

[2022-06-02 12:03] krmanik commented on #6772
The UI using Svelte can be used but we have to consider following
1. Responsive so it can adapt different screen size, css can be used
2. Localisation, it is already provided but some new language may not added
3. It will not be native so may be we get issues for it
4. It needs to load in webview along with implementation of localhost to serve file (because loading from `file:///` may give errors)

[2022-06-02 13:52] mikehardy commented on #11507
Hi there!
That debug info part is really important. We need to know what version you are using
You might try a parallel .A release from here to see if it was fixed, lots of things in the action bar have changed between 2.15.x and our 2.16 series in development https://github.com/ankidroid/Anki-Android/releases

[2022-06-02 13:55] dae commented on #6772
1-2 should already be handled, and these pages are working in AnkiMobile. If there are Android-specific issues, patches are welcome :-)

The frontend sends and receives binary protobuf payloads in POST requests. The desktop uses a built-in webserver, and AnkiMobile uses a custom URL scheme. You may be able to use the latter approach in AnkiDroid as well, by intercepting requests for ankischeme://s

[2022-06-02 14:00] mikehardy commented on #6772
That does sound right on and perhaps a lot easier than on pure technical merit vs some codegen/JSI interface and definitely easier ecosystem-wise if we do things the same way AnkiMobile does (custom scheme / protobuf posting), thanks @dae

[2022-06-02 14:32] krmanik commented on #6772
[android.webkit.WebResourceRequest)](https://developer.android.com/reference/android/webkit/WebViewClient#shouldInterceptRequest(android.webkit.WebView,%20android.webkit.WebResourceRequest)) is easier implementation than other options. Thanks

[2022-06-02 14:36] david-allison commented on #11506
We've implemented multiple imports: https://github.com/ankidroid/Anki-Android/pull/10851

This is available in the 2.16 alphas. Is this an acceptable solution to your problem?

[2022-06-02 15:14] PanderMusubi commented on #11506
Yes, thanks

[2022-06-02 15:15] PanderMusubi commented on #11507
2.15.6 via F-Droid

[2022-06-02 15:46] mikehardy commented on #11507
Please retry with current from releases page, may be fixed :pray:

[2022-06-02 20:48] S-Downes opened #11510 "[Bug] Issue with Add note and Create deck Options in AnkiDroid 2.15.6"
###### Reproduction Steps

1. Start AnkiDroid on mobile device
2. Tap + icon to Create deck
3. Tap + icon to Add note

###### Expected Result

Created deck is saved upon closing the application, and upon returning to AnkiDroid. Add note feature does not cause the app to crash, or terminate.

###### Actual Result

Creating a deck seems to work, but does not persist when exiting and returning to Ank

[2022-06-02 21:17] mikehardy commented on #11510
Hi there!
Can you please try the most recent .A parallel release from https://github.com/ankidroid/Anki-Android/releases ?
We're getting quite a few crash reports on 2.15.x and most of them are reporting "hey, that fixed it" when they try the newer releases

[2022-06-02 21:29] PanderMusubi commented on #11506
Will try it. Would it be useful for AnkiDroid to also have a beta build in F-Droid?

[2022-06-02 21:43] PanderMusubi commented on #7159
@izzysoft do you think building an alpha for AnkiDroid is feasible fro F-Droid?

[2022-06-02 21:47] aljohnston112 opened #11511 "[Bug] Jacoco.gradle causes Android test with ActivityScenario to throw a ClassNotFoundException"
###### Reproduction Steps

1. Create a TestActivity
[code]
2. Create a test with ActivitySenario
[code]
3. Run the test

###### Expected Result
Class org.jacoco.agent.rt.internal_b6258fc.Offline to be found

###### Actual Result
[code]

###### Debug info
This might help
https://scans.gradle.com/s/d5s2iwgtvo5em/console-log?anchor=140

###### Research
*Enter an [x] character to confirm the points be

[2022-06-02 23:28] #11211 closed

[2022-06-03 00:32] oakkitten commented on #9101
I have this issue on Xiaomi Mi A2 (Android 11) on current main, it's intermittent. Here's when it's good (wall clock):

![image](https://user-images.githubusercontent.com/1710718/171761496-9650e89d-5096-443c-8c3c-739a10cbaca1.png)

And here's when it's bad:

![image](https://user-images.githubusercontent.com/1710718/171761537-4f9ff50d-410e-4b14-b109-cb100cc87d91.png)

![image](https://user-images.

[2022-06-03 00:49] mikehardy commented on #9101
Really long single queries...really long text processing.
Is the card template huge or similar?
Is the collection or deck very large?
There is some pre-fetch at work I think so intermittency might be that sometimes you are reviewing things that are pre-fetched and sometimes you get to a card before it's fetched.
I think if you watch the adb logcat you can see the queries that are going in, and you

[2022-06-03 01:37] oakkitten commented on #10423
Why not use something along...

[code]

Then instead of

[code]

You could say

[code]

I also have seen a few primitives that would allow doing something like:

[code]

And then you can say simply

[code]

[2022-06-03 06:34] IzzySoft commented on #7159
Who will maintain that? As alphas/betas should not be the "suggested version", they must be added manually every time, via merge request, which someone must open and someone must process.

[2022-06-03 06:44] PanderMusubi commented on #7159
Since the alpha releases have apk files, I think it is not worth it. Better that AnkiDroid more often makes normal releases. The latest stable is almost a year old.

[2022-06-03 06:56] PanderMusubi commented on #11507
Is fixed in latest alpha. Now, the import of files does not show apkg files in directories. Is there an existing bug for that?

[2022-06-03 12:47] S-Downes commented on #11510
Tried using .A and works fine now. Thanks for the help.

[2022-06-03 12:47] #11510 closed

[2022-06-03 13:23] mikehardy commented on #7159
Yes @PanderMusubi - we are certainly trying. It's half a year though, exaggerations are demotivating as criticism ;-) - follow here #5304 and hopefully it's out soon.
Typically when we are not blocked from releasing I try to release ever 1-2 months.

[2022-06-03 13:23] mikehardy commented on #11507
Glad that improved the action bar

This is unclear as a problem description. New issue please, yes

[2022-06-03 13:49] #10665 closed

[2022-06-03 13:56] mikehardy commented on #11510
@S-Downes yes! really glad that worked. We're working hard to get 2.16 out (it's stable enough, really) we're just blocked until we handle a forward migration to requirements of new google play policy, can follow here if interested to track the blocking issue #5304

[2022-06-03 14:05] #9376 closed

[2022-06-03 14:45] david-allison commented on #8274
Would probably need to check with CrowdIn support about getting the project verified as open source, we're very close to the 60k strings limit which pushes you to paid territory if you're not an open source app

[2022-06-03 17:01] oakkitten commented on #9101
The card template is nothing out of ordinary, a bit of CSS and 5 fields. Some 16k/20k cards in the deck/collection, and around 500k reviews in total. By intermittent I meant, I can review 50-100 cards with a noticeable delay, and then it goes away and I can review 50-100 cards without it. It doesn't vary from card to card.

Instrumenting rust sounds like quest I'm not yet prepared to brave ![image

[2022-06-03 17:19] mikehardy commented on #9101
with you on that one

I wonder if there is something else running on your phone that is causing a huge draw on CPU and/or storage hardware available throughput?

[2022-06-03 17:45] oakkitten commented on #9101
I've had this issue for a while, I think if something was occupying the CPU I would notice. Speaking of disk, google says that some users [report issues](https://issuetracker.google.com/issues/118036531) with the storage of my particular Xiaomi device. I personally never experienced any issues with storage, and I've had this device for years, but perhaps they manifest themselves with AnkiDroid som

[2022-06-03 19:00] #10185 closed

[2022-06-03 19:36] #10175 closed

[2022-06-03 20:25] n1snt commented on #9332
I would like to work on this issue.

[2022-06-03 20:28] mikehardy commented on #9332
please be my guest! good luck :-)

[2022-06-04 09:35] PanderMusubi opened #11525 "[Bug] Import does not show .apkg files 2.16alpha67"
###### Reproduction Steps

1. Import
2. Navigate to directory with .apkg files

###### Expected Result

See the .apkg files to import.

###### Actual Result

Not seeing the .apkg files to import

###### Debug info

Version 2.16alpha67, import does work on thie same device for version 2.15

###### Research
- [x] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a

[2022-06-04 10:25] krmanik commented on #10751
Thanks to @dae, I managed to port the graphs (Anki 2.1.34 HTML/JS used). View this PR https://github.com/krmanik/Anki-Android/pull/23 for more. Also it is not required server to serve the web files and the fetch have issues with `file:///` but the patch provided by @dae is resolved the errors.

I will create refined PR for graphs.

[2022-06-04 11:12] david-allison commented on #11525
Thanks for the report. Could you fill out the debug information: Preferences - Advanced - About AnkiDroid - copy ddebug info

[2022-06-04 12:10] PanderMusubi commented on #11525
AnkiDroid Version = 2.16alpha67

Android Version = 11

Manufacturer = OnePlus

Model = IN2023

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 11; IN2023 Build/RQ3A.211001.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/101.0.4951.61 Mobile Safari/537.36

ACRA UUID = 5e653a8a-d8ce-4bbc-bb9e-1c5d224ab537

Scheduler = std2

Crash Reports Enabled = true

DatabaseV

[2022-06-04 12:10] PanderMusubi commented on #11525
PS Preferences is name of the menu but it is listed as Settings. Also a bug?

[2022-06-04 13:05] Arthur-Milchior commented on #11414
@oyeraghib I'd like to let you know your idea still had some applications. As @david-allison's recent PR followed it, and for the first time, I got to review test with spaces in name. https://github.com/ankidroid/Anki-Android/pull/11513/commits/a4b9b7206bf7a46a7d51a4f26edd2b0b89bfef18#diff-b9280c48c13c02c10dd594626aaacc117144a8ce8412ae2185badf5a484a5721R42

[2022-06-04 14:28] Arthur-Milchior commented on #10751
Are those screenshot from an android device'? Seems so cool!

[2022-06-04 16:10] krmanik commented on #10751
Those screenshots are from Android device.

[2022-06-04 20:47] Arthur-Milchior commented on #10284
@Pound-Hash When I try to access it, I know read it has been moved to your trash, so I still can't take a look.

Sorry for the delay

[2022-06-05 04:18] yashsharma81 commented on #10449
still working but can't find the solution

[2022-06-05 06:30] SaranshBaniyal commented on #11451
Hey @Arthur-Milchior, greeting. Can you please assign this issue to me? I have just started with android development and would love to get my hands-on some beginner level issue like this, in order to improve my skills.

[2022-06-05 10:55] david-allison commented on #11451
Done! et us know if you need help

[2022-06-05 13:03] captain-miao commented on #11442
[code]

[2022-06-05 15:30] krmanik commented on #8274
I will give it a try.

[2022-06-05 15:32] mikehardy commented on #8274
Champion :trophy: ! let me know if you need any advice or anything, this is so important to project continuity that I really want to see this get done and I will help any way I can

[2022-06-05 15:59] krmanik commented on #8274
Okay, Thanks

[2022-06-05 16:12] Arthur-Milchior opened #11541 "Decouple `Time` from the collection"
I admit with time passing that Time itself was not part of the collection but of the system. I don't like static value, but I guess it's the more logical way to go. I'll thus remove time from Col

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/11487#issuecomment-1146790616_

[2022-06-05 19:09] fred-sab commented on #10841
Hi all, I had look at #10840 and #10841 and thought of another approach: displaying a Toast on exit (actually  [suggested in the original feature](https://github.com/ankidroid/Anki-Android/issues/8648#issuecomment-822581182)).
It would look like this: #11547. What do you think?

[2022-06-05 20:00] #10502 closed

[2022-06-05 20:00] #10619 closed

[2022-06-06 01:57] Arthur-Milchior commented on #11116
@rushikeshsuryawanshi sorry for the missing answer. As you have probably understood if you still follow, @Jatin887 was working on it and already did a lot of work actually, so I don't think so.

@Jatin887 Thanks very much for this work. I had not heard about View Binding. Thanks so much for helping us understand by giving a short explanation.
Can you help us furthermore by letting us know: do you

[2022-06-06 02:13] Arthur-Milchior commented on #11116
After having reviewed a few of those commits, I've got a main question we must decide.
Do we want to keep values for many of the views, or do we just use references?

For example in https://github.com/ankidroid/Anki-Android/pull/11324/commits/ac8254ca5431248ae1a88b02536f5b372afd60c6 , I'd consider replacing `mMainLayout = findViewById(R.id.layoutInLoadPronActivity)` by `mMainLayout = binding.layou

[2022-06-06 15:37] david-allison opened #11560 "Deprecate legacy preference upgrade mechanism"
That should probably be added in a comment here in the code so future developers are not lured in, and/or could use a blurb in developer guide "how to do a preferences upgrade"...

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/pull/11555#discussion_r890150791_

[2022-06-06 20:57] Arthur-Milchior commented on #10262
@s-deepak-kumar are you still interested? I believe we can assume @ayushsoni916 is not working on it anymore.

@s-deepak-kumar if you'rer interested, let me know if you understood the issue

[2022-06-07 04:23] balta2ar commented on #9935
still waiting for someone to implement it

[2022-06-07 07:22] vishalc0d3r commented on #3114
Can I work on this @david-allison ?

[2022-06-07 22:42] david-allison commented on #3114
I'll be changing how this screen work due to #5304, I'd recommend another issue until the functionality is solidified

[2022-06-07 22:43] Arthur-Milchior opened #11568 "Crowd-in open source"
_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/8274#issuecomment-1146037931_

I plan to take charge of it (I'll double check on discord you didn't do it)
Only issue is that they require to have updated news on our website. I'll try to argue that what is relevant here is our play store address, as it's where people get new version

[2022-06-07 22:53] david-allison commented on #11568
Is this still necessary?: https://github.com/ankidroid/Anki-Android/pull/11557

[2022-06-07 22:57] Arthur-Milchior commented on #11568
I don't see how this PR change the issue. If I understand https://crowdin.com/pricing#:~:text=If%20you%20have%20up%20to,of%20data%20transfer%2C%20it's%20free. the limit is on the number of words and it don't seem to change

[2022-06-07 22:59] david-allison commented on #11568
AnkiDroid is already an open source org.

Our 'test' org would need to go through the same process

[2022-06-08 00:42] #11568 closed

[2022-06-08 00:43] Arthur-Milchior commented on #11568
Thanks a lot for clarifying. I misunderstood your original concern then, my bad.
I could honestly have imagined it was never declared as such before as we didn't have a need for it. But happy to know I got it wrong

[2022-06-08 06:45] ahielg opened #11569 "[Bug]"
###### Reproduction Steps

1. Open AnkiDroid
2. Click on refresh arrows

###### Expected Result
 The three dots menu will not disappear.

###### Actual Result
 The three dots menu disappear

- [ ] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [ ] I have checked the [manual](https://ankidroid.org/docs/manua

[2022-06-08 08:18] krmanik opened #11570 "Switching `mViewerUrl` away from a `file://` scheme"
One approach worth considering in the future is switching mViewerUrl away from a file:// scheme, and using a fake https URL instead. Android appears to provide a helper class to make it easier to serve file content from shouldInterceptRequest: https://developer.android.com/reference/androidx/webkit/WebViewAssetLoader

_Originally posted by @dae in https://github.com/ankidroid/Anki-Android/issues/1

[2022-06-08 12:22] mikehardy commented on #11569
Hi there! I believe this is fixed in the latest releases: https://github.com/ankidroid/Anki-Android/releases

You removed the debug info section on our template, which includes valuable information like what version you are using, so I can't say if you have tried the latest release or not, but you should give it a try, I think it will work

[2022-06-08 23:49] david-allison commented on #11116
@Jatin887 You mentioned this was done, but I can't see classes such as `Reviewer`, `DeckPicker`, `AbstractFlashcardViewer` etc..., have I missed a PR?

[2022-06-09 03:57] pavreh opened #11574 "[Regression] Samsung browser copy paste is broken"
###### Reproduction Steps

1. Open a web Page and copy a text
2. Edit a card in Ankidroid
3. Paste to a blank field

###### Expected Result

The text is pasted to the field.

###### Actual Result

The text is not pasted. The field remains empty.
To open clipboard and paste works.

###### Debug info

AnkiDroid Version = 2.16alpha67

Android Version = 11

Manufacturer = samsung

Model = SM-A225F

Ha

[2022-06-09 07:06] dae opened #11575 "Very slow debug builds - contains solution sketch, needs dev"
On my Linux machine with the latest main, adding a comment to a file and building again takes close to a minute, making the code/build/test cycle painful:

[code]

If I remove the in-process change in f5ecb05efc3117238cbd42935542176d4436ee5f, small changes like adding a new function are dramatically faster:

[code]

[code]

Tested with

[code]

[2022-06-09 07:10] sjl872964789 opened #11576 "[Bug] Previews sometimes take place out of normal order and never end"
###### Reproduction Steps

1. Click the menu
2. Click "Card Browser"
3. Search for any character
4. Click the three dots in the upper right corner
5. Click "Select All"
6. Deselect one of the check boxes
7. Select the check box again
8. Click the three dots in the upper right corner
9. Click on "preview"

###### Expected Result

Preview in the normal order, and the preview works normally

###### A

[2022-06-09 11:58] BrayanDSO commented on #11575
I've noticed a build lag as well  recently and the timing fits with f5ecb05efc3117238cbd42935542176d4436ee5f

[2022-06-09 13:08] #10840 closed

[2022-06-09 13:08] #10841 closed

[2022-06-09 14:16] mikehardy commented on #11575
Yes - I noticed that myself while working on the change. I'm struggling to balance the ability to fit in CI machines now that we have so much Kotlin we're blowing up the JVMs running the build in CI completely (total CI failure) vs the speed here.

I swung the pendulum away from "CI unit tests fail" which is nice but seem to have gone too far in the "but the consequence is crap performance" direct

[2022-06-09 15:03] mikehardy commented on #11575
Okay, a quick mitigation (or perhaps final solution) sketch is:

- switch from defining kotlin execution strategy in gradle.properties to configuring it in groovy for compile task - https://kotlinlang.org/docs/gradle.html#defining-kotlin-compiler-execution-strategy

Do that conditionally based on our CI variable that already exists
https://github.com/ankidroid/Anki-Android/blob/167a21e180e4b3924bf

[2022-06-09 16:16] krmanik commented on #11576
You have to click on arrow to view the next question.

[2022-06-10 06:01] dae opened #11582 "Consider using idiomatic capitalization in backend interface"
DroidBackend is currently a mix of snake_case and camelCase names. Presumably the former was picked to more closely match the Python and Rust code, but I'd humbly suggest it would be better to use the more idiomatic camelCase, as that is less surprising, and will let you avoid editor warnings. Anki's TypeScript code uses camelCase too, as does the default codegen for protobuf files in Kotlin/Java.

[2022-06-10 21:54] BrayanDSO opened #11586 "[Bug] Crash if Suspend or Bury is on the app bar"
###### Reproduction Steps

1. Have `Suspend` or `Bury` as `Always show`
2. Start reviewing cards

###### Expected Result

Review cards as always

###### Actual Result

App crashes

###### Debug info
2.16alpha67 released on GitHub
[code]

###### Research
*Enter an [x] character to confirm the points below:*

- [X] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting

[2022-06-10 21:55] BrayanDSO commented on #11586
Haven't tested with another app bar options.

Here's the stacktrace I've got:
[code]

[2022-06-10 22:00] BrayanDSO commented on #11586
b0a2bdcdc7f2d834ea936e7660075105fac1038b seems to be the cause

[2022-06-11 00:45] oakkitten opened #11587 "[Bug] Tapping on the ‘Card Browser’ Menu thing doesn't fill in the input field of Card browser with the search term"
###### Reproduction Steps

1. Select some text
1. Tap on the ‘Card Browser’ Menu thing

###### Expected Result

Card browser search input is filled with the search term

###### Actual Result

Card browser search input is empty

###### Debug info

AnkiDroid Version = 2.16alpha65

Android Version = 11

Manufacturer = Xiaomi

Model = Mi A2

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; An

[2022-06-11 00:57] oakkitten opened #11588 "[Bug] When Full screen navigation drawer is enabled, dragging finger across Card browser search field does not move the cursor but instead opens/closes the drawer"
###### Reproduction Steps

1. Enable Full screen navigation drawer
2. Go to Card browser
3. Type some text in the search input
4. Drag finger across text (do not drag the cursor handle)

###### Expected Result

Cursor is moved

###### Actual Result

Drawer is opened/closed

###### Debug info
AnkiDroid Version = 2.16alpha65

Android Version = 11

Manufacturer = Xiaomi

Model = Mi A2

Hardware = qco

[2022-06-11 05:14] Jatin887 commented on #11116
I didn't change that because i feel these activities doesn't require changes. Implementing View Binding is not worth in these
Because they are not inflating any xml file. but if you want me to implement i will do that :)

[2022-06-11 07:04] oyeraghib commented on #11492
@lukstbit I have a concern here as you mentioned in the Expected Result that "The expected result would be to see the full drawn image rotated according to the rotation".

What I have the doubt is that if we think of the screen as the canvas then on rotation (let's say from Portrait to Landscape) we might should not rotate the canvas itself as in a real life case scenario. We just rotate our devic

[2022-06-11 10:30] lukstbit commented on #11492
I'm not sure I understand your question/suggestion.

If I'm in portrait and then switch the orientation to landscape then the image gets cut as the portrait height is greater than the height in orientation. This makes me unable to draw on a good chunk of the image that I draw before in portrait orientation.

A fixed size canvas would be difficult to implement because on touch we would have to draw

[2022-06-11 18:09] Arthur-Milchior commented on #10510
@Jatin887 are you still on this issue?

[2022-06-11 18:12] #11575 closed

[2022-06-11 18:23] #9811 closed

[2022-06-11 20:22] mikehardy commented on #11091
Local jacocoAndroidTestReport flakes

This one is really flaky for me on linux at least:

[code]

Not quite as flaky but shows up
[code]

Managed to get at least one run through these so they *can* pass, just flaky

[2022-06-12 03:15] oyeraghib commented on #11492
My bad, I'll try to make it more clear through some examples (of two different apps) I went through.

App 1 :
- We can rotate the canvas following Android screen orientation.
- We can zoom in and zoom out of the canvas.
-

https://user-images.githubusercontent.com/40427461/173212541-6b2ec3bc-6695-44ba-b8a7-a6fc0e950837.mp4

App 2 :
- We cannot do the normal Android orientation, as app is fixed in

[2022-06-12 12:48] BrayanDSO commented on #10619
Reverted. Patched by #11555

[2022-06-12 13:17] mikehardy commented on #11492
:thinking:
I don't like orientation locks, I think if the user rotates that phone that's an intentional action in most cases (or they rotate it back, also intentional). Rotation should be allowed
I think the switch from portrait to landscape, if the canvas is not resized, leads to a kind of laughably small whiteboard.

I think these are little finger drawings for pictographic languages mostly, jus

[2022-06-12 21:39] Arthur-Milchior opened #11608 "[Bug] settings or preference: be consistent"
Open the "settings". You get a menu called "preference". I don't care which one we use, let's be consistent here. @BrayanDSO I believe it may be relevant to your project (and probably not really harder)

[2022-06-13 00:27] ANKIFETISH opened #11609 "[Bug] [Feature Missing] Filtered Decks missing multi-steps"
###### Reproduction Steps

1. AnkiDroid 2.15.2 (The official Google Playstore version)
2. AnkiDroid 2.16alpha67 (GitHub)
3. Anki Mobile (iOS version)
4. Anki Desktop (latest)

###### Expected Result

Filtered Decks should show multiple steps upon review (Again, Hard, Good, Easy[End]), just like regular unfiltered decks would show.

###### Actual Result

Filtered Decks on AnkiDroid on official and

[2022-06-13 01:49] sohilsayed opened #11610 "Sort new cards by field"
Add the ability to sort new cards by field like in the cards browser

[2022-06-13 14:07] mikehardy commented on #11610
Hi there!
Can you be more specific about exactly the steps that get us to the point where you want the change, and how you would have the feature work?
Is this possible in AnkiDesktop?

[2022-06-13 14:20] dae commented on #11609
Filtered decks with rescheduling off have 2 buttons in v2, and 4 buttons in v3

[2022-06-13 14:33] sohilsayed commented on #11610
Sorry for not being clear i meant reposition new cards by a certain field
Like having new cards appear According to rank field

[2022-06-13 15:05] #11608 closed

[2022-06-13 15:11] #11609 closed

[2022-06-13 15:12] mikehardy commented on #11610
I don't believe that is supported upstream - if you can verify this is possible in Anki Desktop, then we may reopen this as an anki compatibility issue, assuming it is not possible yet upstream then the best path forward is to request the feature in https://forums.ankiweb.net to see if it may be implemented, then we follow here

[2022-06-13 15:40] mikehardy commented on #9670
This came up in a play store review comment again. People want the S-Pen, but the license is hostile. Did you get any feedback from them @BrayanDSO ? Just curious

[2022-06-13 15:43] BrayanDSO commented on #9670
Nope

[2022-06-13 15:49] BrayanDSO commented on #10706
2 months already? Oh time flies for sure. Later, dear bot

[2022-06-13 18:34] mikehardy commented on #4489
Fantastic! A really really old bug bites the dust

[2022-06-13 18:34] #4489 closed

[2022-06-13 18:54] divyansh-dxn commented on #11091
The test says, `doesNotShowLanguageHintOptionIfBelowN` so running on AVD_AP1-31 should fail. I think the test should be skipped if on api level above 25.

[2022-06-13 18:57] mikehardy commented on #11091
@divyansh-dxn I think that is a simplistic view. The test should verify above N that the hint *does* show (test the positive), while below N it should verify it does *not* show (test the negative). If you disable the test there will be no test exercising that the hint shows up, I think?

[2022-06-13 19:09] divyansh-dxn commented on #11091
Yes, you're right. I missed it.

[2022-06-13 19:13] divyansh-dxn commented on #11091
Also, one thing I noticed running the test function individually passes always, while running the test class fails it.

[2022-06-14 02:01] ANKIFETISH commented on #11609
Thank you both for quick response! Now I can be at peace [believe me, i thought i was doing something wrong]. I will follow those issues. Thank you once again!

[2022-06-14 02:21] #10307 closed

[2022-06-14 02:52] mikehardy commented on #11609
I honestly didn't know about it myself and was also suffering, came in handy just this evening for me personally :-)

[2022-06-14 03:54] Juddd commented on #10330
Thanks for [krmanik](https://github.com/krmanik)'s solution

[2022-06-14 03:54] Juddd commented on #10330
Thanks for [krmanik](https://github.com/krmanik)'s solution

[2022-06-14 03:54] #10330 closed

[2022-06-14 04:40] Rahey94 opened #11620 "Possible memory leak?"
Hi all,

I recently started experiencing a problem with Ankidroid:

When I do reviews over a long period of time, the cards get slower and slower to load, until eventually the app crashes. Upon crashing, a message appears saying that Webview failed due to lack of memory.

Upon restarting the app, the process repeats: At the beginning the cards all load instantaneously, but the more reviews I do th

[2022-06-14 05:22] pavreh commented on #4764
Tested with Anki version ⁨2.1.53 Qt 6 (Windows) and AnkiDroid version 2.16alpha67. I cannot reproduce this bug. The saved search is still present in Anki PC after sync. Someone should test it in Linux.

[2022-06-14 05:49] fastcat001 opened #11621 "Error syncing media data"
<img width="498" alt="image" src="https://user-images.githubusercontent.com/73415472/173502684-200ed274-7de5-448f-b566-b1640bbbba39.png">

This error happens on Ankidroid, Android 11.

Wastes 1 hour to finish synchronizing from the desktop app and ends up with this error.

[2022-06-14 09:58] MedBooster commented on #9670
Is the reason for the "hostility" that people would be able to view the code, and Samsung doesn't want the S-pen gestures code to be visible? Why would it be different with non-open-source apps. I am sure anyone that really wants to access it would still be able to. Seems like Samsung is a bit too careful here, don't they see that these features are opportunities for Samsung users to actually appr

[2022-06-14 10:11] BrayanDSO commented on #9670
I've sent another message to their support yesterday. Let's see if I get an answer this time.

[2022-06-14 11:26] krmanik commented on #10766
still searching for solutions

[2022-06-14 13:29] mikehardy commented on #11620
Hi there! This is most likely related to fonts, as a guess. Do you have custom fonts installed?
Those are the things that cause WebView to leak memory. In general if it is a memory leak inside the WebView we can only mitigate it, we cannot fix it, until/unless Google issues an update to the underlying Chrome library / WebView system component.

If it's just default fonts + audio, that's a new one!

[2022-06-14 13:31] #4764 closed

[2022-06-14 13:34] mikehardy commented on #11621
Hi there! You assert "wastes", please be aware that sync is a "convergent" process. That means, every time you sync, it gets closer to being in sync. No time is wasted, whatever progress was made is real progress and your device is that much closer to in sync.

How did it go when you re-started syncronization? Does it begin syncrhonizing media again and start making more progress?

If so, then aft

[2022-06-14 13:59] david-allison commented on #11116
My understanding was that this change was getting rid of `findViewById` and associated `lateinit` variables. `setContentView` leads to a lot of `findViewById` calls

What are the benefits/downsides of leaving them in place?

[2022-06-14 14:33] LL12138LL opened #11626 "An error occurs when you change an ordinary word into a cloze"
###### Reproduction Steps

1. Add a new word
2. Edit the word
3. Change the type to cloze
4. Fields cannot be edited
5. Previewing the word at this time will show an error

###### Expected Result

Fields can be edited normally

###### Actual Result

Fields cannot be edited, and previewing will fail

###### Debug info
AnkiDroid Version = 2.16alpha67

Android Version = 11

Manufacturer = OnePlus

Mo

[2022-06-14 17:38] dorrin-sot commented on #11587
Hi sorry I couldn't understand what you mean by "select some text". could you please  provide a video or screenshot?

[2022-06-14 17:42] dorrin-sot commented on #11574
Hi I couldn't reproduce this. Could you please show a video of these steps?

[2022-06-14 18:06] pavreh commented on #4764
@mikehardy It's my pleasure to help with this awesome app. Pavel

[2022-06-14 18:18] oakkitten commented on #11587
You literally select some text anywhere in the app, then tap on the triple dots in the popup menu (the one with Cut, Copy, Paste), and then tap on Card Browser.

[2022-06-14 18:42] pavreh commented on #11574
Well, this can be reproduced with Samsung Internet browser only. I tried to copy from Opera Mini now and copy/paste works. But copy/paste from Samsung Inernet to other apps works too.

[2022-06-14 21:22] oakkitten commented on #11587
By the way, we are these two menu items supposed to work in other apps? The setting summary says "Enables ... context menu globally", but it seems that it only enables the items inside AnkiDroid.

[2022-06-15 01:49] Rahey94 commented on #11620
Hi, thanks for your reply!

I do have custom fonts installed, and use them on all of my cards. If custom fonts cause WebView to leak memory, that must be the underlying problem.

It's a bummer there's no way to fix it - I guess I'll either have to switch to default fonts or just hope Google does something on their end.

Thanks again!

[2022-06-15 01:49] #11620 closed

[2022-06-15 01:51] Rahey94 commented on #11620
This issue is likely caused by custom fonts, and is not an Ankidroid problem.

[2022-06-15 03:35] mikehardy commented on #11620
Please do report back if switching to default fonts as a test relieves the memory leak - if it doesn't then we may have something new in the leak department and there is always the chance we can do something to mitigate it

[2022-06-15 04:25] Rahey94 commented on #11620
Will do. I'll test it out over the next couple days and reply back here. Thanks!

[2022-06-15 05:37] pavreh commented on #11574
It definitely is a solution to start using a different web browser :-)
Copy/paste from Samsung Internet to AnkiDroid 2.15.6 works.  Only thing which do not work for me is: 1) long tap in Samsung Internet then tap copy. 2) long tap in AnkiDroid 2.16alpha67 note field then tap paste.
It is Samsung Internet version 17.0.6.9.

[2022-06-15 06:27] dorrin-sot opened #11629 "Gradle build takes too long"
Is it normal for gradle build to take 2-3 (sometimes 5 even 😭) minutes every time project is run? I've tried setting gradle to offline mode but it hasn't helped.

[2022-06-15 10:21] dorrin-sot commented on #11629
Oh nice it's good now :)

[2022-06-15 10:21] #11629 closed

[2022-06-15 18:40] #10636 closed

[2022-06-15 18:53] pavreh commented on #11574
I did a research. AnkiDroid 2.16alpha53 and lower works. AnkiDroid 2.16alpha54 and above does not work.

[2022-06-15 21:42] doozan opened #11638 "[Bug] Can't quick open deck stats when no cards scheduled"
###### Reproduction Steps

1.  From the deck list, tapping on the numbers will bring up a screen showing some deck statistics. If no cards are scheduled in that deck, instead of showing the stats there's a banner at the bottom saying "No cards scheduled to study". Since the deck stats are helpful, it would be nice to always show the stats page and, if there are no cards scheduled to study, just gr

[2022-06-15 21:56] david-allison commented on #11638
Hi, could you fill out the 'debug info' section of the template (Settings - Advanced - About AnkiDroid - Debug Info). Thanks!

[2022-06-15 23:28] doozan commented on #11638
I'm seeing this on both the stable 2.15.6 and the latest alpha 2.16 alpha 68

#### debug info ####
AnkiDroid Version = 2.16alpha68

Android Version = 11

Manufacturer = Motorola

Model = Moto X4

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 11; Moto X4 Build/RD2A.211001.002; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/83.0.4103.120 Mobile Safari/537.36

ACRA

[2022-06-16 05:32] Rahey94 commented on #11620
Hi,

I tried changing to a default font yesterday from a custom font and the app still crashed after around 100 cards worth of reviews, which is unchanged from before. The crash happened twice. The error message was a little different today, however: Instead of saying that WebView failed due to a lack of memory, it said that WebView failed due to an unknown error.

In regards to fonts, a couple no

[2022-06-16 12:30] mikehardy commented on #11620
Custom fonts are still custom fonts, and any custom font that's not built in to the webview may be "heavy" with regard to memory usage. So I'm not sure this is really an advance in "what we know" vs "what we think we know".

I don't see anything for Pixel 3as in our crash database or on google's play store crash database:

ACRA UUID = 22093a8d-3099-421d-b128-30c8204cad98

So I don't have a lot of

[2022-06-16 12:59] david-allison opened #11642 "Individual preferences analytics"
Briefly mentioned in Discord by @BrayanDSO

This hasn't been accepted yet

[2022-06-16 13:02] david-allison commented on #11642
I'm in favour of this, as long as we're only tracking taps to understand usage data.

As an extension, we may also want to track 'value changed'. I tap 'Custom Sync Server', but never set it.

An initial tap implies interest in the setting. A value change implies that it's useful and the UX is reasonable.

We need to ensure that this is only fixed preference keys, that the keys are not dynamic, an

[2022-06-16 13:05] BrayanDSO commented on #11642
Agreed with all points

[2022-06-16 13:28] mikehardy commented on #11642
Likewise - as long as we are not tracking PII it meets my personal mission statement for analytics (and what we tell users) which is "steering development by discovering what is actually used".

It appears currently we are logging "screen" hits with a screen name override for the different fragments.
I think it would be reasonable to log a Preferences Event

(https://developers.google.com/analytic

[2022-06-16 13:56] oli200856 opened #11645 "Add feature: Sorting cards by tag--'no tag'"
In the card browser you can choose to sort cards by tag. It would be useful to be able to find those cards without any tag or without a specific tag.

[2022-06-16 16:34] #11645 closed

[2022-06-16 21:39] s204451 commented on #10238
I am also experiencing this issue.

I have done some testing, here's what I found:

It only happens with a particular note type. [Example note type](https://drive.google.com/file/d/17UimTQrlaAzLt0A-oIcE5iQUS_P_Pc2e/view?usp=sharing). If I recreate the note's data with a different note type it doesn't crash in the same situation.

It only happens when I have at least two subdecks and there are card

[2022-06-17 06:41] #10573 closed

[2022-06-17 14:25] #11586 closed

[2022-06-18 10:20] dorrin-sot commented on #11412
Hi @n1snt Are you working on this? if not, I would like to have a go at it 👀

[2022-06-18 10:52] n1snt commented on #11412
@dorrin-sot I'm currently a bit busy & I'm not working on it. You can go ahead & see if you can fix this. Best of luck 👍

[2022-06-18 12:43] dorrin-sot opened #11657 "[Feature Request] NoteEditor Fields showing HTML, CSS Preview right there"
**Is your feature request related to a problem? Please describe.**
It is abit tedious to keep selecting the preview button when nitpicking and tweaking HTML and CSS code (Especially if you're writing it in the "Back" field)

**Describe the solution you'd like**
Something like Anki Desktop (A button at the side to toggle the source code editor below it).
Also as you can see, Anki desktop escapes al

[2022-06-18 12:56] dorrin-sot commented on #11412
Hi @xllhxd Could you please copy paste the texts here?

[2022-06-19 11:36] dae opened #11660 "Minor dev suggestion: don't turn Kotlin warnings into errors except in CI"
Making things like unused variables hard errors makes it more cumbersome to comment out a section of code while testing.

[2022-06-19 13:13] snowtimeglass commented on #10868
Thanks for the fix!

[2022-06-19 14:17] mikehardy commented on #11660
I see what you're saying, but in our experience twice now with the GSoC avalanche, getting errors prior to CI is a big win for us, we push hard for detection of all things that would fail CI to fail immediately on a dev workstation and only through the accumulation of a lot of marginal gains like that are we able to survive March/April/May as maintainers

Is there some more trivial local hack you

[2022-06-20 03:53] dae commented on #11660
Gotcha, I'll do that then.

[2022-06-20 03:53] #11660 closed

[2022-06-20 09:33] dae commented on #11660
Implemented in https://github.com/ankidroid/Anki-Android/pull/11644/commits/ecdf4adf4a3622ba7bc10df78ed21deb5c4930ea in #11644

[2022-06-20 15:42] BrayanDSO commented on #10970
Later, bot

[2022-06-20 17:07] mikehardy commented on #11660
That's a good tradeoff - I like that, local failures pre-CI has been a big help but an override for those that can handle a foot-gun works for me

[2022-06-20 19:07] Arthur-Milchior opened #11664 "UI design course: students' assignment"
TL/DR we got a lot of feedback in there documents ([here](https://t.co/8Hu4NFSpJW), [here](https://t.co/UjMJPHAUqT), [here](https://t.co/D1fqL7bhwm) and [here](https://t.co/gWff8MtK7A)). Potentially more to come later. Some of those feedback may lead to improvement. So a first task is to split this feedback into actionable pieces in different github issues. Even if you disagree with the suggestion

[2022-06-20 19:13] BrayanDSO commented on #11664
I can't open any of the documents because I'm not on the `1sfu-my.sharepoint.com` directory

[2022-06-20 19:17] Arthur-Milchior commented on #11664
I changed links. Please reload the github issue and try the new ones

[2022-06-20 19:57] Arthur-Milchior commented on #11664
[third document](https://t.co/D1fqL7bhwm) received

[2022-06-21 04:54] vincrichard commented on #11620
Hello,
I am having the same issue and it only started a couples of weeks ago (thought the issue was from my phone Redmi Note 7 which is getting old) but Anki droid was the only application with sure issues.
I have been using this deck for a good 2 months without any issues. and issues started around 2 weeks ago.
Usually when I start reviews everything is fine, after ~20 reviews the app slow down s

[2022-06-21 11:49] mikehardy commented on #11620
The thing with issues that start without AnkIDroid being updated (note: AnkiDroid has not been updated in months and months, unless you installed an alpha manually) is that it is usually related to a Chrome WebView update which is out of our control.

For that reason our issue template requests the debug information from the app which contains the webview version information. It would be useful to

[2022-06-21 14:39] oyeraghib commented on #11664
@bnknndy Yes, you can also check if the issue is already there or not. If not then creating a detailed issue on GitHub would be great so that discussion on specific issues could happen easily. And in future it would be nice to see **_"what were the issues reported"_** and **_"how were they resolved"_**. Please also join the [Discord](https://discord.com/invite/hpMsWaF) for more detailed discussion

[2022-06-21 16:19] bnknndy opened #11668 "No feedback provided when creating or deleting decks"
Users receive no explicit feedback when creating or deleting decks.

Specifically, users must confirm whether their action succeeded by checking the deck list. In cases where actions fail, such as when a user attempts to create a new deck with the same name as an extant deck, the user receives no explanation.

![image](https://user-images.githubusercontent.com/7875524/175663594-1bb97602-40a1-4c0f-

[2022-06-21 16:52] bnknndy opened #11669 "Deck deletion not followed by the option to undo"
After deleting a deck, users do not receive a prompt to undo their action.

Specifically, decks have no easy recovery method, unlike AnkiDroid's option to undo card deletion immediately after the action. While users can restore decks from a backup, that functionality isn't accessible.

![image](https://user-images.githubusercontent.com/7875524/175699340-f3eda804-d6cd-4be0-b086-2e9215faa98a.png)

#

[2022-06-21 17:17] bnknndy opened #11670 "Inconsistent methods for creating cards"
Inconsistent methods for creating cards blocks users from developing intuitive understanding.

Specifically, user understanding may be harmed by the lack of consistency between card creation through the deck list FAB and the card browser top-bar "+" button. (The student also mentions deck creation in their summary, but doesn't reference it in any of the detailed discussion or imagery.)

![image](h

[2022-06-21 17:31] bnknndy opened #11671 "Flagged cards in card browser distract more than they help"
Flagged cards add noise and reduce legibility in the card browser.

Specifically, the card browser fills fields with flag colors, some of which cause the browser to violate [WCAG color contrast guidelines](https://webaim.org/articles/contrast/). Also, the fills may distract users when they try to read other cards.

![image](https://user-images.githubusercontent.com/7875524/174862306-4007f6ec-2896-

[2022-06-21 18:08] bnknndy opened #11672 "Insufficient error notification in card template editor"
The card template editor doesn't validate field names.

Specifically, when a user inputs a {{field name}} into a card template which doesn't exist in the card's note type, the user won't discover this until effected cards appear in review or in the card browser, at which point AnkiDroid provides a link to the manual to find out how they can fix the error.

![image](https://user-images.githubuserco

[2022-06-21 20:16] bnknndy opened #11673 "Error message for missing clozes doesn't provide guidance"
When users attempt to save a new cloze card without clozes in any fields, the error they receive provides no guidance regarding how to create that cloze.

Additionally, the user feels that the cloze icon doesn't provide any help regarding the actual creation of clozes.

![image](https://user-images.githubusercontent.com/7875524/175699433-d189d07d-5822-4dd0-adb1-090e7ba5b685.png)

## Relevant heuri

[2022-06-21 20:19] bnknndy opened #11674 "Users may find card type names unfamiliar"
Users may have trouble choosing a card type in the note editor due to unfamiliar terminology.

Specifically, the student felt that terms like "cloze" or "reversed card" weren't familiar enough to new users.

![image](https://user-images.githubusercontent.com/7875524/175699504-e7666eb8-3534-4ebd-9c5f-9e74ff95c20f.png)

## Relevant heuristic

[Match between system and real world](https://www.nngroup

[2022-06-21 20:32] bnknndy opened #11675 "Answer button intervals may confuse new users"
Some new users may not immediately grasp the use of or logic behind \[Again...Good] in the study interface.

Specifically, the student found it confusing for the time labels on the buttons to increase with perceived prompt ease, since they associated a shorter interval with "better" and a longer interval with "worse."

![image](https://user-images.githubusercontent.com/7875524/175699976-bd213741-0

[2022-06-21 22:56] bnknndy commented on #11664
A quick note as I go through these: I see evidence that these researchers engaged the app deeply as users, to a degree that significantly outstrips the usual amount of time one might spend on a heuristic evaluation exercise even after accounting for a professional evaluator's experience level. This imbues their feedback with significant qualitative value.

Gathering this type of insight can be fin

[2022-06-22 00:15] vincrichard commented on #11620
Thanks for explaining where the issue came from.
I will look into it.
There as indeed been a update of the Android System Webview 2 weeks ago, so like you said it is probably link.
My version of Android System Webview is 102.0.5005.125.

[2022-06-22 04:52] Rahey94 commented on #11620
Thanks for commenting that you have the same issue! It's nice to know I'm not alone.

I also never noticed this problem until recently, so the Webview update breaking something theory makes sense.

Please let me know if you're able to find a solution!

[2022-06-22 11:30] pavreh opened #11677 "Setting is difficult to understand - Learn ahead limit"
**Is your feature request related to a problem? Please describe.**
For new users, it is not possible to understand what “Learn ahead limit” setting means. There is just a title “Learn ahead limit” and a value “0 min” (see the picture below).

“Double tap time interval” setting is developed better. There is a title and a hint. A value is visible after tapping on the setting (see the picture below).

[2022-06-22 15:30] Arthur-Milchior commented on #11664
Fourth document in https://t.co/gWff8MtK7A

[2022-06-22 19:15] BrayanDSO commented on #11046
*still searching for solutions*

[2022-06-22 19:31] BrayanDSO commented on #11671
Here I'd just choose colors with better contrast as Anki desktop does
![image](https://user-images.githubusercontent.com/69634269/175120726-d236220d-c398-4d05-ac91-e4c9d7bdf50b.png)

@viciousAegis is the one tweaking the card browser currently and may have something different in mind about flags

[2022-06-23 04:48] shahrd97 opened #11680 "[Bug] Error while importing decks"
###### Reproduction Steps

1. Click Three dots -> Import -> Deck package

Or
Directly open with ankidroid from file manager

###### Expected Result
The deck should be imported

###### Actual Result
I get the error "The system does not have an app installed that can perform this action."
![edited](https://user-images.githubusercontent.com/72303955/175208544-5290f269-2e6a-4133-ac67-607a2ffe7903.jpg)

[2022-06-23 05:37] viciousAegis commented on #11671
The current color palette is:
<img width="1512" alt="Screenshot 2022-06-23 at 10 48 32 AM" src="https://user-images.githubusercontent.com/86671025/175220901-4b2d3179-1aaf-4f30-be7e-05945a6a4450.png">

I propose something like this, just muted shades of the colors (for the light theme). For the dark and black themes, we can use darker shades to contrast better with the text:
<img width="1507" alt="

[2022-06-23 10:11] prateek-singh-3212 commented on #11680
Thanks @shahrd97 for reporting this issue. Please share the debug info you can find it in Settings -> Advanced -> About Ankidroid -> Copy Debug info. It will be easier for us to analyse the issue.

[2022-06-23 10:34] shahrd97 commented on #11680
AnkiDroid Version = 2.16alpha68

Android Version = 10

Manufacturer = realme

Model = RMX2001

Hardware = mt6785

Webview User Agent = Mozilla/5.0 (Linux; Android 10; RMX2001 Build/QP1A.190711.020; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/80.0.3987.99 Mobile Safari/537.36

ACRA UUID = 0347584a-dbe5-4662-9e7a-a82fd9e02b2a

Scheduler = std2

Crash Reports Enabled = true

Databas

[2022-06-23 14:05] BrayanDSO commented on #11671
As long as they pass accessibility scanner, I'm fine with any color choice.

[2022-06-23 14:09] BrayanDSO commented on #11668
Part on #10401. About deleting feedback, I think that a snackbar with something like `Deck "foo" deleted` should be good

[2022-06-24 04:43] Rahey94 commented on #11620
Hi,

As requested, here's the .apkg of the deck I've been using. I had to delete all the media, otherwise it was too big to upload.

Thanks!
[Japanese - Core10000.zip](https://github.com/ankidroid/Anki-Android/files/8973202/Japanese.-.Core10000.zip)

[2022-06-24 12:16] dorrin-sot commented on #11674
Oh my god I also still don't know how some of the card types work 😅
I suggest adding a small button next to the type-selector spinner(like below) which would display a tabbed dialog that explains the basics of each type, how they are created, reviewed, and deleted.

![image](https://user-images.githubusercontent.com/59933477/175532120-1b59ff44-e70a-416e-a4f5-bf9140c6c60e.png)

[2022-06-24 17:28] dorrin-sot commented on #11672
Can I work on this?

[2022-06-24 17:58] homocomputeris commented on #11620
I have the same issue with enforced default fonts
[code]

[2022-06-24 18:32] mikehardy commented on #11672
@dorrin-sot sure!

[2022-06-24 18:36] mikehardy commented on #11620
Oh no @homocomputeris - have you tried uninstalling webview updates to see if we can locate this in the webview? Only temporarily for a test of course as the updates contain security fixes and I don't want to expose anyone to security attacks

[2022-06-24 19:14] homocomputeris commented on #11620
It seems I have no WebView updates installed (at least I cannot uninstall anything). My current version is 102.0.5005.78

[2022-06-24 19:34] mikehardy commented on #11626
There was a proposed PR for this one but it's a lot more complicated than I thought at first glance. Related commentary:

https://github.com/ankidroid/Anki-Android/pull/11627#pullrequestreview-1007284754

https://github.com/ankidroid/Anki-Android/pull/11627#discussion_r897827680

[2022-06-24 20:27] bnknndy commented on #11671
@dorrin-sot I think that's a cool idea. Both proposed fixes have merit here, and might benefit from being combined.

Having some kind of flag icon displayed *and* more palatable background colors would provide helpful redundant signaling for everyone and extend accessibility for the colorblind.

[2022-06-24 20:29] bnknndy commented on #11668
Oh, thanks for tagging that one. Is it feasible to stick an undo button on the snackbar for each of those?

[2022-06-24 20:34] BrayanDSO commented on #11668
@bnknndy As for adding the button, yes, it's simple to add one.

As for the button action, I know Anki desktop is able to undo deck creations and deletions, so our code may be able to do it as well (i.e. I haven't checked it up)

[2022-06-24 20:35] BrayanDSO commented on #11668
Maybe just `Deck deleted` or `Deck created` would be better because deck names can be really long, which wouldn't show well on a snackbar

[2022-06-24 20:41] bnknndy commented on #11668
@BrayanDSO that makes sense. I think the likelihood of people creating and deleting decks without knowing what they're manipulating is probably pretty low. A generic confirmation should be fine since they'll have the visual feedback of the deck list and the snackbar, possibly with the undo option (I forgot it was a separate issue #11669) but definitely with the ability to manually recover a backup

[2022-06-24 21:18] bnknndy commented on #11674
@dorrin-sot I agree with the idea of a dialog. Regarding creating, reviewing, and deleting, I would push back and ask:

* How much of that do they need to know in that particular stage of creating or editing?

  Info on reviewing and deleting might work better in the particular contexts of reviewing and deleting (in the reviewer and in the card browser, respectively).

* Do users even need to know

[2022-06-24 21:44] BrayanDSO commented on #11674
I'd only add the icon to the manual.

This probably isn't something everybody will get after only reading some dialog messages.

For this, the manual must be well organized (i.e. at least a section and subsections for each type) with examples and screenshots.

(thinking out loud) maybe add a custom link scheme on the manual, so the user may tap an example and the app would open on the Add Note scr

[2022-06-24 22:06] bnknndy commented on #11674
I agree, but having people get it isn't necessarily a useful goal. People just need enough information to feel confident taking action and seeing what happens, with the knowledge that they can get deeper information if they need to at any point in time. We don't need them to learn any more than needed to be able to accomplish their goals with AnkiDroid.

The AnkiDroid manual depends heavily on the

[2022-06-24 22:37] bnknndy opened #11688 "No convenient way to edit note immediately after creation"
AnkiDroid currently doesn't offer a way to easily access the most recently created note immediately after submission.

Specifically, AnkiDroid offers no recourse if a user happens to save a note and immediately realize that they had further changes to make, that they made a content error, or that they saved by accident. The user has to navigate out of the note editor, navigate to the card browser,

[2022-06-24 22:49] bnknndy opened #11689 "Card browser displays "type in the answer" cards confusingly"
New users may find confusing the unique display method for type-in cards.

Specifically, the fact that field content looks identical for both the Question and Answer columns, which is not the case for Basic, Basic and reversed, or Cloze cards.

![image](https://user-images.githubusercontent.com/7875524/175719849-781ac9a5-3bbc-489a-93e0-1d27f5d92de4.png)

## Relevant heuristic

 [Consistency and st

[2022-06-24 22:56] bnknndy commented on #11689
Just found that this is #10555. I suggest looking there for more info. Should have scrolled more before making a new issue -- apologies for the spam.

[2022-06-24 22:56] #11689 closed

[2022-06-24 23:06] bnknndy opened #11690 "Small tap targets for single-line cards"
Single-line cards offer much smaller tap targets than multiline cards.

Specifically, the student feels the tap targets are too small to reliably prevent user error when selecting single-line cards.

![image](https://user-images.githubusercontent.com/7875524/175721130-5a5b7a3d-997b-4a3f-960d-cf2f3bcd34fe.png)

## Relevant heuristic

 [Error prevention](https://www.nngroup.com/articles/slips)

"Pre

[2022-06-24 23:07] bnknndy commented on #11690
[Material guidelines](https://material.io/design/usability/accessibility.html#layout-and-typography) suggest a touch target minimum of 48x48

If the current one-line card has a touch target smaller than that, that might be an issue, but if it's larger, does it really matter? Tagging you @viciousAegis since this concerns the browser ux

[2022-06-25 09:12] BrayanDSO commented on #11688
Here I'd go with #11213

[2022-06-25 09:17] BrayanDSO commented on #11675
As said in the "Impact" and "Persistence" topics, the user will get how it works with time (or will have already got the idea since this is a flashcard app)

To aid them on this matter, I think this should be a part somewhere on Onboarding "Hey, now this card will show only after 4 days!"

[2022-06-25 09:20] BrayanDSO commented on #11673
Maybe a snackbar with a button "Show me how" or simply "Help" which will trigger a Onboarding tutorial.

I like it because it isn't intrusive (i.e. won't show if the person already knows how clozes work) and it's easily repeatable, so the user may see the tutorial how many times they want

[2022-06-25 10:11] homocomputeris opened #11692 "[Bug] alpha 69 does not sync"
###### Reproduction Steps

1. Use alpha 68, 69 parallel A
2. Try sync
3. Get error

###### Expected Result
The version from Play Store (installed in parallel) syncs successfully

###### Actual Result
Error
![Screenshot_20220625-130857_AnkiDroid A](https://user-images.githubusercontent.com/7422433/175769038-42f954cb-3781-47a1-96a8-b9bd8f311262.png)

###### Debug info
Refer to the [support page](htt

[2022-06-25 11:28] dorrin-sot commented on #11671
Just realized that for the cards that are both flagged and marked we don't display them being marked (for example if a card is both red-flag and marked, it's just shown red). Would it be better to remove the coloring for marked cards completely and instead display the mark icon next to them? This would also fix the issue of the purple flag background being too similar to the marked background.

[2022-06-25 12:08] dorrin-sot commented on #11674
Ooh the Onboarding class is interesting. Since we already have that, we can use it for the very basics of each card type (like how we already have for the "Basic" card type note creation). Then the "i" button would have abit more info and inside that dialog we would also include a like to the card types section of anki manual

Though I think if we use the Onboarding, it should be after the user cr

[2022-06-25 12:14] dorrin-sot commented on #11674
But that has the issue of overwhelming them with too much info

Not sure if this is the best approach but maybe we can add a "copy to clipboard" or a "google translate" IconButton that opens google translate directly (with the text) in it?
Also I'm pretty sure it's possible to make TextView's text selectable

[2022-06-25 13:19] viciousAegis commented on #11690
@bnknndy I mentioned this in my proposal as well, that the minimum number of lines shown should at least be 2/3. That's a simple change and should not take me long 👍

[2022-06-25 14:02] MagTun opened #11695 "[Bug] Unable to open decks with latest alpha releases starting from 2.16.apha66 when "reschedule" is set to "always show" (cf settings/appearance/app bar button)"
###### Reproduction Steps
Start with a device having AnkiDroid-2.16alpha65-armeabi-v7a.apk
1. Install AnkiDroid-2.16alpha66-armeabi-v7a.apk or the following alpha release (I tried 68 and 69, skipping 67): all have the same bug (cf actual result)

###### Expected Result
I should be able to open my decks to do my reviews

###### Actual Result
The app crashes when I open a deck (filtered or not)

###

[2022-06-25 14:19] MagTun opened #11696 "[Bug] "All decks" doesn't work anymore (in "card browser" and "statistics")"
###### Reproduction Steps

1. open the left menu and select "card browser" (or statistics)
2. in the top menu, select "All decks'

###### Expected Result
I should see all the notes from all of my decks (or all the statistics)

###### Actual Result
No cards are displayed and not stats are displayed even though I have done several reviews today (cf the third printscreen)

![1656165980907](https://us

[2022-06-25 14:44] mikehardy opened #11697 "kotlin auto-formatting not working correctly *maybe* - needs triage"
###### Reproduction Steps

1. run `./gradlew ktlintCheck` - it should pass
2. perhaps use Android Studio formatter - @dae do you have a current code example?
3. note that there are spacing changes in the diff
4. run `./gradlew ktlintCheck` again, it passes again. How did it pass first time and this time despite spacing changes? One should have failed right?

###### Expected Result

That `./gradlew

[2022-06-25 15:03] mikehardy commented on #11692
I think you have an actual network error *or* ankiweb was perhaps down for a while
I just tried 2.16alpha69.A and 2.16alpha69 and both sync fine for me

Additionally sync13.ankiweb.net does respond to ping :shrug:  --> can't reproduce right now - we can reopen if still happening, ideally with corroboration from someone else

[2022-06-25 15:03] #11692 closed

[2022-06-25 15:09] mikehardy commented on #11101
How time flies :-)

[2022-06-25 15:10] bnknndy commented on #11673
That makes sense. I don't think it even needs the description of the error or the link to a "show me how," it can just say "Long-press words in your Text field to create a cloze deletion."

Unless you think the snackbar should pop up a dialog with a little animated GIF, which I could see being useful if people don't understand how to select text (a very real possibility!)

[2022-06-25 15:18] mikehardy commented on #11695
I don't reproduce this personally (so perhaps a check database would help?) but I do see your crash!

[code]

https://ankidroid.org/acra/app/1/bug/2651/report/3df33eb7-af8b-422a-b4c5-88a4ffa83c37

logcat in case it is useful

[code]

[2022-06-25 15:26] mikehardy commented on #11695
I believe there was some nullability changes in the area between alpha65 and alpha66 so a bisect there and examination of assumptions may be useful

https://github.com/ankidroid/Anki-Android/compare/v2.16alpha65...v2.16alpha66

That was a big release unfortunately - hopefully with the stack trace + logcat and a `git blame` - even in the absence of de-obfuscated symbols - this is possible to track

[2022-06-25 15:31] mikehardy commented on #11696
Hmm - I cannot reproduce this one either, with 2.16alpha69

I don't doubt you are having problems - I'm trying to reproduce and I see your stack trace from the crash you mention here in optional information (pasted into #11695 ) so something is going wrong but I just don't know what :thinking:

[2022-06-25 15:32] mikehardy commented on #11696
Not sure if it is okay for you or not, I totally understand some collections have private information and are not share-able, however it may help to have your colpkg here for inspection if it is safe to do so

[2022-06-25 15:39] vincrichard commented on #11620
Hello, to update on the matter, I have downgrade the Android System WebView to 83.0.4103.101 and Ankidroid work without an issue.
I guess for now I will uninstall / reinstall every day

[2022-06-25 15:41] bnknndy commented on #11674
I agree @dorrin-sot. But we can't guarantee someone won't explore card types before they finish creating their first card. (Well, we can, if AD forces people through a process where they create a basic card first. But if a user doesn't *want* to create a basic card first, we risk turning them away.)

Material Tap Target Prompt allows creating robust trigger conditions (really cool). That was what

[2022-06-25 15:45] mikehardy commented on #11620
@vincrichard I guess that at least isolates the problem into the WebView. I think chrome webview 103 just came out, hopefully they will fix it soon, or 103 already fixes it?

[2022-06-25 15:53] homocomputeris commented on #11692
Thanks for checking it.
Probably something strangely specific for my case. Although strage taking into account the fact everything syncs on the same device in the release version

[2022-06-25 15:53] MagTun commented on #11696
Thanks a lot for your help!

My friend (who has the model of phone than me) was able to update to 69 without any problem, so yes, the problem probably comes from my database and from this bug.

I can share with you my colpkg. But I didn't find how to do it with ankidroid (it exports an apk). I can do it with anki desktop, but it exports all the media from all my decks even though the 2 decks I wan

[2022-06-25 15:54] MagTun commented on #11696
Thanks a lot for your help!

My friend (who has the model of phone than me) was able to update to 69 without any problem, so yes, the problem probably comes from my database and from this bug.

I can share with you my colpkg. But I didn't find how to do it with ankidroid (it exports an apk). I can do it with anki desktop, but it exports all the media from all my decks (it takes ages and will be he

[2022-06-25 16:02] MagTun commented on #11695
I forgot to mention in this issue that I have check the database several times both on ankidroid and anki desktop (before and after the updates)

Also, for the full story, I was first on 62. Then I had the bug mentioned [here](https://github.com/ankidroid/Anki-Android/issues/11696). I checked my database several times and as it didn't solve the bug with "all decks", I installed 69. It didn't fix t

[2022-06-25 16:06] MagTun commented on #11695
I forgot to mention in this issue that I have check the database several times both on ankidroid and anki desktop (before and after the updates)

Also, for the full story, I was  first on 62. Then I had the bug mentioned [here](https://github.com/ankidroid/Anki-Android/issues/11696). I checked my database several times and as it didn't solve the bug with "all decks", I installed 69. It didn't fix

[2022-06-25 16:18] WiliTest opened #11698 "[Bug] swipe back in card browser doesn't apply the change we made (by editing a card or deleting it)"
###### Reproduction Steps

1. Click on a deck to review your card
2. Select some words on your card,
3. On the menu chose "Card Browser"
4. Then click on the card to edit it (or delete it)  ★
5. apply the change
6. then swipe left to exit the search.
7. then swipe left again to go back on the reviewing panel.

★: (I often use this trick to correct or merge several notes from the same deck that con

[2022-06-25 16:27] MagTun commented on #11696
Thanks to the log you shared in my other issue, I was able to find the card that caused the very first bug (when I edited the last card of a deck and changed its deck). I deleted this card, check the db, but it didn't solve the bug with "all decks": the card browser and the stats are still empty.

[2022-06-25 16:47] BrayanDSO commented on #11698
It's somewhat related to #11046 on the topic of "Reviewer not reloading after changes"

In the case of this issue since this was triggered by the context menu (i.e. not from a `startActivityForResult()` launched from the Reviewer), the reviewer doesn't get the result that the card browser changed the collection and that it should reload.

[2022-06-25 17:45] mikehardy opened #11700 "If Rust lib fails to load, show user an appropriate error message"
Context: We are about to drop the legacy Java anki lib, and rely completely on the Rust lib. So if the Rust lib fails to load there will be no collection access, but it is not because of corruption

Related #11644 / #11581

----

Architecturally, I don't mind as long as there's a cleanup attribute.

When this causes a crash, the user won't have migrated to the new storage mechanism, and their coll

[2022-06-25 21:41] #10488 closed

[2022-06-25 21:50] #11112 closed

[2022-06-26 02:32] TacoTheDank commented on #10909
Still waiting, I suppose.

[2022-06-26 04:12] dae commented on #11697
Starting from latest main:

- ktlintCheck reports no errors
- use Android Studio's Reformat Code option on DeckPicker.kt
- ktlintCheck now reports a bunch of errors
- ktlintFormat fixes the errors, but the code is not the same as when I started (see diff at bottom)

So it seems ktlint is not able to give a canonical formatting. I wonder if it could be made to split long lines
like AS has done? IMH

[2022-06-26 04:42] dae commented on #11697
You can add this file:

[code]

Then it will reformat long lines, though it refuses to handle some of them:

[code]

It looks like a net improvement once those issues are worked out, but it's going to cause conflicts on a bunch of pending PRs :-(

[2022-06-26 13:10] mikehardy commented on #11697
That's a good finding, thank you. Especially if it is just for spacing and will cause conflicts, best to hold off a bit until it's fully understood, things like:

- exactly why not? do we care? can we get Android Studio and ktlint to agree etc (https://stackoverflow.com/a/60724218/9910298)

Perhaps the only solution it to always use the gradle task and bind that somehow in android studio to auto-f

[2022-06-26 15:20] dorrin-sot opened #11703 "[Bug] Unlike Anki Desktop, trying to delete Default deck doesn't delete its notes"
###### Reproduction Steps

0. If Default deck is empty, create some notes in it
1. Tap and hold Default deck
2. Choose "Delete deck"

###### Expected Result
All notes inside it would be deleted and then the error "The default deck can't be deleted" is shown

###### Actual Result
Only the error "The default deck can't be deleted" is shown

###### Research

- [x] I have read the [support page](https

[2022-06-26 18:35] Prince-kushwaha commented on #11703
@mikehardy can i work on this issue

[2022-06-26 19:37] mikehardy commented on #11703
@Prince-kushwaha sure! Can you please do me a favor and double-check that anki desktop does actually do exactly what is described? Just to make sure - I don't use it personally and this involves destruction of user data (with the delete) so making sure is worth it. Then absolutely

[2022-06-26 19:59] Arthur-Milchior opened #11705 "[Bug]Kotlin conversion tools uses backtick instead of []"
###### Reproduction Steps

1. Search for a file with `{@code foo}`
2. automatically convert it to kotlin

###### Expected Result

`[foo]`

###### Actual Result

[code]

###### Debug info

Since we won't fix the correction tool, if someone is good with script, it may be helpful to adapt the ./tools/convert.sh script so that:
* for each `{@code foo}` it finds in deleted java
* it replaces backquoted

[2022-06-26 20:03] david-allison commented on #11705
That's a correct conversion. we should be using `{@link }` in the Java.

[2022-06-26 20:22] Arthur-Milchior commented on #11705
Oh, makes total sense.
Yeah, then I guess the correct task would have been to transform `@code` into `@link`

[2022-06-26 20:28] #11705 closed

[2022-06-26 20:29] Arthur-Milchior commented on #11705
Except that if I try to do so, android-studio don't accept it, because it doesn't know link to local argument :(

[2022-06-27 00:57] Arthur-Milchior opened #11706 "[Bug] Adding key can't be quitted"
###### Reproduction Steps

1. Open gesture
2. Click on an action (e.g. button 1)
3. click on "add a key" (I'm in French, I don't know the exact English name)
4. Press on back on your phone

###### Expected Result

Going back to previous menu. Or if not possible, closing.

###### Actual Result

Seeing "back" on the screen, and no clear way to close

###### Debug info
Run on current main.

###### So

[2022-06-27 06:05] SoftSalem opened #11709 ""Anking Overhaul Note Type Hint Buttons" are not compatible with the Ankidroid "Show Hint" controller command"
###### Reproduction Steps

1. Review an Anking flashcard in Ankidroid (Or any flashcard that uses buttons in the note type to show and hide hints)
2. Press the button of your bluetooth controller, cellphone, etc that is linked to the Ankidroid controller settings "show hint" cmd. (cmd = command)

###### Expected Result
Pressing the button that activates the"show hint" cmd of my ankidroid app shoul

[2022-06-27 08:28] lervag opened #11710 "[Bug] Inconsistent review count"
###### Reproduction Steps

This has started happening sometime in the last week or two.

1. I start my Anki session and notice the review count on the "main screen" (list of decks) when I start AnkiDroid. I have only a single deck ("Main").
2. I start reviewing some cards, then I return to the list of decks.
3. The review count suddenly drops _more_ than the number of cards I reviewed.

I did not

[2022-06-27 11:25] MagTun commented on #11696
I just found a way to use the "carb browser" on "all decks". I don't know if this could help to find the origin of this bug but here it is:

1. open card browser. If I choose "all decks", the list is empty and "0 card" is still written just beneath the menu.
2. choose another deck (any one)
3. do a search for any word
4. click on "search all decks" at the bottom of the screen
5. tada! all matching

[2022-06-27 14:22] SoftSalem commented on #11709
This is what is going on

![2022-06-27_1656314974318 (1)](https://user-images.githubusercontent.com/104769180/175963899-8ddff1c1-4cff-4b6a-8699-99f3216310ec.gif)

[2022-06-27 14:36] SoftSalem commented on #11709
Got this[visual example ](https://ibb.co/hd1mcK0)

I opened the First Aid field using my Bluetooth controller and it did open, but it also jumps automatically at the top of the flashcard. (I did this with all the fields but the video was too heavy to upload here).

[2022-06-27 16:29] Jatin887 commented on #11116
I am facing  difficulty in some of the files as i am not able to find _setContentView_ for most of the files. For eg _Reviwer.kt_ don't have setContentView. So should i go ahead and add ViewBinding in these files also

[2022-06-27 17:26] david-allison commented on #11116
Handled in https://github.com/ankidroid/Anki-Android/blob/22950d9fb0cf75f9b9b938ff4f4b3726e645aaca/AnkiDroid/src/main/java/com/ichi2/anki/Reviewer.kt#L325-L331

[2022-06-27 22:04] mikehardy commented on #11700
Sure! That would be nice

[2022-06-27 22:06] mikehardy commented on #11710
More than anything it would be nice to have the information requested in the template for new issues, specifically the debug info :smile:

https://github.com/ankidroid/Anki-Android/blob/main/.github/ISSUE_TEMPLATE/issue_template.md#debug-info

Also, if you can reproduce this on new releases or not https://github.com/ankidroid/Anki-Android/releases

[2022-06-27 23:50] mikehardy commented on #10397
We are really really close to having the backend updated with #11644 at which point this does become much easier.

[2022-06-28 09:44] shivam-2701 commented on #10377
Hey @Arthur-Milchior is this issue is up for taking. Like to contribute

[2022-06-28 10:18] BrayanDSO commented on #11709
It scrolls on my PS4 controller and with `Tap` gestures, but not with swipe gestures.

IMO, the tweaking should be probably better done on Anking's notetype rather than AnkiDroid. Have you tried contacting the AnkiPalace?

[2022-06-28 11:46] david-allison commented on #10377
Thanks!

Related: https://github.com/ankidroid/Anki-Android/pull/11656

[2022-06-28 12:49] SoftSalem commented on #11709
I will contact him, probably the notetype should be modified, but I find it really strange that it works on other devices like yours.

So you have an specific button on your PS4 controller that is synchronized to the "show hint" option on your phone, and it does automatically scroll?

[2022-06-28 12:51] SoftSalem commented on #11709
I will contact him, buy your right, probably the notetype should be modified, but I find it really strange that it works on other devices like yours.

So you have an specific button on your PS4 controller that is synchronized to the "show hint" option on your phone, and it does automatically scroll?

[2022-06-28 13:04] MagTun commented on #11696
I was trying to reinstall the backup saved just before the [crash](https://github.com/ankidroid/Anki-Android/issues/11695#issuecomment-1166308780) to see if it may debug something but it didn't.

But I discover that what you meant by sending you the "colpkg" may not be the files I send you. I send you the 2 buggy decks (as a deck can be exported as colpgk I thought that's what you meant). But I ju

[2022-06-28 13:04] BrayanDSO commented on #11709
Exactly

When you contact Anking, you can send this link (https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/assets/scripts/card.js#L264-L278) as it is the current implementation of the show hints. Quite similar to the `Hint reveal hotkeys` addon. It should help

[2022-06-28 14:02] mikehardy opened #11721 "Add workflow here or Anki-Android-Backend that runs jacocoTestReport on AnkiDroid PR against Anki-Android-Backend PR"
There was an issue that only turned up in Anki-Android (this repo) CI after merging + releasing an Anki-Android-Backend PR and it would be nice to have a workflow that allowed a PR here that was dependent on a PR there to run our CI targets on the PR here against the result of the backend build there

Just some brainstorming:
- I believe it is possible to have some workflows be callable and provid

[2022-06-28 14:33] parthn2 commented on #11700
@mikehardy, Can you help me with recreating this? I am not able to do it myself and I believe It would help me understand how is the whole thing working.

[2022-06-28 14:46] david-allison commented on #11721
Iw we use `workflow_dispatch` + `input: string`, we can avoid having the commit ref in the `local.properties`.

Upsides:
* No need to add in 'test' commits

Downsides:
* Reapplying workflows may take a little longer

[2022-06-28 15:54] BrayanDSO commented on #6772
Hi. As upstream was implementing CSV importer very recently, I wanted to wait until it was done so I could assess it better

I think it's finished now, so I can start it.
I like more doing the Svelte approach because this way I wouldn't do the temporary job of implementing a already deprecated feature
I'll be somewhat busy personally until July 14th so my plan was to finish almost all of the prefe

[2022-06-28 15:56] mikehardy commented on #11700
The best way is probably to go right in to the code that can throw, and for development purposes, manually add code that throws the exception. Directly mess the code up in other words so it never loads the library correctly

[2022-06-28 15:58] mikehardy commented on #11721
I think a requirement is that it has to be fully automated at least within context of a PR, we can't be fishing out the right string to input, and a test commit while waiting until the real version comes out isn't the worst thing - better than manual workflow runs IMHO

[2022-06-28 16:11] #11671 closed

[2022-06-28 16:29] mikehardy commented on #6772
Great yes! I'm happy we've got the backend coming up to date with all the work there so this is possible, if you're comfortable doing it this way. Hopefully #11644 is in today or tomorrow

[2022-06-28 18:23] bnknndy opened #11722 "Users may struggle to find functions hidden in menus"
Users may have trouble remembering where things are.

Specifically, the student highlighted two issues:

* Three-dot menus could confound users by representing different functions in every screen, making it difficult to develop consistent expectations for use.

* Functions such as "delete note" will be difficult to access easily, because rather than recognizing a common icon, users will have to re

[2022-06-28 18:32] bnknndy opened #11723 "Side-nav hides core functionality"
A hamburger menu hides the card browser.

Specifically, the student identifies 3 critical functions of AnkiDroid: creating, studying, and editing cards. However, to edit cards, users need to access the browser through a hamburger menu, which may be too far removed from the main screen for a core use.

![image](https://user-images.githubusercontent.com/7875524/176256761-39ac0888-22a9-4ffe-8cec-d5be

[2022-06-28 18:33] mikehardy commented on #11710
yeah we are blocked on releases right now (alpha or otherwise) until conclusion of #5304 - just download the appropriate APK direct and you'll be updated, only 40 versions behind ;-) :-) https://github.com/ankidroid/Anki-Android/releases

[2022-06-28 18:54] lervag commented on #11710
Ah, that explains why I've not had any updates. I never noticed, AnkiDroid has generally just worked as expected in the meantime :)

I'll try and update and see if this fixes my issue. I'll let you know tomorrow!

[2022-06-28 18:56] lervag commented on #11710
By the way, are there any summaries for the AnkiDroid changelog? It would be interesting to read up on the changes since November last year. Of course, I could browse the commit log :)

[2022-06-28 19:02] bnknndy opened #11724 "No clear way to quickly explain features"
Edit: student's title: "No clear help button on interfaces to quickly explain features"

AnkiDroid presents complex, novel use to users without much guidance.

Specifically, AnkiDroid offers many options, functions, and customizations to users without an easy way to learn them. The student found the current help unapproachable and unhelpful, and found themselves wishing for a simple in-app solutio

[2022-06-28 19:26] mikehardy commented on #11724
This was a google summer of code project from last year that's not fully integrated yet, but we have the start of an in-app overlay help architecture in place that can give little overlays on any feature #9130 / #9162 etc

[2022-06-28 19:30] BrayanDSO commented on #11723
I hava a concept in mind for a bottom bar navigation for AnkiDroid which should deprecate the navigation drawer and solve this one. I should do a mock design of it eventually.

Unfortunately, I won't have time for it until GSoC it's done

[2022-06-28 19:52] lervag commented on #11710
Impressive! I'm very much looking forward to the release and reading the release notes on 2.16! :D

[2022-06-28 20:20] BrayanDSO commented on #11722
Neither do I   ¯\_╏ ՞ ︿ ՞ ╏_/¯

[2022-06-28 21:33] winstoncooke commented on #11121
I think this should be reopened if someone wants to take a look at it. I don't have the time at the moment unfortunately.

[2022-06-28 21:47] bnknndy commented on #11724
Ah, yeah. We should note #9092 and #10643 too.

I updated the original post to add the student's name for this issue, which was "No clear help button on interfaces to quickly explain features." I nixed it at first because it prescribes a solution in describing the problem, which is usually bad.

In this case I shouldn't have left it out, because it indicates the student is specifically looking for

[2022-06-28 23:20] mikehardy commented on #11696
What luck, I had need to test import and export of colpkg files for #11644 :-), so I tested yours.

The problem with your later colpkg is that for some reason you actually have a deck that is really named "All Decks". Why? I don't know, but if you long-press and delete that deck, then when I go to the card browser and choose all decks I actually get "All Decks" as in all of your decks vs "All Deck

[2022-06-29 00:41] mikehardy commented on #11116
Sorry for the long silence, been busy in other areas, I was pinged on this though:

I think I fear long-lived branches more than a series of PRs and straddling two technologies temporarily - always tradeoffs, but at least with a stream of PRs there is incremental progress. A long-lived branch sounds like a nightmare with as much activity going on as we have

[2022-06-29 00:57] mikehardy commented on #11525
Strange, I just tried this with 2.16alpha69 on my device and I was able to see .apkg files (and .colpkg files, incidentally) in my Downloads folder after navigating to it. So...i can't reproduce :thinking: - that was a OnePlus6T on Android 11 plus an Android API31 emulator

[2022-06-29 01:07] dae commented on #6772
When it comes to bundling the js/html files, my thinking was that this is better done in https://github.com/ankidroid/Anki-Android-Backend/, so that the included files are guaranteed to match the commit used to build the backend. I made an initial attempt at it, but had to roll it back since I didn't have time to try to figure out how to integrate it correctly into the build: https://github.com/an

[2022-06-29 02:54] david-allison commented on #11710
A quick highlight of a few features (copied from a post I made a few months back):

* Allow users to draw new cards using the whiteboard
* TTS API (usable with AnKing cards)
* Improved Note Editor toolbar
* Video Clip Support
* Auto night mode
* More gestures + better gesture support
* Gamepad/Remote/Keyboard Support
* Improved Deck Downloads
* Improved Preferences

[2022-06-29 05:46] Jatin887 commented on #11116
I will take care of that i will merge the main branch code in each pr and make it update. One more thing all the changes which i have added it's related to views only so it will not be a conflict for sure:)

[2022-06-29 08:09] MagTun commented on #11696
Thanks a lot your help and yes it's working!  feel really embarrassed to have bother for a problem with such a simple solution. I am sorry for that, I should have check my decks more carefully.

One thing that is strange is that I really don't remember having created it. Could it have been created automatically by the bug that happened when changing the deck of the last card of a review?

So this

[2022-06-29 08:09] #11696 closed

[2022-06-29 08:18] MagTun commented on #11695
Now that the [problem](https://github.com/ankidroid/Anki-Android/issues/11696) with "all decks" is fixed thanks to you, I have updated again to the latest alpha version. I am still getting the same bug: I can use the cards browser and see the statistics but when I open a deck for a review, the app crashes.
I have created a new deck "0 100 test" with only 1 card with the basic note template to rule

[2022-06-29 09:51] lervag commented on #11710
Very cool!

But ok, back to the present issue: I'm still observing the inconsistent due count. Here's a side-by-side screenshot before and after opening the Main deck:

![out](https://user-images.githubusercontent.com/998898/176407447-9913ea49-d38c-4932-9c97-0fe5deed23b8.jpg)

I don't know how to debug this issue, so any help is appreciated.

[2022-06-29 11:20] mikehardy commented on #11696
No worries - I appreciate the bug reports and for this one in particular I was testing something else and literally had a moment where I thought "If only I had a collection package at hand since I really need to test collection package import" and...there it was :-). Sometimes things are easier than they seem. Sometimes harder :-). This was easier. Cheers

[2022-06-29 12:59] viciousAegis commented on #11723
Here's a concept of a bottom nav I created, not sure if I will implement it during GSoC though
![image](https://user-images.githubusercontent.com/86671025/176442052-e574a452-4879-49ca-8d44-c68f3deabe7a.png)

[2022-06-29 13:59] shivam-2701 commented on #10377
Hey can someone point me to the directory in code where this "paste as plain text" context menu is written.
PS : new to open source apologize for inconvenience

[2022-06-29 14:05] MagTun commented on #11695
1) So, I finally found the culprit: it's the display of "reschedule" in the app bar:
When I set "reschedule" to "always show" in the settings for the app bar (settings/appearance/app bar button), then the app crashes when I open a deck for review. If I set "reschedule" to something else (show if room, menu only...) then everything is working fine. The bug is there even if I set "menu only" for all

[2022-06-29 14:19] shivam-2701 commented on #10377
Can someone point me to the directory or activity from where we have to remove "paste as plain text".
PS: new to open source apologies for inconvenience.

[2022-06-29 14:23] david-allison commented on #10377
`NoteEditor.kt`

[2022-06-29 16:17] mikehardy opened #11731 "Update developer documentation to explain how to use backend code"
With the Kotlin extensions, creation is quite easy. Currently the only proto message in DeckPicker is OpChanges, and you could create an instance of that with the studyQueues field set using something like the following:

[code]

That is true, the code protobuf-java generates does not make it very easy to see at a glance which fields are available. It does take comments from the .proto files and i

[2022-06-29 16:21] mikehardy commented on #11700
Definitely rebase over main / make sure you have the most up to date code before starting on this, as I just merged the PR where the issue came up (#11644) and it changed everything in the area related to rust library loading

[2022-06-29 16:28] mikehardy opened #11732 "Settings -> Force full sync has no effect with V16 schema / local.properties::legacy_schema=false"
Issues with non-legacy schema:

- settings -> sync -> force full sync seems to have no effect with non-legacy schema? Doing a drag-down-to-refresh while on the deck list did seem to affect it though, if you are logged in as one account and have imported some other collection (so they were incompatible). Seems to be just the flag is not set to force it somehow?

It works with legacy schema, so we n

[2022-06-29 16:30] mikehardy opened #11733 "Card browser loads all cards with V16 schema / local.properties::legacy_schema=false"
Issues with non-legacy schema:

- loading card browser in "all decks" mode on a large collection (like, 60,000cards in a colpkg) takes a O(n) on number of cards instead of just visible ones?

With legacy schema it just loads the first few then draws the screen

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/11644#issuecomment-1169380381_

[2022-06-29 16:31] mikehardy opened #11734 "Package export does not prompt any UI action after completion with V16 schema / local.properties::legacy_schema=false"
Issues with non-legacy schema:

- I'm not sure where exporting a deck drops the apkg? It did not pop up a prompt or anything (import of new shared deck worked though...)

Wiith legacy schema, the UI prompts you to save the file etc. Apparently in new schema the path to the file is displayed in logcat so it is probably a matter of hooking up the API with the new backend import/export work from #116

[2022-06-29 16:33] mikehardy opened #11735 "Check database crashes with V16 schema / local.properties::legacy_schema=false"
Issues with non-legacy schema:

- calling "check database" while diagnosing someone's collection problem and also on a known-good collection crashed:

[code]

It works fine with legacy schema - appears to be something not fully / correctly implemented in the check database backend functionality?

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/issues/11644#issuecommen

[2022-06-29 16:37] mikehardy opened #11736 "Sync progress UI is not displayed with V16 schema / local.properties::legacy_schema=false"
We need to get the new sync code hooked up with UI so that collection sync has a blocking dialog and media sync is in background with a progress style notification connected to a foreground service, where the notification updates with progress then converts to a dismissable sync complete notification if the app is in the background

###### Reproduction Steps

1. either build+open app with local.pr

[2022-06-29 16:44] mikehardy opened #11737 "All uses of legacy schema conditionals need investigation and elimination so only V16+ schema remains"
We need to eliminate the use of conditionals that switch between two different implementations of the same functionality (one based on older Java / Ankidroid/libanki code, one based on new Rust / Anki-Android-Backend code)

The expectation here is that each instance of the conditional usage is likely going to need it's own PR, similar to how we fix KotlinCleanup annotations

Just note the one you

[2022-06-29 18:06] shivam-2701 commented on #10377
@BrayanDSO Can you point me some resource to implement this.
Thanks

[2022-06-29 21:00] dae commented on #11737
We can't start stripping out those lines just yet I'm afraid. The new backend code is all-or-nothing - users can't incrementally opt into it, since it requires DB upgrades that the legacy AnkiDroid code does not understand. The first step will be identifying the remaining areas of the app that fail or are not fully functional when the new schema is activated (eg card template editor), and fixing t

[2022-06-29 21:45] viciousAegis commented on #10377
@shivam-2701 Take a look at this [link](https://developer.android.com/reference/android/widget/TextView#setCustomInsertionActionModeCallback(android.view.ActionMode.Callback)) mentioned in the comment [here](https://github.com/ankidroid/Anki-Android/issues/10377#issuecomment-1048568235), and I believe you will find the relevant code here:

https://github.com/ankidroid/Anki-Android/blob/69da0c89e87

[2022-06-29 22:01] mikehardy commented on #11737
:thinking: Hmm - perhaps we need a new annotation that is more like "RustNewSchemaMinimum" to mark the cases where we simply must do something before we can even start deploying the new schema / toggling it on by default. There are a few areas where I think both can coexist, but for the areas where we have to forward-port or it just breaks, that's a good list to know + mark up, isn't it?

[2022-06-29 22:10] dae commented on #11737
Yes, that would be more useful in the short term - maybe `@BlocksSchemaUpgrade`?

[2022-06-29 22:12] mikehardy commented on #11737
works for me, yeah

[2022-06-30 12:57] shivam-2701 commented on #10377
@viciousAegis Thanks for the help.

[2022-06-30 14:37] dorrin-sot opened #11744 "[Bug] Changing language to system default after restart doesn't work"
###### Reproduction Steps

1. Change language to anything other than "System default"
2. Restart App
3. Change language to "System Default" (The language preference is properly set to default but the strings and RTL/LTR isn't updated)

###### Expected Result
Language gets set to "System Default"

###### Actual Result
Language isn't set to "System Default"

###### Debug info
Refer to the [support p

[2022-06-30 16:47] mikehardy opened #11746 "Determine why some-but-not-all APKs are not uploading during auto-publish github workflow"
###### Reproduction Steps

1. Run the action "publish" on main in github web UI to do a new release
2. check the releases page
3.

###### Expected Result

Expect 9 total assets, 2 auto-generated by github for source code, 4 architecture-specific builds, 1 universal build, 2 parallel builds (A and B)

###### Actual Result

Starting around 2.16alpha47 the universal binary stopped showing up in asset

[2022-06-30 17:04] oakkitten opened #11747 "[Bug] Reviewing with Fullscreen mode set to Hide system bars leaves the status bar (notification bar) empty"
###### Reproduction Steps

1. in Settings → Appearance, set Fullscreen mode to Hide system bars
2. Review a card

###### Expected Result

Either:
 * the reviewer extends to the very top of the screen, or,
 * if “system bars” means only the toolbar, system bar icons are visible.

###### Actual Result

There's empty space where the status bar is normally located:

<img src=https://user-images.github

[2022-06-30 17:28] shivam-2701 commented on #10377
Getting an error in the android studio in the code from the pull request
https://github.com/ankidroid/Anki-Android/blob/69da0c89e8795427156bb98afac66414f618a763/AnkiDroid/src/main/java/com/ichi2/anki/NoteEditor.kt#L1137-L1157

In line number 1139
Error :  Unresolved reference: defaultLegacySchema
![2022-06-30](https://user-images.githubusercontent.com/98466713/176730375-e9fea856-ec86-4cab-8c08-287

[2022-06-30 17:53] mikehardy commented on #10377
@shivam-2701 you may need to rebase over main? Looks related to lack of this code integrated in whatever you are working on #11644

[2022-06-30 20:54] mikehardy commented on #11079
still need this eventually, just not a high priority vs other places I've got unique individual contributor mojo at the moment

[2022-07-01 00:55] oyeraghib opened #11748 "[Bug] Improper handling of exceptions while Loading Pronunciations"
###### Reproduction Steps

1. Tap on FAB to `Add note`
2. Tap the attachment icon next to the field
3. Choose Advanced Editor
4. Enter two words ( for e.g `Hello World` )
5. Tap on `Pronunciation`
6. Tap on `LOAD` with English as selected Language

###### Expected Result
As the Beolingus Search [Hello World](https://dict.tu-chemnitz.de/dings.cgi?service=deen&opterrors=0&optpro=0&query=Hello+World&

[2022-07-01 05:41] shivam-2701 commented on #10377
@mikehardy I have rebased over main but the error still persists

[2022-07-01 05:56] shivam-2701 commented on #10377
@mikehardy Error still persists even after rebasing over main

[2022-07-01 05:57] viciousAegis commented on #10377
@shivam-2701 Try building the project again in a separate directory

[2022-07-01 05:58] shivam-2701 commented on #10377
The projects builds and also works. But i can't commit as it shows error

[2022-07-01 11:33] mikehardy commented on #10377
"I can't commit as it shows error"

We are not mind readers, "it shows error", well, what error? Every report of an error needs details for others to help, or you can't expect help

https://stackoverflow.com/help/how-to-ask

[2022-07-01 12:01] shivam-2701 commented on #10377
Sorry if you were not able to understand. when I am trying to commit changes android studio points out the above mentioned error which is :  "Unresolved reference: defaultLegacySchema" on line 1140 .
And stopping me from commiting my changes.
What I have tried:
I have rebased my code to main after updating my local repo from the remote upstream.

[2022-07-01 14:42] mikehardy commented on #10388
Not sure this is still happening? If so, it *should* be fixed by #11737 because collection import will be handled by the desktop code at that point

[2022-07-01 15:54] shivam-2701 commented on #10377
Update: The previous error was fixed after a fresh clone of the project.
I was able to fix the "paste as plain text" issue , the project even builds and runs on my device.
But when I try to make a commit the following error crops:

ERROR: AnkiDroid builds with JVM version 11, 14, or 16.
  Incompatible major version detected: '17'

I am using Gradle JDK: version 11  11.0.12
but I also have version

[2022-07-01 16:13] shivam-2701 commented on #10377
Update: The previous error was fixed after a fresh clone of the project.
I was able to fix the "paste as plain text" issue , the project even builds and runs on my device.
But when I try to make a commit the following error crops:

ERROR: AnkiDroid builds with JVM version 11, 14, or 16.
  Incompatible major version detected: '17'

I am using Gradle JDK: version 11  11.0.12(Embedded JDK )
but I als

[2022-07-01 16:23] mikehardy commented on #10377
This assertion is false unfortunately - you *think* you are using JDK11, but actually when you are executing whatever command you are executing, JDK17 is in use. Or it wouldn't detect JVM version 17 and throw the error right?

Examine your PATH etc and make sure JDK11 is actually first and in use when you go to commit

[2022-07-01 16:54] shivam-2701 commented on #10377
Thanks for the help.

[2022-07-01 19:09] dorrin-sot commented on #11747
@mikehardy Can I work on this?

[2022-07-01 19:13] mikehardy commented on #11747
Have a blast 😂

[2022-07-01 22:38] #10228 closed

[2022-07-02 01:44] andsofine opened #11754 "navigation/status bar color"
change navigation bar color to background color in light/dark themes
change status bar color to toolbar color
![AFFIX_20220702_043848.png](https://user-images.githubusercontent.com/99369164/176981955-2d4c857a-73d6-4210-a84a-4213f75a8ae7.png)

[2022-07-02 01:55] andsofine opened #11755 "migrate to material design 3"
productivity apps usually have a fresh design that has a positive impact on the user experience so I thought this would be a great improvement

[2022-07-02 11:51] oakkitten commented on #11747
I didn't mean to hijack this but I looked into this while I was offline and had everything ready. Hope you didn't waste time working on this! A rather straightforward fix, anyway.

[2022-07-02 13:31] oakkitten opened #11760 "[Bug] If you cancel sync, all subsequent syncs will fail with “userAbrortedSync”"
I think the issue is that `com.ichi2.async.Connection.Companion#isCancelled` is only ever assigned `true` after initialization. There's no code that resets it back to `false`.

###### Reproduction Steps

1. Start syncing
2. Cancel by pressing back
3. Try syncing again

###### Expected Result

Sync goes through

###### Actual Result

<img src=https://user-images.githubusercontent.com/1710718/177002

[2022-07-02 13:37] oakkitten commented on #8710
### Streamline Fullscreen mode settings

Currently, these are the three full screen mode options:
1. Off
2. Hide system bars
3. Hide system bars and answer buttons

The top bar (the one with the card count and the timer), if on, in always visible in mode 2, but only visible in the overlay in mode 3, that is when you swipe from the edge of the screen to show system bars. I suppose both users who us

[2022-07-02 13:53] BrayanDSO commented on #11754
There is a active pull request implementing this (#11236), so it may be merged soon

[2022-07-02 14:46] mikehardy commented on #11755
We're in the middle of a lot of cross-cutting (whole app) changes and UI changes are not the highest priority unfortunately.
Typically UI changes in particular here receive lower priority because while new users want a "fresh" look, existing users resist change.

That said, if you were willing to do the work and kept the changes as minimal as possible, accepting a PR doing this (starting with one

[2022-07-02 20:01] prateek-singh-3212 commented on #8114
Working on it!!

[2022-07-02 21:37] #10431 closed

[2022-07-03 18:23] #11747 closed

[2022-07-03 18:34] #11760 closed

[2022-07-03 18:43] #10942 closed

[2022-07-03 19:03] #11748 closed

[2022-07-03 22:36] BrayanDSO opened #11767 "[Feature request] Keep status bar color on "Hide system bars""
**Is your feature request related to a problem? Please describe.**
"Hide system bars" leaves a black bar on some phones, which is ugly.

**Describe the solution you'd like**
Instead, keep the color defined by the current theme.

**Additional context**
Most likely better done after #11531 and #11236 are merged
In a nutshell, move from this:

![WhatsApp Image 2022-07-03 at 19 15 11](https://user-ima

[2022-07-04 01:10] david-allison opened #11769 "test: `lint-release.xml`"
We need a test to ensure that `lint-release.xml` only defines an `<issue>` element once per ID

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/11768#issuecomment-1173225078_

[2022-07-05 13:23] dorrin-sot commented on #11657
@mikehardy @david-allison Hi is this feature requested accepted? If so I would like to work on it 👀

[2022-07-05 16:38] #11769 closed

[2022-07-05 16:39] david-allison opened #11780 "deprecation: Material Dialog neutral button"
Please log an issue to track this

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/pull/11646#discussion_r913977376_

[2022-07-05 16:40] david-allison opened #11781 "Add iconAttr helper for MaterialDialog"
Log this issue if not logged

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/pull/11646#discussion_r913971108_

[2022-07-05 16:44] #11574 closed

[2022-07-05 18:09] dorrin-sot commented on #11780
Can I work on this?

[2022-07-05 22:52] BrayanDSO opened #11785 "[Bug] Controls `Add gesture` highlight color don't follow theme colors"
Before it used `colorAccent`

## Before (2.16alpha70)

![image](https://user-images.githubusercontent.com/69634269/177429830-f46c9af2-8738-4180-a9af-536894839831.png)

![image](https://user-images.githubusercontent.com/69634269/177429931-f3fb227f-63b4-4e0d-8323-a9092eb5a4d9.png)

## After (1ed9496)
![image](https://user-images.githubusercontent.com/69634269/177429850-71e7a7c4-a035-4232-bef7-019623

[2022-07-05 22:53] BrayanDSO commented on #11785
Probably because of abd1f8bfc316cdf11aba51af7bda7f5b05c493d7

[2022-07-05 23:27] Throlo opened #11786 "The long press menu of decks is broken"
When you long press a deck and touch a option anki does another.
Examples:

- Long press (LP) > Browse cards > go to rename deck

- LP > Rename deck > open deck options
- LP > Create subdeck > go to custom study options
- **LP > Deck options > Deletes the deck**
- LP > Custom study > go to export deck
- LP > Export deck > apparently nothing happens
- LP > Create shortcut >  a brief loading screen,

[2022-07-06 02:21] #11089 closed

[2022-07-06 03:44] mikehardy commented on #11780
I always felt like "email" was a bit strange as a fixed choice, I would favor at least just opening it to a normal share picker. Share usually lets you save as an option too doesn't it?

[2022-07-06 04:00] mikehardy commented on #11786
Oh noooo - that's terrible, the delete deck risk is of course the worst but all of it is pretty serious, thank you for reporting this so quickly

[2022-07-06 04:51] dorrin-sot commented on #11780
I think it does in some phones but it didn't in mine

[2022-07-06 05:25] #11786 closed

[2022-07-06 05:28] mikehardy commented on #11786
Thanks again for reporting this and @lukstbit for a quick PR aimed at fixing it - alpha72 is processing right now and hopefully lines the actions up with the menu items again

[2022-07-06 08:53] Throlo commented on #11786
You fixed it very quickly, thanks!

[2022-07-06 12:08] oakkitten commented on #10800
I also have a deck named “All Decks”. I think AnkiDroid added it somehow :s

[2022-07-06 14:00] ShridharGoel opened #11790 "Add regression test for long press menu of DeckPicker"
Material dialogs library update resulted in a bug where the option name and functionality were not aligned. This was fixed in https://github.com/ankidroid/Anki-Android/pull/11788.

[2022-07-06 14:02] #11706 closed

[2022-07-06 16:59] dorrin-sot commented on #11780
I actually just committed a "save to file" button in the share bottomsheet

[2022-07-06 17:17] mikehardy commented on #11780
if it has save file, I'm okay with 2 buttons, and I agree widening the share possibility is actually a big plus, so for this case, this could work for me

The general idea of case-by-case thought is something I agree with to though

[2022-07-07 00:06] david-allison opened #11794 "Unit Test: `@Before` handling"
Thanks! Follow up to add a unit test for this (if successful) in removing bugs.

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/11787#issuecomment-1176424467_

[2022-07-07 11:27] dorrin-sot commented on #11790
Is there a way to programmatically click on an item in DeckPickerContextMenu?

[2022-07-07 12:50] #11198 closed

[2022-07-07 15:08] homocomputeris commented on #9482
Still an issue

[2022-07-07 15:21] dorrin-sot commented on #11790
Can I work on this?

[2022-07-08 02:21] #9427 closed

[2022-07-08 05:46] pavreh opened #11801 "[Bug] The long press menu of decks is broken - Custom study"
###### Reproduction Steps

1. Long Press on a deck
2. Press Custom study
3. Press anything from the menu

###### Expected Result
Choosen action is performed.

###### Actual Result
Ankidroid crash.

###### Debug info
AnkiDroid Version = 2.16alpha72

Android Version = 12

Manufacturer = samsung

Model = SM-A225F

Hardware = mt6769t

Webview User Agent = Mozilla/5.0 (Linux; Android 12; SM-A225F Build

[2022-07-08 10:06] BrayanDSO commented on #11801
From my logcat
[code]

[2022-07-08 13:06] BrayanDSO opened #11804 "[Bug] Select/Move deck and Tag dialogs top border is broken"
## Previously
![image](https://user-images.githubusercontent.com/69634269/177997819-89ddea01-2bd3-4e82-950e-0bd35fd4f8be.png)

## Main (1b8370a1f5216a80b145a2df405ca4dfae7e01b7)
![image](https://user-images.githubusercontent.com/69634269/177997541-b02831fe-7b86-4b4c-a579-7236def49e39.png)

![image](https://user-images.githubusercontent.com/69634269/177997579-cfe0a8b0-808d-4c37-8017-1aa60511d636.pn

[2022-07-08 14:48] #10033 closed

[2022-07-08 21:37] #9075 closed

[2022-07-09 06:18] pavreh opened #11806 "[Bug] cannot remove user-defined toolbar button"
A user-defined toolbar button **cannot** be removed by long pressing the button and selecting "Delete".

![Screenshot_20220708-234546_AnkiDroidA](https://user-images.githubusercontent.com/10192661/178093969-a824d828-e157-4743-a969-23f8e778e53f.png)

###### Reproduction Steps

1. Edit a note
2. Create a toolbar button (press "+" and follow instructions)
3. Long press the button

###### Expected Res

[2022-07-09 06:25] mikehardy commented on #11806
@lukstbit not tagging you because you are obligated to do any thing at all, but you seem to be squashing all these dialog mis-mapping issues and this smells like another one from the material dialog conversion. The button/action mappings appear to have taken quite the load of issues from that one :weary:

[2022-07-09 06:26] #11801 closed

[2022-07-09 06:40] #11219 closed

[2022-07-09 08:58] lukstbit commented on #11806
@mikehardy I've made a PR.
Also I'm looking at all these issues related to material dialogs library, if you see one feel free to assign me for a ping.

[2022-07-09 09:51] #11806 closed

[2022-07-09 09:58] mikehardy commented on #11806
I just triggered the publish process for the fixes by @lukstbit of this one and the other one you logged @pavreh - thanks so much for testing our alpha builds and taking the time to log issues, we really appreciate it

[2022-07-09 11:00] BrayanDSO commented on #11785
If my vision is good enough, I think these are the material `Teal` colors which are default for the `colorAccent` on `AppCompat` themes (our case) and for `colorSecondary` on `MaterialComponents` themes

[2022-07-09 13:38] dorrin-sot opened #11810 "[Bug] "Export Deck" Dialog's "ok" button is disabled"
###### Reproduction Steps

1. Create a deck
2. Tap and hold on it and select "Export Deck"

###### Expected Result
The "ok" button be enabled

###### Actual Result
The "ok" button isn't enabled

<img width="380" alt="image" src="https://user-images.githubusercontent.com/59933477/178120493-588031e6-1236-4a6a-8709-fd4b20bcc4d3.png">

###### Debug info

[code]

###### Research

- [x] I have read the

[2022-07-09 13:40] #11218 closed

[2022-07-09 14:48] pavreh opened #11811 "[Bug] Incompatible database version dialog - Restore from backup doesn't work"
###### Reproduction Steps

1. Change the database version by a db editor
2. Start Ankidroid
3. Press "Restore from backup"
![Screenshot_20220709-160247_AnkiDroidA](https://user-images.githubusercontent.com/10192661/178110457-c4a4b013-e2a6-4055-9d5f-c7ba3c331ed4.png)

###### Expected Result
A backup is restored

###### Actual Result
Nothing happened

###### Debug info
AnkiDroid Version = 2.16alpha7

[2022-07-09 15:40] oakkitten opened #11813 "[Bug] The setting Full screen navigation drawer is not immediately applied to activities lower in the stack"
###### Reproduction Steps

1. Have the setting Full screen navigation drawer off;
1. Open Decks;
1. Open Card browser;
1. Open settings, change Full screen navigation drawer to on;
1. Press back. Observe that the setting works in Card browser;
1. Press back. Observe that the setting does not work in Decks.

###### Expected Result

Setting works immediately.

###### Actual Result

Setting doesn't i

[2022-07-09 20:20] MagTun commented on #11275
Any news on this?

[2022-07-10 06:34] pavreh opened #11819 "Check database is inaccessible when collection error"
When an error of the database occurres, there is an advice to run check database in a dialog (see picture 1). But check database is not present in the options so it is not possible to run check database (see picture 2)
![Screenshot_20220709-192636_AnkiDroidA](https://user-images.githubusercontent.com/10192661/178134063-a6a02cbb-9d44-494c-a387-38ebd0245c66.png)
_Picture 1_
![Screenshot_20220709-192

[2022-07-10 13:27] Arthur-Milchior commented on #10517
@suman-somu (if you are still interested)
Essentially, we don't know. We didn't investigate in depth this bug, we had and still have more urgent things to do.
The bug can be anywhere, in the database, in the scheduler code, in the display code. Discussion above concluded it was in the display code, so that's personally where I'd start looking. But if this analysis was wrong, you can do your own in

[2022-07-10 13:37] BrayanDSO commented on #11813
Actually, any setting isn't updated to activities lower in the stack

See #11046 and #11698

[2022-07-10 15:12] Arthur-Milchior opened #11825 "Create a wiki pages listing all licences"
AnkiDroid uses a lot of libraries, either as dependencies, or by porting part of them to Kotlin/Java.  We never kept track of those and didn't list licence properly. While @BrayanDSO works on "about" would be an ideal time to solve that.

As an example of list of libraries and dependencies, if you use Chrome/Chromium, you can open the link chrome://credits/ to see what Chrome uses.

The end goal i

[2022-07-10 16:37] Arthur-Milchior commented on #11664
@bnknndy Can you please provide an update here. Did you looked at all files and created all issues? Is it still a work in progress you intend to resume? Are you done for now but works remains (totally acceptable), in this case, can you please explicitly state what remains to do so someone can take over?

[2022-07-10 16:52] Arthur-Milchior opened #11829 "App reviews indirect research: UI design course"
TL/DR some students did read 400 reviews and tried to extract useful feedback from them. Exact exercice description is on [assignment 2](https://canvas.sfu.ca/courses/69678/assignments/751350). Their educator selected the 6 best results which are available [here](https://t.co/iVI6rGb34p)

It's from the same lecture as #11664, and I'd love if someone can give it the same treatment. That is, read al

[2022-07-10 17:01] BrayanDSO commented on #11825
There are some Gradle plugins that fetches the licenses of the all Gradle dependencies. I don't have any experience with them, but I think that it's worth the experiment.

[2022-07-10 17:16] dorrin-sot commented on #11396
@BrayanDSO Hi I fixed this (still working on #11046 😅) but I couldn't find an Issue for it specifically

[2022-07-10 17:51] dorrin-sot opened #11831 "[Bug] Reviewer not updated If flag/mark changed in CardBrowser and there is more than 1 activity in backstack"
1. Open the reviewer
2. Open **Statistics** from the navigation drawer
3. Open card browser and mark a card
4. Go back to the reviewer
5. Check if the card is marked

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/issues/11396#issuecomment-1133583029_

[2022-07-10 18:50] Arthur-Milchior commented on #11690
Thanks. I was pretty sure I saw it somewhere.
I fear that I did read far too many proposal to have those in memory. Even while I did re-read the four selected ones.

[2022-07-10 19:11] #11804 closed

[2022-07-10 19:19] mikehardy commented on #11811
If you are running a development version and open the developers options menu you can tap the button to use V16+ database and this should work. We are almost up to current database schemas (using desktop as reference for 'current' but these are serious changes so we've hidden them behind development flags at the moment.

I *think* you are testing release versions (not locally built versions, is th

[2022-07-10 19:23] #11810 closed

[2022-07-10 20:17] Arthur-Milchior commented on #11825
I 100% agree, if someone wants to give it a try.
i wonder how well it will work with rust dependencies, that are not usually with gradle (that's an understatement). Also, it won't work for manually translated files. But clearly, as long as we agree it's not the entire job, I'd be delighted if it works

[2022-07-11 00:00] dae commented on #11825
All of Anki's Rust and TypeScript dependencies are in ts/licenses.json and cargo/licenses.json, and they could potentially be included in the -backend bundle via https://github.com/ankidroid/Anki-Android-Backend/pull/217, which AnkiDroid could then read and display.

[2022-07-11 00:39] Pound-Hash commented on #10284
I've resolved it. The back templates of some cards were changed from a simple `{{Back}}` to a line of html code. I'm not sure why this happened; I never did this on purpose or manually. Anyhow, it's fixed.

[2022-07-11 00:39] #10284 closed

[2022-07-11 11:11] Yoannjap opened #11834 "[Bug] MP4 videos added to cards doesn't sync with Ankiweb collection.media"
###### Reproduction Steps

1. I edit a flashcard using AnkiDroid, and add a 32KB mp4 video.
2. I add this video using this html code:
`<video muted autoplay loop width="400" height="300" controls><source src="xxxx.mp4"></video>`
3. I sync my account before closing the app.
4. I go to my PC, launch Anki, and sync my account.
5. I open the modified card, no video launched.
6. I open the collection.m

[2022-07-11 11:19] Arthur-Milchior commented on #11825
Thanks a lot @dae.
I fear that it may lead to crediting libraries that you use but that is not (yet) used in AnkiDroid. Since it's a better outcome  than having no credit at all, I don't see an issue with it

[2022-07-11 13:40] suman-somu commented on #10517
Okay, I will go through it again thoroughly.

[2022-07-11 14:19] oakkitten commented on #11813
Ah! Missed those. Closing as a duplicate.

[2022-07-11 14:19] #11813 closed

[2022-07-11 16:33] pavreh commented on #11811
Yes, I am testing the release versions. I thought it could be another dialog mis-mapping issue as recently. If this is not the case we can close this issue.

[2022-07-11 22:52] mikehardy commented on #11834
Yep - very well might be a bug - it would be useful to have the debug info requested in the new issue template, but I can guess you are probably using the current stable release version 2.15.6 ? You might try the current test releases on the 2.16 series to see if it is already fixed? https://github.com/ankidroid/Anki-Android/releases

[2022-07-11 23:21] mikehardy commented on #11811
Oh I see what you mean, I think.
Do you mean that when you press that dialog choice for restore from backup, nothing happens at all? If so that does sound like an issue related to dialog options that may be related to material dialog update

[2022-07-11 23:21] mikehardy commented on #11811
maybe @lukstbit wants to have a look at yet another dialog issue 😅

[2022-07-12 04:27] lukstbit commented on #11811
Yes, the dialog option wasn't triggered. Made a PR for this in #11839

[2022-07-12 07:13] Yoannjap commented on #11834
Hey and thanks mike hardy for your reply.

Yes I use the Google Play current publish 'beta' version: 2.15.6

Please see below the debug info after having:
 - added a card, editing it with "bonjour" in front 'Vocab' side,
 - with "<video muted autoplay loop width="400" height="300" controls><source src="bonjourLSF.mp4"></video>" in 'video1' field,
 - Then syncing to Ankiweb account.

Of course the

[2022-07-12 10:54] BrayanDSO opened #11842 "[Bug] Search icon flashes after syncing"
###### Reproduction Steps

1. Have 10 or more decks
2. Tap sync
3. Wait the sync completion

###### Expected Result

Search icon doesn't change (assuming there are 10+ decks after sync)

###### Actual Result

Search icon flashes

[untitled.webm](https://user-images.githubusercontent.com/69634269/178474460-25e38eb2-9313-424d-88b0-122a5c58352a.webm)

###### Debug info
AnkiDroid Version = 2.16alpha73

[2022-07-12 10:56] BrayanDSO commented on #11842
Probably related to #10445

[2022-07-12 11:31] #11811 closed

[2022-07-13 14:47] mikehardy commented on #11275
Hey @dae semi-random question but related to your work on getting V3 scheduler going and purging out most libanki stuff, is this the sort of thing that will be fixed simply  integrating your work, or will there be more to do in order to get reschedule-without-changing-interval ?

[2022-07-13 15:19] mikehardy commented on #11275
Excellent - thanks for that @dae - that'll give a blueprint to any future devs that take this up, noting of course that it's blocked until we (me, really :sweat_smile: ) get a big enough time slice to do the next batch of anki -> backend -> ankidroid PR assimilation. Hopefully soon but can't make promises as our travel itinerary is objectively ridiculous (though fun)

[2022-07-14 03:10] lukstbit commented on #11450
Usually when you want to start contributing to a project you would first look through its source code to get familiar with its code. Then you would pick something easy to fix, like this issue.

This issue asks to replace(where possible) unneeded usages of `var` with `val` like the examples above show you. Then go through the source code and try to find places where `var` are used like in the examp

[2022-07-14 07:58] aliffhasf opened #11845 "Hi , my proplem in the import"
I can't import ready-made cards when they are downloaded and I see a logo that says send error reports..

AnkiDroid Version = 2.16alpha58

Android Version = 12

Manufacturer = Xiaomi

Model = M2101K6I

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 12; M2101K6I Build/SKQ1.210908.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/103.0.5060.71 Mobile Safari/537.36

[2022-07-14 10:49] viciousAegis opened #11848 "[Bug] [Visual] Truncate content option does not stay checked after changing decks, though content is truncated"
###### Reproduction Steps

1. Check truncate content
2. Change deck
3. Look at the truncate content option, it becomes unchecked, even when content is truncated anyway

https://user-images.githubusercontent.com/86671025/178965738-f6d30a2a-cfa2-4fe7-8c59-f1872de9dc13.mp4

###### Expected Result
Truncate content should be checked

###### Actual Result
Truncate content option is unchecked

###### Deb

[2022-07-14 15:28] BrayanDSO commented on #9670
I am lost on a loop of
[code]
So, I give up reaching their support. If anyone else has the availability/patience to insist on this cause, feel free to do it.

[2022-07-14 21:37] #11278 closed

[2022-07-14 23:09] dorrin-sot commented on #10445
Hi this was fixed in #11113 👀

[2022-07-14 23:40] BrayanDSO opened #11852 "Remove usage of Kotlin wildcard imports on the project Codestyle file"
I agree. Although this one was added automatically by the IDE.

Default for Kotlin is 3 imports to substitute to `*` (https://stackoverflow.com/questions/49870306/disable-wild-cart-import-in-intellij-android-studio-in-kotlin)

It can be a good first issue to change it on the project codestyle file (https://github.com/ankidroid/Anki-Android/blob/main/.idea/codeStyles/Project.xml)

_Originally poste

[2022-07-14 23:49] BrayanDSO commented on #10445
I really appreciate your great fixes here, @dorrin-sot. As I am an avid AnkiDroid user, it's nice to get these things covered.

[2022-07-15 02:34] mikehardy commented on #11834
Oh I was really hoping the 2.16 code would have this fixed already, I am sorry it doesn't, thank you very much for trying

[2022-07-15 09:29] BrayanDSO opened #11855 "[Bug] Setting Answer Button Position to None should hide only the answers buttons"
###### Reproduction Steps

1. Go to settings > Appearance > Answer Button Position
2. Set it to None
3. Start reviewing some cards

###### Expected Result

Only the answer buttons are hidden

###### Actual Result

The minibar, app bar and system bar disappear as well.

###### Debug info
AnkiDroid Version = 2.16alpha70

Android Version = 12

Manufacturer = samsung

Model = SM-N770F

Hardware = exyn

[2022-07-15 09:31] misanthropos opened #11856 "java.util.zip.ZipException. error in opening zip file. on Galaxy S4 minis[Bug]"
Years ago I created a stack with pictures of corals and their corresponding names. Because of the included images that card deck is bigger in size than the usual stacks. Synchronizing from a Galaxy S6 Edge forward does not pose any problems. However syncing always fails with mentioned error window popping up.

Is the Zip library using a CPU instruction unknown to the S4 Mini??

I have tried lineag

[2022-07-15 11:32] Yoannjap commented on #11834
Well, no problem. I hope it may be fixed in a future update :)

For now and for people that want to bypass this issue for now:
  • I edit or create cards adding the videos on AnkiDroid;
  • Then I sync the media added in the collection.media folder with a mirror Nextcloud folder (syncing using rclone) ;
  • Then on my PC I sync back from the Nextcloud to my PC Anki app collection.media folder the

[2022-07-15 17:51] Arthur-Milchior opened #11861 "Replace "Add note" by "Add""
So, here are the places where `Add Note` is used:

- One of the 3 app shortcuts
- NoteEditor
- FAB
- Gestures selection
- Reviewer menu

Following @brayanDSO analysis, we want to keep the string in Gesture and reviewer menu, and change the other ones.

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Anki-Android/issues/10853#issuecomment-1112735559_

After two months, I assume ori

[2022-07-16 05:35] pavreh opened #11865 "[Bug] card editor - context menu does not work"
###### Reproduction Steps

1. Edit a note
2. Long press in a field
3. Press one of the following: cut, copy, select all, undo, clipboard, paste as plain text

###### Expected Result
Selected option is performed

###### Actual Result
Selected option is not performed. E.g. the text is not cut, copied and so on.
Paste works.

###### Debug info
AnkiDroid Version = 2.16alpha73

Android Version = 12

Ma

[2022-07-16 06:17] Amandeep404 commented on #11450
can I work on this issue?

[2022-07-16 08:12] lukstbit commented on #11865
This was introduced in 0527ea0f84 .
@dorrin-sot Could you please have a look at this as it was your PR?

[2022-07-16 12:16] BrayanDSO opened #11868 "[Bug] Flag icon doesn't use the correct color on the app bar on day themes"
On main c0a9657

They should be white
![image](https://user-images.githubusercontent.com/69634269/179354448-f501cfad-363e-4f4f-b91c-fed91d89ad3b.png)

![image](https://user-images.githubusercontent.com/69634269/179354454-339f5c37-de75-48e0-8bd7-d7dcea8b955f.png)

###### Debug info
[code]

###### Research
*Enter an [x] character to confirm the points below:*

- [x] I have read the [support page](ht

[2022-07-16 12:18] BrayanDSO commented on #11868
[cause](https://github.com/ankidroid/Anki-Android/commit/f0e4ceb6237002ed3c9ab21b99081fc744b930fd#diff-f8131e95f2af6b71f6d8736672745f572e4a8c292888458c78cc76da99a35bd2R4). Pinging @viciousAegis

[2022-07-16 12:21] viciousAegis commented on #11868
On it 👍🏼

[2022-07-16 19:10] BrayanDSO opened #11872 "[Bug] Crash if card browser query is made with no items selected"
On main c0a9657

1. Tap Card browser's Filter FAB
2. Tap Apply with no items selected
--> crash

[crassh.webm](https://user-images.githubusercontent.com/69634269/179368864-604e1530-184f-4116-950b-ec5c50a68079.webm)

###### Debug info
[code]

###### Research
*Enter an [x] character to confirm the points below:*

- [X] I have read the [support page](https://ankidroid.org/docs/help.html) and am repor

[2022-07-16 20:01] dorrin-sot commented on #11865
@lukstbit Sure!

[2022-07-16 21:08] shaiguelman commented on #11861
Could I take over this?

[2022-07-17 03:46] lukstbit commented on #11450
@Amandeep404 Sure, there's no need to ask for permission. If you see places in the code base where the var usages  can be improved as mentioned above you can make a(small) pull request.

[2022-07-17 11:56] Arthur-Milchior opened #11877 "[Bug] Crash during deck filtering"
###### Reproduction Steps

1. From my collection https://www.milchior.fr/anki/milchior.colpkg (warning 1.5 go)
2. search for "math" in deck picker

###### Expected Result
Find all mathematical decks

###### Actual Result
Crash

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

AnkiDroid Version = 2.16alpha73

Andro

[2022-07-17 12:03] Arthur-Milchior commented on #11861
I'm quite sorry @shaiguelman because someone already sent a PR before you asked.
FYI, in general you can just put a note stating you'll start working on it. The only time we really require someone to ask us first is during Google Summer of Code selection due to the number of participant. So feel free tof ind another task that seems relevant to your interest

[2022-07-17 12:22] Arthur-Milchior opened #11878 "Add comment to xml layouts"
We have 81 layouts defined in XML (only counting the ones in https://github.com/ankidroid/Anki-Android/tree/main/AnkiDroid/src/main/res/layout ). I find it hard sometime to know what they represents and the goal of this issue is to improve it.

If other maintainers approve, one way to do it would be, for each layout `la.xml`:
* create a root folder "screenshot" and add a low quality (to save space

[2022-07-17 12:23] david-allison commented on #11878
This doesn't seem worth the effort currently. There's much more high priority work to do

[2022-07-17 12:26] Arthur-Milchior commented on #11878
I am confused. I agree it would not be worth the effort for more experienced contributor. But some people are willing to help and not yet knowledgeable enough to be given high priority work to do.
As far as I'm concerned, having those comments would have saved me quite some time this after-noon, when I was reviewing some other PR and I had trouble understanding what a layout did. And I hope most l

[2022-07-17 12:41] Arthur-Milchior commented on #10416
@ayushsoni916
It seems the task was entirely abandoned. If you're still interested, please I'd welcome any help here

[2022-07-17 12:41] david-allison commented on #11878
This makes it harder for **everyone** to modify layouts, as they have to update the screenshots. It's a large amount of work now, and it makes everyone's workflow more unpleasant when dealing with layouts. This makes the developer experience worse.

From a technical argument: It bloats the repository, and it needlessly replaces the in-built IDE tools to determine where a layout file is used.

It f

[2022-07-17 12:51] Arthur-Milchior commented on #11878
For new layouts, we'll want a screenshot anyway to upload for context for translators. (Unless there is no text in the layout, which does not seem to occur that often). Also, hopefully, someone creating or changing a layout will test their code and open the layout on a device to ensure it gets the right result, and probably will need a screenshot to illustrate their PR. I am thus far from convince

[2022-07-17 13:03] #11872 closed

[2022-07-17 13:44] david-allison commented on #11878
Screenshots don't need to be updated if a layout changes. They typically need to be updated if the string changes, and even then, only if we're causing problems for the translators.

The point of the screenshots for translators is to provide context for where the string is used. As long as we're providing this context, translators can do their job, and we don't need to expend additional time.

An

[2022-07-17 13:49] david-allison commented on #11878
Let's go for a sample workflow.

`deck_picker_dialog_list_item `

I find an instance of the ID (Ctrl+Shift+F + `deck_picker_dialog_list_item `:

https://github.com/ankidroid/Anki-Android/blob/4c20bb65678a76cdd10efc0724286b588e25dce0/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/DeckSelectionDialog.kt#L260-L262

It's used inside `DeckSelection`, which is commented as:

https://github.com/ankidroid

[2022-07-17 15:19] david-allison commented on #11878
An alternate proposal

Our XML layout previews haven't been well maintained. We should get them working again. I've pinged @BrayanDSO to see if this is a quick fix (it feels theme related)

In addition, we can fix most of our layouts to show a 'good' preview, which should fix this.

An example of a preview:

![Screenshot 2022-07-17 at 16 18 49](https://user-images.githubusercontent.com/62114487/17

[2022-07-17 16:55] BrayanDSO commented on #11878
Change the preview theme to one of AnkiDroid's

![image](https://user-images.githubusercontent.com/69634269/179416211-6732cbbc-5a2e-4959-a9f1-752e1aa69d84.png)

To have it by default on the previews, add it on the manifest `<application>` tag (https://stackoverflow.com/questions/50923968/android-studio-layout-preview-default-theme)

I suggest having `Theme_Light` as the default.

---
On some layou

[2022-07-17 17:14] mikehardy commented on #10107
Still needs triage

[2022-07-17 17:58] david-allison commented on #11878
One useful step in this would be to star: https://issuetracker.google.com/issues/151244078

We're unable to add previews for `TabLayout`, which has usages

[2022-07-17 19:27] #11868 closed

[2022-07-17 19:49] shaiguelman commented on #11861
Ah no worries thanks for the explanation.

[2022-07-17 21:31] mikehardy commented on #11878
Feels like busywork to me adding a barrier also. I also just grep for the key and dereference the layout. I also just use the layout editor sometimes. I starred the issue on googles tracker. I don't want to add process or repo inertia here

[2022-07-18 05:27] dae commented on #11755
Can be closed?

[2022-07-18 05:42] dae commented on #11755
(in case it's not clear, the latest code has already updated to MD3)

[2022-07-18 05:49] dae commented on #10752
Probably not worth spending time on at this point.

[2022-07-18 06:02] dae commented on #10401
Counterargument: it makes the request idempotent. The user asks for a deck with name x, and when the command returns, they have a deck with name x (even if it already existed). Why make it an error?

One reason the backend doesn't make this an error is that the existence check requires unicode case folding, which the frontend may struggle with.

[2022-07-18 06:05] dae commented on #10397
Just requires exposing col.newBackend.backend.removeTags()

[2022-07-18 06:34] dae opened #11882 "Make Rust backend the default"
This will need to be done in number of steps:

- [x] Confirm all features work correctly when the new schema is activated. From alpha 77, testers can opt in to the new schema in the advanced settings page. Developers can also optionally add a `legacy_schema=false` line in their local.properties file instead.
- [x] Address any issues marked with `@BlocksSchemaUpgrade`
- [x] Make dev builds and CI u

[2022-07-18 06:36] dae commented on #11737
Suggest this is closed in favour of #11882

[2022-07-18 06:45] dae commented on #9665
To support this, the reviewing screen will need to be refactored to store the next states, and will need to call the JS function after a card is shown. The existing API in AbstractSched will need to be changed.

[2022-07-18 07:04] dae commented on #9138
Can be closed?

[2022-07-18 07:05] dae commented on #9067
Assuming this is rare, I guess it can be closed?

[2022-07-18 07:06] dae commented on #9065
Assuming this is rare, I guess it can be closed?

[2022-07-18 07:06] dae commented on #9064
Assuming this is rare, I guess it can be closed?

[2022-07-18 07:08] dae commented on #8819
Assuming this is rare, I guess it can be closed?

[2022-07-18 07:29] dae commented on #7108
I think AnkiDroid's code could be considerably simplified if it migrated the existing tasks to Kotlin coroutines.

[2022-07-18 07:58] huzaifa-shah10 commented on #9138
I don't know. still haven't found a solution.

On Mon, Jul 18, 2022 at 12:04 PM Damien Elmes ***@***.***>
wrote:

[2022-07-18 08:53] david-allison commented on #7108
@divyansh-dxn is doing this for Google Summer of Code

[2022-07-18 08:56] david-allison commented on #11755
I believe we're still on Material Design 1. The recent update was material dialogs.

https://github.com/ankidroid/Anki-Android/blob/1fb9cac4c7d3b5746f573ec8b5056068c9e1716e/AnkiDroid/build.gradle#L264

[2022-07-18 08:57] david-allison commented on #10752
Agreed. @Arthur-Milchior ?

[2022-07-18 12:25] pavreh opened #11883 "[Bug] "Choose another" button in "Restore from backup" dialog is disabled"
###### Reproduction Steps

1. Press three dots in the deck picker
2. Press Restore from backup
3. Press Continue button

###### Expected Result
The "Choose another" button is enabled

###### Actual Result
The "Choose another" button is disabled
Seems similar to #11810

###### Debug info
AnkiDroid Version = 2.16alpha73

Android Version = 12

Manufacturer = samsung

Model = SM-A225F

Hardware = mt67

[2022-07-18 16:40] mikehardy commented on #11755
Hi there! Agreed on productive comments - sarcasm is corrosive in text-only environments, and attempts at humor backfire. And that's assuming the best on the comment.

So to business: it's important not to conflate "material design 3" with "version of material design library dependency"

The material design library is at 1.6 and will go to 1.7 shortly: https://github.com/material-components/materi

[2022-07-18 18:45] dae commented on #8045
See https://github.com/ankidroid/Anki-Android/pull/8159#issuecomment-1186151840

[2022-07-18 19:14] mikehardy commented on #10401
In the absence of progress + the presence of staleness indicating lack of interest + the presence of Anki Desktop maintainer having considered this before and showing a technical reason not to, going to close

[2022-07-18 19:14] #10401 closed

[2022-07-18 19:17] mikehardy commented on #9067
Yes - there is only one item left that I really want, and that is to add space free/used as I think even the ones that couldn't load it are probably trace-able to lack of disk space for APK unpack, and it would help show that as the exception is reported (when it is, which is rare) - it's tracked #9097

[2022-07-18 19:17] #9067 closed

[2022-07-18 19:28] dae commented on #8658
After the new schema is the default, this can be solved by switching to the backend congrats.html.

[2022-07-18 20:26] dae commented on #6772
Should be unblocked when https://github.com/ankidroid/Anki-Android-Backend/pull/217 is merged and AD points to a new release.

[2022-07-19 00:27] mikehardy commented on #11737
Happy to do so - we were considering making a `@BlocksSchemaUpgrade` annotation per comments above, is that still useful? If so, it's not indicated in 11882 so it might be nice to be prescriptive in the checklist on an annotation like this being used. If you're already past that, then ignore me and I need to get that anki PR merged then the backend PR merged and a release kicked out so your second

[2022-07-19 00:30] #11883 closed

[2022-07-19 04:13] mikehardy commented on #11845
Hi there! Is it possible to try a newer alpha? 58 is pretty old at this point - https://github.com/ankidroid/Anki-Android/releases

If it is still happening we can look again of course - unfortunately I do *not* see your report in our crash database, so I'm not sure what is going on there :thinking:

[2022-07-19 05:23] david-allison commented on #11878
@Arthur-Milchior now https://github.com/ankidroid/Anki-Android/pull/11879 has gone in, are there any additional layouts to flag as needing work?

[2022-07-19 06:24] david-allison commented on #11845
Is it possible for you to share the deck you're trying to import?

[2022-07-19 06:35] shocklateboy92 opened #11885 "Intent/Activity API for opening the Card Browser"
**Is your feature request related to a problem? Please describe.**
At the moment, I have a website with my relevant anki notes to things like `nid:1238753945`. I have to select the text (which is rather painful on mobile) and click "Card Browser" in the context menu to go to it.

**Describe the solution you'd like**
An intent API for navigating to the Card Browser with an action parameter filled i

[2022-07-19 06:40] david-allison commented on #11885
I don't believe this is possible yet. Pull requests welcome!

[2022-07-19 06:40] dae commented on #8658
My comment was aimed at other AnkiDroid developers; for now please wait a bit longer.

[2022-07-19 06:45] mikehardy commented on #11885
interesting, from the doc you linked "A little known feature..." indeed it is! I work with mobile apps and dynamic links from firebase a lot but did not know the chrome browser could do this.

From their [example](https://developer.chrome.com/docs/multidevice/android/intents/#examples) they mention consulting the zxing AndroidManifest to see the scheme definition, it's here, and it appears you jus

[2022-07-19 07:24] #11861 closed

[2022-07-19 10:17] Yoannjap opened #11887 "[Bug] Edge pro shortcut gestures don't work anymore with last alpha version"
Hey,

Using last alpha version of Ankidroid, I figured out that [Xposed Edge Pro](https://play.google.com/store/apps/details?id=com.jozein.xedgepro)  gesture shortcuts with it I made to edit text (select all / cut / copy / paste) work on any app but not with Ankidroid anymore when I edit a card...

Debug information:

With Anki 2.15.X until Anki 2.16alpha53, Xposed Edge Pro clipboard edit gestures

[2022-07-19 10:40] david-allison commented on #11887
Hi @Yoannjap, could you post the debug information (as listed in the bug template)?

It would also be useful if you could bisect to find the version which broke the Xposed plugin.

Due to the dependency on Xposed, it's very likely we'll need some investigative work to get this resolved. I personally don't use it.

[2022-07-19 10:44] david-allison commented on #11885
For reference, what AnkiMobile uses: https://docs.ankimobile.net/url-schemes.html

[2022-07-19 11:14] pierre-amadio commented on #9592
Please do not close this.
According to a [previous comment](https://github.com/ankidroid/Anki-Android/issues/9592#issuecomment-1128122512) , there is a known fix, right ?

When is 2.16 that should contain it supposed to be released ?

[2022-07-19 14:11] oakkitten opened #11889 "Improve Card browser scrolling performance"
I think Card browser scrolling performance is slightly suboptimal. The UI freezes a lot when you flick down or up, and when I drag the scrollbar I get about 3 FPS.

There seems to be a task that pre-renders the table when you scroll in a background thread. It only renders a little more than 2 screenfuls of rows. I tried to make that task render *all* rows, and here are the results:

  * There's 19

[2022-07-19 14:56] dae commented on #11737
Annotation is added in #11740

[2022-07-19 15:29] mikehardy commented on #11885
looks like it doesn't support search, perhaps @dae has an opinion on what URL scheme he'd like to see for a note id search to open card browser?

[2022-07-19 15:32] mikehardy commented on #9592
@pierre-amadio 2.16 will be released when #5304 is done - but to be clear, that is an *epic* issue. Lots of progress has been made but we must be very very careful on that whole change so it will take time. Probably months still despite our strongest desires for more speed on it

[2022-07-19 15:55] mikehardy commented on #11737
Nice! Going to say "you're already past that" then...

[2022-07-19 15:55] #11737 closed, assigned to nobody

[2022-07-19 17:42] pavreh commented on #11887
Select all / cut / copy etc. in the card editor is broken in the latest alpha (#11865). @Yoannjap, can you please test 2.16alpha53? Xposed Edge Pro could work there.

[2022-07-19 17:51] Arthur-Milchior commented on #7939
Ping @viciousAegis

[2022-07-19 18:04] Arthur-Milchior opened #11891 "[Bug] Full sync from ankiweb fail"
###### Reproduction Steps

1. Do some change requiring a full sync.
2. sync
3. when warned about conflict, select ankiweb
4. accept

###### Expected Result

Full sync

###### Actual Result

Collection can't be opened

###### Debug info

Running PlayDebug from 27ffca5a553d1c79fb94407cd912c7a032d04909

2022-07-19 20:01:25.597 2378-9532/com.ichi2.anki W/Connection: java.lang.NullPointerException

[2022-07-19 21:57] mikehardy commented on #11891
This may be fixed by https://github.com/ankidroid/Anki-Android/pull/11740/commits/1596e75304935fb96f3ac991db079c78b7837ca9 on https://github.com/ankidroid/Anki-Android/pull/11740 - working on that as my next task (to get it merged)

[2022-07-19 22:01] Arthur-Milchior opened #11893 "[Bug] AnkiDroid fails on crash"
I guess I get the directory reading permission issue again. No idea what it means, but here is the stack trace

[code]

[2022-07-19 22:07] mikehardy commented on #11893
What have you tried? (I would try system settings / preferences / ankidroid / check the storage access; I would try uninstall reinstall)

[2022-07-19 22:53] Arthur-Milchior commented on #11893
I tried reinstalling older alphas. It did fail with same exception.

I followed your advice, and once setting is set back, I got back to bug https://github.com/ankidroid/Anki-Android/issues/11891

[2022-07-19 23:01] mikehardy commented on #11893
I wonder if #11740 will work for you

[2022-07-19 23:12] BrayanDSO opened #11894 "DatabaseErrorDialog shouldn't be cancellable by outside touches."
DatabaseErrorDialog shouldn't be cancellable by outside touches.

https://user-images.githubusercontent.com/69634269/179863188-2bd71437-4189-468f-a0f5-8159e24cace9.mp4

It leads to crashes if I open the Card Browser, Statistics and a lot of other things.

Task here is to add `cancelOnTouchOutside(false)` to `DatabaseErrorDialog`

_Originally posted by @BrayanDSO in https://github.com/ankidroid/Ank

[2022-07-19 23:24] BrayanDSO commented on #11894
If someone needs a corrupt collection to reproduce this, just delete the `collection.anki2` file on AnkiDroid directory (please not your personal one) and rename any file (it can be an empty one) to `collection.anki2`.

[2022-07-19 23:28] BrayanDSO commented on #11894
Just to state: the dialog `Close` option action is exiting the app, not closing the dialog, which may not be expected.

IMHO, I think that the `Close` button should be gone as well, but that's for the maintainers to decide.

[2022-07-20 09:07] misanthropos commented on #11856
Annotation: Removing the corales deck does not solve the problem. So the  problem arises after loading up about 10k of data.

[2022-07-20 09:46] dae commented on #11885
x-callback-url is an iOS thing, so it might not be practical to use the same scheme on both platforms. But I'd suggest using a generic search endpoint where the search string is passed in, rather than making something specific for note ids.

[2022-07-20 09:52] dae commented on #11889
Some of the performance problems can likely be solved with col.newBackend.backend.browserRowForId(). It's intended to be used on demand (eg with a RecyclerView or similar)

[2022-07-20 10:09] david-allison commented on #11442
I believe the problem is the HTML is sometimes changed to `"<hr id="answer">"` and we also need to handle this case when detecting the answer

fb6993c15973b9b92506f12e1eb20c55c97f4208

[2022-07-20 10:36] Arthur-Milchior commented on #11891
I tested on another device, that has not had updates for at least weeks if not months, and got the same issue after download (I was not connected, so can’t check if it’s the same stack trace)

[2022-07-20 15:20] Yoannjap commented on #11887
@pavreh
Thanks for your reply.
Indeed, I downloaded the 2.16alpha53, and Xposed Edge Pro clipboard edit gestures work with this version!

[2022-07-20 18:16] david-allison commented on #11887
I'd like to close this as a duplicate of https://github.com/ankidroid/Anki-Android/issues/11865.

Good news is that this is much easier to fix.

@Yoannjap Would this work for you? (following the linked issue for updates)

[2022-07-20 19:47] BrayanDSO commented on #11834
AnkiDroid doesn't keep media on `<video>` tags if you use `Check media`, but `<object>` tags work here.

[2022-07-20 21:15] #11442 closed

[2022-07-21 00:00] Yoannjap commented on #11834
Hey BrayanDSO,

Thanks for your reply.
As I said in my first message, I 'add' the videos:

1. downloading the MP4 video on my Android download internal SD folder;
2. renaming it xxxx.mp4;
3. using Termux to move it (mv command) to my Ankidroid/collection.media/ folder;
4. editing a special field onto the card :
`<video muted autoplay loop width="400" height="300" controls><source src="xxxx.mp4"></

[2022-07-21 00:22] david-allison commented on #11834
As a workaround `[sound:]` will work for videos.

[2022-07-21 10:08] BrayanDSO commented on #11834
I'd faced an issue very similar to yours before, as once I copied the files directly to the collection.media as well. Fixing the problems I had with media importing is actually why I started contributing to the app.
Moving the file directly to the collection.media folder doesn't do the process of adding it to Anki's media database . I guess (it means I haven't looked at the actual code) Anki check

[2022-07-21 11:36] #11877 closed

[2022-07-21 14:15] mikehardy commented on #11891
@Feripe-a may I ask what version was the last version that worked for you?

[2022-07-21 14:31] mikehardy opened #11902 "V16+ schema requires new implementation of sync badge"
I want to temporarily sunset the sync badge. It's based off DB access which won't work with the new backend and I don't deem it to be higher priority than getting this in. I'd rather we removed the display logic and added a cleanup to recode it in a manner which works with the new backend

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/11740#issuecomment-1

[2022-07-21 18:35] SamarthAsthan commented on #10773
@david-allison @Arthur-Milchior @snowtimeglass hey can you assign it to me i want to work on it ?

[2022-07-21 19:25] Feripe-a commented on #11891
AnkiDroid Version = 2.16alpha73

Android Version = 11

Manufacturer = Xiaomi

Model = 2201117TL

Hardware = qcom

Webview User Agent = Mozilla/5.0 (Linux; Android 11; 2201117TL Build/RKQ1.211001.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/103.0.5060.71 Mobile Safari/537.36

ACRA UUID = b444231e-17cf-4bf2-b7d3-baa13502a9d6

Scheduler = std2

Crash Reports Enabled = true

Data

[2022-07-21 20:21] pavreh commented on #9482
Hi @homocomputeris, let me recap your steps: Set font in Ankidroid settings to system default. Change font in the phone settings. Start reviewing in Ankidroid. Font used in a card is not as expected. Is it correct?

Font used in a card can be influenced by the card template. Check CSS Styling of your card template.

![Screenshot_20220721-220758_AnkiDroidA](https://user-images.githubusercontent.com

[2022-07-21 23:27] david-allison commented on #11004
@BrayanDSO I believe this is fixed, could you link the PR it was fixed in

[2022-07-21 23:47] homocomputeris commented on #9482
Correct.

Here is my CSS
[code]

[2022-07-22 00:06] #11733 closed

[2022-07-22 00:06] #11735 closed

[2022-07-22 00:06] #11736 closed

[2022-07-22 00:07] #11703 closed

[2022-07-22 00:07] #11732 closed

[2022-07-22 06:40] pavreh commented on #9482
I deleted "font-family" from my CSS and I got exactly the same result (thin font, italics is bold). It means the issue is caused by your CSS. Add a font family to the .card section. I am not sure how to handle .var and .reg sections.

[2022-07-22 08:21] slavistan commented on #11856
I'm having the same problem on a Galaxy Note 4 (SM-910F) using LineageOS. The error started to occur a few weeks ago, seemingly out of nowhere.

![image](https://user-images.githubusercontent.com/35600954/180395927-838ed92a-114b-4511-a2ee-153122a5204c.png)

Despite the error, the sync seems to work. Any learned and new cards are synchronized to my desktop app, but the synchronization always shows

[2022-07-22 08:25] slavistan commented on #11856
@misanthropos After removing the deck did you delete the trash prior to syncing? I don't know whether deleted items are synchronized or not. Might be worth a try.

[2022-07-22 11:08] david-allison commented on #11582
I'd like to reopen this for discussion

It feels useful to have the Anki code which mirrors the python be 1:1 in all aspects.

One of our constant maintenance tasks will be to match Anki Desktop's python, and we want this to be done as easily as possible.

With Kotlin, we can get very close to matching the syntax of the python.

Everything else: Absolutely go with idiomatic code.

One of my long-t

[2022-07-22 11:12] david-allison commented on #10773
Done

[2022-07-22 11:16] dae commented on #11582
My thinking here is that most of the time, developers are not concerned with the intricacies of the backend, and they expect functions/properties to be in the format typical of that language. When developers do need to compare things to the desktop code, it's fairly easy to convert a camelCase name to a snake_case name in your head, and the conversion is unambiguous. Given that the desktop code is

[2022-07-22 15:49] BrayanDSO commented on #11004
Info.kt (the activity with the red links) isn't gone yet as the changelog still uses it, so the issue is still valid, although it should be fixed soon.

[2022-07-22 17:53] divyansh-dxn commented on #10800
Happened with me as well. I was thinking it was due to my changes and I have done something wrong. I was quiet frustrating because I hadn't touched this part of code, so possibly it could happen.

[2022-07-22 18:00] divyansh-dxn commented on #10800
Trying to fix, is just a simple one.

[2022-07-22 20:22] homocomputeris commented on #9482
If you confirm the issue, it means it's caused by the incorrect font rendering or wrong font substitution.

[2022-07-22 21:34] mikehardy commented on #10773
I believe this *may* actually be done? #11876

[2022-07-23 06:19] SamarthAsthan commented on #10773
@david-allison @mikehardy
You see if it looks good or not, may I push it?

<img width="1440" alt="Screenshot 2022-07-23 at 11 45 36 AM" src="https://user-images.githubusercontent.com/97031010/180593069-b3a330df-b096-4c8d-8cb3-e62414b9638a.png">

[2022-07-23 08:40] #11363 closed

[2022-07-23 08:59] misanthropos commented on #11856
AFAIK there is no trash. At least I could not find any on Lineage 18.1.
A full sync from AnkiWeb will show the error popup window.

[2022-07-23 13:12] slavistan commented on #11856
![image](https://user-images.githubusercontent.com/35600954/180606455-b7a4a999-7293-4608-9179-d2d2e645328a.png)

If you delete a card with media, then open the `check media` dialogue, there'll be a button to delete unused media. After deletion, the media will have landed in the trash. Afterwards, you'll have the option to empty the trash.

[2022-07-23 13:45] #11894 closed

[2022-07-23 16:00] oyeraghib commented on #11139
@thevar2002 are you still working on this issue ?

[2022-07-23 16:05] thevar2002 commented on #11139
@oyeraghib No. I won't be working on this issue since I have my Examinations going on. Please go ahead to work on this issue.
Thanks.

[2022-07-24 01:05] oyeraghib commented on #11139
Okay I will be working on it :)

[2022-07-24 14:37] #11330 closed

[2022-07-24 15:37] snowtimeglass commented on #11723
Thanks for the analysis and the concept. As one of the users who use the card browser frequently, I am interested in this topic.

[2022-07-24 16:45] #11283 closed

[2022-07-24 17:00] BrayanDSO opened #11916 "Help/Support AnkiDroid dialog arrow is too big"
###### Reproduction Steps

1. Open the navigation drawer
2. Tap help or Support AnkiDroid

###### Expected Result

Back arrow has a normal size

###### Actual Result

Back arrow is enormous.

![Screenshot_20220724-135543_AnkiDroid](https://user-images.githubusercontent.com/69634269/180658111-f2fe40d4-9616-4c22-b447-c830eb8b77aa.png)

Most likely related to Material dialog upgrade. It had a reasona

[2022-07-24 18:31] Arthur-Milchior opened #11917 "[Bug] Api Unit test do not compile"
The main problem is that API's unit test seems not to be tested by our CI.
No idea how to fix that. But it probably should have been detected sooner.

The more local problem is that the test `splitFieldsShouldReturnNullWhenStringIsNull` was broken in 9024e6629b3f3a02e33c94c95c2f0e9e7d819322 . It's not clear how to repair it. The function `splitFields` do not accept null anymore. The question is wh

[2022-07-24 19:41] #10800 closed

[2022-07-25 12:29] BrayanDSO commented on #10622
Ohhhhh, dear bot, I like our conversations. Perhaps I should give you a name or nickname. We are getting really close to this with all the backend work that is being done. I am very excited with all the new things we will be able to do with it. Maybe as excited as you are with notifying people that their issues are stale

[2022-07-25 16:30] WiliTest commented on #11695
Same problem with the last version (alpha75): when I set the reschedule button to "always show", the app crashes when I click on a deck.

If it's because there is not enough space, it'd great to either put the deck name just on the "div" bellow (which shows the number of red and green card for today) or to put it somewhere on the drop down menu or to simply remove it.  The deck's name is not reall

[2022-07-25 19:59] bennettj12 commented on #10489
I'm currently working on NavigationDrawerActivity.kt

[2022-07-26 11:19] pavreh opened #11928 "[Bug] Renamed flags are set to default after sync"
Used SW: Anki ⁨2.1.54 Qt 6; Ankidroid 2.16alpha75

###### Reproduction Steps

1. sync AnkiDroid
2. sync Anki
Next steps in Anki
3. Browse
4. right button click on Red Flag in Sidebar
5. Rename
6. write a name (e.g. "flag")
7. close the browser
8. sync
9. sync Ankidroid
10. sync Anki
11. Browse

###### Expected Result

The name of the red flag is "flag" in Anki
(It would be also cool if AnkiDroid s

[2022-07-26 19:46] prateek-singh-3212 commented on #11430
I require the complete plan.

By mike- [url](https://discord.com/channels/368267295601983490/977324966225801266/1000440356380344380)

[2022-07-27 14:21] #10411 closed

[2022-07-27 14:21] #10694 closed

[2022-07-27 14:21] #9368 closed

[2022-07-27 18:17] BrayanDSO commented on #9368
As this is closed, I think this can be unpinned

[2022-07-27 20:12] BrayanDSO commented on #9452
Currently, the only place `setTargetFragment` is used is on `Preferences.kt`

It is necessary to use it, because AndroidX `PreferenceDialogFragmentCompat` calls `getTargetFragment()`. If this happens without `setTargetFragment` getting called before, it leads to a crash, which means that we can't exchange it to [setFragmentResultListener](https://developer.android.com/reference/androidx/fragment/a

[2022-07-27 21:15] RSBat commented on #10416
Please clarify, do you want to detect only direct usages of SDK_INT and CompatHelper in tests, or also cases when tests call methods that use them inside?

[2022-07-28 12:50] #11404 closed

[2022-07-28 15:35] santiyounger commented on #10961
that's a good idea! can you help me find where to turn off "screen button" in the ankidroid settings?

thanks

[2022-07-29 07:00] WiliTest opened #11939 "Keep the settings when downgrading (= when uninstalling the app)"
**Is your feature request related to a problem? Please describe.**
Trying a new beta version is always costly because, when we encounter a bug, and have to downgrade to come back to the previous version that worked fine, we have to uninstall the app, we lose all our settings (like gestures, themes)

**Describe the solution you'd like**
saving settings into the DB would solve this issue

**Addition

[2022-07-29 13:21] BrayanDSO commented on #11939
Overall I agree. This is related to #9762, as it proposes saving the settings on the collection too.

As I'm already refactoring the settings code on my GSoC project, and this is actually part of the project "If I have time" section, I may do it on the end of August, or soon after GSoC, depending on my availability and the PR reviews pace.

[2022-07-29 13:36] dae commented on #9762
Please don't use media files for frequently changing content - small key/values are better stored in the collection config as Mike suggested. Note that not everything can be stored there - the sync key, profile config and per-device settings will need to be stored elsewhere.

[2022-07-30 10:01] yshubham8419 commented on #9978
Hi @david-allison , I want to work on this issue.

[2022-07-30 14:47] bernardosulzbach opened #11940 "[Bug] The play audio button is still not the same as the Anki Desktop play audio button"
###### Reproduction Steps
1. Use AnkiDroid with a [sound:...] tag whose output you tried to modify by using CSS targetting `replay-button`.

###### Expected Result
A similar (ideally identical) element to the one I get on Anki Desktop.

###### Actual Result
![image](https://user-images.githubusercontent.com/8271090/181919337-3d9570cb-8e70-4ba5-97e2-0dcbe0ab7ad4.png)

###### More info
See [Audio Re

[2022-07-30 14:56] shahrd97 commented on #11680
Solved it there was an error in my android filepicker app _com.google.android.documentsui_, I reinstalled the app with adb and restarted my phone and importing decks works now.

[2022-07-30 14:56] #11680 closed

[2022-07-30 17:05] Arthur-Milchior opened #11942 "[Bug] dos line break"
The file AccessibilitySettingsFragment.kt has dos line break. Which appear as "^M" in emacs. (Can also be created with `\r` usually).
Three things to do:
* may be nice to have a lint that correct it for files in text mode
* Remove them in this file
* @BrayanDSO, please if you can, ensure that when you create a new file, it uses the same end of line as the remaining of the code (it was not an issue

[2022-07-30 17:13] nzarbayezid commented on #10961
Anki>settings>reviewing>fullscreen mode>hide the system bar and bottoms

[2022-07-30 17:27] pavreh commented on #11940
#10350 was merged 6 months ago but AnkiDroid 2.15.6 is one year old. Please try the latest alpha.
[https://github.com/ankidroid/Anki-Android/releases](https://github.com/ankidroid/Anki-Android/releases)

[2022-07-30 17:55] #11855 closed

[2022-07-30 18:40] #11848 closed

[2022-07-30 18:41] #11865 closed

[2022-07-30 19:06] bernardosulzbach commented on #11940
Ah, that's the issue. I read 2.15.6 as being released July 14 but didn't see it was... last year.

Do you know why there has been no public release of AnkiDroid since then?

[2022-07-30 19:06] #11940 closed

[2022-07-30 19:13] mikehardy commented on #11940
@bernardosulzbach we are very carefully working through the required changes for "scoped storage" which requires us to move the database of all the installed users to a new location on their phone - #5304 - and in the meantime we're doing other large-scale projects like Google Summer of Code (2021 and 2022), migrating from Java to Kotlin and a few other things so it is all just taking time. We'll

[2022-07-30 23:28] mikehardy commented on #9978
I think this is going to be a tough issue because of this - #11902 - no effort should be spent on the current implementation because of the new schema making it obsolete. That said if you want to take this up - for the new schema in general (11902 as well as this) that would be *awesome*

[2022-07-30 23:43] mikehardy commented on #11680
Happy to hear you got it working! That is such a strange error - hopefully that doesn't happen to too many people

[2022-07-31 02:27] jaxxor44 opened #11949 "study reminders/ notifications/ notification cards"
I have a hard time dedicating a BLOCK of time to studding a bunch of cards in a row.
Its far easier for me to study a card here, a card there, in the moments in between my life events.

Ideally, Id get a notification when a card comes due (if the deck has notifications enabled).
The notification can open to the due card in Anki-droid, or
The notification displays the card, with buttons for "Good",

[2022-07-31 03:12] dae commented on #9978
#11902 should already be sorted for the new schema: https://github.com/ankitects/Anki-Android/commit/7c5da5a3297f66f29dbd018b0e496c5c8c1053cd

[2022-07-31 07:20] yshubham8419 commented on #9978
Thanks for the information, I will find another issue.

[2022-07-31 10:21] yshubham8419 commented on #10767
Hello @mikehardy I would like to  work on this issue

[2022-07-31 13:52] mikehardy commented on #11949
Hi there! Unfortunately this isn't practical, the notification display options provided by the system are not capable of handling the full set of Anki card formatting and there's no way to map between them.

The same applies to requests for a card on lock screen or similar, they don't offer sufficient display capacity

[2022-07-31 13:54] mikehardy commented on #11949
If you enabled notifications it should open to the deck that's got the card due, in review mode though?

[2022-07-31 13:55] #11949 closed

[2022-07-31 17:37] #11417 closed

[2022-07-31 19:48] Arthur-Milchior commented on #10416
That's a great question @RSBat, thanks a lot. And nice to meet you

Ideally, I'd love if you can detect any use, even indirect, because it will clearly have a wrong value. If you're able to do that without making tests more complex or costly, it would be wonderful.
I can imagine you could do that by using a MockStatic and ensuring that a call to get SDK_INT raise an exception during tests; it may

[2022-07-31 20:12] zorandz opened #11955 "Crop experience got worse"
Hi, I love the app, using it for years extensively, but new version has a different grid type crop that disables me from cropping intended part of the picture, it allows to shrink only so much. This is a rare case of an app in my experience that has gotten worse...

Anyway, great job overall, keep doing what ya doin'

[2022-08-01 07:04] divyanshdxn opened #11963 "Version mismatch not checked in loading the backend library."
###### Reproduction Steps
1. Set ANKIDROID_BACKEND_VERSION=0.1.1`5`-anki2.1.54
2. Download the dylib file for 0.1.1`4`-anki2.1.54
3. Set the env var for path
4. Run unit tests

###### Expected Result
Tests should fail to load producing a version mismatch error

###### Actual Result
Tests get instantiated and run.

https://user-images.githubusercontent.com/69595691/182091154-a1ecbfa9-ad1d-489a-bdea

[2022-08-01 17:04] Arthur-Milchior opened #11965 "Introduce `assertEquals` for `int`"
Currently `assertEquals` only consider Long and Object. In Java, Int were converted to Long, but in Kotlin they are converted to Object. Which force conversion to explicitly write `toLong` to get the proper overloaded method to be invoked.

I suggest adding in AnkiDroid/src/test/java/com/ichi2/testutils/AnkiAssert.java the following methods

[code]

and going through the 121 results of the search

[2022-08-01 17:38] david-allison commented on #11965
I don't believe this is necessary when we move to Kotlin

[2022-08-01 22:50] mikehardy commented on #10767
@yshubham8419 sure!

[2022-08-01 23:06] mikehardy commented on #11955
Hey there! There was a reason for that, the old crop functionality had become unmaintainable with a lot of changes in the underlying Android system APIs, and there's a new crop library which actually *improves* things in that for new android versions it actually works (the old system did not work at all for new android versions!). #8072 / #9159

But I'm not saying your use case or complaint is inv

[2022-08-01 23:06] #11955 closed

[2022-08-01 23:13] mikehardy commented on #11963
Thanks for filing this! Other maintainers this was filed on request. It may end belonging in Anki-Android-Backend, it may not be worth fixing even, I'm not sure but I wanted to track it in case it was easy at least

[2022-08-01 23:31] Arthur-Milchior commented on #11965
Can you please be more explicit? Because right now this is a problem that appeared during Kotlin migration specifically. Where the rule used to decide where overloaded method to use are distinct than the one in java.

I can imagine Kotlin provides a different solution to it, e.g. another test library for example, I'd love to know what you have in mind here

[2022-08-02 08:00] RSBat commented on #10416
That's an interesting idea, but looks impossible - there's no way to mock primitive types or observe field accesses.

Actually the best option might be lint check similar to `WrongThreadInterproceduralDetector`. Though it uses `analyzeCallGraph` which is marked as "Highly experimental as well as resource intensive!".

[2022-08-02 08:16] inexplicabro opened #11966 "[Bug] Field in my card goes blank if I edit it"
If I tap on the edit button (even without making any changes) on any one of my cards, one of my fields (which is a field which contains a graph) turns into an invisible square when I preview the card. If I then tap on the edit button again to see what happened to that field, it seems that the code hasn't changed a bit, it still has the same code that it had before I tapped on the edit button, and

[2022-08-02 08:55] the-nilosch opened #11967 "[Bug] Long Synchronization, then failure"
###### Reproduction Steps

Happens also on a freshly installed version:

1. I synchronize my flashcards with AnkiWeb
2. It downloads all the media files, even though they should be already on the phone. It also takes ages (ca 20 mins for my flashcards)
3. If not aborted, the following error is shown:
Collection synchronized.
Problems with synchronizing media files
java.io.IOException: write failed

[2022-08-02 11:16] david-allison commented on #11965
`Int` is an object. I don't see why this is necessary.

[code]

[2022-08-02 11:21] BrayanDSO opened #11968 "Remove `testutils` package from src/main"
abd1f8bfc316cdf11aba51af7bda7f5b05c493d7 created a package and file called `testutils` on src/main. (https://github.com/ankidroid/Anki-Android/blob/abd1f8bfc316cdf11aba51af7bda7f5b05c493d7/AnkiDroid/src/main/java/com/ichi2/testutils/TestUtils.kt)

As src/main isn't supposed to have methods suited only for test + there is already a `testutils` package on src/test, the method should be moved to src/

[2022-08-02 11:35] BrayanDSO opened #11969 "Use a project-wide license instead of adding a license to every file"
Never understood the point of the copyright statement when you have many people who edit the same file. Doesn't everyone get a copyright? If so, then this statement is wrong for the vast majority of files, since not many people update it. Besides, don't I get the copyright regardless of the statement?

Also, what's the point of having a license header in every file? Having a project-wide license s

[2022-08-02 11:37] BrayanDSO commented on #11969
Commented by @mikehardy [on the same discussion](https://github.com/ankidroid/Anki-Android/pull/11836#discussion_r922887142)

[2022-08-02 11:57] david-allison commented on #11969
For reference

https://www.gnu.org/licenses/gpl-faq.en.html#NoticeInSourceFile

[2022-08-02 12:13] dae commented on #11969
The approach the desktop uses is to include a license statement in every file, but to use a generic copyright line. Even a one-line patch holds its own copyright, but it's not practical to update the copyright statement every time, and users who contribute larger patches may feel aggrieved if they're not listed with other contributors. IMHO it's better to use a generic copyright line, and let the

[2022-08-02 15:27] mikehardy commented on #11966
Hey there! Sorry this is happening - I think this is an area of code that has changed a lot though, since 2.15.6 - can you try a test / .A release of the 2.16alpha series and see if it works for you? https://github.com/ankidroid/Anki-Android/releases

[2022-08-02 15:30] mikehardy commented on #11967
Hi @the-nilosch ! Sorry this is happening.

For others where this has happened, this has been fixed by making sure that you have one client with all the data correct, abandoning your old AnkiWeb account, making a new AnkiWeb account, syncing up to that, then syncing down from (the new account) to AnkiDroid.

However, you have skipped the debug info part of the issue template so I'm not sure of you

[2022-08-02 15:49] inexplicabro commented on #11966
It still seems to happen on the latest 2.16alpha76 :(

[2022-08-02 22:44] Arthur-Milchior commented on #11965
Take `Assert.assertEquals(optionsGroup.visibility.toLong(), View.VISIBLE.toLong())` for example, a real line in our codebase.
It was introduced during a code migration.
In Java it used to be `assertEquals(optionsGroup.getVisibility(), View.VISIBLE);`. In this case, I strongly prefer Java version.

The reason why the translation tool added `toLong` was because that was implicitly used in Java alrea

[2022-08-02 23:09] Arthur-Milchior commented on #10416
I beg your pardon, what do you call a "primitive type"? Because as far as I now, in Java, it corresponds such as int, long, and so on. But here, I'd have mocked Build.VERSION.

Anyway, you seems to be right, at least Mockito's mockStatic can't deal with final value, so we at least can't use the same class mocking infrastructure here.

Can I make a request, @RSBat? We don't know each other yet, and

[2022-08-03 09:29] kodovanie commented on #11967
@mikehardy Hi, I would like to ask, are the new version also going to be available on Google Play? I have the latest version from there 2.15.6 (it says it is the last update from 14/07/2021). Using Android version 12. Thank you.

[2022-08-03 10:30] RSBat commented on #10416
It was a very simple conclusion - I couldn't find anything in the javadocs or on the internet.

Actual reason is best described [here](https://stackoverflow.com/a/49086957/3169238). Accessing a static field is a single `getstatic` instruction in the accessing function. Intercepting the read requires modification to the bytecode of accessing functions. So not impossible, but not part of mockito. [H

[2022-08-03 12:20] mikehardy commented on #11967
@kodovanie yes, but not for some time yet. When #5304 is done we will start releasing betas through Google then an official release, yes

[2022-08-03 12:22] kodovanie commented on #11967
@mikehardy Thanks for letting me know. I was afraid that I could have an issue with my phone.

[2022-08-03 14:06] Arthur-Milchior commented on #10416
thank you very much.
While you're at it. Any opinion about the last suggestion? I'd expect this one to be relatively easy to implement

[2022-08-03 14:06] #11414 closed

[2022-08-03 14:55] Vsantarlas opened #11972 "[Bug]"
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
Refer to the [support page](https://ankidroid.org/docs/help.html) if you are unsure where to get the "debug info".

###### Research
*Enter an [x] character to confirm the points below:*

- [ ] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement

[2022-08-03 15:23] oakkitten opened #11973 "Do not silently commit hunks that weren't staged"
In git, you can commit parts of changes, or hunks, instead of entire files. AnkiDroid's git commit hooks somehow undo the partial selection, committing the whole file instead. This is something that you may not notice, as you often commit partial changes only to put the rest of the changes into another commit.

**Describe the solution you'd like**
Do not silently commit hunks that weren't staged,

[2022-08-03 16:17] BrayanDSO commented on #11973
Probably the same as #9390.

+1 for the issue. It's annoying to have to workaround it and definitely not a good experience for new contributors

[2022-08-03 17:00] oakkitten commented on #11973
I swear I searched for the word "hunk"! Oh well. Closing as duplicate

[2022-08-03 17:00] #11973 closed

[2022-08-04 03:00] TunnelThruTime commented on #8094
I've come across this same problem using ankidroid on android 11.
I was importing decks I've created using ankdown with md files.

[2022-08-04 13:56] Arthur-Milchior commented on #11451
any news @SaranshBaniyal ? Are you still working on it?

[2022-08-04 14:09] RSBat commented on #10416
Yes, it's a lot easier, but it won't affect third party libraries. This should be fine as we should not be testing their behavior anyways.

Another thing to keep in mind is applying it to every test:
- JUnit 4 uses `TestRule`s while JUnit5 uses [extensions](https://junit.org/junit5/docs/current/user-guide/#extensions) and has [limited support for rules](https://junit.org/junit5/docs/current/user-g

[2022-08-04 14:20] SaranshBaniyal commented on #11451
I'm sorry guys for my inactivity, I have been off for some time and was totally unaware that I was allotted this issue. I would still like to contribute if you guys can allow me a little more time, or if you decide to allocate this issue to someone else, that would be fine. I again apologize for my inactivity and negligence.

[2022-08-05 06:31] david-allison commented on #11965
Shouldn't we change it to `Assert.assertEquals(optionsGroup.visibility, View.VISIBLE)` rather than introduce new methods?

[2022-08-06 19:24] Amandeep404 commented on #10683
is this issue solved?

[2022-08-06 19:33] winstoncooke commented on #10683
Not as far as I'm aware

[2022-08-06 21:14] BrayanDSO commented on #6772
With the new backend and based on https://github.com/krmanik/Anki-Android/pull/23, I got it to work here locally. Thanks to Mani and Damien for it.

Currently, I've got only to:
1. implement a progress dialog to be updated with the backend progress (there is a Progress class in the backend which I think I can use)
2. Figure out a good way to organize the code
3. Maybe see if I can inject/modify th

[2022-08-07 01:41] inexplicabro commented on #11966
Update: Now it affects my PC cards as well.

https://user-images.githubusercontent.com/42508471/183271430-601021f3-1bf5-4d5c-9bd3-e18bd6f53809.mp4

[2022-08-07 05:32] pavreh opened #11979 "[Bug] sound button is not visible with V16 schema"
###### Reproduction Steps

1 use v16 backend
2 have a card with a sound
3 study the card
4 show answer

###### Expected Result

A play button in the card can be seen (see the picture below)
![Screenshot_20220806-142018_AnkiDroidA](https://user-images.githubusercontent.com/10192661/183276699-056f02a6-3428-4fc3-8c86-a401139d4e81.png)

###### Actual Result

"[anki:play:a:0]" can be seen in the card i

[2022-08-07 09:32] #11842 closed

[2022-08-07 10:54] david-allison opened #11981 "[Bug] Crash on changing themes"
###### Reproduction Steps

1. Open DeckPicker
2. Settings - Themes - Set Theme
3. Select a theme + close

###### Expected Result

* no crash

###### Actual Result

* crash

###### Debug info

[code]

AnkiDroid Version = 2.16alpha76

Android Version = 12

Manufacturer = Google

Model = sdk_gphone64_arm64

Hardware = ranchu

Webview User Agent = Mozilla/5.0 (Linux; Android 12; sdk_gphone64_arm64 Bui

[2022-08-07 14:38] BrayanDSO opened #11982 "[Bug] Follow system dark mode may not update the theme if the AnkiDroid widget is being used"
###### Reproduction Steps

Quite specific to get it
1. Have "Follow system" as theme
2. Have AnkiDroid widget on your home screen (bug only happens with it)
3. Enable "Change automatically based on time" on the system's dark mode
4. Have AnkiDroid closed
5. Wait until system automatically changes the dark mode

###### Expected Result

App uses the new dark mode status (either light or dark)

#####

[2022-08-07 15:16] dae commented on #6772
@Rumovz has fixed the glitching when changing notetypes. The flash on page load happens because it takes a while to parse the JS and load the data from a network request. You could probably work around it by hiding the webview to start with (eg opacity 0), and then revealing it once the page has loaded (eg by awaiting anki.setupImportCsvPage() then sending a message back to Kotlin).

[2022-08-07 15:21] dae commented on #6772
- Colours are mostly controlled by CSS vars, which you can adjust at runtime. See _vars.scss
- If/when #11849 lands, you can use withProgress(): https://github.com/ankidroid/Anki-Android/blob/7c917defa789bf1106d34408a30509349fd430df/AnkiDroid/src/main/java/com/ichi2/anki/BackendImporting.kt#L29

[2022-08-07 15:55] ahielg commented on #11569
This issue still happening but only after learning notes and then going back to the main screen.

[2022-08-07 21:05] mikehardy commented on #11972
This bug has no information to indicate what the problem is, thus from a maintainer perspective is a waste of time to even have to look at in order to close it. Please be kind to software maintainers, and value our time. Thank you

[2022-08-07 21:05] #11972 closed

[2022-08-07 21:08] mikehardy commented on #11973
agreed  on all counts, regardless - I'm just processing notifications mobile so don't have time to click through but silent changes are evil and I frequently do hunk-wise commits

[2022-08-08 13:16] avisgut opened #11989 "Enlarge buttons on bottom of review mode"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I accidentally hit one of the navigation tabs on my old tablet which are right next to the answer buttons.

**Describe the solution you'd like**
I would like bigger buttons to give me some distance from the navigation buttons.

**Describe alternatives you've considered**
Using a bluetooth keyboard works g

[2022-08-08 14:08] BrayanDSO commented on #11989
If you are on 2.15.6, go to `Settings > Reviewing > Answer button size` and set to the size you want

If you are on one of the latest alphas, you can find it on  `Settings > Accessibility > Answer button size`

[2022-08-08 15:41] #9977 closed

[2022-08-08 17:19] BrayanDSO commented on #6772
I've managed to inject the CSS and show the progress dialog. Thank you very much, Damien.

I've configured the webview to only show after the page is loaded. It reduced the time the screen is white, but the white flash still appears.

I've tested on other Anki HTML screens (more below) and the white flashing doesn't happen on the "Statistics" screen while it flashes in gray on the "Card info" scre

[2022-08-08 17:44] oakkitten commented on #11889
I am assuming that it ultimately calls [this](https://github.com/ankitects/anki/blob/8c515e316ee2d63f570051782c31bc45a3821cd6/rslib/src/browser_table.rs#L233-L242). I am not sure if this will be faster at all. Briefly looking at the code, it seems that it constructs both the card and the note objects from scratch. Not only some of these might not be needed for the query, but these appear to do ext