[2022-02-18 22:23] david-allison commented on #10352
Does it show an incognito icon?

[2022-02-18 22:25] BrayanDSO commented on #10352
At both SwiftKey and Gboard yes. At samsung keyboard, no, but it doesn't seem to be remembering the words I type (kinda hard to test, but trying to)

[2022-02-18 22:44] david-allison commented on #10352
I don't think users will be expecting that.

I'm tempted to move it behind a preference, would like to see what others think.

[2022-02-19 11:40] viciousAegis commented on #10349
@human912 Can you try this once:
1. Create a sample note, paste the formatted text in your note as is, and add the note in any test deck, Don't remove the formatting.
2. In the card browser, go back to the card and open it in the Note Editor.
3. For me, all the formatting is appearing stripped once I see the note again

Basically, the text only appears formatted the first time you paste it, and au

[2022-02-19 12:46] eu2021 opened #10361 "[Bug] Problem when moving from an old Xiaomi phone to a new Xiaomi phone using Mi Mover"
Moving from an old Xiaomi phone (Mi5sPlus with Ankidroid 2.16alpha25) to a new Xiaomi phone (POCO X3 GT MIUI 12.5.7, with Ankidroid 2.16alpha44) using Mi Mover (the official app by Xiaomi to move to a new phone) gives a problem in the sync and it doesn't sync at all (gives a generic error message). Notice that Mi Mover did not install Ankidroid on the new phone, it only moved the Ankidroid folder.

[2022-02-19 12:54] BrayanDSO commented on #10361
Translation for anyone else trying to diagnose this:

`Coleção sincronizada` -> `Collection synced`

`Erro ao sincronizar dados de mídia` ->  `Error while syncing media`

[2022-02-19 13:17] BrayanDSO opened #10362 "Improve restore backup dialog user friendliness"
**Is your feature request related to a problem? Please describe.**
When choosing a backup to restore, it shows a dialog like this:
![Screenshot_20220219-095745_AnkiDroid](https://user-images.githubusercontent.com/69634269/154801857-1c9b8611-d33a-47b3-ae67-00a66916469b.png)

Most people would find these options gibberish. It isn't natural to deduce that is a pattern of `collection-year-month-date-h

[2022-02-19 13:51] david-allison commented on #10347
https://github.com/ankidroid/Anki-Android/commit/d39249805081d18d1cf05178874608d161ae5a7a is a failing commit

[2022-02-19 14:07] mikehardy commented on #10356
I'm sympathetic to the argument of referencing upstream docs for styling means we should conform, so I'll go +1 on related PR, I will make a note in the release notes. I suppose if this becomes a big issue the proper resolution is to pursue adding the css selector upstream then we could revert this

[2022-02-19 14:12] mikehardy commented on #10352
This doesn't feel worthy of a preference. If there is no technical way to really truly turn off learning and suggestions and auto-correct then just go with it I think. Add a note on the manual or a FAQ that for technical reasons we use incognito mode. % of users that use type answer? I don't have the stats but based on user comment/issue traffic I'm going to guess low, thus make it work and move o

[2022-02-19 14:14] david-allison commented on #10352
I really don't like the incognito icon from a UX perspective. I'd also rather not have preferences on this (at least until we can make our preference selection better).

I'd vote for a `WONTFIX` unless we can get a better solution.

[2022-02-19 14:18] mikehardy commented on #10361
Have you reported this to Xiaomi? This looks like a Xiaomi issue somehow 🤔
That said, this may also be resolved once we use scoped storage, as it appears to be related to collection location on disk and permission to access the same.

As a possible workaround it might be possible to do more thorough checking on permissions prior to accessing the files you mention, but that would have to go on 2.15

[2022-02-19 14:22] mikehardy commented on #10362
We are in control of the file naming format, so it seems okay to assume they are parse-able (with appropriate error handling just in case, of course).

If there were a PR where the directory of backups was listed, and any files that were parse-able were then formatted via substitution strings that were localizable, that would be great - then any non-parseable files that were still colpkgs could be

[2022-02-19 15:37] Arthur-Milchior commented on #10358
I don't know what you want that is not already in the debug (unless you answered before i edited the message with the debug)

[2022-02-19 16:06] david-allison commented on #10358
I added the message before you added debug info.

It would be useful to transfer the diagnostics from Discord to here, to keep a history of the problem.

[2022-02-19 18:42] Chandra-Sekhar-Bala commented on #10358
I am new to this, can anyone help to get stated ?

[2022-02-19 19:37] Arthur-Milchior commented on #10358
Sorry, but this is an issue where none of the maintainer right now have an idea abuot what to do. I really doubt it's a good issue for a beginner, unless you are already good with android file system.

Please look at issues with label "good first issue"

[2022-02-19 20:41] Arthur-Milchior commented on #10358
When I execute https://github.com/ankidroid/Anki-Android/pull/10364 and try to stream the same directory, I get > java.nio.file.AccessDeniedException: /storage/emulated/0/AnkiDroid/collection.media
        at sun.nio.fs.UnixFileSystemProvider.newDirectoryStream(UnixFileSystemProvider.java:434)
        at java.nio.file.Files.newDirectoryStream(Files.java:457)
        at com.ichi2.anki.servicelayer.

[2022-02-19 21:08] BrayanDSO commented on #10362
At the moment, Ankidroid doesn't show any file which doesn't follow the pattern `collection-year-month-date-hour-minute.colpkg`. This may be a problem if someone tries to restore a backup from Anki Desktop, because it follows a different name scheme. So, I think this should be updated too.

Removing the `.colpkg` to non-parseable files would be nicer or unnecessary since if someone put the file wi

[2022-02-19 21:44] Arthur-Milchior commented on #10358
A bigger trouble is that i've no idea what to put as error message if this occur to a user. An error message is supposed to help them solve the issue. Here, the very single solution I would see for a user with this trouble is to:
* download a previous version of ankidroid,
* sync up
* download current version
* sync down

And this is clearly a solution that will be quite complex for a lot of peopl

[2022-02-19 22:30] viciousAegis opened #10366 "Copy/Paste/Select Action menu not visible in Night Mode"
###### Reproduction Steps
On my Xiaomi Redmi Note 8:
1. While in light mode, in the Note Editor text fields, the `paste/copy/select` action popup works just fine.
2. switch to dark mode, long press to bring up the action popup

###### Expected Result
`paste/copy/select` action popup works normally

###### Actual Result
 The text in the popup is not present, i.e. the popup is blank. The actions sti

[2022-02-19 23:58] david-allison commented on #10366
Finally! We've been looking to replicate this one for ages

Thanks!

[2022-02-20 01:38] DanielM51 opened #10367 "Third Party Apps"
to add to list third party app

wakari-chan
https://play.google.com/store/apps/details?id=org.furidamu.wakari_chan

a japanese english dictionary popup where it is possible to create cards in ankidroid

[2022-02-20 01:39] david-allison commented on #10367
Feel free to edit it in!

I'm closing this issue, but feel free to comment if I've missed something

[2022-02-20 01:39] #10367 closed

[2022-02-20 02:19] david-allison commented on #10358
What happens if you `ls -la` to get permissions of the `collection.media` folder?

"Contact the developers. Do not uninstall the application" (or similar) - provide Discord and Mailing List options to get in touch

[2022-02-20 04:21] Chandra-Sekhar-Bala commented on #10358
Thanks for providing the information. I'll start with that :-)

[2022-02-20 05:30] human912 commented on #10349
@viciousAegis
I'm not sure if I should reply here or on the linked pull request #10365
I reproduced the method you mentioned and it works correctly, as you said. I can confirm that the formatting is appearing stripped once I see the note again.
This is a viable solution, so mods can close this issue, as far as I'm concerned.
Thanks for the help!

[2022-02-20 05:44] viciousAegis commented on #10349
Hey! Yep, what is happening is that, the formatting IS stripped, but it is not being displayed as stripped. This, it's false information. The linked PR will make the text stripped by default so that there is no inconsistency between what is saved and what is shown to the user!

[2022-02-20 06:12] viciousAegis commented on #10366
You're welcome!
If it's viable, I would like to work on this issue! (partly also because I believe I'm one of the few people with MIUI here)

[2022-02-20 07:31] viciousAegis commented on #10366
Found it: #6614

Has some work already been done on this?

[2022-02-20 09:45] david-allison commented on #10366
No, I'd love to, but I can't reproduce this (even on my Xiaomi). Help here would be massively appreciated

[2022-02-20 09:57] david-allison opened #10368 "[Bug] "504 gateway timeout error received." should not be translated"
From CrowdIn

https://crowdin.com/translate/ankidroid/8167/en-vi?filter=basic&value=0#6534502

https://github.com/ankidroid/Anki-Android/blob/1a33f276e85d1d4d50065ddd21e2a3adef9ffaa5/AnkiDroid/src/main/res/values/04-network.xml#L106

I agree, for discussion with maintainers before this is worked on.

[2022-02-20 10:41] BrayanDSO commented on #10362
After thinking more about it, I've changed my opinion. To keep things simple, only the current name scheme (`collection-year-month-date-hour-minute.colpkg`) on backups folder should be shown on dialog. If someone wants to restore from another .colpkg, they should use the `Import` option.

Others' opinions are welcome as well.

[2022-02-20 11:19] penn5 commented on #10352
I use Anki for learning both languages and content in different decks, so I think this should be deck- or card- level flag (ideally deck-level with a card-level override).

[2022-02-20 13:57] rishavchanda commented on #10368
@david-allison can you please explain about the issue what is to be fixed?

[2022-02-20 14:19] david-allison commented on #10368
This is awaiting discussion. There is nothing code to be changed at this point

[2022-02-20 14:29] viciousAegis commented on #10366
Okay, I will see what I can do :)

[2022-02-20 15:49] krmanik commented on #9633
It is in development.

[2022-02-20 21:10] #10349 closed

[2022-02-20 22:04] mikehardy commented on #10362
That sounds reasonable, to me

[2022-02-20 22:08] david-allison commented on #10362
I think you raise a good point: A user wouldn't think to use "import" as "restore my backup".

I'd be open to UX to allow this functionality to be added to the "restore backup" screen, maybe turning it into a tabbed control, maybe a separate button somewhere on the dialog.

[2022-02-20 22:20] #10347 closed

[2022-02-20 22:24] mikehardy commented on #10366
Now if only one of the new contributors has a chromebook hahaha - maybe we can finally reproduce *all* our zombie bugs!

[2022-02-20 22:40] mikehardy commented on #10352
So this is what happens when you start adding preferences, and of course it seems like it should be synced in global collection conf so it shows up on multiple devices etc etc. It's a pain

@penn5 a question for you: are you implying that you actually *want* typing suggestions and typing learning when you do type-entry ankidroid cards? Because right now I can't personally imagine how that would be

[2022-02-20 23:05] #3896 closed

[2022-02-20 23:52] #10356 closed

[2022-02-21 10:05] BrayanDSO commented on #10362
I think the most inclusive and least disruptive change would be:
- Parse Ankidroid filenames to localizable and human-readable strings
- Do the same thing with Anki Desktop filenames, since they are parseable too and most likely won't change (as they haven't for 5+ years)
- Add a `Choose another` button to choose another file the same way as `Import .colpkg` and Anki desktop

The result would look

[2022-02-21 10:11] maryammsd commented on #5011
I want this bug for my current research but i cannot reproduce it by downloading the versions of 2.8.2, 2.8.3 and 2.8.4. Is there any specific Android version this bug occurs at? Can you help me with this?

[2022-02-21 12:11] mikehardy commented on #5011
@maryammsd it was not merged until the 2.12 alphas series - 2.12alpha5 to be precise https://github.com/ankidroid/Anki-Android/commit/24a5a324683998f19138a5ed400d53e5341b8a66 - so any version prior to that should crash. The error was not device specific, so I must presume your reproduction scenario is either not sufficient to trigger it, or the corruption detection  you are using is not correctly

[2022-02-21 18:15] viciousAegis commented on #10366
@david-allison On enabling Night Mode **on the phone** and switching on Light Mode **in the AnkiDroid app**, the following happens.
![image](https://user-images.githubusercontent.com/86671025/155007046-c4a3cbb9-c828-4784-8a51-0784691e1658.png)

So, because toggling the night mode on AnkiDroid somehow changes the action popup text colour, the text colour clashes with the background and the text bec

[2022-02-21 18:41] eu2021 commented on #10361
If I understood correctly, the solution is already planned. So, I will close the bug here, and transcribe the text from the image, to help people searching for it:
java.io.FileNotFoundException:/storage/emulated/0/AnkiDroid/tmpSyncFromServer.zip (Permission denied)

[2022-02-21 18:41] #10361 closed

[2022-02-21 19:46] david-allison commented on #10366
@viciousAegis My best guess would be to add an AnkiDroid theme where all the colors are distinct, then use a color picker to determine which part of the theme the context menu is using.

A year in the future, I don't think my comment will work, but we can try

[2022-02-22 08:42] penn5 commented on #10352
Yes, I'm learning long cards in my native language and my typing is terrible on my phone, I rely on autocorrect. Of course I can just mark the card as correct manually, but it's much faster if it's all green and I don't have to reread my answer.

[2022-02-22 12:09] Arthur-Milchior opened #10377 "Remove "paste as plain text""
Thanks to @viciousAegis in #10365, "paste" work as "paste as plain text". Which mean we have two different context menu entries that have the same behavior I fear.

It would be nice to remove one of them. I'd suggest removing "paste as plain text". When there is a single feature, adding details is useless.

If eventually, "formatted text" can be transformed into an "paste as html", then it will be

[2022-02-22 12:34] viciousAegis commented on #10377
I'd like to take this up as a continuation of the mentioned PR.

[2022-02-22 13:36] viciousAegis opened #10378 "[Feature] Display Subdecks in "Deck Search" the same way they are displayed in the "Deck Browser""
**Is your feature request related to a problem? Please describe.**

When selecting a deck in the note editor, on opening the deck search, subdecks are treated as decks with a separator ( :: ) to distinguish them. This makes them hard to read and distinguish, especially if two decks are very far down the hierarchy.

I realise that Anki Desktop also follows the same convention to list their decks, s

[2022-02-22 14:39] raddi1972 commented on #10262
To fix this do we need to wait for the window to close and then play the video? I am thinking of somehow checking the state of the TimeBox window then calling the function that plays the media. Do we have a listener that can be called after the state of the TimeBox is finished? @Arthur-Milchior

[2022-02-22 14:48] jparta opened #10379 "[Bug] TTS disregards all text fields in a card if one of them includes an audio file"
###### Reproduction Steps

1. Have two fields in a card, one with audio, one with text.
2. Enable TTS in Settings > Advanced > Plugins
3. View card in reviews

###### Expected Result

Audio is played and second field is read aloud

###### Actual Result

Audio is played, but the text in the other field is not read aloud by TTS.

###### Debug info

    AnkiDroid Version = 2.16alpha29

    Android Ve

[2022-02-22 16:14] mikehardy commented on #10379
Hi there! We are on alpha44 now, do you think you could update and give it a try just in case we have fixed it already? https://github.com/ankidroid/Anki-Android/releases/

[2022-02-22 16:51] Akshay0701 commented on #10378
Hello!
Thank you for the suggestion, We follow upstream Anki for making changes in AnkiDroid,

and as you mentioned Anki Desktop also does the same as AnkiDroid, then I don't think so we should change the convention.

[2022-02-22 16:57] jparta commented on #10379
@mikehardy
I can reproduce the behaviour in alpha44.

[2022-02-22 19:19] Arthur-Milchior commented on #10377
In case you don't know, you can try on emulator. But yeah, fine to wait for someone else. Especially with GSoC arriving soon and not a very hard project

[2022-02-22 19:31] Arthur-Milchior commented on #10262
That was indeed what seemed the most natural to me. If the user answer they want to still review, show the video, otherwise close

[2022-02-22 19:48] viciousAegis commented on #9961
Does this issue need working on?

[2022-02-22 21:34] david-allison commented on #9961
The PR hasn't seen action for almost two months. I'd be happy if you worked on it.

[2022-02-23 00:25] BrayanDSO commented on #10377
To anyone who tries to fix this, "Paste as plain text" is a default item of the context menu of android O or newer, not exclusive to Ankidroid.
I don't know if this is feasible and appliable to all manufacters android flavors, but I'll hope it is.
If it isn't possible to remove it, maybe hiding it at the context menu "..." list would be useful IMO

[2022-02-23 05:58] david-allison commented on #10378
For context: I'd be happy with this change.

I made the "Deck Search" to for a rarely used subscreen and therefore didn't put in much effort with the UX. I feel it would be an improvement to use nested decks, and we're not introducing any concepts here that aren't already understood in Anki Desktop.

[2022-02-23 06:16] viciousAegis commented on #10378
@david-allison Great! Just to confirm, is this the file that shows "Deck Search" ? (I tried tinkering in `DeckSpinnerSelection.kt` yesterday, but that was not the right one. )

https://github.com/ankidroid/Anki-Android/blob/cab3c0d15d45f84d1ed1efba7ae74e5965e7e3bb/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/DeckSelectionDialog.kt#L53-L62

[2022-02-23 06:26] david-allison commented on #10378
That's it!

[2022-02-23 09:01] Arthur-Milchior commented on #10377
Take a look at https://developer.android.com/reference/android/widget/TextView#setCustomInsertionActionModeCallback(android.view.ActionMode.Callback) and https://developer.android.com/reference/android/widget/TextView#setCustomSelectionActionModeCallback(android.view.ActionMode.Callback) I believe that what you would want

[2022-02-23 16:47] #8897 closed

[2022-02-23 17:14] viciousAegis commented on #10378
@david-allison How does this look?

![image](https://user-images.githubusercontent.com/86671025/155371342-02b5d3dc-1c59-4212-ab12-13cfd179fd5f.png)

[2022-02-23 17:20] Akshay0701 commented on #10378
Fantastic 🌟

[2022-02-23 17:27] david-allison commented on #10378
Awesome!

[2022-02-23 17:42] viciousAegis commented on #10378
I've made it such that if you search for the parent deck, all the subdecks also show up, so the search functionality remains the same.

I feel the code might be a little messy 😅 , so will appreciate refactoring and comments on the code once a PR is up.

[2022-02-23 20:39] Arthur-Milchior opened #10385 "Add explanation to all tests"
Most of the tests have a message stating what was expected that did not occur. This ensure that a test failure is accompanied with at least a first hint of what is wrong.

Since most tests are not flaky, the absence of such message is not a big deal, but still, it would be nice for code beauty to ensure that most tests have a message explaining what was expected. I believe it is a good first issue

[2022-02-23 20:43] david-allison commented on #10385
I'd really like to see more matchers. For example: "file exists" would be useful, so we can reduce the verbosity of the error .

And something along the lines of `hasSingleElementEqualTo`

[2022-02-23 20:46] Arthur-Milchior opened #10386 "Remove `is/equalTo(true/false)` in test"
Personally, I find `assertThat("explanation", property, is(true))` ugly, given that `foo is true` is equivalent to `foo`. Similarly, `assertThat("explanation", property, is(false))` would sounds better in English with `assertNot("explanation", property)`.

So, I believe our test would be improved if:
* we removed `is(true)`. Which require to add a method `assertThat(property: Boolean)`, since some

[2022-02-23 20:52] Arthur-Milchior commented on #10385
@david-allison I strongly suggest creating your own issue and add more explanations. We'll, hopefully, soon have a lot of developers in need of a good first issue. Myself, I don't know exactly what you are talking about here (even if I suspect I could find by myself). Which mean, I fear, that this reply will be totally lost and unusable to every new contributors that will arrive. While a more deta

[2022-02-23 20:57] david-allison commented on #10385
Sounds good to me. I'm on my phone right now, but will move this and delete/hide the comments later, if that's ok with you

[2022-02-23 20:58] Arthur-Milchior commented on #10385
Perfectly fine. No emergency

[2022-02-23 23:19] david-allison opened #10387 "Tests: Use hamcrest.io matchers for files"
http://hamcrest.org/JavaHamcrest/javadoc/2.2/org/hamcrest/io/FileMatchers.html is now usable in the codebase. Let's use it to improve tests.

<details><summary>old</summary>

I'd really like to see more custom Hamcrest matchers in the codebase

For example: "file exists" would be useful, so we can reduce the verbosity of error messages.

And something along the lines of `hasSingleElementEqualTo`

[2022-02-24 00:00] BrayanDSO opened #10388 "[Bug] Can't import colpkg backup from anki desktop"
###### Reproduction Steps

1. Tap `Import` button
2. Select a backup from Anki Desktop
    - Demo with only 1 note [backup-2022-02-23-20.51.16.colpkg.zip](https://github.com/ankidroid/Anki-Android/files/8128616/backup-2022-02-23-20.51.16.colpkg.zip) (edit: Github doesn't accept .colpkg attachments. The .colpkg is inside the zip)

(Tested in 2.15.6 and build from master, both don't work)

###### Ex

[2022-02-24 00:02] BrayanDSO commented on #10362
The work is done. #10388 needs to be fixed first so backups from Anki Desktop can be restored. I'll try to look into it later. When it is fixed, I'll submit the PR

[2022-02-24 10:38] Arthur-Milchior commented on #10358
After installing ankidroid back from play store it works again. Then updating through android studio works too. No idea what's going on. Or even how to reproduce

[2022-02-24 12:39] mikehardy commented on #10388
why is it colpkg.zip ? Shouldn't it just be colpkg? Is it double-zipped? .colpkg files are already actually a .zip structure
:thinking:

[2022-02-24 13:02] ShridharGoel commented on #10368
`error received` can be translated and the initial part can be left as it is.

[2022-02-24 13:40] BrayanDSO commented on #10388
My bad. That was my habit of zipping attachments. The colpkg is inside it

Em qui., 24 de fev. de 2022 09:39, Mike Hardy ***@***.***>
escreveu:

[2022-02-24 16:39] BrayanDSO commented on #10388
Github doesn't accept .colpkg attachments. It's inside it

[2022-02-24 17:37] #9722 closed

[2022-02-24 17:40] BrayanDSO commented on #10362
Since #10388 doesn't seem to be fixable in the short-term, can I leave the parsing of Anki desktop backup names to the future and submit the PR?

It's still an advance:
- Adds localizable human-readable options
- Adds a choose another button, so the user isn't limited to that options
- It doesn't break any current functionality, since at the moment only the files with AnkiDroid name scheme show on

[2022-02-24 17:40] mikehardy commented on #10388
Oh hmmm - this is important, but not nearly as important as scoped storage. And the newer database schema work and scoped storage are/were both David, I'm not sure anyone else has picked up anything in AnkiDroid-Backend besides David yet, which is fine - it's open source, people should do what they want - but I'm just stating it for context. @BrayanDSO if you wanted to start picking up that work p

[2022-02-24 17:42] BrayanDSO commented on #10388
I guess this is part of the Rust bridge David is building to reuse Anki desktop backend

[2022-02-24 18:11] mikehardy commented on #10388
Exactly that, although just to be extra picky (too picky?) on terms, the bridge is already built and we are already re-using the rust back-end in live versions. This is the ongoing work to support newer database schemas

https://github.com/ankidroid/Anki-Android/issues?q=is%3Aissue+is%3Aopen+label%3ARust
https://github.com/david-allison/Anki-Android-Backend/issues

Honestly I've been meaning to ge

[2022-02-24 19:02] BrayanDSO opened #10394 "[Bug] Full sync button don't work properly on Incompatible Database dialog"
###### Reproduction Steps

1. Have a newer scheme `collection.anki2`
2. Tap `Full sync from server` without being logged

Demo:
https://user-images.githubusercontent.com/69634269/155589058-7fc833e3-6cb7-4a3e-86cb-fb51639d8797.mp4

###### Expected Result

A message saying something like `You aren't logged, thus you can't sync`

###### Actual Result

It stays in a eternal loading, as shown in the de

[2022-02-24 19:04] BrayanDSO commented on #10394
As you can see, for a very brief moment it shows a log-in screen, but without tapping anything it vanishes and the eternal loading begins

[2022-02-24 19:07] david-allison commented on #10394
Duplicate of https://github.com/ankidroid/Anki-Android/issues/7326 I believe

[2022-02-24 19:15] BrayanDSO commented on #10394
Haven't found that. Thanks. I'll close this issue.

[2022-02-25 00:11] javiercl2020 opened #10397 "Delete tags"
It would be useful if you can delete tags having an option or button
I know that the only way to do that is selecting the cards or notes and change the tag for a different one and after that check the database.
But it would be quicker with an option

[2022-02-25 11:08] nicolas-raoul opened #10399 "Rename "master" branch to "main""
Context: https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/

`main` actually is more understandable, so from my point of view, why not?

Apparently it is straightforward: https://github.com/github/renaming

[2022-02-25 13:33] mikehardy commented on #10397
This is one of the least intuitive parts of the app, in my opinion. I agree with you.
May I ask, @javiercl2020 - how does AnkiDesktop (and/or AnkiMobile - the iOS app) handle it now?

[2022-02-25 13:50] mikehardy commented on #10399
I have done this in a lot of repos already, it is pretty straightforward. In fact, this may be the *last* repo where I have not done it!

These are the only friction points, and they are not blockers, they just generate a little noise as everyone settles in to the new branch:

[code]

It really requires someone with admin rights and motivation to take it on and this is something I don't mind doing

[2022-02-25 17:21] AayushSolanki opened #10401 "Creating new deck with name same as any existing deck should give proper error message"
###### Reproduction Steps

1. Create new deck.
2. Set name same as any existing deck.

###### Result
No error message displayed

###### Expected Result
Should give a message that deck with same name exists

https://user-images.githubusercontent.com/75438613/155757640-201b7a41-6bd9-4ac0-af2b-0f07e8dcf339.mp4

[2022-02-25 17:24] AayushSolanki commented on #10401
I would like to work on this issue

[2022-02-25 21:49] chibigit commented on #8089
I just had a similar problem. A default deck of 69 cards on ankidroid but no corresponding one in the desktop app. When I clicked on it, ankidroid crashed. I just did check database and by strange coincidence it picked up 69 invalid cards and put them in a recovery deck. They were all from my kanji deck. I rescheduled them and put them back into the Kanji deck. Then I did a full upload from the de

[2022-02-27 05:13] javiercl2020 commented on #10397
I don't have the ios app
I didn't find the way to delete tags using Anki desktop tomorrow I will try again

[2022-02-27 07:16] viciousAegis commented on #10397
The way I deleted tags in Anki desktop is:
1. Go to `browse`
2. In the sidebar filter you will see `Tags`
3. Right click on the tag you want to delete and you will get an option to do so

![image](https://user-images.githubusercontent.com/86671025/155872548-c5d39813-07b2-42d4-872b-76900307b9a2.png)

[2022-02-27 13:42] viciousAegis commented on #9961
I went through the whole issue thread, and from my understanding, this is the solution to be implemented? https://github.com/ankidroid/Anki-Android/issues/9961#issuecomment-991893890

@greengekota, This was your suggestion, should I try implementing this?

[2022-02-27 14:33] #10378 closed

[2022-02-27 14:40] david-allison commented on #9961
Something similar to: 91d1580d70ae2b309cccb1ec87a39458ad0cc7fe.

I think the relevant code is:

https://github.com/ankidroid/Anki-Android/blob/cfb2dd110271719e757a22a9997e11c51085cac7/AnkiDroid/src/main/java/com/ichi2/anki/MyAccount.java#L294-L304

`Connection.setAllowSyncOnNoConnection(true);` already works for logins, but the variable (`setAllowSyncOnNoConnection`) should be renamed

[2022-02-27 19:32] voidplayer commented on #8158
still searching for solutions

Too late

github bot, you win again

[2022-02-27 21:25] mikehardy commented on #10397
Neat - thanks @viciousAegis - so I assume (untested, please correct if I'm wrong) that it will first find all cards that have the tag, remove the tag from them cards, then check database? Or perhaps newer versions of anki desktop have this as a real method in the library (which we reuse via Anki-Android-Backend...) such that it is clean+easy. Those are further question where the answers would info

[2022-02-27 21:34] david-allison commented on #10397
It will be when we update our backend to the latest version, best to focus on schema 16 before introducing more breaking changes.

https://github.com/ankitects/anki/blob/main/proto/anki/tags.proto

[2022-02-27 21:52] mikehardy commented on #8158
The github bot is simply a concrete manifestation of interest or lack thereof. It is brutal, and probably worth of a melancholy haiku

[2022-02-27 21:53] mikehardy commented on #10397
got it - thanks!

[2022-02-28 11:06] voidplayer commented on #8158
open bugs out of interest
github bot come and close my bugs
Life goes on without it

[2022-02-28 13:37] #8019 closed

[2022-02-28 14:21] mikehardy opened #10403 "[Bug] Apple Silicon test failures with x86_64 JDK on macOS"
###### Reproduction Steps

1. clone Anki-Android repo
2. `./gradlew jacocoTestReport`

###### Expected Result

Clean run

###### Actual Result

[code]

Along with some other not-great-looking warnings that probably bear investigation but might be my local environment on my macOS M1 machine:
[code]

@david-allison - worth noting that I was not able to reproduce the errors seen by @viciousAegis in h

[2022-02-28 14:26] david-allison commented on #10403
@Arthur-Milchior canonical path issues on an M1.

I've got an M1 on order, so I'll be able to debug this hopefully within the month.

I presume we have no Apple Silicon CI options?

[2022-02-28 14:36] #10020 closed

[2022-02-28 14:43] viciousAegis commented on #10403
is the solution David suggested still relevant? https://github.com/ankidroid/Anki-Android/pull/10389#issuecomment-1052602567

I have my uni exams coming up, so I don't have a lot of time on hand :( . Regardless, If the above solution is still the way to go, I will start work on it ASAP, doing what David suggested in the comment.

[2022-02-28 14:56] mikehardy commented on #10403
There are no Apple Silicon CI options at present no. No reasonable ones at least, given our need for them is not really critical. Github Actions does not appear to have plans for M1 runners at present anyway.

@viciousAegis since I was not able to reproduce the issue, I would let it sit for now. I have low-priority plans to set up and start working on the Anki-Android-Backend and I have an M1 mach

[2022-02-28 15:28] Arthur-Milchior commented on #10403
Nope. I don’t have m1

[2022-02-28 16:08] david-allison commented on #10403
@viciousAegis

Uni takes priority. Always.

I'll be dealing with it this month. It's fine to run tests in CI on your GH repo for now.

[2022-03-01 00:11] BrayanDSO commented on #10394
Looked it further, they aren't the same problem

[2022-03-01 02:13] Valentin-ys opened #10409 "[Bug]Some Incompatible API Usages in APP"
For your app, we have found that this project has accessed the following APIs which are available only on an API level higher than the declared minSdkVersion and which are accessed without proper protection. In other words, if those APIs get called at runtime, it will trigger a NoSuchMethodError and thus result in a crash of the running application.

1. <android.webkit.WebView: android.webkit.WebV

[2022-03-01 02:54] krmanik opened #10410 "Automate process of adding merged PR to milestone and removal of labels"
Might be useful to automate this in the longer-term, either with a check to confirm that all merged PRs have a milestone, or a bot reminder to set a milestone once merged

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/10353#issuecomment-1044721187_

[2022-03-01 03:12] user1823 opened #10411 "Support for v3 scheduler"
The Anki 2021 scheduler (v3) is supported on both Anki Desktop (2.1.45+) and AnkiMobile (2.0.75+). So, kindly add the support to AnkiDroid for compatibility.

[2022-03-01 07:03] TarekkMA commented on #10388
@mikehardy I thankfully now know some Rust and might be able to understand the backend code. I still don't know where I can start but will try to explore the codebase and see what I can do this weekend.

PS: sorry for the late reply 😅

[2022-03-01 07:22] viciousAegis commented on #9961
Should I rename it to `setAllowLoginSyncOnNoConnection` ? That should cover everything. Other than that, I have added the `Try Anyway` button and it is working in the same way as https://github.com/ankidroid/Anki-Android/commit/91d1580d70ae2b309cccb1ec87a39458ad0cc7fe. WIll link a PR once the renaming is confirmed.

[2022-03-01 12:57] mikehardy commented on #10409
@Valentin-ys please don't open issues based on automated analysis of source code, they are rarely correct. I've seen these sorts of issues opened before and they always appear to me to be the produce of academic toys and they don't survive a meeting with the real world.

I can tell you after checking the first thing you mentioned that we catch Throwable in that instance, so the usage is safe.

If

[2022-03-01 12:57] #10409 closed

[2022-03-01 13:03] mikehardy commented on #10411
Hi there! I believe this will require newer database schemas to be supported first, which will mean completion of this issue at least: https://github.com/ankidroid/Anki-Android-Backend/issues/1

Note that all available developers that could do this at the moment are basically working with all available time to either finish the scoped storage migration so we may release 2.16 - it could be quite so

[2022-03-01 13:14] Valentin-ys commented on #10409
We are extremely sorry to bother you in the morning, and we haven't analyzed the try-cath cases to prevent such compatibility issues in our 'academic toy' yet!  Thank you for pointing out the problem in a timely manner, and we will continue to improve our work to find real and reproducible bugs that really affect  the robustness of APPs, such as crashes or bad manner on some typical devices. Thank

[2022-03-01 13:24] mikehardy commented on #10409
For the record, I am a huge fan of static analysis. But real humans have to drive things :-). Good luck.

[2022-03-01 13:25] david-allison commented on #9961
Awesome! That sounds good.

[2022-03-01 13:44] BrayanDSO opened #10413 "[Feature request] Filter valid import files"
**Is your feature request related to a problem? Please describe.**
When importing a file, all extensions seem like valid files

**Describe the solution you'd like**
The unvalid extensions to be greyed out/not selectable

**Additional context**
Probably feasible with [EXTRA_MIME_TYPES](https://developer.android.com/reference/android/content/Intent#EXTRA_MIME_TYPES) and [.colpkg and .apkg MIMES](htt

[2022-03-01 14:49] mikehardy commented on #5389
@tjbrn this was implemented and released just now (in 2.16alpha46) by @smasher816! Cheers

[2022-03-01 15:05] #10362 closed

[2022-03-01 15:29] mikehardy commented on #10335
Sorry - haven't had time to look at it and I'm focusing use of all the available time I have on PR review for scoped storage :weary:
Not a great reply but I expect there must just be a bug in the implementation somehow and tracing it out will show the issue - stated slightly differently, I think at this moment you may already be the most knowledgeable person on this specific code path and you may

[2022-03-01 16:49] #9961 closed

[2022-03-01 17:29] david-allison commented on #10413
This is risky, but I'd like to see it if it's feasible.

[2022-03-01 17:36] BrayanDSO commented on #10413
When testing, this is the mime I got. Odd, but happened

[2022-03-01 17:42] david-allison commented on #10413
I'd expect `application/zip`, strange...

Just to elaborate: I'm happy for you to look into this, I'd like to get it resolved, but I can't guarantee I'd Approve the PR, it'd depend on how well documented the approach is.

The upside risk is a better file selection experience
The downside risk is that some users with unsupported phones may be unable to restore backups

[2022-03-01 17:48] BrayanDSO commented on #10413
Sure. The most important thing in this issue IMO is research about its behavior on different android versions/manufacters flavors.

The implementation itself is quite simple and already works here.

I'll try to take a look into it later

[2022-03-01 17:50] mikehardy commented on #10413
I think it's too dangerous personally, we have unexpected file associations pop up here all the time, really device specific and version specific - I just think it's an intractable problem as you'll have to test every current and future device AnkiDroid runs on. Probably better to focus effort elsewhere

[2022-03-01 17:51] BrayanDSO commented on #10413
Maybe when Android gets some way to work with extensions instead of MIMEs this will be feasible

[2022-03-01 18:26] mikehardy commented on #9116
Hey @BrayanDSO solving your own issue from nearly a year ago, nice one!! :-)

[2022-03-01 18:26] #7326 closed

[2022-03-01 18:26] #10394 closed

[2022-03-01 18:32] BrayanDSO commented on #9116
Fixing this is what made I start contributing to AnkiDroid, since attaching images is part of my workflow.

Back then when I created the issue, I hadn't thought it would be this easy to join a community and start pushing some bits of code. I'm happy I tried to look further into it and started contributing

[2022-03-01 20:32] #9116 closed

[2022-03-01 22:53] KamWithK commented on #10335
Ahh okay I understand
I'm actually not an Android developer so not sure whether I can help very much with finding/fixing the bug though (just trying to put together something useful for myself/others) :)

Is there a version of the api/ankidroid which will 100% work with this API?

[2022-03-01 23:07] Arthur-Milchior opened #10416 "Add lint for `Build.VERSION.SDK_INT` in test"
I made a mistake that was not seen by the reviewers. Essentially  `Build.VERSION.SDK_INT` is 0 unless we use `@Config(sdk = [21, 26])` or `targetApi`. So, I would love a linter that ensure that if either this constant or `CompatHelper` is used, then we configure the SDK.

[2022-03-01 23:37] mikehardy commented on #10416
It may be possible to simply declare that an illegal string to have in the code files and use a generic test that already exists to ensure specific strings are never used

[2022-03-02 00:28] BrayanDSO opened #10419 "Do not make a copy when reattaching the same audio file"
Audios have this problem of making copies when reattaching the same file. It should behave like Anki desktop does:
- Keep the original filename
- Check its checksum when another file has the same name to see if they are equal. If not, append its checksum

https://user-images.githubusercontent.com/69634269/156067337-3caacbe8-754f-4b35-90b1-383a533e096e.mp4

Anki desktop behavior:
(reuploaded the sa

[2022-03-03 09:49] jparta commented on #10379
The functionality I expect would be very useful when revealing additional information related to the FrontSide after the reveal.

[2022-03-03 14:55] mikehardy commented on #10379
The Preview mode is not really intended for full study - it is intended to verify that the card contents are generally correct and layout is generally correct, and not all features are enabled in it, it appears TTS is simply one of those things.

I assume the TTS is behaving as you expect during review?

[2022-03-03 16:32] Arthur-Milchior opened #10423 "Uses constant in xml's key"
To be sure that we avoid typos (that would be hard to find during code review), ideally, xml keys should be a string constant and not directly a string literal. Currently it's only done in preferences_reviewing.xml with

[code]
which uses the value from constant.xml
[code]

This allow in AbstractFlashCardViewer.java to uses `getString(R.string.answer_buttons_position_preference)`, hence using a co

[2022-03-03 18:04] puranjayK commented on #10385
@Arthur-Milchior I would like to work on this issue, could you please assign it to me

[2022-03-03 19:21] Arthur-Milchior commented on #10385
Done @puranjayK. However, it can be possible for multiple people to work on it, given that there is a lot of work to do.
So it would be nice also for you to update here on what you did, so that if someone else is interested, they know what is done and what remains

[2022-03-04 10:11] akarsh1263 commented on #10423
I'm on it

[2022-03-04 10:41] jparta commented on #10379
TTS works for one field even in preview, but not the other. I assume this is because TTS is done after templating substitutions, and doesn't care about fields at all. The behavior is the same in preview and review. I edited the reproduction steps to reflect this.

[2022-03-04 17:36] BrayanDSO commented on #10034
This is a valid issue, since upstream does it and fixes #10324

[2022-03-04 18:40] BrayanDSO commented on #10034
It seems to me that media on `<audio>` are still deleted on Anki desktop. The regex doesn't match correctly the structure
[code]

[2022-03-04 18:44] #9633 closed

[2022-03-04 18:49] nwwt commented on #10034
The regex is written with `<audio src="file.ext"></audio>` in mind, separate source tags (& the type parameters) are only required if you need to offer separate filetypes.

But they're part of the standard, so not recognizing them is indeed a flaw.

[2022-03-04 19:03] BrayanDSO commented on #10034
The regex still looks flawed to me, see https://regex101.com/r/cMOBvY/1

[2022-03-04 20:56] #10419 closed

[2022-03-04 22:02] david-allison opened #10427 "Improve tests using `org.jetbrains.kotlin:kotlin-test`"
Will fix with `org.jetbrains.kotlin:kotlin-test` (https://stackoverflow.com/a/54309928). I'll shift this to a separate issue as I want a linked issue + PR if I'm adding a dependency.

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/10425#discussion_r819946640_

[2022-03-05 00:05] Arthur-Milchior commented on #10423
Thanks @akarsh1263
You don't have to do all at once. Actually, it may be safer to do a single preference menu first, and ask for review, so that we can check whether what you do is the correct way before you spend time doing everything.

[2022-03-05 00:20] Arthur-Milchior opened #10428 "Button to scroll preferences/menu on e-ink devices"
I've heard that preference and menus are hard to use on e-ink device because they use scrolling, which do not work great on device which takes time to refresh. So, I'd suggest adding two buttons on bottom of the preference/menu UI, always visible on screen when the preference/menu is displayed, that would allow to scroll one page up/down through the preference/menu.
As with the scroll down button

[2022-03-05 00:41] david-allison commented on #10423
I'd prefer a `preferences.xml` here (same string values resource file, just with a different name)

[2022-03-05 07:03] sjl872964789 opened #10431 "If I accidentally enter the wrong field in "Card Types", all cards will show up empty"
###### Reproduction Steps

1. Add some cards
2. Change their card types
3. An incorrect field is entered
4. When I studied the cards, I found the cards were empty

###### Expected Result

I should be prompted when I modify the field I entered

###### Actual Result

At the least, the cards should not appear empty

###### Video
![ezgif com-gif-maker](https://user-images.githubusercontent.com/1594195

[2022-03-05 11:41] BrayanDSO commented on #10428
The way I envision this is adding two buttons with carets. One at the bottom when it is possible to scroll down and other at the top when it is possible to scroll up. There should be an option to use or not these buttons, since most users probably won't use them.

Here are some drafts I made:
![down](https://user-images.githubusercontent.com/69634269/156881435-ce4cd50d-1cfb-42ec-9633-e8ffdf9504e2.

[2022-03-05 13:14] david-allison commented on #10431
Hi @sjl872964789, could you fill out the "debug info" section, especially the version number where this occurs?

[2022-03-05 13:30] #10427 closed

[2022-03-05 14:05] sjl872964789 commented on #10431
Sorry, I thought that only the crash error needed this information before, I have edited and added this information.

[2022-03-05 17:50] BrayanDSO opened #10434 "[Bug] Crashing when tapping Add note"
###### Reproduction Steps

1. Tap `Add Note`

###### Expected Result

The add note screen should appear

###### Actual Result

It crashes

###### Debug info
[code]

###### Research
*Enter an [x] character to confirm the points below:*

- [X] I have read the [support page](https://ankidroid.org/docs/help.html) and am reporting a bug or enhancement request specific to AnkiDroid
- [X] I have checked

[2022-03-05 18:02] Arthur-Milchior commented on #10428
Thanks a lot. Not what I had in mind, but better.

[2022-03-05 18:39] akarsh1263 commented on #10423
@david-allison
I am facing some problem in creating a new preferences.xml under '10-preferences' folder. The new value resource file is created as a separate file directly under the 'values' folder instead of '10-preferences'. If there is some suggested advice, it would be very helpful, or I can simply use the 'constant.xml' file to use string constants

[2022-03-05 18:46] david-allison commented on #10423
The keys are constants and aren't too be translated. A new "preferences.xml" file is perfect.

[2022-03-05 18:46] Arthur-Milchior commented on #10423
What is the issue you encouter? Do you get an error message, if so could you copy it?

[2022-03-05 20:44] BrayanDSO opened #10436 "[Feature request] Edit option on custom toolbar button dialog"
**Is your feature request related to a problem? Please describe.**
When long tapping a custom button added to the note editing toolbar, the only option shown is to delete the button. If someone wants to edit the letter or the html tags, their only option is to delete it and create another

**Describe the solution you'd like**
Add an option to edit the button on the dialog

**Additional context**
C

[2022-03-05 21:07] BrayanDSO commented on #10431
Funny behavior. The back side (default basic notetype) shows a better message when it have `{{FrontSide}}` on its template.

Although it shows the "empty cards" message, the cards aren't deleted when using the "empty cards" tool.

Therefore it must be some lack of checking field names on template editing

![Screenshot_20220305-180036_AnkiDroid](https://user-images.githubusercontent.com/69634269/15

[2022-03-06 00:30] Arthur-Milchior commented on #10434
Thanks for already submitting a fix. I'll comment it too.
Do you use only ankidroid, or also desktop? do you use add-ons? Because it would be useful to know where this come from and correct the source of the error too; ideally reporting it to the broken add-on or making a bug report to AnkiTekts. Unless there was a change in upstream datastructure (I hope we would have been warned, but I don't fol

[2022-03-06 00:37] Arthur-Milchior commented on #10434
@dae I see that note type now have a configuration `target_deck_id_unused`. Is it possible that recent version of anki do not set property "did" in note type?

[2022-03-06 02:48] akarsh1263 commented on #10423
@david-allison
@Arthur-Milchior
I got it, thanks

[2022-03-06 07:23] BrayanDSO commented on #10434
Yes, I use Anki desktop too. I guess the procedure I made was, although probably not reproducible:
1. Exporting a collection default deck with some cards using a new notetype
2. Import the deck in another collection
3. Move the notes to another deck
4. Delete the imported deck
5. Sync

[2022-03-06 11:06] BrayanDSO opened #10442 "[Bug] Preferences title isn't reupdated after opening a screen option"
###### Reproduction Steps

1. Open preferences
2. Go to a preference which have its own page (e.g. Advanced > Advanced Statistics or Advanced > Custom sync server)
3. Return to the screen

https://user-images.githubusercontent.com/69634269/156920374-32cb434a-37ef-4054-ab26-cf7031681fb5.mp4

###### Expected Result

The preference title should reappear

###### Actual Result

The subpage title persis

[2022-03-06 13:27] akarsh1263 commented on #10423
@Arthur-Milchior
I have created a new preferences.xml and replaced the string literals with string constants in preferences_reviewing.xml, and comitted the changes. Is there anything else I have to do before you review it?

[2022-03-06 13:36] WPum commented on #10431
Currently, card empty checks are performed before the actual render process, which will fail because no field in the template matches the non-empty field in the card. ("Frot" does not match either "Front" or "Back")
I would like to fix this if possible, but I'm not sure what to do next.

[2022-03-06 13:44] Arthur-Milchior commented on #10423
@akarsh1263 You don't have to worry about creating a PR. You can change PR if I ask for more work anyway. And it's easier for me to have an opinion if I see the actual result than if I have to guess whether we perfectly understood each other meaning.

So please, just go create the PR. In the worst case, I'll ask for changes.

[2022-03-06 14:06] BrayanDSO commented on #10431
The template editor is defined on `CardTemplateEditor.java`. The field names are listed at `mFieldNames`. When the user saves the edition, it should check if the front has no fields or one of the fields has a name not in `mFieldNames`. If it helps you, I guess upstream does it with `template.rs`

[2022-03-06 14:39] WPum commented on #10321
@Areeb-510
Hi, are you still working on this issue? If not I can give it a try!

[2022-03-06 15:03] WPum commented on #10431
In the latest version of Anki desktop, it simply refuses to save problematic template.
May be a solution

[2022-03-06 15:30] david-allison opened #10443 "[JS API]: Know if `{{tts}}` is supported."
As a developer, I would like to know if `{{tts}}` is supported so I can determine whether to use `AnkiDroidJS.ankiTtsSpeak`, or rely on the system TTS.

I would like to be able to call this functionality from the JavaScript API in a card

[2022-03-06 16:03] WPum opened #10445 "[Bug] "Search deck" button appears after synchronization"
###### Reproduction Steps

1. Login to an AnkiWeb account
2. Do sync

###### Expected Result

"Search desk" button does not appear in the deck picker toolbar.

###### Actual Result

It appears.

### Before Sync

![before](https://user-images.githubusercontent.com/27683756/156931123-5b1e53ea-7c09-44bd-9f97-1fd36cefcd65.jpg)

### After Sync

![after](https://user-images.githubusercontent.com/2768375

[2022-03-06 17:58] krmanik commented on #10443
I think the proposed PR does not solve the current problem.
The problem is to check if `{{tts}}` is supported or not.
But it also use android's `TextToSpeech` so the return value about status should be from `ReadText.kt`

https://github.com/ankidroid/Anki-Android/blob/fd654e8c18c9cfdabe1b7a39fa356e5f89c8b190/AnkiDroid/src/main/java/com/ichi2/anki/ReadText.kt#L251

[2022-03-06 18:19] mikehardy commented on #10436
sounds reasonable to me

[2022-03-06 18:34] david-allison opened #10449 "Add a lint check for usage of `when` in Kotlin tests"
Good first issue: add a lint check for `when` to improve our Kotlin migration automation.

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/10437#issuecomment-1060015668_

----

In Kotlin, `when` is a keyword, so method calls need a backtick around the method name. `whenever` is a fixed version of this method.

See: https://github.com/ankidroid/Anki-Android/bl

[2022-03-06 19:29] mikehardy commented on #10399
Done - got all the repositories in the org

[2022-03-06 19:29] #10399 closed

[2022-03-06 19:45] david-allison commented on #10443
I specifically want to know if the `{{tts}}` field modifier is supported (AnkiDroid doesn't use this yet). 2.16 should return "no" until I've completed and enabled it from the Rust Backend.

This will allow people to use `ankiTtsSpeak`, and have it disabled once the Anki-compatible `{{tts:}}` is available

[2022-03-06 20:27] akarsh1263 commented on #10423
I'm getting some error while pushing (string_constants is my branch name):
 ! [remote rejected]     HEAD -> string_constants (refusing to allow a Personal Access Token to create or update workflow `.github/workflows/lint.yml` without `workflow` scope)
error: failed to push some refs to 'https://github.com/akarsh1263/Anki-Android.git'

[2022-03-06 20:34] krmanik commented on #10443
_I thought it would be easy to implement but I don't think so now._

First it needs to check if the card template contains `{{tts:}}` string or not, if contains then return  false.
Is any other implementation idea?

[2022-03-06 21:00] david-allison commented on #10443
Just return false for now

[2022-03-06 21:23] david-allison commented on #10423
You need more permissions on your PAT: https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token

[2022-03-06 21:43] krmanik commented on #10443
I have pushed the changes to the PR.

[2022-03-07 00:47] dae commented on #10434
While older Anki versions set did to 1 on newly created notetypes, IIRC, there were collections floating around (probably created with third-party tools) that had a null or missing did, so it was declared as nullable in the Rust schema:
https://github.com/ankitects/anki/blob/202207b7650680ddc4cf1f6b68a4fe064760936b/rslib/src/notetype/schema11.rs#L43. A safe approach here would be to fall back on 1

[2022-03-07 02:53] mikehardy commented on #10434
Oh interesting, I suppose we need to may attention to the nullability in the schema definitions (I mean, of course)

@BrayanDSO I'm not sure if there's a clean way to wrap the idea of Deck.getDid, but if there was, then that's the place to put this fallback, in one spot - and if not, hopefully it's possible to make one getDid spot that can do the fallback-to-1 ?

[2022-03-07 13:17] BrayanDSO commented on #10434
It seems the only nullable column on schema11 notetypes is deck id.

The most clean way would be to add a `getDid()` to `libanki/Model`, a one line method, and substitute the two only occurrences of `Model.getLong("did")` to `Model.getDid()`.

@Arthur-Milchior had suggested on the PR to add a `default did` parameter on it. I think overloading the method to fallback to 1 if no `defaultDid` was give

[2022-03-07 13:39] mikehardy commented on #10434
That sounds reasonable and pretty clean to me

[2022-03-07 16:14] dericbytes opened #10453 "Typo in documentacion"
On the webpage https://docs.ankidroid.org/

`...and typeMissing to add green, ... `

should be

`... and typeMissed to add green, ... `

[2022-03-07 16:21] mikehardy commented on #10453
Hi there! Feel free to propose a PR in the ankiddroiddocs repo where this lives, it's this file right around here: https://github.com/ankidroid/ankidroiddocs/blob/main/manual.asc#type-in-the-answer-feature

[2022-03-07 21:02] #10099 closed

[2022-03-08 04:42] xidsyed commented on #9811
### Clearer Steps to replicate the problem

1. Android Developer Settings - Enable "Don't keep Activities"
2. Open Deck Picker > Options Menu > Manage Note Types > Long Press any type > Edit Cards
3. Long press > Insert Field (Leave the modal open)
4. Minimise app
5. Maximise app

Try following these steps if you can't replicate the problem

[2022-03-08 05:56] BishyanKar commented on #10436
@mikehardy can I work on it?

[2022-03-08 06:41] WiliTest commented on #5091
I have the same problem on 2.16alpha29: going into the settings of the filtered deck rebuild it (which is annoying)

[2022-03-08 07:58] krmanik commented on #10436
@BishyanKar
Sure!

[2022-03-08 14:20] mikehardy commented on #9811
The general rule of one person per issue, and requesting / waiting for confirmation is just to make sure people have a reasonable chance to do the work, without anyone wasting their time doing duplicate work

There has been no progress on this in a month @SanjaySargam and communication / progress is an important part of the whole process here, so I will have to assume it's open again, @xidsyed if

[2022-03-08 14:22] mikehardy commented on #5091
@WiliTest can you try the most up to date code just in case it's fixed? We're blocked from releasing to the play store so you have to install directly: https://github.com/ankidroid/Anki-Android/releases - if it's still happening you might open a new issue to make sure it gets attention

[2022-03-08 14:37] mikehardy commented on #9811
This area of the code base is only barely understandable! I chose CardTemplateEditor as my first real attempt at doing Open Source and definitely my first attempt working on AnkiDroid and it was....kind of hell but also I learned so much :sweat_smile: :laughing: - so if you want to fix this my advice is: don't worry about feeling like you don't understand this area, I'm not sure anyone does, but a

[2022-03-08 14:39] mikehardy commented on #9811
I thought your comment with the examples and everything was great by the way, it's not too much to read. Open Source work is asynchronous, technical, and involves lots of details. The *best* way of doing it is posting your known facts (with code snippets), your thought process for diagnosis of root cause, any questions outlined, and a rough sketch of a solution (which can be in a PR). This fits th

[2022-03-08 16:05] kartikeysaran commented on #10428
Can i work on this ?

[2022-03-08 16:33] deepanshu731 commented on #10386
@Arthur-Milchior I would like to work on this issue

[2022-03-08 16:58] mikehardy commented on #10386
writing new tests that expand coverage would be more valuable in my opinion as well. A bunch of test PRs that are just refactors is just time-consuming noise, to me

[2022-03-08 17:03] #10386 closed

[2022-03-08 17:04] Arthur-Milchior commented on #10428
Please do

[2022-03-08 17:40] homocomputeris commented on #9482
Still an issue

[2022-03-08 18:28] mikehardy opened #10458 "remove Compat.copyDirectory"
I'd remove copy directory

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/10448#issuecomment-1062036211_

Also from @arthur-milchior
----
While you may be excused to assume that copyDirectory is some new code, it actually is code from Farjad and I don't expect we'll actually use it (@david-allison should we remove Compat.copyDirectory ?)

[2022-03-08 19:57] xidsyed commented on #9811
Thanks for all the feedback Mike!

I definitely think there are ways to make this work. the constructor initialisation problem was easy, all that's left is making sure the arguments don't get in the way of the Factory getting reinitalised.

I Guess if worse comes to worse we could just... not restore the modal... its not like the user makes any progress in it that gets lost. atleast the activity w

[2022-03-08 20:58] sampath-houde commented on #10445
Can I work on this issue?

[2022-03-08 21:02] inomag commented on #10458
Hi @mikehardy, I would like to work on this issue.

[2022-03-08 21:10] david-allison commented on #10458
Sounds good to me!

[2022-03-08 21:10] david-allison commented on #10445
Sure!

[2022-03-08 21:30] mikehardy commented on #9811
Oh! If you want to discuss a design first then sure, just post it up in here. I have actually just scribbled something on a piece of paper (as a diagram) and uploaded the pic before, fast and easy! Whatever works for you

[2022-03-08 21:35] #10442 closed

[2022-03-08 22:00] #10443 closed

[2022-03-09 05:16] YuvMilo commented on #9146
Hey, I'm still searching for solutions!
This issue persists with my Pixel 6.
There seems to have a solution to a similar problem here:
https://github.com/mathjax/MathJax/issues/2701

[2022-03-09 09:33] yashsharma81 commented on #10449
Hi @david-allison i want to work on this issue.

[2022-03-09 12:50] david-allison commented on #10449
Sounds good to me!

[2022-03-09 12:51] david-allison commented on #10377
Sounds good to me!

[2022-03-09 13:50] xidsyed commented on #9811
Great!

I mean it was your idea.

[2022-03-09 14:58] Niraj81 commented on #10377
Can i give it a try?

[2022-03-09 15:13] Niraj81 commented on #10352
Can I give it a try?

[2022-03-09 16:06] Niraj81 commented on #10352
Yeah, seems like gboard doesn't acknowledge TYPE_TEXT_FLAG_NO_SUGGESTIONS

[2022-03-10 03:57] Sustech-yx commented on #10385
@Arthur-Milchior I'm interested in this and would like to work on this issue, could you please assign it to me?

[2022-03-10 05:01] L-keeey commented on #10431
Hi @david-allison , I would like to work on this issue.

[2022-03-10 08:33] SampathHoude commented on #10445
Where can i get 2.16 alpha48 version apk @david-allison @WPum

[2022-03-10 08:51] SampathHoude commented on #10445
@david-allison can you explain it exaclty when the 'search desk' button should appear and when it shouldn't

[2022-03-10 10:09] RaidenCHEN commented on #9978
Hi, I would like to work on this issue. Could I have this one? @david-allison

[2022-03-10 10:44] grit780 opened #10467 "Lag when reviewing cards on custom Android 12 ROM"
###### Reproduction Steps

1. Hello

I hope you are well.

I upgraded to a custom Android 12 ROM on my Samsung S10e. My phone is now much snappier and faster - however there is a huge lag when reviewing cards. When I click show answers, and then select again, hard, good or easy, there is no response for at least 5-10 seconds before going on to the next card. I tried disabling card hardware render

[2022-03-10 11:00] BrayanDSO commented on #10467
Probably duplicate/related to #9941

[2022-03-10 11:09] david-allison commented on #9978
Sounds good to me!

[2022-03-10 11:11] grit780 commented on #9941
Interesting that the issue wasn't happening on the official Samsung android 12 ROM (One UI 4.0), but does happen on the custom ROM.

[2022-03-10 11:14] BrayanDSO commented on #10387
@david-allison hamcrest 2.x+ has [io.FileMatchers](http://hamcrest.org/JavaHamcrest/javadoc/2.2/org/hamcrest/io/FileMatchers.html) which have a `anExistingFile` matcher and some others already.

AnkiDroid current version is `org.hamcrest:hamcrest-all:1.3`

Assuming staying with hamcrest 1.3 was not a decision of the mantainers, the dependency bot probably didn't catch the update because now all cl

[2022-03-10 11:18] david-allison commented on #10387
Awesome! I'd accept that as a change. Hamcrest was introduced well before my time. Check with @mikehardy, but definitely an oversight here

[2022-03-10 11:31] david-allison commented on #10431
Hi, it'd be good to engage in the discussion and come to a reasonable solution before coding.

After that, I'll happily assign it

[2022-03-10 11:33] david-allison commented on #10445
You'd be best to check out the git tag and build from source.

The alphas are also available on the releases page on GitHub

[2022-03-10 11:37] david-allison commented on #10445
It should be shown if 10 or more decks are available:

https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/java/com/ichi2/anki/DeckPicker.java#L694-695

[2022-03-10 12:32] sampath-houde commented on #10445
to which branch I should raise a pr?

[2022-03-10 12:37] david-allison commented on #10445
Main

[2022-03-10 12:44] sampath-houde commented on #10445
Have created the PR
@david-allison

[2022-03-10 13:15] HuWeiyy commented on #10416
Hi @Arthur-Milchior , I would like to work on this issue.

[2022-03-10 13:17] david-allison commented on #10416
Sounds good to me!

[2022-03-10 13:47] Valentin-ys opened #10469 "[Bug]callback compatibility issue when initialing method"
Hi, nice morning! This time we confirm a callback compatibility issue which might threaten the robustness of your app and give a detailed suggestion for you.

In ''com.ichi2.anki.AbstractFlashcardViewer.java", you super the framework API "android.webkit.WebViewClient: void onReceivedHttpError(...)" in "onReceivedHttpError" method as shown in following. But actually, this method is added in API lev

[2022-03-10 15:29] mikehardy commented on #10445
@sampath-houde if you include the issue number in the PR on the 'Fixes line' (like exactly this: `Fixes #10445`) then github will autolink them together and auto-close the issue when the PR is merged - it's a nice github feature

[2022-03-10 16:16] mikehardy commented on #10387
Irony that dependabot lost the plot there. In general I am probably too obsessive/compulsive with keeping dependencies up to date so now I'm already anxious that we're not ;-). Please update as possible/needed!

[2022-03-10 16:28] mikehardy commented on #10469
Area of interest:
https://github.com/ankidroid/Anki-Android/blob/0aa58b7b56d46e54dd0cadd81bd0f6ff091d01e5/AnkiDroid/src/main/java/com/ichi2/anki/AbstractFlashcardViewer.java#L2594-L2598

Handler override is for purpose of displaying help in case of missing images (a 404 from the resource that was attempted in the WebView): https://github.com/ankidroid/Anki-Android/blob/0aa58b7b56d46e54dd0cadd81bd0

[2022-03-10 16:43] Valentin-ys commented on #10469
Thanks a lot！

[2022-03-10 17:09] murugu-21 commented on #10240
The pr will go through very soon and next release will fix this issue, in the mean time try to use gboard for pasting screenshots/clipboard images rather than default(samsung clipboard) implementation since gboard paste works with current version @adammesa

[2022-03-10 17:55] zyx666666 opened #10472 "Seek advice from you as an app developer"
Dear app developer:
Nowadays, our team has developed a tool that can detect and automatically repair accessibility problems in the app. We hope to receive your suggestions and opinions as an app developer.
Here, the accessibility problem I mentioned includes two types of problems: Text Contrast issue and Image Contrast issue. The former one corresponds to visible text, where there is a low contras

[2022-03-10 19:23] mikehardy commented on #10472
Hi there! That looks interesting. We have made several accessibility improvements semi-recently, but we recognize we are still far from being accessible (we have used the Google accessibility scanner tool).

Historically our limitation is developer time to implement the fixes, so if you propose PRs that actually fix things with an explanation of what exactly was wrong the first time, and why the f

[2022-03-10 20:03] Arthur-Milchior commented on #10385
@Sustech-yx I already assigned it to @puranjayK.
@puranjayK did you start working on it? Can you state what you already did so that @Sustech-yx can work on other part

[2022-03-10 22:37] david-allison commented on #10122
@Raphael124

* Preferences - Advanced - Replace Newlines with HTML

Sorry I missed this, "closed" doesn't mean "not open for comment", so if the above solution doesn't work, please let me know

[2022-03-10 22:37] #10122 closed

[2022-03-10 22:39] david-allison opened #10474 "Move "Replace newlines with HTML" to Note Editor"
Ref: #10122

We've added a number of Preferences to the Note Editor rather than keeping them in preferences.

`Replace newlines with HTML` seems useful to give more visibility to.

This is not yet available for pull requests. Pending another maintainer's approval.

[2022-03-11 01:48] #10358 closed

[2022-03-11 01:50] Arthur-Milchior commented on #10358
@Chandra-Sekhar-Bala For your information, you can look at the number of commits and pull request we had to do to close this request. You may understand why we thought it would not be a good issue for beginners.

[2022-03-11 02:03] mikehardy commented on #10358
One of the worst ones I've seen, with regard to difficulty!

[2022-03-11 05:05] #10240 closed

[2022-03-11 05:05] #8880 closed

[2022-03-11 05:37] zyx666666 commented on #10472
Thank you for your positive feedback. Our tools can provide detection reports on accessibility issues, and locate and repair the problem components according to the detection reports. This process is fully automatic and does not require developers to manually find error points or code that needs to be modified. Therefore, our tool can effectively shorten the time for developers to repair the issue

[2022-03-11 05:44] parthn2 commented on #10321
HI @mikehardy., if no one is working on this issue now, Can i work on it ?

[2022-03-11 07:10] viciousAegis commented on #10321
@parthn2 The issue hasn't been worked on in a month, and hasn't had any responses. I started work on it because of that, but if you want to work on this specific issue, that's cool with me, otherwise you can also try another issue, all up to you :)

[2022-03-11 07:15] puranjayK commented on #10385
@Sustech-yx , I was reading upon tests currently.
As mentioned earlier, this issue requires a lot of work to be done, so we both can work on it. Just mention whatever part you are doing.

[2022-03-11 11:46] mikehardy commented on #10321
@viciousAegis please drop a note in the future but I'd say that means you have the issue for the moment

Sorry @parthn2 but hopefully there is another issue in the repo that looks interesting? I think the inventory might be pretty low at the moment unfortunately (a good thing normally? but a bad thing when we have people looking for stuff to do 😆 ). I think there is *always* kotlin migration to do

[2022-03-11 11:49] viciousAegis commented on #10321
Apologies, I started work and was just coming here to comment, and then I saw the other comment.
Honest apologies @parthn2, I'll communicate better in the future.

[2022-03-11 11:51] mikehardy opened #10475 "Add javascript formatting check via prettier to lint.yml"
For javascript (now that I'm much much better at it then when I started helping on AnkiDroid!), we should really have a .prettierrc and integrate a prettier check in our lint run, against our javascript.
Even if we don't require a full development toolchain for javascript for contributors (not something I recommend), it's easy to use the github setup-node action then do an `npx prettier` run on th

[2022-03-11 11:55] mikehardy commented on #10475
This would be a good issue for anyone that want's DevOps experience

In order for `npx` to appear as a command in your path you must have nodejs installed, it may be there already. setup-node is the action to use in the workflow. I use https://github.com/nvm-sh/nvm#installing-and-updating

Prettier requires a .prettierrc file like so https://github.com/invertase/notifee/blob/main/.prettierrc

`npx

[2022-03-11 13:04] tcaERROR-issues opened #10476 "open keyboard when rescheduling a card"
**Is your feature request related to a problem? Please describe.**
Fairly clunkly since usually this action is hidden in hamburger menu, therefore you must, after showing answer, tap the open cards menu, hit reschedule, then make sure to hit in the gearbox to start typing . The default value isnt useful and there is no way of selecting any parameters without the keyboard.

**Describe the solution

[2022-03-11 14:37] david-allison opened #10478 "Enable lint: `LogConditional`"
We perform lint checking to ensure code correctness, but many of the system lint checks have not been enabled.

The goal of this issue is to enable the lint check: `LogConditional`

Line: https://github.com/ankidroid/Anki-Android/blob/6260cd6e25f67f331833bbd0981f2cda5a426dde/lint-release.xml#L224

To do this:

* Change `ignore` to `fatal`
* Move the line in the XML to be somewhere near the top of

[2022-03-11 14:42] david-allison opened #10479 "Enable Lint: `UselessParent`"
We perform lint checking to ensure code correctness and improve performance, but many of the system lint checks have not been enabled.

The goal of this issue is to enable the lint check: `UselessParent`

Line: https://github.com/ankidroid/Anki-Android/blob/6260cd6e25f67f331833bbd0981f2cda5a426dde/lint-release.xml#L350

To do this:

* Change `ignore` to `fatal`
* Move the line in the XML to be som

[2022-03-11 14:43] david-allison opened #10480 "Enable Lint: `RedundantNamespace`"
We perform lint checking to ensure code correctness and improve performance, but many of the system lint checks have not been enabled.

The goal of this issue is to enable the lint check: `RedundantNamespace`

Line: https://github.com/ankidroid/Anki-Android/blob/6260cd6e25f67f331833bbd0981f2cda5a426dde/lint-release.xml#L74

To do this:

* Change `ignore` to `fatal`
* Move the line in the XML to be

[2022-03-11 14:48] david-allison commented on #10449
Note: this can likely be implemented by adding:

`<issue id="NoHardKeywords" severity="fatal"/>` to `lint-release.xml`

[2022-03-11 14:56] david-allison opened #10481 "Enable Lint `ImpliedQuantity`"
The goal of this issue is to enable the lint check: `ImpliedQuantity`

Line: https://github.com/ankidroid/Anki-Android/blob/6260cd6e25f67f331833bbd0981f2cda5a426dde/lint-release.xml#L74

* This actively picks up vandalism in the lint
* We need to work out how to ignore `reschedule_cards_dialog_title`, (possibly others)
  * Ideally this only needs to be done in `/values`

[2022-03-11 15:02] david-allison opened #10482 "Enable lint `ObsoleteLayoutParam`"
We perform lint checking to ensure code correctness and improve performance, but many of the system lint checks have not been enabled.

The goal of this issue is to enable the lint check: `ObsoleteLayoutParam`

Line: https://github.com/ankidroid/Anki-Android/blob/6260cd6e25f67f331833bbd0981f2cda5a426dde/lint-release.xml#L266

To do this:

* Change `ignore` to `fatal`
* Move the line in the XML to

[2022-03-11 15:56] Prince-kushwaha commented on #10478
@david-allison can i work on this issue

[2022-03-11 15:56] david-allison commented on #10478
Sure, thanks!

[2022-03-11 16:18] david-allison commented on #10476
Agreed. Relevant code: https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/RescheduleDialog.kt

[2022-03-11 16:21] viciousAegis commented on #10321
How does this look @mikehardy @javiercl2020?
https://user-images.githubusercontent.com/86671025/157905652-83c4660e-b456-4673-8144-a3d5399848e7.mov

The implementation is this:

Will send in a PR in the morning. Let me know if this looks okay.

[2022-03-11 16:22] viciousAegis commented on #10321
How does this look @mikehardy @javiercl2020?

The implementation is this:

Will send in a PR in the morning. Let me know if this looks okay.

https://user-images.githubusercontent.com/86671025/157906813-2abdce09-ccdb-4bd1-9fd8-722b83270b60.mov

[2022-03-11 16:27] david-allison commented on #10321
My reading of this is that it should be from the `Preview` functionality, not the `Edit Note` functionality.

It'd be worth keeping this in a branch. I wouldn't oppose this functionality in the note editor either

[2022-03-11 16:35] viciousAegis commented on #10321
@david-allison it works in the `Previewer` as well, since the pencil icon opens the `Edit Note` menu only, as Mike mentioned in https://github.com/ankidroid/Anki-Android/issues/10321#issuecomment-1034106789:

If there is something else to be done, let me know :)

[2022-03-11 16:44] david-allison commented on #10321
@viciousAegis This is the preview for the browser:

Select cards -> Preview,

This offers a "Card Viewer" approach to Previewing cards, and makes it much easier to transition between viewing cards than the Note Editor

[2022-03-11 16:48] viciousAegis commented on #10321
@david-allison Yep! Got it. Thanks for catching that one early 😅. I'll shelve this in a branch (can create a separate PR for it, if maintainers think it's a good addition), and work on the Previewer now.

[2022-03-11 17:00] krmanik opened #10483 "Add lint to ignore translation when all strings inside resources file set translatable to false"
Should we consider following link for current xml file instead of repeated `translatable="false"`?
https://stackoverflow.com/a/53206467/13986833

_Originally posted by @krmanik in https://github.com/ankidroid/Anki-Android/pull/10450#discussion_r823389562_

[2022-03-11 17:08] david-allison commented on #10483
What's the problem currently? We only use `translatable="false"` 3 times

[2022-03-11 17:11] david-allison commented on #10321
Would be worth creating a new issue to discuss

[2022-03-11 17:19] krmanik commented on #10483
I missed it. I haven't checked.

[2022-03-11 17:19] #10483 closed

[2022-03-11 17:32] BrayanDSO commented on #10387
Some places where this issue can be applied: [BackupManagerSimpleTest](https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/test/java/com/ichi2/anki/BackupManagerSimpleTest.kt) and [NoteServiceTest](https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/test/java/com/ichi2/anki/services/NoteServiceTest.java)

[2022-03-11 17:53] BrayanDSO commented on #10476
Same behavior could be applied to some items in the deck options like `Steps`, `Ease`, etc

[2022-03-11 18:45] anamansari062 commented on #10482
@david-allison I would love to work on this issue, Can you assign me this issue?

[2022-03-11 18:48] david-allison commented on #10482
@anamansari062 Thank you! Done

[2022-03-11 18:56] ken1000minus7 commented on #10479
I would like to work on this issue ✌️

[2022-03-11 19:03] david-allison commented on #10479
Thanks!!

[2022-03-11 19:04] david-allison opened #10488 "Enable Lint: `DrawAllocation`"
We perform lint checking to ensure code correctness and improve performance, but many of the system lint checks have not been enabled.

The goal of this issue is to enable the lint check: `DrawAllocation`

Line: https://github.com/ankidroid/Anki-Android/blob/6260cd6e25f67f331833bbd0981f2cda5a426dde/lint-release.xml#L208

To do this:

* Change `ignore` to `fatal`
* Move the line in the XML to be so

[2022-03-11 19:08] Arthur-Milchior opened #10489 "Kotlin Cleanup"
Currently, there are 84 `@KotlinCleanup` in AnkiDroid code source. Most of those changes are supposed to be simple to do and would be a good pull request by themselves. Also, if you are a java developer and new to Kotlin, it will be a great way to learn Kotlin advantages, since it's usually tasks that were introduced when translating java to Kotlin, and which can actually be improved in Kotlin com

[2022-03-11 19:58] mikehardy commented on #10472
Sure, that can be useful. What is really useful to us - as a project, not just as a developer - is people making actual pull requests that are valid and work. When other research groups have approached us with issues related to or PRs made from automated analysis I have found them to be inefficient because they lacked in-depth analysis to make sure they were valid or worked. In the end, a valid wo

[2022-03-11 20:31] #7354 closed

[2022-03-11 22:44] kilitr commented on #10489
i would like to work on this

[2022-03-11 22:45] david-allison commented on #10489
Sounds good! IMO it's not worth assigning to this one as there's so much to do.

Ideally one PR per class - just let us know which one you're working on so someone else doesn't work on it at the same time

[2022-03-12 02:29] Bhawna1203 commented on #10482
If @anamansari062 is not working on this issue then i would like to work on this @david-allison

[2022-03-12 02:30] Bhawna1203 commented on #10488
I would like to work in this issue if no one is working on this @david-allison

[2022-03-12 03:28] david-allison commented on #10488
Sounds good to me

[2022-03-12 03:29] david-allison commented on #10482
It's only been 9 hours, never any rush in Open source! You'd be best to find a different issue.

[2022-03-12 06:17] Prince-kushwaha commented on #10478
@david-allison can i do [Kotlin Conversion]  of IntentHandler.java or of some other java file

[2022-03-12 08:31] oyeraghib commented on #10476
Hey @david-allison can I work on this issue ?

[2022-03-12 08:50] tharun634 commented on #10475
Hey, can I work on this?

[2022-03-12 10:48] david-allison commented on #10478
Check to see what's not been done and feel free to do another one.

Check the `docs` folder for our process

[2022-03-12 10:48] david-allison commented on #10476
Sounds good to me

[2022-03-12 10:48] david-allison commented on #10475
Sounds good to me

[2022-03-12 13:05] akarsh1263 commented on #10458
If no one is assigned currently, I can work on this. I just have to remove the copyDirectory function from the Compat interface right?

[2022-03-12 13:16] david-allison commented on #10458
yep

[2022-03-12 13:32] yashsharma81 commented on #10449
@david-allison could you please acknowledge me for fixing this issue, i'm new to Open Source Contributing..
Hoping for reply.

[2022-03-12 13:37] david-allison commented on #10449
Sorry, I don't quite understand what you're asking there. Could you rephrase the question?

[2022-03-12 13:42] akarsh1263 commented on #10458
The function is used in the moveDirectory function in CompatV21 class, so should I keep the function in CompatV21 without '@Override" sign and remove it just from the interface?

[2022-03-12 13:43] david-allison commented on #10458
remove all inheritors

[2022-03-12 13:45] akarsh1263 commented on #10458
Ok, I'll remove moveDirectory function and any other inheritors

[2022-03-12 13:54] david-allison commented on #10458
It should only be used in tests. Remove those

[2022-03-12 14:30] akarsh1263 commented on #10458
I have made the changes and committed. Should I push and make a PR?

[2022-03-12 14:37] david-allison commented on #10458
no need to ask! PRs welcome

[2022-03-12 14:48] david-allison opened #10501 "Enable lint: `ObsoleteSdkInt`"
We perform lint checking to ensure code correctness and improve performance, but many of the system lint checks have not been enabled.

The goal of this issue is to enable the lint check: `ObsoleteSdkInt`

Line: https://github.com/ankidroid/Anki-Android/blob/6260cd6e25f67f331833bbd0981f2cda5a426dde/lint-release.xml#L98

To do this:

* Change `ignore` to `fatal`
* Move the line in the XML to be som

[2022-03-12 14:49] david-allison opened #10502 "Enable Lint: `MergeRootFrame`"
We perform lint checking to ensure code correctness and improve performance, but many of the system lint checks have not been enabled.

The goal of this issue is to enable the lint check: `MergeRootFrame`

Line: https://github.com/ankidroid/Anki-Android/blob/6260cd6e25f67f331833bbd0981f2cda5a426dde/lint-release.xml#L248

To do this:

* Change `ignore` to `fatal`
* Move the line in the XML to be so

[2022-03-12 14:52] david-allison opened #10503 "Enable Lint: `TextFields`"
We perform lint checking to ensure code correctness and improve performance, but many of the system lint checks have not been enabled.

The goal of this issue is to enable the lint check: `TextFields`

Line: https://github.com/ankidroid/Anki-Android/blob/6260cd6e25f67f331833bbd0981f2cda5a426dde/lint-release.xml#L330

To do this:

* Change `ignore` to `fatal`
* Move the line in the XML to be somewh

[2022-03-12 15:01] david-allison opened #10504 "Enable Lint: `ImplicitSamInstance`"
We perform lint checking to ensure code correctness and improve performance, but many of the system lint checks have not been enabled.

The goal of this issue is to enable the lint check: `ImplicitSamInstance`

File: https://github.com/ankidroid/Anki-Android/blob/main/lint-release.xml

To do this:

* Add ` <issue id="ImplicitSamInstance" severity="fatal" />` to `lint-release.xml`
* Place the line

[2022-03-12 15:19] Prince-kushwaha commented on #10503
@david-allison can i work on this issue

[2022-03-12 15:20] david-allison commented on #10503
Sure

[2022-03-12 15:50] shankarpriyank commented on #10502
I would like to fix this

[2022-03-12 15:52] Prince-kushwaha commented on #10501
@david-allison can i work on this

[2022-03-12 16:18] kilitr commented on #10489
### Working on CustomStudyDialog.kt

I would like some help concerning the second part of this KotlinCleanup
https://github.com/ankidroid/Anki-Android/blob/a9ca2cfa854d999e5e4cbe905239b9109f1aee9c/AnkiDroid/src/main/java/com/ichi2/anki/dialogs/customstudy/CustomStudyDialog.kt#L343-L417

What exactly is meant by "mapping dialogID to an enum"?

1. IMO, the only thing that would make sense is replaci

[2022-03-12 17:35] Arthur-Milchior commented on #10401
Just tested on desktop. There is no warning there in this case. but I admit that a toast may still be a better user experience in this case

[2022-03-12 19:18] divyansh-dxn commented on #10489
I would also like to work on it. So basically, I have to go through each class marked with @KotlinCleanup and convert ko Kotlin making sure that changes don't break and pass all the tests.

[2022-03-12 20:02] david-allison commented on #10502
Sounds good to me!

[2022-03-12 20:04] david-allison commented on #10501
Sure

[2022-03-12 20:34] divyansh-dxn commented on #8602
Hey! Can I work on it?

[2022-03-12 20:39] david-allison commented on #8602
Sure. One class as a time - don't do them all at once

[2022-03-12 20:42] divyansh-dxn commented on #8602
I'm on it.

[2022-03-12 21:05] Arthur-Milchior commented on #10489
Well, you just need to find one `@KotlinCleanup` that is not the one @kilitr is working on, and correct it. Please don't try to solve all clean up in a single PR, that would be very hard to review

[2022-03-12 21:53] Arthur-Milchior opened #10510 "Clarify which folders are expected to be profile folder"
I would love for a little bit of consistency in our codebase around variables that represents the profile directory.

For the context, the "profile directory" is called `AnkiDroid` right now, and is in the top level of the file system. This will change in a few months hopefully, the day where we'll allow for multiple profiles on the same device.

Many functions takes as input the profile directory

[2022-03-12 22:11] Arthur-Milchior commented on #10489
@kilitr Please do the thing that makes sens to you.
This guidance is true all of the time actually. It's easy to be not clear, to miss a nuance, while writtings todo/issues, that is only really catched while implementing the code. It's quite rare that we require something to be done exactly the way we required it, and it never occurs that we are not willing to discuss our demands. So, if you do th

[2022-03-13 02:51] KamWithK commented on #10335
I took some time once again today to look into this and looks like the problem here was (at least partially) due to Android's scoped storage. Whenever you try to open the file I put into the content values/content provider, you got a permission denied error (according to the debug logs). I've managed to get around this by creating a content provider and getting my file uri from it.

I no longer se

[2022-03-13 03:44] yashsharma81 commented on #10449
@david-allison how to "Add a lint check for usage of when in Kotlin test" i'm unable to do as i'm new to open source.

[2022-03-13 03:53] Prince-kushwaha commented on #10510
@Arthur-Milchior can i work on this issue

[2022-03-13 04:05] Arthur-Milchior commented on #10510
@Prince-kushwaha please do

[2022-03-13 09:34] #10478 closed

[2022-03-13 09:45] KamWithK commented on #10335
Hey good news, just managed to get all the code working
Turns out the remaining problems were due to yomichan not accepting the modified file paths which I was returning (which I found a small workaround for)
Can finally hear the audio!
Thanks for the help @mikehardy

[2022-03-13 09:46] KamWithK commented on #10335
Hey good news, just managed to get all the code working
Turns out the remaining problems were due to yomichan not accepting the modified file paths which I was returning (which I found a small workaround for)
Can finally hear the audio!
Thanks for the help @mikehardy

[2022-03-13 09:46] #10335 closed

[2022-03-13 10:58] snowtimeglass opened #10517 "[Bug] The ”HARD" intervals written in Card info are inconsistent with the intervals written in the "HARD" buttons"
Thank you always, developers.

###### Reproduction Steps

(In short, answer with "HARD" button, then display "Card info" of the card.)

1. Display a card on Study screen
2. Tap "SHOW ANSWER" button
3. Tap "HARD" button
![test 3 half](https://user-images.githubusercontent.com/10436072/158053517-7c862124-1673-46bc-9635-5d4fe3dbe634.png)
4. Tap "≡" button (Open Drawer)
5. Tab "Card browser"
6. Longta

[2022-03-13 11:55] gugutu opened #10518 "[Bug]Incomplete display of statistical charts"
###### Reproduction Steps
1. Turn on advanced statistics
2. Go to statistical chart
###### Expected Result
![1647172287780](https://user-images.githubusercontent.com/59798823/158058110-6e384fdc-f95d-40ee-ae80-bab4f06cdc85.jpg)
###### Actual Result
![1647172287795](https://user-images.githubusercontent.com/59798823/158058119-f52382dc-1b7e-4a25-af38-e26a4d2a27d0.jpg)
###### Research
- [x] I have rea

[2022-03-13 12:05] gugutu commented on #10518
This problem exists in versions above 2.16 alpha 36

[2022-03-13 13:15] gugutu commented on #10518
###### Debug info
AnkiDroid Version = 2.16alpha50

Android Version = 11

Manufacturer = Xiaomi

Model = M2006J10C

Hardware = mt6885

Webview User Agent = Mozilla/5.0 (Linux; Android 11; M2006J10C Build/RP1A.200720.011; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/94.0.4606.85 Mobile Safari/537.36

ACRA UUID = 1381d01c-f576-4626-98b2-a5b32b428299

Scheduler = std2

Crash Reports E

[2022-03-13 14:12] david-allison commented on #10518
Thanks! Was reported in Discord a few days ago. Expected fallout from the Kotlin Migration

[2022-03-13 14:22] david-allison commented on #10449
The full link to the file is: https://github.com/ankidroid/Anki-Android/blob/main/lint-release.xml

[2022-03-13 14:54] Prince-kushwaha commented on #10518
@david-allison can i work on this issue

[2022-03-13 15:01] david-allison commented on #10518
Sure

[2022-03-14 02:52] Sustech-yx commented on #10385
@puranjayK ,hello. I am trying to reading and understand such things. I will inform my origress under the issue

[2022-03-14 09:31] fireheart2008 commented on #1377
Hello there
I would to donate to keep this -vised version alive, where to do so?

[2022-03-14 09:58] akarsh1263 commented on #10458
@david-allison
I have made the PR. Please review it

[2022-03-14 11:50] grit780 commented on #9941
Thanks a lot for this solution - it has fixed the issue for me.

[2022-03-14 13:52] divyansh-dxn commented on #10489
Currently I'm working on `DeckPickerFloatingActionMenu.kt`
Other working on this issue, please mention which class/file they are working on.

[2022-03-14 15:06] mikehardy commented on #10335
That is fantastic! Thanks so much for updating us here, and I'm really happy it was working. This stuff is now all very subtle yes, with all the permission being deny-by-default / no-actual-file-by-default and forcing use of content resolvers and URIs etc. It's the right way to go but definitely increases the difficulty... Good luck with your projecct!

[2022-03-14 15:08] mikehardy commented on #10510
I just want to say, for historical context, I literally started working on AnkiDroid because I found it so useful that I wanted to use it for my child as well. And I needed multiple profiles. And AnkiDroid did not support them and I thought - I can add that!

Instead, I ended up fixing CardTemplateEditor crashes (that took almost 2 years?) and now I'm a maintainer, and **I STILL HAVE NOT ADDED MUL

[2022-03-14 15:40] mikehardy commented on #5225
I think we are unblocked here!!
The pre-requisites were:
- move to minSdk >= 16 (we did that)
- migrate all uses of material dialog to Kotlin so we can access material-dialogs versions > 1 (we did that)

Now this task is: forward port our usage of material dialogs to their current stable version so we can use their current stable version.

[2022-03-14 19:13] #9461 closed

[2022-03-14 20:09] #10475 closed

[2022-03-14 20:23] david-allison opened #10530 "Kotlin Cleanup: integerListToArray"
This issue is open for contribution after https://github.com/ankidroid/Anki-Android/pull/10527 is merged.

Replace usages of `integerListToArray` with the Kotlin method: `.toIntArray()`. Remove the method when done.

[2022-03-15 00:29] david-allison commented on #10517
What does Anki Desktop show here (for the same cards)?

[2022-03-15 05:53] divyansh-dxn commented on #10530
I can work on it.

[2022-03-15 06:13] jals413 commented on #10530
I would like to work on it :)

[2022-03-15 12:19] snowtimeglass commented on #10517
Long time no see @mikehardy @david-allison :-), thank you so much for the wonderful progress.

@mikehardy

Excuse me, but I'm not sure what you meant. Did you mean that if only more information would be added? :-)

 @david-allison

I should have specified that point. Anki Desktop shows consistent intervals properly.
Examples (of Anki Desktop and AnkiDroid) are as follows. They are the results of t

[2022-03-15 12:26] mikehardy commented on #10517
I just meant scheduler bugs are usually hard! Much easier when something is just the wrong color. But better to know there is a problem then not, of course, I was just joking and always appreciate the reports

[2022-03-15 13:06] snowtimeglass commented on #10517
Thanks. I was not so sure of that, but felt you were just joking, so please don't worry :-)
I always appreciate your arduous work, too.

[2022-03-15 13:27] suman-somu commented on #10530
@jals413 are you doing it ?

[2022-03-15 15:06] DeepanshuPratik commented on #10178
Hey @david-allison can I contribute to this?

[2022-03-15 16:11] david-allison commented on #10530
#10527 isn't merged, so this isn't open to being worked on yet.

[2022-03-15 16:13] david-allison commented on #10178
Sure. Ensure that changes to strings are only performed in the `values` folder. We have a process to sync changes for other languages

[2022-03-15 16:14] mikehardy commented on #10178
:point_up:  https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#adding-translations

[2022-03-15 16:17] jals413 commented on #10530
yes i will work on this issue

[2022-03-15 17:03] #10482 closed

[2022-03-15 17:25] david-allison commented on #10517
Thanks so much, so it appears to be a display bug in `CardInfo`.

This is a massive relief: this implies a bug in some quick code that I wrote, rather than a bug in the scheduler.

[2022-03-15 17:30] DeepanshuPratik commented on #10489
Currently, I'm working on `CardTemplatePreviewer.kt`.
Others also please mention which files they are working on to avoid merge conflicts.

[2022-03-15 17:37] david-allison commented on #10489
Just FYI: conflicts with https://github.com/ankidroid/Anki-Android/pull/10526

[2022-03-15 17:43] DeepanshuPratik commented on #10489
But that change is done for only one variable `mCardList` but two more variables need to be updated, can you please verify?

[2022-03-15 17:49] DeepanshuPratik commented on #10489
Thanks, I didn't notice it.

[2022-03-15 17:58] DeepanshuPratik commented on #10489
Currently, I'm working on `LanguageUtils.kt`.

[2022-03-15 19:04] divyansh-dxn commented on #5514
This issue is still open, but I think this has already been handled. Although the method has been deprecated, I don't think this can cause a crash now.

[code]

[2022-03-15 19:05] #5514 closed

[2022-03-15 21:07] Prince-kushwaha commented on #10518
@david-allison yes your are right this issue is due to Kotlin Migration of `ChartBuilder.kt` when i replace code of  `ChartBuilder.kt` with 2.15 release -:`ChartBuilder.java` code  then this issue is fix

[2022-03-15 21:08] Prince-kushwaha commented on #10518
@david-allison can i replace code `ChartBuilder.kt` with 2.15 release -:`ChartBuilder.java` code ?

[2022-03-15 21:09] oyeraghib commented on #10476
@david-allison @tcaERROR-issues, guys isn't the keyboard already opening once we tap the reschedule option ? Is there any other issue here ?

Though I see keyboard not opening in deck options like **steps**, **ease** and I am working on it. But for the reschedule one please let me know!

https://user-images.githubusercontent.com/40427461/158472518-cdaad12e-9a72-4ed3-a46f-16d6459cdbba.mp4

[2022-03-15 21:13] david-allison commented on #10476
Doesn't happen for me. alpha50

[2022-03-15 22:31] david-allison commented on #10518
We should fix the Kotlin instead.

[2022-03-15 22:59] oyeraghib commented on #10476
here working fine for me in alpha50

https://user-images.githubusercontent.com/40427461/158485889-e2e47a98-7baf-4fe0-ab57-a16c48ea27a7.mp4

[2022-03-15 23:19] KamWithK commented on #10335
Thanks @mikehardy
Just in case anyone else gets stuck here's an example of the [media API working in a relatively simple application](https://github.com/KamWithK/AnkiconnectAndroid/blob/master/app/src/main/java/com/kamwithk/ankiconnectandroid/ankidroid_api/MediaAPI.java#L40)

[2022-03-16 00:49] tcaERROR-issues commented on #10476
Im on latest F-Droid version 2.15.6 - does that lag a lot?

On March 16, 2022 9:30:00 AM GMT+10:30, Mohd Raghib ***@***.***> wrote:

--
I have deleted Facebook. Please remain in contact with me @JoshuM Wire and Telegram, 0 (0421373152 on Signal & Telegram — from greatest to least reliable — and mobile] ) or here, ***@***.***
Sent from my mobile device with K-9 Mail; please excuse my brevity.

[2022-03-16 02:24] Satya-Prakash0 commented on #10366
I would like to work on this issue can you assign me

[2022-03-16 02:36] #10481 closed

[2022-03-16 03:03] david-allison commented on #10366
Can you reproduce the issue on your phone?

[2022-03-16 06:17] Prince-kushwaha commented on #10518
@mikehardy  @david-allison when i commit my change i get below issue how i fix it?
<img width="536" alt="Screenshot 2022-03-16 114313" src="https://user-images.githubusercontent.com/65972015/158527900-8ca5122b-33c6-4e52-abb2-8657e5146033.png">

[2022-03-16 06:34] DeepanshuPratik commented on #10178
@david-allison  Just for clarity, I wanted to ask we have to separate out those two functionalities by introducing another string with the same value but a different meaningful ID? as in `DeckSpinnerSelection.kt` it is used for just selecting the existing deck but in `download_shared_decks_menu.xml` it is used for shared decks in Anki.

[2022-03-16 08:55] quanta-kt opened #10545 "[Bug] App crashes on startup if system language is set to Marathi (मराठी)"
###### Reproduction Steps

1. Set your system language to Marathi
2. Start the app

###### Workaround

1. Temporarily set system language to English
2. Open Anki droid and set it's language to English from in-app settings
3. Set system language back to what you use

This way the app works, but only if you are willing to use it in English. Well, that's at-least better than completely an unusable ap

[2022-03-16 10:15] rskbansal commented on #10510
I guess no one's working on this issue currently, so may I work on it ?

[2022-03-16 12:17] mikehardy commented on #10518
Hmmm the new JavaScript linter may not have been verified on a windows system, I'll check first thing this morning after some coffee. This looks unrelated to any changes you've made, it's from a different pr

[2022-03-16 14:24] mikehardy commented on #10518
@Prince-kushwaha - I cannot reproduce this. It works fine on my local windows test environment. So we'll need more info than just an error message and a question on how to fix. You'll have to get curious, and dig in. https://stackoverflow.com/help/how-to-ask

In particular, what is your local environment? We'll need instructions to reproduce in the form of an exact sequence of commands / UI action

[2022-03-16 14:25] mikehardy opened #10549 "new prettier check in pre-commit may fail ?"
@mikehardy  @david-allison when i commit my change i get below issue how i fix it?
<img width="536" alt="Screenshot 2022-03-16 114313" src="https://user-images.githubusercontent.com/65972015/158527900-8ca5122b-33c6-4e52-abb2-8657e5146033.png">

_Originally posted by @Prince-kushwaha in https://github.com/ankidroid/Anki-Android/issues/10518#issuecomment-1068776452_

If anyone is thinking of working

[2022-03-16 14:25] mikehardy commented on #10549
I am unable to reproduce this on my windows test machine, asked @Prince-kushwaha for more information but I'd like to track it as a separate issue here.

[2022-03-16 14:26] mikehardy commented on #10518
I peeled this off to a separate issue.
Prettier / windows errors should not clutter up an issue related to statistical charts.
I'm going to minimize all the related comments but please do expand them if you are curious

[2022-03-16 14:27] mikehardy commented on #10549
My reproduction test (which succeeded):

- I used the shell cmd.exe on a Windows 10 system (fully updated as of today)
- I used git 2.34.1.windows.1 in my cmd.exe path and did git clone git@github.com:ankidroid/Anki-Android into a temp directory
- I have npx version 8.1.2 on my path
- in the fresh Anki-Android directory I ran npx --yes prettier --ignore-unknown --write AnkiDroid/**/*.js (the same

[2022-03-16 15:21] mikehardy commented on #10403
I just tried this a moment ago in response to a comment on #10538 and I have the same results as above, some test failures but not total library load failures as @viciousAegis sees.

I think there is a problem here but I need to reproduce. I suspect my system is working because of something subtle to do with Rosetta2 or similar, perhaps I am using a JDK that is not arm64e so it's working?

[code]

[2022-03-16 15:23] mikehardy commented on #10403
That's it! temurin JDK is x86_64. So most tests work (well, except for the problems above) if you `brew tap homebrew/cask-versions` and `brew install --cask temurin11` then use that JDK.

Not ideal, we should run native and I will get to that, but a workaround is worth a lot.

[2022-03-16 15:37] mikehardy commented on #10403
Yeah, Temurin is definitely not arm64 native yet, so I'm "working" because of Rosetta2 translation, which is the workaround for the moment (Looks like Temurin11 will get arm64 around April according to Microsoft liasion with java community - https://github.com/adoptium/adoptium/issues/96#issuecomment-1055447874) - So we have 2 problems then:

1- M1 test runs fail for various reasons outlined above

[2022-03-16 15:42] CheerfulPianissimo commented on #8397
Hello. I would like to be assigned to this issue as my first issue on AnkiDroid.

[2022-03-16 16:17] mikehardy commented on #10403
Okay I'm going to split this issue - I just reproduced my original failures here (pathing issues) in a regular x86_64 macOS environment.

The arm64 JDK thing I'm going to take over to Anki-Android-Backend as that's where it belongs.

[2022-03-16 16:19] mikehardy opened #10551 "Unit test suite currently not working on arm64 JDKs on macOS"
Symptom:

[code]

@viciousAegis This is a bug on our side. We do not build `io.github.david-allison-1:anki-android-backend-testing` for M1 Macs.

I have an M1 Mac arriving sometime late March, so I'll be personally invested in testing

As a workaround:
* Remove `@RunWith(AndroidJUnit4::class)`
* Remove `:RobolectricTest()`
* This will only work because the test does not depend on the Anki Database

[2022-03-16 16:50] Prince-kushwaha commented on #10549
i used window 11 system
i used git git version 2.35.1.windows.2
i have npx version 6.14.6
when  I ran `npx --yes prettier --ignore-unknown --write AnkiDroid/**/*.js` i get below issue
<img width="728" alt="Screenshot 2022-03-16 221829" src="https://user-images.githubusercontent.com/65972015/158643731-d0f74617-3d32-4f25-9c64-1dc9b7a5613e.png">
And when i commit the change i get below issue
<img wid

[2022-03-16 16:55] david-allison commented on #10549
What happens if you run under powershell?

[2022-03-16 17:18] david-allison commented on #10178
Yes, different strings, and add a `comment="` attribute to fix the lint check which occurs.

[2022-03-16 17:27] david-allison commented on #10517
Reopened! To be honest, I expect it'll go stale again, but more than happy for someone to pick it up as side work

In general, my plans are:

* Scoped Storage
* TTS
* Full migration to V16/Rust/Using Anki Desktop code - we get the new 'card info' for free.

[2022-03-16 17:29] david-allison opened #10554 "Extract arrays: `night_theme_labels` and `day_theme_labels`"
----

All commits pass all tests and compile. So, yes, a rebase merge is better.

There is just the situation about the strings that need to be moved from the xml arrays.
I had added on the PR text:

This does not seem something I can do myself, since it's necessary to do language sync (stated [here](https://github.com/ankidroid/Anki-Android/pull/7800#issue-753471802)), and I don't know what imped

[2022-03-16 17:45] Tinkidinki opened #10555 "In Card browser, the "Answer" column for the "Basic (type in the answer)" note type displays the "Question""
**Is your feature request related to a problem? Please describe.**
In the card browser, selecting the answer column seems to display the question rather than the answer. This only occurs for the "Basic (type in the answer)" note type. This is seen both in Ankidroid browser, as well as in Ankiweb.

For example, I have created a deck called "basic_type_in_testing" with 5 notes. Each note has been cr

[2022-03-16 18:03] Tinkidinki commented on #10276
My usual use case for the Card Browser is to just use the search option to find a card.

However, I imagine such truncation might be useful where one sorts the Card Browser by Reviews, Created date, etc. Then one may want to go through the early created cards, etc. and then truncation makes this easy. Ankiweb uses truncation on the browser.

I would like to take up this issue!

[2022-03-16 20:19] david-allison opened #10557 "Translated xml files: link documentation to reduce invalid edits"
* New users don't read the documentation on handling translations
  * Therefore they edit `values-NN` rather than `values`
* We should update the header of the files to:
  * link to the documentation,
  * State that the file is auto-generated
  * State that only the "root" xml should be edited for the primary copy
  * That CrowdIn should be used to update translations

The header can be updated in

[2022-03-16 20:22] puranjayK commented on #10385
@Sustech-yx I have added explanations for AnswerTimerTest (package com.ichi2.anki.reviewer)

[2022-03-16 20:36] mikehardy commented on #10549
You don't need prettier installed, "npx --yes" says "Hey npx, go download prettier from npmjs.com - and --yes I accept the risk of running code from the internet  - and run it". So we don't need prettier installed.

It would be easier if you pasted text instead of images, when the images are just of text.

So you have shown that error a few times. Is the directory actually there? What happens when

[2022-03-16 21:46] mikehardy commented on #10549
Second the thought that mingw is messing things up. Definitely try it in cmd.exe or powershell. If it continues to be a problem perhaps we can try to detect + warn people running unsupported shells, but I am going to guess that is the root cause

[2022-03-17 02:55] Tinkidinki commented on #10557
@david-allison, I would like to take up this issue.

[2022-03-17 03:05] Prince-kushwaha commented on #10549
when i try to run it cmd or powershell i get same issue
Running Ktlint over these files:
AnkiDroid/src/main/java/com/ichi2/anki/stats/ChartBuilder.kt
Completed ./gradlew ktlintFormat run.
ENOENT: no such file or directory, stat 'C:\Users\PRINCE\AndroidStudioProjects\Anki-Android\AnkiDroid\**\*.js'

[2022-03-17 03:05] Prince-kushwaha commented on #10549
FAILURE: Build failed with an exception.

* What went wrong:
Task 'run' is ambiguous in root project 'Anki-Android'. Candidates are: 'runKtlintCheckOverAmazonDebugSourceSet', 'runKtlintCheckOverAmazonReleaseSource
Set', 'runKtlintCheckOverAmazonSourceSet', 'runKtlintCheckOverAndroidTestAmazonDebugSourceSet', 'runKtlintCheckOverAndroidTestAmazonSourceSet', 'runKtli
ntCheckOverAndroidTestDebugSource

[2022-03-17 03:13] david-allison commented on #10557
Sure!

[2022-03-17 03:54] Prince-kushwaha commented on #10549
@mikehardy how i update my pull request  or create pull request for issue without commit the change

[2022-03-17 04:36] Prince-kushwaha commented on #10549
->when i forked this project in different githhub account and clone it on my local system
->then i commit some change it successfull commited

[2022-03-17 05:21] ayushsoni916 commented on #10262
Is this issue fixed, @Arthur-Milchior ? or is it still being worked on by @raddi1972 ?

[2022-03-17 06:02] Prince-kushwaha commented on #10549
@mikehardy @david-allison i figure out how reproduce this issue

-> create an branch which is fully update to upstream/main
->made some kotlin change then run it on the android emulator or any Device
-> after runing on device commit the change then you get below  error
`	Running Ktlint over these files:
				AnkiDroid/src/main/java/com/ichi2/anki/stats/ChartBuilder.kt
				Completed ./gradlew ktlint

[2022-03-17 06:09] ayushsoni916 commented on #10416
@david-allison can I work on this issue.

[2022-03-17 09:05] raddi1972 commented on #10262
@ayushsoni916 The issue is not fixed. I am busy with university work so ig you can work on it. I will unassign myself.

[2022-03-17 09:38] Prince-kushwaha commented on #10549
@ShridharGoel can help me to solve this issue

[2022-03-17 10:31] ayushsoni916 commented on #10262
@Arthur-Milchior could you assign me.

[2022-03-17 12:10] snowtimeglass commented on #10517
Thanks! I hope your plans will go well.

[2022-03-17 12:23] #7794 closed

[2022-03-17 12:23] #10554 closed

[2022-03-17 17:59] david-allison commented on #10416
@ayushsoni916 The task's already assigned, it'd be best to wait a while before requesting it, there's no rush in Open Source.

You'd be best to select a different issue

[2022-03-17 18:11] rajath02 commented on #10545
If no one is assigned currently, I can work on this

[2022-03-17 23:57] Arthur-Milchior commented on #10262
Done

[2022-03-18 00:07] #10518 closed

[2022-03-18 00:09] #10178 closed

[2022-03-18 03:41] Arthur-Milchior opened #10573 "Automate Kotlin Migration"
Kotlin migration has some repetitive part. Creating git commits, changing one line, changing it back, creating a second commit and so on. See https://github.com/ankidroid/Anki-Android/blob/main/docs/kotlin-migration.md for details.

There is two ways - at least - to solve this issue. The best one and the easy one. I'll start with the easy one, which I believe to be a good first issue, but requires

[2022-03-18 09:54] AditiKamath commented on #10545
I would like to work on this

[2022-03-18 10:13] TheScriptan commented on #10489
Heya, I'll take on cleaning up `ImportUtils.kt`

[2022-03-18 10:42] Prince-kushwaha opened #10575 "[Bug] language change not properly in AnkiDroid(Activity) Toolbar"
###### Reproduction Steps

1. change the app language
2. Go to AnkiDroid(Activity) see at Toolbar
3. min word do not change according to langauge
4. close the app and reopen the app   then see at Toolbar min word change according to language

###### Expected Result
Language change

###### Actual Result
language change after reopen the app

###### Debug info

Refer to the [support page](https://ank

[2022-03-18 10:43] Prince-kushwaha commented on #10575
@david-allison can i work on this issue

[2022-03-18 18:49] mikehardy commented on #10575
This is I think a limitation of android for some API levels.
You did not include the debug info for the device you reproduced this on, that's really important

[2022-03-18 19:05] oyeraghib commented on #10476
@BrayanDSO do you have any idea what dialog file is being used by deck options like `steps`, `ease` etc

[2022-03-18 19:17] david-allison commented on #10575
We might as well restart the app on language change.

There's so many potential issues with a lot of overhead, and little benefit from getting it perfect.

[2022-03-18 20:52] mikehardy commented on #10575
Sure, except that's basically impossible to do reliably: https://stackoverflow.com/questions/6609414/how-do-i-programmatically-restart-an-android-app (and ProcessPhoenix doesn't appear to work well on Android 12 real devices etc)

Perhaps just a dialog to the user?

[2022-03-18 21:26] #10480 closed

[2022-03-18 21:28] #10504 closed

[2022-03-18 21:59] #10479 closed

[2022-03-18 22:44] #5685 closed

[2022-03-19 04:02] Prince-kushwaha commented on #10575
@mikehardy i added the debug info in  issue

[2022-03-19 06:15] gugutu opened #10584 "[Bug]Deck options can't be opened"
Thanks to developers.

###### Reproduction Steps

Open deck options

![IMG_20220319_141431.jpg](https://user-images.githubusercontent.com/59798823/159109751-bdf6b4e3-57b2-4fb9-885b-baca9faad436.jpg)
###### Expected Result

Enter the options interface.

###### Actual Result

Application crash，draw a blank

![Screenshot_2022-03-19-14-08-38-307_com.ichi2.anki.jpg](https://user-images.githubuserconten

[2022-03-19 07:44] ayushsoni916 commented on #10262
@Arthur-Milchior could you provide some screenshot of this issue so I can understand it more better.

[2022-03-19 08:47] krmanik commented on #10549
I am getting same error in Powershell and Git Bash.
![image](https://user-images.githubusercontent.com/12841290/159114368-c4aa4428-484a-4134-abd0-da66d3a25a6f.png)

[2022-03-19 09:05] krmanik opened #10585 "index.d.ts file for typescript type information of JS API"
Create an `index.d.ts` file provide typescript type information about JS API implemented in `JavaScriptInterface` and `card.js`, and make a comment in card.js / correct area of Java implementation noting that developers should keep it up to date when they add/change things

[2022-03-19 09:06] Prince-kushwaha commented on #10584
@david-allison i reproduce this issue can i work on this issue

[2022-03-19 09:40] krmanik commented on #10549
Okay, I managed to get it works using WSL

![image](https://user-images.githubusercontent.com/12841290/159115997-983678e6-8faa-4a20-b681-4d8cdba02bce.png)

[2022-03-19 10:33] david-allison commented on #10584
[code]

[2022-03-19 12:02] Arthur-Milchior commented on #10262
I'll try. I'll need a video however, because a screenshot will not show anything relevant

[2022-03-19 15:07] #10584 closed

[2022-03-19 21:35] david-allison commented on #5225
1. `md_dark_theme` no longer exists. It appears that the theme is now performed using inference of the primary color
1. `md_content_textsize` no longer exists. Seems to be :
   * `md_title_textsize`
   * `md_action_button_textsize`
   * `md_message_textsize` - **using this**
   * `md_listitem_textsize`

Then: ![image](https://user-images.githubusercontent.com/62114487/159137488-bc9717bc-f1fe-44cd-

[2022-03-20 04:31] krmanik commented on #10545
Hi, The issue is in the translation. It needs to update/fix the string here [crowdin.com](https://crowdin.com/translate/ankidroid/7290/en-mr?filter=basic&value=0#q=one)

The other fix is to check the string for format error using lint.

![image](https://user-images.githubusercontent.com/12841290/159148246-51da9b71-436e-437b-8c04-f7a9f83944de.png)

[2022-03-20 06:37] ayushsoni916 commented on #10262
@Arthur-Milchior please send the video asap so I can work on this issue more efficiently.

[2022-03-20 07:12] sharmaaadish commented on #10530
please assign this to me

[2022-03-20 07:27] david-allison commented on #10530
There's already a pull request in for this one, best to find an unassigned issue, or one that's been dormant for at least a month.

[2022-03-20 11:03] snowtimeglass opened #10591 "[Bug] The language of the string of "Card info" screen top bar isn't changed by AnkiDroid settings"
Thank you always, developers.
Let me inform you of a minor bug on `Card info` screen.

###### Reproduction Steps

1. `Settings`->`AnkiDroid: General settings`->`Language`
2. Select a language other than the system language on the device.

      (For example, if the system language is `English`, you can select `Deutsch` on AnkiDroid settings.)

3. (Take a brief look and confirm that the selected la

[2022-03-20 13:19] mikehardy commented on #9592
This stack is now totally dominating our crash traces, and it's all chromebook apparently. This may be why chromebooks aren't working right now?

[code]

[2022-03-20 13:35] david-allison commented on #9592
Source (CrashReportDialogHelper):

[code]

Current code: https://github.com/ACRA/acra/blob/3194b7d21a1e7b06670a6d81856f6256fed490b2/acra-dialog/src/main/java/org/acra/dialog/CrashReportDialogHelper.kt#L64-L70

[2022-03-21 08:37] snowtimeglass opened #10592 "[Bug][2.16alpha52] Crash on opening "Deck options""
Thank you always, developers.

###### Reproduction Steps

1. Update AnkiDroid to version 2.16alpha52 (the latest version).
2. Open AnkiDroid.
3. Long tap a deck on `Decks` screen.
4. Tap `Deck options` on the deck's menu.

###### Expected Result

`Deck options` screen is displayed, as in 2.16alpha51 and the earlier versions.

###### Actual Result

AnkiDroid crashes.

###### Debug info
[code]

####

[2022-03-21 10:31] quanta-kt commented on #10545
Oh that is terrible. I have been peeking around the Marathi and Hindi translations and it seems that people who volunteered for those languages have simply copy pasted machine translations. I have submitted a few translations which I noticed to be exceptionally odd.

[2022-03-21 10:54] BrayanDSO commented on #10592
Duplicate of #10584. Already fixed

[2022-03-21 11:04] #10592 closed

[2022-03-21 11:18] snowtimeglass commented on #10592
I'm sorry. Mistakenly, I only checked open issues. @BrayanDSO, thanks for letting me know.

[2022-03-21 14:12] oyeraghib commented on #10549
getting the same error can't commit anything

[2022-03-21 14:36] mikehardy commented on #10549
Yep - that's a valid workaround until we get to the bottom of this. @oyeraghib you specify "I have the same error" but a "metoo" report like that is not that useful without knowing the details of your environment to see what's in common / what is not, what you tried https://stackoverflow.com/help/how-to-ask / https://stackoverflow.com/help/minimal-reproducible-example

[2022-03-21 17:19] Prince-kushwaha commented on #9430
@mikehardy can i work on this issue

[2022-03-21 17:59] oyeraghib commented on #10185
@mikehardy @david-allison I would like to work on this issue.

[2022-03-21 19:44] david-allison commented on #10185
Thanks!

[2022-03-21 20:47] AayushSolanki opened #10595 "[Bug]Enabling and disabling reminder notification for specific deck, will automatically enables and disables reminder for other decks."
###### Reproduction Steps

1. Click on deck options in any deck.
2. Click on Reminders.
3. Enable notifications and set time.

###### Expected Result
There should be a notification at specified time only for the particular deck.

###### Actual Result
A notification is shows for all the decks at the specified time

Issue Reproduction video

https://user-images.githubusercontent.com/75438613/1593608

[2022-03-21 21:09] david-allison commented on #10591
Sorry for the delay - I swear I put in a PR

[2022-03-21 21:55] BrayanDSO commented on #10595
The option text is (emphasis mine):

So the notification is set to **all decks in the deck group of the deck being edited**. In the video case is the `abj` group, which has 9 decks, so all of them will get reminders. Therefore, this is not a bug.

I don't know if there is a issue asking for reminders only for a specific deck, but it should be useful

[2022-03-21 22:46] BrayanDSO opened #10598 "[Bug] Title not translated on multimedia edit activity"
###### Reproduction Steps

1. Add/edit note
2. Tap add image, video or audio

###### Expected Result
Title is on the same language set on Anki

###### Actual Result
Title is on system language

![Screenshot_20220321-194026_AnkiDroid](https://user-images.githubusercontent.com/69634269/159375310-439ddc23-951b-444f-9d2e-262bda514eae.png)

###### Debug info
[code]

###### Research
*Enter an [x] charac

[2022-03-21 22:46] BrayanDSO commented on #10598
Similar to #10591, but on different activity. I'll push the fix

[2022-03-21 23:41] david-allison opened #10601 "[Bug] Emulator tests failing: TimeoutCancellationException"
`kotlinx.coroutines.TimeoutCancellationException: Timed out waiting for 120000 ms`

[code]

StackOverflow implies that the device hasn't booted. It might be a worthwhile experiment (in a branch) to sleep for 5 minutes after `sys.boot_completed` to confirm if this diagnosis is correct.

https://stackoverflow.com/questions/71529420/android-instrumentation-test-fails-to-install-apk

[2022-03-21 23:53] david-allison commented on #10601
First failure on Jan 30

https://github.com/ankidroid/Anki-Android/runs/4997978850?check_suite_focus=true

macos-latest was upgraded on Jan 27 (not linking threads yet): `https://github.com/actions/virtual-environments/issues/4060#issuecomment-1023546603`

[2022-03-22 00:26] #10598 closed

[2022-03-22 00:30] mikehardy commented on #10601
Yeah, there's a few things I want to try - thanks for logging this, it's been really bugging me.
One of the things I want to do is to try one of the emulator cache actions (or add it to my own emulator start up stuff, maybe making an action) that is able to do a two-stage emulator boot in a retry, one stage looks for a cached boot image, and if it doesn't find it, does a complete boot (maybe with

[2022-03-22 07:06] sharmaaadish commented on #7108
can i work on it?

[2022-03-22 08:10] AayushSolanki commented on #10595
@BrayanDSO if i am not wrong the function is to set reminder for specific deck group but it is applying this setting for all decks

[2022-03-22 08:12] Bhawna1203 commented on #10489
@Arthur-Milchior @mikehardy. Sir can i work on AsyncDialogFragment,kt

[2022-03-22 08:17] david-allison commented on #10489
Sure, and no need for the "sir" 😇

[2022-03-22 08:58] BrayanDSO commented on #10595
At least on the vídeo you attached, all the shown decks are on the deck group called `abj`, so the best I can tell is that it's working as intended. On my daily usage of AnkiDroid is the same.

If you notice this happening with decks on *different deck groups*, you may send another video so we can take a look

[2022-03-22 09:46] #10591 closed

[2022-03-22 10:30] dansynek commented on #9430
Check if it is still true. I made the initial report and if I remember
correctly it was fixed in a couple of days.

On Mon, Mar 21, 2022, 7:20 PM Prince kushwaha ***@***.***>
wrote:

[2022-03-22 12:27] snowtimeglass commented on #10591
@david-allison, thank you for the fix! Take your time :-)

[2022-03-22 14:34] #10458 closed

[2022-03-22 15:09] mikehardy commented on #10545
Thank you for helping out with the translations. That *should* fix the crash, but unfortunately there is nothing we can do to fix version 2.15.6 as we are blocked from releasing an update to the app until the huge work for #5304 is done. In the meantime, the next time I release an alpha - assuming you have fixed the translation - the language files will be in sync and you should be able to run nor

[2022-03-22 15:09] #10545 closed

[2022-03-22 16:40] david-allison commented on #10545
We should lint this error

[2022-03-22 16:41] david-allison opened #10604 "Add lint: translation crash"
We should lint this error

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/10545#issuecomment-1075376989_

[2022-03-22 21:46] puranjayK opened #10606 "[Bug] Test failing on running"
`SLF4J: Class path contains multiple SLF4J bindings.`
[code]

### Reproduction Steps
Error Occurs on running AbstractFlashCardViewerCommandTest.kt in package com.ichi2.anki

[2022-03-23 04:40] Jatin887 commented on #10489
I also want to work on it . can you please assign it to me

[2022-03-23 05:31] Jatin887 commented on #10510
can i work on this @Arthur-Milchior ?

[2022-03-23 05:44] Jatin887 commented on #7108
can i work on it?

[2022-03-23 05:54] TheScriptan commented on #10606
This is only a warning, but in my case, I have two bindings.
[code]

I expect `./gradlew clean` can help, but since it is only a warning, it is fine IMNSHO

[2022-03-23 12:11] david-allison commented on #10606
#8482 has potential solutions: there's a missing DLL on your computer

[2022-03-23 12:40] mikehardy commented on #10606
Yep, this is duplicate, going to resolve - the real error is:

and 8492 is tracking

[2022-03-23 12:40] #10606 closed

[2022-03-23 13:30] david-allison commented on #10489
https://github.com/ankidroid/Anki-Android/issues/10489#issuecomment-1065610715

[2022-03-23 18:49] mikehardy commented on #10242
A good question. The PR means it should not be happening to people, however I think the underlying issue is still open.
Appears to be a bug in prettier ktlint, which is a transitive of gradle ktlint plugin, which is our dependency.

Appears 0.45.0 of prettier ktlint fixed it, they are on 0.45.1 as of this typing
Unfortunately the gradle ktlint plugin has not upgraded? Appears to be on 0.42? https:

[2022-03-23 21:14] #10242 closed

[2022-03-24 00:05] codingtosh commented on #10242
@mikehardy Thanks for the detailed explanation and the quick patch.

[2022-03-24 04:34] Prince-kushwaha commented on #10517
@david-allison   can i work on this issue

[2022-03-24 09:56] david-allison commented on #10517
Yep! Thanks!!

[2022-03-24 12:27] #8397 closed

[2022-03-24 15:17] BrayanDSO commented on #10476
#10593 was merged. This issue can be closed now

[2022-03-24 15:19] mikehardy commented on #10476
Hey @tcaERROR-issues for the moment all our public distribution channels are lagging a lot, yes, because we need to finish #5304 before we can start releasing publicly again. Until then you can get the latest 2.16alphas here https://github.com/ankidroid/Anki-Android/releases/ and you'll see this working when I do the next release (will be 2.16alpha54 and should be on Sunday or so)

[2022-03-24 16:13] justdvnsh commented on #10604
@david-allison I'd like to work on this. Can you please assign ?

[2022-03-24 16:15] #9775 closed

[2022-03-24 16:41] david-allison commented on #10604
Done, thanks!

[2022-03-24 16:44] david-allison commented on #10604
The main issue was an invalid format string: https://github.com/ankidroid/Anki-Android/pull/10548/files which caused a crash.

We want to ensure that a string on the left is caught by the `lint-rules` project, and fails the CI. We want this both for plurals and standard strings (this may be a plural only issue).

There is an argument for contributing the code back upstream as it's a general failur

[2022-03-24 20:49] bstephen1 opened #10618 "make "press back again to exit" optional"
**Is your feature request related to a problem? Please describe.**
An update changed the behavior of the back button on the main screen so it now has to be pressed twice to exit the app instead of once.

**Describe the solution you'd like**
Make this an optional toggle in the settings.

[2022-03-24 22:24] mikehardy commented on #10618
Hi there! I believe it is optional and is default to off? https://github.com/ankidroid/Anki-Android/pull/9216 - check advanced settings?

[2022-03-24 23:53] BrayanDSO opened #10619 "[Bug] Theme sometimes do not follow system dark mode on custom or auto schedule"
###### Reproduction Steps

1. Use dark mode on custom or auto schedule
2. Disable/Enable dark mode manually

https://user-images.githubusercontent.com/69634269/160028344-bd1ac80b-c9dd-4a93-a8cc-b993d3fd1d16.mp4

###### Expected Result

Theme follow system correctly

###### Actual Result

Theme do not follow system

###### Debug info
[code]

###### Research
*Enter an [x] character to confirm the po

[2022-03-25 00:01] BrayanDSO commented on #10619
The attached video shows the behavior is kind of hard to reproduce, since even with custom scheduling it still need a manual dark mode trigger to show the bug.

I've assessed the problem and it looks like is a lack of handling of the auto/custom themes, which is not straightforward since two libraries on Android handle them differently (https://developer.android.com/reference/android/app/UiModeMan

[2022-03-25 00:32] mikehardy commented on #10619
Not sure it's an either/or or a "both" type of choice for solution, but if it's either/or then always prefer androidx because that one is library upgradable and the other is tied to platform upgrade cycle (so basically never updates)

[2022-03-25 01:11] bstephen1 commented on #10618
I checked through all the settings but didn't see any option to turn it off. It was introduced in v 2.15.0. I've been running an older version to avoid it but the older version is no longer able to sync to anki web.

I found it listed in the [reddit changelog](https://www.reddit.com/r/Anki/comments/nkct2f/ankidroid_2150_changelog/) as "[General] Add confirmation when back button pressed from Deck

[2022-03-25 01:41] bstephen1 commented on #10618
Oh I see why I don't see that option -- it's in the alpha build for v2.16. I'll try signing up for the alpha testing.

[2022-03-25 01:50] mikehardy commented on #10618
Hey @bstephen1 - I linked the PR, it has a commit reference in it where the merge happened: https://github.com/ankidroid/Anki-Android/commit/897f932b6f673327497246894dd2362d1917d287 that commit ref indicates it was first available in 2.16alpha5

I suggest you try the new releases then - https://github.com/ankidroid/Anki-Android/releases/ - yes they are alphas so there *may* be something wrong with

[2022-03-25 01:52] mikehardy commented on #10618
We're blocked by google currently on releasing through any official google channels because we need to finish our scoped storage migration (#5304 - it's an epic-sized job) so you won't get fresh alphas there and it also explains why we're on something like 2.16alpha56 instead of a steady public series of 2.17, 2.18 etc

[2022-03-25 02:34] Shidouuu opened #10620 "Increase max stroke width"
Cuz why not lol

maybe to like 40 or something

[2022-03-25 03:00] bstephen1 commented on #10618
Ah gotcha -- yup that fixes it. Thanks for the explanation! I'll close this.

[2022-03-25 03:00] #10618 closed

[2022-03-25 05:23] williamdias commented on #10601
Apparently, If I close the following pop-up on the emulator, timeout won't happen.

![Screen Shot 2022-03-25 at 01 59 39](https://user-images.githubusercontent.com/686915/160059306-3a028344-ab61-464c-aba0-1ec8d37fecab.png)

[2022-03-25 05:55] Arthus commented on #5304
Hello there :)

Is there some kind of overview of outstanding issues/To-Dos in regards to the scoped storage migration? I guess the PR with "NF:" all belong into this category? I there only the one PR #10571 left?

[2022-03-25 06:35] s-deepak-kumar commented on #10307
Can You Please Assign This To Me?

[2022-03-25 12:43] Arthus commented on #10575
Exactly. If I remember correctly (it has been a few years ago that I "fixed" the language setting :) ) this is on top activity and it needs to be restarted for the new strings to be used. So restarting the whole app instead of just this activity would be nearly the same amount of work/code.
And as this is a single string that needs a restart once after changing the language I didn't think it was w

[2022-03-25 13:12] mikehardy commented on #10601
@williamdias how did you determine this in the context of the Github CI environment? Are you certain you are using the same emulator image we use in CI? (it's a specific API level and flavor of the emulator) - how come it happens sometimes and not others? Which option did you choose to close it ?

In some of my e2e android setups [I capture video of the emulator](https://github.com/invertase/notif

[2022-03-25 13:13] BrayanDSO opened #10622 "[Feature request] Follow upstream filtered deck name pattern"
**Is your feature request related to a problem? Please describe.**
AnkiDroid filtered deck default name scheme does not follow upstream current behavior.

**Describe the solution you'd like**
Follow upstream

**Describe alternatives you've considered**
Keep the current behavior

**Additional context**
Upstream uses the current timestamp (HH:mm) after "Filtered deck" ([relevant code](https://github

[2022-03-25 13:14] mikehardy commented on #5304
Hey @Arthus - I think there is discussion on Discord of the overall plan, @david-allison has it documented somewhere I think? Might be good to keep it as a wiki page - overall design, general remaining task breakdown

There's quite a bit of work left alas. The "make it possible to move files safely" work is I think mostly done, initial user prompts are done I think, but it then needs to be orchest

[2022-03-25 13:23] mikehardy commented on #10575
This is a nice practical solution, in my opinion, emphasis on "full" effect if we do a dialog, because most stuff does work, but of course a few strings don't (as this issue indicates)

[2022-03-25 13:24] Arthur-Milchior commented on #10510
Oops, sorry, @rskbansal if you still want, go for it. Unless you are still working on something

[2022-03-25 13:24] mikehardy commented on #10622
Huh. Interesting. I wonder if we get this for "free" @david-allison as we ingest more current rust lib in future?

[2022-03-25 13:25] Arthur-Milchior commented on #10501
@Prince-kushwaha are you still working on it?

[2022-03-25 13:27] Arthur-Milchior commented on #9847
@pree-T do you still want to work on it?

[2022-03-25 13:38] BrayanDSO opened #10623 "[Bug] Model browser activity does not follow AnkiDroid language"
###### Reproduction Steps

1. Tap topbar three dots
2. Tap `Manage note types`

###### Expected Result

Top bar is on AnkiDroid language

###### Actual Result

Top bar is on system language

![Screenshot_20220325-102755_AnkiDroid](https://user-images.githubusercontent.com/69634269/160131343-a59c0f0c-061e-4bce-a4ad-0a0005f2f21e.png)

###### Debug info
[code]

###### Research
*Enter an [x] character

[2022-03-25 13:40] mikehardy commented on #10623
These are actually data stored in the collection, and they are translated, but they are created on first app open and that's that, there is no way to translate them afterward

[2022-03-25 13:41] BrayanDSO commented on #10623
@mikehardy See `Gerenciar tipo de notas` at the top bar, not on the notetype names

[2022-03-25 13:46] BrayanDSO commented on #10623
![Screenshot_20220325-102755_AnkiDroid](https://user-images.githubusercontent.com/69634269/160132634-5a92d413-23ea-4dc3-b60d-81ad00a917a7.png)

[2022-03-25 14:17] mikehardy commented on #10623
Oh! Oops, I see what you mean.

[2022-03-25 14:20] williamdias commented on #10601
Hey @mikehardy! I was testing my android shared lib locally, trying to create a script to automate tests on a CI environment. I don't know which API level and flavor you are using, but the problem seems to be somewhat related.

Basically, my script does the following:

[code]

After the emulator is initialized, that pop-up will appear. If I do nothing and just wait for my tests to run, I get the s

[2022-03-25 14:34] mikehardy commented on #10601
@williamdias you can consult the .github/workflow yml files to see the exact spec of everything, it's available for inspection
Similarly, I linked exactly how to close the pop up programmatically via an adb tap event as a possibility, or you can send an intent (possibly via adb also, stackoverflow can direct how to send an Intent to the system via adb, might use the monkey command I forget)

An in

[2022-03-25 14:40] williamdias commented on #10601
Thanks @mikehardy. On my local machine it's a constant behavior. My tests only work if I close the pop-up.

[2022-03-25 14:59] pree-T commented on #9847
Yes certainly if someone can help me to resolve it.

[2022-03-25 16:14] david-allison opened #10626 "Improve instructions for M1 Mac Unit Testing"
We probably want to follow up with instructions for M1 macs if `.init()` fails, but I'll leave that as lower priority than getting myself unblocked.

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/10625#issuecomment-1079182281_

[2022-03-25 16:17] david-allison commented on #10403
Backend issue: https://github.com/ankidroid/Anki-Android-Backend/issues/164

[2022-03-25 16:18] david-allison commented on #10626
Reference:

https://github.com/ankidroid/Anki-Android/pull/10625/files#diff-e78b257118f0dec12fedc006951194c5a7b3dde32b443c52c31542aa1a6976d6R108

Add a try...catch for the error listed in https://github.com/ankidroid/Anki-Android-Backend/issues/164

And give them instructions for how to solve this. See: https://github.com/ankidroid/Anki-Android/pull/10625

[2022-03-25 16:21] s-deepak-kumar commented on #9847
Can You Please Assign It To Me?

[2022-03-25 16:58] #10623 closed

[2022-03-25 17:27] david-allison commented on #10626
Sounds good!

[2022-03-25 19:23] mikehardy commented on #7805
This one has a PR open and is just waiting on ACRA 5.9.x to be published, after my PR there to open up the custom dialog implementation was just merged

[2022-03-26 07:41] david-allison commented on #9935
Hi @souravmunjal, are you still working on this issue? (Totally fine if you're not - looking to get a few more "good first issues" for GSoC)

[2022-03-26 10:05] sudheerreddy1430 commented on #9935
Yeah!! Iam working on it

On Sat, 26 Mar, 2022, 1:11 pm David Allison, ***@***.***>
wrote:

[2022-03-26 10:19] souravmunjal commented on #9935
Hey David,
I am not working on it anymore.

On Sat, 26 Mar 2022 at 3:35 PM, sudheerreddy1430 ***@***.***>
wrote:

--
Thanks and Regards,
Sourav Munjal

[2022-03-26 11:48] justdvnsh commented on #10604
I have created a PR for this issue @david-allison
Can you please review it once.
Thank you for pointing out this issue to me.

[2022-03-26 13:17] david-allison commented on #9847
What do you need help with? You need to actively ask if you're stuck with something.

[2022-03-26 14:03] david-allison commented on #10622
Unsure - this one's worth keeping open. I don't believe we get it in 2.1.35

[2022-03-26 15:26] #10403 closed

[2022-03-26 15:51] justdvnsh commented on #10573
Hi @Arthur-Milchior I am a new contributor to Anki. Though I am an experienced developer, I am still pretty new to this repo.
From what I can understand,

For the first point ->

1. Can We get access to the currently selected file ?
    Ans. Yes. We can. Further details can be found at [https://intellij-support.jetbrains.com/hc/en-us/community/posts/360010738880-How-to-get-the-selected-folder-or-f

[2022-03-26 16:00] justdvnsh commented on #10585
hi @krmanik I'd like to work on this. Can you please further elaborate on this ?

[2022-03-26 17:18] krmanik commented on #10585
HI @justdvnsh,
It needs to create a `index.d.ts` file for the JS interface and functions implemented here.
https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/java/com/ichi2/anki/AnkiDroidJsAPI.kt
https://github.com/ankidroid/Anki-Android/blob/main/AnkiDroid/src/main/assets/scripts/card.js

The file mainly contains function name and parameters type but not body of the function.

[2022-03-26 19:14] Arthur-Milchior commented on #10573
Welcome @justdvnsh.
Did you read our wiki pages I listed?
Because point 3 does not satisfy our need. Quite the contrary, we want each PR to convert a single file. Admittedly, sometime, converting a file will lead to change other files. For example a static method will become an object companion's method, and are not accessed the same way from Java if I recall correctly. But those are minimal chang

[2022-03-26 19:27] justdvnsh commented on #10573
@Arthur-Milchior Yes I did read the wiki pages you listed. For the point 3, I know that, that plugin is not satisfactory for our need. I just mentioned it for reference,  that we can actually call IntelliJ's actions using a plugin. For our use case, we'll most probably need our very own plugin.

yeah, sure I'll ping you on Discord for further discussions.

Actually, I wasn't here for GSoC. I have

[2022-03-26 19:30] Arthur-Milchior commented on #10573
Wonderful, thanks for the clarification.
I feel the urge to clarify that AnkiDroid is participating to GSoC. Sadly, Anki declined our offer to participate. Paradoxically, there are less contributors to upstream than to AnkiDroid as far as I know.

I'm looking forward seeing your PR, or you clarification if any is needed, as you'll solve a developer's real painpoint if you succeed!

[2022-03-26 19:35] Arthur-Milchior commented on #5304
Actually, "NF:" means "non-functional", so we usually start commit that makes no change visible to the user with it. Usually cleaning. Sometime speed improvements. The reason is that it's easier to review NF since we only need to check that the code quality is improved, and we don't need to discuss whether the PR improve the user experience.

On discord, this is discussed under #scoped-storage. I

[2022-03-26 22:04] Arthur-Milchior commented on #10307
I beg your pardon @s-deepak-kumar, no offense meant, but do you have any idea how to start investigating it?
If you can work on it, that's wonderful and I'll be delighted to assign it to you.
Right now, none of the maintainers have the slightest idea what occurred, and not even how to reproduce it.
So if you already know what to do, then wonderful, go for it. No need to assign the issue, nobody el

[2022-03-27 03:06] snowtimeglass opened #10632 "[Bug] After creating a subdeck, its parent deck's menu is displayed again"
Thank you always, developers.

###### Reproduction Steps

1. Long tap a deck in `Decks` screen
(then, the selected deck's menu is displayed.)
3. `Create subdeck`
4. Input a sting (e.g. "sub") -> `OK`

###### Expected Result
`Decks` screen is displayed, as follows (on 2.15alpha18 parallel B).
![image](https://user-images.githubusercontent.com/10436072/160263812-ac5acae6-d53b-4981-8735-2ee16182aa73.

[2022-03-27 04:50] snowtimeglass opened #10634 "[Bug] Ripple effect is accompanied by another ripple on Decks screen　"
Thanks to developers.

###### Reproduction Steps

1. Create a subdeck if there aren't any subdecks in `Decks` screen
2. Long tap (or just tap) a deck which doesn't have any subdecks
 (e.g. `Deck 1`, `Deck 3`, `Deck 4`, and `sub` in the following image)

###### Expected Result
A ripple is shown, as follows (on `2.15alpha17 parallel B`).
![image](https://user-images.githubusercontent.com/10436072/16

[2022-03-27 06:17] Prince-kushwaha commented on #10501
no

[2022-03-27 06:18] Prince-kushwaha commented on #10632
can i work on this issue

[2022-03-27 08:02] snowtimeglass opened #10636 "[Bug] After deleting the last subdeck, the deck under the last-deleted subdeck is shown as if it were a subdeck"
Thanks to developers.

###### Reproduction Steps

1. Delete the last subdeck* on `Decks` list

   *This "the last subdeck" means something like this: "After the subdeck is deleted, there aren't any subdecks on `Decks` list. In other words, after the subdeck is deleted, there aren't any `∨` (or `>`) buttons for subdecks on `Decks` list."

    ![image](https://user-images.githubusercontent.com/10436

[2022-03-27 10:06] snowtimeglass opened #10637 "[Bug] In `Card info`, the date of `Due` is shown on a different format from the one of the others"
Thanks to developers.

###### Reproduction Steps

1. `Settings` -> `AnkiDroid - General settings` ->  `Language` -> `English`
2. Show `Card info` of a card

###### Expected Result
The dates of `Added`, `First Review`, `Latest Review` and `Due` are shown on a common format.

###### Actual Result
The date of `Due` is shown on a different format from the one of the others.
![image](https://user-image

[2022-03-27 12:33] Prince-kushwaha commented on #10637
can i work on this

[2022-03-27 12:55] snowtimeglass opened #10638 "[Bug] Press-back count isn't reset when returning to `Decks` screen"
Thanks to developers.

###### Reproduction Steps

1. `Settings` -> `Advanced` > Check `Press back twice to go back/exit`
  ![image](https://user-images.githubusercontent.com/10436072/160280330-e27c6696-3376-4685-bab4-1ce095a54729.png)

2. Return to `Decks` screen
3. Press (Tap) `Back` button
   (Then, `Press back again to exit` toast is shown)
   ![image](https://user-images.githubusercontent.com/

[2022-03-27 14:23] mikehardy commented on #10637
@Prince-kushwaha yes please! @snowtimeglass I think just updated to the new alphas (or just started really using them) and is doing a great service by checking some of the work that has built up in the alphas but not been released. Would be great to fix these issues prior to the beta cycle, and I see you've already put a PR in for one! 🏆

[2022-03-27 17:58] Arthur-Milchior commented on #10262
https://user-images.githubusercontent.com/357361/160294311-4b93b70c-cf98-4618-80ce-cb4b2c3f377f.mp4

[2022-03-27 19:57] PanderMusubi opened #10641 "Import multiple files"
**Is your feature request related to a problem? Please describe.**
When importing multiple files, I have to import them one by one. This means also resorting the file browser even though I use the same directory and for several files, this takes unneeded a lot of time extra..

**Describe the solution you'd like**
When selecting a file to import, allow selecting multiple files.

**Describe alternat

[2022-03-27 20:22] david-allison commented on #10641
In the meantime, you should be able to open the files using your file explorer, rather than the AnkiDroid import dialog - this should be slightly faster

[2022-03-28 00:38] david-allison opened #10643 "Onboarding: download from AnkiWeb if the user already has an account"
This is something that I'm 100% on and would like to push heavily in our onboarding, even if it's this one feature for now. This saves a lot of hassle

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/pull/9130#issuecomment-1080055271_

[2022-03-28 06:24] A-Deekshith commented on #10636
Can I work on this?

[2022-03-28 09:23] parthn2 commented on #10626
HIi! Can you please tell how to give the instructions. Is it like writing instructions in documentation and then redircting them to it from the terminal?

[2022-03-28 11:20] david-allison commented on #10636
Sounds great to me!

[2022-03-28 11:21] david-allison commented on #10626
Throw an exception with appropriate information.

The tests for M1s only pass if the provided environment variables are set. Once the variables are set, all tests pass.

[2022-03-28 12:29] Trungnguye opened #10644 "[Bug] Resources$NotFoundException: String resource ID #0x7f100328"
###### Reproduction Steps

1.
2.
3.

###### Expected Result

###### Actual Result

###### Debug info
AnkiDroid Version = 2.15.6

Android Version = 12

Manufacturer = Xiaomi

Model = M2012K10C

Hardware = mt6893

Webview User Agent = Mozilla/5.0 (Linux; Android 12; M2012K10C Build/SP1A.210812.016; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/99.0.4844.73 Mobile Safari/537.36

ACRA

[2022-03-28 12:38] david-allison commented on #10644
[code]

[2022-03-28 12:43] mikehardy commented on #10644
Xioami bug. Can workaround?
https://github.com/K1rakishou/Kuroba-Experimental/issues/742
https://github.com/K1rakishou/Kuroba-Experimental/commit/bcaf2d5f55e7f3bf5f3ffc7e0148a2060c69e6c3

[2022-03-28 13:04] snowtimeglass commented on #10637
@mikehardy, thanks, I really appreciate your hard and great work. I don't mean to rush you about the issues I have reported, of course. Anyway, it will be wonderful if I can be of any help by putting PRs in future. I will positively consider challenging it again :-)

[2022-03-28 17:25] AayushSolanki commented on #5225
do i need to add any dependency before using `MaterialDialogAdapter`

[2022-03-28 20:00] david-allison commented on #5225
The idea would be to change the current dependencies to `MaterialDialogAdapter.create`, then perform a single switch to the new dependency there after everything has been converted.

This makes the actual change much smaller, allows it to be broken up, and makes it easier to verify.

[2022-03-28 23:27] mikehardy commented on #7959
Doh! Although I think this will actually be closed as @krmanik is picking this apart in to digestible PRs since each has it's own subtle issues. TGZ -> unpacked add is in, and I've looked through package.json -> JSAddOn model... gonna take quite a few I think, it's a huge feature

[2022-03-29 00:51] david-allison commented on #10644
@Trungnguye Would you be available to test this if we produced an alpha release with a possible fix?

We think we've solved it, but we don't have any testers with an appropriate device

[2022-03-29 01:21] krmanik commented on #7959
Now 2-3 PR left
1. Listing addons from local dir
2. Listing addons from GitHub repository for download
3. Adding enabled addons content in CardTemplate

1&2 can be merge but the PR.

[2022-03-29 04:51] jals413 commented on #10530
I am really sorry , I wont be able to work on this issue for as I am busy with my personal as well as college work so please unassign me and assign someone else to go on further

[2022-03-29 13:26] mikehardy commented on #10644
Simply not seeing regression is good enough to merge, then yes hopefully @Trungnguye can test the next alpha, at least as a parallel build

[2022-03-29 19:59] #10501 closed

[2022-03-29 19:59] #8454 closed

[2022-03-29 22:08] david-allison opened #10651 "Test failures on macOS"
I got these errors when I did a clean checkout then `gh pr checkout 10650` followed by `./gradlew jacocoTestReport --rerun-tasks` on my macOS machine, they look totally unrelated. Need to investigate them separately, they clearly work in CI and they must work on your M1 machine David, 🤷

I don't have any build reasons to stop this

[code]

_Originally posted by @mikehardy in https://github.com/ank

[2022-03-30 08:31] nzarbayezid opened #10655 "[Bug] slow media downloads android"
###### Reproduction Steps

1. On desktop creating some deck
2. sync it to ankiweb
3. attempt to sync on Ankidroid

###### Expected Result
downloads all media files in a couple of minutes cuz I have a 1000mbps internet speed

###### Actual Result
Downloading only up to 30kb

###### Debug info
AnkiDroid Version = 2.15.6

Android Version = 12

Manufacturer = Xiaomi

Model = M2102J20SG

Hardware = qco

[2022-03-30 12:42] Prince-kushwaha opened #10657 "[Bug] Build failed"
###### Reproduction Steps

1. i update my main branch with upstream main branch
2. Run the module on android Device Redmi y then after some time Build Failed

<img width="490" alt="Screenshot 2022-03-30 180806" src="https://user-images.githubusercontent.com/65972015/160836112-60a69731-2b83-4b33-bb74-1aa83c24c16d.png">

<img width="878" alt="Screenshot 2022-03-30 181058" src="https://user-images.gi

[2022-03-30 12:49] Prince-kushwaha commented on #10657
i found this issue afer merge of this PR Enable ##10650

[2022-03-30 12:56] mikehardy opened #10658 "Expand CI unit test matrix to include windows and macOS"
Argues for doing a unit test run on windows and macOS as a matrix really to make sure our dev environments run out of the box, we've started taking some entropy there and used to test them on travis. I'll add an issue

_Originally posted by @mikehardy in https://github.com/ankidroid/Anki-Android/pull/10652#pullrequestreview-926071599_

[2022-03-30 12:57] david-allison commented on #10657
What fixed it for me:

* Close Android Studio
* Delete the folder: `AnkiDroid/build`
* run `gradlew assembleAmazonDebug`

[2022-03-30 13:07] Prince-kushwaha commented on #10657
<img width="928" alt="Screenshot 2022-03-30 183657" src="https://user-images.githubusercontent.com/65972015/160841488-39ce0b6d-5f6e-437e-81a1-997dbcfd5435.png">

[2022-03-30 13:38] david-allison commented on #10655
Fixable with manual work if you don't mind copying a folder, we're getting this fix into 2.16:

https://github.com/ankidroid/Anki-Android/issues/8925#issuecomment-976337268

Closing as duplicate of #8925, thanks for the report!

[2022-03-30 13:38] #10655 closed

[2022-03-30 14:36] yashsharma81 commented on #10449
@david-allison done please check https://github.com/ankidroid/Anki-Android/pull/10660

[2022-03-30 15:32] #10651 closed

[2022-03-30 17:50] david-allison opened #10661 "[Bug] Crash: Can't create filtered deck"
###### Reproduction Steps

1. Create Filtered Deck
2. Press OK
3.

###### Expected Result

No Crash

###### Actual Result

Crash

###### Debug info
AnkiDroid Version = 2.16alpha53

Android Version = 11

Manufacturer = Google

Model = Pixel 3a

Hardware = sargo

Webview User Agent = Mozilla/5.0 (Linux; Android 11; Pixel 3a Build/RQ3A.211001.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.

[2022-03-30 18:53] BrayanDSO commented on #10661
I can't reproduce. I have no problems on my daily usage of 2.1.6alpha53 on my personal collection (and I use filtered decks quite frequently)

[2022-03-30 19:13] david-allison commented on #10661
Not that I'd expect, I feel this crashes unconditionally, maybe we're on a different commit. I'm building from main.

I've got this fixed locally, along with a comment to add a test for this.

We're passing a null into a callback with a non-null "key" parameter definition.

I'm off my PC, will get this resolved when I'm back

[2022-03-30 19:17] BrayanDSO commented on #10661
Ohhh. In 0721bd5 (2.1.6alpha53 release) it works fine

[2022-03-31 03:41] krmanik commented on #10657
Deleting `.gradle` directory solved the issues.

The path of the `.gradle` folder in widows is
[code]

[2022-03-31 03:56] shubham419 commented on #10634
Hi I will be more than happy to solve these issue.
It will be my first contribution and I really want to contribute.
I have created app which makes process of talking attendance easy.
guide me, help me to grow.

[2022-03-31 04:42] krmanik opened #10663 "Delete deck after download and import successfully"
**Is your feature request related to a problem? Please describe.**
The deck remains in `Download` folder after download and import using `Get Shared Deck`. So it needs to clear the downloaded deck file to free up some space.

**Describe the solution you'd like**
Clear the successfully downloaded and imported deck from Download folder

**Describe alternatives you've considered**
Although the folder

[2022-03-31 09:09] lukstbit commented on #10634
Setting the listener for `deckExpander` to null in `DeckAdapter.onBindViewHolder()` seems to solve this issue:

[code]

[2022-03-31 11:43] Yorwba opened #10665 "[Bug] Type answer diff doesn't highlight incorrect combining marks"
###### Reproduction Steps

1. Create a note expecting the text အချိန် to be typed.
2. During review, type the answer အခ်ျန် instead.

###### Expected Result
The difference is highlighted:
(Anki Desktop)
<img alt="Anki_Desktop_အချိန်_အခ်ျန်" src="https://user-images.githubusercontent.com/6555947/161043659-6b63f454-b96a-4319-a6ab-65a61c4a019a.png" width="240">

###### Actual Result
(AnkiDroid)
<img

[2022-03-31 16:10] mikehardy commented on #7913
Just a note that a blind user asked on the mailing list how to get Talkback working with AnkIDroid and all I could do was point here, where there has not been much progress. I have not personally had time and no one else has either, *but* I wanted to at least mention that there is interest in this.

[2022-03-31 19:41] mikehardy commented on #10657
I don't think there is anything we can do about this one. I'm going to close this as it is useful for reference only unfortunately, not actionable

And today I learned that moving XML files around *really* confuses gradle for some reason, who knew?

[2022-03-31 19:41] #10657 closed

[2022-03-31 19:43] #10661 closed

[2022-03-31 20:20] sam-jaques opened #10670 "Subdeck limits ignored"
Version ⁨2.1.49 (dc80804a)⁩ (Ubuntu 18.04.6)
Version 2.0.83 (20083.1) (iOS 15.3)

I have nested subdecks: Deck 1 contains Deck 2 contains Deck 3. Both Deck 2 and Deck 3 belong to the same options group, with a review limit of 0 cards. Deck 1 belongs to a different options group, with a limit of 1000 cards.

Clicking deck 2 or deck 3 shows no reviews. Clicking deck 1 shows several hundred reviews f

[2022-03-31 20:34] mikehardy commented on #10670
Hi there! No where in there do I see AnkiDroid? Is this reproducible on AnkiDroid?
For Desktop and iOS support you'll want https://forums.ankiweb.net

[2022-03-31 20:46] #10644 closed

[2022-04-01 00:20] nzarbayezid commented on #10655
thanks for the fast response.
 but, the next update or what?

[2022-04-01 00:22] mikehardy commented on #10655
We are literally blocked by Google from releasing an update until it is fixed, so yes, it will be in the next official update.
It'll be in our alpha versions here https://github.com/ankidroid/Anki-Android/releases/ you can subscribe to notifications on #5304 to be notified when we've completed the work that will close the issue, then the next alpha will have it, followed by an official release som

[2022-04-01 00:28] nzarbayezid commented on #10655
thanks, I already did download the new alpha but it wasn't fixed that's why I asked, thanks for your explanation I'm gonna wait till it will be fixed

[2022-04-01 00:31] mikehardy commented on #10644
The new alpha is out if you have a chance to test it @Trungnguye ? https://github.com/ankidroid/Anki-Android/releases/

[2022-04-01 01:54] Arthur-Milchior opened #10672 "Warn that emulator tests are flaky"
Some new contributors see emulator tests failing and don't get why. We have no automated way to let them know this test is flaky.

So I'd suggest that if the emulator tests fail, a message should appear stating something such as:

Ideally, it would be nice to have a simple way to activate/deactivate it, a parameter somewhere. This way, if one day we get to ensure the tests are not flaky (or at lea

[2022-04-01 02:52] mikehardy commented on #10672
Just add it to the first PR message I think?
https://github.com/ankidroid/Anki-Android/blob/fe52973eb1c9aac6b9cabda78e67b642947c5670/.github/config.yml#L13

[2022-04-01 02:53] mikehardy commented on #10672
Also #10601 is the tracking issue for the actual problem

[2022-04-01 08:06] krmanik commented on #10292
I think this issues should be closed because there are already AnkiDroid API.

[2022-04-01 08:17] shubham419 commented on #10634
I am really very happy that someone read my comment. Thank you so much.
Can you explain more, like in which activity or fragment I have to make change please.

[2022-04-01 09:19] #10670 closed

[2022-04-01 12:24] BrayanDSO opened #10674 "[Feature request] Add new deck option on move cards dialog"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to move cards to a new deck. In Anki desktop I only need to select them, press the move cards option and then the add deck button.
On AnkiDroid I don't have a `add` option, so I need to previously create a deck on the main screen then move the cards. This adds additional friction to the job and is a lacking upstrea

[2022-04-01 15:05] sudomain commented on #9138
Update: V11 of the deck in question was added a few weeks ago. According to https://www.ankipalace.com/deck-updates-log , V10 of the deck did this:
`Removed an emoji in image file names that was causing problems`

I haven't been able to test the newest version of the deck: Google Drive limits the number of downloads per day and the medschool people have used that up lol.

[2022-04-01 15:52] mikehardy commented on #10410
Classic errors on both (same error) when PR closed:

That's because PRs on forks can't run in the full context of the main repository or it could leak information from main repo action context (secrets etc) to untrusted code (from a fork etc).

It was running in the fork/branch context though, so perhaps now that it is on main the next merge will work successfully? Going to reopen the issue until

[2022-04-01 16:03] krmanik commented on #10410
I will check it on my AnkiDroid fork. Then creates again PR.

[2022-04-01 16:21] krmanik commented on #10410
I have tested it, it seems to works but I will wait on next PR merge to see if works or not.

I have tested on this
https://github.com/krmanik/Anki-Android/pull/19

[2022-04-01 17:14] mikehardy commented on #10410
It works in your repo on PRs from your repo because they are not isolated from getting valid tokens and running actions.
It's the fork case that causes this - it really is a classic for github actions

I think it needs to be `pull_request_target` not `pull_request`
https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target
Like this https://github.com/inte

[2022-04-01 17:43] krmanik commented on #10410
I have created PR considering this.  It should work now.

[2022-04-01 17:53] mikehardy commented on #10410
Leaving open until #10676 results - which seem good! but aren't reflected on the PR for me - are confirmed good.

[2022-04-01 18:45] krmanik commented on #10410
Can it be the solution?
https://github.community/t/github-actions-bot-labeling-triggers-not-the-issue-labeled-event/16995/2

[2022-04-01 18:56] mikehardy commented on #10410
No - that one is in the area, but is more about the act of labeling itself then causing a fresh round of workflow triggers to fire (and run dependent workflows)

We don't care about a second round of actions firing off, we just want the actual label and milestone that *appear* (to the github action to be successfully added) to actually be added

[2022-04-01 19:09] krmanik commented on #10410
I will try again later after getting more info on it.

[2022-04-01 22:49] david-allison commented on #10674
👍

[2022-04-02 01:32] Arthur-Milchior commented on #10672
I am sorry but I clearly disagree with your suggestion.
Let's assume there is a new developer. They submit a PR. Since they are new, tests don't run. We ask to wait, and that some tests are flaky. They then go do other things.
Hours or days later, test run and a test fail. A part of them will have forgotten about the flakyness warning, that was not important at the time, and they may not re-read a

[2022-04-02 04:12] BishyanKar commented on #10674
@david-allison Can I work on it?

[2022-04-02 04:56] david-allison commented on #10674
Let's give @BrayanDSO 36 hours to see if they'd like to claim it, if not, it's yours

[2022-04-02 06:26] UvrajSB commented on #10638
I want to work on this, can you please assign it to me!
Thank You

[2022-04-02 11:00] BrayanDSO commented on #10674
@BishyanKar, since I wanted this ASAP to my Anki daily studies I've already started to work on it.
But thanks for the desire to take this up 😄

[2022-04-02 13:52] david-allison opened #10681 "Move Cards: Fix alignment of the list of decks"
Let's add a follow-up issue: I don't like the alignment of the items being to the left of the dialog - the margins seem off

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/10680#issuecomment-1086645836_

[2022-04-02 13:59] mikehardy commented on #10672
Okay - then a sketch of implementation might look like:
- add status variables to each of the steps that flake, or if there is already a way to access status of step failure already, then not necessary
- add a step that examines status of workflow steps that can flake, and if any are failed then:
- use a tightly-scoped access token that allows adding comments to PRs and add a comment

The access t

[2022-04-02 14:01] BrayanDSO commented on #10681
100% agreed. This is currently a AlertDialog.

IMO the ideal solution is to reuse the search deck dialog so we can use the search deck button, but keep filtering the valid decks to move cards (i.e. non dynamic decks)

I only noticed it now, but the search deck dialog even has a new deck button, which makes it even better.

[2022-04-02 14:02] david-allison commented on #10672
Voting for adding it to the PR text, the effort for a better workflow is much better spent on #10601

[2022-04-02 14:04] david-allison commented on #10681
Sounds good! If you'd like to do it in the linked PR then I'd more more than happy.

Do note that I wrote `SearchDeckDialog` quickly for a sub-sub screen and didn't intend for it to see mainstream use. Very happy to see architectural fixes if they're needed

[2022-04-02 15:14] winstoncooke opened #10682 "View cards in deck from Decks popup screen"
**Is your feature request related to a problem? Please describe.**
I've found when I'm making a lot of cards for decks at once, I often want to go back and modify a card I've just created. Intuitively, I long press on the deck name and expect to see a "View cards in deck" option in the popup screen that would take me to the Card browser for that deck. Instead, I have to back out of the popup, open

[2022-04-02 15:30] david-allison commented on #10682
Thanks for the report!!

Duplicate of https://github.com/ankidroid/Anki-Android/issues/8187. Already implemented in 2.16.

[2022-04-02 15:30] #10682 closed

[2022-04-02 15:32] winstoncooke commented on #10674
This is a really handy feature! It's something I'll use frequently.
I agree about reusing the search deck dialogue as mentioned in #10681. It's what I would expect and feels more consistent.

[2022-04-02 15:36] #10436 closed

[2022-04-02 16:52] winstonrc opened #10683 "[Bug] Edit note & Replay audio buttons inconsistently appear based on initial screen rotation"
###### Reproduction Steps

1. Click on a deck to study the cards while the device is portrait
2. Note the `Edit note` and `Replay audio` buttons are not in the top right
3. Rotate the device horizontally and note that the `Edit note` and `Replay audio` buttons are still not there
4. Back out to Decks screen
5. Click on a deck to study the cards while the device is horizontal
6. Note the `Edit note

[2022-04-02 18:34] BrayanDSO opened #10684 "[Bug] Card browser loads filtered/custom study decks only if previously selected"
###### Reproduction Steps

1. Have a filtered/custom study deck
2. Go to card browser
3. Tap the Deck spinner

https://user-images.githubusercontent.com/69634269/161396487-d3ffd3a9-0a8d-4336-98b8-eaf7967d1a35.mp4

###### Expected Result

Filtered decks and (maybe) custom decks dialog to appear on the deck selection dialog (anki desktop behavior)

![2022_04_02-15_30_43](https://user-images.githubus

[2022-04-02 22:38] mikehardy commented on #10683
Hey there! Definitely check the current alpha to see if it still happens: https://github.com/ankidroid/Anki-Android/releases but if it does, nice find!

[2022-04-02 23:12] winstoncooke commented on #10683
I'll take a look tomorrow and then dive in if it's still an issue. I assume it has to do with how the process for calling status bar items if they fit might only be invoked when initially clicking onto the deck. May have to be changed so that it is called based on device rotation. But would love to hear your thoughts. It's definitely a minor inconsistency.

[2022-04-02 23:13] winstoncooke commented on #10683
I'll take a look tomorrow and then dive in if it's still an issue. I assume it has to do with how the process for calling status bar items if they fit might only be invoked when initially clicking onto the deck. May have to be changed so that it is called based on device rotation. But would love to hear your thoughts. It's definitely a minor inconsistency.

[2022-04-02 23:13] winstoncooke commented on #10683
I'll take a look tomorrow and then dive in if it's still an issue. I assume it has to do with how the process for calling status bar items if they fit might only be invoked when initially clicking onto the deck. May have to be changed so that it is called based on device rotation. But would love to hear your thoughts. It's definitely a minor inconsistency.

[2022-04-02 23:33] #10530 closed

[2022-04-03 04:56] BishyanKar commented on #10674
No issues. It's a great feature indeed.

[2022-04-03 11:57] snowtimeglass opened #10687 "[Bug] [2.16alpha54] Crash on opening `Deck options`"
Thank you always, developers.

###### Reproduction Steps

1. Update AnkiDroid to version 2.16alpha54 (the latest version)
2. Open AnkiDroid.
3. Long tap a deck on `Decks` screen.

4. Tap `Deck options` on the deck's popup menu.
![image](https://user-images.githubusercontent.com/10436072/161418898-5c9fbb85-e2a5-459b-8212-9c9d2f001e1d.png)

###### Expected Result
`Deck options` screen is shown, as i

[2022-04-03 12:05] snowtimeglass opened #10688 "[Bug] On error-report-popup window, the default text in the input form is cut off in the middle"
Thanks to developers.

###### Reproduction Steps

1. `Settings` -> `AnkiDroid - General settings`
-> `Error reporting mode` -> `Always report`

2. Give occasion to a crush
     For example, try to open `Deck options` screen on the latest version, 2.16alpha54 (#10687)

3. (Then, the `An error report is being prepared for the developers…` toast and the popup window titled `AnkiDroid Feedback` to sen

[2022-04-03 12:39] Prince-kushwaha commented on #10687
@snowtimeglass i try to fix this issue

[2022-04-03 12:49] BrayanDSO commented on #10687
I've got the same while testing other things
[code]

[2022-04-03 12:54] snowtimeglass commented on #10687
@Prince-kushwaha @BrayanDSO thank you always. I hope you will go well.

[2022-04-03 12:55] UvrajSB commented on #9977
@david-allison I want to work on this, can you please assign it to me?

[2022-04-03 12:59] UvrajSB commented on #9977
@david-allison what are we supposed to display in this dialog box. The changes I can infer are
1) Converting Up -> Uploaded and Down -> Downloaded
2) Changing the unit from KB -> MB -> GB when required
Can you please tell if I got it right or not

[2022-04-03 13:31] BrayanDSO opened #10691 "[Bug] Flag display on reviewer minibar is inconsistent when changing flags"
###### Reproduction Steps

1. Have `Flag` app bar option to `Always`
2. Open a flagged card
3. Reflag it

https://user-images.githubusercontent.com/69634269/161430479-57b09dd5-dad4-46b5-a4a7-531e488d108a.mp4

###### Expected Result

Flag on minibar should not appear if app bar already has the `Flag` option. Neither the flag should vanish when changing if the former was the intended behavior

#####

[2022-04-03 14:44] david-allison commented on #10691
The flag was intended to not appear in the mini-bar if it appears in the app bar.

[2022-04-03 15:05] winstoncooke commented on #10683
Can confirm the issue still exists on [AnkiDroid 2.16alpha54](https://github.com/ankidroid/Anki-Android/releases/tag/v2.16alpha54).
I'll take a look into it, and see if I can figure out an elegant solution.

[2022-04-03 15:07] BrayanDSO commented on #10691
Is it intended to do this as well on full screen mode enabled (i.e. app bar hidden)?

I personally would like not to have to hide the flag button on the `...` menu to see the flag on the mini-bar

[2022-04-03 15:44] david-allison commented on #10691
It was, but I'd be open to changing that in a new issue.

This is a bug that's introduced somewhere in 2.16

[2022-04-03 16:39] #10687 closed

[2022-04-03 16:40] mikehardy commented on #10687
working towards a release today - just merged the fix for this one and will release after I merge any other PRs that look ready to go

[2022-04-03 16:45] david-allison commented on #10691
Bug was introduced between a11896c20dcd8af20f31a203711d591e1f1129d4 and 411dd9c1ba8fbba6d7313dbf326033a524c851cd

(alpha 25 and 27)

[2022-04-03 17:59] szalejot opened #10694 "[Bug] Filtered deck doesn't mix learning with reviews"
###### Reproduction Steps

1. Create a filtered deck
2. Use search criteria: deck:"MyDeck" is:due
3. cards selected by: Random

###### Expected Result

When in the review of this filtered deck random mix of learning and review cards should appear.
Learning cards have intervals of 1 day.
This is how this deck behaves on the Anki desktop - V3 scheduler.

###### Actual Result

When in the review of t

[2022-04-03 18:32] BrayanDSO commented on #10694
We currently only support up to `V2` scheduler. It will be probably quite some time until we support V3.

[2022-04-03 18:44] theHamsta opened #10695 "Natural Sorting for DeckList"
**Is your feature request related to a problem? Please describe.**
I have a lot of decks numbered by lesson name in my deck list (`DeckPicker.java`). I would like them sorted using natural sort order https://en.wikipedia.org/wiki/Natural_sort_order instead of no sorting or alphabetical sorting. It would be nice if there were an option to enable this.

I understand the `dueList` is sorted in the or

[2022-04-03 19:01] szalejot commented on #10694
@BrayanDSO  But if there are learning with a 1 day steps, shouldn't this combination also work on V2?

[2022-04-03 19:15] BrayanDSO commented on #10691
I expect 66300a61a4c91227423308b6492964a7403dd7eb to be the first bad commit (gradle is taking ages to download/build, so I'll just guess)

Amusing facts:

1. It works at the first run after opening the app, but not after

https://user-images.githubusercontent.com/69634269/161443877-f230e948-b9b3-4c48-8229-f20f9cb91716.mp4

2. The bug appear to be on findMenuItem. Sometimes the mMenu is null

http

[2022-04-03 20:41] Kshitij09 commented on #10691
@BrayanDSO will you be fixing this one? I'm new to this repo and I feel this could be a good exercise for me to try solving the same. Let me know if you've already made some progress and is there any way we could collaborate.

[2022-04-03 20:47] BrayanDSO commented on #10691
I've only assessed it on the [above comment](https://github.com/ankidroid/Anki-Android/issues/10691#issuecomment-1086930855). I will not have the time for it right now.

So, you can go for it. I hope you will manage it and welcome to AnkiDroid!

[2022-04-03 20:58] Kshitij09 commented on #10663
@krmanik I would like to work on this one! One thing I am confused about is when I download any deck from Shared Decks, it's downloaded in the public 'Download' Directory and not `Android/data/com.ichi2.anki/files/Download`. From where exactly do you suggest clearing the deck?

Also, doubt on similar lines, when you uninstall and re-install the AnkiDroid, all the decks downloaded previously are re

[2022-04-03 21:01] Kshitij09 commented on #10691
Sure @BrayanDSO, thanks!

Also, I can confirm this behavior as I was trying to reproduce the issue. I will look into it 🧐

[2022-04-03 21:07] BrayanDSO opened #10697 "[Bug] Undo button flashes on a different color after opening menu"
###### Reproduction Steps

0. Have undo on the app bar (I haven't tested with other buttons)
1. Go review a card
2. Tap the menu button

https://user-images.githubusercontent.com/69634269/161448674-7793971f-d74f-476c-a789-b5b439500889.mp4

###### Expected Result

Undo button color is consistent

###### Actual Result

Undo button color changes

###### Debug info
[code]

###### Research
*Enter an [x

[2022-04-03 21:07] BrayanDSO commented on #10697
Happens on all 4 themes

[2022-04-03 21:09] BrayanDSO commented on #10697
In the same `app bar icons color` theme, I believe `Reschedule` icon should be the same color of the others

![2022_04_03-18_07_26](https://user-images.githubusercontent.com/69634269/161448768-498b7173-fe84-400d-972e-14a325dd787f.png)

[2022-04-03 21:41] david-allison opened #10698 "SelectableDeck: Don't Keep Activities Crash"
@david-allison

# Don't keep activities OFF

It works fine

https://user-images.githubusercontent.com/69634269/161433983-e12c7c12-33f8-4dab-bb9f-b2070c337531.mp4

# Don't keep activities ON (2.16alpha54, without any of the PR changes)

It crashes **even in a fresh install of 2.16alpha54**, without any of the PR changes. With the PR changes, it's the same error

https://user-images.githubuserconten

[2022-04-03 22:05] #10688 closed

[2022-04-03 22:20] mikehardy commented on #10663
@krmanik / @Kshitij09 are you testing with the result of this PR that internalized shared deck downloading? (https://github.com/ankidroid/Anki-Android/commit/ab4a40536ab066da2492d72cfca34b2c5f1875b0)

I just want to make sure,  because that one should be downloading to our app-scoped external downloads dir I think? But I haven't checked. We should know - and be the owner of - the actual file thoug

[2022-04-03 22:24] #10698 closed

[2022-04-03 23:12] winstoncooke commented on #10683
@mikehardy I've run into a wall, so perhaps your familiarity with the codebase can help.

In the AbstractFlashcardViewer class, which is inherited by Reviewer.kt, the following methods are called:

[code]

Now I would assume that the supportInvalidateOptionsMenu() would be invoked each time the device rotates and then [refresh the menu bar](https://developer.android.com/guide/topics/ui/menus#Chang

[2022-04-03 23:28] mikehardy commented on #10683
Hmm - in AndroidManifest you make an entry for each activity advising what config changes they respond to, perhaps it is missing (I'd be surprised, but that is the start of the call chain for rotation events)
After that...I'm not sure sorry :sweat_smile:

[2022-04-03 23:49] UvrajSB commented on #10634
@shubham419 if you are not working on it then can I do it please?

[2022-04-04 00:04] UvrajSB opened #10700 "[Bug] App crashes when clicked when clicked on "Deck Options""
###### Reproduction Steps

1. Long press over any deck
2. A dialog box will open up, in that select "Deck Options"

###### Expected Result
Deck options activity should open up

###### Actual Result
App crashes

https://user-images.githubusercontent.com/73571511/161454907-434cce7e-68e2-43cd-9e4a-c20499bd3f8e.mp4

###### Debug info
AnkiDroid Version = 2.16alpha54

Android Version = 11

Manufacturer

[2022-04-04 00:07] n1snt commented on #10641
Can I try to implement this feature?

[2022-04-04 00:11] #10700 closed

[2022-04-04 00:23] UvrajSB commented on #10634
Yeah this change actually removed the double ripple effect

[2022-04-04 00:30] UvrajSB commented on #10634
@shubham419 if You are not working on this issue then can I please take it?

[2022-04-04 00:51] david-allison commented on #10641
Sure

[2022-04-04 04:00] winstoncooke commented on #10683
All is well in the manifest. The menu bar noticeably shrinks and reduces the font size to fit all the extra items in there. However, I'm stumped, and this is such a minuscule issue. Gonna have to put it on hold. Hopefully it's a bug in Android itself!

I can close the issue if you'd like.

[2022-04-04 04:32] krmanik commented on #10663
For me it is downloaded in `Android/data/com.ichi2.anki/files/Download` directory. @Kshitij09 Which version you are using?
I have latest alpha version. I can confirm that app has this commit (https://github.com/ankidroid/Anki-Android/commit/ab4a40536ab066da2492d72cfca34b2c5f1875b0).

In this function, the file opened but there is no clean up when imported successfully.
https://github.com/ankidroid

[2022-04-04 09:28] shubham419 commented on #10634
hi @UvrajSB, now I am working on it.
if I can't solve it I will let you know.

[2022-04-04 09:39] shubham419 commented on #10634
hi @UvrajSB  I have solved issue.

[2022-04-04 10:41] shubham419 commented on #10697
hi I would like to work on  the issue

[2022-04-04 11:12] snowtimeglass opened #10703 "[Bug] The color of "Reschedule" icon on "︙" menu isn't same as one of other icons, but always white"
Thank you always, developers.

###### Reproduction Steps

1. `Settings` -> `Reviewing` -> `App bar buttons` -> `Reschedule` -> `Menu only`
2. Open Study screen

3. Tap `︙` button on the upper right of the screen

###### Expected Result

- `Reschedule` icon is visible
- The color of `Reschedule` icon is same as one of the other icons

###### Actual Result

![image](https://user-images.githubusercon

[2022-04-04 11:32] BrayanDSO commented on #10703
Thanks for creating the issue 👍🏻

[2022-04-04 11:58] snowtimeglass commented on #10703
@BrayanDSO thanks, too. I always use AnkiDroid on `Light` theme, so I was about to write a bug report which claims "Reschedule icon doesn't exist". I was surprised when I see the icon on `Black` theme screenshot you posted in the third.

[2022-04-04 12:14] snowtimeglass commented on #10703
Ah, majority is not always right. Perhaps, on `Black` and `Dark` theme, the color of `Reschedule` icon is right because it is same as one of  App bar icons. On these themes, the color of other icons on `︙` menu might have to be corrected to white.

![image](https://user-images.githubusercontent.com/10436072/161539563-c083c874-9f9c-4eb6-b0bf-5646cea49b2e.png)

[2022-04-04 12:15] Yugal41735 commented on #10489
Can anyone tell me what exactly I have to do in this issue?

[2022-04-04 12:16] mikehardy commented on #10683
Nah, if it's really an issue good to stay open in case others want to take a crack at it, at least until the stale bot reaps it

[2022-04-04 12:43] kilitr commented on #10489
Search the entire codebase for `@KotlinCleanup("Description")` annotations... read and understand the description and resolve whatever issue was pointed out in the Description.

One basic example that you'll come across very often is remove nullability from a certain Field.

[2022-04-04 13:07] Yugal41735 commented on #10489
![image](https://user-images.githubusercontent.com/74638775/161550232-eeb26bc7-82ae-49e9-8cd0-922dfb317f5b.png)

So for example: in the above codebase what exactly I have to do?

[2022-04-04 13:09] snowtimeglass commented on #10687
Thanks for the prompt fix!

[2022-04-04 14:15] nzarbayezid commented on #5304
for god's sake why is nobody fixing it, the app is unusable if you have over 100MB data cuz of the slow download problem

[2022-04-04 14:27] Prince-kushwaha commented on #10703
@krmanik can i work on this issue

[2022-04-04 15:46] lukstbit opened #10704 "Kotlin migration for FilterResultsUtils.java"
I was trying to migrate `FilterResultsUtils.java` and I found out that we can't make the transition according to the [kotlin migration guide](https://github.com/ankidroid/Anki-Android/blob/main/docs/kotlin-migration.md). Two issues:

1. While java allows returning a protected class kotlin doesn't allow this so there isn't a way to convert the current `FilterResultsUtils` to kotlin(the build fails

[2022-04-04 16:39] Yugal41735 commented on #10489
anyone could explain what exactly I have to do in the above codebase?

[2022-04-04 16:58] Kshitij09 commented on #10691
After a day, and going through all the [changes from alpha 25 to 27](https://github.com/ankidroid/Anki-Android/compare/v2.16alpha25..v2.16alpha27), I came down to the same conclusion,

 I tried adding log statements in this function by checking out `release-2.15` as well as the `main` branch. `mMenu` was never `null` on branch `release-2.15` but it intermittently appears null on the current main.

[2022-04-04 17:07] david-allison commented on #10704
Absolutely - sounds good to me.

[2022-04-04 17:07] Kshitij09 commented on #10663
@krmanik my bad, maybe I was not using the latest alpha. I can confirm the same behavior you mentioned. Files are getting downloaded to `Android/data/com.ichi2.anki/files/Download` directory and the app was able to load all the downloaded apkg files with re-installation. Let me know what change should be made.

cc: @mikehardy

[2022-04-04 22:06] nzarbayezid commented on #5304
@mikehardy  I'm sorry I was kinda harsh cuz English is not my native language, and I still don't get it is said that this bug is reported on May 11, 2019, why is it not been fixed? should we wait much longer? cuz my Anki data is 3 gigabytes and I have to be honest it takes a whole day if not two just to sync it with my mobile, it's not usable man

[2022-04-04 22:32] mikehardy commented on #5304
I was looking for the pull requests from you where you fixed it or helped fix it. Couldn't find them that's your answer

[2022-04-04 23:21] BrayanDSO opened #10706 "[Feature request] Option to disable auto sync with metered connections"
**Is your feature request related to a problem? Please describe.**
I have auto sync enabled, but I don't want to spend my mobile data with automatic syncs. Mobile data prices can be quite a concern in some countries

**Describe the solution you'd like**
An option to only do auto sync on not metered connections
Extra: a dialog asking if user want to proceed on manual syncs on metered connections

*

[2022-04-05 00:14] mikehardy commented on #10706
It's more than just wifi or not, it's "connection is metered" as in the JsAPI thing you link - I'd say just make that generic (put it in a util somewhere?), have the JsAPI reference the new util method (of course), then all the decisions are how to handle the UX

Thoughts:
- have a toggle in settings where ever the sync config is, to toggle *on* sync over metered connections and default it to off

[2022-04-05 00:19] nzarbayezid commented on #5304
if I was a developer I would definitely do that but I'm not a developer, could you please tell me which one of the old version does not have this bug I want to download them

[2022-04-05 01:06] david-allison commented on #10706
I like the idea (my data is $0.17/MB if the contract runs out) - we probably want more 'sub-preference' screens, and I'd like to see 'sync' or 'auto-sync' become one of them

100%, off as a default

Snackbar, toasts can't have options - very similar to the 'you're offline'

Could we shelve this for now? Once scoped storage is off the agenda, moving 'sync' to libAnki is going to be a project - a lo

[2022-04-05 02:39] mikehardy commented on #5304
@nzarbayezid none do. It's a policy change by google, and their enforcement of it creates a performance penalty for apps that have no updated to new storage access styles yet. There is a workaround as mentioned in the issue you opened, already linked for you https://github.com/ankidroid/Anki-Android/issues/8925#issuecomment-976337268 - how did it go when you tried it?

[2022-04-05 02:41] mikehardy commented on #10706
agreed all points on that as refinements on my thinking-out-loud, except I do not agree for your sake with 17c/MB data ouch!!

[2022-04-05 05:08] Arthur-Milchior opened #10708 "Widget with reviewer on home screen"
This is a feature I'd like very much. Having a widget that shows the reviewer directly in the main screen.
That means that, instead of having to open ankidroid and select a deck, when I open the phone, I'd see on my screen a question, and a button to show the answer. That would also means that reviewing requires less motivation, since you directly see a question.

If we are lucky, the reviewer can

[2022-04-05 07:30] krmanik commented on #10663
It needs to remove the deck when decks imported successfully. I have linked the code snippets in previous comments. It start the activity to import using Intent so may be the `IntentHandler` needs modify and check when the Intent Actitvity started from
`SharedDecksDownloadFragment.kt`, then remove the deck on finishing import.

_Implementation idea may be different_

[2022-04-05 08:17] Kshitij09 commented on #10663
Alright, will try to come up with a draft PR with this change. Could you assign this issue to me?

[2022-04-05 09:48] krmanik commented on #10663
Sure!

[2022-04-05 12:05] BrayanDSO commented on #10691
The approach I would try is:
1. Identify the first bad commit, either manually or with `git bisect` (as I said before, I expect it to be 66300a61a4c91227423308b6492964a7403dd7eb)
2. See what changed there and try to isolate the part which created the bug
3. Make a regression test

The fact that the first Reviewer opening always work may give a clue. I think your thought about `refreshActionBar` ma

[2022-04-05 12:32] PanderMusubi commented on #10641
Would importing all decks for a given directory also be a feature request (here or in another issue)?

Would be an extra menu item called `Import directory...`

[2022-04-05 13:44] Ghanem21 commented on #10703
@ShridharGoel
@krmanik
Hi sir can I work on this issue,I will make it's color as the same of other

[2022-04-05 14:06] krmanik commented on #10703
@Ghanem21 You do not need to address anyone as sir here.

Sure! Go for it.

[2022-04-05 14:07] krmanik commented on #10410
Let this issue reopened till it is not fixed.
Currently focusing on labeling. Next PR will be related to milestone.

[2022-04-05 14:16] mikehardy commented on #10410
@krmanik success! https://github.com/ankidroid/Anki-Android/pull/10707 / https://github.com/ankidroid/Anki-Android/runs/5835147220?check_suite_focus=true

[2022-04-05 14:18] #10626 closed

[2022-04-05 14:20] krmanik commented on #10410
It is working.
Next is milestone.

[2022-04-05 14:45] Prince-kushwaha commented on #10703
Ok

[2022-04-05 14:48] Ghanem21 commented on #10703
@krmanik
I'm new in open source and I'm here for Gsoc
Can you give me a Free issues to work on it please

[2022-04-05 14:50] Prince-kushwaha commented on #10703
@Ghanem21 good first issue  https://github.com/ankidroid/Anki-Android/labels/Good%20First%20Issue%21
and open issue https://github.com/ankidroid/Anki-Android/issues

[2022-04-05 14:57] krmanik commented on #10703
@Ghanem21
The https://github.com/ankidroid/Anki-Android/labels/Good%20First%20Issue%21 is good for get started to contributing to AnkiDroid. Also you can check other [issues](https://github.com/ankidroid/Anki-Android/issues) if you feel confident to implement.

[2022-04-05 15:30] #10634 closed

[2022-04-05 15:41] david-allison commented on #10708
I don't believe WebViews are supported by Widgets

https://developer.android.com/guide/topics/appwidgets/index.html#layout

https://developer.android.com/reference/android/widget/RemoteViews

[2022-04-05 15:48] krmanik commented on #10410
The scripts to remove labels does not worked on the #10702.
It is difficult to figure out. Still debugging.

[2022-04-05 15:49] mikehardy commented on #10410
@krmanik looks like @david-allison manually removed the tag and just beat the bot to it ?

[2022-04-05 16:06] mikehardy commented on #10410
Okay - here's what I just saw:
![image](https://user-images.githubusercontent.com/782704/161797203-f7e14d24-b071-41d4-8481-b5d16fa49e1b.png)

on #10712 - it was a little weird but I don't think there is an actionable problem, I think we can rely on label removal - I merged it and waited+watched and saw what I pasted as a screen region just above

But the labels list on the PR page still had "Needs

[2022-04-05 16:07] david-allison opened #10713 "[Dev] Add IntelliJ dictionaries to reduce 'typo' warnings"
This is for discussion, not yet for implementation.

IntelliJ allows for project-level dictionaries, to remove the 'typo' warnings in code.

IntelliJ is apparently set up so each user has their own dictionary of 'valid' words. This individual dictionary exists to avoid merge conflicts, but the IDE uses all combined dictionaries when flagging typos.

https://stackoverflow.com/a/28151692

After a bi

[2022-04-05 16:17] krmanik commented on #10410
I have checked it and that's is GitHub web UI issues. The bot removed the labels but UI not updated, it needs to reopen the tab.

[2022-04-05 16:36] lukstbit commented on #10684
This happens because in [`DeckSpinnerSelection.displayDeckSelectionDialog()`](https://github.com/ankidroid/Anki-Android/blob/9e344fd9453b76e4deb4378f8ae2c5b5a8c3ef37/AnkiDroid/src/main/java/com/ichi2/anki/DeckSpinnerSelection.kt#L228) we declare a non dynamic filter for the list of decks displayed and a filtered deck is dynamic so it is removed. I don't have sufficient domain knowledge to know if

[2022-04-05 16:47] Kshitij09 commented on #10691
@BrayanDSO Interesting! This was indeed useful. One more thing I find a bit challenging here is coming up with a Regression Test that fails on the `main` while succeeds on some previous commit, as I don't think manually running the app to test this scenario on every commit git bisect offers is a good idea.

Could you point me to a Regression Test that I could take inspiration from?

[2022-04-05 17:24] david-allison opened #10715 "Fix `Filter` usage"
I'll deal with it today - embarrassing that a lot of that was my copy/pasted code

_Originally posted by @david-allison in https://github.com/ankidroid/Anki-Android/issues/10712#issuecomment-1088958885_

[2022-04-05 17:36] mikehardy commented on #10708
Guess we'll just have to open the app ;-)

[2022-04-05 17:38] mikehardy commented on #10713
Seems fine, I dislike the little green squiggles myself, and it if is no good we can always take it out later.
Similar to the project settings being committed it was sort of experimental to start - "it seems like it could help, let's try it..." and in practice it works okay. This could be same

[2022-04-05 17:42] mikehardy commented on #10691
https://github.com/ankidroid/Anki-Android/issues/6176
https://github.com/ankidroid/Anki-Android/issues/6149

not sure if this will help or not, but all I could think of were the crashes that David bisected a while back, where he posted the bisect test case on the issue

[2022-04-05 17:49] Kshitij09 commented on #10691
I found the cause! 🥳
https://github.com/ankidroid/Anki-Android/blob/6b17f60821b580d5500a139cdecb70f9de407bd6/AnkiDroid/src/main/java/com/ichi2/anki/Reviewer.kt#L1001

We're calling `onFlagChanged()` and `onMarkChanged()` in `Reviewer::fillFlashCard`. While am not sure why we call these methods here, I am quite certain that commenting out these lines doesn't display the flag inconsistently.

[2022-04-05 18:47] Ghanem21 commented on #8741
Hi can I work on this issue as I'm new and want to be accepted in Gsoc,
what i have understood that there is some PNGs I have to make them SVGs
and then replace them from drawable file

Am I right?

[2022-04-05 18:57] mikehardy commented on #8741
@Ghanem21 :wave: - I had to learn about 9-patch files just now in order to even answer your question - these are worth a read:
https://stackoverflow.com/questions/17124719/creating-using-9-patch-images-in-android
https://tekeye.uk/android/examples/ui/android-9-patch-image-files

The short answer to this:

Is this from the description:

In other words, I don't know. It appears that webp could *mayb

[2022-04-05 19:33] Ghanem21 commented on #8741
okay, then you want me to try change it to 9-Patch or webp depend on it's support 9-patch or not
am I right?

[2022-04-05 20:38] mikehardy commented on #8741
That's not what I said, I believe my comment - after re-reading it - is the full description of the task.

[2022-04-05 21:17] Ghanem21 commented on #8741
I don't know if webp is supported down to api21 on all devices in all the places , I think we can make it patch-9 and let non Patch-9 as png or try to make it from scratch as svg

@mikehardy

I try to make this patch-9 on `ankidroid_txt` and this is screen in android studio

![Screenshot 2022-04-05 231543](https://user-images.githubusercontent.com/91301369/161850531-9c90f1a9-1b82-49f6-b758-80fee77

[2022-04-05 22:00] mikehardy commented on #8741
Documentation seems to indicate it's supported fine: https://developer.android.com/studio/write/convert-webp

[2022-04-05 22:02] mikehardy commented on #8741
I am most interested in an inventory of the 3 patch-9 images that checks to see whether they *actually* need to be patch-9 (with it's strech/non-stretch area feature) or not.

[2022-04-05 22:11] #10713 closed

[2022-04-05 22:17] #10674 closed

[2022-04-05 22:17] #10681 closed

[2022-04-05 22:25] nzarbayezid commented on #5304
I tried it and it worked like a charm, but the problem is I would like to keep my Anki data on the SD Card like most of the other apps that I use, do you think the team will be able to fix it in this month?

[2022-04-05 22:31] mikehardy commented on #5304
Glad that worked for you. Open Source means there are no real employees so there are no enforceable deadlines. To give one out is to learn disappointment. I'm not sure when the work will be complete, I can only say that it is one of our highest priorities and it is in active development.

[2022-04-05 22:39] mikehardy commented on #9097
Looks like current idea is to use the built-in ACRA parameters for free mem / total mem, and to investigate if there is any method for external storage as well (if not, might be best to post a PR to ACRA, as mentioned - it's a great library to work on, if you propose a sensible PR it will be merged...)

[2022-04-06 00:32] #10708 closed

[2022-04-06 01:10] Ghanem21 commented on #8741
I tried to make it with widgit_small_small and that what I get
is that what are you expected?

![Screenshot 2022-04-06 030705](https://user-images.githubusercontent.com/91301369/161875733-f10ad8a5-fb2a-4dfc-8ae4-5bfc712b3102.png)

[2022-04-06 01:17] Ghanem21 commented on #8741
also I try to convert patch-9 to webp but it is not supported if there is simple png copy we can make it webp easily

[2022-04-06 02:16] briancatraguna commented on #10683
@winstoncooke Can I work on this issue?

[2022-04-06 02:58] winstoncooke commented on #10683
Please do! My last findings were perhaps it's because there is no onPrepareOptionsMenu() method for Reviewer.kt, which would be invoked on invalidateOptionsMenu(). Perhaps that helps.

[2022-04-06 05:59] Arthur-Milchior commented on #6772
Does this image comes from an implementation you actually did? I don't see link to any related code in this thread.

[2022-04-06 06:19] Stonehomecai commented on #5412
Hello Towelsniffer,
I am wondering if you have finally solve your problem?
That is font display normally in Anki windows platform but not on ankidroid.

I have same issue and google out this history link.

[2022-04-06 06:43] Stonehomecai opened #10725 "font not display normally on ankidroid"
**Is your feature request related to a problem? Please describe.**
have a deck can display font normally on desktop and ankidroid but when I change to other content, desktop display normal but ankidroid not.

**Describe the solution you'd like**
Hope that both terminals can display normally.

**Describe alternatives you've considered**
Same as above

**Additional context**
this deck is the one dis

[2022-04-06 11:48] snowtimeglass opened #10728 "[Suggestion] Rename "Reviews" on App shortcuts menu more comprehensible name"
Thank you always, developers.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- The item named `Reviews` on App shortcuts menu reopens Study screen of the last opened deck. Its name seems ambiguous and confusing to understand its feature. For one thing, this word, "Review(s)", has mult